@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap");
/* Colors */
/* Border radius */
/* ==========================================================================
  Browser support
  ========================================================================== */
/* $baseFontFamily: Arial, sans-serif; */
button {
  border: 1px solid #dfe0e8;
  outline: none !important;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

._wrapper {
  max-width: 1140px !important;
  padding: 0px 15px 0px 15px;
  margin: auto;
}

.inner_wrapp {
  padding: 70px 0;
  width: 100%;
  float: left;
}

.homelogo {
  width: 228px;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  top: 4px;
}

.homelogo img {
  width: 228px;
  height: 118px;
}

.hm-pg-header-left {
  width: auto;
  float: left;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  ms-flex: 1;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.hm-pg-header-left .header-logo-image {
  display: inline-block;
  float: left;
  width: 120px;
  height: auto;
  margin-right: 80px;
  margin-top: 5px;
}

.hm-pg-header-left .header-logo-image .fill_logo {
  width: 100%;
  float: left;
}

.hm-pg-header-left .header-interest-dropdown {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  position: relative;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  float: right;
  padding-right: 160px;
}

.hm-pg-header-left .header-interest-dropdown .down_arrow {
  margin-left: 8px;
  width: 12px;
  margin-top: 8px;
}

.hm-pg-header-left .header-interest-dropdown .down_arrow img {
  width: 100%;
}

.hm-pg-header-left .header-interest-dropdown:hover .down_arrow img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.centeralignment {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 15px;
}

._header.scrollheight {
  height: 45px !important;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

._header.scrollheight .homelogo {
  width: 150px !important;
  height: 70px !important;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

._header.scrollheight .homelogo img {
  width: 100% !important;
  height: 100% !important;
}

._header.scrollheight ._button_wraqpper_right button {
  margin-top: 3px;
  height: 34px;
}

._header {
  float: left;
  width: 100%;
  height: 70px;
  -webkit-box-shadow: 0px 4px 9px 0 rgba(44, 46, 47, 0.17);
          box-shadow: 0px 4px 9px 0 rgba(44, 46, 47, 0.17);
  background-color: #ffffff;
  position: fixed;
  z-index: 40;
  top: 0px;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

._header #headerwidth {
  width: 100%;
  float: left;
  height: 100%;
}

._header ._button_wraqpper_right {
  float: right;
  /* width: 175px; */
  width: 100%;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  ms-flex: 1;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

._header ._button_wraqpper_right .list_nav {
  margin: 0px;
  padding-left: 130px;
  outline: none;
  list-style-type: none;
  display: inline-block;
  float: left;
  min-width: 300px;
}

._header ._button_wraqpper_right .list_nav li {
  display: inline-block;
  float: left;
  padding: 10px 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #000000;
  cursor: pointer;
}

._header ._button_wraqpper_right button {
  float: right;
  width: 100px;
  height: 42px;
  border-radius: 38px;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #f05050;
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 600;
  /* font-stretch: normal; */
  /* font-style: normal; */
  line-height: 1.87;
  /* letter-spacing: normal; */
  /* text-align: center; */
  color: #000000;
  float: right;
}

._header ._button_wraqpper_right button img {
  width: 12px;
  height: 13px;
  margin-right: 10px;
  margin-top: -2px;
}

.header_top_banner {
  width: 100%;
  float: left;
  margin-top: 56px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header_top_banner .inner_banner_container {
  width: 100%;
  float: left;
  padding-bottom: 189px;
  margin-left: -150px;
  margin-right: -150px;
  background-repeat: no-repeat;
  background-position: center -39px;
  background-size: 125% 100%;
}

.header_top_banner .inner_banner_container .image_scholarship {
  max-width: 640px;
  margin: 32px auto 32px auto;
}

.header_top_banner .inner_banner_container .image_scholarship img {
  width: 100%;
}

.header_top_banner .inner_banner_container .image_scholarship .banner_content {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

.header_top_banner .background_scholarship {
  background-image: url("/assets/images/scholarship/scholarshipBg.png");
}

.header_top_banner .background_nat {
  background-image: url("/assets/images/scholarship/natBgimg.png");
}

.header_top_banner .background_ntt {
  background-image: url("/assets/images/scholarship/nttBgimg.png");
}

.header_top_banner .hanging_btn {
  width: 286px;
  margin: auto;
}

.header_top_banner .hanging_btn .inactive_case {
  -webkit-box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.25);
  opacity: 0.5;
}

.header_top_banner .hanging_btn .start_test_now {
  position: relative;
}

.header_top_banner .hanging_btn .start_test_now .btn_content {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header_top_banner .hanging_btn .start_test_now:hover .btn_content {
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-right: 30px;
}

.header_top_banner .hanging_btn .start_test_now:hover .btn_content .start_test {
  display: inline-block;
}

.header_top_banner .hanging_btn button {
  width: 272px;
  height: 66px;
  border-radius: 36px;
  -webkit-box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border: none;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.header_top_banner .hanging_btn button .btn_content {
  font-size: 18px;
  font-size: 18px;
  font-weight: bold;
  color: #f05050;
  display: block;
  z-index: 3;
  position: relative;
}

.header_top_banner .hanging_btn button .btn_content .btn_img {
  width: 24px;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 0px;
}

.header_top_banner .hanging_btn button .btn_content .btn_img img {
  width: 100%;
  margin-top: -6px;
}

.header_top_banner .hanging_btn button .btn_content .successmsg {
  display: inline-block;
  margin-bottom: 2px;
}

.header_top_banner .hanging_btn button .btn_content .successmsg img {
  width: 100%;
  height: 100%;
}

.header_top_banner .hanging_btn button .btn_content .start_test {
  display: inline-block;
  width: 16px;
  height: 16px;
  display: none;
  position: absolute;
  right: 65px;
}

.header_top_banner .hanging_btn button .btn_content .start_test img {
  width: 100%;
  margin-top: -3px;
}

.header_top_banner .hanging_btn button .s_ccess {
  display: block;
  font-size: 16px;
  text-transform: capitalize;
}

.header_top_banner .hanging_btn button .report {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 2;
  color: rgba(0, 0, 0, 0.9);
  display: block;
  text-transform: capitalize;
}

.header_top_banner .hanging_btn button .report_available {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  color: #f05050;
  display: block;
  text-transform: capitalize;
}

.header_top_banner .hanging_btn .enrollment_date {
  opacity: 0.6;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  display: block;
  margin-top: 15px;
}

.count_display {
  width: 290px;
  height: 90px;
  margin: auto;
  padding: 10px 10px 10px 10px;
}

.count_display .count_heading {
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  display: block;
  margin-bottom: 5px;
  font-family: "Montserrat", sans-serif;
}

.count_display .count_heading_dwn {
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  display: block;
  font-family: "Montserrat", sans-serif;
}

.count_display .count_number {
  width: 100%;
  float: left;
}

.count_display .count_number .count__no {
  width: 62px;
  height: 70px;
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 6px 0 var(--black-16);
          box-shadow: 0 3px 6px 0 var(--black-16);
  background-color: #ffffff;
  margin-right: 7px;
  float: left;
  padding: 15px;
}

.count_display .count_number .count__no .up_cnt {
  font-size: 23px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  color: #000000;
  display: block;
  font-family: "Montserrat", sans-serif;
}

.count_display .count_number .count__no .down_hdng {
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  color: #e84747;
  display: block;
  font-family: "Montserrat", sans-serif;
}

.heading_bold {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: #000000;
  margin-bottom: 15px;
  font-family: "Montserrat", sans-serif;
}

.heading_content {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  text-align: center;
  color: rgba(0, 0, 0, 0.9);
  font-family: "Montserrat", sans-serif;
}

.classes_syllabus {
  width: 100%;
  float: left;
}

.classes_syllabus .class_cards {
  width: 100%;
  float: left;
  margin-top: 35px;
}

.classes_syllabus .class_cards .inner_cardss {
  width: 33.33%;
  float: left;
  background-color: #ffffff;
  padding: 0 25px 0 0;
  margin-bottom: 25px;
}

.classes_syllabus .class_cards .inner_cardss .card_inner_size {
  width: 100%;
  float: left;
}

.classes_syllabus .class_cards .inner_cardss .card_inner_size .card_head {
  width: 100%;
  padding: 15px 0px 15px 77px;
  position: relative;
}

.classes_syllabus .class_cards .inner_cardss .card_inner_size .card_head span.class_image {
  width: 62px;
  height: 64px;
  position: absolute;
  left: 0px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.classes_syllabus .class_cards .inner_cardss .card_inner_size .card_head span.class_image img {
  width: 100%;
  height: 100%;
}

.classes_syllabus .class_cards .inner_cardss .card_inner_size .card_head span.headinggOne {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  color: rgba(0, 0, 0, 0.9);
  line-height: 24px;
  display: block;
}

.classes_syllabus .class_cards .inner_cardss .card_inner_size .card_head span.headinggtwo {
  font-family: Roboto;
  font-size: 16px;
  text-align: left;
  color: rgba(0, 0, 0, 0.7);
  display: block;
  line-height: 1.25;
  margin-top: 5px;
}

.classes_syllabus .class_cards .inner_cardss .card_inner_size .card_body {
  width: 100%;
  float: left;
  overflow: hidden;
}

.classes_syllabus .class_cards .inner_cardss .card_inner_size .points_heading {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  color: #f05050;
  padding-top: 54px;
  border-top: 1px solid #dad5d5;
  font-family: "Montserrat", sans-serif;
}

.classes_syllabus .class_cards .inner_cardss .card_inner_size ul {
  display: block;
  padding-left: 17px;
  margin-top: 10px;
  padding-bottom: 25px;
}

.classes_syllabus .class_cards .inner_cardss .card_inner_size ul li {
  display: block;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  color: #000000;
}

.classes_syllabus .class_cards .inner_cardss .card_inner_size ul li::before {
  content: "\2022";
  color: #F05050;
  font-weight: bold;
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-left: -1em;
  font-size: 17px;
  margin-right: 10px;
}

.Explore_wrapper {
  width: 100%;
  margin-top: 50px;
  padding: 0 30px;
  float: left;
}

.Explore__ {
  border-radius: 58px;
  border: solid 1px #f05050;
  background-color: rgba(240, 80, 80, 0.05);
  position: relative;
  padding: 15px;
  width: 100%;
  float: left;
}

.Explore__ .explore_left {
  width: 19%;
  float: left;
  height: 24px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 25px;
}

.Explore__ .explore_left span {
  display: block;
}

.Explore__ .thumb__explore {
  width: 27%;
  float: left;
  padding-left: 15px;
}

.Explore__ .thumb__explore .card_head {
  width: 100%;
  padding: 15px 15px 15px 95px;
  position: relative;
  height: 80px;
  border-radius: 39px;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.Explore__ .thumb__explore .card_head:hover {
  background: #f05050;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.Explore__ .thumb__explore .card_head:hover .headinggOne, .Explore__ .thumb__explore .card_head:hover .headinggtwo {
  color: #ffffff;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.Explore__ .thumb__explore .card_head span.class_image {
  width: 58px;
  height: 60px;
  position: absolute;
  left: 25px;
  top: 2px;
}

.Explore__ .thumb__explore .card_head span.class_image img {
  width: 100%;
  height: 100%;
}

.Explore__ .thumb__explore .card_head span.headinggOne {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  font-family: "Montserrat", sans-serif;
}

.Explore__ .thumb__explore .card_head span.headinggtwo {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.7);
  display: block;
  font-family: 'Roboto', sans-serif;
}

.course_to_help {
  padding-bottom: 160px;
}

.course_to_help .sc_card_wrapp {
  width: 100%;
  float: left;
  margin-top: 35px;
}

.course_to_help .sc_card_wrapp .sc_card_upper {
  width: 100%;
  padding-left: 15px;
  float: left;
  margin-bottom: 10px;
}

.course_to_help .sc_card_wrapp .sc_cards {
  width: 100%;
  float: left;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
}

.course_to_help .sc_card_wrapp .sc_cards .sc_banner {
  width: 100%;
  height: 176px;
  position: relative;
  border-radius: 5px 5px 0 0;
  position: relative;
}

.course_to_help .sc_card_wrapp .sc_cards .sc_banner img {
  float: left;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #e9e9e9;
  width: 100%;
  height: 100%;
}

.course_to_help .sc_card_wrapp .sc_cards .sc_banner span {
  position: absolute;
  bottom: -32px;
  width: 64px;
  height: 64px;
  -webkit-box-shadow: 0 0 4px 0 var(--black-16);
          box-shadow: 0 0 4px 0 var(--black-16);
  left: 15px;
  border-radius: 50%;
  overflow: hidden;
}

.course_to_help .sc_card_wrapp .sc_cards .sc_banner span img {
  width: 100%;
  height: 100%;
}

.course_to_help .sc_card_wrapp .sc_cards .sc_content_wrap {
  padding: 45px 20px 20px;
}

.course_to_help .sc_card_wrapp .sc_cards .sc_content_wrap p {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.33;
  text-align: left;
  color: #000000;
}

.course_to_help .sc_card_wrapp .sc_cards .sc_content_wrap span {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.25;
  color: #000000;
  margin-top: 10px;
  display: inline-block;
}

.benefit_scholarshipBg, .benefit_natBg {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f05050), to(#bc0d0d));
  background-image: linear-gradient(to bottom, #f05050, #bc0d0d);
}

.benefit_nttBg {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#cc2d36), to(#a8001d));
  background-image: linear-gradient(to bottom, #cc2d36, #a8001d);
}

.benefit_scholarship {
  float: left;
  width: 100%;
  padding: 70px 50px;
  border-radius: 20px;
  -webkit-box-shadow: 0 6px 20px 0 var(--black-16);
          box-shadow: 0 6px 20px 0 var(--black-16);
}

.benefit_scholarship h2.__heading {
  line-height: 1.26;
  color: #ffffff;
  margin-bottom: 70px;
  font-family: "Montserrat", sans-serif;
}

.benefit_scholarship .left_section {
  width: 45%;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 25px;
}

.benefit_scholarship .left_section img {
  max-width: 400px;
  margin: auto;
}

.benefit_scholarship .right_section {
  width: 55%;
  float: left;
  padding-left: 20px;
}

.benefit_scholarship .right_section p.cnt {
  font-size: 16px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.9);
  margin-top: 20px;
  margin-bottom: 15px;
  font-family: "Montserrat", sans-serif;
}

.benefit_scholarship .right_section .grid_view {
  border-radius: 15px;
  background-color: #ffffff;
  width: 100%;
  float: left;
  margin-top: 15px;
  padding: 20px 20px 20px 70px;
  position: relative;
  line-height: 24px;
}

.benefit_scholarship .right_section .grid_view img {
  width: 27px;
  height: 27px;
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transform: translate(0, -14px);
          transform: translate(0, -14px);
}

.benefit_scholarship .right_section .grid_view p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.9);
}

.benefit_scholarship .benefit_footer {
  width: 100%;
  float: left;
}

.benefit_scholarship .benefit_footer .benefit_left, .benefit_scholarship .benefit_footer .benefit_right {
  width: 50%;
  float: left;
  padding: 40px 40px 0;
  text-align: center;
}

.benefit_scholarship .benefit_footer .benefit_left img, .benefit_scholarship .benefit_footer .benefit_right img {
  height: 60px;
  margin-bottom: 10px;
}

.benefit_scholarship .benefit_footer .benefit_left p, .benefit_scholarship .benefit_footer .benefit_right p {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.33;
  text-align: center;
  color: #ffffff;
}

.leftcardholder, .rightcardholder {
  width: 50%;
  float: left;
}

.share_btn__ {
  width: 264px;
  margin: 35px auto 0;
  float: left;
  -webkit-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
  left: 50%;
  position: relative;
}

.share_btn__ button {
  width: 264px;
  height: 76px;
  border-radius: 38px;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
  color: rgba(0, 0, 0, 0.9);
  border: solid 1px transparent;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  font-family: "Montserrat", sans-serif;
}

.share_btn__ button img {
  width: 25px;
  height: 26px;
  margin-right: 15px;
  margin-top: -4px;
}

.share_btn__ button:hover {
  border: solid 1px #f05050;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.test_highlights .card_main_wrap {
  width: 100%;
  float: left;
  margin-top: 35px;
}

.highlight_card_wrapper {
  width: 100%;
  float: left;
  padding-right: 25px;
  padding-bottom: 25px;
}

.highlight_card_wrapper .active_hover {
  border: solid 2px #f05050 !important;
  background-color: #fffbfb !important;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.highlight_card_wrapper .high_grid_view {
  width: 100%;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.12);
  border: solid 2px transparent;
  background-color: #ffffff;
  float: left;
  padding: 30px;
  border-radius: 18px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.highlight_card_wrapper .high_grid_view .image_top {
  width: 100%;
  float: left;
}

.highlight_card_wrapper .high_grid_view .image_top img {
  width: 77px;
  height: 58px;
}

.highlight_card_wrapper .high_grid_view .three img {
  width: 63px;
  height: 65px;
}

.highlight_card_wrapper .high_grid_view .two img {
  width: 64px;
  height: 54px;
}

.highlight_card_wrapper .high_grid_view .four img {
  width: 58px;
  height: 67px;
}

.highlight_card_wrapper .high_grid_view h2 {
  font-size: 18px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.9);
  margin-top: 25px;
  float: left;
  line-height: 1.44;
  font-family: "Montserrat", sans-serif;
}

.highlight_card_wrapper .high_grid_view p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.9);
  margin-top: 10px;
  float: left;
  line-height: 1.22;
}

.highlight_card_wrapper .view_first {
  height: 274px;
}

.highlight_card_wrapper .view_second {
  height: 216px;
}

.highlight_card_wrapper .view_third {
  height: 206px;
}

.highlight_card_wrapper .view_fourth {
  height: 264px;
}

.inner_accordian::-webkit-scrollbar {
  width: 5px;
}

.inner_accordian::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.inner_accordian::-webkit-scrollbar-thumb {
  background: #2c2e2f20;
}

.inner_accordian::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.asked_question {
  width: 100%;
  float: left;
  background-color: #ffeeee;
  padding-top: 65px;
  padding-bottom: 65px;
  padding: 65px 15px 65px 15px;
}

.asked_question .inner_accordian {
  max-width: 1140px;
  margin: auto;
  max-height: 760px;
  min-height: 250px;
  -webkit-box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 40px;
  overflow-y: auto;
}

.asked_question .inner_accordian .accordion {
  background-color: #fff;
  cursor: pointer;
  padding: 22px 60px 22px 25px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-bottom: 1px solid #2c2e2f20;
  font-size: 16px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.9);
  font-family: "Montserrat", sans-serif;
  position: relative;
}

.asked_question .inner_accordian .accordion:after {
  content: '\002B';
  color: #f05050;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  font-size: 26px;
  position: absolute;
  right: 23px;
  top: 25px;
}

.asked_question .inner_accordian .active:after {
  content: "\2212";
}

.asked_question .inner_accordian .panel {
  padding: 0px 20px;
  background-color: #ffffff;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
  margin: 0;
}

.asked_question .inner_accordian .panel p {
  margin: 15px 0;
}

.asked_question .inner_accordian .panel ul {
  padding: 20px 10px 0;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  font-family: "Montserrat", sans-serif;
}

.asked_question .inner_accordian .panel ul li {
  font-family: "Montserrat", sans-serif;
}

.asked_question .inner_accordian .panel ul > li > ul {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.9);
  font-weight: 400;
  margin-bottom: 15px;
  padding: 0 0 0 20px;
  font-family: "Montserrat", sans-serif;
}

.third__card .high_grid_view {
  padding-top: 18px !important;
}

.third__card .high_grid_view h2 {
  margin-top: 10px !important;
}

.nav__menu {
  display: none;
  padding-top: 5px;
}

.nav__menu .container_nav {
  display: inline-block;
  cursor: pointer;
}

.nav__menu .bar1, .nav__menu .bar2, .nav__menu .bar3 {
  width: 22px;
  height: 3px;
  background-color: #f05050;
  margin: 5px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.nav__menu .change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-4px, 3px);
  transform: rotate(-45deg) translate(-4px, 3px);
}

.nav__menu .change .bar2 {
  opacity: 0;
}

.nav__menu .change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.scholarship_wrap {
  width: 100%;
  float: left;
  background: #ffffff;
}

.upcoming_headline {
  width: 100%;
  height: 22px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #ffdd00;
  text-align: center;
}

.upcoming_time {
  width: 100%;
  float: left;
  margin: 10px 0 40px 0;
  text-align: center;
}

.upcoming_time .upcoming_date, .upcoming_time .upcoming_timing {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  position: relative;
  padding-left: 40px;
  min-height: 40px;
}

.upcoming_time .upcoming_date .scheduled___img, .upcoming_time .upcoming_timing .scheduled___img {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 0px;
  left: -5px;
}

.upcoming_time .upcoming_date .scheduled___img img, .upcoming_time .upcoming_timing .scheduled___img img {
  width: 100%;
  height: 100%;
}

.upcoming_time .upcoming_date {
  margin-right: 36px;
}

.upcoming_time .upcoming_date:after {
  content: "";
  width: 6px;
  height: 6px;
  opacity: 0.5;
  background-color: #ffffff;
  display: inline-block;
  position: absolute;
  right: -15px;
  border-radius: 50%;
  top: 15px;
}

.upcoming_time .bold__ {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  display: block;
  text-align: left;
}

.upcoming_time .normal__ {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.71;
  color: #ffffff;
  display: block;
  text-align: left;
}

.scholarship_study {
  width: 156px;
  height: 140px;
  position: absolute;
  bottom: 0;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  left: 50%;
  background-image: url("/assets/images/scholarship/syl9to12.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.everthing_about {
  padding: 70px 15px;
  background-color: #ffeeee;
  width: 100%;
  float: left;
}

.everthing_about .card__top {
  width: 100%;
  float: left;
  margin-bottom: 10px;
  margin-top: 35px;
}

.everthing_about .card__top .scholarshipBgColor {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f05050), to(#df544a));
  background-image: linear-gradient(to bottom, #f05050, #df544a);
}

.everthing_about .card__top .natBgColor {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f05050), to(#970000));
  background-image: linear-gradient(to bottom, #f05050, #970000);
}

.everthing_about .card__top .nttBgColor {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#cc2d36), to(#a8001d));
  background-image: linear-gradient(to bottom, #cc2d36, #a8001d);
}

.everthing_about .card__top .card__left {
  width: calc(40% - 10px);
  float: left;
  padding: 40px 40px 58px;
  -webkit-box-shadow: 3px 6px 12px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 3px 6px 12px 0 rgba(0, 0, 0, 0.12);
  margin-right: 10px;
  border-radius: 6px;
}

.everthing_about .card__top .card__left p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin-top: 35px;
  margin-bottom: 20px;
}

.everthing_about .card__top .card__left ul {
  margin-top: 10px;
}

.everthing_about .card__top .card__left ul li {
  font-family: Roboto;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  margin-top: 8px;
}

.everthing_about .card__top .card__left ul li:before {
  content: '';
  background-image: url("/../../../assets/images/scholarship/white-tik.svg");
  margin-right: 10px;
  width: 15px;
  height: 12px;
  display: inline-block;
  margin-top: 0px;
  background-repeat: no-repeat;
}

.everthing_about .card__top .card__left .card_head {
  width: 100%;
  padding: 0px 0px 15px 77px;
  position: relative;
}

.everthing_about .card__top .card__left .card_head span.class_image {
  width: 62px;
  height: 64px;
  position: absolute;
  left: 0px;
  top: -15px;
}

.everthing_about .card__top .card__left .card_head span.class_image img {
  width: 100%;
  height: 100%;
}

.everthing_about .card__top .card__left .card_head span.headinggOne {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  display: block;
}

.everthing_about .card__top .card__left .card_head span.headinggtwo {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.19;
  color: #ffffff;
  display: block;
  margin-top: 10px;
}

.everthing_about .card__top .card__right {
  width: 60%;
  float: left;
  padding: 30px 40px;
  background: #ffffff;
  border-radius: 6px;
}

.everthing_about .card__top .card__right p {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #f05050;
  line-height: 22px;
  margin-bottom: 5px;
}

.everthing_about .card__top .card__right ul {
  list-style-type: upper-greek;
}

.everthing_about .card__top .card__right ul li {
  width: 100%;
  float: left;
  position: relative;
  padding-left: 30px;
}

.everthing_about .card__top .card__right ul li:before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #e9514d;
  color: #ffffff;
  font-weight: 600;
  padding-top: 1px;
  border-radius: 50%;
  position: absolute;
  top: 13px;
  left: 0;
  text-align: center;
}

.everthing_about .card__top .card__right ul li:first-child:before {
  content: "1";
}

.everthing_about .card__top .card__right ul li:nth-child(2):before {
  content: "2";
}

.everthing_about .card__top .card__right ul li:last-child:before {
  content: "3";
}

.everthing_about .card__top .card__right ul li p {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  margin-top: 15px;
  margin-bottom: 5px;
}

.everthing_about .card__top .card__right ul li span {
  font-family: Roboto;
  font-size: 16px;
  color: #000000;
  display: inline-block;
  float: left;
  margin-right: 8px;
  line-height: 26px;
}

.everthing_about .card__top .card__right ul li span:after {
  content: "";
  width: 4px;
  height: 4px;
  background-color: rgba(0, 0, 0, 0.6);
  float: right;
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 8px;
}

.everthing_about .card__top .card__right ul li span:last-child:after {
  content: "";
  display: none;
}

.everthing_about .card__down {
  width: 100%;
  float: left;
}

.everthing_about .card__down .card__flow {
  width: calc(20% - 10px);
  float: left;
  margin-right: 10px;
  background: #fff;
  border-radius: 6px;
  padding: 25px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.everthing_about .card__down .card__flow:last-child {
  margin: 0;
  width: 20%;
}

.everthing_about .card__down .card__flow .flow_heading {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.11;
  color: #f05050;
}

.everthing_about .card__down .card__flow .flow__img {
  display: block;
  width: 45px;
  height: 45px;
  margin: 20px;
}

.everthing_about .card__down .card__flow .flow__img img {
  width: 100%;
  height: 100%;
}

.everthing_about .card__down .card__flow .flow_time {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 10px;
}

.everthing_about .card__down .card__flow .flow_noofques {
  font-family: Roboto;
  font-size: 14px;
  color: #000000;
}

.everthing_about .hanging_btn_apply {
  width: 358px;
  margin: auto;
}

.everthing_about .hanging_btn_apply button {
  width: 358px;
  height: 76px;
  border-radius: 41px;
  -webkit-box-shadow: 0 3px 6px 0 var(--black-16);
          box-shadow: 0 3px 6px 0 var(--black-16);
  background-image: -webkit-gradient(linear, left top, right top, from(#f05050), color-stop(99%, #ec6161));
  background-image: linear-gradient(to right, #f05050 0%, #ec6161 99%);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 2.05;
  color: #ffffff;
  margin-top: 50px;
}

.test_resp_slider {
  padding-top: 15px;
}

.test_resp_slider .highlight_card_wrapper {
  padding: 0px 0px 5px 10px;
}

.test_resp_slider .highlight_card_wrapper .high_grid_view {
  padding: 25px 20px;
  height: 278px;
  border: solid 2px #f05050;
  background-color: #fffbfb;
}

.resp_slider, .mobileimg, .conductedOnline, .sc_card_wrapp.test_resp_slider {
  display: none;
}

.class_cards.resp_slider .card_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 0 15px !important;
}

.class_cards.resp_slider .card_head .class_image {
  position: relative !important;
  -webkit-transform: none !important;
          transform: none !important;
}

.class_cards.resp_slider .card_head .headinggOne {
  margin-top: 20px;
  font-size: 16px !important;
}

.class_cards.resp_slider .card_head .headinggtwo {
  margin-top: 5px;
  text-align: center !important;
  font-size: 14px !important;
}

@media only screen and (max-width: 1200px) {
  .inner-left-right {
    padding-left: 0;
    padding-right: 0;
  }
  .Explore__ {
    padding-top: 0;
  }
  .Explore__ .explore_left, .Explore__ .thumb__explore {
    margin-top: 15px;
    width: 50%;
  }
}

@media only screen and (max-width: 1080px) {
  .classes_syllabus .class_cards .inner_cardss {
    padding: 0 15px;
  }
}

@media only screen and (max-width: 991px) {
  .Eligibility_wrapper {
    padding: 0;
  }
  .classes_syllabus .class_cards .inner_cardss {
    width: 50%;
    padding: 0 15px 15px;
  }
  .benefit_scholarship .left_section {
    display: none;
  }
  .benefit_scholarship .right_section {
    width: 100%;
  }
  .rightcardholder .highlight_card_wrapper {
    padding-right: 0;
  }
  .inner-left-right_padding {
    padding-left: 0px;
    padding-right: 0px;
  }
  .header_top_banner {
    margin-top: 46px;
  }
  .header_top_banner .inner_banner_container .image_scholarship {
    padding: 0 60px;
    margin: 30px auto 35px auto;
  }
  .header_top_banner .hanging_btn {
    width: 240px;
  }
  .header_top_banner .hanging_btn button {
    width: 240px;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
  }
  .hm-pg-header-left, ._button_wraqpper_right {
    display: none;
  }
  ._header {
    height: 46px;
  }
  ._header .homelogo {
    width: 168px;
    height: 82px;
    top: 0px;
    z-index: 2;
  }
  ._header .homelogo ._logo {
    width: 100%;
    height: 100%;
  }
  .nav__menu {
    display: block;
  }
  .card_body {
    height: 0px;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }
  .show_card_body {
    height: 145px;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }
  .benefit_scholarship .benefit_footer .benefit_right {
    width: 100%;
  }
  .inner_cardss .card_inner_size .card_head {
    min-height: 94px;
  }
  .classes_syllabus .class_cards .inner_cardss {
    margin-bottom: 0px;
  }
  .Explore_wrapper {
    padding: 0;
  }
  .everthing_about ._wrapper {
    padding: 0;
  }
  .everthing_about .card__top .card__left {
    width: 100%;
    padding: 20px;
  }
  .everthing_about .card__top .card__right {
    width: 100%;
    margin-top: 10px;
    padding: 20px;
  }
  .everthing_about .card__down .card__flow {
    width: calc(33% - 10px);
    margin-bottom: 10px;
  }
  .everthing_about .card__down .card__flow:last-child {
    width: calc(33% - 10px);
    margin-bottom: 10px;
  }
  .benefit_left, .benefit_right {
    width: 100% !important;
    float: left;
    padding: 25px 20px 0 !important;
  }
  .benefit_left img, .benefit_right img {
    width: 100%;
    float: left;
  }
  .everthing_about .hanging_btn_apply {
    width: 260px;
  }
  .everthing_about .hanging_btn_apply button {
    width: 260px;
    font-size: 16px;
  }
  .course_to_help {
    padding-bottom: 120px !important;
  }
  .footer_col.coll-a, .footer_col.coll-b, .footer_col.coll-c, .footer_col.third_coll {
    width: 25% !important;
  }
  .footer_col.app__coll {
    width: 100% !important;
    text-align: center;
    margin-top: 15px;
  }
  .footer_col.app__coll .getapp__ {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .everthing_about {
    padding: 35px 20px 25px 20px;
  }
  .everthing_about .card__top {
    margin-top: 20px;
  }
  .course_to_help .sc_card_wrapp {
    margin-top: 30px;
  }
  .benefit_scholarship .h2.__heading {
    margin-bottom: 30px;
  }
  ._wrapper {
    padding: 0 20px;
  }
  .classes_syllabus.inner_wrapp {
    padding: 40px 0 40px 0;
  }
}

@media only screen and (max-width: 767px) {
  .classes_syllabus .class_cards {
    margin-top: 25px;
  }
  .classes_syllabus .class_cards .inner_cardss {
    padding: 0 10px 20px;
  }
  .classes_syllabus .class_cards .inner_cardss .card_inner_size .points_heading {
    padding-top: 20px;
  }
  .benefit_scholarship {
    padding: 40px 15px 45px;
  }
  .benefit_scholarship .right_section {
    padding-left: 0px;
  }
  .benefit_scholarship .right_section h2 {
    font-size: 24px;
  }
  .heading_bold {
    font-size: 20px;
    line-height: 1.25;
    padding: 0 50px;
  }
  .heading_bold_res {
    padding: 0 50px;
    margin-bottom: 5px;
  }
  .inner_wrapp {
    padding: 50px 0;
  }
  .test_highlights .card_main_wrap {
    margin-top: 25px;
  }
  .share_btn__ {
    width: 220px;
    margin: 10px auto 0;
  }
  .share_btn__ button {
    width: 220px;
    height: 58px;
    font-size: 16px;
  }
  .asked_question {
    padding: 50px 20px 50px 20px;
  }
  .asked_question .inner_accordian {
    margin-top: 25px;
    min-height: 180px;
  }
  .asked_question .inner_accordian .accordion {
    padding: 20px 45px 20px 20px;
    font-size: 16px;
  }
  .asked_question .inner_accordian .panel {
    padding: 0;
  }
  .panel ul {
    font-size: 14px !important;
    padding: 20px 30px 0 !important;
  }
  .panel ul > li > ul {
    font-size: 12px !important;
    padding-top: 0px !important;
  }
  ._header.scrollheight {
    height: 46px !important;
  }
  .Explore__ .explore_left, .Explore__ .thumb__explore {
    width: 100%;
    padding-left: 0;
  }
  .Explore__ .explore_left span {
    text-align: center;
    width: 100%;
  }
  .everthing_about ._wrapper {
    padding: 0;
  }
  .everthing_about .card__down .card__flow {
    width: calc(50% - 10px);
    margin-bottom: 10px;
    border: solid 1px rgba(240, 80, 80, 0.4);
    border-radius: 10px;
    padding: 15px 10px;
  }
  .everthing_about .card__down .card__flow .flow__img {
    width: 35px;
    height: 35px;
    margin: 15px;
  }
  .everthing_about .card__down .card__flow:last-child {
    width: calc(50% - 10px);
    margin-bottom: 10px;
  }
  .everthing_about .card__down .card__flow:nth-child(2n) {
    margin-right: 0;
    width: 50%;
  }
  .everthing_about .card__top .card__left {
    padding: 20px;
  }
  .everthing_about .card__top .card__right {
    padding: 20px;
  }
  .footer_col.coll-a {
    width: 100% !important;
    margin-bottom: 15px;
  }
  .footer_col.coll-a .left-col-img {
    text-align: center;
    margin: auto;
  }
  .footer_col.coll-b, .footer_col.coll-c, .footer_col.third_coll {
    width: 33.33% !important;
  }
  .header_top_banner .inner_banner_container {
    padding-bottom: 180px;
    background-position: center;
    background-size: cover;
    background-position-y: 0px;
  }
  .Explore_wrapper {
    margin-top: 0;
  }
  .course_to_help {
    width: calc(100% + 30px);
    float: left;
    margin-left: -15px;
    margin-right: -15px;
    padding-top: 35px;
  }
  .desktop_view, .heading_test, .web_slider {
    display: none;
  }
  .resp_slider {
    display: block;
    width: calc(100% + 40px) !important;
    margin-left: -20px;
    margin-right: -20px;
  }
  .test_highlights {
    padding-bottom: 110px;
  }
  .upcoming_time .bold__ {
    font-size: 14px;
  }
  .upcoming_time .normal__ {
    font-size: 12px;
  }
  .webimg {
    display: none;
  }
  .mobileimg, .sc_card_wrapp.test_resp_slider {
    display: block;
  }
  .everthing_about .card__top {
    margin-bottom: 20px;
  }
  .everthing_about .card__top .card__left p {
    font-size: 13px;
    margin-top: 24px;
  }
  .everthing_about .card__top .card__left ul {
    margin-top: 12px;
  }
  .everthing_about .card__top .card__left ul li {
    font-size: 12px;
  }
  .everthing_about .card__top .card__left .card_head span.headinggOne {
    font-size: 14px;
    line-height: 25px;
  }
  .everthing_about .card__top .card__left .card_head span.headinggtwo {
    font-size: 12px;
    margin-top: 5px;
  }
  .everthing_about .card__right {
    margin-top: 20px !important;
  }
  .everthing_about .card__right p {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .everthing_about .card__right ul li {
    margin-bottom: 5px;
  }
  .everthing_about .card__right ul li p {
    font-size: 16px !important;
  }
  .everthing_about .card__right ul li span {
    font-size: 14px !important;
    line-height: 24px !important;
  }
  .everthing_about .card__down .card__flow .flow_heading {
    font-size: 14px;
  }
  .everthing_about .card__down .card__flow .flow_time {
    font-size: 12px;
    margin-bottom: 5px;
  }
  .everthing_about .card__down .card__flow .flow_noofques {
    font-size: 12px;
  }
  .card__last, .applybtn {
    display: none !important;
  }
  .conductedOnline {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 15px;
    display: block;
  }
  .conductedOnline img {
    max-width: 278px;
  }
  .course_to_help .sc_card_wrapp .sc_cards .sc_content_wrap p {
    font-size: 16px;
  }
  .course_to_help .sc_card_wrapp .sc_cards .sc_content_wrap span {
    font-size: 14px;
  }
  .heading_bold.__heading {
    margin-bottom: 30px !important;
    padding: 0;
  }
  .asked_question .heading_bold {
    padding: 0;
  }
  .upcoming_headline {
    font-size: 12px;
  }
  .sc_card_wrapp.test_resp_slider .slider_inn .high_grid_view h2 {
    font-size: 16px;
  }
  .sc_card_wrapp.test_resp_slider .slider_inn .high_grid_view p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 580px) {
  .classes_syllabus .class_cards .inner_cardss {
    width: 100%;
    padding: 0 0 15px;
  }
  .card_main_wrap .leftcardholder {
    width: 100%;
  }
  .card_main_wrap .leftcardholder .highlight_card_wrapper {
    padding-right: 0;
  }
  .card_main_wrap .rightcardholder {
    width: 100%;
  }
  .test_highlights .highlight_card_wrapper {
    padding-bottom: 15px;
  }
  .header_top_banner .inner_banner_container .image_scholarship {
    padding: 0 60px;
  }
  .header_top_banner .hanging_btn {
    bottom: 7px;
  }
  .header_top_banner .hanging_btn button {
    height: 56px;
    font-size: 16px;
  }
  .footer_col.coll-a, .footer_col.coll-b, .footer_col.coll-c, .footer_col.third_coll {
    width: 100% !important;
    text-align: center;
  }
  .footer_col.third_coll {
    margin-top: 10px;
    margin-bottom: 0;
  }
  .footer_col.third_coll ul li:first-child {
    margin-top: 0 !important;
  }
  .course_to_help .sc_card_wrapp .sc_card_upper {
    padding-left: 15px;
  }
}

@media only screen and (max-width: 480px) {
  .benefit_left img, .benefit_right img {
    height: 50px !important;
  }
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  top: 46px;
}

.overlay-content {
  position: relative;
  width: 100%;
  background: #fff;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-width: 380px) {
  .upcoming_time .upcoming_date:after {
    display: none;
  }
  .upcoming_time .upcoming_timing {
    margin-top: 20px;
  }
}

.scholarship_footer {
  width: 100%;
  float: left;
  padding: 40px 0 50px 0;
  border-top: 6px solid #f05050;
}

.scholarship_footer .footer_col {
  width: 18%;
  float: left;
}

.scholarship_footer .footer_col .left-col-img {
  width: 150px;
  display: block;
  margin-top: 18px;
  cursor: pointer;
}

.scholarship_footer .footer_col .left-col-img img {
  width: 100%;
  height: 100%;
}

.scholarship_footer .footer_col .study__link {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 2.17;
  color: rgba(0, 0, 0, 0.9);
  text-align: center;
}

.scholarship_footer .footer_col ul {
  width: 100%;
  float: left;
}

.scholarship_footer .footer_col ul li {
  width: 100%;
  float: left;
  font-family: Roboto;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.9);
  margin-top: 10px;
  cursor: pointer;
}

.scholarship_footer .footer_col ul li:first-child {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-bottom: 5px;
  cursor: context-menu;
}

.scholarship_footer .third_coll ul li:first-child {
  font-weight: 500;
  margin-top: 40px;
  margin-bottom: 0;
}

.app__coll {
  width: 28% !important;
}

.app__coll ul li:last-child {
  font-size: 12px;
}

.app__coll ul li.getapp__ .linkapp {
  width: 120px;
  float: left;
  margin-right: 15px;
}

.app__coll ul li.getapp__ .linkapp a {
  width: 100%;
  float: left;
}

.app__coll ul li.getapp__ .linkapp img {
  width: 100%;
  height: 100%;
}

.cbt-link-waves {
  height: 110px;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 360px;
  z-index: 2;
}

@keyframes waves {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.2, 0.2);
            transform: scale(0.2, 0.2);
  }
  50% {
    opacity: .9;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
  }
}

@-webkit-keyframes waves {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.2, 0.2);
            transform: scale(0.2, 0.2);
  }
  50% {
    opacity: .9;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
  }
}

.cbt-link-waves .waves {
  position: absolute;
  width: 360px;
  height: 110px;
  background: rgba(255, 255, 255, 0.5);
  background-clip: border-box;
  opacity: 0;
  border-radius: 320px;
  background-clip: padding-box;
  -webkit-animation: waves 3s ease-in-out infinite;
  animation: waves 3s ease-in-out infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  top: 0;
  left: 0;
}

.cbt-link-waves .wave-1 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.cbt-link-waves .wave-2 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.cbt-link-waves .wave-3 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.btneffect {
  z-index: 3;
  position: relative;
  transition: all ease-in .3s !important;
  -moz-transition: all ease-in .3s !important;
  -ms-transition: all ease-in .3s !important;
  -o-transition: all ease-in .3s !important;
  -webkit-transition: all ease-in .3s !important;
  -webkit-animation-name: btneffect;
  overflow: hidden;
}

.btneffect:hover:before {
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-name: btneffect;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: btneffect;
}

.btneffect:before {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 800px;
  height: 800px;
  content: "";
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  -webkit-transform: translate(-50%, -50%) scale(0);
  transform-origin: center center;
  -webkit-transform-origin: center center;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}

.btneffect:before,
.btneffect:hover {
  background: #ff6363;
}

@keyframes btneffect {
  from {
    transform: translate(-50%, -50%) scale(0);
    -webkit-transform: translate(-50%, -50%) scale(0);
    visibility: visible;
    opacity: 1;
  }
  to {
    transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
    visibility: hidden;
    opacity: 0;
  }
}

@-webkit-keyframes btneffect {
  from {
    transform: translate(-50%, -50%) scale(0);
    -webkit-transform: translate(-50%, -50%) scale(0);
    visibility: visible;
    opacity: 1;
  }
  to {
    transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
    visibility: hidden;
    opacity: 0;
  }
}

.applybttn {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.applybttn:hover {
  padding-right: 20px !important;
}

.applybttn:hover .start_test {
  display: inline-block;
}

.start_test {
  display: inline-block;
  width: 16px;
  height: 16px;
  display: none;
  position: absolute;
  right: 25px;
}

.start_test img {
  width: 100%;
  margin-top: -3px;
}

.nat li span, .ntt li span {
  line-height: 21px !important;
}
/*# sourceMappingURL=scholarship.component.css.map */