@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap");

/* Colors */
$backgroundgray :#e6ecf1;
$themeblue : #F05050;
$themeblue : #F05050;
$themegray : #f5f7fa;
// $textcolor : #161v616;
$textcolor : #2c2e2f;
$textgrey : #8c8c8c;
$maingreen: rgb(7,162,8);
$stroke : #dfe0e8;
$borderRadius: 5px;
$inputTypeHeight: 35px;
$inputTypeFont: 12px;
$headerHeight: 60px;
$headerLineHeight: $headerHeight - 5px;
$mainboxShadow: 0 0 7px rgba(0,0,0,0.1);
$dropdownwidth: 400px;
$dropdwncontentwidth: $dropdownwidth - 100px;
$ntfctnprofile: 40px;
$inrprflimg : $ntfctnprofile + 8px;
$PostPicture: 40px;
$commentPicture: $PostPicture - 10px;
$subcommentPicture: $commentPicture;
$mainpostName: 16px;
$maincommentName: $mainpostName - 2px;
$darkthemestroke: $themeblue;
$progressbarRed: #ed6568;
$rightanswer : #5bbc5b;
$themelighten : rgba($themeblue, 0.2);
$lightgray : #fafafa;
$lightstroke: #f4f4f4;
$lighttext: #8c8c8c;
$bgtheme:#e6ecf0;
$borderColor:#dfe0e8;
$strockchecked:#65BFA3;
$btnRed:#ED6E71;
$btnDarkGray:#545454;
$bgWhite:#fff;
$colorWhite:#fff;
$borderWhite:#fff;
$colorBlack:#000;
$borderBlack:#000;
$gray20:#333;
$bggray20:#333;
$gray80:#ccc;
$bggray80:#ccc;
$bordegray80:#ccc;
$gray55:#8c8c8c;
$colorfooter:#9ba1ab;
$bgalert:#ffc3bf;
$borderalert:#fff2f0;
/* Border radius */
$borderRadiusDefault: 6px;
/* ==========================================================================
  Browser support
  ========================================================================== */
$ie7: false;
$ie8: false;
$baseFontSize: 14px;
// When using baseFontSize variable, must use it with fontSize mixin
/* $baseFontFamily: Arial, sans-serif; */
$baseLineHeight: 1.5;
$fontmontserrat: 'Montserrat', sans-serif;
$SourceSansPro:  'Source Sans Pro';

button{
  border: 1px solid $borderColor;
  outline: none !important;
}

*{
  box-sizing: border-box;
  // font-family: 'Montserrat', sans-serif;
}
  ._wrapper{
    max-width: 1140px !important;
    padding: 0px 15px 0px 15px;
    margin: auto;
  }
  .inner_wrapp{
    padding:70px 0;
    width:100%;
    float: left;
  }
  // .inner-left-right{
  //   padding-left: 35px;
  //   padding-right: 35px;
  // }

  .homelogo{
    // position: relative;
    width: 228px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 4px;
    // transition: 0.2s ease-in-out;
    img{
      // position: absolute;
      // top: -31px;
      width: 228px;
      height: 118px;
        // transition: 0.2s ease-in-out;
      // left: -69px;
    }
  }
  .hm-pg-header-left{
  width:auto;
  float: left;
  // display: flex;
  // flex-direction: row;
  // padding-left: 35px;
    // height: 38px;
    justify-content: right;
    align-items: center;
    width: 100%;
    // margin-right: 60px;
    ms-flex: 1;
    flex: 1;
    .header-logo-image{
        display: inline-block;
        float: left;
        width: 120px;
        height: auto;
        margin-right: 80px;
        margin-top: 5px;
          .fill_logo{
          width: 100%;
          float: left;
          }
    }
    .header-interest-dropdown{
      text-decoration: none;
      // color: rgba(33,42,57,.76);
      font-size: 14px;
      // top: 24px;
      font-weight: 600;
      // height: 100px;
      line-height: 22px;
      // padding: 14px 0;
      // height: 60px;
      position: relative;
      cursor: pointer;
      font-family: $fontmontserrat;
      float: right;
      padding-right: 160px;
      .down_arrow{
        margin-left: 8px;
        width: 12px;
        // float: right;
        margin-top: 8px;
          img{
             width: 100%;
            }
        }
      &:hover .down_arrow img{
        transform: rotate(180deg);
      }
    }
}
.centeralignment{
    height: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 15px;
}
._header.scrollheight{
  height: 45px !important;
  transition: 0.2s ease-in-out;
  .homelogo{
    width: 150px !important;
    height: 70px !important;
    transition: 0.2s ease-in-out;
    img{
      width: 100% !important;
      height: 100% !important;
      // transition: 0.2s ease-in-out;
    }
  }
  ._button_wraqpper_right {
    button{
      margin-top: 3px;
      height: 34px;
    }
  }
}
._header{
  float: left;
  width: 100%;
  height: 70px;
  box-shadow: 0px 4px 9px 0 rgba(44, 46, 47, 0.17);
  background-color: #ffffff;
  position: fixed;
  z-index: 40;
  top: 0px;
  transition: 0.1s ease-in-out;
  #headerwidth{
    width: 100%;
    float: left;
    height: 100%;
  }
  ._button_wraqpper_right{
      float: right;
     /* width: 175px; */
     width: 100%;
     justify-content: left;
     // margin-left: 60px;
     ms-flex: 1;
    flex: 1;
     .list_nav{
       margin: 0px;
      padding-left: 130px;
      outline: none;
      list-style-type: none;
      display: inline-block;
      float: left;
      min-width: 300px;
       li{
         display: inline-block;
         float: left;
         padding: 10px 20px;
         font-family: $fontmontserrat;
          font-size: 15px;
          font-weight: 600;
          // line-height: 1.87;
          color: #000000;
          cursor: pointer;
       }
     }
     button{
       float: right;
        width: 100px;
        height: 42px;
        border-radius: 38px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
        border: solid 1px #f05050;
        background-color: #ffffff;
        font-family: $fontmontserrat;
        font-size: 15px;
        font-weight: 600;
        /* font-stretch: normal; */
        /* font-style: normal; */
        line-height: 1.87;
        /* letter-spacing: normal; */
        /* text-align: center; */
        color: #000000;
        float: right;
        img{
          width: 12px;
          height: 13px;
          margin-right: 10px;
          margin-top: -2px;
        }
     }
  }
}
.header_top_banner{
  width: 100%;
  float: left;
  margin-top: 56px;
  position: relative;
  overflow: hidden;
    display: flex;
    justify-content: center;
    // padding-bottom: 30px;
  .inner_banner_container{
    width: 100%;
    float: left;
    // height: 637.6px;
    // background-image: linear-gradient(to bottom, #f05050, #960d0d);

    padding-bottom: 189px;
    margin-left: -150px;
    margin-right: -150px;
    background-repeat: no-repeat;
    background-position: center -39px;
    background-size: 125% 100%;
    .image_scholarship{
      max-width: 640px;
      margin: 32px auto 32px auto;
      img{
        width: 100%;
       // float: left;
      }
      .banner_content{
        font-family: $fontmontserrat;
        font-size: 14px;
        line-height: 1.71;
        color: rgba(255, 255, 255, 0.8);
        text-align: center;
      }
    }
  }
  .background_scholarship{
    background-image: url('/assets/images/scholarship/scholarshipBg.png');
  }
  .background_nat{
    background-image: url('/assets/images/scholarship/natBgimg.png');
  }
  .background_ntt{
    background-image: url('/assets/images/scholarship/nttBgimg.png');
  }
  .hanging_btn{
    width: 286px;
    // position: absolute;
    // bottom: 0px;
    // transform: translate(-50%);
    // left: 50%;
    margin:auto;
    .inactive_case{
      box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.25);
      opacity: 0.5;
    }
    .start_test_now{
      // border: 8px solid #00000026;
      position: relative;
      .btn_content{transition: 0.5s;}
      &:hover{
      .btn_content{
        position: relative;
        transition: 0.5s;
        padding-right: 30px;
          .start_test{
           display: inline-block;
       }
     }
    }
  }
    button{
      width: 272px;
       height: 66px;
       border-radius: 36px;
        box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
       border:none;
       font-family: $fontmontserrat;
       text-transform: uppercase;
       .btn_content{
         font-size: 18px;
         font-size: 18px;
         font-weight: bold;
         color: #f05050;
         display: block;
         z-index: 3;
         position: relative;
         .btn_img{
           width: 24px;
          // height: 16px;
          display: inline-block;
          margin-right: 10px;
          margin-bottom: 0px;
          img{
            width: 100%;
            margin-top: -6px;
          }
         }
         .successmsg{
            display: inline-block;
            margin-bottom: 2px;
           img{
             width: 100%;
             height: 100%;
           }
         }
         .start_test{
           display: inline-block;
           // float:right;
           width:16px;
           height: 16px;
           display: none;
           position: absolute;
           right: 65px;
           img{
             width: 100%;
             margin-top: -3px;
           }
         }
       }
       .s_ccess{
         display: block;
          font-size: 16px;
          text-transform: capitalize;
       }
       .report{
         font-family: $fontmontserrat;
          font-size: 12px;
          font-weight: 600;
          line-height: 2;
          color: rgba(0, 0, 0, 0.9);
          display: block;
          text-transform: capitalize;
       }
       .report_available{
         font-family: $fontmontserrat;
         font-size: 16px;
         font-weight: bold;
         line-height: 1.5;
         color: #f05050;
         display: block;
         text-transform: capitalize;
       }

    }
    .enrollment_date{
      opacity: 0.6;
      font-family: $fontmontserrat;
      font-size: 12px;
      font-weight: 600;
      color: #ffffff;
      text-align: center;
      display: block;
      margin-top: 15px;
    }
  }
}
.count_display{
  width: 290px;
    height: 90px;
    margin: auto;
    padding: 10px 10px 10px 10px;
  .count_heading{
    font-size: 15px;
    font-weight: 600;
    // line-height: 1.87;
    text-align: center;
    color: #ffffff;
    display: block;
    margin-bottom: 5px;
    font-family: $fontmontserrat;
  }
   .count_heading_dwn{
     font-size: 15px;
      font-weight: 600;
      // line-height: 1.87;
      text-align: center;
      color: #ffffff;
      display: block;
      font-family: $fontmontserrat;

   }
   .count_number{
     width: 100%;
     float: left;
     // margin-top: 15px;
     .count__no{
       width: 62px;
       height: 70px;
        border-radius: 6px;
        box-shadow: 0 3px 6px 0 var(--black-16);
        background-color: #ffffff;
        margin-right: 7px;
        float: left;
        padding: 15px;
       .up_cnt{
         font-size: 23px;
        font-weight: bold;
        line-height: 1;
        text-align: center;
        color: #000000;
        display: block;
        font-family: $fontmontserrat;

       }
       .down_hdng{
         font-size: 13px;
          font-weight: 600;
          // line-height: 3;
          text-align: center;
          color: #e84747;
          display: block;
          font-family: $fontmontserrat;
       }
     }
   }
}
.heading_bold{
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: #000000;
  margin-bottom: 15px;
  font-family: $fontmontserrat;
}
.heading_content{
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  text-align: center;
  color: rgba(0, 0, 0, 0.9);
  font-family: $fontmontserrat;
}
.classes_syllabus{
  width: 100%;
  float: left;
  .class_cards{
    width: 100%;
    float: left;
    margin-top: 35px;
    .inner_cardss{
    	width:33.33%;
    	float:left;
    	background-color: #ffffff;
    	padding:0 25px 0 0;
      margin-bottom: 25px;
    	.card_inner_size{
    		width:100%;
    		float:left;
    		// box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1);
        // border-radius: 18px;
        // padding: 25px 25px 0;
        // border: solid 2px transparent;
        // transition: 0.2s ease-in-out;
        // &:hover{
        //   border: solid 2px #f05050;
        //   transition: 0.2s ease-in-out;
        // }
    		.card_head{
          width: 100%;
          padding: 15px 0px 15px 77px;
          position: relative;

          span.class_image{
            width: 62px;
            height: 64px;
            position: absolute;
            left: 0px;
            top: 50%;
            transform: translate(0, -50%);
            img{
              width: 100%;
              height: 100%;
            }
          }
    			span.headinggOne{
            font-family: Roboto;
            font-size: 18px;
            font-weight: 500;
            text-align: left;
            color: rgba(0, 0, 0, 0.9);
            line-height: 24px;
            display: block;
    			}
    			span.headinggtwo{
            font-family: Roboto;
  font-size: 16px;
  text-align: left;
  color: rgba(0, 0, 0, 0.7);
  display: block;
  line-height: 1.25;
  margin-top: 5px;
    			}
    		}
        .card_body{
          width: 100%;
          float: left;
          overflow: hidden;


        }
        .points_heading{
          font-size: 16px;
          font-weight: bold;
          // line-height: 2.81;
          text-align: left;
          color: #f05050;
          padding-top: 54px;
          border-top: 1px solid #dad5d5;
          font-family: $fontmontserrat;
        }
        ul{
          display: block;
          padding-left: 17px;
          margin-top: 10px;
          padding-bottom: 25px;
          li{
            display: block;
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 16px;
            font-weight: 600;
            text-align: left;
            color: #000000;
            &::before {
              content: "\2022";
              color: #F05050;
              font-weight: bold;
              display: inline-block;
              width: 8px;
              height: 8px;
              margin-left: -1em;
              font-size: 17px;
              margin-right: 10px;
            }
          }
        }
    	}
    }
  }
}
.Explore_wrapper{
  width: 100%;
  margin-top: 50px;
  padding: 0 30px;
  float: left;
}
.Explore__{
  border-radius: 58px;
  border: solid 1px #f05050;
  background-color: rgba(240, 80, 80, 0.05);
  position: relative;
  padding:15px;
  width: 100%;
    float: left;
    .explore_left{
      width:19%;
      float: left;
      height: 24px;
      font-family: $fontmontserrat;
      font-size: 20px;
      font-weight: bold;
      color: #000000;
      display: flex;
    align-items: center;
    padding: 40px 25px;
      span{
        display: block;
      }
    }
    .thumb__explore{
      width: 27%;
      float: left;
      padding-left:15px;
      .card_head{
        width: 100%;
        padding: 15px 15px 15px 95px;
        position: relative;
        height: 80px;
        border-radius: 39px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
        transition: 0.2s ease-in-out;
        &:hover{
          background: #f05050;
          transition: 0.2s ease-in-out;
        }
        &:hover{
          .headinggOne, .headinggtwo{
            color: #ffffff;
            transition: 0.2s ease-in-out;
          }
        }

        span.class_image{
          width: 58px;
         height: 60px;
          position: absolute;
          left: 25px;
          top: 2px;
          img{
            width: 100%;
            height: 100%;
          }
        }
        span.headinggOne{
          font-size: 14px;
  font-weight: bold;
  color: #000000;
          // overflow: hidden;
          // display: -webkit-box;
          // -webkit-line-clamp: 1;
          // -webkit-box-orient: vertical;
          font-family: $fontmontserrat;
        }
        span.headinggtwo{

  font-size: 13px;
  color: rgba(0, 0, 0, 0.7);
  display: block;
          // overflow: hidden;
          // display: -webkit-box;
          // -webkit-line-clamp: 1;
          // -webkit-box-orient: vertical;
          font-family: 'Roboto', sans-serif;
        }
      }
    }
}

.course_to_help{
  padding-bottom: 160px;
  .sc_card_wrapp{
    width: 100%;
    float: left;
    margin-top: 35px;
    .sc_card_upper{
      width: 100%;
      padding-left:15px;
      float: left;
      margin-bottom: 10px;
    }
    .sc_cards{
      width: 100%;
      float:left;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
      background-color: #ffffff;
      border-radius: 10px;
      overflow: hidden;
      .sc_banner{
        width: 100%;
        height: 176px;
        position: relative;
        border-radius: 5px 5px 0 0;
        position: relative;
        img{
          float: left;
          border-radius: 5px 5px 0 0;
          border-bottom: 1px solid #e9e9e9;
          width: 100%;
          height: 100%;
        }
        span{
          position: absolute;
          bottom: -32px;
          width: 64px;
          height: 64px;
          box-shadow: 0 0 4px 0 var(--black-16);
          left: 15px;
          border-radius: 50%;
          overflow: hidden;
          img{
            width: 100%;
            height: 100%;
          }
        }
      }
      .sc_content_wrap{
        padding: 45px 20px 20px;
        p{
          font-family: Roboto;
          font-size: 18px;
          font-weight: 500;
          line-height: 1.33;
          text-align: left;
          color: #000000;
        }
        span{
          font-family: Roboto;
          font-size: 16px;
          line-height: 1.25;
          color: #000000;
          margin-top: 10px;
          display: inline-block;
        }
      }
    }
  }
}
.benefit_scholarshipBg, .benefit_natBg{background-image: linear-gradient(to bottom, #f05050, #bc0d0d);}
.benefit_nttBg{background-image: linear-gradient(to bottom, #cc2d36, #a8001d);}
.benefit_scholarship{
	float:left;
	width:100%;
	padding:70px 50px;
  border-radius: 20px;
  box-shadow: 0 6px 20px 0 var(--black-16);

  h2.__heading{
    line-height: 1.26;
    color: #ffffff;
    margin-bottom: 70px;
    font-family: $fontmontserrat;
  }
	.left_section{
		width:45%;
		float:left;
    display: flex;
    align-items: center;
    padding-right: 25px;
    // height: 638px;
		img{
			max-width: 400px;
			margin:auto;
		}
	}
	.right_section{
		width:55%;
		float:left;
    padding-left: 20px;
		// h2{
		// 	font-size: 36px;
		//   font-weight: bold;
		//   line-height: 1.33;
		//   color: rgba(0, 0, 0, 0.9);
    //   font-family: 'Montserrat', sans-serif;
		// }
		p.cnt{
			font-size: 16px;
		  font-weight: 600;
		  color: rgba(0, 0, 0, 0.9);
      margin-top: 20px;
      margin-bottom: 15px;
      font-family: $fontmontserrat;
		}
    .grid_view{
      border-radius: 15px;
  background-color: #ffffff;
  width: 100%;
  float: left;
  margin-top:15px;
  padding:20px 20px 20px 70px;
  position: relative;
  line-height: 24px;
      img{
        width: 27px;
        height: 27px;
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translate(0, -14px);
      }
      p{
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 18px;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.9);
      }
    }
	}
  .benefit_footer{
    width:100%;
    float:left;
    .benefit_left, .benefit_right{
      width: 50%;
      float: left;
      padding: 40px 40px 0;
      text-align: center;
      img{
        height: 60px;
    margin-bottom: 10px;

      }
      p{
        font-family: Roboto;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.33;
        text-align: center;
        color: #ffffff;
      }
    }
    // .benefit_right{
    //   img{
    //     margin-left:10px;
    //   }
    // }
  }
}
// .inner-left-right_padding{
//   padding-left: 50px;
//   padding-right: 50px;
// }
.leftcardholder,.rightcardholder{
  width: 50%;
  float: left;
}
.share_btn__{
    width: 264px;
    margin: 35px auto 0;
    float: left;
    transform: translate(-50%, 0px);
    left: 50%;
    position: relative;
  button{
      width: 264px;
      height: 76px;
      border-radius: 38px;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
      background-color: #ffffff;
      font-size: 20px;
      font-weight: bold;
      line-height: 1.4;
      text-align: center;
      color: rgba(0, 0, 0, 0.9);
      border: solid 1px transparent;
      transition: 0.2s ease-in-out;
      font-family: $fontmontserrat;
      img{
        width: 25px;
        height: 26px;
        margin-right: 15px;
        margin-top: -4px;
      }
      &:hover{
        border: solid 1px #f05050;
        transition: 0.2s ease-in-out;
      }
  }
}
.test_highlights{
  .card_main_wrap{
    width: 100%;
    float: left;
    margin-top: 35px;
  }
}
.highlight_card_wrapper{
  width:100%;
  float:left;
  padding-right:25px;
  padding-bottom: 25px;
  .active_hover{
      border: solid 2px #f05050 !important;
      background-color: #fffbfb !important;
      transition: 0.2s ease-in-out;
  }
  .high_grid_view{
    width:100%;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.12);
    border: solid 2px transparent;
    background-color: #ffffff;
    float: left;
    padding: 30px;
    border-radius: 18px;
    transition: 0.2s ease-in-out;

    .image_top{
        width:100%;
        float:left;
     img{
       width: 77px;
       height: 58px;
     }
    }
    .three img{
      width: 63px;
      height: 65px;
    }
    .two img{
      width: 64px;
      height: 54px;
    }
    .four img{
      width: 58px;
      height: 67px;
    }
    h2{
      font-size: 18px;
      font-weight: bold;
      color: rgba(0, 0, 0, 0.9);
      margin-top: 25px;
      float: left;
      line-height: 1.44;
      font-family: $fontmontserrat;
    }
    p{
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 18px;
      color: rgba(0, 0, 0, 0.9);
      margin-top: 10px;
      float: left;
      line-height: 1.22;
    }

  }
  .view_first{height: 274px;}
  .view_second{height: 216px;}
  .view_third{height: 206px;}
  .view_fourth{height: 264px;}
}


.inner_accordian::-webkit-scrollbar {
  width: 5px;
}
.inner_accordian::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.inner_accordian::-webkit-scrollbar-thumb {
  background: #2c2e2f20;
}
.inner_accordian::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.asked_question{
  width: 100%;
  float: left;
  background-color: #ffeeee;
  padding-top: 65px;
  padding-bottom: 65px;
  padding:65px 15px 65px 15px;
  .inner_accordian{
    max-width: 1140px;
    margin:auto;
    max-height: 760px;
    min-height: 250px;
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 40px;
    overflow-y: auto;
        .accordion {
      background-color: #fff;
      cursor: pointer;
      padding: 22px 60px 22px 25px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      // font-size: 15px;
      transition: 0.4s;
      border-bottom:1px solid #2c2e2f20;
      font-size: 16px;
      font-weight: 600;
      color: rgba(0, 0, 0, 0.9);
      font-family: $fontmontserrat;
      position: relative;
    }
    .accordion:after {
      content: '\002B';
      color: #f05050;
      font-weight: bold;
      float: right;
      margin-left: 5px;
      font-size: 26px;
      position: absolute;
      right: 23px;
      top: 25px;
    }

    .active:after {
      content: "\2212";
    }

    .panel {
      padding: 0px 20px;
      background-color: #ffffff;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
      margin: 0;
      p{
        margin: 15px 0;
      }
      ul{
        padding: 20px 10px 0;
        font-size: 16px;
        font-weight: 500;
        color: #000000;
        font-family: $fontmontserrat;
        li{
          font-family: $fontmontserrat;
        }
      }
      ul > li > ul{
        font-size: 16px;
        color: rgba(0, 0, 0, 0.9);
        font-weight: 400;
        margin-bottom: 15px;
        padding: 0 0 0 20px;
        font-family: $fontmontserrat;
      }
    }
  }
}
.third__card{
  .high_grid_view{
    padding-top: 18px !important;
    h2{
      margin-top: 10px !important;
    }
  }
}
.nav__menu{
  display: none;
  padding-top: 5px;
    .container_nav {
    display: inline-block;
    cursor: pointer;
    }
  .bar1, .bar2, .bar3 {
    width: 22px;
    height: 3px;
    background-color: #f05050;
    margin: 5px 0;
    transition: 0.4s;
  }
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-4px, 3px);
    transform: rotate(-45deg) translate(-4px, 3px);
  }
  .change .bar2 {opacity: 0;}
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
}

// add new scholarship page UI change
.scholarship_wrap{
  width:100%;
  float:left;
  background: #ffffff;
}
.upcoming_headline{
  width: 100%;
  height: 22px;
  font-family: $fontmontserrat;
  font-size: 18px;
  font-weight: bold;
  color: #ffdd00;
  text-align: center;
}
.upcoming_time{
  width:100%;
  float: left;
  margin:10px 0 40px 0;
  text-align: center;
  .upcoming_date, .upcoming_timing{
    display: inline-block;
    font-family: $fontmontserrat;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    position: relative;
    padding-left: 40px;
    min-height: 40px;
    .scheduled___img{
      width: 32px;
      height:32px;
      position: absolute;
      top: 0px;
      left: -5px;
      img{
        width:100%;
        height:100%;
      }
    }
  }
.upcoming_date{
  margin-right: 36px;
  &:after{
    content:"";
    width: 6px;
    height: 6px;
    opacity: 0.5;
    background-color: #ffffff;
    display: inline-block;
    position: absolute;
    right: -15px;
    border-radius: 50%;
    top: 15px;
  }
}
  .upcoming_timing{
   // margin-left:36px;
  }
  .bold__{
    font-family: $fontmontserrat;
    font-size: 16px;
    font-weight: bold;
    // line-height: 1.5;
    color: #ffffff;
    display: block;
    text-align: left;
  }
  .normal__{
    font-family: $fontmontserrat;
      font-size: 14px;
      font-weight: 600;
      line-height: 1.71;
      color: #ffffff;
      display: block;
      text-align: left;
  }
}
.scholarship_study{
    width: 156px;
    height: 140px;
    position: absolute;
    bottom: 0;
    transform: translate(-50%);
    left: 50%;
    background-image: url('/assets/images/scholarship/syl9to12.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}
.everthing_about{
  padding: 70px 15px;
  background-color: #ffeeee;
  width:100%;
  float:left;
  .card__top{
    width:100%;
    float:left;
    margin-bottom: 10px;
    margin-top: 35px;
    .scholarshipBgColor{background-image: linear-gradient(to bottom, #f05050, #df544a);}
    .natBgColor{background-image: linear-gradient(to bottom, #f05050, #970000);}
    .nttBgColor{background-image: linear-gradient(to bottom, #cc2d36, #a8001d);}
    .card__left{
      width:calc(40% - 10px);
      float:left;
      padding:40px 40px 58px;
      box-shadow: 3px 6px 12px 0 rgba(0, 0, 0, 0.12);

       margin-right: 10px;
       border-radius: 6px;
       p{
         font-family: $fontmontserrat;
        font-size: 18px;
        font-weight: bold;
        // line-height: 1.11;
        color: #ffffff;
        margin-top: 35px;
        margin-bottom: 20px;
       }
       ul{
         margin-top: 10px;
         li{
           font-family: Roboto;
            font-size: 16px;
            line-height: 22px;
            color: #ffffff;
            margin-top: 8px;
            &:before {
            content: '';
            background-image: url("/../../../assets/images/scholarship/white-tik.svg");
            margin-right:10px;
            width: 15px;
            height: 12px;
            display: inline-block;
            margin-top: 0px;
            background-repeat: no-repeat;
            }
         }
       }
      .card_head{
        width: 100%;
        padding: 0px 0px 15px 77px;
        position: relative;

        span.class_image{
          width: 62px;
          height: 64px;
          position: absolute;
          left: 0px;
          top:-15px;
          img{
            width: 100%;
            height: 100%;
          }
        }
        span.headinggOne{
          font-family: $fontmontserrat;
          font-size: 20px;
          font-weight: bold;
          line-height: 1;
          color: #ffffff;
          display: block;
        }
        span.headinggtwo{
          font-family: $fontmontserrat;
          font-size: 16px;
          line-height: 1.19;
          color: #ffffff;
          display: block;
          margin-top: 10px;
        }
      }
    }
    .card__right{
      width:60%;
      float:left;
      padding:30px 40px;
      background: #ffffff;
      border-radius: 6px;
      p{
        font-family: $fontmontserrat;
  font-size: 22px;
  font-weight: bold;
  color: #f05050;
  line-height: 22px;
    margin-bottom: 5px;
      }
      ul{
        list-style-type: upper-greek;
        li{
          width: 100%;
          float: left;
          // &:before {
          // content: '✓';
          // margin-right:10px;
          // }
          // list-style-type: decimal;
          position: relative;
          padding-left: 30px;
          &:before{
            content:"";
            width: 20px;
            height: 20px;
            background-color: #e9514d;
            color: #ffffff;
            font-weight: 600;
            // padding: 2px 0 4px 6px;
            padding-top:1px;
            border-radius: 50%;
            position: absolute;
            top: 13px;
            left: 0;
            text-align: center;
            }
          &:first-child{
              &:before{
                content:"1";
                }
          }
          &:nth-child(2){
              &:before{
                content:"2";
                }
          }
          &:last-child{
              &:before{
                content:"3";
                }
          }

          p{
            font-family: Roboto;
            font-size: 18px;
            font-weight: 500;
            color: #000000;
            margin-top: 15px;
            margin-bottom: 5px;
          }
          span{
            font-family: Roboto;
            font-size: 16px;
            color: #000000;
            display: inline-block;
            float: left;
            margin-right: 8px;
            line-height: 26px;
            &:after{
              content:"";
              width: 4px;
              height: 4px;
              background-color: rgba(0, 0, 0, 0.6);
              float: right;
              border-radius: 50%;
              margin-top: 10px;
              margin-left: 8px;
            }
            &:last-child{
              &:after{
                content:"";
                display: none;
              }

            }
          }
        }
      }
    }

  }
  .card__down{
  width:100%;
  float:left;
  .card__flow{
    width:calc(20% - 10px);
    float:left;
    margin-right: 10px;
    background: #fff;
    border-radius: 6px;
    padding: 25px 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
    &:last-child{
      margin:0;
      width:20%;
    }
    .flow_heading{
      font-family: $fontmontserrat;
     font-size: 18px;
     font-weight: bold;
     line-height: 1.11;
     color: #f05050;
    }
    .flow__img{
      display:block;
      width: 45px;
      height: 45px;
      margin: 20px;
      img{
       width:100%;
       height:100%;
      }
    }
    .flow_time{
      font-family: $fontmontserrat;
     font-size: 18px;
     font-weight: 600;
     color: #000000;
     margin-bottom: 10px
    }
    .flow_noofques{
      font-family: Roboto;
       font-size: 14px;
       color: #000000;
    }
  }
  }
  .hanging_btn_apply{
    width: 358px;
   margin: auto;
    button{
       width: 358px;
       height: 76px;
       border-radius: 41px;
       box-shadow: 0 3px 6px 0 var(--black-16);
       background-image: linear-gradient(to right, #f05050 0%, #ec6161 99%);
       font-family: $fontmontserrat;
       font-size: 20px;
       font-weight: bold;
       line-height: 2.05;
       color: #ffffff;
       margin-top: 50px;
    }
  }
}
.test_resp_slider{
  padding-top: 15px;
  .highlight_card_wrapper{
        padding: 0px 0px 5px 10px;
        .high_grid_view{
          padding:25px 20px;
          height: 278px;
          border: solid 2px #f05050;
          background-color: #fffbfb;
        }
  }
}
.resp_slider, .mobileimg, .conductedOnline, .sc_card_wrapp.test_resp_slider{
  display: none;
}

.class_cards.resp_slider{
  .card_head{
    display: flex;
    align-items: center;
    flex-flow: column;
    padding: 0 15px !important;
    .class_image{
      position: relative !important;
      transform: none !important;
    }
    .headinggOne{
        margin-top: 20px;
        font-size: 16px !important;
    }
    .headinggtwo{
        margin-top: 5px;
        text-align: center !important;
        font-size: 14px !important;
    }
  }
}


// responsive
@media only screen and (max-width:1200px){
  .inner-left-right{
    padding-left: 0;
    padding-right: 0;
  }
  .Explore__{
    padding-top: 0;
    .explore_left, .thumb__explore{
      margin-top: 15px;
      width: 50%;
    }
  }
}
@media only screen and (max-width:1080px){
  .classes_syllabus{
    .class_cards{
      .inner_cardss{
          padding: 0 15px;
     }
   }
 }
}
@media only screen and (max-width:991px){
  .Eligibility_wrapper{
    padding: 0;
    .Eligibility_ {

    }
  }
  .classes_syllabus{
    .class_cards{
      .inner_cardss{
          width: 50%;
          padding: 0 15px 15px;
     }
   }
 }
 .benefit_scholarship{
   .left_section{
     display: none;
   }
   .right_section{
     width: 100%;
   }
 }
 .rightcardholder{
   .highlight_card_wrapper{
     padding-right: 0;
   }
 }
 .inner-left-right_padding{
   padding-left: 0px;
   padding-right: 0px;
 }
 .header_top_banner{
   margin-top: 46px;
   .inner_banner_container{
     // border-radius: 0 0 35% 35%;
     .image_scholarship{
       padding: 0 60px;
       margin: 30px auto 35px auto;
     }
   }
   .hanging_btn{
     width: 240px;
     button{
       width: 240px;
       font-size: 16px;
       font-family: $fontmontserrat;
     }
   }
 }
 .hm-pg-header-left, ._button_wraqpper_right{
   display: none;
 }
 ._header{
  height: 46px;
   .homelogo{
     width: 168px;
     height: 82px;
     top: 0px;
     z-index: 2;
     ._logo{
       width: 100%;
       height: 100%;
     }
   }
 }
 .nav__menu{
   display: block;
 }
 .card_body{
   height:0px;
   transition: 0.2s ease-in-out;
 }
 .show_card_body{
   height: 145px;
   transition: 0.2s ease-in-out;
 }
 .benefit_scholarship{
   .benefit_footer{
     .benefit_right{
   width: 100%;
     }
   }
}
.inner_cardss{
  .card_inner_size{
    .card_head{
  min-height: 94px;
    }
  }
}
.classes_syllabus{
  .class_cards{
    .inner_cardss{
      margin-bottom: 0px;
     }
   }
  }
  .Explore_wrapper{
    padding:0;
  }
  .everthing_about{
    ._wrapper{
      padding:0;
    }
    .card__top{
    .card__left{
    width: 100%;
    padding: 20px;
  }
  .card__right{
    width: 100%;
    margin-top: 10px;
    padding:20px;
  }
}
 .card__down .card__flow{
     width: calc(33% - 10px);
     margin-bottom: 10px;
     &:last-child{
       width: calc(33% - 10px);
       margin-bottom: 10px;
     }
  }
}
.benefit_left, .benefit_right{
  width: 100% !important;
  float: left;
  padding: 25px 20px 0 !important;
  img{
    width: 100%;
    float:left;
  }
}
.everthing_about .hanging_btn_apply{
  width: 260px;
  button{
    width: 260px;
    font-size: 16px;
  }
}
.course_to_help{
  padding-bottom: 120px !important;
}
.footer_col{
&.coll-a, &.coll-b, &.coll-c, &.third_coll{
  width: 25% !important;
}
}
.footer_col.app__coll{
  width: 100% !important;
  text-align: center;
  margin-top: 15px;
  .getapp__{
    display: flex;
    justify-content: center;
  }
}
.everthing_about{
  padding: 35px 20px 25px 20px;
  .card__top{
    margin-top: 20px;
  }
}
.course_to_help{
  .sc_card_wrapp{
      margin-top: 30px;
   }
}
.benefit_scholarship{
  .h2.__heading{
     margin-bottom: 30px;
  }
}
._wrapper{
  padding:0 20px;
}
.classes_syllabus.inner_wrapp{
  padding: 40px 0 40px 0;
}
}
@media only screen and (max-width:767px){
  .classes_syllabus{
    .class_cards{
      margin-top: 25px;
      .inner_cardss{
          padding: 0 10px 20px;
          .card_inner_size{
            .points_heading{
              padding-top: 20px;
            }
          }
     }
   }
 }

 .benefit_scholarship{
   padding: 40px 15px 45px;
   .right_section{
     padding-left: 0px;
     h2{
       font-size: 24px;

     }
   }
 }
 .heading_bold{
   font-size: 20px;
   line-height: 1.25;
   padding: 0 50px;
   // margin-bottom: 30px !important;
 }
 .heading_bold_res{
   padding: 0 50px;
   margin-bottom: 5px;
 }
 .inner_wrapp{
   padding:50px 0;
 }
 .test_highlights .card_main_wrap{
   margin-top: 25px;
 }
 .share_btn__{
    width: 220px;
    margin: 10px auto 0;
    button{
      width: 220px;
      height: 58px;
      font-size: 16px;
    }
 }
 .asked_question{
   padding: 50px 20px 50px 20px;
   .inner_accordian {
     margin-top: 25px;
     min-height: 180px;
     .accordion{
       padding: 20px 45px 20px 20px;
       font-size: 16px;

     }
     .panel{
       padding: 0;
     }
   }
 }
 .panel {
   ul{
     font-size: 14px !important;
     padding: 20px 30px 0 !important;
   }
   ul > li > ul{
     font-size: 12px !important;
     padding-top: 0px !important;
   }
 }
 ._header.scrollheight{
   height: 46px !important;
 }
 .Explore__{
   .explore_left, .thumb__explore{
     width: 100%;
     padding-left:0;

   }
   .explore_left{
     span{
       text-align: center;
       width:100%;
     }
   }
 }
 .everthing_about{
   ._wrapper{
     padding:0;
   }

}
.everthing_about{
.card__down .card__flow{
   width: calc(50% - 10px);
   margin-bottom: 10px;
   border: solid 1px rgba(240, 80, 80, 0.4);
    border-radius: 10px;
    padding: 15px 10px;
    .flow__img{
      width: 35px;
      height: 35px;
      margin: 15px;
    }
   &:last-child{
     width: calc(50% - 10px);
     margin-bottom: 10px;
   }
   &:nth-child(2n){
       margin-right:0;
       width:50%;
    }
   }
   .card__top{
     .card__left{
     padding: 20px;
   }
   .card__right{
     padding:20px;
    }
  }
 }
 .footer_col{
 &.coll-a{
   width: 100% !important;
   margin-bottom: 15px;
   .left-col-img{
     text-align: center;
     margin: auto;
   }
 }
 &.coll-b, &.coll-c, &.third_coll{
   width: 33.33% !important;
 }
 }
 .header_top_banner .inner_banner_container{
   padding-bottom: 180px;
   background-position: center;
    background-size: cover;
    background-position-y: 0px;
 }
 .Explore_wrapper{
   margin-top: 0;
 }
 .course_to_help{
    width: calc(100% + 30px);
    float: left;
    margin-left: -15px;
    margin-right: -15px;
    padding-top: 35px;
 }
 .desktop_view, .heading_test, .web_slider{
   display: none;
 }
 .resp_slider{
   display: block;
   width: calc(100% + 40px) !important;
margin-left: -20px;
margin-right: -20px;
 }
 .test_highlights {
   padding-bottom: 110px;
 }
 .upcoming_time{
   .bold__{
     font-size: 14px;
   }
   .normal__{
     font-size: 12px;
   }
 }
 .webimg{
   display: none;
 }
 .mobileimg, .sc_card_wrapp.test_resp_slider{
   display: block;
 }
 .everthing_about{
   .card__top{
     margin-bottom: 20px;
     .card__left{
       p{
         font-size: 13px;
         margin-top: 24px;
       }
       ul{
         margin-top: 12px;
         li{
         font-size: 12px;
       }
     }
       .card_head{
         span.headinggOne{
           font-size: 14px;
           line-height: 25px;
         }
         span.headinggtwo{
           font-size: 12px;
           margin-top: 5px;
         }
       }
     }
   }
   .card__right{
     margin-top: 20px !important;
     p{
       font-size: 18px;
       margin-bottom: 5px;
     }
     ul{
       li{
         margin-bottom: 5px;
         p{
           font-size: 16px !important;
         }
         span{
           font-size: 14px !important;
           line-height: 24px !important;
         }
       }
     }
   }
   .card__down{
     .card__flow{
       .flow_heading{
         font-size: 14px;
       }
       .flow_time{
         font-size: 12px;
         margin-bottom: 5px;
       }
       .flow_noofques{
             font-size: 12px;
       }
     }
   }
 }
 .card__last, .applybtn{
   display: none !important;
 }
 .conductedOnline{
    float: left;
    width: 100%;
    text-align: center;
    margin-top:15px;
    display: block;
    img{
      max-width: 278px;
    }
 }
 .course_to_help{
   .sc_card_wrapp{
     .sc_cards{
       .sc_content_wrap{
         p{
           font-size: 16px;
        }
        span{
          font-size: 14px;
        }
      }
    }
  }
 }
 .heading_bold.__heading{
   margin-bottom: 30px !important;
   padding: 0;
 }
 .asked_question .heading_bold{
   padding:0;
 }
 .upcoming_headline{
   font-size: 12px;
 }
 .sc_card_wrapp.test_resp_slider{
   .slider_inn{
     .high_grid_view{
       h2{
         font-size: 16px;
       }
       p{
         font-size: 14px;
       }
     }
   }
 }
}


@media only screen and (max-width:580px){
  .classes_syllabus{
    .class_cards{
      .inner_cardss{
          width: 100%;
          padding: 0 0 15px;
     }
   }
 }
 .card_main_wrap{
   .leftcardholder{
     width: 100%;
     .highlight_card_wrapper{
       padding-right: 0;
     }
   }
   .rightcardholder{
     width: 100%;
   }
 }
 .test_highlights{
   .highlight_card_wrapper{
   padding-bottom: 15px;
    }
  }
  .header_top_banner{
    .inner_banner_container{
      // border-radius: 0 0 20% 20%;
      .image_scholarship{
        padding: 0 60px;
      }
    }
    .hanging_btn{
      bottom: 7px;
      button{
        height: 56px;
        font-size: 16px;
      }
    }
  }
  .footer_col{
  &.coll-a, &.coll-b, &.coll-c, &.third_coll{
    width: 100% !important;
    text-align: center;
  }
  &.third_coll{
    margin-top: 10px;
    margin-bottom: 0;
    ul{
      li:first-child{
        margin-top: 0 !important;
      }
    }
  }
  }
  .course_to_help{
    .sc_card_wrapp{
      .sc_card_upper{
        padding-left: 15px;
    }
  }
 }
}
@media only screen and (max-width:480px){
  .benefit_left , .benefit_right{
    img{
      height: 50px !important;
    }
  }
}



// nav mobile
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
  top: 46px;
}

.overlay-content {
  position: relative;
  // top: 25%;
  width: 100%;
  // text-align: center;
  // margin-top: 30px;
  background: #fff;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
  font-family: $fontmontserrat;
  font-weight: 500;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-width: 380px) {
  .upcoming_time{
    .upcoming_date {
      &:after{
        display: none;
      }
    }
    .upcoming_timing{
      margin-top: 20px;
    }
  }
}

.scholarship_footer{
  width:100%;
  float:left;
  padding:40px 0 50px 0;
  border-top:6px solid #f05050;
  .footer_col{
    width:18%;
    float: left;
    .left-col-img{
      width: 150px;
      display: block;
      margin-top: 18px;
      cursor: pointer;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .study__link{
      font-family: $fontmontserrat;
        font-size: 12px;
        font-weight: 600;
        line-height: 2.17;
        color: rgba(0, 0, 0, 0.9);
        text-align: center;
    }
    ul{
      width:100%;
      float:left;
      li{
        width: 100%;
        float:left;
        font-family: Roboto;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.9);
        margin-top: 10px;
        cursor: pointer;
        &:first-child{
          font-family: $fontmontserrat;
          font-weight: bold;
          margin-bottom: 5px;
          cursor: context-menu;
        }
      }
    }
  }
  .third_coll{
    ul{
      li{
        &:first-child{
          font-weight: 500;;
          margin-top: 40px;
          margin-bottom: 0;
        }
      }
    }
  }
}
.app__coll{
  width: 28% !important;
  ul{
    li{
      &:last-child{
        font-size: 12px;
      }
    }
    li.getapp__{
      .linkapp{
        width:120px;
        float:left;
        margin-right:15px;
        a{
          width: 100%;
          float: left;
        }
        img{
          width: 100%;
          height:100%;
        }
      }
    }
  }
}


.cbt-link-waves {
    height: 110px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 360px;
    z-index: 2;
}
@keyframes waves{0%{opacity:0;transform:scale(.2,.2)}50%{opacity:.9}100%{opacity:0;transform:scale(.9,.9)}}
@-webkit-keyframes waves{0%{opacity:0;transform:scale(.2,.2)}50%{opacity:.9}100%{opacity:0;transform:scale(.9,.9)}}

.cbt-link-waves .waves {
    position: absolute;
    width: 360px;
    height: 110px;
    background: rgba(255,255,255,0.5);
        background-clip: border-box;
    opacity: 0;
    border-radius: 320px;
    background-clip: padding-box;
    -webkit-animation: waves 3s ease-in-out infinite;
    animation: waves 3s ease-in-out infinite;
        animation-delay: 0s;
    top: 0;
    left: 0;
}
.cbt-link-waves .wave-1 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
.cbt-link-waves .wave-2 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.cbt-link-waves .wave-3 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.btneffect {
  z-index: 3;
  position: relative;
  transition: all ease-in .3s !important;
  -moz-transition: all ease-in .3s !important;
  -ms-transition: all ease-in .3s !important;
  -o-transition: all ease-in .3s !important;
  -webkit-transition: all ease-in .3s !important;
  -webkit-animation-name: btneffect;
  overflow: hidden;
}

.btneffect:hover:before {
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-name: btneffect;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: btneffect;
}

.btneffect:before {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 800px;
  height: 800px;
  content: "";
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  -webkit-transform: translate(-50%, -50%) scale(0);
  transform-origin: center center;
  -webkit-transform-origin: center center;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}

.btneffect:before,
.btneffect:hover {
  background: #ff6363;
}

@keyframes btneffect {
  from {
    transform: translate(-50%, -50%) scale(0);
    -webkit-transform: translate(-50%, -50%) scale(0);
    visibility: visible;
    opacity: 1;
  }
  to {
    transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
    visibility: hidden;
    opacity: 0;
  }
}

@-webkit-keyframes btneffect {
  from {
    transform: translate(-50%, -50%) scale(0);
    -webkit-transform: translate(-50%, -50%) scale(0);
    visibility: visible;
    opacity: 1;
  }
  to {
    transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
    visibility: hidden;
    opacity: 0;
  }
}
.applybttn{
  transition: 0.2s;
  &:hover{
  padding-right:20px !important;
  .start_test{
    display: inline-block;
  }
}
}
.start_test{
  display: inline-block;
  // float:right;
  width:16px;
  height: 16px;
  display: none;
  position: absolute;
  right: 25px;

  img{
    width: 100%;
    margin-top: -3px;
  }
}
.nat, .ntt{
    li{
      span{
        line-height: 21px !important;
      }
  }
}
