<app-header *ngIf="isLoggedin" [showSearchList]=false [hideInterestDropdown]=true [showBrowseTest]=true [showStudyIndiaFoundationLogo]=true>
</app-header>
<app-loginheader [showSearchList]=false [hideInterestDropdown]=true [showBrowseTest]=true [showStudyIndiaFoundationLogo]=true
  *ngIf="!isLoggedin"></app-loginheader>
<!--    end add event-->

<!-- header -->

<div class="_header" style="display:none;">
  <div id="headerwidth">
    <div class="_wrapper centeralignment">
      <div class="hm-pg-header-left">
        <!-- <div class="header-interest-dropdown">
			Browse Tests
			<label style="margin-left:8px" class="down_arrow">
			<img src="assets/images/scholarship/arrow_up.svg" alt="">
			</label>
	 </div> -->
        <!-- <app-browsetest></app-browsetest> -->
      </div>


      <a class="homelogo" href="https://study.hellouser.co.in">
        <img class="_logo" src="assets/images/scholarship/logo_foundation.png" alt="">
      </a>
      <div class="_button_wraqpper_right">
        <!-- <p>Log In</p> -->
        <ul class="list_nav">
          <li>About Us</li>
          <li>Contact Us</li>
        </ul>
        <button><img src="assets/images/scholarship/share.svg" alt="">Share</button>
      </div>
      <div class="nav__menu">
        <div class="container_nav" onclick="myFunction(this);">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </div>
      </div>
    </div>
  </div>
  <div id="myNav" class="overlay mobile___nav" style="height: 100%;">
    <!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> -->
    <div class="overlay-content">
      <a href="#">Browse Tests</a>
      <a href="#">About Us</a>
      <a href="#">Contact Us</a>
      <!-- <a href="#">Clients</a>
			    <a href="#">Contact</a> -->
    </div>
  </div>
</div>

<!-- header end -->
<div class="scholarship_wrap">

  <app-banner #BannerComponent></app-banner>
  <div class="_wrapper topwrapper">
    <!-- <div class="Explore_wrapper">
    <div class="Explore__">
      <div class="explore_left">
        <span>Explore Tests</span>
      </div>
      <div class="thumb__explore">
        <div class="card_head">
          <span class="class_image"><img src="assets/images/scholarship/explore.svg" alt=""></span>
          <span class="headinggOne">StudyIndia Scholarship Test</span>
          <span class="headinggtwo">for Class IX to X</span>
        </div>
      </div>
      <div class="thumb__explore">
        <div class="card_head">
          <span class="class_image"><img src="assets/images/scholarship/explore1.svg" alt=""></span>
          <span class="headinggOne">All India Scholarship Test</span>
          <span class="headinggtwo">for Class X to XII</span>
        </div>
      </div>
      <div class="thumb__explore">
        <div class="card_head">
          <span class="class_image"><img src="assets/images/scholarship/explore2.svg" alt=""></span>
          <span class="headinggOne">National Talent Hunt Test</span>
          <span class="headinggtwo">Undergraduates/Graduates</span>
        </div>
      </div>
    </div>
 </div> -->
    <div class="classes_syllabus inner_wrapp inner-left-right">
      <h2 class="heading_bold">Why should I take this test?</h2>
      <!-- scholarship -->
      <div class="class_cards web_slider" *ngIf="endPoint=='scholarship'">
        <div class="inner_cardss">
          <div class="card_inner_size">
            <div class="card_head">
              <span class="class_image"><img src="assets/images/scholarship/analyse.svg" alt=""></span>
              <span class="headinggOne">Analyse your Strength</span>
              <span class="headinggtwo">Analyse your strengths and Identify key improvement areas</span>
            </div>

          </div>
        </div>
        <div class="inner_cardss">
          <div class="card_inner_size">
            <div class="card_head">
              <span class="class_image"><img src="assets/images/scholarship/social-network.svg" alt=""></span>
              <span class="headinggOne">Master the Basics</span>
              <span class="headinggtwo">Assess understanding of basic concepts </span>
            </div>

          </div>
        </div>
        <div class="inner_cardss">
          <div class="card_inner_size">
            <div class="card_head">
              <span class="class_image"><img src="assets/images/scholarship/competition.svg" alt=""></span>
              <span class="headinggOne">Assess Competition</span>
              <span class="headinggtwo">Benchmark against other students at the state and All-India Level.</span>
            </div>

          </div>
        </div>
        <div class="inner_cardss">
          <div class="card_inner_size">
            <div class="card_head">
              <span class="class_image"><img src="assets/images/scholarship/social-network.svg" alt=""></span>
              <span class="headinggOne">Analyse your Prep</span>
              <span class="headinggtwo">Understand preparation gaps & take corrective action.</span>
            </div>

          </div>
        </div>
        <div class="inner_cardss">
          <div class="card_inner_size">
            <div class="card_head">
              <span class="class_image"><img src="assets/images/scholarship/line-chart.svg" alt=""></span>
              <span class="headinggOne">Know Where You Stand</span>
              <span class="headinggtwo">Get Percentile Score and know your position vis-a-vis the competition.</span>
            </div>

          </div>
        </div>
        <div class="inner_cardss">
          <div class="card_inner_size">
            <div class="card_head">
              <span class="class_image"><img src="assets/images/scholarship/line-chart.svg" alt=""></span>
              <span class="headinggOne">Detailed Analysis Reports</span>
              <span class="headinggtwo">Get Subject wise Analysis and know your Improvement Areas.</span>
            </div>

          </div>
        </div>
      </div>
      <!-- nat -->
      <div class="class_cards web_slider" *ngIf="endPoint=='nat'">
        <div class="inner_cardss">
          <div class="card_inner_size">
            <div class="card_head">
              <span class="class_image"><img src="assets/images/scholarship/analyse.svg" alt=""></span>
              <span class="headinggOne">Get Conceptual Understanding</span>
              <span class="headinggtwo">Analyse your conceptual clarity and know where to improve</span>
            </div>

          </div>
        </div>
        <div class="inner_cardss">
          <div class="card_inner_size">
            <div class="card_head">
              <span class="class_image"><img src="assets/images/scholarship/social-network.svg" alt=""></span>
              <span class="headinggOne">Master the Basics</span>
              <span class="headinggtwo">Understanding of basic concepts and identify gaps in your concepts </span>
            </div>

          </div>
        </div>
        <div class="inner_cardss">
          <div class="card_inner_size">
            <div class="card_head">
              <span class="class_image"><img src="assets/images/scholarship/competition.svg" alt=""></span>
              <span class="headinggOne">Assess Competition</span>
              <span class="headinggtwo">Benchmark against your peers at the national level.</span>
            </div>

          </div>
        </div>
        <div class="inner_cardss">
          <div class="card_inner_size">
            <div class="card_head">
              <span class="class_image"><img src="assets/images/scholarship/social-network.svg" alt=""></span>
              <span class="headinggOne">Analyse your Prep</span>
              <span class="headinggtwo">Understand preparation gaps & identify areas for improvement.</span>
            </div>

          </div>
        </div>
        <div class="inner_cardss">
          <div class="card_inner_size">
            <div class="card_head">
              <span class="class_image"><img src="assets/images/scholarship/line-chart.svg" alt=""></span>
              <span class="headinggOne">Know Where You Stand</span>
              <span class="headinggtwo">Get Percentile Score and know your position vis-a-vis the competition.</span>
            </div>

          </div>
        </div>
        <div class="inner_cardss">
          <div class="card_inner_size">
            <div class="card_head">
              <span class="class_image"><img src="assets/images/scholarship/line-chart.svg" alt=""></span>
              <span class="headinggOne">Detailed Analysis Reports</span>
              <span class="headinggtwo">Get Subject wise Analysis and know your Improvement Areas.</span>
            </div>

          </div>
        </div>
      </div>
      <!-- end nat -->
      <!-- ntt -->
      <div class="class_cards web_slider" *ngIf="endPoint=='ntt'">
        <div class="inner_cardss">
          <div class="card_inner_size">
            <div class="card_head">
              <span class="class_image"><img src="assets/images/scholarship/analyse.svg" alt=""></span>
              <span class="headinggOne">Employability Quotient</span>
              <span class="headinggtwo">Know how employable you are and how to improve upon it.</span>
            </div>

          </div>
        </div>
        <div class="inner_cardss">
          <div class="card_inner_size">
            <div class="card_head">
              <span class="class_image"><img src="assets/images/scholarship/social-network.svg" alt=""></span>
              <span class="headinggOne">Skill Inventory Report</span>
              <span class="headinggtwo">Get a comprehensive understanding of your skills </span>
            </div>

          </div>
        </div>
        <div class="inner_cardss">
          <div class="card_inner_size">
            <div class="card_head">
              <span class="class_image"><img src="assets/images/scholarship/competition.svg" alt=""></span>
              <span class="headinggOne">Soft Skills Report</span>
              <span class="headinggtwo">Identify critical soft skill areas for improvement .</span>
            </div>

          </div>
        </div>
        <div class="inner_cardss">
          <div class="card_inner_size">
            <div class="card_head">
              <span class="class_image"><img src="assets/images/scholarship/social-network.svg" alt=""></span>
              <span class="headinggOne">Learn Workplace Skills</span>
              <span class="headinggtwo">Learn crucial workplace skills like communication, negotiation etc.</span>
            </div>

          </div>
        </div>
        <div class="inner_cardss">
          <div class="card_inner_size">
            <div class="card_head">
              <span class="class_image"><img src="assets/images/scholarship/line-chart.svg" alt=""></span>
              <span class="headinggOne">Be A Leader</span>
              <span class="headinggtwo">Develop your leadership and managerial abilities.</span>
            </div>

          </div>
        </div>
        <div class="inner_cardss">
          <div class="card_inner_size">
            <div class="card_head">
              <span class="class_image"><img src="assets/images/scholarship/line-chart.svg" alt=""></span>
              <span class="headinggOne">Manage People Effectively</span>
              <span class="headinggtwo">Learn People Management Skills.</span>
            </div>

          </div>
        </div>
      </div>
      <!-- end ntt -->
      <div class="class_cards resp_slider">
        <!-- scholarship -->
        <carousel *ngIf="endPoint=='scholarship'">
          <slide>
            <div class="inner_cardss">
              <div class="card_inner_size">
                <div class="card_head">
                  <span class="class_image"><img src="assets/images/scholarship/analyse.svg" alt=""></span>
                  <span class="headinggOne">Analyse your Strength</span>
                  <span class="headinggtwo">Analyse your strengths and Identify key improvement areas</span>
                </div>

              </div>
            </div>
          </slide>
          <slide>
            <div class="inner_cardss">
              <div class="card_inner_size">
                <div class="card_head">
                  <span class="class_image"><img src="assets/images/scholarship/social-network.svg" alt=""></span>
                  <span class="headinggOne">Master the Basics</span>
                  <span class="headinggtwo">Assess understanding of basic concepts </span>
                </div>

              </div>
            </div>
          </slide>
          <slide>
            <div class="inner_cardss">
              <div class="card_inner_size">
                <div class="card_head">
                  <span class="class_image"><img src="assets/images/scholarship/competition.svg" alt=""></span>
                  <span class="headinggOne">Assess Competition</span>
                  <span class="headinggtwo">Benchmark against other students at the state and All-India Level.</span>
                </div>

              </div>
            </div>
          </slide>
          <slide>
            <div class="inner_cardss">
              <div class="card_inner_size">
                <div class="card_head">
                  <span class="class_image"><img src="assets/images/scholarship/social-network.svg" alt=""></span>
                  <span class="headinggOne">Analyse your Prep</span>
                  <span class="headinggtwo">Understand preparation gaps & take corrective action.</span>
                </div>

              </div>
            </div>
          </slide>
          <slide>
            <div class="inner_cardss">
              <div class="card_inner_size">
                <div class="card_head">
                  <span class="class_image"><img src="assets/images/scholarship/line-chart.svg" alt=""></span>
                  <span class="headinggOne">Know Where You Stand</span>
                  <span class="headinggtwo">Get Percentile Score and know your position vis-a-vis the competition.</span>
                </div>

              </div>
            </div>
          </slide>
          <slide>
            <div class="inner_cardss">
              <div class="card_inner_size">
                <div class="card_head">
                  <span class="class_image"><img src="assets/images/scholarship/line-chart.svg" alt=""></span>
                  <span class="headinggOne">Detailed Analysis Reports</span>
                  <span class="headinggtwo">Get Subject wise Analysis and know your Improvement Areas.</span>
                </div>

              </div>
            </div>
          </slide>
        </carousel>
        <!-- end scholarship -->
        <!-- nat -->
        <carousel *ngIf="endPoint=='nat'">
          <slide>
            <div class="inner_cardss">
              <div class="card_inner_size">
                <div class="card_head">
                  <span class="class_image"><img src="assets/images/scholarship/analyse.svg" alt=""></span>
                  <span class="headinggOne">Get Conceptual Understanding</span>
                  <span class="headinggtwo">Analyse your conceptual clarity and know where to improve.</span>
                </div>

              </div>
            </div>
          </slide>
          <slide>
            <div class="inner_cardss">
              <div class="card_inner_size">
                <div class="card_head">
                  <span class="class_image"><img src="assets/images/scholarship/social-network.svg" alt=""></span>
                  <span class="headinggOne">Master the Basics</span>
                  <span class="headinggtwo">Understanding of basic concepts and identify gaps in your concepts</span>
                </div>

              </div>
            </div>
          </slide>
          <slide>
            <div class="inner_cardss">
              <div class="card_inner_size">
                <div class="card_head">
                  <span class="class_image"><img src="assets/images/scholarship/competition.svg" alt=""></span>
                  <span class="headinggOne">Assess Competition</span>
                  <span class="headinggtwo">Benchmark against your peers at the national level.</span>
                </div>

              </div>
            </div>
          </slide>
          <slide>
            <div class="inner_cardss">
              <div class="card_inner_size">
                <div class="card_head">
                  <span class="class_image"><img src="assets/images/scholarship/social-network.svg" alt=""></span>
                  <span class="headinggOne">Analyse your Prep</span>
                  <span class="headinggtwo">Understand preparation gaps & identify areas for improvement.</span>
                </div>

              </div>
            </div>
          </slide>
          <slide>
            <div class="inner_cardss">
              <div class="card_inner_size">
                <div class="card_head">
                  <span class="class_image"><img src="assets/images/scholarship/line-chart.svg" alt=""></span>
                  <span class="headinggOne">Know Where You Stand</span>
                  <span class="headinggtwo">Get Percentile Score and know your position vis-a-vis the competition.</span>
                </div>

              </div>
            </div>
          </slide>
          <slide>
            <div class="inner_cardss">
              <div class="card_inner_size">
                <div class="card_head">
                  <span class="class_image"><img src="assets/images/scholarship/line-chart.svg" alt=""></span>
                  <span class="headinggOne">Detailed Analysis Reports</span>
                  <span class="headinggtwo">Get Subject wise Analysis and know your Improvement Areas.</span>
                </div>

              </div>
            </div>
          </slide>
        </carousel>
        <!-- end nat -->
        <!-- ntt -->
        <carousel *ngIf="endPoint=='ntt'">
          <slide>
            <div class="inner_cardss">
              <div class="card_inner_size">
                <div class="card_head">
                  <span class="class_image"><img src="assets/images/scholarship/analyse.svg" alt=""></span>
                  <span class="headinggOne">Know Your Employability Quotient</span>
                  <span class="headinggtwo">Know how employable you are and how to improve upon it.</span>
                </div>

              </div>
            </div>
          </slide>
          <slide>
            <div class="inner_cardss">
              <div class="card_inner_size">
                <div class="card_head">
                  <span class="class_image"><img src="assets/images/scholarship/social-network.svg" alt=""></span>
                  <span class="headinggOne">Skill Inventory Report</span>
                  <span class="headinggtwo">Get a comprehensive understanding of your skills. </span>
                </div>

              </div>
            </div>
          </slide>
          <slide>
            <div class="inner_cardss">
              <div class="card_inner_size">
                <div class="card_head">
                  <span class="class_image"><img src="assets/images/scholarship/competition.svg" alt=""></span>
                  <span class="headinggOne">Soft Skills Report</span>
                  <span class="headinggtwo">Identify critical soft skill areas for improvement .</span>
                </div>

              </div>
            </div>
          </slide>
          <slide>
            <div class="inner_cardss">
              <div class="card_inner_size">
                <div class="card_head">
                  <span class="class_image"><img src="assets/images/scholarship/social-network.svg" alt=""></span>
                  <span class="headinggOne">Learn Workplace Skills</span>
                  <span class="headinggtwo">Learn crucial workplace skills like communication, negotiation etc.</span>
                </div>

              </div>
            </div>
          </slide>
          <slide>
            <div class="inner_cardss">
              <div class="card_inner_size">
                <div class="card_head">
                  <span class="class_image"><img src="assets/images/scholarship/line-chart.svg" alt=""></span>
                  <span class="headinggOne">Be A Leader</span>
                  <span class="headinggtwo">Develop your leadership and managerial abilities.</span>
                </div>

              </div>
            </div>
          </slide>
          <slide>
            <div class="inner_cardss">
              <div class="card_inner_size">
                <div class="card_head">
                  <span class="class_image"><img src="assets/images/scholarship/line-chart.svg" alt=""></span>
                  <span class="headinggOne">Manage People Effectively</span>
                  <span class="headinggtwo">Learn People Management Skills.</span>
                </div>

              </div>
            </div>
          </slide>
        </carousel>
        <!-- end ntt -->
      </div>
    </div>
  </div>

  <app-about-test #aboutTestComponent></app-about-test>

  <div class="_wrapper topwrapper">
    <app-courses-slider></app-courses-slider>

    <!-- section benefits of scholarship -->
    <app-test-highlights #testHightligtsComponent></app-test-highlights>
  </div>

  <app-frequently-asked-questions></app-frequently-asked-questions>

  <!-- footer start -->
  <app-footer></app-footer>

  <!-- end footer  -->
</div>
