
    <!-- asked question  section -->

    <div id="faq" class="asked_question asked_ques_program">
      <div class="container ">
    	 <h2 class="heading_bold">Frequently Asked Questions</h2>
    	 <div class="inner_accordian">
    		 <button class="accordion">What is ExitTest Qualifier Test (EQT)?</button>
    			<div class="panel">
         <ul>
           <li>The ExitTest Qualifier Test (EQT) is a General Mental Ability Test to assess candidates for their suitability for a career in the corporate world. The assessment is done in the following areas:
              <ul class="datalistw">
                <li><strong>Behavioural Competencies (65 Qs in 15 Mins):</strong>  This section will have questions to test behavioural competencies of a candidate on the following: Accountability, Learning Approach, Ambition, Interpersonal Skills, Emotional Stability, Team-Work, Influencing Skills & Prudence. This section will contain statements related to typical behaviors. Read each statement carefully and try to answer it quickly, do not spend too much time on any one question. There are no right or wrong answers in psychometric questions. Describe yourself as honestly and accurately as possible. Please remember that your first response is probably the best.</li>
                <li><strong>Cognitive Skills (40 Qs in 10 Mins):</strong> This section will contain questions of a general nature in the following areas: Communication, Problem Solving & Attention to Detail</li>
                <li><strong>General Aptitude (30 Qs in 20 Mins):</strong>  This section will test the general aptitude of the candidates in the following areas: Logical Reasoning, Financial Reasoning, Verbal Reasoning, Spatial Reasoning. The questions will assess English Grammar, Word Usage, General Mental Ability, Elementary Arithmetic, DI, Basic Statistics etc.</li>
              </ul>
           </li>
           <li>The test will have 135 Qs to be attempted within a duration of 45 minutes. Each candidate who completes the test will receive a composite score based on his answers to the questions in the test. This score will be used to shortlist candidates for next rounds of the recruitment process. The score is applicable across all the industries for entry level positions.</li>
           <li><strong>Note:</strong> The test is conducted in English and there will be no negative marking.</li>
         </ul>


    			</div>

    			<button class="accordion">How will the EQT help me in securing a job of my liking?</button>
    			<div class="panel">
            <ul>
              <li>
                The EQT is a test of General Mental Ability which many companies use to either shortlist or to select candidates. By securing a high score in the EQT you demonstrate competencies which prospective employers look for in candidates. The EQT also helps companies to screen quality candidates from a large number of applicants thereby making their recruitment process easier and smoother.

             </li>
               </ul>
    			</div>

    			<button class="accordion">What is the eligibility criteria to apply for EQT?</button>
    			<div class="panel">
            <ul>
              <li>To apply for the EQT you should meet the following criteria:
                <ul  class="datalistn">
                  <li>UG, PG and Diploma students in their pre-final and final year of study</li>
                  <li>Students with any degree and specialisation/discipline</li>
                  <li>Freshers with less than 2 years of experience</li>
                </ul>
              </li>
            </ul>
    			</div>
    			<button class="accordion">Can I apply for career opportunities using LinkedIn?</button>
    			<div class="panel">
            <ul>
              <li>No, At present we do not have a way of applying using LinkedIn.</li>
            </ul>


    			</div>
    			<button class="accordion">How can I ensure I have successfully submitted my application? What is the process to track my application?</button>
    			<div class="panel">
            <ul>
    			 <li>Once you have applied, you will receive a system acknowledgement of your application. After that you will need to appear for the qualifier test post which if you are shortlisted our Talent Acquisition Team will contact you to schedule an interview.<li>
          </ul>
    			</div>
    			<button class="accordion">What are the types of interviews I will be put through?</button>
    			<div class="panel">
            <ul>
    			 <li>Depending on the position and stage of the process you can be put through:
           <ul class="datalistw">
             <li>Online Assessment</li>
             <li>Face to face Interview</li>
           </ul>
<li>
             </ul>

    			</div>
    			<button class="accordion">Could you please provide me with some tips on how to prepare for the interview and the Qualifier Test?</button>
    			<div class="panel">
            <ul>
               			 <li>Since the Qualifier Test is a Psychometric cum Aptitude test, the best way to prepare for it is to be honest about yourself in your responses. There are no right or wrong answers in psychometric questions. Describe yourself as honestly and accurately as possible. Please remember that your first response is probably the best. Do the same in the interviews.<li>
            </ul>
    			</div>
    			<button class="accordion">Can I apply for multiple positions at the same time?</button>
    			<div class="panel">
            <ul>
               			 <li>Yes. If your profile matches different roles at the same time, you can apply for the roles.<li>
            </ul>
    			</div>
    			<button class="accordion">What is the typical duration of the recruitment process?</button>
          <div class="panel">
            <ul>
              <li>A typical recruitment process may take place over a period of one month.</li>

                <!-- <ul class="datalistn">
                  <li>Online Application</li>
                  <li>Qualifier Test</li>
                  <li>Interviews</li>
                </ul> -->

            </ul>
          </div>
    			<button class="accordion">Can I apply for the same position again if I am rejected?</button>
    			<div class="panel">
            <ul>
               			 <li>No. You can not apply for the same position again if you get rejected.<li>
            </ul>
    			</div>
    			<button class="accordion">What qualities does Study24x7 look for in a candidate?</button>
    			<div class="panel">
            <ul>
               			 <li>We are always looking for the best and brightest from campuses across India. Some of the qualities we look for in a candidate are: good communication skills, willingness to learn, ownership, bias for action, adaptability and versatility. We value a great Attitude over Aptitude any day. For specific details about individual positions, please refer to the JD for key competencies required for the job.<li>
            </ul>
    			</div>
    			<button class="accordion">What is the selection process for entry level/fresher candidates?</button>
    			<div class="panel">
            <ul>
               			 <li>It is a 3 Step Process:
                     <ul class="datalistn">
                       <li>Online Application</li>
                       <li>Qualifier Test</li>
                       <li>Interviews</li>
                     </ul>
<li>
            </ul>
    			</div>
    			<button class="accordion">How will the test be conducted and results communicated?</button>
    			<div class="panel">
            <ul>
               			 <li>The test will be conducted Online on the Exittest website. Please note that it will not be conducted offline or in centres. After you complete the test, results will be processed and your scores as well as a detailed report will be sent to your registered email ID that you provided during the test registration process.<li>
            </ul>
    			</div>

    	 </div>

    </div>
    </div>
