/* ========================================================================== Common variables ========================================================================== */
/**
*
* DO NOT use these variables directly in components.
* Assign them to component specific variables
*
*/
/* Colors */
/* Border radius */
/* ========================================================================== Browser support ========================================================================== */
/* ========================================================================== Component specific variables ========================================================================== */
/* Typography ========================================================================== */
/* $baseFontFamily: Arial, sans-serif; */
/* $baseSpacing: $baseLineHeight+em; */
/* $baseTextColor: $black; */
/* Type Color */
/* $typeHighlight: $blue;
$typeLowlight: $lightGrey; */
/* Link ========================================================================== */
/* $linkColor: $blue;
$linkHoverColor: $lightBlue; */
/* Background ========================================================================== */
/* $bgBasic: #fff; */
/* Box ========================================================================== */
/* Contour */
/* $boxBasicBorderRadius: $borderRadiusDefault; */
/* Box foot */
/* $boxFootDivider: $blue; */
/* Divider ========================================================================== */
/* $dividerColor: $blue; */
/* List ========================================================================== */
/* $listInlineDividerBorder: $lightGrey;
$listBorder: $lightGrey; */
/* Table ========================================================================== */
/* $tableBorderColor: $blue; */
/* Form ========================================================================== */
/* $labelLeftWidth: 30%;
$formFieldBorder: 1px solid $grey;
$placeholderText: $lightGrey; */
/* Button ========================================================================== */
/* $btnDefaultBg: #ddd;
$btnDefaultBorder: $lightGrey; */
/* Template ========================================================================== */
/* $skipLinkBg: $black;
$bodyBg: #fff;
$pageWidth: 997px; */
/* header */
/* $headerBgStop1: #09456a;
$headerBgStop2: #02587e;
$contentBg: #fff;
$contentWidth: 960px; */
/* footer */
/* $footerBorder: $lightGrey; */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap");
.asked_ques_program { padding: 65px 0px 65px 0px; background-color: #ffefef; font-family: "Montserrat"; }

.asked_ques_program .heading_bold { text-align: center; font-family: "Montserrat"; font-size: 36px; color: #000000; font-weight: bold; }

.asked_ques_program .inner_accordian { max-width: 100%; }

.asked_question .inner_accordian { max-height: 2000px; min-height: auto; }

.asked_question .inner_accordian .accordion { font-size: 16px; padding: 22px 60px 22px 25px; position: relative; font-family: "Montserrat"; }

.asked_question .inner_accordian .accordion:after { position: absolute; right: 35px; top: 25px; }

.asked_question .inner_accordian .accordion.active { border-bottom: 1px solid transparent; }

.asked_question .inner_accordian .panel { background-color: #f5f7f9; border-radius: 0; }

.asked_question .inner_accordian .panel ul { padding: 20px 10px 20px; }

.asked_question .inner_accordian .panel ul li { font-size: 16px; color: rgba(0, 0, 0, 0.9); line-height: 24px; font-weight: normal; }

.asked_question .inner_accordian .panel ul li ul li { color: rgba(0, 0, 0, 0.7); }

.asked_question .inner_accordian .panel ul li .datalistw, .asked_question .inner_accordian .panel ul li .datalistn { margin-top: 10px; }

.asked_question .inner_accordian .panel ul li .datalistw li, .asked_question .inner_accordian .panel ul li .datalistn li { padding: 5px 0px; margin-bottom: 5px; }

.asked_question .inner_accordian .panel ul li .datalistw li { list-style: outside upper-alpha; }

.asked_question .inner_accordian .panel ul li .datalistn li { list-style: outside decimal; }

@media only screen and (max-width: 1024px) { .asked_ques_program .heading_bold { font-size: 32px; } }

@media only screen and (max-width: 768px) { .asked_ques_program { padding: 40px 0px 40px 0px; }
  .asked_ques_program .heading_bold { font-size: 26px; }
  .asked_question .inner_accordian .accordion { font-size: 16px; padding: 25px 50px 25px 25px; }
  .asked_question .inner_accordian .accordion:after { right: 25px; top: 25px; }
  .asked_question .inner_accordian .panel ul { padding: 15px 10px 15px; }
  .asked_question .inner_accordian .panel ul li { font-size: 14px; } }

@media only screen and (max-width: 480px) { .asked_ques_program .heading_bold { font-size: 20px; line-height: 26px; }
  .asked_question .inner_accordian { margin-top: 25px; }
  .asked_question .inner_accordian .accordion { font-size: 14px; padding: 15px 50px 15px 15px; }
  .asked_question .inner_accordian .panel ul { padding: 12px 10px 12px; } }
