<div *ngIf="isInvitepresent && _constantService.getSessionDataBYKey('STREAM_FLAG') == 1" class="peopleknow_outer ppl-you-may-know livestreamswrapper">
    <div>
        <h6 class="widgetheading head_n top_heading">Invite<a class="head_n view_n"></a></h6>
        <perfect-scrollbar class='people_list list_npeople invite_livestreams' [perfectScrollbar]="config" style="position: relative;">
            <div *ngFor="let classInvitation of liveClassInvites;let i=index;" class="invite_livestream_block">
                <div class="invite_liveblock_up">
                    <span class="invite_stream_details">
                        <img class="defaultt" src="assets/images/svg-three/page_icon/iconwall.svg">
                        {{classInvitation.START_TIME | date:'shortTime'}}&nbsp;-&nbsp;{{classInvitation.END_TIME | date:'shortTime'}}.&nbsp;{{classInvitation.START_TIME | date:'d MMM'}}
                    </span>
                    <span class="invite_stream_heading">
                        Course : {{classInvitation.COURSE_TITLE}}
                    </span>
                   
                </div>

                <div class="live_livementordetail">
                    <span class="live_headingwrapp">{{_postService.decodeURIPostData(classInvitation.STREAM_DESCRIPTION)}}</span>
                    <div class="live_profiledet">
                        <span class="live_imgprofile"><img src="{{classInvitation.PAGE_PROFILE_PHOTO_PATH}}" alt="{{classInvitation.PAGE_TITLE}}"></span>
                        <span class="live_profilehead">{{classInvitation.PAGE_TITLE}}</span>
                        <!-- <span class="live_profilestatus">Approval Pending</span> -->
                    </div>
                    <div class="live_time_wrapper">
                        <span class="live_button" *ngIf="(classInvitation.isRunning != 1) && (classInvitation.STATUS==1)">
                            <span class="live_timewrap">
                                <span class="live_digitwrapp">{{classInvitation.hoursLeft}}</span>
                                <span class="live_wordwrapp">Hrs</span>
                            </span>
                            <span class="live_timewrap">
                                <span class="live_digitwrapp">{{classInvitation.minuteLeft}}</span>
                                <span class="live_wordwrapp">Mins</span>
                            </span>
                            <span class="live_timewrap">
                                <span class="live_digitwrapp">{{classInvitation.secondLeft}}</span>
                                <span class="live_wordwrapp">Secs</span>
                            </span>
                        </span>
                        <button *ngIf="classInvitation.STATUS==1 && classInvitation.timeRemaining > 30" class="button24x7 whiteColorButton fright streambutton" routerLink="/mentorstream/{{classInvitation.CONTENT_UUID}}">Test Stream</button>
                        <button *ngIf="classInvitation.STATUS==1 && !(classInvitation.timeRemaining >= 30) && classInvitation.LIVE_STREAM_STATUS==1" class="button24x7 whiteColorButton fright streambutton" routerLink="/vod-mentorstream/{{classInvitation.CONTENT_UUID}}">VOD Stream</button>
                        <button *ngIf="classInvitation.STATUS==1 && !(classInvitation.timeRemaining >= 30)  && classInvitation.LIVE_STREAM_STATUS==0" class="button24x7 whiteColorButton fright streambutton" routerLink="/mentorstream/{{classInvitation.CONTENT_UUID}}">Start Stream</button>
                        
                        
                        <button  *ngIf="classInvitation.STATUS==0" class="button24x7 whiteColorButton fleft" (click)="updLiveStreamStatus(classInvitation.COURSE_UUID, classInvitation.CONTENT_UUID,i, 2)">Decline</button>
                        <button  *ngIf="classInvitation.STATUS==0" class="button24x7 redColorButton fright" (click)="updLiveStreamStatus(classInvitation.COURSE_UUID, classInvitation.CONTENT_UUID,i, 1)">Accept</button>
                    </div>
                </div>
            </div>
        </perfect-scrollbar>

        <!-- <h6 class="footer_heading" routerLink="/profile/{{this._constantService.getSessionDataBYKey('username')}}/#Invites"> -->
        <h6 class="footer_heading" (click)="viewAll()">
            View all &nbsp; <span><img class="greater" src="assets/images/svg-three/greater.svg" alt="aio"></span>
        </h6>
    </div>

</div>
