<div class="popup" style="position:relative;">
    <div class=" popup_background_view" >
        <div class=" sharescreenpostview share-attachment-post-screen">
            <div class="popup_heading">


              <ul>
                <li (click)="showPost('1')" [ngClass]="{'active': shareLinkPost==1}">
                  <span *ngIf="postdata['EDIT_POST']==false" >Share Post</span>
                  <span *ngIf="postdata['EDIT_POST']">Edit Share Post</span>
                </li>
                <li (click)="showPost('2')"  [ngClass]="{'active': shareLinkPost==2}">Get a link</li>
              </ul>


                <span class="close_div" (click)="sharefileattachmentpostviewhide()">
                    <img class="defaultt" src="assets/images/svg/tagcross.svg">
                    <img class="hoverr" src="assets/images/svg/tagcross-gray.svg">
                </span>
            </div>
            <div class="col-md-12 fleft">
                <div class="row">


                    <div class='post_outer'>

                      <div class="shareLinkContainer" *ngIf="shareLinkPost==2">
                            <div class="shareLink">
                                <!-- <input style='pointer-events: none' id="copySharelinkID" [(ngModel)]="postPublicShareLink" /> -->
                                <input  readonly class="urlget" id="copySharelinkID" [(ngModel)]="postPublicShareLink" />
                                <div style='pointer-events: none;word-break: break-word;'  [innerText]="postPublicShareLink"></div>
                                <span class="copyLinkButton" (click)="postData.copyToClipboard('copySharelinkID')"><img src="assets/images/svg-three/copyicon.svg" alt=""></span>
                            </div>
                            <div class="shareButtonWrapper">
                              <!-- <span class="quora"><img src="assets/images/svg-three/quora.svg" alt=""></span> -->
                              <a class="fb" [href]="socialFbShareUrl" target="_blank"><img src="assets/images/svg-three/facebook-logo.svg" alt=""></a>
                              <a  class="linkedin" [href]="socialLinkedInShareUrl" target="_blank"><img src="assets/images/svg-three/linkedin-logo.svg" alt=""></a>
                              <a  class="twitter" [href]="socialTeitterShareUrl" target="_blank"><img src="assets/images/svg-three/twitter.svg" alt=""></a>
                            </div>
                        </div>

                        <div class='sharedatainput' (focusout)="checkData()" *ngIf="shareLinkPost==1">
                            <input [(ngModel)]="sharedPostText" placeholder="Discuss within your interest." class='sharedatainput' contenteditable="true"  id="shareText" (focus)="onFocusInput()" (paste)="pastedData($event)" style="font-size:16px;">
                                <!-- <span class="placeholder" id="post_placeholder" *ngIf="hidePlaceHolder">Discuss within your interest.</span> -->

                        </div>
                        <div class="profile-and-content">
                            <div class='post_profile'>
                                <span *ngIf="isPagePost"><span class="post_profilepic cursor-pointer"><img src="{{profile_pic_path}}" alt="study24x7 {{user_name |trimData:30}}" (error)="updateSourcePic($event)" routerLink="/page/{{pg_id}}"></span>
                                    <div class="profiledetail">
                                      <div>
                                        <span title="{{full_name}}" class='name cursor-pointer' routerLink='/page/{{pg_id}}'>{{user_name |trimData:30}}</span>
                                       </div>
                                       <div>
                                        <span class="follwer_count">{{followerCount}} followers</span>
                                        <span class="follow_dote"><img src="assets/images/svg-three/post_icon/dote1.svg" alt="study24x7"></span>
                                        <span class="follwer_count">{{time}}</span>
                                        </div>
                                         </div></span>
                                <span *ngIf="!isPagePost"><span class="post_profilepic cursor-pointer"><img src="{{profile_pic_path}}" alt="study24x7 {{full_name |trimData:30}}" (error)="updateSourcePic($event)" routerLink="/profile/{{user_name}}"></span>
                                    <div class="profiledetail">
                                        <span title="{{full_name}}" class='name cursor-pointer' routerLink='/profile/{{user_name}}'>{{full_name |trimData:30}}</span>
                                        <div>
                                        <span class="follwer_count">{{time}}</span>
                                       </div>
                                    </div>
                                </span>
                            </div>
                            <div class='postmain_container' style="float: left;width: 100%;padding: 0px 15px;">
                                <p class="posttext posttextauto" *ngIf="DataView" [innerHTML]="post_data|trimData"></p><a *ngIf="DataView" class="continue-reading"(click)="DataView=!DataView">See more</a>
                                <p class="posttext posttextauto" *ngIf="!DataView" [innerHTML]="post_data"></p>
                            </div>
                            <div class='post_profileContent'>

                                <!-- <div class="uploaded_file">
                                       <div class="documentimg"><img src="assets/images/svg/{{file_type}}.svg"></div>
                                               <div class="postfile_details">
                                                       <div class="postfilename">{{file_name}}

                                                       </div>
                                                       <p class="graytextpost">{{pages}} Pages</p>
                                               </div>
                                       <span class="download_file"><img src="assets/images/svg/download.svg" title="Download file"></span>
                                               <div class="postfile_download">
                                                       <span><img src="assets/images/svg/eye.svg"> Click to preview</span>
                                                       <span>{{download_Count}} Downloads</span>
                                               </div>
                                </div> -->
                                <div class="attached-file-wrap clearfix">
                                    <div class="attached-file-inner-wrap clearfix">

                                        <!-- <div class="doc-img-wrap"><img src="assets/images/svg/{{file_type}}.svg"></div> -->
                                        <div class="doc-img-wrap"><img src="assets/images/svg/{{file_type}}.svg"></div>
                                        <div class="doc-detail-wrap clearfix">
                                            <div class="doc-detail-left-wrap">
                                                <div class="postfilenam" title="{{file_name}}">{{file_name |trimData:40}}</div>
                                                <!-- <p class="graytextpost">{{pages}} Pages</p> -->
                                                <span class="download-count"><span *ngIf="download_Count!=0">{{download_Count}}</span> Downloads</span><!--<span class="file-preview" (click)="openDocumentViewer()">View {{file_type | uppercase}}</span>-->
                                            </div>
                                            <div class="doc-detail-right-wrap">
                                                <span class="download_file"><a href="{{path}}" download="downloaded" > <img src="assets/images/svg/download-doc.svg" title="Download file"></a></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="posttagdiv">
                                    <span class="tags" *ngFor="let tags of tagsArr" [id]='tags'>{{interestObj[tags]}}</span>
                                    <span class="tags wallintereswrapper" *ngIf="showIntArr">
                                        <div class="wallinterestlist">
                                            <div class="arrow-up"></div>
                                            <ul [perfectScrollbar]="config" *ngIf="ltIntShow">
                                                <li  *ngFor="let tag of ltIntShow" [id]='tag'>
                                                    {{interestObj[tag]}}
                                            </li>
                                        </ul>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class='postsave'>
                        <button [disabled]="loader === true"  type="submit" class="confirm_btn popup_btn btn btn-primary red_rds" (click)="sharePost()" *ngIf="postdata['EDIT_POST']==false && shareLinkPost==1" >
                            <span class="text" *ngIf="showText">Share</span>
                            <span class="loader"  ><img src="./assets/images/svg/preloader-25.svg" alt="study24x7" *ngIf="loader"></span></button>
                            <button [disabled]="loader === true"  type="submit" class="confirm_btn popup_btn btn btn-primary gray_rds"  *ngIf="postdata['EDIT_POST'] && shareLinkPost==1" (click)="sharePost()">
                            <span class="text" *ngIf="showText">Update</span><span class="loader"><img src="./assets/images/svg/preloader-25.svg" alt="study24x7" *ngIf="loader"></span></button>
                        <button  type="submit" class="cancel_btn popup_btn gray_rds"  (click)="sharefileattachmentpostviewhide()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div><app-confirmationpopup *ngIf="openConfirmation" (closeComfirmPopupThread)="closePopup($event);" [dataObj]="dataConf"></app-confirmationpopup>
<app-confirmationpopup *ngIf="openConfirmation" (closeComfirmPopupThread)="sessionLogout($event);" [dataObj]="dataConf"></app-confirmationpopup>
