<div class="bgwhite sales-and-marketing">
  <div class=" pd80">
  <div class="container ">

       <div class="main_wrapper">
         <ngx-slick-carousel
    class="carousel carousel_card_scroll carouselRes"
    #slickModal2="slick-carousel"
    [config]="slideConfig"
    (breakpoint)="breakpoint($event)"
    (afterChange)="afterChange($event)"
    (beforeChange)="beforeChange($event)">
    <div ngxSlickItem  class="slide">


          <div class="card_sales_marketing">
              <div class="topup_section">
                <div class="mrktng_text_left">
                    <span>DEPARTMENT BREAKDOWN</span>
                    <h2>Sales & Marketing</h2>
                    <p>Sales & Marketing function ensures that we are focussed on the customer to build efficient, scalable and optimized processes that ensure maximum customer satisfaction and retention.</p>
                </div>
                <div class="mrkting_profile_right">
                   <div class="mrkting_inner">
                       <div class="profile_left_">
                         <img src="assets/images/career/ankit.png" alt="" />
                       </div>
                        <div class="textt_right">
                          <p>Nothing is impossible if you dream day and night about work. With constant efforts, passion and determination anything can be achieved.</p>
                          <span class="name__">ANKIT KHANDELWAL</span>
                          <span class="position__">Vice President, Sales</span>
                        </div>
                   </div>

                </div>

              </div>
              <div class="skill_qualities_sec">
                <p class="main_heding_p">Skills and qualities we look for </p>
                <div class="card_grid">
                  <div class="cardss">
                      <span class="cards_heading">Go Getter Attitude</span>
                      <p class="cards_p">Ability to close that deal, come what may!</p>
                  </div>
                  <div class="cardss">
                      <span class="cards_heading">Customer First</span>
                      <p class="cards_p">Always put the needs of the customer first, even before yours.</p>
                  </div>
                  <div class="cardss">
                      <span class="cards_heading">Resourcefulness</span>
                      <p class="cards_p">Should be a multidimensional problem solver</p>
                  </div>
                  <div class="cardss">
                      <span class="cards_heading">Great communication</span>
                      <p class="cards_p">Both verbal and listening skills, without which it is difficult to cater to client requirements</p>
                  </div>
                  <div class="cardss">
                      <span class="cards_heading">Self Starters</span>
                      <p class="cards_p">Bias for action to solve problems and lead projects.</p>
                  </div>

                </div>

              </div>
          </div>

          </div>

    <div ngxSlickItem  class="slide">


          <div class="card_sales_marketing">
              <div class="topup_section">
                <div class="mrktng_text_left">
                    <span>DEPARTMENT BREAKDOWN</span>
                    <h2>Content & Academics</h2>
                    <p>Content is the heart and soul of an EdTech company like Study24x7. While Product is the vehicle, content is what gives us meaning.</p>
                </div>
                <div class="mrkting_profile_right">
                   <div class="mrkting_inner">
                       <div class="profile_left_">
                         <img src="assets/images/career/atul.png" alt="" />
                       </div>
                        <div class="textt_right">
                          <p> “EdTech has revolutionized learning by making physical boundaries irrelevant. At Study24x7 our endeavour is to make learning accessible, easy and truly round-the-clock”.</p>
                          <span class="name__">ATUL ROY</span>
                          <span class="position__">Project Manager, Academics</span>
                        </div>
                   </div>

                </div>

              </div>
              <div class="skill_qualities_sec">
                <p class="main_heding_p">Skills and qualities we look for </p>
                <div class="card_grid">
                  <div class="cardss">
                      <span class="cards_heading">Attention to Detail</span>
                      <p class="cards_p">You need to be eagle eyed to catch those spelling mistakes!</p>
                  </div>
                  <div class="cardss">
                      <span class="cards_heading">Originality & Creativity</span>
                      <p class="cards_p">To create great content that actually helps the end user.</p>
                  </div>
                  <div class="cardss">
                      <span class="cards_heading">User Understanding</span>
                      <p class="cards_p">And knowledge of Learning Patterns to create content that makes learning fun.</p>
                  </div>
                  <div class="cardss">
                      <span class="cards_heading">Subject Expertise</span>
                      <p class="cards_p">In depth knowledge and understanding of the subject matter</p>
                  </div>
                  <div class="cardss">
                      <span class="cards_heading">Great communication </span>
                      <p class="cards_p">Both written and verbal to put your views across</p>
                  </div>

                </div>

              </div>
          </div>

          </div>
          <div ngxSlickItem  class="slide">


                <div class="card_sales_marketing">
                    <div class="topup_section">
                      <div class="mrktng_text_left">
                          <span>DEPARTMENT BREAKDOWN</span>
                          <h2>Development</h2>
                          <p>If you are a tech wizard who loves machines more than humans,<br>this role is for you.</p>
                      </div>
                      <div class="mrkting_profile_right">
                         <div class="mrkting_inner">
                             <div class="profile_left_">
                               <img src="assets/images/career/nishant.png" alt="" />
                             </div>
                              <div class="textt_right">
                                <p>"EdTech space is very different from working In other industries . It really feels like we are contributing to society , it's less transactional and we are working towards a common good"</p>
                                <span class="name__">NISHANT GUPTA</span>
                                <span class="position__">Project Manager, Development</span>
                              </div>
                         </div>

                      </div>

                    </div>
                    <div class="skill_qualities_sec">
                      <p class="main_heding_p">Skills & Qualities we look for</p>
                      <div class="card_grid">
                        <div class="cardss">
                            <span class="cards_heading">Attention to Detail</span>
                            <p class="cards_p">You need to be eagle eyed to write a flawless code!</p>
                        </div>
                        <div class="cardss">
                            <span class="cards_heading">Logical</span>
                            <p class="cards_p"> Programming is all logic.</p>
                        </div>
                        <div class="cardss">
                            <span class="cards_heading">Functional Proficiency </span>
                            <p class="cards_p">You should be well versed in the area of your expertise.</p>
                        </div>
                        <div class="cardss">
                            <span class="cards_heading">Interpersonal Skills  </span>
                            <p class="cards_p">A team player having ability to work with multiple teams.</p>
                        </div>
                        <div class="cardss">
                            <span class="cards_heading">Resourcefulness </span>
                            <p class="cards_p"> Ability to find creative solutions to difficult problems.</p>
                        </div>

                      </div>

                    </div>
                </div>

                </div>
    <div ngxSlickItem  class="slide">


          <div class="card_sales_marketing">
              <div class="topup_section">
                <div class="mrktng_text_left">
                    <span>DEPARTMENT BREAKDOWN</span>
                    <h2>Product</h2>
                    <p>An interdisciplinary role that has to work with multiple teams to plan, design and continuously bring new features that the user needs.</p>
                </div>
                <div class="mrkting_profile_right">
                   <div class="mrkting_inner">
                       <div class="profile_left_">
                         <img src="assets/images/career/avnit.png" alt="" />
                       </div>
                        <div class="textt_right">
                          <p>In an EdTech startup like Study24x7, there are limitless and engaging challenges to advance the product everyday keeping everyone’s needs in mind.</p>
                          <span class="name__">AVNIT KUMAR</span>
                          <span class="position__">Product Designer</span>
                        </div>
                   </div>
                </div>

              </div>
              <div class="skill_qualities_sec">
                <p class="main_heding_p">Skills and qualities we look for </p>
                <div class="card_grid">
                  <div class="cardss">
                      <span class="cards_heading">Interpersonal Skills</span>
                      <p class="cards_p">Ability to work with multiple teams having different expertise.</p>
                  </div>
                  <div class="cardss">
                      <span class="cards_heading">User Understanding</span>
                      <p class="cards_p">Ability to incorporate user feedback into building great product</p>
                  </div>
                  <div class="cardss">
                      <span class="cards_heading">Great communication</span>
                      <p class="cards_p">Both verbal and listening skills to understand user requirements</p>
                  </div>
                  <div class="cardss">
                      <span class="cards_heading">Ability to Learn</span>
                      <p class="cards_p">To solve new problems it is necessary to update oneself</p>
                  </div>
                  <div class="cardss">
                      <span class="cards_heading">Resourcefulness</span>
                      <p class="cards_p">Ability to find creative solutions to difficult problems</p>
                  </div>

                </div>

              </div>
          </div>

          </div>

        </ngx-slick-carousel>
        <div class="applyFlowSec applyFlowSecFresher containerWeb">
          <div class="hrLine1">
            <div class="bgwh"></div>
          </div>
        <div class="applyFlowIneer">
          <div class="flowStep flowStep1">
            <div class="iconFlowSec1">
              <img src="assets/images/career/apply-management.svg" />
            </div>
            <div class="applyfor1">Recruiting Timeline</div>
            <div class="applyStepDesc1">What happens after you
apply at Study24x7</div>
          </div>

          <div class="flowStep flowStep2">
            <div class="iconFlowSec">
              <img src="assets/images/career/apply-form.svg" />
            </div>
            <div class="applyfor"><span></span></div>
            <div class="applyStepDesc">
              <p>Take the online qualifier test on<p>
            <img style="width: 90px;margin-top: 8px;" src="assets/images/career/exittestLogo1.png" />
            </div>
          </div>
          <div class="flowStep flowStep3">
            <div class="iconFlowSec">
              <img src="assets/images/career/apply-chat.svg" />
            </div>
            <div class="applyfor"><span></span></div>
            <div class="applyStepDesc">In-depth discussion covering topics such as previous work and school experiences</div>
          </div>
          <div class="flowStep flowStep4">
            <div class="iconFlowSec">
              <img src="assets/images/career/management-1.svg" />
            </div>
            <div class="applyfor"><span></span></div>
            <div class="applyStepDesc">In Person interviews for getting to know you better and your fit with the role & our values</div>
          </div>
          <div class="flowStep flowStep5">
            <div class="iconFlowSec">
              <img src="assets/images/career/apply-student.svg" />
            </div>
            <div class="applyfor"><span></span></div>
            <div class="applyStepDesc">Get the Offer! <br>Be a part of our journey</div>
          </div>
         <div class="hrLine"></div>
        </div>

        </div>
        <div class=" containerRes">
    <div class="sec_for_card">
      <div class="card_top">
        <div class="card_left">
          <p>Follow these steps to apply </p>
          <ul class="stepsul">
            <li class="listli list1">Visit <a href="study24x7.com/careers/fresher" target="_blank">study24x7.com/careers/fresher</a></li>
            <li class="listli list2 ">Apply for fresher jobs by Registering on Study24x7
    (Technical or Non-Technical)</li>
            <li class="listli list3">Fill out the application form</li>
            <li class="listli list4">Schedule your Qualifier Test</li>
            <li class="listli list5">Get Interviewed & Hired!</li>
          </ul>
        </div>
        </div>
        </div>
        </div>
       </div>

  </div>
  </div>
</div>
