/* ========================================================================== Common variables ========================================================================== */
/**
*
* DO NOT use these variables directly in components.
* Assign them to component specific variables
*
*/
/* Colors */
/* Border radius */
/* ========================================================================== Browser support ========================================================================== */
/* ========================================================================== Component specific variables ========================================================================== */
/* Typography ========================================================================== */
/* $baseFontFamily: Arial, sans-serif; */
/* $baseSpacing: $baseLineHeight+em; */
/* $baseTextColor: $black; */
/* Type Color */
/* $typeHighlight: $blue;
$typeLowlight: $lightGrey; */
/* Link ========================================================================== */
/* $linkColor: $blue;
$linkHoverColor: $lightBlue; */
/* Background ========================================================================== */
/* $bgBasic: #fff; */
/* Box ========================================================================== */
/* Contour */
/* $boxBasicBorderRadius: $borderRadiusDefault; */
/* Box foot */
/* $boxFootDivider: $blue; */
/* Divider ========================================================================== */
/* $dividerColor: $blue; */
/* List ========================================================================== */
/* $listInlineDividerBorder: $lightGrey;
$listBorder: $lightGrey; */
/* Table ========================================================================== */
/* $tableBorderColor: $blue; */
/* Form ========================================================================== */
/* $labelLeftWidth: 30%;
$formFieldBorder: 1px solid $grey;
$placeholderText: $lightGrey; */
/* Button ========================================================================== */
/* $btnDefaultBg: #ddd;
$btnDefaultBorder: $lightGrey; */
/* Template ========================================================================== */
/* $skipLinkBg: $black;
$bodyBg: #fff;
$pageWidth: 997px; */
/* header */
/* $headerBgStop1: #09456a;
$headerBgStop2: #02587e;
$contentBg: #fff;
$contentWidth: 960px; */
/* footer */
/* $footerBorder: $lightGrey; */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap");
.hrLine1 { opacity: 0.3; border-top: solid 1px #707070; position: absolute; top: -80px; left: 0px; right: 0px; z-index: 0; }

.hrLine1 .bgwh { width: 200px; left: 50%; margin-left: -100px; position: absolute; height: 60px; top: -30px; background-color: #fff; }

.bgwhite { background: #fff; width: 100%; float: left; }

.pd80 { padding: 90px 0px; }

.main_wrapper { width: 100%; float: left; }

.card_sales_marketing { width: 100%; float: left; }

.card_sales_marketing .topup_section { width: 100%; float: left; margin-bottom: 60px; }

.card_sales_marketing .topup_section .mrktng_text_left { width: 60%; float: left; padding-right: 150px; }

.card_sales_marketing .topup_section .mrktng_text_left span { font-family: "Montserrat"; font-size: 14px; font-weight: bold; color: #f05050; }

.card_sales_marketing .topup_section .mrktng_text_left h2 { font-family: "Montserrat"; font-size: 36px; font-weight: bold; color: #000000; margin-top: 15px; }

.card_sales_marketing .topup_section .mrktng_text_left p { font-size: 16px; color: #000000; margin-top: 20px; line-height: 20px; }

.card_sales_marketing .topup_section .mrkting_profile_right { width: 40%; float: left; }

.card_sales_marketing .topup_section .mrkting_profile_right .mrkting_inner { position: relative; width: 100%; float: left; padding-left: 170px; margin-top: 15px; }

.card_sales_marketing .topup_section .mrkting_profile_right .mrkting_inner .profile_left_ { width: 136px; height: 136px; border-radius: 50%; overflow: hidden; background-color: #f05050; position: absolute; top: 0; left: 0; }

.card_sales_marketing .topup_section .mrkting_profile_right .mrkting_inner .profile_left_ img { width: 100%; height: 100%; }

.card_sales_marketing .topup_section .mrkting_profile_right .textt_right p { font-size: 14px; line-height: 20px; color: #000000; margin-bottom: 20px; }

.card_sales_marketing .topup_section .mrkting_profile_right .textt_right .name__ { font-family: "Montserrat"; font-size: 14px; font-weight: bold; color: #f05050; margin-bottom: 5px; display: block; }

.card_sales_marketing .topup_section .mrkting_profile_right .textt_right .position__ { font-size: 14px; color: #000000; display: block; }

.card_sales_marketing .skill_qualities_sec { width: 100%; float: left; /* padding-right: 100px; */ }

.card_sales_marketing .skill_qualities_sec .main_heding_p { font-family: "Montserrat"; font-size: 20px; font-weight: bold; color: #000000; margin-bottom: 30px; }

.card_sales_marketing .skill_qualities_sec .card_grid { width: 100%; float: left; }

.card_sales_marketing .skill_qualities_sec .card_grid .cardss { width: 20%; float: left; padding-right: 30px; }

.card_sales_marketing .skill_qualities_sec .card_grid .cardss .cards_heading { font-family: "Montserrat"; font-size: 14px; font-weight: bold; color: #f05050; margin-bottom: 15px; display: block; }

.card_sales_marketing .skill_qualities_sec .card_grid .cardss .cards_p { font-size: 14px; color: #000000; line-height: 20px; }

.applyFlowSec { margin-top: 160px; position: relative; }

.applyFlowSec .flowStep1:after { content: ''; width: 12px; right: -6px; top: 50%; margin-top: -6px; height: 12px; }

.applyFlowSec .flowStep2, .applyFlowSec .flowStep3, .applyFlowSec .flowStep4, .applyFlowSec .flowStep5 { padding: 0px 10px; }

.applyFlowSec .flowStep2 .applyfor, .applyFlowSec .flowStep3 .applyfor, .applyFlowSec .flowStep4 .applyfor, .applyFlowSec .flowStep5 .applyfor { width: 100%; display: flex; flex-wrap: wrap; align-items: center; justify-content: center; margin-top: 18px; height: 36px; }

.applyFlowSec .flowStep2 .applyfor span, .applyFlowSec .flowStep3 .applyfor span, .applyFlowSec .flowStep4 .applyfor span, .applyFlowSec .flowStep5 .applyfor span { font-family: "Montserrat"; width: 16px; height: 16px; border: 2px solid white; }

.applyFlowSec .flowStep5 .applyfor span { border: 2px solid white; }

.containerWeb { display: block; }

.containerRes { display: none; }

.containerRes .card_top { width: 100%; float: left; margin-bottom: 10px; }

.containerRes .card_top .card_left { width: 100%; float: left; padding: 0px; }

.containerRes .card_top .card_left p { font-family: "Montserrat"; font-size: 18px; font-weight: bold; margin-bottom: 25px; margin-top: 45px; color: #f05050; }

.containerRes .card_top .card_left ul { margin-top: 10px; position: realtive; }

.containerRes .card_top .card_left ul li { font-size: 14px; line-height: 14px; color: #000; margin-top: 8px; padding-left: 30px; position: relative; }

.containerRes .card_top .card_left ul .listli { margin-top: 0px; margin-bottom: 20px; }

.containerRes .card_top .card_left ul .listli:before { content: ''; margin-right: 10px; width: 10px; height: 10px; display: inline-block; margin-top: 2px; background-color: #f05050; color: #fff; position: absolute; left: 0; border-radius: 100%; }

.containerRes .card_top .card_left ul .list1:before { opacity: .5; }

.containerRes .card_top .card_left ul .list2 { position: relative; }

.containerRes .card_top .card_left ul .list2:before { opacity: 1; border: 2px solid #f05050; background-color: #f05050; color: #f05050; width: 10px; height: 10px; left: 1px; top: 5px; z-index: 1; margin-top: 0px; }

.containerRes .card_top .card_left ul .list2:after { content: ''; position: absolute; border: 6px solid rgba(246, 150, 150, 0.5); background-color: rgba(246, 150, 150, 0.5); color: #f05050; width: 20px; height: 20px; left: -3px; border-radius: 100%; opacity: 1; top: 0px; left: -4px; border-radius: 100%; }

.containerRes .card_top .card_left ul.stepsul { position: relative; }

.containerRes .card_top .card_left ul.stepsul:before { content: ''; width: 1px; opacity: 0.2; position: absolute; left: 4.5px; background-color: #707070; top: 11px; bottom: 5px; }

@media only screen and (max-width: 1024px) { .heading_bold { font-size: 32px; } }

@media only screen and (max-width: 920px) { /* .sales-and-marketing {
    display:none;
} */ }

@media only screen and (max-width: 768px) { .card_sales_marketing .topup_section { margin-bottom: 40px; }
  .card_sales_marketing .topup_section .mrktng_text_left { width: 100%; padding-right: 0px; margin-bottom: 30px; }
  .card_sales_marketing .topup_section .mrktng_text_left span { font-size: 14px; padding: 0px 45px; width: 100%; text-align: center; display: block; }
  .card_sales_marketing .topup_section .mrktng_text_left h2 { font-size: 22px; text-align: center; padding: 0px 45px; margin-top: 5px; }
  .card_sales_marketing .topup_section .mrktng_text_left p { font-size: 16px; margin-top: 30px; line-height: 20px; }
  .card_sales_marketing .topup_section .mrkting_profile_right { width: 100%; float: left; }
  .card_sales_marketing .topup_section .mrkting_profile_right .mrkting_inner { padding-left: 120px; margin-top: 15px; }
  .card_sales_marketing .topup_section .mrkting_profile_right .mrkting_inner .profile_left_ { width: 100px; height: 100px; }
  .card_sales_marketing .skill_qualities_sec { width: 100%; float: left; /* padding-right: 100px; */ }
  .card_sales_marketing .skill_qualities_sec .main_heding_p { font-size: 18px; margin-bottom: 20px; }
  .card_sales_marketing .skill_qualities_sec .card_grid .cardss { width: 50%; float: left; padding-right: 2%; margin-bottom: 20px; }
  .card_sales_marketing .skill_qualities_sec .card_grid .cardss .cards_heading { margin-bottom: 10px; }
  .containerWeb { display: none; }
  .containerRes { display: block; float: left; width: 100%; margin-top: 60px; }
  .pd80 { padding: 40px 0px 40px 0px; }
  .heading_bold { font-size: 26px; } }

@media only screen and (max-width: 480px) { .card_sales_marketing .topup_section .mrktng_text_left span { font-size: 12px; }
  .card_sales_marketing .topup_section .mrktng_text_left h2 { font-size: 18px; margin-top: 5px; }
  .card_sales_marketing .topup_section .mrktng_text_left p { font-size: 14px; }
  .card_sales_marketing .topup_section .mrkting_profile_right { width: 100%; float: left; }
  .card_sales_marketing .topup_section .mrkting_profile_right .mrkting_inner { padding-left: 80px; margin-top: 0px; }
  .card_sales_marketing .topup_section .mrkting_profile_right .mrkting_inner .profile_left_ { width: 60px; height: 60px; }
  .card_sales_marketing .skill_qualities_sec { width: 100%; float: left; /* padding-right: 100px; */ }
  .card_sales_marketing .skill_qualities_sec .main_heding_p { font-size: 16px; margin-bottom: 20px; }
  .card_sales_marketing .skill_qualities_sec .card_grid .cardss { width: 100%; padding-right: 0%; }
  .card_sales_marketing .skill_qualities_sec .card_grid .cardss .cards_heading { margin-bottom: 10px; }
  .containerRes { margin-top: 0px; }
  .containerRes .card_top .card_left ul li { font-size: 14px; padding-left: 30px; line-height: 18px; margin-bottom: 15px; }
  .containerRes .card_top .card_left p { font-size: 18px; margin-bottom: 20px; margin-top: 20px; } }
