<app-header (sessionLogout)="sessionExpire($event)"></app-header>

<div class="main_container  hide767">
    <div class="headertoolbar">
        <div class="headerInner">
            <ul class="item_right">
                <li *ngIf="!isSavedTimer" (click)="createUpdtArticle()" class="s_draft">Save Draft</li>
                <li *ngIf="isSavedTimer" style="cursor:default" class="s_draft">Saved</li>
                <li *ngIf="!isPublishing" (click)="publishArticle()" class="pub_btn"><button [ngClass]="{'active': isSavedArticle}">Publish</button></li>
                <li *ngIf="isPublishing" class="pub_btn"><button style="width: auto !important" [ngClass]="{'active': isSavedArticle}">Publishing...</button></li>
                <!-- <li *ngIf="isPublishedTimer" class="pub_btn" style="width: auto;"><button class="active">Published</button></li> -->
                <li class="three_icon"><span (click)="optionList()"><img src="assets/images/svg-three/page_icon/dot_menu_white.svg" alt=""></span>
                    <span class="publish_drpdwn" *ngIf="optionDrpdwn" (mouseleave)="optionList()">
                        <span routerLink="/article/myarticle">Published Articles</span>
                    <span routerLink="/article/myarticle/draft">Draft</span>
                    </span>
                </li>
            </ul>
        </div>
    </div>

    <div class="container_article">
        <div class="article_banner" [ngClass]="{'coverimghight' : coverPath }">
            <div *ngIf="coverPath" class="coverpathimg">
                <div class="bannerinn"><img class="banner_img" src="{{coverPath}}" alt=""></div>
                <span (click)="removeCoverImageFile()" class="delete_img"><img src="assets/images/article/remove.svg" alt="">Remove</span>
            </div>

            <div class="emptystate" *ngIf="!coverPath">
                <label for="CoverUpload" class="emptyinn">
                  <div class="emptyimg">
                    <img src="assets/images/article/emptyarticle.svg" alt="">
                    <span>Upload Cover Image</span>
                    </div>
                </label>
                <input type="file" class="post_image" id="CoverUpload" (change)='addCoverImageFile($event,1)' accept="image/*">
            </div>
        </div>

        <div class="input_article">
            <div class="inner_input">
                <!-- <div class="title_arti"><h2>Article Headline</h2></div> -->
                <div class="title_arti">
                    <textarea [(ngModel)]="artHeadline" dir="ltr" rows="1" placeholder="Article Headline" maxlength="150" id="ember79" class="ember-text-area post-headline ember-view" (keydown)="textAreaAdjust($event)" (keyup)="textAreaAdjust($event)"></textarea>
                </div>
                <div class="interest_article">
                    <!--------------- <div class="addtags quesaddtag wallint" id="posttags">
                      <span class="taginput interestclr" id="tags" style="left:0px;top:-1px;position:relative;"> + interest</span>
                      <span id="tag_1" class="tags remTag">SSC<img src="assets/images/svg/tagcross.svg" id="remove_1"></span>
                    </div> ---------->
                    <div *ngIf="!showglow" class="addtags quesaddtag wallint" id="posttags" [ngClass]="{'afterdropdown': showInterestm,'heightauto':morewallint}" #interest>
                        <span *ngIf="!hideAddIntrest">
                            <span class='taginput interestclr'  id='tags' (click)="shwwalltags()" style="left:0px;top:-1px;position:relative;"> + interest
                                <!-- <span *ngIf="shwwallshowInterest"   class="drpdwn_post drpdwn_tag list_tag "  id="interest_tags" > -->
                                <span *ngIf="shwwallshowInterest" (mouseleave)="hidealltags()"   class="drpdwn_post drpdwn_tag list_tag "  id="interest_tags" style="height:250px;">
                                    <ul [perfectScrollbar]="config">
                                        <ng-container *ngFor="let tags of user_interest">
                                            <li _ngcontent-c1="" *ngIf="tags.STATUS" (click)="hidealltags(); addTags(tags.INTEREST_ID,tags.INTEREST_NAME);"  [id]='tags.INTEREST_ID' >{{tags.INTEREST_NAME}}</li>
                                        </ng-container>
                                    </ul>
                                </span>
                        </span>
                        </span>
                    </div>
                </div>
                <div style="height: 100%;min-height: 230px;" id="editor" #editor class="input_ffld"></div>
            </div>
        </div>
    </div>
</div>

<app-confirmationpopup *ngIf="isConfirmPopup" (closeComfirmPopupThread)="this.isConfirmPopup = false" [dataObj]="alertMsg"></app-confirmationpopup>
<div class="show-767">
    <div class="popup_main " style="width: 300px;margin: auto;height: 180px;">
        <div class="col-md-12 " style="padding:0px;">
            <div class="post_outer report_popup">
                <div class="post_profile" style="font-size: 22px;line-height: 30px;text-align: center;">
                    <p>Please go to web to create article</p>
                </div>
                <div class="post_profile footer_wrap_profile" style="margin-top: 15px;text-align: center;">
                    <button class="button24x7 redColorButton fright" routerLink="/home" style="float: none;line-height: 30px;font-size: 14px;" type="submit">Go to Home Page</button>
                </div>

            </div>
        </div>
    </div>
</div>