<div class="widgetpage_outer ">
  <h6 class="widgetheading">
   Create Course
  </h6>

  <div class='pageinfo'>
    <div class="s_page_desp c_page_desp">
      <div class="course_details">
        <div class="text-center">
          <img style="width:80px;margin: 10px 10px;" src="assets/images/svg-three/emptyimage.svg">
        </div>
        <h3>Create Course</h3>
        <h6>Create your own course</h6>
        <h6>containing interactive study content</h6>
      </div>
      <button  class="create_course"  [routerLink]="['/addcourse']">Create</button>
    </div>
  </div>
</div>
