.mobile_menu { padding: 0px; max-width: 767px; width: 100%; }

.mobile_menu .mmenu_wrapper .main_wrpp_inner { background: #fff; margin-bottom: 20px; float: left !important; width: 100%; }

.mobile_menu .mmenu_wrapper .main_wrpp { padding: 0 0px 0px 15px; width: 100%; margin-top: 5px; float: left; }

.mobile_menu .mmenu_wrapper .main_wrpp .mmenu_list_wrap { width: 100%; float: left; position: relative; }

.mobile_menu .mmenu_wrapper .main_wrpp .mmenu_list_wrap:hover { color: #2c2e2f; }

.mobile_menu .mmenu_wrapper .main_wrpp .mmenu_list_wrap .list_icon_wrrp { float: left; position: absolute; top: 10px; left: 0; }

.mobile_menu .mmenu_wrapper .main_wrpp .mmenu_list_wrap .list_icon_wrrp .circle_wrap { width: 32px; height: 32px; border-radius: 50%; background: rgba(44, 46, 47, 0.1); float: left; display: flex; justify-content: center; }

.mobile_menu .mmenu_wrapper .main_wrpp .mmenu_list_wrap .list_icon_wrrp .circle_wrap .circle_icon { width: 16px; text-align: center; float: left; margin: auto; }

.mobile_menu .mmenu_wrapper .main_wrpp .mmenu_list_wrap .list_icon_wrrp .circle_wrap .circle_icon img { width: 100%; }

.mmenu_list_wrap { cursor: pointer; padding: 0 0px 0 55px; }

.mmenu_list_wrap .list_content { float: left; width: 100%; border-bottom: 1px solid rgba(44, 46, 47, 0.1); padding: 0 50px 0 0; }

.mmenu_list_wrap .list_content .mmenu_option span { font-size: 14px; line-height: 52px; text-transform: capitalize; }

.mmenu_list_wrap .list_right_icon { width: auto; position: absolute; top: 16px; right: 8px; font-size: 16px; cursor: pointer; }

.mmenu_list_wrap .list_right_icon span { width: 25px; color: rgba(44, 46, 47, 0.8); }

.heading_strip { width: 100%; float: left; text-align: left; padding: 15px; border-bottom: 1px solid rgba(44, 46, 47, 0.1); margin-top: 10px; }

.heading_strip p { font-size: 16px; font-weight: 400; text-transform: uppercase; }

.toggle_notification { width: auto; position: absolute; right: 20px; top: 15px; }

.toggle_notification .switch { position: relative; display: inline-block; width: 50px; height: 18px; }

.toggle_notification .switch input { opacity: 0; width: 0; height: 0; }

.toggle_notification .switch input:checked + .slider { background-color: #2196F3; }

.toggle_notification .switch input:focus + .slider { box-shadow: 0 0 1px #2196F3; }

.toggle_notification .switch input:checked + .slider:before { -webkit-transform: translateX(26px); -ms-transform: translateX(26px); transform: translateX(26px); }

.toggle_notification .switch .slider.round { border-radius: 34px; }

.toggle_notification .switch .slider.round:before { border-radius: 50%; }

.toggle_notification .switch .slider { position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: #ccc; -webkit-transition: .4s; transition: .4s; }

.toggle_notification .switch .slider:before { position: absolute; content: ""; height: 28px; width: 28px; left: -1px; bottom: -5px; background-color: #f0f0f0; transition: .4s; }

@media screen and (max-width: 767px) { .mobile_menu { padding: 0px 15px; } }
