$textcolor:#2c2e2f;
$menuwidth:300px;
.accordion{
  .card{
    border: none;
  }
.card-header.card-header-cntr{
  padding: 0px;

background-color: #fff;
border-bottom: 0px solid rgba(0,0,0,.125);

}
.card-body{
  padding: 0px;
}
}
.profileright{
  width: 9px;
top: 4px;
color: rgba(44, 46, 47, 0.8);
font-size: 12px;
  &:before{
    color: rgba(44, 46, 47, 0.8);
    font-size: 12px;
  }
}
.profileouter{
  height: 142px;
  position: absolute;
  top: 0px;
  left: 0px;
  right:0px;
  border-bottom: 1px solid rgba(44, 46, 47, 0.1);
  padding: 25px 20px 15px 20px;
  .top_main{
    float: left;
width: 100%;height: 68px;
position: relative;
.profile{position: absolute;
left: 0px;
width: 45px;
height: 45px;
overflow: hidden;
border-radius: 100%;
  img{
    width: 100%;
  }
}
  }
  .basicdetails{
    float: left;
    width: 100%;
    padding-left: 58px;
    padding-right: 10px;
    p{
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 8px;
    }
    .username.editprofile{
      color: #8c8c8c;font-size: 14px;margin-bottom: 0px;
      font-weight: 400;
    }
  }
  .profile_desc{
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-right: 2px;
    height: 32px;
    .lftconnection {
    width: 74px;
    padding: 0px;
    cursor: pointer;
}
.middlefollowers{
    width: 80px;padding: 0px;
    margin-left: 18px;
    cursor: pointer;
}
.rightfollowing {
    width: 58px;padding: 0px;
    float: right;
    cursor: pointer;
}
    p{font-size: 13px;}
    .count.cnt_top{
      font-weight: 500;margin-bottom: 4px;}
    .countname{
      color: rgba(44, 46, 47, 0.4);
    }
}
}

.scrollSec{
  position: absolute;
top: 145px;
left: 0px;
right:0px;
bottom: 104px;
.scrollSecInner{
  float:left;width:100%;height: 100%;overflow-y: auto;
  padding: 8px 0px;
}
}
.bottomfixed{
  position: absolute;
height:104px;
left: 0px;
right: 0px;
bottom: 0px;
.educatorSec{
  float: left;
  width: 100%;
  height: 105px;position: relative;
  background-image: url('/assets/images/rectangle_12.png');
  position: relative;
.educatordesp{
  position: absolute;
bottom: 24px;
left: 20px;cursor: pointer;
  p{
    background-image: url("/assets/images/leftmenu/rightarrow-red.svg");
color: #ff4747;
background-repeat: no-repeat;
background-position: right;
display: inline-block;
padding-right: 15px;
margin-bottom: 5px;
  }
  span{
    float: left;
    width: 100%;
    font-size: 12px;
    color: #515151;
  }
}



  .eductorDefautImg{
    background-image: url('/assets/images/mask_group_12.png');
    width: 95px;
height: 105px;
display: block;
background-size: 100% 100%;
position: absolute;
right: 20px;
bottom: 0px;
  }

}
}

.mobile_menu{
padding: 0px;
  max-width:767px;
  width:100%;
  height: 100%;
   .mmenu_wrapper{
    .main_wrpp_inner{ background: #fff;margin-bottom: 0px;position: absolute;padding: 0px 5px;
         float: left !important;
         top: 0px;
bottom: 0px;height: 100%;
left: 0px;
width: 100%;

       }
    .main_wrpp{
      padding: 0 0px 0px 16px;
      width: 100%;
      margin-top: 5px;
        float: left;}
      }
      .mmenu_list_wrap{
        width: 100%;
        float: left;
        position: relative;
         &:hover{
           color: #2c2e2f;
         }
        .list_icon_wrrp{
          float:left;
          position: absolute;
          top: 7px;
          left: 0;
          .circle_wrap{
            width: 32px;
            height: 32px;
            border-radius: 50%;
            // background: rgba($textcolor, .1);
            float: left;
            display: flex;
            justify-content: center;
            .circle_icon{
              width:16px;
              text-align: center;
              float: left;
              margin: auto;
              height: 16px;
              background-size: 100% 100%;
              img{
                width:100%;
              }

            }
            .mypoint{  background-image: url(./../../../assets/images/sprite/leftmenu.svg#mypointgray);}
            .leaderboard{  background-image: url(./../../../assets/images/sprite/leftmenu.svg#shield);}
          }
        }
      }

  }
  .mmenu_list_wrap{
    cursor: pointer;
  padding: 0 0px 0 45px;
    .list_content{
      float: left;
      width: 100%;
      // border-bottom: 1px solid rgba($textcolor, .1);
      padding: 0 50px 0 0;
      .mmenu_option{
        span{
          font-size: 14px;
          line-height: 50px;
          text-transform: capitalize;

        }
      }
    }
  }
  .card-body{padding-left: 17px;
  .mmenu_list_wrap{

  }
}
//   .btn.btn-link{width: 100%;
// text-align: left;
// color: #2c2e2f;
//
//
// }
.btn.btn-link.collapsed{
  .mmenu_list_wrap{
  .list_right_icon{

    img{
      transform: rotate(0deg);transition: 0.3s;
    }
  }
}
}
.btn.btn-link{width: 100%;
text-align: left;transition: 0.3s;
color: #2c2e2f;background-color: transparent;
border: none;
.mmenu_list_wrap{
  .list_right_icon{
    img{
      transform: rotate(90deg);transition: 0.3s;
    }
  }
}
}



.mmenu_list_wrap{
  .list_right_icon{
    width:auto;
    position: absolute;
    top: 16px;
    right: 4px;
    font-size: 12px;
    cursor: pointer;
    span{
      width:15px;top: -2px;
      color: rgba($textcolor, .8);

    }
    // img{
    //   transform: rotate(180deg);transition: 0.3s;
    // }
  }

}
.heading_strip{
  width: 100%;
  float: left;
  text-align: left;
  padding: 20px 27px 10px 27px;
  border-top: 1px solid rgba(44, 46, 47, 0.1);
  margin-top: 10px;
  p{
    font-size: 14px;
    font-weight: 500;

  }
}
.toggle_notification{
  width: auto;
position: absolute;
right: 20px;
top: 15px;
  .switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 18px;
  input {
    opacity: 0;
    width: 0;
    height: 0;
    &:checked + .slider {
      background-color: #2196F3;
    }
    &:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }
    &:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
  }
  .slider.round {
    border-radius: 34px;
    &:before {
      border-radius: 50%;
    }
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    &:before {
      position: absolute;
      content: "";
      height: 28px;
      width: 28px;
      left: -1px;
      bottom: -5px;
      background-color: #f0f0f0;
      transition: .4s;
    }
  }
}
}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}
@media screen and (max-width: 767px) {
  .mobile_menu{
      padding: 0px 15px;

  }
}
// @media screen and (max-width: 767px) {
// .mobile_menu{
//   margin:0px 0px 40px 0px;
//   max-width:767px;
//   width:100%;
//
//   }
// }
