$textcolor : #2c2e2f;
.sidemenu {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 12;
  top: 0;
  left: 0;
  background-color:#ffffff;
  transition: 0.3s;
  display: block;
  bottom: 0px;
  // overflow-y: auto;
  .innersidemenu{
    width: 100%;
    float: left;
    height: 100%;
    position: relative;}
  }
  .sidemenu.openfilter {
    width: 300px;
    transition: 0.3s;
}

.menuslidedarkbg{
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}












@media only screen and (max-width:992px){
.open_left{display: block;}
}
@media only screen and (max-width:600px){
	.search_wrapp{
		padding:0;
	}
	.people-wrap{
		border-radius: 0 !important;
	}
	.search-result-outer-wrap{
	 .search-tab-wrap ul, .search-result-inner-wrap .post-wrap{
		border-radius: 0;
		}
	}
	.tabinnerwrap{
		border-radius: 0 !important;
	}
}
@media only screen and (max-width:767px) and (min-width:601px){
  .center_feed{
	max-width: 600px;
  }
}
