.profile_body .margintop {
  margin-top: 15px;
}

.page_profile_bar {
  height: 52px;
  line-height: 52px;
}

.page_profile_bar li {
  position: relative;
}

.page_profile_bar li .count {
  display: inline-block;
  height: 16px;
  width: 16px;
  line-height: 16px;
  border-radius: 50%;
  background: #ed6568;
  color: #fff;
  margin-left: 5px;
  font-size: 9px;
  text-align: center;
  font-family: 'Roboto';
  font-weight: 500;
}

.page_profile_bar .profile_btn {
  line-height: 1 !important;
  margin: 10px 15px 0px 0px;
  color: rgba(44, 46, 47, 0.7);
}

.page_profile_bar .btn.btn-primary {
  color: #fff;
}

.page_profile_bar .page_bar_right {
  float: right;
}

.page_profile_bar .page_bar_right .pagesetting {
  width: auto;
  display: none;
  float: right;
  margin: 12px 15px;
}

.page_profile_bar .page_bar_right .pagesetting .greyimg {
  display: block;
  cursor: pointer;
}

.page_profile_bar .page_bar_right .pagesetting .hoverimg {
  display: none;
}

.page_profile_bar .page_bar_right .pagesetting:hover .greyimg {
  display: none;
}

.page_profile_bar .page_bar_right .pagesetting:hover .hoverimg {
  display: block;
  cursor: pointer;
}

.page_profile_bar .page_details {
  float: left;
  width: auto;
}

.page_profile_bar .page_details li {
  float: left;
  display: inline-block;
  padding: 10px 35px 10px 15px;
}

.page_profile_bar .page_details li label {
  color: #F05050;
  font-size: 15px;
  float: left;
  width: 100%;
  line-height: 14px;
  text-align: center;
  margin-bottom: 4;
}

.page_profile_bar .page_details li span {
  width: 100%;
  text-align: center;
  display: block;
  line-height: 14px;
  font-size: 15px;
  color: rgba(44, 46, 47, 0.7);
}

.leftmenulist {
  border-radius: 5px !important;
}

.leftmenulist ul {
  width: 100%;
  border-radius: 5px !important;
  float: left;
  background-color: #fff;
  padding: 5px 0px;
}

.leftmenulist ul li {
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
  padding: 6px 15px;
  color: rgba(44, 46, 47, 0.7);
  line-height: 22px;
  border-left: 2px solid transparent;
  cursor: pointer;
}

.leftmenulist ul li .leftmenuicon {
  margin-right: 15px;
  display: inline-block;
  width: 20px;
  float: left;
  text-align: left;
}

.leftmenulist ul li .defaultt {
  display: inline;
}

.leftmenulist ul li .hover {
  display: none;
}

.leftmenulist ul li:hover {
  background: #f5f7fa;
  color: #F05050;
}

.leftmenulist ul li:hover img.defaultt {
  display: none;
}

.leftmenulist ul li:hover img.hover {
  display: inline;
}

.leftmenulist ul li.active {
  border-left: 2px solid #F05050;
  background: #f5f7fa;
  color: #F05050;
}

.leftmenulist ul li.active img.defaultt {
  display: none;
}

.leftmenulist ul li.active img.hover {
  display: inline;
}

.prfmargintop {
  margin-top: 15px !important;
}

.coverphoto .profile_Detail {
  margin-bottom: 15px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.05) !important;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.05) !important;
}

.coverphoto .profile_Detail .profile_picture {
  border: 8px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  width: 160px;
  height: 160px;
}

.coverphoto .profile_Detail .profile_name {
  margin: 10px 0 0px 0px;
  font-size: 18px;
}

.coverphoto .profile_picture .coverprofile {
  width: 40px;
  height: 40px;
}

.coverphoto .profile_picture .usruplimg img {
  margin-left: 0px;
  margin-top: 10px;
  width: 20px !important;
}

.leftmenuicon .about_img {
  height: 20px !important;
}

.row_wrap_outer {
  width: 100%;
  float: left;
}

.row_wrap_outer .heading_outer_wrap {
  position: fixed;
  width: 278px;
  padding: 5px 0;
  background-color: white;
  border-radius: 5px;
}

.row_wrap_outer .col-outer_wrapper {
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  float: right;
}

.row_wrap_outer .faqwrapper {
  float: left;
  width: 100%;
  background-color: #fff;
  padding: 25px 15px;
  -webkit-box-shadow: none;
          box-shadow: none;
  min-height: 630px;
  border-radius: 5px;
}

.row_wrap_outer .faqwrapper h3 {
  font-size: 26px;
  font-weight: 500;
  text-align: left;
  margin: 15px 0 0 20px;
}

.row_wrap_outer .faqwrapper h4 {
  font-weight: 500;
  font-size: 20px;
  margin: 40px 0 20px 20px;
  float: left;
}

.row_wrap_outer .faqwrapper .dropdownwrapper {
  border-bottom: 1px solid #e9e9e9;
  margin: 0px 20px 0 20px;
  display: inline-block;
  float: left;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.row_wrap_outer .faqwrapper .dropdownwrapper .dropdownhead {
  float: left;
  width: 100%;
  position: relative;
}

.row_wrap_outer .faqwrapper .dropdownwrapper .dropdownhead span {
  position: absolute;
  right: 0px;
  top: 12px;
}

.row_wrap_outer .faqwrapper .dropdownwrapper .dropdownhead span img {
  width: 14px;
}

.row_wrap_outer .faqwrapper .dropdownwrapper .dropdownhead h3 {
  color: #2c2e2f;
  font-size: 14px;
  margin: 0px;
  font-size: 16px;
  padding: 10px 0px;
  cursor: pointer;
}

.row_wrap_outer .faqwrapper .dropdownwrapper .dropdownhead h3:hover {
  text-decoration: underline;
}

.row_wrap_outer .faqwrapper .dropdownwrapper .dropdowncontainer {
  float: left;
  width: 100%;
}

.row_wrap_outer .faqwrapper .dropdownwrapper .dropdowncontainer .dropdoencontenthead {
  background: #eefafd;
  border-radius: 3px;
  margin: 16px 0;
  padding: 24px;
  float: left;
}

.row_wrap_outer .faqwrapper .dropdownwrapper .dropdowncontainer .dropdoencontenthead P {
  color: #444950;
  font-size: 18px;
  line-height: 24px;
  margin: 0px;
}

.row_wrap_outer .faqwrapper .dropdownwrapper .dropdowncontainer p {
  float: left;
  width: 100%;
  color: #2c2e2f;
  margin: 0px 0 16px 0px;
  line-height: 24px;
  font-size: 14px;
}

.row_wrap_outer .faqwrapper .dropdownwrapper .dropdowncontainer ul {
  float: left;
  width: 100%;
  list-style-type: disc !important;
}

.row_wrap_outer .faqwrapper .dropdownwrapper .dropdowncontainer ul li {
  float: left;
  width: 100%;
  color: #2c2e2f;
  margin: 0px 0 16px 0px;
  line-height: 24px;
  font-size: 14px;
}

.row_wrap_outer .faqwrapper .showdropdown {
  overflow: hidden;
  height: 40px;
}

.panel-group .left_side_wrap {
  border-radius: 0 !important;
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.panel-group .left_side_wrap .panel_trans {
  -webkit-transition: none !important;
  transition: none !important;
}

.panel-group .left_side_wrap .body_wrap {
  padding: 10px 10px 10px 20px;
  border-top: none;
}

.panel-group .left_side_wrap .panel-heading.active {
  border-left: 2px solid #F05050;
  color: #F05050;
}

.panel-group .left_side_wrap .panel-heading {
  background-color: white;
  border-left: 3px solid transparent;
  border-radius: 0;
  font-size: 14px;
  font-weight: bold;
}

.panel-group .left_side_wrap .panel-heading h4 {
  font-weight: bold;
  font-size: 14px;
}

.panel-group .left_side_wrap + .left_side_wrap {
  margin-top: 0px !important;
}

.privacy_wrap_left_heading ol {
  list-style: none;
  width: 100%;
  float: left;
}

.privacy_wrap_left_heading ol li.active {
  border-left: 2px solid #f05050;
}

.privacy_wrap_left_heading ol li.active span {
  color: #f05050;
}

.privacy_wrap_left_heading ol li.active p {
  color: #f05050;
}

.privacy_wrap_left_heading ol li {
  clear: both;
  width: 100%;
  float: left;
  cursor: pointer;
  padding-left: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
  border-left: 2px solid transparent;
  font-size: 12px;
}

.privacy_wrap_left_heading ol li span {
  display: block;
  float: left;
  line-height: 18px;
}

.privacy_wrap_left_heading ol li p {
  float: left;
  width: 88%;
  margin: 0;
  line-height: 18px;
}

.privacy_wrap_left_heading ol li:hover {
  border-left: 2px solid #f05050;
}

.privacy_wrap_left_heading ol li:hover span {
  color: #f05050;
}

.privacy_wrap_left_heading ol li:hover p {
  color: #f05050;
}

.privacy_content {
  padding: 25px 15px !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.privacy_content .privacy_heading {
  font-size: 26px;
  font-weight: 500;
  text-align: left;
  margin: 15px 0 0 20px;
}

.privacy_content .privacy_wrap {
  width: 100%;
  float: left;
  text-align: justify;
}

.privacy_content .privacy_wrap .outer_ol_new {
  margin-top: 110px !important;
}

.privacy_content .privacy_wrap .outer_ol {
  margin-left: 0;
}

.privacy_content .privacy_wrap ol {
  list-style: none;
  margin-left: 20px;
  width: 98%;
  float: left;
}

.privacy_content .privacy_wrap ol li {
  clear: both;
  width: 100%;
  float: left;
  margin-bottom: 16px;
}

.privacy_content .privacy_wrap ol li:last-child {
  margin-bottom: 0;
}

.privacy_content .privacy_wrap ol li .heading_wrap_in {
  font-weight: 500;
  font-size: 20px;
  margin: 40px 0 20px 20px;
}

.privacy_content .privacy_wrap ol li span {
  display: block;
  float: left;
  line-height: 24px;
  margin-right: 10px;
}

.privacy_content .privacy_wrap ol li p {
  float: left;
  width: 94%;
  margin: 0;
  line-height: 24px;
}

.active_icon {
  cursor: pointer;
  -webkit-user-select: none;
}

.active_icon .icon_up {
  float: right;
  display: inline-block;
  font-size: 10px;
  cursor: pointer;
  color: #2c2e2f;
}

.active_icon .icon_down {
  float: right;
  display: none;
  font-size: 10px;
  cursor: pointer;
  color: #2c2e2f;
}

.active_icon.collapsed .icon_up {
  display: none;
  float: right;
}

.active_icon.collapsed .icon_down {
  display: inline-block;
  float: right;
}

.mobview {
  display: none;
}

.mobview .panel-body li {
  float: left;
}

.mobview .panel-body li span {
  display: block;
  float: left;
  line-height: 24px;
  margin-right: 10px;
}

.mobview .panel-body li p {
  float: left;
  width: 94%;
  margin: 0;
  line-height: 24px;
}

.mobview .panel-body li li {
  width: 100%;
  padding-left: 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.arrow {
  background-image: url("./../../../assets/images/svg-three/add_post/downarrow.svg");
  background-size: 11px 11px;
  background-repeat: no-repeat;
  background-position: 96% 50%;
}

.main-header .logo_header {
  position: relative !important;
  top: -5px !important;
}

.mob_wrapper {
  margin-top: 70px;
  display: none;
}

.mob_wrapper .mob_header {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-size: 16px;
  font-weight: 500;
  background-image: url("./../../../assets/images/svg-three/add_post/downarrow.svg");
  background-size: 11px 11px;
  background-repeat: no-repeat;
  background-position: 96% 50%;
  cursor: pointer;
}

.mob_wrapper .main_head {
  font-weight: 500;
  font-size: 16px;
}

.mob_wrapper .mob_list {
  border-top: 1px solid #ddd;
  background: #fff;
  overflow: hidden;
  height: 0px;
}

.mob_wrapper .mob_list .mob_list_container .header {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 15px;
  font-size: 14px;
  cursor: pointer;
  background-image: url("./../../../assets/images/svg-three/add_post/downarrow.svg");
  background-size: 11px 11px;
  background-repeat: no-repeat;
  background-position: 96% 50%;
}

.mob_wrapper .mob_list .mob_list_container .container {
  border-top: 1px solid #ddd;
  background: #fff;
  overflow: hidden;
  height: 0px;
  -webkit-transition: height .2s;
  transition: height .2s;
}

.mob_wrapper .mob_list .mob_list_container .container li {
  padding-top: 10px;
  padding-bottom: 10px;
}

.mob_wrapper .mob_list .mob_list_container .container li ol li {
  padding-top: 0px;
  padding-bottom: 0px;
}

.mob_wrapper .mob_list .mob_list_container .container li ol li span {
  display: block;
  float: left;
  line-height: 24px;
  margin-right: 10px;
  width: 20px;
}

.mob_wrapper .mob_list .mob_list_container .container li ol li p {
  float: left;
  width: calc(100% - 30px);
  margin: 0;
  line-height: 24px;
}

.mob_wrapper .mob_list .mob_list_container .container li ol li ol {
  float: left;
  width: 100%;
  padding-left: 30px;
}

.mob_wrapper .mob_list .mob_list_container .container li ol li ol span {
  float: left;
}

.mob_wrapper .mob_list .mob_list_container .container li ol li ol li {
  float: left;
  width: 100%;
}

.mob_wrapper .mob_list .mob_list_container .container li ol li {
  float: left;
  width: 100%;
}

.remove_height {
  height: 0px;
}

.add_height {
  height: auto !important;
}

.add_sub_height {
  height: auto !important;
}

@media only screen and (max-width: 991px) {
  .privacy_content {
    padding: 25px 0 !important;
  }
  .privacy_content .privacy_wrap ol li p {
    width: 88%;
  }
  .menuwrapper {
    display: none;
  }
  .col-outer_wrapper {
    margin: auto;
    float: none !important;
  }
  .web_view {
    display: none;
  }
  .mob_wrapper {
    display: block;
  }
  .mob_wrapper {
    margin-top: 67px;
  }
}

@media only screen and (max-width: 600px) {
  .col-outer_wrapper {
    padding: 0 !important;
  }
}
/*# sourceMappingURL=privacy.component.css.map */