<div class="test_highlights inner_wrapp inner-left-right_padding course_to_help">
  <h2 class="heading_bold heading_bold_res">Courses to help you get close to scholarship</h2>
  <div class="sc_card_wrapp">
    <ngx-slick-carousel
      class="carousel carousel_card_scroll"
      #slickModal2="slick-carousel"
      [config]="slideConfig"
      (breakpoint)="breakpoint($event)"
      (afterChange)="afterChange($event)"
      (beforeChange)="beforeChange($event)">
      <div ngxSlickItem *ngFor="let i of items" class="slide">
        <div class="sc_card_upper">
        <div class="sc_cards">
          <div class="sc_banner">
            <img src="https://s3.ap-south-1.amazonaws.com/247-cors-staging/cover/a99d71a0-3cac-11e9-9ffb-a9c065821767_1235x330.png" alt="">
            <span class="sc_profile"><img src="https://s3.ap-south-1.amazonaws.com/247-page-staging/profile/05c85860-cef7-11e8-94db-993ad846c79c_120x120.png" alt=""></span>
          </div>
          <div class="sc_content_wrap">
            <p>Class 5-12 | All Subjects | 24*7 Doubts on Chat & Online Videos</p>
            <span>by TOPPR</span>
          </div>
        </div>
      </div>
      </div>
    </ngx-slick-carousel>

  </div>
</div>
