<div class='post_outer shared-img-post-comp shared-post'>
    <div class='post_profile postshared_profile'>
        <!-- <span class="post_profilepic"><img src="{{profile_pic_path}}" routerLink='/profile/{{user_name}}' (error)="updateSourcePic($event)"></span> -->
        <span class="post_profilepic shared-icon"><img src="assets/images/svg-three/post_icon/share.svg"></span>

        <div class="profiledetail">
            <div *ngIf="!isPagePost">
                <span title="{{full_name}}" class='name cursor-pointer' routerLink='/profile/{{user_name}}'>
                    {{full_name  |trimData:17}}
                </span>
                shared post from
                <span title="{{sharedPostUser_fullName}}" class='name post-owner cursor-pointer' routerLink='/profile/{{sharedPostUser_UserName}}'>{{sharedPostUser_fullName |trimData:17}}</span>
                <div>
                    <span *ngIf="arr.VISIBILITY ==3">
                        <span class="follwer_count cursor-pointer"  routerLink="/post/{{arr.USER_POST_ID}}">{{time}}</span>
                        <span class="dote" ><img src="assets/images/svg-three/post_icon/dote1.svg" alt="study24x7"></span>
                        <span class="previcy_icon"><img title="Public" src="assets/images/svg-three/add_post/wall/public.svg" alt="study24x7"></span>
                    </span>
                    <span class="follwer_count cursor-pointer" *ngIf="arr.VISIBILITY !=3" routerLink="/post/{{arr.USER_POST_ID}}">{{time}}</span>
                    <span class="dote" *ngIf="arr.VISIBILITY !=3"><img src="assets/images/svg-three/post_icon/dote1.svg" alt="study24x7"></span>
                    <span class="previcy_icon connectionWidth" *ngIf="arr.VISIBILITY ==2"><img title="Connections" src="assets/images/svg-three/add_post/wall/connection.svg" alt="study24x7"></span>
                    <span class="previcy_icon" *ngIf="arr.VISIBILITY ==1"><img title="Private" src="assets/images/svg-three/add_post/wall/private_new.svg" alt="study24x7"></span>
                </div>
            </div>
            <div *ngIf="isPagePost">
                <span title="{{full_name}}" class='name cursor-pointer' routerLink='/profile/{{user_name}}'>{{full_name|trimData:17}}</span> shared post from <span class='name post-owner cursor-pointer' title="{{title}}" routerLink='/page/{{pg_id}}'>{{title|trimData:17 }}</span>
                <div>
                    <span *ngIf="arr.VISIBILITY ==3">
                        <span class="follwer_count cursor-pointer"  routerLink="/post/{{arr.USER_POST_ID}}">{{time}}</span>
                        <span class="dote" ><img src="assets/images/svg-three/post_icon/dote1.svg" alt="study24x7"></span>
                        <span class="previcy_icon"><img title="Public" src="assets/images/svg-three/add_post/wall/public.svg" alt="study24x7"></span>
                    </span>
                    <span class="follwer_count cursor-pointer" *ngIf="arr.VISIBILITY !=3" routerLink="/post/{{arr.USER_POST_ID}}">{{time}}</span>
                    <span class="dote" *ngIf="arr.VISIBILITY !=3"><img src="assets/images/svg-three/post_icon/dote1.svg" alt="study24x7"></span>
                    <span class="previcy_icon connectionWidth" *ngIf="arr.VISIBILITY ==2"><img title="Connections" src="assets/images/svg-three/add_post/wall/connection.svg" alt="study24x7"></span>
                    <span class="previcy_icon" *ngIf="arr.VISIBILITY ==1"><img title="Private" src="assets/images/svg-three/add_post/wall/private_new.svg" alt="study24x7"></span>
                </div>
            </div>
        </div>
        <span class='leftmenudrop'>


            <span class="postright_btn postmenubtn" (click)="postdropdown()" #postright>
                <img src="assets/images/svg-three/post_icon/dot_menu.svg" class="postdropmenu defaultt" >
                <img src="assets/images/svg-three/post_icon/f05050/dot_menu.svg" class="postdropmenu hoverr" >
            </span>
            <span   class="postbookmarkbtn postright_btn" [ngClass]="{ activesaved : saveCondition}" (click)="savedpost();">
                  <img src="assets/images/svg-three/left_menu/bookmark.svg" class="defaultt">
                <img src=" assets/images/svg-three/left_menu/f05050/bookmark.svg" title="save" class="hoverr">
                <img src="assets/images/svg-three/post_icon/f05050/bookmark_fill.svg" title="Saved" class="bookmarked">
            </span>
            <span class="drpdwn_post postdrop for-post drop_post" *ngIf="postmenu">
                <!-- <ul (mouseleave)="this.postmenu = !this.postmenu"> -->
                <!-- <ul (mouseleave)="this.postmenu = !this.postmenu"> -->
                <ul>
                    <li *ngIf="!arr['IS_PAGEFEED'] && isPagePost && arr['IS_ADMIN']!=1 && hideBtn==false"  (click)="follow()" class="follw_btn_inn"><div class="width100"><span class='default' ><img src="assets/images/svg-three/profile_about/edit.svg"></span><span class='hoverimg' ><img src="assets/images/svg-three/profile_about/f05050/edit.svg"></span> <div class="postdropdown_inner">Follow<span class="time">You can follow this page</span></div></div></li>
                    <li *ngIf="!arr['IS_PAGEFEED'] && !my_profile && hideBtn" (click)= "unfollow()"><div class="width100"><span class='default' ><img src="assets/images/svg-three/profile_about/edit.svg"></span><span class='hoverimg' ><img src="assets/images/svg-three/profile_about/f05050/edit.svg"></span> <div class="postdropdown_inner">Unfollow<span class="time">You can unfollow this page</span></div></div></li>
                    <li *ngIf="my_profile" (click)= "editPost()"><div class="width100"><span class='default' ><img src="assets/images/svg-three/profile_about/edit.svg "></span><span class='hoverimg' ><img src="assets/images/svg-three/profile_about/f05050/edit.svg"></span> <div class="postdropdown_inner">Edit<span class="time">You can edit your post</span></div></div></li>
                    <li *ngIf="!my_profile" (click)="reprts(1)"><div class="width100"><span class='default' ><img src="assets/images/svg-three/post_icon/report.svg"></span><span class='hoverimg' ><img src="assets/images/svg-three/post_icon/f05050/report.svg"></span> <div class="postdropdown_inner">Report<span class="time">Mark as offensive </span></div></div></li>
                    <li (click)="post.copyPostURL(postPublicShareLink);postmenu=false;"><div class="width100"><span class='default' ><img src="assets/images/svg-three/copyicon.svg"></span><span class='hoverimg' ><img src="assets/images/svg-three/f05050/copyicon.svg"></span> <div class="postdropdown_inner">Get a link<span class="time">Click to copy </span></div></div></li>
                    <li *ngIf="my_profile" (click)="DeletePostCnf();"> <div class="width100"><span class='default' ><img src="assets/images/svg/dustbindrop.svg"></span><span class='hoverimg' ><img src="assets/images/svg/dustbindrophover.svg"></span> <div class="postdropdown_inner">Delete<span class="time">You can delete your post</span></div></div></li>
                </ul>
            </span>
        </span>
        <p class="posttext posttextauto shared-post-text" *ngIf="DataView && post_data!=''" [innerHTML]="post_data|trimData"></p><a *ngIf="DataView" class="continue-reading"(click)="DataView=!DataView">See more</a>
        <p  class="posttext posttextauto shared-post-text" *ngIf="!DataView && post_data!=''" [innerHTML]="post_data"></p><a *ngIf="seeLess && !DataView" class="continue-reading"(click)="DataView=!DataView">See less</a>
    </div>
    <div class="outer-shared-post-blocks-wrap">
        <div class="shared-post-blocks-wrap">
            <div class='post_profile'>

                <!-- <br> -->
                <span *ngIf="!isPagePost">
                    <span class="post_profilepic cursor-pointer">
                        <img src="{{sharedPostUser_ProfilePicPath}}" alt="study24x7 {{sharedPostUser_fullName |trimData:30}}" (error)="updateSourcePic($event)" routerLink='/profile/{{sharedPostUser_UserName}}'>
                    </span>
                    <div class="profiledetail">
                        <span class='name cursor-pointer' title="{{sharedPostUser_fullName}}" routerLink='/profile/{{sharedPostUser_UserName}}'>{{sharedPostUser_fullName |trimData:30}}</span>
                        <div>
                            <span *ngIf="arr.SHARED_POST_DATA.VISIBILITY ==3">
                                <span class="follwer_count cursor-pointer"  routerLink="/post/{{arr.SHARED_POST_DATA.USER_POST_ID}}">{{sharedPostTime}}</span>
                                <span class="dote" ><img src="assets/images/svg-three/post_icon/dote1.svg" alt="study24x7"></span>
                                <span class="previcy_icon"><img title="Public" src="assets/images/svg-three/add_post/wall/public.svg" alt="study24x7"></span>
                            </span>
                            <span class="follwer_count cursor-pointer" *ngIf="arr.SHARED_POST_DATA.VISIBILITY !=3" routerLink="/post/{{arr.SHARED_POST_DATA.USER_POST_ID}}">{{sharedPostTime}}</span>
                            <span class="dote" *ngIf="arr.SHARED_POST_DATA.VISIBILITY !=3"><img src="assets/images/svg-three/post_icon/dote1.svg" alt="study24x7"></span>
                            <span class="previcy_icon connectionWidth" *ngIf="arr.SHARED_POST_DATA.VISIBILITY ==2"><img title="Connections" src="assets/images/svg-three/add_post/wall/connection.svg" alt="study24x7"></span>
                            <span class="previcy_icon" *ngIf="arr.SHARED_POST_DATA.VISIBILITY ==1"><img title="Private" src="assets/images/svg-three/add_post/wall/private_new.svg" alt="study24x7"></span>
                        </div>
                    </div>
                </span>
                <span *ngIf="isPagePost">
                    <span class="post_profilepic cursor-pointer">
                        <img src="{{sharedPostUser_ProfilePicPath}}" alt="study24x7 {{title |trimData:30}}" (error)="updateSourcePic($event)" routerLink='/page/{{pg_id}}'>
                    </span>
                    <div class="profiledetail">
                        <span class='name cursor-pointer' title="{{title}}" routerLink='/page/{{pg_id}}'>{{title |trimData:30}}</span>
                        <span class="follwer_count">{{arr['SHARED_POST_DATA']['PAGE_FOLLOW_COUNT']}} followers</span>
                        <span class="follow_dote"><img src="assets/images/svg-three/post_icon/dote1.svg" alt="study24x7"></span>
                        <span *ngIf="arr.SHARED_POST_DATA.VISIBILITY ==3">
                            <span class="follwer_count cursor-pointer"  routerLink="/post/{{arr.SHARED_POST_DATA.USER_POST_ID}}">{{sharedPostTime}}</span>
                            <span class="dote" ><img src="assets/images/svg-three/post_icon/dote1.svg" alt="study24x7"></span>
                            <span class="previcy_icon"><img title="Public" src="assets/images/svg-three/add_post/wall/public.svg" alt="study24x7"></span>
                        </span>
                        <span class="follwer_count cursor-pointer" *ngIf="arr.SHARED_POST_DATA.VISIBILITY !=3" routerLink="/post/{{arr.SHARED_POST_DATA.USER_POST_ID}}">{{sharedPostTime}}</span>
                        <span class="dote" *ngIf="arr.SHARED_POST_DATA.VISIBILITY !=3"><img src="assets/images/svg-three/post_icon/dote1.svg" alt="study24x7"></span>
                        <span class="previcy_icon connectionWidth" *ngIf="arr.SHARED_POST_DATA.VISIBILITY ==2"><img title="Connections" src="assets/images/svg-three/add_post/wall/connection.svg" alt="study24x7"></span>
                        <span class="previcy_icon" *ngIf="arr.SHARED_POST_DATA.VISIBILITY ==1"><img title="Private" src="assets/images/svg-three/add_post/wall/private_new.svg" alt="study24x7"></span>
                        <button *ngIf="!arr['IS_PAGEFEED'] && isPagePost && arr['SHARED_POST_DATA']['IS_ADMIN']!=1 && hideBtn==false" type="button" name="button" class="follow_container follw_btn" (click)="follow()" [ngClass]="{'following_container':followme,'cursolnone':followme}" style="float: right;margin: 0px;position: absolute;right: 25px;margin-top: 1px;">
                            <span class="follow">
                                Follow
                            </span>
                            <span class="following cursolnone">
                                <img src="assets/images/svg/white_checkbox.svg" alt="study24x7">
                                Following
                            </span>
                        </button>
                    </div></span>
            </div>
            <div class='post_profileContent'>
                <div class='postmain_container'>
                    <!--<div class="posttagdiv"><span class="tags" *ngFor="let tags of tagsArr" [id]='tags'>{{interestObj[tags]}}</span></div>-->
                    <p class="posttext posttextauto" *ngIf="DataViewShared && sharedPost_data!=''" [innerHTML]="sharedPost_data|trimData"></p><a *ngIf="DataViewShared" class="continue-reading"(click)="DataViewShared=!DataViewShared">See more</a>
                    <p class="posttext posttextauto" *ngIf="!DataViewShared && sharedPost_data!=''" [innerHTML]="sharedPost_data"></p><a *ngIf="seeLessShared && !DataViewShared" class="continue-reading"(click)="DataViewShared=!DataViewShared">See less</a>
                    <img (click)="postimageshow();" src="{{image_path}}" alt="{{altName}}" style="cursor:pointer;" *ngIf="image_path!=''">
                </div>
                <div class="posttagdiv"><span class="tags" *ngFor="let tags of tagsArr" [id]='tags'>{{interestObj[tags]}}</span>
                    <span class="tags wallintereswrapper" *ngIf="showIntArr" id="{{post_id}}_interestpos">
                        <span style="position:relative;top: -3px;" >...</span>
                        <div class="wallinterestlist" id="{{post_id}}_shftToLeft">
                            <div class="arrow-up" id="{{post_id}}_shiftArrowLeft"></div>
                            <ul [perfectScrollbar]="config">
                                <li *ngFor="let tag of ltIntShow" [id]='tag'>
                                    {{interestObj[tag]}}
                            </li>
                        </ul>
                    </div>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="post-footer-btn-outer-wrap">
    <div class='post_footer post-footer-btn-wrap clearfix'>
        <span class='post_footeroption dropdown-ppl-list-wrap' [ngClass]="{ clicked : importantCondition}" >
              <span ><span class="default" (click)="important()"><img src="assets/images/svg-three/post_icon/imp1.svg" class="defaultimp defaultt"><img src="assets/images/svg-three/post_icon/f05050/imp2.svg" class="activeimp" ><img src="assets/images/svg-three/post_icon/f05050/imp1.svg" class="hoverr"></span>  <span (click)="important()">Important</span><span (click)="impLikeShareFn()" class="count-sq" *ngIf="like!=0"> {{like}} </span></span>

            <!-- ======================== -->
            <app-likeshareviewall (closeViewAllThread)="impLikeShareStatus = $event" *ngIf="impLikeShareStatus" [data]="userLikeShareList"></app-likeshareviewall>
            <!-- ========================== -->
        </span>

        <span class='post_footeroption'>
            <span (click)="autoFocus()"><span class="default"><img class="defaultt" src="assets/images/svg-three/post_icon/comment.svg"><img class="hoverr" src="assets/images/svg-three/post_icon/f05050/comment.svg"></span>Comment</span><span id="{{post_id}}_comm_count"  routerLink="/post/{{arr.USER_POST_ID}}" class="count-sq" *ngIf="comment!=0" [innerHTML]="comment"></span>
        </span>
        <span class='post_footeroption dropdown-ppl-list-wrap share' >
            <span>
                <span #shareList>
                    <span class='default' style="width:22px;">
                        <img class="defaultt" src="assets/images/svg-three/post_icon/share.svg">
                        <img class="hoverr" src="assets/images/svg-three/post_icon/f05050/share.svg">
                    </span><span (click)="showSharePostList($event)">
                        &nbsp;Share
                    </span>
                </span>
                <span (click)="shareLikeShareFn()" class="count-sq" *ngIf="share!=0">
                    {{share}}
                </span>
            </span>
            <!-- ======================== -->
            <app-likeshareviewall (closeViewAllThread)="CloseViewAll($event)" *ngIf="shareLikeShareStatus" [data]="userLikeShareList"></app-likeshareviewall>
            <!-- ========================== -->

            <ul class="socialShareOnHover" *ngIf="isSharePostList" (mouseleave)="hideSocialList()"  id="{{u_id}}_{{post_id}}_shareimgShareList">

                <li (click)="shareimgPostscreen()">
                    <i>
                        <span  style="float:left;  "><img src="assets/images/svg-three/post_icon/share.svg" alt=""></span>
                        <span class="text">Share</span>
                    </i>
                </li>
                <li><a [href]="socialFbShareUrl" target="_blank">  <span><img src="assets/images/svg-three/facebook.svg" alt=""></span> <span class="text">Facebook</span></a></li>
                <li><a [href]="socialTelegramUrl" target="_blank">  <span><img src="assets/images/telegram.jpg" alt=""></span> <span class="text">Telegram</span> </a></li>
                <li>
                    <a [href]="socialWhatsappLink" target="_blank"> <span><img src="assets/images/svg-three/social_invite/whatsaap.svg" alt=""></span> <span class="text">Whatsapp</span> </a>
                </li>
                <li><a (click)="postdata.copyPostURL(postPublicShareLink);postmenu=false">  <span class="copyIcon"><img src="assets/images/svg-three/copyicon_white.svg" alt=""></span><span class="text">Copy Link</span> </a></li>
                <!-- <li><a [href]="socialWhatsappLink" target="_blank">  <span><img src="assets/images/svg-three/whatsapp.png" alt=""></span> <span class="text">whatsapp</span></a></li>
                <li><a [href]="socialTeitterShareUrl" target="_blank">  <span><img src="assets/images/svg-three/twiter.svg" alt=""></span> <span class="text">Twitter</span></a></li> -->

            </ul>


        </span>
    </div>
</div>

<div class='comment_outer' >
    <!-- <div class='comment_list'>
                    <div #container></div>
    </div> -->
    <div class="writecomment clearfix main-comment" [ngClass]="{'comment-present':viewCommentList}">
        <!--		<input type='text' placeholder="Write a comment...">-->
        <figure class="comment-profile cursor-pointer">
            <img src="{{userProfilePic}}" alt="{{'study24x7 ' +this._constantService.getSessionDataBYKey('full_name')}}" (error)="updateProfilePic($event)"></figure>
        <div class='optionoutr' >
            <!-- <input type="text"> -->
            <div class="placeholdercolor"  contenteditable="true" ondrop="return false;" (paste)="post.onPaste($event)" (keydown.enter)="false" (focusout)="showPlaceHolder()"  (click)="hidePlaceHolder($event)" (keydown)="hidePlaceHolder($event);"  (keyup)="addComment($event)"   id='{{u_id}}_{{post_id}}_comm' #commentPlaceHolder  (contextmenu)="autoFocus();post.onPaste($event)">
                {{_constantService.commentPlaceHolder}}
            </div>

            <span class='uploaded_image' *ngIf="showCommentImg==2" >
                <!-- <span class="removeimg" (click) = "showCommentImg=1;comment_image=null;uuid='';file_path='';"><img src='assets/images/svg/close.svg' ></span> -->
                <span class="hoverbg" ></span>
                <span class="file-preloder" style="margin-top: 0px;"><img style="width:40px" src="assets/images/svg/preloader-25.svg" *ngIf="showPreloader"></span>
                <!-- <span class="changeimg" (click)="change_Commentimage($event)" id="chng_{{u_id}}_{{post_id}}">Change</span> -->
                <span class="changeimg" (click) = "showCommentImg=1;comment_image=null;uuid='';file_path='';" id="chng_{{u_id}}_{{post_id}}">Cancel</span>
                <!--            <img src="{{option_image1_url}}"> -->
                <img src="{{image_upload_url}}" alt="{{altName}}">
            </span>
            <label class="option_image" >
                <input type="file" class="post_image" id="{{u_id}}_{{post_id}}_nci" (change)="addImageFile($event);" accept="image/*">
                <label class="fileupload_image" for="{{u_id}}_{{post_id}}_nci">
                    <img  class="default" src="assets/images/svg-three/post_icon/img.svg">
                    <img class="on-hover" src="assets/images/svg-three/post_icon/f05050/img.svg">
                </label>
            </label>
        </div>
    </div>
    <div class='comment_list' *ngIf="viewCommentList">
        <div #container></div>
        <!--			<app-comment></app-comment>-->

    </div>
    <a class="seemore" (click)="getComment()" *ngIf="commentPresent">See more comments</a>
</div>
</div>
<app-confirmationpopup *ngIf="openConfirmation" (closeComfirmPopupThread)="closePopup($event);" [dataObj]="dataConf"></app-confirmationpopup>
<app-confirmationpopup *ngIf="ConfirmDelete" (closeComfirmPopupThread)="CloseDeleteConfirm($event);" [dataObj]="dataConf" [savedFolderId]="savedFolderId"></app-confirmationpopup>
<app-savedpopup (folder_id)="savedFolderId=$event" (closeSavedPopup)="savepagepopup=$event;saveCondition=$event;" (savedStatus)="saveCondition=$event" [postData]='arr' *ngIf="savepagepopup"></app-savedpopup>
<app-reports (closeReportPopup)="removePost($event);" [postId]="post_id" *ngIf="reportpopup"></app-reports>
<!--<div *ngIf="likedetailspopup" ><app-likedetails></app-likedetails></div>-->
<div *ngIf="postimagediv=='2'"><app-imageview (closePopUp)="postImageHide($event)" [imageUrl]="image_path" [ImageTyp]="picTyp"></app-imageview></div>
<app-shareimagepostview (sharescreenimagepostdiv)="editSharedPost=$event" *ngIf="editSharedPost" [postdata]="arr"></app-shareimagepostview>
<app-shareimagepostview (sharescreenimagepostdiv)="sharescreenFunc($event)" *ngIf="sharescreenimgsec" [postdata]="arr"></app-shareimagepostview>
<app-confirmationpopup *ngIf="openConfirmation" (closeComfirmPopupThread)="sessionLogout($event);" [dataObj]="dataConf"></app-confirmationpopup>
