.wrapper .shownotification_cnt {
  opacity: 1;
}

.wrapper .notification_cnt {
  position: fixed;
  bottom: 40px;
  left: 15px;
  min-width: 400px;
  font-size: 14px;
  padding: 19px 28px 19px 47px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 35px -5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 35px -5px rgba(0, 0, 0, 0.15);
  background: #fff;
  line-height: 1.5;
  margin-bottom: 16px;
  overflow: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.wrapper .notification_cnt .cancel {
  left: 14px;
  position: absolute;
  top: 20px;
  cursor: pointer;
  background-color: #e6e6e6;
  border-radius: 101px;
  width: 20px;
  height: 20px;
  padding-left: 6px;
}

.wrapper .notification_cnt .cancel img {
  margin-top: -3px;
  width: 8px;
}

.wrapper .notification_cnt .imgcnt {
  float: left;
  width: 100px;
}

.wrapper .notification_cnt .btncnt {
  float: right;
  width: 400px;
}

.rightmenu_fixed {
  float: left;
  width: 278px;
}

.rightmenu_fixed.fixedleft {
  position: fixed;
  width: 278px;
  float: left;
}

.help-icon {
  position: fixed;
  width: 100px;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
}

.help-icon p {
  position: absolute;
  top: 5px;
  background-color: #f05050;
  color: #fff;
  border-radius: 25px 25px 0px 25px;
  right: 60px;
  font-size: 13px;
  font-weight: 500;
  overflow: hidden;
  -webkit-transition: all .3s;
  -webkit-transition: all .1s;
  transition: all .1s;
  text-align: center;
  height: 35px;
  line-height: 35px;
  width: 109px;
  opacity: 0;
}

.help-icon:hover p {
  width: 109px;
  right: 75px;
  opacity: 1;
}

.pdng_right {
  padding-right: 0;
}

.pdng_left {
  padding-left: 0;
}

.mentorship {
  padding: 15px;
  background: #fff;
}

.mentorship .innermentorship .img_mentor {
  display: inline-block;
  float: left;
}

.mentorship .innermentorship .img_mentor img {
  width: 19px;
  margin-right: 10px;
  height: 17px;
  margin-top: -3px;
}

.mentorship .innermentorship .mentor_content {
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  color: #2c2e2f;
}

.stream_wrapper {
  position: fixed;
  left: 15px;
  bottom: 70px;
  z-index: 2;
  width: calc(100% - 30px);
  border-radius: 5px;
  overflow: hidden;
  display: none;
}

@media screen and (max-width: 767px) {
  .help-icon {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  /* .container.main_body{
    margin-top:0;
  } */
  .container.main_body {
    margin-top: 67px;
  }
  .stream_wrapper {
    left: 0px;
    width: 100%;
  }
}

.topScroll {
  background: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  left: 30px;
  opacity: 0;
  text-align: center;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  padding: 15px 0px;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-box-shadow: 0px 0px 0px 0px #2c2e2f40;
          box-shadow: 0px 0px 0px 0px #2c2e2f40;
}

.topScroll img {
  width: 20px;
  height: 20px;
}

@media only screen and (max-width: 991px) {
  .topScroll.scroll {
    display: none;
  }
  .stream_wrapper {
    display: block;
  }
}
/*# sourceMappingURL=wall.component.css.map */