.wrapper .shownotification_cnt { opacity: 1; }

.wrapper .notification_cnt { position: fixed; bottom: 40px; left: 15px; min-width: 400px; font-size: 14px; padding: 19px 28px 19px 47px; border-radius: 4px; box-shadow: 0 0 35px -5px rgba(0, 0, 0, 0.15); background: #fff; line-height: 1.5; margin-bottom: 16px; overflow: hidden; transition: all .3s; }

.wrapper .notification_cnt .cancel { left: 14px; position: absolute; top: 20px; cursor: pointer; background-color: #e6e6e6; border-radius: 101px; width: 20px; height: 20px; padding-left: 6px; }

.wrapper .notification_cnt .cancel img { margin-top: -3px; width: 8px; }

.wrapper .notification_cnt .imgcnt { float: left; width: 100px; }

.wrapper .notification_cnt .btncnt { float: right; width: 400px; }

.rightmenu_fixed { float: left; width: 278px; }

.rightmenu_fixed.fixedleft { position: fixed; width: 278px; float: left; }

.help-icon { position: fixed; width: 100px; bottom: 15px; right: 15px; cursor: pointer; }

.help-icon p { position: absolute; top: 5px; background-color: #f05050; color: #fff; border-radius: 25px 25px 0px 25px; right: 60px; font-size: 13px; font-weight: 500; overflow: hidden; -webkit-transition: all .3s; transition: all .1s; text-align: center; height: 35px; line-height: 35px; width: 109px; opacity: 0; }

.help-icon:hover p { width: 109px; right: 75px; opacity: 1; }

.pdng_right { padding-right: 0; }

.pdng_left { padding-left: 0; }

@media screen and (max-width: 767px) and (min-width: 320px) { .help-icon { display: none; } }

@media screen and (max-width: 600px) and (min-width: 320px) { /* .container.main_body{ margin-top:0; } */ }

.topScroll { background: #fff; width: 50px; height: 50px; border-radius: 50%; position: fixed; bottom: 30px; left: 30px; opacity: 0; text-align: center; transform: rotate(180deg); padding: 15px 0px; cursor: pointer; transition: all .3s; box-shadow: 0px 0px 0px 0px #2c2e2f40; }

.topScroll img { width: 20px; height: 20px; }
