// body.body-overflow{
//   height:100vh;
//   overflow-y: hidden;
// }

.wrapper{
  .shownotification_cnt{
    opacity: 1;
  }
  .notification_cnt{
    position: fixed;
    bottom: 40px;
    left: 15px;
min-width: 400px;
font-size: 14px;
padding: 19px 28px 19px 47px;
border-radius: 4px;
box-shadow: 0 0 35px -5px rgba(0,0,0,.15);
background: #fff;
line-height: 1.5;
margin-bottom: 16px;
overflow: hidden;
transition: all .3s;
// opacity: 0;
    .cancel{
      left: 14px;
      position: absolute;
      top: 20px;
      cursor: pointer;
      background-color: #e6e6e6;
      border-radius: 101px;
      width: 20px;
      height: 20px;
      padding-left: 6px;
       img{
         margin-top: -3px;
          width: 8px;
       }
    }
    .imgcnt{
      float: left;
      width: 100px;
    }
    .btncnt{
      float: right;
      width: 400px;

    }
  }
}
.rightmenu_fixed{
  float: left;
  width: 278px;
}
.rightmenu_fixed.fixedleft{
      position: fixed;
      width: 278px;
      float: left;
}
.help-icon{
  position: fixed;
  width: 100px;
    // height: 90px;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    img{
      // width: 100%;
      // height: 100%;
        }
    p{
      position: absolute;
      top: 5px;
      background-color: #f05050;
      color: #fff;
      border-radius: 25px 25px 0px 25px;
      right: 60px;
      font-size: 13px;
      font-weight: 500;
      overflow: hidden;
      -webkit-transition: all .3s;
      transition: all .1s;
      text-align: center;
      height: 35px;
      line-height: 35px;
      width: 109px;
      opacity: 0;
    }
    &:hover p{
      width: 109px;
      right: 75px;
      opacity: 1;
    }

}
.pdng_right{
  padding-right:0;
}
.pdng_left{
  padding-left:0;
}
.mentorship{
  padding: 15px;
background:
#fff;
  .innermentorship{
     .img_mentor{
       display: inline-block;
float: left;
img{width: 19px;
margin-right: 10px;
height: 17px;
margin-top: -3px;}
     }
     .mentor_content{
       font-size: 14px;
      font-weight: 500;
      text-align: left;
      color: #2c2e2f;
     }
  }
}
.stream_wrapper{
  position: fixed;
    left: 15px;
    bottom: 70px;
    z-index: 2;
    width: calc(100% - 30px);
    // background: #f5f7fa;
    // box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    overflow: hidden;
    display: none;

}
// responsive
@media screen and (max-width:991px) and  (min-width:768px) {
  // .leftmenuouter{
  //   width: 175px !important;
  // }
  // .rightmenu_fixed{
  //   float: left;
  //   // width: 188px;
  // }
  // .rightmenu_fixed.fixedleft{
  //       position: fixed;
  //       // width: 188px;
  //       float: left;
  // }
  // .main_body{
  //   width:100%;
  // }

}
// @media screen  and (max-width:991.5px) and (min-width: 768px){
//   .right_stickytab{
//     display: none;
//   }
//   // .help-icon{
//   //   display: none !important;
//   // }
// }
// @media only screen  and (max-width:991.5px){
//   .center_feed{
//     max-width:600px;
//     margin:auto;
//     float:none;
//     padding-left: 0;
//     padding-right: 0;
//   }
//   .left_stickytab{
//     display: none;
//     }
//     .right_stickytab{
//       display: none;
//     }
// }
@media screen  and (max-width:767px){


  // .right_stickytab{
  //   display: none;
  // }

  // .container.main_body{
  //   margin-top: 15px;
  // }
  .help-icon{
    display: none;
  }
}
@media screen  and (max-width:600px){
  /* .container.main_body{
    margin-top:0;
  } */
  .container.main_body{
    margin-top:67px;
  }
  .stream_wrapper{
      left: 0px;
      width: 100%;
  }
}
// @media screen  and (max-width:768px) and (min-width: 601px){
//   .container.main_body{
//     margin-top:15px;
//   }
// }

.topScroll{
  background: #fff;
  width:50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  left: 30px;
  opacity: 0;
  text-align: center;
  transform: rotate(180deg);
  padding: 15px 0px;
  cursor: pointer;
  transition: all .3s;

    box-shadow: 0px 0px 0px 0px #2c2e2f40;
  img{
    width: 20px;
    height: 20px;
  }
}
@media only screen and (max-width:991px){
  .topScroll.scroll{
    display:none;
  }
  .stream_wrapper{
    display: block;
  }
}
