<app-header></app-header>
<div class="container main_body">
  <div class="row ">
  <div class="center_feed ">
    <div  class="col-md-3 col-sm-4 col-xs-12 right payment_sec_right" >
        <div class="paymentCard">
            <div class="cardImg">
                <img src={{coursePaymentData.coverPic}} alt="study24x7">

                <div class="logo">
                    <img src="{{pp}}" alt="study24x7">
                </div>

            </div>

            <div class="textwrapper">
                <h3>{{coursePaymentData.COURSE_TITLE}}</h3>
                <h6>By {{coursePaymentData.pageTitle}} </h6>
                <p>Order Summary</p>
                <p>Subtotal <span><img src="./assets/images/svg-three/course/course_creation/rupe.svg" alt="study24x7">{{coursePaymentData.initialAmount}}</span></p>
                <!-- <p class="tax">Tax <span><img src="src/assets/images/svg-three/course/course_creation/rupe.svg" alt="study24x7">{{coursePaymentData.taxAmount}}</span></p> -->
                <p class="tax">Wallet<span>- <img src="./assets/images/svg-three/course/course_creation/rupe.svg" alt="study24x7">{{coursePaymentData.walletDeductionAmount}}</span></p>
                <p *ngIf="couponAdded" class="tax coupondiscount"><span style="float:left;color:#00bb24;">Coupon Discount {{'('+enteredCoupon+')'}}</span>
                    <span (click)="removeCoupon($event, '1')" class="close"><img src="assets/images/svg/addpost_tagcross.svg" alt="study24x7"></span>
                    <span> <img src="./assets/images/svg-three/course/course_creation/rupe.svg" alt="study24x7">{{coursePaymentData.PROMO_DISCOUNT}}</span></p>
                <p class="total">To Pay <span><img src="./assets/images/svg-three/course/course_creation/rupe.svg" alt="study24x7">{{coursePaymentData.finalAmount}}</span></p>


                <button type="button" name="button" class="paybutton" (click)="verifyPopup()"> Make Payment</button>

            </div>




        </div>
    </div>
    <div  class="col-md-9 col-sm-9 col-md-9 col-sm-8 col-xs-12  payment_sec_left">
        <!-- ===============================================================================   -->
        <!-- left payment container start -->
        <div class="payment_container">
            <div class="head">
                <h2>Payment Method</h2>
            </div>

            <!-- wallet wrapper start -->
            <div class="wallet">
                <p class="heading">
                    All Transactions are highly encrypted and secure,
                    credit and debit card details are never store
                </p>
                <div class="inner_wrapper" (click)="seletPaymenttWallet()" [ngClass]="{'onselect_inner_wrapper':selectWallet}">

                    <div class="tik">
                        <img class="white" src="./assets/images/svg/white_checkbox.svg" alt="study24x7">
                        <img class="gray" src="./assets/images/svg/gray_checkbox.svg" alt="study24x7">
                    </div>
                    <div class="textContainer">
                        <h3>Study 24X7 wallet</h3>
                        <h4 class="balance">Available Balance
                            <span>
                                <img src="./assets/images/svg-three/course/course_creation/green_rupe.svg" alt="study24x7">
                                {{walletBalance}}
                            </span>
                        </h4>
                    </div>
                    <button type="button" name="button" class="button24x7 redeemed_btn">
                        <span><img src="./assets/images/svg/white_checkbox.svg" alt="study24x7"></span>
                        REDEEMED
                    </button>

                </div>

            </div>
            <!-- wallet wrapper end -->

            <!-- payment option start -->
            <div class="paymentOption">
                <h3>Payment option</h3>
                <!-- <p class="heading">Select among a choices of wallets as per your convenience </p> -->
            </div>

            <!-- paytm option -->
            <!-- <input class="paymentmethod" style="display:none" type="radio" name="paymentmethod" value="" id="paytm">
              <label for="paytm" class="payment">
                <div class="tik">
                  <img class="white" src="assets/images/svg/white_checkbox.svg" alt="study24x7">
                  <img class="gray" src="assets/images/svg/gray_checkbox.svg" alt="study24x7">
                </div>
                <div class="textContainer">
                  <h3>Study 24X7 wallet</h3>
                  <h4>Safe payment online, no credit card needed payment on the go</h4>
                  <h4 class="discount">15% off on this 2 transactions
                      <span class="discounthover">
                      <img src="assets/images/svg-three/post_icon/report.svg" alt="study24x7">
                      <div class="termandcondition">
                        <div class="bluetriangle"></div>
                        <div class="graytriangle"></div>
                         <div class="inner_wrapper" [perfectScrollbar]="config" style="position: relative;">
                            <div class="min_wrapper">
                               <h6 class="heading">Term and Conditions </h6>
                               <p>Cashback will be credited to youe account within 10 days of purchases</p>
                               <ul>
                                 <li class="ques">Who can puchase this course ?</li>
                                 <li>Cashback will be credited to uour account within 10 days of purchase</li>
                               </ul>
                               <ul class="sublist">
                                 <li class="ques">What other Conditions should apply to avail the offer ?</li>
                                 <li> * Minimum Cart Value INR 4299(excluding Crocery iten)</li>
                                 <li> * For Grocery items, net cart value should be equal to or more htan 1,500.</li>
                                 <li> * Maximum Discount per card: INR 1500(pleade refer below illustration).</li>
                                 <li> * Illustration A: If a Customer  has avaled discount on grocery items of INR 200, then customer shall only
                                        be elifible to get remaining discount of INR 1300 during the said offer period
                                 </li>
                                  <li> * Will get the offer if I pay using an HDFC Bank Debit or Credit Card?</li>
                                  <li> * No, offer will not aplly on payment made from HDFC Bank and Debit and Credit via PhonePe payment option.</li>
                               </ul>
                            </div>
                         </div>
                      </div>
                    </span>

                  </h4>
                </div>

                <div class="imagecontainer">
                   <img src="assets/images/svg-three/course/Paytm.png" alt="study24x7">
                </div>
              </label> -->

            <!-- paypal -->
            <!-- <input class="paymentmethod" style="display:none" type="radio" name="paymentmethod" value="" id="paypal">
              <label for="paypal" class="payment">
                <div class="tik">
                  <img class="white" src="assets/images/svg/white_checkbox.svg" alt="study24x7">
                  <img class="gray" src="assets/images/svg/gray_checkbox.svg" alt="study24x7">
                </div>
                <div class="textContainer">
                  <h3>Study 24X7 wallet</h3>
                  <h4>Payt, is an indian e-commerce payment system and digital wallet company</h4> -->
            <!-- <h4 class="discount">15% off on this 2 transactions <img src="assets/images/svg-three/post_icon/report.svg" alt="study24x7"></h4> -->
            <!-- </div> -->

            <!-- <div class="imagecontainer">
               <img src="assets/images/svg-three/course/paypal.png" alt="study24x7">
            </div>
          </label> -->
                  <!-- paytm money  -->
                  <input class="paymentmethod" style="display:none" type="radio" name="paymentmethod" value="" id="paytm" (click)="payuSelected(1)">
                  <label for="paytm" class="payment">
                      <div class="tik">
                          <img class="white" src="./assets/images/svg/white_checkbox.svg" alt="study24x7">
                          <img class="gray" src="./assets/images/svg/gray_checkbox.svg" alt="study24x7">
                      </div>
                      <div class="textContainer">
                          <h3>Paytm</h3>
                          <h4>India’s largest and most secure payment gateway platform that helps you transfer money instantly to anyone at zero cost.</h4>
                      </div>

                      <div class="imagecontainer">
                          <img src="./assets/images/svg-three/course/Paytm.png" alt="study24x7">
                      </div>
                  </label>
            <!-- payu money  -->
            <input class="paymentmethod" style="display:none" type="radio" name="paymentmethod" value="" id="payu" (click)="payuSelected(0)">
            <label for="payu" class="payment">
                <div class="tik">
                    <img class="white" src="./assets/images/svg/white_checkbox.svg" alt="study24x7">
                    <img class="gray" src="./assets/images/svg/gray_checkbox.svg" alt="study24x7">
                </div>
                <div class="textContainer">
                    <h3>PayU Money</h3>
                    <h4>Secure payment gateway, integrated with web and mobile applications to accept and process payments with ease.</h4>
                    <!-- <h4 class="discount">15% off on this 2 transactions <img src="assets/images/svg-three/post_icon/report.svg" alt="study24x7"></h4> -->
                </div>

                <div class="imagecontainer">
                    <img src="./assets/images/svg-three/course/payu.png" alt="study24x7">
                </div>
            </label>



            <!-- payment option end-->
        </div>
        <!-- left payment container end-->

        <!-- coupons wrapper start -->
        <div class="couponswrapper">
            <div class="topHeader">
                <h3>Available Coupons</h3>
                <p>Apply the coupon and get the best price</p>

                <div class="apllyCoupon">
                    <input id="promo"  [(ngModel)]="couponName" (paste)="onPasteValidateCouponCode()"  (keydown)="closeError()" type="text" placeholder="Have a coupon code" >
                    <button (click)="validateCouponCode()" [ngClass]="{'desableCouponButton':!isCouponButtonActive}">Apply</button>
                </div>

                <!--coupon err message start-->

                <p class="errorCouponMess" *ngIf="InvalidCoupon">Invalid coupon</p>
                <p class="errorCouponMess" *ngIf="InvalidCoupon2">Coupon can not be applied</p>

                <!--coupon err message end-->

            </div>

            <div class="couponWrapper"  [perfectScrollbar]="config" style="position: relative;">
                <div class="couponInnerWrapper" *ngFor="let coupon of couponsData;let index = index;">
                     <input type="radio" name="offer" value="" class="courseOffer" id="{{'offer'+index}}" (click)="setCouponCode(coupon['PROMO_CODE'])">
                    <label class="offer" for="{{'offer'+index}}">

                        <div class="tik">
                            <img class="white" src="./assets/images/svg/white_checkbox.svg" alt="">
                            <img class="gray" src="./assets/images/svg/gray_checkbox.svg" alt="">
                        </div>

                        <p>
                            <span>{{coupon['PROMO_CODE']}}</span>
                            {{coupon['DESCRIPTION']}}
                        </p>

                        <span class="remove" (click)="removeCoupon($event, 'offer'+index);">Remove</span>
                    </label>
                </div>
            </div>
            <!-- <input type="radio" name="offer" value="" class="courseOffer"  id="offer2">
            <label class="offer" for="offer2">

              <div class="tik">
                <img class="white" src="assets/images/svg/white_checkbox.svg" alt="study24x7">
                <img class="gray" src="assets/images/svg/gray_checkbox.svg" alt="study24x7">
              </div>

              <p>
                <span>SAVE 10</span>
                Get 130% off on your first 3 purchases from Payu money
              </p>

               <span class="remove">Remove</span>
            </label> -->


        </div>
        <!-- coupons wrapper start -->


    </div>
    <!-- ===============================================================================   -->









</div>
</div>
</div>
<!---- ====================================== -------->
<!---- otp verification popup on payment page start--->
<!---- ====================================== -------->
<div class="popup" *ngIf="buynowcoursepopup" >
    <div class="popup_background" ></div>
    <div class="popup_main  PaymentOtpVer">
        <div class="popup_heading headData">Mobile Confirmation
            <span (click)="buynowvarifyclose()" class="close_div">
                <img class="defaultt" src="assets/images/svg/tagcross.svg">
                <img class="hoverr"  src="assets/images/svg/tagcross-gray.svg">
            </span>

        </div>
                 <!--- mobile input to verify start--->
        <div class="col-md-12 " style="padding:0px;" *ngIf="numChange">
        <div class='post_outer verification_popup' >
           <p class="VerifyMessage"></p>
           <div  class="mobileDetails" >
            <label>Mobile No.</label>
             <div  class="InputMobile">
              <span  class="countryCode">+91</span>
              <!-- <app-mobileno [className]="'paymentPopup'"></app-mobileno> -->
              <app-mobileno [mobileNumber]="adminMobileNumber" (emitter)="setMobileNumberAndCountryCode($event)" [className]="'loginPg'"></app-mobileno>

               <!-- <input  class="InputHere" autofocus placeholder="565XXXX125"  name="mobileNumber "type="text" class="inputNumber" [(ngModel)]="adminMobileNumber" id='mobilenum'> -->
             </div>
             <p class="otpInfo"></p>
             <button class="paybutton" [disabled]="!addClass" name="button" [ngClass]="{'redColorButton':addClass}" type="button" (click)="checkEligibleForPayment()" > Continue with this number </button>
           </div>
          </div>
        </div>
        <!--- mobile input to verify end --->
        <!--- input otp to verify start --->
        <!-- <div class="col-md-12 " style="padding:0px" *ngIf="otpEnter" >
        <div class='post_outer verification_popup' >
           <p class="VerifyMessage">OTP has been send to your mobile number</p>
           <div  class="mobileDetails">
            <label>Enter OTP</label>
            <span class="invalidOtp" *ngIf="incorrectOTP">Incorrect OTP <span class="cross_close" (click)="closeOTP()"><img src="assets/images/svg/tagcross-r.svg" alt=""></span></span>
             <div  class="InputMobile InputMobileOtp">
            <div class="otpHeaderInput">
              <form method="get" class="digit-group" data-group-name="digits" data-autosubmit="false" autocomplete="off"> -->
                <!-- <input type="text" class="otp_fill" id="digit-1" maxLength ='1' name="digit-1" data-next="digit-2" placeholder="X"/>
                <input type="text" class="otp_fill" id="digit-2" maxLength ='1' name="digit-2" data-next="digit-3" data-previous="digit-1" placeholder="X" />
                <input type="text" class="otp_fill" id="digit-3" maxLength ='1' name="digit-3" data-next="digit-4" data-previous="digit-2" placeholder="X"/>
                <input type="text" class="otp_fill" id="digit-4" maxLength ='1' name="digit-4"  data-previous="digit-3" placeholder="X"/> -->
                <!-- <input type='text' maxLength ='1' class="otp_fill" placeholder="" id="v_mn1" (input)="change('mn2',$event)"  (keydown.backspace)="del('mn1',$event);" (keyup.ArrowLeft)="delt('1');" (keyup.ArrowRight)="focusElem('mn2');">
                <input type='text' maxLength ='1' class="otp_fill" placeholder="" id="v_mn2" (input)="change('mn3',$event)"  (keydown.backspace)="del('mn1',$event);"  (keyup.ArrowLeft)="delt('1');" (keyup.ArrowRight)="focusElem('mn3');">
                <input  type='text' maxLength ='1' class="otp_fill" placeholder="" id="v_mn3" (input)="change('mn4',$event)"  (keydown.backspace)="del('mn2',$event);"  (keyup.ArrowLeft)="delt('2');" (keyup.ArrowRight)="focusElem('mn4');">
                <input  type='text' maxLength ='1' class="otp_fill" placeholder="" id="v_mn4"  (keydown.backspace)="del('mn3',$event);"  (keyup.ArrowLeft)="delt('3');">
              </form>
              <span *ngIf="shwResend" class="ResendOTP " (click)="resendOTP()">Resend OTP</span>
              <span *ngIf="!shwResend" class="ResendOTP">{{countDisplay}}</span>
            </div>
             </div>

        <button class="paybutton" name="button" [ngClass]="{'redColorButton':addClassOTP}" type="button" (click)="verifyOTP()"> Verify </button>
           </div>
           <div class="changeNumber">
             <p>Incorrect Mobile No. ?</p>
             <span (click)="changeNum()"> Change Number</span>
           </div>
          </div>
        </div> -->
        <!--- input otp to verify end--->

    <!-- </div> -->
            <!---- thanku code start---->
    <!-- <div class="popup_main  PaymentOtpVer" *ngIf="thankyou">
        <div class="popup_heading headData popup_thanks">Verified Successfully
            <span  (click)="endPopup()"  class="close_div">
                <img class="defaultt" src="assets/images/svg/tagcross.svg">
                <img class="hoverr" src="assets/images/svg/tagcross-gray.svg">
            </span>
        </div>
        <div class="col-md-12 " style="padding:0px;" >
        <div class='post_outer verification_popup' >
           <div  class="mobileDetails">
             <div  class="InputMobile verifiedOtp">
            <div class="otpHeaderInput">
             <img src="assets/images/thanku.png">
            </div>
             </div>
             <button class="paybutton otpActive" name="button" (click)="checkEligibleForPayment();endPopup()" type="button"> Done </button>
           </div>
          </div>
        </div> -->
       <!---- thanku code end---->
    </div>
</div>



<!---- ====================================== -------->
<!---- otp verification popup on payment page end--->
<!---- ====================================== -------->
<!-- <app-confirmationpopup></app-confirmationpopup> -->
<app-confirmationpopup *ngIf="openConfirmation" [dataObj]="dataConf" (closeComfirmPopupThread)="openConfirmation = $event['error']"></app-confirmationpopup>

<!-- <PaymentreceiptComponent></PaymentreceiptComponent> -->
