<div *ngIf="!isWebSlider  && cardDetail.length > 0">
  <div  class="courseSliderWrapper" >
    <h6 class="header">
      Courses
    </h6>
    <div style="float:left;width:100%;padding:0px 15px 0px 15px;">
    <div class="courseinnerWrapper">
    <div class="courseWrapper">
      <div *ngFor="let imgId of cardDetail;let i = index" class="cardOuterWrapper" (click)="courseDetailRouter(imgId.COURSE_URL)">
        <div class="imageWrapper">
          <div class="freetrialWrapper"  *ngIf="imgId.SUBSCRIPTION == 1">
            <img src="assets/images/course_icon/popupicon/staricon.svg" alt="">FREE TRIAL
          </div>
          <img src="{{imgId.COURSE_COVER_PHOTO_PATH}}" alt="">

          <div class="profileImgWrapper">
            <img src="{{cardPagePic}}" alt="">
          </div>
        </div>
        <div class="bottomWrapper">
          <h4 class="mainTitle">{{imgId.COURSE_TITLE | trimData:50 }}</h4>
          <h6 class="subHeading">by {{cardpagTitle}}</h6>

          <div  class="card-course-rating">
            <label class="star"  *ngIf="imgId.COURSE_RATING==0.0">
              <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
              <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
              <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
              <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
              <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
            </label>
            <label class="star"  *ngIf="imgId.COURSE_RATING==0.5">
              <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
              <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
              <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
              <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
              <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
            </label>
            <label class="star"  *ngIf="imgId.COURSE_RATING==1.0">
              <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
              <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
              <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
              <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
              <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
            </label>
            <label class="star"  *ngIf="imgId.COURSE_RATING==1.5">
              <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
              <img class="star-half-svg" src="assets/images/course_icon/star-half-filled.svg">
              <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
              <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
              <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
            </label>
            <label class="star"  *ngIf="imgId.COURSE_RATING==2.0">
              <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
              <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
              <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
              <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
              <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
            </label>
            <label class="star"  *ngIf="imgId.COURSE_RATING==2.5">
              <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
              <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
              <img class="star-half-svg" src="assets/images/course_icon/star-half-filled.svg">
              <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
              <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
            </label>
            <label class="star"  *ngIf="imgId.COURSE_RATING==3.0">
              <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
              <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
              <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
              <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
              <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
            </label>
            <label class="star"  *ngIf="imgId.COURSE_RATING==3.5">
              <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
              <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
              <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
              <img class="star-half-svg" src="assets/images/course_icon/star-half-filled.svg">
              <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
            </label>
            <label class="star"  *ngIf="imgId.COURSE_RATING==4.0">
              <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
              <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
              <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
              <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
              <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
            </label>
            <label class="star"  *ngIf="imgId.COURSE_RATING==4.5">
              <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
              <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
              <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
              <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
              <img class="star-half-svg" src="assets/images/course_icon/star-half-filled.svg">
            </label>
            <label class="star"   *ngIf="imgId.COURSE_RATING==5">
              <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
              <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
              <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
              <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
              <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
            </label>
            <label  class="c-rating-avg">
              {{imgId.COURSE_RATING}}
            </label>
            <label  class="c-rating-count">
              ({{imgId.TOTAL_COURSE_RATING_COUNT}} Ratings)
            </label>
          </div>

          <ul class="courseCardDetail">
            <li>
              <img src="assets/images/course_icon/enrollments.svg" alt="" class="enrollmentIcon">{{imgId.ENROLLMENT}} Enrollment
            </li>
            <li>
              <img src="assets/images/course_icon/validity.svg" alt="">Validity {{imgId.RVALIDITY}}
            </li>
          </ul>

          <div class="priseWrapper" *ngIf="imgId.COURSE_TYPE != 0 ">
            <span  class="sell-price"> {{imgId.DISCOUNT_COST | currency:'INR':symbol:'1.0'}} </span>
            <span  class="original-price stock"> {{imgId.COST | currency:'INR':symbol:'1.0'}} </span>
          </div>
          <div class="priseWrapper" *ngIf="imgId.COURSE_TYPE == 0 ">
            <span  class="freecourse">Free</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <h6 class="footer" (click)="pageProfiletabWithoutTokenClick()">
    See All
  </h6>
  </div>
  </div>






  <div class="webWrapper" *ngIf="isWebSlider && cardDetail.length > 0">

    <h6 class="header">
      Courses
    </h6>
  <div id="carousel-example-multi" class="carousel slide carousel-multi-item v-2" data-ride="carousel">

    <!--Controls-->
    <div class="controls-top">
      <a class="btn-floating btn-floating-left" href="#carousel-example-multi" data-slide="prev">
        <i class="fas fa-chevron-left"></i></a>

      <a class="btn-floating btn-floating-right" href="#carousel-example-multi" data-slide="next">
        <i class="fas fa-chevron-right"></i></a>
    </div>
    <!--/.Controls-->


    <div class="carousel-inner v-2" role="listbox">
      <div class="carousel-item "  [ngClass]="{'active': i == 0}" *ngFor="let imgId1 of pagesuggestion2;let i = index">
        <div class="col-12 col-md-4 cardWraaerB " style="width:225px !important;"  *ngFor="let imgId of imgId1;let j= index;">
          <div class="card mb-5"  style="padding:0px;">
              <div class="cardOuterWrapper" (click)="courseDetailRouter(imgId.COURSE_URL)">
                   <div class="imageWrapper">
                     <div class="freetrialWrapper"  *ngIf="imgId.SUBSCRIPTION == 1">
                        <img src="assets/images/course_icon/popupicon/staricon.svg" alt="">FREE TRIAL
                     </div>
                     <img src="{{imgId.COURSE_COVER_PHOTO_PATH}}" alt="">

                      <div class="profileImgWrapper">
                        <img src="{{cardPagePic}}" alt="">
                      </div>
                   </div>
                   <div class="bottomWrapper">
                     <h4 class="mainTitle">{{imgId.COURSE_TITLE | trimData:50 }}</h4>
                     <h6 class="subHeading">by {{cardpagTitle}}</h6>

                     <div  class="card-course-rating">
                         <label class="star"  *ngIf="imgId.COURSE_RATING==0.0">
                             <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                             <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                             <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                             <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                             <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                         </label>
                         <label class="star"  *ngIf="imgId.COURSE_RATING==0.5">
                             <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                             <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                             <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                             <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                             <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                         </label>
                         <label class="star"  *ngIf="imgId.COURSE_RATING==1.0">
                             <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                             <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                             <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                             <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                             <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                         </label>
                         <label class="star"  *ngIf="imgId.COURSE_RATING==1.5">
                             <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                             <img class="star-half-svg" src="assets/images/course_icon/star-half-filled.svg">
                             <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                             <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                             <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                         </label>
                         <label class="star"  *ngIf="imgId.COURSE_RATING==2.0">
                             <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                             <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                             <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                             <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                             <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                         </label>
                         <label class="star"  *ngIf="imgId.COURSE_RATING==2.5">
                             <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                             <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                             <img class="star-half-svg" src="assets/images/course_icon/star-half-filled.svg">
                             <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                             <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                         </label>
                         <label class="star"  *ngIf="imgId.COURSE_RATING==3.0">
                             <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                             <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                             <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                             <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                             <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                         </label>
                         <label class="star"  *ngIf="imgId.COURSE_RATING==3.5">
                             <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                             <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                             <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                             <img class="star-half-svg" src="assets/images/course_icon/star-half-filled.svg">
                             <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                         </label>
                         <label class="star"  *ngIf="imgId.COURSE_RATING==4.0">
                             <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                             <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                             <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                             <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                             <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                         </label>
                         <label class="star"  *ngIf="imgId.COURSE_RATING==4.5">
                             <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                             <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                             <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                             <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                             <img class="star-half-svg" src="assets/images/course_icon/star-half-filled.svg">
                         </label>
                         <label class="star"   *ngIf="imgId.COURSE_RATING==5">
                             <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                             <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                             <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                             <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                             <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                         </label>
                         <label  class="c-rating-avg">
                            {{imgId.COURSE_RATING}}
                         </label>
                         <label  class="c-rating-count">
                             ({{imgId.TOTAL_COURSE_RATING_COUNT}} Ratings)
                         </label>
                     </div>

                     <ul class="courseCardDetail">
                       <li>
                         <img src="assets/images/course_icon/enrollments.svg" alt="">{{imgId.ENROLLMENT}} Enrollment
                       </li>
                       <li>
                         <img src="assets/images/course_icon/validity.svg" alt="">Validity {{imgId.RVALIDITY}}
                       </li>
                     </ul>

                      <div class="priseWrapper" *ngIf="imgId.COURSE_TYPE != 0 ">


                          <span  class="sell-price"> {{imgId.DISCOUNT_COST | currency:'INR':symbol:'1.0'}} </span>

                              <span  class="original-price stock"> {{imgId.COST | currency:'INR':symbol:'1.0'}} </span>
                      </div>
                      <div class="priseWrapper" *ngIf="imgId.COURSE_TYPE == 0 ">
                          <span  class="freecourse">Free</span>
                      </div>

                   </div>
              </div>
          </div>
        </div>
      </div>
  </div>
  </div>
  <h6 class="footer" (click)="pageProfiletabWithoutTokenClick()">
    See All
  </h6>
  </div>
