<div class="backdrop">
</div>
<div class="popupForget popup">
    <div class="heading">
        To unsubscribe Email service
    </div>
    <div class="content" *ngIf="!successWindow">
        <div *ngIf="formForUnsubscribe == 'target'" class="otp-verification-type-selector radio-buttons">

          <div  class="verification-type-checkbox checkbox-left " style="cursor: auto;">
            <input  class="radio" type="radio"  (change)="sendOtpPlaceholder('mobile')"   name="targetForOtp">
            <span>OTP on Mobile</span>
          </div>


            <div class="verification-type-checkbox  checkbox-right" style="cursor: auto;">
              <input   class="radio" type="radio" class="radio" name="targetForOtp" (change)="sendOtpPlaceholder('email')">

              <span>OTP on Email</span>
            </div>
        </div>


                <div class="fields otp-target-input mar15">
                    <input *ngIf="formForUnsubscribe=='target'" type="text" placeholder={{send_otp_placeholder}} [(ngModel)]=targetForOtp>
                    <input *ngIf="formForUnsubscribe=='otp'" type="text" placeholder="Enter OTP" [(ngModel)]=otp>
                </div>
                <div *ngIf="formForUnsubscribe=='otp'" class="otpControl mar15">
                    <div class="optCount" *ngIf="!shwResend"> {{countDisplay}}</div>
                    <div class="optResend" *ngIf="shwResend" (click)="getOTP()"><span style="cursor: pointer">Resend Otp</span>
                    </div>
                </div>


            <div *ngIf="formForUnsubscribe=='target'" class="send-otp-button mar15" (click)="getOTP()">
                <button class="btn_forget" >
                  <span *ngIf="showText">Submit</span>
                  <span *ngIf="showPreloader"><img src="./assets/images/svg/preloader-25.svg" alt=""  /></span>
                </button>
            </div>
            <div *ngIf="formForUnsubscribe=='otp'" class="send-otp-button mar15" (click)="verifyOtpToUnsubscribe()">
                <button class="btn_forget" >
                  <span *ngIf="showText">Verify</span>
                  <span *ngIf="showPreloader"><img src="./assets/images/svg/preloader-25.svg" alt=""  /></span>
                </button>
            </div>
            <div class="cancel-button mar15" (click)="goToHome()">
              <span style="cursor: pointer">Cancel</span>
            </div>

    </div>
    <div class="heading" *ngIf="successWindow" style="background: white; font-size: 14px;">
        <div style="padding: 10px;font-size: 16px;">{{successMessage}} thank u</div>
        <div><span class="preloder">Redirecting to home <img src="./assets/images/svg/preloader-25.svg" alt="" /></span></div>
    </div>
</div>
