.popup_background_view {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  z-index: 999;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
}

.popup_background_view .sharescreenpostview {
  position: absolute;
  top: 50px;
  left: 50%;
  width: 500px;
  margin-left: -250px;
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  bottom: 20px;
  margin-top: auto;
  margin-bottom: auto;
  height: auto;
}

.popup_background_view .sharescreenpostview .popup_heading {
  background-color: #fff;
  border-radius: 3px 3px 0px 0px;
  float: left;
}

.popup_background_view .sharescreenpostview .popup_heading ul {
  float: left;
  width: 60%;
}

.popup_background_view .sharescreenpostview .popup_heading ul li {
  float: left;
  margin-right: 15px;
  cursor: pointer;
  height: 49px;
}

.popup_background_view .sharescreenpostview .popup_heading ul li.active {
  border-bottom: 2px solid #f05050;
}

.popup_background_view .sharescreenpostview .post_outer {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0px 0px 3px 3px;
  border-radius: 0px 0px 5px 5px !important;
  margin-top: 0px !important;
  border: 0px solid rgba(44, 46, 47, 0.2) !important;
}

.popup_background_view .sharescreenpostview .post_outer .sharedatainput {
  border: 0px;
  border-radius: 0px;
  resize: none;
  line-height: 22px;
  color: #2c2e2f;
  padding: 10px 10px 10px 10px;
  min-height: 70px;
  float: left;
  width: 100%;
  border-color: transparent !important;
}

.popup_background_view .sharescreenpostview .post_outer .sharedatainput .placeholder {
  color: #2c2e2f;
  font-size: 12px;
  opacity: 0.3;
}

.popup_background_view .sharescreenpostview .post_outer .postsave {
  border-top: 1px solid #ccc;
  padding: 8px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  width: 100%;
  border-radius: 0px 0px 5px 5px;
  float: left;
}

.popup_background_view .sharescreenpostview .post_outer .shareLinkContainer {
  float: left;
  width: 100%;
  padding: 10px;
}

.popup_background_view .sharescreenpostview .post_outer .shareLinkContainer .shareLink {
  position: relative;
  float: left;
  border-radius: 4px;
  width: 100%;
  padding: 10px;
  background: #f5f7fa;
  border: 1px solid rgba(44, 46, 47, 0.15);
  padding-right: 40px;
}

.popup_background_view .sharescreenpostview .post_outer .shareLinkContainer .shareLink input {
  float: left;
  width: 95%;
  font-size: 14px;
  color: #2c2e2f;
  line-height: 21px;
  border: none;
  height: 20px;
  background: none;
}

.popup_background_view .sharescreenpostview .post_outer .shareLinkContainer .shareLink .urlget {
  pointer-events: none;
  visibility: visible;
  height: 0px;
}

.popup_background_view .sharescreenpostview .post_outer .shareLinkContainer .shareLink .copyLinkButton {
  position: absolute;
  top: 5px;
  right: 5px;
  float: right;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  padding: 0px;
  cursor: pointer;
  border: 1px solid rgba(44, 46, 47, 0.15);
  background-color: #fff;
  text-align: center;
}

.popup_background_view .sharescreenpostview .post_outer .shareLinkContainer .shareLink .copyLinkButton img {
  width: 13px;
  position: relative;
  top: 5px;
}

.popup_background_view .sharescreenpostview .post_outer .shareLinkContainer .shareButtonWrapper {
  float: left;
  width: 100%;
  padding: 10px 0px;
}

.popup_background_view .sharescreenpostview .post_outer .shareLinkContainer .shareButtonWrapper a {
  float: right;
  border-radius: 30px;
  text-align: center;
  height: 25px;
  cursor: pointer;
  margin-left: 10px;
  font-weight: 500;
  opacity: 0.8;
  width: 45px;
  line-height: 25px;
}

.popup_background_view .sharescreenpostview .post_outer .shareLinkContainer .shareButtonWrapper a img {
  width: 12px;
}

.popup_background_view .sharescreenpostview .post_outer .shareLinkContainer .shareButtonWrapper .fb {
  background-color: #4267b2;
}

.popup_background_view .sharescreenpostview .post_outer .shareLinkContainer .shareButtonWrapper .quora {
  background-color: #b92b27;
}

.popup_background_view .sharescreenpostview .post_outer .shareLinkContainer .shareButtonWrapper .twitter {
  background-color: #38a1f3;
}

.popup_background_view .sharescreenpostview .post_outer .shareLinkContainer .shareButtonWrapper .linkedin {
  background-color: #0077b5;
}

.popup_background_view .sharescreenpostview .postfile_details {
  width: 73%;
}

.popup_background_view .sharescreenpostview .profile-and-content {
  margin-top: 0px;
  width: calc(100% - 20px);
}

.radiobtn_outer.share_mul_c_p.crs_auto .checkbox_btn {
  border: none;
  border-bottom: 1px solid #f7f7f7;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 0;
  margin-top: 0;
}

.radiobtn_outer.share_mul_c_p.crs_auto:hover .checkbox_btn {
  background-color: #e1e8ee;
  opacity: 0.6;
}

.share_mul_c_p .Radio:checked + .checkbox_btn {
  background-color: #e1e8ee;
  border-left: 3px solid #2d2424;
}

.share_mul_c_p .Radio:checked b {
  background-color: #2d2424;
  color: white;
}

.share_mul_c_p .Radio:checked ~ b {
  background-color: #2d2424;
  color: white;
}

.sharescreenpostview.shared-multiple-choice-post .radiobtn_outer.share_mul_c_p.crs_auto:hover .checkbox_btn {
  background-color: #fff !important;
  opacity: 0.6;
}
/*# sourceMappingURL=sharetextpostview.component.css.map */