

<div class="bgwhite">
    <div class="  pd80">
    <div class="container  ">

      <div class="main_wrapper">

      <div class="course_left ">
      <div class="course_feat_info fl100">
        <label>PREPARE AND LEARN</label>
        <h3 class="heading_bold">Prepare for Public & Private jobs on India's first Social Learning Network</h3>
        <p>Get all the required resources like study materials, courses and more on the Study24x7 site.</p>
        <div class="buttonSec buttonSecWeb">
          <button (click) = "routTo('home')"type="button" name="button" class="btneffect">Go to Study24x7.com</button>
          <div class="downApp">
            <span>Also available on</span>

            <div class="downloadApp">
              <a href="https://play.google.com/store/apps/details?id=com.stdy24x7" target="_blank"><img class="logo1" src="https://img1.study24x7.com/assets/images/svg-three/gp.svg" /></a>
              <a href="https://apps.apple.com/in/app/study24x7/id1444868244?ls=1" target="_blank"><img class="logo1" src="https://img1.study24x7.com/assets/images/svg-three/app.svg" /></a>
            </div>
          </div>
        </div>
  </div>
  </div>
  <div class="imgRight ">
    <img src="assets/images/career/prepareright.png" />
</div>
<div class="buttonSec buttonSecRes">
  <button (click) = "routTo('home')"type="button" name="button" class="btneffect">Go to Study24x7.com</button>
  <div class="downApp">
    <span>Also available on</span>

    <div class="downloadApp">
      <a href="https://play.google.com/store/apps/details?id=com.stdy24x7" target="_blank"><img class="logo1" src="https://img1.study24x7.com/assets/images/svg-three/gp.svg" /></a>
      <a href="https://apps.apple.com/in/app/study24x7/id1444868244?ls=1" target="_blank"><img class="logo1" src="https://img1.study24x7.com/assets/images/svg-three/app.svg" /></a>
    </div>
  </div>
</div>
</div>

</div>
</div>
<div class="bgblack">

</div>
</div>
