/* ==========================================================================
  Common variables
  ========================================================================== */
/**
*
* DO NOT use these variables directly in components.
* Assign them to component specific variables
*
*/
/* font-family */
/* font-family*/
/* Colors */
/* Border radius */
/* ==========================================================================
  Browser support
  ========================================================================== */
/* ==========================================================================
  Component specific variables
  ========================================================================== */
/* Typography
   ========================================================================== */
/* $baseFontFamily: Arial, sans-serif; */
/* $baseSpacing: $baseLineHeight+em; */
/* $baseTextColor: $black; */
/* Type Color */
/* $typeHighlight: $blue;
$typeLowlight: $lightGrey; */
/* Link
   ========================================================================== */
/* $linkColor: $blue;
$linkHoverColor: $lightBlue; */
/* Background
   ========================================================================== */
/* $bgBasic: #fff; */
/* Box
   ========================================================================== */
/* Contour */
/* $boxBasicBorderRadius: $borderRadiusDefault; */
/* Box foot */
/* $boxFootDivider: $blue; */
/* Divider
   ========================================================================== */
/* $dividerColor: $blue; */
/* List
   ========================================================================== */
/* $listInlineDividerBorder: $lightGrey;
$listBorder: $lightGrey; */
/* Table
   ========================================================================== */
/* $tableBorderColor: $blue; */
/* Form
   ========================================================================== */
/* $labelLeftWidth: 30%;
$formFieldBorder: 1px solid $grey;
$placeholderText: $lightGrey; */
/* Button
   ========================================================================== */
/* $btnDefaultBg: #ddd;
$btnDefaultBorder: $lightGrey; */
/* Template
   ========================================================================== */
/* $skipLinkBg: $black;
$bodyBg: #fff;
$pageWidth: 997px; */
/* header */
/* $headerBgStop1: #09456a;
$headerBgStop2: #02587e;
$contentBg: #fff;
$contentWidth: 960px; */
/* footer */
/* $footerBorder: $lightGrey; */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+SC:400,500,600,700&display=swap&subset=chinese-simplified");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
.font_sans_pro {
  font-family: "Source Sans Pro";
}

.font_montserrat {
  font-family: "Montserrat";
}

.font_noto_serif {
  font-family: "Noto Serif SC", serif;
}

.font_roboto {
  font-family: "Noto Serif SC", serif;
}

.bgblack {
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: #000;
  position: absolute;
  width: calc(100% - 50% - 371px);
  z-index: 0;
}

.bgwhite {
  position: relative;
}

.pd80 {
  padding-top: 60px;
  padding-bottom: 50px;
}

.imgRight {
  z-index: 1;
  position: relative;
}

.imgRight img {
  max-width: 100%;
}

.heading_bold {
  font-family: "Montserrat";
  font-size: 36px;
  text-align: left;
  color: #000000;
  margin-bottom: 25px;
  font-weight: bold;
}

.course_left {
  width: 45%;
}

.course_left label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #f05050;
  font-family: "Montserrat";
}

.buttonSec {
  width: 100%;
  float: left;
  clear: both;
}

.buttonSec button {
  width: 222px;
  height: 54px;
  border-radius: 36px;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #f05050;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  border: 1px solid #f05050;
}

.buttonSecRes {
  display: none;
}

.downApp {
  float: left;
  width: 100%;
  margin-top: 40px;
}

.downApp span {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  font-family: "Montserrat";
  color: #000000;
}

.downloadApp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 315px;
  margin: 15px auto 10px 0;
}

.downloadApp a img {
  width: 150px;
}

@media only screen and (max-width: 1200px) {
  .imgRight {
    width: 50%;
  }
  .bgblack {
    width: calc(100% - 78%);
  }
}

@media only screen and (max-width: 1024px) {
  .heading_bold {
    font-size: 32px;
  }
}

@media only screen and (max-width: 768px) {
  .pd80 {
    padding: 40px 0px 40px 0px;
  }
  .heading_bold {
    font-size: 26px;
  }
  .course_left, .imgRight, .buttonSec {
    width: 100%;
  }
  .imgRight {
    width: calc(100% + 30px);
    height: 180px;
    margin-top: 70px;
    margin-bottom: 110px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2c2e2f), to(#1f2020));
    background-image: linear-gradient(to bottom, #2c2e2f, #1f2020);
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
  }
  .imgRight img {
    max-width: 100%;
    position: absolute;
    left: 50%;
    width: 450px;
    margin-left: -225px;
    top: -84px;
  }
  .bgblack {
    display: none;
  }
  .buttonSec.buttonSecRes {
    width: 290px;
    float: none;
    clear: both;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .buttonSec.buttonSecRes .btneffect {
    margin: 0 auto;
  }
  .buttonSec.buttonSecRes .downApp {
    text-align: center;
  }
  .buttonSec.buttonSecRes .downloadApp {
    width: 100%;
    margin: 15px auto 10px auto;
  }
  .buttonSec.buttonSecRes .downloadApp img {
    width: 140px;
  }
  .buttonSec.buttonSecRes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .buttonSec.buttonSecWeb {
    display: none;
  }
}

@media only screen and (max-width: 540px) {
  .heading_bold {
    font-size: 22px;
  }
  .course_feat_info p {
    padding-right: 100px;
  }
  .imgRight {
    height: 130px;
  }
  .imgRight img {
    width: 360px;
    margin-left: -180px;
    top: -70px;
  }
}

@media only screen and (max-width: 480px) {
  .heading_bold {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 15px;
  }
  .course_feat_info label {
    margin-bottom: 10px;
  }
  .course_feat_info p {
    font-size: 14px;
    line-height: 20px;
    padding-right: 0px;
  }
  .imgRight {
    height: 130px;
    margin-top: 40px;
    margin-bottom: 65px;
  }
  .imgRight img {
    width: 330px;
    margin-left: -165px;
    top: -62px;
  }
  .buttonSec {
    width: 280px;
  }
  .buttonSec button {
    width: 192px;
    height: 45px;
    font-size: 14px;
  }
  .buttonSec .downApp {
    margin-top: 20px;
  }
  .buttonSec .downApp span {
    font-size: 14px;
  }
  .buttonSec .downApp img {
    width: 130px;
  }
}

@media only screen and (max-width: 360px) {
  .imgRight {
    height: 110px;
    margin-top: 20px;
    margin-bottom: 70px;
  }
  .imgRight img {
    width: 260px;
    margin-left: -130px;
    top: -47px;
  }
}
/*# sourceMappingURL=preperation.component.css.map */