<div class="_mypoint_container _outer">
  <div class="_totalpoints">
    <div class="_show_point"><span class="_pfimg "><span class=" pointIcon"></span></span>{{overAllPoints}} pts.</div>
    <p>Currently active points</p>
  </div>
  <div class="_filter_points">
    <div class="_filtertabs">
      <ul>
        <li class="_tabs" [ngClass]="{'activebtn': filterTab == 'today'}" (click)="filteritems('today')">Today</li>
        <li class="_tabs" [ngClass]="{'activebtn': filterTab == 'yesterday'}" (click)="filteritems('yesterday')">
          Yesterday</li>
        <li class="_tabs" [ngClass]="{'activebtn': filterTab == 'lastWeek'}" (click)="filteritems('lastWeek')">Last week
        </li>
        <li class="_tabs" [ngClass]="{'activebtn': filterTab == 'lastMonth'}" (click)="filteritems('lastMonth')">Last
          Month</li>
      </ul>
    </div>
    <div class="filter_section" [perfectScrollbar]="config" style="position: relative;">
      <div class="_strip_filter _strip_filter_point" *ngFor="let myRewards of myPointsData">
        <span *ngIf="myRewards.FROM_DATE!=null && myRewards.TO_DATE!=null"
          class="_date_time">{{myRewards.FROM_DATE| date:'dd MMM yyyy, EEE'}}  - {{ myRewards.TO_DATE| date:'dd MMM yyyy, EEE' }}</span>
        <span *ngIf="myRewards.FROM_DATE==null && myRewards.TO_DATE!=null"
          class="_date_time">{{myRewards.TO_DATE| date:'dd MMM yyyy, EEE'}}</span>

        <ul *ngFor="let usrRewards of myRewards.USER_REWARD_DATA">
          <li><span class="_earn_fromimg"></span> {{usrRewards.TITLE}} <span
              [ngClass]="{'_earn_pts': true, 'red_font':!(usrRewards.POINTS>=0)}"
              class="_earn_pts">{{usrRewards.POINTS>0?'+':''}}{{usrRewards.POINTS}} pts.</span></li>
        </ul>
      </div>
    </div>
  </div>


</div>
