.solutionHintSec{
  float: left;
  width: 100%;
  margin-top: 0px;
  padding: 0px 0px 0px 12px;
  .HeadingArea{
    width:100%;
    margin-bottom: 15px;
    color: #000;
    font-weight: 500;
  }
  .right_part{
    width:94%;
  }
  .addoption_outr {
    margin-top: 0px;
    padding: 0 15px 0px 0px;

}
}
