.popup_background_view {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  z-index: 999;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  cursor: default;
}

.popup_background_view .sharescreenpostview {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  bottom: 20px;
  margin-top: auto;
  margin-bottom: auto;
  height: auto;
}

.popup_background_view .sharescreenpostview .popup_heading {
  background-color: #fff;
  border-radius: 3px 3px 0px 0px;
  float: left;
}

.popup_background_view .sharescreenpostview .popup_heading .main_head img {
  width: 21px;
}

.popup_background_view .sharescreenpostview .post_outer {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0px 0px 3px 3px;
  max-height: 435px;
}

.popup_background_view .sharescreenpostview .post_outer .sharedatainput {
  border-radius: 0px;
  resize: none;
  line-height: 22px;
  color: #2c2e2f;
  padding: 5px 7px 0 7px;
  height: 27px;
}

.popup_background_view .sharescreenpostview .post_outer .sharedatainput .placeholder {
  color: #2c2e2f;
  font-size: 12px;
  opacity: 0.3;
}

.popup_background_view .sharescreenpostview .post_outer .postsave {
  border-top: 1px solid #ccc;
  padding: 8px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  width: 100%;
  float: left;
}

.popup_background_view .sharescreenpostview .postfile_details {
  width: 73%;
}

.popup.like-share-viewall-wrap .sharescreenpostview {
  width: 650px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.popup.like-share-viewall-wrap .sharescreenpostview .popup_heading {
  background-color: #f5f7fa;
}

.popup.like-share-viewall-wrap .profile-wrap {
  border-top: 1px solid rgba(44, 46, 47, 0.15);
  position: relative;
  display: block;
  padding: 10px 14px;
}

.popup.like-share-viewall-wrap .profile-wrap:first-child {
  border-top: none;
}

.popup.like-share-viewall-wrap .profile-wrap button {
  margin-top: 5px;
  font-weight: 400;
  position: absolute;
  top: 0px;
  right: 20px;
  bottom: 0px;
  margin: auto;
}

.popup.like-share-viewall-wrap .profile-wrap .profile-inner-wrap {
  width: 100%;
  float: left;
}

.popup.like-share-viewall-wrap .profile-wrap figure {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  display: block;
  float: left;
}

.popup.like-share-viewall-wrap .profile-wrap figure img {
  display: block;
  max-width: 100%;
}

.popup.like-share-viewall-wrap .profile-wrap .name-user-wrap {
  float: left;
  padding-left: 10px;
  padding-top: 7px;
}

.popup.like-share-viewall-wrap .profile-wrap .name-user-wrap a {
  cursor: pointer;
  display: block;
  font-size: 13px;
  font-weight: 500;
  display: block;
  color: #2c2e2f;
  line-height: 1;
}

.popup.like-share-viewall-wrap .profile-wrap .name-user-wrap span.grayinfo {
  font-size: 12px;
  color: rgba(44, 46, 47, 0.6);
  line-height: 1;
}

.headerimg {
  width: 21px !important;
}

.messgebtn {
  text-align: center;
  -ms-box-shadow: 0 1px 2px 1px rgba(44, 46, 47, 0.1);
  -o-box-shadow: 0 1px 2px 1px rgba(44, 46, 47, 0.1);
  -webkit-box-shadow: 0 1px 2px 1px rgba(44, 46, 47, 0.1);
  box-shadow: 0 1px 2px 1px rgba(44, 46, 47, 0.1);
  border-radius: 18px;
  height: 30px;
  font-size: 14px;
  background-color: #fff !important;
  position: relative;
  border: none;
  padding: 2px 14px 0px 14px;
  cursor: pointer;
  float: right;
}

.messgebtn:hover {
  background-color: rgba(44, 46, 47, 0.1) !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.red_btn {
  background-color: #f05050;
  color: #fff;
  border: none;
}

.main_head .count {
  width: 105px;
  margin: 0px;
  display: inline-block;
}

.main_head .count img {
  width: 21px;
  margin: 0px !important;
  position: relative;
  top: -1px;
}

.main_head .count span {
  margin-left: 10px;
}

@media only screen and (max-width: 767px) {
  .popup.like-share-viewall-wrap .profile-wrap button {
    right: 10px;
  }
  .popup.like-share-viewall-wrap .profile-wrap .name-user-wrap {
    width: 100%;
  }
  .profile-wrap .profile-inner-wrap {
    position: relative;
    padding-left: 50px !important;
    padding-right: 95px !important;
    text-align: left;
  }
  .profile-wrap .profile-inner-wrap figure {
    position: absolute;
    left: 10px;
    top: 15px;
  }
}

@media only screen and (max-width: 600px) {
  .popup_background_view .sharescreenpostview .post_outer {
    border-radius: 0;
  }
}
/*# sourceMappingURL=likeshareviewall.component.css.map */