$textcolor : #2c2e2f;
@mixin btn_shadow($offset-x, $offset-y, $blur-radius, $spread-radius, $color, $inset: false) {
@if $inset {
-ms-box-shadow: inset $offset-x $offset-y $blur-radius $spread-radius $color;
-o-box-shadow: inset $offset-x $offset-y $blur-radius $spread-radius $color;
-webkit-box-shadow: inset $offset-x $offset-y $blur-radius $spread-radius $color;
-moz-box-shadow: inset $offset-x $offset-y $blur-radius $spread-radius $color;
box-shadow: inset $offset-x $offset-y $blur-radius $spread-radius $color;
}
@else {
-ms-box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color;
-o-box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color;
-webkit-box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color;
-moz-box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color;
box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color;
}
}
.popup_background_view{
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  z-index: 999;
  transition: all 0.2s ease;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  cursor:default;
  .sharescreenpostview{
    position: absolute;
    top: 50%;
    left: 50%;
    // width: 500px;
    transform: translate(-50%, -50%);
    background: transparent;
    box-sizing: border-box;
    border-radius: 6px;
    bottom: 20px;
    margin-top: auto;
    margin-bottom: auto;
    height: auto;
    .popup_heading{
      background-color: #fff;
      border-radius: 3px 3px 0px 0px;
      float: left;
      .main_head{
        img{
          width: 21px;
        }
      }
    }
    .post_outer{box-shadow: none;border-radius: 0px 0px 3px 3px;
      max-height:435px;
      .sharedatainput{border-radius: 0px;
        resize: none;
        line-height: 22px;color: $textcolor;
        padding: 5px 7px 0 7px;
        height:27px;

        .placeholder {
          color: $textcolor;font-size: 12px ;
          opacity: 0.3;
        }
      }
      .postsave{border-top: 1px solid #ccc;
        padding: 8px 15px;
        box-sizing: border-box;
        display: inline-block;
        width: 100%;
        float: left;}
      }
      .postfile_details {
        width: 73%;}
      }
    }

    // ============================
    .popup.like-share-viewall-wrap{
      .sharescreenpostview{
        width:650px;
        // top:100px;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        .popup_heading{
          background-color:#f5f7fa;
        }
      }
      .profile-wrap{
        border-top:1px solid rgba($textcolor,0.15);
        position: relative;
        &:first-child{
          border-top:none;
        }
        display:block;
        // width:20%;
        padding:10px 14px;
        button{
          margin-top:5px;
          font-weight:400;
          position: absolute;
          top: 0px;
          right: 20px;
          bottom: 0px;
          margin: auto;
        }
        // float:left;
        .profile-inner-wrap{
          width:100%;
          float:left;
        }
        figure{
          width:40px;
          height:40px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          border-radius: 50%;
          overflow: hidden;
          display:block;
          float:left;
          img{
            display:block;
            max-width: 100%;
          }

        }
        .name-user-wrap{
          float:left;
          padding-left:10px;
          padding-top:7px;
          a{
            cursor: pointer;
            display:block;
            // text-align: center;
            font-size:13px;
            font-weight: 500;
            display:block;
            color:$textcolor;
            line-height:1;
          }
          span.grayinfo{
            font-size:12px;
            color:rgba($textcolor,0.6);
            line-height:1;
          }
        }
      }
    }
    .like-share-viewall-wrap{
      .popup_background_view{
        .sharescreenpostview {
          // top:50% !important;
          //  -webkit-transform: translate(-50%,-50%) !important;
          //  -moz-transform: translate(-50%,-50%) !important;
          //  -ms-transform: translate(-50%,-50%) !important;
          //  -o-transform: translate(-50%,-50%) !important;
          //  transform: translate(-50%,-50%) !important;
          //  height:540px;
        }
      }
    }
    .headerimg{
      width:21px!important;
    }
.messgebtn{
    text-align: center;
    // box-shadow: 0 1px 2px 1px #2c2e2f20;
    @include btn_shadow(0, 1px, 2px, 1px, rgba($textcolor, 0.1));
    border-radius: 18px;
    height: 30px;
    font-size: 14px;
    background-color: #fff !important;
    position: relative;
    border: none;
    padding: 2px 14px 0px 14px;
    cursor: pointer;
    float: right;
  &:hover{
    background-color: rgba($textcolor, 0.1) !important;
    box-shadow: none;
  }
}
.red_btn{
  background-color: #f05050;
    color: #fff;
    border: none;
}
.main_head{
  .count{
    width: 105px;
    margin: 0px;
    display: inline-block;
    img{
       width: 21px;
       margin: 0px!important;
       position: relative;
       top: -1px;
    }
    span{
         margin-left: 10px;
    }
  }
}
@media only screen and (max-width:767px){
  .popup.like-share-viewall-wrap{
    .profile-wrap{
      button{
        right: 10px;
      }
      .name-user-wrap{
        width: 100%;
      }
    }
  }
  .profile-wrap{
    .profile-inner-wrap{
      position: relative;
      padding-left: 50px !important;
      padding-right: 95px !important;
      text-align:left;
      figure{
        position: absolute;
        left: 10px;
        top: 15px;
      }
    }
  }
}
@media only screen and (max-width:600px){
  .popup_background_view .sharescreenpostview .post_outer{
    border-radius: 0;
  }
}
