<div class='post_profile comment-outer '>
    <span class="post_profilepic"><img src="{{profile_pic_path}}" (error)="updateSourcePic($event)" routerLink="/profile/{{u_name}}" ></span>
    <div class="profiledetail">
        <div class="profiledetailinr">
            <div class='profilecmntdetail' autofocus="autofocus">
                <div class='name' routerLink="/profile/{{u_name}}">{{full_name | trimData:17}}</div>
                <span class="show_comment" [innerHTML]="comment_data" ></span>
            </div>


        </div>
    </div>
</div>
