@import './../../../sass/abstracts/variables';


.main_body {
    margin-top: 55px !important;
}

.applyBtmresponsive{display: none;
  float: left;
width: 100%;position: relative;
background-color: #fff;
padding-bottom:40px;
.applyBtmScc.applyBtmSccMob{
  display: none;
  position: absolute;
left: 50%;
right: 0;
top: -30px;
width: 270px;
margin-left: -135px;
}
.applyBtmScc.applyBtmFresher{

top: -36px;

}
}

.bannerMinFresher{
  .bannerFresher{
    width:100%;
    float:left;
  }
  .BannerContRight{

    img{
      width: 100%;
    }
  }
}
.bannerMinFresher {
  width: 100%;
  height: 506px;
  background-image: url("../../../../assets/images/career/banner-freser.png");
background-repeat: no-repeat;
background-size: 100% 100%;
}
.bannerMinCareer{
  width: 100%;

  height: 506px;

  background-image: linear-gradient(to bottom, #2c2e2f, #1f2020);
  .BannerContRight{

    img{
      width: 100%;
    }
  }
}
.bannerMin{
  width: 100%;
  float:left;

  .contOverBannerMain{
    position: absolute;
width: 100%;
height: 100%;
  }
  .BannerContSec{
    float: left;
width: 100%;
position: relative;
padding: 60px 510px 40px 0px ;
  }
  .BannerContLeft{
    width: 90%;
    float:left;
    .catTypePara{
      font-family: $fontmontserrat;
  font-size: 14px;text-transform: uppercase;
  font-weight: bold;
  color: #f05050;}
    .catTypeHead{
      font-family: $fontmontserrat;
  font-size: 54px;line-height: 1.2;
  font-weight: bold;

  color: #ffffff;
 margin: 15px 0px 20px 0px;
}
    .catTypeDesp{
      font-size: 18px;
line-height: 28px;
margin-bottom: 50px;
color: rgba(255, 255, 255, 0.9);
    }
  }
  .BannerContRight{
    width: 510px;
    position: absolute;
    right: 0;
    top: 40px;

  }
}
.applyBtnDiv__{
  &:hover{
    button{
      padding-right:30px;
      transition: 0.2s;
      .start_test{
        display: inline-block;
      }
    }
  }
}

  .applyBtmScc{
    width: 94%;
    display: flex;
justify-content: space-between;
align-items: center;

    .applyBtnDiv{
      width: 321px;
      height: 72px;
      position: relative;
      z-index: 1;

      button{
          font-family: $fontmontserrat;
    width: 100%;
    height: 100%;
    border-radius: 36px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #f05050;
    color:#fff;
    display: flex;
    border: 1px solid #f05050;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    transition: 0.2s;
      }
      .applyBtn{  height: 72px;}
      .startTimeBtn{}
      .startBtn{}
    }
    .applyBtnDiv.activeBtn{
  width: 304px;
  // height: 94px;
      .startTimeBtn{
          font-family: $fontmontserrat;
    width: 100%;
    height: 100%;
    /* opacity: 0.2; */
    border-radius: 47px;
    background-color: rgba(255, 255, 225, 0.2);
    // padding:7px;
  border: none;
  span{
    width: 100%;
height: 100%;
display:block;
  }
    .bg1{
      // padding:7px;

      border-radius: 46px;
box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.25);
background-color: rgba(255, 255, 255, 0.7);
      .bg2{
        padding:12px 0px;

        border-radius: 36px;
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 1);
  background-color: #ffffff;
  p{

  font-size: 14px;
  font-weight: 600;
  text-align: left;
  color: rgba(0, 0, 0, 0.9);
text-align: center;
}
    .timing{

font-size: 16px;
font-weight: bold;
line-height: 1.5;
color: #f05050;
display: flex;
justify-content: center;
align-items: center;
margin-top: 5px;
      .date{}
        .time{}
          .dot{  width: 6px;
  height: 6px;
  opacity: 0.5;
border-radius:6px;
margin:0px 10px;
  background-color: #f05050;}
    }


      }
    }
      }

      .startTestBtn{

        .bg2{
color:#f05050;
font-size:22px;
line-height: 45px;
  }
      }
      .applyBtn{  height: 72px;}
      .startTimeBtn{}
      .startBtn{}
    }
    .allreadyLogin{
      font-size: 16px;
color: rgba(255, 255, 255, 0.7);
cursor: pointer;
margin-left:15px;
p{  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);}
  .viewSyllabus{
    font-size: 16px;
font-weight: 500;
text-align: left;
margin-top:10px;
color: rgba(255, 255, 255, 0.9);
cursor:pointer;
  }
    }
    .applyBtnDiv.activeBtn{
    .allreadyLogin{
width: 184px;
cursor:none;
p{  line-height: $LineHeight18;}

    }
  }
}


.cbt-link-waves {
    height: 110px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 360px;
    z-index: -1;
}
@keyframes waves{0%{opacity:0;transform:scale(.2,.2)}50%{opacity:.9}100%{opacity:0;transform:scale(.9,.9)}}
@-webkit-keyframes waves{0%{opacity:0;transform:scale(.2,.2)}50%{opacity:.9}100%{opacity:0;transform:scale(.9,.9)}}

.cbt-link-waves .waves {
    position: absolute;
    width: 360px;
    height: 110px;
    background: rgba(255,255,255,0.5);
        background-clip: border-box;
    opacity: 0;
    border-radius: 320px;
    background-clip: padding-box;
    -webkit-animation: waves 3s ease-in-out infinite;
    animation: waves 3s ease-in-out infinite;
        animation-delay: 0s;
    top: 0;
    left: 0;
}
.cbt-link-waves .wave-1 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
.cbt-link-waves .wave-2 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.cbt-link-waves .wave-3 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.start_test{
  display: inline-block;
  // float:right;
  width:16px;
  height: 16px;
  display: none;
  position: absolute;
  right: 25px;
  img{
    width: 100%;
    margin-top: -3px;
  }
}
.start_test__now{
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 7px;
  img{
    width: 100%;
    margin-top: -1px;
  }
}
.___start_test{
  display: inline-block;
  // float:right;
  width:16px;
  height: 16px;
  display: none;
  position: absolute;
  right: 40px;
  img{
    width: 100%;
    margin-top: -5px;
  }
}
.startTestBtn{
  position: relative;
  background: #ffffff;
    height: 72px !important;
    padding: 0;
  .bg2.effect{
    transition: 0.2s;
    &:hover{
      padding-right:20px !important;
      .___start_test{
        display: inline-block;
      }
    }
  }
}

.btneffect {
  z-index: 3;
  position: relative;
  transition: all ease-in .3s !important;
  -moz-transition: all ease-in .3s !important;
  -ms-transition: all ease-in .3s !important;
  -o-transition: all ease-in .3s !important;
  -webkit-transition: all ease-in .3s !important;
  -webkit-animation-name: btneffect;
  overflow: hidden;
}

.btneffect:hover:before {
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-name: btneffect;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: btneffect;
}

.btneffect:before {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 800px;
  height: 800px;
  content: "";
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  -webkit-transform: translate(-50%, -50%) scale(0);
  transform-origin: center center;
  -webkit-transform-origin: center center;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}

.btneffect:before,
.btneffect:hover {
  background: #ff6363;
}

@keyframes btneffect {
  from {
    transform: translate(-50%, -50%) scale(0);
    -webkit-transform: translate(-50%, -50%) scale(0);
    visibility: visible;
    opacity: 1;
  }
  to {
    transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
    visibility: hidden;
    opacity: 0;
  }
}

@-webkit-keyframes btneffect {
  from {
    transform: translate(-50%, -50%) scale(0);
    -webkit-transform: translate(-50%, -50%) scale(0);
    visibility: visible;
    opacity: 1;
  }
  to {
    transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
    visibility: hidden;
    opacity: 0;
  }
}

@media only screen and (max-width:1200px){

}
@media only screen and (max-width:1160px){
  .bannerMin{
    .BannerContLeft {
    width: 98%;
    float: left;
    .catTypeHead {
    font-size: 48px;}
}
  .BannerContRight {
      width: 460px;
      position: absolute;
      right: 0;
      top: 40px;
  }
}
}

@media only screen and (max-width:1024px){
  .bannerMin{
    .container-pd-rgt{padding-right:0px;}
  .BannerContSec{
      padding: 60px 400px 40px 0px;
      overflow: hidden;
  }
  .BannerContRight {
    right: -110px;
}
}
}
@media only screen and (max-width:920px){
  .bannerMin{
    .BannerContLeft {
    .catTypeHead {
    font-size: 42px;}
}

}
}
@media only screen and (max-width:768px){
  .cbt-link-waves{display:none;}
  .bannerMin{
    .BannerContLeft {
    .catTypeHead {
    font-size: 30px;}
    .catTypeDesp {
    font-size: 16px;}
}
.BannerContSec{
    padding: 30px 42% 31px 0px;
    overflow: hidden;
}
 .BannerContRight {
    width: 47%;
    position: absolute;
    right: -60px;
    top: 40px;
}
.applyBtmScc{
  display: none;
}

}
.bannerMinFresher{

   .BannerContSec {
    padding-bottom: 55px ;
    overflow: hidden;
}

}
.applyBtmresponsive{display: block;

.applyBtmScc.applyBtmSccMob{
  display: block;

}
.applyBtmScc{
.applyBtnDiv {
  width: 100%;
  height: 60px;
  button {
    font-size: 16px;}
}
}
.allreadyLogin {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7);
    margin-left: auto;
    text-align: center;
    margin: 20px auto;
p{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
}
.viewSyllabus{
    font-size: 16px;
text-align: center;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.9);

}
}
}
.bannerMinFresher{

    height: 380px;

}
.bannerMinFresher, .bannerMinCareer{
height: 375px;

}

.applyBtmSccMob{
  .applyBtnDiv{
     .applyBtn{
      height: 60px;
  }
}
  .applyBtnDiv.activeBtn{

.startTimeBtn{
 .bg1{
  .bg2 {
    padding: 8px 0px;
    .timing {
   font-size: 14px;}
  }
}
}
.startTestBtn {
    height: 60px !important;
     .bg1{
   .bg2 {
     padding: 12px 0px;
    color: #f05050;
    font-size: 16px;
    line-height: 38px;
}
}
}


}
}
.applyBtnDiv__ button{
  padding-right: 30px;
 .start_test {
    display: inline-block;
}
}
.startTestBtn .bg2.effect {
    padding-right: 20px !important;
    .___start_test{
    display: inline-block;
}
}
}
@media only screen and (max-width:640px){
  .bannerMin{
    .BannerContLeft {
      .catTypeHead {
      font-size: 26px;}
      .catTypeDesp {
      font-size: 16px;}
}
.BannerContSec{
    padding: 30px 42% 31px 0px;
    overflow: hidden;
}
 .BannerContRight {
    width: 47%;
    position: absolute;
    right: -60px;
    top: 40px;
}
}
.bannerMinFresher, .bannerMinCareer{
height: 325px;

}
}
@media only screen and (max-width:480px){
  .bannerMin{
    .BannerContLeft {

}


.BannerContSec{
    padding: 30px 42% 31px 0px;
    .catTypePara{
    font-size: 14px;
     }
    .catTypeHead{
    font-size: 22px;
    line-height: 28px;
    margin: 10px 0px 10px 0px;
}
    .catTypeDesp {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 10px;
}

}

   .BannerContRight {
       width: 52%;
       right: -60px;
       top: 30px;
   }
   .applyBtmScc.applyBtmSccMob {
       width: 100%;
       display: inline-block;
       position: absolute;
       left: 0;
       right: 15px;
   }

}
.applyBtmresponsive{
   .applyBtmScc.applyBtmSccMob{
    width: 240px;
    margin-left: -120px;
}
.applyBtmScc.applyBtmFresher {
    position: absolute;
    left: 50%;
    right: 0;
    top: -30px;
    width: 260px;
    margin-left: -130px;
}
.applyBtmScc{
.applyBtnDiv {
  width: 100%;
  height: 60px;
  button {
    font-size: 14px;}
}
}
}
.bannerMinFresher, .bannerMinCareer{
height: 260px;

}
}
@media only screen and (max-width:360px){
  .bannerMinFresher, .bannerMinCareer {
      height: 235px;
  }
  .bannerMin{
    .BannerContSec {
      padding: 30px 15px 30px 0px;
      .catTypePara{
      font-size: 12px;
       }
      .catTypeHead{

  }
      .catTypeDesp {
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 10px;
  }


  .BannerContRight{display:none;}
}
.applyBtmresponsive{
 .applyBtmScc.applyBtmSccMob{
    top: -27px;
    width: 220px;
    margin-left: -110px;
}
}
}
}
