<div *ngIf="endpoint=='fresher'" class=" main_body">
  <div class="bannerMin bannerMinFresher ">
    <!-- <img class="bannerFresher" src="assets/images/career/banner-freser.png" /> -->
    <div class="contOverBannerMain">
      <div class="container container-pd-rgt">
        <div class="BannerContSec">
          <div class="BannerContLeft">
            <div class="BannerContMain">
              <p class="catTypePara">CAREERS FOR FRESHERS</p>
              <div class="catTypeHead">Freshers & Campus Placement</div>
              <div class="catTypeDesp">Join a team of passionate EdTech professionals who work at the cutting edge of
                Education, Technology & Community.</div>


              <div class="BannerContRight">
                <img src="assets/images/career/banner-freser-right.png" />

              </div>
            </div>
            <div class="applyBtmScc">
              <div *ngIf="isEnrolled !=1 " class="applyBtnDiv applyBtnDiv__">
                <button [disabled]='loader' class="applyBtn btneffect" (click)=emitOpenRegistrationForm() type="button"
                  name="button">
                  <span *ngIf="!loader && !isLoggedin"> Apply for Freshers Job </span>
                  <span *ngIf="!loader && isLoggedin && timeLeft >-3600000"> Apply for Freshers Job </span>
                  <span *ngIf="!loader && isLoggedin && timeLeft <-3600000"> Registration Closed </span>
                  <!-- <span *ngIf="true"> Registration Closed </span> -->

                  <img *ngIf="loader" src="../../../../assets/images/svg/preloader-251.svg" alt="Loading data.." />
                  <span class="start_test"><img src="assets/images/career/arrowWhite.gif" alt=""></span></button>

              </div>
              <div *ngIf="isEnrolled ==1" class=" applyBtnDiv activeBtn">
                <!-- <button class="applyBtn" *ngIf="isEnrolled ==1" (click)=startTest() type="button" name="button">START TEST</button> -->
                <button *ngIf="timeLeft>=0 && !isAttempted" class="startTimeBtn" type="button" name="button">
                  <span class="bg1">
                    <span class="bg2">
                      <p>Test will be live on</p>
                      <div class="timing">
                        <div class="date">{{testStartTime?(testStartTime | date :'dd MMM, yyyy'):""}}</div>
                        <div class="dot"></div>
                        <div class="time">{{testStartTime?(testStartTime | date: 'HH:mm a':''):''}}</div>

                      </div>
                    </span>

                  </span>
                </button>
                <button [disabled]="loader || timeLeft<-5400000 " *ngIf="timeLeft<=0 || isAttempted==1 || demoTest"
                  class=" startTimeBtn startTestBtn" (click)=startTest() type="button" name="button">
                  <span class="bg1">
                    <span *ngIf="!isAttempted && timeLeft>-5400000 " class="bg2 effect">
                      START TEST
                      <div class="___start_test"><img src="assets/images/scholarship/ArrowAnimation.gif" alt=""></div>
                    </span>
                    <span *ngIf="isAttempted==1 " class="bg2">
                      Test Attempted
                    </span>
                    <span *ngIf="isAttempted!=1 && timeLeft<-5400000" class="bg2">
                      Test Closed
                    </span>

                  </span>
                </button>
                <div class="cbt-link-waves">
                  <div class="waves wave-1"></div>
                  <div class="waves wave-2"></div>
                  <div class="waves wave-3"></div>
                </div>
              </div>
              <div *ngIf="!isLoggedin" (click)="openLoginPopup()" class="allreadyLogin">Login if already registered
              </div>
              <div *ngIf="isLoggedin && isEnrolled==1" class="allreadyLogin">
                <p class="">You have already registered. For any support call: 9311402293</p>
                <div (click)="scrollTo('qualifierTestSyllabus')" class="viewSyllabus">View Syllabus<span
                    class="start_test__now"><img src="assets/images/scholarship/ArrowAnimation.gif" alt=""></span></div>
              </div>
            </div>
          </div>

        </div>


      </div>
    </div>
  </div>
  <div class="container applyBtmresponsive">
    <div class="applyBtmScc applyBtmFresher applyBtmSccMob">
      <div *ngIf="isEnrolled !=1" class="applyBtnDiv applyBtnDiv__">
        <button [disabled]='loader' class="applyBtn btneffect" (click)=emitOpenRegistrationForm() type="button"
          name="button">
          <span *ngIf="!loader && !isLoggedin"> Apply for Freshers Job </span>
          <span *ngIf="!loader && isLoggedin && timeLeft >-3600000"> Apply for Freshers Job </span>
          <span *ngIf="!loader && isLoggedin && timeLeft <-3600000"> Registration Closed </span>
          <!-- <span *ngIf="true"> Registration Closed </span> -->
          <img *ngIf="loader" src="../../../../assets/images/svg/preloader-251.svg" alt="Loading data.." />
          <span class="start_test"><img src="assets/images/career/arrowWhite.gif" alt="Loading data.."></span>
        </button>

      </div>
      <div *ngIf="isEnrolled ==1" class=" applyBtnDiv activeBtn">
        <!-- <button class="applyBtn" *ngIf="isEnrolled ==1" (click)=startTest() type="button" name="button">START TEST</button> -->
        <button *ngIf="timeLeft>=0 && !isAttempted" class="startTimeBtn" type="button" name="button">
          <span class="bg1">
            <span class="bg2">
              <p>Test will be live on</p>
              <div class="timing">
                <div class="date">{{testStartTime?(testStartTime | date :'dd MMM, yyyy'):""}}</div>
                <div class="dot"></div>
                <div class="time">{{testStartTime?(testStartTime | date: 'HH:mm a':''):''}}</div>

              </div>
            </span>
          </span>
        </button>
        <button [disabled]="loader || timeLeft<-5400000 " *ngIf="timeLeft<=0 || isAttempted==1 || demoTest"
          class=" startTimeBtn startTestBtn" (click)=startTest() type="button" name="button">
          <span class="bg1">
            <span *ngIf="!isAttempted && timeLeft>-5400000 " class="bg2 effect">
              START TEST
              <div class="___start_test"><img src="assets/images/scholarship/ArrowAnimation.gif" alt=""></div>
            </span>
            <span *ngIf="isAttempted==1 " class="bg2">
              Test Attempted
            </span>
            <span *ngIf="isAttempted!=1 && timeLeft<-5400000" class="bg2">
              Test Closed
            </span>
          </span>
        </button>
        <div class="cbt-link-waves">
          <div class="waves wave-1"></div>
          <div class="waves wave-2"></div>
          <div class="waves wave-3"></div>
        </div>
      </div>
      <div *ngIf="!isLoggedin" (click)="openLoginPopup()" class="allreadyLogin">Login if already registered</div>
      <div *ngIf="isLoggedin && isEnrolled==1" class="allreadyLogin">
        <p class="">You have already registered. For any support call: 9311402293</p>
        <div (click)="scrollTo('qualifierTestSyllabus')" class="viewSyllabus">View Syllabus<span
            class="start_test__now"><img src="assets/images/scholarship/ArrowAnimation.gif" alt=""></span></div>
      </div>
    </div>
  </div>
</div>



<div *ngIf="endpoint!='fresher'" class="  main_body">
  <div class="bannerMin bannerMinCareer ">

    <div class="contOverBannerMain">
      <div class="container container-pd-rgt">
        <div class="BannerContSec">
          <div class="BannerContMain">
            <div class="BannerContLeft">
              <p class="catTypePara">Careers at Study24x7</p>
              <div class="catTypeHead">Join a team that lets you grow! </div>
              <div class="catTypeDesp">Study24x7 works at the intersection of Education, Technology and Community. Join
                today to contribute, learn and grow!</div>

            </div>
            <div class="BannerContRight">
              <img src="assets/images/career/banner-career-right-new.png" />

            </div>

          </div>
          <div class="applyBtmScc">
            <div class="applyBtnDiv applyBtnDiv__">
              <button (click)="scrollTo('weAreHiringComponent')" type="button" name="button" class="btneffect">View
                Current Openings<span class="start_test"><img src="assets/images/career/arrowWhite.gif"
                    alt=""></span></button>

            </div>
            <!-- <div class="allreadyLogin">Login if already registered</div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container applyBtmresponsive">


    <div class="applyBtmScc applyBtmSccMob">
      <div class="applyBtnDiv applyBtnDiv__">
        <button (click)="scrollTo('weAreHiringComponent')" type="button" name="button" class="btneffect">View Current
          Openings<span class="start_test"><img src="assets/images/career/arrowWhite.gif" alt=""></span></button>

      </div>
      <!-- <div class="allreadyLogin">Login if already registered</div> -->
    </div>

  </div>

</div>