<div class="peopleknow_outer ppl-you-may-know">
    <h6 class="widgetheading head_n top_heading">Account Progress</h6>
    <div class="progress-wrapper">
      <div class="percent-hold">
        <p><span>30%</span><span>Complete</span></p>
      </div>
      <div class="linebar-wrapper ">
        <div class="star-icon"><span><img src="./assets/images/svg-three/starer.svg" alt="study24x7"></span></div>
        <div class="bar-container">
        <span class="line_bar bar-wrap">
            <div class="line-wrapper">
              <div class="skills html" style="width:100%">
              </div>
            </div>
          </span>

          <span class="line_bar">
              <div class="line-wrapper">
                <div class="skills html" style="width:100%">
                </div>
              </div>
            </span>
            <span class="line_bar">
                <div class="line-wrapper">
                  <div class="skills html" style="">
                  </div>
                </div>
              </span>
              <span class="line_bar">
                  <div class="line-wrapper">
                    <div class="skills html" style="">
                    </div>
                  </div>
                </span>
              </div>

      </div>
      <div class="bottom-wrapper">
         <div class="left-inner">
           <span><img src="assets/images/svg-three/page_icon/accountprogress/starer.svg" alt="study24x7"></span>
         </div>
         <div class="right-inner">
           <span>Complete your About</span>
           <p>Fill up your about section to proceed further</p>
           <button class="btn-pagetips">Add About</button>
         </div>
      </div>
    </div>



</div>
