.btn-pagetips {
  -ms-box-shadow: 0 1px 2px 1px rgba(44, 46, 47, 0.1);
  -o-box-shadow: 0 1px 2px 1px rgba(44, 46, 47, 0.1);
  -webkit-box-shadow: 0 1px 2px 1px rgba(44, 46, 47, 0.1);
  box-shadow: 0 1px 2px 1px rgba(44, 46, 47, 0.1);
  border-radius: 18px;
  height: 30px;
  font-size: 12px;
  background-color: white;
  width: auto;
  float: left;
  margin-top: 15px;
  line-height: 0;
  color: #2c2e2f;
  border: none;
}

.btn-pagetips:hover {
  background-color: #2e2c2f10;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.progress-wrapper {
  padding: 15px;
  width: 100%;
  float: left;
}

.progress-wrapper .percent-hold {
  width: 100%;
  float: left;
  margin-top: 5px;
}

.progress-wrapper .percent-hold p span {
  float: left;
  display: inline-block;
  color: #2c2e2f;
}

.progress-wrapper .percent-hold p span:first-child {
  font-size: 28px;
  font-weight: 500;
  margin-right: 10px;
}

.progress-wrapper .percent-hold p span:last-child {
  font-size: 16px;
  margin-top: 3px;
}

.linebar-wrapper .bar-wrap {
  border-radius: 15px 0 0 15px;
}

.linebar-wrapper .bar-wrap .line-wrapper {
  border-radius: 15px 0 0 15px;
}

.linebar-wrapper .bar-wrap .line-wrapper .skills {
  border-radius: 15px 0 0 15px;
}

.linebar-wrapper {
  width: 100%;
  float: left;
  padding: 15px 0;
  position: relative;
  margin-top: 5px;
}

.linebar-wrapper .star-icon {
  position: absolute;
  top: 4px;
  right: 0;
  z-index: 1;
}

.linebar-wrapper .star-icon span {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #f5f7fa;
  float: left;
  -ms-box-shadow: 0 1px 2px 1px rgba(44, 46, 47, 0.1);
  -o-box-shadow: 0 1px 2px 1px rgba(44, 46, 47, 0.1);
  -webkit-box-shadow: 0 1px 2px 1px rgba(44, 46, 47, 0.1);
  box-shadow: 0 1px 2px 1px rgba(44, 46, 47, 0.1);
  text-align: center;
}

.linebar-wrapper .star-icon span img {
  width: 20px;
  height: 20px;
  margin-top: 7px;
}

.linebar-wrapper .line_bar {
  width: 25%;
  float: left;
  padding-right: 2px;
}

.linebar-wrapper .line_bar .line-wrapper {
  background: #f5f7fa;
  height: 15px;
}

.linebar-wrapper .line_bar .line-wrapper .skills {
  background-color: #f05050;
  height: 15px;
  float: left;
  background: -webkit-gradient(linear, left top, right top, from(#f05050), to(#bd3f3f));
  background: linear-gradient(to right, #f05050 0%, #bd3f3f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f05050', endColorstr='#bd3f3f',GradientType=1 );
}

.bottom-wrapper {
  width: 100%;
  float: left;
  padding: 15px 10px;
  border: 1px solid rgba(44, 46, 47, 0.1);
  border-radius: 5px;
  margin-top: 10px;
}

.bottom-wrapper .left-inner {
  width: 34px;
  height: 34px;
  float: left;
  display: inline-block;
  margin-right: 9px;
}

.bottom-wrapper .right-inner {
  width: 80%;
  float: left;
}

.bottom-wrapper .right-inner span {
  font-size: 14px;
  color: #2c2e2f;
  margin-bottom: 2px;
  display: block;
  font-weight: 500;
}

.bottom-wrapper .right-inner p {
  font-size: 14px;
  color: #2c2e2f;
  opacity: 0.6;
  line-height: 18px;
}
/*# sourceMappingURL=accountprogress.component.css.map */