 $backgroundgray : #e6e6e6;
 $themeblue : #F05050;
 $themegray : #f5f7fa;
 $textcolor : #2c2e2f;
 $textgrey : #8c8c8c;
 $maingreen: rgb(7,162,8);

  $stroke : #dfe0e8;;
 $borderRadius: 5px;
 $inputTypeHeight: 35px;
 $inputTypeFont: 12px;
 $headerHeight: 60px;
 $headerLineHeight: $headerHeight - 5px;
 $mainboxShadow: 0 0 7px rgba(0,0,0,0.1);
 $dropdownwidth: 400px;
 $dropdwncontentwidth: $dropdownwidth - 100px;
 $ntfctnprofile: 40px;
 $inrprflimg : $ntfctnprofile + 8px;
 $PostPicture: 40px;
 $commentPicture: $PostPicture - 10px;
 $subcommentPicture: $commentPicture - 10px;
 $mainpostName: 16px;
 $maincommentName: $mainpostName - 2px;
 $darkthemestroke: $themeblue;
 $progressbarRed: #ed6568;
 $rightanswer : #5bbc5b;
 $themelighten : rgba(18, 188, 180, 0.2);
 $lightgray : #fafafa;
 $lightstroke: #f4f4f4;
 $lighttext: #8c8c8c;
 $countcolor : #e94f59;


.leftmenuouter{
	background: #ffffff;
	padding: 15px 0;
	display:inline-block;
	width: 100%;
	box-sizing: border-box;
	box-shadow: $mainboxShadow;
	border-radius: $borderRadius;
  margin-top: 8px;

	.profileouter {
	display:inline-block;
	width: 100%;
	padding: 0 15px;
	box-sizing: border-box;
}
	.profile{
		display: inline-block;
		width: 60px;
		float: left;
		height: 60px;
		border: 1px solid $stroke;
		border-radius: $borderRadius;
		overflow: hidden;
    border-radius: 30px;
    overflow: hidden;
    border: 4px solid #fff;
		img{
			width: 100%;
		}

	}

	.basicdetails{
		display: inline-block;
   		width: 150px;
    	float: left;
    	font-size: 14px;
    	margin-left: 10px;


		.name{
			font-family: 'Roboto', sans-serif;font-weight: 500;;
			line-height: 12px;
		 }
		 .username{
		 	color: $textgrey;
		 	margin-top: 5px;

		 }


	}
	.profile_desc{
		margin: 15px 0;
		display: inline-block;
		width: 100%;
		text-align: center;
    padding-right: 2px;

		.col-md-3, .col-md-4, .col-md-5{
			margin:0px;
			padding:0px;
			cursor: pointer;
		}
		.count{
			font-size:16px;
			// font-family: open_sanslight
		}
		.countname{
			 color: $themeblue;
			font-size: 11px;
            height: 20px;
		}
	}


	.leftmenulist{


		h5{
			border-top:1px solid $stroke;
			color: $themeblue;
			padding: 15px 0 5px;
			margin: 0 15px;
			font-size: 13px;
		}
		.glyphicon{
			float: left;
		}
		.glyphicon:before{
			margin-right:10px;
			color: $textgrey;
			font-size: 16px;
		}
		li{
			line-height: 22px;
			padding: 6px 15px;
			border-left: 2px solid transparent;
			cursor: pointer;
      font-size: 14px !important;
            .interest_count{background-color:  $countcolor;color:#fff;padding: 1px 7px;border-radius:$borderRadius;font-size: 12px;float: right;    overflow: hidden;
    line-height: normal;
    margin-top: 1px;}
		}
		li.active{
			border-left: 2px solid $themeblue;
			background: $themegray;
			color: $themeblue;

			.glyphicon:before{
				color: $themeblue;
			}
		}
    h4{
      font-size:16px;
      color:$textcolor;
      padding: 20px 10px 0;

    }
    ul.sub-menu{

    }
	}
}

	.leftmenuicon {
		margin-right: 15px;
		display: inline-block;
		width: 20px;
		float: left;
		text-align: left;
    width: 18px;
    height: 18px;
    // background-image: url("../../../assets/images/sample.png");


			img.defaultt, img.hover{
				width: 20px !important;
				// height: 18px;
			}

	}
  .cnt_top{
    height:16px;
  }
