<div class="popup" *ngIf="verificationpop === 1 && openConfirmation==false" >
    <!-- <div class="popup_background" ></div> -->
    <div class="popup_main verificationpopup" *ngIf="!isWrongNumPopup">
        <div class="verificationheader">
            <div class='verify_heading'>Verification</div>
            <!--<div class="verify_stepcount">1/2</div>-->
            <div class="verificationimage"><img src="assets/images/svg/shield.svg"></div>
        </div>
        <div class="verificationContent">
            Verification Code is sent to your Mobile <b>{{mobile}}</b> for successful registration process.<br>
            <span  *ngIf="codeSent">Code successfully sent</span>

            <div>
                <div class='selectbox' style="overflow:hidden" (click)="otpBlockClickHandler()">
                    <input style="pointer-events: none" type='text' maxLength ='1' class="otp_input" placeholder="" id="v_mn1" (input)="change('mn2',$event)"  (keydown.backspace)="del('mn1',$event);" (keyup.ArrowLeft)="delt('1');" (keyup.ArrowRight)="focusElem('mn2');">
                    <input style="pointer-events: none" type='text' maxLength ='1' class="otp_input" placeholder="" id="v_mn2" (input)="change('mn3',$event)"  (keydown.backspace)="del('mn1',$event);"  (keyup.ArrowLeft)="delt('1');" (keyup.ArrowRight)="focusElem('mn3');">
                    <input style="pointer-events: none" type='text' maxLength ='1' class="otp_input" placeholder="" id="v_mn3" (input)="change('mn4',$event)"  (keydown.backspace)="del('mn2',$event);"  (keyup.ArrowLeft)="delt('2');" (keyup.ArrowRight)="focusElem('mn4');">
                    <input style="pointer-events: none" type='text' maxLength ='1' class="otp_input" placeholder="" id="v_mn4"  (keydown.backspace)="del('mn3',$event);"  (keyup.ArrowLeft)="delt('3');">
                </div>

                <a  class='code cursor-pointer' (click)="resendVerificationCode('m')" *ngIf="shwResend">Resend Code</a>

                <a  class='code cursor-pointer' (click)="showWrongNumPopup()" *ngIf="shwResend">Wrong Number</a>
                <div  class='code'  *ngIf="!shwResend">{{countDisplay}}</div>
                <!--                <div class="otp_timer">00:30</div>-->
                <div class="button_container">
                    <button [disabled]="showPreloader === true"  (click)="back()"  class='login_btn btn btn-primary vloginbtn'>Back</button>
                    <button [disabled]="showPreloader === true"  (click)="verificationMobileSubmit()"  class='login_btn btn btn-primary'><span class="text" *ngIf="showText">Submit</span>
                        <span class="preloder"  ><img src="./assets/images/svg/preloader-25.svg" alt="aio" *ngIf="showPreloader"></span></button>
                </div>
                <!-- <button class='btn btn-primary' (click)="resendVerificationCode('m')">Resend</button> -->
            </div>
        </div>
    </div>




<div class="popup_main verificationpopup" *ngIf="isWrongNumPopup">

  <div class="verificationheader">
      <div class='verify_heading'>Change your number</div>
      <div class="verificationimage">
        <img src="assets/images/svg/shield.svg">
      </div>
  </div>

  <div class="verificationContent">
      Verification code will be send on your mobile number.


      <div class="mobileNumInpWrapper" >
        <!-- <input type="text"  [(ngModel)]="updatedMobile" placeholder="Mobile Number" maxlength="10"> -->
        <app-mobileno [countryId]=countryId (emitter)="setMobileNumberAndCountryCode($event)" [className]="'forgotPassword'"></app-mobileno>

      </div>

      <div class="button_container">
          <button [disabled]="showPreloader === true"  (click)="showWrongNumPopup()"  class='login_btn btn btn-primary vloginbtn'>Back</button>
          <button [disabled]="showPreloader === true"  (click)="changeUsrMobile()"  class='login_btn btn btn-primary'><span class="text" *ngIf="showText">Submit</span>
              <span class="preloder"><img src="./assets/images/svg/preloader-25.svg" alt="aio" *ngIf="showPreloader"></span></button>
      </div>

  </div>
</div>













</div>
<div class="popup" *ngIf="verificationpop === 2 && openConfirmation==false">
    <!-- <div class="popup_background" ></div> -->
    <div class="popup_main verificationpopup">
        <div class="verificationheader">
            <div class='verify_heading'>Step Verification</div>
            <!--<div class="verify_stepcount">2/2</div>-->
            <div class="verificationimage"><img src="assets/images/svg/shield.svg"></div>
        </div>
        <div class="verificationContent">
            Verification Code is sent to your Email <b>{{usrEmail}}</b> for Successful Registration Process.
            <span  *ngIf="codeSent">Code successfully sent</span>

            <div>
                <div class='selectbox' style="overflow:hidden" (click)="otpBlockClickHandler()">
                    <input style="pointer-events: none" type='text' maxLength ='1' class="otp_input" placeholder="" id="v_em1" (input)="change('em2',$event)"  (keydown.backspace)="del('em1',$event);" (keyup.ArrowLeft)="delt('1');" (keyup.ArrowRight)="focusElem('em2');">
                    <input style="pointer-events: none" type='text' maxLength ='1' class="otp_input" placeholder="" id="v_em2" (input)="change('em3',$event)"  (keydown.backspace)="del('em1',$event);"  (keyup.ArrowLeft)="delt('1');" (keyup.ArrowRight)="focusElem('em3');">
                    <input style="pointer-events: none" type='text' maxLength ='1' class="otp_input" placeholder="" id="v_em3" (input)="change('em4',$event)"  (keydown.backspace)="del('em2',$event);"  (keyup.ArrowLeft)="delt('2');" (keyup.ArrowRight)="focusElem('em4');">
                    <input style="pointer-events: none" type='text' maxLength ='1' class="otp_input" placeholder="" id="v_em4"  (keydown.backspace)="del('em3',$event);"  (keyup.ArrowLeft)="delt('3');">
                </div>

                <a  class='code cursor-pointer'  (click)="resendVerificationCode('e')" *ngIf="disablelink && shwResend">Resend Code</a>
                <div class='code'  *ngIf="!shwResend">{{countDisplay}}</div>

                <div class="button_container">
                    <button [disabled]="showPreloader === true"  (click)="back()"  class='login_btn btn btn-primary vloginbtn backbutton' routerLink='/home'>Back</button>
                    <button [disabled]="showPreloader === true"   (click)="verificationEmailSubmit()"  class='login_btn btn btn-primary'><span class="text" *ngIf="showText">Submit</span>
                        <span class="preloder"  >
                            <img src="./assets/images/svg/preloader-25.svg" alt="aio" *ngIf="showPreloader">
                        </span>
                    </button>
                </div>





                <!-- <button class='btn btn-primary'(click)="resendVerificationCode('e')" >Resend</button> -->
            </div>
        </div>



    </div>
</div>

<!-- <div style="display: flex; flex-flow: column;">
    <span>Provide another number for verification</span>
    <input style="width: 300px" [(ngModel)]="updatedMobile">
    <button style="width: 100px" (click)="changeUsrMobile()">Update</button>
</div> -->

<div *ngIf="verificationpop === 3">
    <app-interestpopup (sessionLogout)="sessionExpire($event)"></app-interestpopup>
</div>






<app-confirmationpopup *ngIf="openConfirmation" (closeComfirmPopupThread)="closePopup($event);" [dataObj]="dataConf"></app-confirmationpopup>
<!--<app-confirmationpopup *ngIf="openConfirmation" (closeComfirmPopupThread)="sessionExpire($event);" [dataObj]="dataConf"></app-confirmationpopup>-->
