$textgrey : #8c8c8c;
$textcolor: #2c2e2f;
@mixin btn_shadow($offset-x, $offset-y, $blur-radius, $spread-radius, $color, $inset: false) {
@if $inset {
-ms-box-shadow: inset $offset-x $offset-y $blur-radius $spread-radius $color;
-o-box-shadow: inset $offset-x $offset-y $blur-radius $spread-radius $color;
-webkit-box-shadow: inset $offset-x $offset-y $blur-radius $spread-radius $color;
-moz-box-shadow: inset $offset-x $offset-y $blur-radius $spread-radius $color;
box-shadow: inset $offset-x $offset-y $blur-radius $spread-radius $color;
}
@else {
-ms-box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color;
-o-box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color;
-webkit-box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color;
-moz-box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color;
box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color;
}
}

.inviteimage{
	display: inline-block;
	width: 80px;
	float: left;
}

.popup_main .people_list{
	height: auto;
	// padding-top: 15px;
	left: 0px;
	top: 62px;
}
.invite-wrap{
	.people_list{
		height:auto;
		overflow: initial;
		padding-top:10px;
		li{
			border-bottom:none;
			.title-caption-wrap{
				float:left;
				padding-left:10px;
				width:75%;
				cursor: pointer;
				h5{
					font-size:13px;
					font-weight:600;
					color:#447bbe;
					margin:0;
					line-height:1;
					margin-bottom:2px;
				}
				span{
					font-size:11px;
					color:$textgrey;
					display:block;
					line-height:12px;
				}
			}
			img{
				width:32px;
				height:32px;
				display:block;
				float:left;
				-webkit-border-radius: 50%;
				-moz-border-radius: 50%;
				-ms-border-radius: 50%;
				-o-border-radius: 50%;
				border-radius: 50%;
			}
		}
	}
}
h6.widgetheading{
	text-transform: uppercase;
}




.invite_container{
  width: 100%;
	background-color: #fff;
	border-radius: 5px;
	text-align: center;
	float: left;
	overflow: hidden;
	box-sizing: border-box;
	margin-bottom: 15px;
	padding: 20px 0px;
	.invite_container_inner{width:100%;float: left;}
	.image{
		width: 160px;
    background-color: #fff;
    float: left;
    clear: both;
    display: block;
    position: relative;
    margin-left: 50%;
    // -webkit-transform: translateX(-80px);
		// transform: translateX(-80px);
		transform: translateX(-68px);
		-webkit-transform: translateX(-68px);
		img{
			width: 100%;
		}
	}
	.invite_text{
			float: left;
			width: 100%;
			padding-left: 10px;
			padding-right: 10px;
			position: relative;
		h3{
			font-size: 14px;
			font-weight: 500;
			margin-top: 25px;
		}
		span{
			// font-size: 14px;
			 font-size: 12px;
			margin-top: 6px;
			float: left;
			width: 100%;
			color: #8c8c8c;
			line-height: 18px;
		}
		.errMessage{
			position: absolute;
			left: 20px;
			bottom: -16px;
			text-align: left;
			color: #f05050;
			right: 0px;
			width: auto;
		}
	}
		.input_wrapper{
			width:100%;
			padding-left: 10px;
			padding-right:10px;
			float:left;
		}
	.invite_input_field{
		float: left;
		border-radius: 20px;
		overflow: hidden;
		border: 1px solid #2c2e2f80;
		position: relative;
		// padding: 5px 5px;
		background: #f4f4f4;
		// width: 230px;
		// margin-left: 50%;
		// -webkit-transform: translateX(-128px);
		// transform: translateX(-128px);
		border: none;
		margin-top: 20px;
		width:100%;
		box-sizing: border-box;
		height: 40px;
		padding-right: 70px;
		input{
		    border: none;
				color: #000;
        background: #f4f4f4;
				// width: 177px;
				height: 100%;
				// padding-right: 0px;
        font-size: 12px;
				padding-right:3px;
				width: 100%;
				border-radius: 18px;
				padding-left: 10px;
				 &:focus{
					 border:none!important;
					 box-shadow: none!important;
				 }
		}
		button{
			float: right;
border: none;
font-size: 14px;
background-color: #fff;
// right: 50%;
border-radius: 33px;
// box-shadow: 0px 1px 2px 0px #2c2e2f20;
@include btn_shadow(0, 1px, 2px, 0px, rgba($textcolor, 0.1));

// height: 100%;
padding: 5px 0px;
width: 65px;
line-height: 22px;
position: absolute;
right: 5px;
top: 5px;
bottom: 5px;
height: 30px;

		}
	}
	.stock_container{
		float: left;
		width: 100%;
		 margin: 20px 0px;
		font-size: 10px;position:relative;
		/* .stock{
			width: 80px;
			height: 1px;
			background: #f7f7f7;
			margin-top: 8px;
		}
		.left{
			float: left;
		}
		.right{
      float: right;
		} */
		.stock_full{		float: left;	width: 100%;
					height: 1px;
					background: #f7f7f7;
					margin-top: 8px;}
		h4{
			font-size: 14px;
	    width: 110px;
	    float: left;
	    line-height: 18px;
			color: #8c8c8c;
			position: absolute;
			left: 50%;
			margin-left: -55px;
			top: -1px;
			background-color: #fff;
		}
	}
	.invite_footer{
		float: left;
		width: 100%;
		padding:0 30px;
		.social_button{
			width: 100%;
			float: left;
		.innerbuttonwrapper{
			  width: 44px;
				// margin-left: 50%;
				// -webkit-transform: translateX(-20px);
				// transform: translateX(-25px);
				text-align: center;
				border-radius: 50%;
				box-shadow: 0px 2px 5px 0px #2c2e2f40 !important;
				@include btn_shadow(0, 2px, 5px, 0px, rgba($textcolor, 0.2));
				height: 44px;
				// padding-top: 7px;
				cursor: pointer;
				margin:auto;
				display: -webkit-flex;
				display: -ms-flex;
				display: flex;
				justify-content: center;
				align-items: center;
			img{
          width: 70%;
					margin: auto;
			}
		}
		span{
			  float: left;
			  width: 100%;
			  text-align: center;
			  font-size: 14px;
				color: #8c8c8c;
				margin-top: 10px;
				float: left;
		}
	}
 }
}

// ==================================================
// responsive
// ===============================================


@media screen and (max-width:991px) and (min-width:768px){

	.invite_container{
		.image{
				img {
	    	width: 70%;
				}
		}
		.stock_container{
			.stock{
				width: 18%;
			}
		}
	}
}
@media screen and (max-width:991px){
	.invite_container{
		.invite_container_inner{padding:0px 15%;}
	}
}

@media screen and (max-width:480px){
	.invite_container{
		.invite_container_inner{padding:0px 10%;}
	}
}
@media screen and (max-width:360px){
	.invite_container{
		.invite_container_inner{padding:0px 15px;}
	}
}

@media screen and (max-width:1200px) and (min-width:992px) {
  .invite_container{
		.stock_container{
			.stock{
				width: 25%;
			}
		}
	}
}
