 $backgroundgray : #e6e6e6;
 $themeblue : #F05050;
 $themegray : #f5f7fa;
 $textcolor : #2c2e2f;
 $textgrey : #8c8c8c;
 $maingreen: rgb(7,162,8);
 $stroke : #dfe0e8;
 // $stroke : #E9E9E9;
 $borderRadius: 5px;
 $inputTypeHeight: 35px;
 $inputTypeFont: 12px;
 $headerHeight: 60px;
 $headerLineHeight: $headerHeight - 5px;
 $mainboxShadow: 0 0 7px rgba(0,0,0,0.1);
 $dropdownwidth: 400px;
 $dropdwncontentwidth: $dropdownwidth - 100px;
 $ntfctnprofile: 40px;
 $inrprflimg : $ntfctnprofile + 8px;
 $PostPicture: 40px;
 $commentPicture: $PostPicture - 10px;
 $subcommentPicture: $commentPicture - 10px;
 $mainpostName: 16px;
 $maincommentName: $mainpostName - 2px;
 $darkthemestroke: $themeblue;
 $progressbarRed: #ed6568;
 $rightanswer : #5bbc5b;
 // @import "~perfect-scrollbar/css/perfect-scrollbar.css";


.peopleknow_outer, .popup_main{
	background: #ffffff;
	display:inline-block;
	width: 100%;
	box-sizing: border-box;
	box-shadow: $mainboxShadow;
	border-radius: $borderRadius;

}

	.profileimg_know{
		display:inline-block;
		height: $PostPicture;
		width: $PostPicture;
		float: left;
		border-radius: $borderRadius;
		overflow: hidden;
        cursor: default !important;

		img{
			width: 100%;
		}
	}
	.people_list {
		    display: inline-block;
    width: 100%;
    padding: 0 10px 0px;
    // margin-bottom: 10px;
    // height: 254px;
    overflow: auto;


	li{
		display:inline-block;
		width:100%;
		padding: 15px 0;
		border-bottom: 1px solid $stroke;
		color: $textgrey;
    float: left;

		.graybutton{
			width: auto;
float: right;
padding: 0 6px;
height: 28px;
line-height: 26px;
margin-top: 2px;


		}
		.profilename{
			color: $textcolor;
            height: 16px;
            overflow: hidden;line-height: 16px;
            color: #2c2e2f;

		}
		.prfl_detail{
			display:inline-block;
			margin-left:10px;
			width: 175px;
            overflow: hidden;
            float: left;
            .Notificationlist_name{
                &:hover{color: $themeblue ;}
            }
		}

	}

		// li:first-child{
		// 	padding-top: 0px;
		// }
		li:last-child{
			padding-bottom: 0px;
			border: 0px
		}
}
.connectionrequest_outer{
    .people_list{
        .profileimg_know{cursor: default!important;}
    }
}
.view_n{
  line-height: 20px;
}
.top_heading{
  padding: 10px !important;
  background-color: #F5F7FA;
  border-radius: 5px 5px 0 0;
}
.list_npeople{
  // padding-top:10px !important;
}
.peopleknow_outer.ppl-you-may-know{
	.people_list{
	 li{
		 .graybutton{
			 height:28px;
			 line-height:28px;
		 }
	 }
	}
}
.ppl-you-may-know{
	overflow: hidden;
  position: relative;

	h6{
		background: #f5f7fa;
    margin-bottom: 0px!important;
		padding-bottom: 15px;
		margin-bottom:5px;
    font-size: 14px;
    font-weight: 500;

	}

    .footer_heading{
      // position: absolute;
      bottom: 0px;
     padding: 10px!important;
      color: #8c8c8c;
      background-color: #fff;
      cursor: pointer;
      width: 100%;
      text-align: center;font-size: 14px;
      border-top: 1px solid #e9e9e9;
      float: left;
      font-weight: normal;
      &:hover{
        color:#8c8c8c!important;
        background-color: #f5f7fa;
      }
      .greater{
        width: 6px;
          position: relative;
          top: -2px;
         }

    }
 .people_list{
	 height: 275px;
   float: left;
	 li{
		 border:0px solid #fff;
		 padding: 7px 0;
		 .graybutton{
			 border:none;
			 background-color:transparent;
			 padding:0;margin-right: 5px;
			 width:8px;
			 &:hover{
				 box-shadow: unset;
				 border:none;
				 background-color:transparent;
			 }
		 }

	 .prfl_detail{
		 .graybutton{
			 width: auto;
       float: left;
       border: 1px solid $stroke;
       padding: 0px 15px;
       border-radius: 20px;
       height: 25px;
       line-height: 1;
      font-size: 12px;
      margin-top: 5px;
			&:hover{
		  	box-shadow: 0 0 2px rgba($themeblue, 0.4);
				border:1px solid rgba($themeblue, .6);
			}
		 }
	 }
	 	 }
 }
}
.people_list{
 .profileimg_know	{
	 border-radius:50%;
	 border:none !important;
   border: 1px solid #eaeaea !important;
 }
}
.profileimg_know{
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	border:none !important;
}
.profileimg_know{
	cursor:pointer;
}
.people_list{
 li{
	 .prfl_detail{
		 margin-top:3px;
	 }
 }
}
.people_list{

	.prfl_detail{
		line-height:1;
		.grayinfo{
			padding-bottom:3px;
		}
	}



	li{.profilename{
	font-weight:500;
}} }
.people_list{
 li{
	 .profilename{
		 height:17px;
     &:hover{
       text-decoration: underline;
       cursor: pointer;
     }
	 }
 }
}
.connictionlink{
	margin-top: 3px;
 color: #8c8c8c;
 text-decoration: none;
  width: auto;
  float:left;
  img{
    float: left;
    margin-right: 5px;
    width: 14px;
  }
}
.connictionlink:hover{
	cursor: pointer;
	text-decoration: underline!important;
	// color: #f05050;
  color:#8c8c8c;
}
.peopleknow_outer{
.people_list{
 li{
	 .graybutton{
		 // width:28px;
		 img{
			 -webkit-translate: all ease-in-out 0.3s;
			 -moz-translate: all ease-in-out 0.3s;
			 -ms-translate: all ease-in-out 0.3s;
			 -o-translate: all ease-in-out 0.3s;
			 translate: all ease-in-out 0.3s;
			 display:inline-block;
			 max-width:100%;
		 }
		 .defaultt{
			 -webkit-translate: all ease-in-out 0.3s;
-moz-translate: all ease-in-out 0.3s;
-ms-translate: all ease-in-out 0.3s;
-o-translate: all ease-in-out 0.3s;
translate: all ease-in-out 0.3s;
			 display:inline-block;
		 }
		 .hoverr{
			 -webkit-translate: all ease-in-out 0.3s;
-moz-translate: all ease-in-out 0.3s;
-ms-translate: all ease-in-out 0.3s;
-o-translate: all ease-in-out 0.3s;
translate: all ease-in-out 0.3s;
			 display:none;
		 }
		 &:hover{
			 .hoverr{
				 -webkit-translate: all ease-in-out 0.3s;
	-moz-translate: all ease-in-out 0.3s;
	-ms-translate: all ease-in-out 0.3s;
	-o-translate: all ease-in-out 0.3s;
	translate: all ease-in-out 0.3s;
			 display:inline-block;
			 }
			 .defaultt{
				 -webkit-translate: all ease-in-out 0.3s;
	-moz-translate: all ease-in-out 0.3s;
	-ms-translate: all ease-in-out 0.3s;
	-o-translate: all ease-in-out 0.3s;
	translate: all ease-in-out 0.3s;
				 display:none;
			 }
		 }
	 }
 }
}
}
.footer_heading{
  background-color: #fff!important;
  text-align: center;
  font-size: 14px;
  color: #8c8c8c;
  border-top: 1px solid #e9e9e9;
  cursor: pointer;
  &:hover{
    color:#8c8c8c!important;
    background-color: #f5f7fa!important;
    cursor: pointer;
  }
  .greater{
    width: 6px;
      position: relative;
      top: -2px;
     }

}
.people_list{
 li{
   border-bottom-color: #f7f7f7 !important;
 }
}
.peopleknow_outer{
	.people_list{
	 li{
		 .graybutton{
			 img	 {
				 display:inline-block;
				 margin-top:-5px;
			 }
		 }
	 }
	}
}


.people_list{

  li.li_profileimg_know {
    .prfl_detail {
    margin-top: 0px;
    margin-left: 5px;
  .profilename{
    height: auto;
font-weight: 500;
margin-bottom: 5px;
  }
  .grayinfo{
    padding-bottom: 0px;
    .typeVisitor{
      margin-bottom: 5px;
font-size: 14px;
font-weight: normal;
color: rgba(0, 0, 0, 0.6);
    }
  }
}
}
}
