
<app-loginheader></app-loginheader>

<div class="windiv">
  <div class="container main_body">
    <div class=" innerwrapper">
      <div class="head">
        <h6>Browse People</h6>
        <p>
          Here you can find the complete list of people who have created their account on Study24x7.
        </p>

        <div class="searchWarap">
          <input type="text" placeholder="Search for people" [(ngModel)]="queryString" (keyup)="onchangeData()"><button>search</button>
        </div>

        <div class="searchmenu">
          <ul>
            <div *ngFor="let Alpabet of upper">  <li [ngClass]="{borderBottom: Alpabet === searchChar}"(click)="getPublicProfile(Alpabet,1)">{{ Alpabet}}</li></div>
            <!-- <li class="borderBottom" >B</li>
            <li>Y</li>
            <li>Z</li>-->
          </ul>
        </div>
      </div>

      <div class="directoryWrapper">
        <div class="directoryHead">
          <h3>People directory results for {{searchChar}}</h3>
        </div>
        <div class="directoryList" *ngIf="pageList">

          <ul>
            <!--<div *ngIf="index <20">-->
            <li  *ngFor="let a of directoryArray  | filterdata: queryData : 'USER_FULL_NAME'  | slice:0:20 ;  let index = index"><a (click)="pageRedirect(a.USER_NAME)">{{a.USER_FULL_NAME }}</a></li>
            <!--</div>-->
          </ul>
          

          <ul>
            <!--<li><a (click)="deleteUser(a.PAGE_NAME)>{{a.PAGE_NAME}}</a></li>-->
            <li  *ngFor="let a of directoryArray | filterdata: queryData : 'USER_FULL_NAME' | slice:20:40  ; let index = index"><a (click)="pageRedirect(a.USER_NAME)">{{a.USER_FULL_NAME}}</a></li>
          </ul>

          <ul>
            <!--<li><a (click)="pageRedirect(a.USER_NAME)">{{a.FIRST_NAME + ' '+ a.LAST_NAME}}</a></li>-->
            <li *ngFor="let a of directoryArray | filterdata: queryData : 'USER_FULL_NAME' | slice:40:60 ; let index = index"><a (click)="pageRedirect(a.USER_NAME)">{{a.USER_FULL_NAME}}</a></li>
          </ul>
        </div>


        <div *ngIf=!count style="float: left;width: 100%;text-align: center;font-weight: 500;font-size: 17px;padding: 23px;">
          No Record Found!
        </div>

        <div  *ngIf="(totalCount >60)" class="paginationWrapper">
          <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
            <!--<ul  class="pagination">-->
            <li [ngClass]="{disabled:pager.currentPage === 1}">
              <a (click)="getPublicProfile(searchChar,1)">First</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === 1}">
              <a (click)="getPublicProfile(searchChar,pager.currentPage - 1)">Previous</a>
            </li>
            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
              <!--<li  [ngClass]="{active:pager.currentPage === page}">-->
              <a (click)="getPublicProfile(searchChar,page)">{{page}}</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a (click)="getPublicProfile(searchChar,pager.currentPage + 1)">Next</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a (click)="getPublicProfile(searchChar,pager.totalPages)">Last</a>
            </li>
          </ul>
        </div>







        <div class="directoryList" *ngIf="!pageList">
          <div class="cardWrapper"  *ngFor="let person of people">
            <div class="imageWrapper">
              <img src="https://scontent.fdel19-1.fna.fbcdn.net/v/t1.0-1/c12.0.50.50a/p50x50/19113900_441790566178014_2323104399924641727_n.jpg?_nc_cat=108&_nc_ht=scontent.fdel19-1.fna&oh=634e744215e1fcfc997e1353039782d0&oe=5CC9440C" alt="aio">
            </div>
            <h3> <a (click)="pageRedirect(person.name)">{{ person.name }}</a></h3>
            <h6>Individual</h6>
          </div>
        </div>

      </div>


    </div>
  </div>
</div>
