
// @import "../../profile/profile.component.scss";
$textcolor : #2c2e2f;
$themeblue : #F05050;
$themegray : #f5f7fa;
$borderRadius: 5px;
@mixin btn_shadow($offset-x, $offset-y, $blur-radius, $spread-radius, $color, $inset: false) {
@if $inset {
-ms-box-shadow: inset $offset-x $offset-y $blur-radius $spread-radius $color;
-o-box-shadow: inset $offset-x $offset-y $blur-radius $spread-radius $color;
-webkit-box-shadow: inset $offset-x $offset-y $blur-radius $spread-radius $color;
-moz-box-shadow: inset $offset-x $offset-y $blur-radius $spread-radius $color;
box-shadow: inset $offset-x $offset-y $blur-radius $spread-radius $color;
}
@else {
-ms-box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color;
-o-box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color;
-webkit-box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color;
-moz-box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color;
box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color;
}
}

.profile_bar.page_profile_bar{
  height: 52px;
  line-height: 52px;
  .broadcastbtn{
    background-color: #fff;
    right: 50%;
    width: 123px;
    height: 38px;
    border-radius: 33px;
    // -webkit-box-shadow: 0px 1px 2px 0px #2c2e2f20;
    // box-shadow: 0px 1px 2px 0px #2c2e2f20;
    @include btn_shadow(0, 1px, 2px, 0px, rgba(44, 46, 47, 0.1));
    margin-top: 7px;
    margin-right: 15px;
    height: 36px!important;
   margin-top: 7px!important;
    img{
      width: 19px;
      margin-left: 3px;
    }
  }
  li{position: relative;
    .count{
      display: inline-block;
      height: 16px;
      width: 16px;
      line-height: 16px;
      border-radius: 50%;
      background: #ed6568;
      color: #fff;
      margin-left: 5px;
      font-size: 9px;
      text-align: center;
      font-family: 'Roboto';
      font-weight: 500;}
    }
     .broadcastbtn{
       &:hover{
         background-color: rgba(44, 46, 47, 0.1) !important;
         -webkit-box-shadow: none;
         box-shadow: none;
       }
     }
.unfollow_btn{
  height:30px;
  line-height: 1;
  margin-right: 0;
  background:#f05050;

color:#fff !important;
width:90px;
}
    .profile_btn {line-height: 1 !important;margin: 10px 15px 0px 0px;color: rgba($textcolor,0.7)}
    .btn.btn-primary{color:#fff;}
    .page_bar_right{float: right;
      .pagesetting{width: auto;display: none;
        float: right;
        margin: 12px 15px;
        .greyimg{display:block;cursor: pointer;}
        .hoverimg {display: none;}
        &:hover{
          .greyimg{display:none;}
          .hoverimg {
            display: block;
            cursor: pointer;

          }

        }
      }
    }
    .page_details{
      float: left;
      width: auto;
      li{float: left;
        display: inline-block;padding: 10px 35px 10px 15px;
        label{color:$themeblue;
          font-size: 15px;float: left;
          width: 100%;line-height: 14px;
          text-align: center;
          margin-bottom: 4;}
          span{width: 100%;
            text-align: center;
            display: block;
            line-height: 14px;
            font-size: 15px;
            color: rgba($textcolor,0.7);
            float:left;
          }

        }
      }
    }
    .leftmenulist{
      border-radius: $borderRadius !important;
      background: white;float:left;width:100%;
      margin-bottom:15px;
      ul{width: 100%; border-radius: 5px 5px 0 0 !important;
        float: left;
        background-color: #fff;

padding: 5px 0 10px;
border-bottom: 1px solid #e9e9e9;
    li{font-size: 14px;
font-weight: 400;cursor: pointer;
    padding: 10px 15px;color: rgba($textcolor, 1);
line-height: 22px;border-left: 2px solid transparent;
cursor: pointer;
//        &:first-child{border-radius: 5px 5px 0px 0px !important;}
//        &:last-child{border-radius: 5px 5px 0px 0px !important;}

          .leftmenuicon {
            margin-right: 15px;
            display: inline-block;
            width: 20px;
            float: left;
            text-align: left;
          }
          .defaultt {
            display: inline;
            width: 18px!important;
          }
          .hover {
            display: none;
            width: 18px!important;
          }
          &:hover{ background: $themegray;color: $themeblue;
            img.defaultt {
              display: none;
            }
            img.hover {
              display: inline;
            }
          }     }
          li.active {
            border-left: 2px solid $themeblue;
            background: $themegray;
            // color: $themeblue;
            color:#2c2e2f !important;
            img.defaultt {
              display: inline;
            }
            img.hover {
              display:  none;
            }
          }}
        }
        .prfmargintop{
          margin-top: 15px!important;
        }
        .coverphoto{
          .profile_Detail{margin-bottom: 15px !important;box-shadow: 0 0 5px rgba(0, 0, 0, 0.05) !important;width: 320px;
            .profile_picture{
              // border: 8px solid rgba(255, 255, 255, 0.3);
              // border-radius: 50%;
              // width: 137px;
              // position: relative;
              // height: 137px;
               // .whitebg{
               //   position: absolute;
               //  width: 120px;
               //  height: 120px;
               //  background: #fff;
               //  z-index: 0;
               // }
               img{
                 position: relative;
                 z-index: 1;
                 width: 100%;
                 height: 100%;
               }

            }
              .profile_name{
                // margin: 10px 0 0px 0px !important;
                font-size: 18px !important;}
            }
            .remove_shadow{
              box-shadow: none!important;
            }
            .profile_picture{

              .coverprofile{
                width: 40px;
                height: 40px;
              }
              .usruplimg{
                img{
                  margin-left: 0px;
                  // margin-top: 10px;
                  width: 20px !important;
                  margin-top: 0px;
                }
              }

            }
          }
          .leftmenuicon{
            .about_img{
              height:20px !important;
            }
          }
          .follow{
            width: 90px;
          }
          .btn_claim{
            float: right;
          }
          .remove_shadow{
            box-shadow: none!important;
          }
          // .achangeprofile{
          //   width: 120px;
          //   height: 34px;
          //   border-radius: 5px;
          //   background-color: rgba(0, 0, 0, 0.5);
          //   transition: all .2s;
          //   opacity: 1;
          //   border-radius: 5px;
          //   transition: all .2s;
          //   opacity: 1;
          //   &:hover{
          //     background-color: rgba(0, 0, 0, 0.7);
          //   }
          //   .fileupload_image{
          //     width: 100%;
          //     height: 100%;
          //     cursor: pointer;
          //     background-color: transparent;
          //     border-radius: 0%;
          //     span{
          //       float: right;
          //       font-size: 12px;
          //       color: #fff;
          //       line-height: 34px;
          //       text-align: center;
          //       width: 90px;
          //       font-weight: normal;
          //     }
          //
          //   }
          //   .cover_img_drpdown{
          //     background-color: #fff;
          //     border-radius: 5px;
          //     display: block;
          //     overflow: hidden;
          //     label{
          //       margin-bottom: 0px;
          //       background-color: rgb(255, 255, 255);
          //       span{
          //         color:rgba(44,46,47,.5);
          //         text-align: left;
          //         padding-left: 8px;
          //         line-height: 36px;
          //       }
          //       &:hover span{
          //         color: #f05050;
          //       }
          //     }
          //     .border_bttm{
          //       border-bottom:1px solid  #f7f7f7;
          //     }
          //   }
          //   // &:hover .cover_img_drpdown{
          //   //   display: block;
          //   // }
          //   .fileupload_image:hover img.hoverr{
          //     display: inline;
          //   }
          //   .fileupload_image:hover img.default{
          //     display: none;
          //   }
          // }


          // newpage alert
          .newpage-alertbox{
            width: 100%;
            float: left;
            padding:20px 20px 15px 20px;
            border-radius: $borderRadius;
            // background-color: $themeblue;
            margin-bottom: 15px;
            margin-top: 0px;
            position: relative;
            background: #f05050;
            background: -moz-linear-gradient(left, #f05050 0%, #bd3f3f 100%);
            background: -webkit-linear-gradient(left, #f05050 0%,#bd3f3f 100%);
            background: linear-gradient(to right, #f05050 0%,#bd3f3f 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f05050', endColorstr='#bd3f3f',GradientType=1 );
            .close_newpage{
              display: inline-block;
              width: 18px;
              height: 18px;
              cursor: pointer;
              position: absolute;
              top: 10px;
              right: 10px;
              z-index: 1;
              margin-right: 0;
            }
            .newpage_innerleft{
              width: 60%;
              float: left;
              p{
                color: white;
                &:nth-child(1){font-size: 20px;}
                &:nth-child(2){font-size: 33px;margin-top:10px;font-weight: 500;}
                &:nth-child(3){font-size: 13px;margin-top:30px;}
              }
            }
            .newpage_innerright{
              width:40%;
              float: left;
              position: absolute;
              right: -2px;
              bottom: -2px;
            }
          }
          // end newpage alert

          // // pagetips section
          // .page_tips{
          //   width: 100%;
          //   float:left;
          //   margin-bottom: 15px;
          //   // margin-top:0 !important;
          //   border-radius: 5px;
          //   background-color: white;
          //   .page_tips_inner{
          //     width: 100%;
          //     float:left;
          //     padding:20px 25px;
          //     border-bottom: 1px solid $themegray;
          //     background-color: white;
          //     position: relative;
          //     .close_newpage{
          //       display: inline-block;
          //       width: 12px;
          //       height: 12px;
          //       cursor: pointer;
          //       position: absolute;
          //       top: 10px;
          //       right: 10px;
          //     }
          //     .inner_left{width:20%;float:left;height:auto;
          //       img{
          //         width:80px;
          //         margin-top: 10px;
          //       }
          //     }
          //     .inner_right{width:80%;float:left;padding-right: 40px;
          //       p.headng_1{
          //         font-size: 14px;font-weight: 500;}
          //         p.headng_2{
          //           font-size:14px;
          //           opacity:0.6;
          //           margin-top: 5px;
          //           color: #2c2e2f;
          //         }
          //         .btn-pagetips{
          //             text-align: center;
          //             -webkit-box-shadow: 0 1px 2px 1px #2c2e2f20;
          //             box-shadow: 0 1px 2px 1px #2c2e2f20;
          //             border-radius: 18px;
          //             height: 30px;
          //             font-size: 14px;
          //             background-color: white;
          //             position: relative;
          //             border: none;
          //             padding: 2px 14px 0px 14px;
          //             cursor: pointer;
          //             float: left;
          //              &:hover{
          //                background-color: #2e2c2f10;
          //               -webkit-box-shadow: none;
          //               box-shadow: none;
          //              }
          //         }
          //       }
          //     }
          //   }
          //   // end pagetips section
            // photos section
            .photos-wrapper{
              width: 100%;
              float: left;
              margin-bottom: 15px;
              background-color: white;
              border-radius: 5px;
              display: none;
              p{width: 100%;
                float: left;
                font-size: 12px;
                text-align: right;
                padding: 0 10px 10px 10px;
                opacity: 0.5;}
                .center-wrapper{
                  padding:10px;
                  width: 100%;
                  float: left;
                  .photos-leftinner{
                    width:35%;
                    float: left;
                    border: 2px dashed #e9e9e9;
                    cursor: pointer;
                    span{
                      width: 100%;
                      float: left;
                      text-align: center;
                      &:nth-child(1){

                        margin-top: 40px;
                        img{
                          width:80px;
                        }
                      }
                      &:nth-child(2){
                        font-size: 16px;
                        margin-top: 25px;
                        font-weight: 500;
                        opacity: 0.8;
                      }
                      &:nth-child(3){
                        font-size: 12px;
                        margin-top: 10px;
                        margin-bottom: 36px;
                        opacity: 0.6;
                      }
                    }
                    &:hover{
                      background-color: #f5f7fa;
                    }
                  }
                  .photos-rightinner{
                    width:65%;
                    float:left;
                    .imgg-outer{
                      width: 50%;
                      float:left;
                      padding-left: 10px;
                      .imgg-inner{
                        width:100%;
                        height: 110px;
                        background-color: #f5f7fa;
                        text-align: center;
                        img{
                          width:100%;
                          height: 100%;
                          // margin-top:25px;
                        }
                        img.empty_pic{
                          width: 55px!important;
                          height: auto !important;
                          margin-top: 25px;
                        }
                        img.main_pic{
                          width:100% !important;
                          height:100% !important;
                          margin-top:  !important;
                        }
                      }
                    }
                    .imgg-outer-grid{
                      width:33.33%;
                      float:left;
                      padding-left: 10px;
                      margin-top: 10px;
                      .imgg-inner{
                        width:100%;
                        height: 110px;
                        background-color: #f5f7fa;
                        text-align: center;
                        img{width: 30px;margin-top: 36px;}
                        img.empty_pic{
                          width: 30px;
                          margin-top: 36px;
                        }
                        img.main_pic{
                          width:100% !important;
                          height:100% !important;
                          margin-top: 0px !important;
                        }
                      }
                    }
                  }
                }
              }
              // end photos section
              .leftmenu-interest{
                width:100%;
                float: left;
                h6{
                  padding:15px 20px 5px;
                  font-size: 14px;
                }
                .interest-sub{
                  width: 100%;
                  float: left;
                  padding: 0 10px 45px;
                  position: relative;
                  .showmoreint{
                    width: 96%;
                    background: #fff;
                    float: left;
                    position: absolute;
                    top: 78px;
                  }
                  .showlessint{
                    width: 94%;
                    background: #fff;
                    float: left;
                    position: absolute;
                    bottom: 8px;
                  }
                  span{
                    float: left;
                    padding: 5px 10px;
                    font-size: 11px;
                    margin-top: 10px;
                    border: 1px solid #f0f5f7;
                    background-color: #f5f7fa!important ;
                    border-radius: 15px;
                    margin-left: 5px;
                    color: #8c8c8c;
                    &:last-child{
                      // background-color: white;
                    }
                  }

}
.moreintpage{
  /*max-height: 124px;*/
  overflow: hidden;
}
}

// review this page
// .reveiw-page-wrap{
//   width: 100%;
//
// float: left;
//
// margin-bottom: 15px;
// background-color: white;
// border-radius: 5px;
//   .review-heading{
//     width: 100%;
//     float: left;
//     padding: 15px 15px 0;
//     p{
//       &:first-child{
//         font-size: 14px;
//         // margin-top: 10px;
//         font-weight: 500;
//
//       }
//       &:last-child{
//         font-size: 14px;
//         opacity: 0.5;
//         margin-top: 5px;
//       }
//     }
//
//   }
//   .review-stars{
//     width: 100%;
//     float: left;
//     padding: 15px;
//     .textarea-review{
//       width: 100%;
//       resize: none;
//       height: 80px;
//       padding:0 10px 10px;
//       font-size: 14px;
//       &:hover{
//         border:1px solid #dfe0e8;
//       }
//       &:focus{
//         border:1px solid #dfe0e8;
//       }
//     }
//     .btn-pagetips{
//       -webkit-box-shadow: 0 1px 2px 1px #2c2e2f20;
//     box-shadow: 0 1px 2px 0 #2c2e2f20;
//     border-radius: 18px;
//     height: 30px;
//     font-size: 12px;
//     background-color: white;
//     width:auto;
//     float:right;
//     margin-top: 15px;
//     line-height: 0;
//     color: #2c2e2f;
//     border:none;
//     &:hover{
//       background-color:#2e2c2f20;
//       box-shadow: none;
//     }
//     }
//   }
// }
// end review this page


// stars
// .post-rate{border: none;
//
// box-shadow: none !important;}
// .rvw-star{font-size: 12px;
// background: #e9e9e9;
// padding: 2px 10px;
// border-radius: 5px;
// font-weight: 500;}
// .reviewslist-comp{border: 0px solid rgba(44, 46, 47, 0.2);
//
// .reviewList {
//     padding-right: 10px;
//     padding-left: 10px;
//     padding-top: 10px;
//     padding-bottom: 0px;
//     .profiledetail{margin-top: 0px;
//     .rating-span{  float: left;
//       line-height: 1;
//         }}
//     .time{display: inline-block;
//         width: auto;font-weight: normal;
//                 &:before{
//           content: ".";
// width: 1px;
// margin: -8px 6px 0px 5px;
// line-height: 1;
// float: left;
// font-weight: 500;
// color: #2c2e2f;
//         }
//     }
// }
// .reviewList{
//   padding-bottom: 10px;
// }
//   .post_profileContent{padding-left: 60px;}
//   .rating-span{  float: left;
// line-height: 1;
//     .page_star{display: inline-block;
// padding-left: 0px;margin-top: 5px;
// cursor: auto;
//         .stars{padding-left: 0px;float: left;}
//         label.star {
//           float: left;
//           padding: 0px;
//           font-size: 14px;
//           color: #444;
//           transition: all .2s;margin: -2px 3px 0px 1px;
//             img{width: 13px;}
//         }
//         label.starcount{margin-left: 3px;margin-top: -2px;float: right;}
//
//
//           label.star.fill{
//             .star-fill-svg{display: block;}
//             .star-half-svg{display: none;}
//             .star-blank-svg{display: none;}

            // &:before{
            //   content: ''; width: 14px;background-image: url(/../../../../assets/images/svg-one/icons8-star-filled-filled.svg);
            //   color: $themeblue;
            //   transition: all .25s;
            //   font: normal normal normal 15px/1 Glyphicons Halflings;
            // }
          // }
          //   label.star.half{
          //     .star-fill-svg{display: none;}
          //     .star-half-svg{display: block;}
          //     .star-blank-svg{display: none;}
          //   }
          //   label.star.blank{
          //     .star-fill-svg{display: none;}
          //     .star-half-svg{display: none;}
          //     .star-blank-svg{display: block;}
          //   }
          //
          //   label.star{
          //     .star-fill-svg{display: none;}
          //     .star-half-svg{display: none;}
          //     .star-blank-svg{display: block;}
              // &:before{
              //   content: '\e007';
              //   font: normal normal normal 15px/1 Glyphicons Halflings;
              //   color: $themeblue;
              //
              // }
//
//           }
//
//
//
//     }
//
//
//
//   }
// }
// end stars
// page name widget
.top-heading{
  position: relative;
  .edit-summary-about{
    position: absolute;
    background-color: #fff;
    top: 15px;
    z-index: 1;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 34px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.05) !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05) !important;
    border-radius: 50%;
    right:10px;
    .defaultt.plus, .hoverr.plus{
      width: 16px !important;
      margin-left: -1px;
      margin-top: -2px;
    }
    .hoverr{display: none;}
    &:hover .hoverr{
      display: block;
    }
    .defaultt{display: block;}
    &:hover .defaultt{
      display: none;
    }
  }
.page_about_head{
  font-size: 14px;
  padding:10px 15px;
  border-bottom: 1px solid #e9e9e9;
  opacity: 0.6;
  font-weight: 500;
  span{
    width: 25px;
    margin-right: 5px;
  }
}
}
.top-head{margin-bottom: 15px;box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);}
.page-about-wrapp{
background: #ffffff;
border-radius: 5px;
  .about-content-wrapp{
    padding: 10px 0;

  .pg-about-content{
    padding: 15px 25px;
    span{
      font-size: 14px;
      opacity: 0.5;
    }
    p{
      font-size: 14px;
      margin-top: 5px;
    }
  }
}
}

// end pagename widget
.editbtnintrest{
  float: right;
  position: absolute;
  right: 24px;
  background-color: #e9e9e9!important;
  padding: 6px;
  border-radius: 50%;
  top: -1px;
  .defaultt,.hoverr{
  width: 15px!important;
  }
}

// page photo gallery start
.page_pgot_gallery{
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05) !important;
  background-color: #fff;
  float: left;
  width: 100%;
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
  margin-bottom: 15px;
  display: none;
  .head{
    padding: 10px !important;
    background-color: #F5F7FA;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #e9e9e9;
    font-size: 14px;
  }
  .img_wrapper{
    width: 100%;
    float: left;
    padding: 10px;
    border-top: 1px solid #f5f7fa;
    .leftwrapper{
      display: inline-block;
      float: left;
      // width: 252px;
      width: 193px;
      height: 250px;
      overflow: hidden;
      cursor: pointer;
      background-color: #F5F7FA;
      img{
        width: 100%;
        height: 100%;
        transition: all .6s;
      }
      &:hover img{
        transform: scale(1.1);
      }
    }
    .rightwrapper{
      display: inline-block;
      float: right;
      width: 338px;
      .ryttopwrapper{
        width: 100%;
        float: left;
        height: 135px;
        div{
          width: 166px;
          float: left;
          height: 100%;
          overflow: hidden;
          background-color: #F5F7FA;
          cursor: pointer;
          img{
            width: 100%;
            height: 100%;
            transition: all .6s;
          }
          &:hover img{
            transform: scale(1.1);
          }

        }
      }

      .rytbttmwrapper{
        float: left;
          display: inline-block;
          height: 110px;
          margin-top: 5px;
        div{
          width: 109px;
          float: left;
          height: 100%;
          overflow: hidden;
          background-color: #F5F7FA;
          cursor: pointer;
          img{
            width: 100%;
            height: 100%;
            transition: all .6s;
          }
          &:hover img{
            transform: scale(1.1);
          }
        }
      }
    }
  }
  .pagefooter{
    -webkit-box-shadow: 0px 1px 10px 1px #e9e9e9;
    box-shadow: 0px 1px 10px 1px #e9e9e9;
    text-align: center;
    font-size: 14px;
    width: 100%;
    font-weight: 500;
    float: left;
    background: #fff;
    height: 40px;
    line-height: 40px;
    span{
      cursor: pointer;
    }
  }

  .innerimg_container {
      background-position: 50% 25%;
      background-size: cover;
      background-repeat: no-repeat;
  }



}

// page photo gallery end
.page__info{
  display: none;
}
// popup start
.popup{
	.abt_exp_popup{
		width: 700px;
		overflow: hidden;
		display: inline-block;
		position: fixed;
		margin: auto;
		top: 50%;
		margin-top: -300px;
		left: 0;
		right: 0;
		background: #fff;
		z-index: 999;
		border-radius: 5px;
		-webkit-transition: all 0.2s ease;
		transition: all 0.2s ease;
		.inner-wrap{
			.post-wrap{
				.input_wrapper{
					margin-top: 15px;
					float: left;
    			width: 100%;
					position: relative;
					.instbranchlist{
						left: 0px;
						top: 54px;
					}
				}
			}
			.footer{
        padding: 16px 16px;
				border-top: 1px solid #e9e9e9;
				box-shadow: 0px 1px 10px 1px #e9e9e9;

			}
		}
    .carousel-indicators{
      display: none;
    }
	}
}

.slide{
  height: 500px;
  .item{
    height: 500px;
    float: left;
    width: 100%;
    img{
      max-height: 500px;
      width: auto;
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      margin: auto;
    }
  }
}

.carousel-control.left {
    background-image: -webkit-gradient(linear,left top, right top,color-stop(0, rgba(0,0,0,0)),to(rgba(0,0,0,0)));
    background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
        margin-top: 0px!important;
}
.carousel-control.right {
    right: 0;
    left: auto;
    background-image: -webkit-gradient(linear,left top, right top,color-stop(0, rgba(0,0,0,0)),to(rgba(0,0,0,0)));
    background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
        margin-top: 0px!important;
}

.carousel-control {
    position: absolute;
    top: 191px;
    bottom: 0;
    left: 0;
    width: 71px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    // background-color: rgba(0,0,0,0);
    background-color: #f5f7fa;
    filter: alpha(opacity=50);
    opacity: .5;
    height: 90px;
    background-color: #e8ecf1;
    .glyphicon-chevron-left, .carousel-control .icon-prev {
    margin-left: -15px;
    margin-top: -15px;
    }
    .glyphicon-chevron-right, .carousel-control .icon-next {
    margin-right: -15px;
    margin-top: -15px;
    }
}
// popup end
.inner-image{
  background-position: 50% 25%;
  background-size: cover;
  background-repeat: no-repeat;
}

input,textarea,select{
  &:focus{
    border: 1px solid #66a9d5 !important;
    border-color: #66a9d5 !important;
   outline: 0;
   -webkit-box-shadow: 0 0 0 0.3rem rgba(153,197,227, 0.3)!important;
   box-shadow: 0 0 0 0.3rem rgba(153,197,227, 0.3)!important;
  }
}

.rightmenu_fixed{
  float: left;
  // width: 278px;
}
.rightmenu_fixed.fixedleft{

      position: fixed;
      // width: 278px;
      float: left;

}
.whitebg{
  width: 130px !important;
  height: 130px !important;
}
.coverphoto{
  img{
    width: 100%;
    height: 100%;
  }
}
.changeprofile{
  .fileupload_image{
    img{
      margin-top: 0px!important;
    }
  }
}
.changeprofile {
  .cover_img_drpdown {
    .fileupload_image {
      img{
        margin-top: 9px !important;
      }
    }
  }
}
.wrapper{
  .login_Header
  {
    // display: none;
    position: fixed;
    top: 0px;
    z-index: 4;
    background: #fff;
    width: 100%;
    height: 66px;
    line-height: 72px;

    .head_container{
      line-height: 0px;
      padding-top: 10px;
      position: relative;
      width: 1230px;
      max-width: 90%;
      .head-login-cntnar
      {
        width: 621px;
        float: right;
        // margin-right: 50px;
        .login-field{
          width:200px;
          float: left;
          position: relative;
          input{
            border-radius: 3px;
            height: 34px;
            font-size: 12px;
          }
        }
        .lgn-e-input{

          input{
            height: 34px;
            font-size: 12px;
            padding-left: 10px;
            &:focus{
              border: 1px solid #dfe0e8 !important;
              box-shadow: none !important
            }

          }
        }
        .lgn-p-input{
          width: 200px;
          float: left;
          margin-left: 10px;
          input{
            height: 34px;
            padding-left: 10px;
            &:focus{
              border: 1px solid #dfe0e8 !important;
              box-shadow: none !important
            }

          }
          .head_login_frgtpassword{
            position: absolute;
            top: 46px;
            right: 4px;
            text-align: right;
            color: #000;
            font-size: 11px;
            opacity: .7;
          }
          a:hover{
            text-decoration: underline!important;
            opacity: 1;
            color: #f05050;
          }
        }
        .login-button
        {
          // width: 90px;
          // float: left;
          // margin: 0px;
          // border-radius: 3px;
          // margin-left: 10px;
          // background-color: #333;
          // height:39px;
          // transition: all .4s;
          // border: none;
          width: 90px;
          float: left;
          margin: 0px;
          color: #000;
          border-radius: 3px;
          // border: 1px solid #FACFCF70 !important;
          border: 1px solid #000 !important;
          margin-left: 10px;
          // background-color: #FDEFEF;
          background-color: #fff;
          height: 34px;
          transition: all .4s;
          border: none;
          &:hover{
            border: 1px solid #f05050 !important;
            color: #f05050;
          }
          .text{
            font-size: 14px;
            font-weight: 500;
          }

        }
        .reg-button
        {
          width: 144px;
          float: right;
          border-radius: 3px;
          background-color: #fff;
          border: 1px solid #f05050;
          color: #f05050;
          font-size: 14px;
          font-weight: 500;
          height: 34px;
          transition: all .4s;
          float: left;
          margin-left: 20px;
          float: right;
          width: 90px;
          transition: all .3s;
          -webkit-transition: all .3s;
          float:  left;
          &:hover{
            background-color: #F26F6F!important;
            color: #fff;
            // box-shadow: 0px 0px 4px 1px #00000030
          }
        }
      }

      @media only screen and (max-width: 1300px) {
        .head-login-cntnar{
          width: 530px;
          .lgn-e-input{
            width: 155px;
            input{
              height: 35px;
              &:focus{
                border: 1px solid #dfe0e8 !important;
              }
            }
          }
          .lgn-p-input{
            width: 155px;
            input{
              height: 35px;
            }
          }
          .login_btn{
            height: 35px;
          }
          .reg-button
          {
            height: 35px;
          }
        }
      }


      .head_login_stock{
        width: 1px;
        background-color: #00000010;
        float: right;
        position: absolute;
        right: 183px;
        height: 32px;
        top: 32px;
        opacity: .5;
      }
    }

  }
}
.alert_message{
  border: 1px solid #f05050 !important;
  outline: 0;
  box-shadow: 0 0 0 0.3rem rgba(240,80,80,0.3 ) !important;
}
// new scss
.pagefollow{
  float: left;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  margin-bottom:15px;
  border-radius: 5px;
  .header{
    width: 100%;
    float: left;
    background-color: white;
    border-radius: 5px;
    h3{
      color: #2c2e2f;
      font-size: 14px;
      padding: 10px !important;
      background-color: #F5F7FA;
      border-radius: 5px 5px 0 0;
      border-bottom: 1px solid #e9e9e9;
    }
  }
  ul{
    float: left;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    margin-top: 0px;
    li{
      float: left;
      width: 100%;
      border-bottom: 1px solid #f7f7f7;
      padding: 15px 0;
      .profileImg{
        border-radius: 50%;
        border: 1px solid #eaeaea !important;
        height: 40px;
        overflow: hidden;
        width: 40px;
        float: left;
        img{
          width: 100%;
          height: 100%;
        }
      }
      .text{
        float: left;
        width: 70%;
        margin-left: 10px;
        padding-top: 5px;
        h3{
          font-size: 14px !important;
          color: #2c2e2f;
          a{
            &:hover{
              color: #f05050;
              text-decoration: underline !important;
            }
          }

        }
        p{
          color: rgba(44, 46, 47, 0.6);
          font-size: 12px;
          padding-bottom: 3px;
          font-weight: 500;

        }
      }
    }
  }
}
.publishwrapper{
  float: left;
  width: 100%;
  .innerwrapper{
    padding: 15px 15px 15px 15px ;
    float: left;
    width: 100%;
    p{
      float: left;
      width: 75%;
      line-height: 35px;
      font-size: 14px;
      color: #8c8c8c;

    }
    button{
      // box-shadow: 0 1px 2px 0 #2c2e2f20;
      @include btn_shadow(0, 1px, 2px, 0px, rgba($textcolor, 0.1));
      border-radius: 18px;
      font-size: 14px;
      background-color: white;
      width: auto;
      float: right;
      line-height: 0;
      color: #2c2e2f;
      border: none;
      &:hover{
        background-color: rgba($textcolor, 0.1);
        box-shadow: none;
      }
    }
  }
}
.addpost_outer.relative.popup-open-wrapper{
  .container.popup-container{
    .popup-inner-wrap.popup-open-inner-wrap{
      background: #fff;
      margin-top: 130px;
      .toolbar.addpost_hdng.error_main_heading{
        font-size: 14px;
        color: #2c2e2f;
        float: left;
        width: 100%;
      }
      .popupinnerwrapper{
        float: left;
        width: 100%;
        padding: 15px;
        .profileImg{
          border-radius: 50%;
          border: 1px solid #eaeaea !important;
          height: 40px;
          overflow: hidden;
          width: 40px;
          float: left;
          img{
            width: 100%;
            height: 100%;
          }
        }

        .text{
          float: left;
          width: 70%;
          margin-left: 10px;
          padding-top: 12px;
          h3{
            font-size: 14px !important;
            color: #2c2e2f;
            a{
              &:hover{
                color: #2c2e2f;
                text-decoration: none !important;
              }
            }
          }
        }
        .inputwrapper{
          float: left;
        width: 100%;
        font-size: 14px;
        text-align: left;
          p{
            font-size: 14px;
            padding: 10px 0px;
          }
          label{
            float: left;
            width: 100%;
            span{
              float: left;
              font-size: 14px;
              padding-top: 10px;
            }
            input{
              float: left;
              width: 295px;
              margin-left: 10px;
            }
          }
        }
      }
      .footer{
        float: left;
        width: 100%;
        padding: 10px 15px 10px 15px;
        height: 53px;
        margin-top: 0px;
        button{
          width: auto !important;
          margin-left: 10px;
          line-height: 28px;
          padding: 0 15px;
          height: 36px;
          background-color: #ee3939 !important;
          border-color: #F05050;
          color: white;
          box-shadow: none !important;
          border-radius: 30px;
          height: 31px;

        }

      }
    }
  }
}
.profile_bar.page_profile_bar{

.pageReport{
  float: right;
  position: relative;
  .postright_btn.postmenubtn{
    float: right;
    padding: 14px 10px 0px 0px;
    cursor: pointer;
    box-shadow: none;
    border: none;
    background: none;
  }
  .report{
    padding: 10px 15px;
    border-radius: 5px;
    text-align: left;
    box-sizing: border-box;
    border-top: 1px solid #dfe0e8;
    cursor: pointer;
    border-bottom: 0px;
    color: #2c2e2f;
    float: left;
    background: #fff;
    position: absolute;
    top: 190%;
    right: 1px;
    z-index: 1;
    border: 1px solid rgba(27, 31, 35, 0.15) !important;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2) !important;
    height: 60px;
    width: 180px;
    ul{
      float: left;
      width: 100%;
      li{
       float: left;
       width: 100%;
       padding: 5px 0px 0px 0px;
        .width100{
          .default{
                float: left;
                width: 15px;
                height: 15px;
                display: block;
              img{
                width: 100%;
                float: left;
              }

          }
          .hoverimg{
              float: left;
              width: 15px;
              height: 15px;
              display:none;
              img{
                width: 100%;
                float: left;
              }

          }
          .postdropdown_inner{
            display: inline;
            float: left;
            width: 100px;
            margin-left: 10px;

            span.time{

            }
          }

        }
        &:hover .width100 .default {
          display: none;
        }
        &:hover .width100 .hoverimg {
          display:block;
        }
        &:hover .width100 .postdropdown_inner{
          color:#f05050;
        }
      }
    }
  }
}
}
// .profile_bar.page_profile_bar{
//   height: 52px !important;
//   line-height: 52px !important;
// }

.left_pageinfo{
  display: none;
}
// new left menu
.navbottom{
  margin-bottom: 15px;
  width: 100%;
float: left;
overflow-x: scroll;
overflow-y: hidden;
background-color: #fff;
position: relative;
z-index: 1;
white-space: nowrap;
box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
.mobile_nav{
  width: 600px;
  float: left;
  .main_nav {
    background-color: #fff;
    border: 0;
    // bottom: 0;
    height: auto;
    padding: 10px 0 10px 0px;
    width:100%;
    float:left;
}

.icon_sec {
    float:left;
    display:inline-block;
    padding: 0 5px;
    cursor:pointer;
 .icon_sec {
    height: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.glyphsSpriteHome {
    margin-top: 2px;opacity: 1;
    width: 100%;float: left;
    text-align: center;
    img{width:18px;height:18px;margin: 0 auto;opacity: 1;}
    .nav_icon_default{display:block;}
    .nav_icon_active{display:none;}

}
.icon_cont{color:$textcolor;opacity:0.8;font-size:12px;}
}
.icon_sec.navactive{
  .glyphsSpriteHome {
      .nav_icon_default{display:none;}
      .nav_icon_active{display:block;}

  }
  .icon_cont{color:$themeblue;}
}
}
}
// end new left menu
.top_navigation{
  display: none;
}
.about_page_name{
  display: none;
}
.page_profile_bar{
.profile_right_icon{
                   height: 52px;
                   float: right;display:none;

                       img{

                       margin: 18px 11px;
}
                   }

}

.mlogo{
  display: none;
  width: auto;
height: 45px;
}
.post_outer.navbottom{
  border-radius: 5px;
}
.pageinfo{
  display: none;
}
.reviewdiv{
  display: none;
  width:100%;
  float:left;
}


.courseSliderWrapper{
    float: left !important;
    width: 100%;
    padding: 0px;
}
.section_fixed{
  position: fixed !important;
  top: 56px !important;
  left:0;
  right:0;
  z-index: 11;
}
.whiteColorredborder{
  color: #f05050;
box-shadow: 0 1px 2px 1px rgba(#f05050, 0.1);
border: 1px solid #f05050;
height: 36px;
cursor: pointer;
&:hover {
    background-color: #f05050;
    box-shadow: none;
    color: #fff;
}
}
.completepagebio{
  border-radius: $borderRadius;
  .page_tips_inner{
    padding: 20px 15px;
    .inner_right {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
    p.headng_1{
    font-size: 16px;
    font-weight: 500;
  }
  p.headng_2 {
    opacity: 1;
    margin-top: 7px;
}
}
}
}
.courseresponsiveMob{
  .page_tips_inner{
    padding: 20px 15px 0px 15px;
    .inner_right {
    position: relative;
    padding-right: 0px;
    padding-left: 0px;
    text-align: left;
    .innerLeft{
      float: left;
      width: 100%;
      padding-right: 140px;
    }
    .innerRight{
      position: absolute;
      right: 0;
      bottom: -1px;
      background-size: 100% 100%;
      width: 140px;
      height: 170px;
      background-image: url("/assets/images/courserMob.png");
    }
    p.headng_1{
    font-size: 16px;
    font-weight: 500;
  }
  p.headng_2 {
    opacity: 1;
    margin-top: 7px;
}
}
}
.goforweb{
  float: left;
width: 100%;
padding: 5px 0px;
background-color: #ffd8d8;
display: none;
span{
  display: block;
text-align: center;
width: 240px;
padding-left: 20px;
position: relative;
background-image: url('/assets/images/svg-three/page_icon/destopIcon.svg');
background-repeat: no-repeat;
font-size: 12px;
background-position: 4px 3px;
background-size: 14px 12px;
margin: 0 auto;
}

}
}

  .exploreData {
    float: left;
    width: 100%;
    padding: 15px 0px 0px 0px;

 ul {
    // border-bottom: 1px solid #dfe5eb;
    padding: 0px;
    width: 100%;
    float: left;

 li {
    float: left;
    list-style: none;
    padding: 0px 0px 8px 28px;
    width: 100%;
    position: relative;
    line-height: normal;

 span {
    background-image: url('/assets/images/svg-three/page_icon/correct.svg');
    width: 15px;
    height: 15px;
    position: absolute;
    left: 0px;
    background-color: #f05050;
    border-radius: 4px;
    background-size: 8px 8px;
    background-repeat: no-repeat;
    background-position: 3px;
    top: 2px;
}
}
}
}

.btnSec {
    float: left;
    width: 100%;
    margin-top: 0px;
    padding:12px 0px 20px 0px;
 a {
    padding: 0px 20px 0px 20px;
    cursor: pointer;
    border-radius: 20px;
    font-weight: 400;
    float: left;
    height: 36px;
    line-height: 36px;
    position: relative;
    text-decoration: none;
}
 a.redBtn {
   background: #fff;
   color: #f05050;
    margin-right: 15px;
    border: 1px solid #f05050;
    span.videoIcon {
       background-image: url('/assets/images/svg-three/page_icon/playIcon.svg');
       left: 13px;
       width: 14px;
       height: 14px;
       background-size: 100% 100%;
       top: 10px;
       position: absolute;
       display: none;
   }
}
 a.whiteBtn {
    background: #fff;
    color: rgba(0, 0, 0, 0.9);
    border: 1px solid #dfe5eb;
    padding: 0px;
    height: 36px;
    width: 36px;
    span.articleIcon {
        background-image: url('/assets/images/svg-three/page_icon/sheet.svg');
        left: 11px;
        position: absolute;
        width: 14px;
        height: 19px;
        background-repeat: no-repeat;
        top: 7px;
    }
}




}
.completepagebio{display: none;}
.__for_mobile{
  display: none;
}

@media only screen and (max-width:991px){

.completepagebio{display: block;}
  .photos-wrapper{
    display: block;
    margin-bottom: 10px;
  }

  .page_pgot_gallery, .page__info, .__for_mobile{
    display: block;
  }
  .mobile_none{
    display: none !important;
  }




  .top_navigation{
    display: block;
    // transition: 0.5s ease-in;
    // top: -5px;
    position: unset;
  }
  .about_page_name{
    display: block;
  }
  .login_Header{
    .head_container{
      max-width:100% !important;
    }
  }
.page_tips{
  display: none;
}
.page_tips.completepagebio{
  display: block;
}
.pageinfo{
  display: block;
}
// .reviewdiv{
//   display: block;
// }
  .headerout .coverphoto{
    margin-top: 10px !important;
  }
}
@media only screen and (max-width:600px){
  .top_heading, .photos-wrapper{
    border-radius:0;
  }
  .page_tips_inner{
    border-radius:0 !important;
  }
  // .container.main_body.profile_body{
  //   padding-left:0;
  //   padding-right:0;
  // }
  .page_profile_bar{
  .profile_right_icon{display:block;}
}
  .page_profile_bar.profile_menu_self{
    .profile_right_icon{display:none;}
  }
  .show_btn_list_web{display:none;}
  .post_outer.navbottom, .page_pgot_gallery {
    border-radius: 0;
  }
}
@media screen and (max-width:991px) and (min-width:768px){
  .left_pageinfo{
    display: block;
  }
  .help-icon{
    display: none;
  }
}
@media only screen and (max-width:767px){
  .head-login-cntnar{
    .login-field.lgn-e-input{
      display: none;
    }
    .login-field.lgn-p-input{
      display: none;
    }
  }
  .wrapper .login_Header .head_container .head-login-cntnar{
    width:auto !important;
  }
  .login_Header{
    .head_container{
      .logo{
        display: none;
      }
      .mlogo{
        display: block;
        float: left;
      }
    }
  }
  .center_feed{
   padding-left: 0;
   padding-right: 0;

  }
}
@media only screen and (max-width:420px){
  .photos-wrapper{
    .center-wrapper{
      .photos-leftinner{
        span:nth-child(1){
          margin-top: 10px;
        }
      }
    }
  }
  .coverphoto .profile_Detail .profile_name{
    line-height: 15px !important;
    overflow: unset;
  }
  .coverphoto .profile_Detail{
    margin-bottom: 5px !important;
  }
  .page_pgot_gallery .img_wrapper .leftwrapper{
    width: 100% !important;
  }
  .page_pgot_gallery .img_wrapper .rightwrapper{
    width: 100% !important;
    margin-top: 5px;
  }
  .page_pgot_gallery .img_wrapper .rightwrapper .ryttopwrapper div{
    width: 49%;
  }
  .page_pgot_gallery .img_wrapper .rightwrapper .rytbttmwrapper{
    width: 100%;
   div{
    width: 33%;
  }
}
.page_pgot_gallery .img_wrapper .leftwrapper{
      height: 190px;
    }
}
@media only screen and (max-width:1170px) and (min-width:420.5px){
  .page_pgot_gallery .img_wrapper .leftwrapper{
    width: 36% !important;
  }
  .page_pgot_gallery .img_wrapper .rightwrapper{
    width: 63% !important;
  }
  .page_pgot_gallery .img_wrapper .rightwrapper .ryttopwrapper div{
    width: 49%;
  }
  .page_pgot_gallery .img_wrapper .rightwrapper .rytbttmwrapper{
    width: 100%;
   div{
    width: 33%;
  }
}
}


@media only screen and (max-width:600px){
.profile_btn.btn_claim{
    margin-right: 38px !important;
    height: 24px !important;
  }
  .navbottom{
    margin-bottom: 10px;
  }
  .profile_body .margintop{
    margin-top:8px;
    margin-bottom: 0px !important;
  }
  // .container.main_body.profile_body{
  //   margin-top: 50px;
  // }
  .top_navigation.nottokenpage{
    margin-top:0 !important;
  }
  .page_profile_bar .profile_right_icon{
    height: 22px;
    img{
      margin: 13px 11px;
    }
  }
}


@media only screen and (max-width:440px){
  .courseresponsiveMob{
  .page_tips_inner{
   .inner_right{
    .innerLeft {
    padding-right: 100px;
}
.innerRight{
    bottom: -1px;
    background-position: 13px 4px;
    background-repeat: no-repeat;
}
}
}
}
}
@media only screen and (max-width:330px){
  .courseresponsiveMob{
  .page_tips_inner{
   .inner_right{
.innerRight{
  width: 120px;
height: 140px;
}
}
}
}

.btnSec a.redBtn {
    margin-right: 10px;
}
.btnSec a {
    padding: 0px 12px 0px 32px;
    line-height: 32px;
}
}
.navbottom .mobile_nav.mblwidth{
  width:430px !important;
}
.is_publicviewpage{
   .navbottom {
     .mobile_nav {
       width: 440px;
     }
  }
}

// desktop view center widget create course
.course_create_desktopview{
  width: 100%;
  float: left;
  border-radius: 5px;
  .coursedesk{
    border-radius: 5px;
    overflow: hidden;
    .page_tips_inner{
      padding-top: 15px;
      .inner_right{
        .innerLeft{
          .headng_1{
            color: #343434;
            margin-top:0;
          }
          .headng_2{
            color: #343434;
            line-height: 1.29;
          }
          .exploreData{
            width: 50% !important;
            padding-right:10px;
            padding-top: 13px !important;
            ul{
              li{
                font-size: 14px;
                color: #343434;
                padding-left:25px;
              }
            }
          }
          .btnSec{
            padding-top: 10px;
            .redBtncreate{
              width: 119px;
              height: 36px;
              border-radius: 21px;
              box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
              background-color: #ffffff;
              font-size: 14px;
              font-weight: 500;
              text-align: center;
              color: #343434;
              float: left;
              margin-right: 15px;
              line-height: 36px;
              position: relative;
              padding:0;
              border: 1px solid transparent;
              &:hover{
                border: 1px solid #f05050;
              }
            }
            .whiteBtn{
              margin-right: 15px;
              .iconredplay{
                background-image: url(/assets/images/svg-three/page_icon/redplay.svg);
                left: 13px;
                position: absolute;
                background-repeat: no-repeat;
                top: 10px;
                width: 10px;
                height: 13px;
              }
            }
          }
        }
      }
    }
    .innerRight_desk{
      position: absolute;
      right: 0;
      bottom: 24px;
      background-size: 100% 100%;
      width: 140px;
      height: 156px;
      background-image: url(/assets/images/courseDesk.png);
    }
  }
}
.create_new_course{
  position: relative;
  .page_tips_inner{
    padding-bottom: 15px;
    .inner_right{
      padding-right: 230px;
      .innerLeft{
        padding-right: 0;
        .btnSec{
          position: absolute;
          top: 0;
          right: 0;
          width: 222px;
          padding: 0 !important;
          height: 100%;
          align-items: center;
          display: flex;
        }
        .headng_1{
          span{
            width: 24px;
            height: 24px;
            float: left;
            margin-top: -5px;
            margin-left: -5px;
            margin-right: 5px;
            img{
              width: 100%;
              height: 100% !important;
              float: left;
            }
          }
        }
        .redBtncreate{
          margin-right: 0px !important;
        }
      }
    }
  }
}
@media only screen and (max-width:540px){
  .course_create_desktopview{
   .coursedesk {
   .page_tips_inner{
   .inner_right .innerLeft{
    .exploreData{
    width: 100% !important;
}
    .exploreData2{
    padding-top: 0px !important;
}
}
}
}
}
}
@media only screen and (max-width:440px){
  .create_new_course{
    .page_tips_inner{
      .inner_right{
        padding-right: 0px;
        .innerLeft{

          .btnSec{
            position: relative;
            padding:10px 0px 0px 0px !important;
          }
        }
      }
    }
  }
  .course_create_desktopview{
  .coursedesk {
  .innerRight_desk {
    width: 110px;
    height: 107px;
    bottom: 68px;

}}
}
.courseresponsiveMob{
.page_tips_inner{
 .inner_right{
 .innerLeft {
    padding-right: 0px;
}
}
}}
}
