<div class="margintop15">
    <div class="addpost_outer connectionpage_outr">
        <div class="outer_multimenu">
            <ul class="addposttab_out connectionout clearfix"
                [ngClass]="{'other_view_profile_con' : connectiontab === 1 }">
                <li (click)="backToConnection()" class="backButton"
                    *ngIf="connectiontab === 6 || connectiontab === 2 || connectiontab === 4">
                    <span>
                        <img src="assets/images/svg-three/add_post/downarrow.svg" alt="">
                    </span>
                </li>
                <!-- <li class="addposttab" (click)="connectionpage(1)" [ngClass]= "{'addposttab-active' : connectiontab === 1 }"  id="Connections">Connections</li>
            <li class="addposttab" (click)="connectionpage(2)" [ngClass]= "{'addposttab-active' : connectiontab === 2 }" *ngIf="tabsview['connectionView']==2" id="tab2">Followers</li>
            <li class="addposttab" (click)="connectionpage(3)" [ngClass]= "{'addposttab-active' : connectiontab === 3 }" *ngIf="tabsview['connectionView']==2" id="tab3">Following</li>
            <li class="addposttab" (click)="connectionpage(4)" [ngClass]= "{'addposttab-active' : connectiontab === 4 }" *ngIf="tabsview['connectionView']==2" id="tab4">Connection Requests</li>
            <li class="addposttab" (click)="connectionpage(5)" [ngClass]= "{'addposttab-active' : connectiontab === 5 }" *ngIf="tabsview['connectionView']==2" id="tab5">Suggestions</li>
            <li class="addposttab" (click)="connectionpage(6)" [ngClass]= "{'addposttab-active' : connectiontab === 6 }" *ngIf="tabsview['connectionView']==2" id="tab6">Requests Sent</li> -->
                <li class="addposttab" (click)="connectionpage(1)"
                    [ngClass]="{'addposttab-active' : connectiontab === 1 }" id="Connections"
                    *ngIf="connectiontab != 2 && connectiontab != 4 && connectiontab != 6">Connections</li>
                <li class="addposttab cursolnone removeborder" (click)="connectionpage(2)" *ngIf="connectiontab === 2"
                    id="tab2" style="">Followers</li>
                <li class="addposttab" (click)="connectionpage(3)"
                    [ngClass]="{'addposttab-active' : connectiontab === 3 }"
                    *ngIf="tabsview['connectionView']==2 && connectiontab != 2 && connectiontab != 4 && connectiontab != 6"
                    id="tab3">Following</li>
                <li class="addposttab cursolnone removeborder" (click)="connectionpage(4)" *ngIf="connectiontab === 4"
                    id="tab4" style="">Connection Requests</li>
                <li class="addposttab" (click)="connectionpage(5)"
                    [ngClass]="{'addposttab-active' : connectiontab === 5 }"
                    *ngIf="tabsview['connectionView']==2 && connectiontab != 2 && connectiontab != 4 && connectiontab != 6"
                    id="tab5">Suggestions</li>
                <li class="addposttab cursolnone removeborder" (click)="connectionpage(6)" *ngIf="connectiontab === 6"
                    id="tab6" style="">Requests Sent</li>
                <li class=" menuButton" (click)="showList()" *ngIf="myProfile==2">
                    <img src="assets/images/svg-three/inbox_icon/menu.svg" alt="">
                    <div class="menuList" *ngIf="cnnectionList">
                        <!-- <div class="menuList" *ngIf="cnnectionList" (mouseleave)="showList()"> -->
                        <ul>
                            <li class="addposttab" (click)="connectionpage(2)" *ngIf="tabsview['connectionView']==2"
                                id="tab2">Followers</li>
                            <li class="addposttab" (click)="connectionpage(4)" *ngIf="tabsview['connectionView']==2"
                                id="tab4">Connection Requests</li>
                            <li class="addposttab" (click)="connectionpage(6)" *ngIf="tabsview['connectionView']==2"
                                id="tab6">Requests Sent</li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>

        <div class="content searchpage">
            <!-- tab1-->
            <div class="people_list friendlist" *ngIf="connectiontab === 1" data-infinite-scroll id="tab1"
                [infiniteScrollDistance]="10" (scrolled)="onScrollDown()" [scrollWindow]="true">
                <div class="dataList">
                    <ul *ngIf="connectionView === 1">
                        <li *ngFor="let connections of myconnection;let i = index" id="conn_{{connections.USER_ID}}">

                            <div class="profileimg_know">
                                <img src='{{ connections.PROFILE_PHOTO_PATH }}' (error)="updateProfilePic($event)"
                                    routerLink="/profile/{{connections.USER_NAME}}">
                            </div>
                            <div class='prfl_detail'>
                                <div class="profilename oneLine" routerLink="/profile/{{connections.USER_NAME}}"
                                    title='{{ connections.FULL_NAME}}'>
                                    {{ connections.FULL_NAME |trimData:40}}
                                </div>
                                <div class="grayinfo">
                                    <p class="typeVisitor" *ngIf="connections.IS_TEACHER==0">Learner</p>
                                    <p class="typeVisitor" *ngIf="connections.IS_TEACHER==2">Educator</p>
                                    <p class="typeVisitor" *ngIf="connections.IS_TEACHER==3">Educator & Learner</p>
                                    <p>Active {{connections.LAST_ACTIVE_TIME}}</p>
                                </div>

                            </div>

                            <div class='friendbtn' *ngIf="tabsview['connectionView']==2">
                                <!-- <button class="button24x7  whiteColorButton" (click)="setUserId($event)"
                                id="{{connections.USER_ID}}" (click)="sendToInbox(connections)">Message</button> -->

                                <button
                                    class="btn-blush btnflex btn-blush-h btn-a btnres60 btnweb60 btn-round60 btn-round60-gray btn-round60-gray-h btn60"
                                    (click)="setUserId($event)" id="{{connections.USER_ID}}"
                                    (click)="sendToInbox(connections)">
                                    <img class="icon-red" src="assets/images/svg-icon/messageicon-red.svg" alt="">
                                    <img class="icon-gray" src="assets/images/svg-icon/messageicon-gray.svg" alt="">
                                    <span class="btntext">Message</span>
                                </button>



                            </div>
                            <div class='friendbtn' *ngIf="tabsview['connectionView']!=2">
                                <!-- <button  *ngIf="connections.FRIEND_STATUS==0" class=" btnflex btn-decline btn-a btnweb btn60 btn-noimg"
                              (click)="cancelFrndReq($event,i)" id="{{connections.USER_ID}}">
                              <img src="assets/images/svg-icon/cross-gray.svg" alt="">
                              Decline
                            </button> -->
                                <button *ngIf="connections.FRIEND_STATUS==0 || connections.FRIEND_STATUS==1"
                                    class="btn-blush btnflex btn-blush-h btn-a btnres60 btnweb60 btn-round60 btn-round60-gray btn-round60-gray-h btn60"
                                    (click)="setUserId($event)" id="{{connections.USER_ID}}"
                                    (click)="sendToInbox(connections)">
                                    <img class="icon-red" src="assets/images/svg-icon/messageicon-red.svg" alt="">
                                    <img class="icon-gray" src="assets/images/svg-icon/messageicon-gray.svg" alt="">
                                    <span class="btntext">Message</span>
                                </button>
                                <button *ngIf="connections.FRIEND_STATUS==2"
                                    class="btnflex btn-coral btn-coral-h btn-round60 btn-round60-red btnres60 btn-round60-red-h btn-a"
                                    (click)="updateConnreqAccpt(connections.USER_ID,i)">
                                    <img class="icon-white" src="assets/images/svg-icon/add-frnd-white.svg" alt="">
                                    <img class="icon-red" src="assets/images/svg-icon/add-frnd-red.svg" alt="">
                                    <span> Accept</span>
                                </button>
                                <button *ngIf="connections.FRIEND_STATUS==4"
                                    class=" btnflex btn-coral btn-coral-h btn-round60 btn-round60-red btnres60 btn-round60-red-h btn-a"
                                    (click)="sendRequest(connections.USER_ID,i)" id="{{connections.USER_ID}}">
                                    <img class="icon-white" src="assets/images/svg-icon/add-frnd-white.svg" alt="">
                                    <img class="icon-red" src="assets/images/svg-icon/add-frnd-red.svg" alt="">
                                    <span class="btntext">Connect</span>
                                </button>
                            </div>
                        </li>

                    </ul>
                    <div class="loader2" *ngIf="loadConnections">
                        <img src="assets/images/24x7preloader.gif" alt="aio">
                    </div>
                    <ul class="profile-emptystate" *ngIf="connectionView === 2">
                        <li class="emptystate_inner">
                            <img src="assets/images/emptystates/svg/noconnectionfound.svg">
                            <!--                  <span>You have no connection request</span>-->
                        </li>
                    </ul>

                </div>
            </div>



            <!-- tab2-->
            <div class="people_list friendlist " *ngIf="connectiontab === 2" data-infinite-scroll
                [infiniteScrollDistance]="10" (scrolled)="onScrollDown()" [scrollWindow]="true">
                <div class="dataList">
                    <ul *ngIf="followersView === 1">
                        <li *ngFor="let follower of followers;let i= index" id="fwr_{{follower.USER_ID}}">

                            <div class="profileimg_know">
                                <img src='{{follower.PROFILE_PHOTO_PATH}}' (error)="updateProfilePic($event)"
                                    routerLink="/profile/{{follower.USER_NAME}}" (error)="updateSourcePic($event)">
                            </div>
                            <div class='prfl_detail'>
                                <div class="profilename oneLine" routerLink="/profile/{{follower.USER_NAME}}"
                                    title='{{ follower.FULL_NAME }}'>
                                    {{follower.FULL_NAME |trimData:40}}
                                </div>
                                <div class="grayinfo">
                                    <p class="typeVisitor" *ngIf="follower.IS_TEACHER==0">Learner</p>
                                    <p class="typeVisitor" *ngIf="follower.IS_TEACHER==2">Educator</p>
                                    <p class="typeVisitor" *ngIf="follower.IS_TEACHER==3">Educator & Learner</p>
                                    <p>Active {{follower.LAST_ACTIVE_TIME}}</p>
                                </div>
                            </div>
                            <div class='friendbtn'>
                                <button
                                    class="btn-blush btnflex btn-blush-h btn-a btnres60 btnweb60 btn-round60 btn-round60-gray btn-round60-gray-h btn60"
                                    (click)="setUserId($event)" (click)="sendToInbox(follower)">
                                    <img class="icon-red" src="assets/images/svg-icon/messageicon-red.svg" alt="">
                                    <img class="icon-gray" src="assets/images/svg-icon/messageicon-gray.svg" alt="">
                                    <span class="btntext">Message</span>
                                </button>
                            </div>
                        </li>
                    </ul>

                    <ul class=" profile-emptystate" *ngIf="followersView === 2">
                        <li class="emptystate_inner"><img
                                src="assets/images/emptystates/svg/Follower-in-connection.svg">

                        </li>
                    </ul>
                    <div class="loader2" *ngIf="loadFollowers">
                        <img src="assets/images/24x7preloader.gif" alt="aio">
                    </div>
                </div>
            </div>
            <!-- tab3-->
            <div class="people_list friendlist twobtnshow" *ngIf="connectiontab === 3" data-infinite-scroll
                [infiniteScrollDistance]="10" (scrolled)="onScrollDown()" [scrollWindow]="true">
                <div class="dataList">
                    <ul *ngIf="followingView === 1">
                        <li *ngFor="let followings of ifollow;let i = index" id="fwg_{{followings.USER_ID}}">

                            <div class="profileimg_know">
                                <img src='{{followings.PROFILE_PHOTO_PATH}}' (error)="updateProfilePic($event)"
                                    routerLink="/profile/{{followings.USER_NAME}}" (error)="updateSourcePic($event)">
                            </div>
                            <div class='prfl_detail'>
                                <div class="profilename oneLine " routerLink="/profile/{{followings.USER_NAME}}"
                                    title='{{ followings.FULL_NAME}}'>
                                    {{followings.FULL_NAME |trimData:40}}
                                </div>
                                <div class="grayinfo">
                                    <p class="typeVisitor" *ngIf="followings.IS_TEACHER==0">Learner</p>
                                    <p class="typeVisitor" *ngIf="followings.IS_TEACHER==2">Educator</p>
                                    <p class="typeVisitor" *ngIf="followings.IS_TEACHER==3">Educator & Learner</p>
                                    <p>Active {{followings.LAST_ACTIVE_TIME}}</p>
                                </div>
                            </div>

                            <div class='friendbtn'>
                                <button id="{{followings.USER_ID}}" *ngIf="followings.IS_FOLLOWED==1"
                                    class=" btnflex btn-tutu-no-b btn-a btn-round60 btn-round60-gray m10"
                                    (click)="requestUnfollow($event,i)">
                                    <img class="icon-red" src="assets/images/svg-icon/tickicon-red.svg">
                                    <span id="{{followings.USER_ID}}" class="btntext"> Following</span>
                                </button>

                                <button id="{{followings.USER_ID}}" *ngIf="followings.IS_FOLLOWED==0"
                                    class=" btnflex btn-blush btn-blush-h btn-round60 btn-round60-red  btn-a m10"
                                    (click)="requestFollow($event,i)">
                                    <img class="icon-red" src="assets/images/svg-icon/addsign-red.svg" alt="">
                                    <span id="{{followings.USER_ID}}" class="btntext"> Follow</span>
                                </button>

                                <button *ngIf="followings.CONN_STATUS==0 && !followings.removeConnectButton"
                                    class=" btnflex btn-coral btn-coral-h btn-round60 btn-round60-red btnres60 btn-round60-red-h btn-a"
                                    (click)="sendRequest(followings.USER_ID,i)">
                                    <img class="icon-white" src="assets/images/svg-icon/add-frnd-white.svg" alt="">
                                    <img class="icon-red" src="assets/images/svg-icon/add-frnd-red.svg" alt="">
                                    <span id="{{followings.USER_ID}}" class="btntext">Connect</span>
                                </button>
                            </div>
                        </li>
                    </ul>

                    <ul class="profile-emptystate" *ngIf="followingView === 2">
                        <li class="emptystate_inner"><img src="assets/images/emptystates/svg/following.svg">

                        </li>
                    </ul>
                    <div class="loader2" *ngIf="loadFollowing">
                        <img src="assets/images/24x7preloader.gif" alt="aio">
                    </div>

                </div>
            </div>
            <!-- tab4-->
            <div class="people_list friendlist twobtnshow" *ngIf="connectiontab === 4" data-infinite-scroll
                [infiniteScrollDistance]="10" (scrolled)="onScrollDown()" [scrollWindow]="true">
                <div class="dataList">
                    <ul *ngIf="showif == 1">
                        <li *ngFor="let connections of connRequest;let i=index" id="connReq_{{connections.USER_ID}}">

                            <div class="profileimg_know">
                                <img src='{{connections.PROFILE_PHOTO_PATH}}' (error)="updateProfilePic($event)"
                                    routerLink="/profile/{{connections.USER_NAME}}" (error)="updateSourcePic($event)">
                            </div>
                            <div class='prfl_detail'>
                                <div class="profilename oneLine " routerLink="/profile/{{connections.USER_NAME}}"
                                    title='{{ connections.FULL_NAME}}'>
                                    {{connections.FULL_NAME |trimData:40}}
                                </div>
                                <div class="grayinfo">
                                    <p class="typeVisitor" *ngIf="connections.IS_TEACHER==0">Learner</p>
                                    <p class="typeVisitor" *ngIf="connections.IS_TEACHER==2">Educator</p>
                                    <p class="typeVisitor" *ngIf="connections.IS_TEACHER==3">Educator & Learner</p>
                                    <p>Active {{connections.LAST_ACTIVE_TIME}}</p>
                                </div>
                            </div>
                            <div class='friendbtn'>
                                <button *ngIf="connections.STATUS==0"
                                    class="btnflex btn-decline btn-a btn-round60 btn-noimg m10"
                                    (click)="updateConnreqReject($event,i)" id='{{connections.USER_ID}}'>
                                    <img src="assets/images/svg-icon/cross-gray.svg" alt="" style="width:12px;">
                                    <span class="btntext">Decline</span>
                                </button>

                                <button *ngIf="connections.STATUS==0"
                                    class="btnflex btn-coral btn-coral-h btn-round60 btn-round60-red btnres60 btn-round60-red-h btn-a"
                                    (click)="updateConnreqAccpt($event,i)" id='{{connections.USER_ID}}'>
                                    <img class="icon-white" src="assets/images/svg-icon/add-frnd-white.svg" alt="">
                                    <img class="icon-red" src="assets/images/svg-icon/add-frnd-red.svg" alt="">
                                    <span class="btntext">Accept</span>

                                </button>

                                <button  (click)="sendToInbox(connections)" *ngIf="connections.STATUS==1"
                                    class="btn-blush btnflex btn-blush-h btn-a btnres60 btnweb60 btn-round60 btn-round60-gray btn-round60-gray-h btn60">
                                    <img class="icon-red" src="assets/images/svg-icon/messageicon-red.svg" alt="">
                                    <img class="icon-gray" src="assets/images/svg-icon/messageicon-gray.svg" alt="">
                                    <span class="btntext">Message</span>

                                </button>


                            </div>
                        </li>
                    </ul>
                    <ul class="profile-emptystate" *ngIf="showif != 1">
                        <li class="emptystate_inner">
                            <img src="assets/images/svg-three/friends-01.svg" style="width:100px!important;">
                             <p>No new request</p>
                        </li>
                    </ul>
                    <div class="loader2" *ngIf="loadConnReq">
                        <img src="assets/images/24x7preloader.gif" alt="aio">
                    </div>
                </div>
            </div>
            <!-- tab5-->
            <!-- <div class="people_list friendlist" *ngIf= "connectiontab === 5"> -->
            <div class="people_list friendlist twobtnshow" *ngIf="connectiontab === 5" data-infinite-scroll
                [infiniteScrollDistance]="10" (scrolled)="onScrollDown()" [scrollWindow]="true">
                <div class="dataList">
                    <ul *ngIf="suggestionView==2">
                        <li *ngFor="let suggestions of suggestion;let i=index" id="sugg_{{suggestions.USER_ID}}">

                            <div class="profileimg_know">
                                <img src='{{suggestions.PROFILE_PHOTO_PATH}}' (error)="updateProfilePic($event)"
                                    routerLink="/profile/{{suggestions.USER_NAME}}" (error)="updateSourcePic($event)">
                            </div>
                            <div class='prfl_detail'>
                                <div class="profilename oneLine " routerLink="javascript:void(0)"
                                    routerLink="/profile/{{suggestions.USER_NAME}}" title='{{ suggestions.FULL_NAME}}'>
                                    {{ suggestions.FULL_NAME |trimData:40}}
                                </div>
                                <div class="grayinfo">
                                    <p class="typeVisitor" *ngIf="suggestions.IS_TEACHER==0">Learner</p>
                                    <p class="typeVisitor" *ngIf="suggestions.IS_TEACHER==2">Educator</p>
                                    <p class="typeVisitor" *ngIf="suggestions.IS_TEACHER==3">Educator & Learner</p>
                                    <p>Active {{suggestions.LAST_ACTIVE_TIME}}</p>
                                </div>
                            </div>
                            <div class='friendbtn'>

                                <button *ngIf="suggestions.connectStatus!=true"
                                    class="btnflex btn-coral btn-coral-h btn-round60 btn-round60-red btnres60 btn-round60-red-h btn-a m10"
                                    id="{{suggestions.USER_ID}}" (click)="sendRequest(suggestions.USER_ID,i)">
                                    <img class="icon-white" src="assets/images/svg-icon/add-frnd-white.svg" alt="">
                                    <img class="icon-red" src="assets/images/svg-icon/add-frnd-red.svg" alt="">
                                    <span class="btntext">Connect</span>


                                </button>
                                <button *ngIf="suggestions.connectStatus==true"
                                    class="btn-blush btnflex btn-blush-h btn-a btnres60 btnweb60 btn-round60 btn-round60-gray btn-round60-gray-h btn60 m10"
                                    (click)="setUserId($event);sendToInbox(suggestions)">
                                    <img class="icon-red" src="assets/images/svg-icon/messageicon-red.svg" alt="">
                                    <img class="icon-gray" src="assets/images/svg-icon/messageicon-gray.svg" alt="">
                                    <span class="btntext">Message</span>
                                </button>
                                <button  *ngIf="!suggestions.removeCancelButton" class="btn-round  btn-round-gray m10"
                                    (click)="delSuggestion(suggestions.USER_ID,i)">
                                    <img src="assets/images/svg-icon/cross-gray.svg" alt="aio" style="width:12px;">
                                </button>

                            </div>
                        </li>
                    </ul>

                    <ul class="profile-emptystate" *ngIf="suggestionView==1">
                        <li class="emptystate_inner"><img
                                src="assets/images/emptystates/svg/connection-Request-in-connection-tab-of-profile-module.svg">
                        </li>
                    </ul>
                    <div class="loader2" *ngIf="loadSuggestions">
                        <img src="assets/images/24x7preloader.gif" alt="aio">
                    </div>
                </div>
            </div>
            <!--tab6-->

            <div class="people_list friendlist twobtnshow" *ngIf="connectiontab === 6" data-infinite-scroll
                [infiniteScrollDistance]="10" (scrolled)="onScrollDown()" [scrollWindow]="true">
                <div class="dataList">
                    <ul *ngIf="sentView==1">
                        <li *ngFor="let sent of sentList;let i=index" id="sent_{{sent.USER_ID}}">

                            <div class="profileimg_know">
                                <img src='{{sent.PROFILE_PHOTO_PATH}}' (error)="updateProfilePic($event)"
                                    routerLink="/profile/{{sent.USER_NAME}}" (error)="updateSourcePic($event)">
                            </div>
                            <div class='prfl_detail'>
                                <div class="profilename oneLine " routerLink="javascript:void(0)"
                                    routerLink="/profile/{{sent.USER_NAME}}" title='{{ sent.FULL_NAME}}'>
                                    {{sent.FULL_NAME |trimData:40}}
                                </div>
                                <div class="grayinfo">
                                    <p class="typeVisitor" *ngIf="sent.IS_TEACHER==0">Learner</p>
                                    <p class="typeVisitor" *ngIf="sent.IS_TEACHER==2">Educator</p>
                                    <p class="typeVisitor" *ngIf="sent.IS_TEACHER==3">Educator & Learner</p>
                                    <p>Active {{sent.LAST_ACTIVE_TIME}}</p>
                                </div>
                            </div>
                            <div class='friendbtn'>
                                <!-- <span class="testt" *ngIf="sent.connectStatus!=true"><button
                                    class="redColorButton button24x7" id="{{sent.USER_ID}}"
                                    (click)="sendRequest($event,i)">Connect</button></span>
                            <span class="testt " *ngIf="sent.connectStatus==true"><button
                                    class="whiteColorButton button24x7" id="{{sent.USER_ID}}"
                                    (click)="cancelFrndReq($event,i)">Cancel Request</button></span> -->
                                <button
                                    class="btn-blush btnflex btn-blush-h btn-a btnres60 btnweb60 btn-round60 btn-round60-gray btn-round60-gray-h btn60"
                                    (click)="sendToInbox(sent)"  >
                                    <img class="icon-red" src="assets/images/svg-icon/messageicon-red.svg" alt="">
                                    <img class="icon-gray" src="assets/images/svg-icon/messageicon-gray.svg" alt="">
                                    <span class="btntext">Message</span>

                                </button>
                            </div>
                        </li>
                    </ul>

                    <ul class="profile-emptystate" *ngIf="sentView==2 ">
                        <li class="emptystate_inner"><img
                                src="assets/images/emptystates/svg/connection-Request-in-connection-tab-of-profile-module.svg">
                        </li>
                    </ul>
                    <div class="loader2" *ngIf="loadRequestSent">
                        <img src="assets/images/24x7preloader.gif" alt="aio">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<app-confirmationpopup *ngIf="openConfirmation" (closeComfirmPopupThread)="closePopup($event);" [dataObj]="dataConf">
</app-confirmationpopup>
