// $backgroundgray : #e6e6e6;
$themegray : #f5f7fa;
$textcolor : #2c2e2f;
// $textgrey : rgba(0,0,0,0.44);
// $maingreen: rgb(7,162,8);
//
// // $stroke : #E9E9E9;
// $borderRadius: 5px;
// $inputTypeHeight: 35px;
// $inputTypeFont: 12px;
// $headerHeight: 60px;
// $headerLineHeight: $headerHeight - 5px;
// $mainboxShadow: 0 0 7px rgba(0,0,0,0.1);
// $dropdownwidth: 400px;
// $dropdwncontentwidth: $dropdownwidth - 100px;
// $ntfctnprofile: 40px;
// $inrprflimg : $ntfctnprofile + 8px;
// $PostPicture: 40px;
// $commentPicture: $PostPicture - 10px;
// $subcommentPicture: $commentPicture - 10px;
// $mainpostName: 14px;
// $maincommentName: $mainpostName - 2px;
// $darkthemestroke: #018F88;
// $themeblue : #F05050;
// .prfl_detail{
//   .profile_name{
//     color: #2c2e2f;
//     height: 16px;
//     overflow: hidden;
//     line-height: 16px;
//     margin-bottom: 3px;
//     .Notificationlist_name{
//       font-size: 14px !important;
//     }
//   }
// }
// .graybutton.red_btn{
//   padding: 0px 12px;
// }
.m10{
  margin-left:10px;
}
.people_list{
.dataList {
    margin-top: 15px;
}
}
.people_list.list-folowing{
.dataList {
    ul li {
    padding: 0px 240px 10px 70px;
}
}
}
.friendbtn{
  button{
    float: right;
  }
}
@mixin btn_shadow($offset-x, $offset-y, $blur-radius, $spread-radius, $color, $inset: false) {
@if $inset {
-ms-box-shadow: inset $offset-x $offset-y $blur-radius $spread-radius $color;
-o-box-shadow: inset $offset-x $offset-y $blur-radius $spread-radius $color;
-webkit-box-shadow: inset $offset-x $offset-y $blur-radius $spread-radius $color;
-moz-box-shadow: inset $offset-x $offset-y $blur-radius $spread-radius $color;
box-shadow: inset $offset-x $offset-y $blur-radius $spread-radius $color;
}
@else {
-ms-box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color;
-o-box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color;
-webkit-box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color;
-moz-box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color;
box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color;
}
}

li.emptystate_inner{
  flex-direction: column;
  img{
    width: 200px !important;
  }
}
.addpost_outer.connectionpage_outr{
    .messgebtn{
      padding: 2px 14px 0px 14px !important;
    }

}
.button24x7.whiteColorButton {  margin-right: 10px;}
.button24x7.marginright0 {  margin-right: 0px;}
.testt{
  button.graybutton.red_btn{
    padding: 0px 12px !important;
  //   -webkit-box-shadow: 0 1px 2px 1px #2c2e2f20;
  // box-shadow: 0 1px 2px 1px #2c2e2f20;
  @include btn_shadow(0, 1px, 2px, 1px, rgba($textcolor, 0.1));

  }
  .redColorButton{
   margin-right: 10px;
  }
}
.addpost_outer.connectionpage_outr{
	.people_list.friendlist{
		padding-right:0;
		padding-left:0;
	}

}
.clsmessgebtn{
  width: 30px !important;
  height: 30px !important;
  border:none;
  background: #f5f7fa;
   // -webkit-box-shadow: 0px 1px 4px 1px rgba(44, 46, 47, 0.1);
   // box-shadow: 0px 1px 4px 1px rgba(44, 46, 47, 0.1);
   @include btn_shadow(0, 1px, 4px, 1px, rgba($textcolor, 0.1));
  img{
    width: 8px;
  }
  .clsmessgebtn:hover{
    border: none;
  }
}
.friendlist{
	height: auto;

	li:first-child{
		padding-top: 15px;
	}
li{
	.prfl_detail{
		// width: 400px;
      width: 500px;
	}
}

}

.addposttab_out.connectionout{
  background-color:$themegray;
  margin-right:-10px;
  margin-left:-10px;
  padding-right:10px;
  padding-left:10px;
  display:block;
  float:none;
  width:auto;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom: 1px solid #eaeaea;
  // .addposttab.addposttab-active{
   //  color: $themeblue;
  // }
  li{
    padding:10px 7px;
    height:auto;
    font-weight: 500;
    margin-right:20px;
    cursor: pointer !important;
  }
}

.outer_multimenu{
  background-color: #f5f7fa;
margin-right: -10px;
margin-left: -10px;
padding-right: 10px;
padding-left: 10px;
display: block;
float: none;
width: auto;
border-top-right-radius: 5px;
border-top-left-radius: 5px;
border-bottom: 1px solid #eaeaea;
}

.menuButton{
  position: relative;
  float: right;
  margin-right: 0px !important;
  cursor: pointer;

  img{
    width: 16px;
    transform: rotate(90deg);
  }
  .menuList{
    border-radius:5px;
    position: absolute;
    left: -135px;
    top: 38px;
    z-index: 1;
    box-shadow: 0px 6px 21px -6px rgba(0, 0, 0, 0.2) !important;
    border: 1px solid #dfe0e8 !important;
    width: 173px;
    background: #fff;
    ul{
      float: left;
      width: 100%;

      li{
        float: left;
        width: 100%;
        text-align: left;
        margin: 0px;
        border-bottom:1px solid  #f7f7f7;
        padding-left: 10px;
         &:hover{
              background: #f5f7fa;

         }

      }
    }
  }
}
.backButton{
    float: left;
    margin-left: -10px;
    margin-right: 0px !important;
    cursor: pointer;
   span{
      padding: 2px;
     img{
       width: 14px;
        transform: rotate(90deg);
     }
   }
}
.removeborder{
  border:none;
}
.profile-emptystate{
  width: 100%;
  height: 100%;
  float: left;
  .emptystate_inner{
    display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
        width: 100%;
        min-height: 270px;
  }
}
// ==========responsive================
@media screen and (max-width: 900px) and (min-width: 768px) {
  .people_list li .prfl_detail {
    width: 175px !important;
  }
}
@media screen  and (max-width:1030px) and (min-width: 992px){
  .outer_multimenu{
overflow-x: auto;
overflow-y: hidden;
white-space: nowrap;
    .addposttab_out.connectionout li{
      margin-right:16px;
    }
  }
}
@media only screen and (max-width:991px){
  .addpost_outer.connectionpage_outr{margin-bottom:25px !important;}
}
@media only screen and (max-width:767px){
//   .people_list.friendlist{
//     ul {
//       overflow: hidden;
//     li{
//
//     }
//
//   }
// }
// .people_list.friendlist.suggestion{
//   .prfl_detail{
//     padding-right:135px !important;
//     .profilename.profile_name, .grayinfo{
//       overflow: hidden;
//       text-overflow: ellipsis;
//       display: -webkit-box;
//      -webkit-line-clamp: 1;
//      -webkit-box-orient: vertical;
//       margin-bottom: 3px;
//       padding-bottom: 0;
//     }
//   }
// }

}
@media only screen and (max-width:600px){
  .people_list.friendlist{
  .dataList {
      ul li {
      padding: 0px 45px 10px 70px;
  }
  }
  }
  .people_list.twobtnshow{
  .dataList {
      ul li {
      padding: 0px 85px 10px 70px;
  }
  }
  }
}
@media only screen and (max-width:480px){

  .addposttab_out.connectionout{
        li {
        padding: 10px 5px;
        margin-right: 10px;
         }
    }
      .menuButton{
        .menuList {  left: auto;  right: 0px;}
      }
}
@media only screen and (max-width:360px){

  .people_list.friendlist.request_sent{
    .prfl_detail{
      padding-right:0 !important;
    }
  }
  .addposttab_out.connectionout{
    padding: 0px 5px;width: auto;
    li {
    padding: 10px 5px;
    margin-right: 5px;
}
}
}
@media only screen and (max-width:991px){
.outer_multimenu{

}
.people_list li:last-child{
  padding-bottom: 3px !important;
}
}
.people_list li .graybutton{
  margin-top: 6px !important;
}
