.post_profile.comment-outer.sub-commentss { position: relative; padding: 10px !important; }

.post_profile.comment-outer.sub-commentss:before { content: ""; display: block; width: 2px; height: calc(100% - 73px); top: 51px; left: 24px; background-color: #F05050; position: absolute; }

.writecomment .optionoutr { position: relative; background-color: #fff; border: 1px solid #dfe0e8; padding-top: 3px; padding-bottom: 2px; color: #2c2e2f; }

.writecomment .optionoutr:focus, .writecomment .optionoutr:visited { border: 1px solid #F05050; }

.writecomment .optionoutr .placeholder { font-size: 12px; color: #2c2e2f; opacity: 0.3; }

.writecomment .optionoutr .amargin { margin-top: -5px !important; bottom: 0px !important; }

.writecomment .option_image { width: 27px; margin-right: 5px; background-color: #eaeaea; z-index: 0; border-radius: 23px; height: 27px; position: absolute; margin-top: -2px !important; bottom: 0px !important; margin-bottom: 5px !important; position: absolute; }

.writecomment .fileupload_image { transition: all ease-in-out 0.3s; width: 27px; height: 27px; background-color: transparent; border-radius: 50%; border: none; text-align: center; }

.writecomment .fileupload_image img { margin-top: 5px !important; width: 14px !important; margin-right: -2px; }

.writecomment .fileupload_image { background-color: transparent !important; }

.upload-img-outer-wrp { float: left; width: 100%; margin-top: 15px; padding-top: 15px; position: relative; }

.upload-img-outer-wrp:before { content: ""; width: 90%; height: 1px; position: absolute; top: 0; background-color: #F05050; left: 50%; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); transform: translateX(-50%); }

.upload-img-outer-wrp .uploaded_image { display: block; margin-right: auto; margin-left: auto; float: none; border: none; width: auto; height: auto; max-height: 165px; max-width: 165px; }

.comment_outer.comment_outer_reply.outer-wrap { margin-top: 0px; background-color: #fff; }

.seemoresmt { font-size: 14px; font-weight: 500; color: #F05050; width: 100%; position: absolute; background-color: #f5f7fa; top: 90px; padding-top: 3px; z-index: 2; }

.seeless { font-size: 14px; font-weight: 500; color: #F05050; width: 100%; position: absolute; background-color: #f5f7fa; padding-top: 3px; z-index: 2; bottom: 4px; }

.drpdwn_post.postdrop { right: auto; }

.hoverbg { border-radius: 5px; background: rgba(0, 0, 0, 0.2) !important; }

.post_profile .post_profilepic, .sub_Comment .post_profilepic { display: inline-block; width: 40px; height: 40px; overflow: hidden; float: left; border-radius: 5px; }

.post_profile .post_profilepic img, .sub_Comment .post_profilepic img { width: 100%; }

.post_profile .profiledetail, .sub_Comment .profiledetail { display: inline-block; float: left; margin-left: 10px; line-height: 14px; }

.post_profile .profiledetail .name, .sub_Comment .profiledetail .name { font-weight: 500; }

.post_profile .profiledetail .time, .sub_Comment .profiledetail .time { font-size: 12px; color: #8c8c8c; margin-top: 12px; }

.post_profile .glyphicon, .sub_Comment .glyphicon { float: right; color: #8c8c8c; }

.post_profile { display: inline-block; width: 100%; float: left; padding: 15px; box-sizing: border-box; }

.post_profile .post_profilepic, .sub_Comment .post_profilepic { height: 30px; width: 30px; }

.post_profile .name, .sub_Comment .name { width: auto; line-height: 16px; }

.post_profile .profiledetail, .sub_Comment .profiledetail { line-height: 18px; }

.post_profile .profilecmntdetail, .sub_Comment .profilecmntdetail { width: 90%; float: left; font-size: 14px; }

.post_profile .post_footer, .sub_Comment .post_footer { border: 0px; padding-left: 7px; }

.post_profile .post_footer .glyphicon, .sub_Comment .post_footer .glyphicon { float: right; margin-right: 5px; }

.post_profile .post_footer .glyphicon:before, .sub_Comment .post_footer .glyphicon:before { line-height: 12px; font-size: 12px; }

.post_profile .post_footer .cmnt_time, .sub_Comment .post_footer .cmnt_time { color: #8c8c8c; }

.post_profile .post_footer .post_footeroption, .sub_Comment .post_footer .post_footeroption { position: relative; color: rgba(0, 0, 0, 0.44); cursor: pointer; }

.post_profile .post_footer .clicked, .sub_Comment .post_footer .clicked { color: #F05050; }

.post_profile .post_footer .post_footeroption:first-child:after, .sub_Comment .post_footer .post_footeroption:first-child:after { content: ""; display: inline-block; height: 2px; width: 2px; border-radius: 50%; background: #F05050; top: 8px; position: absolute; right: -5px; display: none; }

.sub_Comment { display: inline-block; width: 100%; }

.sub_Comment .profiledetail { line-height: 18px; width: 474px; }

.sub_Comment .profiledetail input { width: 85%; }

.post_profile .post_profilepic, .sub_Comment .post_profilepic { border-radius: 50%; border: 1px solid #eaeaea !important; }

.post_profile .profilecmntdetail { font-size: 14px; max-width: 85% !important; width: auto !important; }

.post_profile .profilecmntdetail .profilecmntdetail_sub_cnt { background-color: #f5f7fa; width: auto; display: inline-block; float: left; padding: 4px 10px 4px 7px; border-radius: 14px; max-width: 410px; overflow: hidden; height: auto; position: relative; }

.post_profile .profilecmntdetail .profilecmntdetail_sub_cnt .clearfix { content: ""; clear: both; display: block; }

.post_profile .profilecmntdetail .profilecmntdetail_sub_cnt .commenttext { max-height: 105px; overflow: hidden; position: relative; }

.post_profile .profilecmntdetail .profilecmntdetail_sub_cnt .commenttext .seemoresmt { font-size: 14px; font-weight: 500; color: #F05050; width: 100%; position: absolute; background-color: #f5f7fa; top: 86px; padding-top: 3px; z-index: 2; }

.post_profile .profilecmntdetail .profilecmntdetail_sub_cnt .commenttext .seeless { font-size: 14px; font-weight: 500; color: #F05050; width: 100%; position: absolute; background-color: #f5f7fa; padding-top: 3px; z-index: 2; bottom: 4px; }

.post_profile .profilecmntdetail .profilecmntdetail_sub_cnt .see_more_cmt_cnt { max-height: 100% !important; padding-bottom: 25px; }

.comment_outer_reply { width: 100%; float: left; }

.comment_outer_reply .writecomment { margin-bottom: 0px; }

.comment_outer_reply .writecommentinner { margin-top: 0px; }

.profiledetailinr:hover > .commenticon { display: block !important; }

.commenticon { display: none; }

.commenticon { position: relative; }

.commenticon .del-arrow-cont { margin-left: 15px; margin-top: -8px; width: 12px; webkit-transform: rotate(90deg) !important; transform: rotate(90deg) !important; right: 0px; cursor: pointer; }

.commenticon .del-arrow-cont img { width: 12px; webkit-transform: rotate(90deg) !important; transform: rotate(90deg) !important; }

.commenticon .drpdwn_post.postdrop.for-post { width: 103px !important; margin-left: -64px; position: absolute; top: 20px !important; }

.commenticon .drpdwn_post.postdrop.for-post .postdropdown_inner { width: auto; margin-left: -5px; }

.comment_outer_reply .writecomment.writecommentinner { background-color: white; }

.comment_outer_reply .writecomment.writecommentinner .optionoutr { width: 100%; }

.comment_outer.comment_outer_reply { padding: 10px; border-top-color: rgba(44, 46, 47, 0.2); border-top: none; clear: both; border-radius: 0px 0px 5px 5px; background: #f5f7fa; }

.comment_outer.comment_outer_reply .writecomment { display: block; float: none; width: 100%; position: relative; }

.comment_outer .writecomment .optionoutr { padding-left: 10px; padding-right: 10px; line-height: 20px; min-height: 39px !important; max-height: 100%; float: right; border: 1px solid rgba(44, 46, 47, 0.15); border-radius: 22px; }

.post_footer { display: inline-block; width: 100%; box-sizing: border-box; color: #8c8c8c; }

.post_footer .glyphicon:before { font-size: 13px; line-height: 9px; float: left; color: #8c8c8c; }

.post_footer .glyphicon.glyphicon-thumbs-up:before { font-size: 15px; }

.post_profile .profiledetail { width: 91%; }

.sub_Comment .profiledetail { width: 90%; }

.post_profile .c_reply { margin-top: 3px; }

.post_profile { border-top: none; margin-top: 0; background-color: white; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; padding-top: 0px; padding: 10px; }

.post_profile { margin-bottom: 0; }

.post_profile .post_footer { padding-top: 0; border-top: 0px !important; }

.sub_Comment { padding-top: 5px; }

.post_profile .name { float: none; }

.sub_Comment .profiledetail .profilecmntdetail { color: #2c2e2f; }

.post_profile .post_footeroption, .sub_Comment .post_footeroption { margin-right: 0; padding-right: 15px; padding-left: 15px; position: relative; font-size: 12px; }

.post_profile .post_footeroption::after, .sub_Comment .post_footeroption::after { content: ""; display: block; width: 3px; height: 3px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; background-color: #f8aeae; position: absolute; left: -1.5px; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); }

.post_profile .post_footeroption:first-child, .sub_Comment .post_footeroption:first-child { padding-left: 0; }

.post_profile .post_footeroption:first-child::after, .sub_Comment .post_footeroption:first-child::after { display: none; }

.post_profile .name, .sub_Comment .name { display: inline-block; margin-right: 1px; margin-bottom: 0; cursor: pointer !important; }

.comment_outer_reply .writecomment.writecommentinner .optionoutr { width: 100%; }

.post_profile .post_footer .post_footeroption:last-child { color: rgba(44, 46, 47, 0.5); }

.comment-outer .comment-img, .sub_Comment .comment-img { max-width: 70%; max-height: 250px; margin-top: 10px; }

.comment-outer .comment-img img, .sub_Comment .comment-img img { -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; max-width: 100%; max-height: 250px; }

.post_outer .comment_outer .post_profile .post_footeroption { padding-left: 5px; }

.post_outer .comment_outer .post_profile .profilecmntdetail { word-wrap: break-word !important; }

.post_outer .comment_outer .post_profile .sub_Comment .profiledetail .profilecmntdetail { word-wrap: break-word; }

.comment_footer .impwrapper { float: left; display: inline; }

.comment_footer .impwrapper .default .defaultimp { width: 12px !important; }

.comment_footer .impwrapper .default .activeimp { width: 12px !important; }

.comment_footer .impwrapper .default .hoverr { width: 12px !important; }

.comment_footer .impwrapper .default:after { display: none; }

.post_footer.comment_footer.c_reply .impwrapper .default .defaultimp.defaultt { display: block; float: left; position: relative; top: 2px; }

.post_footer.comment_footer.c_reply .impwrapper .default .activeimp { display: none; float: left; position: relative; top: 2px; }

.post_footer.comment_footer.c_reply .impwrapper .default .hoverr { display: none; float: left; position: relative; top: 2px; }

.post_footer.comment_footer.c_reply .impwrapper:hover .default .hoverr { display: block; float: left; }

.post_footer.comment_footer.c_reply .impwrapper:hover .default .defaultimp.defaultt { display: none; float: left; }

.post_footer.comment_footer.c_reply .impwrapper .post_footeroption.like:hover { color: #f05050; }

.post_footer.comment_footer.c_reply .doubletik .default .defaultimp.defaultt { display: none; }

.post_footer.comment_footer.c_reply .doubletik .default .activeimp { display: block; position: relative; top: 2px; }

.post_footer.comment_footer.c_reply .doubletik .default .hoverr { display: none; }

.post_footer.comment_footer.c_reply .doubletik:hover .default .defaultimp.defaultt { display: none; }

.post_footer.comment_footer.c_reply .doubletik:hover .default .hoverr { display: none; }

.post_footer.comment_footer.c_reply .doubletik .post_footeroption.like { color: #f05050; margin-left: 3px; }

.post_footer.comment_footer.c_reply .post_footeroption.rply:hover { color: #f05050; }

.profiledetail:hover .commenticon { display: block; }

@media screen and (max-width: 991px) and (min-width: 768px) { .post_profile .profiledetail { width: 87%; }
  .sub_Comment .profiledetail { width: 84%; } }

@media screen and (max-width: 1200px) and (min-width: 992px) { .post_profile .profiledetail { width: 90%; }
  .sub_Comment .profiledetail { width: 86%; } }

@media only screen and (max-width: 991px) and (min-width: 300px) { .commenticon { display: block; } }

@media screen and (max-width: 500px) and (min-width: 300px) { .post_profile .profiledetail { width: 85%; }
  .sub_Comment .profiledetail { width: 80%; } }
