<div class="filterMain" id='filterContainer'>
  <div class="filterInner filterInnerCourse">
    <div class="headData">
      Filters

      <span class="dataControl" (click)="clearFilter()">Reset All</span>
    </div>
    <div class="ContentData">
      <p>Price</p>
      <div class="radioList">
        <div class="listItem listItemCourse">
          <ul>
            <li *ngFor="let priceFilter of priceFilters.filters; let i= index">
              <div class="mobotp">
                <input
                  class="Radio"
                  id="{{ 'priceFilter_' + i }}"
                  name="priceFilter"
                  type="radio"
                  value={{priceFilter.value}}
                  (change)="fromWebView()"
                  [(ngModel)]="priceFilters.value"
                  />
                <label  class="checkbox_btn" for="{{
                  'priceFilter_' + i }}">
                  <span class="showcheckbox">{{
                    priceFilter.name
                    }}</span>
                </label>
              </div>
            </li>
          </ul>
        </div>
        <p>Validity</p>
        <div class="listItem listItemCourse">
          <ul>
            <li
              *ngFor="let validityFilter of validityFilters.filters;
              let i= index">
              <div class="mobotp">
                <input
                  class="Radio"
                  id="{{ 'vlidityFilter_' + i }}"
                  name="postedbyfilter"
                  type="radio"
                  value={{validityFilter.value}}
                  (change)="fromWebView()"
                  [(ngModel)]="validityFilters.value"
                  />
                <label class="checkbox_btn" for="{{ 'vlidityFilter_' + i }}">
                  <span class="showcheckbox">{{
                    validityFilter.name
                    }}</span></label>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="seperatorLine"></div>
    </div>
    <div class="ContentData mt15">
      <p>Pages</p>
      <div class="radioList">
        <div class="listItem listItemLast">
          <div class="searchInterest">
            <input (keyup)="getPagesDetailsBySearch()"
              [(ngModel)]="pageSerchText" type="search" placeholder="Search Pages" autocomplete="off" ng-reflect-model="" class="searchInput">
            <img class="serachIcon"
              src="./assets/images/svg-three/head/search-02.svg" alt="">
          </div>
          <div class="dataListShow show__list" [perfectScrollbar]="config" style="position: relative;">
            <ul>
              <li
                *ngFor="let page of searchedPages | keyvalue;
                let j= index">
                <div class="mobotp">
                  <input
                    class="Radio"
                    id="{{ 'pageFilter' + j }}"
                    name="{{ 'pageFilter' + j }}"
                    type="checkbox"
                    (input)="checkPage(page.value.PAGE_UUID)"
                    [(ngModel)]="page.value.checked"
                    />
                  <label
                    class="checkbox_btn"
                    for="{{ 'pageFilter' + j }}">
                    <span class="showcheckbox"></span></label>
                  <label
                    class="coverLabel"
                    for="{{ 'pageFilter' + j }}">
                  </label>
                  {{postData.decodeURIPostData(page.value.TITLE)}}
                </div>


              </li>

            </ul>

          </div>



        </div>
      </div>
      <div class="seperatorLine"></div>
    </div>
    <div class="ContentData mt15">
      <p>Interests</p>
      <div class="radioList">
        <div class="listItem listItemLast">
          <div class="searchInterest">
            <input (keyup)="filterInterestFilters()"
              [(ngModel)]="interestSearchText" type="search" placeholder="Search Interest" autocomplete="off" ng-reflect-model=""
              class="searchInput">
            <img class="serachIcon"
              src="./assets/images/svg-three/head/search-02.svg" alt="">
          </div>

          <div class="list_of_items" [perfectScrollbar]="config" style="position: relative;">
            <div class="dataList" *ngFor="let interestFilter of
              interestFilters.filters; let i= index">
              <div *ngIf="interestFilter.show || interestSearchText.length==0">
                <div class="intsHead" (click)="interestFilterCtegory=
                  (interestFilterCtegory!=interestFilter.INTEREST_CATEGORY_ID?interestFilter.INTEREST_CATEGORY_ID:-1)">{{
                  interestFilter.CATEGORY_NAME }}
                  <span class="accordianShow" [ngClass]="{ accordianIconDown:
                    interestFilterCtegory == interestFilter.INTEREST_CATEGORY_ID
                    }"><img
                      src="assets/images/svg-three/left_menu/arrow_right.svg"></span>
                </div>
                <div class="dataListShow" style="height:auto;" *ngIf="interestFilterCtegory ==
                  interestFilter.INTEREST_CATEGORY_ID ||
                  interestSearchText!=''">
                  <ul>
                    <li
                      *ngFor="let interest of interestFilter.INTERESTS;
                      let j= index">
                      <div class="mobotp" *ngIf="(j <6 || intListExpended ||
                        interestSearchText!= '') && ((interest && interest.show)
                        || interestSearchText.length==0)">
                        <input
                          class="Radio"
                          id="{{ 'interestFilter_' + i + j }}"
                          name="interesttypefilter"
                          type="checkbox"
                          [(ngModel)]="interest.checked"
                          (input)="check(interestFilters.id,interest.INTEREST_ID,true)"
                          />
                        <label
                          class="checkbox_btn"
                          for="{{ 'interestFilter_' + i + j }}">
                          <span class="showcheckbox"></span></label>
                        <label
                          class="coverLabel"
                          for="{{ 'interestFilter_' + i + j }}">
                        </label>
                        {{ interest.INTEREST_NAME }}
                      </div>


                    </li>

                  </ul>
                  <p
                    *ngIf="!intListExpended && interestSearchText==''"
                    (click)="intListExpended= !intListExpended"
                    class="showMoreInt">
                    {{interestFilter.INTERESTS.length>6?
                    (interestFilter.INTERESTS.length - 6 + ' MORE'): ''}}
                  </p>
                  <p
                    *ngIf="intListExpended && interestSearchText==''"
                    (click)="intListExpended= !intListExpended"
                    class="showMoreInt">
                    Show less
                  </p>
                </div>
              </div>
            </div>
          </div>



        </div>
      </div>
      <div class="seperatorLine"></div>
    </div>
    <div class="ContentData mt15">
      <p>User Rating</p>
      <div class="radioList">
        <div class="listItem listItemLast">
          <ul>
            <li
              *ngFor="let userRatingFilter of userRatingFilters.filters;
              let i= index">
              <div class="mobotp mobotprating">
                <input
                  class="Radio"
                  id="{{ 'ratingFilter_' + i }}"
                  name="ratingtypefilter"
                  type="radio"
                  value={{userRatingFilter.value}}
                  (change)="fromWebView()"
                  [(ngModel)]="userRatingFilters.value"
                  />
                <label class="checkbox_btn" for="{{ 'ratingFilter_' + i }}">
                  <span class="showcheckbox"></span></label>
                <label class="coverLabel" for="{{ 'ratingFilter_' + i }}">
                </label>
                {{ userRatingFilter.name }}
                <img
                  class="startRating"
                  src="assets/images/course_icon/star-filled.svg"
                  />& Above <span class="noOfCourse"></span>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="seperatorLine"></div>
    </div>
    <div class="ContentData mt15">
      <p>Levels</p>
      <div class="radioList">
        <div class="listItem listItemLast">
          <ul>
            <li *ngFor="let levelFilter of levelFilters.filters; let i= index">
              <div class="mobotp">
                <input
                  class="Radio"
                  id="{{ 'levelFilter_' + i }}"
                  name="{{ 'levelFilter'}}"
                  type="radio"
                  value={{levelFilter.value}}
                  (change)="fromWebView()"
                  [(ngModel)]="levelFilters.value"
                  />
                <label class="checkbox_btn" for="{{ 'levelFilter_' + i }}">
                  <span class="showcheckbox"></span></label>
                <label class="coverLabel" for="{{ 'levelFilter_' + i }}">
                </label>
                {{ levelFilter.name }}
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="seperatorLine"></div>
    </div>

    <div class="ContentData mt15">
      <p>Language</p>
      <div class="radioList">
        <div class="listItem listItemLast">
          <ul>
            <li
              *ngFor="let languageFilter of languageFilters.filters;
              let i= index">
              <div class="mobotp">
                <input
                  class="Radio"
                  id="{{ 'languageFilter_' + i }}"
                  name="languagetypefilter"
                  type="radio"
                  value={{languageFilter.value}}
                  (change)="fromWebView()"
                  [(ngModel)]="languageFilters.value"
                  />
                <label class="checkbox_btn" for="{{ 'languageFilter_' + i }}">
                  <span class="showcheckbox"></span></label>
                <label class="coverLabel" for="{{ 'languageFilter_' + i }}">
                </label>
                {{ languageFilter.name }}
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- for reponsive--->
<div *ngIf=applyButtonHide (click)=setFilter(true); class="applyFilter">
  <button class="button24x7 redColorButton">Apply</button>
</div>
<!-- for reponsive--->
