.maindiv {
  display: inline-block;
  width: 100%;
  padding: 0 15px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}

.profileimg_know {
  display: inline-block;
  height: 40px;
  width: 40px;
  float: left;
  border-radius: 5px;
  border: 1px solid #dfe0e8;
  overflow: hidden;
}

.profileimg_know img {
  width: 100%;
}

.abtdetailimg {
  display: inline-block;
  height: 60px;
  width: 60px;
  float: left;
  overflow: hidden;
  border-radius: 50%;
  left: 16px;
  top: 25px;
  position: absolute;
}

.abtdetailimg img {
  width: 100%;
}

.people_list.Experiance_list {
  display: inline-block;
  width: 100%;
  margin-bottom: 15px;
  overflow: auto;
  height: auto;
}

.people_list.Experiance_list li {
  display: inline-block;
  width: 100%;
  padding: 15px 0;
  border-bottom: 1px solid  #e9e9e9 !important;
  color: rgba(0, 0, 0, 0.44);
}

.people_list.Experiance_list li .graybutton {
  width: auto;
  float: right;
  padding: 0 10px;
}

.people_list.Experiance_list li .profilename {
  color: #F05050;
  height: auto;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  width: 100%;
  float: left;
}

.people_list.Experiance_list li .profilename .abt_duration {
  color: #8c8c8c;
  float: left;
  padding-top: 5px;
  font-weight: normal;
}

.people_list.Experiance_list li .prfl_detail {
  display: inline-block;
  margin-left: 10px;
  width: 80%;
}

.people_list.Experiance_list li .graybutton2 {
  margin-left: 8px;
}

.people_list.Experiance_list li .experiancename {
  color: #F05050;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.people_list.Experiance_list li:last-child {
  padding-bottom: 0px;
  border: 0px;
  border-bottom: 0px !important;
}

.people_list.Experiance_list .exppadd {
  padding-right: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding-left: 90px;
  padding-top: 25px;
  padding-bottom: 25px;
  float: left;
}

.border-top {
  margin-top: 15px;
  border-top: 1px solid #dfe0e8;
}

.listedit {
  display: none;
  width: 14px;
  margin-top: -3px;
  cursor: pointer;
  margin-left: 10px;
}

li:hover .listedit {
  display: inline-block;
}

.listcross {
  cursor: pointer;
}

.about-profile .people_list.Experiance_list .abteditcontainer {
  width: auto;
  display: inline;
  float: left;
  color: #000;
  font-size: 16px;
  padding: 1px 0px;
  word-wrap: anywhere;
}

.about-profile .people_list.Experiance_list .abtedit {
  width: 18px;
  float: left;
  width: 18px;
  top: 28px;
  display: none;
  position: absolute;
  right: 26px;
  cursor: pointer;
}

.about-profile .people_list.Experiance_list .abtedit img {
  width: 13px !important;
  margin-top: 2px;
}

.about-profile .people_list.Experiance_list ul li:hover .abtedit {
  display: block;
}

.about-profile .people_list.Experiance_list ul li li .prfl_detail {
  width: 95%;
}

.btn_alg {
  margin-right: 10px;
  border-radius: 20px;
}

.block_wrap_outr {
  padding: 15px 15px 15px 44px !important;
  margin-right: -10px !important;
  margin-left: -10px !important;
}

.second_primary {
  padding: 0 12px !important;
}

.main_wrap {
  padding: 0 10px 0px !important;
}

.empty_wrap {
  height: 280px;
}

.empty_wrap .emptystate_inner img {
  width: 85px !important;
  top: -90px !important;
}

.empty_wrap .emptystate_inner span {
  bottom: 70px !important;
}

.empty_wrap .editbtn {
  width: 143px;
}

.main_summ .mainheading img.head_img {
  margin-top: -3px;
}

.main_summ .mainheading span {
  display: inline-block;
  line-height: 33px;
}

.col-md-2.remvpad {
  padding: 0px 0px 0px 0px;
  margin-right: 13px;
}

.col-md-2.remvpad.sltmon {
  padding: 0px 0px 0px 0px;
  margin-right: 0px;
}

.col-md-1 {
  padding: 0px;
  padding-top: 10px;
  width: 22px;
  margin-right: 2px;
  margin-left: 3px;
}

.edit-info-wrap .cursor-pointer .defaultt {
  width: 15px !important;
}

.edit-info-wrap .cursor-pointer .hoverr {
  width: 15px !important;
}

.emptystate .emptystate_inner .emp_img_edu {
  width: 85px !important;
}

.emptystate .emptystate_inner p {
  margin: 15px 0;
  padding-left: 0;
}

.text_area_wrap {
  padding: 7px !important;
}

.wrp_info {
  margin-top: 5px;
}

.people_list.Experiance_list {
  padding-left: 0;
  padding-right: 0;
}

.people_list.Experiance_list li {
  padding-top: 0 !important;
  padding-bottom: 0px;
}

.abt_lineheight {
  line-height: 25px !important;
}

.editblock .sbtwidth {
  width: 160px;
  text-align: left;
}

.edit-summary2 {
  width: 30px !important;
  float: left;
  height: 30px !important;
  border-radius: 50%;
  background-color: #f5f7fa;
  text-align: center;
  padding-top: 5px;
}

.main_abt_edit_wrap {
  padding: 0px !important;
  position: relative;
}

.main_abt_edit_wrap .editButton {
  width: 45px;
  height: 45px;
  z-index: 1;
}

.main_abt_edit_wrap .mainheading {
  background-color: #f5f7fa;
  padding: 5px 20px !important;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05) !important;
}

.main_abt_edit_wrap .mainheading .edit-summary {
  position: relative;
  background-color: #fff;
  top: 21px;
  z-index: 1;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 34px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.05) !important;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.05) !important;
  border-radius: 50%;
}

.main_abt_edit_wrap .mainheading .edit-summary .defaultt, .main_abt_edit_wrap .mainheading .edit-summary .hoverr {
  width: 16px !important;
  margin-left: 3px;
  margin-top: 6px;
}

.main_abt_edit_wrap .mainheading .edit-summary .defaultt.plus, .main_abt_edit_wrap .mainheading .edit-summary .hoverr.plus {
  width: 16px !important;
  margin-left: -1px;
  margin-top: -2px;
}

.emptystate_inner .emptystates_heading1 {
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 5px;
  padding-top: 15px;
}

.emptystate_inner .emptystates_heading2 {
  color: #8c8c8c;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 20px;
}

.emptystate_inner .editbtn {
  background-color: #fff !important;
  color: #8c8c8c;
  -webkit-box-shadow: 0px 1px 5px 0px #2c2e2f40 !important;
          box-shadow: 0px 1px 5px 0px #2c2e2f40 !important;
  border: none;
  font-size: 16px;
  line-height: 24px;
}

.emptystate_inner .editbtn .abt_img_wrapper {
  margin-right: 2px;
  width: 25px;
  height: 25px;
  margin-top: -2px;
}

.emptystate_inner .editbtn .abt_img_wrapper img {
  width: 55% !important;
}

.emptystate_inner .abtproempimg {
  width: 100px !important;
}

.popup .abt_exp_popup {
  width: 700px;
  overflow: hidden;
  display: inline-block;
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 999;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.popup .abt_exp_popup .inner-wrap .post-wrap {
  float: left;
  width: 100%;
  padding: 0px 20px;
}

.popup .abt_exp_popup .inner-wrap .post-wrap .input_wrapper {
  margin-top: 15px;
  float: left;
  width: 100%;
  position: relative;
}

.popup .abt_exp_popup .inner-wrap .post-wrap .input_wrapper .instbranchlist {
  left: 0px;
  top: 54px;
}

.popup .abt_exp_popup .inner-wrap .post-wrap .input_wrapper .input_label {
  color: #8c8c8c;
  font-weight: 500;
  font-size: 14px;
}

.popup .abt_exp_popup .inner-wrap .post-wrap .input_wrapper .input_inner_wrapper {
  margin-top: 5px;
  float: left;
  width: 100%;
  position: relative;
}

.popup .abt_exp_popup .inner-wrap .post-wrap .input_wrapper .input_inner_wrapper input {
  font-size: 14px;
}

.popup .abt_exp_popup .inner-wrap .post-wrap .input_wrapper .input_inner_wrapper input:focus {
  border: 1px solid #66a9d5 !important;
  border-color: #66a9d5 !important;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.3rem rgba(153, 197, 227, 0.3) !important;
  box-shadow: 0 0 0 0.3rem rgba(153, 197, 227, 0.3) !important;
}

.popup .abt_exp_popup .inner-wrap .post-wrap .input_wrapper .input_inner_wrapper textarea {
  height: 100px;
  resize: none;
  font-size: 14px;
  padding-top: 10px;
}

.popup .abt_exp_popup .inner-wrap .post-wrap .input_wrapper .input_inner_wrapper textarea:focus {
  border: 1px solid #66a9d5 !important;
  border-color: #66a9d5 !important;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.3rem rgba(153, 197, 227, 0.3) !important;
  box-shadow: 0 0 0 0.3rem rgba(153, 197, 227, 0.3) !important;
}

.popup .abt_exp_popup .inner-wrap .post-wrap .input_wrapper .input_inner_wrapper .inputfiled_icon {
  width: 15px;
  position: absolute;
  top: 9px;
  left: 14px;
}

.popup .abt_exp_popup .inner-wrap .post-wrap .input_wrapper .abt_info_list {
  float: left;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 0px;
  position: relative;
  padding: 0px 0px 5px 0px;
  position: absolute !important;
  background: #fff;
  top: 54px;
  z-index: 11;
  max-height: 155px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  left: 0px;
  width: 659px;
  border: 1px solid #000 !important;
  width: 100% !important;
  border-top: 1px solid #f7f7f7 !important;
  top: 57px !important;
  border: 1px solid #66a9d5 !important;
  border-color: #66a9d5 !important;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.3rem rgba(153, 197, 227, 0.3) !important;
          box-shadow: 0 0 0 0.3rem rgba(153, 197, 227, 0.3) !important;
}

.popup .abt_exp_popup .inner-wrap .post-wrap .input_wrapper .abt_info_list ul {
  width: 100%;
  padding: 0px;
  float: left;
}

.popup .abt_exp_popup .inner-wrap .post-wrap .input_wrapper .abt_info_list ul li {
  width: 100%;
  float: left;
  padding: 10px 10px;
  border: 1px solid #f7f7f7;
  cursor: pointer;
}

.popup .abt_exp_popup .inner-wrap .post-wrap .input_wrapper .abt_info_list ul li:hover {
  background-color: #f5f7fa;
}

.popup .abt_exp_popup .inner-wrap .post-wrap .input_wrapper .abt_info_list ul li .search_list_img_cont {
  margin-top: 0px !important;
  padding-top: 0px !important;
}

.popup .abt_exp_popup .inner-wrap .post-wrap .input_wrapper .abt_info_list ul li .abt_search_list .abt_search_head1 {
  font-size: 14px;
  color: #656565;
  font-weight: 500;
  padding: 3px 0px;
}

.popup .abt_exp_popup .inner-wrap .post-wrap .input_wrapper .abt_info_list ul li .abt_search_list .abt_search_head2 {
  font-size: 14px;
  color: #2c2e2f50;
  font-weight: 500;
  padding: 0px 0px;
}

.popup .abt_exp_popup .inner-wrap .post-wrap .input_wrapper .instbranchlist {
  left: 0px;
  top: 57px;
  border: 1px solid #000 !important;
  width: 660px !important;
  border-top: 1px solid #f7f7f7 !important;
  border: 1px solid #66a9d5 !important;
  border-color: #66a9d5 !important;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.3rem rgba(153, 197, 227, 0.3) !important;
          box-shadow: 0 0 0 0.3rem rgba(153, 197, 227, 0.3) !important;
}

.popup .abt_exp_popup .inner-wrap .post-wrap .selectbox_wrap {
  padding-left: 0px;
  margin-top: 15px;
  float: left;
}

.popup .abt_exp_popup .inner-wrap .post-wrap .selectbox_wrap .selectbox_innerwrap {
  position: relative;
  width: 50%;
}

.popup .abt_exp_popup .inner-wrap .post-wrap .selectbox_wrap .selectbox_innerwrap span {
  color: #8c8c8c;
  font-weight: 500;
  font-size: 14px;
}

.popup .abt_exp_popup .inner-wrap .post-wrap .selectbox_wrap .selectbox_innerwrap select {
  margin-top: 5px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.popup .abt_exp_popup .inner-wrap .post-wrap .selectbox_wrap .selectbox_innerwrap select:focus {
  border: 1px solid #66a9d5 !important;
  border-color: #66a9d5 !important;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.3rem rgba(153, 197, 227, 0.3) !important;
  box-shadow: 0 0 0 0.3rem rgba(153, 197, 227, 0.3) !important;
}

.popup .abt_exp_popup .inner-wrap .post-wrap .selectbox_wrap .selectbox_innerwrap .down_arrow {
  position: absolute;
  width: 12px;
  top: 30px;
  right: 10px;
}

.popup .abt_exp_popup .inner-wrap .post-wrap .selectbox_wrap .selectbox_innerwrap .deopdownarrow {
  display: inline-block;
  position: absolute;
  top: 30px !important;
  right: 6px;
  width: 13px;
}

.popup .abt_exp_popup .inner-wrap .post-wrap .selectbox_wrap .right {
  float: right;
}

.popup .abt_exp_popup .inner-wrap .post-wrap .selectbox_wrap .right select {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-left: 0px;
}

.popup .abt_exp_popup .inner-wrap .post-wrap .selectbox_wrap .right select:focus {
  border: 1px solid #66a9d5 !important;
  border-color: #66a9d5 !important;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.3rem rgba(153, 197, 227, 0.3) !important;
  box-shadow: 0 0 0 0.3rem rgba(153, 197, 227, 0.3) !important;
}

.popup .abt_exp_popup .inner-wrap .post-wrap .selectbox_wrap .left {
  float: left;
}

.popup .abt_exp_popup .inner-wrap .post-wrap .selectbox_wrap .left select {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

.popup .abt_exp_popup .inner-wrap .post-wrap .selectbox_wrap .left select:focus {
  border: 1px solid #66a9d5 !important;
  border-color: #66a9d5 !important;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.3rem rgba(153, 197, 227, 0.3) !important;
  box-shadow: 0 0 0 0.3rem rgba(153, 197, 227, 0.3) !important;
}

.popup .abt_exp_popup .inner-wrap .post-wrap .right_wrapp {
  padding-right: 0px;
}

.popup .abt_exp_popup .inner-wrap .footer {
  margin-top: 5px !important;
  padding: 16px 16px;
  border-top: 1px solid #e9e9e9;
  -webkit-box-shadow: 0px 1px 5px 1px #e9e9e9 !important;
          box-shadow: 0px 1px 5px 1px #e9e9e9 !important;
  background: #fff;
}

.popup .abt_exp_popup .inner-wrap .footer button {
  min-width: 70px;
  margin-left: 10px;
  line-height: 23px;
}

.abtproempimg {
  width: 100px !important;
}

.edu_inst_img {
  display: inline-block;
  height: 60px;
  width: 60px;
  float: left;
  overflow: hidden;
  border-radius: 50%;
  left: 16px;
  top: 25px;
  position: absolute;
}

.edu_inst_img img {
  width: 100%;
}

.content .summary_head {
  float: left;
  color: #000;
  font-size: 16px;
  width: 100%;
  padding: 30px 20px 15px;
  font-weight: 500;
}

.content .abt_summary_text {
  padding-left: 20px;
  padding-bottom: 20px;
  float: left;
  padding-right: 52px;
  line-height: 18px;
  width: 100%;
  padding-top: 20px;
  word-break: break-word;
  margin-bottom: 0px !important;
  white-space: pre-wrap;
}

.summary_text {
  line-height: 18px;
  word-break: break-word;
  margin-bottom: 0 !important;
  float: left;
}

.summary-sec-title a {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #f5f7fa;
  text-align: center;
  padding-top: 0;
}

.summary-sec-title a img {
  margin-left: 0;
  width: 12px;
}

.floatleft {
  float: left;
}

.deletebtn {
  margin: 0px !important;
}

.alert_msg {
  float: left;
  width: 100%;
  float: left;
  padding: 10px;
  border: 1px solid #f05050;
  background-color: #fedcdc;
  margin-bottom: 10px;
  border-radius: 5px;
  font-weight: 500;
  margin-top: 15px;
  color: #f05050;
}

.about-profile .people_list.Experiance_list {
  overflow: initial !important;
}

.about-profile .edit-info-wrap {
  float: right;
  position: relative;
}

.about-profile .edit-info-wrap .postdrop.for-post {
  top: 28px;
}

.about-profile .edit-info-wrap .postdrop.for-post ul {
  padding-left: 0px;
}

.about-profile .edit-info-wrap .postdrop.for-post ul li {
  padding-left: 15px;
  padding-bottom: 5px;
}

.about-profile .edit-info-wrap .postdrop.for-post ul li:last-child {
  padding-bottom: 0;
}

.about-profile .edit-info-wrap .postdrop.for-post ul li .postdropdown_inner {
  float: left;
  color: #2c2e2f;
  width: auto;
  line-height: 23px;
}

.about-profile .edit-info-wrap .postdrop.for-post ul li:hover .postdropdown_inner {
  color: #F05050;
}

.about-profile .people_list.Experiance_list li .edit-block-wrap {
  margin-right: 0;
  margin-left: 0;
}

.about-profile .people_list.Experiance_list li .prfl_detail {
  float: none !important;
}

.about-profile .people_list.Experiance_list li .prfl_detail.hide-on-edit {
  display: none !important;
}

.about-profile .people_list.Experiance_list li .edit-info-wrap.hide-on-edit {
  display: none !important;
}

.edit-info-wrap {
  cursor: pointer;
}

.edit-info-wrap:hover .defaultt {
  display: none;
}

.edit-info-wrap:hover .hoverr {
  display: inline-block;
}

.summary-sec-title a img {
  margin-top: 5px;
}

.about-profile .people_list.Experiance_list {
  margin-bottom: 0 !important;
}

.about-profile .people_list .prfl_detail {
  line-height: 16px;
  width: 95% !important;
}

.about-profile .people_list .prfl_detail p {
  margin-bottom: 0;
}

.about-profile .people_list .prfl_detail .profilename {
  font-size: 14px;
}

.about-profile .people_list .prfl_detail .profilename.sub-title {
  margin-bottom: 5px;
  color: rgba(44, 46, 47, 0.6) !important;
  font-size: 12px;
}

.btn.btn-primary.floatleft.deletebtn {
  border: 1px solid #f05050 !important;
  background-color: #fff !important;
  color: #f05050 !important;
}

.input_wrapper .count {
  font-size: 14px;
  color: #8c8c8c;
  float: right;
  padding: 5px;
}

.input_wrapper .count.count_limit {
  color: #f05050 !important;
}

.bold {
  font-weight: 500 !important;
}

.people_list.Experiance_list li p {
  white-space: pre-wrap;
}

.textbox-summary {
  padding-right: 35px;
}

.clearsummaryIcon {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 12px;
  cursor: pointer;
}

.clearsummaryIcon img {
  width: 100%;
}

.clearsummaryIcon .default {
  display: block;
}

.clearsummaryIcon .hoverimg {
  display: none;
}

.clearsummaryIcon:hover .default {
  display: none;
}

.clearsummaryIcon:hover .hoverimg {
  display: block;
}

@media only screen and (max-width: 991px) {
  .margintop {
    margin-top: 10px;
  }
  .about-profile {
    margin-bottom: 10px;
  }
  .about-profile .people_list.Experiance_list ul li .abtedit {
    display: block;
  }
}

@media only screen and (max-width: 767px) {
  .popup .abt_exp_popup {
    top: 0;
    z-index: 999;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    overflow-y: scroll;
    width: 100%;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    max-height: 100%;
    border-radius: 0px;
  }
  .popup .abt_exp_popup .in_wrap_sum .post_wrap_sum {
    height: calc(100% - 55px);
  }
  .popup .abt_exp_popup .in_wrap_sum .post_wrap_sum .input_wrapper_sum {
    height: 100%;
  }
  .popup .abt_exp_popup .in_wrap_sum .post_wrap_sum .input_wrapper_sum .input_sum {
    height: 100%;
  }
  .popup .abt_exp_popup .in_wrap_sum .post_wrap_sum .input_wrapper_sum .input_sum textarea {
    height: 100%;
  }
  .popup .abt_exp_popup .inner-wrap {
    float: left;
    width: 100%;
  }
  .popup .abt_exp_popup .inner-wrap .post-wrap .input_wrapper .instbranchlist {
    width: 100% !important;
  }
  .popup .abt_exp_popup .inner-wrap .footer {
    width: 100%;
  }
  .selectbox_wrap {
    padding-right: 0;
  }
}

@media only screen and (max-width: 600px) {
  .main_abt_edit_wrap {
    border-radius: 0;
  }
  .exp-wrap, .edu-wrap {
    margin-top: 10px;
  }
  .empty_wrap {
    height: 230px;
  }
}

.button24x7.whiteColorButton .abt_img_wrapper {
  margin-right: 2px;
  width: 25px;
  height: 25px;
}

.button24x7.whiteColorButton .abt_img_wrapper img {
  width: 55% !important;
  margin-bottom: 3px;
}

.personalInfo {
  display: none;
}

.personalInfo .content {
  padding: 0 !important;
  width: 100%;
  float: left;
}

.personalInfo .content .pg-about-content {
  padding: 6px 10px;
  width: 100%;
  float: left;
}

.personalInfo .content .pg-about-content span {
  font-size: 14px;
  opacity: .5;
  font-weight: 500;
  line-height: 20px;
}

.personalInfo .content .pg-about-content p {
  font-size: 14px;
  margin-top: 5px;
  padding-left: 0;
  line-height: 20px;
  margin-bottom: 0;
}

.interestedin {
  display: none;
}

.interestedin .content {
  padding: 0 10px;
  width: 100%;
  float: left;
}

.interestedin .content .intInfo {
  padding: 10px 18px;
  font-size: 15px;
  margin-right: 10px;
  float: left;
  background: rgba(223, 229, 235, 0.5);
  margin-bottom: 10px;
  border-radius: 18px;
}

.rightedit {
  float: right;
  width: 16px;
  height: 16px;
}

.rightedit .img {
  width: 100%;
  height: 100%;
  float: left;
}

.rightedit.educat {
  display: none !important;
}

.editButton {
  display: inline-block !important;
}

.editButton img {
  margin: auto;
}

@media only screen and (max-width: 600px) {
  .rightedit.educat {
    display: inline-block !important;
  }
  .editButton {
    display: none !important;
  }
  .edit-summary2 {
    background-color: #fff;
  }
  .about-profile .people_list.Experiance_list .abtedit {
    right: 16px;
  }
  .about-profile .people_list.Experiance_list .abtedit img {
    width: 16px !important;
  }
  .main_abt_edit_wrap .mainheading {
    background-color: #ffffff;
    padding: 5px 20px 5px 10px !important;
    border-bottom: none !important;
  }
  .about-profile .people_list.Experiance_list .abteditcontainer {
    font-size: 14px;
  }
  .personalInfo, .interestedin {
    display: inline-block;
  }
}
/*# sourceMappingURL=aboutprofile.component.css.map */