<div class="everthing_about">
	 <h2 class="heading_bold">Everything about the Scholarship Test</h2>
   <div class="_wrapper">
   <div class="card__top">
     <div class="card__left "
      [ngClass]="{scholarshipBgColor: endpoint=='scholarship',natBgColor:endpoint=='nat', nttBgColor:endpoint=='ntt'}">
			 <!-- class use for background color -->
			 <!-- .scholarshipBgColor
	     .natBgColor
	     .nttBgColor -->
       <div class="card_head">
				 <!-- for scholarship -->
           <span *ngIf="endpoint== 'scholarship'" class="class_image"><img src="assets/images/scholarship/studentscholarship.svg" alt=""></span>
					 <!-- for nat -->
           <span *ngIf="endpoint=='nat'" class="class_image" ><img src="assets/images/scholarship/student.svg" alt=""></span>
					 <!-- for ntt -->
           <span *ngIf="endpoint=='ntt'" class="class_image" ><img src="assets/images/scholarship/studentntt.svg" alt="" ></span>
					 <!-- for scholarship and nat -->
          <span *ngIf="endpoint=='scholarship' || endpoint== 'nat'" class="headinggOne">Class 9th and 10th</span>
					<!-- for ntt -->
          <span *ngIf="endpoint=='ntt'" class="headinggOne">Graduates and Under Graduates</span>
          <span class="headinggtwo">Test Eligibility Category</span>
       </div>
       <p>What is the Process to Apply ?</p>
       <ul>
         <li>Apply through online registration</li>
         <li>Take the online test</li>
         <li>Receive reports in few days</li>
       </ul>
     </div>
     <div class="card__right">
        <p>Test Syllabus</p>
				<!-- scholarship -->
        <ul *ngIf="endpoint== 'scholarship'">
          <li>
            <p>Personality Evaluation</p>
            <span>Learning Approach</span>
            <span>Interpersonal Skills</span>
            <span>Emotional Stability</span>
            <span>Creativity </span>
            <span>Planning & Organising</span>
            <span>Altruistic & Politeness</span>
            <span>Ambition</span>
          </li>
          <li>
            <p>Career Interests:</p>
            <span>RIASEC</span>
          </li>
          <li>
            <p>Aptitude (Beginner Level)</p>
            <span>Logical</span>
            <span>Numerical</span>
            <span>Verbal</span>
            <span>Spatial </span>
          </li>
        </ul>
				<!-- nat -->
        <ul *ngIf="endpoint=='nat'" [ngClass]="{'nat' : endpoint=='nat' }">
          <li>
            <p>Personality Evaluation</p>
            <span>Learning Approach</span>
            <span>Interpersonal Skills</span>
            <span>Emotional Stability</span>
            <span>Prudence </span>
            <span>Altruistic & Politeness</span>
            <span>Creativity</span>
            <span>Ambition</span>
            <span>Accountability</span>
            <span>Achievements Striving</span>
          </li>
          <li>
            <p>Cognitive Abilities:</p>
            <span>Communication</span>
            <span>Problem Solving</span>
            <span>Attention to Detail</span>
          </li>
          <li>
            <p>Aptitude (Intermediate Level)</p>
            <span>Logical</span>
            <span>Numerical</span>
            <span>Verbal</span>
            <span>Spatial </span>
          </li>
        </ul>
				<!-- ntt -->
        <ul *ngIf="endpoint=='ntt'" [ngClass]="{'ntt' : endpoint=='ntt' }">
          <li>
            <p>Personality Evaluation</p>
            <span>Learning Approach</span>
            <span>Interpersonal Skills & Social Competence</span>
            <span>Emotional Stability</span>
            <span>Strategic Planning </span>
            <span>Altruistic & Politeness</span>
            <span>Creativity </span>
            <span>Ambition</span>
            <span>Accountability</span>
            <span>Result Orientation</span>
            <span>Decision making skills</span>
            <span>Influencing Skills</span>
            <span>Motivation Skills</span>
          </li>
          <li>
            <p>Career Interests:</p>
						<span>Communication</span>
            <span>Problem Solving</span>
            <span>Attention to Detail</span>
          </li>
          <li>
            <p>Aptitude (Advanced Level)</p>
            <span>Logical</span>
            <span>Numerical</span>
            <span>Verbal</span>
            <span>Spatial </span>
          </li>
        </ul>
     </div>
   </div>
   <div class="card__down">
     <div class="card__flow">
       <p class="flow_heading">Test Duration</p>
       <span class="flow__img"><img src="assets/images/scholarship/stopwatch.svg" alt=""></span>
       <span class="flow_time">40 Minutes</span>
       <span class="flow_noofques">to attempt 75 Questions</span>
     </div>
     <div class="card__flow">
       <p class="flow_heading">Test Price</p>
       <span class="flow__img"><img src="assets/images/scholarship/money.svg" alt=""></span>
       <span class="flow_time">Test is FREE</span>
       <span class="flow_noofques">200 INR for Detailed Report</span>
     </div>
     <div class="card__flow">
       <p class="flow_heading">Test Language</p>
       <span class="flow__img"><img src="assets/images/scholarship/chat.svg" alt=""></span>
       <span class="flow_time">English</span>
       <span class="flow_noofques">Test Language</span>
     </div>
     <div class="card__flow">
       <p class="flow_heading">Test Pattern</p>
       <span class="flow__img"><img src="assets/images/scholarship/comments.svg" alt=""></span>
       <span class="flow_time">MCQ and </span>
       <span class="flow_noofques">Fill in the Blanks</span>
     </div>
     <div class="card__flow card__last">
       <p class="flow_heading">Test Mode</p>
       <span class="flow__img"><img src="assets/images/scholarship/social-network.svg" alt=""></span>
       <span class="flow_time">Online</span>
       <span class="flow_noofques">From the comfort of home</span>
     </div>
   </div>
   <div class="hanging_btn_apply applybtn">
     <button type="button" name="button"  class="btneffect applybttn">Apply for Scholarship Test<span class="start_test"><img src="assets/images/career/arrowWhite.gif" alt=""></span></button>
   </div>
   <div class="conductedOnline">
    <img src="assets/images/scholarship/conductTest.png" alt="">
   </div>

  </div>
</div>
