<div class='post_outer post_main text-post-comp'>
    <app-post-header [headerData]="headerData" (deletePostEvent)="CloseDeleteConfirm($event)"></app-post-header>
    <div class="sharedText" *ngIf="post_data.length!=0 ">
      <p class=" "  *ngIf="DataView"
        [innerHTML]="postdata.decodeURIPostData(post_data)|trimData"></p><a *ngIf="DataView" class="continue-reading"
        (click)="DataView=!DataView">See more</a>
      <p class="" *ngIf="!DataView" [innerHTML]="post_data"></p><a *ngIf="seeLess && !DataView"
        class="continue-reading" (click)="DataView=!DataView">See less</a>
    </div>
    <div  class="sharedPostMain">
       <div class="sharedPostInner">
         <app-post  [inSharedPost]="true" [arr]="arr['SHARED_POST_DATA']"></app-post>
       </div>
    </div>
    <div class="postsharedfooter">
    <app-post-footer [footerData]="footerData"></app-post-footer>
    </div>
</div>



