<div class="hintMain">
<div class="hintText">{{postDataSol.SOLUTION}}</div>
<div  class="multiple_c_p_imgcontainer" *ngIf="postDataSol.SOL_TYP==2">
  <img  src="{{postDataSol.SOL_MEDIA.fpath}}" alt="aio " (click)="postimageshow($event)" ></div>
<div  class="attached-file-wrap clearfix" *ngIf="postDataSol.SOL_TYP==1">
  <div  class="attached-file-inner-wrap clearfix">
    <div  class="doc-img-wrap">
      <img  alt="aio" src="assets/images/svg/pdf.svg ">
    </div>
    <div  class="doc-detail-wrap clearfix">
      <div  class="doc-detail-left-wrap">
        <div  class="postfilenam" title="{{postDataSol.SOL_MEDIA.fnm}}">{{postDataSol.SOL_MEDIA.fnm}}</div>
        <!-- <span  class="download-count"><span >{{}}</span> Downloads</span> -->
      </div>
      <div  class="doc-detail-right-wrap" >
        <span style="cursor: pointer;" class="download_file" (click)="downloadCount()">
        <a href="javascript:void(0);">
          <span  class="hover1">
          <img  src="assets/images/svg/download-doc.svg" title="Download file" *ngIf="!downloading">
          <img style="width:20px"
              src="assets/images/svg/preloader-25.svg" *ngIf="downloading" >
        </span>
          <span   class="defoult1">
            <img  src="assets/images/svg/download-doc-gray1.svg" title="Download file" >
            
          </span>
        </a>
      </span>
    </div>
  </div>
 </div>
</div>
</div>
