$themeblue : #F05050;
$themegray : #f5f7fa;
// $textcolor : #161v616;
$textcolor : #2c2e2f;

.navbottom{
.mobile_nav{
  div {
      -webkit-box-align: stretch;
      -webkit-align-items: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      border: 0 solid #000;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      margin: 0;
      padding: 0;
      position: relative;
  }
  .main_nav {
    background-color: #fff;
    border: 0;
    bottom: 0;
    height: 58px;
    left: 0;
    position: fixed;
    right: 0;
    top: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 10;
    box-shadow: 0px 2px 3px 1px rgb(186, 186, 186);
    box-shadow: inset 1px 0 0 #dadce0,inset -1px 0 0 #dadce0,0 -1px 2px 0 rgba(60,64,67,.3),0 -1px 3px 1px rgba(60,64,67,.15);
    z-index: 5;
    padding: 5px 0px 5px 0px;
}
.BvyAW {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 100%;

}
.icon_sec {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    cursor: pointer;

.a_sec, .icon_sec {
    height: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.glyphsSpriteHome {
    margin-top: 2px;opacity: 1;
    width: 100%;float: left;
    text-align: center;
    img{width:22px;margin: 0 auto;opacity: 1;height: 22px;}
    .nav_icon_default{display:block;}
    .nav_icon_active{display:none;}

}
.icon_cont{color:$textcolor;opacity:0.8;font-size:12px;}
}
.icon_sec.navactive{
  .glyphsSpriteHome {
      .nav_icon_default{display:none;}
      .nav_icon_active{display:block;}

  }
  .icon_cont{color:$themeblue;}
}
}
}
.navbottom{
  display: none;
}
@media only screen and (max-width:991px){
  .navbottom{
    display: block;
    float: left;
  }
}

// start ripple effect spreads
.ripple_effect {
  // --top: 50%;
  // --left: 50%;
  // --size: 100%;
  overflow: hidden;
  position: relative;
  outline: none;
}
.ripple_effect:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: currentColor;
  border-radius: inherit;
  opacity: 0;
}
.ripple_effect:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: currentColor;
  clip-path: circle(0px);
  opacity: 0.1;
  border-radius:30px;
}
.ripple_effect_active:after {
  clip-path: circle(500px);
  opacity: 0;
  transition: clip-path 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53), opacity 0.4s ease-in-out;
  transition-delay: -0.1s, 0.5s;
}

// end ripple effect spreads
