<div class="popup" style="position:relative;">
    <div class=" popup_background_view" >
        <div class=" sharescreenpostview share-multiple-post-screen">
            <div class="popup_heading">

                <ul>
                    <li (click)="showPost('1')" [ngClass]="{'active': shareLinkPost==1}">Share Post</li>
                    <li (click)="showPost('2')"  [ngClass]="{'active': shareLinkPost==2}">Get a link</li>
                </ul>

                <span class="close_div" (click)="closeShareScreen()">
                    <img class="defaultt" src="assets/images/svg/tagcross.svg">
                    <img class="hoverr" src="assets/images/svg/tagcross-gray.svg">
                </span>

            </div>
            <div class="col-md-12 fleft">
                <div class="row">


                    <div class='post_outer'>

                        <div class="shareLinkContainer" *ngIf="shareLinkPost==2">
                            <div class="shareLink">
                                <!-- <input style='pointer-events: none' id="copySharelinkID" [(ngModel)]="postPublicShareLink" /> -->
                                <input  readonly class="urlget" id="copySharelinkID" [(ngModel)]="postPublicShareLink" />
                                <div style='pointer-events: none;word-break: break-word;'  [innerText]="postPublicShareLink"></div>
                                <span class="copyLinkButton" (click)="postData.copyToClipboard('copySharelinkID')"><img src="assets/images/svg-three/copyicon.svg" alt=""></span>
                            </div>
                            <div class="shareButtonWrapper">
                              <!-- <span class="quora"><img src="assets/images/svg-three/quora.svg" alt=""></span> -->
                              <a class="fb" [href]="socialFbShareUrl" target="_blank"><img src="assets/images/svg-three/facebook-logo.svg" alt=""></a>
                              <a  class="linkedin" [href]="socialLinkedInShareUrl" target="_blank"><img src="assets/images/svg-three/linkedin-logo.svg" alt=""></a>
                              <a  class="twitter" [href]="socialTeitterShareUrl" target="_blank"><img src="assets/images/svg-three/twitter.svg" alt=""></a>
                              <a  class="twitter" [href]="socialTelegramUrl" target="_blank"><img src="assets/images/telegram.svg" alt=""></a>
                            </div>
                        </div>


                        <div *ngIf="shareLinkPost==1" class='sharedatainput' contenteditable="true" ondrop="return false;" id="shareText" (focus)="focusin()" (focusout)="checkData()" (paste)="pastedData($event)">
                            <span class="placeholder" id="post_placeholder" *ngIf="hidePlaceHolder">Discuss within your interest.</span>
                        </div>

                        <div class="profile-and-content">
                            <div class='post_profile'>
                                <span *ngIf="isPagePost"><span class="post_profilepic cursor-pointer"><img src="{{profile_pic_path}}" alt="aio {{user_name |trimData:30}}" (error)="updateSourcePic($event)" (click)="routeToProfile('page')"></span>
                                    <div class="profiledetail">
                                        <div>
                                            <span title="{{user_name}}" class='name cursor-pointer'  (click)="routeToProfile('page')">{{user_name |trimData:30}}</span>
                                        </div>
                                        <div>
                                            <span class="follwer_count">{{followerCount}} followers</span>
                                            <span class="follow_dote"><img src="assets/images/svg-three/post_icon/dote1.svg" alt="aio"></span>
                                            <span class="follwer_count cursor-pointer" *ngIf="postdata.VISIBILITY ==3" routerLink="/post/{{postdata.USER_POST_ID}}">{{time}}</span>
                                            <span class="follwer_count cursor-pointer" *ngIf="postdata.VISIBILITY !=3" routerLink="/post/{{postdata.USER_POST_ID}}">{{time}}</span>
                                        </div>
                                    </div></span>
                                <span *ngIf="!isPagePost"><span class="post_profilepic cursor-pointer"><img src="{{profile_pic_path}}" alt="aio {{full_name |trimData:30}}" (error)="updateSourcePic($event)"  (click)="routeToProfile('user')"></span>
                                    <div class="profiledetail">
                                        <span title="{{full_name}}" class='name cursor-pointer'  (click)="routeToProfile('user')">{{full_name |trimData:30}}</span>
                                        <div>
                                            <span class="follwer_count cursor-pointer" *ngIf="postdata.VISIBILITY ==3" routerLink="/post/{{postdata.USER_POST_ID}}">{{time}}</span>
                                            <span class="follwer_count cursor-pointer" *ngIf="postdata.VISIBILITY !=3" routerLink="/post/{{postdata.USER_POST_ID}}">{{time}}</span>
                                        </div>
                                    </div></span>
                            </div>
                            <div class='post_profileContent'>
                                <div class='postmain_container'>
                                    <!-- 		<div class="posttagdiv"><span class="tags" *ngFor="let tags of tagsArr" [id]='tags.INTEREST_ID'>{{tags.INTEREST_NAME}}</span></div> -->





                                    <p id="quesText" [innerHTML]="post_data"></p>

                                    <div class="multiple_c_p_imgcontainer1"  *ngIf="questionImg!=null">
                                        <img _ngcontent-c6="" src="{{questionImg}}" alt="{{altName}}">
                                    </div>
                                </div>
                                <!--Done By Harendra Sharma-->
                                <div class="post_options">
                                    <label class='radiobtn_outer share_mul_c_p crs_auto'>
                                        <input type="checkbox" class='Radio' id='option1' value='A'  disabled>
                                        <label class="checkbox_btn" for='option1'>
                                          <!-- <img src="assets/images/svg/checkbox.svg" class="checkboximg"> -->
                                        </label>
                                        <b> A </b>

                                        <div class="inr_content">
                                            <p  id="shared_opt1_Text" [innerHTML]="option1"></p>
                                            <div class="multiple_c_p_imgcontainer" *ngIf="option1Img!=''">
                                                <img  src="{{option1Img}}" alt="{{altName}}">
                                            </div>
                                        </div>
                                    </label>
                                    <label class='radiobtn_outer share_mul_c_p crs_auto'>
                                        <input type="checkbox" class='Radio' id='option2' value='B' disabled>
                                        <label class="checkbox_btn" for='option2'>
                                          <!-- <img src="assets/images/svg/checkbox.svg" class="checkboximg"> -->
                                        </label>
                                        <b> B </b>
                                        <div class="inr_content">
                                            <p  id="shared_opt2_Text" [innerHTML]="option2"></p>
                                            <div class="multiple_c_p_imgcontainer" *ngIf="option2Img!=''">
                                                <img  src="{{option2Img}}" alt="{{altName}}">
                                            </div>
                                        </div>
                                    </label>
                                    <label class='radiobtn_outer share_mul_c_p crs_auto'  *ngIf="option3!='' || option3Img!=''">
                                           <input type="checkbox" class='Radio' id='option3' value='C' disabled>
                                        <label class="checkbox_btn" for='option3'>
                                          <!-- <img src="assets/images/svg/checkbox.svg" class="checkboximg"> -->
                                        </label>
                                        <b> C </b>
                                        <div class="inr_content">
                                            <p  id="shared_opt3_Text" [innerHTML]="option3"></p>
                                            <div class="multiple_c_p_imgcontainer" *ngIf="option3Img!=''">
                                                <img  src="{{option3Img}}" alt="{{altName}}">
                                            </div>
                                        </div>
                                    </label>
                                    <label class='radiobtn_outer share_mul_c_p crs_auto'  *ngIf="option4!='' || option4Img!=''">
                                           <input type="checkbox" class='Radio' id='option4' value='D' disabled>
                                        <label class="checkbox_btn" for='option4'>
                                          <!-- <img src="assets/images/svg/checkbox.svg" class="checkboximg"> -->
                                        </label>
                                        <b> D</b>
                                        <div class="inr_content">
                                            <p  id="shared_opt4_Text" [innerHTML]="option4"></p>
                                            <div class="multiple_c_p_imgcontainer" *ngIf="option4Img!=''">
                                                <img  src="{{option4Img}}" alt="{{altName}}">
                                            </div>
                                        </div>
                                    </label>
                                    <label class='radiobtn_outer share_mul_c_p crs_auto' *ngIf="option5!='' || option5Img!=''">
                                           <input type="checkbox" class='Radio' id='option5' value='E' disabled>
                                        <label class="checkbox_btn" for='option5'>
                                          <!-- <img src="assets/images/svg/checkbox.svg" class="checkboximg"> -->
                                        </label>
                                        <b> E </b>
                                        <div class="inr_content">
                                            <p  id="shared_opt5_Text" [innerHTML]="option5"></p>
                                            <div class="multiple_c_p_imgcontainer" *ngIf="option5Img!=''">
                                                <img  src="{{option5Img}}" alt="{{altName}}">
                                            </div>
                                        </div>
                                    </label>
                                    <label class='radiobtn_outer share_mul_c_p crs_auto' *ngIf="option6!='' || option6Img!=''">
                                           <input type="checkbox" class='Radio' id='option6' value='F' disabled>
                                        <label class="checkbox_btn" for='option6'>
                                          <!-- <img src="assets/images/svg/checkbox.svg" class="checkboximg"> -->
                                        </label>
                                        <b> F </b>
                                        <div class="inr_content">
                                            <p  id="shared_opt6_Text" [innerHTML]="option6"></p>
                                            <div class="multiple_c_p_imgcontainer" *ngIf="option6Img!=''">
                                                <img  src="{{option6Img}}" alt="{{altName}}">
                                            </div>
                                        </div>
                                    </label>

                                </div>
                                <div class="posttagdiv">
                                    <span class="tags" *ngFor="let tags of tagsArr" [id]='tags'>{{interestObj[tags]}}</span>
                                    <span class="tags wallintereswrapper" *ngIf="showIntArr">
                                        <span style="position:  relative;top: -3px;">...</span>
                                        <div class="wallinterestlist">
                                            <div class="arrow-up"></div>
                                            <ul [perfectScrollbar]="config">
                                                <li  *ngFor="let tag of ltIntShow" [id]='tag'>
                                                    {{interestObj[tag]}}
                                            </li>
                                        </ul>

                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class='postsave'>
                         <button type="submit" class="button24x7 redColorButton fright" [disabled]="loader === true"  *ngIf="!postdata['EDIT_POST'] && shareLinkPost==1" (click)="sharePost()">
                                <span class="text" *ngIf="showText">
                                  Share
                                </span>
                            <span class="loader" *ngIf="loader" >
                              <img src="./assets/images/svg/preloader-25.svg" alt="aio" >
                            </span>
                          </button>

                           <button [disabled]="loader === true"  type="submit" class="button24x7 redColorButton fright"  *ngIf="postdata['EDIT_POST'] && shareLinkPost==1" (click)="sharePost()">
                            <span class="text" *ngIf="showText">
                              Update
                            </span>
                            <span class="loader" *ngIf="loader">
                              <img src="./assets/images/svg/preloader-25.svg" alt="aio" >
                            </span>
                          </button>

                        <button  (click)="closeShareScreen()" class="whiteColorButton button24x7" >
                          Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div><app-confirmationpopup *ngIf="openConfirmation" (closeComfirmPopupThread)="closePopup($event);" [dataObj]="dataConf"></app-confirmationpopup>
<app-confirmationpopup *ngIf="openConfirmation" (closeComfirmPopupThread)="sessionLogout($event);" [dataObj]="dataConf"></app-confirmationpopup>
