.people_list { height: auto; }

.maindiv.saved-post-main { padding-right: 0; padding-left: 0; padding-bottom: 0; }

.maindiv.saved-post-main .mainheading { padding-left: 15px; padding-bottom: 15px; padding-top: 15px; background-color: #f5f7fa; line-height: 1; -webkit-border-top-right-radius: 5px; -moz-border-top-right-radius: 5px; -ms-border-top-right-radius: 5px; -o-border-top-right-radius: 5px; border-top-right-radius: 5px; -webkit-border-top-left-radius: 5px; -moz-border-top-left-radius: 5px; -ms-border-top-left-radius: 5px; -o-border-top-left-radius: 5px; border-top-left-radius: 5px; border-bottom: 1px solid #eaeaea; }

.maindiv.saved-post-main .mainheading .savededit { float: right; margin-right: 15px; }

.maindiv.saved-post-main .mainheading .savededit .folderremove { cursor: pointer; }

.maindiv.saved-post-main .inner-main-div { padding-right: 15px; padding-left: 15px; }

@media only screen and (max-width: 992px) { .maindiv.saved-post-main.notification-wrap { margin-bottom: 0px; } }
