// ==============================================================================
// preview css  start

.course_preview {
    .middle_wrapper {
        .previewLeftcontainer {
            float: left;
            width: 65%;
            .coursecard {
                float: left;
                width: 100%;
                border-radius: 5px;
                overflow: hidden;
                .couresecoverpic {
                    float: left;
                    width: 100%;
                    height: 260px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .coursepreviewfoooter {
                  background-color: #fff;
                  float: left;
                  width: 100%;
                  padding: 15px;
                  position: relative;
                  border-radius: 0 0;
                  border: 1px solid #dfe5eb75;
                    .leftfooter {
                        float: left;
                        width: 70%;
                        h3 {
                          float: left;
                          width: 100%;
                          font-size: 16px;
                          color: #2c2e2f;
                          padding: 0 0 10px;
                          word-break: break-all;
                        }
                        h4 {
                          color: #2c2e2f;
                          font-weight: 400;
                          font-size: 14px;
                          opacity: .7;
                          float: left;
                          cursor: default;
                        }
                        .star {
                            float: left;
                            width: 100%;
                            float: left;
                            margin-top: 10px;
                            .star_wrapper {
                                float: left;
                                margin-right: 5px;
                                label {
                                    margin-right: 5px;
                                    width: 12px;
                                    height: 9px;
                                    margin-bottom: 0px;
                                }
                                label.fill {
                                    .star-fill-svg {
                                        display: block;
                                    }
                                    .star-half-svg {
                                        display: none;
                                    }
                                    .star-blank-svg {
                                        display: none;
                                    }
                                }
                                label.half_fill {
                                    .star-fill-svg {
                                        display: none;
                                    }
                                    .star-half-svg {
                                        display: none;
                                    }
                                    .star-blank-svg {
                                        display: block;
                                    }
                                }
                                label.blank {
                                    .star-fill-svg {
                                        display: none;
                                    }
                                    .star-half-svg {
                                        display: none;
                                    }
                                    .star-blank-svg {
                                        display: block;
                                    }
                                }
                            }
                            .rating {
                                margin-right: 5px;
                                float: left;
                                font-size: 12px;
                                color: #1c1c1c;
                                font-weight: 500;
                                position: relative;
                                top: 1px;
                            }
                            .number {
                              float: left;
                              font-size: 12px;
                              color: #1c1c1c;
                              font-weight: 500;
                              position: relative;
                              top: 1px;
                            }
                        }
                    }
                    .rightfooter {
                        float: right;
                        width: 25%;
                        .coursepricewrapper {
                            float: left;
                            width: 100%;
                            // padding: 0px 0px 5px 0px;
                            display: flex;
                            justify-content: center;
                            float: left;
                            width: 100%;
                            .newprice {
                              float: left;
                              font-size: 16px;
                              line-height: 22px;
                              color: #000;
                              margin-left: 0;
                                img {
                                    width: 14px;
                                    position: relative;
                                    top: -2px;
                                }
                            }
                            .oldprice {
                              float: left;
                              font-size: 14px;
                              color: rgba(0,0,0,.7);
                              margin-right: 7px;
                              line-height: 20px;
                              position: relative;
                              padding-top: 1px;
                                img {
                                    width: 12px;
                                    position: relative;
                                    top: -1px;
                                }
                                .stock {
                                  position: absolute;
                                  top: 10px;
                                  width: 100%;
                                  height: 1px;
                                  left: 0;
                                  color: rgba(0,0,0,.7);
                                  background-color: rgba(0,0,0,.7);
                                }
                            }
                        }
                        button {
                          border-radius: 20px;
                          border: none;
                          margin-top: 10px;
                          width: 128px;
                          height: 37px;
                          position: relative;
                          padding-right: 20px;
                          line-height: 36px;
                          color: #fff;
                          min-width: 110px!important;
                          /* height: 32px; */
                          /* border-radius: 16px; */
                          box-shadow: 0 1px 4.9px 0.1px rgba(51,51,51,.3);
                          background-color: #f05050!important;
                          .rightArrowBtn{
                            position: absolute;
                              right: 15px;
                              width: 6px;
                              height: 6px;
                              top: 13px;
                              img{
                                width: 100%;
                                float: left;
                              }
                          }
                        }
                    }
                }
            }
        }

        .previewcourseDescription {
            float: left;
            width: 100%;
            border: 1px solid #dfe5eb;
            margin-top: 15px;
            border-radius: 5px;
            .previewhead {
                float: left;
                width: calc(100% - 20px);
                border-bottom: 1px solid #e9e9e9 !important;
                padding: 10px 0;
                margin: 0 10px;
                h2 {
                  font-size: 16px;
                  cursor: context-menu;
                  color: #1c1c1c;
                  float: left;
                  width: 100%;
                }
                p {
                    float: left;
                    width: 100%;
                    padding: 5px 0px 0px 0px;
                    font-size: 14px;
                    color: #2c2e2f;
                }
            }
            .descripption {
                float: left;
                position: relative;
                width: 100%;
                padding: 10px;
                border-bottom: 1px solid #e9e9e9;
                p {
                    float: left;
                    width: 100%;
                    color: #000;
                    // opacity: 0.8;
                    font-size: 13px;
                    line-height: 20px;
                }
                ul {
                    float: left;
                    width: 100%;
                    list-style-type: none;
                    margin-top: 15px;
                    li {
                      float: left;
                      width: 100%;
                      padding: 7px 0 0 0px;
                      text-decoration: none;
                      position: relative;
                      margin-bottom: 5px;
                      color: #000;
                        span {
                            float: left;
                            width: 15px;
                            height: 15px;
                            margin-right: 10px;
                            position: relative;
                            top: -1px;
                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                        .hightlight{
                          color: #000;
                          font-weight: 500;
                          float: none;
                          position: relative;
                          top: 0;
                          margin-right: 0;
                        }
                    }
                }
            }
            .preDropdownwrapper {
                float: left;
                width: 100%;
                // padding: 0px 10px 10px 10px;
                .head {
                  float: left;
                  width: 100%;
                  padding: 20px;
                  background-color: #fff;
                  cursor: pointer;
                  /* border-radius: 3px 3px 5px 5px; */
                  overflow: hidden;
                  // border-bottom: 1px solid #e1e1e1;
                  border: none;
                    &:first-child {
                        margin-top: 0px;
                    }

                    h2 {
                        font-size: 16px;
                        color: #2c2e2f;
                        width: 95%;
                        float: left;
                    }
                    .downarrow {
                        width: 15px;
                        height: 15px;
                        float: right;
                        transform: rotate(90deg);
                        transition: all 0.5s;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .rotateImg {
                        transform: rotate(0deg) !important;
                    }
                }
                .content {
                    float: left;
                    width: 100%;
                    transition: all 0.3s;
                    ul {
                        float: left;
                        width: 100%;
                        list-style-type: none;
                        // border-left: 1px solid #f7f7f7;
                        // border-right: 1px solid #f7f7f7;
                        // border-bottom: 1px solid #f7f7f7;
                        border: 1px solid #f7f7f7;
                        background: hsla(0,0%,88.2%,.31);

                        li {
                            float: left;
                            width: 100%;

                            &:hover {
                                background: #f5f7fa;
                                transition: all 0.3s;
                            }

                            .images {
                                float: left;
                                width: 15px;
                                height: 15px;
                            }
                            p {
                                float: left;
                                margin: 0px 0px 0px 0px;
                                width: 100%;
                                font-size: 13px;
                                color: #000;
                                cursor: pointer;
                                opacity: unset;
                            }
                            .detail {
                                float: left;
                                font-size: 12px;
                                color: #000;
                            }
                            .lock {
                                width: 16px;
                                height: 16px;
                                float: right;
                                position: absolute;
                                right: 15px;
                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                    }
                }
                .hidelist {
                    overflow: hidden;
                    height: 0px;
                }
            }
        }
        .previewRighttcontainer {
            float: right;
            width: 35%;
            box-sizing: border-box;
            padding-left: 15px;

            .previewwidgetwrapper {
                background-color: #dfe5eb75;
                float: left;
                width: 100%;
                padding: 10px;
                border-radius: 3px;
                overflow: hidden;
                margin-bottom: 15px;
                cursor: context-menu;
                h3 {
                    float: left;
                    width: 100%;
                    padding: 10px;
                    font-size: 14px;
                    padding: 5px 0px 5px 0px;
                    color: #2c2e2f;
                }
                h5 {
                    float: left;
                    width: 100%;
                    padding: 0px 0px 15px 0px;
                    font-size: 12px;
                    font-weight: normal;
                    color: #8c8c8c;
                }
                .videocontainer {
                    float: left;
                    width: 100%;
                    height: 145px;
                    overflow: hidden;
                    border-radius: 3px;
                    position: relative;
                    img {
                        float: left;
                        width: 100%;
                        height: 100%;
                    }
                    .playbutton {
                        position: absolute;
                        top: 0px;
                        bottom: 0px;
                        right: 0px;
                        left: 0px;
                        margin: auto;
                        width: 40px;
                        height: 40px;
                        cursor: pointer;
                    }
                }
            }
            .caedpreviewwidget {
                .previewcard {
                    float: left;
                    overflow: hidden;
                    border-radius: 5px;
                    .imagewrapper {
                        float: left;
                        width: 100%;
                        height: 125px;
                        position: relative;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                        .logo {
                            position: absolute;
                            width: 50px;
                            height: 50px;
                            overflow: hidden;
                            border-radius: 50%;
                            bottom: -25px;
                            left: 10px;

                            background: #fff;
                            box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                    .description {
                        float: left;
                        width: 100%;
                        background-color: #fff;
                        padding: 30px 0px 15px 15px;

                        h3 {
                            float: left;
                            width: 100%;
                            font-size: 14px;
                            padding: 5px 0px 5px 0px;
                            color: #2c2e2f;
                        }
                        h4 {
                            float: left;
                            width: 100%;
                            font-size: 14px;
                            padding: 0px 0px 5px 0px;
                            color: #2c2e2f;
                        }
                        h5 {
                            float: left;
                            width: 100%;
                            font-size: 14px;
                            padding: 0px 0px 0px 0px;
                            color: #8c8c8c;
                        }
                        .star {
                            float: left;
                            width: 100%;
                            float: left;
                            margin-top: 5px;

                            .star_wrapper {
                                float: left;
                                margin-right: 5px;
                                label {
                                    margin-right: 5px;
                                    width: 12px;
                                    height: 9px;
                                    margin-bottom: 0px;
                                }
                                label.fill {
                                    .star-fill-svg {
                                        display: block;
                                    }
                                    .star-half-svg {
                                        display: none;
                                    }
                                    .star-blank-svg {
                                        display: none;
                                    }
                                }
                                label.half_fill {
                                    .star-fill-svg {
                                        display: none;
                                    }
                                    .star-half-svg {
                                        display: none;
                                    }
                                    .star-blank-svg {
                                        display: block;
                                    }
                                }
                                label.blank {
                                    .star-fill-svg {
                                        display: none;
                                    }
                                    .star-half-svg {
                                        display: none;
                                    }
                                    .star-blank-svg {
                                        display: block;
                                    }
                                }
                            }
                            .rating {
                                float: left;
                                font-size: 12px;
                                margin-right: 5px;
                                color: #ffbb58;

                                padding-top: 2px;
                            }
                            .number {
                                float: left;
                                font-size: 12px;
                                color: #8c8c8c;
                            }
                        }
                        ul {
                            float: left;
                            width: 100%;
                            list-style-type: none;
                            margin-top: 5px;
                            li {
                                text-decoration: none;
                                padding: 5px 0px 0px 0px;
                                color: #8c8c8c;
                                font-size: 12px;
                                &:first-child {
                                    padding-top: 10px;
                                }

                                span {
                                    float: left;
                                    float: left;
                                    margin-right: 5px;
                                    font-size: 14px;
                                    width: 14px;
                                    height: 14px;

                                    img {
                                        width: 100%;
                                        height: 100%;
                                    }
                                }
                            }
                        }

                        .pricing_wrappper {
                            float: left;
                            width: 100%;
                            padding: 10px 10px 0px 10px;
                            .oldprice {
                                float: right;
                                margin-right: 5px;
                                display: inline-block;
                                position: relative;
                                top: 0px;
                                img {
                                    width: 10px;
                                }
                                p {
                                    float: right;
                                    font-size: 14px;
                                    line-height: 18px;
                                }
                                .stock {
                                    position: absolute;
                                    float: left;
                                    height: 1px;
                                    background: #8c8c8c;
                                    top: 7px;
                                    left: 0px;
                                    right: 0px;
                                }
                            }
                            .newprice {
                                float: right;

                                display: inline-block;
                                img {
                                    width: 12px;
                                    position: relative;
                                    top: 1px;
                                }
                                p {
                                    font-size: 16px;
                                    float: right;
                                    line-height: 19px;
                                    font-weight: 500;
                                }
                            }
                        }
                    }
                }
            }
        }
        // ==========================================================================
        // delete course css start

        .top_wrapper {
            float: left;
            width: 100%;
            background: #f5f7fa;
            overflow: hidden;
            border-radius: 5px;
            padding: 20px;
            .left_container {
                float: left;
                width: 10%;
                background: #f5f7fa;
                overflow: hidden;
                border-radius: 5px;
                padding: 0px 0px;

                img {
                    float: left;
                    width: 80px;
                    padding: 0px 0px;
                    position: relative;
                    top: -10px;
                }
            }
            .right_container {
                width: 90%;
                float: right;
                padding-left: 20px;
                h3 {
                    font-size: 16px;
                    color: #2c2e2f;
                    padding-top: 0px;
                }
                p {
                    float: left;
                    width: 100%;
                    font-size: 14px;
                    line-height: 18px;
                    color: #8c8c8c;
                }
            }
            .button_container {
                float: left;
                width: 100%;
                position: static;
                padding: 20px 0px 0px 0px;
                .comfirm {
                    float: left;
                    text-align: center;
                    box-shadow: 0 1px 2px 1px #2c2e2f20;
                    background-color: #fff !important;
                    border: none;
                    cursor: pointer;
                    border-radius: 34px !important;
                    font-size: 14px;
                }
                .notconfirm {
                    float: right;
                    text-align: center;
                    box-shadow: 0 1px 2px 1px #2c2e2f20;
                    border: none;
                    cursor: pointer;
                    border-radius: 34px !important;
                    font-size: 14px;
                    background-color: #f05050;
                    color: #fff;
                }
            }
        }
        .condition_wrapper {
            float: left;
            width: 100%;
            margin-top: 25px;
            // margin-bottom: 75px;
            h3 {
                font-size: 16px;
                padding: 10px 0px 10px 0px;
            }
            ul {
                float: left;
                width: 100%;
                list-style-type: none;
                li {
                    float: left;
                    width: 100%;
                    padding: 10px 10px 10px 37px;
                    position: relative;
                    font-size: 14px;
                    color: #8c8c8c;
                    line-height: 20px;
                    span {
                        position: absolute;
                        left: 0px;
                    }
                }
            }
        }

        .text_area_wapper {
            width: 100%;
            float: left;
            position: absolute;
            bottom: 0px;
            left: 0px;
            background: #f5f7fa;
            h3 {
                float: left;
                width: 100%;
                font-size: 14px;
                padding: 15px 20px 15px 20px;
                color: #8c8c8c;
            }
            .text_wrapper {
                float: left;
                width: 100%;
                padding: 0px 20px 20px 20px;

                .textcontainer {
                    float: left;
                    width: 100%;
                    height: 100px;
                    border: 1px solid #dfe0e8;
                    font-size: 14px;
                    padding: 10px;
                    background-color: #fff;
                }
            }
        }
    }
    .deletecourse {
        padding: 20px;
    }
    // delete course css end
    // ==========================================================================
    .confirmation_wrapper {
        float: left;
        width: 100%;
        text-align: center;
        margin-top: 15%;
        img {
            width: 100px;
        }
        h2 {
            float: left;
            width: 100%;
            font-size: 16px;
            color: #2c2e2f;
            padding: 10px 10px 0px 10px;
            opacity: 0.8;
        }
        h5 {
            float: left;
            width: 100%;
            font-size: 14px;
            color: #8c8c8c;
            line-height: 20px;
            padding-top: 12px;
        }
        .button_wrapper {
            float: left;
            width: 100%;
            text-align: center;
            button {
                float: none;
                margin-top: 30px;
                color: #fff;
                text-align: center;
                box-shadow: 0 1px 2px 1px #2c2e2f20;
                background-color: #f05050;
                border: none;
                cursor: pointer;
                border-radius: 35px;
                font-size: 14px;
                height: 45px;
                width: 170px;
            }
        }
    }
}
.liveStreamDetailWrapper {
    width: 100% !important;
    float: right;

}
.leftImg{
  top: 14px  !important;
}
// preview css  end
// ==============================================================================
