.course_preview .middle_wrapper .previewLeftcontainer {
  float: left;
  width: 65%;
}

.course_preview .middle_wrapper .previewLeftcontainer .coursecard {
  float: left;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.course_preview .middle_wrapper .previewLeftcontainer .coursecard .couresecoverpic {
  float: left;
  width: 100%;
  height: 260px;
}

.course_preview .middle_wrapper .previewLeftcontainer .coursecard .couresecoverpic img {
  width: 100%;
  height: 100%;
}

.course_preview .middle_wrapper .previewLeftcontainer .coursecard .coursepreviewfoooter {
  background-color: #fff;
  float: left;
  width: 100%;
  padding: 15px;
  position: relative;
  border-radius: 0 0;
  border: 1px solid #dfe5eb75;
}

.course_preview .middle_wrapper .previewLeftcontainer .coursecard .coursepreviewfoooter .leftfooter {
  float: left;
  width: 70%;
}

.course_preview .middle_wrapper .previewLeftcontainer .coursecard .coursepreviewfoooter .leftfooter h3 {
  float: left;
  width: 100%;
  font-size: 16px;
  color: #2c2e2f;
  padding: 0 0 10px;
  word-break: break-all;
}

.course_preview .middle_wrapper .previewLeftcontainer .coursecard .coursepreviewfoooter .leftfooter h4 {
  color: #2c2e2f;
  font-weight: 400;
  font-size: 14px;
  opacity: .7;
  float: left;
  cursor: default;
}

.course_preview .middle_wrapper .previewLeftcontainer .coursecard .coursepreviewfoooter .leftfooter .star {
  float: left;
  width: 100%;
  float: left;
  margin-top: 10px;
}

.course_preview .middle_wrapper .previewLeftcontainer .coursecard .coursepreviewfoooter .leftfooter .star .star_wrapper {
  float: left;
  margin-right: 5px;
}

.course_preview .middle_wrapper .previewLeftcontainer .coursecard .coursepreviewfoooter .leftfooter .star .star_wrapper label {
  margin-right: 5px;
  width: 12px;
  height: 9px;
  margin-bottom: 0px;
}

.course_preview .middle_wrapper .previewLeftcontainer .coursecard .coursepreviewfoooter .leftfooter .star .star_wrapper label.fill .star-fill-svg {
  display: block;
}

.course_preview .middle_wrapper .previewLeftcontainer .coursecard .coursepreviewfoooter .leftfooter .star .star_wrapper label.fill .star-half-svg {
  display: none;
}

.course_preview .middle_wrapper .previewLeftcontainer .coursecard .coursepreviewfoooter .leftfooter .star .star_wrapper label.fill .star-blank-svg {
  display: none;
}

.course_preview .middle_wrapper .previewLeftcontainer .coursecard .coursepreviewfoooter .leftfooter .star .star_wrapper label.half_fill .star-fill-svg {
  display: none;
}

.course_preview .middle_wrapper .previewLeftcontainer .coursecard .coursepreviewfoooter .leftfooter .star .star_wrapper label.half_fill .star-half-svg {
  display: none;
}

.course_preview .middle_wrapper .previewLeftcontainer .coursecard .coursepreviewfoooter .leftfooter .star .star_wrapper label.half_fill .star-blank-svg {
  display: block;
}

.course_preview .middle_wrapper .previewLeftcontainer .coursecard .coursepreviewfoooter .leftfooter .star .star_wrapper label.blank .star-fill-svg {
  display: none;
}

.course_preview .middle_wrapper .previewLeftcontainer .coursecard .coursepreviewfoooter .leftfooter .star .star_wrapper label.blank .star-half-svg {
  display: none;
}

.course_preview .middle_wrapper .previewLeftcontainer .coursecard .coursepreviewfoooter .leftfooter .star .star_wrapper label.blank .star-blank-svg {
  display: block;
}

.course_preview .middle_wrapper .previewLeftcontainer .coursecard .coursepreviewfoooter .leftfooter .star .rating {
  margin-right: 5px;
  float: left;
  font-size: 12px;
  color: #1c1c1c;
  font-weight: 500;
  position: relative;
  top: 1px;
}

.course_preview .middle_wrapper .previewLeftcontainer .coursecard .coursepreviewfoooter .leftfooter .star .number {
  float: left;
  font-size: 12px;
  color: #1c1c1c;
  font-weight: 500;
  position: relative;
  top: 1px;
}

.course_preview .middle_wrapper .previewLeftcontainer .coursecard .coursepreviewfoooter .rightfooter {
  float: right;
  width: 25%;
}

.course_preview .middle_wrapper .previewLeftcontainer .coursecard .coursepreviewfoooter .rightfooter .coursepricewrapper {
  float: left;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
  width: 100%;
}

.course_preview .middle_wrapper .previewLeftcontainer .coursecard .coursepreviewfoooter .rightfooter .coursepricewrapper .newprice {
  float: left;
  font-size: 16px;
  line-height: 22px;
  color: #000;
  margin-left: 0;
}

.course_preview .middle_wrapper .previewLeftcontainer .coursecard .coursepreviewfoooter .rightfooter .coursepricewrapper .newprice img {
  width: 14px;
  position: relative;
  top: -2px;
}

.course_preview .middle_wrapper .previewLeftcontainer .coursecard .coursepreviewfoooter .rightfooter .coursepricewrapper .oldprice {
  float: left;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
  margin-right: 7px;
  line-height: 20px;
  position: relative;
  padding-top: 1px;
}

.course_preview .middle_wrapper .previewLeftcontainer .coursecard .coursepreviewfoooter .rightfooter .coursepricewrapper .oldprice img {
  width: 12px;
  position: relative;
  top: -1px;
}

.course_preview .middle_wrapper .previewLeftcontainer .coursecard .coursepreviewfoooter .rightfooter .coursepricewrapper .oldprice .stock {
  position: absolute;
  top: 10px;
  width: 100%;
  height: 1px;
  left: 0;
  color: rgba(0, 0, 0, 0.7);
  background-color: rgba(0, 0, 0, 0.7);
}

.course_preview .middle_wrapper .previewLeftcontainer .coursecard .coursepreviewfoooter .rightfooter button {
  border-radius: 20px;
  border: none;
  margin-top: 10px;
  width: 128px;
  height: 37px;
  position: relative;
  padding-right: 20px;
  line-height: 36px;
  color: #fff;
  min-width: 110px !important;
  /* height: 32px; */
  /* border-radius: 16px; */
  -webkit-box-shadow: 0 1px 4.9px 0.1px rgba(51, 51, 51, 0.3);
          box-shadow: 0 1px 4.9px 0.1px rgba(51, 51, 51, 0.3);
  background-color: #f05050 !important;
}

.course_preview .middle_wrapper .previewLeftcontainer .coursecard .coursepreviewfoooter .rightfooter button .rightArrowBtn {
  position: absolute;
  right: 15px;
  width: 6px;
  height: 6px;
  top: 13px;
}

.course_preview .middle_wrapper .previewLeftcontainer .coursecard .coursepreviewfoooter .rightfooter button .rightArrowBtn img {
  width: 100%;
  float: left;
}

.course_preview .middle_wrapper .previewcourseDescription {
  float: left;
  width: 100%;
  border: 1px solid #dfe5eb;
  margin-top: 15px;
  border-radius: 5px;
}

.course_preview .middle_wrapper .previewcourseDescription .previewhead {
  float: left;
  width: calc(100% - 20px);
  border-bottom: 1px solid #e9e9e9 !important;
  padding: 10px 0;
  margin: 0 10px;
}

.course_preview .middle_wrapper .previewcourseDescription .previewhead h2 {
  font-size: 16px;
  cursor: context-menu;
  color: #1c1c1c;
  float: left;
  width: 100%;
}

.course_preview .middle_wrapper .previewcourseDescription .previewhead p {
  float: left;
  width: 100%;
  padding: 5px 0px 0px 0px;
  font-size: 14px;
  color: #2c2e2f;
}

.course_preview .middle_wrapper .previewcourseDescription .descripption {
  float: left;
  position: relative;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #e9e9e9;
}

.course_preview .middle_wrapper .previewcourseDescription .descripption p {
  float: left;
  width: 100%;
  color: #000;
  font-size: 13px;
  line-height: 20px;
}

.course_preview .middle_wrapper .previewcourseDescription .descripption ul {
  float: left;
  width: 100%;
  list-style-type: none;
  margin-top: 15px;
}

.course_preview .middle_wrapper .previewcourseDescription .descripption ul li {
  float: left;
  width: 100%;
  padding: 7px 0 0 0px;
  text-decoration: none;
  position: relative;
  margin-bottom: 5px;
  color: #000;
}

.course_preview .middle_wrapper .previewcourseDescription .descripption ul li span {
  float: left;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  position: relative;
  top: -1px;
}

.course_preview .middle_wrapper .previewcourseDescription .descripption ul li span img {
  width: 100%;
  height: 100%;
}

.course_preview .middle_wrapper .previewcourseDescription .descripption ul li .hightlight {
  color: #000;
  font-weight: 500;
  float: none;
  position: relative;
  top: 0;
  margin-right: 0;
}

.course_preview .middle_wrapper .previewcourseDescription .preDropdownwrapper {
  float: left;
  width: 100%;
}

.course_preview .middle_wrapper .previewcourseDescription .preDropdownwrapper .head {
  float: left;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  cursor: pointer;
  /* border-radius: 3px 3px 5px 5px; */
  overflow: hidden;
  border: none;
}

.course_preview .middle_wrapper .previewcourseDescription .preDropdownwrapper .head:first-child {
  margin-top: 0px;
}

.course_preview .middle_wrapper .previewcourseDescription .preDropdownwrapper .head h2 {
  font-size: 16px;
  color: #2c2e2f;
  width: 95%;
  float: left;
}

.course_preview .middle_wrapper .previewcourseDescription .preDropdownwrapper .head .downarrow {
  width: 15px;
  height: 15px;
  float: right;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.course_preview .middle_wrapper .previewcourseDescription .preDropdownwrapper .head .downarrow img {
  width: 100%;
  height: 100%;
}

.course_preview .middle_wrapper .previewcourseDescription .preDropdownwrapper .head .rotateImg {
  -webkit-transform: rotate(0deg) !important;
          transform: rotate(0deg) !important;
}

.course_preview .middle_wrapper .previewcourseDescription .preDropdownwrapper .content {
  float: left;
  width: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.course_preview .middle_wrapper .previewcourseDescription .preDropdownwrapper .content ul {
  float: left;
  width: 100%;
  list-style-type: none;
  border: 1px solid #f7f7f7;
  background: rgba(225, 225, 225, 0.31);
}

.course_preview .middle_wrapper .previewcourseDescription .preDropdownwrapper .content ul li {
  float: left;
  width: 100%;
}

.course_preview .middle_wrapper .previewcourseDescription .preDropdownwrapper .content ul li:hover {
  background: #f5f7fa;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.course_preview .middle_wrapper .previewcourseDescription .preDropdownwrapper .content ul li .images {
  float: left;
  width: 15px;
  height: 15px;
}

.course_preview .middle_wrapper .previewcourseDescription .preDropdownwrapper .content ul li p {
  float: left;
  margin: 0px 0px 0px 0px;
  width: 100%;
  font-size: 13px;
  color: #000;
  cursor: pointer;
  opacity: unset;
}

.course_preview .middle_wrapper .previewcourseDescription .preDropdownwrapper .content ul li .detail {
  float: left;
  font-size: 12px;
  color: #000;
}

.course_preview .middle_wrapper .previewcourseDescription .preDropdownwrapper .content ul li .lock {
  width: 16px;
  height: 16px;
  float: right;
  position: absolute;
  right: 15px;
}

.course_preview .middle_wrapper .previewcourseDescription .preDropdownwrapper .content ul li .lock img {
  width: 100%;
  height: 100%;
}

.course_preview .middle_wrapper .previewcourseDescription .preDropdownwrapper .hidelist {
  overflow: hidden;
  height: 0px;
}

.course_preview .middle_wrapper .previewRighttcontainer {
  float: right;
  width: 35%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 15px;
}

.course_preview .middle_wrapper .previewRighttcontainer .previewwidgetwrapper {
  background-color: #dfe5eb75;
  float: left;
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: 15px;
  cursor: context-menu;
}

.course_preview .middle_wrapper .previewRighttcontainer .previewwidgetwrapper h3 {
  float: left;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  padding: 5px 0px 5px 0px;
  color: #2c2e2f;
}

.course_preview .middle_wrapper .previewRighttcontainer .previewwidgetwrapper h5 {
  float: left;
  width: 100%;
  padding: 0px 0px 15px 0px;
  font-size: 12px;
  font-weight: normal;
  color: #8c8c8c;
}

.course_preview .middle_wrapper .previewRighttcontainer .previewwidgetwrapper .videocontainer {
  float: left;
  width: 100%;
  height: 145px;
  overflow: hidden;
  border-radius: 3px;
  position: relative;
}

.course_preview .middle_wrapper .previewRighttcontainer .previewwidgetwrapper .videocontainer img {
  float: left;
  width: 100%;
  height: 100%;
}

.course_preview .middle_wrapper .previewRighttcontainer .previewwidgetwrapper .videocontainer .playbutton {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  margin: auto;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.course_preview .middle_wrapper .previewRighttcontainer .caedpreviewwidget .previewcard {
  float: left;
  overflow: hidden;
  border-radius: 5px;
}

.course_preview .middle_wrapper .previewRighttcontainer .caedpreviewwidget .previewcard .imagewrapper {
  float: left;
  width: 100%;
  height: 125px;
  position: relative;
}

.course_preview .middle_wrapper .previewRighttcontainer .caedpreviewwidget .previewcard .imagewrapper img {
  width: 100%;
  height: 100%;
}

.course_preview .middle_wrapper .previewRighttcontainer .caedpreviewwidget .previewcard .imagewrapper .logo {
  position: absolute;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  bottom: -25px;
  left: 10px;
  background: #fff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}

.course_preview .middle_wrapper .previewRighttcontainer .caedpreviewwidget .previewcard .imagewrapper .logo img {
  width: 100%;
  height: 100%;
}

.course_preview .middle_wrapper .previewRighttcontainer .caedpreviewwidget .previewcard .description {
  float: left;
  width: 100%;
  background-color: #fff;
  padding: 30px 0px 15px 15px;
}

.course_preview .middle_wrapper .previewRighttcontainer .caedpreviewwidget .previewcard .description h3 {
  float: left;
  width: 100%;
  font-size: 14px;
  padding: 5px 0px 5px 0px;
  color: #2c2e2f;
}

.course_preview .middle_wrapper .previewRighttcontainer .caedpreviewwidget .previewcard .description h4 {
  float: left;
  width: 100%;
  font-size: 14px;
  padding: 0px 0px 5px 0px;
  color: #2c2e2f;
}

.course_preview .middle_wrapper .previewRighttcontainer .caedpreviewwidget .previewcard .description h5 {
  float: left;
  width: 100%;
  font-size: 14px;
  padding: 0px 0px 0px 0px;
  color: #8c8c8c;
}

.course_preview .middle_wrapper .previewRighttcontainer .caedpreviewwidget .previewcard .description .star {
  float: left;
  width: 100%;
  float: left;
  margin-top: 5px;
}

.course_preview .middle_wrapper .previewRighttcontainer .caedpreviewwidget .previewcard .description .star .star_wrapper {
  float: left;
  margin-right: 5px;
}

.course_preview .middle_wrapper .previewRighttcontainer .caedpreviewwidget .previewcard .description .star .star_wrapper label {
  margin-right: 5px;
  width: 12px;
  height: 9px;
  margin-bottom: 0px;
}

.course_preview .middle_wrapper .previewRighttcontainer .caedpreviewwidget .previewcard .description .star .star_wrapper label.fill .star-fill-svg {
  display: block;
}

.course_preview .middle_wrapper .previewRighttcontainer .caedpreviewwidget .previewcard .description .star .star_wrapper label.fill .star-half-svg {
  display: none;
}

.course_preview .middle_wrapper .previewRighttcontainer .caedpreviewwidget .previewcard .description .star .star_wrapper label.fill .star-blank-svg {
  display: none;
}

.course_preview .middle_wrapper .previewRighttcontainer .caedpreviewwidget .previewcard .description .star .star_wrapper label.half_fill .star-fill-svg {
  display: none;
}

.course_preview .middle_wrapper .previewRighttcontainer .caedpreviewwidget .previewcard .description .star .star_wrapper label.half_fill .star-half-svg {
  display: none;
}

.course_preview .middle_wrapper .previewRighttcontainer .caedpreviewwidget .previewcard .description .star .star_wrapper label.half_fill .star-blank-svg {
  display: block;
}

.course_preview .middle_wrapper .previewRighttcontainer .caedpreviewwidget .previewcard .description .star .star_wrapper label.blank .star-fill-svg {
  display: none;
}

.course_preview .middle_wrapper .previewRighttcontainer .caedpreviewwidget .previewcard .description .star .star_wrapper label.blank .star-half-svg {
  display: none;
}

.course_preview .middle_wrapper .previewRighttcontainer .caedpreviewwidget .previewcard .description .star .star_wrapper label.blank .star-blank-svg {
  display: block;
}

.course_preview .middle_wrapper .previewRighttcontainer .caedpreviewwidget .previewcard .description .star .rating {
  float: left;
  font-size: 12px;
  margin-right: 5px;
  color: #ffbb58;
  padding-top: 2px;
}

.course_preview .middle_wrapper .previewRighttcontainer .caedpreviewwidget .previewcard .description .star .number {
  float: left;
  font-size: 12px;
  color: #8c8c8c;
}

.course_preview .middle_wrapper .previewRighttcontainer .caedpreviewwidget .previewcard .description ul {
  float: left;
  width: 100%;
  list-style-type: none;
  margin-top: 5px;
}

.course_preview .middle_wrapper .previewRighttcontainer .caedpreviewwidget .previewcard .description ul li {
  text-decoration: none;
  padding: 5px 0px 0px 0px;
  color: #8c8c8c;
  font-size: 12px;
}

.course_preview .middle_wrapper .previewRighttcontainer .caedpreviewwidget .previewcard .description ul li:first-child {
  padding-top: 10px;
}

.course_preview .middle_wrapper .previewRighttcontainer .caedpreviewwidget .previewcard .description ul li span {
  float: left;
  float: left;
  margin-right: 5px;
  font-size: 14px;
  width: 14px;
  height: 14px;
}

.course_preview .middle_wrapper .previewRighttcontainer .caedpreviewwidget .previewcard .description ul li span img {
  width: 100%;
  height: 100%;
}

.course_preview .middle_wrapper .previewRighttcontainer .caedpreviewwidget .previewcard .description .pricing_wrappper {
  float: left;
  width: 100%;
  padding: 10px 10px 0px 10px;
}

.course_preview .middle_wrapper .previewRighttcontainer .caedpreviewwidget .previewcard .description .pricing_wrappper .oldprice {
  float: right;
  margin-right: 5px;
  display: inline-block;
  position: relative;
  top: 0px;
}

.course_preview .middle_wrapper .previewRighttcontainer .caedpreviewwidget .previewcard .description .pricing_wrappper .oldprice img {
  width: 10px;
}

.course_preview .middle_wrapper .previewRighttcontainer .caedpreviewwidget .previewcard .description .pricing_wrappper .oldprice p {
  float: right;
  font-size: 14px;
  line-height: 18px;
}

.course_preview .middle_wrapper .previewRighttcontainer .caedpreviewwidget .previewcard .description .pricing_wrappper .oldprice .stock {
  position: absolute;
  float: left;
  height: 1px;
  background: #8c8c8c;
  top: 7px;
  left: 0px;
  right: 0px;
}

.course_preview .middle_wrapper .previewRighttcontainer .caedpreviewwidget .previewcard .description .pricing_wrappper .newprice {
  float: right;
  display: inline-block;
}

.course_preview .middle_wrapper .previewRighttcontainer .caedpreviewwidget .previewcard .description .pricing_wrappper .newprice img {
  width: 12px;
  position: relative;
  top: 1px;
}

.course_preview .middle_wrapper .previewRighttcontainer .caedpreviewwidget .previewcard .description .pricing_wrappper .newprice p {
  font-size: 16px;
  float: right;
  line-height: 19px;
  font-weight: 500;
}

.course_preview .middle_wrapper .top_wrapper {
  float: left;
  width: 100%;
  background: #f5f7fa;
  overflow: hidden;
  border-radius: 5px;
  padding: 20px;
}

.course_preview .middle_wrapper .top_wrapper .left_container {
  float: left;
  width: 10%;
  background: #f5f7fa;
  overflow: hidden;
  border-radius: 5px;
  padding: 0px 0px;
}

.course_preview .middle_wrapper .top_wrapper .left_container img {
  float: left;
  width: 80px;
  padding: 0px 0px;
  position: relative;
  top: -10px;
}

.course_preview .middle_wrapper .top_wrapper .right_container {
  width: 90%;
  float: right;
  padding-left: 20px;
}

.course_preview .middle_wrapper .top_wrapper .right_container h3 {
  font-size: 16px;
  color: #2c2e2f;
  padding-top: 0px;
}

.course_preview .middle_wrapper .top_wrapper .right_container p {
  float: left;
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  color: #8c8c8c;
}

.course_preview .middle_wrapper .top_wrapper .button_container {
  float: left;
  width: 100%;
  position: static;
  padding: 20px 0px 0px 0px;
}

.course_preview .middle_wrapper .top_wrapper .button_container .comfirm {
  float: left;
  text-align: center;
  -webkit-box-shadow: 0 1px 2px 1px #2c2e2f20;
          box-shadow: 0 1px 2px 1px #2c2e2f20;
  background-color: #fff !important;
  border: none;
  cursor: pointer;
  border-radius: 34px !important;
  font-size: 14px;
}

.course_preview .middle_wrapper .top_wrapper .button_container .notconfirm {
  float: right;
  text-align: center;
  -webkit-box-shadow: 0 1px 2px 1px #2c2e2f20;
          box-shadow: 0 1px 2px 1px #2c2e2f20;
  border: none;
  cursor: pointer;
  border-radius: 34px !important;
  font-size: 14px;
  background-color: #f05050;
  color: #fff;
}

.course_preview .middle_wrapper .condition_wrapper {
  float: left;
  width: 100%;
  margin-top: 25px;
}

.course_preview .middle_wrapper .condition_wrapper h3 {
  font-size: 16px;
  padding: 10px 0px 10px 0px;
}

.course_preview .middle_wrapper .condition_wrapper ul {
  float: left;
  width: 100%;
  list-style-type: none;
}

.course_preview .middle_wrapper .condition_wrapper ul li {
  float: left;
  width: 100%;
  padding: 10px 10px 10px 37px;
  position: relative;
  font-size: 14px;
  color: #8c8c8c;
  line-height: 20px;
}

.course_preview .middle_wrapper .condition_wrapper ul li span {
  position: absolute;
  left: 0px;
}

.course_preview .middle_wrapper .text_area_wapper {
  width: 100%;
  float: left;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: #f5f7fa;
}

.course_preview .middle_wrapper .text_area_wapper h3 {
  float: left;
  width: 100%;
  font-size: 14px;
  padding: 15px 20px 15px 20px;
  color: #8c8c8c;
}

.course_preview .middle_wrapper .text_area_wapper .text_wrapper {
  float: left;
  width: 100%;
  padding: 0px 20px 20px 20px;
}

.course_preview .middle_wrapper .text_area_wapper .text_wrapper .textcontainer {
  float: left;
  width: 100%;
  height: 100px;
  border: 1px solid #dfe0e8;
  font-size: 14px;
  padding: 10px;
  background-color: #fff;
}

.course_preview .deletecourse {
  padding: 20px;
}

.course_preview .confirmation_wrapper {
  float: left;
  width: 100%;
  text-align: center;
  margin-top: 15%;
}

.course_preview .confirmation_wrapper img {
  width: 100px;
}

.course_preview .confirmation_wrapper h2 {
  float: left;
  width: 100%;
  font-size: 16px;
  color: #2c2e2f;
  padding: 10px 10px 0px 10px;
  opacity: 0.8;
}

.course_preview .confirmation_wrapper h5 {
  float: left;
  width: 100%;
  font-size: 14px;
  color: #8c8c8c;
  line-height: 20px;
  padding-top: 12px;
}

.course_preview .confirmation_wrapper .button_wrapper {
  float: left;
  width: 100%;
  text-align: center;
}

.course_preview .confirmation_wrapper .button_wrapper button {
  float: none;
  margin-top: 30px;
  color: #fff;
  text-align: center;
  -webkit-box-shadow: 0 1px 2px 1px #2c2e2f20;
          box-shadow: 0 1px 2px 1px #2c2e2f20;
  background-color: #f05050;
  border: none;
  cursor: pointer;
  border-radius: 35px;
  font-size: 14px;
  height: 45px;
  width: 170px;
}

.liveStreamDetailWrapper {
  width: 100% !important;
  float: right;
}

.leftImg {
  top: 14px  !important;
}
/*# sourceMappingURL=coursepreview.component.css.map */