<div class="document-view-outer-wrapper">
  <div class="container doc-view-container">
    <div class="close-doc-view" (click)="closeDocumentView()"></div>
    <!-- <span class="nav-btn left" (click)="closeDocumentView()">
      <img src="assets/images/svg/doc-view/left-arrow.svg" alt="Print" title="Print">
    </span>
    <span class="nav-btn right" (click)="closeDocumentView()">
      <img src="assets/images/svg/doc-view/right-arrow.svg" alt="Print" title="Print">
    </span> -->
    <div class="zoom-action-wrap">
      <span class="icon-wrap">
        <img src="assets/images/svg/doc-view/minus.svg" alt="Zoom Out" title="Zoom Out">
      </span>
      <span class="icon-wrap">
        <img src="assets/images/svg/doc-view/plus.svg" alt="Zoom In" title="Zoom In">
      </span>
    </div>
    <div class="action-wrap clearfix">
      <div class="left-action-wrap">
          <span class="icon-wrap" (click)="closeDocumentView()">
            <img src="assets/images/svg/doc-view/back.svg" alt="Back to page" title="Back to page">
          </span>
      </div>
      <div class="middle-action-wrap">
        <span class="pagination">1 of 20</span>
      </div>
      <div class="right-action-wrap">
      <span class="icon-wrap">
      <img src="assets/images/svg/doc-view/printer.svg" alt="Print" title="Print">
      </span>
      <span class="icon-wrap">
      <img src="assets/images/svg/doc-view/upload.svg" alt="Upload on drive" title="Upload on drive">
      </span>
      <span class="icon-wrap">
      <img src="assets/images/svg/doc-view/download.svg" alt="Download" title="Download">
      </span>
      </div>
    </div>
    <div class="image-list-wrap">
      <div class="image-wrap" >
        <figure>
          <img src="https://cdn.pbrd.co/images/HcV4TxR.jpg" alt="aio">
          <img src="https://cdn.pbrd.co/images/HcV4TxR.jpg" alt="aio">
          <img src="https://cdn.pbrd.co/images/HcV4TxR.jpg" alt="aio">
          <img src="https://cdn.pbrd.co/images/HcV4TxR.jpg" alt="aio">
          <img src="https://cdn.pbrd.co/images/HcV4TxR.jpg" alt="aio">
          <img src="https://cdn.pbrd.co/images/HcV4TxR.jpg" alt="aio">
          <img src="https://cdn.pbrd.co/images/HcV4TxR.jpg" alt="aio">
          <img src="https://cdn.pbrd.co/images/HcV4TxR.jpg" alt="aio">
        </figure>
      </div>
    </div>
  </div>
</div>
