.postHeaderWrapper { padding: 10px; width: 100%; float: left; position: relative; }

.postHeaderWrapper .postHeaderInnerWrapper { float: left; width: 100%; padding-left: 50px; padding-right: 70px; position: relative; }

.postHeaderWrapper .postHeaderInnerWrapper .profileImage { float: left; width: 40px; height: 40px; overflow: hidden; float: left; border-radius: 100%; position: absolute; left: 0px; }

.postHeaderWrapper .postHeaderInnerWrapper .profileImage img { width: 100%; height: 100%; }

.postHeaderWrapper .postHeaderInnerWrapper .postHeaderDetailWrapper { float: left; width: 100%; }

.postHeaderWrapper .postHeaderInnerWrapper .postHeaderDetailWrapper .userName { font-size: 14px; font-weight: 500; color: #2c2e2f; padding: 4px 0px; }

.postHeaderWrapper .postHeaderInnerWrapper .postHeaderDetailWrapper .userName:hover { text-decoration: underline; }

.postHeaderWrapper .postHeaderInnerWrapper .postHeaderDetailWrapper .postTimeDeatilWrapper { float: left; font-size: 12px; color: rgba(44, 46, 47, 0.6); }

.postHeaderWrapper .timeandFollow { float: left; font-size: 12px; font-weight: 400; line-height: normal; color: rgba(44, 46, 47, 0.6); }

.postHeaderWrapper .dote { width: 3px; height: 3px; float: left; margin: 5px; }

.postHeaderWrapper .dote img { float: left; width: 100%; }

.postHeaderWrapper .previcy_icon { width: 10px; float: left; }

.postHeaderWrapper .previcy_icon img { float: left; width: 100%; }

.postHeaderWrapper .leftmenuWrapper { position: absolute; right: 0px; display: flex; justify-content: center; align-items: center; top: 3px; }

.postHeaderWrapper .leftmenuWrapper .postRightButton { width: 32px; height: 32px; background: #fff; cursor: pointer; display: flex; justify-content: center; align-items: center; float: right; }

.postHeaderWrapper .leftmenuWrapper .saveButtonWrapper { border-radius: 50%; box-shadow: 0 1px 2px 1px rgba(44, 46, 47, 0.1); margin: 0px 10px; }

.postHeaderWrapper .leftmenuWrapper .saveButtonWrapper img { width: 18px; }

.postHeaderWrapper .leftmenuWrapper .menuButon { transform: rotate(90deg); }

.textDecorationUnderline:hover { text-decoration: underline; }

.paddingRight { padding-right: 175px !important; }

.onHoverShowAndHideIcon .defaultt { display: block; }

.onHoverShowAndHideIcon .hoverr { display: none; }

.onHoverShowAndHideIcon .bookmarked { display: none; }

.onHoverShowAndHideIcon:hover > .defaultt { display: none; }

.onHoverShowAndHideIcon:hover > .hoverr { display: block; }

.activesaved .defaultt { display: none !important; }

.activesaved .hoverr { display: none !important; }

.activesaved .bookmarked { display: block; }

@media screen and (max-width: 480px) { .paddingRight { padding-right: 70px !important; } }
