<!-- ================================================================================ -->
<!-- post header html start -->
<!-- ================================================================================ -->
<div class='postHeaderWrapper'>
  <div class=" clearfix">
    <div class="postHeaderInnerWrapper clearfix" [ngClass]="{'sharedPostHeaderTop' : headerData.arr.TYPE==4,
    'sharedScreenHeaderInner': headerData.inSharedScreen, 'sharedPostHeaderInner':headerData.inSharedPost,
    'pageFollowActive':headerData.arr['IS_ADMIN']!=1 && headerData.arr.TYPE!=4 && headerData.arr.PAGE_FOLLOW_STATUS=='0',
    'paddingRight': !headerData.arr['IS_PAGEFEED'] && headerData.isPagePost && headerData.arr['IS_ADMIN']!=1 && !headerData.hideBtn
  }  ">
      <!-- only display when post are  page post  start -->
      <ng-container>

        <span (click)="routeTo('profile')" class="profileImage  "
          [ngClass]="{'sharedIconImage' : headerData.arr.TYPE==4}">
          <img src="{{headerData.profile_pic_path}}" alt="aio {{headerData.user_name |trimData:30}}">
        </span>

        <div class="postHeaderDetailWrapper" [ngClass]="{'sharedPostHeaderDetailWrapper' : headerData.arr.TYPE==4}">


          <div class="postHeaderDetails" *ngIf="headerData.arr.TYPE!=4">
            <span class="userName " *ngIf="!headerData.isPagePost"
              (click)="routeTo('profile')">{{postdata.decodeURIPostData(headerData.full_name) |trimData:30}}</span>
            <span class="userName  pageName" *ngIf=" headerData.isPagePost" (click)="routeTo('profile')">{{postdata.decodeURIPostData(headerData.arr.TITLE) | trimData:30}}</span>
          </div>
          <div class="postHeaderDetails" *ngIf="headerData.arr.TYPE==4">
            <div *ngIf="!headerData.isPagePost "><span class="userName "
                (click)="routeTo('/profile/'+headerData.user_name)">{{postdata.decodeURIPostData(headerData.full_name) |trimData:30}} </span> shared
              post
              from <span class="userName postOwnerName " (click)="routeTo('/profile/'+headerData.arr.SHARED_POST_DATA.USER_NAME)">
                {{postdata.decodeURIPostData(headerData.sharedPostUser_fullName) |trimData:30}}</span>
            </div>
            <div *ngIf="headerData.isPagePost "><span (click)="routeTo('/profile/'+headerData.user_name)"
                class="userName ">{{postdata.decodeURIPostData(headerData.full_name) |trimData:30}}
              </span> shared post from <span class="userName postOwnerName  pageName" (click)="routeTo('/page/'+headerData.arr.SHARED_POST_DATA.PAGE_UUID)"> {{postdata.decodeURIPostData(headerData.arr.SHARED_POST_DATA.TITLE)
                |trimData:30}}</span></div>

          </div>
          <div class="postOtherDetails">
            <span class="timeandFollow"
              *ngIf="headerData.arr.TYPE!=4 && headerData.isPagePost">{{headerData.arr['PAGE_FOLLOW_COUNT']}}
              followers</span>

            <span class="dote" *ngIf="headerData.arr.TYPE!=4 && headerData.isPagePost">
              <img src="assets/images/svg-three/post_icon/dote1.svg" alt="aio">
            </span>

            <ng-container *ngIf="headerData.arr.VISIBILITY ==3">
              <span class="timeandFollow cursor-pointer textDecorationUnderline"
                routerLink="/post/{{headerData.arr.USER_POST_ID}}">{{headerData.time}}</span>
              <span class="dote">
                <img src="assets/images/svg-three/post_icon/dote1.svg" alt="aio">
              </span>
              <span class="previcy_icon">
                <img src="assets/images/svg-three/add_post/wall/public.svg" alt="aio">
              </span>
            </ng-container>

            <span class="timeandFollow cursor-pointer textDecorationUnderline" *ngIf="headerData.arr.VISIBILITY !=3"
              routerLink="/post/{{headerData.arr.USER_POST_ID}}">{{headerData.time}}</span>
            <span class="dote" *ngIf="headerData.arr.VISIBILITY !=3">
              <img src="assets/images/svg-three/post_icon/dote1.svg" alt="aio">
            </span>
            <span class="previcy_icon" *ngIf="headerData.arr.VISIBILITY ==2" style="width:13px;">
              <img src="assets/images/svg-three/add_post/wall/connection.svg" alt="aio">
            </span>
            <span class="previcy_icon" *ngIf="headerData.arr.VISIBILITY ==1">
              <img src="assets/images/svg-three/add_post/wall/private_new.svg" alt="aio">
            </span>
          </div>
        </div>

      </ng-container>
      <!-- only display when post are  page post  end -->


      <!-- ================================================================================ -->
      <!-- rightMenu html start -->
      <!-- ================================================================================ -->
      <div *ngIf=" !headerData.inSharedScreen" class='leftmenuWrapper' #reportPopup>

        <button
          *ngIf="headerData.arr['IS_ADMIN']!=1 && headerData.arr.TYPE!=4 && headerData.arr.PAGE_FOLLOW_STATUS=='0'"
          name="button" class="follow_container follw_btn" (click)="follow()"
          [ngClass]="{'following_container':headerData.followme,'cursolnone':headerData.followme}">
          <span *ngIf="!headerData.followme" class="follow">
            Follow
          </span>
          <span *ngIf="headerData.followme" class="following cursolnone">
            <img src="assets/images/svg/white_checkbox.svg" alt="aio">
            Following
          </span>
        </button>
        <div *ngIf="!headerData.inSharedPost">


          <span class="menuButon postRightButton onHoverShowAndHideIcon" (click)="postMenu=!postMenu">
            <img src="assets/images/svg-three/post_icon/dot_menu.svg" class="defaultt">
            <img src="assets/images/svg-three/post_icon/f05050/dot_menu.svg" class="hoverr">
          </span>

          <span class="drpdwn_post postdrop for-post drop_post" *ngIf="postMenu" (mouseleave)="postMenu = !postMenu">
            <ul>
              <li *ngIf="headerData.my_profile && headerData.arr.IS_QUESTION != 1" (click)="editPost(headerData)">
                <div class="width100"><span class='default'><img
                      src="assets/images/svg-three/profile_about/edit.svg"></span><span class='hoverimg'><img
                      src="assets/images/svg-three/profile_about/f05050/edit.svg"></span>
                  <div class="postdropdown_inner">Edit<span class="time">You can edit your post</span></div>
                </div>
              </li>
              <li  *ngIf=" !headerData.my_profile && headerData.isPagePost && headerData.arr['IS_ADMIN']!=1 && !headerData.hideBtn"
                (click)="follow()" class="follw_btn_inn">
                <div class="width100"><span class='default'><img
                      src="assets/images/svg-three/profile_about/edit.svg"></span><span class='hoverimg'><img
                      src="assets/images/svg-three/profile_about/f05050/edit.svg"></span>
                  <div *ngIf="!headerData.followme" class="postdropdown_inner">Follow<span class="time">You can follow
                      this
                      page</span></div>
                </div>
              </li>
              <li  *ngIf="!headerData.my_profile && headerData.isPagePost && headerData.hideBtn" (click)="unfollow()">
                <div class="width100"><span class='default'><img
                      src="assets/images/svg-three/profile_about/edit.svg"></span><span class='hoverimg'><img
                      src="assets/images/svg-three/profile_about/f05050/edit.svg"></span>
                  <div *ngIf="headerData.followme" class="postdropdown_inner">Unfollow<span class="time">You can
                      unfollow
                      this page</span></div>
                </div>
              </li>
              <li *ngIf="!headerData.my_profile" (click)="report(1)">
                <div class="width100"><span class='default'><img
                      src="assets/images/svg-three/post_icon/report.svg"></span><span class='hoverimg'><img
                      src="assets/images/svg-three/post_icon/f05050/report.svg"></span>
                  <div class="postdropdown_inner">Report<span class="time">Mark as offensive </span></div>
                </div>
              </li>
              <li (click)="postdata.copyPostURL(postPublicShareLink);">
                <div class="width100"><span class='default'><img src="assets/images/svg-three/copyicon.svg"></span><span
                    class='hoverimg'><img src="assets/images/svg-three/f05050/copyicon.svg"></span>
                  <div class="postdropdown_inner">Get a link<span class="time">Click to copy </span></div>
                </div>
              </li>
              <li *ngIf="headerData.my_profile" (click)="DeletePostCnf();">
                <div class="width100"><span class='default'><img src="assets/images/svg/dustbindrop.svg"></span><span
                    class='hoverimg'><img src="assets/images/svg/dustbindrop-green.svg"></span>
                  <div class="postdropdown_inner">Delete<span class="time">You can delete your post</span></div>
                </div>
              </li>
            </ul>
          </span>
          <span class="saveButtonWrapper postRightButton onHoverShowAndHideIcon"
            [ngClass]="{'activesaved':headerData.saveCondition }" (click)="savedpost();">
            <img class="defaultt" src="assets/images/svg-three/left_menu/bookmark.svg">
            <img class="hoverr" src=" assets/images/svg-three/left_menu/f05050/bookmark.svg" title="save">
            <img class="bookmarked" src="assets/images/svg-three/post_icon/f05050/bookmark_fill.svg">
          </span>
        </div>
      </div>
      <!-- ================================================================================ -->
      <!-- leftMenu html end -->
      <!-- ================================================================================ -->

    </div>
  </div>
</div>


<!-- ================================================================================ -->
<!-- post header html end -->
<!-- ================================================================================ -->
<div *ngIf="savepagepopup">
  <app-savedpopup (closeSavedPopup)="savepagepopup=$event;headerData.saveCondition=$event;"
    (folder_id)="headerData.savedFolderId=$event" (savedStatus)="headerData.saveCondition=$event" [postData]='arr'>
  </app-savedpopup>
</div>
<app-confirmationpopup *ngIf="openConfirmation" (closeComfirmPopupThread)="closePopup($event);" [dataObj]="dataConf">
</app-confirmationpopup>
<div>
  <app-textpostedit (hideBox)="textPostEditClose($event);" *ngIf="editTextPost" [post_id]="editPostId">
  </app-textpostedit>
</div>
<app-sharetextpostview (sharescreentxtpostdiv)="editSharedPost=$event" *ngIf="editSharedPost"
  [postdata]="headerData.arr"></app-sharetextpostview>

<div *ngIf="reportpopup">
  <app-reports (closeReportPopup)="removePost($event);" [postId]="headerData.post_id"></app-reports>
</div>
<app-confirmationpopup *ngIf="ConfirmDelete" (closeComfirmPopupThread)="CloseDeleteConfirm($event);"
  [dataObj]="dataConf" [savedFolderId]="headerData.savedFolderId"></app-confirmationpopup>
<div>
  <app-shared-post-screen [postdata]="sharedHeaderData" *ngIf="sharetextpostviewsec"
    (sharescreentxtpostdiv)="sharetextpostparenthide($event)"></app-shared-post-screen>
</div>
