// all post header css start

$backgroundgray: #e6e6e6;
$themeblue: #F05050;
$themegray: #f5f7fa;
$textcolor: #2c2e2f;
$textgrey: rgba(0, 0, 0, 0.44);
$maingreen: rgb(7, 162, 8);
$stroke: #dfe0e8;
// $stroke : #E9E9E9;
$borderRadius: 5px;
$inputTypeHeight: 35px;
$inputTypeFont: 12px;
$headerHeight: 60px;
$headerLineHeight: $headerHeight - 5px;
$mainboxShadow: 0 0 7px rgba(0, 0, 0, 0.1);
$dropdownwidth: 400px;
$dropdwncontentwidth: $dropdownwidth - 100px;
$ntfctnprofile: 40px;
$inrprflimg: $ntfctnprofile+8px;
$PostPicture: 40px;
$commentPicture: $PostPicture - 10px;
$subcommentPicture: $commentPicture - 10px;
$mainpostName: 16px;
$maincommentName: $mainpostName - 2px;
$commentName: $maincommentName - 2px;
$darkthemestroke: $themeblue;
$progressbarRed: #ed6568;
$rightanswer: #5bbc5b;
$lightgray: #fafafa;
$lightstroke: #f4f4f4;
$borderRadiuscomment: 0px 0px 3px 3px;
$textcolor: #2c2e2f;
.postHeaderWrapper{
  padding: 10px;
  width: 100%;
  float: left;
  position: relative;
  .postHeaderInnerWrapper{
    float: left;
    width: 100%;
    padding-left: 50px;
    padding-right: 80px;
    position: relative;
    .profileImage{
      float: left;
      width: 40px;
      height: 40px;
      overflow: hidden;
      float: left;
      border-radius: 100%;
      position: absolute;
      left: 0px;
      border: 1px solid #eaeaea !important;
      cursor: pointer;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .sharedIconImage{
      width: 22px !important;
      height: 22px !important;
      border: none !important;
      cursor: auto;
      overflow: inherit;
    }
    .postHeaderDetailWrapper{
      float: left;
      width: 100%;
      .postHeaderDetails{
        padding: 4px 0px;
        width: 100%;
        span{
        font-size: 14px;
        font-weight: 500;
        width: 100%;
        line-height: 18px;
        cursor: pointer;
        &:hover{
          text-decoration: underline;
        }

      }
      }
      .postOtherDetails{
        width: 100%;
      }
      .userName{
        color: #2c2e2f;
        padding: 0px !important;
    }
      .postOwnerName{
       color: #f05050 !important;
         padding: 0px !important;
      }



      .postTimeDeatilWrapper{
        float: left;
        font-size: 12px;
        color: rgba(44, 46, 47, 0.6);
      }
    }
  }
  .sharedPostHeaderTop{
    padding-left: 32px !important;
    padding-right: 80px !important;
        .postHeaderDetailWrapper{
    .postHeaderDetails{
      padding: 0px 0px;
    }
    .postOtherDetails{
      padding: 5px 0px 0px 0px;
    }
  }
  }
  // .paddingRight.pageFollowActive{
  //   padding-right: 80px ;
  // }

  .sharedPostHeaderInner {
    padding-right: 0px;
  }
  .sharedPostHeaderInner.pageFollowActive {
    padding-right: 80px;
  }
  .postHeaderInnerWrapper.pageFollowActive{
      padding-right: 160px;
  }
  // .sharedPostHeaderTop  {
  //   padding-right: 80px;
  // }
  //
  // .sharedPostHeaderInner.pageFollowActive{
  //   padding-right: 0px;
  // }
  // .pageFollowActive{
  //   padding-right: 80px;
  // }
  .timeandFollow{
    float: left;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    color: rgba(44,46,47,.6);
  }
  .dote{
    width: 3px;
    height: 3px;
    float: left;
    margin: 5px;
    img{
      float: left;
      width: 100%;
    }
  }

  .previcy_icon{
    width: 10px;
    float: left;
    img{
      float: left;
      width: 100%;
    }
  }

  .leftmenuWrapper{
    position: absolute;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 3px;

    .postRightButton{
      width: 32px;
      height: 32px;
      background: #fff;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      float: right;
    }
    .saveButtonWrapper{
      border-radius: 50%;
      box-shadow: 0 1px 2px 1px rgba(44, 46, 47, 0.1);
      margin: 0px 10px;
      img{
        width: 18px;
      }
    }
    .menuButon{
      transform: rotate(90deg);
    }
  }
}

.textDecorationUnderline{
  &:hover{
    text-decoration: underline;
  }
}



.onHoverShowAndHideIcon{
  .defaultt{
    display: block;
  }
  .hoverr{
    display: none;
  }
  .bookmarked{
    display: none;
  }
  &:hover > .defaultt{
    display: none;
  }
  &:hover > .hoverr{
    display: block;
  }
}

.activesaved{
  .defaultt{
    display: none !important;
  }
  .hoverr{
    display: none !important;
  }
  .bookmarked{
    display: block;
  }
}


@media screen  and (max-width:480px){
  .paddingRight{
    padding-right: 70px !important;
  }
}
