.postHeaderWrapper {
  padding: 10px;
  width: 100%;
  float: left;
  position: relative;
}

.postHeaderWrapper .postHeaderInnerWrapper {
  float: left;
  width: 100%;
  padding-left: 50px;
  padding-right: 80px;
  position: relative;
}

.postHeaderWrapper .postHeaderInnerWrapper .profileImage {
  float: left;
  width: 40px;
  height: 40px;
  overflow: hidden;
  float: left;
  border-radius: 100%;
  position: absolute;
  left: 0px;
  border: 1px solid #eaeaea !important;
  cursor: pointer;
}

.postHeaderWrapper .postHeaderInnerWrapper .profileImage img {
  width: 100%;
  height: 100%;
}

.postHeaderWrapper .postHeaderInnerWrapper .sharedIconImage {
  width: 22px !important;
  height: 22px !important;
  border: none !important;
  cursor: auto;
  overflow: inherit;
}

.postHeaderWrapper .postHeaderInnerWrapper .postHeaderDetailWrapper {
  float: left;
  width: 100%;
}

.postHeaderWrapper .postHeaderInnerWrapper .postHeaderDetailWrapper .postHeaderDetails {
  padding: 4px 0px;
  width: 100%;
}

.postHeaderWrapper .postHeaderInnerWrapper .postHeaderDetailWrapper .postHeaderDetails span {
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  line-height: 18px;
  cursor: pointer;
}

.postHeaderWrapper .postHeaderInnerWrapper .postHeaderDetailWrapper .postHeaderDetails span:hover {
  text-decoration: underline;
}

.postHeaderWrapper .postHeaderInnerWrapper .postHeaderDetailWrapper .postOtherDetails {
  width: 100%;
}

.postHeaderWrapper .postHeaderInnerWrapper .postHeaderDetailWrapper .userName {
  color: #2c2e2f;
  padding: 0px !important;
}

.postHeaderWrapper .postHeaderInnerWrapper .postHeaderDetailWrapper .postOwnerName {
  color: #f05050 !important;
  padding: 0px !important;
}

.postHeaderWrapper .postHeaderInnerWrapper .postHeaderDetailWrapper .postTimeDeatilWrapper {
  float: left;
  font-size: 12px;
  color: rgba(44, 46, 47, 0.6);
}

.postHeaderWrapper .sharedPostHeaderTop {
  padding-left: 32px !important;
  padding-right: 80px !important;
}

.postHeaderWrapper .sharedPostHeaderTop .postHeaderDetailWrapper .postHeaderDetails {
  padding: 0px 0px;
}

.postHeaderWrapper .sharedPostHeaderTop .postHeaderDetailWrapper .postOtherDetails {
  padding: 5px 0px 0px 0px;
}

.postHeaderWrapper .sharedPostHeaderInner {
  padding-right: 0px;
}

.postHeaderWrapper .sharedPostHeaderInner.pageFollowActive {
  padding-right: 80px;
}

.postHeaderWrapper .postHeaderInnerWrapper.pageFollowActive {
  padding-right: 160px;
}

.postHeaderWrapper .timeandFollow {
  float: left;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  color: rgba(44, 46, 47, 0.6);
}

.postHeaderWrapper .dote {
  width: 3px;
  height: 3px;
  float: left;
  margin: 5px;
}

.postHeaderWrapper .dote img {
  float: left;
  width: 100%;
}

.postHeaderWrapper .previcy_icon {
  width: 10px;
  float: left;
}

.postHeaderWrapper .previcy_icon img {
  float: left;
  width: 100%;
}

.postHeaderWrapper .leftmenuWrapper {
  position: absolute;
  right: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 3px;
}

.postHeaderWrapper .leftmenuWrapper .postRightButton {
  width: 32px;
  height: 32px;
  background: #fff;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: right;
}

.postHeaderWrapper .leftmenuWrapper .saveButtonWrapper {
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 2px 1px rgba(44, 46, 47, 0.1);
          box-shadow: 0 1px 2px 1px rgba(44, 46, 47, 0.1);
  margin: 0px 10px;
}

.postHeaderWrapper .leftmenuWrapper .saveButtonWrapper img {
  width: 18px;
}

.postHeaderWrapper .leftmenuWrapper .menuButon {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.textDecorationUnderline:hover {
  text-decoration: underline;
}

.onHoverShowAndHideIcon .defaultt {
  display: block;
}

.onHoverShowAndHideIcon .hoverr {
  display: none;
}

.onHoverShowAndHideIcon .bookmarked {
  display: none;
}

.onHoverShowAndHideIcon:hover > .defaultt {
  display: none;
}

.onHoverShowAndHideIcon:hover > .hoverr {
  display: block;
}

.activesaved .defaultt {
  display: none !important;
}

.activesaved .hoverr {
  display: none !important;
}

.activesaved .bookmarked {
  display: block;
}

@media screen and (max-width: 480px) {
  .paddingRight {
    padding-right: 70px !important;
  }
}
/*# sourceMappingURL=post-header.component.css.map */