




input {
    height: 45px;
    border-radius: 3px;
    font-size: 16px;
    box-shadow: 0 0 3px 0 #00000040 !important;
    border: none !important;
    padding-left: 10px;
    color:  #333;
    margin: 4px 0 0;
    line-height: normal;
}


.coverLabel{position: absolute;
    left: 0;
    right: 0;cursor: pointer;
    top: 0;
    bottom: 0;
    margin: 0;}
.Radio + .checkbox_btn {
    display: inline-block;
    position: relative;
    transition: all .1s ease;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    border: solid 1px #dfe5eb;
    position: absolute;
    background-color: #fff;
    top: 5px;
    left: 10px;
    transition: all .5s;
}
 .Radio + .checkbox_btn .showcheckbox {
    display: none;
}
 .Radio:checked + .checkbox_btn .showcheckbox {
    display: block;
}
 .Radio:checked + .checkbox_btn  {
    border: solid 1px #0072bc;
}
.showcheckbox{
			height: 12px;
			width: 12px;
			float: left;
			margin: 3px 0 0 3px;
      background-image: url('../../../../assets/images/sprite/loginpage.svg#blue-chechbox');
      background-size: 100% 100%;
}
.listItemCourse {
  .mobotp{
    padding: 0px;
  &:hover{
    border-radius: 3px;
    background-color: transparent;
  }
}
.showcheckbox{
      height: auto;
      width: auto;
      float: left;
      margin: 0px;
      background-image: none;
      padding: 1px 14px;
      font-weight: normal;
      cursor:pointer;
}
  .Radio + .checkbox_btn {
      top: 0px;
      transition: all .5s;
      margin-bottom: 0px;
      position: relative;
      width: auto;
      height: auto;
  }
   .Radio + .checkbox_btn .showcheckbox {
      display: block;
  }
   .Radio:checked + .checkbox_btn  {
      border: solid 1px #0072bc;
      .showcheckbox{
            color:#0f98df;
      }
  }

}
