<div *ngIf="childValues == 0" class="filterMain">
  <div class="filterInner">
    <div class="headData">
      Filters
      <span class="dataControl" (click)="clearFilter()">Reset All</span>
    </div>
    <div class="ContentData">
      <p>Posted By</p>
       <div class="radioList">
         <div class="listItem ">
           <ul>
             <li>
               <div class="mobotp">
                  <input  class="Radio" id="pAll" name="postedbyfilter" type="checkbox"  [(ngModel)]="theAllTab.all" (click)="dataFromFilter($event)">
                  <label  class="checkbox_btn" for="pAll">
                  <span  class="showcheckbox"></span></label>
                  <label  class="coverLabel" for="pAll">
                  </label> All </div>
             </li>
             <li>
               <div class="mobotp">
                  <input  class="Radio" id="pPeople" name="postedbyfilter" type="checkbox"   [(ngModel)]="theAllTab.people" (click)="dataFromFilter($event)">
                  <label  class="checkbox_btn" for="pPeople">
                  <span  class="showcheckbox"></span></label>
                  <label  class="coverLabel" for="pPeople">
                  </label> People </div>
             </li>
             <li>
               <div class="mobotp">
                  <input  class="Radio" id="ppages" name="postedbyfilter" type="checkbox"  [(ngModel)]="theAllTab.pages" (click)="dataFromFilter($event)">
                  <label  class="checkbox_btn" for="ppages">
                  <span  class="showcheckbox"></span></label>
                  <label  class="coverLabel" for="ppages">
                  </label> Pages </div>
             </li>

           </ul>

         </div>
         <!-- <span class="borderSep"></span> -->
       </div>
    </div>
    <div class="ContentData">
      <p>Post Type</p>
       <div class="radioList">
         <div class="listItem listItemLast">
           <ul>
             <li>
               <div class="mobotp">
                  <input  class="Radio" id="postall" name="postfilter" type="checkbox"  [(ngModel)]="theAllTab.pAll" (click)="dataFromFilter($event)">
                  <label  class="checkbox_btn" for="postall">
                  <span  class="showcheckbox"></span></label>
                  <label  class="coverLabel" for="postall">
                  </label> All </div>
             </li>
             <li>
               <div class="mobotp">
                  <input  class="Radio" id="postQuestion" name="postfilter" type="checkbox"  [(ngModel)]="theAllTab.pQuestion" (click)="dataFromFilter($event)">
                  <label  class="checkbox_btn" for="postQuestion">
                  <span  class="showcheckbox"></span></label>
                  <label  class="coverLabel" for="postQuestion">
                  </label> Question </div>
             </li>

             <li>
               <div class="mobotp">
                  <input  class="Radio" id="pAttachment" name="postfilter" type="checkbox" [(ngModel)]="theAllTab.pAttachment" (click)="dataFromFilter($event)">
                  <label  class="checkbox_btn" for="pAttachment">
                  <span  class="showcheckbox"></span></label>
                  <label  class="coverLabel" for="pAttachment">
                  </label> Attachment </div>
             </li>
           </ul>

         </div>
         <!-- <span class="borderSep"></span> -->
       </div>
    </div>
  </div>
</div>

<div *ngIf="childValues == 1" class="filterMain">
  <div class="filterInner filterInnerCourse">
    <div class="headData">
      Filters
      <span class="dataControl" (click)="clearFilter()">Reset All</span>
    </div>
    <div class="ContentData">
      <p>Price</p>
       <div class="radioList">
         <div class="listItem listItemCourse ">
           <ul>
             <li>
               <div class="mobotp">
                  <input  class="Radio" id="CAll" name="postedbyfilter1" type="radio" [(checked)]="theCorPriceValidity.pall" (click)="dataFromFilter($event)">
                  <label  class="checkbox_btn" for="CAll">
                  <span  class="showcheckbox">All</span>
                </label>
                </div>
             </li>
             <li>
               <div class="mobotp">
                  <input  class="Radio" id="CPaid" name="postedbyfilter1" type="radio"  [(checked)]="theCorPriceValidity.ppaid" (click)="dataFromFilter($event)">
                  <label  class="checkbox_btn" for="CPaid">
                  <span  class="showcheckbox">Paid</span></label>
               </div>
             </li>
             <li>
               <div class="mobotp">
                  <input  class="Radio" id="CFree" name="postedbyfilter1" type="radio" [(checked)]="theCorPriceValidity.pfree" (click)="dataFromFilter($event)">
                  <label  class="checkbox_btn" for="CFree">
                  <span  class="showcheckbox">Free</span></label>
             </div>
             </li>

           </ul>

         </div>
         <p>Validity</p>
         <div class="listItem listItemCourse">
          <ul>
            <li>
              <div class="mobotp">
                 <input  class="Radio" id="ValidityAll" name="postedbyfilter" type="radio"  [(checked)]="theCorValidity.vall" (click)="dataFromFilter($event)">
                 <label  class="checkbox_btn" for="ValidityAll">
                 <span  class="showcheckbox">All</span></label>
             </div>
            </li>
            <li>
              <div class="mobotp">
                 <input  class="Radio" id="ValidityUnlimited" name="postedbyfilter" type="radio"   [(checked)]="theCorValidity.vunlimited" (click)="dataFromFilter($event)">
                 <label  class="checkbox_btn" for="ValidityUnlimited">
                 <span  class="showcheckbox">Unlimited</span></label>
             </div>
            </li>
            <li>
              <div class="mobotp">
                 <input  class="Radio" id="ValidityLimited" name="postedbyfilter" type="radio"  [(checked)]="theCorValidity.vlimiited" (click)="dataFromFilter($event)">
                 <label  class="checkbox_btn" for="ValidityLimited">
                 <span  class="showcheckbox">Limited</span></label>
              </div>
            </li>

          </ul>

        </div>
       </div>
    </div>

    <div class="ContentData">
      <p>Levels</p>
       <div class="radioList">
         <div class="listItem listItemLast">
           <ul>
             <li>
               <div class="mobotp">
                  <input  class="Radio" id="CourseAll" name="coursetypefilter" type="checkbox"  [(ngModel)]="theCourseTab.all" (click)="dataFromFilter($event)">
                  <label  class="checkbox_btn" for="CourseAll">
                  <span  class="showcheckbox"></span></label>
                  <label  class="coverLabel" for="CourseAll">
                  </label> All Levels</div>
             </li>
             <li>
               <div class="mobotp">
                  <input  class="Radio" id="CourseAdv" name="coursetypefilter" type="checkbox"  [(ngModel)]="theCourseTab.advance" (click)="dataFromFilter($event)">
                  <label  class="checkbox_btn" for="CourseAdv">
                  <span  class="showcheckbox"></span></label>
                  <label  class="coverLabel" for="CourseAdv">
                  </label> Advanced </div>
             </li>
             <li>
               <div class="mobotp">
                  <input  class="Radio" id="CourseInt" name="coursetypefilter" type="checkbox"  [(ngModel)]="theCourseTab.intermediate" (click)="dataFromFilter($event)">
                  <label  class="checkbox_btn" for="CourseInt">
                  <span  class="showcheckbox"></span></label>
                  <label  class="coverLabel" for="CourseInt">
                  </label> Intermediate </div>
             </li>
             <li>
               <div class="mobotp">
                  <input  class="Radio" id="CourseBeg" name="coursetypefilter" type="checkbox"  [(ngModel)]="theCourseTab.beginer" (click)="dataFromFilter($event)">
                  <label  class="checkbox_btn" for="CourseBeg">
                  <span  class="showcheckbox"></span></label>
                  <label  class="coverLabel" for="CourseBeg">
                  </label> Beginner </div>
             </li>

           </ul>

         </div>
       </div>
    </div>

  </div>
</div>

<div *ngIf="childValues == 2 " class="filterMain">
  <div class="filterInner">
    <div class="headData">
      Filters
      <span class="dataControl" (click)="clearFilter()">Reset All</span>
    </div>
    <div class="ContentData borderBottom">
      <p>Page Followed By</p>
       <div class="radioList">
         <div class="listItem listItemFirst listItemLast">
           <ul>
             <li *ngIf="header">
               <div class="mobotp">
                  <input  class="Radio" id="pageMe" name="pagefilter" type="checkbox"  [(ngModel)]="thePageTab.Me" (click)="dataFromFilter($event)">
                  <label  class="checkbox_btn" for="pageMe">
                  <span  class="showcheckbox"></span></label>
                  <label  class="coverLabel" for="pageMe">
                  </label> Me </div>
             </li>
             <li>
               <div class="mobotp">
                  <input  class="Radio" id="pgIndividual" name="pagefilter" type="checkbox" [(ngModel)]="thePageTab.Individual" (click)="dataFromFilter($event)">
                  <label  class="checkbox_btn" for="pgIndividual">
                  <span  class="showcheckbox"></span></label>
                  <label  class="coverLabel" for="pgIndividual">
                  </label> Individual</div>
             </li>
             <li>
              <div class="mobotp">
                 <input  class="Radio" id="pgOrganization" name="pagefilter" type="checkbox" [(ngModel)]="thePageTab.Oragization" (click)="dataFromFilter($event)">
                 <label  class="checkbox_btn" for="pgOrganization">
                 <span  class="showcheckbox"></span></label>
                 <label  class="coverLabel" for="pgOrganization">
                 </label> Organization</div>
            </li>



           </ul>
         </div>
       </div>
    </div>
  </div>
</div>

<div *ngIf="childValues == 3 && header" class="filterMain">
    <div class="filterInner">
      <div class="headData">
        Filters
        <span class="dataControl" (click)="clearFilter()">Reset All</span>
      </div>
      <div class="ContentData borderBottom">
        <p>People</p>
         <div class="radioList">
           <div class="listItem listItemFirst listItemLast">
             <ul>
               <li>
                 <div class="mobotp">
                    <input  class="Radio" id="allPeople" name="page" type="radio"  [(checked)]="thePeopleTab.all" (click)="dataFromFilter($event)">
                    <label  class="checkbox_btn" for="allPeople">
                    <span  class="showcheckbox"></span></label>
                    <label  class="coverLabel" for="allPeople">
                    </label> All </div>
               </li>
               <li>
                 <div class="mobotp">
                    <input  class="Radio" id="ConnectionPeople" name="page" type="radio" [(checked)]="thePeopleTab.Connection" (click)="dataFromFilter($event)">
                    <label  class="checkbox_btn" for="ConnectionPeople">
                    <span  class="showcheckbox"></span></label>
                    <label  class="coverLabel" for="ConnectionPeople">
                    </label>  Connections </div>
               </li>
               <li>
                  <div class="mobotp">
                     <input  class="Radio" id="followerspeople" name="page" type="radio" [(checked)]="thePeopleTab.Followers" (click)="dataFromFilter($event)">
                     <label  class="checkbox_btn" for="followerspeople">
                     <span  class="showcheckbox"></span></label>
                     <label  class="coverLabel" for="followerspeople">
                     </label> Followers </div>
                </li>
                <li>
                    <div class="mobotp">
                       <input  class="Radio" id="followinghPeople" name="page" type="radio" [(checked)]="thePeopleTab.Following" (click)="dataFromFilter($event)">
                       <label  class="checkbox_btn" for="followinghPeople">
                       <span  class="showcheckbox"></span></label>
                       <label  class="coverLabel" for="followinghPeople">
                       </label> Following </div>
                  </li>


             </ul>

           </div>

         </div>
      </div>


    </div>
  </div>

<div *ngIf="childValues == 4" class="filterMain">
      <div class="filterInner">
        <div class="headData">
          Filters
          <span class="dataControl" (click)="clearFilter()">Reset All</span>
        </div>

        <div class="ContentData">
          <p>Posted By</p>
           <div class="radioList">
             <div class="listItem ">
               <ul>
                 <li>
                   <div class="mobotp">
                      <input  class="Radio" id="pAll" name="postedbyfilter" type="checkbox"  [(ngModel)]="theAllTab.all" (click)="dataFromFilter($event)">
                      <label  class="checkbox_btn" for="pAll">
                      <span  class="showcheckbox"></span></label>
                      <label  class="coverLabel" for="pAll">
                      </label> All </div>
                 </li>
                 <li>
                   <div class="mobotp">
                      <input  class="Radio" id="pPeople" name="postedbyfilter" type="checkbox"  [(ngModel)]="theAllTab.people" (click)="dataFromFilter($event)">
                      <label  class="checkbox_btn" for="pPeople">
                      <span  class="showcheckbox"></span></label>
                      <label  class="coverLabel" for="pPeople">
                      </label> People </div>
                 </li>
                 <li>
                   <div class="mobotp">
                      <input  class="Radio" id="ppages" name="postedbyfilter" type="checkbox"  [(ngModel)]="theAllTab.pages" (click)="dataFromFilter($event)">
                      <label  class="checkbox_btn" for="ppages">
                      <span  class="showcheckbox"></span></label>
                      <label  class="coverLabel" for="ppages">
                      </label> Pages </div>
                 </li>

               </ul>

             </div>
             <!-- <span class="borderSep"></span> -->
           </div>
        </div>
        <div class="ContentData">
          <p>Post Type</p>
           <div class="radioList">
             <div class="listItem listItemLast">
               <ul>
                 <li>
                   <div class="mobotp">
                      <input  class="Radio" id="postall" name="postfilter" type="checkbox"  [(ngModel)]="theAllTab.pAll" (click)="dataFromFilter($event)">
                      <label  class="checkbox_btn" for="postall">
                      <span  class="showcheckbox"></span></label>
                      <label  class="coverLabel" for="postall">
                      </label> All </div>
                 </li>
                 <li>
                   <div class="mobotp">
                      <input  class="Radio" id="postQuestion" name="postfilter" type="checkbox"  [(ngModel)]="theAllTab.pQuestion" (click)="dataFromFilter($event)">
                      <label  class="checkbox_btn" for="postQuestion">
                      <span  class="showcheckbox"></span></label>
                      <label  class="coverLabel" for="postQuestion">
                      </label> Question </div>
                 </li>
                 <li>
                   <div class="mobotp">
                      <input  class="Radio" id="pAttachment" name="postfilter" type="checkbox"  [(ngModel)]="theAllTab.pAttachment" (click)="dataFromFilter($event)">
                      <label  class="checkbox_btn" for="pAttachment">
                      <span  class="showcheckbox"></span></label>
                      <label  class="coverLabel" for="pAttachment">
                      </label> Attachment </div>
                 </li>
               </ul>

             </div>
           </div>
        </div>
      </div>
    </div>
