$backgroundgray : #e6e6e6;
$themeblue : #F05050;
$themegray : #f5f7fa;
$textcolor : #2c2e2f;
$textgrey : #8c8c8c;
$maingreen: rgb(7,162,8);
$stroke : #dfe0e8;
// $stroke : #E9E9E9;
$borderRadius: 5px;
$inputTypeHeight: 35px;
$inputTypeFont: 12px;
$headerHeight: 60px;
$headerLineHeight: $headerHeight - 5px;
$mainboxShadow: 0 0 7px rgba(0,0,0,0.1);
$dropdownwidth: 400px;
$dropdwncontentwidth: $dropdownwidth - 100px;
$ntfctnprofile: 40px;
$inrprflimg : $ntfctnprofile + 8px;
$PostPicture: 40px;
$commentPicture: $PostPicture - 10px;
$subcommentPicture: $commentPicture - 10px;
$mainpostName: 14px;
$maincommentName: $mainpostName - 2px;
$darkthemestroke: $themeblue;
$progressbarRed: #ed6568;
$rightanswer : #5bbc5b;
$themelighten: rgba(18, 188, 180, 0.2);
//
//
// .leftmessagemenu{
//     display:inline-block;
//     width: 100%;
//     background:#ffffff;
//     box-shadow: $mainboxShadow;
//     border-radius: $borderRadius;
//
//     .btnoutr{
//         padding:15px;
//         border-bottom: 1px solid $stroke;
//         display: inline-block;
//         width:100%;
//         box-sizing: border-box;
//
//         .btn-primary{
//             display: inline-block !important;
//             width: 100% !important;
//         }
//
//     }
//     .btnoutr2{
//         border-top: 1px solid $stroke;
//         position: relative;
//
//         .searchiconsmall{
//
//         position: absolute;
//         top:20px;
//         left: 20px;
//
//         img{
//             width:16px;
//             height:16px;
//
//         }
//     }
//     }
//     .searchicon{
//         padding-left:30px;
//     }
//
//     .inboxlist{
//         display: inline-block;
//         width:100%;
//         padding:15px;
//         box-sizing: border-box;
//
//         .widgetheading{
//             padding: 0;
//             margin: 0;
//         }
//     }
// .inboxlistinr{
//         padding: 0px;
//             li{
//                 padding: 15px 0;
//                 display:inline-block;
//                 width:100%;
//                 border-bottom: 1px solid $stroke;
//
//
//                 .profilename{
//                     font-family: 'Roboto', sans-serif;font-weight: 500;;
//                 }
//                 .prfl_detail{
//                     margin-left: 13px;
//                     width: 179px;
//                 }
//                 .messageattachment{
//                     float:right;
//                     img{
//                         height:12px;
//                         width:12px;
//                     }
//                 }
//             }
//             li:last-child{
//                 border-bottom: 0px solid;
//             }
//         }
//
//
//
//
// }
// .inputtypelist{
//     li{
//         display:inline-block;
//         width:100%;
//         padding: 10px 15px;
//         border-left:2px solid transparent;
//         color: $textgrey;
//         transition: all 0.3s ease;
//         cursor: pointer;
//     }
//     li.active{
//         border-left: 2px solid $themeblue;
//         color: $themeblue;
//
//     }
//     li:hover{
//         background: $backgroundgray;
//
//     }
// }
//
//     .messagemainoutr{
//             display: inline-block;
//             width: 100%;
//             background: #fff;
//             box-shadow: $mainboxShadow;
//             padding: 15px;
//             border-radius: $borderRadius;
//             box-sizing: border-box;
//
//             .widgetheading{
//                 margin:0px;
//                 padding: 0px;
//             }
//             .profile_out{
//                 padding: 15px 0;
//                 border-bottom: 1px solid $stroke;
//                 display: inline-block;
//                 width:100%;
//                 box-sizing: border-box
//             }
//             .prfl_detail{
//                 margin-left: 47px;
//             }
//             .profilename{
//                 font-family: 'Roboto', sans-serif;font-weight: 500;;
//
//                 span{
//                     font-family: 'Roboto';
//                 }
//             }
//             .grayinfo{
//                 color: $textgrey;
//             }
//             .widgetheading2{
//                 padding: 15px 0 0;
//
//                 img{
//                     height: 12px;
//                     width: 12px;
//                 }
//
//
//             }
//
//             .attachmentimg{
//                 display: inline-block;
//                 width: 60px;
//                 float:left;
//                 margin-right:15px;
//                 border-radius: $borderRadius;
//                 position: relative;
//                 transition: all 0.2s ease;
//
//                 .attachmentimginr{
//                     display: inline-block;
//                     width:100%;
//                     height: 60px;
//                 width: 60px;
//                 overflow: hidden;
//                 float: left;
//                 position: relative;
//
//
//                 img{
//                     width: 100%;
//                 }
//
//                 }
//
//                 .attachment_name{
//                     font-size:10px;
//                 }
//                 .attachmentimginr:before{
//                 content: "";
//                 position: absolute;
//                 top: 0px;
//                 left:0px;
//                 height:100%;
//                 width:100%;
//                 background: rgba(0,0,0,0.44);
//                 display:none
//
//             }
//             }
//             .attachmentimg:hover{
//                 .attachmentimginr:before{
//                     display: block;
//                 }
//
//             }
//             .attachmentoutr{
//                 border-bottom: 1px solid $stroke;
//                 display: inline-block;
//                 width:100%;
//                 padding: 15px 0 ;
//             }
//             .StatusInfo{
//                 padding-left: 50px;
//             }
//             .absoluteprofile{
//                 position: absolute;
//                 margin-top: 6px;
//             }
//
//         }
//
//         .composemessage{
//             display:inline-block;
//             width: 100%;
//             border-radius: $borderRadius;
//             box-shadow: $mainboxShadow;
//             background: #fff;
//             margin-bottom: 20px;
//
//
//             .reciverlist{
//                 display: inline-block;
//                 width:100%;
//                 padding: 10px;
//                 box-sizing: border-box;
//                 float:left;
//
//                 span{
//                     color: $textgrey;
//                 }
//                 .tags{
//                     height: 20px;
//                     line-height: 18px;
//                     margin-top: 0px;
//                     padding: 0 10px;
//
//                     img{
//                         height: 8px;
//                         width: 8px;
//                     }
//                 }
//                 .messagercvr_inpt{
//                     display: inline-block;
//                     width: 150px;
//                     border: 0px solid ;
//                     height: 20px;
//                     padding: 0px;
//
//                 }
//             }
//             .col-md-1{
//                 padding:0;
//                 width: auto;
//             }
//             .ccoption{
//                 float:right;
//
//                 a{
//                     padding-left: 7px;
//                 }
//             }
//             .message_subject{
//                 display: inline-block;
//                 width: 100%;
//                 // padding: 15px;
//                 border-top: 1px solid $stroke;
//                 border-bottom: 1px solid $stroke;
//
//             }
//
//             .subjectinpt{
//                 border: 0px solid;
//                 height: 38px;
//                 line-height: 38px;
//                 padding-left: 12px;
//             }
//                 .main-message{
//
//             .StatusInfo{
//                 display:inline-block;
//                 padding:6px 12px;
//                 height: 40px;
//                 width: 85%;
//                 border: 0px solid $stroke;
//                 float:left;
//                 margin-top: 11px;
//             }
//             .fileupload_image{
//                 margin: 23px 15px 0 15px;
//                 padding-right: 10px;
//                 border-right: 1px solid $stroke;
//             }
//
//             .btn{
//                 margin-top: 15px;
//             }
//
//
//         }
//
//
//
//         }
//         .footer_message{
//             padding: 12px;
//             display: inline-block;
//             width: 100%;
//             box-sizing: border-box;
//
//
//             img{
//                 width: 12px;
//                 height: 12px;
//             }
//             button{
//                 float: right;
//                 width: auto;
//                 padding: 0 15px;
//                 margin-left: 15px;
//             }
//         }
//         .btn-primary{
//             background: $themeblue;
//             border: 1px solid $darkthemestroke;
//         }
//
//
//
//          .chat_outr{
//              // padding: 15px;
//          }
//          .chatheading{
//              // padding: 0px 0;
//              margin-bottom: 0;
//             padding-top: 15px;
//              li:last-child{
//                  border-bottom: 1px solid $stroke;
//                  padding-bottom: 15px;
//              }
//          }
//
//
        .mainchatbox{
            display: inline-block;
width: 100%;
height: 64vh;
overflow: auto;
padding: 15px;
box-sizing: border-box;

            .chatoutr{
                display: inline-block;
               width: 100%;
               margin-bottom: 10px;

            }
            .mainmsgdiv{
                display:inline-block;
                width:auto;
                max-width: 600px;
                margin-left: 10px;
            }
            .chatmessage{
                display: inline-block;
                width: auto;
                padding: 5px;
                box-sizing: border-box;
                background: $themegray;
                border-radius: $borderRadius;

                img{
                    max-width: 150px;
                }
            }
            .chatmessage{
                margin-top: 10px;
            }
            .chatmessage:first-child{
                margin-top:0px;
            }
            .chattime{
                color: $textgrey;
                font-size: 10px;
                float: left;
            }


            .chatoutrmine{
                float:right;

                .profileimg_know{
                    float: right
                }
                .mainmsgdiv{
                float:right;
                margin-right: 10px;
            }
            .chatmessage{
                background:$themelighten;
                float:right;
            }
               .chattime{
                    float:right;
                   width: 100%;
                   text-align: right;
                }


            }

        }
//
// .chatdateinfo{
//     display: inline-block;
//     width:100%;
//     height: 1px;
//     background: $stroke;
//     position: relative;
//         border-bottom: 1px solid $stroke;
//         margin-bottom: 20px;
//
//     .inrday{
//         position: absolute;
//         left: 0;
//         right: 0;
//         margin: -7px auto;
//         background: #fff;
//         padding: 0 5px;
//         width: 70px;
//         font-style: italic;
//         color: $textgrey;
//         display: inline-block;
//         text-align: center;
//
//         span{
//         border:1px solid $stroke;
//         padding: 0 5px;
//         display: inline-block;
//         width: 50px;
//
//         }
//
//     }
//     .postfile_download img{
//         width: 20px;
//         float:left;
//
//     }
//
//
// }
// .main-message{
//     display: inline-block;
//     width: 100%;
//     box-sizing:border-box;
//     padding: 15px;
//     .inrfooter{
//         border-top: 1px solid $stroke;
//         display: inline-block;
//         width:100%;
//     }
//     .message{
//         height: 30px;
//     }
//
// }
//
// .composemainmessage{
//     .inrfooter{
//         border: 0px;
//     }
//     .StatusInfo{
//         margin-top: 0px !important;
//         width: 93% !important;
//         height: 80px !important;
//         padding: 0px !important;
//     }
//     .fileupload_image{
//         border: 0px !important;
//         margin:0px 0px 0 15px !important;
//         padding-right: 0px !important;
//         float: right;
//     }
//     .btn{
//         margin-left: 15px;
//     }
// }

.chatoutr{
 display: inline-block;
 width: 100%;
 margin-bottom: 20px;
 padding-right: 35px;
 position: relative;
}
.mainmsgdiv{
 display:inline-block;
 width:auto;
 max-width: 600px;
 margin-left: 10px;
}
.chatmessage{
 display: inline-block;
 width: auto;max-width: 100%;
 padding: 15px 25px;
 box-sizing: border-box;
 background: #efefef;
 border-radius: $borderRadius;
 border-bottom-left-radius: 7px;
 border-top-left-radius: 7px;
 border-bottom-right-radius: 7px;
border-top-right-radius: 7px;

 img{
   max-width: 150px;
 }
   p{color: inherit;line-height: inherit;float: left;max-width: 100%;}
}
.chatmessage{
 margin-top: 10px;
}
.chatmessage:first-child{
 margin-top:0px;
}
.chattime{
  color: $textgrey;
  font-size: 12px;margin-bottom: 5px;
  float: left;width: 100%;
  margin-top: 5px;
  .timeOfMessage{
    margin-left: 10px;
  }
  .chatusername{
    color: $textcolor;
    font-size: 14px;
    font-weight: 500;
  }
}


.chatoutrmine{
 float:right;

 .profileimg_know{
   float: right
 }
 .mainmsgdiv{
 float:right;
 margin-right: 10px;
}
.chatmessage{
 background:#0085fe;
 float:right;color:#fff;
 p{    color: inherit;
 }
}
.chattime{
  float:right;
  width: 100%;
  text-align: right;
  .timeOfMessage{
    margin-left: 10px;
  }
  .chatusername{
    color: $textcolor;
    font-size: 14px;
    font-weight: 500;
  }

}

}
.masgprofilepic{
  height: 35px !important;
  width: 35px !important;
  right: 0px;
   bottom: 27px;
   position: absolute;
}
.chatoutr.chatoutrmine{
	.mainmsgdiv{
		padding-right:0;
	}
}
// .chatoutr.chatoutrmine{
//  .mainmsgdiv{
// 	 .chatmessage{
// 		 // background-color:rgba($themeblue, 0.10);
// 	 }
//  }
// }
@media screen and (max-width:768px){
 //*****///
 .chatoutr{margin-bottom: 10px;}
 .chatmessage{  padding: 8px 15px;}
 .chattime{  margin-bottom: 3px;}
 .masgprofilepic{  bottom: 21px;}
}
