.mainchatbox { display: inline-block; width: 100%; height: 64vh; overflow: auto; padding: 15px; box-sizing: border-box; }

.mainchatbox .chatoutr { display: inline-block; width: 100%; margin-bottom: 10px; }

.mainchatbox .mainmsgdiv { display: inline-block; width: auto; max-width: 600px; margin-left: 10px; }

.mainchatbox .chatmessage { display: inline-block; width: auto; padding: 5px; box-sizing: border-box; background: #f5f7fa; border-radius: 5px; }

.mainchatbox .chatmessage img { max-width: 150px; }

.mainchatbox .chatmessage { margin-top: 10px; }

.mainchatbox .chatmessage:first-child { margin-top: 0px; }

.mainchatbox .chattime { color: #8c8c8c; font-size: 10px; float: left; }

.mainchatbox .chatoutrmine { float: right; }

.mainchatbox .chatoutrmine .profileimg_know { float: right; }

.mainchatbox .chatoutrmine .mainmsgdiv { float: right; margin-right: 10px; }

.mainchatbox .chatoutrmine .chatmessage { background: rgba(18, 188, 180, 0.2); float: right; }

.mainchatbox .chatoutrmine .chattime { float: right; width: 100%; text-align: right; }

.chatoutr { display: inline-block; width: 100%; margin-bottom: 20px; padding-right: 35px; position: relative; }

.mainmsgdiv { display: inline-block; width: auto; max-width: 600px; margin-left: 10px; }

.chatmessage { display: inline-block; width: auto; max-width: 100%; padding: 15px 25px; box-sizing: border-box; background: #efefef; border-radius: 5px; border-bottom-left-radius: 7px; border-top-left-radius: 7px; border-bottom-right-radius: 7px; border-top-right-radius: 7px; }

.chatmessage img { max-width: 150px; }

.chatmessage p { color: inherit; line-height: inherit; float: left; max-width: 100%; }

.chatmessage { margin-top: 10px; }

.chatmessage:first-child { margin-top: 0px; }

.chattime { color: #8c8c8c; font-size: 12px; margin-bottom: 5px; float: left; width: 100%; margin-top: 5px; }

.chattime .timeOfMessage { margin-left: 10px; }

.chattime .chatusername { color: #2c2e2f; font-size: 14px; font-weight: 500; }

.chatoutrmine { float: right; }

.chatoutrmine .profileimg_know { float: right; }

.chatoutrmine .mainmsgdiv { float: right; margin-right: 10px; }

.chatoutrmine .chatmessage { background: #0085fe; float: right; color: #fff; }

.chatoutrmine .chatmessage p { color: inherit; }

.chatoutrmine .chattime { float: right; width: 100%; text-align: right; }

.chatoutrmine .chattime .timeOfMessage { margin-left: 10px; }

.chatoutrmine .chattime .chatusername { color: #2c2e2f; font-size: 14px; font-weight: 500; }

.masgprofilepic { height: 35px !important; width: 35px !important; right: 0px; bottom: 27px; position: absolute; }

.chatoutr.chatoutrmine .mainmsgdiv { padding-right: 0; }

@media screen and (max-width: 768px) { .chatoutr { margin-bottom: 10px; }
  .chatmessage { padding: 8px 15px; }
  .chattime { margin-bottom: 3px; }
  .masgprofilepic { bottom: 21px; } }
