<div  class="filterMain">
  <div class="headData">
    Filter By Interest

  </div>
  <div class="filterInner" >

    <div class="ContentData">

       <div class="radioList">
         <div class="listItem ">
           <ul>
            <li >
              <span (click)=setFilter(0) [ngClass]="{'mobotp': true,'selected':filterid==0}" > All </span>
            </li>
             <li *ngFor="let userInterest of userInterests">
               <span (click)=setFilter(userInterest.INTEREST_ID) [ngClass]="{'mobotp': true,'selected':filterid==userInterest.INTEREST_ID}" > {{userInterest.INTEREST_NAME}} </span>
             </li>
           </ul>

         </div>
       </div>
    </div>

  </div>
</div>
