<div class="video_post_outer post_outer">
    <div class="addreview_hdng"><img src="assets/images/pagecourselist.png"> Videos</div>
 

<div class="video_post">
   <div class="video_post_in">
    <div class="first_post_v">
        <a style="background-image:url('assets/images/vidoe1.jpeg');">
        <span class="play_icon"><img src="assets/images/svg-one/paly_w.svg"></span></a>
    </div>
    <div class="sec_post_v sec_post_b">
<!--        <img src="assets/images/vidoe2.jpeg">-->
   <a style="background-image:url('assets/images/vidoe2.jpeg');">
       <span class="play_icon"><img src="assets/images/svg-one/paly_w.svg"></span>
   </a> 
    </div>	
    <div class="third_post_v sec_post_b">
        <a style="background-image:url('assets/images/vidoe3.jpeg');">
            <span class="play_icon"><img src="assets/images/svg-one/paly_w.svg"></span>
        </a> 
    </div>
    </div>		
	
	
 <div class="course_all_bt ">See All</div>
</div>
  </div>
