
<div class="darkbackground" *ngIf="!hideForm"></div>
<div  *ngIf="!hideForm" class="addpost_outer relative popup-open-wrapper">
  <div class="darkbackground-close"></div>
  <div class="container popup-container" style="position: relative;">
    <div class="popup-inner-wrap popup-open-inner-wrap">
      <div class="topheadsavpop">
        <div class="toolbar addpost_hdng tlbar">
          Scholarship Registration
          <span class="close_div" (click)="closeScholarShipForm()">
            <img class="defaultt" src="assets/images/svg/tagcross.svg"
              style="float: right; margin: 17px 0; cursor: pointer;" />
            <img class="hoverr" src="assets/images/svg/tagcross-gray.svg"
              style="float: right; margin: 17px 0; cursor: pointer;" />
            <!-- <p>Just Select a Page type to get started</p> -->
          </span>
        </div>
        <div class="alertwrapper">
          <div class="alertmessage" *ngIf="false">
            <img src="assets/images/svg-three/login_icon/loginerror.svg" alt="aio" class="redcancel" />
            <span class="close_err" (click)="hidealertmsg()">
              <img class="default" src="assets/images/svg/tagcross.svg" />
              <img class="hover" src="assets/images/svg/tagcross-gray.svg" />
            </span>
            {{ alertMsg }}
          </div>
        </div>
      </div>
      <div class="create_page_outer">

        <div class="course_reg_field">
          <div class="input_data input_dt">
            <label class="label_lab">University</label>
            <input [(ngModel)]="dataForScholarshipTestRegistration.university" type="text" />
          </div>
          <div class="input_data input_dt">
            <label class="label_lab">First name</label>
            <input [(ngModel)]="dataForScholarshipTestRegistration.firstName" type="text" />
          </div>
          <div class="input_data input_dt">
            <label class="label_lab">Last name</label>
            <input [(ngModel)]="dataForScholarshipTestRegistration.lastName" type="text" />
          </div>
          <div class="input_data input_dt">
            <label class="label_lab">Email</label>
            <input [(ngModel)]="dataForScholarshipTestRegistration.email" type="email" />
          </div>


          <div class="input_data footer" style="margin-bottom: 0px;">
            <button (click)="submitDetailsForScholarshipTest()" class="button24x7 redColorButton fright buttonPadding20"
              style="width: 94px;">
              <span *ngIf="!loader"> Submit</span>
              <span *ngIf="loader"><img src="./assets/images/svg/preloader-25.svg"></span>

            </button>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>











<app-confirmationpopup *ngIf="openErrorConfirmation" [dataObj]="dataConf"
  (closeComfirmPopupThread)="closeErrorConfirmation()"></app-confirmationpopup>