.container.main_body .row {
  margin-right: 0px;
  margin-left: 0px;
}

.payment_wrapper {
  font-family: 'Roboto';
  background-color: #fff;
  width: 100%;
  padding: 0px;
  border-radius: 5px;
}

.payment_wrapper .paymenttransaction_filter_top {
  width: 100%;
  background-color: #f7f8fa;
  padding: 0px 15px;
  float: left;
  border-radius: 5px 5px 0 0;
}

.payment_wrapper .paymenttransaction_filter_top .analytics_fl li {
  float: left;
  display: inline-block;
  position: relative;
  padding: 15px 20px;
  cursor: pointer;
}

.payment_wrapper .paymenttransaction_filter_top .analytics_fl li .analytics_s {
  border: 1px solid #ccc;
  padding: 4px 20px 4px 10px;
  float: left;
  border-radius: 3px;
  color: #8c8c8c;
  height: 30px;
  cursor: pointer;
}

.payment_wrapper .paymenttransaction_filter_top .analytics_fl li .glyphicon-triangle-bottom {
  position: absolute;
  top: 4px;
  right: 12px;
}

.payment_wrapper .paymenttransaction_filter_top .analytics_fl li .glyphicon-triangle-bottom:before {
  color: #8c8c8c;
  font-size: 9px;
}

.payment_wrapper .paymenttransaction_filter_top .analytics_fl .analytics_head span {
  font-weight: 500;
  font-size: 14px;
}

.payment_wrapper .paymenttransaction_filter_top .analytics_fl .filter-analytics {
  right: 15px;
  float: right;
  padding: 0px;
  width: 100px;
  height: 30px;
  position: relative;
  border: 1px solid #dfe0e8;
  top: 10px;
  text-align: center;
  padding-top: 6px;
  background-color: #fff;
  border-radius: 30px;
}

.payment_wrapper .paymenttransaction_filter_top .analytics_fl .filter-analytics ul {
  position: absolute;
  width: 100px;
  background: #fff;
  z-index: 1;
  top: 100%;
  border: 1px solid #dfe0e8;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-color: #66a9d5;
  overflow: hidden;
  left: -1px;
}

.payment_wrapper .paymenttransaction_filter_top .analytics_fl .filter-analytics ul li {
  width: 100%;
  text-align: center;
  padding: 7px 0px 7px 0px;
  border-top: 1px solid #dfe0e8;
}

.payment_wrapper .paymenttransaction_filter_top .analytics_fl .filter-analytics ul li:hover {
  background-color: #f5f7fa;
}

.payment_wrapper .paymenttransaction_filter_top .analytics_fl .removeBorder {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-color: #66a9d5;
}

.payment_wrapper .paymenttransaction_filter_top .analytics_fl li.active {
  border-bottom: 3px solid #F05050;
  color: #F05050;
}

.inner_wapper {
  padding: 0px 20px 0px 20px;
}

.inner_wapper ul li {
  padding: 20px 0;
  border-bottom: 2px solid #e6e6e6;
}

.inner_wapper ul li img {
  float: left;
  width: 70px;
}

.inner_wapper ul li span.trans {
  float: left;
  width: 40%;
  margin-left: 15px;
  padding-left: 75px;
}

.inner_wapper ul li .leftImgWrapper {
  float: left;
  width: 70%;
  position: relative;
}

.inner_wapper ul li .leftImgWrapper img {
  float: left;
  width: 70px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.inner_wapper ul li .leftImgWrapper span.trans {
  float: left;
  width: calc(100% - 15px);
  margin-left: 15px;
  padding-left: 75px;
  padding-right: 15px;
}

.inner_wapper ul li span.trans_time {
  float: left;
  width: 15%;
}

.inner_wapper ul li span.down_btn {
  width: 15%;
  float: right;
}

.inner_wapper ul li span.down_btn button {
  border-radius: 20px;
  line-height: 23px;
  height: 25px;
  border: 1px solid #F05050;
  background-color: white;
  color: #F05050;
  font-size: 12px;
  margin-top: 8px;
  padding: 1px 17px;
  float: right;
}

.inner_wapper .trans .rupee_trans, .inner_wapper .trans_time .rupee_trans {
  font-size: 16px;
}

.inner_wapper .trans span:first-child, .inner_wapper .trans_time span:first-child {
  width: 100%;
  float: left;
  margin-bottom: 8px;
  font-weight: 500;
}

.inner_wapper .trans span:first-child img, .inner_wapper .trans_time span:first-child img {
  margin-top: 2px;
  height: 12px;
  width: 12px;
}

.inner_wapper .trans span:last-child, .inner_wapper .trans_time span:last-child {
  width: 100%;
  float: left;
  font-size: 12px;
}

.inner_wapper:last-child ul li {
  border-bottom: 0px;
}

.outer_wrapper {
  float: left;
  width: 100%;
}

.inner_wapper_wallet {
  padding: 0 25px 0px 25px;
}

.inner_wapper_wallet .wallet_amount {
  padding: 25px 0;
  float: left;
  width: 100%;
}

.inner_wapper_wallet .wallet_amount span:nth-child(1) {
  float: left;
  margin-right: 15px;
  margin-right: 15px;
}

.inner_wapper_wallet .wallet_amount span:nth-child(1) img {
  width: 35px;
  float: left;
  margin-top: -5px;
}

.inner_wapper_wallet .wallet_amount span:nth-child(2) {
  display: block;
  float: left;
  font-size: 16px;
  font-weight: 500;
}

.inner_wapper_wallet .wallet_amount span:nth-child(2) img {
  height: 13px;
  margin-top: -2px;
}

.inner_wapper_wallet .wallet_amount .amt {
  display: block;
  float: left;
  font-size: 12px;
}

.inner_wapper_wallet ul li {
  padding: 20px 0;
  border-bottom: 2px solid #e6e6e6;
}

.inner_wapper_wallet ul li:last-child {
  border-bottom: none;
}

.inner_wapper_wallet ul li span:nth-child(1) {
  width: 33.33%;
  float: left;
}

.inner_wapper_wallet ul li span:nth-child(2) {
  width: 33.33%;
  float: left;
  font-size: 12px;
  text-align: center;
}

.inner_wapper_wallet ul li span:nth-child(3) {
  width: 33.33%;
  float: left;
}

.inner_wapper_wallet ul li .bonus_add span:nth-child(1) {
  width: 100%;
  float: left;
  margin-bottom: 10px;
  font-weight: 500;
}

.inner_wapper_wallet ul li .bonus_add span:nth-child(2) {
  width: 100%;
  float: left;
  text-align: left;
  margin-bottom: 10px;
}

.inner_wapper_wallet ul li .bonus_add span:last-child {
  width: 100%;
  float: left;
  font-size: 12px;
}

.inner_wapper_wallet ul li .expire span:nth-child(1), .inner_wapper_wallet ul li .expire span:nth-child(2), .inner_wapper_wallet ul li .expire span:last-child {
  width: 100%;
  float: left;
  text-align: right;
  font-size: 12px;
}

.inner_wapper_wallet ul li .expire span:nth-child(1) img, .inner_wapper_wallet ul li .expire span:nth-child(2) img, .inner_wapper_wallet ul li .expire span:last-child img {
  width: 13px;
  margin-top: -3px;
}

.inner_wapper_wallet ul li .expire span:nth-child(1) {
  font-size: 16px;
  font-weight: 500;
}

.inner_wapper_wallet ul li .expire span:nth-child(2) {
  color: green;
  margin-bottom: 5px;
}

.inner_wapper_wallet ul li .expire .used {
  color: #F05050 !important;
}

.payment_wrapper .paymenttransaction_filter_top .analytics_fl {
  border-radius: 5px 5px 0 0;
}

/***responsive ui start here***/
@media only screen and (max-width: 991px) {
  .payment_wrapper .paymenttransaction_filter_top {
    padding: 0px;
    background-color: transparent;
  }
  .payment_wrapper .paymenttransaction_filter_top .analytics_fl {
    background-color: #f7f8fa;
    width: 100%;
    padding: 0px 10px;
  }
  .payment_wrapper .inner_wapper ul li {
    /* border-bottom: 1px solid #e6e6e6; */
    position: relative;
  }
  .payment_wrapper .inner_wapper ul li .leftImgWrapper {
    width: 100%;
  }
  .payment_wrapper .inner_wapper ul li .leftImgWrapper img.cursor-pointer {
    position: absolute;
    left: 0px;
  }
  .payment_wrapper .inner_wapper ul li .leftImgWrapper .trans {
    width: 100%;
    margin-left: 0px;
    padding: 0px 100px 0px 85px;
  }
  .payment_wrapper .inner_wapper ul li .trans_time {
    width: 100px;
    position: absolute;
    right: 0px;
  }
  .payment_wrapper .inner_wapper ul li .down_btn {
    width: 100%;
    float: right;
    margin: 10px 0px 0px 0px;
    text-align: center;
  }
  .payment_wrapper .inner_wapper ul li .down_btn button {
    float: none;
  }
  .mobileBackButton {
    display: block;
    bottom: unset;
    height: 50px;
    padding-top: 15px;
  }
  .analytics_fl > li:first-child {
    margin-left: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .container.main_body .row {
    margin-right: -15px;
    margin-left: -15px;
  }
  .container.main_body .col-md-12.outer_wrapper {
    background-color: #fff;
  }
  .payment_wrapper {
    padding: 0px;
    width: auto;
  }
  .payment_wrapper .row {
    margin-left: 0px;
    margin-right: 0px;
  }
  .payment_wrapper .paymenttransaction_filter_top {
    padding: 0px 0px;
  }
  .payment_wrapper .paymenttransaction_filter_top li {
    padding: 15px 15px;
  }
  .payment_wrapper .paymenttransaction_filter_top .filter-analytics {
    right: 15px;
  }
  .payment_wrapper {
    border-radius: 0;
    width: auto;
    max-width: unset;
  }
  .payment_wrapper .paymenttransaction_filter_top .analytics_fl {
    border-radius: 5px 5px 0 0;
  }
}

@media only screen and (max-width: 600px) {
  .inner_wapper_wallet {
    padding: 0 15px 25px;
  }
  .outer_wrapper .inner_wapper {
    padding: 5px 0px;
  }
  .outer_wrapper .inner_wapper ul li {
    /* border-bottom: 1px solid #e6e6e6; */
    position: relative;
  }
  .outer_wrapper .inner_wapper ul li img.cursor-pointer {
    left: 10px;
  }
  .outer_wrapper .inner_wapper ul li .trans {
    padding: 0px 110px 0px 95px;
  }
  .outer_wrapper .inner_wapper ul li .trans_time {
    right: 10px;
    padding-left: 20px;
  }
  .payment_wrapper .paymenttransaction_filter_top .analytics_fl {
    padding: 0;
  }
  .col-md-12.outer_wrapper {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 360px) {
  .payment_wrapper .paymenttransaction_filter_top .analytics_fl {
    padding: 0px 0px;
  }
  .payment_wrapper .paymenttransaction_filter_top .analytics_fl li {
    padding: 15px 10px;
  }
  .payment_wrapper .paymenttransaction_filter_top .analytics_fl .filter-analytics {
    right: 6px;
  }
}

/***responsive ui end here***/
/*# sourceMappingURL=wallet.component.css.map */