<app-header></app-header>
<div id="windiv">
<div class="wrapper">
    <div class="container main_body">

    <div class="row">
        <div class=" center_feed " >
        <div class="col-md-12 col-sm-12 payment_wrapper  " >

                <div class="paymenttransaction_filter_top">
                    <div  class="mobileBackButton" routerLink="/home">
                      <img alt="" src="assets/images/svg-three/login_icon/left-arrow.svg"></div>
                    <ul class="analytics_fl clearfix">
                        <li [ngClass]= "{'active' : paymentTab === 1 }" id="tab1" (click)="paymentTabClick(1);">Wallet</li>
                        <li [ngClass]= "{'active' : paymentTab === 2 }" id="tab2" (click)="paymentTabClick(2);">Purchase History</li>

                        <li class="filter-analytics" *ngIf="paymentTab===2" (click)="showFilterList()" [ngClass]="{'removeBorder': showFilter}">
                            <!-- <select  class="analytics_s" (change)="setFilter($event.target.value)">
                                <option value="0">Days</option>
                                <option value="1">7 days</option>
                                <option value="2">30 days</option>
                            </select> -->
                             <span *ngIf="selecteddays == 0">All days</span>
                             <span *ngIf="selecteddays == 7">7 days</span>
                              <span *ngIf="selecteddays == 30">30 days</span>
                            <ul *ngIf="showFilter">
                              <li (click)="setFilter(0)" style="margin-left:0;">All days</li>
                              <li (click)="setFilter(1)">7 days</li>
                              <li (click)="setFilter(2)">30 days</li>
                            </ul>
                            <span class="glyphicon glyphicon-triangle-bottom"></span>
                        </li>
                    </ul>
                </div>


                <div class="col-md-12 outer_wrapper" *ngIf="paymentTab === 1">
                    <div class="inner_wapper_wallet clearfix">
                        <div class="wallet_amount clearfix">
                            <span><img src="./assets/images/svg/wallet.svg" alt="study24x7"></span>
                            <span><img src="./assets/images/svg-one/rupee.svg" alt="study24x7">{{walletBalance|number}}</span><br>
                            <span class="amt">Your Wallet Balance</span>
                        </div>
                        <!-- <ul>
                          <li class="clearfix"><span class="bonus_add"><span>Bonus added for promogift</span><br><span>4th Jul 2018 06:42:24PM</span></span>
                            <span>Transaction ID 19362935093</span>
                            <span class="expire"><span><img src="./assets/images/svg-one/rupee.svg" alt="study24x7">70</span><span>added</span><span>Expiration Date 4th Jul 2018</span></span></li>
                            <li class="clearfix"><span class="bonus_add"><span>Bonus added for promogift</span><br><span>4th Jul 2018 06:42:24PM</span></span>
                              <span>Transaction ID 19362935093</span>
                              <span class="expire"><span><img src="./assets/images/svg-one/rupee.svg" alt="study24x7">70</span><span>added</span><span>Expiration Date 4th Jul 2018</span></span></li>
                              <li class="clearfix"><span class="bonus_add"><span>Bonus added for promogift</span><span>(Sketches to Interactive Prototypes)</span><span>4th Jul 2018 06:42:24PM</span></span>
                                <span>Transaction ID 19362935093</span>
                                <span class="expire"><span><img src="./assets/images/svg-one/rupee.svg" alt="study24x7">70</span><span class="used">used</span><span>Expiration Date 4th Jul 2018</span></span></li>
                              </ul> -->
                    </div>
                </div>

                <div  data-infinite-scroll
                [infiniteScrollDistance]="2"
                [immediateCheck] = "true"
                (scrolled)="onScrollDownTransaction()"
                [scrollWindow]="true"
                class="col-md-12 outer_wrapper" *ngIf="paymentTab === 2">
                    <div class="inner_wapper clearfix"  *ngFor="let TransData of TransactionData; let i = index;">
                         <ul class="clearfix">
                            <li class="clearfix">
                                <div class="leftImgWrapper">
                                <img class="cursor-pointer" routerLink="/course/{{TransData.COURSE_URL}}" src="{{TransData.COVER_PHOTO_PATH}}" alt="study24x7">

                                <span class="trans">
                                    <span class="cursor-pointer" routerLink="/course/{{TransData.COURSE_URL}}">{{TransData.TITLE}}</span><br>
                                    <span>Transaction ID : {{TransData.TID}}</span></span>

                                </div>

                                <span class="trans_time"><span class="rupee_trans">
                                        <img src="./assets/images/svg-one/rupee.svg" alt="study24x7">{{TransData.TOTAL_PAID_COST|number}}</span><br><span>{{TransData.UPDATE_DATE_TIME | date :'dd MMM, yyyy'}}</span></span>
                                <span class="down_btn"><button routerLink='/payment/receipt/{{TransData.TRANSACTION_UUID}}' >Payment Receipt</button></span>
                            </li>
                            <!--                    <li class="clearfix">
                                                  <img src="./assets/images/icons/Checkout_Done_invoice.jpg" alt="study24x7">
                                                  <span class="trans"><span>Mobile App Design:From Sketches</span><br><span>Transaction ID 19362935093</span></span>
                                                  <span class="trans_time"><span><img src="./assets/images/svg-one/rupee.svg" alt="study24x7">170</span><br><span>4th Jul 2018 06:42:24PM</span></span>
                                                  <span><button>Payment Receipt</button></span>
                                                </li>
                                                <li class="clearfix">
                                                  <img src="./assets/images/icons/Checkout_Done_invoice.jpg" alt="study24x7">
                                                  <span class="trans"><span>Mobile App Design:From Sketches</span><br><span>Transaction ID 19362935093</span></span>
                                                  <span class="trans_time"><span><img src="./assets/images/svg-one/rupee.svg" alt="study24x7">170</span><br><span>4th Jul 2018 06:42:24PM</span></span>
                                                  <span><button>Payment Receipt</button></span>
                                                </li>-->

                        </ul>
                    </div>

            <!-- =============================================================================   -->
            <!-- preloder start  --> <!--add by vijay-->
            <!-- ==============================================================================  -->

            <div class="loader2" *ngIf="showPreloader">
              <img src="assets/images/24x7preloader.gif" alt="study24x7" >
          </div>

          <!-- =============================================================================   -->
          <!-- preloder end  -->  <!--end by vijay-->
          <!-- ==============================================================================  -->
                <!-- empty state of purchase history -->
                <div  class="emptystate" *ngIf="paymentTab === 2 && TransactionData.length == 0  && showPreloader == false">
                  <div  class="emptystate_inner">
                    <img  class="emptyimg emptyreview" src="assets/images/svg-three/review/empty.svg">
                    <p  style="padding:15px">No Purchase history yet!</p>
                  </div>
                </div>
                <!-- end empty state of purchase history -->
</div>

            </div>
        </div>
        </div>

    </div>
</div>
</div>
