<app-mnavbar (showMobileMenu)="displayMobileMenu($event)" (hideMenu)="hideMobileMenu($event)"></app-mnavbar>
<app-header (sessionLogout)="sessionExpire($event)"></app-header>
<div id="windiv">
  <div class="container main_body">
    <div class="row">
      <div class="col-md-3 col-sm-4 left_stickytab" id="left-side-bar" style="padding-right:0;">
        <div class="rightmenu_fixed" id="someDivleft" [ngClass]="{'fixedleft': isScrolled1}">
          <app-leftmenu (hidePopup)="hidePageCreatePopup($event)" (showPopup)="displayPageCreatePopup($event)">
          </app-leftmenu>
        </div>
      </div>
      <div *ngIf="!isMobileMenue" class="col-md-6 center_feed">
        <div class="maindiv visitordata visitordataMob">
          <div class="mainheading">
            <div>
              Visitors on your profile
            </div>
          </div>
          <div class="mainheading mainheadingTab">
            <div class="mainheadingInner" >
              <div class="visitorsListTab" [ngClass]="{activeVisitorsListTab: showRecentVisitorsList}" (click)="showRecentVisitorsList=true">
                Recent visitors

              </div>
              <div class="visitorsListTab" [ngClass]="{activeVisitorsListTab: !showRecentVisitorsList}"
                (click)="showRecentVisitorsList=false">
                Visitors with similar interests
            </div>
            </div>
          </div>
          <div class="inner-main-div " data-infinite-scroll [infiniteScrollDistance]="2" (scrolled)="onScrollDown()"
            [scrollWindow]="true">


            <div class="content">
              <div class='people_list '>
                <div style="margin-top: 10px;" *ngIf="similarInterestVisitorsData.VISITORS.length>0 && !showRecentVisitorsList" class="dataList">
                  <!-- <p class='headparainfo'>Visitors with similar interests</p> -->
                  <ul >
                    <li *ngFor="let visitor of similarInterestVisitorsData.VISITORS; let i=index">

                      <div routerLink="/profile/{{visitor.USER_NAME}}" class="profileimg_know">
                        <img src="{{visitor.PROFILE_PHOTO_PATH +'profile/' +visitor.USER_ID + '_60x60.png'}}"
                          (error)="updateSimilarInterestVisitorProfilePic($event)">
                      </div>
                      <div class='prfl_detail'>
                        <div title="{{visitor.FIRST_NAME+' '+visitor.LAST_NAME}}"
                          routerLink="/profile/{{visitor.USER_NAME}}" class="profilename oneLine">{{visitor.FIRST_NAME+'
                          '+visitor.LAST_NAME}}</div>
                        <div class="grayinfo">
                          <p class="typeVisitor" *ngIf="visitor.IS_TEACHER==0">Learner</p>
                          <p class="typeVisitor" *ngIf="visitor.IS_TEACHER==2">Educator</p>
                          <p class="typeVisitor" *ngIf="visitor.IS_TEACHER==3">Educator & Learner</p>
                          <p>{{visitor.VIEWED_AT_TEXT}}</p>
                        </div>
                      </div>
                      <div (click)="sendToInbox(visitor)" class="btnDiv">
                        <button
                          class="btn-blush btnflex btn-blush-h btn-a btnres60 btnweb60 btn-round60 btn-round60-gray btn-round60-gray-h btn60">
                          <img class="icon-red" src="assets/images/svg-icon/messageicon-red.svg" alt="">
                          <img class="icon-gray" src="assets/images/svg-icon/messageicon-gray.svg" alt="">
                          <span class="btntext">Message</span>
                        </button>

                      </div>


                    </li>


                  </ul>
                </div>
                <div style="margin-top: 10px;" *ngIf="recentVisitorsData.VISITORS.length>0 && showRecentVisitorsList" class="dataList dataList1">
                  <!-- <p class='headparainfo'>All Recent Visitors
                    <span *ngIf="recentVisitorsData.LAST_WEEK_VISITORS_COUNT" class="rank_span_cont rank_span"
                      [ngClass]="{'rank_span_cont0':recentVisitorsData.LAST_WEEK_VISITORS_COUNT == '0'  }">
                      {{recentVisitorsData.LAST_WEEK_VISITORS_COUNT}}</span>
                  </p> -->
                  <ul>
                    <li *ngFor="let visitor of recentVisitorsData.VISITORS;let i = index">

                      <div routerLink="/profile/{{visitor.USER_NAME}}" class="profileimg_know">
                        <img src="{{visitor.PROFILE_PHOTO_PATH +'profile/' +visitor.USER_ID + '_60x60.png'}}"
                          (error)="updateSimilarInterestVisitorProfilePic($event)">

                      </div>
                      <div class='prfl_detail ntfi_pro_detail'>
                        <div title="{{visitor.FIRST_NAME+' '+visitor.LAST_NAME}}"
                          routerLink="/profile/{{visitor.USER_NAME}}" class="profilename oneLine">{{visitor.FIRST_NAME+'
                          '+visitor.LAST_NAME}}</div>
                        <div class="grayinfo noti-grayinfo">
                          <p class="typeVisitor" *ngIf="visitor.IS_TEACHER==0">Learner</p>
                          <p class="typeVisitor" *ngIf="visitor.IS_TEACHER==2">Educator</p>
                          <p class="typeVisitor" *ngIf="visitor.IS_TEACHER==3">Educator & Learner</p>
                          <p>{{visitor.VIEWED_AT_TEXT}}</p>
                        </div>
                      </div>
                      <div (click)="sendToInbox(visitor)" class="btnDiv">
                        <button
                          class="btn-blush btnflex btn-blush-h btn-a btnres60 btnweb60 btn-round60 btn-round60-gray btn-round60-gray-h btn60">
                          <img class="icon-red" src="assets/images/svg-icon/messageicon-red.svg" alt="">
                          <img class="icon-gray" src="assets/images/svg-icon/messageicon-gray.svg" alt="">
                          <span class="btntext">Message</span>
                        </button>

                      </div>


                    </li>


                  </ul>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="sidemenu" [ngClass]="{'openfilter': isMobileMenue }">
        <div *ngIf="isMobileMenue">
          <div class="menuslidedarkbg" (click)="leftSidemenu()"></div>
          <app-mmenu (showPopup)=displayPageCreatePopup($event) class="cntrMmenu"></app-mmenu>
        </div>
      </div>




      <div class="col-md-3 col-sm-3 rightpanel pdng_left right_stickytab" id="wall-sidebar-wrap">
        <div class="rightmenu_fixed" id="someDiv" [ngClass]="{'fixedleft': isScrolled}">
          <app-peopleyouknow (sessionLogout)="sessionExpire($event)"></app-peopleyouknow>

          <p style="color:#9ba1ab;margin-top: 5px">
            <a routerLink="/privacy" target="_blank">Privacy Policy . </a>
            <a routerLink="/termandcondition" target="_blank">Terms of Use . </a>
            <a href="http://support.aio.com/" target="_blank">Support . </a>
            <a></a>
          </p>
          <footer> © @Edubabble Learning Pvt. Ltd. </footer>
        </div>
      </div>
    </div>
  </div>

  <app-createpage *ngIf="showPageCreatePopup" (hidecreatepagePopup)="showPageCreatePopup=false"></app-createpage>
