<div class="chatoutr">
    <div class="profileimg_know masgprofilepic">
        <img src='{{profile_pic}}' *ngIf="displayAssistant==2" style="cursor: pointer" routerLink={{routing}} (error)="updateProfilePic($event)">
        <img src='{{profile_pic}}' *ngIf="displayAssistant!=2" style="cursor: pointer" routerLink={{routing}} (error)="updateProfilePic($event)">
    </div>
    <div class="mainmsgdiv">

        <div>
            <div class="chatmessage">
                <p [innerHTML]="msg"></p>
                <!-- <i title="Delete Message" class="delete-msg" (click)="delThisMsg();"><img src="assets/images/svg/dustbin.svg" alt="study24x7"></i> -->
            </div>
            <div class="chattime">
                <span class="timeOfMessage">{{time|timeformated}}</span> &nbsp;
                <!-- <span class="chatusername">{{name}}</span> -->
            </div>
        </div>

    </div>
</div>
<app-confirmationpopup *ngIf="sureToDelStatus" (closeComfirmPopupThread)="closeMe($event);"></app-confirmationpopup>