$textcolor: #2c2e2f;
.post-footer-btn-outer-wrap {
    float: left;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;

    .post-footer-btn-inner-wrap {
        padding-top: 3px !important;
        padding-bottom: 3px !important;
        width: 100%;
        float: left;
        border-bottom: none;
        padding-right: 0;
        padding-left: 0;
        border-top: 1px solid rgba(44, 46, 47, 0.15);
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;
    }
    .sharedPostooter{  border-top: 0px solid rgba(44, 46, 47, 0.15) !important;}
    .post_footeroption_btn {
        width: 33%;
        display: flex;
        justify-content: center;
        position: relative;
        align-items: center;
        height: 100%;
        .post_footer_inner_btn_wrapper {
            display: flex;
            .icon_wrapper {
                margin-right: 5px;
                position: relative;
                top: -1px;
                img {
                    width: 18px;
                }
            }
            .post_footer_text_wrapper {
                font-weight: 500;
                font-size: 14px;
                color: #8c8c8c;
                cursor: pointer;
            }
        }
        .post_footer_count {
            position: relative;
            padding-left: 5px;
            margin-left: 5px;
            font-weight: 500;
            font-size: 14px;
            color: #8c8c8c;
            cursor: pointer;
            &:before {
                content: "";
                display: block;
                height: 12px;
                width: 1px;
                background-color: rgba(44, 46, 47, .4);
                position: absolute;
                left: 0;
                top: 1px;
            }
            &:hover {
                color: #f05050;
            }
        }
    }
}

.active {
    .icon_wrapper>.defaultt {
        display: none !important;
    }
    .icon_wrapper>.imp {
        display: block !important;
    }
    .icon_wrapper>.hoverr {
        display: none !important;
    }
    .post_footer_text_wrapper {
        color: #f05050 !important;
    }
}

.onhover {
    .icon_wrapper>.defaultt {
        display: block;
    }
    .icon_wrapper>.imp {
        display: none;
    }
    .icon_wrapper>.hoverr {
        display: none;
    }
    &:hover {
        .icon_wrapper>.defaultt,
        .defaultt {
            display: none;
        }
        .icon_wrapper>.hoverr,
        .hoverr {
            display: block;
        }
        .post_footer_text_wrapper {
            color: #f05050 !important;
        }
    }
}

.socialShareWrapper {
    position: absolute;
    top: 0px;
    z-index: 1;
    left: 0px;
    right: 0px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px 10px;
    overflow: hidden;
    border: 1px solid #66a9d5;
    li {
        font-size: 13px;
        color: #2c2e2f;
        font-weight: normal;
        float: left;
        width: 100%;
        cursor: pointer;
        a {
            display: flex;
            justify-content: flex-start;
            padding: 7px 0px;
            width: 100%;
            align-items: flex-end;
            padding-left: 15%;
            &:hover {
                color: #2c2e2f;
            }
            .copyIcon {
                background-color: #8c8c8c;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 12px;
                    height: 12px;
                    margin-right: 0px;
                }
            }
            span {
                width: 20px !important;
                height: 20px;
                border-radius: 100%;
                overflow: hidden;
                margin-right: 7px !important;
                img {
                    width: 100%;
                    height: 100%;
                    margin-right: 0px !important;
                    max-height: 100%;
                    max-width: 100% !important;
                    margin-top: 0px !important;
                }
            }
            .text {
                float: left;
                width: auto !important;
                border-radius: 0px;
                margin-right: 0px !important;
                padding-top: 2px;
            }
        }
        &:hover {
            background: #f5f7fa;
        }
    }
}

.socialShareArticle {
    width: 191px;
    left: 50%;
    margin-left: -95px;
    .text {
        color: $textcolor
    }
}

.comment_outer {
    background: #f5f7fa;
    padding: 10px;
    border-radius: 0 0 5px 5px;
    clear: both;
    border-top: 1px solid #ccc;
    .writecomment {
        width: 100%;
        float: none;
        display: block;
        position: relative;
        padding-left: 45px;
    }
    .comment-profile {
        width: 40px;
        height: 40px;
        float: left;
        margin: 0;
        overflow: hidden;
        position: absolute;
        left: 0px;
        border-radius: 100%;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .commentBoxWrapper {
        width: 100%;
        float: right;
        border: 1px solid rgba(44, 46, 47, 0.15);
        line-height: 21px;
        min-height: 39px;
        max-height: 100%;
        word-wrap: break-word;
        padding: 8px 36px 8px 10px;
        background-color: #fff;
        border-radius: 22px;
        textarea.placeholdercolor {
          line-height: 20px;
          padding-left: 5px;
          word-wrap: break-word;
          width: 95%;
          float: left;
          font-size: 14px;
          resize: none;
          // height: auto;
          // min-height: auto;
          height: 20px;
          min-height: 20px;
          overflow: hidden;
          border: none;
        }
        .comment_image_upload_wrapper {
            width: 27px;
            background-color: #eaeaea;
            z-index: 0;
            border-radius: 23px;
            height: 27px;
            bottom: 6px;
            position: absolute;
            right: 5px;
            label {
                transition: all ease-in-out 0.3s;
                width: 27px;
                height: 27px;
                background-color: #f7f8fa;
                border-radius: 50%;
                margin: 0px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                img {
                    width: 14px !important;
                }
            }
        }
    }
    .writecomment.clearfix.main-comment.comment-present {
        margin-bottom: 12px;
        position: relative;
    }
}

@media screen and (max-width:600px) {
    .socialShareArticle {
        width: auto;
        left: 0%;
        margin-left: 0px;
    }
}

@media screen and (max-width:480px) {
    .socialShareWrapper {
        left: 5px;
        right: 5px;
        li {
            a {
                padding-left: 10%;
            }
        }
    }
}

@media screen and (max-width:450px) {
    .post-footer-btn-outer-wrap {
        .post_footeroption_btn {
            .post_footer_inner_btn_wrapper {
                .post_footer_text_wrapper {
                    font-size: 12px;
                    text-align: center;
                    .icon_wrapper {
                        width: 16px !important;
                    }
                }
            }
        }
    }
}
