<div class="backdrop" *ngIf="(popup == 'number' || popup =='email' || popup == 'otp')">
</div>

<div id='socialLoginPopup' class="popup"
  [ngClass]="{'popup':true,'popup-mobile-view':isMobileView,'popup-small-heigt-screen':smallHeightView}"
  *ngIf="(popup == 'number' || popup =='email' || popup == 'otp')">
  <div *ngIf="popup=='number'" class="heading">
    Please provide Mobile
  </div>
  <div *ngIf="popup=='email'" class="heading">
    Please provide Email
  </div>
  <div *ngIf="popup=='otp'" class="heading">
    <div style="text-align: center;">
      <div style="font-size: 14px;padding: 5px 0;">OTP has been sent to </div>

      <!-- <div><span class="edit" (click)="editTarget()"> &#9998;</span>{{otpTargetInfo.target}}</div> -->
      <div>
        {{otpTargetInfo.target}}
         <span  class="abtedit " (click)="editTarget()">
           <img alt="Edit {{otpSentTo}}" src="assets/images/svg-three/profile_about/edit.svg" class="defaultt">
           <img alt="Edit {{otpSentTo}}" src="assets/images/svg-three/profile_about/f05050/edit.svg" class="hoverr">
         </span>
       </div>
    </div>
  </div>
  <div class="content">
    <div class="error-box" *ngIf="error!=''">

      <div> <span></span><span style="color: #f05050; font-size: 14px;">{{error}}</span>
      </div>


    </div>
    <div class="input-field">
      <div class="otp-target-input ">
        <input *ngIf="popup!='number'" (keyup.enter)="popup=='otp'?setOtpVarificationInfo():setOtpTargetInfo(false)" type="text"
          id='socialLoginPopupInput' placeholder={{placeholder}} [(ngModel)]="inputFromPopup">
        <app-mobileno   *ngIf="popup=='number'"  (emitter)="setMobileNumberAndCountryCode($event)" [className]="'socialLogin'"></app-mobileno>


      </div>
      <div *ngIf="popup=='otp'" class="otpControl mar15" style=" display: flex;justify-content: flex-end;">
        <div *ngIf="popup=='otp' && !shwResend" class="optCount"> {{countDisplay}}</div>
        <div class="optResend" *ngIf="shwResend && !(otpSentCount >=3) && popup == 'otp'" (click)="setOtpTargetInfo(true)"><span
            style="cursor: pointer">Resend Otp</span>
          </div>
        <div  [disabled]="count>0" class="otpSkip optverifyLater" [ngClass]="{'otpSkip':count>15}" *ngIf="popup == 'otp' && verificationType=='m'" (click)="verifyLater()"><span>Skip</span> </div>
      </div>
    </div>
    <div class="send-otp-button mar15" >
      <button *ngIf="popup != 'otp' && !showPreloader"  class="btn_forget"  (click)="setOtpTargetInfo(false)">
        <span >Submit</span>
        <span><img src="./assets/images/svg/preloader-25.svg" alt="" *ngIf="showPreloader" /></span>

      </button>
      <button *ngIf="popup=='otp' " class="btn_forget" (click)="setOtpVarificationInfo()">
        <span *ngIf="!showPreloader" >Verify</span>
        <span *ngIf="showPreloader"><img src="./assets/images/svg/preloader-25.svg" alt=""  /></span>
      </button>
      </div>
    <!-- <div *ngIf="showPreloader" class="submit-button">
      <button
        style="background : url(./assets/images/svg/preloader-25.svg); background-position: cover; background-size: 100% 100%;">
      </button></div> -->
    <div class="cancel-button mar15"><span style="cursor: pointer" (click)=resetVariables();closePopup();>Cancel</span></div>
  </div>
</div>
