.previewcourseDescription {
  float: left;
  width: 100%;
  border: 1px solid #dfe5eb;
  border-radius: 5px;
  background-color: #fff;
  -ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.05) !important;
  -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.05) !important;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.05) !important;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.05) !important;
}

.previewcourseDescription .previewhead {
  float: left;
  width: 100%;
  border-bottom: 1px solid #e9e9e9;
  padding: 15px;
}

.previewcourseDescription .previewhead h2 {
  color: #1c1c1c;
  float: left;
  width: 100%;
  font-size: 16px;
}

.previewcourseDescription .previewhead p {
  float: left;
  width: 100%;
  padding: 10px 0px;
  font-size: 14px;
  color: #2c2e2f;
}

.previewcourseDescription .previewheadtop {
  margin: 0px 15px;
  width: calc(100% - 30px);
  padding: 15px 0px;
}

.previewcourseDescription .previewheadmentor {
  padding: 15px 15px 0 15px;
  border-top: 1px solid #e9e9e9;
  width: calc(100% - 30px);
  margin: 0 15px;
  border-bottom: none;
}

.previewcourseDescription .descripption {
  float: left;
  width: 100%;
  padding: 15px;
  position: relative;
  border-bottom: 1px solid #e9e9e9;
}

.previewcourseDescription .descripption p {
  float: left;
  width: 100%;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}

.previewcourseDescription .descripption ul {
  float: left;
  width: 100%;
  list-style-type: none;
  margin-top: 10px;
}

.previewcourseDescription .descripption ul li {
  float: left;
  width: 100%;
  padding: 7px 0px 0 25px;
  text-decoration: none;
  position: relative;
  margin-bottom: 5px;
  color: black;
}

.previewcourseDescription .descripption ul li span {
  float: left;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  position: absolute;
  top: 6px;
  left: 0;
}

.previewcourseDescription .descripption ul li span img {
  width: 100%;
  height: 100%;
}

.previewcourseDescription .descripption ul li .hightlight {
  color: #000;
  font-weight: 500;
  float: none;
  position: relative;
  top: 0px;
  margin-right: 0px;
}

.previewcourseDescription .descripptionTop {
  margin: 0px 15px;
  width: calc(100% - 30px);
  padding: 15px 0px 25px 0px;
  border-bottom: none;
}

.previewcourseDescription .descripptionMentor {
  padding-bottom: 5px;
}

.previewcourseDescription .preDropdownwrapper {
  float: left;
  width: 100%;
  padding: 0px;
}

.previewcourseDescription .preDropdownwrapper .preDropdowInnernWrapper {
  float: left;
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
}

.previewcourseDescription .preDropdownwrapper .preDropdowInnernWrapper .head {
  float: left;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  cursor: pointer;
  border-radius: 3px 3px 5px 5px;
  overflow: hidden;
  border-bottom: 1px solid #e1e1e1;
}

.previewcourseDescription .preDropdownwrapper .preDropdowInnernWrapper .head h2 {
  font-size: 16px;
  color: #2c2e2f;
  width: 95%;
  float: left;
}

.previewcourseDescription .preDropdownwrapper .preDropdowInnernWrapper .head .downarrow {
  width: 12px;
  height: 12px;
  float: right;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.previewcourseDescription .preDropdownwrapper .preDropdowInnernWrapper .head .downarrow img {
  width: 100%;
  height: 100%;
}

.previewcourseDescription .preDropdownwrapper .preDropdowInnernWrapper .content {
  float: left;
  width: 100%;
  border-radius: 0px 0px 3px 3px;
  overflow: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.previewcourseDescription .preDropdownwrapper .preDropdowInnernWrapper .content ul {
  float: left;
  width: 100%;
  list-style-type: none;
  border: 1px solid #f7f7f7;
  background: #e1e1e150;
}

.previewcourseDescription .preDropdownwrapper .preDropdowInnernWrapper .content ul li {
  float: left;
  width: 100%;
}

.previewcourseDescription .preDropdownwrapper .preDropdowInnernWrapper .content ul li:hover {
  background: #f5f7fa;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.previewcourseDescription .preDropdownwrapper .preDropdowInnernWrapper .content ul li:last-child {
  border-bottom: none;
}

.previewcourseDescription .preDropdownwrapper .preDropdowInnernWrapper .content ul li .images {
  float: left;
  width: 16px;
  height: 16px;
}

.previewcourseDescription .preDropdownwrapper .preDropdowInnernWrapper .content ul li .leftImage {
  position: absolute;
  left: -27px;
  top: 15px;
}

.previewcourseDescription .preDropdownwrapper .preDropdowInnernWrapper .content ul li .leftImage img {
  width: 100%;
  height: 100%;
}

.previewcourseDescription .preDropdownwrapper .preDropdowInnernWrapper .content ul li .lock {
  float: right;
  right: 20px !important;
}

.previewcourseDescription .preDropdownwrapper .preDropdowInnernWrapper .content ul li .preview {
  cursor: pointer;
}

.previewcourseDescription .preDropdownwrapper .preDropdowInnernWrapper .content ul li p {
  float: left;
  margin: 0px 0px 0px 0px;
  width: 96%;
  font-size: 14px;
  color: #000;
  position: relative;
  top: 0px;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  margin-bottom: 5px;
}

.previewcourseDescription .preDropdownwrapper .preDropdowInnernWrapper .content ul li .detail {
  float: left;
  font-size: 13px;
  color: #1c1c1c;
  line-height: 18px;
  right: 45px;
  text-align: right;
}

.previewcourseDescription .preDropdownwrapper .preDropdowInnernWrapper .content ul li .tik {
  width: 16px;
  height: 13px;
  float: right;
  border-radius: 50%;
  text-align: center;
  padding: 1px 1px 0px 0px;
  position: absolute;
  right: 20px;
}

.previewcourseDescription .preDropdownwrapper .preDropdowInnernWrapper .content ul li .tik img {
  width: 100%;
  position: relative;
  left: 1px;
  top: 0px;
}

.previewcourseDescription .preDropdownwrapper .preDropdowInnernWrapper .content ul li .lock {
  width: 16px;
  height: 16px;
  float: right;
  position: absolute;
  right: 15px;
}

.previewcourseDescription .preDropdownwrapper .preDropdowInnernWrapper .content ul li .lock img {
  width: 100%;
  height: 100%;
}

.previewcourseDescription .preDropdownwrapper .preDropdowInnernWrapper .hidelist {
  height: 0px;
}

.previewcourseDescription .preDropdownwrapper .preDropdowInnernWrapper .showList {
  height: auto;
}

.contentHeight {
  height: auto;
}

.contentHeightZero {
  height: 0px;
}

.viewReportCard {
  width: 24px;
  height: 24px;
  -webkit-box-shadow: 0 1px 2px 1px rgba(44, 46, 47, 0.1);
          box-shadow: 0 1px 2px 1px rgba(44, 46, 47, 0.1);
  float: right;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 46PX;
  top: 12PX;
}

.viewReportCard img {
  width: 11px;
}

.rotateImg {
  -webkit-transform: rotate(90deg) !important;
          transform: rotate(90deg) !important;
}

.listInnerWrapper {
  float: left;
  width: 92%;
  padding: 15px 60px 15px 0px;
  border-bottom: 1px solid #f7f7f7;
  position: relative;
  margin-left: 8%;
  min-height: 40px;
  border-bottom: 1px solid #e1e1e1;
  cursor: pointer;
}

.seemoreMentor {
  max-height: 130px;
  overflow: hidden;
}

.seemore {
  color: #F05050;
  width: 100%;
  text-align: left;
  border-top: none;
  padding-top: 0px;
  cursor: pointer;
  font-size: 14px;
  position: absolute;
  top: 95px;
  left: 0px;
  padding: 5px 15px;
  background-color: #fff;
  bottom: 0px;
  border-radius: 0px 0px 5px 5px;
}

.profiledet {
  width: 50%;
  float: left;
  position: relative;
  margin-top: 5px;
  padding-left: 70px;
  height: auto;
  min-height: 80px;
  padding-right: 15px;
}

.profiledet .imgprofile {
  position: absolute;
  display: inline-block;
  height: 58px;
  width: 58px;
  float: left;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #eaeaea !important;
  left: 0;
  cursor: pointer;
  top: 0;
}

.profiledet .imgprofile img {
  float: left;
  width: 100%;
  height: 100%;
}

.profiledet .profilehead {
  font-weight: 500;
  display: block;
  font-size: 14px;
  text-transform: capitalize;
  color: rgba(44, 46, 47, 0.99);
  cursor: pointer;
}

.profiledet .profilestatus {
  display: block;
  font-size: 13px;
  color: #8c8c8c;
  text-transform: capitalize;
  overflow: hidden;
  line-height: 24px;
  height: 25px;
}

.liveStrteamingMentorName {
  color: #2c2e2f;
  font-size: 13px;
}

.redfollowbutton {
  background-color: #fff;
  color: #f05050;
  border: 1px solid #f05050;
  margin-top: 10px;
  height: 30px;
  line-height: 30px;
  font-weight: 500;
  font-size: 13px;
}

.redfollowbutton img {
  width: 12px;
  margin-right: 5px;
  margin-top: -3px;
}

.liveStreamDetailWrapper {
  width: 100%;
  color: #1c1c1c;
  float: left;
}

.liveStreamDetailWrapper .liveIcon {
  float: left;
  width: 34px;
  margin-right: 10px;
  font-size: 11px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #d81212), to(#fb2929));
  background: linear-gradient(0deg, #d81212 0, #fb2929 100%);
  color: #fff;
  padding: 2px;
  line-height: 14px;
  border-radius: 3px;
  height: 18px;
  text-transform: uppercase;
  text-align: center;
}

.liveStreamDetailWrapper .dote {
  width: 3px;
  margin: 2px 5px;
  float: left;
}

.liveStreamDetailWrapper .dote img {
  width: 100%;
}

.contentCount {
  width: auto !important;
  margin-right: 3px !important;
  position: static !important;
}

.freeTrialSrip {
  float: left;
  width: calc(100% - 30px);
  background: #0ec631;
  min-height: 44px;
  padding: 15px;
  border-radius: 4px;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  position: relative;
  position: relative;
  margin: 10px 15px;
}

.freeTrialSrip h2 {
  font-size: 14px;
  color: #fff;
  float: left;
  height: 100%;
  width: 100%;
  padding-right: 100px;
}

.freeTrialSrip button {
  height: 28px;
  border-radius: 14px;
  -webkit-box-shadow: 0px 1px 4.9px 0.1px rgba(51, 51, 51, 0.3);
          box-shadow: 0px 1px 4.9px 0.1px rgba(51, 51, 51, 0.3);
  background-color: #ffffff;
  border: none;
  background: #fff;
  font-size: 12px;
  color: #0ec631;
  font-weight: 500;
  top: 50%;
  padding: 0px 10px;
  margin-top: -14px;
  float: right;
  min-width: 90px;
  position: absolute;
  right: 15px;
}

.afterBuy {
  background-color: #f05050;
}

.afterBuy button {
  color: #f05050;
}

@media only screen and (max-width: 600px) {
  .previewcourseDescription {
    border-radius: 0 !important;
  }
}

@media only screen and (max-width: 560px) {
  .previewcourseDescription .preDropdownwrapper .preDropdowInnernWrapper .head h2 {
    width: 92%;
  }
  .listInnerWrapper {
    width: 100%;
    padding: 10px 60px 10px 30px;
    margin-left: 0;
  }
  .listInnerWrapper .images.leftImage {
    left: 7px !important;
  }
  .listInnerWrapper .viewReportCard {
    top: 6PX;
  }
  .previewcourseDescription .preDropdownwrapper {
    padding: 0px;
  }
  .profiledet {
    width: 100%;
  }
  .rightprofile {
    margin-top: 15px;
  }
}

@media only screen and (max-width: 640px) {
  .previewcourseDescription .descripption ul {
    margin-top: 0;
  }
  .previewcourseDescription .descripption {
    padding-top: 10px;
  }
  .previewcourseDescription .descripption p {
    font-size: 13px;
    line-height: 20px;
  }
  .seemoreMentor {
    max-height: 183px;
  }
  .profiledet {
    min-height: 70px;
  }
  .profiledet .profilestatus {
    display: none;
  }
  .seemore {
    bottom: 0;
    top: unset;
  }
}

.wrappcoursepopup {
  width: 400px;
  overflow: hidden;
  display: inline-block;
  position: fixed;
  margin: -300px auto auto;
  margin-top: -300px;
  margin-top: -300px;
  top: 50%;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 999;
  border-radius: 5px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  height: auto;
  bottom: unset;
}

.wrappcoursepopup .popup_inner {
  position: relative;
  width: 100%;
  height: 100%;
  float: left;
  min-height: 344px;
}

.wrappcoursepopup .inner_center {
  padding: 0px;
  margin-bottom: 75px;
  float: left;
}

.wrappcoursepopup .popup_heading {
  background: #fff;
  border-bottom: none;
  height: 34px;
  width: auto;
  float: right;
}

.wrappcoursepopup .popup_heading .close_div .defaultt, .wrappcoursepopup .popup_heading .close_div .hoverr {
  width: 16px !important;
  opacity: 0.25;
  top: -5px;
}

.post_profile {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 0;
}

.post_profile p {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.48;
  letter-spacing: normal;
  text-align: left;
  color: #00a1f2;
  margin-bottom: 10px;
}

.post_profile h2 {
  font-size: 22px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #2c2e2f;
  word-break: break-all;
}

.expire_heading {
  font-size: 14px;
  width: 100%;
  float: left;
  text-align: center;
  padding: 7px 15px;
  background: #0ec632;
  color: #fff;
}

.expire_heading span {
  display: inline-block;
}

.expire_heading span img {
  width: 16px;
}

.red_expire {
  background: #f05050 !important;
}

.red_expire a {
  text-decoration: underline !important;
  cursor: pointer;
}

.red_expire a:hover {
  color: #fff;
}

.post_outer .report_popup {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.wrapper_optins {
  width: 100%;
  float: left;
  padding: 15px;
}

.wrapper_optins .inner_wrap {
  border: 1px solid #cccccc;
  border-radius: 10px;
  padding: 17px 15px;
  background-color: rgba(223, 229, 235, 0.5);
  margin-bottom: 10px;
  color: rgba(44, 46, 47, 0.8);
  font-size: 16px;
}

.wrapper_optins .inner_wrap .img_wrap {
  float: left;
  margin-right: 15px;
  display: inline-block;
  width: 23px;
}

.wrapper_optins .inner_wrap .img_wrap .img1 {
  width: 23px;
}

.wrapper_optins .inner_wrap .img_wrap .img2 {
  width: 22px;
  margin-top: -3px;
}

.wrapper_optins .inner_wrap .img_wrap .img3 {
  width: 16px;
  margin-top: -3px;
}

.wrapper_optins .inner_wrap .img_wrap .img4 {
  width: 19px;
  margin-top: -4px;
}

.wrapper_optins .inner_wrap .write_tick {
  float: right;
  display: inline-block;
}

.wrapper_optins .inner_wrap .write_tick img {
  width: 17px;
}

.wrapper_optins .inner_wrap .digit {
  color: #2c2e2f;
  font-weight: 500;
  margin-right: 5px;
}

.heading_top {
  line-height: 47px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
  color: #000000;
}

.heading_top span {
  display: inline-block;
  float: left;
  margin-right: 10px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
}

.heading_top span img {
  width: 100%;
  height: 100%;
}

.footer_wrap_profile {
  width: 100%;
  float: left;
  padding: 20px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.footer_wrap_profile .wrap_price {
  display: inline-block;
  float: left;
}

.footer_wrap_profile .wrap_price .org_price {
  display: inline-block;
  position: relative;
  float: left;
  margin-bottom: 8px;
}

.footer_wrap_profile .wrap_price .org_price img {
  width: 11px;
  margin-top: -2px;
}

.footer_wrap_profile .wrap_price .org_price::before {
  content: '';
  position: absolute;
  border: 1px solid gray;
  top: 7px;
  left: 0;
  right: 0;
  -webkit-transform: rotate(11deg);
          transform: rotate(11deg);
}

.footer_wrap_profile .wrap_price .disc_price {
  display: block;
  float: left;
  font-size: 18px;
  width: 100%;
  font-weight: 500;
}

.footer_wrap_profile .wrap_price .disc_price img {
  width: 14px;
  margin-top: -3px;
}

.button24x7.redColorButton.fright {
  padding: 0px 25px;
  line-height: 34px;
  height: 42px;
  width: 140px;
}

.button24x7.redColorButton {
  background-color: #fff;
  color: #f05050;
  border: 1px solid #f05050;
}

.button24x7.redfollowActive {
  background-color: #f1f1f1;
  color: #343434;
  border: 1px solid #f1f1f1;
}

.popup.courseNotPublishYet .inner_center {
  padding: 0px;
}

.popup.courseNotPublishYet .wrapper_optins {
  padding: 0px;
}

.popup.courseNotPublishYet .wrapper_optins .inner_wrap {
  border-radius: 0px;
  border: none;
  text-align: center;
  margin: 0px 0px 0px 0px;
  font-size: 18px;
  font-weight: 400;
  padding: 28px 15px;
}

.popup.courseNotPublishYet .wrapper_optins .inner_wrap .hedingonly {
  font-size: 16px;
  font-weight: 400;
}

.popup.courseNotPublishYet .wrapper_optins .inner_wrap .dateonly {
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
}

.popup.courseNotPublishYet .footer_wrap_profile {
  text-align: center;
}

.popup.courseNotPublishYet .footer_wrap_profile button {
  padding: 0px 25px;
  line-height: 34px;
  height: 42px;
  width: 140px;
}

@media only screen and (max-width: 420px) {
  .wrappcoursepopup {
    width: calc(100% - 20px);
    margin-top: 0;
    top: 10px;
    left: 10px;
    right: 10px;
  }
}

@media only screen and (max-width: 991px) {
  .previewcourseDescription + .previewcourseDescription {
    margin-top: 10px !important;
  }
}

.download-hover {
  border-radius: 10px;
  background-image: url(../../../../assets/images/svg/download-doc.svg);
}

.download-hover:hover {
  background-color: whitesmoke;
  background-image: url(../../../../assets/images/svg/download-doc.svg);
}
/*# sourceMappingURL=course-description.component.css.map */