$backgroundgray : #e6e6e6;
$themeblue : #F05050;
$themegray : #f5f7fa;
$textcolor : #2c2e2f;
$textgrey : #8c8c8c;
$stroke : #dfe0e8;
.filterprofile{margin-bottom: 15px;
  overflow: hidden;
  .filterhead{
    padding: 10px;
    font-weight: 500;
    font-size: 14px;
  }
  .stylish-input-group{
    padding: 15px 15px 0px 15px;
    .input-group-addon{
      padding: 0px 0px 0px 0px;
      background-color: #fff;
      border-right: 0px solid  $stroke;
      button {
        padding: 0 5px;
        background-color: transparent;
        border: none;
        height: 25px;
        line-height: 25px;
      }
      .glyphicon-search {
        color:  $textgrey;
      }
    }
    .form-control{box-shadow: none;
      padding-left: 5px;
      height: 27px;
      line-height: 28px;
      border-left: none;
      &:focus {
        border-color: $stroke;
      }
    }
  }
  .people_list{
    float: left;
    width: 100%;
    background-color: #fff;
    padding: 10px;
    height: 150px;
    .post_profileContent{
      float:left;
      width:100%;
      ul{
        float: left;
      }
      li{
        border-bottom: 0px solid #ccc;
        padding: 0px;
        margin-bottom: 5px;
        padding-top: 0px;
         &:last-child{
           margin-bottom: 0px;
         }
        .attach_list_type{
          float: left;
          width: 100%;
          padding-left: 30px;
          span{
            float: left;
            width: 100%;
            margin: 2px 0px 0px 0px;
            .mainlabel{
              font-weight: 400;
              line-height: 13px;
              color: #2c2e2f;
              .checkbox {
                width: 13px !important;
                height: 13px !important;
                img {
                  height: 9px;
                  width: 8px;
                }
              }
            }
          }
        }
      }
      li:first-child{
        // padding-top: 8px;
      }
    }
  }
  .fieldlist {
    margin: 0 0 -1em;
    padding: 0;
    li {
      list-style: none;
      padding-bottom: 10px;
      line-height: 30px;
       &:last-child{
         padding-bottom: 0px;
       }
      .k-radio, input.k-checkbox {
        display: inline;
        opacity: 0;
        width: 0;
        margin: 0;
        -webkit-appearance: none;
        overflow: hidden;
        position: absolute;height: auto;
      }
      .k-checkbox-label, .k-radio-label {
        display: inline-block;
        position: relative;
        padding-left: 22px;
        vertical-align: text-top;
        line-height: 14px;
        cursor: pointer;
        border-style: solid;
        border-width: 0;
      }

      .k-checkbox-label, .k-radio-label {
        line-height: 13px;
        color: #2c2e2f;
        font-size: 12px;margin-bottom: 0px;
        font-weight: normal;
      }
      .k-radio-label:before {
        border-color: $stroke;
        border-radius: 50%;
        background-color: #fff;
        border-width: 1.5px;
      }
      .k-radio-label:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 14px;
        height: 14px;
        border-style: solid;
      }
      .k-radio:checked + .k-radio-label:before, .k-radio:checked + .k-radio-label:hover:before {
        border-color:  $themeblue;
      }
      .k-radio:checked + .k-radio-label:after {
        content: "";
        width: 6px;
        height: 6px;
        position: absolute;
        top: 3px;
        left: 3px;
      }
      .k-radio:checked + .k-radio-label:after {
        top: 4px;
        left: 4px;
      }
      .k-radio:checked + .k-radio-label:after {
        background-color:  $themeblue;
        border-radius: 50%;
      }
    }

  }
}
.mainlabel{
  line-height: 25px !important;
  font-size: 14px;
  font-weight: 500;
}
.filterprofile {
  .mainlabel{
    position:relative;
    margin-bottom: 0px;
    display: block;
    .checkboxhide	{
      display:block;
      position: relative;
      z-index: 2;
      opacity: 0;
      float:left;
      height:auto;
      width:20px;
      margin-right:8px;
      cursor: pointer;
    }
    .checkbox{
      position:absolute;
      left:2px;
      top:3px;
      z-index: 0;
    }
  }
}
.peopleknow_outer.filterprofile{
  margin-top:0px;
  margin-bottom:15px !important
}
.filterprofile{
  h6{
    background: #f5f7fa;
    margin-bottom: 0px !important;
  }
  .mainlabel{
    color:$textcolor;
    cursor: pointer;
  }
}



// mveiw
.mview_filter{
  display: none;
  .form-group {
  display: inline-block;
  margin-bottom: 15px;
  margin-right:15px;
}

.form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group label {
  position: relative;
  cursor: pointer;
}


.form-group label:before {
  // content:'';
  // -webkit-appearance: none;
  // background-color: transparent;
  // border: 2px solid #0079bf;
  // box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  // padding: 10px;
  // display: inline-block;
  // position: relative;
  // vertical-align: middle;
  // cursor: pointer;
  // margin-right: 5px;
}

.form-group input:checked + label:after {
  // content: '';
  // display: block;
  // position: absolute;
  // top: 2px;
  // left: 9px;
  // width: 6px;
  // height: 14px;
  // border: solid #0079bf;
  // border-width: 0 2px 2px 0;
  // transform: rotate(45deg);

}
.form-group input:checked + label{
  color:#f05050;
}
}

@media only screen and (max-width:992px){
 .about-profile {
    margin-bottom: 40px;

}
  .peopleknow_outer.filterprofile {
      margin-bottom: 10px !important;
  }
  .web_filter{
    display: block;
  }
  .mview_filter{
    display: none;
  }
  .people_list{
    height: auto !important;
    padding: 10px;
  .web_filter{
    .fieldlist{
      float: left;
      li{
        width: auto;
        float: left;
        margin-right: 10px;
      }
    }
  }
}
}
@media only screen and (max-width:600px){
  .peopleknow_outer.filterprofile{
    border-radius:0 !important;
    margin-bottom: 10px !important;
    .widgetheading.top_heading{
      border-radius: 0 !important;
    }
  }
}
@media only screen and (max-width:360px){
  .people_list{
    padding: 10px 5px !important;
  .web_filter{
    .fieldlist{
      li{
        margin-right: 5px;
      }
    }
  }
}
}
