<div class="col-md-12 col-sm-12 payment_wrapper" >
 <div class="row">
    <div class="paymenttransaction_filter_top">
        <ul class="analytics_fl clearfix">
            <li [ngClass]= "{'active' : paymentTab === 1 }" (click)="paymentTabClick(1);">Wallet</li>
            <li [ngClass]= "{'active' : paymentTab === 2 }" (click)="paymentTabClick(2);">Purchase History</li>
            <li class="filter-analytics" >
                <Select  class="analytics_s" >
                <option value="0">Date</option>
                <option>7 days</option>
                <option>30 days</option>
                </Select>
               <span class="glyphicon glyphicon-triangle-bottom"></span>
            </li>
        </ul>
     </div>


     <div class="col-md-12 outer_wrapper" *ngIf="paymentTab === 1">
        <div class="inner_wapper_wallet clearfix">
          <div class="wallet_amount clearfix">
            <span><img src="./assets/images/svg/wallet.svg" alt="study24x7"></span>
            <span><img src="./assets/images/svg-one/rupee.svg" alt="study24x7">870</span><br>
            <span class="amt">Your Wallet Balance</span>
          </div>
           <ul>
             <li class="clearfix"><span class="bonus_add"><span>Bonus added for promogift</span><br><span>4th Jul 2018 06:42:24PM</span></span>
             <span>Transaction ID 19362935093</span>
             <span class="expire"><span><img src="./assets/images/svg-one/rupee.svg" alt="study24x7">70</span><span>added</span><span>Expiration Date 4th Jul 2018</span></span></li>
             <li class="clearfix"><span class="bonus_add"><span>Bonus added for promogift</span><br><span>4th Jul 2018 06:42:24PM</span></span>
             <span>Transaction ID 19362935093</span>
             <span class="expire"><span><img src="./assets/images/svg-one/rupee.svg" alt="study24x7">70</span><span>added</span><span>Expiration Date 4th Jul 2018</span></span></li>
             <li class="clearfix"><span class="bonus_add"><span>Bonus added for promogift</span><span>(Sketches to Interactive Prototypes)</span><span>4th Jul 2018 06:42:24PM</span></span>
             <span>Transaction ID 19362935093</span>
             <span class="expire"><span><img src="./assets/images/svg-one/rupee.svg" alt="study24x7">70</span><span class="used">used</span><span>Expiration Date 4th Jul 2018</span></span></li>
           </ul>
        </div>
     </div>
     <div class="col-md-12 outer_wrapper" *ngIf="paymentTab === 2">
       <div class="inner_wapper clearfix">
         <ul class="clearfix">
           <li class="clearfix">
             <img src="./assets/images/icons/Checkout_Done_invoice.jpg" alt="study24x7">
             <span class="trans"><span>Mobile App Design:From Sketches</span><br><span>Transaction ID 19362935093</span></span>
             <span class="trans_time"><span class="rupee_trans"><img src="./assets/images/svg-one/rupee.svg" alt="study24x7">170</span><br><span>4th Jul 2018 06:42:24PM</span></span>
             <span><button>Payment Receipt</button></span>
           </li>
           <li class="clearfix">
             <img src="./assets/images/icons/Checkout_Done_invoice.jpg" alt="study24x7">
             <span class="trans"><span>Mobile App Design:From Sketches</span><br><span>Transaction ID 19362935093</span></span>
             <span class="trans_time"><span><img src="./assets/images/svg-one/rupee.svg" alt="study24x7">170</span><br><span>4th Jul 2018 06:42:24PM</span></span>
             <span><button>Payment Receipt</button></span>
           </li>
           <li class="clearfix">
             <img src="./assets/images/icons/Checkout_Done_invoice.jpg" alt="study24x7">
             <span class="trans"><span>Mobile App Design:From Sketches</span><br><span>Transaction ID 19362935093</span></span>
             <span class="trans_time"><span><img src="./assets/images/svg-one/rupee.svg" alt="study24x7">170</span><br><span>4th Jul 2018 06:42:24PM</span></span>
             <span><button>Payment Receipt</button></span>
           </li>

         </ul>
       </div>
     </div>
    </div>
</div>
