<div class="_left_point_panel _outer">
  <div class="_heading_panel">
     Point System
  </div>
  <div class="_center_panel">
    <ul>
      <li (click)="sendTabMessage(1)" [ngClass]="{'activeTab': activeTableft == 1}">
        <div class="_point_option">
          <!-- <span class="_icon_point">

          </span> -->
          My Points</div>
      </li>
      <li (click)="sendTabMessage(2)" [ngClass]="{'activeTab': activeTableft == 2}">
        <div class="_point_option">
          <!-- <span class="_icon_point"><img src="./assets/images/pointicon.png" alt=""></span> -->
          How to earn points ?</div>
      </li>
      <!-- <li >
        <div class="_point_option"><span class="_icon_point"><img src="./assets/images/pointicon.png" alt=""></span>FAQ</div>
      </li> -->


    </ul>

  </div>
</div>
