
@import '../../../app/sass/abstracts/variables';
/* @import 'app/sass/abstracts/fontfamily'; */

.pdng_left{
  padding-left:0;
}
.rightmenu_fixed{
  float: left;
  width: 278px;
}
.rightmenu_fixed.fixedleft{
      position: fixed;
      width: 278px;
      float: left;
}
.cursolnoneactivity{
 cursor: context-menu !important;
text-decoration: none !important;
   a{
     color: $textcolor !important;
       &:hover{
         color: $textcolor !important;
       }
      b{
          color: $textcolor !important;
        &:hover{
          color: $textcolor !important;
        }
      }
   }
}
.mainheading{
position: relative;
}

@media screen and (max-width:991px){
  .maindiv.saved-post-main.notification-wrap {
    margin-bottom: 55px;
}
      .mainheading{
        padding-left:40px !important;
      }
}
