/* ==========================================================================
  Common variables
  ========================================================================== */
/**
*
* DO NOT use these variables directly in components.
* Assign them to component specific variables
*
*/
/* font-family */
/* font-family*/
/* Colors */
/* Border radius */
/* ==========================================================================
  Browser support
  ========================================================================== */
/* ==========================================================================
  Component specific variables
  ========================================================================== */
/* Typography
   ========================================================================== */
/* $baseFontFamily: Arial, sans-serif; */
/* $baseSpacing: $baseLineHeight+em; */
/* $baseTextColor: $black; */
/* Type Color */
/* $typeHighlight: $blue;
$typeLowlight: $lightGrey; */
/* Link
   ========================================================================== */
/* $linkColor: $blue;
$linkHoverColor: $lightBlue; */
/* Background
   ========================================================================== */
/* $bgBasic: #fff; */
/* Box
   ========================================================================== */
/* Contour */
/* $boxBasicBorderRadius: $borderRadiusDefault; */
/* Box foot */
/* $boxFootDivider: $blue; */
/* Divider
   ========================================================================== */
/* $dividerColor: $blue; */
/* List
   ========================================================================== */
/* $listInlineDividerBorder: $lightGrey;
$listBorder: $lightGrey; */
/* Table
   ========================================================================== */
/* $tableBorderColor: $blue; */
/* Form
   ========================================================================== */
/* $labelLeftWidth: 30%;
$formFieldBorder: 1px solid $grey;
$placeholderText: $lightGrey; */
/* Button
   ========================================================================== */
/* $btnDefaultBg: #ddd;
$btnDefaultBorder: $lightGrey; */
/* Template
   ========================================================================== */
/* $skipLinkBg: $black;
$bodyBg: #fff;
$pageWidth: 997px; */
/* header */
/* $headerBgStop1: #09456a;
$headerBgStop2: #02587e;
$contentBg: #fff;
$contentWidth: 960px; */
/* footer */
/* $footerBorder: $lightGrey; */
/* @import 'app/sass/abstracts/fontfamily'; */
.pdng_left {
  padding-left: 0;
}

.rightmenu_fixed {
  float: left;
  width: 278px;
}

.rightmenu_fixed.fixedleft {
  position: fixed;
  width: 278px;
  float: left;
}

.cursolnoneactivity {
  cursor: context-menu !important;
  text-decoration: none !important;
}

.cursolnoneactivity a {
  color: #2c2e2f !important;
}

.cursolnoneactivity a:hover {
  color: #2c2e2f !important;
}

.cursolnoneactivity a b {
  color: #2c2e2f !important;
}

.cursolnoneactivity a b:hover {
  color: #2c2e2f !important;
}

.mainheading {
  position: relative;
}

@media screen and (max-width: 991px) {
  .maindiv.saved-post-main.notification-wrap {
    margin-bottom: 55px;
  }
  .mainheading {
    padding-left: 40px !important;
  }
}
/*# sourceMappingURL=activitylog.component.css.map */