.wrapper {
    float: left;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 15px;
    .innerWrapper {
        float: left;
        width: 100%;
        .contentWrapper {
            float: left;
            width: 100%;
            padding: 15px;
            h3 {
                font-size: 16px;
                color: #2c2e2f;
            }
            .innerContentWrapper {
                float: left;
                width: 100%;
                margin-top: 20px;
                ul {
                    float: left;
                    width: 100%;
                    list-style-type: none;
                    li {
                        float: left;
                        width: 100%;
                        position: relative;
                        padding-left: 30px;
                        font-size: 14px;
                        color: #2c2e2f;
                        margin-bottom: 15px;
                        padding-top: 5px;
                        font-weight: 500;
                        .tik {
                            position: absolute;
                            left: 0px;
                            background-color: #66a9d5;
                            width: 20px;
                            height: 20px;
                            border-radius: 100%;
                            text-align: center;
                            top: 2px;
                            img {
                                width: 10px;
                                position: relative;
                                top: 2px;
                            }
                        }
                    }
                    .buttonWrapper {
                        padding-left: 0px;
                        float: left;
                        margin: 10px 0px 0px 0px;
                        button {
                            float: left;
                            border-radius: 30px;
                            background-color: #f05050;
                            color: #fff;
                            font-size: 14px;
                            border: none;
                            height: 35px;
                            line-height: 35px;
                        }
                    }
                    .search {
                        padding-left: 0px;
                        border: 1px solid #66a9d5;
                        border-radius: 30px;
                        padding: 10px 15px;
                        margin: 15px 0px 5px 0px;
                        position: relative;
                        color: #2c2e2fa1;
                        cursor: pointer;
                        .downArrow {
                            background-color: transparent;
                            position: absolute;
                            top: 10px;
                            left: 88%;
                            opacity: .6;
                        }
                        .lisoutertWrapper {
                            position: absolute;
                            left: -1px;
                            right: -1px;
                            background: #fff;
                            border: 1px solid #66a9d5;
                            border-top: none;
                            top: 100%;
                            border-bottom-right-radius: 10px;
                            border-bottom-left-radius: 10px;
                            z-index: 1;
                            overflow: hidden;
                            .listInnerWrapper {
                                float: left;
                                width: 100%;
                                position: relative;
                                max-height: 200px;
                                ul {
                                    li {
                                        padding: 10px 15px;
                                        margin-bottom: 0px;
                                        border-top: 1px solid #f7f7f7;
                                        transition: all .2s;
                                        &:hover {
                                            background: #f5f7fa;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .openDropDown {
                        border-bottom-left-radius: 0px;
                        border-bottom-right-radius: 0px;
                        border-top-right-radius: 10px;
                        border-top-left-radius: 10px;
                    }
                    .center {
                        text-align: center;
                        button {
                            float: none;
                        }
                    }
                }
            }
        }
        .imageWrapper {
            float: left;
            width: 100%;
            img {
                width: 100%;
            }
        }
    }
}

.border-red {
    border-color: #f05050 !important;
    background: #f3cfcf !important;
}