<div class="recommend_page_cont" *ngIf="pageSugg.length !=0;">
  <h6>Suggested Pages</h6>
  <div class="container" [perfectScrollbar]="config" style="position:relative;">
    <div class="page_container" *ngFor="let imgId of pageSugg; let i = index">
      <span class="image" routerLink="/page/{{imgId.ID}}">
        <img src="{{imgId.PROFILE_PHOTO_PATH}}" alt="study24x7">
      </span>
      <a title="{{imgId.TITLE}}" class="pagename" routerLink="/page/{{imgId.ID}}">
        {{imgId.TITLE}}
      </a>
      <span class="follower" *ngIf="imgId.PAGE_FOLLOW_COUNT!=0">
        {{imgId.PAGE_FOLLOW_COUNT}} followers
      </span>
      <!--done by vijay-->
      <button type="button" class="whiteColorButton button24x7" name="button" (click)="pageFollowUnFollow(imgId.PAGE_UUID, i)" [ngClass]="{'following': imgId.followStatus}">
        <span *ngIf="!imgId.followStatus">Follow</span>
        <span *ngIf="imgId.followStatus" class="follow_sugg">Following</span>
      </button>
      <!--- end by vijay-->
    </div>
  </div>
    <div routerLink="/profile/{{username}}/#Pages:suggestedpages" class="footer_heading">
        View all &nbsp;
        <span>
            <img alt="study24x7" class="greater" src="assets/images/svg-three/greater.svg">
        </span>
    </div>
</div>
