.mypointmain{
float: left;
width: 100%;
max-height: 350px;
border-radius: 5px;
box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.05);
.headingDiv{
  width: 100;
background-color: rgba(255, 255, 255, 0.5);
height: 50px;
border-radius: 5px 5px 0px 0px;
border-bottom: solid 1px #dfdfdf;
padding: 0 15px;
h2, span{
  font-size: 14px;
  font-weight: 500;
  line-height: 50px;
  color: rgba(0, 0, 0, 0.9);}
  span{float: right;padding-left: 24px;position: relative;

  }
  ._pfimg{
    position: absolute;
    width: 18px;
     height: 18px;
     box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
     background-color: #ffffff;
     left: 0;
      top: 16px;
      border-radius: 50%;
      padding-left: 0px;
    img{
        width: 100%;
        float: left;
    }
  }
  .pointIcon{


background-image: url("./../../../../assets/images/leaderboard/points.svg");
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
padding-left: 0px;
width: 18px;
height: 18px;
display: block;
  }


}
  .rankListingMian{
    padding-top: 10px;
    max-height: 260px;
    overflow-y: scroll;
    border-radius: 0px;
}
  .rankListing {
    font-size: 13px;
    padding: 0px 15px;
    .rankListingRow {
    padding: 10px 34px 0px 0px;
    border-bottom: 1px solid transparent;
    height: 30px;
    font-size: 13px;
    .profileImgSec {width: 20px;height: 20px;display: none;
      .profileImg{
        width: 22px;
        height: 16px;
      background-image: url("./../../../../assets/images/docc.svg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center;
      // img{
    }
    .profileImg1{

    }
}
   .myRank{width:100%;
     p{float: left;
        width: 100%;
        margin: 0px;
        color:
        rgba(0, 0, 0, 0.9);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin-bottom: 5px;
        font-weight:normal;

      }
       span{
         float: left;
          font-size: 12px;
          color:#222;
          opacity: 0.5;
       }
   }
   .pointNo{
    right: 0px;color: #009c05;}
    .red_font{
      right: 0px;color: #f50101;}

}
}
}
.footer_heading {
    bottom: 0;
    padding: 10px !important;
    color: #8c8c8c;
    background-color: #fff;
    cursor: pointer;
    width: 100%;
    text-align: center;
    font-size: 14px;
    border-top: 1px solid #e9e9e9;
    float: left;
    font-weight: 400;
    border-radius: 0px 0px 5px 5px;
    .greater {
    width: 6px;
    position: relative;
    top: -2px;
}
&:hover{
      background-color: #f5f7fa;
}
}
@media only screen and (max-width:992px){
  .listing-sec{max-height: 382px;margin-bottom: 15px;}
.right_stickytab{display: block !important;}
.mobile_res{
  // margin-bottom: 70px;
}


}
