.mypointmain .rankListingMian { padding-top: 0px; border-radius: 5px; }

.mypointmain .rankListing { font-size: 14px; padding: 0px 10px; }

.mypointmain .rankListing .rankListingRow { padding: 15px 34px 0px 28px; border-bottom: 1px solid transparent; }

.mypointmain .rankListing .rankListingRow .profileImgSec { width: 20px; height: 20px; }

.mypointmain .rankListing .rankListingRow .profileImgSec .profileImg { width: 18px; height: 18px; }

.mypointmain .rankListing .rankListingRow .myRank { width: 100%; }

.mypointmain .rankListing .rankListingRow .myRank p { float: left; width: 100%; margin: 0px; color: rgba(0, 0, 0, 0.9); text-overflow: ellipsis; white-space: nowrap; overflow: hidden; margin-bottom: 5px; }

.mypointmain .rankListing .rankListingRow .myRank span { float: left; font-size: 12px; color: #222; opacity: 0.5; }

.mypointmain .rankListing .rankListingRow .pointNo { right: 0px; color: #009c05; }
