$bglight: #dfe5eb;
.zero-padding{
  padding:0 !important;
}
.newSearchBox{
  width: 330px;
  background-color: #ffffff;
  float: left;
  position: relative;
  padding-top: 3px;

  .addShadow{
    box-shadow: 0 0 8px 0 rgba(44, 46, 47, 0.18);
    .searchInpulWrapper{
    border-radius: 5px !important;
    }
  }

  ul.mainSearchUlWrapper{
    border-radius: 5px;
    position: absolute;
    // border: solid 1px#bebebe40;
    left: 15px;
    background-color:#dfe5eb40;

    li.searchInpulWrapper{
      border-radius: 5px 0px;
      width: 330px;
      line-height: 35px;
      input{
        border-radius: 5px;
        border: solid 1px #bebebe;
        background-color: rgba(223, 229, 235, .4);
        font-family: Roboto;
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        line-height: 1.29;
        text-align: left;
        border: none;
        padding-left: 35px;
        padding-right:27px;
        color: #2c2e2f;
        border: solid 1px #bebebe40;
        &:focus{
          border: 1px solid #bebebe40;
          background-color: #fff
        }
      }
      img{
        position: absolute;
        left: 10px;
        top: 11px;
        width: 15px;
        height: 15px;
      }
    }
    .searchListWrapper{
      float: left;
      width: 100%;
      max-height: 483px;
      overflow: auto;
      position: relative;
    ul.searchList{
      position: static;
      background-color:#fff;
      float: left;
      width: 100%;
      padding: 0px 10px 0px 10px;
      border-top: 1px solid  #e1e1e1;
       &:first-child{
         border-top: 1px solid  #e1e1e1;
       }

      li.searchInnerHead{
      font-family: Roboto;
      font-size: 13px;
      padding: 15px 10px 10px 10px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.38;
      letter-spacing: normal;
      text-align: left;
      color: #2c2e2f;
      .searchListViewAll{
        font-family: Roboto;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color:#0f98df;
        float: right;
        cursor: pointer;
        &:hover{
          text-decoration: underline;
        }
      }

      }

      .searchInnerList{
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.48;
        letter-spacing: 0.14px;
        text-align: left;
        color: #2c2e2f;
        float: left;
        width: 100%;
        padding: 10px;
        cursor: pointer;
          &:hover{
            border-radius: 5px;
            background-color: rgba(223, 229, 235, .6);
          }
          &:last-child{
            margin-bottom: 10px;
        }
      }
    }
  }

    .viewAllSearchList{
      border-radius:0 0 5px 5px;
      background-color:#fff;
      float: left;
      width: 100%;
      padding:0 10px 10px;
      cursor: pointer;
      p{
        font-family: Roboto;
        font-size: 15px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        color:#2c2e2f;
        width: 307px;
        height: 36px;
        border-radius: 5px;
        background-color:rgba($bglight, 0.6);
        text-align: center;
        line-height: 36px;
         span{
           color:#108ac7;
         }
      }
    }


  }
  .headIconWraper{
        width: 16px;
        height: 16px;
        float: left;
        margin-right: 10px;
        position: relative;
        top: 2px;
        background-size: 100% 100%;
        img.recentImg{
          width: 100%;
          height: 100%;
          margin-top: -4px;
        }
  }

}
.mainSearchUlWrapper{
  .recent_search{
    padding: 0px 10px !important;
   border-radius: 0 0 5px 5px;
  }
}
.addShadow{
  input{
    border-radius: 5px 5px 0 0;
  }
}
.darkbackground.bgadd{
  position: fixed;
  z-index: 5 !important;
  animation: fadeIn 180ms ease-out 2s 1 normal forwards;
}

// responsive search
@media only screen and (max-width:1180px){
  .interest_search{
  margin-left: 80px;
  }
}
@media only screen and (max-width:991px){

}
@media only screen and (max-width:767px){
  // .newSearchBox{
  //   width: 300px;
  //   ul.mainSearchUlWrapper li.searchInpulWrapper{
  //     width: 100%;
  //   }
  // }
}
@media only screen and (max-width:600px){}
@media only screen and (max-width:600px){
.newSearchBox ul.mainSearchUlWrapper .searchListWrapper.searchListWrapperLogin{
  position: absolute;
  left: 3%;
  width: calc(100% - 6%);
  top: 45px;
  ul.searchList:first-child{
    border-top: none;
  }
}
.newSearchBox{
  position: unset;
  ul.mainSearchUlWrapper{
  position:unset;
    }
  }
  .newSearchBox{
    width: 55%;
    ul.mainSearchUlWrapper{
    li.searchInpulWrapper{
     position: relative;
     width: 100%;
  }
  .viewAllSearchList p{
    width: 100%;
  }
}
}

}
@media only screen and (max-width:480px){
  .newSearchBox{
    width: 210px;
    ul.mainSearchUlWrapper li.searchInpulWrapper{
      width: 100%;
  }
}
}
@media only screen and (max-width:420px){
  .newSearchBox{
    width: 160px;
    ul.mainSearchUlWrapper li.searchInpulWrapper{
      width: 100%;
  }
}
}
@media only screen and (max-width:380px){
  .newSearchBox{
    width: 140px;
}
}
@media only screen and (max-width:340px){
  .newSearchBox{
    width: 120px;

}
}
