<header class="header_background">
    <!-- <div style="width: 1507px;position: relative;text-align: left;"> -->
    <div [ngClass]="{'winwidth': resize_windowhead }" id="someDivhead">
        <!-- <div class="background_shadow" *ngIf="showbg" (click)="hide_bg_shadow()"></div> -->
        <div class="container main-header" style="position:relative;">
            <div class="row">
                <div class="col-md-3 col-sm-3 clearfix comp_logo" id="logo">
                    <a routerLinkActive="router-link-active" routerLink='/home/all'>
                        <!-- <img  src="assets/images/svg-three/Logo.png" alt="stud24x7" class="logo_header"> -->
                        <img src="https://img1.aio.com/assets/images/svg-three/Logo.png" alt="stud24x7"
                            class="logo_header">

                        <!-- <img src="./assets/images/svg-three/mlogo.png" alt="stud24x7" class='mlogo' > -->
                    </a>
                <app-interests-dropdown class="responsivehide" *ngIf=!hideInterestDropdown style="position: absolute;
                left: 136px;"></app-interests-dropdown>
                <app-browsetest *ngIf="showBrowseTest" class="responsivehide" style="position: absolute;
                left: 136px;"></app-browsetest>

                </div>
                <div *ngIf="!showStudyIndiaFoundationLogo" class="zero-padding">

                    <!-- ===================================================================== -->
                    <!-- new search box start -->
                    <!-- ===================================================================== -->
                    <div [ngClass]="{newSearchBox: true,'interest_search': !hideInterestDropdown}">

                        <ul class="mainSearchUlWrapper" [ngClass]="{'addShadow' : searchTab == 1 || searchTab == 2 }">
                            <li class="searchInpulWrapper">
                                <input type="search" placeholder="Search" (focusout)="searchout()"
                                    (click)="recentSearchInput()" (keyup)="search($event)" (keyup.enter)="searchout()"
                                    [(ngModel)]="searchInput" autocomplete="off">
                                <img src="./assets/images/svg-three/head/search-02.svg" alt="">
                                <span class="close__tag" (click)="emptysearch()" *ngIf="searchInput"><img
                                        src="assets/images/svg/tagcross-gray.svg" alt=""></span>
                            </li>
                            <!-- for recent -->
                            <li class="searchListWrapper searchListWrapperLogin" [perfectScrollbar]="config"
                                *ngIf="searchTab == 1 && recentSearch.length != 0">
                                <ul class="searchList recent_search">
                                    <li class="searchInnerHead">Recent <span class="searchListViewAll"
                                            (click)="clearReset()">Clear</span></li>
                                    <li *ngFor="let recentItems of getRecentvalues()"
                                        routerLink="/searchresult/all/{{recentItems}}" class="searchInnerList">
                                        <!-- <span class="headIconWraper" style="background-image: url('left_menu.svg#questionN');"></span> -->
                                        <span class="headIconWraper"><img class="recentImg"
                                                src="./assets/images/svg-three/head/recent.png" alt=""></span>
                                        <span class="searchInnerListImg"></span> {{recentItems | trimData:30}}</li>
                                </ul>
                            </li>
                            <!-- end recent -->
                            <!-- second input  -->
                            <li class="searchListWrapper searchListWrapperLogin" [perfectScrollbar]="config"
                                *ngIf="searchTab == 2 && searchInput!='' ">

                                <ul class="searchList" *ngIf="searched_course.length !=0 ">
                                    <li class="searchInnerHead"><span class="headIconWraper"
                                            style="background-image: url('left_menu.svg#allcourse');"></span>Courses
                                        <span class="searchListViewAll" (click)="seeall(0)">See All</span></li>
                                    <li *ngFor="let course of searched_course" class="searchInnerList"
                                        routerLink="/course/{{course.COURSE_URL}}"><span
                                            class="searchInnerListImg"></span>{{course.COURSE_TITLE}}</li>
                                </ul>
                                <ul class="searchList" *ngIf="searched_page.length !=0 ">
                                    <li class="searchInnerHead"><span class="headIconWraper"
                                            style="background-image: url('left_menu.svg#mypage');"></span>Pages <span
                                            class="searchListViewAll" (click)="seeall(1)">See All</span></li>
                                    <li *ngFor="let page of searched_page" class="searchInnerList"
                                        routerLink="/page/{{page.ID}}"><span class="searchInnerListImg"></span>
                                        {{page.TITLE}}</li>
                                </ul>
                                <ul class="searchList" *ngIf="searched_user.length !=0 ">
                                    <li class="searchInnerHead"><span class="headIconWraper"
                                            style="width: 14px;height: 14px;"><img class="recentImg"
                                                src="./assets/images/svg-three/head/Userstudy.svg" alt=""></span>People
                                        <span class="searchListViewAll" (click)="seeall(2)">See All</span></li>
                                    <li *ngFor="let user of searched_user" class="searchInnerList"
                                        routerLink="/profile/{{user.USER_NAME}}"><span
                                            class="searchInnerListImg"></span> {{user.FULL_NAME}}</li>
                                </ul>

                                <ul *ngIf="emptystate">
                                    <li>
                                        <div class="emptystate no_search newsearch">
                                            <div class="emptystate_inner ">
                                                <img class="emptyreview"
                                                    src="assets/images/svg-three/empty_state/search.svg">
                                                <p>No result found</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <span class="viewAllSearchList"
                                    *ngIf="searchTab == 2 && searchInput!='' && emptystate == false"
                                    routerLink="/searchresult/all/{{searchInput}}">
                                    <p>Search for <span style="cursor:pointer !important;">{{searchInput}}</span></p>
                                </span>
                            </li>

                            <!-- second input end -->
                        </ul>
                    </div>
                </div>
                <a *ngIf="showStudyIndiaFoundationLogo" class="homelogo" routerLink="">
                   <img class="_logo" src="assets/images/scholarship/logo_foundation.png" alt="">
                </a>
                <!-- <div class="hamburgerIcon" [ngClass]="{'activeMenu' : activeMenuCond }" (click)="showResponsiveSearch();">
                    <span class="spanfirst"></span>
                    <span class="spansec"></span>
                    <span class="spanthird"></span>
                </div> -->
                <div class="col-md-4 col-sm-5 col-xs-2 right_header right_header_mobile profile_header" style="padding-left: 0px;width: 90px;">
                    <ul class="mainul_header">
                      <li class='profile_list' (click)="redirectToProfile(username)">
                          <span class='profile_hdr'>
                              <img src="{{profileImageUrl}}" (error)="updateSourcePic($event)"
                                  alt="{{'aio ' + this._constantService.getSessionDataBYKey('full_name')}}">

                          </span>
                      </li>

                          <li (click)="allSeenNotify()" routerLink="/notification" class='profile_list profile_notification'>
                              <div class="headericon headerNotiIcon" title="Notifications"  #notificationIcon>
                                  <span class="count" *ngIf="unreadNotStatus"> {{unreadnotCount}} </span>
                              </div>
                        </li>
                    </ul>
                </div>


                <div class="col-md-4 col-sm-5 right_header ryt_head">
                    <ul class="mainul_header">

                        <li class='profile_list' (click)="toggleHeaderDropdown(4)">
                            <span class='profile_hdr'>
                                <img src="{{profileImageUrl}}" (error)="updateSourcePic($event)"
                                    alt="{{'aio ' + this._constantService.getSessionDataBYKey('full_name')}}">

                            </span>
                            <!-- <span class="glyphicon glyphicon-triangle-bottom"></span> -->

                            <app-profile-dropdown *ngIf="selectedHeaderdropdown==4" (mouseleave)=toggleHeaderDropdown(4)></app-profile-dropdown>
                        </li>

                        <li class='profile_list profile_notification'>
                            <div class="headericon headerNotiIcon" title="Notifications" (click)="toggleHeaderDropdown(1);" #notificationIcon>
                                <span class="count" *ngIf="unreadNotStatus"> {{unreadnotCount}} </span>
                            </div>

                            <div #notificationView>
                                <div class='dropdwn_hdr right-header dropdown_main_wrap'
                                    *ngIf="selectedHeaderdropdown === 1" (mouseleave)="focusOut()">

                                    <div class="dropdwn_inrhdr dropdwn_inrhdr1">
                                        Recent Notifications
                                    </div>

                                    <div class='notification_list' *ngIf="empty==false" [perfectScrollbar]="config">
                                        <ul class='listdrop_down'>
                                            <li *ngFor="let notify of notification; let i = index;"
                                                (click)="goToPost(i)" class="{{notify.STATUS_CLASS}}">
                                                <div class="dropdwn_mainoutr">
                                                    <span class="profile_hdr">
                                                        <img _ngcontent-c1="" *ngIf="notify.TYPE != 'Course'"
                                                            src="{{notify.PROFILE_PHOTO_PATH}}"
                                                            (error)="updateProfilePic($event)">
                                                        <img _ngcontent-c1="" *ngIf="notify.TYPE == 'Course'"
                                                            src="{{notify.COVER_PHOTO_PATH}}"
                                                            (error)="updateProfilePic($event)">
                                                    </span>
                                                    <div class="notification_desc">
                                                        <div class="maincntnt" [innerHTML]="notify.TEXT"></div>
                                                        <div class="drpdwntime"><span
                                                                class="nficon {{notify.CLASS}}"></span>{{notify.ADD_DATE_TIME|timeformated}}
                                                        </div>
                                                    </div>

                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="emptystate" *ngIf="empty">
                                        <div class="emptystate_inner">
                                            <!-- <img  src="assets/images/svg-three/empty_state/notification.svg" style="width:80px;"> -->
                                            <p>Don't have any Notification</p>
                                        </div>
                                    </div>

                                    <a class="dropdwn_inrhdr dropdwn_inrftr footertab" routerLink="/notification"
                                        *ngIf="empty==false">
                                        View all
                                        <span>
                                            <img class="greater" src="assets/images/svg-three/greater.svg"
                                                alt="aio">
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </li>

                        <li class='profile_list'>
                            <div class="headericon headerMsgIcon" title="Message"
                                (click)="toggleHeaderDropdown(2);getLatestMessageTrails()" #messageIcon>
                                <span class="count" *ngIf="unreadMsgStatus">
                                    {{unreadMsgCount}}
                                </span>
                            </div>

                            <div #messageView>
                                <div class='dropdwn_hdr right-header dropdown_main_wrap'
                                    *ngIf="selectedHeaderdropdown === 2" (mouseleave)="focusOut()">
                                    <div class="dropdwn_inrhdr dropdwn_inrhdr2">
                                        Recent Messages
                                        <a class="img_container composeIcon" routerLink="/inbox">
                                        </a>
                                    </div>
                                    <div class='notification_list' *ngIf="showMsgEmptyState==false"
                                        [perfectScrollbar]="config">
                                        <ul class='listdrop_down'>
                                            <li *ngFor='let messages of message;let i=index' class="{{messages.UNREAD}}"
                                                (click)="goToTrail(i)">
                                                <div class='dropdwn_mainoutr'>
                                                    <span class='profile_hdr'>
                                                        <img src='{{ messages.PROFILE_PHOTO_PATH}}'>
                                                    </span>
                                                    <div class='notification_desc message_desc'>
                                                        <div class="maincntnt messagename">
                                                            <b>{{ messages.USER_FULL_NAME |trimData:17}}</b> <span
                                                                class='drpdwntime'>{{ messages.UPDATE_DATE_TIME|timeformated}}</span>
                                                        </div>
                                                        <div class="maincntnt" title="{{messages.MESSAGE}}"
                                                            [innerHTML]="messages.MESSAGE|trimData:17"></div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="emptystate" *ngIf="showMsgEmptyState">
                                        <div class="emptystate_inner">
                                            <img src="assets/images/svg-three/empty_state/message.svg"
                                                style="width:80px;">
                                            <span>No new message</span></div>
                                    </div>
                                    <a class="dropdwn_inrhdr dropdwn_inrftr footertab" routerLink='/inbox'>
                                        Go to inbox
                                    </a>
                                </div>
                            </div>
                        </li>

                        <li class='profile_list'>
                            <div class="headericon headerConIcon" title="Connection"
                                (click)="get10ConnectionRequestList();toggleHeaderDropdown(3);" #connectionIcon>
                                <!-- <img src='./assets/images/svg-three/left_menu/connection.svg' class="iconimage iconimagereq iconimage1" style="height:16px;" title="Requests"> -->
                                <span class="count" *ngIf="connectionRequestStatus">
                                    {{unreadRequestCount}}
                                </span>
                            </div>

                            <div #connectionView>
                                <div class='dropdwn_hdr right-header dropdown_main_wrap' id="connectionList"
                                    (mouseleave)="focusOut()" (focusout)="focusOut()"
                                    *ngIf="selectedHeaderdropdown === 3" #ListView>
                                    <div class="dropdwn_inrhdr dropdwn_inrhdr3">
                                        Connection Requests
                                    </div>
                                    <div class='notification_list' *ngIf="showif==1" [perfectScrollbar]="config">
                                        <ul class='listdrop_down'>
                                            <li *ngFor="let requests of request;let i=index"
                                                id="connReq_{{requests.USER_ID}}">
                                                <div class='dropdwn_mainoutr requestdrop_outr'>
                                                    <span class='profile_hdr'>
                                                        <img src='{{requests.PROFILE_PHOTO_PATH}}'
                                                            (error)="updateSourcePic($event)"
                                                            routerLink="/profile/{{requests.USER_NAME}}">
                                                    </span>
                                                    <div class='notification_desc request_desc'>
                                                        <div class="maincntnt"><b><a
                                                                    routerLink="/profile/{{requests.USER_NAME}}"
                                                                    class="Notificationlist_name">{{requests.FULL_NAME|trimData:17}}</a></b>
                                                        </div>
                                                        <div class="grayinfo">{{requests.LAST_ACTIVE_TIME}}</div>
                                                    </div>
                                                    <span style="float:right">
                                                        <button class="graybutton fright" *ngIf="!requests.IS_ACCEPTED"
                                                            (click)="updateConnreqReject($event,i)"
                                                            id='{{requests.USER_ID}}'>
                                                            <span class="noteficationcrose">
                                                                <img src="./assets/images/svg-three/cancel.svg"
                                                                    alt="aio">
                                                            </span>
                                                        </button>
                                                        <button class="btn btn-primary" _ngcontent-c7=""
                                                            *ngIf="!requests.IS_ACCEPTED"
                                                            (click)="updateConnreqAccpt($event,i)"
                                                            id='{{requests.USER_ID}}'>
                                                            Accept
                                                        </button>
                                                        <button class="btn btn-primary" _ngcontent-c7=""
                                                            *ngIf="requests.IS_ACCEPTED" id='{{requests.USER_ID}}'>
                                                            Accepted
                                                        </button>
                                                    </span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="emptystate" *ngIf="showif ==2">
                                        <div class="emptystate_inner">
                                            <img src="assets/images/svg-three/friends-01.svg" style="width:100px;">
                                            <p>No new request</p>
                                        </div>
                                    </div>
                                    <a class="dropdwn_inrhdr dropdwn_inrftr footertab"
                                        routerLink="/profile/{{username}}/#connection:request" *ngIf="showif ==1">
                                        View all
                                        <span>
                                            <img class="greater" src="assets/images/svg-three/greater.svg"
                                                alt="aio">
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class='profile_list'>
                            <div class="headericon shield_cnt_header" title="Leaderboard" (click)="clickedOnLeaderBoard()" #messageIcon>
                                <!-- <span class="count" *ngIf="unreadMsgStatus">
                               {{unreadMsgCount}}
                            </span> -->
                            </div>

                        </li>
                        <li class='profile_list profile_list_home '>
                            <!-- <div class="headericon" > -->
                            <a class="home_a" routerlink="/home" ng-reflect-router-link="/home" href="/home"><span
                                    class="iconhome">Home</span></a>
                            <!-- </div> -->
                        </li>

                    </ul>
                </div>
                <div class="right_menu">
                    <span (click)="openressearch()" *ngIf="!serachResponsiveView"><img
                            src="./assets/images/svg-three/head/search-02.svg" alt=""></span>
                    <span (click)="openressearch()" *ngIf="serachResponsiveView"><img
                            src="./assets/images/svg/tagcross-gray.svg" alt=""></span>
                </div>
            </div>
        </div>
    </div>


</header>
<div *ngIf="deviceType">
    <span *ngIf="deviceType == 1" id="AppId" class="centerAlign " [ngClass]="{'activeButton': showAppCntrlBtn == true}">
        <a href="https://play.google.com/store/apps/details?id=com.stdy24x7&hl=en" target="_blank" class="image">
            <button>Open in App</button>
        </a>
    </span>
    <span *ngIf="deviceType == 2" id="AppId" class="centerAlign " [ngClass]="{'activeButton': showAppCntrlBtn == true}">
        <a href="https://itunes.apple.com/in/app/aio/id1444868244?ls=1&mt=8" target="_blank" class="image">
            <button>Open in App</button>
        </a>
    </span>
</div>
<div class="darkbackground bgadd" *ngIf="searchTab != 0"></div>
<!--- responsive search section start---->
<section class="serachResponsiveView" *ngIf="serachResponsiveView">
    <div id="fulloverlay" class="js-side-nav-overlay side-nav-overlay"></div>
    <div class="responsiveDataShow">
        <div class="login_right">
            <div class="col-md-12" style="padding:0px;">

                <div class="login_outr" style="padding-top:0px;">
                    <div class="login_inr">
                        <div class="search_Data" *ngIf="!showBrowseTest">
                            <app-search-list *ngIf="showSearchList" [searchUiType]=1></app-search-list>
                        </div>
                        <app-interests-dropdown></app-interests-dropdown>
                        <app-browsetest (messageEvent)="serachResponsiveView=$event" *ngIf="showBrowseTest"></app-browsetest>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
