<div class="col-md-12 col-sm-12 analytics_wrapper" >
 <div class="row"> 
   
    <div class="analytics_filter_top">
        <ul class="analytics_fl">

                   <li class="analytics_head" >

                       <span>Page Summary</span>
            
            </li>
            
                          <li class="filter-analytics" >
                                <Select  class="analytics_s" >
                                <option value="0">Last 7 days</option>
                                <option >Last 7 days</option>
                                <option >Last 30 days</option> 
            
                            </Select>
                         <span class="glyphicon glyphicon-triangle-bottom" ></span> 
            
            
            </li>
        </ul>
     </div>
     <div  class="coursepage_outer">
         <div class="activity_para">
             <p class="first_p">Result from <span>3 April 2018- 30 April 2018</span></p>
             <p class="second_p">Note: Does not include today's data. Insights activity is reported in the Pacific time zone. Ads activity is reported in the time zone of your ad account.</p>
         </div>
         <div class="course_div">
           

             <div class="course_item">            
                 <div class="course_cont">
                     <div class="analatics_type">
                         <p class="type_first">Page Views</p>
                         <p class="type_second">2 April - 29 April </p>
                     </div>
                     <div class="analatics_details">
                         <div class="anatytic_icon">
                         <span><img src="assets/images/page/eye.svg"></span>
                         </div>
                         <div class="anatytic_data">
                             <p class="data_count">8</p>
                             <p class="data_div">Total page view<span class="total_count">
                             <span _ngcontent-c8="" class="glyphicon glyphicon-triangle-bottom"></span> 90%</span></p>
                         </div>
                           </div>
                         <div class="">
                             <img src="assets/images/page/analytics1.png" style="width:100%';">
                         </div>
                   
                     
                 </div>         
             </div>
                          <div class="course_item">            
                 <div class="course_cont">
                     <div class="analatics_type">
                         <p class="type_first">Page Views</p>
                         <p class="type_second">2 April - 29 April </p>
                     </div>
                     <div class="analatics_details">
                         <div class="anatytic_icon">
                         <span><img src="assets/images/page/eye.svg"></span>
                         </div>
                         <div class="anatytic_data">
                             <p class="data_count">8</p>
                             <p class="data_div">Total page view<span class="total_count">
                             <span _ngcontent-c8="" class="glyphicon glyphicon-triangle-bottom"></span> 90%</span></p>
                         </div>
                           </div>
                         <div class="">
                             <img src="assets/images/page/analytics1.png" style="width:100%';">
                         </div>
                   
                     
                 </div>         
             </div>
                          <div class="course_item">            
                 <div class="course_cont">
                     <div class="analatics_type">
                         <p class="type_first">Page Follow</p>
                         <p class="type_second">2 April - 29 April </p>
                     </div>
                     <div class="analatics_details">
                         <div class="anatytic_icon">
                         <span><img src="assets/images/page/like.svg"></span>
                         </div>
                         <div class="anatytic_data">
                             <p class="data_count">80</p>
                             <p class="data_div">Total page view<span class="total_count">
                             <span _ngcontent-c8="" class="glyphicon glyphicon-triangle-bottom"></span> 100%</span></p>
                         </div>
                           </div>
                         <div class="">
                             <img src="assets/images/page/analytics1.png" style="width:100%';">
                         </div>
                   
                     
                 </div>         
             </div>
                          <div class="course_item">            
                 <div class="course_cont">
                     <div class="analatics_type">
                         <p class="type_first">User Enroll </p>
                         <p class="type_second">2 April - 29 April </p>
                     </div>
                     <div class="analatics_details">
                         <div class="anatytic_icon">
                         <span><img src="assets/images/page/eye.svg"></span>
                         </div>
                         <div class="anatytic_data">
                             <p class="data_count">18</p>
                             <p class="data_div">Total page view<span class="total_count">
                             <span _ngcontent-c8="" class="glyphicon glyphicon-triangle-bottom"></span> 60%</span></p>
                         </div>
                           </div>
                         <div class="">
                             <img src="assets/images/page/analytics1.png" style="width:100%';">
                         </div>
                   
                     
                 </div>         
             </div>

             
         </div>
     </div>
    </div>
</div>