.analytics_wrapper {
  font-family: 'Roboto';
  background-color: #fff;
  width: 100%;
  border-radius: 3px;
}

.analytics_wrapper .analytics_filter_top {
  width: 100%;
  background-color: #f7f8fa;
  padding: 8px 15px;
  float: left;
}

.analytics_wrapper .analytics_filter_top .analytics_fl li {
  float: left;
  display: inline-block;
  margin-right: 15px;
  position: relative;
}

.analytics_wrapper .analytics_filter_top .analytics_fl li .analytics_s {
  border: 1px solid #ccc;
  padding: 4px 20px 4px 10px;
  float: left;
  border-radius: 3px;
  color: #8c8c8c;
  height: 30px;
  cursor: pointer;
}

.analytics_wrapper .analytics_filter_top .analytics_fl li .glyphicon-triangle-bottom {
  position: absolute;
  top: 8px;
  right: 7px;
}

.analytics_wrapper .analytics_filter_top .analytics_fl li .glyphicon-triangle-bottom:before {
  color: #8c8c8c;
  font-size: 9px;
}

.analytics_wrapper .analytics_filter_top .analytics_fl .analytics_head span {
  font-weight: 600;
  font-size: 14px;
}

.analytics_wrapper .analytics_filter_top .analytics_fl .filter-analytics {
  margin-right: 0px;
  float: right;
}

.analytics_wrapper couse_sh {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.05) !important;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.05) !important;
}

.analytics_wrapper .coursepage_outer {
  width: 100%;
  background: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 5;
  margin-top: 15px;
  float: left;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.analytics_wrapper .coursepage_outer .activity_para {
  width: 100%;
  float: left;
  margin-bottom: 15px;
  padding: 0px 15px;
}

.analytics_wrapper .coursepage_outer .activity_para p {
  color: #8c8c8c;
  font-size: 14px;
}

.analytics_wrapper .coursepage_outer .activity_para .first_p span {
  font-weight: 600;
}

.analytics_wrapper .coursepage_outer .course_div {
  margin-left: -15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  width: 100%;
}

.course_item {
  margin: 0 0px 15px;
  padding-left: 15px;
  width: 33.33%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  list-style: none;
  text-align: center;
  position: relative;
}

.course_item .course_cont {
  width: 100%;
  height: 210px;
  display: block;
  border: 1px solid #cccccc;
  padding: 10px;
  float: left;
  border-radius: 5px;
}

.course_item .analatics_type {
  float: left;
  width: 100%;
}

.course_item .analatics_type p {
  line-height: 1;
  width: 100%;
  float: left;
  text-align: left;
}

.course_item .analatics_type .type_first {
  float: left;
  font-size: 16px;
  font-weight: 500;
}

.course_item .analatics_type .type_second {
  font-size: 12px;
  color: #8c8c8c;
  margin: 8px 0px 0px 0px;
}

.course_item .analatics_details {
  display: table;
  width: 100%;
  margin: 20px 0px;
  float: left;
}

.course_item .analatics_details .anatytic_icon {
  display: table-cell;
  width: 40px;
}

.course_item .analatics_details .anatytic_icon span {
  width: 40px;
  height: 40px;
  background-color: #286ca9;
  float: left;
  position: relative;
  border-radius: 5px;
}

.course_item .analatics_details .anatytic_icon span img {
  width: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 5px;
}

.course_item .analatics_details .anatytic_data {
  display: table-cell;
  padding-left: 15px;
}

.course_item .analatics_details .anatytic_data p {
  float: left;
  width: 100%;
  text-align: left;
}

.course_item .analatics_details .anatytic_data .data_count {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 1px;
  line-height: 1;
}

.course_item .analatics_details .anatytic_data .data_div {
  font-size: 12px;
  color: #8c8c8c;
}

.course_item .analatics_details .anatytic_data .data_div .total_count {
  display: inline-block;
  margin: 0px 0px 0px 10px;
  color: #F05050;
  font-weight: 500;
}
/*# sourceMappingURL=pageanalytics.component.css.map */