<div class='post_main' [ngClass]="{'sharedpostIncude':inSharedPost, 'sharedscreenInclude': inSharedScreen}">
  <app-post-header *ngIf="headerData" [headerData]="headerData" (deletePostEvent)="CloseDeleteConfirm($event)"></app-post-header>
  <div class='post_profileContent'>
    <div class='postmain_container'>
      <!-- <p class="posttext posttextauto" style="word-wrap:break-word !important;" [ngClass]="{lessshow:'DataView'}" *ngIf="DataView"
        [innerHTML]="postdata.decodeURIPostData(post_data)|trimData"></p> -->
      <p class="posttext posttextauto"  [ngClass]="{'lessshow':seeLess==0}"
        [innerHTML]="post_data"></p>
        <a *ngIf="seeLess==0" class="continue-reading"
        (click)="seeLess=1">See more</a>
      <!-- <p class="posttext posttextauto" *ngIf="!DataView" [innerHTML]="post_data"></p> -->
      <a *ngIf="seeLess==1"
        class="continue-reading" (click)="seeLess=0">See less</a>

      <!-- post tag wrapper start  -->
      <div class="posttagdiv">
        <span class="tags" *ngFor="let tags of tagsArr" [id]='tags'>
          {{interestObj[tags]}}
        </span>
        <span class="tags wallintereswrapper" *ngIf="showIntArr" id="{{post_id}}_interestpos">
          <span style="position:relative;top: -3px;">...</span>
          <div class="wallinterestlist" id="{{post_id}}_shftToLeft">
            <div class="arrow-up" id="{{post_id}}_shiftArrowLeft"></div>
            <ul [perfectScrollbar]="config">
              <li *ngFor="let tag of ltIntShow" [id]='tag'>
                {{interestObj[tag]}}
              </li>
            </ul>
          </div>
        </span>
      </div>
      <!-- post tag wrapper end  -->
    </div>
  </div>
  <app-post-footer *ngIf="!inSharedPost && !inSharedScreen" [footerData]="footerData"></app-post-footer>
</div>
<!-- <div *ngIf="likedetailspopup">
  <app-likedetails></app-likedetails>
</div> -->
<!-- <div *ngIf="savepagepopup">
  <app-savedpopup (folder_id)="savedFolderId=$event" (closeSavedPopup)="savepagepopup=$event;saveCondition=$event;"
    (savedStatus)="saveCondition=$event" [postData]='arr'></app-savedpopup>
</div> -->
<div *ngIf="reportpopup">
  <app-reports (closeReportPopup)="removePost($event);" [postId]="post_id"></app-reports>
</div>
<div>
  <app-textpostedit (hideBox)="textPostEditClose($event);" *ngIf="edittextpost" [post_id]="editPostId">
  </app-textpostedit>
</div>
<div>
  <app-shared-post-screen *ngIf="sharetextpostviewsec"
    ></app-shared-post-screen>
</div>
<app-confirmationpopup *ngIf="ConfirmDelete" (closeComfirmPopupThread)="CloseDeleteConfirm($event);"
  [dataObj]="dataConf" [savedFolderId]="savedFolderId"></app-confirmationpopup>
<app-confirmationpopup *ngIf="openConfirmation" (closeComfirmPopupThread)="sessionLogout($event);" [dataObj]="dataConf"
  [savedFolderId]="savedFolderId"></app-confirmationpopup>
<app-confirmationpopup *ngIf="openConfirmation" (closeComfirmPopupThread)="closePopup($event);" [dataObj]="dataConf">
</app-confirmationpopup>
