$backgroundgray : #e6e6e6;
$themeblue : #F05050;
$themegray : #f5f7fa;
$textcolor : #2c2e2f;
$textgrey : #8c8c8c;
$maingreen: rgb(7,162,8);
$stroke : #dfe0e8;
// $stroke : #E9E9E9;
$borderRadius: 5px;
$inputTypeHeight: 35px;
$inputTypeFont: 12px;
$headerHeight: 60px;
$headerLineHeight: $headerHeight - 5px;
$mainboxShadow: 0 0 7px rgba(0,0,0,0.1);
$dropdownwidth: 400px;
$dropdwncontentwidth: $dropdownwidth - 100px;
$ntfctnprofile: 40px;
$inrprflimg : $ntfctnprofile + 8px;
$PostPicture: 40px;
$commentPicture: $PostPicture - 10px;
$subcommentPicture: $commentPicture - 10px;
$mainpostName: 14px;
$maincommentName: $mainpostName - 2px;
$darkthemestroke: $themeblue;
$progressbarRed: #ed6568;
$rightanswer : #5bbc5b;


.interestlist_outer{
	display:inline-block;
	width: 100%;
	padding: 7.5px;
	box-sizing: border-box;
}

.interestpopup{
.interestlist{
	display: inline-block;
	width: 100%;

	li{
		display:inline-block;
		width: 162px;
		height: 136px;
		border: 1px solid $stroke;
		overflow: hidden;
		cursor: pointer;
		margin: 7.5px;
		border-radius: $borderRadius;
		position: relative;
		z-index:0;


		img{
			width: 100%;
			float: left;
		}

		.interestcheckbox{
			display: none;
		}
		.glyphicon-ok:before{
			display: none;
		}
		.interestboxinr{
			text-align: center;
		}
		.interestcheckbox:checked + .interestboxinr{

			.interestboxmain{
			position: absolute;
			background: rgba(0,0,0,0.5);
			height:100%;
			left: 0;
			top:0;
			display: inline-block;
			z-index: 9;
			width: 100%;

		}
		.glyphicon-ok:before{
			position: absolute;
			display:block;
			color: #fff;
			line-height:100px;
			font-size: 26px;
			left: 0px;
			right: 0px;
			margin: 0 auto;
			float: none;
		}
		.glyphicon{
			position: absolute;
			left: 0px;
			width: 100%;
			text-align: center;
			right: 0;
			z-index: 9;
			margin: 0 auto;
		}
	}

	}

}



	.drpdwn_btn{
		width: 120px;
		float: left;
		position: relative;
		z-index:9
	}
	.interest_popupheader{
		display:inline-block;
		width:100%;
		box-sizing: border-box;
		padding:15px;
		// padding-bottom: 0px;
		background: #fff;
		position: relative;
		z-index: 9;
	}

	.drpdwn_post{
		    background: #fff;
			display: block;
			border: 1px solid #dfe0e8;
			left: 15px;
			width: 135px;
			position: absolute;
			top: 44px;

   		 li{
    		padding: 10px;
			text-align: left;
			width: 100%;
			box-sizing: border-box;
			border-bottom: 1px solid #dfe0e8;
			cursor: pointer;
			height: auto;
			line-height: auto;
    	}
	    li:hover{
	    	background: $themegray;
	    }
}

}
.interesrsearch{
		float:right;
		margin-top: 10px;
		padding:0px;

		.input-group-addon{
			padding: 0px;
		}
		button{
			height: 24px;
			line-height: 24px;
		}
		input{
			height: 26px;
			line-height: 26px;
		}
	}
	.interest_content{
		position: absolute !important;
	    top: 92px;
    	bottom: 65px;
    	overflow: auto;
	}





// =============================

	.header_background{
		background: $themeblue;
		height: $headerHeight;
		line-height: $headerLineHeight;	box-shadow: $mainboxShadow;
		position: fixed;
		top:0px;
		width: 100%;
		z-index: 4;
		box-shadow: $mainboxShadow;
	}
	.logo_header{
		// width:100px;
		vertical-align: middle
	}
	// .headerSearchbar {
	// 		margin-top: 8px;
	// 		padding: 0;
	//
	// 	.input-group-addon{
	// 	    background: #fff;
	// 	    border: 0px;
	// 	    padding: 0 3px;
	// 	}
	//  	.form-control{
	// 		border-right:0;
	// 		box-shadow:0 0 0;
	// 		border-color:$stroke;
	// 		background: #fff;
	// 		border: 0px;
	// 		// height: $searchInput ;
	// 		padding-left: 0px;
	// 		border-radius: 0px $borderRadius $borderRadius 0;
	// 	}
	// 	button{
	// 	    border:0;
	//     	background:transparent;
	//     	height: 25px;
	//     	line-height: 25px;
	// 	}
	// 	.glyphicon:before{
	// 		color: $textgrey
	// 	}
	//
	// }

	.right_header{
		text-align: right;



		.profile_list{
			display: inline;
			float:right;
			padding: 0px 10px 0;
			margin-top: 8px;
			color: $textgrey;
			cursor: pointer;
			// position: relative;

			height: 30px;
			line-height: 30px;


		.iconimage.iconimageactive{
			display:none
		}


			.profile_hdr{
			display: inline-block;
			width: 25px;
			height:  25px;
			line-height: 25px;
			overflow: hidden;
			float:left;
			// margin-right:10px;
			border-radius: 50%;
			margin-top: 4px;

			 img{
			 	width:100%;
			 	float:left;
			 }



		}
		 .iconimage{
			 	width:18px;
			 	height:18px;
			 	display:block;
			 	margin-top: 7px;
			 }

	        .iconhome{height:20px;float: left;line-height: 16px;font-family: 'Roboto';font-weight: 500;

	font-size: 14px;}
			 // .iconimagereq{
			 // 	height:22px;
			 // 	width: 22px;
			 // }

			.glyphicon:before{
				font-size: 16px;
				vertical-align: middle;
				position:relative;


			}
			.glyphicon.active{
				color: $themeblue;
			}

			.glyphicon.glyphicon-triangle-bottom:before{
				font-size: 10px;
				color: #fff;
				margin-left: 10px;
				line-height: 30px;
				}


		}

		.profile_list:first-child{
			padding-right:0px;
			border-left: 1px solid $stroke;
			line-height: 14px;

		}
	.profile_list.active{
		line-height:30px;

		.iconimage1{
			display: none
		}
			.iconimageactive{
				display: inline-block;

			}
	}
		.drpdwn_post{
			right:-1px;

			top: 49px;
			border-top: 0px solid transparent;
			border-radius: 0 0 $borderRadius $borderRadius;

				.dropdwn_inrhdr{
					height: 0px;

					.dropdownarrow:before{
						position: absolute;
						top: -27px;
						right: -5px;
						color: $textgrey;
						font-size: 20px;
					}
					.dropdownarrow2:before{
						color: #fff;
	font-size: 18px;
	right: -1px;
	top: -27px;
					}

				}
			.dropdownarrow:before{

			}

		}
		.dropdwn_hdr{
			 background: #fff none repeat scroll 0 0;
	    border: 1px solid $stroke;
	    display: inline-block;
	    position: absolute;
	    right: 50px;
	    top: 42px;
	    width: $dropdownwidth;
		text-align:left;
		box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
		border-radius: $borderRadius;

				.dropdwn_inrhdr{
					display: inline-block;
					// background: $themegray;
					border-bottom: 1px solid $stroke;
					padding:10px;
					line-height: 16px;
					width: 100%;
					box-sizing: border-box;
					color: $textgrey;

					a{
						color: $themeblue;
						float: right;
					}

					.glyphicon.dropdownarrow{
						position: absolute;
						right: 14px;
					    top: -14px;
						color: #ffffff;
						z-index: 1;

					}
					.glyphicon.dropdownarrow2{
						color: $stroke;
					    right: 13px;
					    top: -15px;
					    z-index: 0;
					}
					.dropdownarrow:before{
						font-size:18px;
					}
					.dropdownarrow2:before{
					font-size: 20px;
					}
				}



				.dropdwn_inrhdr2{
					.glyphicon.dropdownarrow{
						right: 52px;

					}
					.glyphicon.dropdownarrow2{
					right: 51px;
					}

				}
					.dropdwn_inrhdr3{
					.glyphicon.dropdownarrow{
						right: 93px;

					}
					.glyphicon.dropdownarrow2{
					right: 92px;
					}

				}
				.dropdwn_inrftr{
					border-bottom: 0px;
					border-top: 1px solid $stroke;
					text-align:center;
	                color: $themeblue;

					a{
						color: $themeblue;
						float: none;
					}

				}

				.listdrop_down li{
					padding: 10px;
	    border-bottom: 1px solid $stroke;
	    float:left;
	    width: 100%;
	    color: $textcolor;
	    display: inline-block;
	    box-sizing: border-box;

						.profile_hdr{
							margin-right:10px;
							height: 40px;
							width: 40px;
							line-height: 33px;
						}

						.dropdwn_mainoutr{
							display: inline-block;
							width: 100%;
							float: left;


						.maincntnt{

							b{
								font-weight: normal;
								font-family:open Sans; font-weight: 500;;
							}
						}

						}
					.notification_desc{
						display:inline-block;
						width: calc(100% - 50px);
						line-height: 14px;
					}
					.request_desc{
						width: 199px;

					}


					.drpdwntime{
						font-size: 12px;
						color: $textgrey;
						margin-top:5px;line-height: 18px;
					}
					.message_desc{
						width: 320px;
							.maincntnt {
								.drpdwntime{
								float:right;
								margin-top: 0px;
									}
								}
								.maincntnt:last-child{
								font-size: 10px;
								margin-top: 4px;
								color: #8c8c8c
								}
							}
					.ntfcn_sideimage{
						width: $ntfctnprofile;
						float: right;
						border-radius: 0px;
						margin-right: 0px;
					}

				}
				.listdrop_down li.unread{
					//	background: $themegray;
	                	background: white;
						color: #000;
						.message_desc{

							.messagename {

								color: $textgrey;

							}
						}
				}
	        .listdrop_down li{
	            &:hover{background: $themegray;}
	        }

				.listdrop_down li:last-child{
					border-bottom: 0px;
				}

		}
	  .dropdwn_hdr.right-header{
	    right:31px;
	    top:51px;
	    -webkit-border-radius: 5px;
	    -moz-border-radius: 5px;
	    -ms-border-radius: 5px;
	    -o-border-radius: 5px;
	    border-radius: 5px;
	  }
	.drpdwn_profile{
			width: 200px;
			right:0px;
			.dropdwn_inrhdr{
				padding: 0px;
				float:left;
				border: 0px solid $stroke;
			}


			.listdrop_down {

				li{
				border-bottom: 0px;
			}
			}
		}



	.notification_list{
		display:inline-block;
		width: 100%;
		height:270px;
		overflow:auto;
		float: left;
	}
	.requestdrop_outr{
						.graybutton{
							color: $textgrey;
							width: auto;
							height: 30px;
							padding: 0 12px;
							line-height: 28px;
						}

							.glyphicon{
							font-size: 13px;
								float:right;

							}
							.glyphicon:before{
								font-size: 13px;
							    line-height: 27px;
							    vertical-align: top
							}
							.graybutton:first-child{
						    margin-left:10px;
							}

						}
	}
	.home_header{
	    .mainul_header{
	    .profile_list {cursor: auto;}
	    .profile_list:first-child{margin-right: 37%;padding-left: 0px;margin-left: 37%;
	    border-left: 0px solid #cccccc;}

	    .headericon{height: 30px;
	        .home_a{width: auto;
	height: 24px;
	display: block;cursor: pointer;
	color: #fff;
	font-weight: 500;padding: 5px 5px 5px 5px;
	line-height: 26px;;
	}
	    }
	}
	}
	.mainul_header{
		display:inline-block;
		float:right;
		position:relative;

	}
	.headericon{
		display: inline-block;
		width: 100%;
		height: 40px;
		position: relative;
	.count{
		position: absolute;
		display: inline-block;
		height: 16px;
		width: 16px;
		line-height: 16px;
		border-radius: 50%;
		background: #ed6568;
		color: #fff;
		right: -5px;
		bottom: 26px;
		font-size: 9px;
		text-align: center;
		font-family: 'Roboto', sans-serif;font-weight: 500;;
	}

	}
	.addtag_drop.search_dropdown{
		right: auto;
	top: 25px;
	box-shadow: none;
	left: 0;
	border-radius: 0 0 3px 3px;
	width: 100%;
	}
	.drpdwn_post.for-post{
	  border:1px solid rgba(27, 31, 35, 0.15) !important;
	  -webkit-border-radius: 5px !important;
	  -moz-border-radius: 5px !important;
	  -ms-border-radius: 5px !important;
	  -o-border-radius: 5px !important;
	  border-radius: 5px !important;
	 ul{
	   li{
	     &:hover{
	       color:$themeblue;
	     }
	   }
	 }
	}
	.header_background{
		background-color:white !important;
		height:auto !important;
		padding:8px 0;
	}
	.main-header{
		.logo_header{
			float:left;
			margin-right:35px;
			padding-top:3px;
			margin-top:3px;
	    width: 130px !important;
		}
	}
.container.main_body{
	margin-bottom: 15px;
}
