<app-header></app-header>
<div class="col-md-9 popupwrapper"  *ngIf="maillist">
  <div class="invitefriendwrapper" >
    <div class="header">
      <div style="position: absolute;width: 100%;height: 1px;background-color: #f7f7f7;left: 0px;top: 88px;"></div>
      <div class="header_img">
        <img src="assets/images/svg-three/friends-01.svg" alt="aio">
      </div>
      <div class="text_container">
        <h3>Easily connect with your friends</h3>
        <h6>Invite your friends to join this community, So they too can get benefits of this awesome community</h6>
      </div>
      <div class="numberoffriend">
        <label class="mainlabel">
          <input class="checkboxhide" id="friendsNumber" type="checkbox" value="0">
          <label class="checkbox" for="friendsNumber">
            <img src="assets/images/svg/white_checkbox.svg">
          </label>
          Deselect All (204)
        </label>
      </div>
    </div>
    <div class="friendlistcontaier" [perfectScrollbar]="config" style="position: absolute;width: 100%;height:68%;background-color: #f7f7f7;left: 0px;top: 145px;">
      <div class="friendsprofile">
        <label class="mainlabel">
          <input class="checkboxhide" id="friendsName1" type="checkbox" value="0">
          <label class="checkbox" for="friendsName1">
            <img src="assets/images/svg/white_checkbox.svg">
          </label>
          <label class="Userdetail" for="friendsName1">
            <span class="name">Aditya Bharadeaj</span>
            <span class="mail">Aditya.Bharadwaj@gmail.com</span>
          </label>
        </label>
      </div>


      <div class="friendsprofile">
        <label class="mainlabel">
          <input class="checkboxhide" id="friendsName2" type="checkbox" value="0">
          <label class="checkbox" for="friendsName2">
            <img src="assets/images/svg/white_checkbox.svg">
          </label>
          <label class="Userdetail" for="friendsName2">
            <span class="name">Aditya Bharadeaj</span>
            <span class="mail">Aditya.Bharadwaj@gmail.com</span>
          </label>
        </label>
      </div>

      <div class="friendsprofile">
        <label class="mainlabel">
          <input class="checkboxhide" id="friendsName3" type="checkbox" value="0">
          <label class="checkbox" for="friendsName3">
            <img src="assets/images/svg/white_checkbox.svg">
          </label>
          <label class="Userdetail" for="friendsName3">
            <span class="name">Aditya Bharadeaj</span>
            <span class="mail">Aditya.Bharadwaj@gmail.com</span>
          </label>
        </label>
      </div>

      <div class="friendsprofile">
        <label class="mainlabel">
          <input class="checkboxhide" id="friendsName4" type="checkbox" value="0">
          <label class="checkbox" for="friendsName4">
            <img src="assets/images/svg/white_checkbox.svg">
          </label>
          <label class="Userdetail" for="friendsName4">
            <span class="name">Aditya Bharadeaj</span>
            <span class="mail">Aditya.Bharadwaj@gmail.com</span>
          </label>
        </label>
      </div>

      <div class="friendsprofile">
        <label class="mainlabel">
          <input class="checkboxhide" id="friendsName5" type="checkbox" value="0">
          <label class="checkbox" for="friendsName5">
            <img src="assets/images/svg/white_checkbox.svg">
          </label>
          <label class="Userdetail" for="friendsName5">
            <span class="name">Aditya Bharadeaj</span>
            <span class="mail">Aditya.Bharadwaj@gmail.com</span>
          </label>
        </label>
      </div>

      <div class="friendsprofile">
        <label class="mainlabel">
          <input class="checkboxhide" id="friendsName6" type="checkbox" value="0">
          <label class="checkbox" for="friendsName6">
            <img src="assets/images/svg/white_checkbox.svg">
          </label>
          <label class="Userdetail" for="friendsName6">
            <span class="name">Aditya Bharadeaj</span>
            <span class="mail">Aditya.Bharadwaj@gmail.com</span>
          </label>
        </label>
      </div>

      <div class="friendsprofile">
        <label class="mainlabel">
          <input class="checkboxhide" id="friendsName7" type="checkbox" value="0">
          <label class="checkbox" for="friendsName7">
            <img src="assets/images/svg/white_checkbox.svg">
          </label>
          <label class="Userdetail" for="friendsName7">
            <span class="name">Aditya Bharadeaj</span>
            <span class="mail">Aditya.Bharadwaj@gmail.com</span>
          </label>
        </label>
      </div>

      <div class="friendsprofile">
        <label class="mainlabel">
          <input class="checkboxhide" id="friendsName8" type="checkbox" value="0">
          <label class="checkbox" for="friendsName8">
            <img src="assets/images/svg/white_checkbox.svg">
          </label>
          <label class="Userdetail" for="friendsName8">
            <span class="name">Aditya Bharadeaj</span>
            <span class="mail">Aditya.Bharadwaj@gmail.com</span>
          </label>
        </label>
      </div>

      <div class="friendsprofile">
        <label class="mainlabel">
          <input class="checkboxhide" id="friendsName9" type="checkbox" value="0">
          <label class="checkbox" for="friendsName9">
            <img src="assets/images/svg/white_checkbox.svg">
          </label>
          <label class="Userdetail" for="friendsName9">
            <span class="name">Aditya Bharadeaj</span>
            <span class="mail">Aditya.Bharadwaj@gmail.com</span>
          </label>
        </label>
      </div>

      <div class="friendsprofile">
        <label class="mainlabel">
          <input class="checkboxhide" id="friendsName10" type="checkbox" value="0">
          <label class="checkbox" for="friendsName10">
            <img src="assets/images/svg/white_checkbox.svg">
          </label>
          <label class="Userdetail" for="friendsName10">
            <span class="name">Aditya Bharadeaj</span>
            <span class="mail">Aditya.Bharadwaj@gmail.com</span>
          </label>
        </label>
      </div>

      <div class="friendsprofile">
        <label class="mainlabel">
          <input class="checkboxhide" id="friendsName1" type="checkbox" value="0">
          <label class="checkbox" for="friendsName11">
            <img src="assets/images/svg/white_checkbox.svg">
          </label>
          <label class="Userdetail" for="friendsName11">
            <span class="name">Aditya Bharadeaj</span>
            <span class="mail">Aditya.Bharadwaj@gmail.com</span>
          </label>
        </label>
      </div>

      <div class="friendsprofile">
        <label class="mainlabel">
          <input class="checkboxhide" id="friendsName12" type="checkbox" value="0">
          <label class="checkbox" for="friendsName12">
            <img src="assets/images/svg/white_checkbox.svg">
          </label>
          <label class="Userdetail" for="friendsName12">
            <span class="name">Aditya Bharadeaj</span>
            <span class="mail">Aditya.Bharadwaj@gmail.com</span>
          </label>
        </label>
      </div>

      <div class="friendsprofile">
        <label class="mainlabel">
          <input class="checkboxhide" id="friendsName13" type="checkbox" value="0">
          <label class="checkbox" for="friendsName13">
            <img src="assets/images/svg/white_checkbox.svg">
          </label>
          <label class="Userdetail" for="friendsName13">
            <span class="name">Aditya Bharadeaj</span>
            <span class="mail">Aditya.Bharadwaj@gmail.com</span>
          </label>
        </label>
      </div>

      <div class="friendsprofile">
        <label class="mainlabel">
          <input class="checkboxhide" id="friendsName14" type="checkbox" value="0">
          <label class="checkbox" for="friendsName14">
            <img src="assets/images/svg/white_checkbox.svg">
          </label>
          <label class="Userdetail" for="friendsName14">
            <span class="name">Aditya Bharadeaj</span>
            <span class="mail">Aditya.Bharadwaj@gmail.com</span>
          </label>
        </label>
      </div>

      <div class="friendsprofile">
        <label class="mainlabel">
          <input class="checkboxhide" id="friendsName16" type="checkbox" value="0">
          <label class="checkbox" for="friendsName16">
            <img src="assets/images/svg/white_checkbox.svg">
          </label>
          <label class="Userdetail" for="friendsName16">
            <span class="name">Aditya Bharadeaj</span>
            <span class="mail">Aditya.Bharadwaj@gmail.com</span>
          </label>
        </label>
      </div>

      <div class="friendsprofile">
        <label class="mainlabel">
          <input class="checkboxhide" id="friendsName17" type="checkbox" value="0">
          <label class="checkbox" for="friendsName17">
            <img src="assets/images/svg/white_checkbox.svg">
          </label>
          <label class="Userdetail" for="friendsName17">
            <span class="name">Aditya Bharadeaj</span>
            <span class="mail">Aditya.Bharadwaj@gmail.com</span>
          </label>
        </label>
      </div>

      <div class="friendsprofile">
        <label class="mainlabel">
          <input class="checkboxhide" id="friendsName18" type="checkbox" value="0">
          <label class="checkbox" for="friendsName18">
            <img src="assets/images/svg/white_checkbox.svg">
          </label>
          <label class="Userdetail" for="friendsName18">
            <span class="name">Aditya Bharadeaj</span>
            <span class="mail">Aditya.Bharadwaj@gmail.com</span>
          </label>
        </label>
      </div>

      <div class="friendsprofile" >
        <label class="mainlabel">
          <input class="checkboxhide" id="friendsName19" type="checkbox" value="0">
          <label class="checkbox" for="friendsName19">
            <img src="assets/images/svg/white_checkbox.svg">
          </label>
          <label class="Userdetail" for="friendsName19">
            <span class="name">Aditya Bharadeaj</span>
            <span class="mail">Aditya.Bharadwaj@gmail.com</span>
          </label>
        </label>
      </div>

      <div class="friendsprofile">
        <label class="mainlabel">
          <input class="checkboxhide" id="friendsName20" type="checkbox" value="0">
          <label class="checkbox" for="friendsName20">
            <img src="assets/images/svg/white_checkbox.svg">
          </label>
          <label class="Userdetail" for="friendsName20">
            <span class="name">Aditya Bharadeaj</span>
            <span class="mail">Aditya.Bharadwaj@gmail.com</span>
          </label>
        </label>
      </div>

      <div class="friendsprofile">
        <label class="mainlabel">
          <input class="checkboxhide" id="friendsName21" type="checkbox" value="0">
          <label class="checkbox" for="friendsName21">
            <img src="assets/images/svg/white_checkbox.svg">
          </label>
          <label class="Userdetail" for="friendsName21">
            <span class="name">Aditya Bharadeaj</span>
            <span class="mail">Aditya.Bharadwaj@gmail.com</span>
          </label>
        </label>
      </div>

      <div class="friendsprofile">
        <label class="mainlabel">
          <input class="checkboxhide" id="friendsName22" type="checkbox" value="0">
          <label class="checkbox" for="friendsName22">
            <img src="assets/images/svg/white_checkbox.svg">
          </label>
          <label class="Userdetail" for="friendsName22">
            <span class="name">Aditya Bharadeaj</span>
            <span class="mail">Aditya.Bharadwaj@gmail.com</span>
          </label>
        </label>
      </div>

      <div class="friendsprofile">
        <label class="mainlabel">
          <input class="checkboxhide" id="friendsName23" type="checkbox" value="0">
          <label class="checkbox" for="friendsName23">
            <img src="assets/images/svg/white_checkbox.svg">
          </label>
          <label class="Userdetail" for="friendsName23">
            <span class="name">Aditya Bharadeaj</span>
            <span class="mail">Aditya.Bharadwaj@gmail.com</span>
          </label>
        </label>
      </div>

      <div class="friendsprofile">
        <label class="mainlabel">
          <input class="checkboxhide" id="friendsName24" type="checkbox" value="0">
          <label class="checkbox" for="friendsName24">
            <img src="assets/images/svg/white_checkbox.svg">
          </label>
          <label class="Userdetail" for="friendsName24">
            <span class="name">Aditya Bharadeaj</span>
            <span class="mail">Aditya.Bharadwaj@gmail.com</span>
          </label>
        </label>
      </div>
    </div>
    <div class="invitationfooter">
      <span class="invite_footer_heading">Invitation will be send to 204 contacts</span>
      <button class="invite_send_btn">Send invitation</button>
      <span class="skip_link">Skip</span>
    </div>
  </div>
</div>

















<div class="col-md-4 outer_invite_container" *ngIf="invite_container" style="width: 520px;">
  <div class="invite_container">
     <div class="image">
       <img src="assets/images/svg-three/social_invite/girl.svg" alt="aio">
     </div>
     <div class="invite_text">
        <h3>Invite your friends</h3>
        <span>
          Study along with your friends on Study24x7 <br> by simply inviting them thought mail or facebook
        </span>
     </div>
     <div class="invite_input_field">
       <input class="invitefield" type="text" name="" value="" placeholder="Your email address">
       <button (click)="showmaillist()">Continue</button>
     </div>
     <div class="stock_container">
       <span class="stock left"></span>
       <h4>
         or invite with
       </h4>
       <span class="stock right"></span>
     </div>
     <div class="invite_footer">
       <div class="social_button">
         <div class="innerbuttonwrapper">
         <img src="assets/images/svg-three/social_invite/fb.svg" alt="aio">
         </div>
         <span>Facebook</span>
       </div>
       <div class="social_button">
         <div class="innerbuttonwrapper" id="googleBtn">
         <img src="assets/images/svg/google-plus-round-new.svg" alt="aio">
       </div>
       <span>Google +</span>
       </div>
       <div class="social_button" (click)="inviteopenpopup(1);">
         <div class="innerbuttonwrapper" (click)="inviteopenpopup(1);">
         <img src="assets/images/svg/email-round.svg" alt="aio">
         </div>
         <span>Email</span>
       </div>
     </div>
  </div>

  <div class="footer">
    <button class="skip_link">Skip</button>
  </div>
</div>
