.popupvideo {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  z-index: 99;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 100%;
  height: 100%;
}

.video_outer {
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0px;
  right: 0px;
  left: 0;
}

.video_outer .video_frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video_outer .video_frame .video_section {
  z-index: 100;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 880px;
  height: 545px;
  position: absolute;
  left: 50%;
  right: 0;
  top: 50%;
  bottom: 0;
}

.video_outer .video_frame .video_section .video_view {
  width: 880px;
  height: 495px;
  position: absolute;
  top: 0;
}

.video_outer .video_frame .video_section .video_view video {
  display: inline-block;
  vertical-align: baseline;
  position: absolute;
  top: auto;
  left: auto;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  -webkit-transition: right 1s ease,bottom 1s ease,width 1s ease,height 1s ease;
  transition: right 1s ease,bottom 1s ease,width 1s ease,height 1s ease;
}

.video_outer .video_frame .video_section .video-footer {
  height: 50px;
  display: block;
  width: 100%;
  position: absolute;
  background-color: #ffffff;
  border-radius: 0px 0px 5px 5px;
  bottom: 0;
}

.video_outer .video_frame .video_section .video-footer p {
  display: inline-block;
  color: #2c2e2f;
  width: 100%;
  line-height: 1;
  padding: 19px 15px;
}

.video_outer .video_frame .video_section .video-footer button {
  position: absolute;
  right: 0;
  height: 100%;
  width: 90px;
  background-color: #fff;
  padding: 0px 15px;
  border-radius: 0 0px 5px 0px;
  -webkit-box-shadow: 0px 0px 2px 1px rgba(44, 46, 47, 0.5);
          box-shadow: 0px 0px 2px 1px rgba(44, 46, 47, 0.5);
  border: none;
  bottom: 0;
}

.video_outer .video_frame .video_section .video-footer button span {
  float: left;
  width: 40px;
  line-height: 1;
  padding: 5px 3px 5px 0px;
  font-size: 12px;
  text-align: right;
  color: #F05050;
}

.video_outer .video_frame .video_section .video-footer button:hover {
  background-color: #eaeaea;
}

.video_view .video_controller_sec {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  visibility: visible;
  opacity: 1;
  height: 50px;
  background-color: #292a2c;
}

.video_view .video_controller_sec .progress-control {
  top: 24px;
  height: 4px;
  left: 50px;
  right: 150px;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.8);
  -webkit-transition: all .1s;
  transition: all .1s;
  position: absolute;
  width: auto;
  border-radius: 4px;
}

.video_view .video_controller_sec .progress-control:hover {
  top: 23px;
  height: 6px;
}

.video_view .video_controller_sec .progress-control .progres_bar {
  background: #e4e4e4;
  -webkit-transition: all .2s;
  transition: all .2s;
  height: 100%;
  outline: 0;
  position: relative;
  border-radius: 4px 0px 0px 4px;
  cursor: pointer;
}

.video_view .video_controller_sec .progress-control .progres_bar .load-progress {
  background: rgba(103, 110, 121, 0.3);
  height: 100%;
  border-radius: 4px 0px 0px 4px;
}

.video_view .video_controller_sec .progress-control .progres_bar .load-progress .buffer-progresss {
  background: rgba(103, 110, 121, 0.3);
  height: 100%;
  border-radius: 4px 0px 0px 4px;
}

.video_view .video_controller_sec .progress-control .progres_bar .play-progress {
  background: #ec5252;
  height: 100%;
  position: absolute;
  display: block;
  height: 100%;
  border-radius: 4px 0px 0px 4px;
  margin: 0;
  padding: 0;
  width: 0;
  left: 0;
  top: 0;
}

.video_view .video_controller_sec .progress-control .progres_bar .play-progress:before {
  content: "";
  position: absolute;
  right: -.5em;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  pointer-events: none;
  background-color: #ec5252;
  z-index: 3;
  opacity: 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transition: opacity .4s;
  transition: opacity .4s;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

.video_view .video_controller_sec .progress-control .progres_bar:hover .play-progress:before {
  opacity: 1;
  top: -6px;
  z-index: 3;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

.video_view:hover .video_controller_sec {
  visibility: visible;
  opacity: 1;
}

.video_view .play_controll {
  width: 50px;
  height: 100%;
  text-align: center;
}

.video_view .play_controll button {
  width: 100%;
  height: 100%;
  padding: 0px;
  border: none;
  background-color: transparent;
}

.video_view .play_controll button img {
  width: 20px;
  cursor: pointer;
}

.control-right {
  right: 0;
  width: 170px;
  top: 0;
  position: absolute;
  height: 50px;
  position: absolute;
}

.control-right .maximize_screen {
  float: right;
  width: 30px;
  height: 100%;
  text-align: center;
  padding-right: 12px;
}

.control-right .maximize_screen button {
  background: transparent;
  border: none;
  padding: 0px 5px;
  height: 100%;
  text-align: center;
  width: 100%;
}

.control-right .maximize_screen button img {
  width: 17px;
  vertical-align: middle;
}

.control-right .volume-control {
  float: right;
  width: 30px;
  position: relative;
  height: 100%;
  text-align: center;
  padding-top: 15px;
  padding-right: 12px;
}

.control-right .volume-control img {
  width: 15px;
  cursor: pointer;
}

.control-right .volume-control .vol_bar {
  position: absolute;
  display: none;
  bottom: 50px;
  width: 2em;
  height: 12em;
  left: 0;
  overflow: visible;
  background-color: #14171c;
  -webkit-box-shadow: 0 2px 8px 2px rgba(20, 23, 28, 0.15);
          box-shadow: 0 2px 8px 2px rgba(20, 23, 28, 0.15);
}

.control-right .volume-control .vol_bar .vol-progress {
  width: 2em;
  height: 12em;
  margin: 0;
  background-color: #faebeb;
  border: none;
  border-radius: 0;
  cursor: pointer;
  overflow: hidden;
}

.control-right .volume-control .vol_bar .vol-progress .vol-progresss {
  background: #ec5252;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 2em;
}

.control-right .volume-control:hover .vol_bar {
  display: block;
}

.control-right .time-duration {
  float: right;
  color: #fff;
  height: 100%;
  font-size: 12px;
  padding-right: 12px;
  padding-top: 17px;
}

.control-right .time-duration .time-gone {
  padding-right: 5px;
}

.control-right .time-duration .total_time {
  padding-left: 5px;
}
/*# sourceMappingURL=videoplayer.component.css.map */