$themeblue : #F05050;
$textcolor : #2c2e2f;
.popupvideo{    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    z-index: 99;
    transition: all 0.2s ease;

    width: 100%;
    height: 100%;}
.video_outer{position: fixed;z-index: 100;
  top: 0;bottom: 0px;right:0px;
  left: 0;
.video_frame{
  position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
overflow: hidden;
.video_section{z-index: 100;
  transform: translate(-50%, -50%);
  width:880px;  height: 545px;position: absolute;left: 50%;right: 0;top: 50%;bottom: 0;
.video_view{
  width: 880px;
  height: 495px;position: absolute;

top: 0;


video{display: inline-block;
vertical-align: baseline;position: absolute;top: auto;
left: auto;width: 100%;
height: 100%;
bottom: 0;
right: 0;
-webkit-transition: right 1s ease,bottom 1s ease,width 1s ease,height 1s ease;
-moz-transition: right 1s ease,bottom 1s ease,width 1s ease,height 1s ease;
-ms-transition: right 1s ease,bottom 1s ease,width 1s ease,height 1s ease;
-o-transition: right 1s ease,bottom 1s ease,width 1s ease,height 1s ease;
transition: right 1s ease,bottom 1s ease,width 1s ease,height 1s ease;
}
}
.video-footer{height: 50px;display: block;width:100%;position: absolute;
  background-color: #ffffff;
  border-radius: 0px 0px 5px 5px;
bottom:0;
p{display: inline-block;
color:rgba($textcolor , 1);
width: 100%;
line-height: 1;
padding: 19px 15px;}
button{position: absolute;
right: 0;
height: 100%;
width: 90px;
background-color: #fff;
padding: 0px 15px;
border-radius: 0 0px 5px 0px;
box-shadow: 0px 0px 2px 1px rgba($textcolor, 0.5);
border: none;bottom: 0;
span{float: left;
width: 40px;
line-height: 1;
padding: 5px 3px 5px 0px;
font-size: 12px;
text-align: right;
color: $themeblue;}
&:hover{background-color: #eaeaea;}
}

}

}
}


}

.video_view{
.video_controller_sec{
  width: 100%;position: absolute;bottom: 0;left: 0;right: 0;
  visibility: hidden ;
opacity: 0 ;
visibility: visible ;
opacity: 1 ;
height: 50px;
background-color: #292a2c;

.progress-control{  top: 24px;

height: 4px;
left: 50px;
right: 150px;box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.8);
-webkit-transition: all .1s;
-moz-transition: all .1s;
-ms-transition: all .1s;
-o-transition: all .1s;
transition: all .1s;
position: absolute;
width: auto;
border-radius: 4px;
&:hover{top: 23px;height: 6px;}
.progres_bar{background: #e4e4e4;
   -webkit-transition: all .2s;
-moz-transition: all .2s;
-o-transition: all .2s;
transition: all .2s;
height: 100%;outline: 0;
position: relative;border-radius: 4px 0px 0px 4px;

cursor: pointer;
  .load-progress{background: hsla(217,8%,44%,.3);height: 100%;border-radius: 4px 0px 0px 4px;
  .buffer-progresss{background: hsla(217,8%,44%,.3);height: 100%;border-radius: 4px 0px 0px 4px;}
}
  .play-progress{background: #ec5252;height: 100%;position: absolute;display: block;height: 100%;border-radius: 4px 0px 0px 4px;
margin: 0;padding: 0;width: 0;left: 0;top: 0;
    &:before{
        content: "";
        position: absolute;
        right: -.5em;
        width:20px;height: 20px;border-radius: 50%;
        pointer-events: none;

      background-color: #ec5252;
       // #f7f8fa;
       z-index: 3;
       opacity: 0;

      -webkit-transform: scale(.5);
      -ms-transform: scale(.5);
      -o-transform: scale(.5);
      transform: scale(.5);
      -webkit-transition: opacity .4s;
      -moz-transition: opacity .4s;
      -ms-transition: opacity .4s;
      -o-transition: opacity .4s;
      transition: opacity .4s;
      -webkit-transition: -webkit-transform .4s;
      -moz-transition: -moz-transform .4s;
      -o-transition: -o-transform .4s;
      transition: transform .4s;

    }
  }
  }
  .progres_bar:hover .play-progress:before{opacity: 1;top: -6px;z-index: 3;-webkit-transform: scale(0.8);-ms-transform: scale(0.8);-o-transform: scale(0.8);transform: scale(0.8);}



}
}
&:hover .video_controller_sec{
  visibility: visible ;
opacity: 1 ;
}
.play_controll{width: 50px;height: 100%;text-align: center;
  button{width: 100%;height: 100%;padding: 0px;
border: none;
background-color: transparent;
    img{width:20px;cursor: pointer;}
    .pause-button-player{}
    .play-button-player{}
  }
}
}
.control-right{right: 0;
width: 170px;
top: 0;

position: absolute;

height: 50px;
position: absolute;
  .maximize_screen{
    float: right;

    width: 30px;

    height: 100%;

    text-align: center;

    padding-right: 12px;
    button{
      background: transparent;

border: none;

padding: 0px 5px;

height: 100%;
text-align: center;

width: 100%;
img{width: 17px;vertical-align: middle;}
    }
  }
  .volume-control{float: right;
width: 30px;position: relative;
height: 100%;
text-align: center;
padding-top: 15px;
padding-right: 12px;
img{width:15px;cursor: pointer;}
.vol_bar{position: absolute;display: none;
bottom: 50px;
width: 2em;
height: 12em;
left: 0;
overflow: visible;
background-color: #14171c;
box-shadow: 0 2px 8px 2px rgba(20,23,28,.15);
  .vol-progress{width: 2em;
height: 12em;
margin: 0;
background-color: #faebeb;
border: none;
border-radius: 0;
cursor: pointer;
overflow: hidden;
    .vol-progresss{background: #ec5252;
      position: absolute;
      bottom: 0;
      left: 0;
width: 2em;}

  }

}
&:hover{
  .vol_bar{display: block;}
}
  }
  .time-duration{float: right;

color: #fff;

height: 100%;

font-size: 12px;
padding-right: 12px;
padding-top: 17px;
    .time-gone{padding-right: 5px;}
    .total_time{padding-left: 5px;}
  }
}
