<div class="popupvideo"></div>
<div class="video_outer">
  <div class="video_frame">
<div class="video_section">
    <div class="video_view">
      <video class="vjs-tech"  preload="auto" crossorigin="anonymous" tabindex="-1" autoplay="" src="assets/video/video.mp4" width="100" height="100"></video>
<!-- <video class=""  preload="auto" crossorigin="anonymous" tabindex="-1" autoplay="" src="blob:https://www.youtube.com/55997cec-f995-4ccc-9dca-df2658efb1bf" width="100" height="100"></video> -->
<!-- <video style="width: 854px; height: 480px; left: 0px; top: 0px;" tabindex="-1" class="video-stream html5-main-video"  src="blob:https://www.youtube.com/55997cec-f995-4ccc-9dca-df2658efb1bf"></video> -->
<div class="video_controller_sec" dir="ltr" role="group">
  <div class="play_controll">
    <button>
      <img class="pause-button-player" src="assets/images/svg-one/pause-button-player.svg">
      <img class="play-button-player" style="display:none;" src="assets/images/svg-one/play-button-player.svg">
    </button>
  </div>
<div class="progress-control">
<div tabindex="0" class="progres_bar" role="slider" aria-valuenow="7.54" aria-valuemin="0" aria-valuemax="100" aria-label="progress bar" aria-valuetext="0:25">
<div class="load-progress" style="width: 17.9673%;">
<!-- <span class="vjs-control-text"><span>Loaded</span>: 0%</span> -->
<div class="buffer-progresss" style="left: 0.13331%; width: 99.8667%;"></div></div>
<div class="play-progress " data-current-time="0:25" style="width: 7.54%;">
<!-- <span class="vjs-control-text"><span>Progress</span>: 0%</span> -->
</div>

</div></div>
<div class="control-right">
  <span class="maximize_screen"><button><img src="assets/images/svg-one/maximize-screen.svg"></button></span>
<span class="volume-control">
  <div class="vol_bar">
<div tabindex="0" class="vol-progress" role="slider" aria-valuenow="10.61" aria-valuemin="0" aria-valuemax="100" aria-label="volume level" aria-valuetext="10.61%">
<div class="vol-progresss" style="height: 10.61%;">
  <!-- <span class="vjs-control-text"></span> -->
</div></div></div>
<img src="assets/images/svg-one/volume.svg">
<img style="display:none;" src="assets/images/svg-one/mute-volume.svg">
</span>
<span class="time-duration">
  <span class="time-gone">0:58</span>/
  <span class="total_time">4:33</span>
</span>
</div>
</div>






  </div>

  <div class="video-footer">
  <p>Creating Component : Angular Js</p>
  <button><span>Next Lesson</span>

  <img src="assets/images/svg-one/right-arrow-red.svg" style="width:20px;">
  </button>
  </div>
</div>
    </div>
</div>
