<div class="error-page-wrapper">
 <div class="error-page 500">
<img class="icon-img" src="assets/images/error-icons-500.png" alt="study24x7">
<div class="error-content-wrap">
  <strong class="error-type">
    <span class="err">error</span>
    <span class="err-bold">500</span>
  </strong>
  <strong class="page-title"><span>Uh oh! </span>Internal Server Error</strong>
  <p class="desc">There was an error. Please try again later.</p>
  <a href="#" class="anchor-btn">Take me out of here</a>
</div>
</div>
 </div>
