$backgroundgray : #e6e6e6;
$themeblue : #F05050;
$themegray : #f5f7fa;
$textcolor : #2c2e2f;
$textgrey : #8c8c8c;
$maingreen: rgb(7,162,8);
$stroke : #dfe0e8;
// $stroke : #E9E9E9;
$borderRadius: 5px;
$inputTypeHeight: 35px;
$inputTypeFont: 12px;
$headerHeight: 60px;
$headerLineHeight: $headerHeight - 5px;
$mainboxShadow: 0 0 7px rgba(0,0,0,0.1);
$dropdownwidth: 400px;
$dropdwncontentwidth: $dropdownwidth - 100px;
$ntfctnprofile: 40px;
$inrprflimg : $ntfctnprofile + 8px;
$PostPicture: 40px;
$commentPicture: $PostPicture - 10px;
$subcommentPicture: $commentPicture - 10px;
$mainpostName: 16px;
$maincommentName: $mainpostName - 2px;
$darkthemestroke: $themeblue;
$progressbarRed: #ed6568;
$rightanswer : #5bbc5b;
$themelighten : rgba(18, 188, 180, 0.2);
$lightgray : #fafafa;
$lightstroke: #f4f4f4;
$lighttext: #8c8c8c;
$countcolor : #e94f59;


.leftmenuouter{
 background: #ffffff;
 padding: 15px 0;
 display:inline-block;
 width: 100%;
 box-sizing: border-box;
 box-shadow: 0 0 7px rgba(0, 0, 0, 0.1) !important;
 border-radius: $borderRadius;
 // margin-top: 8px;

 .profileouter {
 display:inline-block;
 width: 100%;
 padding: 0 15px;
 box-sizing: border-box;
}
 .profile{
   display: inline-block;
   width: 60px;


   float: left;
   height: 60px;
   border: 1px solid $stroke;
   border-radius: $borderRadius;
   overflow: hidden;
   border-radius: 30px;
   overflow: hidden;
   border: 4px solid #fff;
   img{
     width: 100%;
     height: 100%;
   }

 }

 .basicdetails{
   display: inline-block;
     max-width: 170px;
     float: left;
     font-size: 14px;
     margin-left: 10px;


   .name{
     font-family: 'Roboto', sans-serif;font-weight: 500;;
     line-height: 12px;
    }
    .username{
     color: $textgrey;
     margin-top: 5px;
     &:hover{
       color: $themeblue !important;
     }
     a{
       &:hover{
         color: $themeblue;
       }
     }

    }
    .editprofile{
      font-size:12px;
      margin-top: 3px;

      &:hover{
        color: #000;
      }
    }


 }
 .profile_desc{
   margin: 15px 0;
   display: inline-block;
   width: 100%;
   text-align: center;
   padding-right: 2px;

   .col-md-3, .col-md-4, .col-md-5{
     margin:0px;
     padding:0px;
     cursor: pointer;
   }
   .count{
     font-size:16px;
     // font-family: open_sanslight
   }
   .countname{
      color: $themeblue;
     font-size: 12px;
     height: 20px;
   }

   .lftconnection{
    width: 70px;
   }
   .middlefollowers{
    width: 80px;
   margin-left: 18px;
   }
   .rightfollowing{
     width: 53px;
   float: right;

   }
 }


 .leftmenulist{


   h5{
     border-top:1px solid $stroke;
     color: $themeblue;
     padding: 15px 0 5px;
     margin: 0 15px;
     font-size: 13px;
   }
   .glyphicon{
     float: left;
   }
   .glyphicon:before{
     margin-right:10px;
     color: $textgrey;
     font-size: 16px;
   }
   ul{
   li{
     line-height: 22px;
     padding: 10px 15px;
     border-left: 2px solid transparent;
     cursor: pointer;
     font-size: 14px !important;
           .interest_count{background-color:  $countcolor;color:#fff;padding: 1px 7px;border-radius:$borderRadius;font-size: 12px;float: right;    overflow: hidden;
   line-height: normal;
   margin-top: 1px;}
      a{
        position: relative;
        top: 1px;
      }
   }

   li.active{
     border-left: 2px solid $themeblue;
     background: $themegray;
     color: $themeblue;

     .glyphicon:before{
       color: $themeblue;
     }
   }
 }
   h4{
     font-size:16px;
     color:$textcolor;
     padding: 20px 10px 10px 18px;
     font-weight: 500;

   }
   ul.sub-menu{

   }
 }
}

 .leftmenuicon {
   margin-right: 10px;
   display: inline-block;
   float: left;
   text-align: left;
   width: 18px;
   height: 18px;
   text-indent: 100%;
   white-space: nowrap;
   overflow: hidden;
   background-size:100% 100%;
   background-position: 0px 0px;
   margin-top: 2px;



     img.defaultt, img.hover{
       width: 18px !important;
       // height: 18px;
     }

 }
     .menuiconquestion{background-image: url(./../../../assets/images/sprite/left_menu.svg#question); }
     .menuiconarticle{background-image: url(./../../../assets/images/sprite/left_menu.svg#article); }
     .menuiconsaved{background-image: url(./../../../assets/images/sprite/left_menu.svg#saved);}
     .menuiconinterest{background-image: url(./../../../assets/images/sprite/left_menu.svg#interest);}
     .menuiconmapage{background-image: url(./../../../assets/images/sprite/left_menu.svg#mypage);}
     .menuiconscreatepage{background-image: url(./../../../assets/images/sprite/left_menu.svg#createpage);}
     .menuiconallcourse{background-image: url(./../../../assets/images/sprite/left_menu.svg#allcourse);}
     .menuiconsmycourse{background-image: url(./../../../assets/images/sprite/left_menu.svg#mycourse);}

     .secIconPerInfo{background-image: url(./../../../assets/images/sprite/left_menu.svg#personalInfoS);}
     .secIconSec{background-image: url(./../../../assets/images/sprite/left_menu.svg#securityS);}
     .secIconCont{background-image: url(./../../../assets/images/sprite/left_menu.svg#contactlInfoS);}
     .menuiconlivewall{background-image: url(./../../../assets/images/sprite/left_menu.svg#liveWallS);margin-top: 5px;}

 .cnt_top{
   height:16px;
 }

 // new scss from style.scss


 .leftmenuouter{.profile_desc{.countname{
   font-size:12px;
 }} }
 .leftmenuouter{
  .leftmenulist{
     li{
       .hover{
         display:none;
       }
       .defaultt{
       display:inline;
       }
       &:hover{
         .defaultt{
         display:none;
         }
         .hover{
           display:inline;
         }
         background-color:#f5f7fa;
         a{
           color:#F05050;
         }
         .menuiconquestion{background-image: url(./../../../assets/images/sprite/left_menu.svg#question_h); }
         .menuiconarticle{background-image: url(./../../../assets/images/sprite/left_menu.svg#article_h); }
         .menuiconsaved{background-image: url(./../../../assets/images/sprite/left_menu.svg#saved_h);}
         .menuiconinterest{background-image: url(./../../../assets/images/sprite/left_menu.svg#interest_h);}
         .menuiconmapage{background-image: url(./../../../assets/images/sprite/left_menu.svg#mypage_h);}
         .menuiconscreatepage{background-image: url(./../../../assets/images/sprite/left_menu.svg#createpage_h);}
         .menuiconallcourse{background-image: url(./../../../assets/images/sprite/left_menu.svg#allcourse_h);}
         .menuiconsmycourse{background-image: url(./../../../assets/images/sprite/left_menu.svg#mycourse_h);  }
         .secIconPerInfo{background-image: url(./../../../assets/images/sprite/left_menu.svg#personalInfoS_h);}
         .secIconSec{background-image: url(./../../../assets/images/sprite/left_menu.svg#securityS_h);}
         .secIconCont{background-image: url(./../../../assets/images/sprite/left_menu.svg#contactlInfoS_h);}
         .menuiconlivewall{background-image: url(./../../../assets/images/sprite/left_menu.svg#liveWallS_h);margin-top: 5px;}
       }
     }
  }
 }
 .leftmenuouter{
 .leftmenulist{
   li.active{
     img.defaultt{
       display:block;
     }
     img.hover{
       display:none;

     }
     a{
     color: #2c2e2f!important;
     }
     .menuiconquestion{background-image: url(./../../../assets/images/sprite/left_menu.svg#question); }
     .menuiconsaved{background-image: url(./../../../assets/images/sprite/left_menu.svg#saved);}
     .menuiconinterest{background-image: url(./../../../assets/images/sprite/left_menu.svg#interest);}
     .menuiconmapage{background-image: url(./../../../assets/images/sprite/left_menu.svg#mypage);}
     .menuiconscreatepage{background-image: url(./../../../assets/images/sprite/left_menu.svg#createpage);}
     .menuiconallcourse{background-image: url(./../../../assets/images/sprite/left_menu.svg#allcourse);}
     .menuiconsmycourse{background-image: url(./../../../assets/images/sprite/left_menu.svg#mycourse)}
     .secIconPerInfo{background-image: url(./../../../assets/images/sprite/left_menu.svg#personalInfoS);}
     .secIconSec{background-image: url(./../../../assets/images/sprite/left_menu.svg#securityS);}
     .secIconCont{background-image: url(./../../../assets/images/sprite/left_menu.svg#contactlInfoS)}
   }
 }
 }
 .leftmenuouter{
  .profile_desc{
    .count	{
      font-weight:500;
    }
  }
 }
 .leftmenuouter{
    .leftmenulist{
        li{
        font-size:14px;
        font-weight: 500;
        padding-top:5px;
        padding-bottom:5px;
      }
    }
 }
 .leftmenuouter{
   border-radius:5px !important;
    .leftmenulist{
       li{
         font-size:15px;
         font-weight:400;
       }
    }
 }
 .leftmenuouter{
   // position:fixed !important;
   top:65px;
 }
 .leftmenuouter{
  .profile{
    border-radius:50%;
  }
 }
 .leftmenuouter{
  .basicdetails{
    margin-top: 15px;
  }
 }
 .leftmenuouter.settingsleftmenu{
   padding-top:0px;
   padding-bottom:15px;
 }

 .leftmenuouter{
  .leftmenulist{
    li{
      padding-right:10px;
      padding-left:10px;
    }
  }
 }
 .leftmenuouter {
   width:278px;
   .leftmenulist {
     ul{
       li.active{
         border-left: 2px solid #F05050;
         background: #f5f7fa;
         color: #2c2e2f!important;
       }
     }
   }
 }
 // conflict
 // body.body-overflow{
 //   overflow: hidden;
 // }
 // end conflict


 // responsive
@media screen  and (max-width:1100px) and (min-width:992px){
.leftmenuouter .profile_desc .middlefollowers{
 margin-left: 0px;
}

}
// @media screen  and (max-width:1160px) and (min-width:992px){
//   // .leftmenuouter .basicdetails{
//   //   width: 125px;
//   // }
// }
@media screen  and (max-width:1020px) and (min-width:992px){
.leftmenuouter .profile_desc .middlefollowers{
 width: 72px;
 margin-left: 0px;
}
}
@media screen  and (max-width:805px) and (min-width:768px){
.leftmenuouter .profile_desc .middlefollowers{

 margin-left: 0px;
}

}
// @media screen  and (max-width: 809px) and (min-width: 800px){
//   .leftmenuouter{
//     width: 190px;
//   }
// }
// @media screen  and (max-width: 819px) and (min-width: 810px){
//   .leftmenuouter{
//     width: 190px;
//   }
// }
// @media screen  and (max-width: 850px) and (min-width: 820px){
//   .leftmenuouter{
//     width: 190px;
//   }
// }
// @media screen  and (max-width: 880px) and (min-width: 851px){
//   .leftmenuouter{
//     width: 205px;
//   }
// }
// @media screen  and (max-width: 900px) and (min-width: 881px){
//   .leftmenuouter{
//     width: 210px;
//   }
// }
// @media screen  and (max-width: 930px) and (min-width: 901px){
//   .leftmenuouter{
//     width: 215px;
//   }
// }
// @media screen  and (max-width: 960px) and (min-width: 931px){
//   .leftmenuouter{
//     width: 230px;
//   }
// }
// @media screen  and (max-width: 992px) and (min-width: 961px){
//   .leftmenuouter{
//     width: 235px;
//   }
// }
