.listing-sec{
  max-height: calc(100vh - 285px);
  overflow: hidden;}
// .cntrMmenu{margin-top: 58px;
// float: left;
// width: 100%;
// margin-bottom: 45px;}
@media only screen and (max-width:992px){
  .listing-sec{
    max-height: max-content;
    overflow: hidden;}
  .listing-sec{max-height: max-content;margin-bottom: 15px;}
.right_stickytab{display: block !important;}
   .wrapper.not_publicview{
     #wvidiv{
       margin-bottom: 70px;
     }
   }

}
