
<div class="testpopup">
  <div class="test_wrapper test_wrapper_user">
    <div class="wrapper_inner">
      <div class="wrapper_inner_sec">
        <div class="topstrip">
          <div class="t_left">
            <div class="test_name">
              <p style="display: inline-block;float: left;font-size:16px">Live Session: {{content_title}}</p>
              <div class="rec_show" style="display:none;">
                <!-- <span class="tag_head" style="line-height:20px;"> Live</span> -->
                <div class="switch">
                  <span class="dote"><img src="./assets/images/Live-stream/eye-icon.svg"></span>
                  <span class="no">Live</span>
                </div>
              </div>
            </div>
            <div class=" icon_div_right" >
              <ul class="stream_wrapp">

                <li class="notification">
                  <div *ngIf="!isMentor" (clickOutside)="onClickOutside($event)">
                    <div class="headericon" (click)="dropnotification(1)" ><img class="iconimage iconimage1"
                      src="./assets/images/Live-stream/notification.svg" title="Notifications">
                      <span class="count">{{userNotiification.length}}</span>
                    </div>
                    <div  #notificationView class="notification_drpdwn" *ngIf="showNotification == 1" (mouseleave)="this.showNotification = !this.showNotification" [perfectScrollbar]="config" style="position: relative;">
                      <span class="notification_heading">Notifications</span>
                      <div style="cursor: default" *ngFor="let notification of userNotiification">
                        <span class="noti_inner">
                          <span>
                            <img src="./assets/images/Live-stream/polling.svg" alt="">
                          </span>{{notification.message}}
                        </span>
                      </div>
                    </div>
                  </div>
                  <!--                                    <div *ngIf="isMentor">
                  <div class="headericon" (click)="dropnotification(1)"><img class="iconimage iconimage1"
                  src="./assets/images/Live-stream/notification.svg" title="Notifications">
                  <span class="count"></span>

                </div>
                <div class="notification_drpdwn" *ngIf="showNotification == 1">
                <span class="notification_heading">Notifications</span>
                <div *ngFor="let chatPublic of adminNotification">
                <span class="noti_inner"><span><img src="./assets/images/Live-stream/polling.svg"
                alt=""></span>{{chatPublic.message}}</span>
              </div>


            </div>
          </div>-->
        </li>
        <li class="layout">
          <!--                                    <div class="headericon"><img class="iconimage iconimage1"
          src="./assets/images/Live-stream/layout.svg" title="Notifications">
          <span class="count"></span>
        </div>-->
      </li>
      <!-- <li class="polling">
      <div class="headericon"><img class="iconimage iconimage1"
      src="./assets/images/Live-stream/polling.svg" title="Notifications">
      <span class="count"></span>
    </div>
  </li> -->
  <li class="polling">
    <div class="headericon" (click)="dropnotification(2)"><img class="iconimage iconimage1"
      src="./assets/images/Live-stream/polling.svg" title="">
      <span class="count"></span>
    </div>

    <div class="notification_drpdwn timeremaining" *ngIf="showNotification == 2" (mouseleave)="this.showNotification = !this.showNotification">
      <div class="streamTimeWrapper">
        <span class="streamheadwrap">Stream Time Remaining</span>
        <!--<span class="streamhead">You can extent stream time if needed maximum by 60 minutes</span>-->
        <div class="timewrapp">
          <span class="timeinnerleft"><b>{{hoursLeft}}</b>:{{minuteLeft}}:{{secondLeft}}</span>
          <span class="timeinnerright">{{durationStr}}</span>
          <div class="timebar"><span class="timeinnerbar" [ngStyle]="{ 'width': timeLapseBar + '%' }"></span></div>
        </div>
        <div class="tmouter">
          <span class="tminnerleft"><span class="timeat">Started at</span><span class="timeto">{{startTime | date:'hh:mm:ss aaa'}}
          </span></span>
          <!--                                                <span class="tminnerright"><span class="timeatelap">Time Elapsed</span><span
          class="timetoelap"></span></span>-->
        </div>
      </div>
    </div>
  </li>
</ul>
</div>
<div class="logout" routerLink="/home">
  <img src="assets/images/Live-stream/exit-stream-gray.svg"><span>Exit Stream</span>
</div>

</div>

</div>
<div class="middle_sec wrapper_middle mainmiddle">
  <div class="middlestrip  ">
    <div class="middle_sec_left m_left">
      <div style="height: 100%;border-radius: 5px;position: relative;">
        <div class="cont_show_sec cont_show_sec_user" style="top:0px;">
          <div *ngIf="!isMentorLive" class="show_empty_state">
            <img src="./assets/images/Live-stream/share-empty-state.svg" title="empty state">
            <p>We are connecting...
              <span>You can chat with other students and mentor within your session</span>
            </p>
          </div>

          <div class="videostram" *ngIf="isMentorLive">
            <div id="bit-player" *ngIf="videoPlayerType == 1" style="z-index: 8;">


            </div>
             <!--chating widget-->
             <div class="middle_sec_right middle_sec_right" *ngIf="toggleChatSection" style="background: transparent;z-index: 9;">

              <div class="stram_video_main">

                <div class="live_chating_sec" style="background: #fff;">
                  <div class="live_stream_msg">
                    <ul class="live_stream_tab">
                      <li class="active" (click)="toggleChatClick();">Class Conversation
                        <span class="closeConversation" >
                          <img class="hoverractive" src="assets/images/svg/remove.svg"></span>
                        </li>
                        <!-- <li [ngClass]="{'active' : msgtab === 2 }" (click)="smstabClick(2);">Private Chating</li> -->
                      </ul>
                      <div class="msg_chat_sec" *ngIf="msgtab === 1">
                        <div class="msg_chat_cont">
                          <div class="msg_chat_show">
                            <perfect-scrollbar class="msg_chat_inner" #scrolltobottom [perfectScrollbar]="config">
                              <div  *ngFor="let chat of chatList; let index = index;">
                                <div class="chatoutr chatoutrmine" *ngIf="chat.sender.userId == _constantService.getSessionDataBYKey('u_id')">
                                  <div class="profileimg_know masgprofilepic">
                                    <img *ngIf="chat.sender.profilePic" tabindex="0" ng-reflect-router-link=""
                                    src="{{chat.sender.profilePic+'profile/'+chat.sender.userId+'_60x60.png'}}">

                                    <img *ngIf="!chat.sender.profilePic" src="{{createProfilePic(chat.sender.userId,chat.sender.profilePic)}}">

                                  </div>
                                  <div class="mainmsgdiv">
                                    <div>
                                      <div class="chatmessage">
                                        <p>{{chat.message}}</p>
                                      </div>
                                      <div class="chattime">
                                        <span class="timeOfMessage">{{postdata.getPostDateTime(chat.timeStamp)}}</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="chatoutr" *ngIf="chat.sender.userId != _constantService.getSessionDataBYKey('u_id')">
                                    <div class="profileimg_know masgprofilepic" >
                                      <img *ngIf="chat.sender.profilePic" tabindex="0" ng-reflect-router-link=""
                                      src="{{chat.isAdmin?createProfilePic1(chat.sender.userId,chat.sender.profilePic):createProfilePic (chat.sender.userId,chat.sender.profilePic)}}">


                                      <img *ngIf="!chat.sender.profilePic" src="{{createProfilePic(chat.sender.userId,chat.sender.profilePic)}}">

                                    </div>



                                  <div class="mainmsgdiv">
                                    <div>
                                      <div class="chatmessage">
                                        <p>{{chat.message}}</p>
                                      </div>
                                      <div class="chattime">
                                        <span class="timeOfMessage">{{postdata.getPostDateTime(chat.timeStamp)}} </span>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                              </div>
                            </perfect-scrollbar>
                          </div>
                          <div class="msg_chat_send">
                            <div class="msg_outer">
                              <div class="msg_out_cont" [perfectScrollbar]="config">
                                <div (keyup)="$event.keyCode == 13 && sendMsg()" class="placeholdercolor Editableplaceholder" id="writemsg"
                                ondrop="return false;" contenteditable="true"></div>
                              </div>
                              <span class=" msgsendiconwrapper" style="padding: 11px 0;" (click)="sendMsg()">
                                <img alt="" src="./assets/images/svg-three/inbox_icon/f05050/send.svg">
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="" *ngIf="msgtab === 2"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--chating widget-->

              </div>

              <!--chat toggle button-->
              <div class="chattooltip" style="z-index:9;" (click)="toggleChatClick();" *ngIf="toggleChatSection === false;">
                <span>
                  <img class="defaulttshow"  src="assets/images/Live-stream/chat-icon-wh.svg">
                </span>
              </div>
              <!--chat toggle button-->

            <video  id="video_1 "  *ngIf="videoPlayerType != 1"
            class="video-js vjs-default-skin vjs-big-play-centered vjs-16-9"
            controls autoplay preload="auto"  width="640" height="264">

            <source [src]="streamVideoURl" type='application/x-mpegURL' />
          </video>




          </div>
        </div>
      </div>
      <!--                            <div class="mentorshow">
      <div class="stram_video_sec">
      <div class="inner_video">
      <img class="vedeo_freame" src="assets/images/live_stram_img.png">
      <span class="vedeo_freame_close" >
      <img class="defaulttshow" src="assets/images/svg/addpost_tagcross-white.svg">
      <img class="hoverractive" src="assets/images/svg/addpost_tagcross-gray.svg">
    </span>
  </div>
</div>
</div>-->




</div>
</div>
</div>
<div class="logout">
  <img src="assets/images/Live-stream/exit-stream-gray.svg"><span>Exit Stream</span>
</div>

</div>

</div>
</div>
<!-- <app-livestreampollpopup></app-livestreampollpopup> -->
