<div class="peopleknow_outer ppl-you-may-know"  *ngIf="inviteList.length != 0">
    <h6 class="widgetheading head_n top_heading">Invite Friends </h6>
    <div class="friend-invites">
        <p>Inform your friends about this page, so they can be a part of it.</p>
<!--        <div class="friend-search">
            <span class="search-btn-wrap">
                <button class="btn-wrap">
                    <img alt="aio" src="./assets/images/svg-three/head/search-02.svg"></button>
            </span>
            <input type="text" class="friend-srch" placeholder="Search Friends">
        </div>-->
<!-- <div class="select-all"><span (click)="showselect()">{{show ? 'Select All' : 'Unselect All'}}</span></div> -->
    </div>
    <perfect-scrollbar class='people_list list_npeople' [perfectScrollbar]="config" style="height:230px;position:relative;">
        <ul >
            <li *ngFor="let arr of inviteList">
                <div class="profileimg_know"  routerLink="/profile/{{arr.USER_NAME}}">
                    <img src='{{arr.PROFILE_PHOTO_PATH}}' >
                </div>
                <div class='prfl_detail profile-detl profile-dt' >
                    <div class="profilename" title="{{arr.FULL_NAME}}" routerLink="/profile/{{arr.USER_NAME}}">{{arr.FULL_NAME |trimData:17}}</div>
                    <div class="grayinfo info-id">
                        {{arr.USER_NAME}}
                     </div>
                    
                </div>
                <button class="whiteColorButton button24x7" (click)="sendInvite(arr.USER_ID)">Invite</button>
            </li>
        </ul>
    </perfect-scrollbar>

    <!-- empty state -->


<!--     <div class="page-about">
      <div class="page_widget_inner">
        <span><img src="assets/images/svg-three/friends-01.svg" alt="aio"></span>
        <span>Invite Friends</span>
        <span>Inform your friends about this<br>page</span>
      </div>
      <button class="btn btn-pagetips" (click)="openinvitefriend()">Invite</button>
    </div> -->

    <!-- end empty state -->
    <div style="text-align: center; padding: 5px;" (click)="sendInvite('all')" ><button class="whiteColorButton button24x7">Invite All</button></div>

</div>
