<div class="peopleknow_outer ppl-you-may-know livestreamswrapper">
    <!--people you may know right menu pre loader start -->
    <!-- <div class="placeholde-wrapper right_reloader " *ngIf="loaderscreen">
        <div class="animated-background rightloader" style="margin-top:0px;">
            <div class="circle cir_animation animated-background"></div>
            <div class="whitediv bottom11"></div>
            <div class="whitediv bottom10"></div>
            <div class="whitediv bottom9"></div>
            <div class="whitediv bottom8"></div>
            <div class="whitediv bottom5"></div>
        </div>

        <div class="animated-background rightloader ">
            <div class="circle cir_animation animated-background"></div>
            <div class="whitediv bottom11"></div>
            <div class="whitediv bottom10"></div>
            <div class="whitediv bottom9"></div>
            <div class="whitediv bottom8"></div>
            <div class="whitediv bottom5"></div>
        </div>

        <div class="animated-background rightloader ">
            <div class="circle cir_animation animated-background"></div>
            <div class="whitediv bottom11"></div>
            <div class="whitediv bottom10"></div>
            <div class="whitediv bottom9"></div>
            <div class="whitediv bottom8"></div>
            <div class="whitediv bottom5"></div>
        </div>

        <div class="animated-background rightloader ">
            <div class="circle cir_animation animated-background"></div>
            <div class="whitediv bottom11"></div>
            <div class="whitediv bottom10"></div>
            <div class="whitediv bottom9"></div>
            <div class="whitediv bottom8"></div>
            <div class="whitediv bottom5"></div>
        </div>
    </div> -->
    <!--people you may know right menu pre loader end -->

    <div>
        <h6 class="widgetheading head_n top_heading">Upcoming Streams<a class="head_n view_n"></a></h6>
        <perfect-scrollbar class='people_list list_npeople livestreams' [perfectScrollbar]="config" style="position: relative;">
            <div class="livestream_block">
              <div class="liveblock_up">
                <span class="stream_heading">
                  introduction to chemistry
                </span>
                <span class="stream_details">
                <img class="defaultt" src="assets/images/svg-three/page_icon/iconwall.svg">
                One to One Sessions
                </span>
                <span class="doticon">
                  <img (click)="showdrop();"  class="postdropmenu defaultt" src="assets/images/svg-three/post_icon/dot_menu.svg">
                <span class="box_dropdown" *ngIf="remaindershow">
                  <div class="box">
                      <h3 style="font-size:12px;">Send Remainder</h3>
                  </div>
                </span>
                </span>
              </div>
              <div class="livementordetail">
                <span class="headingwrapp">Mentor</span>
                <div class="profiledet">
                  <span class="imgprofile"><img src="assets/images/profile9.jpg" alt=""></span>
                  <span class="profilehead">Vivek Bhandula<span class="greentick"><img src="./assets/images/svg-three/course/course_creation/whitecheckbox.svg" alt=""></span></span>
                  <span class="profilestatus">Approval Pending</span>
                </div>
                <div class="time_wrapper">
                  <span class="timewrap">
                    <span class="digitwrapp">02</span>
                    <span class="wordwrapp">Days</span>
                  </span>
                  <span class="timewrap">
                    <span class="digitwrapp">10</span>
                    <span class="wordwrapp">Hrs</span>
                  </span>
                  <span class="timewrap">
                    <span class="digitwrapp">10</span>
                    <span class="wordwrapp">Mins</span>
                  </span>
                </div>
              </div>

            </div>


            <div class="livestream_block">
              <div class="liveblock_up">
                <span class="stream_heading">
                  introduction to chemistry
                </span>
                <span class="stream_details">
                <img _ngcontent-c1="" class="defaultt" src="assets/images/svg-three/page_icon/iconwall.svg">
                One to One Sessions
                </span>
                <span class="doticon">
                  <img _ngcontent-c29="" class="postdropmenu defaultt" src="assets/images/svg-three/post_icon/dot_menu.svg">
                </span>
              </div>
              <div class="livementordetail">
                <span class="headingwrapp">Mentor</span>
                <div class="profiledet">
                  <span class="imgprofile"><img src="assets/images/profile9.jpg" alt=""></span>
                  <span class="profilehead">Vivek Bhandula</span>
                  <span class="profilestatus">Approval Pending</span>
                </div>
                <div class="time_wrapper">
                  <span class="timewrap">
                    <span class="digitwrapp">02</span>
                    <span class="wordwrapp">Days</span>
                  </span>
                  <span class="timewrap">
                    <span class="digitwrapp">10</span>
                    <span class="wordwrapp">Hrs</span>
                  </span>
                  <span class="timewrap">
                    <span class="digitwrapp">10</span>
                    <span class="wordwrapp">Mins</span>
                  </span>
                </div>
              </div>
            </div>
            <!-- <ul>
                <li *ngFor="let peoples of people;let i=index" id="sugg_{{peoples.USER_ID}}">
                    <div class="profileimg_know">
                        <img src='{{ peoples.PROFILE_PHOTO_PATH }}' routerLink="/profile/{{peoples.USER_NAME}}" (error)="updateSourcePic($event)">
                    </div>
                    <div class='prfl_detail' >

                        <div class="profilename" routerLink="/profile/{{peoples.USER_NAME}}" title='{{ peoples.FULL_NAME}}'>{{ peoples.FULL_NAME|trimData:17}} </div>

                        <a *ngIf="!peoples.connectStatus" id="{{peoples.USER_ID}}" (click)="sendRequest($event,i)" class="connictionlink">
                            <img src="assets/images/svg-three/add_frnd_1.svg" alt="aio" width="14">Connect
                        </a>
                        <a *ngIf="peoples.connectStatus" id="{{peoples.USER_ID}}" (click)="cancelFrndReq(i)" class="connictionlink">
                            <img src="assets/images/svg-three/add_frnd_1.svg" alt="aio" width="14">Cancel request
                        </a>
                    </div>

                    <button *ngIf="!peoples.connectStatus" class="graybutton" (click) = "delSuggestion(peoples.USER_ID,i)">
                        <img class="defaultt" src="assets/images/svg/tagcross-gray.svg">
                        <img  class="hoverr" src="assets/images/svg/tagcross-r.svg">
                    </button>
                </li>
            </ul> -->

        </perfect-scrollbar>

        <h6 class="footer_heading" routerLink="">
            View all &nbsp; <span><img class="greater" src="assets/images/svg-three/greater.svg" alt="aio"></span>
        </h6>

        <!-- <div class="emptystate" *ngIf = "suggestionPresent==false">
            <div class="emptystate_inner">
                <img  src="assets/images/emptystates/svg/suggestion-widget-not-provided.svg" style="width: 200px!important;">
                <span></span>
            </div>

        </div> -->
    </div>



</div>
