// add this css on mypages

// mypage css start
.mypages-outer-wrap {
  .page-box-wrap {
    .page-box-inner-wrap{
      height: 140px!important;
      .page-box-content{
        h5{
          padding: 5px 0px;
        }
      }
    }
  }
}
.mypages-outer-wrap {
  .creat-page-box-wrap{
    height: 227px;
  }
}
.cont_imgg{
  padding: 0px 55px;
  height: 110px !important;
}

// mypage css end

.box_wrap_inn{
  height:130px !important;
}


.whitebg{
  width: 130px !important;
  height: 130px !important;
}

.count_limit{
    color:#f05050 !important;
}

.coverphoto{
  .profile_Detail{
        width: 465px;
        #tabb{

        }
        .profile_picture{
           img{
             height: 100%;
           }
         }
  }
}

.changeprofile{
  .fileupload_image{
    img{
      margin-top: 10px;
    }
    .profileimgupload{
      margin-top: 0px;
    }
  }
}
.profile_name{    overflow: hidden;
    text-align: center;
}

.coverphoto{
   .profile_Detail{
      .profile_name{
        line-height: 22px;
      }
    }
 }
