.interestlist_outer { display: inline-block; width: 100%; padding: 7.5px; box-sizing: border-box; }

.interestpopup .interestlist { display: inline-block; width: 100%; }

.interestpopup .interestlist li { display: inline-block; width: 162px; height: 136px; border: 1px solid #dfe0e8; overflow: hidden; cursor: pointer; margin: 7.5px; border-radius: 5px; position: relative; z-index: 0; }

.interestpopup .interestlist li img { width: 100%; float: left; height: 32px; margin-top: 5px; }

.interestpopup .interestlist li .interestcheckbox { display: none; }

.interestpopup .interestlist li .glyphicon-ok:before { display: none; }

.interestpopup .interestlist li .interestboxinr { text-align: center; }

.interestpopup .interestlist li .interestcheckbox:checked + .interestboxinr .interestboxmain { position: absolute; background: rgba(0, 0, 0, 0.5); height: 100%; left: 0; top: 0; display: inline-block; z-index: 9; width: 100%; }

.interestpopup .interestlist li .interestcheckbox:checked + .interestboxinr .glyphicon-ok:before { position: absolute; display: block; color: #fff; line-height: 100px; font-size: 26px; left: 0px; right: 0px; margin: 0 auto; float: none; }

.interestpopup .interestlist li .interestcheckbox:checked + .interestboxinr .glyphicon { position: absolute; left: 0px; width: 100%; text-align: center; right: 0; z-index: 9; margin: 0 auto; }

.interestpopup .drpdwn_btn { width: 120px; float: left; position: relative; z-index: 9; }

.interestpopup .interest_popupheader { display: inline-block; width: 100%; box-sizing: border-box; padding: 15px; background: #fff; position: relative; z-index: 9; }

.interestpopup .drpdwn_post { background: #fff; display: block; border: 1px solid #dfe0e8; left: 15px; width: 135px; position: absolute; top: 50px; }

.interestpopup .drpdwn_post li { padding: 10px; text-align: left; width: 100%; box-sizing: border-box; border-bottom: 1px solid #dfe0e8; cursor: pointer; height: auto; line-height: auto; }

.interestpopup .drpdwn_post li:hover { background: #f5f7fa; color: #2c2e2f; }

.interesrsearch { float: right; margin-top: 10px; padding: 0px; }

.interesrsearch .input-group-addon { padding: 0px; }

.interesrsearch button { height: 24px; line-height: 24px; }

.interesrsearch input { height: 26px; line-height: 26px; }

.interest_content { position: absolute !important; top: 92px; bottom: 65px; overflow: auto; }

.interest-page-wrapper .interestpopup { width: auto; height: auto; }

.interest-page-wrapper .interestpopup .interest-title { margin-bottom: 15px; }

.interest-page-wrapper .interestpopup .interest-title h2 { margin-top: 0; line-height: 1; font-size: 16px; color: #2c2e2f; padding-left: 10px; }

.interest-page-wrapper .interestpopup .interest_content { position: static !important; }

.interest-page-wrapper .interestpopup .interest_content .interestlist_outer { display: block; padding-top: 0; padding-left: 0; }

.interest-page-wrapper .interestpopup .interest_content .interestlist li { display: block; width: 33.333%; box-sizing: border-box; margin: 0; margin-bottom: 15px; height: auto; padding-right: 8px; padding-left: 8px; margin-bottom: 15px; float: left; border: none; }

.interest-page-wrapper .interestpopup .interest_content .interestlist li .interest-inner-wrap { padding: 10px 17px; position: relative; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; background-color: white; }

.interest-page-wrapper .interestpopup .interest_content .interestlist li .interest-inner-wrap .interestboxinr { cursor: pointer; display: flex; align-items: center; margin-bottom: 0; width: 100%; }

.interest-page-wrapper .interestpopup .interest_content .interestlist li .interest-inner-wrap .interestboxinr span.glyphicon { background-color: transparent; }

.interest-page-wrapper .interestpopup .interest_content .interestlist li .interest-inner-wrap .interestboxinr span.glyphicon.glyphicon-ok { display: block; position: absolute; top: auto; bottom: 0; left: auto; right: 0; width: 20px; height: 20px; }

.interest-page-wrapper .interestpopup .interest_content .interestlist li .interest-inner-wrap .interestboxinr span.glyphicon.glyphicon-ok:before { background-color: #F05050; line-height: 20px; font-size: 12px; text-align: center; height: 100%; width: 100%; -webkit-border-top-left-radius: 5px; -moz-border-top-left-radius: 5px; -ms-border-top-left-radius: 5px; -o-border-top-left-radius: 5px; border-top-left-radius: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-bottom-right-radius: 5px; -ms-border-bottom-right-radius: 5px; -o-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px; }

.interest-page-wrapper .interestpopup .interest_content .interestlist li .interest-inner-wrap .interestboxinr .interestboxmain { position: absolute; height: 100%; width: 100%; left: 0; top: 0; bottom: auto; right: auto; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; }

.interest-page-wrapper .interestpopup .interest_content .interestlist li .interest-inner-wrap .Interest_Name { padding-left: 15px; display: block; float: left; position: relative; z-index: 12; text-transform: capitalize; }

.interest-page-wrapper .interestpopup .interest_content .interestlist li .interest-inner-wrap .img-warp { position: relative; z-index: 12; display: block; float: left; width: 42px; height: 42px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; }

.interest-page-wrapper .interestpopup .interest_content .interestlist li .interest-inner-wrap .img-warp img { width: 100%; float: left; height: 32px; margin-top: 5px; }

.interest-page-wrapper .interestpopup .interest_content .interestlist li .interest-inner-wrap .img-warp-redicon { position: relative; z-index: 12; float: left; width: 42px; height: 42px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; }

.interest-page-wrapper .interestpopup .interest_content .interestlist li .interest-inner-wrap .img-warp-redicon img { width: 100%; float: left; height: 32px; margin-top: 5px; }

.interest-page-wrapper .interestpopup .popupfooter { position: relative; }

.interest-page-wrapper .interestpopup .interestlist li .interestcheckbox:checked + .interestboxinr .interestboxmain { background-color: white; border: 1px solid #F05050; }

.interest_outer_wrapper { width: 100%; background-color: white; }

.interest_outer_wrapper .heading_wrap { padding: 10px 15px; background-color: #f5f7fa; }

.interest_outer_wrapper .heading_wrap .heading_left { width: 50%; float: left; }

.interest_outer_wrapper .heading_wrap .heading_left p { font-size: 14px; font-weight: 500; }

.interest_outer_wrapper { width: 100%; float: left; background-color: white; height: auto; border-radius: 5px; -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.05) !important; -ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.05); -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.05) !important; box-shadow: 0 0 5px rgba(0, 0, 0, 0.05) !important; }

.interest_outer_wrapper .heading_wrap { padding: 10px 15px; background-color: #f5f7fa; width: 100%; float: left; border-radius: 5px 5px 0 0; }

.interest_outer_wrapper .heading_wrap .heading_left { width: 100%; float: left; }

.interest_outer_wrapper .heading_wrap .heading_left p { font-size: 16px; font-weight: 500; line-height: 30px; }

.interest_outer_wrapper .grid_accordian_outer_wrap { width: 100%; float: left; padding: 20px 30px; }

.interest_outer_wrapper .grid_accordian_outer_wrap .btn_next { padding: 0 25px; margin-top: 10px; }

.interest_outer_wrapper .grid_accordian_outer_wrap .accordian_panel_wrapper { width: 100%; float: left; padding-top: 15px; }

.interest_outer_wrapper .grid_accordian_outer_wrap .accordian_panel_wrapper .interest_icon_left { position: relative; z-index: 2; float: left; height: 30px; border-radius: 50%; width: 5%; margin-top: 2px; display: none; }

.interest_outer_wrapper .grid_accordian_outer_wrap .accordian_panel_wrapper .interest_icon_left img { width: 30px; height: 30px; display: none; }

.interest_outer_wrapper .grid_accordian_outer_wrap .accordian_panel_wrapper .accr_wrap { border-bottom: none !important; }

.interest_outer_wrapper .grid_accordian_outer_wrap .accordian_panel_wrapper .interest_accordian_wrap { float: left; width: 100%; border-bottom: 1px solid #f7f7f7; }

.interest_outer_wrapper .grid_accordian_outer_wrap .accordian_panel_wrapper .interest_accordian_wrap .panel_group_wrap { margin-bottom: 15px !important; cursor: pointer; }

.interest_outer_wrapper .grid_accordian_outer_wrap .accordian_panel_wrapper .interest_accordian_wrap .panel_dwrap { border-radius: 0; border: none; box-shadow: none; }

.interest_outer_wrapper .grid_accordian_outer_wrap .accordian_panel_wrapper .interest_accordian_wrap .panel_dwrap .panel_body_wrap { border-top: none; padding: 15px 0px 0 0; overflow-y: hidden; }

.interest_outer_wrapper .grid_accordian_outer_wrap .accordian_panel_wrapper .interest_accordian_wrap .panel_dwrap .panel_in_heading { background-color: white; border: none; padding-left: 10px; padding-right: 0; }

.interest_outer_wrapper .grid_accordian_outer_wrap .accordian_panel_wrapper .interest_accordian_wrap .panel_dwrap .panel_in_heading .pnl_title { font-size: 16px; font-weight: normal; }

.interest_outer_wrapper .grid_accordian_outer_wrap .accordian_panel_wrapper .interest_accordian_wrap .panel_dwrap .panel_in_heading .pnl_title .tag_wrap { padding: 2px 10px !important; border-radius: 18px; margin-left: 5px; margin-right: 0; }

.interest_outer_wrapper .grid_accordian_outer_wrap .accordian_panel_wrapper .interest_accordian_wrap .panel_dwrap .panel_in_heading .pnl_title .interest_headng { float: left; font-weight: 500; cursor: pointer; -moz-user-select: none; user-select: none; -webkit-user-select: none; -ms-user-select: none; }

.interest_list_wrap { width: auto !important; margin-bottom: 10px !important; padding-right: 5px !important; }

.interest_list_wrap:hover .Interest_name_wrap { color: #f05050 !important; }

.interest_list_wrap:hover .interestboxmain_wrap { border: 1px solid #f05050 !important; }

.interest-page-wrapper .interestpopup .interestlist li .Interest_name_wrap { font-size: 14px; font-weight: normal; padding-left: 0px !important; color: #8c8c8c; }

.interest-page-wrapper .interestpopup .interestlist li .interestcheckbox:checked + .interestboxinr .Interest_name_wrap { color: #f05050; }

.interest-page-wrapper .interestpopup .interestlist li .interestcheckbox:checked + .interestboxinr .interestboxmain_wrap { background-color: rgba(240, 80, 80, 0.1); }

.interestlist_outer_wrap { padding-bottom: 0px; padding-right: 50px; overflow-y: hidden; }

.interestlist_outer_wrap .interestlist li .interest-inner-wrap .interestboxinr .interestboxmain_wrap { border: 1px solid #8c8c8c; border-radius: 18px !important; }

.active_icon .icon_up { float: right; display: inline-block; font-size: 10px; cursor: pointer; }

.active_icon .icon_down { float: right; display: none; font-size: 10px; cursor: pointer; }

.active_icon.collapsed .icon_up { display: none; float: right; }

.active_icon.collapsed .icon_down { display: inline-block; float: right; }

.drpdwn_post.postdrop.for-post.for_delete ul { float: left; }

.drpdwn_post.postdrop.for-post.for_delete ul li { line-height: 17px; }

.popup_main.interestpopup { overflow: hidden; }

.popup_main.interestpopup .popupfooter { background-color: #f5f7fa; }

.popup_main.interestpopup .popupfooter .btn.btn-primary.btn-primary-cancel { margin-right: 10px; box-shadow: none !important; }

.popup_main.interestpopup .popup_heading { line-height: 46px; background-color: #f5f7fa; }

.popup_main.interestpopup .interestlist .Interest_Name { padding-left: 15px; padding-right: 15px; }

.popup_main.interestpopup .drpdwn_post.for-post { top: 62px; }

.popup_main.interestpopup .drpdwn_post.for-post:before { left: 5px; right: auto; }

.popup_main.interestpopup .drpdwn_post.for-post:after { left: 6px; right: auto; }

.popup_main.interestpopup .drpdwn_post.for-post li:hover { color: #F05050; }

.popup_main.interestpopup .interest_popupheader .interesrsearch { margin-top: 0px; }

.popup_main.interestpopup .interest_popupheader .interesrsearch input { height: 35px; line-height: 35px; box-shadow: none; }

.popup_main.interestpopup .interest_popupheader .interesrsearch button { line-height: 32px; height: 32px; width: 60px; border-color: transparent; }

.interestpopup { padding: 0px; }

.interestpopup .interestlist li .interestcheckbox:checked + .interestboxinr .img-warp { display: none; }

.interestpopup .interestlist li .interestcheckbox:checked + .interestboxinr .img-warp-redicon { display: inline-block; float: left; }

.interest-popupfooter { float: left; width: 100%; margin-top: 20px; }

.rightmenu_fixed { float: left; width: 278px; }

.rightmenu_fixed.fixedleft { position: fixed; width: 278px; float: left; }

.interest_outer_wrapper .active_icon .icon_up { float: right; display: inline-block; font-size: 10px; cursor: pointer; color: #000; transform: rotate(180deg); }

.interest_outer_wrapper .active_icon .icon_up:before { content: "\e260"; }

.interest_outer_wrapper .active_icon .icon_up.glyphicon-menu-up { color: red; transform: rotate(0deg); }

@media screen and (max-width: 600px) { /* .container.main_body{ margin-top:0; } */
  .container.main_body { margin-top: 67px; }
  .interest_outer_wrapper { border-radius: 0; padding: 0px 15px; }
  .interest_outer_wrapper .heading_wrap .heading_left p { line-height: 18px; }
  .interest_outer_wrapper .grid_accordian_outer_wrap { padding: 0px 15px 15px 10px; }
  .interestlist_outer_wrap { padding-right: 0px; } }
