<div class="wrapper interest-page-wrapper">
    <!-- <app-header *ngIf="showHeader" (sessionLogout)="sessionExpire($event)"></app-header> -->
    <div id="windivinterest">
        <div class=" ">
            <div class="row">
                <!-- <div  class="col-md-3 col-sm-4 left_stickytab" id="left-side-bar" style="padding-right:0;">
                  <div class="rightmenu_fixed" id="someDivleft" [ngClass]="{'fixedleft': isScrolled}">
                    <app-leftmenu (hidePopup)="hidePageCreatePopup($event)" (showPopup)="displayPageCreatePopup($event)" [leftSecWidth]="secWidth" (sessionLogout)="sessionExpire($event)"></app-leftmenu>
                    </div>
                </div> -->
                <div class="col-md-12 center_feed" id="centersection">

                    <div class="interest_outer_wrapper">
                        <div class="heading_wrap mobileHeader">

                          <div class="mobileBackButton" (click)="goBackToUrl()">
                            <img src="assets/images/svg-three/login_icon/left-arrow.svg" alt="">
                          </div>

                            <div class="heading_left ">
                                <p>Select your interests below to get relevant information.</p>
                            </div>
                            <div class="search_right">
                            </div>
                        </div>
                        <div class="grid_accordian_outer_wrap">
                            <div class="accordian_panel_wrapper"  *ngFor="let item of interests; let i=index;">
                                <!--<span class="interest_icon_left"><img src="./assets/images/interest/greyicon/8.svg" alt="aio"></span>-->
                                <div class="interest_accordian_wrap">
                                    <div class="panel-group panel_group_wrap clearfix">
                                        <div class="panel panel-default panel_dwrap">

                                            <div class="clearfix panel-heading panel_in_heading active_icon"  data-toggle="collapse" (click)="toggleShowHide(i)">
                                                <span class="panel-title pnl_title">
                                                    <span class="interest_headng">{{item.CATEGORY_NAME}}</span>
                                                    <!-- <span class="icon_down glyphicon glyphicon-menu-down" ></span> -->
                                                    <span class="icon_up glyphicon glyphicon-menu-up" id="interestmenuup_{{i}}" ></span>
                                                </span>
                                            </div>

                                            <div id="interest_{{i}}" [ngClass]="{'panel-collapse collapse show':item.CATEGORY_ORDER==1, 'panel-collapse collapse':item.CATEGORY_ORDER==2||3||4||5||6}">
                                                <div class="panel-body panel_body_wrap">
                                                    <div class="interestpopup">
                                                        <div class="interest_content">
                                                            <div class="interestlist_outer interestlist_outer_wrap">
                                                                <ul class='interestlist clearfix'>
                                                                    <ng-container *ngFor = "let interest of item.INTERESTS;">
                                                                        <li  class="interest_list_wrap">
                                                                            <div class="interest-inner-wrap">
                                                                                <input name="interest_checkbox" type='checkbox' class="interestcheckbox" value="{{interest.INTEREST_ID}}" id='{{interest.INTEREST_ID}}' (change)="checkboxupdate($event.target.getAttribute('value'),$event);">
                                                                                <label class="interestboxinr clearfix" for='{{interest.INTEREST_ID}}'>
                                                                                    <span class="interestboxmain interestboxmain_wrap"></span>
                                                                                    <span class="Interest_Name Interest_name_wrap">{{interest.INTEREST_NAME}}</span>
                                                                                </label>
                                                                            </div>
                                                                        </li>
                                                                    </ng-container>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="interest-popupfooter">
                                <button (click)="updateUserInterest();"  class='button24x7 redColorButton fright buttonPadding20' >
                                    <span *ngIf="!loader">Save</span><span ><img src="./assets/images/svg/preloader-25.svg" alt="aio" *ngIf="loader"></span> </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div *ngIf="isCratePagePopup">
<app-createpage (hidecreatepagePopup)="hidePageCreatePopup($event)" ></app-createpage>
</div>
<!--<div class="help-icon" routerLink="/inbox/ask.assistant6617" (click)="_constantService.setFriendUserId(2)">
  <img src="./assets/images/svg-three/wall/help.svg" alt="aio">
  <p>Need any help?</p>
</div>-->
<!--<app-confirmationpopup *ngIf="openConfirmation" (closeComfirmPopupThread)="sessionLogout($event);" [dataObj]="dataConf"></app-confirmationpopup>-->
<app-confirmationpopup *ngIf="openConfirmation" (closeComfirmPopupThread)="closedPopup($event);" [dataObj]="dataConf"></app-confirmationpopup>
<div *ngIf="coverAll" class="cover-all">

</div>