<app-mnavbar (showMobileMenu)="displayMobileMenu()" (hideMenu)="hideMobileMenu()" ></app-mnavbar>

<app-header></app-header>
<div class="sidemenu" [ngClass]="{'openfilter': isMobileMenue }" >
    <div *ngIf="isMobileMenue">
    <div class="menuslidedarkbg"  (click)="leftSidemenu()"></div>
    <app-mmenu  class="cntrMmenu" ></app-mmenu>
    </div>
</div>
<!-- <app-mmenu class="cntrMmenu" *ngIf="isMobileMenue"></app-mmenu> -->

<div id="windiv" [hidden]="isMobileMenue" class="top_wrapper">
  <div class="container main_body">
    <div class="row">
      <!--- responsive ui start--->
      <!-- left side nav -->
      <div class="darkbackground bgadd" *ngIf="leftFilterMenu" (click)="leftSideFilter()"></div>
      <div class="sidefilter" [ngClass]="{'openfilter': leftFilterMenu }">
        <div class="innerSideFilter">
          <app-point-system-left-panel (messageEvent)="receiveMessage($event)" *ngIf="leftFilterMenu">
          </app-point-system-left-panel>
          <div class="open_left" (click)="leftSideFilter()"><img src="assets/images/svg-three/post_icon/filter.svg"
              alt=""></div>
        </div>
      </div>
      <!-- end side nav -->
      <!--- responsive ui end--->
      <div class="col-md-3 col-sm-4 left_stickytab" id="left-side-bar" style="padding-right:0;">
        <div class="rightmenu_fixed" id="someDivleft" [ngClass]="{'fixedleft': isScrolled1}">
          <app-point-system-left-panel (messageEvent)="receiveMessage($event)"></app-point-system-left-panel>

        </div>
      </div>
      <div class="col-md-6 center_feed">

        <app-earn-points *ngIf="activeTab == 2"></app-earn-points>
        <app-my-point *ngIf="activeTab == 1"></app-my-point>
      </div>







      <div class="col-md-3 col-sm-3 rightpanel pdng_left center_feed right_stickytab" id="wall-sidebar-wrap">
        <div class="rightmenu_fixed" id="someDiv" [ngClass]="{'fixedleft': isScrolled}">
          <app-rank-statistics></app-rank-statistics>

        </div>
      </div>
    </div>
  </div>
</div>
