<div class="mypages-outer-wrap">
  <div class="row mypages-inner-wrap">

    <div class="col-sm-3 mypage_item">
        <div class="page-box-wrap">
          <div class="page-box-inner-wrap">
              <figure class="image-wrap">
                <img src="./assets/images/aakash.png" alt="aio">
              </figure>
              <div class="page-box-content text-center">
                <h5>Petra Travels & Tourism</h5>
                <span class="sub-title">Travelling Institute</span>
                <button class="btn-secondary graybutton">Follow</button>
              </div>
          </div>
        </div>
    </div>
    <div class="col-sm-3 mypage_item">
        <div class="page-box-wrap">
          <div class="page-box-inner-wrap">
              <figure class="image-wrap">
                <img src="./assets/images/madeeasy.png" alt="aio">
              </figure>
              <div class="page-box-content text-center">
                <h5>Petra Travels & Tourism</h5>
                <span class="sub-title">Travelling Institute</span>
                <button class="btn-secondary graybutton">Follow</button>
              </div>
          </div>
        </div>
    </div>


    <div class="col-sm-3 mypage_item">
        <div class="page-box-wrap">
          <div class="page-box-inner-wrap">
              <figure class="image-wrap">
                <img src="./assets/images/allen.jpg" alt="aio">
              </figure>
              <div class="page-box-content text-center">
                <h5>Petra Travels & Tourism</h5>
                <span class="sub-title">Travelling Institute</span>
                <button class="btn-secondary graybutton">Follow</button>
              </div>
          </div>
        </div>
    </div>
    <div class="col-sm-3 mypage_item">
        <div class="page-box-wrap">
          <div class="page-box-inner-wrap">
              <figure class="image-wrap">
                <img src="./assets/images/madeeasy.png" alt="aio">
              </figure>
              <div class="page-box-content text-center">
                <h5>Petra Travels & Tourism</h5>
                <span class="sub-title">Travelling Institute</span>
                <button class="btn-secondary graybutton">Follow</button>
              </div>
          </div>
        </div>
    </div>
    <div class="col-sm-3 mypage_item">
        <div class="page-box-wrap">
          <div class="page-box-inner-wrap">
              <figure class="image-wrap">
                <img src="./assets/images/aakash.png" alt="aio">
              </figure>
              <div class="page-box-content text-center">
                <h5>Petra Travels & Tourism</h5>
                <span class="sub-title">Travelling Institute</span>
                <button class="btn-secondary graybutton">Follow</button>
              </div>
          </div>
        </div>
    </div>
    <div class="col-sm-3 mypage_item">
        <div class="page-box-wrap">
          <div class="page-box-inner-wrap">
              <figure class="image-wrap">
                <img src="./assets/images/madeeasy.png" alt="aio">
              </figure>
              <div class="page-box-content text-center">
                <h5>Petra Travels & Tourism</h5>
                <span class="sub-title">Travelling Institute</span>
                <button class="btn-secondary graybutton">Follow</button>
              </div>
          </div>
        </div>
    </div>

    <div class="col-sm-3 mypage_item">
        <div class="page-box-wrap">
          <div class="page-box-inner-wrap">
              <figure class="image-wrap">
                <img src="./assets/images/paramount.png" alt="aio">
              </figure>
              <div class="page-box-content text-center">
                <h5>Petra Travels & Tourism</h5>
                <span class="sub-title">Travelling Institute</span>
                <button class="btn-secondary graybutton">Follow</button>
              </div>
          </div>
        </div>
    </div>
    <div class="col-sm-3 mypage_item">
        <div class="page-box-wrap">
          <div class="page-box-inner-wrap">
              <figure class="image-wrap">
                <img src="./assets/images/fitjee.jpg" alt="aio">
              </figure>
              <div class="page-box-content text-center">
                <h5>Petra Travels & Tourism</h5>
                <span class="sub-title">Travelling Institute</span>
                <button class="btn-secondary graybutton">Follow</button>
              </div>
          </div>
        </div>
    </div>
    <div class="col-sm-3 mypage_item">
        <div class="page-box-wrap">
          <div class="page-box-inner-wrap">
              <figure class="image-wrap">
                <img src="./assets/images/allen.jpg" alt="aio">
              </figure>
              <div class="page-box-content text-center">
                <h5>Petra Travels & Tourism</h5>
                <span class="sub-title">Travelling Institute</span>
                <button class="btn-secondary graybutton">Follow</button>
              </div>
          </div>
        </div>
    </div>
    <div class="col-sm-3 mypage_item">
        <div class="page-box-wrap">
          <div class="page-box-inner-wrap">
              <figure class="image-wrap">
                <img src="./assets/images/madeeasy.png" alt="aio">
              </figure>
              <div class="page-box-content text-center">
                <h5>Petra Travels & Tourism</h5>
                <span class="sub-title">Travelling Institute</span>
                <button class="btn-secondary graybutton">Follow</button>
              </div>
          </div>
        </div>
  </div>
  <div class="col-sm-3 mypage_item">
      <div class="page-box-wrap">
        <div class="page-box-inner-wrap">
            <figure class="image-wrap">
              <img src="./assets/images/fitjee.jpg" alt="aio">
            </figure>
            <div class="page-box-content text-center">
              <h5>Petra Travels & Tourism</h5>
              <span class="sub-title">Travelling Institute</span>
              <button class="btn-secondary graybutton">Follow</button>
            </div>
        </div>
      </div>
  </div>
  <div class="col-sm-3 mypage_item">
      <div class="page-box-wrap">
        <div class="page-box-inner-wrap">
            <figure class="image-wrap">
              <img src="./assets/images/allen.jpg" alt="aio">
            </figure>
            <div class="page-box-content text-center">
              <h5>Petra Travels & Tourism</h5>
              <span class="sub-title">Travelling Institute</span>
              <button class="btn-secondary graybutton">Follow</button>
            </div>
        </div>
      </div>
  </div>
  </div>
</div>
