/*
Error: Invalid CSS after "...{user_name}}'>{": expected "}", was "{full_name|capi..."
        on line 7 of D:\git\20-mar\new\study24x7_web\src\app\sharedComponents\postComponents\singlechoicepost\singlechoicepost.component.html

2: 	<div class='post_profile'>
3: <!--		<span class="post_profilepic"><img src="{{profile_pic_path}}" (error)="updateSourcePic($event)" routerLink="/profile/{{user_name}}"></span>-->
4:    		<span class="post_profilepic"><img src="{{profile_pic_path}}"  routerLink="/profile/{{user_name}}"></span>
5:
6: 		<div class="profiledetail">
7: 		<span class='name' routerLink='/profile/{{user_name}}'>{{full_name}}</span>
8: 		<span class="time">{{time}}</span>
9: 		</div>
10: 			<span style="float: right" class='leftmenudrop'>
11:
12: 			<span class="postright_btn postmenubtn"><img src="assets/images/svg-three/post_icon/dot_menu.svg" class="postdropmenu" (click)="postdropdown()"></span>

Backtrace:
D:\git\20-mar\new\study24x7_web\src\app\sharedComponents\postComponents\singlechoicepost\singlechoicepost.component.html:7
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:1278:in `expected'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:1208:in `expected'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:1203:in `tok!'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:679:in `block'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:670:in `ruleset'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:696:in `block_child'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:686:in `block_contents'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:137:in `stylesheet'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:41:in `parse'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/engine.rb:414:in `_to_tree'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/engine.rb:389:in `_render_with_sourcemap'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/engine.rb:307:in `render_with_sourcemap'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/exec/sass_scss.rb:391:in `run'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/exec/sass_scss.rb:63:in `process_result'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/exec/base.rb:52:in `parse'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.5/lib/sass/exec/base.rb:19:in `parse!'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.5.5/bin/sass:13:in `<top (required)>'
C:/Ruby24-x64/bin/sass:23:in `load'
C:/Ruby24-x64/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...{user_name}}'>{\": expected \"}\", was \"{full_name|capi...\"\A         on line 7 of D:\git\20-mar\new\study24x7_web\src\app\sharedComponents\postComponents\singlechoicepost\singlechoicepost.component.html\A \A 2: 	<div class='post_profile'>\A 3: <!--		<span class=\"post_profilepic\"><img src=\"{{profile_pic_path}}\" (error)=\"updateSourcePic($event)\" routerLink=\"/profile/{{user_name}}\"></span>-->\A 4:    		<span class=\"post_profilepic\"><img src=\"{{profile_pic_path}}\"  routerLink=\"/profile/{{user_name}}\"></span>\A 5: \A 6: 		<div class=\"profiledetail\">\A 7: 		<span class='name' routerLink='/profile/{{user_name}}'>{{full_name}}</span>\A 8: 		<span class=\"time\">{{time}}</span>\A 9: 		</div>\A 10: 			<span style=\"float: right\" class='leftmenudrop'>\A 11: \A 12: 			<span class=\"postright_btn postmenubtn\"><img src=\"assets/images/svg-three/post_icon/dot_menu.svg\" class=\"postdropmenu\" (click)=\"postdropdown()\"></span>"; }


/* .multiple_c_p_imgcontainer {
  max-width: 130PX;
  max-height: 90px;
  overflow: hidden;
  z-index: 1;
  border: 1px solid #ccc;
}

.multiple_c_p_imgcontainer img {
  height: 100%;
  max-width: 100%;
  width: 100%;
} */
