
$backgroundgray : #e6e6e6;
$themeblue : #F05050;
$themegray : #f5f7fa;
// $textcolor : #161v616;
$textcolor : #2c2e2f;
$textgrey : #8c8c8c;
$maingreen: rgb(7,162,8);
$stroke : #dfe0e8;
// $stroke : #E9E9E9;
$borderRadius: 5px;
$inputTypeHeight: 35px;
$inputTypeFont: 12px;
$headerHeight: 60px;
$headerLineHeight: $headerHeight - 5px;
$mainboxShadow: 0 0 7px rgba(0,0,0,0.1);
$dropdownwidth: 400px;
$dropdwncontentwidth: $dropdownwidth - 100px;
$ntfctnprofile: 40px;
$inrprflimg : $ntfctnprofile + 8px;
$PostPicture: 40px;
$commentPicture: $PostPicture - 10px;
$subcommentPicture: $commentPicture;
$mainpostName: 16px;
$maincommentName: $mainpostName - 2px;
$darkthemestroke: $themeblue;
$progressbarRed: #ed6568;
$rightanswer : #5bbc5b;
$themelighten : rgba($themeblue, 0.2);
$lightgray : #fafafa;
$lightstroke: #f4f4f4;
$lighttext: #8c8c8c;
$fontFamily : 'Lato', sans-serif;


.my-pages-wall-outer-wrap{
  .head-tab-wrap{
    ul{
      -webkit-border-radius: 5px 5px 0 0 ;
      -moz-border-radius: 5px 5px 0 0 ;
      -ms-border-radius: 5px 5px 0 0 ;
      -o-border-radius: 5px 5px 0 0 ;
      border-radius: 5px 5px 0 0 ;
      background-color: $themegray;
      padding: 0px 10px;
      border-bottom: 1px solid rgba(#2c2e2f, 0.2);
// li.active_color.active span{
//     color: $themeblue;
//    }
      li{
        float:left;
        border-bottom:2px solid transparent;
        cursor:pointer;
        padding: 10px 7px;
        height: auto;
        font-weight: 500;
        margin-right: 10px;
        // &:first-child{
        //   margin-right:0;
        // }
        &.active{
          border-bottom:2px solid $themeblue;

        }
        span{
          display: block;
          line-height: 1;
          color: #2c2e2f;
          font-weight: 500;
          font-size: 14px;
        }
      }
    }
  }
  .tab-content-wrap{
    padding-top:0px;
  }
}
@media only screen and (max-width:992px){
  .my-pages-wall-outer-wrap{
    .tab-content-wrap{
margin-bottom:10px;}
}
}
@media only screen and (max-width:600px){
  .my-pages-wall-outer-wrap .head-tab-wrap ul{
    border-radius:0px !important;
  }
}
@media only screen and (max-width:360px){
  .head-tab-wrap{
    width:100%;
    overflow-x: auto;
    overflow-y:hidden;
    white-space: nowrap;
    position: relative;
    z-index: 1;
    ul.clearfix{
      width:370px;
    }
  }
}
