.postotherview .post_outer .post_profile .profiledetail .follow_dote img { width: 3px !important; height: 3px !important; position: relative; top: 1px; }

.postotherview .doticon { background-image: url(./../../../../assets/images/sprite/loginpage.svg#dot); background-size: 100% 100%; width: 3px; height: 3px; float: left; margin: 6px 0px; }

.postotherview .publicposticon { background-image: url(./../../../../assets/images/sprite/loginpage.svg#globe-icon); background-size: 100% 100%; height: 10px; width: 10px; float: left; margin: 3px 0px; }

.postotherview .threedoticon { background-image: url(./../../../../assets/images/sprite/loginpage.svg#threedot); background-size: 100% 100%; height: 20px; width: 20px; float: left; margin: 2px 0px; transform: rotate(90deg); }

.postotherview .bookmarkicon { background-image: url(./../../../../assets/images/sprite/loginpage.svg#bookmark); background-size: 100% 100%; height: 16px; width: 16px; float: left; margin: 4px 7px; }

.postotherview .enrolmmenticon { background-image: url(./../../../../assets/images/sprite/loginpage.svg#whiteenrollments); background-size: 100% 100%; height: 20px; width: 20px; float: left; margin: opx 5px 0px 0px; }

.postotherview .staricon { height: 11px; float: left; background-size: 100% 100%; height: 11px; width: 11px; margin: 0px 2px 0px 0px; }

.postotherview .startwhiteicon { background-image: url(./../../../../assets/images/sprite/loginpage.svg#star-white); }

.postotherview .starthalffilledicon { background-image: url(./../../../../assets/images/sprite/loginpage.svg#star-half-filled); }

.postotherview .starfilledicon { background-image: url(./../../../../assets/images/sprite/loginpage.svg#star-filled); }

.postotherview .postFootericon { max-width: 21px; margin-top: -1px; margin-right: 5px; float: left; background-size: 100% 100%; width: 17px !important; height: 17px !important; }

.postotherview .impicon { background-image: url(./../../../../assets/images/sprite/loginpage.svg#gray-tik); height: 13px !important; width: 13px !important; margin-top: 2px; }

.postotherview .commenticon { background-image: url(./../../../../assets/images/sprite/loginpage.svg#comment); }

.postotherview .shareicon { background-image: url(./../../../../assets/images/sprite/loginpage.svg#share); }

.postotherview .uploadicon { background-image: url(./../../../../assets/images/sprite/loginpage.svg#img-atachment); float: left; background-size: 100% 100%; margin: 6.5px !important; width: 14px !important; height: 14px !important; }

.postotherview .post-footer-btn-outer-wrap .post-footer-btn-wrap .post_footeroption { /* span{ &:hover{ color: #8c8c8c !important; cursor: context-menu; } } */ }

.postotherview .post-footer-btn-outer-wrap .post-footer-btn-wrap .post_footeroption span.default { width: 22px; }

.postotherview .post-footer-btn-outer-wrap .post-footer-btn-wrap .post_footeroption span { display: flex; align-items: center; }

.postotherview .post-footer-btn-outer-wrap .post-footer-btn-wrap .post_footeroption .count-sq { color: #8c8c8c !important; }

.post_outer .post_profile .profiledetail .name { text-decoration: none; }

.postotherview .shared-post-blocks-wrap { width: 100% !important; padding: 0px 10px; box-sizing: border-box; margin: 0px 0px; border: 0px solid rgba(204, 204, 204, 0.7); }

.postotherview .shared-post-blocks-wrap .shared-post-inner { float: left; width: 100%; border-radius: 5px; border: 1px solid rgba(204, 204, 204, 0.7); }

.postotherview .shared-post-blocks-wrap .shared-post-inner .post_profile .profiledetail .time { display: inline-block; margin-top: 7px; width: auto; }

.posttext.posttextauto.shared-post-text { padding: 0px 10px 10px 10px !important; }

.video-post-comp .postmain_container.video-post-comp, .shared-video-post .postmain_container.video-post-comp { cursor: pointer; }

.video-post-comp .postmain_container.video-post-comp .youtube_btn, .shared-video-post .postmain_container.video-post-comp .youtube_btn { position: absolute; top: 0px; left: 5px; bottom: 0px; right: 0px; margin: auto; width: 92px; height: 97px; }

.video-post-comp .postmain_container.video-post-comp .youtube_btn2, .shared-video-post .postmain_container.video-post-comp .youtube_btn2 { display: block; }

.video-post-comp .postmain_container.video-post-comp .youtube_btn1, .shared-video-post .postmain_container.video-post-comp .youtube_btn1 { display: none; }

.video-post-comp .postmain_container.video-post-comp:hover .youtube_btn2, .shared-video-post .postmain_container.video-post-comp:hover .youtube_btn2 { display: none; }

.video-post-comp .postmain_container.video-post-comp:hover .youtube_btn1, .shared-video-post .postmain_container.video-post-comp:hover .youtube_btn1 { display: block; }

.continue-reading { color: #f05050; width: 100%; text-align: left; display: inline-block; border-top: none; padding: 0px 5px; cursor: pointer; font-size: 14px; }

.posttext.posttextauto.shared-post-text.file_attachment_text { line-height: 24px; }

.post_outer.attachment-post-comp.postotherview .postmain_container .posttext.posttextauto { padding: 10px; }

.post_outer { border-radius: 5px !important; }

.multiple-choice-comp .radiobtn_outer.crs_auto:hover .checkbox_btn { background-color: #e1e8ee; }

.multiple-choice-comp .radiobtn_outer.crs_auto .checkbox_btn { border: none; border-bottom: 1px solid #f7f7f7; position: absolute; width: 100%; height: 100%; left: 0; top: 0; border-radius: 0; margin-top: 0; }

.shared-post.postotherview .follow_container { position: absolute; }

/* .post_outer.text-post-comp{
cursor: pointer!important;
}

.post-footer-btn-outer-wrap .post-footer-btn-wrap .post_footeroption > span:hover {
    color: #8c8c8c!important;
}
.post-footer-btn-outer-wrap .post-footer-btn-wrap .post_footeroption > span .count-sq:hover {
    color: #8c8c8c!important;
} */
@media only screen and (max-width: 480px) { .postotherview .post-footer-btn-outer-wrap .post_footer.post-footer-btn-wrap .post_footeroption { padding-left: 0px !important; font-size: 12px; text-align: center; }
  .postotherview .post-footer-btn-outer-wrap .post_footer.post-footer-btn-wrap .post_footeroption:first-child, .postotherview .post-footer-btn-outer-wrap .post_footer.post-footer-btn-wrap .post_footeroption:last-child { text-align: center; }
  .postotherview .post-footer-btn-outer-wrap .post_footer.post-footer-btn-wrap .post_footeroption span.default { width: 18px; }
  .postotherview .post-footer-btn-outer-wrap .post_footer.post-footer-btn-wrap .post_footeroption span.default img { max-width: 16px; margin-top: -2px; margin-right: 5px; } }

@media only screen and (max-width: 640px) { .align_m button { background: #2c2e2f !important; color: #fff; } }
