<div class="col-md-12 col-sm-12 course_wrapper" style="border-radius: 5px;">
  <div class="row">

    <!-- ================================================================================ -->
    <!-- header Wrapper start -->
    <!-- ================================================================================ -->
    <div class="course_filter_top">
      <!-- ================================================================================ -->
      <!-- header Wrapper end -->
      <!-- ================================================================================ -->

      <!-- ================================================================================ -->
      <!-- header  UI start -->
      <!-- ================================================================================ -->
      <div class="mainheading">Invites</div>
      <!-- ================================================================================ -->
      <!-- header  UI end -->
      <!-- ================================================================================ -->


      <!-- ================================================================================ -->
      <!-- header tab UI start -->
      <!-- ================================================================================ -->
      <div class="profile_bar course_bar" >
        <ul class="profile_menu course_menu admin_menu" style="width:100%">
          <li [ngClass]= "{'active' : livestreamTab === 1 }" (click)="livestreamTabUrlFxn(1)">All</li>
          <li [ngClass]= "{'active' : livestreamTab === 2 }" (click)="livestreamTabUrlFxn(2)">Approved</li>
          <li [ngClass]= "{'active' : livestreamTab === 3 }" (click)="livestreamTabUrlFxn(3)">Pending</li>
        </ul>
      </div>
      <!-- ================================================================================ -->
      <!--  header tab UI start -->
      <!-- ================================================================================ -->

      <!-- ================================================================================ -->
      <!-- filter UI start -->
      <!-- ================================================================================ -->
      <ul class="course_fl" *ngIf="livestreamTab == 1 && 2">
        <li class="course_filter livefilter">
          <div class="course_search_sec fieldsection" [ngClass]="{'wallpostdrpdwn':walldropdown}"   (click)="showwalldropdown();" (mouseleave)="closewalldropdown()">
            <div class="wll_img_pey_cont"   >
              <span style="">{{visibilityText}}</span>
            </div>

            <span class="tab-article " >
              <img src="assets/images/svg-three/add_post/downarrow.svg" class="defaultt" style="width:10px !important;">
              <img src="assets/images/svg-three/add_post/f05050/downarrow.svg"  class="hoverr" style="top: 0px;width:10px !important;">
            </span>

            <div class="walldropdencnt wallprydeopcnt" [ngClass]="{'wallprydeopcnt':walldropdown}" *ngIf="walldropdown" (click)="showwalldropdown();" (mouseleave)="closewalldropdown()">
              <ul>
                <li   (click)="changeVisibility(2)"> A-Z</li>
                <li   (click)="changeVisibility(3)"> Z-A</li>
              </ul>
            </div>
          </div>
        </li>

        <li class="course_filter livefilter">
          <div class="course_search_sec fieldsection" [ngClass]="{'wallpostdrpdwn':walldrop}" (click)="showwalldrop();"  (mouseleave)="closewalldrop()">
            <div class="wll_img_pey_cont"   >
              <span style="">{{visibilityfilter}}</span>
            </div>
            <span class="tab-article " >
              <img src="assets/images/svg-three/add_post/downarrow.svg" class="defaultt" style="width:10px !important;">
              <img src="assets/images/svg-three/add_post/f05050/downarrow.svg"  class="hoverr" style="top: 0px;width:10px !important;">
            </span>
            <div class="walldropdencnt wallprydeopcnt" [ngClass]="{'wallprydeopcnt':walldrop}" *ngIf="walldrop" (click)="showwalldrop();" (mouseleave)="closewalldrop()">
              <ul>
                <li   (click)="changeVisibilitySort(3)"> All</li>
                <li   (click)="changeVisibilitySort(2)"> Free</li>
                <li   (click)="changeVisibilitySort(1)"> Paid</li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
      <!-- ================================================================================ -->
      <!-- filter UI end       -->
      <!-- ================================================================================ -->
    </div>

    <div class="coursepage_outer livesteam_card" *ngIf = "livestreamTab == 1">
      <!-- <div class="course_div course_student_veiw">
        <div  class="course_item col-md-4 col-sm-6 col-xs-6">
          <div  class="course_cont" data-infinite-scroll
          [infiniteScrollDistance]="5"
          (scrolled)="onScrollDown()"
          [scrollWindow]="true"> -->


      <div class="livecard_wrapper">
        <div class="course_heading_card">
          course
        </div>
        <span class="invite_stream_heading_card">
          chemistry bonding Techniques
        </span>
        <div class="invite_mentor">
          <div class="live_profiledet_card">
            <span class="live_imgprofile"><img src="assets/images/profile9.jpg" width="100" alt=""></span>
            <span class="live_profilehead">Vivek Bhandula</span>
          </div>
        </div>
          <div class="invite_livestream_block_card">
            <ul>
              <li>
                <div class="inviteLeft_card">
                  <div class="duration_card">
                    <span class="invite_stream_details">3PM - 5PM</span>
                    <span class="invite_stream_details date_wrap">12 FEB,19</span>
                  </div>
                    <span class="live_headingwrapp">Learning the physics connection of chemical bonding and terimiti..</span>
                </div>





                  <!-- ================================================================================ -->
                  <!-- drop down ui start      -->
                  <!-- ================================================================================ -->

                  <!-- ================================================================================ -->
                  <!-- drop down ui end    -->
                  <!-- ================================================================================ -->


                <div class="live_livementordetail">
                  <div class="three_dot">
                    <div class="invite_liveblock_up">
                    <span class="invite_doticon">
                      <img (click)="showdrop(1);"  class="postdropmenu defaultt" src="assets/images/svg-three/post_icon/dot_menu.svg" name="menuIcon" #dropDownButton  >

                    </span>
                    <span class="box_dropdown" *ngIf="remaindershow == 1" #dropDownList name="liveStreamDropdown">
                      <div class="box">
                        <span class="request">Request Reschedule</span>
                        <span >Cancel</span>
                      </div>
                    </span>
                    </div>
                  </div>
                  <div class="live_time_wrapper">
                    <!-- ================================================================================ -->
                    <!-- live stream timer  UI start     -->
                    <!-- ================================================================================ -->
                    <!-- <span class="live_button" *ngIf="liveStreamFooter == 1 || liveStreamFooter == 2"> -->
                    <span class="live_button">
                      <span class="live_timewrap">
                        <span class="live_digitwrapp">02</span>
                        <span class="live_wordwrapp">Days</span>
                      </span>
                      <span class="live_timewrap">
                        <span class="live_digitwrapp">10</span>
                        <span class="live_wordwrapp">Hrs</span>
                      </span>
                      <span class="live_timewrap">
                        <span class="live_digitwrapp">10</span>
                        <span class="live_wordwrapp">Mins</span>
                      </span>
                    </span>



                    <!-- ================================================================================ -->
                    <!-- live stream timer  UI end    -->
                    <!-- ================================================================================ -->


                    <span class="accepted_stream fleft"  *ngIf="liveStreamFooter == 4">
                      <span class="roundtick">
                        <img src="./assets/images/svg-three/course/course_creation/blackcheckbox.svg" alt="">
                      </span>Reschedule requested
                    </span>

                    <!-- <span class="accepted_stream fleft" *ngIf="liveStreamFooter == 5">
                      <span class="roundtick">
                        <img src="./assets/images/svg-three/course/course_creation/blackcheckbox.svg" alt="">
                      </span>
                      Accepted
                    </span> -->


                    <!-- ================================================================================ -->
                    <!-- live stream all type of button  UI start     -->
                    <!-- ================================================================================ -->

                    <button  class="button24x7 whiteColorButton fright streambutton" *ngIf="liveStreamFooter == 2">Start Stream</button>
                   
                    <button  class="button24x7 whiteColorButton fleft" *ngIf="liveStreamFooter == 3">Decline</button>
                    <button  class="button24x7 redColorButton fright" *ngIf="liveStreamFooter == 3">Accept</button>
                    <!-- <button class="button24x7 whiteColorButton  fright" *ngIf="liveStreamFooter == 1 || liveStreamFooter == 5" [ngClass]="{'teststream':  liveStreamFooter == 5, 'redteststream':  liveStreamFooter == 1}" type="button" name="button">Test Stream</button> -->

                    <!-- ================================================================================ -->
                    <!-- live stream all type of button  UI start     -->
                    <!-- ================================================================================ -->
                  </div>
                </div>
              </li>

            </ul>
          </div>
          </div>
        <!-- </div>
      </div>
    </div> -->
    <!-- =============================================================================   -->
    <!-- preloder for all course start  -->
    <!-- ==============================================================================  -->
    <div class="loader2" *ngIf="startLoader2">
      <img src="assets/images/24x7preloader.gif" alt="aio" >
    </div>
    <!-- =============================================================================   -->
    <!-- preloder for all course end  -->
    <!-- ==============================================================================  -->

    <!-- =============================================================================   -->
    <!-- empty state all course start  -->
    <!-- ==============================================================================  -->
    <div class="emptystate" style="height:425px;" *ngIf="coursePresent == false && startLoader2 == false ">
      <div class="emptystate_inner">
        <img src="assets/images/course_icon/create_course.svg" class="emptyimg emptyreview width150" alt="aio">
        <p class="mainheading" style="padding-top:0px;">No Course found</p>
        <p class="subHeading">Seems there is no course here<br>
          try another course here
        </p>
      </div>
    </div>
    <!-- =============================================================================   -->
    <!-- empty state all course end  -->
    <!-- ==============================================================================  -->
  </div>
 </div>
</div>
