<app-header></app-header>
<div class="container main_body searchpage" >
    <div class="col-md-9" style="padding-right:0" >
        <!-- <h5 class='h5heading'>Savings Account</h5> -->
        <div *ngIf = "trendingPresent">
            <div class='post_outer' *ngFor="let trendings of trend">
                 <div class='post_profile'>
                    <span class="post_profilepic"><img src="{{trendings.profile}}"></span>
                    <div class="profiledetail">
                        <span class='name'>{{trendings.name}}</span>
                        <span class="time">{{trendings.time}}</span>
                    </div>
                    <span style="float: right"><img src="assets/images/svg-three/post_icon/dot_menu.svg"></span>
                </div>
                <div class='post_profileContent'>
                    <h5></h5>
                </div>
                <div class='post_footer'>
                    <span class='post_footeroption'>
                        <!-- <span class='glyphicon glyphicon-thumbs-up'></span> 10K Likes -->
                        <span class="default"><img src="assets/images/svg/thumb.svg"></span> 10K Likes
                    </span>
                    <span class='post_footeroption'>
                        <span class="default"><img class="defaultt" src="assets/images/svg-three//post_icon/comment.svg"><img class="hoverr" src="assets/images/svg/comment-g.svg"></span> 5 Comments
                    </span>
                    <span class='post_footeroption'>
                        <span ><img class="defaultt"src="assets/images/svg/share.svg"><img class="hoverr" src="assets/images/svg/share-g.svg"></span> 5 share
                    </span>
                    <span class='post_footeroption'>
                        <span ><img class="defaultt" src="assets/images/svg-three/left_menu/bookmark.svg"><img class="hoverr" src=" assets/images/svg-three/left_menu/f05050/bookmark.svg" title="save"></span> 10K Bookmark
                    </span>
                </div>
            </div>
        </div>

        <div class= " post_outer emptystate" *ngIf = "trendingPresent==false">
            <div class="emptystate_inner">
                <img src="assets/images/emptystates/svg/trenging-page.svg">
                <span>Trending</span>
            </div>
        </div>


    </div>


    <!-- </div> -->
    <div class="col-md-3 rightpanel trendingrightpanel">
        <!--<app-trending></app-trending>-->
        <!--<app-trending></app-trending>-->
        <p style="color:#9ba1ab;margin-top: 5px">
            <a routerLink="/privacy" target="_blank">Privacy Policy . </a>
            <a routerLink="/termandcondition" target="_blank">Terms of Use .  </a>
            <a >{{this._constantService.version}}</a>
        </p>
         <footer> © {{current_year}} @Edubabble Learning Pvt. Ltd. </footer>
    </div>

</div>
<app-confirmationpopup *ngIf="openConfirmation" (closeComfirmPopupThread)="closePopup($event);" [dataObj]="dataConf"></app-confirmationpopup>
