<div class="peopleknow_outer page-mentor-widget">
<h6 class="widgetheading">Page Mentor</h6>
  <div class="page-mentor-outter-wrap">
  <div class="page-mentor-wrap clearfix">
    <div class="mentor-box text-center">
    <figure>
      <img src="./assets/images/profile1.jpg" alt="study24x7">
    </figure>
    <h5>Mr. Zakir</h5>
    <span class="grayinfo">Creative Head</span>
    </div>
    <div class="mentor-box text-center">
    <figure>
      <img src="./assets/images/profile1.jpg" alt="study24x7">
    </figure>
    <h5>Mr. Deepak</h5>
    <span class="grayinfo">Creative Head</span>
    </div>
    <div class="mentor-box text-center">
    <figure>
      <img src="./assets/images/profile1.jpg" alt="study24x7">
    </figure>
    <h5>Mr. Adam</h5>
    <span class="grayinfo">Creative Head</span>
    </div>
  </div>
</div>
</div>
