<app-mnavbar
  (showMobileMenu)="displayMobileMenu()"
  (hideMenu)="hideMobileMenu()"></app-mnavbar>

<div class="wrapper wrapper_responsive">
  <app-header *ngIf="isLoggedIn"></app-header>
  <app-loginheader *ngIf ="!isLoggedIn"></app-loginheader>
  <div class="sidemenu" [ngClass]="{ openfilter: isMobileMenue }">
    <div *ngIf="isMobileMenue">
      <div class="menuslidedarkbg" (click)="leftSidemenu()"></div>
      <app-mmenu class="cntrMmenu"></app-mmenu>
    </div>
  </div>
  <div id="windiv">
    <div class="container main_body">
      <div class="row">
        <!--- responsive ui start--->
        <!-- left side nav -->
        <div
          class="darkbackground bgadd"
          *ngIf="leftFilterMenu"
          (click)="leftSideFilter()"></div>
        <div class="sidefilter" [ngClass]="{ openfilter: leftFilterMenu }">
          <div class="innerSideFilter">
            <app-all-courses-filter class="mobResponsive"
              *ngIf="!isWebView"
              (filterEmitter)="getFilteredCourses($event)"></app-all-courses-filter>
            <div class="open_left" (click)="leftSideFilter()"
              cdkDragBoundary="#windiv"  cdkDrag>
              <img src="assets/images/svg-three/post_icon/filter.svg" alt="" />
            </div>
          </div>
        </div>

        <!-- end side nav -->
        <!--- responsive ui end--->

        <div
          class="col-md-3 leftFilter left_stickytab"
          id="sideThreeCol"
          style="padding-right: 0;">
          <div class="rightmenu_fixed" id="leftsectionfixed" [ngClass]="{'fixedleft': isScrolled}">
            <app-all-courses-filter
              (filterEmitter)="getFilteredCourses($event)"
              *ngIf="isWebView"></app-all-courses-filter>
          </div>
        </div>
        <div class="col-md-9 center_feed" id="centersection">
          <div class="coursepage_outer">
            <div *ngIf="!filterApplied">
              <!-- <div class="secHead">
                Featured Courses
              </div> -->
              <div class="topSecMain">
                <ngx-slick-carousel
                  class="carousel feature_course_card feature_course_card_all_course"
                  #slickModal="slick-carousel"
                  [config]="slideConfigFeaturedCourses"
                  (init)="slickInit($event)"
                  (breakpoint)="breakpoint($event)"
                  (afterChange)="afterChange($event)"
                  (beforeChange)="beforeChange($event)">
                  <div
                    ngxSlickItem
                    *ngFor="let course of featuredCourses"
                    class="slide"
                    [routerLink]="['/course/' + course.COURSE_URL]"
                    >

                    <div
                      routerLinkActive="router-link-active"
                      class="courseslide">
                      <div class="imgLeft">
                        <img src="{{ course.IMG }}" alt="" />
                      </div>
                      <div class="dataRight">
                        <span *ngIf=false class="leftmenuicons">
                          <span class="rmenu"><img
                              src="https://img1.aio.com/assets/images/marketPlaceImages/vector-smart-object-2-copy-4@2x.png"
                              alt=""
                              class="_savecoursepost"
                              /></span>
                          <!-- <span class="rmenu"><img src="https://img1.aio.com/assets/images/marketPlaceImages/share.png" alt=""></span> -->
                        </span>

                        <h4 class="headingMn">
                          {{ course.COURSE_TITLE }}
                        </h4>
                        <p class="dWnhead">By {{ course.PAGE_TITLE }}</p>

                        <div class="card-course-rating">
                          <label
                            class="star">
                            <img *ngFor="let star of
                              starRatingObject[course.COURSE_RATING]"
                              class="star-fill-svg"
                              src="{{'assets/images/course_icon/'+star}}"
                              />
                          </label>

                          <label class="c-rating-avg">
                            {{course.COURSE_RATING}}
                          </label>
                        </div>

                        <div class="amntcourse">
                          <div class="course_detail">
                            <!-- for reponsive--->
                            <div
                              class="card-course-rating feat-course-rating-mob">
                              <label
                                class="star">
                                <img *ngFor="let star of
                                  starRatingObject[course.COURSE_RATING]"
                                  class="star-fill-svg"
                                  src="{{'assets/images/course_icon/'+star}}"
                                  />
                              </label>
                            </div>
                            <!-- for reponsive--->
                            <ul>
                              <li>
                                <span class="c_enroll_count c_enroll_count_fix">
                                  <img
                                    src="assets/images/course_icon/enrollments.svg"
                                    />
                                </span>
                                <span class="c_enroll_count_text">
                                  {{course.TOTAL_ENROLLED_USER}} Enrollment
                                </span>
                              </li>
                              <li class="lastDataValidity">
                                <span class="c_enroll_count">
                                  <img
                                    src="assets/images/course_icon/validity.svg"
                                    />
                                </span>
                                <span class="c_enroll_count_text">Validity
                                  {{course.RVALIDITY}}</span>
                              </li>
                            </ul>
                          </div>
                          <div class="amountPrice">
                            <span *ngIf="course.COURSE_PRICE[0]" class="courserate">₹{{(
                              course.COURSE_PRICE[0].DISCOUNT_COST)|number }}</span>
                            <span *ngIf="course.COURSE_PRICE[0]" class="discount">
                              <span class="offrate"><span>₹{{(
                                  course.COURSE_PRICE[0].COST)|number
                                  }}</span>
                                <span class="fullcul"></span></span>
                            </span>
                            <span
                              *ngIf="!course.COURSE_PRICE"
                              class="courserate">FREE</span>
                          </div>
                        </div>
                        <!--                       <span class="amntcourse">
                                                     <span>FREE</span>
                                                    </span>-->
                      </div>
                    </div>
                  </div>
                </ngx-slick-carousel>
              </div>
              <div class="secHead">
                Premium Courses
                <span (click)=setUserInteresInInterestFilter() class="allShow">view
                  all</span>
              </div>
              <div class="courseCard">
                <div class="course_div course_student_veiw">
                  <ngx-slick-carousel
                    class="carousel carousel_card_scroll"
                    #slickModal2="slick-carousel"
                    [config]="slideConfig"
                    (breakpoint)="breakpoint($event)"
                    (afterChange)="afterChange($event)"
                    (beforeChange)="beforeChange($event)">
                    <div
                      ngxSlickItem
                      *ngFor="let course of premiumCourses"
                      class="slide">
                      <div
                        [routerLink]="['/course/' + course.COURSE_URL]"
                        class="course_item col-md-4 col-sm-6 col-xs-6"
                        style="max-width: 100%; width: 100%;">
                        <div class="course_cont">
                          <div class="course_img_div">
                            <img
                              class="course_img"
                              src="{{ course.COURSE_COVER_PHOTO_PATH }}"
                              />
                            <div class="course_banner">
                              <div class="course_status_inner">
                                <img
                                  src="{{
                                  course.PAGE_PROFILE_PHOTO_PATH }}"
                                  />
                              </div>
                            </div>
                            <div class="img_layer"></div>
                          </div>
                          <div class="course_details">
                            <div class="course_name withoutHover">
                              <p>
                                {{ course.COURSE_TITLE }}

                              </p>
                                <span> by {{ course.PAGE_TITLE }}</span>
                            </div>
                            <div class="clearfix"></div>
                            <div class="card-course-rating acard-course-rating">
                              <label
                                class="star">
                                <img *ngFor="let star of
                                  starRatingObject[course.COURSE_RATING]"
                                  class="star-fill-svg"
                                  src="{{'assets/images/course_icon/'+star}}"
                                  />
                              </label>
                              <label class="c-rating-avg">
                                {{ course.COURSE_RATING }}
                              </label>
                              <label class="c-rating-count">
                                {{
                                "(" +
                                course.TOTAL_COURSE_RATING_COUNT +
                                " Ratings)"
                                }}
                              </label>
                            </div>
                            <div class="course_detail">
                              <ul>
                                <li style="padding-left: 20px !important;">
                                  <span
                                    class="c_enroll_count c_enroll_count_fix">
                                    <img
                                      src="assets/images/course_icon/enrollments.svg"
                                      />
                                  </span>
                                  {{ course.TOTAL_ENROLLED_USER }} Enrollment
                                </li>

                                <li style="padding-left: 20px !important;">
                                  <span class="c_enroll_count">
                                    <img
                                      src="assets/images/course_icon/validity.svg"
                                      />
                                  </span>
                                  {{ "Validity " + course.RVALIDITY }}
                                </li>
                              </ul>
                            </div>
                            <div class="clearfix"></div>
                            <div class="c_card_bottom">
                              <span
                                *ngIf="course.COURSE_PRICE[0]"
                                class="original-price">
                                ₹{{(
                                course.COURSE_PRICE[0]
                                ? course.COURSE_PRICE[0].COST
                                : "")|number
                                }}
                              </span>
                              <span
                                *ngIf="course.COURSE_PRICE[0]"
                                class="sell-price">₹{{(
                                course.COURSE_PRICE[0]
                                ? course.COURSE_PRICE[0].DISCOUNT_COST
                                : "")|number
                                }}
                              </span>

                              <span
                                *ngIf="!course.COURSE_PRICE[0]"
                                class="sell-price"
                                style="display: block;">
                                FREE
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ngx-slick-carousel>
                </div>
              </div>
              <div class="secHead secHeadSecond">
                Trending Courses
                <span (click)=setUserInteresInInterestFilter() class="allShow">view
                  all</span>
              </div>
              <div class="courseCard">
                <div class="course_div course_student_veiw">
                  <ngx-slick-carousel
                    class="carousel carousel_card_scroll"
                    #slickModal1="slick-carousel"
                    [config]="slideConfig"
                    (breakpoint)="breakpoint($event)"
                    (afterChange)="afterChange($event)"
                    (beforeChange)="beforeChange($event)">
                    <div
                      ngxSlickItem
                      *ngFor="let course of trendingCourses"
                      class="slide">
                      <div
                        class="course_item course_item_slider col-md-4 col-sm-6
                        col-xs-6"
                        [routerLink]="['/course/' + course.COURSE_URL]">
                        <div class="course_cont">
                          <div class="course_img_div">
                            <img
                              class="course_img"
                              src="{{ course.COURSE_COVER_PHOTO_PATH }}"
                              />
                            <div class="course_banner">
                              <div class="course_status_inner">
                                <img
                                  src="{{
                                  course.PAGE_PROFILE_PHOTO_PATH}}"
                                  />
                              </div>
                            </div>
                            <div class="img_layer"></div>
                          </div>
                          <div class="course_details">
                            <div class="course_name withoutHover">
                              <p>
                                {{ course.COURSE_TITLE }}

                              </p>
                                <span> by {{ course.PAGE_TITLE }}</span>
                            </div>
                            <div class="clearfix"></div>
                            <div class="card-course-rating acard-course-rating">
                              <label
                                class="star">
                                <img *ngFor="let star of
                                  starRatingObject[course.COURSE_RATING]"
                                  class="star-fill-svg"
                                  src="{{'assets/images/course_icon/'+star}}"
                                  />
                              </label>

                              <label class="c-rating-avg">
                                {{ course.COURSE_RATING }}
                              </label>
                              <label class="c-rating-count">
                                {{
                                "(" +
                                course.TOTAL_COURSE_RATING_COUNT +
                                " Ratings)"
                                }}
                              </label>
                            </div>
                            <div class="course_detail">
                              <ul>
                                <li style="padding-left: 20px !important;">
                                  <span
                                    class="c_enroll_count c_enroll_count_fix">
                                    <img
                                      src="assets/images/course_icon/enrollments.svg"
                                      />
                                  </span>
                                  {{ course.TOTAL_ENROLLED_USER }} Enrollment
                                </li>

                                <li style="padding-left: 20px !important;">
                                  <span class="c_enroll_count">
                                    <img
                                      src="assets/images/course_icon/validity.svg"
                                      />
                                  </span>
                                  {{ "Validity " + course.RVALIDITY }}
                                </li>
                              </ul>
                            </div>
                            <div class="clearfix"></div>
                            <div class="c_card_bottom">
                              <span
                                *ngIf="course.COURSE_PRICE[0]"
                                class="original-price">
                                ₹{{
                               ( course.COURSE_PRICE[0]
                                ? course.COURSE_PRICE[0].COST
                                : "")|number
                                }}
                              </span>
                              <span
                                *ngIf="course.COURSE_PRICE[0]"
                                class="sell-price">₹{{
                               ( course.COURSE_PRICE[0]
                                ? course.COURSE_PRICE[0].DISCOUNT_COST
                                : "")|number
                                }}
                              </span>

                              <span
                                *ngIf="!course.COURSE_PRICE[0]"
                                class="sell-price"
                                style="display: block;">
                                FREE
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ngx-slick-carousel>
                </div>
              </div>
              <div class="secHead">
                Government Jobs
                <span (click)="setUserInteresInInterestFilter(1)"
                  class="allShow">View All</span>
              </div>
              <div class="courseCard">
                <div class="course_div course_student_veiw">
                  <ngx-slick-carousel
                    class="carousel carousel_card_scroll"
                    #slickModalGvt="slick-carousel"
                    [config]="slideConfig"
                    (breakpoint)="breakpoint($event)"
                    (afterChange)="afterChange($event)"
                    (beforeChange)="beforeChange($event)">
                    <div
                      ngxSlickItem
                      *ngFor="let course of gvtJobsCourses"
                      class="slide">
                      <div
                        [routerLink]="['/course/' + course.COURSE_URL]"
                        class="course_item col-md-4 col-sm-6 col-xs-6"
                        style="max-width: 100%; width: 100%;">
                        <div class="course_cont">
                          <div class="course_img_div">
                            <img
                              class="course_img"
                              src="{{ course.COURSE_COVER_PHOTO_PATH }}"
                              />
                            <div class="course_banner">
                              <div class="course_status_inner">
                                <img
                                  src="{{
                                  course.PAGE_PROFILE_PHOTO_PATH }}"
                                  />
                              </div>
                            </div>
                            <div class="img_layer"></div>
                          </div>
                          <div class="course_details">
                            <div class="course_name withoutHover">
                              <p>
                                {{ course.COURSE_TITLE }}

                              </p>
                              <span> by {{ course.PAGE_TITLE }}</span>
                            </div>
                            <div class="clearfix"></div>
                            <div class="card-course-rating acard-course-rating">
                              <label
                                class="star">
                                <img *ngFor="let star of
                                  starRatingObject[course.COURSE_RATING]"
                                  class="star-fill-svg"
                                  src="{{'assets/images/course_icon/'+star}}"
                                  />
                              </label>
                              <label class="c-rating-avg">
                                {{ course.COURSE_RATING }}
                              </label>
                              <label class="c-rating-count">
                                {{
                                "(" +
                                course.TOTAL_COURSE_RATING_COUNT +
                                " Ratings)"
                                }}
                              </label>
                            </div>
                            <div class="course_detail">
                              <ul>
                                <li style="padding-left: 20px !important;">
                                  <span
                                    class="c_enroll_count c_enroll_count_fix">
                                    <img
                                      src="assets/images/course_icon/enrollments.svg"
                                      />
                                  </span>
                                  {{ course.TOTAL_ENROLLED_USER }} Enrollment
                                </li>

                                <li style="padding-left: 20px !important;">
                                  <span class="c_enroll_count">
                                    <img
                                      src="assets/images/course_icon/validity.svg"
                                      />
                                  </span>
                                  {{ "Validity " + course.RVALIDITY }}
                                </li>
                              </ul>
                            </div>
                            <div class="clearfix"></div>
                            <div class="c_card_bottom">
                              <span
                                *ngIf="course.COURSE_PRICE[0]"
                                class="original-price">
                                ₹{{
                                (course.COURSE_PRICE[0]
                                ? course.COURSE_PRICE[0].COST
                                : "")|number
                                }}
                              </span>
                              <span
                                *ngIf="course.COURSE_PRICE[0]"
                                class="sell-price">₹{{
                                (course.COURSE_PRICE[0]
                                ? course.COURSE_PRICE[0].DISCOUNT_COST
                                : "")|number
                                }}
                              </span>

                              <span
                                *ngIf="!course.COURSE_PRICE[0]"
                                class="sell-price"
                                style="display: block;">
                                FREE
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ngx-slick-carousel>
                </div>
              </div>
              <div class="secHead">
                Competitive Exam
                <span (click)="setUserInteresInInterestFilter(2)"
                  class="allShow">View All</span>
              </div>
              <div class="courseCard">
                <div class="course_div course_student_veiw">
                  <ngx-slick-carousel
                    class="carousel carousel_card_scroll"
                    #slickModalComp="slick-carousel"
                    [config]="slideConfig"
                    (breakpoint)="breakpoint($event)"
                    (afterChange)="afterChange($event)"
                    (beforeChange)="beforeChange($event)">
                    <div
                      ngxSlickItem
                      *ngFor="let course of competitiveExamCourses"
                      class="slide">
                      <div
                        [routerLink]="['/course/' + course.COURSE_URL]"
                        class="course_item col-md-4 col-sm-6 col-xs-6"
                        style="max-width: 100%; width: 100%;">
                        <div class="course_cont">
                          <div class="course_img_div">
                            <img
                              class="course_img"
                              src="{{ course.COURSE_COVER_PHOTO_PATH }}"
                              />
                            <div class="course_banner">
                              <div class="course_status_inner">
                                <img
                                  src="{{
                                  course.PAGE_PROFILE_PHOTO_PATH }}"
                                  />
                              </div>
                            </div>
                            <div class="img_layer"></div>
                          </div>
                          <div class="course_details">
                            <div class="course_name withoutHover">
                              <p>
                                {{ course.COURSE_TITLE }}

                              </p>
                              <span> by {{ course.PAGE_TITLE }}</span>
                            </div>
                            <div class="clearfix"></div>
                            <div class="card-course-rating acard-course-rating">
                              <label
                                class="star">
                                <img *ngFor="let star of
                                  starRatingObject[course.COURSE_RATING]"
                                  class="star-fill-svg"
                                  src="{{'assets/images/course_icon/'+star}}"
                                  />
                              </label>
                              <label class="c-rating-avg">
                                {{ course.COURSE_RATING }}
                              </label>
                              <label class="c-rating-count">
                                {{
                                "(" +
                                course.TOTAL_COURSE_RATING_COUNT +
                                " Ratings)"
                                }}
                              </label>
                            </div>
                            <div class="course_detail">
                              <ul>
                                <li style="padding-left: 20px !important;">
                                  <span
                                    class="c_enroll_count c_enroll_count_fix">
                                    <img
                                      src="assets/images/course_icon/enrollments.svg"
                                      />
                                  </span>
                                  {{ course.TOTAL_ENROLLED_USER }} Enrollment
                                </li>

                                <li style="padding-left: 20px !important;">
                                  <span class="c_enroll_count">
                                    <img
                                      src="assets/images/course_icon/validity.svg"
                                      />
                                  </span>
                                  {{ "Validity " + course.RVALIDITY }}
                                </li>
                              </ul>
                            </div>
                            <div class="clearfix"></div>
                            <div class="c_card_bottom">
                              <span
                                *ngIf="course.COURSE_PRICE[0]"
                                class="original-price">
                                ₹{{
                                (course.COURSE_PRICE[0]
                                ? course.COURSE_PRICE[0].COST
                                : "")|number
                                }}
                              </span>
                              <span
                                *ngIf="course.COURSE_PRICE[0]"
                                class="sell-price">₹{{
                                (course.COURSE_PRICE[0]
                                ? course.COURSE_PRICE[0].DISCOUNT_COST
                                : "")|number
                                }}
                              </span>

                              <span
                                *ngIf="!course.COURSE_PRICE[0]"
                                class="sell-price"
                                style="display: block;">
                                FREE
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ngx-slick-carousel>
                </div>
              </div>
              <div class="secHead">
                K-12
                <span (click)="setUserInteresInInterestFilter(3)"
                  class="allShow">View All</span>
              </div>
              <div class="courseCard">
                <div class="course_div course_student_veiw">
                  <ngx-slick-carousel
                    class="carousel carousel_card_scroll"
                    #slickModalK12="slick-carousel"
                    [config]="slideConfig"
                    (breakpoint)="breakpoint($event)"
                    (afterChange)="afterChange($event)"
                    (beforeChange)="beforeChange($event)">
                    <div
                      ngxSlickItem
                      *ngFor="let course of k12Courses"
                      class="slide">
                      <div
                        [routerLink]="['/course/' + course.COURSE_URL]"
                        class="course_item col-md-4 col-sm-6 col-xs-6"
                        style="max-width: 100%; width: 100%;">
                        <div class="course_cont">
                          <div class="course_img_div">
                            <img
                              class="course_img"
                              src="{{ course.COURSE_COVER_PHOTO_PATH }}"
                              />
                            <div class="course_banner">
                              <div class="course_status_inner">
                                <img
                                  src="{{
                                  course.PAGE_PROFILE_PHOTO_PATH  }}"
                                  />
                              </div>
                            </div>
                            <div class="img_layer"></div>
                          </div>
                          <div class="course_details">
                            <div class="course_name withoutHover">
                              <p>
                                {{ course.COURSE_TITLE }}

                              </p>
                                <span> by {{ course.PAGE_TITLE }}</span>
                            </div>
                            <div class="clearfix"></div>
                            <div class="card-course-rating acard-course-rating">
                              <label
                                class="star">
                                <img *ngFor="let star of
                                  starRatingObject[course.COURSE_RATING]"
                                  class="star-fill-svg"
                                  src="{{'assets/images/course_icon/'+star}}"
                                  />
                              </label>
                              <label class="c-rating-avg">
                                {{ course.COURSE_RATING }}
                              </label>
                              <label class="c-rating-count">
                                {{
                                "(" +
                                course.TOTAL_COURSE_RATING_COUNT +
                                " Ratings)"
                                }}
                              </label>
                            </div>
                            <div class="course_detail">
                              <ul>
                                <li style="padding-left: 20px !important;">
                                  <span
                                    class="c_enroll_count c_enroll_count_fix">
                                    <img
                                      src="assets/images/course_icon/enrollments.svg"
                                      />
                                  </span>
                                  {{ course.TOTAL_ENROLLED_USER }} Enrollment
                                </li>

                                <li style="padding-left: 20px !important;">
                                  <span class="c_enroll_count">
                                    <img
                                      src="assets/images/course_icon/validity.svg"
                                      />
                                  </span>
                                  {{ "Validity " + course.RVALIDITY }}
                                </li>
                              </ul>
                            </div>
                            <div class="clearfix"></div>
                            <div class="c_card_bottom">
                              <span
                                *ngIf="course.COURSE_PRICE[0]"
                                class="original-price">
                                ₹{{
                                course.COURSE_PRICE[0]
                                ? course.COURSE_PRICE[0].COST
                                : ""|number
                                }}
                              </span>
                              <span
                                *ngIf="course.COURSE_PRICE[0]"
                                class="sell-price">₹{{
                               ( course.COURSE_PRICE[0]
                                ? course.COURSE_PRICE[0].DISCOUNT_COST
                                : "")|number
                                }}
                              </span>

                              <span
                                *ngIf="!course.COURSE_PRICE[0]"
                                class="sell-price"
                                style="display: block;">
                                FREE
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ngx-slick-carousel>
                </div>
              </div>
              <div class="secHead">
                Technology
                <span (click)="setUserInteresInInterestFilter(4)"
                  class="allShow">View All</span>
              </div>
              <div class="courseCard">
                <div class="course_div course_student_veiw">
                  <ngx-slick-carousel
                    class="carousel carousel_card_scroll"
                    #slickModalTech="slick-carousel"
                    [config]="slideConfig"
                    (breakpoint)="breakpoint($event)"
                    (afterChange)="afterChange($event)"
                    (beforeChange)="beforeChange($event)">
                    <div
                      ngxSlickItem
                      *ngFor="let course of tecnologyCourses"
                      class="slide">
                      <div
                        [routerLink]="['/course/' + course.COURSE_URL]"
                        class="course_item col-md-4 col-sm-6 col-xs-6"
                        style="max-width: 100%; width: 100%;">
                        <div class="course_cont">
                          <div class="course_img_div">
                            <img
                              class="course_img"
                              src="{{ course.COURSE_COVER_PHOTO_PATH }}"
                              />
                            <div class="course_banner">
                              <div class="course_status_inner">
                                <img
                                  src="{{
                                  course.PAGE_PROFILE_PHOTO_PATH }}"
                                  />
                              </div>
                            </div>
                            <div class="img_layer"></div>
                          </div>
                          <div class="course_details">
                            <div class="course_name withoutHover">
                              <p>
                                {{ course.COURSE_TITLE }}

                              </p>
                                <span> by {{ course.PAGE_TITLE }}</span>
                            </div>
                            <div class="clearfix"></div>
                            <div class="card-course-rating acard-course-rating">
                              <label
                                class="star">
                                <img *ngFor="let star of
                                  starRatingObject[course.COURSE_RATING]"
                                  class="star-fill-svg"
                                  src="{{'assets/images/course_icon/'+star}}"
                                  />
                              </label>
                              <label class="c-rating-avg">
                                {{ course.COURSE_RATING }}
                              </label>
                              <label class="c-rating-count">
                                {{
                                "(" +
                                course.TOTAL_COURSE_RATING_COUNT +
                                " Ratings)"
                                }}
                              </label>
                            </div>
                            <div class="course_detail">
                              <ul>
                                <li style="padding-left: 20px !important;">
                                  <span
                                    class="c_enroll_count c_enroll_count_fix">
                                    <img
                                      src="assets/images/course_icon/enrollments.svg"
                                      />
                                  </span>
                                  {{ course.TOTAL_ENROLLED_USER }} Enrollment
                                </li>

                                <li style="padding-left: 20px !important;">
                                  <span class="c_enroll_count">
                                    <img
                                      src="assets/images/course_icon/validity.svg"
                                      />
                                  </span>
                                  {{ "Validity " + course.RVALIDITY }}
                                </li>
                              </ul>
                            </div>
                            <div class="clearfix"></div>
                            <div class="c_card_bottom">
                              <span
                                *ngIf="course.COURSE_PRICE[0]"
                                class="original-price">
                                ₹{{
                                (course.COURSE_PRICE[0]
                                ? course.COURSE_PRICE[0].COST
                                : "")|number
                                }}
                              </span>
                              <span
                                *ngIf="course.COURSE_PRICE[0]"
                                class="sell-price">₹{{
                                (course.COURSE_PRICE[0]
                                ? course.COURSE_PRICE[0].DISCOUNT_COST
                                : "")|number
                                }}
                              </span>

                              <span
                                *ngIf="!course.COURSE_PRICE[0]"
                                class="sell-price"
                                style="display: block;">
                                FREE
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ngx-slick-carousel>
                </div>
              </div>
              <div class="secHead">
                Higher Education
                <span (click)="setUserInteresInInterestFilter(5)"
                  class="allShow">View All</span>
              </div>
              <div class="courseCard">
                <div class="course_div course_student_veiw">
                  <ngx-slick-carousel
                    class="carousel carousel_card_scroll"
                    #slickModalEdu="slick-carousel"
                    [config]="slideConfig"
                    (breakpoint)="breakpoint($event)"
                    (afterChange)="afterChange($event)"
                    (beforeChange)="beforeChange($event)">
                    <div
                      ngxSlickItem
                      *ngFor="let course of educationCourses"
                      class="slide">
                      <div
                        [routerLink]="['/course/' + course.COURSE_URL]"
                        class="course_item col-md-4 col-sm-6 col-xs-6"
                        style="max-width: 100%; width: 100%;">
                        <div class="course_cont">
                          <div class="course_img_div">
                            <img
                              class="course_img"
                              src="{{ course.COURSE_COVER_PHOTO_PATH }}"
                              />
                            <div class="course_banner">
                              <div class="course_status_inner">
                                <img
                                  src="{{
                                  course.PAGE_PROFILE_PHOTO_PATH }}"
                                  />
                              </div>
                            </div>
                            <div class="img_layer"></div>
                          </div>
                          <div class="course_details">
                            <div class="course_name withoutHover">
                              <p>
                                {{ course.COURSE_TITLE }}

                              </p>
                                    <span> by {{ course.PAGE_TITLE }}</span>
                            </div>
                            <div class="clearfix"></div>
                            <div class="card-course-rating acard-course-rating">
                              <label
                                class="star">
                                <img *ngFor="let star of
                                  starRatingObject[course.COURSE_RATING]"
                                  class="star-fill-svg"
                                  src="{{'assets/images/course_icon/'+star}}"
                                  />
                              </label>
                              <label class="c-rating-avg">
                                {{ course.COURSE_RATING }}
                              </label>
                              <label class="c-rating-count">
                                {{
                                "(" +
                                course.TOTAL_COURSE_RATING_COUNT +
                                " Ratings)"
                                }}
                              </label>
                            </div>
                            <div class="course_detail">
                              <ul>
                                <li style="padding-left: 20px !important;">
                                  <span
                                    class="c_enroll_count c_enroll_count_fix">
                                    <img
                                      src="assets/images/course_icon/enrollments.svg"
                                      />
                                  </span>
                                  {{ course.TOTAL_ENROLLED_USER }} Enrollment
                                </li>

                                <li style="padding-left: 20px !important;">
                                  <span class="c_enroll_count">
                                    <img
                                      src="assets/images/course_icon/validity.svg"
                                      />
                                  </span>
                                  {{ "Validity " + course.RVALIDITY }}
                                </li>
                              </ul>
                            </div>
                            <div class="clearfix"></div>
                            <div class="c_card_bottom">
                              <span
                                *ngIf="course.COURSE_PRICE[0]"
                                class="original-price">
                                ₹{{
                                (course.COURSE_PRICE[0]
                                ? course.COURSE_PRICE[0].COST
                                : "")|number
                                }}
                              </span>
                              <span
                                *ngIf="course.COURSE_PRICE[0]"
                                class="sell-price">₹{{
                                (course.COURSE_PRICE[0]
                                ? course.COURSE_PRICE[0].DISCOUNT_COST
                                : "")|number
                                }}
                              </span>

                              <span
                                *ngIf="!course.COURSE_PRICE[0]"
                                class="sell-price"
                                style="display: block;">
                                FREE
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ngx-slick-carousel>
                </div>
              </div>
            </div>

            <app-filtered-courses
              [hidden]="!filterApplied"
              #filteredCourses></app-filtered-courses>
          </div>
          <!--- slider code start---->

          <!--- slider code end---->
        </div>
      </div>
    </div>
  </div>

  <!-- <button id="unslick"  [hidden]="true" (click)="slickModal2.unslick()"></button> -->
</div>
