.preDropdowInnernWrapper{
  float: left;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
.head{
  float: left;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  // margin-top: 15px;
  cursor: pointer;
  border-radius: 3px 3px 5px 5px;
  overflow: hidden;
  border-bottom: 1px solid #e1e1e1;
  h2{
    font-size: 16px;
    color: #2c2e2f;
    width: 95%;
    float: left;
  }
  .downarrow{
    width: 12px;
    height: 12px;
    float: right;
    transition: all .3s;
    transform: rotate(0deg);
     img{
       width: 100%;
       height: 100%;

     }
  }

}
.content{
  float: left;
  width: 100%;
  border-radius: 0px 0px 3px 3px;
  overflow: hidden;

transition: all .3s;

  ul{
    float: left;
    width: 100%;
    list-style-type: none;
    border: 1px solid #f7f7f7;
    background: rgba(233, 233, 233, 0.2);
    li{
      float: left;
      width: 100%;

        &:hover{
          background: #f5f7fa;
          transition: all .3s;
        }
        &:last-child{
          border-bottom: none;
        }
      .images{
        float: left;
        width: 16px;
        height: 16px;


      }
      .leftImage{
        position: absolute;
        left: -27px;
        // top: 50%;
        top: 15px;
        // transform: translateY(-50%);
         img{
           width: 100%;
           height: 100%;
         }
      }
      .lock{
        float: right;
        right: 20px!important;
      }
      .preview{
        cursor: pointer;
      }
      p{
        float: left;
        margin: 0px 0px 0px 0px;
        width: 96%;
        font-size: 14px;
        color: #000;
        position: relative;
          top: 0px;
          transform: translateX(0px);
          margin-bottom: 5px;
      }
      .detail{
        float: left;
        font-size: 13px;
        color: #1c1c1c;
        line-height: 18px;
        right: 45px;
        text-align: right;
      }
      .tik{
        width: 16px;
        height: 13px;
        // background: #00bb24;
        float: right;
        border-radius: 50%;
        text-align: center;
        padding: 1px 1px 0px 0px;
        position: absolute;
        right: 20px;
        img{
          width: 100%;
          position: relative;
          left: 1px;
          top: 0px;
        }
      }
      .lock{
        width: 16px;
        height: 16px;
        float: right;
        position: absolute;
        right: 15px;
        img{
          width: 100%;
          height: 100%;
        }
      }
    }
  }

}
.content{
  max-height:0px;overflow: hidden;transition: max-height 0.2s ease-out;
}
.hidelist{
  height: 0px;
}
.showList{
  height: auto;
}
}
.rotateImg{
  transform: rotate(90deg) !important;
}
.viewReportCard{
  width: 24px;
  height: 24px;
  box-shadow: 0 1px 2px 1px rgba(44, 46, 47, 0.1);
  float: right;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 46PX;
  top: 12PX;


   img{
     width: 11px;
   }
}
.listInnerWrapper{
  float: left;
  width: 92%;
   padding: 15px 60px 15px 0px;
  border-bottom: 1px solid #f7f7f7;
  position: relative;
  margin-left: 8%;
  min-height: 40px;
  border-bottom: 1px solid #e1e1e1;
   cursor: pointer;
}
.liveStrteamingMentorName{
  color: #2c2e2f;
font-size: 13px;
}
.redfollowbutton{
  background-color: #fff;
  color: #f05050;
  border: 1px solid #f05050;
  margin-top: 10px;
  height: 30px;
  line-height: 30px;
  font-weight: 500;
  font-size: 13px;
  img{
    width: 12px;
    margin-right: 5px;
    margin-top: -3px;
  }
}
.liveStreamDetailWrapper{
  width: 100%;color: #1c1c1c;
  float: left;
 .liveIcon{
   float: left;
   width: 34px;
   margin-right: 10px;
   font-size: 11px;
   background: linear-gradient(0deg,#d81212 0,#fb2929 100%);
   color: #fff;
   padding: 2px;
   line-height: 14px;
   border-radius: 3px;
   height: 18px;
   text-transform: uppercase;
   text-align: center;

 }
 .dote{width: 3px;
    margin: 2px 5px;
    float: left;
   img{
     width: 100%;
   }
 }

}
.showMore{

background: #feeded; /* Old browsers */
background: -moz-linear-gradient(top,  #feeded 0%, #ffdbdb 100%, #7db9e8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #feeded 0%,#ffdbdb 100%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #feeded 0%,#ffdbdb 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feeded', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
padding: 15px 15px;
border-radius: 6px;
border: solid 1px #f05050;
font-size: 18px;
font-weight: 500;
margin-top: 20px;
float: left;
width: 100%;
cursor: pointer;
button{
  width:100%;
  height: 100%;
  background-color: transparent;
border: none;
color: #f05050;
font-weight: 500;
}
}
