.preDropdowInnernWrapper { float: left; width: 100%; border-radius: 5px; overflow: hidden; }

.preDropdowInnernWrapper .head { float: left; width: 100%; padding: 20px; background-color: #fff; cursor: pointer; border-radius: 3px 3px 5px 5px; overflow: hidden; border-bottom: 1px solid #e1e1e1; }

.preDropdowInnernWrapper .head h2 { font-size: 16px; color: #2c2e2f; width: 95%; float: left; }

.preDropdowInnernWrapper .head .downarrow { width: 12px; height: 12px; float: right; transition: all .3s; transform: rotate(0deg); }

.preDropdowInnernWrapper .head .downarrow img { width: 100%; height: 100%; }

.preDropdowInnernWrapper .content { float: left; width: 100%; border-radius: 0px 0px 3px 3px; overflow: hidden; transition: all .3s; }

.preDropdowInnernWrapper .content ul { float: left; width: 100%; list-style-type: none; border: 1px solid #f7f7f7; background: #e1e1e150; }

.preDropdowInnernWrapper .content ul li { float: left; width: 100%; }

.preDropdowInnernWrapper .content ul li:hover { background: #f5f7fa; transition: all .3s; }

.preDropdowInnernWrapper .content ul li:last-child { border-bottom: none; }

.preDropdowInnernWrapper .content ul li .images { float: left; width: 16px; height: 16px; }

.preDropdowInnernWrapper .content ul li .leftImage { position: absolute; left: -27px; top: 15px; }

.preDropdowInnernWrapper .content ul li .leftImage img { width: 100%; height: 100%; }

.preDropdowInnernWrapper .content ul li .lock { float: right; right: 20px !important; }

.preDropdowInnernWrapper .content ul li .preview { cursor: pointer; }

.preDropdowInnernWrapper .content ul li p { float: left; margin: 0px 0px 0px 0px; width: 96%; font-size: 14px; color: #000; position: relative; top: 0px; transform: translateX(0px); margin-bottom: 5px; }

.preDropdowInnernWrapper .content ul li .detail { float: left; font-size: 13px; color: #1c1c1c; line-height: 18px; right: 45px; text-align: right; }

.preDropdowInnernWrapper .content ul li .tik { width: 16px; height: 13px; float: right; border-radius: 50%; text-align: center; padding: 1px 1px 0px 0px; position: absolute; right: 20px; }

.preDropdowInnernWrapper .content ul li .tik img { width: 100%; position: relative; left: 1px; top: 0px; }

.preDropdowInnernWrapper .content ul li .lock { width: 16px; height: 16px; float: right; position: absolute; right: 15px; }

.preDropdowInnernWrapper .content ul li .lock img { width: 100%; height: 100%; }

.preDropdowInnernWrapper .content { max-height: 0px; overflow: hidden; transition: max-height 0.2s ease-out; }

.preDropdowInnernWrapper .hidelist { height: 0px; }

.preDropdowInnernWrapper .showList { height: auto; }

.rotateImg { transform: rotate(90deg) !important; }

.listInnerWrapper { float: left; width: 92%; padding: 15px 60px 15px 0px; border-bottom: 1px solid #f7f7f7; position: relative; margin-left: 8%; min-height: 40px; border-bottom: 1px solid #e1e1e1; cursor: pointer; }

.liveStrteamingMentorName { color: #2c2e2f; font-size: 13px; }

.redfollowbutton { background-color: #fff; color: #f05050; border: 1px solid #f05050; margin-top: 10px; height: 30px; line-height: 30px; font-weight: 500; font-size: 13px; }

.redfollowbutton img { width: 12px; margin-right: 5px; margin-top: -3px; }

.liveStreamDetailWrapper { width: 100%; color: #1c1c1c; float: left; }

.liveStreamDetailWrapper .liveIcon { float: left; width: 34px; margin-right: 10px; font-size: 11px; background: linear-gradient(0deg, #d81212 0, #fb2929 100%); color: #fff; padding: 2px; line-height: 14px; border-radius: 3px; height: 18px; text-transform: uppercase; text-align: center; }

.liveStreamDetailWrapper .dote { width: 3px; margin: 2px 5px; float: left; }

.liveStreamDetailWrapper .dote img { width: 100%; }
