<!--<app-loginheader [hideInterestDropdown]=false *ngIf="!isLoggedIn"></app-loginheader> -->
<div class="login_Header">
  <div  class="container head_container">
    <div class="col-md-3 col-sm-3 clearfix comp_logo">
     <img src="./assets/images/svg-three/Logo.png" class="logo">
   </div>
   <div class="contact_us_header">
     <div class="contNo">
     <span class="stdCode">+91</span>
         <a href="tel:9599293805">95992-93805</a>
     </div>
     </div>
   </div>
</div>

<div class="wrapper not_publicview" >
    <div id="wvidiv" style="background-color:#fff;">
      <div class="banner_wrapper">
        <div class="container  ">
          <div class="top_wrapper">
            <div class="banner-header" *ngIf="false">
              <div class="leftInfo">
                <img  src="./assets/images/university/logocourse.png">
                <div class="Details">
                  <p>Cadets’ Prime</p>
                  <div class="fllowerCount">
                    <span>120</span> followers <button class="cp">follow</button>
                  </div>
                </div>
              </div>
              <div class="rightInfo">
                <span class="social_content">Share this Course</span>
                <div class="avatars">
                    <span class="avatar tweet">
                          <img  src="assets/images/university/tweet.svg">
                      </span>
                      <span class="avatar gram">
                          <img  src="assets/images/university/gram.png">
                        </span>
                    <span class="avatar fb">
                          <img  src="assets/images/university/fb.svg">
                      </span>
                    <span class="avatar linkedin">
                        <img  src="assets/images/university/linkedin.svg">
                      </span>
                    <span class="avatar whatsapp">
                         <img  src="assets/images/university/whatsapp.svg">
                      </span>
                    </div>
              </div>
            </div>
            <div class="courseName">
              <h2>NDA Exam Online Course - 2021</h2>
              <div class="ratting fl100">
                <label  class="Pagerating">
                  <img  src="assets/images/course_icon/star-filled.svg" alt="aio" class="star-fill-svg">
                  <img  src="assets/images/course_icon/star-filled.svg" alt="aio" class="star-fill-svg">
                  <img  src="assets/images/course_icon/star-filled.svg" alt="aio" class="star-fill-svg">
                  <img  src="assets/images/course_icon/star-filled.svg" alt="aio" class="star-fill-svg">
                  <img  src="assets/images/course_icon/star-filled.svg" alt="aio" class="star-blank-svg">
                </label>
                <label class="ratingAvg">5.0</label>
                <label class="ratingNo">(32 Ratings)</label>
              </div>
              <div class="courseDesp fl100">
                Unique NDA Course with written &  SSB Classes  for comprehensive preparation to ensure Final Selection under the Guidance of Amit Tripathi Sir (recommended twice by SSB & Top Rank holder)
              </div>
              <div class="coursePrice fl100">
                <button (click)="showContactDetailsPopup=!showContactDetailsPopup" type="button" name="button" class="cp" class="btneffect btnapply">
                  Enroll Now
                  <!-- <img src="assets/images/university/arrow-right.svg"> -->
                  <span class="start_test"><img src="assets/images/university/arrowWhite.gif" alt=""></span>
                </button>
                <div class="priceSec">
                  <p>Discounted Price</p>
                  <div class="priceDiv fl">
                    <div class="sellingPrice fl">
                        {{ 3000 | number }}
                    </div>
                    <div class="actualPrice fl">
                      {{ 4500 | number }}
                      <span  class="stock"></span>
                    </div>
                  </div>
                </div>
              </div>
              </div>
          </div>

        </div>
      </div>

  <div class="asked_question university_program">
    <div class="container ">
      <div class="universityOuet fl100">
        <h2>
          Offered By:
        </h2>
        <div class="rightInfoBanner " >
          <div class="bannerInfo fl100">
            <img  src="assets/images/university/course-banner.jpeg" alt="aio nda 20exam 20online 20course 202021">
          </div>
          <div class="courseKeyInfo fl100">
            <h2>Key features of this course:</h2>
            <ul class=" fl100">
              <li class="li1">

                <span class="firstData fl100">22nd Feb, 2021</span>
                <span class="secData fl100">Course Start Date</span>
              </li>
              <!-- <li class="li2">

                <span class="firstData fl100">Certificate Awarded</span>
                <span class="secData fl100">on Completion</span>
              </li> -->
              <li class="li3">

                <span class="firstData fl100">Intermediate</span>
                <span class="secData fl100"> Course Level</span>
              </li>
              <li class="li4">

                <span class="firstData fl100">120+ Learners</span>
                <span class="secData fl100">Enrolled in this course</span>
              </li>
              <li class="li5">

                <span class="firstData fl100">300+ Hours</span>
                <span class="secData fl100">Duration</span>
              </li>
              <li class="li6">

                <span class="firstData fl100">Accessible on Mobile</span>
                <span class="secData fl100">Multi Platform</span>
              </li>
            </ul>
            <div class="topicInfo fl100">
            <p>Topics covered in this course </p>

              <span>General Studies</span>
              <span>Mathematics</span>
              <span> English </span>


          </div>
        </div>
        </div>
        <div class="universityDetails fl100">
          <img src="assets/images/university/logocourse.png">
          <div class="uDetails fl100">
            <p class="para1">CADETS PRIME DEFENCE</p>
            <p class="para2">Cadets’ Prime is a premier institute for Defence Exams led by Ex-Officers and Rank holders and it has mentored thousands of students to their final selection in NDA & NA Exams.</p>
            <!-- <span>Know More</span> -->
          </div>
        </div>

      </div>
    </div>
  </div>



  <div class="asked_question about_program" style="background-color:#fff;">
      <div class="container ">
      <div class="containerMenu fl100" style="position:relative;">
        <div class="menu" id="menuDiv" [ngClass]="{'menu_sticky': isScrolledstick}">

          <ul>
            <li class=""  (click)="scrollTo('Overview'); menuselect =1" [ngClass]="{'active' : menuselect == 1 }" >Overview</li>
            <li class="" (click)="scrollTo('Curriculum'); menuselect =2"  [ngClass]="{'active' : menuselect == 2 }">Curriculum</li>
            <li class="" (click)="scrollTo('Instructors'); menuselect = 3" [ngClass]="{'active' : menuselect == 3 }">Instructors</li>
            <li class="" (click)="scrollTo('career'); menuselect = 4" [ngClass]="{'active' : menuselect == 4 }">Career Impact</li>
            <li class="" (click)="scrollTo('faq'); menuselect =5" [ngClass]="{'active' : menuselect == 5 }">FAQ</li>
            </ul>

        </div>
    </div>
    <div class="about_program_main" id="Overview">
      <h3>What will you learn in this course?</h3>
      <div class="about_program_details fl100">

      <p>With the help of the Special NDA Online course by Cadets’ prime, students will be able to prepare and crack the exam in the first attempt. Suitable for beginners as well as intermediate students this course covers the basic as well as advanced  concepts of Mathematics, General Studies and English. Students will also get SSB classes along with written classes so as to ensure a holistic preparation for final selection.</p>
        <div class="youtubeImage">
          <div *ngIf="scrolled" class="imgRight course_left" style="cursor: pointer;">
            <iframe src="https://www.youtube.com/embed/9pOc8zksPUc?modestbranding=0&amp;autohide=1&amp;showinfo=0&amp;rel=0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" class="videoPlayerYTube" width="100%" height="100%" frameborder="0"></iframe>
          </div>
        </div>
    <h5>Topics covered:</h5>
    <div class="course_feat_info fl100">
      <ul class="fl100">
        <li>General Studies</li>
        <li>Mathematics</li>
        <li>English</li>
        <li>SSB Preparation</li>
        <li>Personality Development</li>
        <li>Building Officer Like Qualities (OLQs)</li>
      </ul>
    </div>

    </div>
    <div class="about_program_cont fl100">
      <h4>Course Highlights:</h4>
    <div class="maincoursetop">
    <div class="maincourseineer">
     <div class="maincoursedata">
       <span>1</span>
       <h2>Specially Designed Course Curriculum</h2>
       <p>This course is designed in such a way that it will be useful for both beginners and advanced level students.</p>
     </div>
     <div class="maincoursedata">
       <span>2</span>
       <h2>Special Classes for SSB </h2>
       <p>Comprehensive SSB Classes under the guidance of Amit Tripathi Sir (recommended twice by SSB and 9th Rank holder, twice)</p>
     </div>
     <div class="maincoursedata">
       <span>3</span>
       <h2>Complete Coverage of Syllabus</h2>
       <p>Coverage of NDA Syllabus with emphasis on Mathematics, Physics and General Studies</p>
     </div>
     </div>
    </div>
    </div>

  </div>
  </div>
  </div>



  <!-- course Data impact  section -->
  <div *ngIf="scrolled" class="asked_question asked_ques_program" id="Curriculum">
    <div class="container ">
      <div  class="headMain">
        <h2  class="heading_bold" style="text-align: left;">Course Curriculum </h2>
        <!-- <p>Learn the fundamentals of chemistry and energy on a molecular and global scale in this introductory chemistry course that engages scientific principles with the global context of</p> -->
    </div>
     <div class="courseDataDesp">
     <div class="courseDataDespLeft" *ngIf="false">
       <div class="previewcourseDescription" style="margin-top: 15px;">
           <div class="preDropdownwrapper" >
               <div class="preDropdowInnernWrapper" >

                   <div class="head" >
                       <h2>CBSE Class IX Mathematics: Introduction</h2>
                       <span class="downarrow" [ngClass]="{'rotateImg': false}" id="{{'previewlisthead'+0}}">
                           <img src="assets/images/svg-three/course/courseDetails/arrowrightIcon.svg" alt="aio">
                       </span>
                   </div>
                   <div  [ngClass]="{'contentHeightZero': profiletab != 0,'contentHeight': profiletab == 0}" class="content" style="max-height:0px;overflow: hidden;transition: max-height 0.2s ease-out;">
                       <ul>
                           <li>
                                   <div class="listInnerWrapper">
                                       <span  class="images leftImage verCenterAlign">
                                           <img src="assets/images/svg-three/course/courseDetails/documentIcon.svg"
                                               alt="aio" >
                                       </span>
                                       <div >
                                           <p class="verCenterAlign"> NCERT Book Chapter 1: Number System
                                             <span class="liveStrteamingMentorName" *ngIf="false">by
                                                   {{content.mentorName}}</span>
                                          </p>

                                           <span class="detail verCenterAlign" >21 pages</span>

                                           <span class="tik verCenterAlign" >
                                               <img src="assets/images/svg-three/course/courseDetails/documentReadIcon.svg"
                                                   alt="aio">
                                           </span>
                                       </div>

                                   </div>
                               </li>
                           <li>
                                   <div class="listInnerWrapper">
                                       <span  class="images leftImage verCenterAlign">
                                           <img src="assets/images/svg-three/course/courseDetails/gray_quiz.svg"
                                               alt="aio" >

                                       </span>
                                       <div >
                                           <p class="verCenterAlign"> NCERT Book Chapter 1: Number System  </p>
                                           <span class="detail verCenterAlign" > 3 ques</span>
                                           <span class="images lock verCenterAlign" >
                                               <img src="assets/images/svg-three/course/courseDetails/lockIcon.svg"
                                                   alt="aio">
                                           </span>
                                       </div>

                                   </div>
                               </li>
                           <li>
                                   <div class="listInnerWrapper">
                                       <span  class="images leftImage verCenterAlign">

                                           <img src="assets/images/svg-three/course/courseDetails/videoLiveIcon.svg"
                                               alt="aio" >
                                       </span>
                                       <div >
                                           <p class="verCenterAlign"> NCERT Book Chapter 1: Number System
                                             <span class="liveStrteamingMentorName" >by
                                                   Saurabh Sharma</span>
                                          </p>
                                           <span class="liveStreamDetailWrapper" >
                                               <span class="liveIcon">Live</span>
                                               <span class="detail">21 Sept 2020</span>
                                               <span class="dote"><img alt="aio"
                                                       src="assets/images/svg-three/post_icon/dote1-black.svg"></span>
                                               <span class="detail">
                                                   10:00 AM - 12:00 PM
                                               </span>
                                           </span>
                                           <span class="images lock verCenterAlign" >
                                               <img src="assets/images/svg-three/course/courseDetails/lockIcon.svg"
                                                   alt="aio">
                                           </span>
                                       </div>

                                   </div>
                               </li>
                           <li>
                                   <div class="listInnerWrapper">
                                       <span  class="images leftImage verCenterAlign">

                                           <img src="assets/images/svg-three/course/courseDetails/documentIcon.svg"
                                               alt="aio" >

                                       </span>
                                       <div >
                                           <p class="verCenterAlign"> NCERT Book Chapter 1: Number System

                                          </p>

                                           <span class="detail verCenterAlign" >21 pages</span>



                                           <!-- <span class="viewReportCard verCenterAlign">

                                               <img src="assets/images/svg-three/add_post/wall/add_doc.svg" alt="">
                                           </span> -->



                                           <span class="images lock verCenterAlign" >
                                               <img src="assets/images/svg-three/course/courseDetails/lockIcon.svg"
                                                   alt="aio">
                                           </span>
                                       </div>

                                   </div>
                               </li>

                       </ul>
                   </div>

                   <div class="head" >
                       <h2>Chapter 1: Number Systems</h2>
                       <span class="downarrow" [ngClass]="{'rotateImg': false}" id="{{'previewlisthead'+0}}">
                           <img src="assets/images/svg-three/course/courseDetails/arrowrightIcon.svg" alt="aio">
                       </span>
                   </div>
                   <div  [ngClass]="{'contentHeightZero': profiletab != 0,'contentHeight': profiletab == 0}" class="content" >
                       <ul>
                           <li>
                                   <div class="listInnerWrapper">
                                       <span  class="images leftImage verCenterAlign">
                                         <img src="assets/images/svg-three/course/courseDetails/videoPlayIcon.svg"
                                             alt="aio">

                                       </span>
                                       <div >
                                           <p class="verCenterAlign"> NCERT Book Chapter 1: Number System
                                          </p>
                                           <span class="detail verCenterAlign" >21:20 min</span>
                                       </div>

                                   </div>
                               </li>

                       </ul>
                   </div>
               </div>
               <div class="showMore"><button type="button" name="button">See More</button></div>
           </div>
       </div>
       </div>
     <div class="courseDataDespRight">

       <div class="courseInfoAll">
         <div class="oneCardInfo">
           <div class="cardCircle cardCircle1">

              <img class="imgIcon" src="assets/images/university/time-count.svg">

           </div>
           <div class="infodetail1">300+ Hours </div>
           <div class="infodetail2">Course Content</div>
         </div>
         <div class="oneCardInfo">
           <div class="cardCircle cardCircle1">

              <img class="imgIcon" src="assets/images/university/course-module.svg">

           </div>
           <div class="infodetail1">30+ </div>
           <div class="infodetail2">Course Modules</div>
         </div>
         <div class="oneCardInfo">
           <div class="cardCircle cardCircle1">

              <img class="imgIcon" src="assets/images/university/live-class.svg">

           </div>
           <div class="infodetail1">100+</div>
           <div class="infodetail2">Live Classes</div>
         </div>

         <div class="oneCardInfo ">
           <div class="cardCircle cardCircle1">

              <img class="imgIcon" src="assets/images/university/course-content.svg">

           </div>
           <div class="infodetail1">20+</div>
           <div class="infodetail2">SSB Classes</div>
         </div>
         <div class="oneCardInfo oneCardInfoLast">
           <div class="cardCircle cardCircle1">

              <img class="imgIcon" src="assets/images/university/download-icon.svg">

           </div>
           <div class="infodetail1">30+</div>
           <div class="infodetail2">Downloadable Material</div>
         </div>
       </div>
       <!-- <div class="courseCertificate">
        <img  src="assets/images/university/certificate.svg">
           <h4>Certificate on Completion</h4>
           <p>You will get certificates after completing all courses and assignments.</p>
           <span>View Certificate</span>
       </div> -->
       <!-- <button class="downloadBtn">Download Curriculum</button> -->
       </div>

     </div>

  </div>
  </div>
  <!-- course Data impact  section -->
  <div *ngIf="scrolled" class="asked_question educator_program" id="Instructors">
    <div class="container ">
      <div class="headMain">
     <h2 class="heading_bold">Experienced Instructors to guide you </h2>

   </div>
     <div class="educator">
       <div class="educatorInner">
          <div class="educatorCardOuter">
         <div class="educatorCard fl100">
           <div class="educatorInfo fl100">
             <div class="imageSec">
               <img src="assets/images/university/Teacher-1.png">
             </div>
             <div class="despSec">

               <label class="nameEdu fl100">Amit Tripathi</label>
                <label class="profession fl100">EXAM TRAINER</label>
               <!-- <label class="followEdu fl100">
                 <button>Follow</button>
               </label> -->
             </div>
           </div>
           <p class="EduDesp fl100">Amit Sir is an exceptional mentor with years of experience having cleared many national level exams like CDS, CAPF, Intelligence bureau,Bank PO. Being a defence aspirant himself who has been recommended by service selection twice (both times securing AIR 09) he is going to be your guide, philosopher and friend.</p>
         </div>
         </div>
          <div class="educatorCardOuter educatorCardOuter2">
         <div class="educatorCard fl100">
           <div class="educatorInfo fl100">
             <div class="imageSec">
               <img src="assets/images/university/Teacher-2.png">
             </div>
             <div class="despSec">

               <label class="nameEdu fl100">Rajeev Mishra</label>
                <label class="profession fl100">EXAM TRAINER</label>
               <!-- <label class="followEdu fl100">
                 <button>Follow</button>
               </label> -->
             </div>
           </div>
           <p class="EduDesp fl100">Trained to be a lawyer Rajeev Mishra Sir is a motivational speaker, career expert and renowned Defence exam trainer with 10+ years of experience.</p>
         </div>
         </div>

       </div>

     </div>

  </div>
  </div>
  <!-- career impact  section -->
  <div *ngIf="scrolled" class="asked_question career_program" id="career">
    <div class="container ">
      <div class="fl100 main_container">
        <div class="leftWidth fl100">
        <div class="headMain">
       <h2 class="heading_bold">Career Impact</h2>
       <p>After getting recommended for NDA you will be able to join the Indian Armed forces as commissioned officers as:</p>
         </div>
      <div class="despList fl100">
       <ul class="fl100">
         <li>
           <span class="outerSpan">
             <span class="innerSpan"></span>
           </span>
           Lieutenant in Indian Army

         </li>
         <li>
           <span class="outerSpan">
             <span class="innerSpan"></span>
           </span>
           Sub-Lieutenant in Indian Navy

         </li>
         <li>
           <span class="outerSpan">
             <span class="innerSpan"></span>
           </span>
           Flying Officer in Indian Air Force

         </li>
       </ul>
      </div>
     </div>

      <div class="rightImg"></div>
      </div>
    </div>
  </div>
  <!-- career impact  section -->



    <!-- asked question  section -->

    <div *ngIf="scrolled" id="faq" class="asked_question asked_ques_program asked_question_last">
      <div class="container ">
    	 <h2 class="heading_bold">Frequently Asked Questions</h2>
    	 <div class="inner_accordian">
    		 <button class="accordion">When will the course start?</button>
    			<div class="panel">
         <ul>
           <li> The course will start from 22nd Feb.</li>
         </ul>


    			</div>

    			<button class="accordion">How can I purchase the course?</button>
    			<div class="panel">
            <ul>
              <li>
                You can purchase the course by going to the Study24x7 website and registering there. After registering you can pay using your debit, credit cards or internet banking.
             </li>
               </ul>
    			</div>

    			<button class="accordion">Can I access the course on my mobile phone?</button>
    			<div class="panel">
            <ul>
              <li>You can access the course on both desktop and mobile devices.</li>
            </ul>
    			</div>
    			<button class="accordion">Will I be able to download the course materials?</button>
    			<div class="panel">
            <ul>
              <li>Yes, you will be able to download the course materials on your mobile phone.</li>
            </ul>
    			</div>
    	 </div>

    </div>
    </div>
    <div class="bottomEnroll" [ngClass]="{'bottom_sticky': isScrolledstick}" id="bottomactive" >
  <div class="bottomEnrollInner">
  <div class="courseInfo">
    <h2>NDA Exam online <br>Course - 2021</h2>
    <p>By Cadet Prime Defense</p>
  </div>
  <div (click)="showContactDetailsPopup=!showContactDetailsPopup" class="buttonres">Enroll Now <img src="assets/images/university/arrow-right.svg"></div>
</div>
</div>
</div>
  </div>

  <!-- experience popup start -->
  <div class="popup" *ngIf="showContactDetailsPopup">
      <div class="popup_background" ></div>
      <div class=" abt_exp_popup" >
        <div *ngIf="!showThankyou" class="contact_field" >
          <div class="popup_heading close_parent " style="background:#fff;">
              Contact Details
              <span class="close_div" (click)="showContactDetailsPopup=!showContactDetailsPopup">
                  <img class="defaultt" src="assets/images/svg/tagcross.svg">
                  <img class="hoverr" src="assets/images/svg/tagcross-gray.svg">
              </span>
          </div>
          <div class="inner-wrap inner-wrap-cntr">
              <div class="col-md-12 col-sm-12 fleft post-wrap" >
                  <div class="input_wrapper">
                      <span class="input_label">Name</span>
                      <div class="input_inner_wrapper">
                          <input [(ngModel)]="name" [ngClass]="{inputError: error.nameErrorMessage}" type="text" name="" value="" placeholder="Enter Your Name">
                      </div>
                  </div>
                  <div class="input_wrapper">
                      <span class="input_label">Contact No.</span>
                      <div class="input_inner_wrapper">
                          <input [(ngModel)]="contactNumber" [ngClass]="{inputError: error.numberErrorMessage}" type="text" name="" value="" placeholder="Enter Your Contact No." >
                      </div>
                  </div>
                  <div class="input_wrapper">
                      <span class="input_label">Email</span>
                      <div class="input_inner_wrapper">
                          <input [(ngModel)]="email" [ngClass]="{inputError: error.emailErrorMessage}" type="email" name="" value="" placeholder="Enter Your Email" >
                      </div>
                  </div>
              </div>
              <div class="footer col-md-12 col-sm-12 fleft">
                  <button [disabled]="loader" type="button" name="button" id="doneButton" class="fright button24x7 redColorButton" (click)="fetchDataApi()">
                    <span *ngIf="!loader">Submit</span>
                  <span *ngIf="loader"><img src="./assets/images/svg/preloader-251.svg"/></span>
                  </button>
              </div>
          </div>
          </div>
          <div class="success_msg" *ngIf="showThankyou">
               <div class="thanksSec">
                 <h2 >Thanks for Taking the Right Decision.</h2>
                 <p class="reachUsInfo">Your one step will change your life.</p>

                 </div>
          </div>
      </div>
  </div>
  <!-- experience popup end -->
