.container.main_body.profile_body .leftmenu_fixed {
  position: fixed;
  float: left;
  background-color: #fff;
  width: 278px;
  border-radius: 5px;
  overflow: hidden;
  padding: 15px 5px 15px 15px;
  /* .coursebasicdetails{    width: clac(100% - 70px);

    } */
}

.container.main_body.profile_body .leftmenu_fixed .profile {
  display: inline-block;
  width: 60px;
  float: left;
  height: 60px;
  border-radius: 30px;
  overflow: hidden;
  border: 1px solid #dfe0e8;
  border: 4px solid #fff;
}

.container.main_body.profile_body .leftmenu_fixed .profile img {
  width: 100%;
  height: 100%;
}

.container.main_body.profile_body .leftmenu_fixed .basicdetails {
  display: inline-block;
  width: auto;
  float: left;
  font-size: 14px;
  margin-left: 10px;
  margin-top: 15px;
  line-height: 18px;
}

.container.main_body.profile_body .leftmenu_fixed .basicdetails .name {
  font-weight: 500;
  line-height: 12px;
  color: #2c2e2f;
}

.container.main_body.profile_body .leftmenu_fixed .basicdetails .name:first-child {
  margin-bottom: 10px;
}

.container.main_body.profile_body .leftmenu_fixed .basicdetails .followerCount {
  opacity: .7;
  font-weight: normal;
}

.container.main_body.profile_body .coursesDertailTop {
  float: left;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
}

.container.main_body.profile_body .coursesDertailTop .coursesDetailBottom {
  background-color: #e8ecf1;
  float: left;
  width: 100%;
  padding: 10px;
}

.container.main_body.profile_body .coursesDertailTop .coursesDetailBottom .leftDetail {
  float: left;
  width: 70%;
}

.container.main_body.profile_body .coursesDertailTop .coursesDetailBottom .leftDetail h1 {
  float: left;
  width: 100%;
  font-size: 16px;
  color: #2c2e2f;
  padding: 0px 0px 5px 0px;
}

.container.main_body.profile_body .coursesDertailTop .coursesDetailBottom .leftDetail p {
  color: #8c8c8c;
  font-weight: 500;
  font-size: 14px;
}

.container.main_body.profile_body .coursesDertailTop .coursesDetailBottom .leftDetail p .text {
  float: left;
  font-size: 12px;
}

.container.main_body.profile_body .coursesDertailTop .coursesDetailBottom .leftDetail p .dote {
  float: left;
  width: 3px;
}

.container.main_body.profile_body .coursesDertailTop .coursesDetailBottom .leftDetail p .dote img {
  width: 100%;
  height: 100%;
}

.container.main_body.profile_body .coursesDertailTop .coursesDetailBottom .leftDetail p .dote:nth-child(2n+2) {
  margin: 0px 5px;
}

.container.main_body.profile_body .coursesDertailTop .coursesDetailBottom .leftDetail .star {
  float: left;
  width: 100%;
  float: left;
  margin-top: 5px;
}

.container.main_body.profile_body .coursesDertailTop .coursesDetailBottom .leftDetail .star .star_wrapper {
  float: left;
}

.container.main_body.profile_body .coursesDertailTop .coursesDetailBottom .leftDetail .star .star_wrapper label {
  margin-right: 5px;
  width: 12px;
  height: 9px;
  margin-bottom: 0px;
}

.container.main_body.profile_body .coursesDertailTop .coursesDetailBottom .leftDetail .star .star_wrapper label.fill .star-fill-svg {
  display: block;
}

.container.main_body.profile_body .coursesDertailTop .coursesDetailBottom .leftDetail .star .star_wrapper label.fill .star-half-svg {
  display: none;
}

.container.main_body.profile_body .coursesDertailTop .coursesDetailBottom .leftDetail .star .star_wrapper label.fill .star-blank-svg {
  display: none;
}

.container.main_body.profile_body .coursesDertailTop .coursesDetailBottom .leftDetail .star .star_wrapper label.half_fill .star-fill-svg {
  display: none;
}

.container.main_body.profile_body .coursesDertailTop .coursesDetailBottom .leftDetail .star .star_wrapper label.half_fill .star-half-svg {
  display: none;
}

.container.main_body.profile_body .coursesDertailTop .coursesDetailBottom .leftDetail .star .star_wrapper label.half_fill .star-blank-svg {
  display: block;
}

.container.main_body.profile_body .coursesDertailTop .coursesDetailBottom .leftDetail .star .star_wrapper label.blank .star-fill-svg {
  display: none;
}

.container.main_body.profile_body .coursesDertailTop .coursesDetailBottom .leftDetail .star .star_wrapper label.blank .star-half-svg {
  display: none;
}

.container.main_body.profile_body .coursesDertailTop .coursesDetailBottom .leftDetail .star .star_wrapper label.blank .star-blank-svg {
  display: block;
}

.container.main_body.profile_body .coursesDertailTop .coursesDetailBottom .leftDetail .star .Pagerating {
  margin-right: 5px;
  width: 100px !important;
  height: 9px;
  margin-bottom: 0px;
}

.container.main_body.profile_body .coursesDertailTop .coursesDetailBottom .leftDetail .star .Pagerating img {
  width: 20px;
  height: 14px;
  float: left;
}

.container.main_body.profile_body .coursesDertailTop .coursesDetailBottom .leftDetail .star .rating {
  float: left;
  font-size: 12px;
  margin-right: 5px;
  color: #ffbb58;
  font-weight: 500;
  padding-top: 2px;
}

.container.main_body.profile_body .coursesDertailTop .coursesDetailBottom .leftDetail .star .number {
  float: left;
  font-size: 12px;
  color: #8c8c8c;
  padding-top: 2px;
}

.container.main_body.profile_body .coursesDertailTop .coursesDetailBottom .rightDetail {
  float: right;
  width: 24%;
}

.container.main_body.profile_body .coursesDertailTop .coursesDetailBottom .rightDetail .priceIcon {
  float: left;
  font-size: 18px;
  line-height: 22px;
  color: #f05050;
  margin-left: 8px;
}

.container.main_body.profile_body .coursesDertailTop .coursesDetailBottom .rightDetail .priceIcon img {
  width: 15px;
  margin-right: 1px;
  position: relative;
  top: -1px;
}

.container.main_body.profile_body .coursesDertailTop .coursesDetailBottom .rightDetail .discountPriceIcon {
  float: left;
  font-size: 14px;
  line-height: 20px;
  color: #8c8c8c;
  margin-left: 7px;
  line-height: 20px;
  position: relative;
  padding-top: 2px;
}

.container.main_body.profile_body .coursesDertailTop .coursesDetailBottom .rightDetail .discountPriceIcon img {
  width: 12px;
  margin-right: 1px;
}

.container.main_body.profile_body .coursesDertailTop .coursesDetailBottom .rightDetail .discountPriceIcon .stock {
  position: absolute;
  top: 10px;
  width: 100%;
  height: 1px;
  color: #2c2e2f;
  background-color: #8c8c8c;
  left: 0px;
}

.container.main_body.profile_body .coursesDertailTop .coursesDetailBottom .rightDetail button {
  float: left;
  background: transparent;
  width: 101px;
  border: 1px solid rgba(44, 46, 47, 0.1);
  border-radius: 3px;
  font-size: 14px;
  margin-top: 6px;
  line-height: 34px;
}

.container.main_body.profile_body .coursesDertailTop .courseComment {
  float: left;
  width: 100%;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px 5px;
}

.container.main_body.profile_body .coursesDertailTop .courseComment .imp {
  display: inline-block;
  float: left;
  cursor: pointer;
  width: 33.33%;
  text-align: center;
}

.container.main_body.profile_body .coursesDertailTop .courseComment .imp .tik {
  margin-right: 5px;
}

.container.main_body.profile_body .coursesDertailTop .courseComment .imp .tik .defoult {
  width: 18px;
}

.container.main_body.profile_body .coursesDertailTop .courseComment .imp .tik .hover {
  display: none;
  width: 18px;
}

.container.main_body.profile_body .coursesDertailTop .courseComment .imp .tik .active {
  display: none;
  width: 18px;
}

.container.main_body.profile_body .coursesDertailTop .courseComment .imp .text {
  position: relative;
  margin-right: 15px;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  color: #8c8c8c;
}

.container.main_body.profile_body .coursesDertailTop .courseComment .imp .count {
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  color: #8c8c8c;
}

.container.main_body.profile_body .coursesDertailTop .courseComment .imp .count:after {
  content: "";
  background-color: #8c8c8c;
  width: 1px;
  height: 10px;
  position: absolute;
  margin: 3px 0px 0px -7px;
}

.container.main_body.profile_body .coursesDertailTop .courseComment .imp:hover .tik .defoult {
  display: none;
}

.container.main_body.profile_body .coursesDertailTop .courseComment .imp:hover .tik .hover {
  display: inline-block;
}

.container.main_body.profile_body .coursesDertailTop .courseComment .imp:hover .text {
  color: #f05050;
}

.container.main_body.profile_body .coursesDertailTop .courseComment .imp:hover .count {
  color: #f05050;
}

.container.main_body.profile_body .coursesDertailTop .courseComment .rytimp .tik .defoult {
  display: none;
}

.container.main_body.profile_body .coursesDertailTop .courseComment .rytimp .tik .hover {
  display: none;
}

.container.main_body.profile_body .coursesDertailTop .courseComment .rytimp .tik .active {
  display: inline-block;
}

.container.main_body.profile_body .coursesDertailTop .courseComment .rytimp .text {
  color: #f05050;
}

.container.main_body.profile_body .coursesDertailTop .courseComment .rytimp .count {
  color: #f05050;
}

.container.main_body.profile_body .coursesDertailTop .courseComment .rytimp:hover .tik .hover {
  display: none;
}

.container.main_body.profile_body .coursesDertailTop .courseComment .comment {
  display: inline-block;
  float: left;
  width: 33.33%;
  text-align: center;
  cursor: pointer;
}

.container.main_body.profile_body .coursesDertailTop .courseComment .comment .comment_icon {
  margin-right: 5px;
}

.container.main_body.profile_body .coursesDertailTop .courseComment .comment .comment_icon .defoult {
  width: 18px;
}

.container.main_body.profile_body .coursesDertailTop .courseComment .comment .comment_icon .hover {
  display: none;
  width: 18px;
}

.container.main_body.profile_body .coursesDertailTop .courseComment .comment .text {
  position: relative;
  margin-right: 15px;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  color: #8c8c8c;
}

.container.main_body.profile_body .coursesDertailTop .courseComment .comment .count {
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  color: #8c8c8c;
}

.container.main_body.profile_body .coursesDertailTop .courseComment .comment .count:after {
  content: "";
  background-color: #8c8c8c;
  width: 1px;
  height: 10px;
  position: absolute;
  margin: 3px 0px 0px -7px;
}

.container.main_body.profile_body .coursesDertailTop .courseComment .comment:hover .comment_icon .defoult {
  display: none;
}

.container.main_body.profile_body .coursesDertailTop .courseComment .comment:hover .comment_icon .hover {
  display: inline-block;
}

.container.main_body.profile_body .coursesDertailTop .courseComment .comment:hover .text {
  color: #f05050;
}

.container.main_body.profile_body .coursesDertailTop .courseComment .comment:hover .count {
  color: #f05050;
}

.container.main_body.profile_body .coursesDertailTop .courseComment .share {
  display: inline-block;
  float: right;
  cursor: pointer;
  width: 33.33%;
  text-align: center;
}

.container.main_body.profile_body .coursesDertailTop .courseComment .share .shreIcon {
  margin-right: 5px;
}

.container.main_body.profile_body .coursesDertailTop .courseComment .share .shreIcon .defoult {
  width: 18px;
}

.container.main_body.profile_body .coursesDertailTop .courseComment .share .shreIcon .hover {
  display: none;
  width: 18px;
}

.container.main_body.profile_body .coursesDertailTop .courseComment .share .text {
  position: relative;
  margin-right: 15px;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  color: #8c8c8c;
}

.container.main_body.profile_body .coursesDertailTop .courseComment .share .count {
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  color: #8c8c8c;
}

.container.main_body.profile_body .coursesDertailTop .courseComment .share .count:after {
  content: "";
  background-color: #8c8c8c;
  width: 1px;
  height: 10px;
  position: absolute;
  margin: 3px 0px 0px -7px;
}

.container.main_body.profile_body .coursesDertailTop .courseComment .share:hover .shreIcon .defoult {
  display: none;
}

.container.main_body.profile_body .coursesDertailTop .courseComment .share:hover .shreIcon .hover {
  display: inline-block;
}

.container.main_body.profile_body .coursesDertailTop .courseComment .share:hover .text {
  color: #f05050;
}

.container.main_body.profile_body .coursesDertailTop .courseComment .share:hover .count {
  color: #f05050;
}

.container.main_body.profile_body .coursesDertailTop .commentOuter {
  padding: 10px;
  float: left;
  width: 100%;
  border-top: 1px solid #ccc;
  border-radius: 0px 0px 5px 5px;
  background: #f5f7fa;
}

.container.main_body.profile_body .coursesDertailTop .commentOuter .writecomment {
  float: left;
  width: 100%;
}

.container.main_body.profile_body .coursesDertailTop .commentOuter .writecomment .comment-profile {
  border-radius: 50%;
  border: 1px solid #eaeaea;
  overflow: hidden;
  width: 40px;
  float: left;
  height: 40px;
}

.container.main_body.profile_body .coursesDertailTop .commentOuter .writecomment .comment-profile img {
  width: 100%;
  height: 100%;
}

.container.main_body.profile_body .coursesDertailTop .commentOuter .writecomment .optionoutr {
  width: calc(100% - 45px);
  float: right;
  border: 1px solid rgba(44, 46, 47, 0.15);
}

.container.main_body.profile_body .right_menu {
  float: left;
  width: 100%;
}

.container.main_body.profile_body .right_menu .previewwidgetwrapper {
  background-color: #fff;
  float: left;
  width: 100%;
  padding: 15px 10px;
  border-radius: 3px;
  margin-bottom: 15px;
  overflow: hidden;
}

.container.main_body.profile_body .right_menu .previewwidgetwrapper h3 {
  float: left;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  padding: 0px 0px 5px 0px;
  color: #2c2e2f;
}

.container.main_body.profile_body .right_menu .previewwidgetwrapper h5 {
  font-weight: normal;
  float: left;
  width: 100%;
  padding: 0px 0px 10px 0px;
  font-size: 14px;
  color: #8c8c8c;
}

.container.main_body.profile_body .right_menu .previewwidgetwrapper .videocontainer {
  float: left;
  width: 100%;
  height: 140px;
  overflow: hidden;
  border-radius: 3px;
  position: relative;
}

.container.main_body.profile_body .right_menu .previewwidgetwrapper .videocontainer img {
  float: left;
  width: 100%;
  height: 100%;
}

.container.main_body.profile_body .right_menu .previewwidgetwrapper .videocontainer .playbutton {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  margin: auto;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.container.main_body.profile_body .de-enrollment {
  float: left;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
  min-height: 820px;
}

.container.main_body.profile_body .de-enrollment .head {
  float: left;
  width: 100%;
  border-bottom: 1px solid #e9e9e9;
  background: #fff;
}

.container.main_body.profile_body .de-enrollment .head h3 {
  font-size: 16px;
  color: #2c2e2f;
  padding: 10px 15px;
}

.container.main_body.profile_body .de-enrollment .middle_wrapper.deletecourse {
  float: left;
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 100px;
  background-color: #fff;
}

.container.main_body.profile_body .de-enrollment .middle_wrapper.deletecourse h3 {
  float: left;
  width: 100%;
  font-size: 14px;
  padding: 5px 0px 10px 0px;
  width: auto;
  color: #2c2e2f;
  opacity: .9;
  border-bottom: 1px solid #e9e9e9;
}

.container.main_body.profile_body .de-enrollment .middle_wrapper.deletecourse .top_wrapper {
  float: left;
  width: 100%;
  background: #f5f7fa;
  overflow: hidden;
  border-radius: 5px;
  padding: 20px;
}

.container.main_body.profile_body .de-enrollment .middle_wrapper.deletecourse .top_wrapper h2 {
  margin-bottom: 15px;
  font-size: 16px;
  color: #2c2e2f;
  padding-top: 0px;
}

.container.main_body.profile_body .de-enrollment .middle_wrapper.deletecourse .top_wrapper .left_container {
  float: left;
  width: 10%;
  background: #f5f7fa;
  overflow: hidden;
  border-radius: 5px;
  padding: 0px 0px;
}

.container.main_body.profile_body .de-enrollment .middle_wrapper.deletecourse .top_wrapper .left_container img {
  float: left;
  width: 80px;
  padding: 0px 0px;
}

.container.main_body.profile_body .de-enrollment .middle_wrapper.deletecourse .top_wrapper .right_container {
  width: 90%;
  float: right;
  padding-left: 20px;
}

.container.main_body.profile_body .de-enrollment .middle_wrapper.deletecourse .top_wrapper .right_container h3 {
  font-size: 16px;
  color: #2c2e2f;
  padding-top: 0px;
}

.container.main_body.profile_body .de-enrollment .middle_wrapper.deletecourse .top_wrapper .right_container p {
  float: left;
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  color: #8c8c8c;
}

.container.main_body.profile_body .de-enrollment .middle_wrapper.deletecourse .top_wrapper .button_container {
  float: left;
  width: 100%;
  position: static;
  padding: 20px 0px 0px 0px;
}

.container.main_body.profile_body .de-enrollment .middle_wrapper.deletecourse .top_wrapper .button_container .comfirm {
  float: left;
  text-align: center;
  -webkit-box-shadow: 0 1px 2px 1px #2c2e2f20;
          box-shadow: 0 1px 2px 1px #2c2e2f20;
  background-color: #fff !important;
  border: none;
  cursor: pointer;
  border-radius: 34px !important;
  font-size: 14px;
}

.container.main_body.profile_body .de-enrollment .middle_wrapper.deletecourse .top_wrapper .button_container .notconfirm {
  float: right;
  text-align: center;
  -webkit-box-shadow: 0 1px 2px 1px #2c2e2f20;
          box-shadow: 0 1px 2px 1px #2c2e2f20;
  border: none;
  cursor: pointer;
  border-radius: 34px !important;
  font-size: 14px;
  background-color: #f05050;
  color: #fff;
}

.container.main_body.profile_body .de-enrollment .middle_wrapper.deletecourse .condition_wrapper {
  float: left;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 75px;
}

.container.main_body.profile_body .de-enrollment .middle_wrapper.deletecourse .condition_wrapper h3 {
  font-size: 16px;
  padding: 10px 0px 10px 0px;
}

.container.main_body.profile_body .de-enrollment .middle_wrapper.deletecourse .condition_wrapper ul {
  float: left;
  width: 100%;
  list-style-type: none;
}

.container.main_body.profile_body .de-enrollment .middle_wrapper.deletecourse .condition_wrapper ul li {
  float: left;
  width: 100%;
  padding: 10px 10px 10px 37px;
  position: relative;
  font-size: 14px;
  color: #8c8c8c;
  line-height: 20px;
}

.container.main_body.profile_body .de-enrollment .middle_wrapper.deletecourse .condition_wrapper ul li span {
  position: absolute;
  left: 0px;
}

.container.main_body.profile_body .de-enrollment .middle_wrapper.deletecourse .text_area_wapper {
  width: 100%;
  float: left;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: #f5f7fa;
}

.container.main_body.profile_body .de-enrollment .middle_wrapper.deletecourse .text_area_wapper h3 {
  float: left;
  width: 100%;
  font-size: 14px;
  padding: 15px 20px 15px 20px;
  color: #8c8c8c;
}

.container.main_body.profile_body .de-enrollment .middle_wrapper.deletecourse .text_area_wapper .text_wrapper {
  float: left;
  width: 100%;
  padding: 0px 20px 20px 20px;
}

.container.main_body.profile_body .de-enrollment .middle_wrapper.deletecourse .text_area_wapper .text_wrapper .textcontainer {
  float: left;
  width: 100%;
  height: 100px;
  border: 1px solid #dfe0e8;
  font-size: 14px;
  padding: 10px;
  background-color: #fff;
}

.container.main_body.profile_body .de-enrollment .confirmation_wrapper {
  float: left;
  width: 100%;
  text-align: center;
  margin-top: 15%;
}

.container.main_body.profile_body .de-enrollment .confirmation_wrapper img {
  width: 100px;
}

.container.main_body.profile_body .de-enrollment .confirmation_wrapper h2 {
  float: left;
  width: 100%;
  font-size: 16px;
  color: #2c2e2f;
  padding: 10px 10px 0px 10px;
  opacity: .8;
}

.container.main_body.profile_body .de-enrollment .confirmation_wrapper h5 {
  float: left;
  width: 100%;
  font-size: 14px;
  color: #8c8c8c;
  line-height: 20px;
  padding-top: 12px;
}

.container.main_body.profile_body .de-enrollment .confirmation_wrapper .button_wrapper {
  float: left;
  width: 100%;
  text-align: center;
}

.container.main_body.profile_body .de-enrollment .confirmation_wrapper .button_wrapper button {
  float: none;
  margin-top: 30px;
  color: #fff;
  text-align: center;
  -webkit-box-shadow: 0 1px 2px 1px #2c2e2f20;
          box-shadow: 0 1px 2px 1px #2c2e2f20;
  background-color: #f05050;
  border: none;
  cursor: pointer;
  border-radius: 35px;
  font-size: 14px;
  height: 45px;
  width: 170px;
}

.profileouter {
  width: 100%;
  padding-left: 60px;
  position: relative;
  float: left;
  min-height: 60px;
}

.profileouter .profile {
  position: absolute;
  left: 0;
  top: 0px;
  bottom: 0px;
}

.imgwrapper {
  position: relative;
}

.imgwrapper .leftmenudrop {
  position: absolute;
  top: 15px;
  z-index: 2;
  right: 15px;
}

.imgwrapper .leftmenudrop .postbookmarkbtn.postright_btn {
  border-radius: 50%;
  margin-right: 10px;
}

.imgwrapper .leftmenudrop .postright_btn.postmenubtn {
  border-radius: 50%;
}

.imgwrapper .leftmenudrop .postright_btn.postmenubtn img {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.centerAlign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
  width: 100%;
}

.back_course {
  display: none;
}

.course_cover .imgwrapper {
  max-height: 265px;
  width: 100%;
}

.course_cover .imgwrapper img {
  max-height: 265px;
  width: 100%;
}

.post-footer-btn-outer-wrap .post_footer.post-footer-btn-wrap {
  border-top: none !important;
}

.publicPage .main_body.profile_body {
  margin-top: 71px;
}

/***Responsive css start here***/
@media only screen and (max-width: 991px) {
  .container.main_body.profile_body .course_middle_details, .container.main_body.profile_body .course_left_details, .container.main_body.profile_body .course_right_details {
    float: left;
    width: 100%;
    padding-left: 0px;
  }
  .container.main_body.profile_body .course_middle_details, .container.main_body.profile_body .course_right_details {
    margin-top: 10px;
  }
  .container.main_body.profile_body .course_left_details {
    float: left;
  }
  .container.main_body.profile_body .course_left_details .leftmenu_fixed {
    position: relative;
    width: 100%;
  }
  .back_course {
    position: absolute;
    top: 5px;
    left: 1px;
    cursor: pointer;
    display: block;
    bottom: 5px;
    width: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .back_course img {
    width: 18px;
    margin: auto;
  }
  .profileouter {
    float: left;
    padding-left: 65px;
  }
  .container.main_body.profile_body .leftmenu_fixed {
    padding: 5px 5px 5px 32px;
  }
  .container.main_body.profile_body .leftmenu_fixed .basicdetails {
    margin-top: 14px;
  }
  .container.main_body.profile_body .leftmenu_fixed .basicdetails .name:first-child {
    margin-bottom: 8px;
  }
  .publicPage .main_body.profile_body {
    margin-top: 65px;
  }
  /* .pdng_left.course_right_details{
  margin-top:0;
} */
}

@media only screen and (max-width: 767px) {
  .course_middle_details, .course_left_details, .course_right_details {
    float: left;
    width: 100%;
    padding-right: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .container.main_body.profile_body .coursesDertailTop .coursesDetailBottom .leftDetail {
    float: left;
    width: 100%;
  }
  .container.main_body.profile_body .coursesDertailTop .coursesDetailBottom .rightDetail {
    float: right;
    width: 100%;
  }
  .container.main_body.profile_body .coursesDertailTop .coursesDetailBottom .rightDetail .centerAlign {
    -webkit-box-pack: right !important;
        -ms-flex-pack: right !important;
            justify-content: right !important;
  }
  .container.main_body.profile_body .leftmenu_fixed, .previewcourseDescription, .previewwidgetwrapper {
    border-radius: 0 !important;
  }
}

@media only screen and (max-width: 600px) {
  .container.main_body.profile_body .leftmenu_fixed .profile {
    width: 45px;
    height: 45px;
  }
  .container.main_body.profile_body .leftmenu_fixed .basicdetails {
    margin-top: 8px;
  }
  .container.main_body.profile_body .leftmenu_fixed .basicdetails .name:first-child {
    margin-bottom: 6px;
  }
  .container.main_body.profile_body .leftmenu_fixed .basicdetails .name:last-child {
    font-size: 12px;
    opacity: 0.5;
  }
  .container.main_body.profile_body {
    margin-top: 67px !important;
  }
}

@media only screen and (max-width: 600px) {
  .container.main_body.profile_body .course_middle_details, .container.main_body.profile_body .course_right_details {
    margin-top: 10px;
  }
  .post_outer.text-post-comp {
    margin-bottom: 10px !important;
  }
  .pdng_left.course_right_details {
    margin-top: 10 !important;
  }
  .container.main_body.profile_body .right_menu .previewwidgetwrapper {
    margin-top: -5px;
    margin-bottom: 10px;
  }
  .profileouter {
    padding-left: 45px;
    min-height: 45px;
  }
}

/***Responsive css end here***/
/*# sourceMappingURL=course-details.component.css.map */