.multiple_c_p_imgcontainer {
  width: 135PX;
  height: 90px;
  overflow: hidden;
  z-index: 1;
  border: 1px solid #ccc;
}

.multiple_c_p_imgcontainer img {
  height: 100%;
  width: 100%;
}

.sharedatainput {
  border:0px;
  border-radius: 0px;
  resize: none;
  line-height: 22px;
  padding: 10px 10px 10px 10px;
  min-height: 70px;
  float: left;
  width: 100%;
}

