.rev_head {
  background-color: #f5f7fa;
  padding: 10px;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 14px !important;
}

.review_num {
  float: left;
  width: 100%;
  margin-bottom: 15px;
}

.review_num .review_num_left {
  float: left;
  width: 35%;
  font-size: 35px;
  line-height: 1;
  background-color: #e9e9e9;
  padding: 15px;
  border-radius: 5px;
  margin-top: 5px;
}

.review_num .review_num_left .review-outof {
  display: block;
  font-size: 12px;
  opacity: 0.9;
  margin-top: 5px;
}

.review_num .review_num_right {
  float: right;
  width: 65%;
  margin-top: 5px;
  padding: 10px 0;
  font-size: 12px;
  color: #000;
}

.review_num .review_num_right span {
  float: left;
  width: 100%;
  margin-bottom: 9px;
}

.star_rating {
  float: none !important;
  width: 100px;
  margin: auto !important;
}

.star_rating,
.page_star {
  padding: 5px 0px 5px 0px;
  float: left;
}

.star_rating label.star.fill .star-fill-svg,
.page_star label.star.fill .star-fill-svg {
  display: block;
}

.star_rating label.star.fill .star-half-svg,
.page_star label.star.fill .star-half-svg {
  display: none;
}

.star_rating label.star.fill .star-blank-svg,
.page_star label.star.fill .star-blank-svg {
  display: none;
}

.star_rating label.star.half .star-fill-svg,
.page_star label.star.half .star-fill-svg {
  display: none;
}

.star_rating label.star.half .star-half-svg,
.page_star label.star.half .star-half-svg {
  display: block;
}

.star_rating label.star.half .star-blank-svg,
.page_star label.star.half .star-blank-svg {
  display: none;
}

.star_rating label.star.blank .star-fill-svg,
.page_star label.star.blank .star-fill-svg {
  display: none;
}

.star_rating label.star.blank .star-half-svg,
.page_star label.star.blank .star-half-svg {
  display: none;
}

.star_rating label.star.blank .star-blank-svg,
.page_star label.star.blank .star-blank-svg {
  display: block;
}

.star_rating label.star .star-fill-svg,
.page_star label.star .star-fill-svg {
  display: none;
}

.star_rating label.star .star-half-svg,
.page_star label.star .star-half-svg {
  display: none;
}

.star_rating label.star .star-blank-svg,
.page_star label.star .star-blank-svg {
  display: block;
}

.star_rating label.star,
.page_star label.star {
  float: left;
  padding: 0px;
  font-size: 14px;
  color: #444;
  -webkit-transition: all .2s;
  transition: all .2s;
  margin: 0px 2px 0px 0px;
}

.star_rating label.star img,
.page_star label.star img {
  width: 18px;
}

.line_bar_div {
  width: 100%;
  float: left;
  padding: 7px 0px 0px 0px;
}

.line_bar_div .star_num {
  float: left;
  width: 15%;
  line-height: 1;
  text-align: left;
  font-size: 12px;
}

.line_bar_div .star_num img {
  width: 10px;
  margin-top: -3px;
  opacity: 0.8;
}

.line_bar_div .line_bar {
  float: left;
  width: 70%;
  font-size: 12px;
  display: inline-block;
}

.line_bar_div .line_bar .line-wrapper {
  width: 100%;
  background-color: #f0f5f7;
  border-radius: 5px;
}

.line_bar_div .line_bar .skills {
  line-height: 7px;
  color: white;
  margin-top: 4px;
  background-color: #f05050;
  border-radius: 5px;
}

.line_bar_div .count_review {
  float: left;
  display: inline-block;
  line-height: 1;
  padding-left: 12px;
}

.line_bar_div .count_review_p {
  padding-left: 12px;
}

.recent_review {
  float: left;
  width: 100%;
  font-size: 12px;
  padding: 15px 0px 0px 0px;
}

.recent_review .page_star {
  padding: 0px;
}

.recent_review .recent_write {
  float: left;
  letter-spacing: .7px;
  font-weight: 600;
  margin-right: 15px;
}

.recent_review p {
  float: left;
  text-align: left;
  padding: 5px 0px 0px 0px;
  line-height: 16px;
}

.pageinfo-wrap {
  margin-bottom: 20px !important;
}

.rwviewwrapper {
  float: left;
  background-color: #fff;
  color: #000;
  text-align: center;
}

.review_sec {
  overflow: hidden;
}

.review_sec .pageinfo .carousel-control .icon-prev,
.review_sec .pageinfo .carousel-control .icon-next {
  bottom: -30px;
  top: auto;
  height: 20px;
  margin-top: 0;
  background-color: transparent;
  line-height: 1;
  text-shadow: none;
  font-size: 12px;
}

.review_sec .pageinfo .carousel-control .icon-prev::before {
  content: "Back";
  color: #4CAF50;
  font-family: "SegoeUI";
  font-weight: 500;
}

.review_sec .pageinfo .carousel-control .icon-next::before {
  content: "Next";
  font-weight: 500;
  color: #4CAF50;
  font-family: "SegoeUI";
}

.Pagerating {
  float: left;
  width: 100px;
  display: inline-block;
}

.Pagerating img {
  margin-left: 2px;
  width: 18px;
}

@media only screen and (max-width: 991px) {
  .widgetpage_outer {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .widgetpage_outer {
    border-radius: 0;
  }
}
/*# sourceMappingURL=reviewswidget.component.css.map */