.addpost_outer.relative {
  position: relative;
}

.addpost_outer.static {
  position: static;
}

.addpost_outer {
  display: inline-block;
  background: #fff;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  z-index: 5;
  margin-bottom: 15px;
  float: left;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.addpost_outer .btn-dashed {
  background: transparent;
  color: #F05050;
  height: auto;
  float: left;
  border: 0px;
  font-weight: 500;
  margin-left: 52px;
  margin-top: -9px;
}

.addpost_outer .addposttab_out {
  border-bottom: 1px solid #dfe0e8;
  display: inline-block;
  width: 100%;
  float: left;
}

.addpost_outer .addposttab {
  width: 100px;
  min-width: 10px;
  width: auto;
  overflow: hidden;
  float: left;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  text-align: center;
  width: 81px;
  height: 28px;
}

.addpost_outer .addposttab .glyphicon {
  margin-right: 8px;
}

.addpost_outer .addposttab.addposttab-active {
  border-bottom: 2px solid #F05050;
}

.addpost_outer .tabContentInner {
  display: inline-block;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
}

.addpost_outer .tabContentInner textarea.file_textarea {
  border: 1px solid #dfe0e8;
  margin-top: 15px;
  height: 80px;
  resize: none;
}

.addpost_outer .tabContentInner .addfile_div {
  display: inline-block;
  width: 80px;
  height: 80px;
  border: 1px solid #dfe0e8;
  text-align: center;
  line-height: 80px;
  float: left;
  margin-right: 15px;
  position: relative;
}

.addpost_outer .tabContentInner .addfile_div img {
  width: 100%;
  float: left;
}

.addpost_outer .tabContentInner .addfile_div .glyphicon-plus {
  margin-right: 0px;
}

.addpost_outer .tabContentInner .addfile_div .glyphicon-plus:before {
  font-size: 20px;
  color: #8c8c8c;
  margin-right: 0px;
  border-radius: 5px;
}

.addpost_outer .tabContentInner .addfile_div .upldoverlay {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
}

.addpost_outer .tabContentInner .addfile_div .progressbar {
  display: inline-block;
  width: 90%;
  overflow: hidden;
  height: 4px;
  background: #f5f7fa;
  position: relative;
  margin-top: 55px;
}

.addpost_outer .tabContentInner .addfile_div .progressbar .progressbar_inr {
  position: absolute;
  background: #F05050;
  top: 0;
  left: 0;
  bottom: 0;
}

.addpost_outer .mainfileupldng {
  display: inline-block;
  width: 100%;
}

.addpost_outer .StatusInfo {
  border: 0px;
  border-radius: 0;
  min-height: 67px;
  line-height: 19px;
  border-bottom: 1px solid #dfe0e8;
  line-height: 22px;
  height: auto;
}

.addpost_outer .status_link_pre {
  width: 100%;
  display: inline-block;
  float: left;
}

.addpost_outer .status_link_pre .removeimg {
  position: absolute;
  right: -6px;
  top: -9px;
  display: none;
}

.addpost_outer .status_link_pre:hover .removeimg {
  display: block;
}

.addpost_outer .status_link_pre .post_profileContent {
  width: 100%;
  position: relative;
  float: left;
}

.addpost_outer .status_link_pre .post_profileContent .sharedlink_post {
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.addpost_outer .status_link_pre .post_profileContent .sharedlink_post img {
  width: auto;
  max-width: 100%;
}

.addpost_outer .input_part {
  display: inline-block;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px 15px 15px;
  float: left;
  border-top: 1px solid #dfe0e8;
}

.addpost_outer .input_part .btn {
  width: auto;
  padding: 0 20px;
  margin-left: 10px;
}

.addpost_outer .input_part .btn.btn-primary {
  background: #F05050;
  border: 1px solid #F05050;
}

.addpost_outer .input_part .btn.btn-secondary {
  border: 1px solid #dfe0e8;
  background: #ffffff;
}

.addpost_outer .input_part .btn.btn-secondary:focus {
  border: 1px solid #dfe0e8;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.addpost_outer .input_part .btn.btn-secondary:active {
  border: 1px solid #dfe0e8;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.addpost_outer .input_part .btn_dropdwn:before {
  font-size: 11px;
}

.addpost_outer .input_part .btn_dropdwn {
  margin-right: 0px;
}

.addpost_outer .input_part .col-md-6.col-sm-6 {
  padding: 0;
}

.addpost_outer .input_part .col-md-8 {
  text-align: right;
  padding: 0;
}

.addpost_outer .input_part .attachfile {
  color: #8c8c8c;
  line-height: 26px;
}

.addpost_outer .input_part .drpdwn_btn {
  position: relative;
}

.questiontype_outr.graybutton {
  color: #8c8c8c;
  display: inline-block;
  padding: 0 6px;
  position: relative;
  cursor: pointer;
  height: 25px;
  background: transparent;
  line-height: 23px;
  border: none;
}

.questiontype_outr.graybutton .glyphicon-menu-down::before {
  font-size: 10px;
}

.questiontype_outr.graybutton .drpdwn_post {
  right: 0px;
  width: 200px;
}

.questiontype_outr.graybutton .drpdwn_post li {
  line-height: 20px;
}

.addoption_outr {
  display: inline-block;
  width: 100%;
  margin-top: 12px;
  float: left;
  padding: 0 15px;
  color: #8c8c8c;
}

.addoption_outr .left_part {
  display: inline-block;
  width: 50px;
  float: left;
  margin-right: 15px;
}

.addoption_outr .right_part {
  display: inline-block;
  width: 489px;
  float: left;
  position: relative;
}

.addoption_outr .right_part .post_option {
  display: inline-block;
  min-height: 35px;
  padding: 0px;
  width: 100%;
  border-bottom: 1px solid #dfe0e8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 17px;
  padding-bottom: 8px;
  font-size: 14px;
  float: left;
}

.addoption_outr .right_part .post_option:focus {
  display: inline-block;
  min-height: 35px;
  padding: 0px;
  width: 100%;
  border-bottom: 1px solid #dfe0e8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 17px;
  padding-bottom: 8px;
}

.addoption_outr .right_part.postoption {
  border: 1px solid #dfe0e8;
  height: auto;
  border-radius: 5px;
  padding: 7px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.addoption_outr .addoptioninr {
  border: 1px solid #dfe0e8;
  border-radius: 5px;
  display: inline-block;
  height: 35px;
  line-height: 35px;
  width: 100%;
  cursor: pointer;
  margin-bottom: 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-weight: normal;
  text-align: center;
}

.addoption_outr .addoptioninr .Radio + .radio_btn {
  top: 6px;
}

.addoption_outr .addoptioninr .Radio + .checkbox_btn {
  top: 6px;
}

.addoption_outr:first-child {
  margin-top: -2px;
}

.darkbackground {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.drpdwn_post {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #dfe0e8;
  position: absolute;
  right: 84px;
  top: 35px;
  width: 134px;
  z-index: 1;
  border-radius: 5px 0px 5px 5px;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}

.drpdwn_post ul {
  display: inline-block;
  width: 100%;
  position: relative;
  z-index: 1;
}

.drpdwn_post ul li {
  padding: 10px;
  text-align: left;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #dfe0e8;
  cursor: pointer;
}

.drpdwn_post ul li:hover {
  background: #F05050;
  color: #fff;
}

.drpdwn_post ul li:last-child {
  border-bottom: 0px;
}

.addpost_tab {
  display: inline-block;
  border: 1px solid #F05050;
  float: left;
  height: 30px;
  width: 35px;
  line-height: 27px;
  padding: 0 0px 0 0;
  position: relative;
  border-radius: 5px;
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
  margin-top: 5px;
}

.addpost_tab .glyphicon {
  position: absolute;
  color: #F05050;
  top: -10px;
  font-size: 14px;
  left: 9px;
}

.addpost_tab img {
  margin-right: 0px;
}

.addpost_tab .hoverimage {
  display: none;
}

.addpost_tab:hover, .activeaddpost.addpost_tab {
  background: #F05050;
  border-color: #F05050;
}

.addpost_tab:hover .hoverimage, .activeaddpost.addpost_tab .hoverimage {
  display: inline-block;
}

.addpost_tab:hover .defaultimage, .activeaddpost.addpost_tab .defaultimage {
  display: none;
}

.maintextarea_div {
  position: relative;
  display: inline-block;
  width: 100%;
}

.maintextarea_div .fileupload_image {
  position: absolute;
  right: 0px;
  top: 6px;
}

.maintextarea_div .fileupload {
  margin-top: 20px;
  right: -2px;
}

.post_image {
  display: none !important;
}

label.postoption_image {
  padding-top: 7px;
  font-family: 'Roboto';
  font-weight: normal;
  margin: 0;
  width: 100%;
}

label.postoption_image .fileupload_image {
  margin-right: 10px;
}

.truefalse {
  padding: 6px 7px !important;
}

.drpdwn_duration {
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.addtags {
  width: 100%;
  border: 1px solid #dfe0e8;
  display: inline-block;
  border-radius: 5px;
  height: auto;
  margin-bottom: 15px;
  position: relative;
}

.addtags .taginput {
  border: 0px !important;
  float: left;
}

.addtags .tags {
  margin: 3px !important;
}

.addtags .addtags_drop {
  top: 30px;
  left: 0px;
  right: auto;
  min-width: 250px;
  width: auto;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.addtag_drop {
  right: auto;
  top: 29px;
  width: 226px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.maintextarea_div {
  float: left;
  margin-top: 0px;
}

.maintextarea_div .StatusInfo {
  border: 0px;
  width: 95%;
  float: left;
  padding: 5px 5px 10px 5px;
}

.addtags {
  border: 0px;
  margin-bottom: 0px;
  float: left;
  padding: 0 6px 4px !important;
}

.taginput {
  height: 20px !important;
  line-height: 20px;
  width: 60px;
  background: #f5f7fa;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 11px;
  margin-top: 3px;
}

.StatusInfo::-webkit-input-placeholder, .placeholder {
  font-size: 24px !important;
}

.StatusInfo:-ms-input-placeholder, .placeholder {
  font-size: 24px !important;
}

.StatusInfo::-ms-input-placeholder, .placeholder {
  font-size: 24px !important;
}

.StatusInfo::placeholder, .placeholder {
  font-size: 24px !important;
}

.StatusInfo::-moz-placeholder, .placeholder {
  font-size: 24px !important;
}

.StatusInfo::-webkit-placeholder, .placeholder {
  font-size: 24px !important;
}

.text-post-edit-wrap {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 7;
}

.text-post-edit-wrap .container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3D(-50%, -50%, 0);
  transform: translate3D(-50%, -50%, 0);
}

.edit-post-content {
  color: #2c2e2f;
  font-size: 14px;
  line-height: 20px;
}

.addpost-outer-wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup-open-wrapper.addpost_outer {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  overflow-y: scroll;
  z-index: 13;
}

.popup-open-wrapper.addpost_outer .popup-open-inner-wrap {
  width: 50.8%;
  background-color: white;
  height: auto;
  top: 70px;
  left: 50.8%;
  position: absolute;
  z-index: 4;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.popup-open-wrapper.addpost_outer .darkbackground-close {
  position: fixed;
  height: 100%;
  width: 98.5%;
  top: 0;
  right: 1.5%;
}

.editposttag .drpdwn_post.drpdwn_tag {
  top: 100% !important;
  max-height: 300px;
}

.padding_textarea {
  padding: 15px 15px 10px 10px;
}

.borderRadius {
  border-radius: 5px;
}

@media only screen and (max-width: 767px) {
  .addpost_outer, .popup_heading {
    border-radius: 0;
  }
}
/*# sourceMappingURL=textpostedit.component.css.map */