.reportspopup {
  width: 300px !important;
  height: 331px;
}

.reportspopup .popup_heading {
  height: 40px;
  line-height: 40px;
  font-weight: 500;
  text-align: left;
  color: #2c2e2f;
  font-size: 14px;
  border-radius: 3px 3px 0px 0;
  background-color: #f5f7fa;
  font-weight: 500;
  border-bottom: none !important;
}

.reportspopup .interesrsearch {
  width: 100%;
}

.reportspopup .profiledetail {
  width: 357px !important;
}

.reportspopup .post_outer {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.reportspopup .post_outer .post_profile {
  padding: 10px 10px 0px 10px;
}

.reportspopup .post_outer .post_profile p {
  margin-top: 10px;
}

.reportspopup .post_outer .post_profile button {
  margin-bottom: 10px;
}

.reportspopup .report_popup {
  border: none !important;
  margin-bottom: 0px !important;
}

.reportspopup .post_profileContent {
  padding: 20px 0 !important;
  height: 230px;
}

.reportspopup .post_profileContent .report_ul .report_li {
  float: left;
  width: 100%;
  margin: 3px 0px;
}

.reportspopup .post_profileContent .report_ul .report_li .dis_inline {
  float: left;
  display: inline-block;
  height: 20px;
  line-height: 20px;
}

.fieldlist {
  margin: 0 0 -1em;
  padding: 0;
  float: left;
  padding: 15px;
  width: 100%;
}

.fieldlist li {
  list-style: none;
  padding-bottom: 10px;
  float: left;
  width: 100%;
}

.fieldlist li .k-radio, .fieldlist li input.k-checkbox {
  display: inline;
  opacity: 0;
  width: 0;
  margin: 0;
  -webkit-appearance: none;
  overflow: hidden;
  position: absolute;
}

.fieldlist li .k-checkbox-label, .fieldlist li .k-radio-label {
  display: inline-block;
  position: relative;
  padding-left: 28.8px;
  vertical-align: text-top;
  line-height: 16px;
  cursor: pointer;
  border-style: solid;
  border-width: 0;
}

.fieldlist li .k-radio-label {
  float: left;
}

.fieldlist li .k-checkbox-label, .fieldlist li .k-radio-label {
  line-height: 18px;
  color: #2c2e2f;
  font-size: 12px;
  margin-bottom: 0px;
  font-weight: normal;
}

.fieldlist li .k-radio-label:before {
  border-color: #838383;
  border-radius: 50%;
  background-color: #fff;
  border-width: 2px;
}

.fieldlist li .k-radio-label:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  border-style: solid;
}

.fieldlist li .k-radio:checked + .k-radio-label:before, .fieldlist li .k-radio:checked + .k-radio-label:hover:before {
  border-color: #F05050;
}

.fieldlist li .k-radio:checked + .k-radio-label:after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: 3px;
  left: 3px;
}

.fieldlist li .k-radio:checked + .k-radio-label:after {
  top: 4px;
  left: 4px;
}

.fieldlist li .k-radio:checked + .k-radio-label:after {
  background-color: #F05050;
  border-radius: 50%;
}

.footer_wrap_profile {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px !important;
  background-color: #f5f7fa;
  border-radius: 0 0 5px 5px;
}

.footer_wrap_profile button {
  margin-bottom: 0 !important;
}

.btn_active_shdw:active {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
/*# sourceMappingURL=page-report-popup.component.css.map */