<div class="popup" >
    <div class="popup_background" ></div>
    <div class="popup_main reportspopup report-popup">
        <div class="popup_heading">Report Page
            <span (click)="closePopup()" class="close_div">
                <img class="defaultt" src="assets/images/svg/tagcross.svg">
                <img class="hoverr" src="assets/images/svg/tagcross-gray.svg">
            </span>
            <!-- <img (click)="reportpopuphide()" src="assets/images/svg/tagcross.svg" style="float: right;margin: 17px 0;cursor: pointer;"> -->
        </div>
        <div class="col-md-12 " style="padding:0px;">

            <div class='post_outer report_popup'>
                <div class='post_profile'>
                    <p>We use your feedback to help us learn when something's not right</p>
                </div>
                <div class='post_profileContent'>
                    <ul class="report_ul fieldlist">
                        <li *ngIf="hideoptioncontent">
                            <input type="radio" name="radioreport" id="report1" class="k-radio"  value="1">
                            <label class="k-radio-label" for="report1">Not according to interest</label></li>
                        <li *ngIf="hideoptioncontent">
                            <input type="radio" name="radioreport" id="report2" class="k-radio"  value="2">
                            <label class="k-radio-label" for="report2">Incorrect Content</label>
                        </li>
                        <li *ngIf="hideoptioncontent">
                            <input type="radio" name="radioreport" id="report3" class="k-radio" value="3">
                            <label class="k-radio-label" for="report3">Nudity</label>
                        </li>
                        <li *ngIf="hideoptioncontent">
                            <input type="radio" name="radioreport" id="report4" class="k-radio"  value="4">
                            <label class="k-radio-label" for="report4">Violence</label>
                        </li>
                        <li *ngIf="hideoptioncontent">
                            <input type="radio" name="radioreport" id="report5" class="k-radio"  value="5">
                            <label class="k-radio-label" for="report5">Spam</label>
                        </li>
                        <li>
                            <input type="radio" name="radioreport" id="report6" class="k-radio"  (click)="hide_option()" value="6">
                            <label class="k-radio-label k-radio-label-other" for="report6" >Other</label>

                        </li>
                        <li *ngIf="report_input_option">
                            <span  class="other_option">
                                <textarea id="other1" style="resize:none; height:100px;"  placeholder="Enter details here" [(ngModel)]="reportText"></textarea></span>
                        </li>

                    </ul>
                </div>
               	<div class='post_profile footer_wrap_profile'>
                    <button  type="submit" class="btn btn-primary btn_sbmt btn_active_shdw"  (click)="getpageReport()">Submit</button>
                    <button  type="submit" class="btn btn-secondary graybutton gray_rds back_button" *ngIf="report_input_option"  (click)="hide_option()" >Back</button>
                </div>

            </div>
            <div class='post_outer'  *ngIf="success">
                <div class='post_profile' style="text-align: center;">
                    <img style="width:80px;text-align:center;" src="assets/images/checkmark-gif.gif">
                </div>
                <div class='post_profile'> Report Successfully Saved
                                        <p style="text-align: center;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>

            </div>

        </div>
    </div>
</div>
