<div class="browser_container">
  <div class="browser_inner_container">
     <div class="text_container">
       <h3>Did you know that your Browser is out of date?</h3>
       <p>Your browser is out of date, and may not be compatible with our website. A list of the most popular web browsers can be found below.
       <br>
       <br>
       Just click on the icons to open specific download page and upgrade your browser.
      </p>

     </div>
     <div class="image_container">
        <div class="img">
          <a href="https://support.google.com/chrome/answer/95414?co=GENIE.Platform%3DDesktop&hl=en" target="_blank"><img src="assets/images/svg-three/browser/crome.png" alt="study24x7"></a>
          <p>Google Chrome</p>
        </div>
        <div class="img">
          <a href="https://www.microsoft.com/en-us/download/internet-explorer.aspx" target="_blank"><img src="assets/images/svg-three/browser/ie.png" alt="study24x7"></a>
          <p>Internet Explorer</p>
        </div>
        <div class="img">
          <a href="https://support.apple.com/en-in/HT204416" target="_blank"><img src="assets/images/svg-three/browser/safare1.png" alt="study24x7"></a>
          <p>Safari</p>
        </div>
        <div class="img">
          <a href="https://support.mozilla.org/en-US/kb/update-firefox-latest-version" target="_blank"><img src="assets/images/svg-three/browser/firefox1.png" alt="study24x7"></a>
          <p>Mozilla Firefox</p>
        </div>
     </div>
  </div>
</div>

