<div class="shareCourseWrapper" [ngClass]="{'shareCourseBGColorforaddcourse': addcourse == true}" >
  <h3>Share this Course</h3>
  <h5>Tell your friends about this course, so they too can get benefits</h5>
  <ul>
    <li>
      <a [href]="socialFbShareUrl" target="_blank"><span class="socialImg"><img src="assets/images/svg-three/facebook.svg" alt="study24x7"></span></a>
      <span class="text">Facebook</span>
    </li>

    <!-- <li>
    <a [href]="socialGooglePlusUrl" target="_blank">  <span class="socialImg"><img src="assets/images/svg-three/google.svg" alt="study24x7"></span></a>
      <span class="text">Google +</span>
    </li> -->

    <!-- <li>
      <a [href]="socialMailUrl" target="_blank"><span class="socialImg"><img src="assets/images/svg-three/mail.svg" alt="study24x7"></span></a>
      <span class="text">Mail</span>
    </li> -->
    <li>
    <a [href]="socialWhatsappLink" target="_blank">  <span class="socialImg"><img src="assets/images/svg-three/whatsapp.png" alt="study24x7"></span></a>
      <span class="text">Whatsapp</span>
    </li>


      <li>
      <a [href]="socialTelegramLink" target="_blank">  <span class="socialImg"><img src="assets/images/telegram.jpg" alt="study24x7"></span></a>
        <span class="text">Telegram</span>
      </li>

      <li>
      <a [href]="socialTeitterShareUrl" target="_blank"><span class="socialImg"><img src="assets/images/svg-three/twiter.svg" alt="study24x7"></span></a>
      <span class="text">Twitter</span>
    </li>
    <li >
    <a [href]="socialLinkedInShareUrl" target="_blank"><span class="socialImg"><img src="assets/images/svg-three/linkedin_circle.png" alt="study24x7"> </span></a>
      <span class="text">LinkedIn</span>
    </li>



  </ul>
</div>
