<app-header></app-header>
<div class="container contain_wrapper">
  <div class="reciept_wrapper">
    <div class="receipt"><p><span><a href="" >Payment Receipt</a></span>
    </p>
  </div>
    <div class="inner_wrapper clearfix">

      <div class="thank_order clearfix">
        <img src="./assets/images/icons/Checkout_thankyou.jpg" alt="aio">
        <h4>Thank you for your order</h4><br>
        <p>Parchase to <span class="Institute_name">Made Easy Institute</span></p><br>
        <p>13 Jul 2018, 01:06pm</p>
      </div>
      <div class="item_detail clearfix">
        <span>Item</span>
        <span>Course Validity</span>
        <span>Amount</span>
      </div>
      <div class="certificat_eco clearfix">
        <p>
          <span class="left_value">
          <span><img src="./assets/images/icons/Checkout_Done_invoice.jpg" alt="aio"></span>
          <span class="order_dtl">
          <span class="order_dtl_a">Certification Economist</span>
          <span class="order_dtl_b">Order ID: #32574168752</span>
        </span>
        </span>
        <span class="center_value">90 Days</span>
          <span class="right_value">
            <span><img src="./assets/images/svg-one/rupee-black.svg" alt="aio">770</span><br>
            <span>Your order is successful</span>
          </span>
        </p>
      </div>
    </div>

  </div>
</div>
