.contain_wrapper {
  margin-top: 90px;
}

.contain_wrapper .reciept_wrapper {
  padding: 15px;
  background-color: white;
  border-radius: 5px;
}

.contain_wrapper .reciept_wrapper .receipt p {
  width: 100%;
  float: right;
}

.contain_wrapper .reciept_wrapper .receipt p span {
  float: right;
}

.contain_wrapper .reciept_wrapper .receipt p span a {
  color: #F05050;
  text-decoration: underline !important;
}

.contain_wrapper .reciept_wrapper .inner_wrapper {
  padding: 0 150px;
}

.contain_wrapper .reciept_wrapper .inner_wrapper .thank_order {
  text-align: center;
  padding-bottom: 10px;
}

.contain_wrapper .reciept_wrapper .inner_wrapper .thank_order h4, .contain_wrapper .reciept_wrapper .inner_wrapper .thank_order p {
  width: 100%;
  float: left;
  margin-bottom: 15px;
}

.contain_wrapper .reciept_wrapper .inner_wrapper .thank_order h4 {
  margin-top: 15px;
}

.contain_wrapper .reciept_wrapper .inner_wrapper .thank_order .Institute_name {
  color: #F05050;
}

.contain_wrapper .reciept_wrapper .inner_wrapper .certificat_eco {
  padding: 20px 0;
}

.contain_wrapper .reciept_wrapper .inner_wrapper .certificat_eco .left_value {
  width: 60%;
  float: left;
}

.contain_wrapper .reciept_wrapper .inner_wrapper .certificat_eco .left_value img {
  float: left;
  width: 60px;
}

.contain_wrapper .reciept_wrapper .inner_wrapper .certificat_eco .left_value .order_dtl {
  float: left;
  margin-left: 10px;
}

.contain_wrapper .reciept_wrapper .inner_wrapper .certificat_eco .left_value .order_dtl .order_dtl_a {
  width: 100%;
  float: left;
  color: #2c2e2f;
}

.contain_wrapper .reciept_wrapper .inner_wrapper .certificat_eco .left_value .order_dtl .order_dtl_b {
  width: 100%;
  float: left;
}

.contain_wrapper .reciept_wrapper .inner_wrapper .certificat_eco .left_value span:nth-child(1) {
  margin-bottom: 7px;
  float: left;
  font-weight: bold;
}

.contain_wrapper .reciept_wrapper .inner_wrapper .certificat_eco .center_value {
  width: 20%;
  text-align: left;
  float: left;
  color: #2c2e2f;
  font-weight: bold;
}

.contain_wrapper .reciept_wrapper .inner_wrapper .certificat_eco .right_value {
  width: 20%;
  float: right;
}

.contain_wrapper .reciept_wrapper .inner_wrapper .certificat_eco .right_value span:first-child {
  float: right;
  margin-bottom: 7px;
  font-weight: bold;
  color: #2c2e2f;
}

.contain_wrapper .reciept_wrapper .inner_wrapper .certificat_eco .right_value span:first-child img {
  width: 12px;
  margin-top: -3px;
}

.contain_wrapper .reciept_wrapper .inner_wrapper .certificat_eco .right_value span:last-child {
  float: right;
  color: green;
  width: 100%;
  text-align: right;
}

.item_detail {
  padding-bottom: 15px;
  border-bottom: 2px solid #e6e6e6;
}

.item_detail span {
  color: #8c8c8c;
}

.item_detail span:nth-child(1) {
  width: 60%;
  float: left;
  text-align: left;
}

.item_detail span:nth-child(2) {
  width: 20%;
  float: left;
  text-align: left;
}

.item_detail span:nth-child(3) {
  width: 20%;
  float: left;
  text-align: right;
}
/*# sourceMappingURL=paymentreceipt.component.css.map */