$textgrey : #8c8c8c;
$backgroundgray : #e6e6e6;
$themeblue : #F05050;
$themegray : #f5f7fa;
$textcolor : #2c2e2f;
$borderRadius: 5px;

.contain_wrapper{
  margin-top: 90px;
  .reciept_wrapper{
    padding:15px;
    background-color: white;
    border-radius: $borderRadius;
  .receipt{
    p{
      width: 100%;
      float: right;
      span{
        float: right;
        a{
          color: $themeblue;
          text-decoration: underline !important;
        }
      }
    }
  }
    .inner_wrapper{
      padding: 0 150px;
      .thank_order{
        // border-bottom: 2px solid $backgroundgray;
        text-align: center;
        padding-bottom: 10px;
        h4, p{
          width: 100%;
          float: left;
          margin-bottom: 15px;
        }
        h4{
          margin-top: 15px;
        }
        .Institute_name{
          color: $themeblue;
        }

      }
      .certificat_eco{
        padding: 20px 0;

        .left_value{
          width:60%;
          float: left;
          img{
            float: left;
            width: 60px;
          }
          .order_dtl{
            float: left;
            margin-left: 10px;

              .order_dtl_a{
                width: 100%;
                float: left;
                color: $textcolor;
              }
              .order_dtl_b{
                width: 100%;
                float: left;
              }

          }
          span{
            &:nth-child(1){
              margin-bottom: 7px;
              float:left;
              font-weight: bold;
            }
            // &:nth-child(2){
            //   margin-left: 7px;
            //   float:left;
            //   font-weight: bold;
            //   margin-bottom: 7px;
            //   display: block;
            //   margin-top: 1px;
            //
            // }
            // &:last-child{
            //   margin-left: 7px;
            //   float:left;
            //   font-weight: bold;
            //   display: block;
            //   font-size: 12px;
            // }
          }
        }
        .center_value{
          width:20%;
          text-align:left;
          float: left;
          color: $textcolor;
          font-weight: bold;
        }
        .right_value{
          width:20%;
          float: right;
          span{
            &:first-child{
              float: right;
              margin-bottom: 7px;
              font-weight: bold;
              color: $textcolor;
              img{
                width: 12px;
                margin-top: -3px;
              }

            }
            &:last-child{
              float: right;
              color: green;
              width: 100%;
              text-align: right;

            }
          }
        }

      }

    }

  }
}
.item_detail{
  padding-bottom: 15px;
  border-bottom: 2px solid $backgroundgray;
  span{
    color: $textgrey;
    &:nth-child(1){
      width: 60%;
      float: left;
      text-align:left;
    }
    &:nth-child(2){
      width: 20%;
      float: left;
      text-align: left;
    }
    &:nth-child(3){
      width: 20%;
      float: left;
      text-align: right;
    }
  }
}
