// $backgroundgray : #e6e6e6;
$themeblue : #F05050;
// $themegray : #f5f7fa;
$textcolor : #2c2e2f;
$textgrey : #8c8c8c;
// $maingreen: rgb(7,162,8);
$stroke : #dfe0e8;
// // $stroke : #E9E9E9;
$borderRadius: 5px;
// $inputTypeHeight: 35px;
// $inputTypeFont: 12px;
// $headerHeight: 60px;
// $headerLineHeight: $headerHeight - 5px;
$mainboxShadow: 0 0 7px rgba(0,0,0,0.1);
// $dropdownwidth: 400px;
// $dropdwncontentwidth: $dropdownwidth - 100px;
// $ntfctnprofile: 40px;
// $inrprflimg : $ntfctnprofile + 8px;
$PostPicture: 40px;
// $commentPicture: $PostPicture - 10px;
// $subcommentPicture: $commentPicture - 10px;
// $mainpostName: 16px;
// $maincommentName: $mainpostName - 2px;
// $darkthemestroke: $themeblue;
// $progressbarRed: #ed6568;
// $rightanswer : #5bbc5b;
// $themelighten : rgba(18, 188, 180, 0.2);
// $lightgray : #fafafa;
// $lightstroke: #f4f4f4;
// $lighttext: #8c8c8c;

.connectionrequest_outer{
	background: #ffffff;
	display:inline-block;
	width: 100%;
	box-sizing: border-box;
	border-radius: $borderRadius;
	box-shadow: $mainboxShadow;
	margin-top:15px;

	.profileimg_know{
		display:inline-block;
		height: $PostPicture;
		width: $PostPicture;
		float: left;
		// border-radius: $borderRadius;
		overflow: hidden;

		img{
			width: 100%;
		}
	}
	.people_list {
		    display: inline-block;
    width: 100%;
    padding: 0 10px 0px;
    margin-bottom: 15px;
    height: 254px;
    overflow: auto;


	li{
		display:inline-block;
		width:100%;
		padding: 8px 0;
		border-bottom: 1px solid $stroke;
		color: $textgrey;

		.graybutton{
			    // width: auto;
    float: right;
    padding: 0 ;
    height: 28px;
    line-height: 28px;
    margin-top: 5px;
    width: 28px;
}
		.profilename{
			color: $textcolor
		}
		.prfl_detail{
			display:inline-block;
			margin-left:10px;
			width: 105px;overflow: hidden;
		}
		.graybutton2{
			margin-left: 8px;
		}
        .friendbtn{
            display: inline-block;
         float: right;
            .graybutton{
							-webkit-border-radius: 3px;
							-moz-border-radius: 3px;
							-ms-border-radius: 3px;
							-o-border-radius: 3px;
							border-radius: 3px;
            }
            .btn-primary{
                   width: 28px;
                    padding: 0 4px;
                    height: 28px;
                    line-height: 28px;
                    margin-top: 5px;
										-webkit-border-radius: 3px;
										-moz-border-radius: 3px;
										-ms-border-radius: 3px;
										-o-border-radius: 3px;
										border-radius: 3px;
                    border-radius: 3px;
										margin-right:5px;
										-webkit-transition: all ease-in-out 0.3s;
										-moz-transition: all ease-in-out 0.3s;
										-ms-transition: all ease-in-out 0.3s;
										-o-transition: all ease-in-out 0.3s;
										transition: all ease-in-out 0.3s;
										&:hover{
											background-color:darken($themeblue, 10%);
											border-color:darken($themeblue, 10%);
											-webkit-transition: all ease-in-out 0.3s;
											-moz-transition: all ease-in-out 0.3s;
											-ms-transition: all ease-in-out 0.3s;
											-o-transition: all ease-in-out 0.3s;
											transition: all ease-in-out 0.3s;
										}
            }
        }
	}

		li:first-child{
			// padding-top: 0px;
		}
		li:last-child{
			padding-bottom: 0px;
			border: 0px
		}

}

}
.connection_out{
	padding:10px !important;
	background-color: #F5F7FA;
	border-radius: 5px 5px 0 0;
}
.connectionrequest_outer{
	.profileimg_know{
		cursor: none !important;
	}
}
.connectionrequest_outer{
.Notificationlist_name{
	color:#2c2e2f;
}
}
.connectionrequest_outer{
	overflow: hidden;
	margin-bottom:8px;
  position: relative;
	h6{
		background: #f5f7fa;
    padding-bottom: 15px;
		// margin-bottom: 13px!important;
		float: left;
		width: 100%;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;

	}
  h5{
    position: absolute;
bottom: 0px;
width: 100%;
text-align: center;
padding: 8px 10px 10px 10px !important;
border-top: 1px solid #e9e9e9;
background-color: #F5F7FA;
font-size: 14px;
font-weight: 500;
height: 31px;
color: #f05050;
cursor: pointer;
margin-bottom: 0px!important;
  }

	.people_list{
		    height: 275px;
            padding-top: 6px;
        // margin-bottom: 30px;
		ul{
			li{
				border: 0px solid #fff;
				padding: 8px 0;
				.profilename{
					margin-bottom: 3px;
				}
			}
		}
	}
}
.connectionrequest_outer{
	margin-top:0 !important;
}
.connectionrequest_outer{
 .people_list{
	 padding-right:10px;
	 padding-left:10px;
 }
}
.footer_heading{
font-weight: normal;
}

// from new scss file
.emptystate {
  .emptystate_inner {
    img.img_width{
      width:200px!important;
    }
  }
}
// end new file scss

// ============responsive============
@media screen and (max-width:1050px) and (min-width:768px){
	.connectionrequest_outer{
		.people_list{
			li{
				.friendbtn{
					float: left;
					margin-left: 10px;
				}
			}
		}
	}
}
