<div class="connection_main" *ngIf="pageSugg.length!=0">

  <div class="headSec">Recommended Pages</div>
  <div class="dataShow">
    <ngx-slick-carousel class="carousel feature_course_card recommemded_card" [config]="slideConfigSuggestedConnection"   #slickModal="slick-carousel"
     >
      <div *ngFor="let page of pageSugg;let i=index">
        <div *ngIf="i+1!=pageSugg.length" ngxSlickItem class="slide showCard" >
          <div class="page_container">
            <div class="imgSec">
              <img style="cursor: pointer;" class="profileimg" src='{{ page.PROFILE_PHOTO_PATH }}'
                routerLink="/page/{{page.ID}}" (error)="updateSourcePic($event)" alt="study24x7">
              <div style="cursor: pointer;" (click)="delSuggestion(i)" style="cursor: pointer;"
                class="removeConnection btn-a">
                <img src="assets/images/svg-icon/cross-icon-with-bg.svg">
              </div>
            </div>
              <div class="contSection">
            <p style="cursor: pointer;" class="nameSec oneLine" routerLink="/page/{{page.ID}}" title='{{ page.TITLE}}'>
              {{page.TITLE|trimData:17}}</p>
            <p class="typeOf">{{page.PAGE_FOLLOW_COUNT}} Followers</p>
            </div>
            <div class="cardbottomSec">
              <button *ngIf="!page.followStatus" id="{{page.USER_ID}}" class="btn-center btnflex btn-coral btn-coral-h btn-a"
                name="button" type="button" (click)="pageFollowUnFollow(page.PAGE_UUID, i)">
                <img src="assets/images/svg-icon/addsign-white.svg">
                Follow
              </button>
              <button *ngIf="page.followStatus" id="{{page.USER_ID}}" class="btn-center btnflex buttonreqSend"
                name="button" type="button">
                <img src="assets/images/svg-icon/tickicon-red.svg">
                Following
              </button>
            </div>
          </div>
        </div>
        <div *ngIf="i+1==pageSugg.length" ngxSlickItem class="slide showCard showCardLast">
          <div class="page_container page_container_last ">
            <div class="imgSec">
              <img style="cursor: default;" class="profileimg" src='assets/images/svg-icon/createpageAvtar.svg'
                alt="study24x7">

            </div>
            <div class="contSection">
            <p style="cursor: default;" class="nameSec oneLine">Create your own page</p>
            <p class="typeOf" style="font-size: 12px;line-height: 15px;">Online coaching institute to engage with
              students
            </p>
            </div>
            <div class="cardbottomSec">
              <button (click)="createnewpage()" class="btn-center btnflex buttonreqSend btn-transparent" name="button"
                type="button">
                Create Page
              </button>
            </div>
          </div>
        </div>
      </div>

    </ngx-slick-carousel>

  </div>
  <div class="bottomSec">
    <div style="cursor: pointer;" routerLink="/profile/{{username}}/#Pages:suggestedpages">
      All suggested pages
      <span><img alt="study24x7" src="assets/images/svg-three/greater.svg" class="greater"></span>
    </div>
  </div>
</div>
<app-confirmationpopup *ngIf="alert" (closeComfirmPopupThread)="closePopup($event);" [dataObj]="dataConf">
</app-confirmationpopup>
<app-createpage *ngIf="datatext" (hidecreatepagePopup)="hidePageCreatePopup($event)"></app-createpage>
