<div class="post_outer text-post-comp" id="CourseClass">
  <div class="post_profile" *ngIf="hideInDetail == false">
    <div class="post-header-inner-wrap clearfix">
      <span><span class="post_profilepic cursor-pointer"><img src="{{ profile_pic_path }}"
            alt="study24x7 {{ pageTitle | trimData: 30 }}" routerLink="/page/{{ pg_id }}" /></span>
        <div class="profiledetail">
          <span title="{{ pageTitle }}" class="name cursor-pointer" routerLink="/page/{{ pg_id }}"
            [ngClass]="{ removeCursor: arr['IS_PAGEFEED'] }">{{ pageTitle | trimData: 30 }}</span>

          <span class="follwer_count">{{ arr["PAGE_FOLLOW_COUNT"] }} followers</span>
          <span class="follow_dote">
            <img src="assets/images/svg-three/post_icon/dote1-black.svg" alt="study24x7" />
          </span>
          <span>
            <span class="follwer_count cursor-pointer" routerLink="/post/{{ arr.USER_POST_ID }}">{{ time }}</span>
            <span class="dote"><img src="assets/images/svg-three/post_icon/dote1-black.svg" alt="study24x7" /></span>
            <span class="previcy_icon"><img title="Public" src="assets/images/svg-three/add_post/wall/public.svg"
                alt="study24x7" /></span>
          </span>
        </div>
      </span>

      <span class="leftmenudrop" #reportPopup>
        <!----<button  *ngIf=" !arr['IS_PAGEFEED']  &&  isPagePost  &&  arr['IS_ADMIN']!=1 && hideBtn==false" name="button" class="follow_container" (click)="follow()" [ngClass]="{'following_container':followme,'cursolnone':followme}">
                <span class="follow">
                Follow
                </span>
            <span class="following cursolnone">
                <img src="assets/images/svg/white_checkbox.svg" alt="study24x7">
                Following
                </span>
            </button> ------>

        <span class="postright_btn postmenubtn" *ngIf="arr.IS_ADMIN == 0" (click)="postdropdown()"><img
            src="assets/images/svg-three/post_icon/dot_menu.svg" class="postdropmenu defaultt" /><img
            src="assets/images/svg-three/post_icon/f05050/dot_menu.svg" class="postdropmenu hoverr" /></span>
        <span class="postbookmarkbtn postright_btn" [ngClass]="{ activesaved: saveCondition }" (click)="savedpost()">
          <img src="assets/images/svg-three/left_menu/bookmark.svg" class="defaultt" />
          <img src=" assets/images/svg-three/left_menu/f05050/bookmark.svg" title="save" class="hoverr" />
          <img src="assets/images/svg-three/post_icon/f05050/bookmark_fill.svg" title="Saved" class="bookmarked" />
        </span>
        <span class="drpdwn_post postdrop for-post drop_post" *ngIf="postmenu"
          (mouseleave)="this.postmenu = !this.postmenu">
          <ul>
            <li *ngIf="!arr['IS_PAGEFEED'] && !my_profile && hideBtn" (click)="unfollow()">
              <div class="width100">
                <span class="default"><img src="assets/images/svg-three/profile_about/edit.svg" /></span><span
                  class="hoverimg"><img src="assets/images/svg-three/profile_about/f05050/edit.svg" /></span>
                <div class="postdropdown_inner">
                  Unfollow<span class="time">You can unfollow this page</span>
                </div>
              </div>
            </li>
            <li *ngIf="!my_profile && isReported == '0'" (click)="reprts(1)">
              <div class="width100">
                <span class="default"><img src="assets/images/svg-three/post_icon/report.svg" /></span><span
                  class="hoverimg"><img src="assets/images/svg-three/post_icon/f05050/report.svg" /></span>
                <div class="postdropdown_inner">
                  Report<span class="time">Mark as offensive </span>
                </div>
              </div>
            </li>
            <li *ngIf="!my_profile && isReported == '1'" (click)="reprts(2)">
              <div class="width100">
                <span class="default"><img src="assets/images/svg-three/post_icon/report.svg" /></span><span
                  class="hoverimg"><img src="assets/images/svg-three/post_icon/f05050/report.svg" /></span>
                <div class="postdropdown_inner">
                  Report<span class="time">Mark as offensive </span>
                </div>
              </div>
            </li>
            <li (click)="
                postdata.copyPostURL(postPublicShareLink); postmenu = false
              ">
              <div class="width100">
                <span class="default"><img src="assets/images/svg-three/copyicon.svg" /></span><span
                  class="hoverimg"><img src="assets/images/svg-three/f05050/copyicon.svg" /></span>
                <div class="postdropdown_inner">
                  Get a link<span class="time">Click to copy </span>
                </div>
              </div>
            </li>
            <!--<li *ngIf="my_profile" (click)="DeletePostCnf();"> <div class="width100"><span class='default' ><img src="assets/images/svg/dustbindrop.svg"></span><span class='hoverimg' ><img src="assets/images/svg/dustbindrop-green.svg"></span> <div class="postdropdown_inner">Delete<span class="time">You can delete your post</span></div></div></li>-->
          </ul>
        </span>
      </span>
    </div>
  </div>
  <div class="coursesDertailTop" [ngClass]="{ borderRadius: hideInDetail == true }">
    <div class="imgwrapper ">
      <img src="{{ corsCoverPath }}" alt="{{ altName }}" (click)="routToCourseDetail(arr)" />

      <div class="courseUserChip" *ngIf="enroledCount != 0 && enroledCount != null" style="cursor: default;">
        <img src="assets/images/course_icon/whiteenrollments.svg" alt="" />
        <p>
          {{ enroledCount }} {{ enroledCount == 1 ? "Learner" : "Learners" }}
        </p>
      </div>
      <!-- <span  class='leftmenudrop innerMenu' *ngIf="hideInDetail==true" #reportPopup>

                     <span class="postright_btn postmenubtn" *ngIf="arr.IS_ADMIN ==0" (click)="postdropdown()"><img src="assets/images/svg-three/post_icon/dot_menu.svg" class="postdropmenu defaultt"><img src="assets/images/svg-three/post_icon/f05050/dot_menu.svg" class="postdropmenu hoverr"></span>
                <span   class="postbookmarkbtn postright_btn" [ngClass]="{ activesaved : saveCondition}"
                      (click)="savedpost();"><img src="assets/images/svg-three/left_menu/bookmark.svg" class="defaultt"><img src=" assets/images/svg-three/left_menu/f05050/bookmark.svg" title="save" class="hoverr"><img src="assets/images/svg-three/post_icon/f05050/bookmark_fill.svg" title="Saved" class="bookmarked"></span>
                <span class="drpdwn_post postdrop for-post drop_post" *ngIf="postmenu " (mouseleave)="this.postmenu = !this.postmenu">
                    <ul >
                        <li *ngIf="!arr['IS_PAGEFEED'] && !my_profile && hideBtn" (click)= "unfollow()">
                            <div class="width100"><span class='default' ><img src="assets/images/svg-three/profile_about/edit.svg"></span><span class='hoverimg' ><img src="assets/images/svg-three/profile_about/f05050/edit.svg"></span> <div class="postdropdown_inner">Unfollow<span class="time">You can unfollow this page</span></div></div>
                        </li>
                        <li *ngIf="!my_profile && isReported == 0" (click)="reprts(1)">
                            <div class="width100"><span class='default' ><img src="assets/images/svg-three/post_icon/report.svg"></span><span class='hoverimg' ><img src="assets/images/svg-three/post_icon/f05050/report.svg"></span> <div class="postdropdown_inner">Report<span class="time">Mark as offensive </span></div></div>
                        </li>
                        <li *ngIf="!my_profile && isReported == 1 " (click)="reprts(2)">
                            <div class="width100"><span class='default' ><img src="assets/images/svg-three/post_icon/report.svg"></span><span class='hoverimg' ><img src="assets/images/svg-three/post_icon/f05050/report.svg"></span> <div class="postdropdown_inner">Report<span class="time">Mark as offensive </span></div></div>
                        </li>
                    </ul>
                </span>
             </span>--->
    </div>
    <div *ngIf="onWall" class=" courseDesp">
      <div class="leftDetail">
        <h1 (click)="routToCourseDetail(arr)" class="twoline_dot" title={{courseTitle}}><span 
            style="cursor: pointer;">{{ courseTitle | trimData: 70 }}</span></h1>
        <p>
          <span class="text">{{ arr.COURSE_DETAIL.LEVEL }}</span>
          <span class="dote"></span>
          <span class="text">{{ courseLanguage }}</span>
        </p>
      </div>
      <div class="rightDetail">
        <button (click)="routToCourseDetail(arr)" id="enrollButton" class="btn-blush btnflex btn-blush-h btn-a btnrescntr f12">
          VIEW COURSE
        </button>
      </div>
    </div>
    <div *ngIf="!onWall" class="coursesDertailBottom">
      <div class="leftDetail">
        <h1 (click)="routToCourseDetail(arr)" title={{courseTitle}}><span  style="cursor: pointer;">{{ courseTitle |
            trimData: 70 }}</span></h1>
        <p>
          <span class="text">Validity {{ validity }} </span>
          <!--                    <span class="text" *ngIf="showDays && showUnlimited==false">Validity {{validity}} Days</span>
                                        <span class="text" *ngIf="showUnlimited">Validity Unlimited</span>-->
          <span class="dote"><img src="assets/images/svg-three/post_icon/dote1-black.svg" alt="study24x7" /></span>
          <span class="text">{{ arr.COURSE_DETAIL.LEVEL }}</span>
          <span class="dote"><img src="assets/images/svg-three/post_icon/dote1-black.svg" alt="study24x7" /></span>
          <span class="text">{{ courseLanguage }}</span>
        </p>
        <div class="star">
          <div class="star_wrapper">
            <label class="Pagerating" *ngIf="arr.COURSE_DETAIL.COURSE_RATING == 0.0">
              <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="study24x7" />
              <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="study24x7" />
              <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="study24x7" />
              <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="study24x7" />
              <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="study24x7" />
            </label>
            <label class="Pagerating" *ngIf="arr.COURSE_DETAIL.COURSE_RATING == 0.5">
              <img class="star-half-svg" src="assets/images/course_icon/star-half-filled.svg" alt="study24x7" />
              <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="study24x7" />
              <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="study24x7" />
              <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="study24x7" />
              <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="study24x7" />
            </label>
            <label class="Pagerating" *ngIf="arr.COURSE_DETAIL.COURSE_RATING == 1.0">
              <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="study24x7" />
              <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="study24x7" />
              <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="study24x7" />
              <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="study24x7" />
              <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="study24x7" />
            </label>
            <label class="Pagerating" *ngIf="arr.COURSE_DETAIL.COURSE_RATING == 1.5">
              <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="study24x7" />
              <img class="star-half-svg" src="assets/images/course_icon/star-half-filled.svg" alt="study24x7" />
              <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="study24x7" />
              <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="study24x7" />
              <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="study24x7" />
            </label>
            <label class="Pagerating" *ngIf="arr.COURSE_DETAIL.COURSE_RATING == 2.0">
              <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="study24x7" />
              <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="study24x7" />
              <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="study24x7" />
              <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="study24x7" />
              <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="study24x7" />
            </label>
            <label class="Pagerating" *ngIf="arr.COURSE_DETAIL.COURSE_RATING == 2.5">
              <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="study24x7" />
              <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="study24x7" />
              <img class="star-half-svg" src="assets/images/course_icon/star-half-filled.svg" alt="study24x7" />
              <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="study24x7" />
              <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="study24x7" />
            </label>
            <label class="Pagerating" *ngIf="arr.COURSE_DETAIL.COURSE_RATING == 3.0">
              <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="study24x7" />
              <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="study24x7" />
              <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="study24x7" />
              <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="study24x7" />
              <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="study24x7" />
            </label>
            <label class="Pagerating" *ngIf="arr.COURSE_DETAIL.COURSE_RATING == 3.5">
              <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="study24x7" />
              <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="study24x7" />
              <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="study24x7" />
              <img class="star-half-svg" src="assets/images/course_icon/star-half-filled.svg" alt="study24x7" />
              <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="study24x7" />
            </label>
            <label class="Pagerating" *ngIf="arr.COURSE_DETAIL.COURSE_RATING == 4.0">
              <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="study24x7" />
              <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="study24x7" />
              <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="study24x7" />
              <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="study24x7" />
              <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="study24x7" />
            </label>
            <label class="Pagerating" *ngIf="arr.COURSE_DETAIL.COURSE_RATING == 4.5">
              <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="study24x7" />
              <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="study24x7" />
              <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="study24x7" />
              <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="study24x7" />
              <img class="star-half-svg" src="assets/images/course_icon/star-half-filled.svg" alt="study24x7" />
            </label>
            <label class="Pagerating" *ngIf="arr.COURSE_DETAIL.COURSE_RATING == 5.0">
              <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="study24x7" />
              <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="study24x7" />
              <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="study24x7" />
              <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="study24x7" />
              <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="study24x7" />
            </label>
          </div>
          <span class="rating cursor-pointer" (click)="scrollToRewiews()">{{
            arr.COURSE_DETAIL.COURSE_RATING
            }}</span>
          <span class="number cursor-pointer" style="po" (click)="scrollToRewiews()">({{
            arr.COURSE_DETAIL.TOTAL_COURSE_RATING_COUNT }})</span>
          <!----<span class="number">({{arr.COURSE_DETAIL.TOTAL_COURSE_RATING_COUNT}} Ratings)</span> ---->
        </div>
      </div>

      <!--<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< Button section >>>>>>>>>>>>>>>>>>>>>>>>>>-->
      <div class="rightDetail" *ngIf="arr.COURSE_DETAIL.COURSE_TYPE != 0">
        <div class="pricingWrapper centerAlign" *ngIf="isEnrolled == false">
          <span class="discountPriceIcon">
            {{ coursePrice | currency: "INR":symbol:"2.0" }}
            <span class="stock"></span>
          </span>
          <span class="priceIcon">
            {{ courseDiscountedPrice | currency: "INR":symbol:"2.0" }}
          </span>
        </div>

        <span class="centerAlign ">
          <span *ngIf="!isPublicView">
            <span *ngIf="isTrialBased == 1">
              <button id="enrollButton" class="byuNowbtn" (click)="checkEnroll()" *ngIf="
                  arr.IS_ADMIN == 0 && isEnrolled == false && isSubscribed == 0
                ">
                Start free trial
                <span class="rightArrowBtn"><img
                    src="assets/images/svg-three/course/courseDetails/btnwhiteArrow.svg"></span>
              </button>
              <button id="enrollButton" class="byuNowbtn" (click)="checkEnroll()" *ngIf="
                  (arr.IS_ADMIN == 0 && isEnrolled == false) && isSubscribed != 0 && !(arr.COURSE_DETAIL.IS_EXPRIED==2 &&
                  arr.COURSE_DETAIL.PUBLISH!=4)
                ">
                BUY COURSE
                <span class="rightArrowBtn"><img
                    src="assets/images/svg-three/course/courseDetails/btnwhiteArrow.svg"></span>
              </button>

            </span>

            <span *ngIf="isTrialBased == 0">
              <button class="byuNowbtn" (click)="checkEnroll()" *ngIf="(arr.IS_ADMIN == 0 && isEnrolled == false) && !(arr.COURSE_DETAIL.IS_EXPRIED==2 &&
              arr.COURSE_DETAIL.PUBLISH!=4)">
                BUY COURSE
                <span class="rightArrowBtn"><img
                    src="assets/images/svg-three/course/courseDetails/btnwhiteArrow.svg"></span>
              </button>
            </span>
            <button class="enroll deEnroll buttonMarginTop" [ngClass]="{ removeMargin: hideInDetail == true }"
              (click)="purchaseCourse()" *ngIf="
            arr.COURSE_DETAIL.IS_EXPRIED==2 &&
            arr.COURSE_DETAIL.PUBLISH!=4
          ">
              Renew
            </button>

            <button class="enroll deEnroll buttonMarginTop enrollnew" [ngClass]="{ removeMargin: hideInDetail == true }"
              (click)="askForDeEnroll()" *ngIf="
                arr.IS_ADMIN == 0 &&
                isEnrolled == true &&
                arr.COURSE_DETAIL.IS_EXPRIED == 0 &&
                arr.COURSE_DETAIL.PACKAGE_TYPE != 3
              ">
              Enrolled

              <span class="rightArrowBtn"><img
                  src="assets/images/svg-three/course/courseDetails/enrollnowtick.png"></span>

            </button>
            <button class="enroll deEnroll buttonMarginTop" [ngClass]="{ removeMargin: hideInDetail == true }"
              (click)="redirectToThirdPartyCourse()" *ngIf="
                arr.IS_ADMIN == 0 &&
                isEnrolled == true &&
                arr.COURSE_DETAIL.IS_EXPRIED == 0 &&
                arr.COURSE_DETAIL.PACKAGE_TYPE == 3
              ">
              Access
            </button>
          </span>
          <!------------------------------------------------withoutToken--------------------------------------------------------->
          <span *ngIf="isPublicView">
            <span *ngIf="isTrialBased == 1">
              <button id="enrollButton" class="byuNowbtn" (click)="loginpopupopen()" *ngIf="
                  arr.IS_ADMIN == 0 && isEnrolled == false && isSubscribed == 0
                ">
                Start free trial
                <span class="rightArrowBtn"><img
                    src="assets/images/svg-three/course/courseDetails/btnwhiteArrow.svg"></span>
              </button>
              <button id="enrollButton" class="byuNowbtn" (click)="loginpopupopen()" *ngIf="
                  (arr.IS_ADMIN == 0 && isEnrolled == false && isSubscribed != 0)&& !(arr.COURSE_DETAIL.IS_EXPRIED==2 &&
                  arr.COURSE_DETAIL.PUBLISH!=4)
                ">
                BUY COURSE
                <span class="rightArrowBtn"><img
                    src="assets/images/svg-three/course/courseDetails/btnwhiteArrow.svg"></span>
              </button>
            </span>

            <span *ngIf="isTrialBased == 0">
              <button class="byuNowbtn" (click)="loginpopupopen()" *ngIf="(arr.IS_ADMIN == 0 && isEnrolled == false)&& !(arr.COURSE_DETAIL.IS_EXPRIED==2 &&
              arr.COURSE_DETAIL.PUBLISH!=4) ">
                BUY COURSE
                <span class="rightArrowBtn"><img
                    src="assets/images/svg-three/course/courseDetails/btnwhiteArrow.svg"></span>
              </button>
            </span>

            <button class="enroll deEnroll buttonMarginTop enrollnew" [ngClass]="{ removeMargin: hideInDetail == true }"
              (click)="loginpopupopen()" *ngIf="
                arr.IS_ADMIN == 0 &&
                isEnrolled == true &&
                arr.COURSE_DETAIL.IS_EXPRIED == 0
              ">
              Enrolled
              <span class="rightArrowBtn"><img
                  src="assets/images/svg-three/course/courseDetails/enrollnowtick.png"></span>
            </button>
            <button class="enroll deEnroll buttonMarginTop" [ngClass]="{ removeMargin: hideInDetail == true }"
              (click)="loginpopupopen()" *ngIf="
                arr.COURSE_DETAIL.IS_EXPRIED==2 &&
                arr.COURSE_DETAIL.PUBLISH!=4

              ">
              Renew
            </button>
          </span>
        </span>
      </div>

      <div class="rightDetail" *ngIf="arr.COURSE_DETAIL.COURSE_TYPE == 0">
        <span *ngIf="!isPublicView">
          <span class="priceIcon freeCourse" *ngIf="isEnrolled == false">
            FREE
          </span>

          <span class="centerAlign" [ngClass]="{
              centerAlignEnrolled: arr.IS_ADMIN == 0 && isEnrolled == true
            }">
            <button class="byuNowbtn enrollNowbtn" (click)="checkEnroll()"
              *ngIf="arr.IS_ADMIN == 0 && isEnrolled == false">
              Enroll Now
              <span class="rightArrowBtn"><img
                  src="assets/images/svg-three/course/courseDetails/btnwhiteArrow.svg"></span>
            </button>
            <button class="enroll deEnroll buttonMarginTop enrollnew" [ngClass]="{ removeMargin: hideInDetail == true }"
              (click)="askForDeEnroll()" *ngIf="arr.IS_ADMIN == 0 && isEnrolled == true">
              Enrolled
              <span class="rightArrowBtn"><img
                  src="assets/images/svg-three/course/courseDetails/enrollnowtick.png"></span>
            </button>
          </span>
        </span>
        <!---------------------------------withoutToken-------------------------------------------------------------->
        <span *ngIf="isPublicView">
          <span class="priceIcon freeCourse" *ngIf="isEnrolled == false">
            FREE
          </span>

          <span class="centerAlign" [ngClass]="{
              centerAlignEnrolled: arr.IS_ADMIN == 0 && isEnrolled == true
            }">
            <button class="byuNowbtn enrollNowbtn" (click)="setCookieVal()"
              *ngIf="arr.IS_ADMIN == 0 && isEnrolled == false">
              Enroll Now
              <span class="rightArrowBtn"><img
                  src="assets/images/svg-three/course/courseDetails/btnwhiteArrow.svg"></span>
            </button>
            <button class="enroll deEnroll buttonMarginTop enrollnew" [ngClass]="{ removeMargin: hideInDetail == true }"
              (click)="loginpopupopen()" *ngIf="arr.IS_ADMIN == 0 && isEnrolled == true">
              Enrolled
              <span class="rightArrowBtn"><img
                  src="assets/images/svg-three/course/courseDetails/enrollnowtick.png"></span>
            </button>
          </span>
        </span>
      </div>
      <!--<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< Button section >>>>>>>>>>>>>>>>>>>>>>>>>>-->
    </div>

    <div class="post_profileContent" *ngIf="showInterests">
      <div class="postmain_container">
        <div class="posttagdiv">
          <span class="tags" *ngFor="let tags of tagsArr" [id]="tags">
            {{ interestObj?interestObj[tags]:'' }}
          </span>

          <span class="tags wallintereswrapper" *ngIf="showIntArr" id="{{ post_id }}_interestpos">
            <span style="position:relative;top: -3px;">...</span>
            <div class="wallinterestlist" id="{{ post_id }}_shftToLeft">
              <div class="arrow-up" id="{{ post_id }}_shiftArrowLeft"></div>
              <ul [perfectScrollbar]="config">
                <li *ngFor="let tag of ltIntShow" [id]="tag">
                  {{ interestObj?interestObj[tag]:'' }}
                </li>
              </ul>
            </div>
          </span>
        </div>
      </div>
    </div>

    <!-- <div class="courseComment" *ngIf="showMe">
    <div class="imp" [ngClass]="{ rytimp : importantCondition}">
        <span class="tik">
            <img class="defoult" src="assets/images/svg-three/post_icon/imp1.svg" alt="study24x7">
            <img class="hover" src="assets/images/svg-three/post_icon/f05050/imp1.svg" alt="study24x7">
            <img class="active" src="assets/images/svg-three/post_icon/f05050/imp2.svg" alt="study24x7">
        </span>
<span class="text" (click)="important()">Important</span>
<span class="count" *ngIf="like!=0" (click)="impLikeShareFn();">{{like}}</span>
</div>

<div class="comment">
    <span class="comment_icon">
        <img class="defoult" src="assets/images/svg-three/post_icon/comment.svg" alt="study24x7">
        <img class="hover" src="assets/images/svg-three/post_icon/f05050/comment.svg" alt="study24x7">
    </span>
    <span class="text">Comment</span>
    <span class="count" id="{{post_id}}_comm_count" *ngIf="comment!=0" [innerHTML]="comment"></span>
</div>

<div class="share">
    <span class="shreIcon">
        <img class="defoult" src="assets/images/svg-three/post_icon/share.svg" alt="study24x7">
        <img class="hover" src="assets/images/svg-three/post_icon/f05050/share.svg" alt="study24x7">

    </span>
    <span class="text" (click)="sharePostview()">Share</span>
    <span class="count" *ngIf="share!=0">{{share}}</span>
</div>
</div> -->

    <div class="post-footer-btn-outer-wrap" *ngIf="showMe">
      <div class="post_footer post-footer-btn-wrap clearfix">
        <span class="post_footeroption dropdown-ppl-list-wrap" [ngClass]="{ clicked: importantCondition }">
          <!-- <span class='glyphicon glyphicon-thumbs-up'></span> 10K Imp -->
          <span>
            <span class="default" (click)="important()">
              <img src="assets/images/svg-three/post_icon/imp1.svg" class="defaultimp defaultt " />
              <img src="assets/images/svg-three/post_icon/f05050/imp2.svg" class="activeimp" />
              <img src="assets/images/svg-three/post_icon/f05050/imp1.svg" class="hoverr" />
            </span>
            <span (click)="important()">
              Important
            </span>
            <span class="count-sq" *ngIf="like != 0" (click)="impLikeShareFn()">
              {{ like }}
            </span>
          </span>

          <!-- ======================== -->
          <app-likeshareviewall (closeViewAllThread)="impLikeShareStatus = $event" *ngIf="impLikeShareStatus"
            [data]="userLikeShareList"></app-likeshareviewall>
          <!-- ========================== -->
        </span>

        <span class="post_footeroption">
          <span (click)="autoFocus()">
            <span class="default">
              <img class="defaultt" src="assets/images/svg-three/post_icon/comment.svg" />
              <img class="hoverr" src="assets/images/svg-three/post_icon/f05050/comment.svg" />
            </span> Comment
          </span>
          <span class="count-sq" id="{{ post_id }}_comm_count" *ngIf="comment != 0" [innerHTML]="comment">
          </span>
        </span>

        <span class="post_footeroption dropdown-ppl-list-wrap share">
          <span>
            <span #shareList>
              <span class="default" style="width:22px;">
                <img class="defaultt" src="assets/images/svg-three/post_icon/share.svg" />
                <img class="hoverr" src="assets/images/svg-three/post_icon/f05050/share.svg" /> </span><span
                (click)="showSharePostList($event)">
                &nbsp;Share
              </span>
            </span>
            <span (click)="shareLikeShareFn()" class="count-sq" *ngIf="share != 0">
              {{ share }}
            </span>
          </span>
          <!-- ======================== -->
          <app-likeshareviewall (closeViewAllThread)="CloseViewAll($event)" *ngIf="shareLikeShareStatus"
            [data]="userLikeShareList"></app-likeshareviewall>
          <!-- ========================== -->

          <ul *ngIf="isSharePostList" class="socialShareOnHover" (mouseleave)="hideSocialList()"
            id="{{ u_id }}_{{ post_id }}_courseList">
            <li (click)="sharePostview()">
              <i>
                <span style="float:left;  "><img src="assets/images/svg-three/post_icon/share.svg" alt="" /></span>
                <span class="text">Share</span>
              </i>
            </li>

            <li>
              <a [href]="socialFbShareUrl" target="_blank">
                <span><img src="assets/images/svg-three/facebook.svg" alt="" /></span>
                <span class="text">Facebook</span></a>
            </li>
            <li>
              <a [href]="socialTelegramUrl" target="_blank">
                <span><img src="assets/images/telegram.jpg" alt="" /></span>
                <span class="text">Telegram</span>
              </a>
            </li>
            <li>
              <a [href]="socialWhatsappLink" target="_blank"> <span><img
                    src="assets/images/svg-three/social_invite/whatsaap.svg" alt=""></span> <span
                  class="text">Whatsapp</span> </a>
            </li>
            <li>
              <a (click)="
                  postdata.copyPostURL(postPublicShareLink); postmenu = false
                ">
                <span class="copyIcon"><img src="assets/images/svg-three/copyicon_white.svg" alt="" /></span><span
                  class="text">Copy Link</span>
              </a>
            </li>
            <!-- <li><a [href]="socialWhatsappLink" target="_blank">  <span><img src="assets/images/svg-three/whatsapp.png" alt=""></span> <span class="text">whatsapp</span></a></li>
                <li><a [href]="socialTeitterShareUrl" target="_blank">  <span><img src="assets/images/svg-three/twiter.svg" alt=""></span> <span class="text">Twitter</span></a></li> -->
          </ul>
        </span>
      </div>
    </div>
  </div>
  <div class="comment_outer" *ngIf="showMe">
    <div class="writecomment clearfix main-comment" [ngClass]="{ 'comment-present': viewCommentList }">
      <figure class="comment-profile cursor-pointer" routerLink="/profile/{{arr.USER_NAME}}">
        <img src="{{ _constantService.profilePic() }}" alt="{{
            'study24x7 ' +
              this._constantService.getSessionDataBYKey('full_name')
          }}" (error)="updateProfilePic($event)" />
      </figure>

      <div class="optionoutr">
        <!-- <input type="text"> -->
        <div class="placeholdercolor" contenteditable="true" (paste)="postdata.onPaste($event)" ondrop="return false;"
          (keydown.enter)="(false)" (focusout)="showPlaceHolder($event)" (click)="hidePlaceHolder($event)"
          (keydown)="hidePlaceHolder($event)" (keyup)="addComment($event)" id="{{ u_id }}_{{ post_id }}_comm"
          #commentPlaceHolder (contextmenu)="autoFocus(); postdata.onPaste($event)">
          {{ _constantService.commentPlaceHolder }}
        </div>
        <div class="upload-img-outer-wrp" *ngIf="showCommentImg == 2">
          <span class="uploaded_image">
            <span class="file-preloder" style="margin-top: 0px;"><img style="width:40px"
                src="assets/images/svg/preloader-25.svg" *ngIf="showPreloader" /></span>
            <span class="changeimg" (click)="
                showCommentImg = 1;
                comment_image = null;
                uuid = '';
                file_path = ''
              " id="chng_{{ u_id }}_{{ post_id }}">Cancel</span>
            <img (click)="postimageshow($event)" src="{{ image_upload_url }}" alt="{{ altName }}" />
          </span>
        </div>
        <label class="option_image">
          <input type="file" class="post_image" id="{{ u_id }}_{{ post_id }}_nci" (change)="addImageFile($event)"
            accept="image/*" />
          <label class="fileupload_image" for="{{ u_id }}_{{ post_id }}_nci"><img class="default"
              src="assets/images/svg-three/post_icon/img.svg" /><img class="on-hover"
              src="assets/images/svg-three/post_icon/f05050/img.svg" /></label>
        </label>
      </div>
    </div>
    <div class="comment_list" *ngIf="viewCommentList">
      <div #container></div>
    </div>
    <a class="seemore" (click)="getComment()" *ngIf="commentPresent">See more comments</a>
  </div>
</div>

<div *ngIf="likedetailspopup">
  <app-likedetails></app-likedetails>
</div>
<div *ngIf="savepagepopup">
  <app-savedpopup (folder_id)="savedFolderId = $event"
    (closeSavedPopup)="savepagepopup = $event; saveCondition = $event" (savedStatus)="saveCondition = $event"
    [postData]="arr"></app-savedpopup>
</div>
<div *ngIf="reportpopup">
  <app-reports (closeReportPopup)="removePost($event)" [postId]="post_id"></app-reports>
</div>

<app-sharescreencoursepostview (sharescreencoursepost)="sharecoursepostscreenhide($event)" *ngIf="openSharescreen"
  [postdata]="arr"></app-sharescreencoursepostview>
<app-confirmationpopup *ngIf="ConfirmDelete" (closeComfirmPopupThread)="CloseDeleteConfirm($event)" [dataObj]="dataConf"
  [savedFolderId]="savedFolderId"></app-confirmationpopup>
<app-confirmationpopup *ngIf="openConfirmation" (closeComfirmPopupThread)="sessionLogout($event)" [dataObj]="dataConf"
  [savedFolderId]="savedFolderId"></app-confirmationpopup>
<app-confirmationpopup *ngIf="openConfirmation" (closeComfirmPopupThread)="closePopup($event)" [dataObj]="dataConf">
</app-confirmationpopup>
<app-likeshareviewall (closeViewAllThread)="impLikeShareStatus = $event" *ngIf="impLikeShareStatus"
  [data]="userLikeShareList"></app-likeshareviewall>
<app-likeshareviewall (closeViewAllThread)="CloseViewAll($event)" *ngIf="shareLikeShareStatus"
  [data]="userLikeShareList"></app-likeshareviewall>
<app-confirmationpopup *ngIf="ConfirmDeEnroll" (closeComfirmPopupThread)="closeCnfPopup($event)" [dataObj]="dataConf">
</app-confirmationpopup>
<app-loginpopup *ngIf="openLoginPopup" (closePopup)="closeLoginPopUp($event)" [usrData]="courseData" [isError]="isError"
  [errorText]="errorText" [type]="openLoginPopupType"></app-loginpopup>
