// .post_profileContent_course{padding-right: 0px;
// padding-left: 0px;
// padding-bottom: 10px;
// padding-top: 10px;
// .imgpostimgcontainer{
// img{  border-radius: 0px;margin-top: 0px;}
// }
// .course_desp_post{float: left;
// padding: 10px;
// width: 100%;
// background-color: #f5f7fa;}
// }
// .course_desp_post{position: relative;
// .course_desp_post_left{width: 100%;
// float: left;padding-right: 150px;
// line-height: 18px;
// .course_title{color: rgba(44, 46, 47, 0.8);
// font-weight: 500;}
// }
// }
// .card-course-rating{
// float: left;  width: 100%;
// margin: 5px 0px 0px 0px;
//
//   label{    color: rgba(44, 46, 47, 0.4);
//   font-weight: normal;float:left;
//   font-size: 12px;}
//   label.star {
//     float: left;
//     padding: 0px;
//     font-size: 14px;
//
//     transition: all .2s;margin: 0px 2px 0px 0px;
//     .star-fill-svg, .star-half-svg, .star-blank-svg{width:12px;margin-right:2px;float:left;margin-top: 2px;}
//   }
//     .star.star-f{
//         .star-fill-svg{display:block;}
//         .star-half-svg, .star-blank-svg{display:none;}
//     }
//     .star.star-h{
//         .star-half-svg{display:block;}
//         .star-fill-svg, .star-blank-svg{display:none;}
//     }
//     .star.star-b{
//         .star-blank-svg{display:block;}
//         .star-half-svg, .star-fill-svg{display:none;}
//     }
// .c-rating-avg{margin: 0px 5px 0px 3px;color: #ffbb58;}
//   .c-rating-count{}
//
//
// }
// .course_desp_post_right{clear: both;
// float: left;
// width: 150px;
// text-align: right;
// margin: -2px 0px 0px 0px;
// position: absolute;
// right: 10px;
// .sell-price{
//     font-size: 16px;
//     color: #F05050;opacity: .8;
//     font-weight: 400;
// }
// .original-price{
//     text-decoration: line-through;
//     font-size: 14px;
//     color: rgba(44, 46, 47, 0.5);
//     padding-left: 7px;
// }
// }
// .follwer_count{display: block;
// padding-top: 5px;
// float: left;
// font-size: 12px;
// color: rgba(44,46,47,.6);}
// .follow_dote {
//     display: block;
//     padding-top: 4px;
//     float: left;
//     margin: 0 5px !important;
//     img {position: relative;
//         top: 9px;
//     width: 3px !important;
//     height: 3px !important;
// }
// }
// .course_enroll{
//   width:100%;float:right;margin-top: 8px;
//   .course_view{
//     background: transparent;
// border-radius: 2px;
// padding: 0 20px;
// font-size: 12px;
// color: rgba(44, 46, 47, 0.8);
// height: 32px;
// line-height: 27px;
// border-color: #dfe0e8;
// box-shadow: 0 0 1px 0 #dfe0e8;
// font-weight: 400;
// float: none;
// cursor: pointer;
// border: 1px solid #dfe0e8;
//
//
//   }
// }
// .course_status{
//   position: absolute;
//   background-color: #ffab31;
//   color: #fff;
//   font-size: 11px;
//   top: 20px;
//   padding: 2px 7px 2px 10px;
//   .course_status_inner{position:relative;
//   .course_status1{float:left;line-height: 16px;}
//   .course_status2{
//     width: 0px;
//     height: 0;
//     border-top: 11px solid transparent;
//     border-left: 13px solid #ffab31;
//     border-bottom: 11px solid transparent;
//     position: absolute;
//     right: -20px;
//     top: -3px;
//   }
//   }
// }

// =================================================
// course detail new var css start
// ==================================================

$textcolor:#2c2e2f;
$cblack:#000;
$bblack:#000;
$bg-gray: #dfe5eb;
// =================================================
// course detail new var css start
// ==================================================

@mixin btn_shadow($offset-x, $offset-y, $blur-radius, $spread-radius, $color, $inset: false) {
@if $inset {
-ms-box-shadow: inset $offset-x $offset-y $blur-radius $spread-radius $color;
-o-box-shadow: inset $offset-x $offset-y $blur-radius $spread-radius $color;
-webkit-box-shadow: inset $offset-x $offset-y $blur-radius $spread-radius $color;
-moz-box-shadow: inset $offset-x $offset-y $blur-radius $spread-radius $color;
box-shadow: inset $offset-x $offset-y $blur-radius $spread-radius $color;
}
@else {
-ms-box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color;
-o-box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color;
-webkit-box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color;
-moz-box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color;
box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color;
}
}
.dflex{
  display: flex;
  align-items: center;
  justify-content: center;
}
.courseDesp {
background-color: rgba($bg-gray, 0.2);;
float: left;
width: 100%;
padding: 10px 150px 10px 15px;
position: relative;
border-radius: 0px 0px;
@extend .dflex;
.leftDetail{
  float: left;
width: 100%;
  h1{
    float: left;
    width: 100%;
    font-size: 16px;
    color: rgba($cblack, 0.9);
    padding: 0px;
    word-break: break-all;
    cursor: pointer;
    margin-bottom: 3px;
}
p {
    color: rgba($cblack, 0.6);
    font-weight: normal;
    font-size: 14px;
    float: left;
    cursor: default;
    .text {
    float: left;
    font-size: 14px;
    line-height: 18px;

}
.dote {
    width: 4px;
    float: left;
    height: 4px;
    margin: 6px 5px;
    border-radius: 100% 100%;
    background-color: rgba($cblack, 0.6);
}
}
}
.rightDetail{
  position: absolute;
  right: 15px;
}
}
.coursesDertailTop{
  float: left;
  width: 100%;
  background-color: #fff;
  .imgwrapper{
    float: left;
    width: 100%;
    max-height: 265px;
    // height:auto;
    cursor: pointer;
    position: relative;

    img{
      width: 100%;
      height: 100%;
      margin-top: 0px;
      max-height: 265px;
    }
  }
  .coursesDertailBottom{
    background-color: #fff;
    float: left;
    width: 100%;
    padding: 15px;
    position: relative;
    border-radius: 0px 0px;
    // margin-bottom: 15px;

    .leftDetail{
      float: left;
      width: 70%;
      h1{
        float: left;
        width: 100%;
        font-size: 16px;
        color: #2c2e2f;
        // opacity: .9;
        padding: 0px 0px 10px 0px;
        word-break: break-all;
        cursor: pointer;
      }
      p{
        color: #2c2e2f;
        font-weight: normal;
        font-size: 14px;
        opacity: .7;
        float: left;
        cursor: default;
        .text{
          float: left;
          font-size: 14px;

        }
        .dote{
          width: 3px;
          float: left;
          height: 3px;

          img{
            width: 100%;
            float: left;

          }

          &:nth-child(2n+2){
            margin:6px 5px;
          }

        }

      }




      .star{
        float: left;
        width: 100%;
        float: left;
        margin-top: 10px;

        .star_wrapper {
          float: left;
          // margin-right: 5px;
          label{
            margin-right: 5px;
            width: 12px;
            height: 9px;
            margin-bottom: 0px;
          }
          label.fill{


            .star-fill-svg{
              display: block;
            }
            .star-half-svg{
              display: none;
            }
            .star-blank-svg{
              display: none;
            }
          }
          label.half_fill{

            .star-fill-svg{
              display: none;
            }
            .star-half-svg{
              display: none;
            }
            .star-blank-svg{
              display:block;
            }
          }
          label.blank{

            .star-fill-svg{
              display: none;
            }
            .star-half-svg{
              display: none;
            }
            .star-blank-svg{
              display: block;
            }
          }
        }
        .Pagerating{
          margin-right: 5px;
          width: 85px !important;
          height: auto !important;
          margin-bottom: 0px;
          float: left;
          img{
            height: 14px;
            float: left;
            margin: 0px 2px 0px 0px;
             &:last-child{
               margin: 0px 0px 0px 0px;
             }
          }
        }
        .rating{
          float: left;
          font-size: 12px;
          margin-right: 5px;
          color: #1c1c1c;
          font-weight: 500;
          position: relative;
          top: -1px;
        }
        .number{
          float: left;
          font-size: 12px;
          color: #1c1c1c;
          font-weight: 500;
          position: relative;
          top: -1px;
        }
      }
    }
    .rightDetail{
      float: right;
      width: 25%;

      .price{

      }
      .priceIcon{
        float: left;
        font-size: 16px;
        line-height: 22px;
        color: #000;
        margin-left: 0px;
        img{
          width: 12px;
          margin-right: 1px;
          position: relative;
          top: -1px;
        }
      }
      .enroll{
        padding: 0;
        font-size: 14px;
        top: 0;
        border-radius: 3px;
        background-color: #0ec631 !important;
        color: #fff;
        min-width: 85px !important;
        float: right;
        margin-right: 0px;
       img{
         width: 13px;
        margin-right: 3px;
        position: relative;
        top: 10px !important;
        float: left;
        left: 16px;
       }
      }
      .enrollnew{
        background-color: transparent !important;
        color: #1c1c1c;
        min-width: 85px !important;
        float: none;
        margin-right: 0px;
        box-shadow: none !important;
        font-size: 16px;
        padding-left: 19px;
        position: relative;
     .rightArrowBtn{position: absolute;
       left: 0px;
       img{
         width: 18px;
         margin-right: 3px;
         position: relative;
         top: 0px !important;
         float: left;
         left: 0px;
       }
     }
      }





.removeMarginLeft{
  margin-right: 0px !important;
}


      .discountPriceIcon{
        float: left;
        font-size: 14px;
        line-height: 20px;
        color: rgba(0, 0, 0, 0.7);;
        margin-right: 7px;
        line-height: 20px;
        position: relative;
        padding-top: 1px;

        img{
          width: 12px;
          margin-right: 1px;
          position: relative;
          top: -1px;
        }
        .stock{
          position: absolute;
          top: 10px;
          width: 100%;
          height: 1px;
          left:0px;
          color: rgba(0, 0, 0, 0.7);;
          background-color: rgba(0, 0, 0, 0.7);;
        }
      }
      button{
        // float: left;
        // background: transparent;
        // width: 110px !important;
        // border: 1px solid rgba(44, 46, 47, 0.1);
        // font-size: 14px;
        // margin-top: 0px;
        // line-height: 30px;
        // border-radius: 31px;
        // position: relative;
        // top: 5px;
        // background-color: #f05050;
        color: #fff;
  min-width: 110px !important;
  height: 32px;
  border-radius: 16px;
  box-shadow: 0 1px 4.9px .1px rgba(51,51,51,.3);
  background-color: #f05050 !important;
  border: none;

      }
      .byuNowbtn{
        border-radius: 20px;
        border: none;
        margin-top: 10px;
        width: 128px;
        height: 37px;
        position: relative;
        padding-right: 20px;
        line-height: 36px;
        .rightArrowBtn{
           position: absolute;
           right: 15px;
           width: 6px;
           height: 6px;
           top: 13px;
          img{
            width: 100%;

            float: left;
          }
        }
      }
      .enrollNowbtn{
        width: 115px;
      }

    }
  }

  .post_profileContent{
    float: left;
    width: 100%;
    margin-top: 0px !important;
    .postmain_container{
      float: left;
      width: 100%;
      .posttagdiv{
        padding-top: 0px!important;
      }
    }
  }
}


.innerMenu{
  float: right;
  position: absolute;
  right: 15px;
  top: 15px;
  .postright_btn.postmenubtn{
      background-color: transparent;
      border: none;
      background-color: #fff;
      border-radius: 50%;
      width: 30px;
      height: 30px;
  }
  .postbookmarkbtn.postright_btn{
    padding-top: 1px;
    padding-left: 0px;
  }
}

.freeCourse{
  float: left;
  width: 100%;
  text-align: center;
  font-size: 16px;
}


  .centerAlign{
      display:flex;justify-content:center;
      float: left;
width: 100%;
  }

.buttonMarginTop{
  margin-top: 12px!important;
}
.enrollnew {
  margin-top: 20px!important;
}


.borderRadius{
  border-radius: 5px ;
  overflow: hidden;
}

// responsive
@media only screen and (max-width:1060px) and (min-width:992px){
  .coursesDertailTop{
    .coursesDertailBottom{
      .rightDetail{
        width:25%;
      }
    }
  }
}
@media only screen and (max-width:767px){
.coursesDertailTop{border-radius: 0px;}
}
@media only screen and (max-width:600px){
  .coursesDertailTop .imgwrapper{
    border-radius: 0 !important;

  }
  .courseDesp{
    padding: 10px 125px 10px 10px;
    border:1px solid rgba($bblack, 0.1);
     .rightDetail {
    right: 10px;
}
}
}
@media only screen and (max-width:499px){
  .coursesDertailTop{
    .coursesDertailBottom{
      .leftDetail{
    width:100%;
    float:left;

  }
  .rightDetail{
    width:100%;
    float:left;
    border-top: 1px solid #f5f5f5;
    // margin-top: 10px;
    padding-top: 10px;
    .freeCourse{
      width:auto;
      float:left;
      line-height: 35px;
    }
    .pricingWrapper {
      width:auto;
      float:left !important;
      padding: 6px 0;
    }
    button{
      float:right;
    }
    .centerAlign {
    padding: 0px 0;
    float: right;
    width: auto;
    height: 45px;
    align-items: center;


      button{
        float:right;
        width:auto;
      }
      .byuNowbtn{
        width: 130px;
        margin-top: 1px;
      }
      .enrollNowbtn{
        width: 115px;
      }

    }
    .centerAlign.centerAlignEnrolled{width:100%;
      .buttonMarginTop {
      margin-top: 0px !important;
            }
      }
   }
  }
 }
}
.CourseDetailWrapper{
   .post-footer-btn-outer-wrap{
      .post_footer.post-footer-btn-wrap{
      border-top: none !important;}
    }
  }


.shared-post-blocks-wrap{
  .coursesDertailTop{
        border-radius: 5px !important;
        overflow: hidden;
  }
}
.post_outer{
  width:100%;
  float:left;
}
@media only screen and (max-width:500px){
  .coursesDertailTop .coursesDertailBottom .rightDetail button{
    background-color: #fff;
  }
  .coursesDertailTop .coursesDertailBottom{
    background-color: #e8ecf180;
  }
  .coursesDertailTop .coursesDertailBottom .leftDetail h1{
    padding: 0px 0px 10px 0px;
  }
  .coursesDertailTop .coursesDertailBottom .rightDetail{
    border-top: 1px solid #99999960;
    margin-top: 5px;
  }
  .buttonMarginTop {
    margin-top: 5px !important;
}
.enrollnew {
    margin-top: 0px !important;
}
}


.courseUserChip{
  width: auto;
  height: 30px;
  opacity: 0.8;
  border-radius: 3px;
  background-color: #000000;
  position: absolute;
  right: 15px;
  bottom: 15px;
  display: flex;
  align-items: center;
  padding: 0px 10px;
   img{
     width: 22px !important;
     height: 22px !important;
     margin-right: 5px;
   }
   p{
     font-size: 12px;
    font-weight: 500;
    color: #ffffff;
   }
}


.removeMargin{
  margin-right: 0px!important
}
@media only screen and (max-width:600px){
  .post_outer.text-post-comp{
    margin-bottom: 10px;
  }
}
