<div class="component">
    <div class="form-container">
        <div class="header">
            Create your account
        </div>
        <form [formGroup]="registrationForm" (ngSubmit)="createUser()">
            <div class="fields-container">
                <div class="field">
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" matInput
                            placeholder="This email will be your user name" type="email" formControlName="email">
                    </mat-form-field>
                </div>
                <div class="field">
                    <mat-form-field appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input pattern="^[A-Za-z]+$" matInput
                            placeholder="First name" type="text" formControlName="firstName">
                    </mat-form-field>
                </div>
                <div class="field">
                    <mat-form-field appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input pattern="^[A-Za-z]+$" matInput
                            placeholder="Last name" type="text" formControlName="lastName">
                    </mat-form-field>
                </div>
                <div class="field">

                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input pattern="^(?=.*[a-z])(?=.*[A-Z]).+$" matInput placeholder="Min lenght 8 characters with atleast 1 number, 1 lowercase and 1 uppercase
                    character" [type]="hide ? 'password' : 'text'" formControlName="password">
                        <mat-hint>
                        </mat-hint>
                    </mat-form-field>
                </div>
                <div class="field">

                    <mat-form-field appearance="outline">
                        <mat-label> Confirm Password</mat-label>
                        <input pattern="^(?=.*[a-z])(?=.*[A-Z]).+$" matInput placeholder="Must be same as password" [type]="hide ? 'password' : 'text'"
                            formControlName="confirmPassword">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
            </div>
            <div class="footer">
                <label (click)="routTo('login')" class="btn btn-dark">Login</label>
                <input type="submit" class="btn btn-success" value= "Register">
            </div>
        </form>


    </div>

</div>