.settingbody .settingsleftmenu { display: inline-block; width: 100%; border-radius: 5px; background: #ffffff; box-shadow: 0 0 7px rgba(0, 0, 0, 0.1); padding: 0px; }

.settingbody .settingsleftmenu .widgetheading { font-family: 'Roboto', sans-serif; font-weight: 500; }

.settingbody .settingsleftmenu .setting_wrap { padding: 10px 10px 10px 15px; background-color: #f5f7fa; border-bottom: 1px solid #e9e9e9; border-radius: 5px 5px 0 0; }

.settingbody .contact_info_main { display: block; width: 100%; box-sizing: border-box; }

.settingbody .contact_info_main .mainheading .default { float: right; cursor: pointer; }

.settingbody .contact_info_main .phone_main { margin-top: 15px; }

.settingbody .verify_link_top { margin-top: 5px !important; }

.settingbody .margintop { display: block; width: 100%; }

.settingbody .margintop .link_point { text-decoration: underline !important; color: #f05050 !important; margin-bottom: 5px; font-size: 12px !important; }

.settingbody .margintop .verify-btn .btn-primary { float: left; margin-right: 20px; }

.settingbody .margintop .verify-info { position: relative; }

.settingbody .margintop .verify-info .info-msg { font-size: 12px; color: #f05050; border: 0px solid #ccc !important; margin-top: 5px; }

.settingbody .margintop .verify-info .verified { display: none; }

.settingbody .margintop .verify-info .verify { position: absolute; right: 23px; top: 8px; }

.settingbody .margintop .verify-info .verify img { width: 12px; }

.btn_sbmt { margin-left: 15px; padding: 0 15px !important; }

.btn_cncl { border-radius: 18px !important; height: 30px; border: 1px solid #dfe0e8; background: #f5f7fa; line-height: 31px; font-size: 14px; }

.btn_cncl:hover { border: 1px solid #dfe0e8; background: #f5f7fa; }

.margn_cont { line-height: 32px !important; }

.link_pointer { line-height: 31px; text-decoration: underline; }

.link_pointer:hover { color: #F05050; text-decoration: underline !important; }

.top_align { margin-top: 0px; }

.main_wrapp { padding: 0 15px 15px !important; }

.main_wrapp .main_inner_wrap { padding: 10px 15px; margin-left: -15px; margin-right: -15px; background-color: #F5F7FA; border-radius: 5px 5px 0 0; border-bottom: 1px solid #e9e9e9 !important; }

.head_wrapper_in { padding: 5px 15px 5px 15px; }

.head_wrapper_in .col-wrap { line-height: 34px; }

.footer_message { margin-top: 15px; }

.edit-summary { margin-top: -5px; }

.edit-summary img { width: 15px !important; }

.leftmenuicon.icon_img span:hover { color: #f05050; }

.leftmenuicon.icon_img img { width: 20px; height: 20px !important; }

.icon_headng:hover { color: #f05050; }

input.gray_rds, select.gray_rds { transition: border-color .2s ease-in-out,box-shadow .2s ease-in-out; }

input.gray_rds:focus, select.gray_rds:focus { border: 1px solid #66a9d5 !important; border-color: #66a9d5 !important; outline: 0; -webkit-box-shadow: 0 0 0 0.3rem rgba(153, 197, 227, 0.3) !important; box-shadow: 0 0 0 0.3rem rgba(153, 197, 227, 0.3) !important; }

.leftmenuouter.settingsleftmenu { padding-bottom: 15px !important; }

.container.main_body.settingbody .maindiv { display: block; width: 100%; margin-right: 0px; }

.container.main_body.settingbody .maindiv .edit-summary { padding-top: 1px; position: relative; background-color: #fff; top: 8px; z-index: 1; width: 35px; height: 35px; text-align: center; line-height: 34px; -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.05) !important; box-shadow: 0 0 5px rgba(0, 0, 0, 0.05) !important; border-radius: 50%; border: 1px solid #dfe0e8; }

.container.main_body.settingbody .maindiv .edit-summary img { width: 12px; margin-top: -5px; }

.link.cursor-pointer { line-height: 30px; }

p { font-weight: normal; }

.note { font-size: 12px; }

.link { font-size: 12px !important; color: #f05050 !important; }

.link:hover { text-decoration: underline !important; }

.noti_setting { float: left; width: 98%; background-color: #fff; border-radius: 5px; }

.noti_setting .mainheading { background-color: #F5F7FA; border-radius: 5px 5px 0 0; border-bottom: 1px solid #e9e9e9 !important; }

.noti_setting .header { padding: 15px 0px; border-bottom: 1px solid #dfe0e8; }

.noti_setting .header h2 { line-height: 20px; min-height: 20px; padding-bottom: 2px; vertical-align: bottom; font-size: 16px; color: #2c2e2f; }

.noti_setting .inner_wrapper { float: left; width: 100%; padding: 15px 30px; }

.noti_setting .inner_wrapper .sub_heading .img { width: 15px; height: 15px; float: left; margin-right: 10px; }

.noti_setting .inner_wrapper .sub_heading .img img { width: 100%; display: block; }

.noti_setting .inner_wrapper .sub_heading .text { font-size: 14px; color: #2c2e2f; font-weight: 500; }

.noti_setting .inner_wrapper .note { font-size: 12px; padding: 0px 0px 5px 25px; }

.noti_setting .inner_wrapper .note span { color: #66a9d5; cursor: pointer; }

.noti_setting .inner_wrapper .tooglecollapse { height: auto; float: left; width: 100%; -webkit-transition: height 2s; /* Safari */ transition: height .3s; overflow: hidden; }

.noti_setting .inner_wrapper .tooglecollapse .email_ntfi_container { float: left; width: 100%; }

.noti_setting .inner_wrapper .tooglecollapse .email_ntfi_container ul { width: 100%; float: left; padding: 10px 25px 10px 25px; }

.noti_setting .inner_wrapper .tooglecollapse .email_ntfi_container ul li { float: left; width: 100%; position: relative; }

.noti_setting .inner_wrapper .tooglecollapse .email_ntfi_container ul li.inner_heading { color: #2c2e2f; padding: 0px 0px 20px 0px; font-size: 14px; }

.noti_setting .inner_wrapper .tooglecollapse .email_ntfi_container ul .sub_div_left { float: left; width: 75%; margin-bottom: 15px; }

.noti_setting .inner_wrapper .tooglecollapse .email_ntfi_container ul .sub_div_left p { padding: 5px 0px 0px 30px; }

.noti_setting .inner_wrapper .tooglecollapse .email_ntfi_container ul .sub_div_left .img_icon { width: 15px; height: 15px; float: left; display: block; margin-right: 15px; position: relative; top: -1px; }

.noti_setting .inner_wrapper .tooglecollapse .email_ntfi_container ul .sub_div_left .img_icon img { width: 100%; }

.noti_setting .inner_wrapper .tooglecollapse .email_ntfi_container ul .sub_div_left .inner_text { font-weight: 500; float: left; width: 94%; }

.noti_setting .inner_wrapper .tooglecollapse .email_ntfi_container ul .radio_button_wrapper { width: 25%; float: right; padding: 0px 0px; height: 30px; overflow: hidden; position: absolute; right: 0px; top: 50%; transform: translateY(-15px); }

.noti_setting .inner_wrapper .tooglecollapse .email_ntfi_container ul .radio_button_wrapper .outer_border { display: inline; width: 55px; border: 1px solid #dfe0e8; float: right; border-radius: 20px; margin-left: 5px; height: 26px; position: relative; cursor: pointer; }

.noti_setting .inner_wrapper .tooglecollapse .email_ntfi_container ul .radio_button_wrapper .outer_border .dote { position: absolute; width: 15px; height: 15px; background-color: #65BFA3; border-radius: 19px; top: 5px; left: 6px; transition: all .3s; }

.noti_setting .inner_wrapper .tooglecollapse .email_ntfi_container ul .radio_button_wrapper .outer_border .timer_right { left: 33px; }

.noti_setting .inner_wrapper .tooglecollapse .email_ntfi_container ul .radio_button_wrapper .outer_border .no { top: 4px; position: relative; font-size: 12px; left: 7px; }

.noti_setting .inner_wrapper .tooglecollapse .email_ntfi_container ul .radio_button_wrapper .outer_border .yes { position: relative; left: 27px; top: 4px; font-size: 12px; }

.noti_setting .inner_wrapper .toogleheight { height: 230px; float: left; }

.noti_setting .inner_wrapper ul { width: 100%; float: left; padding: 10px 25px 10px 25px; }

.noti_setting .inner_wrapper ul li { float: left; width: 100%; position: relative; }

.noti_setting .inner_wrapper ul li.inner_heading { color: #2c2e2f; padding: 0px 0px 20px 0px; font-size: 14px; }

.noti_setting .inner_wrapper ul li.inner_heading:first-child { padding: 0px 0px 5px 0px; }

.noti_setting .inner_wrapper ul .sub_div_left { float: left; width: 75%; margin-bottom: 15px; }

.noti_setting .inner_wrapper ul .sub_div_left p { padding: 5px 0px 0px 20px; }

.noti_setting .inner_wrapper ul .sub_div_left .img_icon { width: 15px; height: 15px; float: left; display: block; margin-right: 15px; position: relative; top: -1px; }

.noti_setting .inner_wrapper ul .sub_div_left .img_icon img { width: 100%; }

.noti_setting .inner_wrapper ul .sub_div_left .inner_text { font-weight: 500; float: left; width: 94%; }

.noti_setting .inner_wrapper ul .radio_button_wrapper { width: 25%; float: right; padding: 0px 0px; height: 30px; overflow: hidden; position: absolute; right: 0px; top: 50%; transform: translateY(-15px); }

.noti_setting .inner_wrapper ul .radio_button_wrapper .outer_border { display: inline; width: 55px; border: 1px solid #dfe0e8; float: right; border-radius: 20px; margin-left: 5px; height: 26px; position: relative; cursor: pointer; }

.noti_setting .inner_wrapper ul .radio_button_wrapper .outer_border .dote { position: absolute; width: 15px; height: 15px; background-color: #65BFA3; border-radius: 19px; top: 5px; left: 6px; transition: all .3s; }

.noti_setting .inner_wrapper ul .radio_button_wrapper .outer_border .timer_right { left: 33px; }

.noti_setting .inner_wrapper ul .radio_button_wrapper .outer_border .no { top: 4px; position: relative; font-size: 12px; left: 7px; }

.noti_setting .inner_wrapper ul .radio_button_wrapper .outer_border .yes { position: relative; left: 27px; top: 4px; font-size: 12px; }

.otp_timer { float: left; width: 100%; text-align: center; position: relative; color: #f05050; display: inline; color: #f05050; float: left; width: 106px; text-align: left; line-height: 33px; }

.button_width { min-width: 70px !important; }

.link_counter { padding: 7px 0px !important; float: left; color: #f05050; }

.cancel_button { text-align: center; -moz-box-shadow: 0 1px 2px 1px rgba(44, 46, 47, 0.1); -webkit-box-shadow: 0 1px 2px 1px rgba(44, 46, 47, 0.1); box-shadow: 0 1px 2px 1px rgba(44, 46, 47, 0.1); border-radius: 18px; height: 30px; font-size: 14px; background-color: #fff !important; position: relative; border: none; padding: 0px 14px 0px 14px; cursor: pointer; float: left; line-height: 32px; }

.cancel_button:hover { background-color: rgba(44, 46, 47, 0.1) !important; box-shadow: none; }

.f_left, .footer_message { float: left; }

.f_right { float: right; }

.deactivate_wrapper { float: left; width: 100%; border-radius: 5px; background-color: #fff; }

.deactivate_wrapper .mainheading { background-color: #F5F7FA; border-radius: 5px 5px 0 0; border-bottom: 1px solid #e9e9e9 !important; }

.deactivate_wrapper .deactivate { float: left; width: 100%; display: block; padding: 10px 30px; }

.deactivate_wrapper .deactivate h3 { font-size: 16px; padding: 5px 0px; color: #2C2E2F; }

.deactivate_wrapper .deactivate p { font-size: 12px; color: #2c2e2f; }

.deactivate_wrapper .deactivate a { font-size: 12px; color: #f05050; }

.deactivate_wrapper .deactivate a:hover { text-decoration: underline !important; }

.form_wrap { padding-left: 15px !important; }

.navbottom { margin-bottom: 15px; width: 100%; float: left; overflow-x: auto; overflow-y: hidden; background-color: #fff; position: relative; z-index: 1; white-space: nowrap; }

.navbottom .mobile_nav { width: 350px; }

.navbottom .mobile_nav .main_nav { background-color: #fff; border: 0; height: auto; padding: 5px 0; width: 100%; float: left; }

.navbottom .mobile_nav .icon_sec { float: left; display: inline-block; padding: 0 5px; cursor: pointer; }

.navbottom .mobile_nav .icon_sec .icon_sec { height: 100%; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }

.navbottom .mobile_nav .icon_sec .glyphsSpriteHome { margin-top: 2px; opacity: 1; width: 100%; float: left; text-align: center; }

.navbottom .mobile_nav .icon_sec .glyphsSpriteHome img { width: 18px; height: 18px; margin: 0 auto; opacity: 1; }

.navbottom .mobile_nav .icon_sec .glyphsSpriteHome .nav_icon_default { display: block; }

.navbottom .mobile_nav .icon_sec .glyphsSpriteHome .nav_icon_active { display: none; }

.navbottom .mobile_nav .icon_sec .icon_cont { color: #2c2e2f; opacity: 0.8; font-size: 12px; font-weight: 500; }

.navbottom .mobile_nav .icon_sec.navactive .glyphsSpriteHome .nav_icon_default { display: none; }

.navbottom .mobile_nav .icon_sec.navactive .glyphsSpriteHome .nav_icon_active { display: block; }

.navbottom .mobile_nav .icon_sec.navactive .icon_cont { color: #f05050; }

.top_navigation { display: none; }

input, select { padding-left: 15px; }

.cancelSetting { float: left; margin-right: 15px; }

.verifyOtp { width: 70px !important; float: left; margin-right: 15px; }

.verifyOtp + .link_counter { margin-top: 15px; }

.marginBottom { margin-bottom: 15px; }

@media only screen and (max-width: 991px) { .top_navigation { display: block; }
  .main_inner_wrap { padding: 10px 15px 10px 40px !important; position: relative; }
  .contact_info_main .phone_main { margin-top: 10px !important; }
  .post_outer.navbottom { border-radius: 5px; } }

@media screen and (max-width: 850px) and (min-width: 768px) { .leftmenuouter .leftmenulist ul li { padding: 10px 7px !important; } }

@media only screen and (max-width: 767px) { .left_stickytab { display: none; }
  /* .container.main_body{ margin-top: 15px; } */
  .container.main_body.settingbody .maindiv { margin-right: 0; } }

@media only screen and (max-width: 600px) { /* .container.main_body{ margin-top:0; } */
  .form_wrap { padding-left: 0px !important; }
  .right_stickytab { display: none; }
  .center_feed { margin: auto; float: none; padding-left: 0 !important; padding-right: 0; }
  .maindiv { border-radius: 0 !important; }
  .post_outer.navbottom { border-radius: 0; } }

input.gray_rds { border-radius: 6px !important; }
