<app-mnavbar (showMobileMenu)="displayMobileMenu($event)" *ngIf="!showPublic"></app-mnavbar>

<div class="wrapper single-postview-wrapper" *ngIf="!showPublic">
    <app-header></app-header>
    <div class="container main_body">
        <div class="row">
            <div class="col-md-3 col-sm-4 left_stickytab" id="left-side-bar" style="padding-right:0;">
                <div id="someDiv">
                    <app-leftmenu [leftSecWidth]="secWidth"></app-leftmenu>
                </div>
            </div>
            <div class="col-md-6  center_feed">

                <div *ngIf="!isMobileMenue">
                    <div #container></div>
                </div>

                <!-- <div *ngIf="isMobileMenue" class="paddingBottom">
                    <app-mmenu></app-mmenu>
                </div> -->
                <div class="sidemenu" [ngClass]="{'openfilter': isMobileMenue }" >
                    <div *ngIf="isMobileMenue">
                    <div class="menuslidedarkbg"  (click)="leftSidemenu()"></div>
                    <app-mmenu  class="cntrMmenu" ></app-mmenu>
                    </div>
                </div>
            </div>


            <div class="col-md-3 col-sm-4 pdng_left  right_widget right_stickytab" id="wall-sidebar-wrap">
                <div id="someDiv">
                    <app-peopleyouknow></app-peopleyouknow>
                    <app-socialinvite (popupOverFlow)="popupOverflowStatus($event);"></app-socialinvite>
                    <p style="color:#9ba1ab;margin-top: 5px">
                        <a routerLink="/privacy" target="_blank">Privacy Policy . </a>
                        <a routerLink="/termandcondition" target="_blank">Terms of Use .</a>
                        <a>{{this._constantService.version}}</a>
                    </p>
                    <footer class="footer_bottom"> © {{current_year}} @Edubabble Learning Pvt. Ltd. </footer>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- post for other start -->
<div class="p_f_other publicview" *ngIf="showPublic">
    <!-- header start -->
    <app-loginpopup *ngIf="openLoginPopup" [usrData]="usrData" (closePopup)="closeLoginPopUp($event)" [isError]="isError" [errorText]="errorText" [type]="openLoginPopupType"></app-loginpopup>

    <app-loginheader></app-loginheader>


    <div class="container main_body">
        <!-- left section -->
        <div class="col-md-6 col-sm-6 maincontainer center_feed" style="padding: 0px;">
            <div><div #container></div></div>
            <!-- ====================================================================================== -->
            <!-- related post without login -->
            <!-- ====================================================================================== -->
            <div *ngIf=" singlePagePostData.RELATED_POST && singlePagePostData.RELATED_POST.length>0" class="left_related_article _outer">
                <div class="left_related_article_heading">Related post</div>
                <ul [perfectScrollbar]="config" style="position: relative;">

                    <li class=" left_related_list " *ngFor="let post of singlePagePostData.RELATED_POST; ">
                        <div (mouseenter)="showMore('post' + post.USER_POST_ID)" (mouseleave)="hideMore('post' + post.USER_POST_ID )" routerLink="/post/{{post.USER_POST_ID}}/{{post.URL}} " class="left_related_inner_list ">

                            <h3 [innerHTML]=post.TEXT class="left_related_list_content" style=" -webkit-box-orient: vertical;">
                            </h3>
                            <span id="{{'post' + post.USER_POST_ID}}" class="attempt_now">Attempt Now <img src="./assets/images/nextarrow.png " alt=" "></span></div>
                    </li>
                </ul>
                <div (click)="loginpopupFxn() " class="viewAll " style="cursor: pointer; "> <span>500+ </span>&nbsp; more Questions to answer</div>
            </div>
            <!-- ====================================================================================== -->
            <!-- related post without login -->
            <!-- ====================================================================================== -->
            <!-- featurd courses slider -->
            <div *ngIf="singlePagePostData.POPULAR_COURSES && singlePagePostData.POPULAR_COURSES.length>0 " class="_course_list _outer">
                <div class="_course_list_heading">Popular Courses</div>
                <div class="">
                    <carousel>
                        <slide *ngFor="let popularCourses of singlePagePostData.POPULAR_COURSES">
                            <div class="courseslide">
                                <div style="cursor: pointer" *ngIf="popularCourses.COVER_TYPE==0" class="imgLeft" routerLink="/course/{{popularCourses.COURSE_URL}}">
                                    <img src="{{popularCourses.COURSE_COVER_PHOTO_PATH + 'cover/' + popularCourses.COURSE_UUID + '_1235x330.png?v=' + popularCourses.IMG_UPD_DT }}" alt="">
                                </div>
                                <div style="cursor: pointer" *ngIf="popularCourses.COVER_TYPE==1" class="imgLeft" routerLink="/course/{{popularCourses.COURSE_URL}}">
                                    <img src="{{popularCourses.COURSE_COVER_PHOTO_PATH}}" alt="">
                                </div>
                                <div class="dataRight">
                                    <span style="cursor: pointer" class="headingMn" routerLink="/course/{{popularCourses.COURSE_URL}}">{{postData.decodeURIPostData(popularCourses.COURSE_TITLE)}}</span>
                                    <span class="dtcontr">
                                    <span class="dotLft" *ngIf="popularCourses.COURSE_LEVEL==1">Beginner Level</span>
                                    <span class="dotLft" *ngIf="popularCourses.COURSE_LEVEL==2">Intermediate Level</span>
                                    <span class="dotLft" *ngIf="popularCourses.COURSE_LEVEL==3">Advance Level</span>
                                    <span class="dotLft" *ngIf="popularCourses.COURSE_LEVEL==4">All Levels</span>
                                    <span class="dot"></span>
                                    <span class="aftdot">{{popularCourses.LANGUAGE_NAME}}</span>
                                    </span>
                                    <span style="cursor: pointer" class="dWnhead"><span class="byhead">By </span> <span routerLink="/page/{{popularCourses.PAGE_UUID}}/0">{{popularCourses.PAGE_TITLE}}</span></span>
                                    <div *ngIf="popularCourses.COURSE_TYPE==1">
                                        <span *ngFor="let price of popularCourses.COURSE_PRICE " class="amntcourse">
                                    <span style="cursor: pointer" class="courserate"><img src="/assets/images/marketPlaceImages/rupe.svg" alt="" routerLink="/course/{{popularCourses.COURSE_URL}}">{{price.DISCOUNT_COST}}</span>
                                        <span class="discount">
                                    <span style="cursor: pointer" class="offrate" routerLink="/course/{{popularCourses.COURSE_URL}}"><img src="/assets/images/marketPlaceImages/rupe.svg" alt="" routerLink="/course/{{popularCourses.COURSE_URL}}">{{price.COST}} <span class="cross_line" routerLink="/course/{{popularCourses.COURSE_URL}}"></span></span>
                                        <span style="cursor: pointer" class="offfprc " routerLink="/course/{{popularCourses.COURSE_URL}}">{{price.DISCOUNT_PERCENT}}% off</span>

                                        </span>
                                        </span>
                                    </div>

                                    <div *ngIf="popularCourses.COURSE_TYPE==0">
                                        <span class="amntcourse">
                                    <span routerLink="/course/{{popularCourses.COURSE_URL}}" class="courserate freerate">FREE</span>

                                        </span>
                                    </div>


                                </div>
                            </div>
                        </slide>
                    </carousel>
                </div>



            </div>
            <!-- youtube slider -->
            <div class="left_youtubeslider _outer leftyoutube">
                <div (click)="redirecttoYoutubeChannel()" class="youtubeslider_heading">
                    <span style="cursor: pointer" class="utube_img"><img src="assets/images/youtube_logo.png" alt=""></span>
                    <span style="cursor: pointer" class="subscribe">SUBSCRIBE</span>
                </div>
                <div style="cursor: default !important;" class="_center_slide">
                    <p>Videos from famous mentors on our YouTube Channel</p>
                </div>
                <div class="_slider_wrapper">
                    <carousel class="carousel">
                        <slide>
                            <div class="video_card">
                                <div class="courseslide">
                                    <div class="imgLeft">
                                        <iframe src="https://www.youtube.com/embed/v9I2A6WKhiQ" alt=""></iframe>
                                    </div>
                                </div>
                            </div>
                        </slide>
                        <slide>
                            <div class="video_card">
                                <div class="courseslide">
                                    <div class="imgLeft">
                                        <iframe src="https://www.youtube.com/embed/TlutnQtpNj8" alt=""></iframe>
                                    </div>
                                </div>
                            </div>
                        </slide>
                        <slide>
                            <div class="video_card">
                                <div class="courseslide">
                                    <div class="imgLeft">
                                        <iframe src="https://www.youtube.com/embed/hs0mgMRKmqY" alt=""></iframe>
                                    </div>
                                </div>
                            </div>
                        </slide>
                        <slide>
                            <div class="video_card">
                                <div class="courseslide">
                                    <div class="imgLeft">
                                        <iframe src="https://www.youtube.com/embed/eOVYZgxFaQE" alt=""></iframe>
                                    </div>
                                </div>
                            </div>
                        </slide>
                        <slide>
                            <div class="video_card">
                                <div class="courseslide">
                                    <div class="imgLeft">
                                        <iframe src="https://www.youtube.com/embed/QDCMZ_53X-E" alt=""></iframe>
                                    </div>
                                </div>
                            </div>
                        </slide>

                    </carousel>
                </div>
            </div>
            <!-- end youtube slider -->
        </div>

        <!-- end youtube slider -->
        <!-- left section end -->
        <!-- <div class="col-md-3 col-sm-12 col-xs-12 ryt_container center_feed">
      <div class="applink" style="margin: 0px;">
        <h4>Also Available on</h4>
        <div class="buttoncontainer">
        <div class="google">
          <a target="_blank" href="https://play.google.com/store/apps/details?id=com.aio&hl=en">
          <img src="assets/images/svg-three/otherpost/gp.png" alt="aio"> </a>
        </div> -->

        <!-- left section -->
        <!-- right section start -->
        <!-- login widget start -->
        <div class="col-md-3 col-sm-12 col-xs-12 col-md-push-3 ryt_container center_feed">
            <div class="_login_course _outer">
                <span class="login_heading">Register and Get free Courses</span>
                <button class="_login_btn" type="button" name="button" (click)="openLoginPopupType=2;loginpopupopen()">Sign up with Email</button>
                <div class="_or_option"><span>or</span></div>

                <div class="_social_button">
                    <!-- <span class="fbicon"><img src="./assets/images/facebookimg.svg" alt=""></span>
                        <span class="sociallogin">Facebook</span> -->
                    <app-login-with-facebook class="fb_button" [from]="'single-post-view'" [buttonText]="'Facebook'"></app-login-with-facebook>
                    <app-login-with-google class="gmail_social_btn" [from]="'single-post-view'" [buttonText]="'Google'"></app-login-with-google>
                </div>


            </div>
            <!-- login widget end -->
            <!-- page banner widget start -->
            <div class="_page_banner _outer">
                <img src="https://img1.aio.com/assets/images/Personal_Vlog_YouTube_Thumbnail .png" alt=" ">
            </div>
            <!-- page banner widget end -->
            <!-- Popular courses widget start -->
            <div *ngIf="singlePagePostData.POPULAR_PAGES && singlePagePostData.POPULAR_PAGES.length>0" class="_popular_courses _outer ">
                <div class="_course_heading ">Popular Pages</div>
                <div class="people_list friendlist suggestion " [perfectScrollbar]="config" style="position: relative; ">
                    <ul>
                        <li *ngFor="let page of singlePagePostData.POPULAR_PAGES ">
                            <div *ngIf="page.PROFILE_PHOTO_PATH!=null " class="profileimg_know " routerLink="{{page.PAGE_NAME==null ?'/page/'+page.PAGE_UUID:'/page/'+page.PAGE_NAME}}">
                                <img src="{{page.PROFILE_PHOTO_PATH+ 'profile/'+page.PAGE_UUID + '_150x150.png?v='+page.IMG_UPD_DT}} " style="cursor: pointer">
                            </div>
                            <div style="cursor: pointer" *ngIf="page.PROFILE_PHOTO_PATH==null && page.TYPE==1 " class="profileimg_know " routerLink="{{page.PAGE_NAME==null ?'/page/'+page.PAGE_UUID:'/page/'+page.PAGE_NAME}}">
                                <img src='/assets/images/organization_profile.svg' style="cursor: pointer">
                            </div>
                            <div style="cursor: pointer" *ngIf="page.PROFILE_PHOTO_PATH==null && page.TYPE==0 " class="profileimg_know " routerLink="{{page.PAGE_NAME==null ?'/page/'+page.PAGE_UUID:'/page/'+page.PAGE_NAME}}">
                                <img src='/assets/images/individual_profile.svg' style="cursor: pointer">
                            </div>
                            <div class='prfl_detail'>
                                <div class="profilename profile_name" routerLink="{{page.PAGE_NAME==null ?'/page/'+page.PAGE_UUID:'/page/'+page.PAGE_NAME}}">
                                    <a class="Notificationlist_name " title=''>{{postData.decodeURIPostData(page.TITLE)}}</a></div>
                                <div class="grayinfo ">{{page.PAGE_FOLLOW_COUNT}} Followers</div>
                            </div>
                            <div class='friendbtn'>
                                <span (click)="redirectTo('page', page)" class="testt "><button class="button24x7 _connet_btn ">Follow</button></span>
                            </div>
                        </li>
                    </ul>
                    <!-- <ul class="emptystate " *ngIf="suggestionView==1 ">
                    <li class="emptystate_inner "><img src="assets/images/emptystates/svg/connection-Request-in-connection-tab-of-profile-module.svg ">
                    </li>
                </ul>
                <div class="loader2 " *ngIf="loadSuggestions ">
                    <img src="assets/images/24x7preloader.gif " alt="aio " >
                </div> -->
                </div>
            </div>
            <!-- featured courses start -->
            <div *ngIf="singlePagePostData.FEATURED_COURSES && singlePagePostData.FEATURED_COURSES.length>0" class="_featured_courses ">
                <div class="_featured_courses_heading ">Featured Courses</div>
                <div class="_outer ">
                    <carousel>
                        <slide *ngFor="let featuredCourses of singlePagePostData.FEATURED_COURSES ">
                            <div class="courseslide ">
                                <div style="cursor: pointer" *ngIf="featuredCourses.COVER_TYPE==0 " class="imgLeft " routerLink="/course/{{featuredCourses.COURSE_URL}}">
                                    <img src="{{featuredCourses.COURSE_COVER_PHOTO_PATH + 'cover/' + featuredCourses.COURSE_UUID + '_1235x330.png?v=' + featuredCourses.IMG_UPD_DT }} " alt=" ">
                                </div>
                                <div style="cursor: pointer" *ngIf="featuredCourses.COVER_TYPE==1 " class="imgLeft" routerLink="/course/{{featuredCourses.COURSE_URL}}">
                                    <img src="{{featuredCourses.COURSE_COVER_PHOTO_PATH}} " alt=" ">
                                </div>
                                <div class="dataRight ">
                                    <span style="cursor: pointer" class="headingMn" routerLink="/course/{{featuredCourses.COURSE_URL}}">{{postData.decodeURIPostData(featuredCourses.COURSE_TITLE)}}</span>
                                    <span class="dtcontr ">
                                <span class="dotLft " *ngIf="featuredCourses.COURSE_LEVEL==1 ">Beginner Level</span>
                                    <span class="dotLft " *ngIf="featuredCourses.COURSE_LEVEL==2 ">Intermediate Level</span>
                                    <span class="dotLft " *ngIf="featuredCourses.COURSE_LEVEL==3 ">Advance Level</span>
                                    <span class="dotLft " *ngIf="featuredCourses.COURSE_LEVEL==4 ">All Levels</span>
                                    <span class="dot "></span>
                                    <span class="aftdot ">{{featuredCourses.LANGUAGE_NAME}}</span>
                                    </span>
                                    <span style="cursor: pointer" class="dWnhead "><span class="byhead ">By </span><span routerLink="/page/{{featuredCourses.PAGE_UUID}}/0">{{featuredCourses.PAGE_TITLE}}</span></span>
                                    <div routerLink="/course/{{featuredCourses.COURSE_URL}}" *ngIf="featuredCourses.COURSE_TYPE==1 ">
                                        <span *ngFor="let price of featuredCourses.COURSE_PRICE " class="amntcourse ">
                                <span style="cursor: pointer" class="courserate "><img src="/assets/images/marketPlaceImages/rupe.svg " alt=" ">{{price.DISCOUNT_COST}}</span>
                                        <span class="discount ">
                                <span style="cursor: pointer" class="offrate "><img src="/assets/images/marketPlaceImages/rupe.svg " alt=" ">{{price.COST}} <span class="cross_line "></span></span>
                                        <span style="cursor: pointer" routerLink="/course/{{featuredCourses.COURSE_URL}}" class="offfprc ">{{price.DISCOUNT_PERCENT}}% off</span>
                                        </span>
                                        </span>
                                    </div>

                                    <div *ngIf="featuredCourses.COURSE_TYPE==0">
                                        <span class="amntcourse">
                                    <span routerLink="/course/{{featuredCourses.COURSE_URL}}" class="courserate freerate">FREE</span>

                                        </span>
                                    </div>

                                </div>
                            </div>
                        </slide>
                    </carousel>
                </div>
            </div>
            <!-- featured courses end -->

            <!-- Popular coursePops widget end -->
            <!-- <div class="crouser singlepostview "> -->
            <!-- <div id="demo " class="carousel slide " data-ride="carousel ">
                    <div class="carousel-inner ">
                        <div class="carousel-item ">
                            <div class="bgimgcontainer ">
                                <div class="bg_color bg_color3 "></div>
                                <div class="imagecontainer ">
                                    <img src="assets/images/svg-three/otherpost/new_icons2.svg " alt="aio ">
                                </div>
                                <div class="textcontainer ">
                                    <h3 class="heading ">
                                    </h3>
                                    <p class="text ">
                                         Collaborate
                                         with your pals
                                        & mentors for 24x7 learning
                                    </p>
                                    <button>REGISTER NOW</button>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item active ">
                            <div class="bgimgcontainer ">
                                <div class="bg_color bg_color2 "></div>
                                <div class="imagecontainer ">
                                    <img src="assets/images/svg-three/otherpost/new_icons2.svg " alt="aio ">
                                </div>
                                <div class="textcontainer ">
                                    <h3 class="heading ">
                                    </h3>
                                    <p class="text ">
                                        Comes study from multiple sources to learn for life.
                                    </p>
                                    <button>REGISTER NOW</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev " href="#demo " data-slide="prev ">
                        <span class="carousel-control-prev-icon "></span>
                    </a>
                    <a class="carousel-control-next " href="#demo " data-slide="next ">
                        <span class="carousel-control-next-icon "></span>
                    </a>
                </div> -->




            <!-- </div> -->


            <!-- <div *ngIf="relatedPost " class="relatedpost ">
                <h2>Related post</h2>
                <div class="rtextcontainer ">
                    <div class="rtext " *ngFor="let post of similarPost " routerLink="/post/{{post.URL}} ">
                        <div class="textwrapper ">
                            <a>
                                {{post.TEXT}}
                            </a>
                            <span class="image "><img src="assets/images/svg-three/otherpost/clocker.svg " alt="aio "></span>
                            <span>{{post.ADD_DATE_TIME}}</span>
                        </div>
                        <div class="textwrapper ">
                            <a>
                                {{post.TEXT}}
                            </a>
                            <span class="image "><img src="assets/images/svg-three/otherpost/clocker.svg " alt="aio "></span>
                            <span>{{post.ADD_DATE_TIME}}</span>
                        </div>
                        <div class="textwrapper ">
                            <a>
                                {{post.TEXT}}
                            </a>
                            <span class="image "><img src="assets/images/svg-three/otherpost/clocker.svg " alt="aio "></span>
                            <span>{{post.ADD_DATE_TIME}}</span>
                        </div>
                    </div>
                </div>
                <div class="rpfooter ">
                    More related post
                </div>
            </div> -->

            <!-- ====================================================================================== -->
            <!-- related post without login -->
            <!-- ====================================================================================== -->
            <!-- <div class="right_related_article ">
              <ul>
                <li class="right_related_article_heading ">Related post</li>
                <li class="right_related_list ">
                  <div class="right_related_inner_list ">
                    <h3 class="right_related_list_content ">
                      Form submission dates of IIT JEE
                      will commencing from 21st Dec,19
                    </h3>
                    <span class="right_related_date ">2 days ago</span>
                  </div>
                </li>
              </ul>
            </div> -->
            <!-- ====================================================================================== -->
            <!-- related post without login -->
            <!-- ====================================================================================== -->
            <div class="applink " style="margin: 0px; ">
                <h4>Get the App</h4>
                <p>Download the Study24x7 App, so you can connect and collaborate.</p>
                <div class="buttoncontainer ">
                    <div class="google ">
                        <a target="_blank " href="https://play.google.com/store/apps/details?id=com.stdy24x7&hl=en "> <img src="https://img1.aio.com/assets/images/svg-three/gp.png " alt="aio "> </a>
                    </div>
                    <div class="apple ">
                        <a target="_blank " href="https://itunes.apple.com/in/app/aio/id1444868244?ls=1&mt=8 "> <img src="https://img1.aio.com/assets/images/svg-three/app.png " alt="aio "> </a>
                    </div>
                </div>
            </div>
            <!-- mobile resposive course card -->
            <div *ngIf="singlePagePostData.FEATURED_COURSES && singlePagePostData.FEATURED_COURSES.length>0" class="__featured_course mobileview_card">
              <div class="heading_">
                <h2>Featured Courses</h2>
              </div>
              <div class="pageSuggestionOuterWrapper">
                <div class="pageSuggestionInnerWrapper">
                    
                  <div class="card mb-2_course" *ngFor="let featuredCourses of singlePagePostData.FEATURED_COURSES" >
                    <div class="courseslide">
                       <div class="imgLeft" style="cursor: pointer" *ngIf="featuredCourses.COVER_TYPE==0 "  routerLink="/course/{{featuredCourses.COURSE_URL}}">
                           <img src="{{featuredCourses.COURSE_COVER_PHOTO_PATH + 'cover/' + featuredCourses.COURSE_UUID + '_1235x330.png?v=' + featuredCourses.IMG_UPD_DT }} " alt=" ">
                             <!-- <span class="leftTopsell courseType bestseller" style="top:0;left:0;">BESTSELLER</span> -->
                       </div>
                       <div style="cursor: pointer" *ngIf="featuredCourses.COVER_TYPE==1 " class="imgLeft" routerLink="/course/{{featuredCourses.COURSE_URL}}">
                        <img src="{{featuredCourses.COURSE_COVER_PHOTO_PATH}} " alt=" ">
                          <!-- <span class="leftTopsell courseType bestseller" style="top:0;left:0;">BESTSELLER</span> -->
                    </div>

                       <div class="dataRight">
                           <span class="headingMn" style="cursor: pointer"  routerLink="/course/{{featuredCourses.COURSE_URL}}">{{postData.decodeURIPostData(featuredCourses.COURSE_TITLE)}} </span>
                           <span class="dtcontr ">
                            <span class="dotLft " *ngIf="featuredCourses.COURSE_LEVEL==1 ">Beginner Level</span>
                                <span class="dotLft " *ngIf="featuredCourses.COURSE_LEVEL==2 ">Intermediate Level</span>
                                <span class="dotLft " *ngIf="featuredCourses.COURSE_LEVEL==3 ">Advance Level</span>
                                <span class="dotLft " *ngIf="featuredCourses.COURSE_LEVEL==4 ">All Levels</span>
                                <span class="dot "></span>
                                <span class="aftdot ">{{featuredCourses.LANGUAGE_NAME}}</span>
                                </span>
                                <span style="cursor: pointer" class="dWnhead "><span class="byhead ">By </span><span routerLink="/page/{{featuredCourses.PAGE_UUID}}/0">{{featuredCourses.PAGE_TITLE}}</span></span>
                           <!-- <span class="leftmenuicons">
                               <span class="rmenu"><img src="https://img1.aio.com/assets/images/marketPlaceImages/vector-smart-object-2-copy-4@2x.png" alt="" class="_savecoursepost"></span>
                               <span class="rmenu"><img src="https://img1.aio.com/assets/images/marketPlaceImages/share.png" alt=""></span>
                           </span> -->
                           <div routerLink="/course/{{featuredCourses.COURSE_URL}}" *ngIf="featuredCourses.COURSE_TYPE==1 ">
                            <span *ngFor="let price of featuredCourses.COURSE_PRICE " class="amntcourse ">
                    <span style="cursor: pointer" class="courserate "><img src="/assets/images/marketPlaceImages/rupe.svg " alt=" ">{{price.DISCOUNT_COST}}</span>
                            <span class="discount ">
                    <span style="cursor: pointer" class="offrate "><img src="/assets/images/marketPlaceImages/rupe.svg " alt=" ">{{price.COST}} <span class="cross_line "></span></span>
                            <span style="cursor: pointer" routerLink="/course/{{featuredCourses.COURSE_URL}}" class="offfprc ">{{price.DISCOUNT_PERCENT}}% off</span>
                            </span>
                            </span>
                        </div>
                        <div *ngIf="featuredCourses.COURSE_TYPE==0">
                            <span class="amntcourse">
                        <span routerLink="/course/{{featuredCourses.COURSE_URL}}" class="courserate freerate">FREE</span>

                            </span>
                        </div>
                           <span class="leftdown"><img src="https://img1.aio.com/assets/images/marketPlaceImages/star-filled.svg" alt="">5.0</span>
                       </div>
                    </div>
                  </div>
                
                  
                </div>
              </div>
            </div>
            <!-- mobileresponsive view -->
            <div *ngIf="singlePagePostData.POPULAR_PAGES && singlePagePostData.POPULAR_PAGES.length>0" class="__popular_pages mobileview_card">
              <div class="heading_">
                <h2>Popular Pages</h2>
              </div>
              <div class="pageSuggestionOuterWrapper">
                <div class="pageSuggestionInnerWrapper">
                  <div class="card mb-2_page" *ngFor="let page of singlePagePostData.POPULAR_PAGES">
                    <div class="_popularpagesSliderWeapper">

                      <div class="_popular_page_card"  >
                          <div class="_pagecard_img_wrapper" *ngIf="page.COVER_PHOTO_PATH!=null" >
                              <img style="cursor: pointer" src="{{page.COVER_PHOTO_PATH + 'cover/' + page.PAGE_UUID + '_1235x330.png?v=' + page.IMG_UPD_DT }} " alt=" " routerLink="{{page.PAGE_NAME==null ?'/page/'+page.PAGE_UUID:'/page/'+page.PAGE_NAME}}">
                              <div class="_profile_wrapper" *ngIf="page.PROFILE_PHOTO_PATH!=null" >
                                  <img style="cursor: pointer" src="{{page.PROFILE_PHOTO_PATH + 'profile/' + page.PAGE_UUID + '_150x150.png?v=' + page.IMG_UPD_DT }} " alt=" " routerLink="{{page.PAGE_NAME==null ?'/page/'+page.PAGE_UUID:'/page/'+page.PAGE_NAME}}">
                              </div>
                              <div class="_profile_wrapper" *ngIf="page.PROFILE_PHOTO_PATH ==null"  routerLink="{{page.PAGE_NAME==null ?'/page/'+page.PAGE_UUID:'/page/'+page.PAGE_NAME}}">
                                <img style="cursor: pointer" src="./assets/images/organization_profile.svg " alt=" ">
                            </div>
                          </div>
                          <div class="_pagecard_img_wrapper" *ngIf="page.COVER_PHOTO_PATH==null" >
                            <img style="cursor: pointer"  src="./assets/images/coverimage.jpg " alt=" " routerLink="{{page.PAGE_NAME==null ?'/page/'+page.PAGE_UUID:'/page/'+page.PAGE_NAME}}">
                            <div class="_profile_wrapper" *ngIf="page.PROFILE_PHOTO_PATH!=null" >
                                <img style="cursor: pointer" src="{{page.PROFILE_PHOTO_PATH + 'profile/' + page.PAGE_UUID + '_150x150.png?v=' + page.IMG_UPD_DT }} " alt=" " routerLink="{{page.PAGE_NAME==null ?'/page/'+page.PAGE_UUID:'/page/'+page.PAGE_NAME}}">
                            </div>
                            <div class="_profile_wrapper" *ngIf="page.PROFILE_PHOTO_PATH ==null"  routerLink="{{page.PAGE_NAME==null ?'/page/'+page.PAGE_UUID:'/page/'+page.PAGE_NAME}}">
                              <img style="cursor: pointer" src="./assets/images/organization_profile.svg " alt=" ">
                          </div>
                        </div>
                          <h4 style="cursor: pointer" routerLink="{{page.PAGE_NAME==null ?'/page/'+page.PAGE_UUID:'/page/'+page.PAGE_NAME}}">{{page.TITLE}}</h4>
                          <p class="_follower_Count lotoFont">{{page.PAGE_FOLLOW_COUNT}} followers</p>
                          <button (click)="redirectTo('page', page)"><img src="https://img1.aio.com/assets/images/marketPlaceImages/vector-smart-object@2x.png" alt="" > Follow</button>
                      </div>
                    </div>
                  </div>
                  
               
                </div>
              </div>
            </div>
            <!-- youtube slider -->
            <div class="left_youtubeslider _outer mobile_youtube">
                <div class="youtubeslider_heading " (click)="redirecttoYoutubeChannel()">
                    <span class="utube_img "><img src="assets/images/youtube_logo.png " alt=" "></span>
                    <span style="cursor: pointer;" class="subscribe ">SUBSCRIBE</span>
                </div>
                <div class="_center_slide ">
                    <p>Videos from famous mentors on our YouTube Channel</p>
                    <div class="pageSuggestionOuterWrapper">
                      <div class="pageSuggestionInnerWrapper">
                        <div class="card mb-2_slide" style="position:relative">
                            <iframe src="https://www.youtube.com/embed/v9I2A6WKhiQ" alt=""></iframe>
                        </div>
                        <div class="card mb-2_slide" style="position:relative">
                            <iframe src="https://www.youtube.com/embed/TlutnQtpNj8" alt=""></iframe>
                        </div>
                        <div class="card mb-2_slide" style="position:relative">
                            <iframe src="https://www.youtube.com/embed/hs0mgMRKmqY" alt=""></iframe>
                                    </div>
                                    <div class="card mb-2_slide" style="position:relative">
                                        <iframe src="https://www.youtube.com/embed/eOVYZgxFaQE" alt=""></iframe>
                                                </div>
                                                <div class="card mb-2_slide" style="position:relative">
                                                    <iframe src="https://www.youtube.com/embed/QDCMZ_53X-E" alt=""></iframe>
                                                            </div>
                        </div>
                        
                       
                        
                       
                        
                      </div>
                    </div>
                </div>
            
            <!-- end youtube slider -->

        </div>
        <!-- right section -->
        <!-- center section -->
        <div *ngIf="singlePagePostData.RELATED_ARTICLE && singlePagePostData.RELATED_ARTICLE.length>0 " class="col-md-3 col-sm-12 col-xs-12 col-md-pull-3 ryt_container center_feed ">
            <div class="_article_post ">
                <div class="_article_post_heading ">Most Related Articles</div>
                <ul [perfectScrollbar]="config " style="position: relative; ">

                    <li class="_article_related_list " *ngFor="let article of singlePagePostData.RELATED_ARTICLE ">
                        <div class="_article_related_inner_list ">
                            <div *ngIf="article.ARTICLE_COVER_URL " class="_article_img "><img src="{{article.ARTICLE_COVER_URL + '/' + article.ARTICLE_UUID + '.png?v=' + article.IMG_UPD_DT}} " alt=" " routerLink="/article/{{article.ARTICLE_ID}}/{{article.ARTICLE_URL}}"></div>
                            <h3 class="_article_related_list_content" routerLink="/article/{{article.ARTICLE_ID}}/{{article.ARTICLE_URL}}">
                                {{article.ARTICLE_TITLE | trimData:60}}
                            </h3>
                            <span class="_article_by "></span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- end center section -->
    </div>
</div>

<app-confirmationpopup *ngIf="openConfirmation " (closeComfirmPopupThread)="closePopup($event); " [dataObj]="dataConf "></app-confirmationpopup>
<!--<app-confirmationpopup *ngIf="openConfirmation " (closeComfirmPopupThread)="sessionLogout($event); " [dataObj]="dataConf "></app-confirmationpopup>-->

<!-- post for other end-->
