.p_f_other .login_Header { -ms-box-shadow: 0 6px 24px 1px rgba(44, 46, 47, 0.1); -o-box-shadow: 0 6px 24px 1px rgba(44, 46, 47, 0.1); -webkit-box-shadow: 0 6px 24px 1px rgba(44, 46, 47, 0.1); -moz-box-shadow: 0 6px 24px 1px rgba(44, 46, 47, 0.1); box-shadow: 0 6px 24px 1px rgba(44, 46, 47, 0.1); position: fixed; top: 0px; z-index: 4; background: #fff; width: 100%; height: 66px; line-height: 72px; }

.p_f_other .login_Header .head_container { line-height: 0px; padding-top: 10px; position: relative; }

.p_f_other .login_Header .head_container .head-login-cntnar { width: 621px; float: right; }

.p_f_other .login_Header .head_container .head-login-cntnar .login-field { width: 200px; float: left; position: relative; }

.p_f_other .login_Header .head_container .head-login-cntnar .login-field input { border-radius: 3px; height: 34px; font-size: 12px; }

.p_f_other .login_Header .head_container .head-login-cntnar .lgn-e-input input { height: 34px; font-size: 12px; padding-left: 10px; }

.p_f_other .login_Header .head_container .head-login-cntnar .lgn-e-input input:focus { border: 1px solid #dfe0e8 !important; }

.p_f_other .login_Header .head_container .head-login-cntnar .lgn-p-input { width: 200px; float: left; margin-left: 10px; }

.p_f_other .login_Header .head_container .head-login-cntnar .lgn-p-input input { height: 34px; padding-left: 10px; }

.p_f_other .login_Header .head_container .head-login-cntnar .lgn-p-input .head_login_frgtpassword { position: absolute; top: 46px; right: 4px; text-align: right; color: #000; font-size: 11px; opacity: .7; }

.p_f_other .login_Header .head_container .head-login-cntnar .lgn-p-input a:hover { text-decoration: underline !important; opacity: 1; color: #f05050; }

.p_f_other .login_Header .head_container .head-login-cntnar .login-button { width: 90px; float: left; margin: 0px; color: #000; border-radius: 3px; border: 1px solid #000 !important; margin-left: 10px; background-color: #fff; height: 34px; transition: all .4s; border: none; }

.p_f_other .login_Header .head_container .head-login-cntnar .login-button:hover { border: 1px solid #f05050 !important; color: #f05050; }

.p_f_other .login_Header .head_container .head-login-cntnar .login-button .text { font-size: 14px; font-weight: 500; }

.p_f_other .login_Header .head_container .head-login-cntnar .reg-button { width: 144px; float: right; border-radius: 3px; background-color: #fff; border: 1px solid #f05050; color: #f05050; font-size: 14px; font-weight: 500; height: 34px; transition: all .4s; float: left; margin-left: 20px; float: right; width: 90px; transition: all .3s; -webkit-transition: all .3s; float: left; }

.p_f_other .login_Header .head_container .head-login-cntnar .reg-button:hover { background-color: #F26F6F !important; color: #fff; }

@media only screen and (max-width: 1200px) { .p_f_other .login_Header .head_container .head-login-cntnar { width: 530px; }
  .p_f_other .login_Header .head_container .head-login-cntnar .lgn-e-input { width: 155px; }
  .p_f_other .login_Header .head_container .head-login-cntnar .lgn-e-input input { height: 35px; }
  .p_f_other .login_Header .head_container .head-login-cntnar .lgn-e-input input:focus { border: 1px solid #dfe0e8 !important; }
  .p_f_other .login_Header .head_container .head-login-cntnar .lgn-p-input { width: 155px; }
  .p_f_other .login_Header .head_container .head-login-cntnar .lgn-p-input input { height: 35px; }
  .p_f_other .login_Header .head_container .head-login-cntnar .login_btn { height: 35px; }
  .p_f_other .login_Header .head_container .head-login-cntnar .reg-button { height: 35px; } }

.p_f_other .login_Header .head_container .head_login_stock { width: 1px; background-color: #00000010; float: right; position: absolute; right: 183px; height: 32px; top: 32px; opacity: .5; }

.p_f_other .container.main_body { margin-top: 72px; }

.p_f_other .container .ryt_container { background-color: transparent; border-radius: 5px; overflow: hidden; padding-right: 0; }

.p_f_other .container .ryt_container .crouser { width: 100%; float: left; height: 158px; border-radius: 5px; background-image: url(./../../../../assets/images/svg-three/otherpost/pattern.svg); position: relative; background-repeat: no-repeat; background-size: 100%; overflow: hidden; height: 155px; }

.p_f_other .container .ryt_container .crouser .bgimgcontainer { float: left; width: 100%; padding: 20px 0px 15px 0px; position: relative; z-index: 1; height: 155px; }

.p_f_other .container .ryt_container .crouser .bgimgcontainer .bg_color { background: #00eaf7; z-index: -1; position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; opacity: .9; }

.p_f_other .container .ryt_container .crouser .bgimgcontainer .bg_color1 { background: -webkit-linear-gradient(left, #00eaf7 0%, #4f36c2 100%); background: linear-gradient(to right, #00eaf7 0%, #4f36c2 100%); }

.p_f_other .container .ryt_container .crouser .bgimgcontainer .bg_color2 { background: -webkit-linear-gradient(left, #f05050 0%, #8050fb 99%); background: linear-gradient(to right, #f05050 0%, #8050fb 99%); }

.p_f_other .container .ryt_container .crouser .bgimgcontainer .bg_color3 { background: #0ca0c3; background: -moz-linear-gradient(left, #0ca0c3 0%, #11d0ae 99%); background: -webkit-linear-gradient(left, #0ca0c3 0%, #11d0ae 99%); background: linear-gradient(to right, #0ca0c3 0%, #11d0ae 99%); }

.p_f_other .container .ryt_container .crouser .bgimgcontainer .imagecontainer { width: 40%; float: left; text-align: right; padding: 24px 20px 10px 10px; }

.p_f_other .container .ryt_container .crouser .bgimgcontainer .imagecontainer img { width: 68px; }

.p_f_other .container .ryt_container .crouser .bgimgcontainer .textcontainer { width: 60%; float: right; }

.p_f_other .container .ryt_container .crouser .bgimgcontainer .textcontainer .heading { font-size: 14px; color: #fff; font-weight: normal; font-weight: 300; }

.p_f_other .container .ryt_container .crouser .bgimgcontainer .textcontainer .text { font-size: 14px; color: #fff; font-weight: normal; margin-top: 35px; width: 170px; font-weight: 300; line-height: 20px; }

.p_f_other .container .ryt_container .crouser .bgimgcontainer .textcontainer button { -webkit-box-sizing: border-box; box-sizing: border-box; background: transparent; color: #fff; border: 0px solid #fff; font-size: 10px; padding: 0px 8px; height: 28px; line-height: 27px; float: left; margin-top: 10px; padding: 0px; }

.p_f_other .container .ryt_container .crouser .carousel-indicators { display: none !important; }

.p_f_other .container .ryt_container .relatedpost { background-color: #fff; margin-bottom: 15px; float: left; width: 100%; border-radius: 5px; overflow: hidden; }

.p_f_other .container .ryt_container .relatedpost h2 { background-color: #fff; padding: 12px 15px; font-weight: 500; border-radius: 5px 5px 0px 0px; font-size: 14px !important; border-bottom: 1px solid #f7f7f7; font-family: "Roboto", sans-serif; }

.p_f_other .container .ryt_container .relatedpost .rtextcontainer { float: left; width: 100%; max-height: 468px; }

.p_f_other .container .ryt_container .relatedpost .rtextcontainer .rtext { padding: 15px 15px 0px; float: left; }

.p_f_other .container .ryt_container .relatedpost .rtextcontainer .rtext .textwrapper { float: left; width: 100%; margin-bottom: 15px; }

.p_f_other .container .ryt_container .relatedpost .rtextcontainer .rtext .textwrapper .image { width: 11px; margin-top: 3px; margin-right: 10px; }

.p_f_other .container .ryt_container .relatedpost .rtextcontainer .rtext .textwrapper .image img { width: 100%; }

.p_f_other .container .ryt_container .relatedpost .rtextcontainer .rtext .textwrapper a { width: 100%; float: left; font-size: 14px; color: #2c2e2f; padding-right: 10px; opacity: .9; cursor: pointer; word-break: break-word; line-height: 18px; }

.p_f_other .container .ryt_container .relatedpost .rtextcontainer .rtext .textwrapper a:hover { color: #2c2e2f; text-decoration: underline !important; }

.p_f_other .container .ryt_container .relatedpost .rtextcontainer .rtext .textwrapper span { font-size: 14px; float: left; margin-top: 3px; color: #447bbe; }

.p_f_other .container .ryt_container .relatedpost .rpfooter { background-color: #fff; padding: 15px 15px; font-weight: 500; border-radius: 5px 5px 0px 0px; font-size: 14px !important; border-top: 1px solid #f7f7f7; float: left; width: 100%; color: #8c8c8c; }

.p_f_other .container .ryt_container .applink { float: left; width: 100%; background: #fff; margin-top: 15px; border-radius: 5px; overflow: hidden; margin-bottom: 15px; }

.p_f_other .container .ryt_container .applink h4 { font-size: 14px; text-align: center; margin-top: 26px; color: #2c2e2f; opacity: .8; }

.p_f_other .container .ryt_container .applink .buttoncontainer { width: 100%; float: left; margin: 14px 0px 30px 0px; }

.p_f_other .container .ryt_container .applink .buttoncontainer .apple { width: 50%; float: left; box-sizing: border-box; float: left; text-align: right; padding-right: 5px; }

.p_f_other .container .ryt_container .applink .buttoncontainer .google { width: 50%; float: right; box-sizing: border-box; float: right; text-align: left; padding-left: 5px; }

.p_f_other .container .ryt_container .applink .buttoncontainer .google p { width: 100%; float: left; text-align: center; color: #f05050; font-size: 12px; font-weight: 500; margin-top: 5px; }

.pdng_left { padding-left: 0; }

.widgetpage_outer .pageinfo .carousel-control .icon-next, .widgetpage_outer .pageinfo .carousel-control .icon-prev { display: none; }

.left_related_article { width: 100%; height: 445px; background-color: #ffffff; float: left; margin-bottom: 15px; position: relative; }

.left_related_article .left_related_article_heading { padding: 15px; width: 100%; font-size: 18px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: 1.22; letter-spacing: normal; text-align: left; color: #2c2e2f; }

.left_related_article ul { list-style-type: none; width: 100%; height: calc(100% - 110px); overflow-y: auto; }

.left_related_article ul .left_related_list { float: left; width: 100%; padding: 10px 15px; }

.left_related_article ul .left_related_list:hover { background-color: rgba(223, 229, 235, 0.3); cursor: pointer; }

.left_related_article ul .left_related_list .left_related_inner_list { float: left; width: 100%; }

.left_related_article ul .left_related_list .left_related_inner_list .left_related_list_content { overflow: hidden; font-size: 14px; font-weight: normal; line-height: 1.43; letter-spacing: normal; text-align: left; color: #222222; margin: 0px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical !important; }

.left_related_article ul .left_related_list .left_related_inner_list .attempt_now { font-size: 12px; font-weight: 500; line-height: 1.67; text-align: left; color: #0778c4; display: none; }

.left_related_article ul .left_related_list .left_related_inner_list .attempt_now img { width: 6px; height: 10px; margin-left: 2px; }

.left_related_article ul .left_related_list .left_related_inner_list .left_related_date { opacity: 0.6; font-size: 12px; font-weight: normal; line-height: 1.5; letter-spacing: 0.12px; text-align: left; color: rgba(51, 51, 51, 0.6); margin-top: 10px; float: left; }

.left_related_article .viewAll { display: flex; justify-content: center; color: rgba(9, 81, 136, 0.8); padding: 10px 0; font-size: 14px; border-radius: 3px; cursor: pointer; background-color: rgba(28, 132, 201, 0.1); width: calc(100% - 20px); font-weight: 500; line-height: 1.21; position: absolute; bottom: 10px; left: 10px; }

.left_youtubeslider { width: 100%; float: left; background: #ffffff; padding-bottom: 10px; overflow: hidden; }

.left_youtubeslider .youtubeslider_heading { width: 100%; float: left; padding: 0 10px; border-bottom: 1px solid #dfe5eb; }

.left_youtubeslider .youtubeslider_heading .utube_img { display: inline-block; width: 97px; }

.left_youtubeslider .youtubeslider_heading .utube_img img { width: 100%; float: left; }

.left_youtubeslider .youtubeslider_heading .subscribe { background-color: #cc0000; height: 36px; font-size: 14px; line-height: 1.1; text-align: center; color: #ffffff; float: right; padding: 10px 15px; margin-top: 10px; width: 106px; }

.left_youtubeslider ._center_slide { width: 100%; float: left; padding: 10px 10px 12px 10px; }

.left_youtubeslider ._center_slide p { font-size: 14px; font-weight: 500; line-height: 1.29; text-align: left; color: #2c2e2f; }

._outer { border-radius: 5px; box-shadow: 0px 2px 8px 0 rgba(44, 46, 47, 0.1); border: solid 1px #e1e1e1; margin-bottom: 15px; width: 100%; float: left; }

._article_post { width: 100%; border-radius: 6px; background-color: transparent; float: left; margin-bottom: 15px 0; position: relative; }

._article_post ._article_post_heading { padding: 10px 0; border-bottom: 1px solid rgba(44, 46, 47, 0.4); width: 100%; font-size: 18px; font-weight: bold; line-height: 1.22; letter-spacing: normal; text-align: left; color: #2c2e2f; }

._article_post ul { list-style-type: none; width: 100%; height: 100%; overflow-y: auto; }

._article_post ul ._article_related_list { float: left; width: 100%; padding: 10px 0; }

._article_post ul ._article_related_list:hover { background-color: rgba(223, 229, 235, 0.3); cursor: pointer; }

._article_post ul ._article_related_list ._article_related_inner_list { float: left; width: 100%; }

._article_post ul ._article_related_list ._article_related_inner_list ._article_img { width: 100%; height: 62px; float: left; margin-bottom: 10px; }

._article_post ul ._article_related_list ._article_related_inner_list ._article_img img { height: 100%; max-width: 100%; }

._article_post ul ._article_related_list ._article_related_inner_list ._article_related_list_content { font-size: 15px; font-weight: 500; font-stretch: normal; font-style: normal; line-height: 1.27; letter-spacing: normal; text-align: left; color: #2c2e2f; margin: 0px; width: 100%; float: left; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; }

._article_post ul ._article_related_list ._article_related_inner_list ._article_related_list_content:hover { text-decoration: underline; }

._article_post ul ._article_related_list ._article_related_inner_list ._article_by { opacity: 0.8; font-size: 12px; font-weight: normal; line-height: 1.67; letter-spacing: normal; text-align: left; color: #222222; }

._login_course { width: 100%; float: left; padding: 15px; background-color: #ffffff; }

._login_course .login_heading { font-size: 14px; font-weight: 500; line-height: 1.21; letter-spacing: normal; text-align: left; color: #2c2e2f; display: block; margin-bottom: 15px; text-align: center; }

._login_course ._login_btn { height: 40px; border-radius: 5px; border: solid 1px #cc0000; background-color: rgba(240, 80, 80, 0.08); font-size: 14px; font-weight: 500; line-height: 1.21; letter-spacing: normal; text-align: left; color: #cc0000; width: 100%; text-align: center; }

._login_course ._or_option { width: 100%; float: left; padding: 10px; text-align: center; font-weight: 500; }

._login_course ._social_button { float: left; width: 100%; }

._login_course ._social_button .gmail_social_btn { float: left; width: 48%; box-sizing: border-box; text-align: left; line-height: 20px; background-color: #f8f8f8; height: 40px; cursor: pointer !important; border-radius: 3px; transition: all .2s; margin-right: 4%; }

._login_course ._social_button .gmail_social_btn .googleicon { float: left; width: 22px; height: 22px; margin-right: 5px; margin-top: -2px; }

._login_course ._social_button .gmail_social_btn .googleicon img { width: 100%; height: 100%; float: left; }

._login_course ._social_button .gmail_social_btn .sociallogin { display: inline-block; float: left; font-size: 14px; }

._login_course ._social_button .fb_button { float: right; width: 48%; box-sizing: border-box; text-align: left; height: 40px; line-height: 20px; cursor: pointer; background: #4d6fa9; color: #fff; border-radius: 3px; transition: all .2s; }

._login_course ._social_button .fb_button .fbicon { width: 22px; float: left; height: 22px; margin-right: 5px; margin-top: -2px; }

._login_course ._social_button .fb_button .fbicon img { width: 100%; height: 100%; float: left; }

._login_course ._social_button .fb_button .sociallogin { display: inline-block; float: left; font-size: 14px; }

._page_banner { max-height: 236px; min-height: 150px; width: 100%; float: left; border-radius: 5px; overflow: hidden; }

._page_banner img { width: 100%; height: 100%; float: left; }

._popular_courses { width: 100%; float: left; background: #ffffff; }

._popular_courses ._course_heading { font-size: 16px; font-weight: 500; line-height: 1.19; letter-spacing: normal; text-align: left; color: #2c2e2f; width: 100%; float: left; padding: 15px 10px 10px; }

._popular_courses .people_list { height: 360px; }

._popular_courses .people_list li { padding: 10px 0; }

._popular_courses .people_list .prfl_detail { max-width: 112px; }

._popular_courses .people_list .friendbtn { float: right; margin-top: 5px; }

._popular_courses .people_list .friendbtn .testt { display: inline-block; }

._popular_courses .people_list .friendbtn .testt button._connet_btn { width: 66px; height: 28px; border-radius: 15px; border: solid 0.5px #f05050; background-color: #fef2f2; font-size: 12px; line-height: 1.67; text-align: left; color: #f05050; text-align: center; padding: 0; }

._featured_courses { width: 100%; float: left; }

._featured_courses ._featured_courses_heading { font-size: 18px; font-weight: 500; line-height: 1.22; letter-spacing: normal; text-align: left; color: #2c2e2f; padding-bottom: 10px; }

._featured_courses .left.carousel-control.carousel-control-prev { background-image: none; }

._featured_courses .right.carousel-control.carousel-control-next { background-image: none; }

.courseslide { padding: 0; position: relative; border: 0; width: 100%; float: left; background: #ffffff; border-radius: 6px; box-shadow: 0px 2px 10px 0 rgba(44, 46, 47, 0.15); }

.courseslide .imgLeft { position: relative; border-radius: 3px; background-color: #fdeded; max-height: 125px; }

.courseslide .imgLeft iframe { width: 100%; height: 100%; float: left; }

.courseslide .imgLeft img { border-radius: 5px 5px 0 0; width: 100%; height: 100%; max-height: 125px; }

.courseslide .dataRight { width: 100%; float: left; position: unset; padding: 10px; height: 182px; }

.courseslide .dataRight .headingMn { font-size: 16px; padding-right: 0; width: 100%; display: block; font-weight: 500; line-height: 1.31; letter-spacing: normal; text-align: left; color: #2c2e2f; }

.courseslide .dataRight .dtcontr { margin-top: 5px; margin-bottom: 0; display: block; text-align: left; width: 100%; float: left; }

.courseslide .dataRight .dtcontr .dotLft, .courseslide .dataRight .dtcontr .aftdot { opacity: 0.6; font-size: 12px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 1.67; letter-spacing: normal; text-align: left; color: #222222; float: left; }

.courseslide .dataRight .dtcontr .dot { float: left; margin: 9px 5px; color: rgba(44, 46, 47, 0.9); line-height: 14px; width: 3px; height: 3px; background: rgba(44, 46, 47, 0.9); border-radius: 50%; }

.courseslide .dataRight .dWnhead { font-size: 12px; line-height: 1.67; text-align: left; color: #0972db; display: block; text-align: left; margin-bottom: 5px; margin-top: 5px; }

.courseslide .dataRight .dWnhead .byhead { color: #333333; }

.courseslide .dataRight .amntcourse { bottom: 10px; right: 10px; padding-right: 0; display: block; width: 100%; float: left; position: absolute; }

.courseslide .dataRight .amntcourse .courserate { font-size: 22px; text-align: right; color: #161616; float: right; line-height: 27px; }

.courseslide .dataRight .amntcourse .courserate img { width: 15px; margin-top: -3px; }

.courseslide .dataRight .amntcourse .discount { width: 100%; float: right; }

.courseslide .dataRight .amntcourse .discount .offrate { font-size: 14px; text-align: left; color: #161616; float: right; margin-left: 5px; position: relative; }

.courseslide .dataRight .amntcourse .discount .offrate img { width: 10px; margin-top: -2px; }

.courseslide .dataRight .amntcourse .discount .offrate .cross_line { position: absolute; top: 8px; left: 0; right: 0; border-top: 1px solid #2c2e2f; }

.courseslide .dataRight .amntcourse .discount .offfprc { font-size: 14px; font-weight: 500; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: normal; text-align: left; color: #0f98df; float: right; }

._course_list { width: 100%; float: left; padding: 0 15px 15px; background: #ffffff; }

._course_list ._course_list_heading { font-size: 18px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: 1.22; letter-spacing: normal; text-align: left; color: #2c2e2f; padding: 15px 0; }

.applink { background: transparent !important; }

.applink h4 { text-align: left !important; padding-bottom: 10px; margin-top: 0 !important; border-bottom: 1px solid rgba(44, 46, 47, 0.4); font-size: 18px !important; font-weight: 500; line-height: 1.22; color: #2c2e2f !important; opacity: unset !important; padding-top: 15px; }

.applink p { font-size: 14px; line-height: 1.29; letter-spacing: normal; text-align: left; color: #2c2e2f; margin-top: 10px; }

.applink .buttoncontainer .google img, .applink .buttoncontainer .apple img { width: 100%; }

._slider_wrapper { width: 600px; float: left; margin-left: 10px; }

._slider_wrapper .video_card { width: 100%; float: left; height: 108px; }

._slider_wrapper .video_card .courseslide { border-radius: 0; height: 100%; }

._slider_wrapper .video_card .courseslide .imgLeft { border-radius: 0; width: 100%; height: 100%; float: left; }

._slider_wrapper .video_card .courseslide .imgLeft img { height: 100%; border-radius: 0; }

._popular_courses .profileimg_know { width: 38px !important; height: 38px !important; }

._popular_courses .prfl_detail { margin-top: 0 !important; }

._popular_courses .prfl_detail .profilename.profile_name { margin-bottom: 7px; }

._popular_courses .prfl_detail .profilename.profile_name .Notificationlist_name { font-size: 13px; font-weight: normal; line-height: 1.46; letter-spacing: normal; text-align: left; color: #0c0909; }

.freerate { cursor: pointer; font-size: 16px !important; color: rgba(44, 46, 47, 0.8); font-weight: 600; }

.mobile_youtube, .__popular_pages, .__featured_course { display: none; }

@media only screen and (max-width: 991px) and (min-width: 768px) { .right_widget { display: none; } }

@media only screen and (max-width: 991px) { .p_f_other .container.main_body { margin-bottom: 42px; }
  .p_f_other .container.main_body .ryt_container { padding-left: 0; } }

@media only screen and (max-width: 600px) { .single-postview-wrapper { margin-bottom: 0px; }
  .container.main_body { width: 100%; float: left; margin-bottom: 45px; }
  .publicview .container.main_body { margin-bottom: 10px; margin-top: 67px !important; } }

@media only screen and (max-width: 992px) { .publicview .container.main_body { margin-bottom: 10px; margin-top: 77px; } }

@media only screen and (max-width: 767px) { .publicview .container.main_body { padding: 0; } }

.__featured_course { margin-top: 10px; }

.__featured_course .pageSuggestionInnerWrapper .card.mb-2_course { width: 240px; float: left; margin-right: 10px; }

.__featured_course .pageSuggestionInnerWrapper .card.mb-2_course .leftmenuicons { display: block; position: absolute; right: 6px; top: 6px; }

.__featured_course .pageSuggestionInnerWrapper .card.mb-2_course .leftmenuicons .rmenu { width: 30px; height: 30px; box-shadow: 0px 2px 8px 0 rgba(44, 46, 47, 0.1); border: solid 1px #bebebe; background-color: #bebebe; text-align: center; display: inline-block; border-radius: 50%; display: flex; float: right; margin-left: 10px; }

.__featured_course .pageSuggestionInnerWrapper .card.mb-2_course .leftmenuicons .rmenu ._savecoursepost { width: 10px !important; height: 15px !important; }

.__featured_course .pageSuggestionInnerWrapper .card.mb-2_course .leftmenuicons .rmenu img { width: 11px; height: 12px; margin: auto; }

.__featured_course .pageSuggestionInnerWrapper .card.mb-2_course .courseslide .imgLeft .leftTopsell { background-color: #91f6d2; position: absolute; border-radius: 3.5px; font-family: 'Poppins', sans-serif; font-size: 10px; font-weight: 500; line-height: 1.8; text-align: left; color: rgba(0, 0, 0, 0.8); padding: 0 10px; top: 10px !important; left: 10px !important; }

.__featured_course .pageSuggestionInnerWrapper .card.mb-2_course .leftdown { left: 10px; bottom: 10px; font-size: 14px; line-height: 1.29; text-align: left; color: #333333; position: absolute; }

.__featured_course .pageSuggestionInnerWrapper .card.mb-2_course .leftdown img { width: 15px; height: 15px; float: left; margin-right: 5px; }

.pageSuggestionOuterWrapper { float: left; width: 100%; overflow: auto; position: relative; }

.pageSuggestionOuterWrapper .pageSuggestionInnerWrapper { float: left; width: -webkit-max-content; width: -moz-max-content; width: max-content; padding-top: 10px; }

.pageSuggestionOuterWrapper .pageSuggestionInnerWrapper .card.mb-2_slide { text-align: center; border: 1px solid #e9e9e9; position: relative; float: left; width: 175px; height: 108px; }

.pageSuggestionOuterWrapper .pageSuggestionInnerWrapper .card.mb-2_slide iframe { width: 100%; height: 100%; float: left; }

.pageSuggestionOuterWrapper .pageSuggestionInnerWrapper .card.mb-2_slide img { width: 100%; height: 100%; }

.pageSuggestionOuterWrapper { -ms-overflow-style: none; /* Internet Explorer 10+ */ scrollbar-width: none; /* Firefox */ }

.pageSuggestionOuterWrapper::-webkit-scrollbar { display: none; /* Safari and Chrome */ }

.mobileview_card { width: 100%; float: left; margin-bottom: 25px; }

.mobileview_card .heading_ h2 { font-size: 16px; font-weight: 500; line-height: 1.13; letter-spacing: 0.16px; text-align: left; color: #2c2e2f; margin-top: 10px; margin-bottom: 5px; }

.card.mb-2_page { width: 220px; float: left; margin-right: 10px; }

._popularpagesSliderWeapper { float: left; width: 100%; }

._popularpagesSliderWeapper ._popular_page_card { height: 255px; border-radius: 6px; box-shadow: 0px 2px 8px 0 rgba(44, 46, 47, 0.1); background-color: #ffffff; position: relative; overflow: hidden; }

._popularpagesSliderWeapper ._popular_page_card ._pagecard_img_wrapper { position: relative; float: left; width: 100%; height: 93px; }

._popularpagesSliderWeapper ._popular_page_card ._pagecard_img_wrapper img { float: left; width: 100%; height: 100%; }

._popularpagesSliderWeapper ._popular_page_card ._pagecard_img_wrapper ._profile_wrapper { position: absolute; bottom: 0px; border-radius: 100%; width: 60px; height: 60px; left: 50%; margin-left: -30px; box-shadow: 0px 2px 7.8px 0.2px rgba(44, 46, 47, 0.13); overflow: hidden; margin-bottom: -30px; }

._popularpagesSliderWeapper ._popular_page_card ._pagecard_img_wrapper ._profile_wrapper img { float: left; width: 100%; height: 100%; }

._popularpagesSliderWeapper h4 { width: 100%; float: left; text-align: center; font-family: 'Poppins', sans-serif; font-size: 14px; font-weight: 500; font-stretch: normal; font-style: normal; line-height: 1.29; letter-spacing: 0.14px; text-align: center; color: #222222; margin-bottom: 0px; margin-top: 41px; }

._popularpagesSliderWeapper ._follower_Count { float: left; width: 100%; text-align: center; opacity: 0.98; font-family: Lato; font-size: 12px; font-weight: normal; line-height: normal; letter-spacing: 0.12px; text-align: center; color: rgba(51, 51, 51, 0.98); margin-top: 7px; margin-bottom: 0px; }

._popularpagesSliderWeapper button { width: 104px; height: 30px; border-radius: 15px; border: solid 0.5px #f09c9c; background-color: #f09c9c50; font-size: 14px; color: #f05050; /* line-height: 0.89; */ position: absolute; bottom: 28px; left: 50%; margin-left: -52px; display: flex; justify-content: center; align-content: center; flex-flow: row; line-height: 2; bottom: 20px; }

._popularpagesSliderWeapper button img { width: 14px; height: 14px; margin-right: 4px; position: relative; top: 6px; }

.mobile_youtube ._center_slide { padding: 10px 0 0 10px !important; }

@media only screen and (max-width: 600px) { .single-postview-wrapper.wrapper { margin-bottom: 0px !important; }
  .single-postview-wrapper.wrapper::after { display: table; content: ""; clear: both; } }

@media only screen and (max-width: 991px) { .publicview .container.main_body { padding: 0 10px !important; }
  .publicview .container.main_body ._outer { margin-bottom: 10px; }
  .publicview .container.main_body ._page_banner, .publicview .container.main_body ._popular_courses, .publicview .container.main_body .applink, .publicview .container.main_body ._course_list, .publicview .container.main_body ._featured_courses { display: none; }
  .publicview .container.main_body .mobile_youtube, .publicview .container.main_body .__popular_pages, .publicview .container.main_body .__featured_course { display: block; }
  .publicview .container.main_body .leftyoutube { display: none; } }
