<div class="connectionrequest_outer" *ngIf="!publicProfile">
    <div class="placeholde-wrapper right_reloader " *ngIf="loaderscreen">
        <div class="animated-background rightloader">
            <div class="circle cir_animation animated-background"></div>
            <div class="whitediv bottom11"></div>
            <div class="whitediv bottom10"></div>
            <div class="whitediv bottom9"></div>
            <div class="whitediv bottom8"></div>
            <div class="whitediv bottom5"></div>
        </div>

        <div class="animated-background rightloader ">
            <div class="circle cir_animation animated-background"></div>
            <div class="whitediv bottom11"></div>
            <div class="whitediv bottom10"></div>
            <div class="whitediv bottom9"></div>
            <div class="whitediv bottom8"></div>
            <div class="whitediv bottom5"></div>
        </div>

        <div class="animated-background rightloader ">
            <div class="circle cir_animation animated-background"></div>
            <div class="whitediv bottom11"></div>
            <div class="whitediv bottom10"></div>
            <div class="whitediv bottom9"></div>
            <div class="whitediv bottom8"></div>
            <div class="whitediv bottom5"></div>
        </div>

        <div class="animated-background rightloader ">
            <div class="circle cir_animation animated-background"></div>
            <div class="whitediv bottom11"></div>
            <div class="whitediv bottom10"></div>
            <div class="whitediv bottom9"></div>
            <div class="whitediv bottom8"></div>
            <div class="whitediv bottom5"></div>
        </div>
    </div>
    <div *ngIf="!loaderscreen">
        <h6 class="widgetheading top_heading">Connections <a class="head_n" routerLink='/profile/#connection:connections' (click)="changeTab()" *ngIf="connectionWidgetView === 1"></a></h6>
        <div class='people_list'  *ngIf="connectionWidgetView === 1" [perfectScrollbar]="config" style="position:relative;margin-bottom:0px;">
            <ul class="conectoin_list_ul">
                <li *ngFor="let connections of myconnection">
                    <div class="profileimg_know cursor-pointer">
                        <img src='{{ connections.PROFILE_PHOTO_PATH }}' routerLink="/profile/{{connections.USER_NAME}}" (error)="updateSourcePic($event)">
                    </div>
                    <div class='prfl_detail cursor-pointer' style="width:150px;">
                        <div title="{{connections.FULL_NAME}}" class="profilename" routerLink="/profile/{{connections.USER_NAME}}">{{ connections.FULL_NAME |trimData:17}}</div>
                        <div class="grayinfo">{{ connections.LAST_ACTIVE_TIME }}</div>
                        <!-- <div class="grayinfo">Followers {{ connections.followers }}K</div> -->
                    </div>
                </li>
            </ul>
        </div>
        <h6 class="footer_heading"  (click)="changeTab()" *ngIf="connectionWidgetView === 1 ">
            <span *ngIf="connectionWidgetView === 1 ">View all &nbsp;
                <span>
                    <img class="greater" src="assets/images/svg-three/greater.svg" alt="study24x7">
                </span>
            </span>
        </h6>
        <div class="emptystate" *ngIf="connectionWidgetView === 2" >
            <div class="emptystate_inner">
                <img src="assets/images/emptystates/svg/noconnectionfound.svg">
                <p>No connection</p>
            </div>

        </div>
    </div>
</div>




<!-- connection other view -->
<div class="connectionrequest_outer" *ngIf="publicProfile">
    <div class="placeholde-wrapper right_reloader " *ngIf="loaderscreen">
        <div class="animated-background rightloader">
            <div class="circle cir_animation animated-background"></div>
            <div class="whitediv bottom11"></div>
            <div class="whitediv bottom10"></div>
            <div class="whitediv bottom9"></div>
            <div class="whitediv bottom8"></div>
            <div class="whitediv bottom5"></div>
        </div>

        <div class="animated-background rightloader ">
            <div class="circle cir_animation animated-background"></div>
            <div class="whitediv bottom11"></div>
            <div class="whitediv bottom10"></div>
            <div class="whitediv bottom9"></div>
            <div class="whitediv bottom8"></div>
            <div class="whitediv bottom5"></div>
        </div>

        <div class="animated-background rightloader ">
            <div class="circle cir_animation animated-background"></div>
            <div class="whitediv bottom11"></div>
            <div class="whitediv bottom10"></div>
            <div class="whitediv bottom9"></div>
            <div class="whitediv bottom8"></div>
            <div class="whitediv bottom5"></div>
        </div>

        <div class="animated-background rightloader ">
            <div class="circle cir_animation animated-background"></div>
            <div class="whitediv bottom11"></div>
            <div class="whitediv bottom10"></div>
            <div class="whitediv bottom9"></div>
            <div class="whitediv bottom8"></div>
            <div class="whitediv bottom5"></div>
        </div>
    </div>
    <div *ngIf="!loaderscreen">
        <h6 class="widgetheading top_heading">Connections
          <a class="head_n"  *ngIf="connectionWidgetView === 1">
          </a>
        </h6>
        <div class='people_list'  *ngIf="connectionWidgetView === 1" [perfectScrollbar]="config" style="position:relative;margin-bottom:0px;">
            <ul class="conectoin_list_ul">
                <li *ngFor="let connections of myconnection">
                    <div class="profileimg_know cursor-pointer">
                        <img src='{{ connections.PROFILE_PHOTO_PATH }}'  (error)="updateSourcePic($event)" routerLink="/profile/{{connections.USER_NAME}}">
                    </div>
                    <div class='prfl_detail cursor-pointer' style="width:150px;">
                        <div class="profilename" title="{{connections.FULL_NAME}}" routerLink="/profile/{{connections.USER_NAME}}">{{ connections.FULL_NAME |trimData:17}}</div>
                        <!--<div class="grayinfo">{{ connections.LAST_ACTIVE_TIME }}</div>-->
                    </div>
                </li>
            </ul>
        </div>
        <h6 class="footer_heading" *ngIf="connectionWidgetView === 1">
            <span *ngIf="connectionWidgetView === 1">View all &nbsp;
                <span>
                    <img class="greater" src="assets/images/svg-three/greater.svg" alt="study24x7">
                </span>
            </span>
        </h6>
        <div class="emptystate" *ngIf="connectionWidgetView === 2" >
            <div class="emptystate_inner">
                <img src="assets/images/emptystates/svg/noconnectionfound.svg" style="width: 200px!important;">
                <p style="padding:15px;">No connection</p>
            </div>

        </div>
    </div>
</div>
<!-- connection other view end -->
<app-confirmationpopup *ngIf="openConfirmation" (closeComfirmPopupThread)="closePopup($event);" [dataObj]="dataConf"></app-confirmationpopup>
