<div id="weAreHiringComponent" class="everthing_about everthing_wearehiring">
	  <div class="container ">
			<div class="mainwrapper ">
			<div class="wrapperhead headCont">
	 <h2 class="heading_bold">We are Hiring !</h2>
	 <p class="headDesp">Enough about us. We’re more interested in you. Talent sourcing is in our blood, so if you’re bright, bold and after more than just a job, get in touch.</p>
	 <div class="togglesec ">
	 	<div class="toggleDiv">Our Hiring Partners</div>
		<div class="partnerCareer ">
     <div class="exittextLogo">
       <img class="partnerlogo1" src="assets/images/career/exittestLogo1.png"  />
     </div>
     <div class="logosep">

     </div>
     <div class="gingerLogo">
      <img class="partnerlogo2" src="assets/images/career/gingerLogo1.png"  />
     </div>
    </div>
	 </div>
	 </div>
   <div class="_wrapper">
     <div class="we_are_hiring">
     <div class="sec_for_card">
       <div class="card_top">
         <div class="card_left">
           <div class="card_head">
               <span class="class_image"><img src="assets/images/career/achievement.svg" alt=""></span>
              <span class="headinggOne">Freshers & Campus Hiring</span>

           </div>
           <p class="stepDesp">Follow these steps to apply :</p>
           <ul class="stepsul">
             <li class="listli list1">Visit <a href="aio.com/careers/fresher" target="_blank">aio.com/careers/fresher</a></li>
             <li class="listli list2">Apply for fresher jobs by Registering on Study24x7
(Technical or Non-Technical)</li>
             <li class="listli list3">Fill out the application form</li>
             <li class="listli list4">Schedule your Qualifier Test</li>
             <li class="listli list5">Get Interviewed & Hired!</li>
           </ul>
         </div>
         <div class="card_right">
            <p>Hiring for multiple positions in every field</p>

            <div class="card_left card_left1">
              <div class="card_head">
                  <span class="class_image"><img src="assets/images/career/slider-navigation.svg" alt=""></span>
                 <span class="headinggOne">Technical Jobs</span>

              </div>
              <p>Requires interest in latest
technology and programming</p>
              <ul>
                <li>Software Developers</li>
                <li>Quality and Testing</li>
                <li>Digital Marketing</li>
              </ul>
            </div>
            <div class="card_left card_left2">
              <div class="card_head">
                  <span class="class_image"><img src="assets/images/career/achievement.svg" alt=""></span>
                 <span class="headinggOne">Non-Technical Jobs</span>

              </div>
              <p>Choose if you are interested
in designing, sales and marketing.</p>
              <ul>
                <li>Designers</li>
                <li>Sales and Marketting</li>
                <li>Various Analyst positions</li>

              </ul>

            </div>
            <button (click)="goToFresherJobs()" type="button" name="button" class="btneffect">Go to Fresher Jobs<span class="start_test"><img src="assets/images/career/arrowWhite.gif" alt=""></span></button>
         </div>
       </div>


     </div>
     </div>
   </div>
  </div>
  </div>
  </div>
