/* ========================================================================== Common variables ========================================================================== */
/**
*
* DO NOT use these variables directly in components.
* Assign them to component specific variables
*
*/
/* Colors */
/* Border radius */
/* ========================================================================== Browser support ========================================================================== */
/* ========================================================================== Component specific variables ========================================================================== */
/* Typography ========================================================================== */
/* $baseFontFamily: Arial, sans-serif; */
/* $baseSpacing: $baseLineHeight+em; */
/* $baseTextColor: $black; */
/* Type Color */
/* $typeHighlight: $blue;
$typeLowlight: $lightGrey; */
/* Link ========================================================================== */
/* $linkColor: $blue;
$linkHoverColor: $lightBlue; */
/* Background ========================================================================== */
/* $bgBasic: #fff; */
/* Box ========================================================================== */
/* Contour */
/* $boxBasicBorderRadius: $borderRadiusDefault; */
/* Box foot */
/* $boxFootDivider: $blue; */
/* Divider ========================================================================== */
/* $dividerColor: $blue; */
/* List ========================================================================== */
/* $listInlineDividerBorder: $lightGrey;
$listBorder: $lightGrey; */
/* Table ========================================================================== */
/* $tableBorderColor: $blue; */
/* Form ========================================================================== */
/* $labelLeftWidth: 30%;
$formFieldBorder: 1px solid $grey;
$placeholderText: $lightGrey; */
/* Button ========================================================================== */
/* $btnDefaultBg: #ddd;
$btnDefaultBorder: $lightGrey; */
/* Template ========================================================================== */
/* $skipLinkBg: $black;
$bodyBg: #fff;
$pageWidth: 997px; */
/* header */
/* $headerBgStop1: #09456a;
$headerBgStop2: #02587e;
$contentBg: #fff;
$contentWidth: 960px; */
/* footer */
/* $footerBorder: $lightGrey; */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap");
.bgwhite { background: #fff; width: 100%; float: left; }

.pd80 { padding: 90px 0px; }

.main_wrapper { width: 100%; float: left; }

.everthing_howtoapply { float: left; width: 100%; background-color: #fff; padding: 75px 0px 75px 0px; }

.heading_bold { font-family: "Montserrat"; font-size: 36px; text-align: left; color: #000000; margin-bottom: 15px; font-weight: bold; }

.wrapperhead { width: 100%; float: left; position: relative; }

.wrapperhead p { font-size: 16px; color: rgba(0, 0, 0, 0.9); font-weight: normal; line-height: 22px; }

.headCont { padding-right: 580px; }

.everthing_wearehiring { background-color: #f5f7f9; float: left; width: 100%; padding: 90px 0px; }

.everthing_wearehiring .togglesec { position: absolute; right: 0; top: 15px; width: 270px; }

.everthing_wearehiring .togglesec .toggleDiv { font-size: 16px; font-family: "Montserrat"; line-height: 18px; color: #000; font-weight: bold; margin-bottom: 15px; }

.everthing_wearehiring .partnerCareer { display: flex; justify-content: space-between; align-items: center; }

.everthing_wearehiring .partnerCareer .exittextLogo { width: 120px; }

.everthing_wearehiring .partnerCareer .exittextLogo img.partnerlogo1 { width: 100%; }

.everthing_wearehiring .partnerCareer .logosep { width: 0; height: 35px; opacity: 0.5; border: solid 1px #707070; }

.everthing_wearehiring .partnerCareer .gingerLogo { width: 115px; padding-left: 5px; }

.everthing_wearehiring .partnerCareer .gingerLogo img.partnerlogo2 { width: 100%; height: 100%; }

.we_are_hiring { background-color: #f5f7f9; }

.we_are_hiring .sec_for_card { width: 100%; border-radius: 15px; border: solid 1px rgba(0, 0, 0, 0.2); background-color: #ffffff; float: left; margin-top: 50px; padding: 40px 40px 25px; }

.we_are_hiring .sec_for_card .follow_steps { float: left; width: 40%; height: 100%; border-bottom: 1px solid #ccc; }

.we_are_hiring .sec_for_card .multiple_positions { float: left; width: 60%; height: 100%; }

.everthing_wearehiring .card_top { width: 100%; float: left; margin-bottom: 10px; }

.everthing_wearehiring .card_top .card_left { width: 45%; float: left; padding: 0px; border-right: 1px solid #ccc; padding-right: 40px; }

.everthing_wearehiring .card_top .card_left p { font-family: "Montserrat"; font-size: 18px; font-weight: bold; margin-bottom: 25px; margin-top: 45px; color: #f05050; }

.everthing_wearehiring .card_top .card_left ul { margin-top: 10px; position: realtive; }

.everthing_wearehiring .card_top .card_left ul li { font-size: 16px; line-height: 22px; color: #000; margin-top: 8px; padding-left: 40px; position: relative; }

.everthing_wearehiring .card_top .card_left ul li:before { content: ''; background-image: url("../../../../assets/images/career/red-tik.svg"); margin-right: 10px; width: 15px; height: 12px; display: inline-block; margin-top: 0px; background-repeat: no-repeat; }

.everthing_wearehiring .card_top .card_left ul .listli { margin-top: 0px; margin-bottom: 20px; }

.everthing_wearehiring .card_top .card_left ul .listli:before { content: ''; font-family: "Montserrat"; margin-right: 10px; width: 26px; height: 26px; display: inline-block; margin-top: 0px; background-color: #f05050; color: #fff; position: absolute; left: 0; border-radius: 100%; display: flex; justify-content: center; align-items: center; font-size: 11px; background-image: none; font-weight: bold; }

.everthing_wearehiring .card_top .card_left ul .list1:before { content: '1'; border: 3px solid white; }

.everthing_wearehiring .card_top .card_left ul .list2:before { content: '2'; border: 3px solid rgba(255, 255, 255, 0.4); }

.everthing_wearehiring .card_top .card_left ul .list3:before { content: '3'; }

.everthing_wearehiring .card_top .card_left ul .list4:before { content: '4'; }

.everthing_wearehiring .card_top .card_left ul .list5:before { content: '5'; }

.everthing_wearehiring .card_top .card_left ul .list3:before, .everthing_wearehiring .card_top .card_left ul .list4:before, .everthing_wearehiring .card_top .card_left ul .list5:before { border: 2px solid #f05050; background-color: #fff; color: #f05050; width: 24px; height: 24px; left: 1px; }

.everthing_wearehiring .card_top .card_left ul.stepsul { position: relative; }

.everthing_wearehiring .card_top .card_left ul.stepsul:before { content: ''; width: 1px; opacity: 0.2; position: absolute; left: 13px; background-color: #707070; top: 0px; bottom: 0px; }

.everthing_wearehiring .card_top .card_left .card_head { width: 100%; padding: 0px 0px 15px 50px; position: relative; }

.everthing_wearehiring .card_top .card_left .card_head span.class_image { width: 32px; height: 32px; position: absolute; left: 0px; top: 0px; }

.everthing_wearehiring .card_top .card_left .card_head span.class_image img { width: 100%; height: 100%; }

.everthing_wearehiring .card_top .card_left .card_head span.headinggOne { font-family: "Montserrat"; font-size: 26px; font-weight: bold; color: #000; display: block; line-height: 26px; }

.everthing_wearehiring .card_top .card_left .card_head span.headinggtwo { /* font-family: $fontmontserrat; */ font-size: 16px; line-height: 22px; color: #000; display: block; margin-top: 10px; }

.everthing_wearehiring .card_top .card_right { width: 55%; float: left; padding: 0px; background: #ffffff; border-radius: 6px; text-align: center; padding-left: 40px; /* display: flex;
flex-wrap: wrap;
justify-content: space-around; */ }

.everthing_wearehiring .card_top .card_right p { font-family: "Montserrat"; font-size: 18px; font-weight: bold; color: #f05050; line-height: 22px; margin-bottom: 25px; text-align: center; }

.everthing_wearehiring .card_top .card_right .card_head { padding: 2px 0px 15px 35px; }

.everthing_wearehiring .card_top .card_right .card_head span.class_image { width: 26px; height: 26px; }

.everthing_wearehiring .card_top .card_right .card_head span.class_image img { width: 100%; height: 100%; }

.everthing_wearehiring .card_top .card_right .card_head span.headinggOne { font-size: 14px; line-height: 22px; text-align: left; }

.everthing_wearehiring .card_top .card_right .card_head span.headinggtwo { /* font-family: $fontmontserrat; */ font-size: 16px; line-height: 22px; color: #000; display: block; margin-top: 10px; }

.everthing_wearehiring .card_top .card_right .card_left { width: 48%; float: left; padding: 20px; box-shadow: none; border: solid 1px #f05050; background-color: #ffffff; border-radius: 6px; }

.everthing_wearehiring .card_top .card_right .card_left p { font-size: 14px; font-weight: normal; color: rgba(0, 0, 0, 0.9); line-height: 18px; margin-bottom: 15px; text-align: left; margin-top: 0px; font-family: inherit; }

.everthing_wearehiring .card_top .card_right .card_left ul li { font-size: 14px; line-height: 18px; color: #000; margin-top: 10px; padding-left: 25px; position: relative; text-align: left; }

.everthing_wearehiring .card_top .card_right .card_left ul li:before { content: ''; background-image: url("../../../../assets/images/career/red-tik.svg"); margin-right: 10px; width: 15px; height: 15px; display: inline-block; margin-top: 0px; background-repeat: no-repeat; position: absolute; left: 0px; top: 2px; background-size: 100% 100%; }

.everthing_wearehiring .card_top .card_right .card_left1 { margin-right: 2%; }

.everthing_wearehiring .card_top .card_right .card_left2 { margin-left: 2%; }

.everthing_wearehiring .card_top .card_right button { width: 216px; height: 48px; border-radius: 36px; box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1); border: solid 1px #f05050; background-color: #f05050; color: #fff; margin-top: 35px; font-size: 16px; font-family: "Montserrat"; font-weight: bold; position: relative; }

.everthing_wearehiring .card_top .card_right button:hover { padding-right: 20px; transition: 0.2s; }

.everthing_wearehiring .card_top .card_right button:hover .start_test { display: inline-block; }

.start_test { display: inline-block; width: 16px; height: 16px; display: none; position: absolute; right: 13px; }

.start_test img { width: 100%; margin-top: -1px; }

.btneffect { z-index: 3; position: relative; transition: all ease-in .3s !important; -moz-transition: all ease-in .3s !important; -ms-transition: all ease-in .3s !important; -o-transition: all ease-in .3s !important; -webkit-transition: all ease-in .3s !important; -webkit-animation-name: btneffect; overflow: hidden; }

.btneffect:hover:before { animation-duration: 2s; animation-fill-mode: both; animation-name: btneffect; -webkit-animation-duration: 2s; -webkit-animation-fill-mode: both; -webkit-animation-name: btneffect; }

.btneffect:before { position: absolute; left: 50%; top: 50%; width: 800px; height: 800px; content: ""; border-radius: 50%; transform: translate(-50%, -50%) scale(0); -webkit-transform: translate(-50%, -50%) scale(0); transform-origin: center center; -webkit-transform-origin: center center; visibility: hidden; opacity: 0; z-index: -1; }

.btneffect:before, .btneffect:hover { background: #ff6363; }

@keyframes btneffect { from { transform: translate(-50%, -50%) scale(0);
    -webkit-transform: translate(-50%, -50%) scale(0);
    visibility: visible;
    opacity: 1; }
  to { transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
    visibility: hidden;
    opacity: 0; } }

@-webkit-keyframes btneffect { from { transform: translate(-50%, -50%) scale(0);
    -webkit-transform: translate(-50%, -50%) scale(0);
    visibility: visible;
    opacity: 1; }
  to { transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
    visibility: hidden;
    opacity: 0; } }

@media only screen and (max-width: 1024px) { .everthing_wearehiring { padding: 80px 0px; }
  .heading_bold { font-size: 32px; }
  .headCont { padding-right: 360px; }
  .we_are_hiring .sec_for_card { padding: 20px 20px 25px; }
  .everthing_wearehiring .card_top .card_left { width: 40%; padding-right: 20px; }
  .everthing_wearehiring .card_top .card_left p { margin-bottom: 25px; margin-top: 25px; }
  .everthing_wearehiring .card_top .card_right { width: 60%; padding-left: 20px; } }

@media only screen and (max-width: 768px) { .heading_bold { font-size: 26px; }
  .headCont { padding-right: 0px; }
  .everthing_wearehiring { padding: 40px 0px; }
  .everthing_wearehiring .card_top .card_left { width: 100%; padding-right: 0px; border-right: 0px solid #ccc; margin-bottom: 20px; }
  .everthing_wearehiring .card_top .card_left .card_head span.headinggOne { font-size: 22px; }
  .everthing_wearehiring .card_top .card_right { width: 100%; padding-left: 0px; }
  .everthing_wearehiring .card_top .card_right .card_left .card_head span.headinggOne { font-size: 14px; }
  .everthing_wearehiring .togglesec { position: relative; right: 0; top: 25px; width: 270px; }
  .everthing_wearehiring .we_are_hiring .sec_for_card { margin-top: 60px; padding: 20px 20px 25px; }
  .everthing_wearehiring .card_top .card_right button { padding-right: 20px; transition: 0.2s; }
  .everthing_wearehiring .card_top .card_right button .start_test { display: inline-block; } }

@media only screen and (max-width: 480px) { .everthing_wearehiring .togglesec { margin-left: auto; margin-right: auto; display: none; }
  .everthing_wearehiring .we_are_hiring .sec_for_card { margin-top: 10px; padding: 20px 15px 20px; }
  .everthing_wearehiring .heading_bold { font-size: 20px; }
  .everthing_wearehiring .headDesp { display: none; }
  .everthing_wearehiring .card_top .card_left p { font-size: 14px; margin-bottom: 20px; margin-top: 15px; }
  .everthing_wearehiring .card_top .card_left .stepDesp, .everthing_wearehiring .card_top .card_left .stepsul { display: none; }
  .everthing_wearehiring .card_top .card_left .card_head { margin-bottom: -15px; padding: 0px 0px 15px 34px; width: 255px; margin: 0 auto -15px auto; }
  .everthing_wearehiring .card_top .card_left .card_head span.class_image { width: 25px; height: 25px; }
  .everthing_wearehiring .card_top .card_left .card_head span.headinggOne { font-size: 16px; }
  .everthing_wearehiring .card_top .card_left ul li { font-size: 14px; }
  .everthing_wearehiring .card_top .card_right p { font-size: 14px; margin-bottom: 20px; }
  .everthing_wearehiring .card_top .card_right .card_left { display: block; width: 100%; }
  .everthing_wearehiring .card_top .card_right .card_left .card_head { margin-bottom: 0px; padding: 2px 0px 15px 35px; width: 100%; }
  .everthing_wearehiring .card_top .card_right .card_left .card_head span.headinggOne { font-size: 14px; }
  .everthing_wearehiring .card_top .card_right .card_left1 { margin-right: 0%; }
  .everthing_wearehiring .card_top .card_right .card_left2 { margin-left: 0%; }
  .everthing_wearehiring .card_top .card_right button { height: 45px; margin-top: 20px; }
  .wrapperhead p { font-size: 14px; } }
