
@import '../../sass/abstracts/variables';

$subcommentPicture: $commentPicture - 10px;
$mainpostName: 14px;

.editor_container.symbol-keyboard-wrap{
  .symbol-wrap{
    .symbol-btn{
      display:inline-block;
      width:35px;
      height:35px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      margin-bottom:10px;
      // margin-right:10px;
      border:1px solid rgba($textcolor,0.15);
      background-color:white;
      background-image:url('../../../assets/images/svg-one/equation/12_12_1.png');
      background-repeat:no-repeat;
      background-position:-36px -36px;
    }
  }
}
