/* ========================================================================== Common variables ========================================================================== */
/**
*
* DO NOT use these variables directly in components.
* Assign them to component specific variables
*
*/
/* Colors */
/* Border radius */
/* ========================================================================== Browser support ========================================================================== */
/* ========================================================================== Component specific variables ========================================================================== */
/* Typography ========================================================================== */
/* $baseFontFamily: Arial, sans-serif; */
/* $baseSpacing: $baseLineHeight+em; */
/* $baseTextColor: $black; */
/* Type Color */
/* $typeHighlight: $blue;
$typeLowlight: $lightGrey; */
/* Link ========================================================================== */
/* $linkColor: $blue;
$linkHoverColor: $lightBlue; */
/* Background ========================================================================== */
/* $bgBasic: #fff; */
/* Box ========================================================================== */
/* Contour */
/* $boxBasicBorderRadius: $borderRadiusDefault; */
/* Box foot */
/* $boxFootDivider: $blue; */
/* Divider ========================================================================== */
/* $dividerColor: $blue; */
/* List ========================================================================== */
/* $listInlineDividerBorder: $lightGrey;
$listBorder: $lightGrey; */
/* Table ========================================================================== */
/* $tableBorderColor: $blue; */
/* Form ========================================================================== */
/* $labelLeftWidth: 30%;
$formFieldBorder: 1px solid $grey;
$placeholderText: $lightGrey; */
/* Button ========================================================================== */
/* $btnDefaultBg: #ddd;
$btnDefaultBorder: $lightGrey; */
/* Template ========================================================================== */
/* $skipLinkBg: $black;
$bodyBg: #fff;
$pageWidth: 997px; */
/* header */
/* $headerBgStop1: #09456a;
$headerBgStop2: #02587e;
$contentBg: #fff;
$contentWidth: 960px; */
/* footer */
/* $footerBorder: $lightGrey; */
.writecomment .option_image { margin-top: 4px !important; }

.addpost_outer.relative { position: relative; }

.addpost_outer.static { position: static; }

.addpost_outer { display: inline-block; width: 100%; background: #fff; border-radius: 5px; box-sizing: border-box; box-shadow: 0 0 7px rgba(0, 0, 0, 0.1); z-index: 5; margin-bottom: 15px; float: left; transition: all 0.2s ease; border: 0px solid #cfd4d8; border: none; }

.addpost_outer .btn-dashed { background: transparent; color: #F05050; height: auto; float: left; border: 0px; font-weight: 500; margin-left: 52px; margin-top: -9px; }

.addpost_outer .addposttab_out { border-bottom: 1px solid #dfe0e8; display: inline-block; width: 100%; float: left; }

.addpost_outer .addposttab { width: 100px; min-width: 10px; width: auto; overflow: hidden; float: left; cursor: pointer; border-bottom: 2px solid transparent; text-align: center; width: 81px; height: 28px; }

.addpost_outer .addposttab .glyphicon { margin-right: 8px; }

.addpost_outer .addposttab.addposttab-active { border-bottom: 2px solid #F05050; }

.addpost_outer .tabContentInner { display: inline-block; width: 100%; box-sizing: border-box; float: left; padding-bottom: 5px; }

.addpost_outer .tabContentInner textarea.file_textarea { border: 1px solid #dfe0e8; margin-top: 15px; height: 80px; resize: none; }

.addpost_outer .tabContentInner .addfile_div { display: inline-block; width: 80px; height: 80px; border: 1px solid #dfe0e8; text-align: center; line-height: 80px; float: left; margin-right: 15px; position: relative; }

.addpost_outer .tabContentInner .addfile_div img { width: 100%; float: left; }

.addpost_outer .tabContentInner .addfile_div .glyphicon-plus { margin-right: 0px; }

.addpost_outer .tabContentInner .addfile_div .glyphicon-plus:before { font-size: 20px; color: #dfe0e8; margin-right: 0px; border-radius: 5px; }

.addpost_outer .tabContentInner .addfile_div .upldoverlay { content: ""; background: rgba(0, 0, 0, 0.6); top: 0; right: 0; left: 0; bottom: 0; position: absolute; }

.addpost_outer .tabContentInner .addfile_div .progressbar { display: inline-block; width: 90%; overflow: hidden; height: 4px; background: #f5f7fa; position: relative; margin-top: 55px; }

.addpost_outer .tabContentInner .addfile_div .progressbar .progressbar_inr { position: absolute; background: #F05050; top: 0; left: 0; bottom: 0; }

.addpost_outer .mainfileupldng { display: block; width: 100%; float: left; }

.addpost_outer .mainfileupldng .wallfooter { width: 100%; background-color: #f5f7fa; padding: 0px; }

.addpost_outer .mainfileupldng .wallfooter .wallfooterlftbutton { float: left; }

.addpost_outer .mainfileupldng .wallfooter .wallfooterrytbutton { float: right; }

.addpost_outer .walltextfield { min-height: 80px; }

.addpost_outer .StatusInfo { border: 0px; border-radius: 0; line-height: 19px; border-bottom: 1px solid #dfe0e8; line-height: 22px; height: auto; }

.addpost_outer .perfect_scroll { max-height: 100%; }

.addpost_outer .status_link_pre { width: 100%; display: inline-block; float: left; }

.addpost_outer .status_link_pre .removeimg { position: absolute; right: 15px; top: 15px; display: none; }

.addpost_outer .status_link_pre .removeimg img { width: 21px; width: 100%; cursor: pointer; }

.addpost_outer .status_link_pre .removeimg .cross_img { width: 21px; }

.addpost_outer .status_link_pre:hover .removeimg { display: block; }

.addpost_outer .status_link_pre .post_profileContent { width: 100%; position: relative; float: left; }

.addpost_outer .status_link_pre .post_profileContent .sharedlink_post { box-sizing: border-box; float: left; border: 1px solid #ccc; border-radius: 5px; overflow: hidden; background-color: #e8ecf1; width: 100%; }

.addpost_outer .status_link_pre .post_profileContent .sharedlink_post img { width: auto; max-width: 100%; margin-top: 0px !important; float: left; width: 30%; margin-left: 0px !important; }

.addpost_outer .status_link_pre .post_profileContent .sharedlink_post .sharedlink_content { padding: 15px; display: inline-block; width: 100%; box-sizing: border-box; color: #8c8c8c; background-color: #e8ecf1; border-radius: 0px 0px 5px 5px; float: left; width: 70%; }

.addpost_outer .status_link_pre .post_profileContent .sharedlink_post .sharedlink_content h4 { color: #2c2e2f; font-size: 14px; text-decoration: underline; margin-bottom: 10px; }

.addpost_outer .status_link_pre .post_profileContent .sharedlink_post .sharedlink_content p { color: #2c2e2f; font-size: 13px; line-height: 18px; opacity: 0.5; }

.addpost_outer .glow-input-part.input_part { background-color: #f5f7fa; padding-bottom: 10px; overflow: visible; border-top: 1px solid #e9e9e9; padding-right: 9px; padding-top: 6px; }

.addpost_outer .glow-input-part.input_part.afterhidenewopt { margin-top: 15px; }

.addpost_outer .glow-input-part.input_part.footerbgcolor { background-color: #f5f7fa; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; position: relative; }

.addpost_outer .input_part { display: inline-block; width: 100%; box-sizing: border-box; padding: 7px 15px 15px; float: left; }

.addpost_outer .input_part .btn { width: auto; padding: 0 20px; margin-left: 10px; }

.addpost_outer .input_part .btn.btn-primary { background: #F05050; border: 1px solid #F05050; }

.addpost_outer .input_part .btn.btn-primary.desable:hover { background-color: #facaca !important; border: 1px solid #facaca !important; cursor: context-menu; }

.addpost_outer .input_part .btn.btn-secondary { border: 1px solid #dfe0e8; background: #ffffff; }

.addpost_outer .input_part .btn.btn-secondary:focus { border: 1px solid #dfe0e8; box-shadow: none; outline: none; }

.addpost_outer .input_part .btn.btn-secondary:active { border: 1px solid #dfe0e8; box-shadow: none; }

.addpost_outer .input_part .btn_dropdwn:before { font-size: 11px; }

.addpost_outer .input_part .btn_dropdwn { margin-right: 0px; }

.addpost_outer .input_part .col-md-6.col-sm-6 { padding: 0; }

.addpost_outer .input_part .col-md-8 { text-align: right; padding: 0; }

.addpost_outer .input_part .attachfile { color: #8c8c8c; line-height: 26px; }

.addpost_outer .input_part .drpdwn_btn { position: relative; }

.questiontype_outr.graybutton { color: #fff; display: inline-block; padding: 0 6px; position: relative; cursor: pointer; height: 27px; background: transparent; line-height: 25px; border: none; }

.questiontype_outr.graybutton .glyphicon-menu-down::before { font-size: 10px; }

.questiontype_outr.graybutton .drpdwn_post { right: 0px; width: 200px; }

.questiontype_outr.graybutton .drpdwn_post li { line-height: 20px; }

.addoption_outr { position: relative; display: inline-block; width: 100%; margin-top: 12px; float: left; padding: 0 15px 0px 11px; color: rgba(44, 46, 47, 0.85); }

.addoption_outr .input-group { position: relative; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-align: stretch; align-items: stretch; width: 78%; border: 1px solid #dfe0e8; border-radius: 42px; overflow: hidden; padding: 0px 6px; padding: 0px 6px; position: relative; }

.addoption_outr .input-group .input-group-addon { width: 15px; float: left; background-color: transparent; border: none; padding: 0px; margin-left: 4px; margin-top: 2px; }

.addoption_outr .input-group .clock { position: absolute; left: 8px; width: 17px; top: 10px; }

.addoption_outr .input-group input { font-size: 12px; }

.addoption_outr .input-group input:focus { border: none; box-shadow: none; }

.addoption_outr .input-group .time24 { float: left; border: none; box-shadow: none; letter-spacing: 3px; font-size: 12px; position: relative; padding-right: 1px; width: 67px; padding-left: 7px; top: 0px; background-color: transparent; }

.addoption_outr .input-group .time24 input { position: absolute; top: 0px; letter-spacing: 0px; padding-left: 4px; background-color: transparent; border: none !important; box-shadow: none !important; }

.addoption_outr .input-group .time24 .timelable { position: absolute; top: 8px; left: 14px; font-size: 13px; letter-spacing: 0px; display: none; }

.addoption_outr .input-group .time24 .timelable1 { display: none; }

.addoption_outr .timelmt { font-size: 11px; padding-left: 11px; margin-top: 3px; color: #8c8c8c; }

.addoption_outr .addnewopt { text-align: right; font-size: 14px; color: #F05050; padding-right: 34px; padding-bottom: 14px; cursor: pointer; float: right; padding-top: 14px; }

.addoption_outr .btn.btn-dashed { float: right; padding-right: 10px; }

.addoption_outr .left_part { display: inline-block; width: 50px; float: left; margin-right: 5px; }

.addoption_outr .right_part { display: inline-block; width: 489px; float: left; position: relative; }

.addoption_outr .right_part .post_option { display: inline-block; min-height: 37px; padding: 0px; width: 100%; border-bottom: 1px solid #dfe0e8; box-sizing: border-box; line-height: 17px; padding-bottom: 8px; font-size: 14px; float: left; }

.addoption_outr .right_part .post_option:focus { display: inline-block; min-height: 37px; padding: 0px; width: 100%; border-bottom: 1px solid #dfe0e8; box-sizing: border-box; line-height: 17px; padding-bottom: 8px; }

.addoption_outr .right_part.postoption { border: 1px solid #dfe0e8; height: auto; border-radius: 5px; padding: 7px; box-sizing: border-box; }

.addoption_outr .addoptioninr { border: 1px solid #dfe0e8; border-radius: 5px; display: inline-block; height: 37px; line-height: 40px; width: 100%; cursor: default !important; margin-bottom: 0px; font-family: 'Roboto', sans-serif; font-weight: 500; font-weight: normal; text-align: center; border: none !important; }

.addoption_outr .addoptioninr .Radio + .radio_btn { top: 6px; cursor: pointer; }

.addoption_outr .addoptioninr .Radio + .checkbox_btn { top: 7px; cursor: pointer; }

.addoption_outr .addoptioninr .addpost_radio_btn { height: 25px; width: 25px; }

.addoption_outr:first-child { margin-top: -2px; }

.darkbackground { position: fixed; background: rgba(0, 0, 0, 0.7); top: 0; left: 0; right: 0; bottom: 0; z-index: 5; transition: all 0.2s ease; }

.drpdwn_post { background: #fff none repeat scroll 0 0; border: 1px solid #dfe0e8; position: absolute; right: 84px; top: 35px; width: 134px; z-index: 1; border-radius: 5px 5px 5px 5px; box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3); cursor: pointer; }

.drpdwn_post ul { display: block; width: 100%; position: relative; z-index: 0; max-height: 252px; min-height: 0px; }

.drpdwn_post li { padding: 10px; text-align: left; width: 100%; -webkit-box-sizing: border-box; box-sizing: border-box; border-top: 1px solid #dfe0e8; cursor: pointer; border-bottom: 0px; color: #2c2e2f; }

.drpdwn_post li:nth-last-child(1) { border-bottom: 0px solid #dfe0e8; }

.drpdwn_post li li:hover { background: #F05050; color: #fff; }

.addpost_tab { display: block; border: 1px solid #F05050; float: left; height: 32px; width: 37px; line-height: 30px; padding: 1px 5px 0px 10px; position: relative; border-radius: 5px; margin-right: 5px; text-align: center; cursor: pointer; margin-top: 5px; width: auto; line-height: 30px; border-radius: 25px; }

.addpost_tab span { padding-right: 10px; padding-left: 5px; font-weight: normal; }

.addpost_tab span.tab-article { color: white; }

.addpost_tab span.tab-question { color: #F05050; }

.addpost_tab .glyphicon { position: absolute; color: #F05050; top: -10px; font-size: 14px; left: 9px; }

.addpost_tab img { margin-right: 0px; }

.addpost_tab .hoverimage, .addpost_tab .defaultimage { width: 14px; }

.addpost_tab .hoverimage { display: none; }

.addpost_tab:hover, .activeaddpost.addpost_tab { background: #F05050; border-color: #F05050; }

.addpost_tab:hover .hoverimage, .activeaddpost.addpost_tab .hoverimage { display: inline-block; }

.addpost_tab:hover .defaultimage, .activeaddpost.addpost_tab .defaultimage { display: none; }

.maintextarea_div { position: relative; display: inline-block; width: 100%; padding-top: 11px; }

.maintextarea_div .fileupload_image { position: absolute; right: 0px; top: 14px; }

.maintextarea_div .close-addpost-popup-btn { position: absolute; top: -5px; right: 9; z-index: 4; cursor: pointer; }

.maintextarea_div .fileupload { margin-top: 20px; right: -2px; }

.post_image { display: none !important; }

label.postoption_image { padding-top: 7px; font-family: 'Roboto'; font-weight: normal; margin: 0; width: 100%; }

label.postoption_image .fileupload_image { margin-right: 10px; }

.truefalse { padding: 4px 0px !important; width: 100% !important; font-weight: 500; }

.drpdwn_duration { padding: 10px; box-sizing: border-box; }

.quesaddtag { border-radius: 20px !important; }

.addtags { width: 100%; border: 1px solid #dfe0e8; display: inline-block; border-radius: 5px; height: auto; margin-bottom: 15px; position: relative; }

.addtags .artintlistwdth { width: 550px !important; }

.addtags .quesintdropdown { border-top: none !important; -webkit-box-shadow: 0 10px 20px rgba(0, 112, 186, 0.1) !important; -ms-box-shadow: 0 10px 20px rgba(0, 112, 186, 0.1) !important; -o-box-shadow: 0 10px 20px rgba(0, 112, 186, 0.1) !important; box-shadow: 0 10px 20px rgba(0, 112, 186, 0.1) !important; border-top-left-radius: 0px; border-top-right-radius: 0px; position: relative; left: -1px; top: 28px; width: auto; right: -1px; border-bottom-left-radius: 20px !important; border-bottom-right-radius: 20px !important; position: absolute; border-top: none; }

.addtags .quesintdropdown ul li { border: none !important; padding-left: 1em !important; }

.addtags .quesintdropdown ul li:hover { color: #fff !important; background-color: #0070ba !important; }

.addtags .taginput { border: 0px !important; float: left; }

.addtags .tags { margin: 1px 3px 3px !important; border: 0px; margin-bottom: 0px; float: left; padding: 1px 12px 9px 10px !important; height: 24px !important; line-height: 23px; background: #f5f7fa; border-radius: 30px; }

.addtags .addtags_drop { top: 30px; left: 0px; right: auto; min-width: 250px; width: auto; box-shadow: none; }

.addtag_drop { right: auto; top: 29px; width: 226px; box-shadow: none; }

.maintextarea_div { border-bottom: none; float: left; margin-top: 0px; }

.maintextarea_div .StatusInfo { border: 0px; padding: 5px; width: 100%; float: left; padding-right: 0px; padding-top: 5px; padding-left: 0; }

.maintextarea_div .StatusInfo .fileupload_image { margin-right: -9px; }

.addtags { border: 0px; margin-bottom: 0px; float: left; padding: 0 6px 4px 0 !important; margin-top: 12px; }

.addtags .tags:first-child { margin-left: 0px !important; }

.wallint { width: 94%; margin: 0% 2% 0% 3%; border-top: 1px solid #e9e9e9; padding: 5px 8px 5px 0px !important; float: left; border-radius: 0px !important; max-height: 100%; }

.wallint .taginput { text-align: center; line-height: 23px; }

.wallint .taginput .drpdwn_post li { font-size: 14px !important; background: #f5f7fa !important; }

.wallint .taginput .drpdwn_post li:hover { background: #f5f7fa; color: #F05050; }

.wallint .moreintwall { margin: 1px 3px 3px !important; border: 0px; margin-bottom: 0px; float: left; padding: 1px 12px 9px 10px !important; height: 24px !important; line-height: 23px; background: #f5f7fa; border-radius: 30px; font-size: 12px; color: #8c8c8c; cursor: pointer; }

.wallint .moreinterestcont { width: 100%; max-height: 40px; float: left; overflow: hidden; margin-top: 0px; }

.wallint .moreinterestcont .tags { margin: 1px 3px 3px !important; border: 0px; margin-bottom: 0px; float: left; padding: 1px 12px 9px 10px !important; height: 24px !important; line-height: 21px; background: #f5f7fa; border-radius: 30px; font-size: 11px; margin-top: 3px !important; }

.wallint .moreinterestcont .tags img { position: relative; top: 2px; }

.more_wallint { height: auto !important; }

.taginput { height: 24px !important; line-height: 20px; width: 80px; background: #f5f7fa; transition: all 0.2s ease; font-size: 13px; margin-top: 2px; border-radius: 30px; cursor: pointer; }

.StatusInfo::placeholder, .placeholder { font-size: 16px !important; color: #666; }

.StatusInfo::-moz-placeholder, .placeholder { font-size: 16px !important; }

.StatusInfo::-webkit-placeholder, .placeholder { font-size: 16px !important; }

.aarticle { padding: 5px 5px 6px 9px; }

.aarticle .addtags { margin-top: 0px !important; width: 92%; padding: 4px !important; height: auto; border: 1px solid #dfe0e8; border-radius: 30px; min-height: 36px; }

.aarticle .addtags .moreintrest { right: 3px; top: 3px; padding: 0px 6px; color: #949494; position: absolute; margin-left: 4px; border: 1px solid #fff; height: 28px !important; line-height: 17px; width: 28px; background: #f5f7fa; -webkit-transition: all 0.2s ease; transition: all 0.2s ease; font-size: 13px; margin-top: 0px; border-radius: 30px; cursor: pointer; font-size: 20px; color: #F05050; }

.aarticle .addtags .moreintrestlist { width: 395px; position: absolute !important; right: 0px; top: 36px; max-height: 163px; min-height: 31px; border-radius: 5px 5px 5px 5px; -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3); box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3); cursor: pointer; border: 1px solid #dfe0e8; padding: 4px; overflow: auto; background-color: #fff; z-index: 11; }

.aarticle .addtags .moreintrestlist .tags { margin: 3px 5px 3px !important; }

.aarticle .addtags .taginput { margin-top: 1px; padding: 2px 11px; color: #949494; font-size: 12px; }

.aarticle .fileupload_image { margin-top: 0px; margin-left: 8px; background-color: #eaeaea; border-radius: 30px; width: 36px; height: 36px; }

.aarticle .fileupload_image img { margin-left: 12px; margin-top: 11px; position: relative; left: -4px; top: -5px; }

.aarticle .fileupload_image .defaultt { display: inline; width: 12px !important; }

.aarticle .fileupload_image .hoverr { display: none; width: 12px !important; }

.aarticle .fileupload_image:hover .defaultt { display: none; }

.aarticle .fileupload_image:hover .hoverr { display: inline; }

.addpost_hdng { height: 36px; line-height: 40px; font-weight: 500; text-align: left; color: #2c2e2f; font-size: 14px; border-radius: 3px 3px 0px 0; border-bottom: 1px solid #e9e9e9; overflow: visible; }

.addpost_hdng .quesbtntab { width: 245px; float: left; font-size: 15px; line-height: 34px; }

.addpost_hdng .quesbtntab .mssbtn { width: 59px; float: left; margin-top: 9px; line-height: 21px; color: rgba(0, 0, 0, 0.6); cursor: pointer; }

.addpost_hdng .quesbtntab .mssbtn .triangle { width: 0; height: 0; border-left: 14px solid transparent; border-right: 14px solid transparent; border-bottom: 14px solid #fff; position: relative; z-index: 1; top: -17px; left: 9px; }

.addpost_hdng .quesbtntab .quesbtn { width: 67px; float: left; margin-top: 9px; line-height: 21px; margin-left: 13px; color: #fff; color: rgba(0, 0, 0, 0.6); cursor: pointer; }

.addpost_hdng .quesbtntab .quesbtn .triangle { width: 0; height: 0; border-left: 14px solid transparent; border-right: 14px solid transparent; border-bottom: 14px solid #fff; position: relative; z-index: 1; top: -17px; left: 15px; }

.addpost_hdng .quesbtntab .addpost_devider { background-color: rgba(0, 0, 0, 0.4); width: 1px; height: 15px; position: absolute; top: 11px; left: 73px; }

.questionhead { background-color: #F05050; overflow: hidden; border-bottom: none !important; }

.queType { margin-top: 0px; padding: 5px 6px 5px 22px; margin-bottom: 5px; float: left; width: 100%; margin-bottom: 0px; }

.queType .addpostquesmenu .drpdwn_post.drop_outPost_new.for-post { border-top: none !important; border: 1px solid #dfe0e8 !important; margin-top: 2px; -webkit-box-shadow: 0 10px 20px rgba(0, 112, 186, 0.1) !important; -ms-box-shadow: 0 10px 20px rgba(0, 112, 186, 0.1) !important; -o-box-shadow: 0 10px 20px rgba(0, 112, 186, 0.1) !important; box-shadow: 0 10px 20px rgba(0, 112, 186, 0.1) !important; border-radius: 20px !important; overflow: hidden; width: 140px; border-top-right-radius: 0px !important; border-top-left-radius: 0px !important; left: -1px; border-top: none !important; }

.queType .addpostquesmenu .addpostquesmenulist li { padding: 3px 10px; border: none; color: #616161; -moz-transition: all 0.5s; -o-transition: all 0.5s; -webkit-transition: all 0.5s; }

.queType .addpostquesmenu .addpostquesmenulist li:hover { background-color: #0070ba !important; color: #fff !important; }

.queType .addtags { float: left; width: 66%; margin-top: 0px; margin-left: 12px; border: 1px solid #dfe0e8; border-radius: 30px; position: relative; min-height: 40px; padding-top: 6px !important; }

.queType .addtags .moreintrest { right: 3px; top: 3px; padding: 0px 6px; color: #949494; position: absolute; margin-left: 4px; border: 1px solid #fff; height: 28px !important; line-height: 17px; width: 28px; background: #f5f7fa; -webkit-transition: all 0.2s ease; transition: all 0.2s ease; font-size: 13px; margin-top: 0px; border-radius: 30px; cursor: pointer; font-size: 20px; color: #F05050; }

.queType .addtags .moreintrestlist { width: 395px; position: absolute !important; right: 0px; top: 36px; max-height: 163px; min-height: 31px; border-radius: 5px 0px 5px 5px; -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3); box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3); cursor: pointer; border: 1px solid #dfe0e8; padding: 4px; overflow: auto; background-color: #fff; z-index: 11; }

.queType .addtags .moreintrestlist .tags { margin: 3px 5px 3px !important; }

.queType .addtags .taginput { margin-top: 1px; padding: 2px 11px; color: #949494; font-size: 12px; margin-left: 6px; }

.queType .fileupload_image { margin-top: 0px; margin-left: 8px; background-color: #eaeaea; border-radius: 30px; width: 36px; height: 36px; }

.queType .fileupload_image img { margin-left: 12px; margin-top: 11px; }

.queType .fileupload_image .defaultt { display: inline; width: 12px !important; }

.queType .fileupload_image .hoverr { display: none; width: 12px !important; }

.queType .fileupload_image:hover .defaultt { display: none; }

.queType .fileupload_image:hover .hoverr { display: inline; }

.queType .addpostquesmenu { position: relative; float: left; width: 140px; margin-top: 2px; background-color: #f5f7fa; border-radius: 63px; line-height: 34px; text-align: center; border: 1px solid #dfe0e8 !important; }

.queType .changeclor { background-color: #fff; }

.queType .changeclor .questiontype_outr.graybutton { color: #000 !important; }

.queType .changeclor .questiontype_outr.graybutton .drpdwn_post.drop_outPost_new.for-post { margin-top: 6px; }

.editor { float: right; color: #8c8c8c; }

.post_Duration { display: inline-block; border-bottom: 1px solid #dfe0e8; border-top: 1px solid #dfe0e8; width: 100%; padding: 5px; }

.post_Duration .duration_input { width: 150px; }

.addoption_btn { display: inline-block; background: transparent; height: auto !important; line-height: 10px !important; float: left; padding: 0px; margin-top: 13px; border: none; color: #F05050; }

.taginput::placeholder { color: #2c2e2f !important; opacity: 0.8; }

.taginput::-moz-placeholder { color: #2c2e2f !important; opacity: 0.8; }

.taginput::-webkit-placeholder { color: #2c2e2f !important; opacity: 0.8; }

.right_part .optionoutr .option_image { position: absolute; right: 3px; bottom: 3px !important; width: 30px; height: 30px; background-color: #f5f7fa; border-radius: 50%; border: 1px solid transparent; margin-top: -17px; }

.right_part .optionoutr .option_image .fileupload_image { width: 18px; height: 18px; }

.right_part .optionoutr .option_image .fileupload_image img { position: relative; right: -6px; width: 15px !important; top: 2px; }

.drop_outPost { position: relative; float: left; width: 150px; margin-top: -3px; left: -16px; }

.drop_outPost .timeremaining { float: right; width: auto; margin-top: 0px; }

.drop_outPost .timeremaining span { font-size: 14px; }

.drop_outPost .drpdwn_post { right: 0px; top: 26px; width: 176px; }

.drop_outPost .drop_outPost_new { right: -80px; width: 185px; }

.optionoutr { display: inline-block; width: 100%; padding: 3px; padding-right: 20px; box-sizing: border-box; border: 1px solid #dfe0e8; border-radius: 5px; min-height: 36px; line-height: 19px; min-height: 40px !important; line-height: 22px; border-radius: 20px; padding-left: 15px; transition: border-color .2s; }

.option_input { display: inline-block; min-height: 23px; display: inline-block; width: 95%; float: left; min-height: 28px; top: 6px; padding-top: 3px; line-height: 27px; white-space: pre-wrap; }

.padding_textarea { display: inline-block; padding: 15px 31px 10px 10px; width: 100%; box-sizing: border-box; min-height: 100px; position: relative; }

.ques_text_area { border: 0px solid #dfe0e8; border-radius: 10px; width: 94%; margin: 1% 3% 1% 3%; overflow: hidden; background-color: #e8ecf150; }

.ques_text_area .ques_fileupload { background-color: #f5f7fa !important; margin-top: -37px; height: 32px !important; width: 32px !important; }

.ques_text_area .ques_fileupload img { position: relative; top: -4px; right: 5px; left: -5px; margin-left: 11px !important; }

.ques_text_area .ques_fileupload:first-child { top: 5px; }

.ques_text_area .ques_fileupload:first-child img { left: -4px; top: -4px; width: 16px !important; }

.ques_text_area .ques_fileupload:nth-child(2) { top: 39px; right: 41px; width: 16px !important; }

.messagepadding { padding-top: 2px; }

.uploaded_image { width: 70px; border: 1px solid #dfe0e8; border-radius: 5px; overflow: visible; display: inline-block; float: left; margin-top: 5px; position: relative; transition: all 0.2s ease; overflow: hidden; }

.uploaded_image img { width: 100%; }

.uploaded_image .removeimg { display: none; width: 16px; height: 16px; line-height: 15px; text-align: center; position: absolute; right: -4px; cursor: pointer; top: -4px; z-index: 9; }

.uploaded_image .removeimg img { width: 100%; }

.uploaded_image .changeimg { float: left; height: 20px; width: 35px; position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px; margin: auto; font-size: 10px; color: #ffffff; z-index: 9; cursor: pointer; text-align: center; display: none; width: 100%; }

.hoverbg { position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; background: rgba(0, 0, 0, 0.2) !important; display: none; color: #fff; vertical-align: middle; text-align: center; height: 100%; padding-top: 10%; font-size: 10px; }

.uploaded_image:hover { border: 1px solid #F05050; }

.uploaded_image:hover .removeimg { display: inline-block; }

.uploaded_image:hover .changeimg { display: inline-block; }

.uploaded_image:hover .hoverbg { display: block; }

.post_upload { display: inline-block; margin-bottom: 10px; }

/* .editor_container{ background-color:#e6e6e6; .editor_bar{ height: auto; line-height: 40px; background: transparent; float: left; width: 100%; padding: 0px 15px; margin-bottom: 15px; .editor_menu{float: left;width:100%; li{display: inline-block; float: left; font-size: 12px; padding: 0 5px; line-height: 1; font-family: 'Roboto'; font-weight: 500; border: 1px solid rgba(18, 188, 180, 0.4); margin: 10px 10px 0px 0px; background-color: #fff; cursor: pointer; border-radius: 3px; position: relative; height: 36px; .glyphicon-triangle-bottom{display: none;} img{width:auto; height:32px;} } li.active { border: 1px solid rgba(18, 188, 180, 1); background-color: rgba(18, 188, 180, 1); color: #fff; } } } .mathicon{padding: 5px 10px; margin-bottom:5px; background-color: #fff; border-radius: 3px; margin-right: 5px; display: inline-block; height: 40px;cursor: pointer; table{height: 100%; .mathiconspan{cursor: pointer;} } } } */
.addpost-outer-wrap { position: fixed; width: 100%; height: 100%; top: 0; left: 0; }

.popup-open-wrapper.addpost_outer { position: fixed; height: 100%; z-index: 15; width: 100%; top: 0; left: 0; background-color: transparent; overflow-y: scroll; }

.popup-open-wrapper.addpost_outer:hover { border-color: transparent; }

.popup-open-wrapper.addpost_outer .popup-open-inner-wrap { width: 600px; background-color: white; height: auto; top: 70px; left: 50.8%; position: absolute; z-index: 4; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); transform: translateX(-50%); }

.popup-open-wrapper.addpost_outer .darkbackground-close { position: fixed; height: 100%; /* width: 98.5%; */ width: 100%; top: 0; /* right:1.5%; */ right: 0%; }

.add-post-preloader { position: absolute; top: 0; bottom: 0; right: 0; left: 0; width: auto; height: auto; text-align: center; background-color: rgba(255, 255, 255, 0.7); border-radius: 3px; }

.add-post-preloader img { width: 40px; width: 40px; position: absolute; top: 50%; height: 36px; margin-top: -18px; left: 50%; margin-left: -20px; }

.addpost_tab.addpost-tab-question { border-color: #dfe0e8; }

.addpost_tab.addpost-tab-question span { color: #8c8c8c; padding-left: 5px; font-size: 14px; line-height: 30px; font-weight: normal; }

.addpost_tab.addpost-tab-question span.glyphicon { color: #F05050; }

.addpost_tab.addpost-tab-question .defaultimage { display: none; }

.addpost_tab.addpost-tab-question .hoverimage { display: none; }

.addpost_tab.addpost-tab-question .defaultimage.defaultimagegray { display: inline-block; }

.addpost_tab.addpost-tab-question:hover { background: #fff; border-color: #F05050; }

.addpost_tab.addpost-tab-question:hover span { padding-left: 5px; color: #F05050; }

.addpost_tab.addpost-tab-question:hover .defaultimage.defaultimagegray { display: none; }

.addpost_tab.addpost-tab-question:hover .defaultimage { display: inline-block; }

.addpost_tab.addpost-tab-question:hover .hoverimage { display: none; }

.addpost_tab.addpost-tab-question.walladpostnutton { background-color: #fff; }

.addpost_tab.addpost-tab-question.activeaddpost { border-color: #F05050; }

.addpost_tab.addpost-tab-question.activeaddpost .defaultimage.defaultimagegray { display: none; }

.addpost_tab.addpost-tab-question.activeaddpost .hoverimage { display: inline-block; }

.addpost_tab.addpost-tab-question.activeaddpost .tab-question, .addpost_tab.addpost-tab-question.activeaddpost .tab-article { color: white; }

.addpost_tab.addpost-tab-question.activeaddpost:hover { background-color: #F05050; }

.addpost_tab.addpost-tab-question.activeaddpost:hover .tab-question, .addpost_tab.addpost-tab-question.activeaddpost:hover .tab-article { color: white; }

.addpost_tab.addpost-tab-question.activeaddpost:hover .hoverimage { display: inline !important; }

.addpost_tab.addpost-tab-question.activeaddpost:hover .defaultimage { display: none; }

.popup-open-inner-wrap .StatusInfo { padding-top: 0; padding-left: 6px; min-height: 80px; white-space: pre-wrap; }

.ques-post-wrap { padding-top: 2px; float: right; height: 40px; }

.ques-post-wrap .btn.btn-primary { margin-right: 10px; }

.addpost_outer .questiontype_outr:hover { box-shadow: none; border-color: transparent; }

.addpost_outer .maintextarea_div .fileupload_image { -webkit-transition: all ease-in-out 0.3s; -moz-transition: all ease-in-out 0.3s; -ms-transition: all ease-in-out 0.3s; -o-transition: all ease-in-out 0.3s; transition: all ease-in-out 0.3s; width: 29px; height: 29px; background-color: #f5f7fa; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; border: 1px solid transparent; }

.addpost_outer .maintextarea_div .fileupload_image .defaultt { display: inline; width: 12px !important; }

.addpost_outer .maintextarea_div .fileupload_image .hoverr { display: none; width: 12px !important; }

.addpost_outer .maintextarea_div .fileupload_image:hover { -webkit-transition: all ease-in-out 0.3s; -moz-transition: all ease-in-out 0.3s; -ms-transition: all ease-in-out 0.3s; -o-transition: all ease-in-out 0.3s; transition: all ease-in-out 0.3s; }

.addpost_outer .maintextarea_div .fileupload_image:hover .defaultt { display: none; }

.addpost_outer .maintextarea_div .fileupload_image:hover .hoverr { display: inline; }

.addpost_outer .maintextarea_div .fileupload_image img { -webkit-transition: all ease-in-out 0.3s; -moz-transition: all ease-in-out 0.3s; -ms-transition: all ease-in-out 0.3s; -o-transition: all ease-in-out 0.3s; transition: all ease-in-out 0.3s; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.addpost_outer .maintextarea_div .fileupload_image.fileupload { margin-top: 35px; right: 0; }

.addoption_outr.head { margin-bottom: 10px; margin-top: 15px; }

.addoption_outr.head .timeremaining { cursor: pointer; }

.addoption_outr.head .drpdwn_post.drpdwn_duration { width: 120px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; }

.addoption_outr .left_part { width: 8%; }

.addoption_outr .right_part { width: 85%; }

.truefalseradiobtn_cont { width: 20%; float: left; margin-top: 0px; padding-left: 0px; }

.truefalseradiobtn_cont .addPost_left_part { width: 100% !important; }

.truefalseradiobtn_cont .addPost_left_part .Radio + .addpost_label { width: 100px; height: 41px; border-radius: 20px; overflow: hidden; border: 1px solid #dfe0e8; margin-top: 10px; cursor: pointer; }

.truefalseradiobtn_cont .addPost_left_part .Radio:checked + .truefalse_radio_btn { background-color: #fff !important; color: #F05050 !important; border: 1px solid #F05050; }

.head-wrap span { display: block; float: left; width: 50%; font-size: 14px; font-weight: 600; padding-left: 3px; }

.addpost_outer .drop_outPost .questiontype_outr.graybutton { padding-left: 0; padding-right: 0; }

.addoption_outr .btn.btn-dashed { padding-right: 28px; margin-bottom: 5px; margin-top: -6px; }

.ques-post-wrap .btn.btn-primary { margin-right: 2px; }

.close_div { text-align: right; }

.close_div img { position: relative; top: -2px; }

.close_div .defaultt { width: 10px !important; }

.close_div .hoverr { width: 10px !important; }

.drop_outPost .drop_outPost_new { right: -88px; }

.drop_outPost .timeremaining span { font-size: 12px; font-weight: 400; line-height: 23px; }

.drop_outPost .timeremaining span.hrnmin { color: #F05050; }

.drop_outPost .timeremaining span.caret { color: #2c2e2f; }

.removeimg.remove-option { position: absolute; right: 20px; left: auto; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); cursor: pointer; width: 18px !important; }

.maintextarea_div .fileupload_image { top: 2px; }

.drpdwn-wrap .hour-min-dropdown { width: 48%; float: left; position: relative; }

.drpdwn-wrap .hour-min-dropdown .input-box { border: 1px solid #dfe0e8; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; font-size: 14px; text-align: center !important; font-weight: 400; color: #8c8c8c; line-height: 34px; }

.drpdwn-wrap .hour-min-dropdown .input-box.placeholder { font-size: 14px; font-weight: 600; }

.drpdwn-wrap .hour-min-dropdown .drop-list { -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; box-shadow: 0 3px 12px rgba(27, 31, 35, 0.15); border: 1px solid; border-color: rgba(27, 31, 35, 0.15); position: absolute !important; background-color: white !important; top: 135%; width: 100%; left: 0; }

.drpdwn-wrap .hour-min-dropdown .drop-list:before { content: ""; display: block; position: absolute; height: 0; width: 0; border: 8px solid rgba(27, 31, 35, 0.15); border-top-color: transparent; border-left-color: transparent; border-right-color: transparent; bottom: 99.7%; right: 5px; }

.drpdwn-wrap .hour-min-dropdown .drop-list:after { content: ""; display: block; position: absolute; height: 0; width: 0; border: 7px solid white; border-top-color: transparent; border-left-color: transparent; border-right-color: transparent; bottom: 99.7%; right: 6px; }

.drpdwn-wrap .hour-min-dropdown .drop-list ul { max-height: 250px; }

.drpdwn-wrap .hour-min-dropdown .drop-list ul li { border: none; padding: 3px 10px; }

.drop_outPost .drop_outPost_new { right: auto; left: -16px; width: 146px; margin-top: 2px; }

.tru-false-optn { margin-bottom: 15px; }

.file-preloder { position: absolute; width: 100%; height: 100%; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; background-color: rgba(0, 0, 0, 0); top: 0; left: 0; }

.file-preloder img { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }

.tabContentInner.question_addpost.editor-keyboard .maintextarea_div { margin-top: 10px; }

.addpost_outer.relative.popup-open-wrapper .container { /* box-sizing: unset; */ }

.addoption_outr .left_part .Radio:checked + .radio_btn:before { width: 11px; height: 11px; margin-left: -5.5px; margin-top: -5.5px; }

.addoption_outr .left_part .Radio:checked + .radio_btn .radio_btn_text { display: none; }

.addoption_outr .radio_btn_text { position: relative; top: -7px; }

.add_ht li:last-child { border-bottom: none !important; }

.btn.btn-primary:disabled { margin-bottom: 0px !important; }

.mainfile_scroll { max-height: 295px !important; height: auto; overflow-y: scroll; padding: 15px 0; }

.mainfileupldng .btn_true { float: left; }

.mainfileupldng .btn_false { float: left; }

.afterdropdown { border-top-right-radius: 20px !important; border-top-left-radius: 20px !important; border-bottom-right-radius: 0px !important; border-bottom-left-radius: 0px !important; background-color: #fff !important; color: #000 !important; border: 1px solid #dfe0e8 !important; border-bottom: 0px; }

.multipleresponse_label { width: 25px; height: 25px; border-radius: 50%; }

.multipleresponse_label .checkboximg { height: 14px !important; width: 16px !important; float: left; margin: 5px 0 0 3px !important; }

.walldropdencnt { background-color: #fff; width: 119px; position: absolute; text-align: left; left: -11px; top: 32px; border-radius: 5px; -webkit-box-shadow: 0 10px 20px rgba(0, 112, 186, 0.1) !important; -ms-box-shadow: 0 10px 20px rgba(0, 112, 186, 0.1) !important; -o-box-shadow: 0 10px 20px rgba(0, 112, 186, 0.1) !important; box-shadow: 0 10px 20px rgba(0, 112, 186, 0.1) !important; z-index: 11; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px; overflow: hidden; }

.walldropdencnt ul { font-size: 12px; }

.walldropdencnt ul li { color: #8c8c8c; border-top: 1px solid rgba(27, 31, 35, 0.15); padding: 2px 6px; font-size: 12px; border-bottom: 0px; }

.walldropdencnt ul li:hover { background: #f5f7fa; }

.walldropdencnt ul li:last-child { border-bottom: none; }

.walldropdencnt ul li i img { width: 14px; float: left; position: relative; top: 8px; margin-right: 7px; margin-left: 1px; }

.bgshadow { -webkit-box-shadow: 0 10px 20px rgba(0, 112, 186, 0.1) !important; -ms-box-shadow: 0 10px 20px rgba(0, 112, 186, 0.1) !important; -o-box-shadow: 0 10px 20px rgba(0, 112, 186, 0.1) !important; box-shadow: 0 10px 20px rgba(0, 112, 186, 0.1) !important; }

.padding_textarea .fileupload_image { margin-top: 3px; margin-left: 8px; background-color: #fff; border-radius: 30px; width: auto; height: auto; position: absolute; right: -27px; z-index: 10; }

.padding_textarea .fileupload_image img { margin-left: 0px; margin-top: 0px; }

.padding_textarea .fileupload_image .defaultt { display: inline; width: 12px !important; }

.padding_textarea .fileupload_image .hoverr { display: none; width: 12px !important; }

.padding_textarea .fileupload_image:hover .defaultt { display: none; }

.padding_textarea .fileupload_image:hover .hoverr { display: inline; }

.input-group .input-group-addon { width: 15px; float: left; background-color: transparent; border: none; padding: 0px; margin-left: 4px; margin-top: 2px; }

.input-group .clock { position: absolute; left: 8px; width: 17px; top: 10px; }

.input-group input { font-size: 12px; }

.input-group input:focus { border: none; box-shadow: none; }

.input-group .time24 { float: left; border: none; box-shadow: none; letter-spacing: 3px; font-size: 12px; position: relative; padding-right: 1px; width: 67px; height: 30px !important; padding-left: 7px; background-color: transparent; top: 0px; }

.input-group .time24 input { position: absolute; top: 0px; letter-spacing: 0px; padding-left: 5px; height: 30px !important; background-color: transparent; border: none !important; box-shadow: none !important; }

.input-group .time24 .timelable { position: absolute; top: 8px; left: 13.5px; font-size: 13px; letter-spacing: 1px; display: none; }

.input-group .time24 .timelable1 { display: none; }

.timer_input { border: 1px solid #dfe0e8; overflow: hidden; border-radius: 39px; margin-top: 0px; /* margin-top: 5px; */ background: #fff; }

.timeswitchcnt { display: inline; float: left; font-size: 12px; position: relative; top: 4px; cursor: pointer; }

.timeswitchcnt span { position: relative; top: 6px; }

.timeswitchcnt .switch { display: inline; width: 55px; border: 1px solid #dfe0e8; float: left; border-radius: 20px; margin-left: 5px; height: 26px; position: relative; margin-top: 4px; }

.timeswitchcnt .switch .yes { position: relative; left: 27px; top: 4px; font-size: 12px; }

.timeswitchcnt .switch .no { top: 4px; position: relative; font-size: 12px; left: 7px; }

.timeswitchcnt .switch .dote { position: absolute; width: 15px; height: 15px; background-color: #65BFA3; border-radius: 19px; top: 5px; left: 6px; transition: all .3s; }

.timeswitchcnt .switch .timer_right { left: 33px; }

.question_selection ul li { padding: 3px 10px; border-bottom-color: rgba(27, 31, 35, 0.15); color: #8c8c8c; }

.wall_post_pry { width: 120px; font-size: 12px; }

.wall_post_pry:hover { border: 1px solid #dfe0e8 !important; color: #dfe0e8 !important; box-shadow: none; }

.wall_post_pry .wll_img_pey_cont { float: left; width: auto; padding-left: 6px; padding-left: 13px; text-align: left; margin-right: 13px; }

.wall_post_pry .wll_img_pey_cont span { padding: 0px; position: relative; top: 1px; left: 0px; font-size: 12px; }

.wall_post_pry .hoverr { width: 10px !important; top: 14px; height: 17px; position: relative; }

.wall_post_pry .defaultt { width: 14px !important; top: 0px; height: 17px; position: relative; }

.wall_post_pry:hover .hoverr { display: inline-block; }

.wall_post_pry:hover .defaultt { display: none; }

.timer_input { border: 1px solid #dfe0e8; overflow: hidden; border-radius: 39px; background: #fff; }

.timeswitchcnt { display: inline; float: left; font-size: 12px; position: relative; top: 4px; margin-top: 0px; cursor: pointer; }

.timeswitchcnt span { position: relative; top: 6px; }

.timeswitchcnt .switch { display: inline; width: 55px; border: 1px solid #dfe0e8; float: left; border-radius: 20px; margin-left: 5px; height: 26px; position: relative; }

.timeswitchcnt .switch .yes { position: relative; left: 27px; top: 4px; font-size: 12px; }

.timeswitchcnt .switch .no { top: 5px; position: relative; font-size: 12px; left: 7px; }

.timeswitchcnt .switch .dote { position: absolute; width: 15px; height: 15px; background-color: #65BFA3; border-radius: 19px; top: 5px; left: 6px; transition: all .3s; }

.timeswitchcnt .switch .timer_right { left: 33px; }

.question_selection ul li { padding: 3px 10px; border-bottom-color: rgba(27, 31, 35, 0.15); color: #8c8c8c; }

.wwall_post_pry { width: 130px !important; font-size: 12px; }

.wwall_post_pry span { font-size: 14px !important; }

.wwall_post_pry .wallprydeopcnt { width: 130px !important; }

.wwall_post_pry .wallprydeopcnt .wall_pry_ul li { font-size: 14px !important; padding: 2px 9px !important; }

.wall_post_pry { width: 120px; font-size: 12px; }

.wall_post_pry:hover { border: 1px solid #dfe0e8 !important; color: #dfe0e8 !important; box-shadow: none; }

.wall_post_pry .wll_img_pey_cont { float: left; width: auto; padding-left: 6px; padding-left: 13px; text-align: left; margin-right: 13px; }

.wall_post_pry .wll_img_pey_cont span { padding: 0px; position: relative; top: 0px; left: -1px; font-size: 12px; }

.wall_post_pry .hoverr { width: 14px !important; top: 10px; height: 17px; position: relative; }

.wall_post_pry .defaultt { width: 14px !important; top: 0px; height: 17px; position: relative; }

.wall_post_pry:hover .hoverr { display: inline-block; }

.wall_post_pry:hover .defaultt { display: none; }

.wallpostdrpdwn { float: right; border-top-right-radius: 10px; border-top-left-radius: 10px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; border-bottom: 0px; border-color: #dfe0e8 !important; width: 119px !important; }

.wallpostdrpdwn:hover { border-color: #dfe0e8 !important; }

.wallpostdrpdwn .wallprydeopcnt { left: -1px; border: 1px solid #dfe0e8; border-top: none; border-top-right-radius: 0px; border-top-left-radius: 0px; top: 30px; }

.truefalsetext { font-size: 14px; padding: 1px 10px; position: relative; top: -6px; color: #8c8c8c; }

.walladdque .close_div { margin-right: 1px; }

.truefalseradio_btn { width: 9px; height: 9px; top: 50%; left: 50%; display: block; margin-top: -4.5px; margin-left: -4.5px; border: 1px solid #dfe0e8; margin-top: 7px; margin-left: 6px; cursor: pointer; }

.queType .tags:first-child { margin-left: 7px !important; }

.walladpostnutton.wwall_post_pry:hover { border-color: #F05050 !important; }

.walladpostnutton.wwall_post_pry.wallpostdrpdwn:hover { border: 1px solid #dfe0e8 !important; }

.walladpostnutton.wall_post_pry.wallpostdrpdwn:hover { border: 1px solid #dfe0e8 !important; }

.walladpostnutton.wall_post_pry:hover { border-color: #F05050 !important; }

.show_hadow { -webkit-box-shadow: 0 10px 20px rgba(0, 112, 186, 0.1) !important; -ms-box-shadow: 0 10px 20px rgba(0, 112, 186, 0.1) !important; -o-box-shadow: 0 10px 20px rgba(0, 112, 186, 0.1) !important; box-shadow: 0 10px 20px rgba(0, 112, 186, 0.1) !important; }

.borderonouter { border: 1px solid #cfd4d8; }

.linkImageaBackgroundImage { width: 30%; display: block; background-position: 50% 25%; background-size: cover; background-repeat: no-repeat; }

.shareLinkPostParentcontiner { display: flex !important; }

.active_question { border: 1px solid #66a9d5 !important; outline: 0; -webkit-box-shadow: 0 0 0 0.3rem 153, 197, 227, 0.3 !important; box-shadow: 0 0 0 0.3rem rgba(153, 197, 227, 0.3) !important; }

.interestclr { color: #8c8c8c !important; }

.heightauto { max-height: 100% !important; }

.active_question { border: 1px solid #66a9d5 !important; outline: 0; -webkit-box-shadow: 0 0 0 0.3rem 153, 197, 227, 0.3 !important; box-shadow: 0 0 0 0.3rem rgba(153, 197, 227, 0.3) !important; }

.interestclr { color: #8c8c8c !important; }

.desablebutton { background: #facaca !important; border: 1px solid #facaca !important; cursor: context-menu; }

.desablebutton:hover { background: #facaca !important; border: 1px solid #facaca !important; }

.desable { background-color: #facaca !important; border: 1px solid #facaca !important; cursor: context-menu; }

.btn.btn-primary.red_rds { width: 80px !important; }

.addpost_outer .messagepadding { padding-top: 0px !important; }

.addpost_outer .messagepadding .maintextarea_div { padding-top: 10px !important; }

.addpost_outer .messagepadding .maintextarea_div .StatusInfo { padding-top: 0px !important; }

.addtags.quesaddtag.wallint { padding: 5px 0px 5px 0px !important; width: 96%; margin: 0% 2% 0% 2% !important; }

.popup-open-wrapper .popup-open-inner-wrap .tabContentInner.question_addpost .padding_textarea { padding-bottom: 0px !important; }

.StatusInfo.perfect_scroll.walltextfield { white-space: pre-wrap; }

.fleft { float: left; }

.fleft_timer { padding-left: 0px; margin-left: 6px; width: 109px; }

.save_next_addpost { float: right; width: auto; display: inline; }

.dropdown_bottom_mobile.wall_post_pry { height: 27px; display: none; }

.dropdown_bottom_mobile.wall_post_pry .wallprydeopcnt { top: 25px; }

.dropdown_bottom_mobile.wall_post_pry .wll_img_pey_cont .defaultt, .dropdown_bottom_mobile.wall_post_pry .wll_img_pey_cont .hoverr { top: -3px; position: relative; left: -5px; }

.dropdown_bottom_mobile.wall_post_pry .wll_img_pey_cont span { top: -2px; }

.dropdown_bottom_mobile.wall_post_pry .tab-article { padding: 0px 10px 0px 8px; float: right; padding: 0px; position: relative; right: 8px; }

.dropdown_bottom_mobile.wall_post_pry .tab-article .defaultt, .dropdown_bottom_mobile.wall_post_pry .tab-article .hoverr { top: -2px; width: 10px !important; }

.dropdown_bottom_mobile.wall_post_pry:hover { border-color: #fff !important; }

.dropdown_bottom_mobile.wall_post_pry:hover .tab-article { padding-left: 0px; }

@media only screen and (max-width: 880px) and (min-width: 768px) { /* .addpost_tab.addpost-tab-question .defaultimage { display: none !important; } */ }

@media only screen and (max-width: 815px) and (min-width: 768px) { .addpost_outer .glow-input-part.input_part { padding-left: 5px; padding-right: 0; } }

@media only screen and (max-width: 1000px) and (min-width: 850px) { .addpost_tab span { font-size: 14px !important; } }

@media only screen and (max-width: 1175px) and (min-width: 992px) { .addpost_tab.addpost-tab-question .defaultimage { display: none !important; } }

@media only screen and (max-width: 1175px) and (min-width: 992px) { .addpost_tab { padding: 1px 8px 0px 8px; }
  .addpost_tab span { padding-right: 3px; font-size: 14px !important; } }

@media only screen and (max-width: 1050px) and (min-width: 992px) { .addpost_outer .glow-input-part.input_part { padding-left: 5px; padding-right: 0; } }

@media only screen and (max-width: 1175px) and (min-width: 992px) { .addpost_tab span { font-size: 14px !important; } }

/* @media only screen and (max-width:551px) and (min-width:318px){
  .addpost_tab.addpost-tab-question{
    .defaultimage{
      display: none !important;
    }
  }
  .wall_post_pry{
  .wll_img_pey_cont{
    .defaultt{
      display: none;
    }
    .hoverr{
      display: none;
    }

  }
  &:hover .wll_img_pey_cont .hoverr{
    display: none;
  }
}

} */
@media only screen and (max-width: 551px) and (min-width: 318px) { /* .addpost_tab{ padding: 1px 5px 0px 5px; span{ padding-right:3px; font-size: 14px !important; } } .addpost_outer{ .glow-input-part.input_part{ padding-left: 5px; padding-right:0; } } */ }

@media only screen and (max-width: 390px) and (min-width: 318px) { .addpost_tab span { font-size: 12px !important; } }

@media only screen and (max-width: 601px) and (min-width: 320px) { .addpost_outer { border-radius: 0; } }

@media only screen and (max-width: 991px) { /* .popup-open-wrapper.addpost_outer{ .popup-open-inner-wrap{ width:70%; } } */ }

@media only screen and (max-width: 991px) and (min-width: 300px) { .addtags.quesaddtag.wallint { position: relative; }
  .addtags.quesaddtag.wallint .taginput.interestclr { position: static !important; }
  .addtags.quesaddtag.wallint .taginput.interestclr .drpdwn_post.drpdwn_tag.list_tag { left: 0px; width: auto; right: 0px; bottom: auto; height: auto; top: 100%; }
  .addtags.quesaddtag.wallint .drpdwn_post.drpdwn_tag { z-index: 1; } }

@media screen and (max-width: 640px) { .popup-open-wrapper.addpost_outer .popup-open-inner-wrap { width: 100% !important; top: 0px; left: 0%; -webkit-transform: none; transform: none; }
  .popup-open-wrapper.addpost_outer .popup-open-inner-wrap .addpost_hdng { border-radius: 0px; }
  .questionhead .queType { width: 148px; }
  .questionhead .queType .drop_outPost { width: 148px; }
  .dropdown_bottom_mobile.wall_post_pry { display: block; }
  .dropdown_bottom_web.wall_post_pry { display: none; }
  .walladdque .wallpost_close_div { width: 30px; margin-right: -15px; }
  .walladdque .wallpost_close_div .defaultt, .walladdque .wallpost_close_div .hoverr { right: 10px; } }

@media screen and (max-width: 600px) { .queType { padding: 5px 6px 5px 15px; }
  .ques-post-wrap { height: 90px; }
  .save_next_addpost { margin: 4px 0px; }
  .timeswitchcnt { height: 42px; width: 100%; border-bottom: 1px solid #fff; margin-bottom: 5px; }
  .timeswitchcnt span { float: left; margin-right: 10px; }
  .timeswitchcnt .switch { float: left; }
  .timeswitchcnt .fleft_timer { width: auto; }
  .timeswitchcnt .fleft_timer .timer_input { margin-top: 0px; }
  .timeswitchcnt .fleft_timer .input-group .input-group-addon { margin-right: 5px; margin-top: 2px; }
  .timeswitchcnt .fleft_timer .input-group .form-control.time24 { top: 0px; padding-left: 0; margin-right: 0px; width: 65px; }
  .timeswitchcnt .fleft_timer .input-group .form-control.time24 .timelable { left: 5.5px; }
  .addpost_hdng .quesbtntab { width: auto; }
  .ques-post-wrap .save_next_addpost { float: left; width: 100%; display: flex; justify-content: center; }
  .ques-post-wrap .save_next_addpost button.btn.btn-primary { margin-top: 5px; width: 200px !important; }
  .addpost_outer.borderonouter { margin-bottom: 10px; } }

@media screen and (max-width: 540px) { .walladposroundImg, .walladposroundDoc, .walladposroundQues { width: 33px; height: 33px; padding: 1px 5px 0px 5px; }
  .walladposroundImg .fileupload_image span.post_doc_img, .walladposroundImg .fileupload_image span.post_up_img, .walladposroundDoc .fileupload_image span.post_doc_img, .walladposroundDoc .fileupload_image span.post_up_img, .walladposroundQues .fileupload_image span.post_doc_img, .walladposroundQues .fileupload_image span.post_up_img { display: none; }
  .walladposroundImg span.tab-question, .walladposroundDoc span.tab-question, .walladposroundQues span.tab-question { display: none; }
  .post_up_img { display: none; } }

@media screen and (max-width: 480px) { .queType { padding: 5px 6px 5px 10px; }
  .removeimg.remove-option { right: 8px; }
  .admin-question-post-result .options-analysis-wrap .analysis-option-box { float: none; margin-right: 5px; margin-left: 0px; margin-bottom: 5px; }
  /* .walladposroundImg, .walladposroundDoc, .walladposroundQues{width: 33px;
height: 33px;
  .fileupload_image {
      span.post_doc_img, span.post_up_img{display:none;}

  }
   span.tab-question{display:none;}
} */ }

@media screen and (max-width: 360px) { .ques-post-wrap { padding-left: 0px; padding-right: 0px; }
  .timeswitchcnt span.time_input_cont { width: 40%; margin-right: 0px; line-height: 13px !important; }
  .addpost_outer .footerbgcolor { padding: 5px 5px 10px 5px; } }
