.topperMain {
  min-width: 100%;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  border-radius: 5px 5px 0px 0px;
  background-size: 100% 100% !important;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.06);
  background: url("../../../../assets/images/leaderboard/top3bg.png");
}

.showData {
  padding: 30px 15% 30px 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

.itemData {
  width: 100%;
  padding-bottom: 75px;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin: auto;
  color: #fff;
  height: 150px;
  padding-left: 10px;
  padding-right: 10px;
}

.itemData .proImg {
  width: 52px;
  height: 52px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 2px solid #1be587;
  border-radius: 52px 52px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 3px;
}

.itemData .proImg img {
  width: 100%;
  border-radius: 100%;
}

.itemData .proImg .topperIcon {
  width: 20px;
  height: 20px;
  position: absolute;
  position: absolute;
  bottom: -6px;
  right: -1px;
}

.itemData .proImg .topperIcon2 {
  background-image: url("../../../../assets/images/leaderboard/top2.svg");
}

.itemData .proImg .topperIcon1 {
  background-image: url("../../../../assets/images/leaderboard/top1.svg");
  bottom: -1px;
  right: -1px;
}

.itemData .proImg .topperIcon3 {
  background-image: url("../../../../assets/images/leaderboard/top3.svg");
}

.itemData:nth-child(2) .proImg {
  border: 2px solid #fdb81d;
  width: 70px;
  height: 70px;
}

.itemData:nth-child(3) .proImg {
  border: 2px solid #50d5f0;
}

.itemData .stuInfo {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 65px;
}

.itemData .stuInfo p {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  margin-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 37px;
  overflow: hidden;
}

.itemData .stuInfo button {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  padding: 4px 10px;
  border: none;
}

.itemData1 {
  cursor: pointer;
}

.itemData1 .stuInfo button {
  padding-left: 27px;
  position: relative;
}

.itemData1 .stuInfo button .rank1Shield {
  background-image: url("../../../../assets/images/leaderboard/toppershield.svg");
  width: 14px;
  height: 13px;
  position: absolute;
  left: 8px;
  top: 6px;
  background-size: contain;
}

@media only screen and (max-width: 540px) {
  .showData {
    padding: 30px 10% 30px 10%;
  }
}

@media only screen and (max-width: 480px) {
  .showData {
    padding: 30px 5% 30px 5%;
  }
}

@media only screen and (max-width: 420px) {
  .showData {
    padding: 15px 0px 25px 0px;
  }
}
/*# sourceMappingURL=top-three-display.component.css.map */