input::-webkit-input-placeholder {
  opacity: 0.6 !important;
}

input:-ms-input-placeholder {
  opacity: 0.6 !important;
}

input::-ms-input-placeholder {
  opacity: 0.6 !important;
}

input::placeholder {
  opacity: 0.6 !important;
}

.popup-open-wrapper.addpost_outer .popup-open-inner-wrap {
  background-color: transparent;
  width: 620px;
  top: 125px;
  overflow: hidden;
}

.popup-open-wrapper.addpost_outer .popup-open-inner-wrap .topheadsavpop {
  background-color: #fff;
  border-top-right-radius: 5px !important;
  border-top-left-radius: 5px !important;
}

.popup-open-wrapper.addpost_outer .popup-open-inner-wrap .alertwrapper {
  padding: 10px 10px 0 10px;
}

.popup-open-wrapper.addpost_outer .popup-open-inner-wrap .alertmessage {
  font-size: 13px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 0px;
  margin-bottom: 0px;
  list-style: none;
  padding: 15px 15px 15px 64px;
  position: relative;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.65);
  line-height: 1.5;
  border: 1px solid #f05050;
  background-color: #fff2f0;
  width: 100%;
}

.popup-open-wrapper.addpost_outer .popup-open-inner-wrap .alertmessage .redcancel {
  position: absolute;
  width: 24px;
  left: 21px;
  top: 12.5px;
  cursor: pointer;
}

.popup-open-wrapper.addpost_outer .popup-open-inner-wrap .tlbar {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  border-bottom: 1px solid #e9e9e9;
  min-height: 60px;
  line-height: 42px;
}

.popup-open-wrapper.addpost_outer .popup-open-inner-wrap .tlbar img {
  margin: 0 !important;
  position: absolute;
  top: 15px;
  right: 15px;
}

.popup-open-wrapper.addpost_outer .popup-open-inner-wrap .tlbar p {
  font-size: 12px;
}

.create_page_outer {
  padding: 20px 0px 0px 0px;
  background-color: #fff;
  margin-bottom: 20px;
  float: left;
  border-radius: 0px 0px 5px 5px;
  width: 100%;
  overflow: hidden;
}

.create_page_outer p.create_heading {
  color: #2c2e2f;
  font-size: 14px;
  margin-bottom: 20px;
  padding: 0px 30px;
}

.create_page_outer p.create_hd_desp {
  padding-left: 38px;
  margin-bottom: 10px;
}

.create_page_outer .left_type_c_p {
  padding: 15px;
  width: 260px;
  cursor: pointer;
  height: 84px;
  float: left;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 0px 0px 30px 0px;
}

.create_page_outer .left_type_c_p:hover {
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 0 2px #ccc;
          box-shadow: 0 0 2px #ccc;
  background-color: #e8ecf1;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.create_page_outer .left_type_c_p .page_type {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.create_page_outer .left_type_c_p .page_type span {
  width: 32%;
  float: left;
  margin-left: 5px;
}

.create_page_outer .left_type_c_p .page_type span img {
  width: 52px;
  margin-left: 0px;
}

.create_page_outer .left_type_c_p .page_type span.active_imgg {
  display: none;
}

.create_page_outer .left_type_c_p .page_type p {
  font-size: 16px;
  color: #2c2e2f;
  width: 55%;
  float: left;
  line-height: 17px;
  margin-top: 8px;
  margin-top: 16px;
  font-weight: 500;
  text-align: center;
  margin-left: 5px;
}

.create_page_outer .left_type_c_p .page_type .title_institute {
  margin-left: 20px;
}

.create_page_outer .left_type_c_p .page_type .img_wth {
  width: 74px !important;
}

.create_page_outer .left_type_c_p.active {
  border-color: rgba(236, 48, 36, 0.6);
  -webkit-box-shadow: 0 0 2px rgba(236, 48, 36, 0.4);
          box-shadow: 0 0 2px rgba(236, 48, 36, 0.4);
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  background-color: #F05050;
}

.create_page_outer .left_type_c_p.active .page_type p {
  color: white;
}

.create_page_outer .left_type_c_p.active .page_type span.active_imgg {
  display: inline-block;
}

.create_page_outer .left_type_c_p.active .page_type span.default_imgg {
  display: none;
}

.create_page_outer .right_type_c_p {
  float: right;
  margin: 0px 0px 30px 0px;
}

.course_reg_field {
  float: left;
  margin: 5px 0px 0px 0px;
  width: 100%;
}

.course_reg_field .input_dt {
  padding: 0px 30px;
}

.course_reg_field .input_dt label {
  float: left !important;
  width: 100% !important;
  color: #2c2e2f !important;
  margin-bottom: 10px !important;
}

.course_reg_field .input_data {
  float: left;
  width: 100%;
  margin-bottom: 25px;
}

.course_reg_field .input_data label {
  color: #2c2e2f;
  font-size: 12px;
  margin-bottom: 5px;
  width: 100%;
  font-weight: normal;
  float: left;
}

.course_reg_field .input_data input {
  transition: border-color .2s ease-in-out,-webkit-box-shadow .2s ease-in-out;
  padding-left: 15px;
}

.course_reg_field .input_data input:focus {
  border: 1px solid #66a9d5 !important;
  border-color: #66a9d5 !important;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.3rem rgba(153, 197, 227, 0.3) !important;
  box-shadow: 0 0 0 0.3rem rgba(153, 197, 227, 0.3) !important;
}

.course_reg_field .input_data label.label_lab {
  font-size: 14px;
  font-weight: normal;
}

.course_reg_field .input_data input {
  border-radius: 30px;
}

.create_page_interest {
  padding: 15px 7.5px 15px;
  background-color: #e6e6e6;
}

.create_page_interest .interestlist_outer {
  padding-right: 0px;
}

.create_page_interest .interestlist_outer .interestlist li {
  width: 33.33%;
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 10px;
}

.create_page_interest .interestlist_outer .interestlist li .img-warp {
  float: left;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
}

.create_page_interest .interestlist_outer .interestlist li .interestboxinr {
  height: 35px;
}

.create_page_interest .interestlist_outer .interestlist li .interestboxinr .Interest_Name {
  z-index: 12;
  text-transform: capitalize;
  font-size: 12px;
  text-align: left;
  padding-left: 0px !important;
}

button.btn.btn-primary {
  height: 34px;
  line-height: 32px;
  padding: 0 32px;
  border-radius: 20px;
  float: none;
}

.Interest_Name {
  padding-left: 5px;
  z-index: 12;
  text-transform: capitalize;
  font-size: 12px;
  text-align: left;
}

.create_page_interest {
  background-color: white !important;
  padding: 0px 0px 0px !important;
}

.create_page_interest .interest-page-wrapper .interestpopup {
  padding: 15px 20px 20px;
}

.create_page_interest .interest-page-wrapper .interestpopup .interest-title h2 {
  font-size: 14px !important;
  font-weight: 500;
  margin: 10px 0 20px 0;
}

.create_page_interest .interest-page-wrapper button {
  float: right;
}

.interestlist .interest-inner-wrap .interestboxmain {
  border: 1px solid #e6e6e6;
}

.interestlist li .interestcheckbox:checked + .interestboxinr .interestboxmain {
  background-color: white !important;
}

.create_page_interest .interestlist_outer .interestlist li .img-warp-redicon, .create_page_interest .interestlist_outer .interestlist li .img-warp {
  float: left;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
}

.create_page_interest .interestlist_outer .interestlist li .img-warp-redicon img, .create_page_interest .interestlist_outer .interestlist li .img-warp img {
  width: 100%;
  float: left;
  height: 25px !important;
  margin-top: 5px;
}

.footer {
  padding: 15px 30px 15px 30px;
  border-top: 1px solid #e9e9e9;
  -webkit-box-shadow: 0px 1px 10px 1px #e9e9e9;
  box-shadow: 0px 1px 5px 1px #e9e9e9 !important;
  margin-top: 15px;
  width: 100%;
  float: left;
}

.close_err {
  position: absolute;
  right: 10px;
  width: 8px;
  height: 8px;
  top: 10px;
  cursor: pointer;
}

.close_err .default {
  display: block;
  width: 100%;
}

.close_err .hover {
  display: none;
  width: 100%;
}

.close_err:hover .default {
  display: none;
}

.close_err:hover .hover {
  display: block;
}

.input_data.input_dt .right_wrapp {
  float: left;
  width: 100%;
}

.input_data.input_dt .right_wrapp .input_inner_wrapper {
  position: relative;
}

.input_data.input_dt .right_wrapp .input_inner_wrapper input {
  padding-right: 60px;
}

.input_data.input_dt .right_wrapp .input_inner_wrapper .length_char {
  color: #2c2e2f;
  float: right;
  position: absolute;
  top: 10px;
  right: 15px;
}

.pagename-heading {
  margin-top: 10px;
  position: relative;
  width: 100%;
  float: left;
}

.pagename-heading .msgalert {
  float: right;
  display: inline-block;
  position: absolute;
  right: 0;
}

.pagename-heading .pageurl {
  display: inline-block;
  width: 100%;
  float: left;
}

@media only screen and (max-width: 680px) {
  .create_page_outer .left_type_c_p {
    margin: 0 auto 15px !important;
    float: unset;
  }
  .create_page_outer.create_page_interest .interestpopup {
    padding: 10px !important;
  }
  .create_page_outer.create_page_interest .interestpopup .interestlist li {
    width: 50% !important;
  }
  .popup-inner-wrap.popup-open-inner-wrap {
    top: 15px !important;
  }
}
/*# sourceMappingURL=createpage.component.css.map */