// // .empty-message{
// // color: #2c2e2f !important;
// // }
// .page-about-wrapp{
//   .pg-about-interest{
//      span{
//        background-color:#f5f7fa !important;
//      }
//    }
// }
.page-about-wrapp{
  .pg-about-interest{
     span{
       background-color:#f5f7fa !important;
     }
   }
}
.alert_mess{
    box-shadow: 0 0 0 0.3rem rgba(240,80,80,0.3) !important;
}
.alertwrapper{
      padding: 10px 10px 0 10px;
.alert_mess,.alertmessage{
    border: 1px solid #f05050 !important;
    outline: 0;
    // box-shadow: 0 0 0 0.3rem rgba(240,80,80,0.3) !important;
    .close_err{
        position: absolute;
        right: 10px;
        width: 8px;
        height: 8px;
        top: 10px;
        cursor: pointer;
      .default{
        display: block;
        width: 100%;
      }
      .hover{
       display: none;
       width: 100%;
      }
       &:hover .default{
         display: none;
       }
       &:hover .hover{
         display: block;
       }
    }
}
}
