<div class=" page_about_outer " *ngIf="loadPageAbout==false">
    <div class="about_outer ">
        <h6 class="widgetheading">About</h6>
        <div class="page-about-wrapp">
            <div class="top-heading">
                <h6 class="page_about_head">
                    <span>
                        <img src="assets/images/svg-three/page_icon/about/general.svg" alt="aio">
                    </span>
                    <span>General Info</span>
                </h6>
                <button *ngIf="user_type==1" class="editButton" (click)="popupClose();">
                    <img class="defaultt plus" src="assets/images/svg-three/profile_about/edit.svg">
                    <img class="hoverr plus" src="assets/images/svg-three/profile_about/f05050/edit.svg">
                </button>
            </div>
            <div class="about-content-wrapp">
                <div class="pg-about-content">
                    <span>Page title</span>
                    <p>{{this.title}}</p>
                </div>
                <div class="pg-about-content">
                    <span>Phone number</span>

                    <p class="empty-message" *ngIf="showemptyNum && user_type==1">Provide phone number</p>
                    <p class="empty-message" *ngIf="showemptyNum && user_type==0">No contact number</p>
                    <p>{{pageDetails['phone']}}</p>

                </div>
                <div class="pg-about-content">
                    <span>Email address</span>

                    <p class="empty-message" *ngIf="showemptyEmail && user_type==1">Provide email address</p>
                    <p class="empty-message" *ngIf="showemptyEmail && user_type==0">No email</p>
                    <p>{{pageDetails['email']}}</p>
                </div>
                <div class="pg-about-content">
                    <span>Website URL</span>
                    <p class="empty-message" *ngIf="showemptyWeb && user_type==1">Add your website url</p>
                    <p class="empty-message" *ngIf="showemptyWeb && user_type==0">No website url</p>
                    <a href="{{pgUrl}}" target="_blank">
                        <p>{{pageDetails['website']}}</p>
                    </a>
                </div>
                <div class="pg-about-content">
                    <span>Type</span>
                    <p *ngIf="collegeTyp">Organisation</p>
                    <p *ngIf="indivisualTyp">Individual</p>
                </div>
                <div class="pg-about-content" *ngIf="user_type==1">
                    <span>Page Token</span>
                    <div style="width: 100%;">
                        <div id='pageToken' style="width:90%;overflow-x:scroll ; display: inline-block;">{{pageToken}}
                        </div>
                        <div (click)="postData.copyPostURL(pageDetails['PAGE_AUTH_TOKEN'])" class='copyLinkButton'><img
                                src="assets/images/svg-three/copyicon.svg"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- general popup start -->
        <div class="popup" *ngIf="generalpopup">
            <div class="popup_background" *ngIf="generalpopup"></div>
            <div class=" abt_exp_popup" style="    margin-top: -200px;">
                <div class="popup_heading close_parent top_headingg " style="background:#fff;">
                    <span class="img">
                        <img src="assets/images/svg-three/page_icon/about/general.svg" alt="aio">
                    </span>
                    General Info
                    <span class="close_div" (click)="close_popup();">
                        <img class="defaultt" src="assets/images/svg/tagcross.svg">
                        <img class="hoverr" src="assets/images/svg/tagcross-gray.svg">
                    </span>
                </div>

                <div class="alertwrapper" *ngIf="alert==1">
                    <div class="alertmessage">
                        <img src="assets/images/svg-three/login_icon/loginerror.svg" alt="aio" class="redcancel">
                        <span class="close_err" (click)="hidealertmsg()">
                            <img class="default" src="assets/images/svg/tagcross.svg">
                            <img class="hover" src="assets/images/svg/tagcross-gray.svg">
                        </span>
                        {{alertMsg}}
                    </div>
                </div>

                <div class="inner-wrap">



                    <div class="col-md-12 col-sm-12 post-wrap fleft">


                        <div class="col-md-12 col-sm-12 col-xs-12 fleft">

                            <div class="row">
                                <div class="alertwrapper">

                                </div>
                                <div class="input_wrapper">
                                    <span class="input_label">Name</span>
                                    <div class="input_inner_wrapper ">
                                        <input type="text" name="name" placeholder="" id="name"
                                            [(ngModel)]="oldDetails['title']" [ngClass]="{'alert_mess':showerror}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 fleft">
                            <div class="row input-left">
                                <p class="alert_msg" *ngIf="showErrorDate">{{error}}</p>
                                <div class="input_wrapper">
                                    <span class="input_label">Phone number</span>
                                    <div class="input_inner_wrapper">
                                        <!-- <input type="tel" placeholder="" id="cellphone"
                                            [(ngModel)]="oldDetails['phone']" [ngClass]="{'alert_mess':showerror2}"> -->
                                            <app-mobileno [countryId]="oldDetails.countryId" [mobileNumber]="pageDetails['phone']" (emitter)="setMobileNumberAndCountryCode($event)" [className]="'pageAbout'"></app-mobileno>


                                    </div>
                                </div> 
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 fleft">
                            <div class="row input-right">
                                <p class="alert_msg" *ngIf="showErrorDate">{{error}}</p>
                                <div class="input_wrapper">
                                    <span class="input_label">Email address</span>
                                    <div class="input_inner_wrapper">
                                        <input type="email" placeholder="" id="emailid"
                                            [(ngModel)]="oldDetails['email']" [ngClass]="{'alert_mess':showerror3}">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <p class="alert_msg" *ngIf="showErrorDate">{{error}}</p>
                        <div class=" col-md-12 col-sm-12 col-xs-12 input_wrapper">
                            <div class="row">
                                <span class="input_label">Website URL</span>
                                <div class="input_inner_wrapper">
                                    <input type="text" placeholder="" id="websitte" [(ngModel)]="oldDetails['website']"
                                        [ngClass]="{'alert_mess':showerror4}">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="footer col-md-12 col-sm-12 col-xs-12 fleft">
                        <!-- <button type="button" name="button" class="btn btn-primary  floatleft deletebtn" *ngIf="expId!=0" (click)="delUserExp();">Delete</button> -->
                        <button type="button" name="button" class="redColorButton fright button24x7"
                            (click)="updatePageGenInfo();">Save</button>

                    </div>
                </div>
            </div>
        </div>
        <!-- general popup end -->
    </div>
    <div class="page-about-wrapp top-head clearfix">
        <div class="top-heading">
            <h6 class="page_about_head"><span><img src="assets/images/svg-three/page_icon/about/pageinfo.svg"
                        alt="aio"></span><span>Page Info</span></h6>
            <button *ngIf="user_type==1" class="editButton" (click)="hide_popus();">
                <img class="defaultt plus" src="assets/images/svg-three/profile_about/edit.svg">
                <img class="hoverr plus" src="assets/images/svg-three/profile_about/f05050/edit.svg">
            </button>
        </div>
        <div class="about-content-wrapp">
            <div class="pg-about-content">
                <span>Created on</span>
                <p>{{time | date :'dd MMM, yyyy'}}</p>
                <p class="empty-message" *ngIf="showemptymessage">Provide Creation date</p>
            </div>
            <div class="pg-about-content">
                <span>About</span>
                <p class="empty-message" *ngIf="showemptyAbout && user_type==1">Add about</p>
                <p class="empty-message" *ngIf="showemptyAbout && user_type==0">No about</p>
                <p>{{pageDetails['pageDesc']}}</p>
                <p class="empty-message" *ngIf="showemptymessage">Tell your followers about your page</p>
                <!--<span class="see-moreabout">See more</span>-->
            </div>

        </div>
    </div>
    <div class="page-about-wrapp top-head clearfix">
        <div class="top-heading">
            <h6 class="page_about_head">
                <span>
                    <img src="assets/images/svg-three/page_icon/about/interest.svg" alt="aio">
                </span>
                <span>Interests</span>
            </h6>
            <button *ngIf="user_type==1" class="editButton" (click)="interest_popus();">
                <img class="defaultt plus" src="assets/images/svg-three/profile_about/edit.svg">
                <img class="hoverr plus" src="assets/images/svg-three/profile_about/f05050/edit.svg">
            </button>
        </div>
        <div class="pg-about-interest" *ngIf="withoutToken">
            <span *ngFor="let tags of pageInterest" [id]='tags'>
                {{tags['INTEREST_NAME']}}
            </span>
        </div>

        <div class="pg-about-interest" *ngIf="!withoutToken">
            <span *ngFor="let tags of pageInterest" [id]='tags'>
                {{interestObj[tags]}}
            </span>
        </div>
    </div>
    <!-- interests popup start -->
    <div class="popup" *ngIf="interestpopup">
        <div class="popup_background"></div>
        <div class=" abt_exp_popup" style="max-height:450px;margin-top: -200px;">
            <div class="popup_heading close_parent top_headingg" style="background:#fff;">
                <span class="img">
                    <img src="assets/images/svg-three/page_icon/about/interest.svg" alt="aio">
                </span>
                Interests
                <span class="close_div" (click)="close_popup();">
                    <img class="defaultt" src="assets/images/svg/tagcross.svg">
                    <img class="hoverr" src="assets/images/svg/tagcross-gray.svg">
                </span>
            </div>
            <div class="inner-wrap in_wrapp">
                <div class="post-wrap inn_post_wrrap">
                    <div class="wrapper interest-page-wrapper">
                        <div class="interest_outer_wrapper interest-popp" [perfectScrollbar]="config"
                            style="position: relative;">
                            <div class="grid_accordian_outer_wrap popup-interest">
                                <!-- fifth -->
                                <div class="accordian_panel_wrapper wrap_panal">
                                    <!--<span class="interest_icon_left"><img src="./assets/images/interest/greyicon/10.svg" alt="aio"></span>-->
                                    <div class="interest_accordian_wrap">
                                        <div class="panel-group panel_group_wrap clearfix"
                                            style="margin-bottom: 5px !important;">
                                            <div class="panel panel-default panel_dwrap">
                                                <div id="coll5">
                                                    <div class="panel-body panel_body_wrap wrap_body">
                                                        <div class="interestpopup">
                                                            <div class="interest_content">
                                                                <div class="interestlist_outer interestlist_outer_wrap">
                                                                    <ul class='interestlist clearfix'>
                                                                        <ng-container
                                                                            *ngFor="let interests of userInterest">
                                                                            <li class="interest_list_wrap">
                                                                                <div class="interest-inner-wrap">
                                                                                    <input name="interest_checkbox"
                                                                                        type='checkbox'
                                                                                        class="interestcheckbox"
                                                                                        value="{{interests}}"
                                                                                        id='ids_{{interests}}'
                                                                                        (change)="checkboxupdate($event.target.getAttribute('value'),$event);">
                                                                                    <label
                                                                                        class="interestboxinr clearfix"
                                                                                        for='ids_{{interests}}'>
                                                                                        <span
                                                                                            class="interestboxmain interestboxmain_wrap"></span>
                                                                                        <span
                                                                                            class="Interest_Name Interest_name_wrap">{{interestObj[interests]}}</span>
                                                                                    </label>
                                                                                </div>
                                                                            </li>
                                                                        </ng-container>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer interest-footer-popup col-md-12 col-sm-12 fleft">
                    <!-- <button type="button" name="button" class="btn btn-primary  floatleft deletebtn" *ngIf="expId!=0" (click)="delUserExp();">Delete</button> -->
                    <button type="button" name="button" class="redColorButton fright button24x7"
                        (click)="updatePageInterst()">Save</button>
                </div>
            </div>
        </div>
    </div>
    <!-- interest popup end -->
    <div class="page-about-wrapp top-head clearfix">
        <div class="top-heading">
            <h6 class="page_about_head"><span><img src="assets/images/svg-three/page_icon/about/location.svg"
                        alt="aio"></span><span>Location</span></h6>
            <button *ngIf="user_type==1" class="editButton" (click)="location_popus();">
                <img class="defaultt plus" src="assets/images/svg-three/profile_about/edit.svg">
                <img class="hoverr plus" src="assets/images/svg-three/profile_about/f05050/edit.svg">
            </button>
        </div>
        <div class="about-content-wrapp clearfix">
            <div class="pg-about-content">
                <span>Address</span>
                <p class="empty-message" *ngIf="emptyaddress && user_type==1">Add address</p>
                <p class="empty-message" *ngIf="emptyaddress && user_type==0">No address</p>
                <p>{{addrss}}</p>
            </div>
            <!--        <div class="pg-about-content">
                    <span>Working Hours</span>
                    <p>{{time}}</p>
                    <p class="empty-message" *ngIf="showemptymessage">Provide working hours</p>

                </div>-->
            <div class="location">
                <iframe frameborder="0" style="border:0;border-radius:5px;" [src]="staticURL" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <!-- Location popup start -->
    <div class="popup" *ngIf="locationpopup">
        <div class="popup_background"></div>
        <div class=" abt_exp_popup" style="max-height:470px;top: 60%;">
            <div class="popup_heading close_parent top_headingg" style="background:#fff;">
                <span class="img">
                    <img src="assets/images/svg-three/page_icon/about/location.svg" alt="aio">
                </span>
                Location
                <span class="close_div" (click)="close_popup();">
                    <img class="defaultt" src="assets/images/svg/tagcross.svg">
                    <img class="hoverr" src="assets/images/svg/tagcross-gray.svg">
                </span>
            </div>
            <div class="inner-wrap location_wrap">
                <div class="col-md-12 col-sm-12 col-xs-12 post-wrap">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="row">

                            <div class="input_wrapper">
                                <span class="input-check-button">
                                    <input class="librarycheckbox" id="hasaddress" type="checkbox" (click)="checked()">
                                    <label class="list_opt" for="hasaddress">
                                        <span class="checkbox_btn">
                                            <img class="checkboximg" src="assets/images/svg-one/checkbox-white.svg">
                                        </span>
                                    </label>
                                </span>
                                <span class="input_label input-check-label" id="checkbox">Has a street address</span>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 fleft" *ngIf="statuscheck">
                        <div class="row">
                            <p class="alert_msg" *ngIf="showErrorDate">{{error}}</p>
                            <div class="input_wrapper">
                                <span class="input_label">Street address</span>
                                <div class="input_inner_wrapper">
                                    <input id="street" type="text" placeholder="Provide address" (keyup)="holdData()"
                                        [(ngModel)]="streetDummy">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 fleft" *ngIf="!statuscheck">
                        <div class="row">
                            <p class="alert_msg" *ngIf="showErrorDate">{{error}}</p>
                            <div class="input_wrapper">
                                <span class="input_label">State</span>
                                <div class="input_inner_wrapper">
                                    <input id="street" type="text" placeholder="State" (keyup)="holdData()"
                                        (click)="stopPropagation();" [(ngModel)]="stateDummy">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 fleft">
                        <div class="row input-right">
                            <p class="alert_msg" *ngIf="showErrorDate">{{error}}</p>
                            <div class="input_wrapper">
                                <span class="input_label">City</span>
                                <div class="input_inner_wrapper">
                                    <input id="city" type="text" placeholder="Your city" (keyup)="holdData()"
                                        (click)="stopPropagation();" [(ngModel)]="cityDummy">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 fleft">
                        <div class="row input-right">
                            <p class="alert_msg" *ngIf="showErrorDate">{{error}}</p>
                            <div class="input_wrapper">
                                <span class="input_label">Postal code</span>
                                <div class="input_inner_wrapper">
                                    <input id="postal_code" type="text" placeholder="Ex. 201301" (keyup)="holdData()"
                                        (click)="stopPropagation($event);" [(ngModel)]="postal_Dummy">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 fleft">
                        <div class="row">
                            <p class="alert_msg" *ngIf="showErrorDate">{{error}}</p>
                            <div class="input_wrapper">
                                <div class="location">
                                    <iframe frameborder="0" style="border:0;border-radius:5px;" [src]="methodToGetURL()"
                                        allowfullscreen></iframe>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="footer col-md-12 col-sm-12 col-xs-12 fleft">

                    <button type="button" name="button" class="redColorButton fright button24x7"
                        (click)="updateAdress()">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="loader2" *ngIf="loadPageAbout">
    <img src="assets/images/24x7preloader.gif" alt="aio">
</div>
<!-- pageinfo popup start -->
<div class="popup" *ngIf="pageinfo">
    <div class="popup_background"></div>
    <div class=" abt_exp_popup" style="margin-top: -200px;">
        <div class="popup_heading close_parent top_headingg" style="background:#fff;">
            <span class="img">
                <img src="assets/images/svg-three/page_icon/about/pageinfo.svg" alt="aio">
            </span>
            Page Info
            <span class="close_div" (click)="close_popup();">
                <img class="defaultt" src="assets/images/svg/tagcross.svg">
                <img class="hoverr" src="assets/images/svg/tagcross-gray.svg">
            </span>
        </div>
        <div class="inner-wrap in_wrapp fleft">
            <div class="post-wrap fleft" style="padding:0px;">

                <div class="col-md-12 col-sm-12 selectbox_wrap pagewrapselectbox_wrap fleft">

                    <p class="alert_msg" *ngIf="showErrorDate">{{error}}</p>
                    <div class="input_wrapper">
                        <span class="input_label">About</span>
                        <div class="input_inner_wrapper">
                            <textarea [perfectScrollbar]="config" style="position:relative" name="name" rows="8"
                                cols="80" placeholder="Tell us about your page." [(ngModel)]="oldDetails['pageDesc']"
                                id="about"></textarea>
                        </div>
                    </div>

                </div>
                <div class="footer  col-md-12 col-sm-12 fleft">
                    <!-- <button type="button" name="button" class="btn btn-primary  floatleft deletebtn" *ngIf="expId!=0" (click)="delUserExp();">Delete</button> -->
                    <button type="button" name="button" class="redColorButton fright button24x7"
                        (click)="updatePageInfo()">Save</button>

                </div>
            </div>
        </div>
    </div>
</div>
<app-confirmationpopup *ngIf="openConfirmation" (closeComfirmPopupThread)="closePopup($event);" [dataObj]="dataConf">
</app-confirmationpopup>
