<div class="peopleknow_outer ppl-you-may-know invitefriends">
        <h6 class="widgetheading head_n top_heading">Invite Friends  </h6>
        <div class="friend-invites">
          <p>Inform your friends about this page, so they too can be a part of it.</p>
<!--          <div class="friend-search">
            <span class="search-btn-wrap">
              <button class="btn-wrap">
                    <img alt="study24x7" src="./assets/images/svg-three/head/search-02.svg"></button>
            </span>
            <input type="text" class="friend-srch" placeholder="Search Friends">
          </div>-->
          <div class="select-all"><span (click)="showselect()">{{show ? 'Select All' : 'Unselect All'}}</span></div>
        </div>
        <perfect-scrollbar  class='people_list list_npeople'   data-infinite-scroll
            [infiniteScrollDistance]="20"
            (psYReachEnd)="onScrollDown()"
            [scrollWindow]="false"  [perfectScrollbar]="config" style="position:relative;">
            <ul>
                <li *ngFor="let arr of inviteList" >
                    <div class="profileimg_know" routerLink="/profile/{{arr.USER_NAME}}">
                        <img src='{{arr.PROFILE_PHOTO_PATH}}'>
                    </div>
                    <div class="profile-detl prfl_detail">
                          <div class="profilename" title="{{arr.FULL_NAME}}" style="margin-top: 10px;" routerLink="/profile/{{arr.USER_NAME}}">{{arr.FULL_NAME |trimData:17}}</div>
                        <!--<div class="grayinfo info-id">{{arr.USER_NAME}}</div>-->
                        <!-- <a class="connictionlink">johndoe1@gmail.com</a> -->
                    </div>
                    <!-- <button class="btn-pagetips">Invite</button> -->
                    <span class="select-invite">
                        <input class="librarycheckbox" name="invtFrnd" id="invtFrnd_{{arr.USER_ID}}" type="checkbox" value="{{arr.USER_ID}}">
                                  <label class="list_opt" for="invtFrnd_{{arr.USER_ID}}">
                                  <span class="checkbox_btn">
                                  <img class="checkboximg" src="assets/images/svg-one/checkbox-white.svg">
                                </span>
                          </label>
                    </span>
                </li>
            </ul>
        </perfect-scrollbar>
        <div class="invitefriend-footer">
          <button [disabled]="disableInvites" class="whiteColorButton  button24x7 fright" (click)= "sendInvite();">Send Invites</button>
        </div>
</div>
