<div class="popupMain">
  <div class="showMessage">
    <div class="imgSec">

      <img src="assets/images/svg-icon/better-exp.png" alt="">
    </div>
    <div class="contSec">
      <div class="messageCont">
        <div class="messageHead">Get better experience on the Study24x7 app</div>
        <p class="messagePara">Available both in Android and IOS platforms</p>
      </div>
      <div class="updateSec">
        <button id='active-status-submit-button' (click)="setUserStatus()" class="btnAcive" type="button" name="button">
          <span>GET THE APP</span>
        </button>
        <span class="skipmsg skipmsg2" (click)="closePopupForContinueWeb()">Continue with mobile web</span>
      </div>
    </div>
  </div>
</div>