  $backgroundgray : #e6e6e6;
  $themeblue : #F05050;
  $themegray : #f5f7fa;
  $textcolor : #2c2e2f;
  $textgrey : rgba(0,0,0,0.44);
  $maingreen: rgb(7,162,8);
  $stroke : #dfe0e8;
  // $stroke : #E9E9E9;
  $borderRadius: 5px;
  $inputTypeHeight: 35px;
  $inputTypeFont: 12px;
  $headerHeight: 60px;
  $headerLineHeight: $headerHeight - 5px;
  $mainboxShadow: 0 0 7px rgba(0,0,0,0.1);
  $dropdownwidth: 400px;
  $dropdwncontentwidth: $dropdownwidth - 100px;
  $ntfctnprofile: 40px;
  $inrprflimg : $ntfctnprofile + 8px;
  $PostPicture: 40px;
  $commentPicture: $PostPicture - 10px;
  $subcommentPicture: $commentPicture - 10px;
  $mainpostName: 16px;
  $maincommentName: $mainpostName - 2px;
  $commentName: $maincommentName - 2px;
  $darkthemestroke: $themeblue;
  $progressbarRed: #ed6568;
  $rightanswer : #5bbc5b;
  $lightgray : #fafafa;
  $lightstroke: #f4f4f4;
  $borderRadiuscomment: 0px 0px 3px 3px;


 .post_outer{
 	// background: #fff;
 	// border-radius: $borderRadius;
 	// margin-bottom: 15px;
 	// display: inline-block;
 	// width: 100%;
 	// box-sizing: border-box;
 	// box-shadow: $mainboxShadow;
// ------------------------
 	.post_profile{
 	// 	display:inline-block;
 	// 	width: 100%;
 	// 	float: left;
 	// padding: 15px;
 	// box-sizing: border-box;

 		// .post_profilepic{
 		// 	display:inline-block;
 		// 	width:$PostPicture;
 		// 	height:$PostPicture;
 		// 	overflow: hidden;
 		// 	float: left;
 		// 	border-radius: $borderRadius;
    //
 		// 	img{
 		// 		width:100%;
 		// 	}
 		// }
 		// .profiledetail{
 		// 	display:inline-block;
 		// 	float: left;
 		// 	width: 400px;
 		// 	margin-left: 10px;
 		// 	line-height: 14px;
    //
		// 	.name, .time{
		// 		display: inline-block;
		// 		width: 100%;
		// 		line-height: 0px;
		// 	}
 		// 	.name{
 		// 		color: $themeblue;
 		// 		font-size: $mainpostName;
 		// 		font-family: 'Roboto', sans-serif;font-weight: 500;
 		// 	}
 		// 	.time{
 		// 		font-size: 12px;
 		// 		color: $textgrey;
 		// 		margin-top: 12px;
 		// 	}
    //
 		// }

			// .glyphicon{
			// 	float:right;
			// 	color: $textgrey;
			// }
 	}
  // -------------------------

	// .post_profileContent{
	// 	margin-top: -5px;
	// 	display: inline-block;
	// 	width: 100%;
 	// 	padding: 0 15px 15px;
 	// 	box-sizing: border-box;
 	// 	line-height: 20px;
	// 	font-size: 14px;
  //
 	//  	img{
 	// 	 	max-width: 100%;
 	// 	}
  //
  //
	// }
	// .post_footer{
	// 	// border-top: 1px solid $stroke;
	// 	// border-bottom: 1px solid $stroke;
	// 	// padding: 8px 15px;
	// 	display: inline-block;
	// 	width: 100%;
	// 	box-sizing: border-box;
	// 	color: $textgrey;
  //
  //
	// 	.post_footeroption{
	// 	margin-right: 26px;
	// 	cursor: pointer;
	// 	}
  //
	// 	.glyphicon:before{
	// 		    font-size: 13px;
  //   line-height: 9px;
  //   float: left;
  //   color: $textgrey;
	// 	}
	// 	.glyphicon.glyphicon-thumbs-up:before{
	// 		font-size: 15px;
	// 	}
  //
	// }



	.comment_outer{
		// background: $themegray;
		// padding: 15px;
    //     border-radius: $borderRadiuscomment;

		// .writecomment{
		// 	// padding: 15px;
		// 	input{
		// 		width:87%;
		// 	}
		// }
		// .comment_list{
		// 	display: inline-block;
		// 	width: 100%;
		// 	box-sizing: border-box;
    //
		// 	.writecomment{
		// 		margin-bottom: 15px;
    //             input{width:86%;}
		// 	}
		// }
    // ------------------
		.post_profile{
			padding: 15px 0 0;
			margin-top: 15px;
			border-top: 1px solid $stroke;

			.post_profilepic{
				height:	$commentPicture;
				width:	$commentPicture;
			}
			.name{
				font-size: $commentName;
				margin-right: 10px;
				display: inline-block;
				float: left;
				width: auto;
				line-height: 16px;
			}
			.profiledetail{
				line-height: 18px;
				width: 515px;
			}
			.profilecmntdetail{
				width: 90%;
				float: left;
				font-size: 12px;
			}

			.post_footer {
					border: 0px;
					padding: 8px 0;
					// color: $themeblue;

					.glyphicon{
						float: right;
						margin-right: 5px;
					}
					.glyphicon:before{
						line-height: 12px;
						font-size: 12px;
						// color: $themeblue;
					}
					.cmnt_time{
						color: $textgrey
					}
					.post_footeroption{
						position: relative;
					}
		// 			.post_footeroption:first-child:after{
		// 				    content: "";
    // display: inline-block;
    // height: 2px;
    // width: 2px;
    // border-radius: 50%;
    // background: $themeblue;
    // top: 8px;
    // position: absolute;
    // right: -5px;
    // display:none;
		// 			}




			}
           .c_reply {
             // padding: 8px 0 0px 0px;
           }

			.sub_Comment{
				display:inline-block;
				width: 100%;
			.profiledetail{
				line-height: 18px;
				width: 474px;
				input{width:85%;}
			}
			.post_profilepic{
			    // height:$subcommentPicture;
			    // width:$subcommentPicture
			}

			}

		}
// --------------------
	}
	// .commenticon{
	// 		display: none;
	// 	}

		.seemore{
			// color: $textgrey;
			// width: 100%;
			// text-align: center;
			// display: inline-block;
			// border-top: 1px solid $stroke;
			// padding-top: 10px;
			cursor: pointer;
		}

		.questionResult{
			box-shadow: none;
			// background: $themegray;
			height: auto;
			margin-bottom: 0;
			border: 1px solid $progressbarRed;
			border-radius: 5px;
			position: relative;
			// padding: 10px 10px 10px 60px;
			display: table;
			width: 100%;
			overflow: hidden;

			.questionResult_percent{
				// position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				background: $themegray;
				// color: $textgrey;

				width: 50px;
				text-align: center;
				display: table-cell;
				vertical-align: middle;
					border-right: 1px solid $progressbarRed;

				b{
					display: inline-block;
					width: 100%;

				}

			}

			div{
				display: table-cell;
				padding: 15px;
			}
		}
		.rightanswer{
			border: 1px solid $rightanswer;

			.questionResult_percent{
				background: $rightanswer;
				color: #fff;
					border-right: 1px solid $rightanswer;

			}

		}
		.wronganswer{

				.questionResult_percent{
					background: $progressbarRed;
					color: #fff;
				}

		}

.comment_outer_reply{width:100%;padding: 0px 0px 0px 0px;float: left;
    .writecomment {
   margin-bottom: 0px !important;
}
    .writecommentinner{margin-top: 8px;}

    }

}



// .leftmenudrop{
// 	position:relative;
// 	cursor: pointer;
//
// 	.drpdwn_post{
// 		right:0px;
// 	}
// }
// .drpdwn_post ul li{
// 	.default{
// 		display: block;
// 		float:left;
// 		margin-right: 15px
// 	}
// 	.hoverimg{
// 		display:none;
// 		float:left;
// 		margin-right: 15px
// 	}
// }
// .drpdwn_post ul li:hover{
// 	.default{
// 		display: none;
// 		float:left;
// 		margin-right: 15px
// 	}
// 	.hoverimg{
// 		display: block;
// 		float:left;
// 		margin-right: 15px
// 	}
// }
// .post_footeroption {
//
// 	.hoverimg{
// 		display: none;
// 	}
// }
// .postright_btn {
//     background: $lightgray;
//     display: inline-block;
//     width: 35px;
//     float: right;
//     height: 28px;
//     border: 1px solid $stroke;
//     line-height: 27px;
//     text-align: center;
//     border-radius: 3px 0 0 3px;
// }

// .postmenubtn{
// 	border-left: 0px solid;
// 	border-radius: 0px 3px 3px 0px;
// }
// .postbookmarkbtn{
// 	border: 1px solid $stroke;
// }
// .postdropmenu{
// 	// transform: rotate(90deg)
// }
// .unsaved{
// 	// display:block;
// }
// .saved{
// 	display: none;
// }
// .activesaved{
// 	.unsaved{
// 	display:none;
// }
// .saved{
// 	display: inline-block;
// }
// }
// .questionpost_button{
//   background-color:red;
// 	.btn{
// 		float: left;
//
// 	}
// }

.postshared_profile{
	background: $themegray;

	.post_profilepic{
		height: $PostPicture - 10px !important;
		width: $PostPicture - 10px !important;
	}
	.name{
		// float: left;
		width: auto !important;
	}
	.profiledetail{
		margin-top: 8px;
	}
}
.radiobtn_outer b{
	float: left;
	font-weight:normal;
	font-family: 'Roboto', sans-serif;font-weight: 500;;
	margin-right: 15px;
}
// .resultinfo{
// 	color: $rightanswer;
// }
// .resultinfo.youranswer{
// 	color: $progressbarRed;
// }
.uploaded_file{
	display: inline-block;
	width: 100%;
	border-radius: $borderRadius;
	border: 1px solid $stroke;
	background: $themegray;
	margin-top: 15px;

}
.postfile_details{
	display: inline-block;
	width: 77%;
	padding: 15px;
	box-sizing: border-box;

}
.postfilename{
	display: inline-block;
	font-size: 18px;
	font-family: 'Roboto', sans-serif;font-weight: 500;;
}
.graytextpost{
	color: $textgrey;

}
.postfile_download{
	background: $backgroundgray;
	display: inline-block;
	width: 100%;
	padding: 15px;
	float: left
}
.postfile_download{
	font-size: 14px;
	img{
		margin-right: 10px;
	}
	span{
	float: left;
}
	span:last-child{
		float: right;margin-top: 10px;
	}
}
.radiobtn_outer .Radio + .checkbox_btn {
    float: left;
    margin: 4px 10px 0 0;
}
.timeremaining{
	float: right;
display: inline-block;
width: 100px;
text-align: center;
margin-top: -4px;
div{
	font-size: 10px;
}

	span{
		font-size: 18px;
		font-family: 'Roboto', sans-serif;font-weight: 500;;
		color: $textgrey
	}

}

.activeimp{
	display: none
}
.clicked{
	color: $themeblue;
	.activeimp{
		display: inline-block
	}
	.defaultimp{
		display: none
	}
}
// .postdropdown_inner{
// 	width: 155px;
// 	display: inline-block;
// 	line-height: 18px;
// 	font-size: 14px;
// 	font-weight: bold;
//
//     .time{
//     	font-size: 11px;
//     	color: $textgrey;
//     	display: inline-block;
//     	width: 100%;
//     	font-weight: normal;
//     	line-height: 16px;
//
//     }
// }
// .drpdwn_post.postdrop{
// 	width: 190px !important;
// }
// .drpdwn_post.postdrop ul li:hover{
// 			.time{
// color: #fff;
// 			}
// }
// .sharedlink_post{
//   cursor: pointer;
// 	background: transparent;
// 	color: #8c8c8c;
// 	display: inline-block;
// 	width: 100%;
// 	box-sizing: border-box;
// 	border-radius: $borderRadius;
// 	overflow: hidden;
//
// 	img{
// 		margin:0px !important;
// 	}
//
//
// 	.sharedlink_content{
// 		padding: 15px;
// 		display: inline-block;
// 		width: 100%;
// 		box-sizing: border-box;
// 	color: #8c8c8c;
//
// 		h4{
// 			text-decoration: underline;
// 			margin-bottom: 10px;
// 		}
// 	}
//
// }
.post_options{
	margin-top: 15px;
}

// .postmain_container{
// 	img, iframe{
// 			overflow:hidden;
//  		 	border-radius: $borderRadius;
//  		 	margin-top: 15px;
//  		 }
//  		}

.post_outer:first-child{
	margin-top: 0px
}

.post_outer{
 .comment_share_screen{
   .post_profile{
     .profiledetail{width: 640px;
         .profilecmntdetail{width: 100%;padding-right: 15px;}
       }
            .profiledetailinr{ position: relative;
                .commenticon{ position: absolute;
                             right: 0px;
                             top: 4px;}

    }
  }
 }
}

.post_outer{
.post_footer_top{border: none;width: auto;float: right;padding: 0px 0px;

    .postmenubtn {
    border-left: 1px solid #ccc;
    border-radius: 3px 3px 3px 3px;
    background-color: #f7f8fa;
}
    .post_footeroption {font-size: 12px;
    margin-right: 10px;line-height: 30px;
        cursor: pointer;font-weight: 500;
        .default{
        img{width: 12px;
           height: 12px;}
        }
    }
    }


    .post_footer_bottom{
        border: none;
padding: 0px 15px 15px 15px;
background-color:white;
margin-bottom:15px;
float: left;
        .post_footeroption{
            padding: 5px 10px;
line-height: 30px;
font-size: 14px;
font-weight: 500;
border: 1px solid #ccc;
border-radius: 3px;margin-right: 12px;
            &:hover{
                 box-shadow: 0 0 2px rgba(18, 188, 180, 0.4);
                 border: 1px solid rgba(18, 188, 180, 0.6);
//                color:rgba(18, 188, 180, 1);
            }
        }
           .post_footeroption.clicked{

//       box-shadow: 0 0 2px rgba(18, 188, 180, 0.4);
       border: 1px solid rgba(18, 188, 180, 0.6);
                color:rgba(18, 188, 180, 1);
    }


    }
  .comment_list_text{
            .seemore{width: 515px;
margin-left: 10px;
float: right;
border: 1px solid rgba(18, 188, 180, 0.3);
padding: 5px 0px;
color: rgba(18, 188, 180, 1);
border-radius: 3px;
margin-top: 15px;}
}

}

// ===================================


// .fileupload_image{
//   .on-hover{
//     display:none;
//   }
//   &:hover{
//     cursor:pointer;
//     .on-hover{
//       display:inline;
//     }
//     .default{
//       display:none;
//     }
//   }
// }
