.dataListMain { width: 100%; }

.visitordata { padding: 0 0px 0px !important; margin-bottom: 15px; }

.visitordata .inner-main-div { padding-right: 10px; padding-left: 10px; }

.scrollSecHeight { height: 360px; float: left; }

.dataList { margin-top: 0px !important; }

.dataList ul li { padding: 0px 45px 15px 45px; margin-bottom: 0px; }

.dataList ul li:after { border: none; }

.dataList ul .prfl_detail { min-height: auto; }

.dataList ul .grayinfo p.typeVisitor { margin-top: 0px; font-size: 12px; }

.dataList ul .grayinfo p { margin-top: 0px; }

.dataList ul .profileimg_know { top: 5px; height: 40px; width: 40px; }

.headparainfo { font-size: 14px; margin-bottom: 12px; margin-top: 0px !important; margin-bottom: 0px; }

.headparainfo .showDataN .rank_span_cont { padding: 0px 0px 0px 12px; width: 100%; color: rgba(0, 0, 0, 0.9); font-weight: normal; font-size: 12px; }

.countVisitor { width: 100%; float: left; font-size: 14px; color: rgba(0, 0, 0, 0.9); display: flex; align-items: center; margin-bottom: 0px; }

.countVisitor span.count { font-size: 14px; float: left; margin-right: 5px; color: #000; }

.countVisitor .rank_span_cont { font-size: 14px; float: none; width: auto; display: inline-block; margin: 0px 0px 0px 10px; padding: 0px 0px 0px 15px; }

.countVisitor .rank_span_cont0 { padding: 0px; }

.countVisitor .rank_span_cont0:before { background-image: none; }

.showInfo { padding: 15px 22px 15px 15px; width: 100%; padding: 10px; width: 100%; border-radius: 5px; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12); background-color: #feeded; cursor: pointer; position: relative; }

.showInfo .linehr { display: none; border-bottom: solid 1px rgba(0, 0, 0, 0.1); margin-bottom: 5px; height: 1px; margin-top: 10px; }

.listbelow { position: absolute; right: 10px; }

.listbelow img { width: 6.3px; height: 12px; transition: all 0.3s; }

.visitorCount { display: flex; justify-content: start; align-items: center; }

.showprofileimg { display: flex; margin-right: 5px; }

.showprofileimg span { width: 30px; height: 30px; box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1); border: solid 1px #f05050; float: left; border-radius: 20px; overflow: hidden; }

.showprofileimg span img { width: 100%; }

.showprofileimg span:nth-child(2) { margin-left: -15px; }

.showprofileimg span:nth-child(3) { margin-left: -15px; }

.showInfoActive { box-shadow: none; background-color: #fff; }

.showInfoActive .linehr { display: block; }

.showInfoActive .listbelow img { transform: rotate(90deg); }

.showInfoActive .showprofileimg { display: none; }

.footer_heading { bottom: 0; padding: 10px !important; color: #8c8c8c; background-color: #fff; cursor: pointer; width: 100%; text-align: center; font-size: 14px; border-top: 1px solid #e9e9e9; float: left; font-weight: 400; border-radius: 0px 0px 5px 5px; }

.footer_heading .greater { width: 6px; position: relative; top: -2px; }

.footer_heading:hover { background-color: #f5f7fa; }
