<div class="error-page-wrapper">
 <div class="error-page 404">
<img class="icon-img" src="assets/images/error-icons-404.png" alt="study24x7">
<div class="error-content-wrap">
  <strong class="error-type">
    <span class="err">error</span>
    <span class="err-bold">404</span>
  </strong>
  <strong class="page-title">This page was <span>LOST</span></strong>
  <p class="desc">The page you are looking for isn't available. Try to search again.</p>
  <a class="anchor-btn" (click)="goHome($event)">Go Back</a>
</div>
</div>
 </div>
