.popupMain { background-color: rgba(0, 0, 0, 0.6); position: fixed; top: 0; bottom: 0; left: 0; right: 0; z-index: 6; display: flex; justify-content: center; align-items: center; }

.thankuWrapper { width: 260px; height: 260px; padding: 20px; border-radius: 20px; box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.05); background-color: #ffffff; }

.thankuWrapper .thankuAnimation { float: left; width: 100%; display: flex; justify-content: center; height: 160px; }

.thankuWrapper .thankuAnimation img { width: 145px; height: 145px; }

.thankuWrapper .thankuMsg { font-size: 18px; font-weight: 500; color: rgba(0, 0, 0, 0.9); float: left; text-align: center; }

.thankuWrapper .thankuMsg p { line-height: 26px; }

.messageWrapper { width: 820px; height: 505px; padding: 32px 30px 30px; border-radius: 15px; box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16); padding: 30px; background-color: #fdeded; }

.messageWrapper .skipmsg { position: absolute; right: 0px; top: 0px; padding: 7px; cursor: pointer; font-size: 16px; font-weight: 500; color: rgba(0, 0, 0, 0.5); }

.messageWrapper .skipmsg2 { display: none; }

.pophead { position: relative; position: relative; float: left; width: 100%; text-align: center; padding: 0px 180px; margin-bottom: 25px; }

.pophead h3 { font-size: 26px; font-weight: bold; color: rgba(0, 0, 0, 0.9); margin-bottom: 15px; }

.pophead p { font-size: 16px; color: rgba(0, 0, 0, 0.6); }

.popcontInner { float: left; width: 100%; display: flex; justify-content: space-between; }

.cardSelection { width: 240px; height: 260px; padding: 25px; border-radius: 10px; cursor: pointer; box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1); border: solid 1.5px #fff; background-color: #ffffff; transition: all 0.3s; }

.cardSelection .useravatr { width: 100%; display: flex; justify-content: center; }

.cardSelection .useravatr img { width: 95px; height: 95px; }

.cardSelection .userTypeDesp { float: left; width: 100%; }

.cardSelection .userTypeDesp .usertype { text-align: center; color: #000000; font-size: 16px; font-weight: 500; margin: 20px 0px 10px 0px; }

.cardSelection .userTypeDesp .desc { font-size: 14px; line-height: 18px; color: rgba(0, 0, 0, 0.6); text-align: center; }

.cardSelection.cardSelectionActive { transition: 0s; border: solid 1.5px #f05050; transform: scale(0.96); }

.updateSec { width: 100%; text-align: center; margin-top: 30px; float: left; }

.updateSec button { width: 180px; height: 48px; padding: 15px 65px; border-radius: 60px; background-color: rgba(255, 255, 255, 0.8); color: rgba(240, 80, 80, 0.3); border: 1px solid rgba(255, 255, 255, 0.8); color: #fff; font-size: 16px; font-weight: 500; }

.updateSec button.btnAcive { box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05); background-color: #f05050; border: 1px solid #f05050; cursor: pointer; }

.updateSec button.deActive { box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05); background-color: rgba(255, 255, 255, 0.8); border: 1px solid rgba(255, 255, 255, 0.8); color: rgba(240, 80, 80, 0.3); cursor: not-allowed; }

@media only screen and (max-width: 991.5px) { .popupMain { height: 100%; z-index: 15; }
  .messageWrapper { overflow: auto; margin: 20px auto; } }

@media only screen and (max-width: 768px) { .popupMain { padding: 20px; }
  .messageWrapper { margin: 0px auto; padding: 15px; width: 100%; height: calc(100vh - 40px); }
  .pophead { padding: 0px 130px; margin-bottom: 15px; }
  .cardSelection { width: 32%; height: 245px; padding: 15px; } }

@media only screen and (max-width: 640px) { .cardSelection .useravatr img { width: 65px; height: 65px; } }

@media only screen and (max-width: 640px) { .popupMain { padding: 10px; }
  .pophead h3 { font-size: 22px; margin-bottom: 10px; }
  .pophead p { font-size: 14px; } }

@media only screen and (max-width: 540px) { .popupMain { padding: 20px 15px; }
  .messageWrapper { border-radius: 15px; float: left; overflow: hidden; }
  .messageWrapper .skipmsg1 { display: none; }
  .messageWrapper .skipmsg2 { display: block; position: relative; margin-top: 7px; }
  .messageWrapperInner { height: 100%; position: relative; }
  .popcont { position: relative; padding: 75px 0px 100px 0px; float: left; height: 100%; }
  .cardSelection { width: 100%; height: auto; padding: 15px 15px 15px 95px; position: relative; }
  .pophead h3 { font-size: 20px; margin-bottom: 5px; }
  .pophead p { font-size: 14px; }
  .popcontInner { display: block; overflow: auto; height: 100%; }
  .pophead { padding: 0px 0px; margin-bottom: 15px; text-align: left; margin: 0px auto 15px auto; margin-left: auto; text-align: center; width: 320px; left: 50%; margin-left: -160px; position: absolute; }
  .cardSelection { width: 100%; height: auto; padding: 15px 15px 15px 95px; position: relative; height: 107px; margin-bottom: 15px; }
  .cardSelection .useravatr { justify-content: center; position: absolute; left: 15px; top: 0px; width: 65px; height: 100%; display: flex; align-items: center; }
  .cardSelection .useravatr img { width: 65px; height: 65px; }
  .cardSelection .userTypeDesp { display: flex; align-content: center; flex-wrap: wrap; height: 100%; }
  .cardSelection .userTypeDesp .usertype { text-align: left; font-size: 16px; margin: 0px 0px 10px 0px; }
  .cardSelection .userTypeDesp .desc { text-align: left; }
  .cardSelection.cardSelectionActive { transition: 0s; }
  .updateSec { margin-top: 0px; float: left; position: absolute; bottom: 0px; } }

@media only screen and (max-width: 340px) { .cardSelection { padding: 15px 15px 15px 75px; }
  .cardSelection .userTypeDesp .usertype { margin: 0px 0px 5px 0px; }
  .cardSelection .useravatr { width: 45px; }
  .cardSelection .useravatr img { width: 45px; height: 45px; } }
