<app-download-app *ngIf="downloadApp" (downloadApp)="closePopup($event)"> </app-download-app>


<div id="router-outlet">
  <router-outlet></router-outlet>

</div>
<app-promotional-popup *ngIf="promotionalpopup && isPromotionalPopupuEnabled" (promotionalpopup)="promotionalpopup=false"> </app-promotional-popup>
<div *ngIf="showKnowYourselfPopup">
  <div id='learner-or-educator-popup' class="popupMain">
    <div class="messageWrapper" *ngIf="MsgPopUp">
      <div class="messageWrapperInner">
        <div class="pophead">
          <h3>What is your Goal ?</h3>
          <p>Tell us more about your goals to help us personalise the
            overall experience for you.</p>
          <span class="skipmsg skipmsg1" (click)="closePopupKnowYourGoalsPopup()">Skip for now</span>
        </div>
        <div class="popcont">
          <div class="popcontInner">
            <div (click)="userStatus=0;goalSelected=true" class="cardSelection"
              [ngClass]="{cardSelectionActive: userStatus== 0 }">
              <div class="useravatr">
                <img src="assets/images/avtars/leanerAvtar.png">
              </div>
              <div class="userTypeDesp">
                <p class="usertype">I am here to Learn</p>
                <p class="desc">If you are a school/college student or preparing for Govt/Competitive exams.</p>
              </div>
            </div>
            <div (click)="userStatus=2;goalSelected=true" class="cardSelection "
              [ngClass]="{cardSelectionActive: userStatus== 2 }">
              <div class="useravatr">
                <img src="assets/images/avtars/teacherAvtar.png">
              </div>
              <div class="userTypeDesp">
                <p class="usertype">I am here to Teach</p>
                <p class="desc">If you are an educator
                  willing to launch an online
                  coaching institute.</p>

              </div>
            </div>
            <div (click)="userStatus=3;goalSelected=true" class="cardSelection "
              [ngClass]="{cardSelectionActive: userStatus== 3 }">
              <div class="useravatr">
                <img src="assets/images/avtars/leaner-teacherAvtar.png">
              </div>
              <div class="userTypeDesp">
                <p class="usertype">I will do both</p>
                <p class="desc">If you are looking to teach as well as learn on our network.</p>

              </div>
            </div>
          </div>

        </div>
        <div class="updateSec">
          <button [disabled]="!goalSelected" id='active-status-submit-button' (click)="setUserStatus(userStatus)"
            class="btnAcive" [ngClass]="{deActive: !goalSelected}" type="button" name="button">
            <span *ngIf="!showPreloader">Update</span>
            <span class="preloder"><img src="./assets/images/svg/preloader-251.svg" alt=""
                *ngIf="showPreloader" /></span>
          </button>
          <span class="skipmsg skipmsg2" (click)="closePopupKnowYourGoalsPopup()">Skip for now</span>
        </div>

      </div>
    </div>
    <div *ngIf="thankuMsgPopUp">
      <div class="thankuWrapper" id='learner-or-educator-popup-thanku' *ngIf="updatedSuccessfully">
        <div class="thankuWrapperInner">
          <div class="thankuAnimation">
            <img src="assets/images/svg-icon/animation_message.gif" alt="">
          </div>
          <div class="thankuMsg">
            <p>Profile Updated Successfully</p>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
