<div class="popup" style="position:relative;">
    <div class=" popup_background_view" >
        <div class=" sharescreenpostview share-text-post-screen" >
            <div class="popup_heading" style="flaot:left;"><span > Uplaod Video</span>
                <span class="close_div">
                    <img class="defaultt" src="assets/images/svg/tagcross.svg">
                    <img class="hoverr" src="assets/images/svg/tagcross-gray.svg">
                </span>


            </div>
            <div class="col-md-12">
                <div class="row">


                    <div class='post_outer'>
                        <div class="profile-and-content">

                            <div class='post_profileContent'>
                            <p>Paste video link</p>
                            <input type="text" placeholder="Paste video Embeded link">
                            </div></div>
                        <!-- <div class='postsave'>

                            <button  type="submit"  class="btn-secondary graybutton"  [disabled]="showPreloader === true" (click)="sharePost()" *ngIf="postdata['EDIT_POST']==false">
                                            <span class="text" *ngIf="showText">Post</span>
                            <span class="preloder"  ><img src="./assets/images/svg/preloader-25.svg" alt="study24x7" *ngIf="showPreloader"></span></button>


                            <button  type="submit" class="btn-secondary graybutton" (click)="sharePost()" *ngIf="postdata['EDIT_POST']">
                                            <span class="text" *ngIf="showText">Update</span>
                            <span class="preloder"  ><img src="./assets/images/svg/preloader-25.svg" alt="study24x7" *ngIf="showPreloader"></span></button>
                            <button  type="submit" class="cancel_btn popup_btn"   (click)="sharetextpostviewhide()">Cancel</button>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
