.center_feed_top {
  width: 100%;
}

.topOuterWrapper {
  position: fixed;
  width: 560px;
  top: 77px;
  z-index: 2;
  float: left;
  background: #dfe5eb;
  padding: 15px 0px 15px 0px;
  margin-top: -20px;
}

.topOuterWrapper .TopHeadWrapper {
  float: left;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  position: relative;
}

.topOuterWrapper .TopHeadWrapper ul {
  float: left;
  width: auto;
  list-style-type: none;
  width: 470px;
}

.topOuterWrapper .TopHeadWrapper ul li {
  float: left;
  padding: 10px 0px;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  color: #2c2e2f;
  margin: 0px 0px 0px 25px;
}

.topOuterWrapper .TopHeadWrapper ul li.active {
  color: #f05050;
  border-bottom: 2px solid #f05050;
  pointer-events: none;
}

.topOuterWrapper .TopHeadWrapper .TopHeadInnerWrapper {
  width: 100%;
  overflow: auto;
  padding-right: 40px;
}

.postWrapper {
  float: left;
  width: 100%;
  margin-top: 55px;
}

.rightmenu_fixed {
  float: left;
  width: 278px;
}

.rightmenu_fixed.fixedleft {
  position: fixed;
  width: 278px;
  float: left;
}

.rightWidget {
  display: block;
}

.leftMenu {
  display: block;
}

.question_filter {
  float: right;
  position: relative;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 38px;
  height: 38px;
  background-color: #fff;
  padding: 5px 5px;
}

.question_filter .cnt_que_filter {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 0 3px 3px 0;
  background-color: #fff;
  display: inline-block;
  width: 28px;
  float: right;
  height: 28px;
  line-height: 27px;
  text-align: center;
}

.question_filter .cnt_que_filter .postdropmenu {
  width: 15px;
}

.question_filter .your_interst {
  position: absolute;
  right: 0;
  top: 100%;
  width: 230px;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2) !important;
          box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2) !important;
  border-radius: 5px;
  background-color: #f5f7fa;
}

.que_show {
  display: none;
}

.centerAlign,
.centerAlign.activeButton {
  opacity: 0 !important;
}

@media screen and (max-width: 991px) {
  .center_feed_top {
    padding: 0px 15px;
  }
  .rightWidget {
    display: none;
  }
  .leftMenu {
    display: none;
  }
  .topOuterWrapper {
    top: 56px;
    margin-top: 0px;
    padding: 11px 0px 10px 0px;
  }
  .que_show {
    display: block;
    border-radius: 0px 5px 5px 0px;
  }
  .postWrapper {
    padding-bottom: 45px;
    margin-top: 50px;
  }
}

@media only screen and (max-width: 767px) and (min-width: 601px) {
  .topOuterWrapper {
    padding: 11px 30px 10px 0px;
  }
}

@media only screen and (max-width: 600px) {
  .TopHeadWrapper {
    border-radius: 0 !important;
  }
  /* .topOuterWrapper{
    top: 65px;
    padding: 20px 0px 8px 0px;
  } */
  /* .postWrapper{
    margin-top: 48px;
  } */
  .question_filter {
    width: 36px;
    height: 36px;
  }
}

@media only screen and (max-width: 380px) {
  .topOuterWrapper .TopHeadWrapper ul li {
    margin: 0px 0px 0px 14px;
  }
}

.hide-this {
  display: none;
}

.questions-for-you-container {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.questions-for-you-container::-webkit-scrollbar {
  width: 0 !important;
}
/*# sourceMappingURL=questionforyou.component.css.map */