<app-mnavbar (showMobileMenu)="displayMobileMenu($event)" (hideMenu)="hideMobileMenu()"></app-mnavbar>
<div class="wrapper" id="windiv">
    <!-- <app-header></app-header> -->
    <div class="center_feed_top ">
        <div class="row">



            <div class="col-md-8  center_feed" id="centerDiv">

                <div *ngIf="!isMobileMenue">
                    <div class="topOuterWrapper" id="header">
                        <div class="TopHeadWrapper">
                            <div class="TopHeadInnerWrapper" style="">
                                <ul>
                                    <li (click)="tabSwitchFxn(1)" [ngClass]="{'active': questionType==1}">For you
                                        ({{count_1 | shortNumber }})</li>
                                    <li (click)="tabSwitchFxn(3)" [ngClass]="{'active': questionType==3}">Live
                                        ({{count_3 | shortNumber }})</li>
                                    <li (click)="tabSwitchFxn(0)" [ngClass]="{'active': questionType==0}">Answered
                                        ({{count_0 | shortNumber}})</li>
                                    <li (click)="tabSwitchFxn(2)" [ngClass]="{'active': questionType==2}">Asked
                                        ({{count_2 | shortNumber}})</li>
                                </ul>
                            </div>
                            <span class="question_filter que_show" (click)="showintfilter()">
                                <span class="cnt_que_filter">
                                    <img class="postdropmenu defaultt"
                                        src="assets/images/svg-three/post_icon/filter.svg">
                                    <img class="postdropmenu hoverr"
                                        src="assets/images/svg-three/post_icon/f05050/filter_red.svg">
                                </span>
                                <span [ngClass]="{'your_interst':true}" *ngIf="smallWindowSize"
                                    (mouseleave)="showintfilterleave()">
                                    <app-yourinterestwidget [ngClass]="{'hide-this':!showfilter}"
                                        [activeTab]="questionType" (objectEmitter)="getUserSelectedInterest($event)">
                                    </app-yourinterestwidget>
                                </span>
                            </span>
                        </div>
                    </div>
                <div  class="postWrapper" data-infinite-scroll [infiniteScrollDistance]="3"   [infiniteScrollUpDistance]="3"
                    [immediateCheck]="true" (scrolled)="onScrollDown()"  [scrollWindow]="true">

                        <div class="questions-for-you-container" >

                            <div #container></div>
                            <!-- <ng-container *ngIf="hideasked">     -->
                            <div class="emptystate"
                                *ngIf="postPresent==false && loaderscreen==false && questionType != 2"
                                style="border-radius:5px;overflow:hidden;">
                                <div class="emptystate_inner ">
                                    <img class="emptyimg emptyfeed" src="assets/images/svg-three/post_icon/no_post.svg"
                                        style="width:200px!important ">
                                    <p style="padding:15px;">No more posts</p>
                                </div>
                            </div>
                            <!-- </ng-container>   -->
                            <!-- for asked question -->
                            <div class="emptystate"
                                *ngIf="postPresent==false && loaderscreen==false && questionType==2 "
                                style="border-radius:5px;overflow:hidden;height:337px;">
                                <div class="emptystate_inner ">
                                    <img class="emptyimg emptyfeed" src="assets/images/svg-three/post_icon/askedque.svg"
                                        style="width:125px!important ">
                                    <p style="padding:15px;color: #707070;">You haven't asked any question yet</p>
                                    <button type="button" (click)="openQuestionPopup(3)"
                                        class="button24x7 redColorButton" name="button" style="margin-top:8px;">Post a
                                        Question</button>
                                </div>
                            </div>
                            <!-- end asked question empty state -->



                            <!-- wall post preloader start -->
                            <div class="placeholde-wrapper" *ngIf="loaderscreen" style="border-radius:5px;">
                                <div class="animated-background">
                                    <div class="circle cir_animation animated-background"></div>
                                    <div class="whitediv bottom11"></div>
                                    <div class="whitediv bottom10"></div>
                                    <div class="whitediv bottom9"></div>
                                    <div class="whitediv bottom8"></div>
                                    <div class="whitediv bottom7"></div>
                                    <div class="whitediv bottom6"></div>
                                    <div class="whitediv bottom5"></div>
                                    <div class="whitediv bottom4"></div>
                                    <div class="whitediv bottom3"></div>
                                    <div class="whitediv bottom2"></div>
                                    <div class="bottom1 whitediv "></div>
                                </div>
                            </div>
                            <!-- wall post preloader end -->
                        </div>

                    </div>
                </div>

                <!-- <div *ngIf="isMobileMenue" class="paddingBottom">
                    <app-mmenu></app-mmenu>
                </div> -->
                <div class="sidemenu" [ngClass]="{'openfilter': isMobileMenue }" >
                    <div *ngIf="isMobileMenue">
                    <div class="menuslidedarkbg"  (click)="leftSidemenu()"></div>
                    <app-mmenu (showPopup)=displayPageCreatePopup($event) class="cntrMmenu" ></app-mmenu>
                    </div>
                </div>

            </div>




            <div *ngIf="!smallWindowSize" class="col-md-4 col-sm-4  rightWidget" style="padding-left:0;" id="que_sidebar_right">
                <div class="rightmenu_fixed" id="someDiv" [ngClass]="{'fixedleft': isScrolled}">
                    <app-yourinterestwidget [activeTab]="questionType"
                        (objectEmitter)="getUserSelectedInterest($event)">
                    </app-yourinterestwidget>
                    <app-statisticswidget></app-statisticswidget>
                </div>
            </div>


        </div>



    </div>
</div>
<div *ngIf="isCratePagePopup">
    <app-createpage (hidecreatepagePopup)="hidePageCreatePopup($event)"></app-createpage>
</div>
<!-- <app-coursepost></app-coursepost> -->
<app-addpost #child *ngIf="showAddPost" (emitToQuestionForYou)=setShowAddPost($event)> </app-addpost>
<div *ngIf="coverAll" class="cover-all">

</div>
