<!-- scholarship section -->
<div class="header_top_banner">
	<div [ngClass]="{'inner_banner_container': true,'background_scholarship':endpoint=='scholarship', 'background_nat':endpoint=='nat','background_ntt':endpoint=='ntt' }" >
		  <div *ngIf="endpoint=='scholarship'" class="image_scholarship">
				<!-- for scholarship -->
				<img class="webimg" src="assets/images/scholarship/scholershipTest.png" alt="">
				<img class="mobileimg" src="assets/images/scholarship/scholarshipResponsive.png" alt="">
					<p class="banner_content">India's largest Online Scholarship & Psychometric Test for Classes IXth and Xth</p>
				<!-- end scholarship -->
		  </div>
			<!-- for nat -->
			<div *ngIf="endpoint=='nat'" class="image_scholarship" >
 				 <img class="webimg" src="assets/images/scholarship/natweb.png" alt="">
 				 <img class="mobileimg" src="assets/images/scholarship/natResponsive.png" alt="">
 				 <p class="banner_content">India's largest Online Scholarship Test for Classes Xth and XIIth</p>
 		 </div>
			<!-- end nat -->
			<!-- for ntt -->
			<div *ngIf="endpoint=='ntt'" class="image_scholarship" >
 				 <img class="webimg" src="assets/images/scholarship/nttweb.png" alt="">
 				 <img class="mobileimg" src="assets/images/scholarship/nttresponsive.png" alt="">
 				 <p class="banner_content">To identify the smartest problem solvers from the upcoming pool of business minds</p>
 		 </div>
			<!-- end ntt -->

      <div class="upcoming_headline">SCHOLARSHIP TEST WILL BE LIVE ON</div>
      <div class="upcoming_headline" *ngIf="test.isEnrolled==0">SCHOLARSHIP TEST WILL BE LIVE ON</div>
      <div class="upcoming_headline" *ngIf="test.isEnrolled==1 && test.isSubmitted!=1">YOUR SCHOLARSHIP TEST WILL START IN </div>
      <div class="upcoming_headline" *ngIf="test.timeLeft <=0">TEST IS LIVE NOW</div>
      <div class="upcoming_headline" *ngIf="test.isEnrolled && test.isSubmitted==1">YOU ATTEMPTED THIS TEST ON</div>
      <div class="upcoming_headline" *ngIf="test.timeLeft == 0 && test.isEnrolled==0">RECENT SCHOLARSHIP TEST WAS ON</div>
      <div class="upcoming_time">
          <span class="upcoming_date"><span class="scheduled___img"><img src="assets/images/scholarship/calendar.png" alt=""></span><span class="bold__">{{ test.examDate?(test.examDate | date:'dd MMM'):"Not Declared" }}</span><span class="normal__">{{ test.examDate?"2020":"" }}</span></span>
          <span class="upcoming_timing"><span class="scheduled___img"><img src="assets/images/scholarship/clock.png" alt=""></span><span class="bold__">{{test.examDate?(test.examDate | date: 'hh:mm a'):"Not Declared"}} Onwards</span><span class="normal__">{{test.examDate?"2 Hrs Test":""}}</span></span>
      </div>
      <div class="hanging_btn">
    		<button type="button" name="button"   (click)="openRegistrationForm()"  *ngIf="test.isEnrolled==0 " id="register_for_free">
          <span class="btn_content">Register For Free</span>
          <!-- <span class="btn_content s_ccess"><span class="successmsg"><img src="assets/images/scholarship/Tick-and-Loader-Animation.gif" alt=""></span></span> -->
		</button>
		<button type="button" name="button"   (click)="openLoginPopUp()"   *ngIf="loggedIn != true">
			<span class="btn_content">Register For Free</span>
			<!-- <span class="btn_content s_ccess"><span class="successmsg"><img src="assets/images/scholarship/Tick-and-Loader-Animation.gif" alt=""></span></span> -->
		  </button>
    		<button *ngIf="test.timeLeft <= 0 && test.isEnrolled==0" type="button" name="button" class="inactive_case" ><span class="btn_content" >REGISTRATION CLOSED</span></button>
    		<button   (click)="startTest(test.exitTestUniqueId)" type="button" name="button" class="start_test_now"  *ngIf="test.timeLeft <= 0 && test.isEnrolled==1  && test.isSubmitted!=1">
					<span class="btn_content">START TEST<span class="start_test"><img src="assets/images/scholarship/ArrowAnimation.gif" alt=""></span></span>
					<div class="cbt-link-waves">
              <div class="waves wave-1"></div>
              <div class="waves wave-2"></div>
              <div class="waves wave-3"></div>
          </div>
				</button>

    		<!-- <button type="button" name="button" style="display:none;"><span class="report">Report will be available on</span><span class="report_available">13 August, 2020</span></button> -->
    		<button  (click)="downloadTestResult()" type="button" name="button" *ngIf="test.isEnrolled && test.isSubmitted==1"><span  class="btn_content"><span class="btn_img"><img src="assets/images/scholarship/report_icon.svg" alt=""></span>View REport</span></button>
				<div class="count_display"  *ngIf="test.isEnrolled==1 && test.isSubmitted != 1">
						<div class="count_number">
							 <span class="count__no"><span class="up_cnt">{{days}}</span><span class="down_hdng">Days</span></span>
							 <span class="count__no"><span class="up_cnt">{{hh}}</span><span class="down_hdng">Hrs</span></span>
							 <span class="count__no"><span class="up_cnt">{{mm}}</span><span class="down_hdng">Mins</span></span>
							 <span class="count__no" style="margin-right:0;"><span class="up_cnt">{{ss}}</span><span class="down_hdng">Secs</span></span>
						</div>
				</div>
				<span class="enrollment_date"*ngIf="test.isEnrolled==1">You have successfully enrolled</span>
		<span class="enrollment_date" *ngIf="test.isEnrolled==0">Scroll to know more</span>
		<span class="enrollment_date">2130 enrollments till now</span>
        <!-- <span class="enrollment_date" *ngIf="test.timeLeft == 0 && test.isEnrolled==0">Test missed and not registered</span> -->

    	</div>
	</div>
</div>
<!-- end scholarship section -->
<!-- NAT section -->
<div class="header_top_banner" *ngIf="false">
	<div class="inner_banner_container ">
		  <div class="image_scholarship">
		  	  <img class="webimg" src="assets/images/scholarship/natweb.png" alt="">
					<img class="mobileimg" src="assets/images/scholarship/natResponsive.png" alt="">
					<p class="banner_content">India's largest Online Scholarship Test for Classes Xth and XIIth</p>
		  </div>

      <div class="upcoming_headline">UPCOMING ONLINE SCHOLARSHIP TEST</div>
      <div class="upcoming_headline">REGISTER AND START THE TEST</div>
      <div class="upcoming_headline">TEST IS LIVE NOW</div>
      <div class="upcoming_headline">YOU ATTEMPTED THIS TEST ON</div>
      <div class="upcoming_headline">RECENT SCHOLARSHIP TEST WAS ON</div>
      <div class="upcoming_time">
          <span class="upcoming_date"><span class="scheduled___img"><img src="assets/images/scholarship/calendar.png" alt=""></span><span class="bold__">26 July</span><span class="normal__">2020</span></span>
          <span class="upcoming_timing"><span class="scheduled___img"><img src="assets/images/scholarship/clock.png" alt=""></span><span class="bold__">9 AM Onwards</span><span class="normal__">2 Hrs Test</span></span>
      </div>
      <div class="hanging_btn">
    		<button type="button" name="button" style="display:none;">
          <!-- <span class="btn_content">Register For Free</span> -->
          <span class="btn_content s_ccess"><span class="successmsg"><img src="assets/images/scholarship/Tick-and-Loader-Animation.gif" alt=""></span></span>
        </button>
    		<button type="button" name="button" class="inactive_case" style="display:none;"><span class="btn_content">REGISTRATION CLOSED</span></button>
    		<button type="button" name="button" class="start_test_now">
					<span class="btn_content">start test <span class="start_test"><img src="assets/images/scholarship/ArrowAnimation.gif" alt=""></span></span>
					<div class="cbt-link-waves">
              <div class="waves wave-1"></div>
              <div class="waves wave-2"></div>
              <div class="waves wave-3"></div>
          </div>
				</button>
    		<button type="button" name="button" style="display:none;"><span class="report">Report will be available on</span><span class="report_available">13 August, 2020</span></button>
    		<button type="button" name="button" style="display:none;"><span class="btn_content"><span class="btn_img"><img src="assets/images/scholarship/report_icon.svg" alt=""></span>View REport</span></button>
				<div class="count_display" style="display:none;">
						<div class="count_number">
							 <span class="count__no"><span class="up_cnt">22</span><span class="down_hdng">Days</span></span>
							 <span class="count__no"><span class="up_cnt">22</span><span class="down_hdng">Hrs</span></span>
							 <span class="count__no"><span class="up_cnt">35</span><span class="down_hdng">Mins</span></span>
							 <span class="count__no" style="margin-right:0;"><span class="up_cnt">21</span><span class="down_hdng">Secs</span></span>
						</div>
				</div>
				<span class="enrollment_date">2130 enrollments till now</span>
        <span class="enrollment_date">Scroll to know more</span>
    	</div>
	</div>
</div>
<!-- NAT section end -->
<!-- NTT section start -->
<div class="header_top_banner" *ngIf="false">
	<div class="inner_banner_container background_ntt">
		  <div class="image_scholarship">
		  	  <img class="webimg" src="assets/images/scholarship/nttweb.png" alt="">
					<img class="mobileimg" src="assets/images/scholarship/nttresponsive.png" alt="">
					<p class="banner_content">To identify the smartest problem solvers from the upcoming pool of business minds</p>
		  </div>

      <div class="upcoming_headline">UPCOMING ONLINE SCHOLARSHIP TEST</div>
      <div class="upcoming_headline">REGISTER AND START THE TEST</div>
      <div class="upcoming_headline">TEST IS LIVE NOW</div>
      <div class="upcoming_headline">YOU ATTEMPTED THIS TEST ON</div>
      <div class="upcoming_headline">RECENT SCHOLARSHIP TEST WAS ON</div>
      <div class="upcoming_time">
          <span class="upcoming_date"><span class="scheduled___img"><img src="assets/images/scholarship/calendar.png" alt=""></span><span class="bold__">26 July</span><span class="normal__">2020</span></span>
          <span class="upcoming_timing"><span class="scheduled___img"><img src="assets/images/scholarship/clock.png" alt=""></span><span class="bold__">9 AM Onwards</span><span class="normal__">2 Hrs Test</span></span>
      </div>
      <div class="hanging_btn">
    		<button type="button" name="button" style="display:none;">
          <!-- <span class="btn_content">Register For Free</span> -->
          <span class="btn_content s_ccess"><span class="successmsg"><img src="assets/images/scholarship/Tick-and-Loader-Animation.gif" alt=""></span></span>
        </button>
    		<button type="button" name="button" class="inactive_case" style="display:none;"><span class="btn_content">REGISTRATION CLOSED</span></button>
    		<button type="button" name="button" class="start_test_now">
					<span class="btn_content">start test <span class="start_test"><img src="assets/images/scholarship/ArrowAnimation.gif" alt=""></span></span>
					<div class="cbt-link-waves">
              <div class="waves wave-1"></div>
              <div class="waves wave-2"></div>
              <div class="waves wave-3"></div>
          </div>
				</button>
    		<button type="button" name="button" style="display:none;"><span class="report">Report will be available on</span><span class="report_available">13 August, 2020</span></button>
    		<button type="button" name="button" style="display:none;"><span class="btn_content"><span class="btn_img"><img src="assets/images/scholarship/report_icon.svg" alt=""></span>View REport</span></button>
				<div class="count_display" style="display:none;">
						<div class="count_number">
							 <span class="count__no"><span class="up_cnt">22</span><span class="down_hdng">Days</span></span>
							 <span class="count__no"><span class="up_cnt">22</span><span class="down_hdng">Hrs</span></span>
							 <span class="count__no"><span class="up_cnt">35</span><span class="down_hdng">Mins</span></span>
							 <span class="count__no" style="margin-right:0;"><span class="up_cnt">21</span><span class="down_hdng">Secs</span></span>
						</div>
				</div>
				<span class="enrollment_date">2130 enrollments till now</span>
        <span class="enrollment_date">Scroll to know more</span>
    	</div>
	</div>
</div>
<app-registration-details-popup *ngIf="showScholarShipForm" (emitter)=updateValues($event) [test]=test>
</app-registration-details-popup><!-- end NTT section -->
<app-loginpopup *ngIf="openLoginPopup" (closePopup)="openLoginPopup=false" [usrData]="{}" [isError]="false"
	[errorText]="" [openLoginPopupType]="openLoginPopupType">
</app-loginpopup>
