<!-- <div id="mobile_popup"  class="mobilepopup">
    <img src="assets/images/svg-three/mobilepopup.jpg" alt="study24x7" style="z-index: 1;">
</div> -->
<div class="outer_wrapper">
  <div class="logo">
    <img src="assets/images/svg-three/Logo.png" alt="study24x7">
  </div>

  <div class="top_heading">
    <h3>Collaborative studying <br> for <span>definitive learning</span></h3>
  </div>


  <div class="middle_heading">
    <h2>Try our <span>Mobile App</span></h2>
  </div>


  <div class="footer " style="top:280px;bottom:0px;">
    <div class="footer_text">Available on</div>
    <div class="footer_img">
      <a href="https://play.google.com/store/apps/details?id=com.stdy24x7&hl=en" target="_blank"><img src="./assets/images/svg-three/gp.png" alt="study24x7"></a>
    </div>
  </div>



  <div class="footer">
      <div class="footer_subheading">**IOS  coming soon</div>
  </div>


</div>
