<div class="connection_main" *ngIf="suggestionPresent">

  <div class="headSec">Suggested Connections</div>
  <div class="dataShow">
    <ngx-slick-carousel class="carousel feature_course_card recommemded_card" #slickModal="slick-carousel"
      [config]="slideConfigSuggestedConnection" (init)="slickInit($event)" (breakpoint)="breakpoint($event)"
      (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">

        <div ngxSlickItem class="slide showCard" *ngFor="let connection of people;let i=index">
          <div class="page_container">
            <div class="imgSec">
              <img class="profileimg"
              src='{{ connection.PROFILE_PHOTO_PATH }}' routerLink="/profile/{{connection.USER_NAME}}" (error)="updateSourcePic($event)"
                alt="aio">
              <div style="cursor: pointer;" class="removeConnection btn-a" (click) = "delSuggestion(connection.USER_ID,i)">
                <img src="assets/images/svg-icon/cross-icon-with-bg.svg">
              </div>
            </div>
            <div class="contSection">
            <p class="nameSec oneLine" routerLink="/profile/{{connection.USER_NAME}}" title='{{ connection.FULL_NAME}}'>{{connection.FULL_NAME|trimData:17}}</p>
            <p class="typeOf" *ngIf="connection.IS_TEACHER==0">Learner </p>
            <p class="typeOf" *ngIf="connection.IS_TEACHER==2">Educator</p>
            <p class="typeOf" *ngIf="connection.IS_TEACHER==3">Educator & Learner</p>
            </div>
            <div class="cardbottomSec">
            <button *ngIf="!connection.connectStatus" id="{{connection.USER_ID}}" class="btn-center btnflex btn-coral btn-coral-h btn-a " name="button" type="button" (click)="sendRequest($event,i)">
              <img src="assets/images/svg-icon/add-frnd-white.svg">
              Connect
            </button>
            <button *ngIf="connection.connectStatus" id="{{connection.USER_ID}}" class="btn-center btnflex buttonreqSend " name="button" type="button" (click)="cancelFrndReq(i)">
              Request Sent
            </button>
            </div>
          </div>
        </div>




    </ngx-slick-carousel>

  </div>
  <div class="bottomSec"  >
  <div style="cursor: pointer;" routerLink="/profile/{{this._constantService.getSessionDataBYKey('username')}}/#connection:suggestion">
    All suggested connections
<span><img  alt="aio" src="assets/images/svg-three/greater.svg" class="greater"></span>
  </div></div>
</div>
<app-confirmationpopup *ngIf="alert" (closeComfirmPopupThread)="closePopup($event);" [dataObj]="dataConf"></app-confirmationpopup>
