<!-- <div class="add_review_post post_outer" *ngIf="user_type==0 && reviwed==0">
    <div class="addreview_hdng"><img src="assets/images/pagecourselist.png"> Reviews
        <div class="right_rating">
            <div class="rate_count">{{pageRating['avg_rating']}}</div>

            <div class="pagerating">


                <div class="stars-rate" >

                    <div class="stars">
                    <label [ngClass]="(avgRating>0)?'star fill':'star'" ></label>
                    <label [ngClass]="(avgRating>1)?'star fill':'star'" ></label>
                    <label [ngClass]="(avgRating>2)?'star fill':'star'" ></label>
                    <label [ngClass]="(avgRating>3)?'star fill':'star'" ></label>
                    <label [ngClass]="(avgRating>4)?'star fill':'star'" ></label>

                   </div>
                </div>
                <p>{{pageRating['total']}} reviews</p>
            </div>


        </div>
    </div>
    <div class="post_profile reviewList">
        <div  class="post-header-inner-wrap clearfix">
            <span  class="post_profilepic cursor-pointer"><img  tabindex="0" src="{{_constantService.getProfilePicS3Path()+'profile/'+_constantService.getUserId()}}_60x60.png?v={{date.getTime()}}"></span>
            <div  class="profiledetail ">
                <span  class="msg_rating" tabindex="0">Tell people what you think</span>
                <span  class="star-rating">
                    <div class="stars-rate" (click)="show_review_pop();">
                        <input class="star star-5" id="star-5" type="radio" name="star"/>
                        <label class="star star-5" for="star-5">
                            <img class="star-rate" src="assets/images/svg-one/rate-gray.svg">
                            <img class="star-active" src="assets/images/svg-one/rate-active.svg">
                        </label>
                        <input class="star star-4" id="star-4" type="radio" name="star"/>
                        <label class="star star-4" for="star-4">
                            <img class="star-rate" src="assets/images/svg-one/rate-gray.svg">
                            <img class="star-active" src="assets/images/svg-one/rate-active.svg">
                        </label>
                        <input class="star star-3" id="star-3" type="radio" name="star"/>
                        <label class="star star-3" for="star-3">
                            <img class="star-rate" src="assets/images/svg-one/rate-gray.svg">
                            <img class="star-active" src="assets/images/svg-one/rate-active.svg">
                        </label>
                        <input class="star star-2" id="star-2" type="radio" name="star"/>
                        <label class="star star-2" for="star-2">
                            <img class="star-rate" src="assets/images/svg-one/rate-gray.svg">
                            <img class="star-active" src="assets/images/svg-one/rate-active.svg">
                        </label>
                        <input class="star star-1" id="star-1" type="radio" name="star"/>
                        <label class="star star-1" for="star-1">
                            <img class="star-rate" src="assets/images/svg-one/rate-gray.svg">
                            <img class="star-active" src="assets/images/svg-one/rate-active.svg">
                        </label>
                    </div>
                </span>
            </div>

        </div>
    </div>


</div> -->

<!--  <div class="popup" style="position:relative;" *ngIf="review">-->
<div class="popup" style="position:relative;" *ngIf="reviewinput">
    <div class=" popup_background_view" >
        <div class=" sharescreenpostview ">
            <div class="popup_heading"><span >Review PageName</span>
                <span class="close_div" (click)="hide_review_pop();">
                    <img class="defaultt" src="assets/images/svg/tagcross.svg">
                    <img class="hoverr" src="assets/images/svg/tagcross-gray.svg">
                </span>
            </div>
            <div class="col-md-12">
                <div class="row">


                    <div class='post_outer'>
                        <div class='sharedatainput' style="text-align: center;">
                            <span  class="star-rating" style="/*! text-align: center; */margin: 0 auto;display: block;width: 118px;/*! float: left; */">
                              <div class="stars-rate" style="position:relative;">
                                  <input class="star star-5" id="star-5" type="radio" name="star" value='5.0' />
                                  <label class="star star-5" for="star-5">
                                      <img class="star-rate" src="assets/images/svg-one/rate-gray.svg">
                                      <img class="star-active" src="assets/images/svg-one/rate-active.svg">
                                      <div class=" ratingState rating-state5" >Excellent</div>
                                  </label>
                                  <input class="star star-4" id="star-4" type="radio" name="star" value='4.0'/>
                                  <label class="star star-4" for="star-4">
                                      <img class="star-rate" src="assets/images/svg-one/rate-gray.svg">
                                      <img class="star-active" src="assets/images/svg-one/rate-active.svg">
                                      <div class="ratingState rating-state4">Very good</div>
                                  </label>
                                  <input class="star star-3" id="star-3" type="radio" name="star" value='3.0'/>
                                  <label class="star star-3" for="star-3">
                                      <img class="star-rate" src="assets/images/svg-one/rate-gray.svg">
                                      <img class="star-active" src="assets/images/svg-one/rate-active.svg">
                                      <div class="ratingState rating-state3"> Good</div>
                                  </label>
                                  <input class="star star-2" id="star-2" type="radio" name="star" value='2.0'/>
                                  <label class="star star-2" for="star-2">
                                      <img class="star-rate" src="assets/images/svg-one/rate-gray.svg">
                                      <img class="star-active" src="assets/images/svg-one/rate-active.svg">
                                      <div class="ratingState rating-state2">Fair </div>
                                  </label>
                                  <input class="star star-1" id="star-1" type="radio" name="star" value='1.0'/>
                                  <label class="star star-1" for="star-1">
                                      <img class="star-rate" src="assets/images/svg-one/rate-gray.svg">
                                      <img class="star-active" src="assets/images/svg-one/rate-active.svg">
                                      <div class="ratingState rating-state1">Poor</div>
                                  </label>
                              </div>
                            </span>
                            <div class='sharedatainput' contenteditable="true" id="shareText" (focus)="hidePlaceHolder=false" (focusout)="checkData()">
                                <span class="placeholder" id="post_placeholder" *ngIf="hidePlaceHolder">Discuss within your interest.</span>&zwnj;
                            </div>

                        </div>
                        <div class="profile-and-content">
                            <div class='post_profile'>
                                <textarea title="Tell people what you think about pagename." class="datainput_text"   placeholder="Tell people what you think about pagename." ></textarea>
                            </div>

                        </div>
                        <div class='postsave'>
                            <button  type="submit" class="confirm_btn popup_btn btn btn-primary" >Post</button>
                            <button  type="submit" class="cancel_btn popup_btn"  (click)="hide_review_pop();" >Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="post_outer reviewslist-comp" *ngIf="showReviewDiv">
    <h6 class="widgetheading top_heading">Rate this page</h6>

    <div *ngFor="let list of pageReviewList">
        <div class="post_profile">
            <div class="post-header-inner-wrap clearfix">
                <span class="post_profilepic cursor-pointer"><img tabindex="0" src="{{list.PROFILE_PHOTO_PATH}}" routerLink="/profile/{{list.USER_NAME}}" (error)="updateSourcePic($event)"></span>
                <div class="profiledetail rating-span ratingg" >
                    <span class="name cursor-pointer " tabindex="0" routerLink="/profile/{{list.USER_NAME}}" >{{list.USER_FULL_NAME |trimData:25}}

                        <span class="time time_wrap">{{list.ADD_DATE_TIME}}</span>
                    </span>
                    <span class="page_star star_cont">
                        <div class="stars">
                            <label class="starcount">{{list.STAR_RATING}}</label>
                            <label [ngClass]="(list.STAR_RATING>0)?'star fill':'star'">
                                <img class="star-fill-svg" src="assets/images/svg-one/icons8-star-filled-filled.svg">
                                <img class="star-half-svg" src="assets/images/svg-one/icons8-star-half-empty-filled.svg">
                                <img class="star-blank-svg" src="assets/images/svg-one/icons8-star-pokemon.svg">
                            </label>
                            <label [ngClass]="(list.STAR_RATING>1)?'star fill':'star'" >
                                <img class="star-fill-svg" src="assets/images/svg-one/icons8-star-filled-filled.svg">
                                <img class="star-half-svg" src="assets/images/svg-one/icons8-star-half-empty-filled.svg">
                                <img class="star-blank-svg" src="assets/images/svg-one/icons8-star-pokemon.svg">
                            </label>
                            <label [ngClass]="(list.STAR_RATING>2)?'star fill':'star'">
                                <img class="star-fill-svg" src="assets/images/svg-one/icons8-star-filled-filled.svg">
                                <img class="star-half-svg" src="assets/images/svg-one/icons8-star-half-empty-filled.svg">
                                <img class="star-blank-svg" src="assets/images/svg-one/icons8-star-pokemon.svg">
                            </label>
                            <label [ngClass]="(list.STAR_RATING>3)?'star fill':'star'">
                                <img class="star-fill-svg" src="assets/images/svg-one/icons8-star-filled-filled.svg">
                                <img class="star-half-svg" src="assets/images/svg-one/icons8-star-half-empty-filled.svg">
                                <img class="star-blank-svg" src="assets/images/svg-one/icons8-star-pokemon.svg">
                            </label>
                            <label [ngClass]="(list.STAR_RATING>4)?'star fill':'star'">
                                <img class="star-fill-svg" src="assets/images/svg-one/icons8-star-filled-filled.svg">
                                <img class="star-half-svg" src="assets/images/svg-one/icons8-star-half-empty-filled.svg">
                                <img class="star-blank-svg" src="assets/images/svg-one/icons8-star-pokemon.svg">
                            </label>

                        </div>
                    </span>
                </div>


            </div>
        </div>

        <div class="post_profileContent" style="padding-top:0;">
            <div class="postmain_container">


                <p class="posttext posttextauto"  [innerHTML]="list.REVIEW_DESCRIPTION"></p>
                <!--<a  class="continue-reading" (click)="goToReview()">See more</a>-->


                <!-- <div class="posttagdiv"><span class="tags" id="1">Interest1</span></div> -->


            </div>
        </div>
    </div>
    <!-- start revie this page -->
    <div class="reveiw-page-wrap" *ngIf="user_type==0 && reviwed==0">
        <!-- <h6 class="widgetheading top_heading">Review this page</h6> -->
        <!-- <div class="review-heading">
            <p>Allomora has no reviews</p>
            <p>Help others to know more about this page by reviewing</p>
        </div> -->
        <div class="review-stars">
            <!-- star section -->
            <div class="post_outer reviewslist-comp post-rate rate-out" >
                <div>
                    <div class="post_profile" style="padding:0;">
                        <div class="post-header-inner-wrap clearfix">
                            <span class="post_profilepic cursor-pointer"><img  src="{{_constantService.getSessionDataBYKey('p_pic')}}" (error)="updateSourcePic($event)"></span>
                            <div class="profiledetail rating-span">
                                <span class="name cursor-pointer ">{{_constantService.getSessionDataBYKey('full_name') |trimData:17}}

                                    <!-- <span class="time">02:50</span> -->
                                </span>
                                <span  class="star-rating" >
                                    <div class="stars-rate" style="position:relative;">
                                        <input class="star star-5" id="star-10" type="radio" name="star" value='5.0'/>
                                        <label class="star star-5" for="star-10">
                                            <img class="star-rate" src="assets/images/svg-one/rate-gray.svg">
                                            <img class="star-active" src="assets/images/svg-one/rate-active.svg">
                                            <div class="rating-state5" >Excellent</div>
                                        </label>
                                        <input class="star star-4" id="star-9" type="radio" name="star" value='4.0'/>
                                        <label class="star star-4" for="star-9">
                                            <img class="star-rate" src="assets/images/svg-one/rate-gray.svg">
                                            <img class="star-active" src="assets/images/svg-one/rate-active.svg">
                                            <div class="rating-state4">Very good</div>
                                        </label>
                                        <input class="star star-3" id="star-8" type="radio" name="star" value='3.0'/>
                                        <label class="star star-3" for="star-8">
                                            <img class="star-rate" src="assets/images/svg-one/rate-gray.svg">
                                            <img class="star-active" src="assets/images/svg-one/rate-active.svg">
                                            <div class="rating-state3"> Good</div>
                                        </label>
                                        <input class="star star-2" id="star-7" type="radio" name="star" value='2.0'/>
                                        <label class="star star-2" for="star-7">
                                            <img class="star-rate" src="assets/images/svg-one/rate-gray.svg">
                                            <img class="star-active" src="assets/images/svg-one/rate-active.svg">
                                            <div class="rating-state2">Fair </div>
                                        </label>
                                        <input class="star star-1" id="star-6" type="radio" name="star" value='1.0'/>
                                        <label class="star star-1" for="star-6">
                                            <img class="star-rate" src="assets/images/svg-one/rate-gray.svg">
                                            <img class="star-active" src="assets/images/svg-one/rate-active.svg">
                                            <div class="rating-state1">Poor</div>
                                        </label>
                                    </div>
                                </span>
                                <!-- <span class="page_star star_cont">
                                    <div class="stars">
                                        <label class="starcount"><span class="rvw-star">very good</span></label>
                                        <label class="star fill">
                                            <img class="star-fill-svg" src="assets/images/svg-one/icons8-star-filled-filled.svg">
                                            <img class="star-half-svg" src="assets/images/svg-one/icons8-star-half-empty-filled.svg">
                                            <img class="star-blank-svg" src="assets/images/svg-one/icons8-star-pokemon.svg">
                                        </label>
                                        <label class="star fill">
                                            <img class="star-fill-svg" src="assets/images/svg-one/icons8-star-filled-filled.svg">
                                            <img class="star-half-svg" src="assets/images/svg-one/icons8-star-half-empty-filled.svg">
                                            <img class="star-blank-svg" src="assets/images/svg-one/icons8-star-pokemon.svg">
                                        </label>
                                        <label class="star fill">
                                            <img class="star-fill-svg" src="assets/images/svg-one/icons8-star-filled-filled.svg">
                                            <img class="star-half-svg" src="assets/images/svg-one/icons8-star-half-empty-filled.svg">
                                            <img class="star-blank-svg" src="assets/images/svg-one/icons8-star-pokemon.svg">
                                        </label>
                                        <label class="star fill">
                                            <img class="star-fill-svg" src="assets/images/svg-one/icons8-star-filled-filled.svg">
                                            <img class="star-half-svg" src="assets/images/svg-one/icons8-star-half-empty-filled.svg">
                                            <img class="star-blank-svg" src="assets/images/svg-one/icons8-star-pokemon.svg">
                                        </label>
                                        <label class="star fill">
                                            <img class="star-fill-svg" src="assets/images/svg-one/icons8-star-filled-filled.svg">
                                            <img class="star-half-svg" src="assets/images/svg-one/icons8-star-half-empty-filled.svg">
                                            <img class="star-blank-svg" src="assets/images/svg-one/icons8-star-pokemon.svg">
                                        </label>

                                    </div>
                                </span>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- end star section -->              <!-- add by vijay-->
            <textarea name="name" id="reviewDesc" placeholder="say something about this page" class="textarea-review"></textarea>
                                                   <!--end by vijay-->
            <button type="button" name="button" class="button24x7 fright whiteColorButton" (click)="addPageRating($event)" >Submit</button>
        </div>
    </div>
    <!-- end review this page -->
    <div class="course_all_bt " (click)="goToReview()" *ngIf="pageReviewList.length>=2">
        See All
    </div>

</div>
