<div class='darkbackground'></div>
<div class='addpost_outer relative popup-open-wrapper'>
    <div class='darkbackground-close'></div>
    <div class='container popup-container' style="position:relative;">
        <div  class="popup-inner-wrap popup-open-inner-wrap"  style="display:none;">
            <div class="topheadsavpop">
                <div class="toolbar_poll addpost_hdng_poll tlbar_poll">
                  <div class="course_filter_poll livefilter_poll">
                      <div class="course_search_sec_poll fieldsection_poll" [ngClass]="{'wallpostdrpdwn_poll':walldrop}" (click)="showwalldrop();"  (mouseleave)="closewalldrop()">
                          <div class="wll_img_pey_cont_poll"   >
                              <span style="">{{visibilityfilter}}</span>
                          </div>
                          <span class="tab-article_poll " >
                              <img src="assets/images/svg-three/add_post/downarrow.svg" class="defaultt" style="width:10px !important;">
                              <img src="assets/images/svg-three/add_post/f05050/downarrow.svg"  class="hoverr" style="top: 0px;width:10px !important;">
                          </span>
                          <div class="walldropdencnt_poll wallprydeopcnt_poll" [ngClass]="{'wallprydeopcnt_poll':walldrop}" *ngIf="walldrop" (click)="showwalldrop();" (mouseleave)="closewalldrop()">
                              <ul>
                                  <!-- <li   (click)="changeVisibilitySort(3)"> All</li> -->
                                  <li   (click)="changeVisibilitySort(2)">New Poll <span>Ask instant question to your enrollers in live</span></li>
                                  <li   (click)="changeVisibilitySort(1)">Recent <span>Browse through your recent asked polls and use them</span></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <!-- <span class="poll_result">Poll Results</span> -->
                    <span class="close_div">
                        <img class="defaultt"  src="assets/images/svg/tagcross.svg" style="cursor: pointer;">
                        <img class="hoverr"  src="assets/images/svg/tagcross-gray.svg" style="cursor: pointer;">
                    </span>
                </div>
            </div>
            <div class="inner_livestreampoll" *ngIf="visibilityfilter == 'Create Poll' || corsTyp == 0">
              <div class="padding_textarea ques_text_area questionarea_poll"  [ngClass]="{'active_question_poll':quesactive==1}" (click)="onactive(1);" (focusout)="quesactive=0">
                  <div class="maintextarea_div " (click)="showQuestionTextArea()">
                      <div class='StatusInfo' *ngIf="questionBlock" (click)="getDivId($event)"><span class="placeholder" >Type Your Question?</span></div>
                      <div class='StatusInfo perfect_scroll'  *ngIf="!questionBlock" contenteditable="true" id="q_text" (click)="getDivId($event)" (paste)="post_data.onPaste($event);checkPaste($event)" (keydown)="check1($event)" (keydown.backspace)="dele1($event);" (keydown.enter)="onEnter($event);" ></div>
                      <label class="option_image">
                          <input type="file" class="post_image" id="questionimage" (change)='addQuestionImg($event)' [disabled] = "stopUpload">
                          <label class="fileupload_image" for="questionimage"><img class="default" src="assets/images/svg-three/post_icon/img.svg" ><img class="on-hover" src="assets/images/svg-three/post_icon/f05050/img.svg" ></label>
                      </label>
                      <!-- <label class="fileupload_image" for="questionimage"><img class="defaultt" src="assets/images/svg-three/post_icon/img.svg" ><img class="hoverr" src="assets/images/svg-three/post_icon/f05050/img.svg" ></label> -->
                      <div class="post_upload" *ngIf="show_image_question==2">
                          <span  class="uploaded_image">
                              <span  class="removeimg">
                                  <!-- <img _ngcontent-c1="" src="assets/images/svg/close.svg" (click) = "show_image_question=1;image_upload=null;file_type=null;loader=false;" (mouseup)="uuidCheck($event)"  id="quesImage"> -->
                              </span>
                              <span  class="hoverbg"></span>
                              <!-- <span _ngcontent-c1="" class="changeimg" (click)='change_image_question()' *ngIf="imageUpload==false">Change</span> -->
                              <span  class="changeimg" (click) = "show_image_question=1;image_upload=null;file_type=null;loader=false;" *ngIf="imageUpload==false" (mouseup)="uuidCheck($event)"  id="quesImage">Cancel</span>
                              <span *ngIf="imageUpload" style="" class="add-post-preloader"><img style="" src="assets/images/svg/preloader-25.svg"></span>
                              <img  src="{{image_upload_question_url}}" id='post_image_attached'> </span>
                      </div>
                  </div>
                  <span class="pollword_count">10/115</span>
              </div>
              <div class="poll_options">Options</div>
              <div class="poll_selectanswer">
                <div class="mainfileupldng mainfile_scroll" [perfectScrollbar]="config" style="position:relative;"  selected="true" (click)="hidemoreint();">
                    <div class='addoption_outr'>
                        <span class="leftoption_poll"><span>A</span></span>
                        <div class='right_part ' >
                            <div class='optionoutr' [ngClass]="{'active_question_poll':quesactive==2}" (click)="onactive(2)" >
                                <!-- <input type="text"> -->
                                <div class="option_input" contenteditable="true" id="opt1_text" (focus)="getDivId($event)" (keyup)="activeChoice($event)" (paste)="post_data.onPaste($event);">
                                </div>
                                <span class="pollword_count_fld">10/30</span>
                            </div>
                        </div>
                    </div>
                    <div class='addoption_outr'>
                        <span class="leftoption_poll"><span>B</span></span>
                        <div class='right_part ' >
                            <div class='optionoutr' [ngClass]="{'active_question_poll':quesactive==3}" (click)="onactive(3)" >
                                <div class="option_input" contenteditable="true" id="opt2_text" (focus)="getDivId($event)" (keyup)="activeChoice($event)" (paste)="post_data.onPaste($event)">
                                </div>
                                <span class="pollword_count_fld">10/30</span>
                            </div>
                        </div>
                        <span class="removeimg remove-option" style="width:22px !important;" (click)="removeOption($event)">
                            <img id="del6" style="width: 100%;" src="./assets/images/svg-three/add_post/positive.svg"></span>
                    </div>
                </div>

              </div>
            </div>
            <div class="footer_livestream" *ngIf="visibilityfilter == 'Create Poll' || corsTyp == 0">
              <button class="button24x7 redColorButton fright">Publish</button>
            </div>

            <!-- start recent poll screen -->
            <div class="recent_poll_wrapper" *ngIf="corsTyp == 1">
              <div class="left_poll_wrapper" [perfectScrollbar]="config" style="position:relative;">
                <ul>
                    <li><span class="round_crcle"><span></span></span>Hypermetropia is a state where eyes are dried</li>
                    <li (click)="onPublished()"><span class="round_crcle" ><span></span></span>Hypermetropia is a state where eyes are dried</li>
                    <li (click)="noPublished()"><span class="round_crcle"><span></span></span>Alexios was the first king of free Greece?</li>
                    <li><span class="round_crcle"><span></span></span>Carboxylic acid and Hudrogen Peroxide have pungent smell</li>
                    <li><span class="round_crcle"><span></span></span>Hypermetropia is a state where eyes are dried</li>
                    <li><span class="round_crcle"><span></span></span>Hypermetropia is a state where eyes are dried</li>
                    <li><span class="round_crcle"><span></span></span>Hypermetropia is a state where eyes are dried</li>
                    <li><span class="round_crcle"><span></span></span>Hypermetropia is a state where eyes are dried</li>
                    <li><span class="round_crcle"><span></span></span>Hypermetropia is a state where eyes are dried</li>
                    <li><span class="round_crcle"><span></span></span>Hypermetropia is a state where eyes are dried</li>
                    <li><span class="round_crcle"><span></span></span>Hypermetropia is a state where eyes are dried</li>


              </ul>
              </div>
              <div class="right_poll_wrapper">
                <div class="question_show_poll">
                  <div class="inner_que_poll">
                    <span class="poll_published" *ngIf="published">Published</span>
                    <p>Carboxylic acid hydrogen Peroxide have a pungent smelling odour which can not be removed.</p>
                    <span class="que_option"><span class="poll_opt"><span>A</span></span>Strongly Agree</span>
                    <span class="que_option"><span class="poll_opt"><span>B</span></span>Disagree</span>
                    <span class="que_option"><span class="poll_opt"><span>C</span></span>Strongly Disagree</span>
                    <span class="que_option"><span class="poll_opt"><span>D</span></span>Unaware</span>
                  </div>
                </div>
                <div class="right_bottom_footer">
                   <button class="button24x7 whiteColorButton fleft" type="button" name="button">Delete</button>
                   <button class="button24x7 redColorButton fright" [disabled]="published" [ngClass]="{'addDisable' : published}" type="button" name="button">Publish</button>
                </div>
              </div>

            </div>
            <!-- end recent poll screen -->
        </div>
        <!-- results screen start -->
        <div  class="popup-inner-wrap popup-open-inner-wrap" style="display:none;" >
            <div class="topheadsavpop">
                <div class="toolbar_poll addpost_hdng_poll tlbar_poll">
                  <span class="poll_result">Poll Results</span>
                    <span class="close_div">
                        <img class="defaultt"  src="assets/images/svg/tagcross.svg" style="cursor: pointer;">
                        <img class="hoverr"  src="assets/images/svg/tagcross-gray.svg" style="cursor: pointer;">
                    </span>
                </div>
            </div>
            <div class="inner_livestreampoll result_pollWrapper">
              <div class="poll_result_left">
                <div class="question_show_poll">
                  <div class="inner_que_poll">
                    <p>Carboxylic acid hydrogen Peroxide have a pungent smelling odour which can not be removed.</p>
                    <span class="que_option"><span class="poll_opt"><span>A</span></span>Strongly Agree</span>
                    <span class="que_option"><span class="poll_opt"><span>B</span></span>Disagree</span>
                    <span class="que_option"><span class="poll_opt"><span>C</span></span>Strongly Disagree</span>
                    <span class="que_option"><span class="poll_opt"><span>D</span></span>Unaware</span>
                    <span class="que_option"><span class="poll_opt"><span>E</span></span>Not Interested</span>
                  </div>
                </div>
              </div>
              <div class="poll_result_right">
                  <div class="mapWrapper" [chart]="chart"></div>
              </div>
              <div class="bottom_result">
                <span class="result_option"><span class="result_opt medium"><span>D</span></span>20%</span>
                <span class="result_option"><span class="result_opt intermediate"><span>C</span></span>30%</span>
                <span class="result_option"><span class="result_opt high"><span>B</span></span>40%</span>
                <span class="result_option"><span class="result_opt low"><span>A</span></span>10%</span>
              </div>
            </div>
            <div class="footer_livestream">
              <span class="count_downtimer"><img src="./assets/images/svg-three/clock.svg" alt="">01:30</span>
              <button class="button24x7 redColorButton fright">End Poll</button>
            </div>
        </div>
        <!-- end results screen -->
        <!-- student polling result start -->
        <div  class="popup-inner-wrap popup-open-inner-wrap" style="display:none;">
            <div class="topheadsavpop">
                <div class="toolbar_poll addpost_hdng_poll tlbar_poll">
                  <span class="stdnt_result"><span class="redCircle"></span>Live Poll</span>
                    <span class="close_div">
                        <img class="defaultt"  src="assets/images/svg/tagcross.svg" style="cursor: pointer;">
                        <img class="hoverr"  src="assets/images/svg/tagcross-gray.svg" style="cursor: pointer;">
                    </span>
                </div>
            </div>
            <div class="inner_livestreampoll result_pollWrapper result_poll">
              <div class="student_result_left">
                <div class="result_show_poll" style="display:none;">
                    <p>Carboxylic acid hydrogen Peroxide have a pungent smelling odour which can not be removed.</p>
                    <div class="result_view" style="display:none;">
                    <div class="result_left"><span class="student_que_result medium" style="width:34%;"><span class="result_poll_opt"><span>14%</span></span>Strongly Agree</span></div><div class="result_right"><span>24 Votes</span></div>
                    <div class="result_left"><span class="student_que_result high" style="width:80%;"><span class="result_poll_opt"><span>60%</span></span>Disagree</span></div><div class="result_right"><span>81 Votes</span></div>
                    <div class="result_left"><span class="student_que_result intermediate" style="width:46%;"><span class="result_poll_opt"><span>26%</span></span>Strongly Disagree</span></div><div class="result_right"><span>19 Votes</span></div>
                    <div class="result_left"><span class="student_que_result low" style="width:32%;"><span class="result_poll_opt"><span>12%</span></span>Unaware</span></div><div class="result_right"><span>09 Votes</span></div>
                    </div>
                </div>
                <div class="result_show_poll select_opt_poll">
                    <p>Carboxylic acid hydrogen Peroxide have a pungent smelling odour which can not be removed.</p>
                    <div class="select_poll_options">
                       <label class="radiobtn_outer f-child">
                         <input class="Radio" type="radio" value="A" id="option1" name="6090_mainoption">
                         <label class="radio_btn " for="option1"></label>
                         <b>A</b><span class="inr_content">Strongly Agree</span>
                       </label>
                    </div>
                    <div class="select_poll_options">
                       <label class="radiobtn_outer f-child">
                         <input class="Radio" type="radio" value="A" id="option2" name="6090_mainoption">
                         <label class="radio_btn " for="option2"></label>
                         <b>B</b><span class="inr_content">Disagree</span>
                       </label>
                    </div>
                    <div class="select_poll_options">
                       <label class="radiobtn_outer f-child">
                         <input class="Radio" type="radio" value="A" id="option3" name="6090_mainoption">
                         <label class="radio_btn " for="option3"></label>
                         <b>C</b><span class="inr_content">Strongly Disagree</span>
                       </label>
                    </div>
                    <div class="select_poll_options">
                       <label class="radiobtn_outer f-child">
                         <input class="Radio" type="radio" value="A" id="option4" name="6090_mainoption">
                         <label class="radio_btn " for="option4"></label>
                         <b>D</b><span class="inr_content">Unaware</span>
                       </label>
                    </div>
                </div>

              </div>
            </div>
            <div class="footer_livestream">
              <button class="button24x7 whiteColorButton fleft">Skip</button>
              <!-- <button class="button24x7 whiteColorButton fleft" type="button" name="button">Close</button> -->
              <button class="button24x7 redColorButton fright">Submit</button>
            </div>
        </div>
        <!-- student polling result end -->
        <!-- attempted polls history start -->
        <div  class="popup-inner-wrap popup-open-inner-wrap">
            <div class="topheadsavpop">
                <div class="toolbar_poll addpost_hdng_poll tlbar_poll">
                  <span class="poll_result">Attempted Polls</span>
                    <span class="close_div">
                        <img class="defaultt"  src="assets/images/svg/tagcross.svg" style="cursor: pointer;">
                        <img class="hoverr"  src="assets/images/svg/tagcross-gray.svg" style="cursor: pointer;">
                    </span>
                </div>
            </div>
            <div class="recent_poll_wrapper">
              <div class="left_poll_wrapper" [perfectScrollbar]="config" style="position:relative;">
                <ul>
                    <li><span class="round_crcle"><span></span></span>Hypermetropia is a state where eyes are dried</li>
                    <li (click)="onPublished()"><span class="round_crcle" ><span></span></span>Hypermetropia is a state where eyes are dried</li>
                    <li (click)="noPublished()"><span class="round_crcle"><span></span></span>Alexios was the first king of free Greece?</li>
                    <li><span class="round_crcle"><span></span></span>Carboxylic acid and Hudrogen Peroxide have pungent smell</li>
                    <li><span class="round_crcle"><span></span></span>Hypermetropia is a state where eyes are dried</li>
                    <li><span class="round_crcle"><span></span></span>Hypermetropia is a state where eyes are dried</li>
                    <li><span class="round_crcle"><span></span></span>Hypermetropia is a state where eyes are dried</li>
                    <li><span class="round_crcle"><span></span></span>Hypermetropia is a state where eyes are dried</li>
                    <li><span class="round_crcle"><span></span></span>Hypermetropia is a state where eyes are dried</li>
                    <li><span class="round_crcle"><span></span></span>Hypermetropia is a state where eyes are dried</li>
                    <li><span class="round_crcle"><span></span></span>Hypermetropia is a state where eyes are dried</li>


              </ul>
              </div>
              <div class="right_poll_wrapper">
                <div class="question_show_poll">
                  <div class="inner_que_poll">
                    <p>Carboxylic acid hydrogen Peroxide have a pungent smelling odour which can not be removed.</p>
                    <div class="attmp_poll"><span class="que_option atmpt_history intermediate" style="width:60%"><span class="poll_opt_result"><span class="round_opt">A</span></span><span class="result_percent">14%</span>Strongly Agree</span></div>
                    <div class="attmp_poll"><span class="que_option atmpt_history high" style="width:80%"><span class="poll_opt_result" style="border:2px solid #00c900;"><span class="round_opt">B</span></span><span class="result_percent">60%</span>Disagree</span></div>
                    <div class="attmp_poll"><span class="que_option atmpt_history medium" style="width:70%"><span class="poll_opt_result"><span class="round_opt">C</span></span><span class="result_percent">26%</span>Strongly Disagree</span></div>
                    <div class="attmp_poll"><span class="que_option atmpt_history low" style="width:45%"><span class="poll_opt_result"><span class="round_opt">D</span></span><span class="result_percent">12%</span>Unaware</span></div>
                  </div>
                </div>
              </div>

            </div>
        </div>
        <!-- end attempted polls history -->
    </div>
</div>
