<div class="everthing_about everthing_howtoapply howtoapply_mobile">
  <div class="container containerWeb">
    <div class="mainwrapper ">
    <div class="wrapperhead headCont">
 <h2 class="heading_bold">How to Apply ?</h2>
 <p>Steps to follow, before getting hired at Study24x7</p>
 <div class="togglesec ">
   <div class="toggleDiv">Our Hiring Partners</div>
  <div class="partnerCareer ">
   <div class="exittextLogo">
     <img class="partnerlogo1" src="assets/images/career/exittestLogo1.png"  />
   </div>
   <div class="logosep">

   </div>
   <div class="gingerLogo">
    <img class="partnerlogo2" src="assets/images/career/gingerLogo1.png"  />
   </div>
  </div>
 </div>
 </div>
 <div class="_wrapper">
 <div class="applyFlowSec applyFlowSecFresher">
 <div class="applyFlowIneer">
   <div class="flowStep flowStep1">
     <div class="iconFlowSec1">
       <img src="assets/images/career/apply-management.svg" />
     </div>
     <div class="applyfor1">Apply for fresher's Job</div>
     <div class="applyStepDesc1">also get free account on
Study24x7.com</div>
   </div>
   <div class="flowStep flowStep2">
     <div class="iconFlowSec">
       <img src="assets/images/career/apply-edit.svg" />
     </div>
     <div class="applyfor"><span>2</span></div>
     <div class="applyStepDesc">Choose between Technical and Non-Technical Job Role</div>
   </div>
   <div class="flowStep flowStep3">
     <div class="iconFlowSec">
       <img src="assets/images/career/apply-form.svg" />
     </div>
     <div class="applyfor"><span>3</span></div>
     <div class="applyStepDesc">
       <p>Fill your qualification details and summary</p>
     <!-- <img style="width: 90px;margin-top: 8px;" src="assets/images/career/exittestLogo1.png" /> -->
     </div>
   </div>
   <div class="flowStep flowStep4">
     <div class="iconFlowSec">
       <img src="assets/images/career/apply-document.svg" />
     </div>
     <div class="applyfor"><span>4</span></div>
     <div class="applyStepDesc">Take or schedule your Qualifier Test</div>
   </div>
   <div class="flowStep flowStep5">
     <div class="iconFlowSec">
       <img src="assets/images/career/apply-student.svg" />

     </div>
     <div class="applyfor applyforripple">
       <span> <img style="width: 12px;" src="assets/images/career/white-tik.svg" /> <div  class="circle-rippl"></div></span>

     </div>
     <div class="applyStepDesc">Get Interviewed & Hired! Be a part of our journey!</div>
   </div>
  <div class="hrLine"></div>
 </div>

 </div>

</div>
</div>
</div>
  <div class="container containerRes">
<div class="sec_for_card">
<div class="card_top">
  <div class="card_left">
    <p>Follow these steps to apply :</p>
    <ul class="stepsul">
      <li class="listli list1">Visit <a href="career/fresher" target="_blank">study24x7.com/career/fresher</a></li>
      <li class="listli list2 ">Apply for fresher jobs by Registering on Study24x7
(Technical or Non-Technical)</li>
      <li class="listli list3">Fill out the application form</li>
      <li class="listli list4">Schedule your Qualifier Test</li>
      <li class="listli list5">Get Interviewed & Hired!</li>
    </ul>
  </div>
  </div>
  </div>
  </div>

</div>
