.mobileSelection {
  position: relative;
  float: left;
  width: 100%;
  /* input {
    padding-left: 75px !important;
  } */
}

.mobileSelection .countryShow {
  position: absolute;
  left: 5px;
  top: 5px;
  right: auto;
  bottom: 5px;
  display: flex;
  height: auto;
  justify-content: left;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.mobileSelection .countryShow:hover, .mobileSelection .countryShow:active {
  background-color: #dfe5eb;
}

.mobileSelection .countryShow.countryShowActive {
  background-color: #dfe5eb;
}

.mobileSelection .down-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #555;
}

.mobileSelection .down-arrow.up-arrow {
  border-top: 0px solid #555;
  border-bottom: 4px solid #555;
}

.mobileSelection .countryFlag {
  width: 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.mobileSelection .countryFlag img {
  width: 18px;
}

.mobileSelection .countryCode {
  display: flex;
  /* margin-left: 5px; */
  opacity: 0.5;
  color: rgba(0, 0, 0, 0.9);
}

.mobileSelection .leftSpace {
  padding-left: 46px !important;
  /* padding-right: 5px !important; */
}

.mobileSelection .leftSpace2 {
  padding-left: 54px !important;
}

.mobileSelection .leftSpace3 {
  padding-left: 62px !important;
}

.mobileSelection .leftSpace4 {
  padding-left: 96px !important;
}

.mobileSelection .countryListShow {
  float: left;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 0;
  position: absolute;
  background: #fff;
  z-index: 11;
  max-height: 200px;
  overflow: hidden;
  box-sizing: border-box;
  left: 0;
  top: 45px;
  width: 250px;
  padding: 10px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.mobileSelection .mobinput {
  height: 42px;
  width: 100%;
  color: #2e2c2f;
  padding: 10px 15px;
  line-height: 42px;
  border-radius: 5px !important;
  cursor: text;
  transition: all 0.1s linear;
  font-size: 14px;
  background-color: rgba(223, 229, 235, 0.3);
  border: 1px solid #dfe0e8 !important;
  box-shadow: none;
}

.mobileSelection .countrySearch {
  float: left;
  width: 100%;
  position: relative;
}

.mobileSelection .countrySearch input {
  height: 32px;
  width: 100%;
}

.mobileSelection .countrySearch .dataSearch {
  height: 32px !important;
  width: 100%;
  font-size: 12px !important;
  padding-left: 10px !important;
  border: solid 1px rgba(44, 46, 47, 0.2);
  border-radius: 5px;
}

.mobileSelection .countrySearch .dataSearch:focus {
  color: #2e2c2f;
  /* border-left: 1px solid #e6e6e6 !important; */
}

.mobileSelection .countrySearch .dataRefresh {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  width: 20px;
  display: flex;
  justify-content: left;
  align-items: center;
  cursor: pointer;
}

.mobileSelection .countrySearch .dataRefresh img {
  width: 10px;
}

.mobileSelection .countryList {
  float: left;
  width: 100%;
  max-height: 145px;
  position: relative;
  margin-top: 10px;
}

.mobileSelection .countryList .listData {
  float: left;
  padding: 2px 0px;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 12px;
  margin-bottom: 5px;
  cursor: pointer;
}

.mobileSelection .countryList .listData:hover {
  background-color: rgba(223, 229, 235, 0.6);
}

.mobileSelection.countryListShow1 .countryShow, .mobileSelection.countryListShow2 .countryShow {
  /* top: 7px; */
}

.mobileSelection.countryListShow1 .countryShow .countryFlag, .mobileSelection.countryListShow2 .countryShow .countryFlag {
  display: none;
}

.mobileSelection.countryListShow3 .countryShow {
  /* top: 4px; */
}

.mobileSelection.countryListShow3 .countryShow .countryFlag {
  display: none;
}

.mobileSelection.countryListShow3 input {
  background: none;
  border-radius: 0 !important;
  height: 35px;
  /* padding-left: 58px !important; */
  line-height: 0;
}

.mobileSelection.countryListShow3 .countryList {
  max-height: 88px;
}

.mobileSelection.countryListSetting .countryShow {
  /* top: 4px; */
}

.mobileSelection.countryListSetting .countryShow .countryFlag {
  display: none;
}

.mobileSelection.countryListSetting input {
  height: 35px;
  /* padding-left: 58px !important; */
}

.mobileSelection.countryListSetting .countryListShow {
  top: 40px;
  width: 100%;
}

.mobileSelection.countryListloginPopup .countryShow .countryFlag {
  display: none;
}

.mobileSelection.countryListloginPopup input {
  height: 38px;
  /* padding-left: 58px !important; */
}

.mobileSelection.countryListpayment .countryShow {
  /* top: 7px; */
}

.mobileSelection.countryListpayment .countryShow .countryFlag {
  display: none;
}

.mobileSelection.countryListpayment input.mobinput {
  border: none !important;
  background: none;
  /* padding-left: 58px !important; */
}

.mobileSelection.countryListpayment .countryListShow {
  width: 100%;
}

.mobileSelection.sociallogininput {
  margin-bottom: 20px;
}

.mobileSelection.sociallogininput .countryShow {
  /* top: 7px; */
}

.mobileSelection.sociallogininput .countryShow .countryFlag {
  display: none;
}

.mobileSelection.sociallogininput input.mobinput {
  /* padding-left: 58px !important; */
}

.mobileSelection.sociallogininput .countryListShow {
  width: 100%;
}

.mobileSelection.forgotPasswordinput {
  margin-bottom: 15px;
}

.mobileSelection.forgotPasswordinput .countryShow {
  /* top: 9px; */
}

.mobileSelection.forgotPasswordinput .countryShow .countryFlag {
  display: none;
}

.mobileSelection.forgotPasswordinput input.mobinput {
  /* padding-left: 58px !important; */
  height: 45px;
}

.mobileSelection.forgotPasswordinput input.mobinput::-webkit-input-placeholder {
  font-size: 16px;
}

.mobileSelection.forgotPasswordinput input.mobinput:-ms-input-placeholder {
  font-size: 16px;
}

.mobileSelection.forgotPasswordinput input.mobinput::placeholder {
  font-size: 16px;
}

.mobileSelection.forgotPasswordinput .countryListShow {
  width: 100%;
}

.countryShowHover {
  background-color: #dfe5eb;
}

@media only screen and (max-width: 768px) {
  .mobileSelection.countryListShow3 .countryList {
    max-height: 145px;
  }
}
