<div class="scholarship_footer">
  <div class="_wrapper">
  <div class="footer_col coll-a">
    <span class="left-col-img"><img src="https://img1.aio.com/assets/images/svg-three/Logo.png" alt="">
      <p class="study__link">www.aio.com</p>
    </span>
  </div>
   <div class="footer_col coll-b">
     <ul>
       <li>EXPLORE TESTS</li>
       <li>All India Scholarship Test</li>
       <li>National Talent Hunt Test</li>
     </ul>
   </div>
   <div class="footer_col coll-c">
     <ul>
       <li>OTHER LINKS</li>
       <li>Privacy Policy</li>
       <li>Terms and Conditions</li>
     </ul>
   </div>
   <div class="footer_col third_coll">
     <ul>
       <li>Terms of Use</li>
       <li>Support</li>
     </ul>
   </div>
   <div class="footer_col app__coll">
     <ul>
       <li>GET THE APP</li>
       <li class="getapp__">
          <div class="linkapp">
            <a href="https://play.google.com/store/apps/details?id=com.stdy24x7&amp;hl=en" target="_blank">
            <img src="https://img1.aio.com/assets/images/svg-three/gp.svg" alt="">
            </a>
          </div>
          <div class="linkapp">
            <a href="https://itunes.apple.com/in/app/aio/id1444868244?ls=1&amp;mt=8" target="_blank">
            <img src="https://img1.aio.com/assets/images/svg-three/app.svg" alt="">
            </a>
          </div>

       </li>
       <li>© Edubabble Learning Pvt. Ltd.  2020</li>
     </ul>
   </div>
   </div>
</div>
