 $backgroundgray : #e6e6e6;
 $themeblue : #F05050;
 $themegray : #f5f7fa;
 $textcolor : #2c2e2f;
 $textgrey : #8c8c8c;
 $maingreen: rgb(7,162,8);
 $stroke : #dfe0e8;
 // $stroke : #E9E9E9;
 $borderRadius: 5px;
 $inputTypeHeight: 35px;
 $inputTypeFont: 12px;
 $headerHeight: 60px;
 $headerLineHeight: $headerHeight - 5px;
 $mainboxShadow: 0 0 7px rgba(0,0,0,0.1);
 $dropdownwidth: 400px;
 $dropdwncontentwidth: $dropdownwidth - 100px;
 $ntfctnprofile: 40px;
 $inrprflimg : $ntfctnprofile + 8px;
 $PostPicture: 40px;
 $commentPicture: $PostPicture - 10px;
 $subcommentPicture: $commentPicture - 10px;
 $mainpostName: 14px;
 $maincommentName: $mainpostName - 2px;
 $darkthemestroke: $themeblue;
 $progressbarRed: #ed6568;
 $rightanswer : #5bbc5b;


.savepostpopup{
	width: 750px !important;

.interesrsearch{
	width: 100%;
}
.profiledetail{
  width: 250px !important;
}
	.post_outer{
		box-shadow: none;
        margin-top: 10px !important;

		.post_profile{
			padding: 0px;
		}
	}
	.post_profileContent{
		padding: 15px 0 5px !important;
	}


	.widgetheading{
		border-bottom: 1px solid $stroke;
		padding:10px 0;
	}
	.people_list{
		padding: 0px;
		height: 175px;
		margin-bottom: 0px;


		li{
			border: 1px solid $stroke !important;
			border-radius: $borderRadius !important;
			padding: 5px !important;
			background: $themegray;
			margin-bottom: 10px;
		}
	}
	.strokebtn{
		width:100%;
		margin-top: 10px;
    border-radius: 40px;
	}
	.btn-Secondary{
		margin-left: 10px;
	}


	.save_addimage {
	    text-align: center;
	    line-height: 200px;
	    border: 3px dashed #dfe0e8;
	    height: 200px;
	    width: 100%;
	    float: none;
	    display: inline-block;
	    margin-top: 20px;
		img{
			width: 80px !important;
		}
	}
	.inlineblock{
		display: inline-block;width:100%;
		text-align: center;
	}
}
.post_headingg{
  margin-top: 10px;
}
input{
  transition:border-color .2s ease-in-out,box-shadow .2s ease-in-out;
&:focus{
  border: 1px solid #66a9d5 !important;
  border-color: #66a9d5 !important;
 outline: 0;
 -webkit-box-shadow: 0 0 0 0.3rem rgba(153,197,227, 0.3)!important;
 box-shadow: 0 0 0 0.3rem rgba(153,197,227, 0.3)!important;
}
}
 .back_btn{
margin-right: 5px;
height: 31px;
font-size: 14px;
line-height: 16px;
border-radius: 18px !important;
border: 1px solid #dfe0e8;
background: #f5f7fa;
color:#000;
 &:hover,&:active{
   background: #f5f7fa;
   color: #000;
   border: 1px solid #dfe0e8;
 }
 }
 .savepostpopup{
 	.post_outer{
 		.post_profile{
 			padding-left:10px;
 			padding-right:10px;
 			padding-top:10px;
 		}
 		.post_profileContent{
 			padding-left:10px !important;
 			padding-right:10px !important;
      span.iframe_span{width:150px;hieght:150px}
 		}
 	}
 }
 .savepostpopup{
  .post_outer{
 	 .post_profile{
 		 padding-top:10px !important;
 		 padding-left:10px !important;
 	 }
  }
 }
 .popup_main.savepostpopup{
   .interesrsearch{
 		input{
 			height:35px;
 			line-height:35px;
 			box-shadow: unset;

 		}
 	 .input-group-addon	{
 		 background-color:transparent;
 		 button{
 			 border:none;
 			 padding:1px 8px 0;
 			 background-color:transparent;
 		 }
 	 }
 	}

 }
 .popup_main.savepostpopup{
 	// min-height:400px;
 	height:auto;
 	top:50%;
 	left:50%;
 	bottom:auto;
 	right:auto;
 	-webkit-transform: translate(-50%,-50%);
 	-moz-transform: translate(-50%,-50%);
 	-ms-transform: translate(-50%,-50%);
 	-o-transform: translate(-50%,-50%);
 	transform: translate(-50%,-50%);
 	.folder-wrap{
 	 .people_list{
 		 min-height:112px;
 	 }
 	}
 	.borderLeft{
 		padding-bottom:0;
 		// padding-left:15px;
 		height:auto;
 		max-height:400px;
 		padding-right:0;
 		display:flex;
 		flex-direction: column;
 		.folder-wrap{
 			// display:flex;
 			// flex-direction:column;
 			position:relative;
 			width:100%;
       min-height: 225px;
 		}
 	}
 	.widgetheading{
 		border-bottom:none;
 		padding-top:12px;
 	}
 	.people_list{
 		// height:calc(100% - 105px);
 		height:auto;
 		max-height:170px;
 		margin-bottom:70px;
    min-height: 170px !important;

 		ul{
 			padding-right:15px;
 			// display:flex;
 			// justify-content:flex-start;
 			// flex-wrap: wrap;
 	 li{
 		 padding:8px 10px !important;
 		 cursor:pointer;
      border: none!important;
 		 // box-shadow:0px 6px 3px -6px rgba($textcolor,0.2);
 		 // background-color:white;

 		.prfl_detail{
 			height:auto;
 			// margin:0;
 			// text-align: center;
 			width:auto;
 			display:block;
 			float:none;
 		}
 		&:hover{
 			color:$themeblue;
 			border-color:$themeblue !important;
 			background-color:rgba($themeblue,0.15);
 		}
 		h6{
 			font-size: 12px;
 			font-weight:500;
 			color:$textcolor;
 			line-height:20px;
 		}
 	 }
 	 }
 	}
 	.strokebtn-wrap{
 		position:absolute;
 		padding-right:15px;
 		width:100%;
 		bottom:0;
 		left:0;
 		.strokebtn{
 			margin-top:15px;
 			margin-bottom:15px;
 			// background-color:$themeblue;
 			color:#f05050;
 			font-size:14px;
 			border-color:$themeblue;
 			height:40px;
 			line-height:38px;
 			font-weight: 500;
       border-radius: 40px;
       font-weight: 500;
 				&:hover{
 					// background-color:darken($themeblue,5%);
           color: #fff;
           background-color:#f05050!important;
 				}
 		}
 	}
 .post-wrap{
 	padding-right:15px;
 	padding-left:15px;
   min-height: 100px;
   max-height: 306px;
   float: left;
   overflow: scroll;
 	img{
 		margin-bottom:0;
 		-webkit-border-radius: 5px;
 		-moz-border-radius: 5px;
 		-ms-border-radius: 5px;
 		-o-border-radius: 5px;
 		border-radius: 5px;
 	}
 }
 .inner-wrap{
 	display:flex;
 	.post_outer{
 		-webkit-box-shadow: unset;
 		-moz-box-shadow: unset;
 		-ms-box-shadow: unset;
 		-o-box-shadow: unset;
 		box-shadow: unset;
 		margin-top:15px !important;
 		margin-bottom:15px;
 	}
 }
 .create-folder-wrap{
 	padding-right:15px;
 	padding-bottom:15px;
 	min-height:225px;
   .back_btn{
     margin-right: 5px;
     height: 31px;
     font-size: 14px;
     line-height: 16px;
     &:hover{
       // border:none;
     }
   }
 	.name-info{
 		padding-top:10px;
 		font-size:12px;
     float: left;
     
 	}
 	.people_list{
 		margin-bottom:10px;
 	}
 	.cancel_btn.popup_btn{
 		height:30px;
 		line-height:28	px;
 		margin-right:10px;
 		font-size:14px;
 		    border-radius: 30px;
 		&:hover{
 			background-color:darken(#F0F0F0, 5%);
 		}
 	}
 }
 .saveinrimg.save_addimage{
 	margin-top:0;
 	margin-right:15px;
 	margin-bottom:15px;
 	width:auto;
 	display:block;
 	cursor:pointer;
 }
 }
// from new scss file
.popup_main.savepostpopup{
   .people_list{
     input{
       &:focus{
         border: 1px solid #66a9d5 !important;
         outline: 0;
         box-shadow: 0 0 0 0.3rem rgba(153, 197, 227, 0.3) !important;
       }
     }
   }
 }
 .popup_main.savepostpopup{
   .post_profile{
     .post_profilepic{
       position: static;
     }
   }
 }
// end new scss file
@media only screen and (max-width:767px){
  .popup_main.savepostpopup{
    .post-wrap{
    display: none;
  }
}
.popup_main.savepostpopup{
    width:calc(100% - 20px) !important;
  }
}
.post_outer.popup_outer{
.course_post_profileContent{
      background-color: #e8ecf1;
  float: left;
  width: 100%;
  padding: 0px!important;
  margin-top: 10px;
  border-radius: 3px;
  .coursesDetailBottom{
    float: left;
    width: 100%;
    padding: 10px 10px;
  }



  .leftDetail{
    float: left;
    width: 70%;
    h1{
      float: left;
      width: 100%;
      font-size: 16px;
      color: #2c2e2f;
      padding: 0px 0px 5px 0px;
    }
    p{
      color: #8c8c8c;
      font-weight: 500;
      font-size: 14px;
      .text{
        float: left;
        font-size: 12px;

      }
      .dote{
        float: left;
        width: 3px;

        img{
          width: 100%;
          height: 100%;
        }

        &:nth-child(2n+2){
          margin:0px 5px;
        }

      }

    }




    .star{
      float: left;
      width: 100%;
      float: left;
      margin-top: 5px;

      .star_wrapper {
        float: left;
        label{
          margin-right: 5px;
          width: 12px;
          margin-bottom: 0px;
        }
        label.fill{


          .star-fill-svg{
            display: block;
          }
          .star-half-svg{
            display: none;
          }
          .star-blank-svg{
            display: none;
          }
        }
        label.half_fill{

          .star-fill-svg{
            display: none;
          }
          .star-half-svg{
            display: none;
          }
          .star-blank-svg{
            display:block;
          }
        }
        label.blank{

          .star-fill-svg{
            display: none;
          }
          .star-half-svg{
            display: none;
          }
          .star-blank-svg{
            display: block;
          }
        }
      }
      .Pagerating{
        float: left;
        width: 66px !important;
        img{
          margin: 0px 2px 0px 0px;
          height: 11px;
          float: left;
          &:last-child{
            margin: 0px 0px 0px 0px;
          }
        }
      }
      .rating{
        float: left;
        font-size: 12px;
        margin-right: 5px;
            color: #ffbb58;
        font-weight: 500;
           line-height: normal;

      }
      .number{
        float: left;
        font-size: 12px;
        color: #8c8c8c;
        line-height: normal;

      }
    }
  }




  .rightDetail{
    float: right;
    width: 25%;
    .price{

    }
    .priceIcon{
      float: left;
      font-size: 16px;
      line-height: 22px;
      color: #f05050;
      margin-left: 0px;
      img{
        width: 13px;
        margin-right: 1px;
        position: relative;
        top: -1px;
      }
    }
    .discountPriceIcon{
      float: left;
      font-size: 14px;
      line-height: 20px;
      color: #8c8c8c;
      margin-left: 2px;
      line-height: 20px;
      position: relative;

      img{
        width: 12px;
        margin-right: 1px;
      }
      .stock{
        position: absolute;
        top: 10px;
        width: 100%;
        height: 1px;
        color: #2c2e2f;
        background-color: #8c8c8c;
        left: 0px;
      }
    }
    button{
      float: left;
        background: transparent;
        border: 1px solid #2c2e2f20;
        border-radius: 3px;
        font-size: 12px;
        width: 92px;
        margin-top: 5px;
        height: 30px;
        line-height: 27px;
    }
  }
}
}
.enroll{
  background: #00bb24!important;
  color: #fff;
  padding: 0px;
  font-size: 14px!important;
  margin-top: 15px!important;
 img{
    width: 13px;
    margin-right: 3px;
    position: relative;
    top: -1px;
 }

}

.pricingWrapper{
  float: left;
  width:100%;

}
.centerAlign{
    display:flex;justify-content:center;
    float: left;
width: 100%;
}
