<div class="popup" *ngIf="popup">
    <div class="popup_background"></div>
    <div class="popup_main savepostpopup ">
        <div class="popup_heading close_parent">Save Post
            <!-- <img  class="closemain" src="assets/images/svg/tagcross.svg" (click)="closePopup();"> -->
            <span class="close_div" (click)="close();">
                <img class="defaultt" src="assets/images/svg/tagcross.svg">
                <img class="hoverr" src="assets/images/svg/tagcross-gray.svg">
            </span>
        </div>
        <div class="inner-wrap">
            <div class="col-md-7 col-sm-8 post-wrap" style="position:relative" [perfectScrollbar]="config">

                <div class='post_outer popup_outer'>
                    <div class='post_profile'>
                        <span class="post_profilepic"><img *ngIf="postData.TYPE!=4" src="{{profile_pic_path}}"
                                (error)="updateProfilePic($event)">
                            <!--<img *ngIf="postData.TYPE==4" src="{{postData.SHARED_POST_DATA.PROFILE_PHOTO_PATH + 'profile/' +postData.SHARED_POST_DATA.USER_ID+'_60x60.png'}}" (error)="updateProfilePic($event)">-->
                            <img *ngIf="postData.TYPE==4" src="{{profile_pic_path}}" (error)="updateProfilePic($event)">
                        </span>
                        <div class="profiledetail">
                            <span title="{{postData.USER_FULL_NAME}}" class='name'
                                *ngIf="postData.TYPE!=4 && postData.TYPE!=7">{{postData.USER_FULL_NAME |trimData:30}}</span>
                            <span title="{{pageTitle}}" class='name'
                                *ngIf="postData.TYPE==7">{{pageTitle |trimData:30}}</span>
                            <span class="time" *ngIf="postData.TYPE!=4">{{postData.ADD_DATE_TIME}}</span>
                            <span title="{{postData.SHARED_POST_DATA.USER_FULL_NAME}}" class='name'
                                *ngIf="postData.TYPE==4 && postData.SHARED_POST_DATA.PAGE_UUID == ''">{{postData.SHARED_POST_DATA.USER_FULL_NAME |trimData:30}}</span>
                            <span title="{{postData.SHARED_POST_DATA.TITLE}}" class='name'
                                *ngIf="postData.TYPE==4 && postData.SHARED_POST_DATA.PAGE_UUID != '' ">{{post_service.decodeURIPostData(postData.SHARED_POST_DATA.TITLE)|trimData:30}}</span>
                            <span class="time"
                                *ngIf="postData.TYPE==4">{{postData.SHARED_POST_DATA.ADD_DATE_TIME}}</span>
                        </div>
                    </div>
                    <div class='post_profileContent'>
                        
                        <p *ngIf="postData.TYPE==1" title="{{post_service.decodeURIPostData(titleText)}}" [innerHTML]="postData.TEXT|trimData:160"> </p>
                        <p *ngIf="postData.TYPE==2 && postData.FILE_TYPE==3" title="{{post_service.decodeURIPostData(titleText)}" [innerHTML]="postData.TEXT|trimData:160"></p><span class="word_break_data" *ngIf="postData.TYPE==2 && postData.FILE_TYPE==3"><br > <b>File Name</b>&nbsp;: &nbsp; {{postData.CAPTION}}</span>
                            <p *ngIf=" postData.TYPE==2 && postData.FILE_TYPE==1" title="{{post_service.decodeURIPostData(titleText)}}"
                            [innerHTML]="postData.TEXT|trimData:160"></p><span
                            *ngIf="postData.TYPE==2 && postData.FILE_TYPE==1" class="post_headingg"><img
                                src="{{ImagePath}}" style="width:150px;hieght:150px"></span>
                        <p *ngIf="postData.TYPE==3" id="postdata_quesText" [innerHTML]="postdata"></p>
                        <img src="{{t_pic}}" style="cursor:pointer;" *ngIf="Text_image">
                        <p *ngIf="postData.TYPE==4 && postData.SHARED_POST_DATA.TYPE==1" title="{{postdata}}"
                            [innerHTML]="postdata|trimData:160"></p>
                        <span class="iframe_span" *ngIf="showVedio">{{text}}<iframe [src]="videosrc | safe"
                                frameborder="0"></iframe></span>
                        <span class="iframe_span" *ngIf="showVimeoVedio">
                            <p>{{text}}</p><iframe [src]="videoVsrc | safe" frameborder="0"></iframe>
                        </span>
                        <!--<p *ngIf="postData.TYPE==4 && postData.SHARED_POST_DATA.TYPE==2 && postData.SHARED_POST_DATA.FILE_TYPE==3" title="{{postdata}}" [innerHTML]="postdata|trimData:160"></p>-->
                        <span
                            *ngIf="postData.TYPE==4 && postData.SHARED_POST_DATA.TYPE==2 && (postData.SHARED_POST_DATA.FILE_TYPE==3 || postData.SHARED_POST_DATA.FILE_TYPE==4)">
                            <br> <b>File Name </b>&nbsp;: &nbsp; {{postData.SHARED_POST_DATA.CAPTION}}</span>
                        <p *ngIf="postData.TYPE==4 && postData.SHARED_POST_DATA.TYPE==2 && postData.SHARED_POST_DATA.FILE_TYPE==1"
                            title="{{postdata}}" [innerHTML]="postdata|trimData:160"></p>
                        <span
                            *ngIf="postData.TYPE==4 && postData.SHARED_POST_DATA.TYPE==2 && postData.SHARED_POST_DATA.FILE_TYPE==1"
                            class="post_headingg"><img src="{{ImagePath}}" style="width:150px;hieght:150px"></span>
                        <p *ngIf="postData.TYPE==4 && postData.SHARED_POST_DATA.TYPE==3" id="postdata_quesText"
                            [innerHTML]="postdata"></p>
                        <!--                        <p *ngIf="postData.TYPE==4 && postData.SHARED_POST_DATA.TYPE==5" title="{{postdata.SHARED_POST_DATA.SHARE_LINK_TITLE}}" [innerHTML]="postdata.SHARED_POST_DATA.SHARE_LINK_TITLE|trimData:160" ></p>
                                                <span *ngIf="postData.TYPE==4 && postData.SHARED_POST_DATA.TYPE==5" class="post_headingg"><img src="{{ImagePath}}" style="width:150px;hieght:150px"></span>-->
                    </div>
                    <div class="course_post_profileContent" *ngIf="showCourse">
                        <div class="coursesDetailBottom">

                            <div class="leftDetail">
                                <h1>{{courseTitle}}</h1>
                                <p>
                                    <span class="text">Validity {{validity}}</span>
                                    <span class="dote"><img src="assets/images/svg-three/post_icon/dote1.svg"
                                            alt="study24x7"></span>
                                    <span class="text">{{courseLevel}}</span>
                                    <span class="dote"><img src="assets/images/svg-three/post_icon/dote1.svg"
                                            alt="study24x7"></span>
                                    <span class="text">{{courseLanguage}}</span>
                                </p>
                                <div class="star">
                                    <div class="star_wrapper">
                                        <label class="Pagerating" *ngIf="courseRating==0.0">
                                            <img class="star-blank-svg"
                                                src="assets/images/svg-one/icons8-star-filled-filled_white.svg"
                                                alt="study24x7">
                                            <img class="star-blank-svg"
                                                src="assets/images/svg-one/icons8-star-filled-filled_white.svg"
                                                alt="study24x7">
                                            <img class="star-blank-svg"
                                                src="assets/images/svg-one/icons8-star-filled-filled_white.svg"
                                                alt="study24x7">
                                            <img class="star-blank-svg"
                                                src="assets/images/svg-one/icons8-star-filled-filled_white.svg"
                                                alt="study24x7">
                                            <img class="star-blank-svg"
                                                src="assets/images/svg-one/icons8-star-filled-filled_white.svg"
                                                alt="study24x7">
                                        </label>
                                        <label class="Pagerating" *ngIf="courseRating==0.5">
                                            <img class="star-half-svg"
                                                src="assets/images/course_icon/star-half-filled.svg" alt="study24x7">
                                            <img class="star-blank-svg"
                                                src="assets/images/svg-one/icons8-star-filled-filled_white.svg"
                                                alt="study24x7">
                                            <img class="star-blank-svg"
                                                src="assets/images/svg-one/icons8-star-filled-filled_white.svg"
                                                alt="study24x7">
                                            <img class="star-blank-svg"
                                                src="assets/images/svg-one/icons8-star-filled-filled_white.svg"
                                                alt="study24x7">
                                            <img class="star-blank-svg"
                                                src="assets/images/svg-one/icons8-star-filled-filled_white.svg"
                                                alt="study24x7">
                                        </label>
                                        <label class="Pagerating" *ngIf="courseRating==1.0">
                                            <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg"
                                                alt="study24x7">
                                            <img class="star-blank-svg"
                                                src="assets/images/svg-one/icons8-star-filled-filled_white.svg"
                                                alt="study24x7">
                                            <img class="star-blank-svg"
                                                src="assets/images/svg-one/icons8-star-filled-filled_white.svg"
                                                alt="study24x7">
                                            <img class="star-blank-svg"
                                                src="assets/images/svg-one/icons8-star-filled-filled_white.svg"
                                                alt="study24x7">
                                            <img class="star-blank-svg"
                                                src="assets/images/svg-one/icons8-star-filled-filled_white.svg"
                                                alt="study24x7"> </label>
                                        <label class="Pagerating" *ngIf="courseRating==1.5">
                                            <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg"
                                                alt="study24x7">
                                            <img class="star-half-svg"
                                                src="assets/images/course_icon/star-half-filled.svg" alt="study24x7">
                                            <img class="star-blank-svg"
                                                src="assets/images/svg-one/icons8-star-filled-filled_white.svg"
                                                alt="study24x7">
                                            <img class="star-blank-svg"
                                                src="assets/images/svg-one/icons8-star-filled-filled_white.svg"
                                                alt="study24x7">
                                            <img class="star-blank-svg"
                                                src="assets/images/svg-one/icons8-star-filled-filled_white.svg"
                                                alt="study24x7">
                                        </label>
                                        <label class="Pagerating" *ngIf="courseRating==2.0">
                                            <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg"
                                                alt="study24x7">
                                            <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg"
                                                alt="study24x7">
                                            <img class="star-blank-svg"
                                                src="assets/images/svg-one/icons8-star-filled-filled_white.svg"
                                                alt="study24x7">
                                            <img class="star-blank-svg"
                                                src="assets/images/svg-one/icons8-star-filled-filled_white.svg"
                                                alt="study24x7">
                                            <img class="star-blank-svg"
                                                src="assets/images/svg-one/icons8-star-filled-filled_white.svg"
                                                alt="study24x7">
                                        </label>
                                        <label class="Pagerating" *ngIf="courseRating==2.5">
                                            <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg"
                                                alt="study24x7">
                                            <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg"
                                                alt="study24x7">
                                            <img class="star-half-svg"
                                                src="assets/images/course_icon/star-half-filled.svg" alt="study24x7">
                                            <img class="star-blank-svg"
                                                src="assets/images/svg-one/icons8-star-filled-filled_white.svg"
                                                alt="study24x7">
                                            <img class="star-blank-svg"
                                                src="assets/images/svg-one/icons8-star-filled-filled_white.svg"
                                                alt="study24x7">
                                        </label>
                                        <label class="Pagerating" *ngIf="courseRating==3.0">
                                            <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg"
                                                alt="study24x7">
                                            <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg"
                                                alt="study24x7">
                                            <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg"
                                                alt="study24x7">
                                            <img class="star-blank-svg"
                                                src="assets/images/svg-one/icons8-star-filled-filled_white.svg"
                                                alt="study24x7">
                                            <img class="star-blank-svg"
                                                src="assets/images/svg-one/icons8-star-filled-filled_white.svg"
                                                alt="study24x7">
                                        </label>
                                        <label class="Pagerating" *ngIf="courseRating==3.5">
                                            <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg"
                                                alt="study24x7">
                                            <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg"
                                                alt="study24x7">
                                            <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg"
                                                alt="study24x7">
                                            <img class="star-half-svg"
                                                src="assets/images/course_icon/star-half-filled.svg" alt="study24x7">
                                            <img class="star-blank-svg"
                                                src="assets/images/svg-one/icons8-star-filled-filled_white.svg"
                                                alt="study24x7">
                                        </label>
                                        <label class="Pagerating" *ngIf="courseRating==4.0">
                                            <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg"
                                                alt="study24x7">
                                            <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg"
                                                alt="study24x7">
                                            <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg"
                                                alt="study24x7">
                                            <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg"
                                                alt="study24x7">
                                            <img class="star-blank-svg"
                                                src="assets/images/svg-one/icons8-star-filled-filled_white.svg"
                                                alt="study24x7">
                                        </label>
                                        <label class="Pagerating" *ngIf="courseRating==4.5">
                                            <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg"
                                                alt="study24x7">
                                            <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg"
                                                alt="study24x7">
                                            <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg"
                                                alt="study24x7">
                                            <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg"
                                                alt="study24x7">
                                            <img class="star-half-svg"
                                                src="assets/images/course_icon/star-half-filled.svg" alt="study24x7">
                                        </label>
                                        <label class="Pagerating" *ngIf="courseRating==5.0">
                                            <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg"
                                                alt="study24x7">
                                            <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg"
                                                alt="study24x7">
                                            <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg"
                                                alt="study24x7">
                                            <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg"
                                                alt="study24x7">
                                            <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg"
                                                alt="study24x7">
                                        </label>
                                    </div>
                                    <span class="rating">{{courseRating}}</span>
                                    <span class="number">({{totalRatings}})</span>
                                </div>

                            </div>

                            <div class="rightDetail" *ngIf="courseType!=0">
                                <!--                         <span class="price">Price:</span> -->
                                <div class="pricingWrapper centerAlign">
                                    <span class="priceIcon"
                                        *ngIf="courseDiscountedPrice!=null && showFree==false && isEnrolled == false">
                                        <img src="assets/images/svg-three/course/course_creation/red_rupe.svg"
                                            alt="study24x7">{{courseDiscountedPrice}}
                                    </span>
                                    <span class="discountPriceIcon"
                                        *ngIf="coursePrice!=null && showFree==false && isEnrolled == false">
                                        <img src="assets/images/svg-three/course/course_creation/gray_rupe.svg"
                                            alt="study24x7">{{coursePrice}}
                                        <span class="stock"></span>
                                    </span>
                                </div>
                                <div class="centerAlign">
                                    <button *ngIf="isAdmin==0 && isEnrolled==false" style="cursor: default;">
                                        Enroll Now 
                                    </button>
                                    <button style="cursor: default;" class="enroll" *ngIf="isAdmin==0 && isEnrolled==true">
                                        Enrolled
                                    </button>
                                </div> 
                            </div>
                            <div class="rightDetail" *ngIf="courseType==0">
                                <!--                         <span class="price">Price:</span> -->

                                <span class="priceIcon centerAlign" *ngIf="showFree==true && isEnrolled == false">
                                    FREE
                                </span>
                                 <div class="centerAlign">
                                    <button  style="cursor:default;" class="enroll" *ngIf="isAdmin==0 && isEnrolled==true">
                                        Enrolled
                                    </button>
                                    <button *ngIf="isAdmin==0 && isEnrolled==false" style="cursor: default;">
                                        Enroll Now 
                                    </button>
                                </div> 
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="col-md-5 col-sm-4 col-xs-12 borderLeft">
                <!-- <div  *ngIf="saveddiv === 3">
                        <h6 class="widgetheading">Create Folder</h6>
                        <div class="inlineblock">
                        <div class="saveinrimg save_addimage" (click)="savedclick(2)"><img src="assets/images/svg/plus.svg"></div>
                </div>
                </div> -->
                <div class="folder-wrap" *ngIf="saveddiv === 1">
                    <h6 class="widgetheading">Select Folder</h6>
                    <!-- <div class="interesrsearch">
                    <div class="input-group stylish-input-group">
                           <span class="input-group-addon">
                   <button type="submit">
                       <span class="glyphicon glyphicon-search"></span>
                   </button>
               </span>
               <input type="text" class="form-control"  placeholder="search" >

           </div>
       </div> -->
                    <!-- <p class="subheading">All Folder</p> -->
                    <div class="people_list" [perfectScrollbar]="config" style="position:relative">
                        <ul>
                            <li *ngFor="let folder of savedFolder" (click)="savePostTofolder(folder.SAVED_FOLDER_ID)">
                                <!--						<div class="profileimg_know">
                                                                                        <img src='assets/images/profile5.jpg'>
                                                                                </div>-->
                                <div class='prfl_detail'>
                                    <div id="{{folder.SAVED_FOLDER_ID}}">
                                        <h6>{{ folder.FOLDER_NAME }}</h6>
                                    </div>
                                    <!--							<div class="grayinfo">5 Posts</div>-->
                                </div>
                                <!-- <button class="graybutton">Connect</button> -->
                            </li>
                        </ul>

                    </div>
                    <div class="strokebtn-wrap clearfix">
                        <button class="strokebtn" (click)="savedclick(3)">Create New Folder</button>
                    </div>
                </div>
                <div class="create-folder-wrap" *ngIf="saveddiv === 3">
                    <h6 class="widgetheading">Create Folder</h6>
                    <div class="people_list" style="overflow: visible;">
                        <input type="text" placeholder="Enter Folder Name" [(ngModel)]="folder_name">
                        <!-- <span class="name-info">Minimum 4 and Maximum 40 character</span> -->
                    </div>

                    <button class="button24x7 redColorButton fright" [disabled]="loader"
                        (click)="createSavedFolder(1)"><span class="show" *ngIf="showText">Create</span>

                        <span class="preloder"><img src="./assets/images/svg/preloader-25.svg" alt="study24x7"
                                *ngIf="loader"></span></button>

                    <button class="button24x7 whiteColorButton fleft" (click)="backsavedclick()">Back</button>
                    <!-- <button class="cancel_btn popup_btn" (click)="cancelSaved()">Cancel</button> -->
                </div>



            </div>
        </div>
    </div>

</div>
<app-confirmationpopup *ngIf="openConfirmation" (closeComfirmPopupThread)="closePopup($event);" [dataObj]="dataConf">
</app-confirmationpopup>