<div class="page-about-wrapp top-head clearfix">
    <div class="top-heading">
        <h6 class="page_about_head">
            Page Name</h6>
        <button class="editButton" (click)="general_popus();" *ngIf="showEditBtn && usrtyp == 1">
            <img class="defaultt plus" src="assets/images/svg-three/profile_about/edit.svg">
            <img class="hoverr plus" src="assets/images/svg-three/profile_about/f05050/edit.svg">
        </button>
    </div>
    <div class="about-content-wrapp">
        <div class="pg-about-content">
            <span><img src="{{profilePicPath}}" alt="aio"></span>
            <span title="{{pageTitle}}"> {{pageTitle |trimData:17}}</span>
            <p class="empty-message" *ngIf="!showEditBtn">{{pg_name}}</p>
            <p class="empty-message" *ngIf="showEditBtn && usrtyp == 1">Create a page name</p>
            <p class="empty-message" *ngIf="showEditBtn && usrtyp == 0">No page name</p>
        </div>
        <p class="bottom-content" *ngIf=" usrtyp == 1 && showEditBtn">Page name is your identity,<br>it makes easier for your followers to find page.</p>
        <div class="footer-img" *ngIf="usrtyp == 1 && showEditBtn"><img src="./assets/images/svg-three/about-page-01.png" alt="aio"></div>
    </div>
</div>
<!-- general popup start -->
<div class="popup" *ngIf="generalpopup">
    <div class="popup_background"></div>
    <div class=" abt_exp_popup">
        <div class="popup_heading close_parent top_headingg" style="background:#fff;">
            Page Name
            <span class="close_div" (click)="general_popus();">
                <img class="defaultt" src="assets/images/svg/tagcross.svg">
                <img class="hoverr" src="assets/images/svg/tagcross-gray.svg">
            </span>
        </div>
        <div class="inner-wrap">
            <div class="top-header-content">
                <span>Creating a page name</span>
                <p>Page name is your identity, it makes easier for your followers to find page.</p>
            </div>
            <div class="col-md-12 col-sm-12 post-wrap wrapp_post" style="padding-left:30px;">
                <div class="col-md-12 col-sm-12">
                    <div class="row">
                        <div class="col-md-1 col-sm-1 col-xs-2 left_wrapp">
                            <div class="row">
                                <span class="img-wrapper"><img src="{{profilePicPath}}" alt="aio"></span>
                            </div>
                        </div>
                        <div class="col-md-11 col-sm-11 col-xs-10 right_wrapp">
                            <div class="input_wrapper">
                                <span class="input_label input-lab"> {{pageTitle}}</span>
                                <div class="input-cont-wrap">
                                    <button (click)="checkPageName()">Check Availability</button>
                                    <div class="input_inner_wrapper">
                                        <span class="checkk"><input class="pagenamefield" type="text" id="pagename" [(ngModel)]="pageNameTextToCheck" name="nameabc" placeholder="Page name" maxlength="50"  (keyup)="check($event)" (paste)="check($event)"></span>
                                    </div>
                                </div>
                                <div class="pagename-heading">
                                    <p>{{length}}/50</p>
                                    <p *ngIf="error==1"><span>Page name is available.</span></p>

                                    <p *ngIf="error==2">Page name already existing.</p>

                                    <p style="color: #F05050" *ngIf="error==3"> Name must be at least 4 characters long / Space & special characters are not allowed.</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="col-md-6">
                  <div class="row input-left">
                  <p class="alert_msg" *ngIf="showErrorDate">{{error}}</p>
                  <div class="input_wrapper">
                      <span class="input_label">Phone</span>
                      <div class="input_inner_wrapper">
                          <input type="text" placeholder="">
                      </div>
                  </div>
                </div>
              </div> -->
                <!-- <div class="col-md-6">
                  <div class="row input-right">
                  <p class="alert_msg" *ngIf="showErrorDate">{{error}}</p>
                  <div class="input_wrapper">
                      <span class="input_label">Phone</span>
                      <div class="input_inner_wrapper">
                          <input type="text" placeholder="">
                      </div>
                  </div>
                </div>
              </div> -->

                <!-- <p class="alert_msg" *ngIf="showErrorDate">{{error}}</p>
                <div class="input_wrapper">
                    <span class="input_label">Website</span>
                    <div class="input_inner_wrapper">
                        <input type="text" placeholder="">
                    </div>
                </div> -->

            </div>
            <div class="footer col-md-12 col-sm-12 fleft pageinfo_submit">
                <!-- <button type="button" name="button" class="btn btn-primary  floatleft deletebtn" *ngIf="expId!=0" (click)="delUserExp();">Delete</button> -->
                <button type="button" name="button" class="button24x7 redColorButton fright" (click)="updatePageName()" [ngClass]="{'postDesable': !updBtnEnable}">Save</button>

            </div>
        </div>
    </div>
</div>
<!-- general popup end -->

<app-confirmationpopup *ngIf="openConfirmation" (closeComfirmPopupThread)="closePopup($event);" [dataObj]="dataConf"></app-confirmationpopup>