// page name widget
.top-heading{
  position: relative;
  .edit-summary-about{
    position: absolute;
    background-color: #fff;
    top: 21px;
    z-index: 1;
    width: 34px;
    height: 34px;
    text-align: center;
    line-height: 34px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.05) !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05) !important;
    border-radius: 50%;
    right:20px;
    .defaultt.plus, .hoverr.plus{
      width: 14px !important;
      margin-left: -5px;
      margin-top: -1px;
    }
    .hoverr{display: none;}
    &:hover .hoverr{
      display: block;
    }
    .defaultt{display: block;}
    &:hover .defaultt{
      display: none;
    }
  }
.page_about_head{
  font-size: 14px;
  padding:10px 15px;
  border-bottom: 1px solid #e9e9e9;
  border-radius: 5px 5px 0px 0px;
  font-weight: 500;
  background: #f5f7fa;
  span{
    width: 25px;
    margin-right: 5px;
    float: left;

margin-top: -1px;
  }
}
}
.top-head{margin-bottom: 15px;box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);}
.page-about-wrapp{
background: #ffffff;
border-radius: 5px;
width:100%;
float:left;
  .about-content-wrapp{
    padding: 10px 0 0 0;
.bottom-content{font-size: 14px; padding:10px;opacity: 0.5; line-height: 18px;}
  .pg-about-content{
    padding: 29px 25px;
    text-align: center;
    border-bottom: 1px solid #f0f5f7;
    span{
      &:nth-child(1){
        display: inline-block;
        width: 50px;
        height:50px;
        img{
          width:50px;
          height:50px;
          border-radius: 50%;
        }
      }
      &:nth-child(2){
        font-size: 14px;
        margin-top: 5px;
        display: block;
        font-weight: 500;
      }
    }
    p{
      font-size: 14px;
      margin-top: 5px;
      opacity: 0.5;
    }
  }
}
}
.top-header-content{
  padding:15px;
  background-color:#f5f7fa;
  span{font-size: 14px;font-weight: 500;}
  p{font-size: 14px;opacity: 0.5;line-height: 18px;margin-top: 5px;}
}
.img-wrapper{
  display: block;
  float: left;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-top: 17px;
  img{
    width: 100%;
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }
}
.input-cont-wrap{
  position: relative;
  width: 100%;

float: left;

margin-top: 5px;

  button{
    font-size: 12px;
position: absolute;
right: 1px;
top: 6px;
z-index: 99;
border-radius: 0 5px 5px 0;
border: 1px solid transparent;
height: 33px;
line-height: 0;
&:hover{
  background-color: #f0f0f0 !important;
}
  }
}
.input-lab{color:#2c2e2f}
.pagename-heading{
  padding: 5px 0px 0 0 0;
  width: 100%;
  float: left;
  p.sucess-hdng{font-size: 12px;opacity: 0.5;color: green;}
  p.empty-heading{font-size: 12px;color: #f05050;}

}
.empty-message{color: #f05050;opacity: 1 !important;}
.footer-img{
  width: 100%;
  float: left;
  img{
    width:100%;
    float: left;
  }
}

// end pagename widget
// pagename popup start
.popup{
  .abt_exp_popup{
    width: 700px;
    overflow: hidden;
    display: inline-block;
    position: fixed;
    margin: auto;
    // top: 50%;
    // margin-top: -300px;
    left: 0;
    right: 0;
    bottom: 0;
    top:0;
    background: #fff;
    z-index: 999;
    border-radius: 5px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    height: auto;
    max-height: 316px;
    margin:auto;
    .inner-wrap{
      .post-wrap{
        .input-left{padding-right:10px;}
        .input-right{padding-left:10px;}
        .input_wrapper{
          margin-top: 15px;
          float: left;
          width: 100%;
          position: relative;
          .instbranchlist{
            left: 0px;
            top: 54px;
          }

          .input_label{
            color: #2c2e2f;
            font-weight: 500;
            font-size: 14px;
          }
          .input_inner_wrapper{
            margin-top: 5px;
            float: left;
             width: 100%;
             position: relative;
            input{
               font-size: 14px;
               &:focus{
                border: 1px solid #f05050;
                box-shadow: 0px 0px 1px 1px #f05050;
               }
            }
            textarea{
             height: 100px;
             resize: none;
             font-size: 14px;
             padding-top: 10px;
              &:focus{
                border: 1px solid #f05050;
                box-shadow: 0px 0px 1px 1px #f05050;
              }
            }
            .inputfiled_icon{
              width: 15px;
              position: absolute;
              top: 9px;
              left: 14px;
            }

          }
          .abt_info_list{
            width: 100%;
            float: left;
            border: 1px solid #dfe0e8;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            border-top: 0px;
            top: -2px;
            position: relative;
            padding: 0px 0px 5px 0px;
            position: absolute !important;
            background: #fff;
            top: 54px;
            z-index: 11;
            max-height: 155px;
            overflow: hidden;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            left: 0px;
            width: 670px;
            border-top: 1px solid #dfe0e8;
            ul{
              width: 100%;
              padding:0px;
              float: left;
              li{
                width: 100%;
                float: left;
                padding: 8px 10px;
                border: 1px solid #f7f7f7;
                cursor: pointer;
                    &:hover{
                      background-color: #f5f7fa;
                    }
                .search_list_img_cont{
                margin-top: -3px!important;

                }
              .abt_search_list{
                .abt_search_head1{
                  font-size: 14px;
                    color: #656565;
                    font-weight: 500;
                    padding: 3px 0px;

                }
                .abt_search_head2{
                  font-size: 14px;
                color: #2c2e2f50;
                font-weight: 500;
                padding: 0px 0px;

                }

                }
              }
            }
          }
          .instbranchlist{
            left: 0px;
            top: 54px;
          }
        }



        .selectbox_wrap{
          padding-left: 0px;
          margin-top: 15px;
          .selectbox_innerwrap{
            position: relative;
            width: 33.33%;
            span{
              color: #8c8c8c;
              font-weight: 500;
              font-size: 14px;
            }
            .select-wrapper{
              position: ralative;
              span{
                position: absolute;
                top: 32px;
                right: 8px;
                font-size: 10px;
              }
              .select-drp-left{
                border-radius: 5px 0 0 5px !important;
              }
              .select-drp-right{
                border-radius: 0 5px 5px 0 !important;
              }
            }
            select{
            margin-top: 5px;
            box-shadow: none!important;
            border-radius: 0 !important;
               &:focus{
                 border: 1px solid #f05050;
                box-shadow: 0px 0px 1px 1px #f05050 !important;
               }
            }
            .down_arrow{
              position: absolute;
              width: 12px;
              top: 30px;
              right: 10px;
            }
          }
          .right{
            float: right;
            select{
              border-bottom-left-radius: 0px;
              border-top-left-radius: 0px;
              border-left: 0px;
                &:focus{
                  border: 1px solid #f05050;
                  box-shadow: 0px 0px 1px 1px #f05050 !important;
                }
            }
          }
          .left{
            float: left;
            select{
              border-bottom-right-radius: 0px;
              border-top-right-radius: 0px;
              &:focus{
                border: 1px solid #f05050;
                box-shadow: 0px 0px 1px 1px #f05050 !important;
              }
            }
          }
        }
        .right_wrapp{
          padding-right: 0px;
        }
      }
      .footer{
        margin-top: 20px;
        padding: 16px 16px;
        border-top: 1px solid #e9e9e9;
        box-shadow: 0px 1px 10px 1px #e9e9e9;
        button{
          width: auto;
          margin-left: 10px;
          line-height: 28px;
          padding: 0 15px;
        }
      }
    }
  }
}
.wrapp_post{padding-top:15px;padding-left:30px;}
.top_headingg{
  span.img{
    float: left;

margin-top: -2px;

margin-right: 5px;
  }
}
// pagename popup end
.pagenamefield{
  &:focus{
    border: 1px solid #66a9d5 !important;
outline: 0;
box-shadow: 0 0 0 0.3rem rgba(153, 197, 227, 0.3) !important;
  }
}
.pageinfo_submit{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

@media only screen and (max-width:767px){
  .abt_exp_popup{
  width: 100% !important;
top: 0 !important;
left: 0 !important;
right: 0 !important;
bottom: 0 !important;
margin: 0 !important;
border-radius: 0  !important;
max-height: 100% !important;
.footer{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
    }
  }
  .post-wrap.wrapp_post{
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}
@media only screen and (max-width:600px){
  .page-about-wrapp{
    border-radius: 0;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width:767px) and (min-width:560px){
  .left_wrapp{
    width:10%;
  }
  .right_wrapp{
    width:90%;
  }
}
@media only screen and (max-width:420px){
  .post-wrap.wrapp_post{
    padding-left:10px;
    padding-right:0;
  }
}
