.post-header-inner-wrap.clearfix{
.leftmenudrop{
  float: right;
  width: 5%;
  margin-top: -10px;

  .drpdwn_post.postdrop.for-post{
    right: 0px;
    top: 16px!important;
  }
}
}


.popup_background_view{
  .sharescreenpostview {
    .post_outer{
      .sharedatainput{
        float: left;
        .post_profilepic{
          margin-top: 3px;
        }
        .star-rating{
          .user_name_rating{
            font-size: 14px;
            color: #2c2e2f;
            font-family: Roboto,sans-serif;
            font-weight: 500;
          }
          .stars-rate{
            top: -5px;
          }
        }
      }
    }
  }
}



.drpdwn_post{
  li{
    padding-right: 0px !important;
  }
}
.drpdwn_post.postdrop.for-post {
  .width100 {
    .postdropdown_inner {
    width: 120px;
    }
  }
}

.writecomment.clearfix.main-comment.comment-present {
      margin-bottom: 0px;
}

.post_outer{
  .comment_outer{
    .comment_list{
      margin-top: 10px;
    }
  }
}
.writecomment{
  .optionoutr {
    .option_inputt{
      white-space: pre-wrap;
    }
  }
}

.popup_background_view {
  .sharescreenpostview{
    .post_outer{
       .sharedatainput{
         .star-rating {
           width: 140px;
         }
       }
     }
  }
}


.popup_background_view {
  .sharescreenpostview{
    .post_outer{
      .postsave{
        border-radius: 0px 0px 5px 5px;
         margin-top: 20px;
             border-top: 1px solid #e9e9e9!important;
         box-shadow: 0px 1px 10px 1px #e9e9e9;
      }
    }

  }
}
.popup_background_view{
   .sharescreenpostview{
     .post_outer{
       overflow: hidden;
     }
   }
 }
