<div class="post_outer text-post-comp">
    <div class="post_profile">
        <div class="post-header-inner-wrap clearfix">
            <span class="post_profilepic cursor-pointer"><img tabindex="0" src="{{profile_pic_path}}" (error)="updateSourcePic($event)"></span>
            <div class="profiledetail">
                <span class="name cursor-pointer rating-span" tabindex="0"><span class="user_name_rating" routerLink="/profile/{{user_name}}">{{user_full_name |trimData:17}}</span>
                <span class="page_star">
                        <div class="star_rating course_name">
                            <div class="stars">
                                <label [ngClass]="(rating>0)?'star fill':'star'">
                                    <img class="star-fill-svg" src="assets/images/svg-one/icons8-star-filled-filled.svg">
                                    <img class="star-half-svg" src="assets/images/svg-one/icons8-star-half-empty-filled.svg">
                                    <img class="star-blank-svg" src="assets/images/svg-one/icons8-star-pokemon.svg">
                                </label>
                                <label [ngClass]="(rating>1)?'star fill':'star'" >
                                    <img class="star-fill-svg" src="assets/images/svg-one/icons8-star-filled-filled.svg">
                                    <img class="star-half-svg" src="assets/images/svg-one/icons8-star-half-empty-filled.svg">
                                    <img class="star-blank-svg" src="assets/images/svg-one/icons8-star-pokemon.svg">
                                </label>
                                <label [ngClass]="(rating>2)?'star fill':'star'">
                                    <img class="star-fill-svg" src="assets/images/svg-one/icons8-star-filled-filled.svg">
                                    <img class="star-half-svg" src="assets/images/svg-one/icons8-star-half-empty-filled.svg">
                                    <img class="star-blank-svg" src="assets/images/svg-one/icons8-star-pokemon.svg">
                                </label>
                                <label [ngClass]="(rating>3)?'star fill':'star'">
                                    <img class="star-fill-svg" src="assets/images/svg-one/icons8-star-filled-filled.svg">
                                    <img class="star-half-svg" src="assets/images/svg-one/icons8-star-half-empty-filled.svg">
                                    <img class="star-blank-svg" src="assets/images/svg-one/icons8-star-pokemon.svg">
                                </label>
                                <label [ngClass]="(rating>4)?'star fill':'star'">
                                    <img class="star-fill-svg" src="assets/images/svg-one/icons8-star-filled-filled.svg">
                                    <img class="star-half-svg" src="assets/images/svg-one/icons8-star-half-empty-filled.svg">
                                    <img class="star-blank-svg" src="assets/images/svg-one/icons8-star-pokemon.svg">
                                </label>
                                <label class="starcount">{{rating}}</label>
                            </div>
                        </div>
                    </span>
                </span>
                <span class="time">{{add_date_time}}</span>
            </div>
            <span class='leftmenudrop'>
                <span class="postright_btn postmenubtn postmenubtn_left_border" *ngIf="my_review" (click)="postdropdown()"><img src="assets/images/svg-three/post_icon/dot_menu.svg" class="postdropmenu defaultt"><img src="assets/images/svg-three/post_icon/f05050/dot_menu.svg" class="postdropmenu hoverr"></span>
            <span class="drpdwn_post postdrop for-post" *ngIf="postmenu">
                    <ul >
                        <!-- <li></li> -->
                        <li (click)="editReview()"><div class="width100"><span class='default' ><img src="assets/images/svg/dropedit.svg"></span><span class='hoverimg'><img src="assets/images/svg/dropedithover.svg"></span>
            <div class="postdropdown_inner ">Edit<span class="time">You can edit your review</span></div>
        </div>
        </li>
        <!--<li *ngIf="!my_profile"  (click)="reprts(1)"><div class="width100"><span class='default' ><img src="assets/images/svg/dropedit.svg"></span><span class='hoverimg' ><img src="assets/images/svg/dropedithover.svg"></span> <div class="postdropdown_inner">Report<span class="time">Mark ad as offensive </span></div></div></li>-->
        <li (click)="confDelReview()">
            <div class="width100"><span class='default'><img src="assets/images/svg/dustbindrop.svg"></span><span class='hoverimg'><img src="assets/images/svg/dustbindrophover.svg"></span>
                <div class="postdropdown_inner">Delete<span class="time">You can delete your review</span></div>
            </div>
        </li>
        </ul>
        </span>
        </span>

    </div>
</div>

<div class="post_profileContent">
    <div class="postmain_container">


        <p class="posttext posttextauto" *ngIf="DataView" [innerHTML]="reviewdata|trimData"></p><a *ngIf="DataView" class="continue-reading" (click)="DataView=!DataView">See more</a>
        <p class="posttext posttextauto" *ngIf="!DataView" [innerHTML]="reviewdata"></p>



    </div>
</div>
<div class="post-footer-btn-outer-wrap" *ngIf="withoutToken">
    <div class="post_footer post-footer-btn-wrap">



        <span (click)="openLoginPopup();" class='post_footeroption dropdown-ppl-list-wrap' [ngClass]="{ clicked : importantCondition}">

                  <span ><span class="default" (click)="reviewImportant()"><img src="assets/images/svg-three/post_icon/imp1.svg" class="defaultimp defaultt "><img src="assets/images/svg-three/post_icon/f05050/imp2.svg" class="activeimp" ><img src="assets/images/svg-three/post_icon/f05050/imp1.svg" class="hoverr"></span>        <span (click)="reviewImportant()">Important</span><span (click)="impLikeShareFn()" class="count-sq" *ngIf="like!=0">{{like}}</span></span>
        <app-likeshareviewall (closeViewAllThread)="impLikeShareStatus = $event" *ngIf="impLikeShareStatus" [data]="userLikeShareList"></app-likeshareviewall>
        </span>
        <span class='post_footeroption' (click)="openLoginPopup();">
                <span (click)="autoFocus();"><span class="default"><img class="defaultt" src="assets/images/svg-three/post_icon/comment.svg"><img class="hoverr" src="assets/images/svg-three/post_icon/f05050/comment.svg"></span> Comment<span class="count-sq"
            *ngIf="comment!=0">{{comment}}</span>
        </span>
        </span>

    </div>
</div>

<div class="post-footer-btn-outer-wrap" *ngIf="!withoutToken">
    <div class="post_footer post-footer-btn-wrap">



        <span class='post_footeroption dropdown-ppl-list-wrap' [ngClass]="{ clicked : importantCondition}">

                  <span><span class="default" (click)="reviewImportant()"><img src="assets/images/svg-three/post_icon/imp1.svg" class="defaultimp defaultt "><img src="assets/images/svg-three/post_icon/f05050/imp2.svg" class="activeimp" ><img src="assets/images/svg-three/post_icon/f05050/imp1.svg" class="hoverr"></span>        <span (click)="reviewImportant()">Important</span><span (click)="impLikeShareFn()" class="count-sq" *ngIf="like!=0">{{like}}</span></span>
        <app-likeshareviewall (closeViewAllThread)="impLikeShareStatus = $event" *ngIf="impLikeShareStatus" [data]="userLikeShareList"></app-likeshareviewall>
        </span>
        <span class='post_footeroption'>
                <span (click)="autoFocus();"><span class="default"><img class="defaultt" src="assets/images/svg-three/post_icon/comment.svg"><img class="hoverr" src="assets/images/svg-three/post_icon/f05050/comment.svg"></span> Comment<span class="count-sq"
            *ngIf="comment!=0">{{comment}}</span>
        </span>
        </span>

    </div>
</div>


<div class="comment_outer clearfix">
    <div class="writecomment clearfix main-comment comment-present">
        <figure class="comment-profile cursor-pointer"><img src="{{_constantService.profilePic()}}" alt="study24x7"></figure>
        <!--<figure  class="comment-profile cursor-pointer"><img alt="study24x7" src="https://s3.ap-south-1.amazonaws.com/247-user/profile/{{_constantService.getUserId()}}_60x60.png?v=1523873513276"></figure>-->
        <div class="optionoutr">
            <div *ngIf="!withoutToken" class="option_inputt" contenteditable="true" (focusout)="showPlaceHolder($event)" (focus)="hidePlaceHolder($event)" (paste)="postData.onPaste($event)" (contextmenu)="postData.onPaste($event)" (keyup)="addComment($event)" (keyup.enter)="false;"
                id='{{u_id}}_{{reviewId}}_comm' (keydown.enter)="confirmText(c_data, $event);false">
                <span class="placeholder" *ngIf="hideSpan==0" id="{{u_id}}_{{reviewId}}_comm_1">{{_constantService.commentPlaceHolder}}</span>
            </div>

            <div *ngIf="withoutToken" class="option_inputt" contenteditable="false" (click)="openLoginPopup();" id='{{u_id}}_{{reviewId}}_comm'>
                <span class="placeholder" *ngIf="hideSpan==0" id="{{u_id}}_{{reviewId}}_comm_1">{{_constantService.commentPlaceHolder}}</span>
            </div>
        </div>
    </div>
    <div class='comment_list' *ngIf="viewCommentList">
        <div #container></div>
    </div>
    <a class="seemore" (click)="getReviewComment(pageRatingCommentid)" *ngIf="enableSeemore">See more comments</a>
</div>
</div>


<div class="popup" style="position:relative;" *ngIf="reviewinput">
    <div class=" popup_background_view">
        <div class=" sharescreenpostview ">
            <div class="popup_heading"><span>Review Page</span>
                <span class="close_div" (click)="hide_review_pop();">
                    <img class="defaultt" src="assets/images/svg/tagcross.svg">
                    <img class="hoverr" src="assets/images/svg/tagcross-gray.svg">
                </span>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="row">


                    <div class='post_outer'>

                        <div class='sharedatainput'>
                            <span class="post_profilepic cursor-pointer"><img  src="{{profile_pic_path}}" ></span>
                            <span class="star-rating">

                                <div class="user_name_rating">{{user_full_name |trimData:17}}</div>
                                <div class="stars-rate" style="position:relative;">
                                    <input class="star star-5" id="star-5" type="radio" name="star" value='5.0' />
                                    <label class="star star-5" for="star-5">
                                        <img class="star-rate" src="assets/images/svg-one/rate-gray.svg">
                                        <img class="star-active" src="assets/images/svg-one/rate-active.svg">
                                        <div class="rating-state5" >Excellent</div>
                                    </label>
                                    <input class="star star-4" id="star-4" type="radio" name="star" value='4.0'/>
                                    <label class="star star-4" for="star-4">
                                        <img class="star-rate" src="assets/images/svg-one/rate-gray.svg">
                                        <img class="star-active" src="assets/images/svg-one/rate-active.svg">
                                        <div class="rating-state4">Very good</div>
                                    </label>
                                    <input class="star star-3" id="star-3" type="radio" name="star" value='3.0'/>
                                    <label class="star star-3" for="star-3">
                                        <img class="star-rate" src="assets/images/svg-one/rate-gray.svg">
                                        <img class="star-active" src="assets/images/svg-one/rate-active.svg">
                                        <div class="rating-state3"> Good</div>
                                    </label>
                                    <input class="star star-2" id="star-2" type="radio" name="star" value='2.0'/>
                                    <label class="star star-2" for="star-2">
                                        <img class="star-rate" src="assets/images/svg-one/rate-gray.svg">
                                        <img class="star-active" src="assets/images/svg-one/rate-active.svg">
                                        <div class="rating-state2">Fair </div>
                                    </label>
                                    <input class="star star-1" id="star-1" type="radio" name="star" value='1.0'/>
                                    <label class="star star-1" for="star-1">
                                        <img class="star-rate" src="assets/images/svg-one/rate-gray.svg">
                                        <img class="star-active" src="assets/images/svg-one/rate-active.svg">
                                        <div class="rating-state1">Poor</div>
                                    </label>
                                </div>
                            </span>
                            <!-- <div class='sharedatainput sharedatainput1' contenteditable="true" id="reviewdata" (focus)="hidePlaceHolder=false" (focusout)="checkData()">
                                <span class="placeholder" id="post_placeholder" *ngIf="hidePlaceHolder">Discuss within your interest.</span>
                            </div> -->

                        </div>
                        <div class="profile-and-content">
                            <div class='post_profile'>
                                <textarea title="Tell people what you think about pagename." class="datainput_text" id="reviewData" placeholder="Tell people what you think about pagename." [(ngModel)]="reviewdataE"></textarea>
                            </div>

                        </div>
                        <div class='postsave'>
                            <button type="submit" class="fright redColorButton button24x7" (click)="addPageRating()">Post</button>
                            <button type="submit" class="whiteColorButton fleft button24x7" (click)="hide_review_pop();">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-confirmationpopup *ngIf="confirmDelete" (closeComfirmPopupThread)="closePopup($event);" (deleteReview)="deletePageReview();" [dataObj]="dataConf"></app-confirmationpopup>