.post_outer {
  border: 0px solid rgba(44, 46, 47, 0.2);
}

.post_outer .post_profile {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 18px;
}

.post_outer .post_profile .profiledetail {
  margin-top: 0px;
}

.post_outer .post_profile .profiledetail .rating-span {
  float: left;
  line-height: 1;
}

.addreview_hdng {
  padding: 12px 10px;
  font-size: 16px;
  font-weight: 500;
  color: #2c2e2f;
  background-color: #f5f7fa;
  border-radius: 5px 5px 0px 0px;
}

.add_review_post {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

.add_review_post .profiledetail {
  margin-top: 0px;
}

.add_review_post .profiledetail {
  line-height: normal;
}

.add_review_post .profiledetail .msg_rating {
  color: #2c2e2f;
  font-weight: 500;
}

.add_review_post .profiledetail .msg_rating,
.add_review_post .profiledetail .star-rating {
  margin-bottom: 2px;
  float: left;
  line-height: 14px;
  width: 100%;
}

.star-rating .stars-rate {
  float: left;
  margin-top: 3px;
}

.star-rating .stars-rate input.star {
  display: none;
}

.star-rating .stars-rate label.star {
  float: right;
  padding: 0px;
  font-size: 14px;
  color: #444;
  -webkit-transition: all .2s;
  transition: all .2s;
  margin: 0px 5px 0px 0px;
}

.star-rating .stars-rate label.star img {
  width: 18px;
}

.star-rating .stars-rate label.star .star-rate {
  display: inline-block;
}

.star-rating .stars-rate label.star .star-active {
  display: none;
}

.star-rating .stars-rate label.star .rating-state5,
.star-rating .stars-rate label.star .rating-state4,
.star-rating .stars-rate label.star .rating-state3,
.star-rating .stars-rate label.star .rating-state2,
.star-rating .stars-rate label.star .rating-state1 {
  display: none;
  float: left;
  position: absolute;
  left: 0;
  right: 0;
  font-weight: 500;
}

.star-rating .stars-rate input.star:checked ~ label.star .star-rate {
  display: none;
}

.star-rating .stars-rate input.star:checked ~ label.star .star-active {
  display: inline-block;
}

.star-rating .stars-rate > label.star:hover .star-rate,
.star-rating .stars-rate > label.star:hover ~ label.star .star-rate {
  display: none;
}

.star-rating .stars-rate > label.star:hover .star-active,
.star-rating .stars-rate > label.star:hover ~ label.star .star-active {
  display: inline-block;
}

.star-rating .stars-rate label.star-5:hover .rating-state5,
.star-rating .stars-rate label.star-5:hover .rating-state4,
.star-rating .stars-rate label.star-5:hover .rating-state3,
.star-rating .stars-rate label.star-5:hover .rating-state2,
.star-rating .stars-rate label.star-5:hover .rating-state1,
.star-rating .stars-rate label.star-4:hover .rating-state5,
.star-rating .stars-rate label.star-4:hover .rating-state4,
.star-rating .stars-rate label.star-4:hover .rating-state3,
.star-rating .stars-rate label.star-4:hover .rating-state2,
.star-rating .stars-rate label.star-4:hover .rating-state1,
.star-rating .stars-rate label.star-3:hover .rating-state5,
.star-rating .stars-rate label.star-3:hover .rating-state4,
.star-rating .stars-rate label.star-3:hover .rating-state3,
.star-rating .stars-rate label.star-3:hover .rating-state2,
.star-rating .stars-rate label.star-3:hover .rating-state1,
.star-rating .stars-rate label.star-2:hover .rating-state5,
.star-rating .stars-rate label.star-2:hover .rating-state4,
.star-rating .stars-rate label.star-2:hover .rating-state3,
.star-rating .stars-rate label.star-2:hover .rating-state2,
.star-rating .stars-rate label.star-2:hover .rating-state1,
.star-rating .stars-rate label.star-1:hover .rating-state5,
.star-rating .stars-rate label.star-1:hover .rating-state4,
.star-rating .stars-rate label.star-1:hover .rating-state3,
.star-rating .stars-rate label.star-1:hover .rating-state2,
.star-rating .stars-rate label.star-1:hover .rating-state1 {
  display: block;
}

.profile-and-content {
  border: none;
  margin: 0px !important;
  margin-bottom: 5px;
  border: none;
  padding: 15px 10px 10px 10px;
  float: left;
  width: 100%;
}

.profile-and-content .post_profile {
  width: 100%;
  padding: 0px;
}

.profile-and-content .post_profile .datainput_text {
  resize: none;
  width: 100%;
  height: 100px;
  border: 1px solid rgba(44, 46, 47, 0.15);
  padding: 5px 6px;
  font-size: 14px;
}

.popup_background_view .sharescreenpostview .post_outer .sharedatainput {
  padding: 10px 10px 0 10px !important;
  width: 100%;
  clear: both;
}

.popup_background_view .sharescreenpostview .post_outer .sharedatainput .post_profilepic {
  float: left;
  border-radius: 50%;
  border: none !important;
  width: 40px;
  height: 40px;
  overflow: hidden;
  margin: 8px 9px 0px 0px;
}

.popup_background_view .sharescreenpostview .post_outer .sharedatainput .star-rating {
  margin: 0 auto;
  display: block;
  width: 118px;
  float: left;
}

.popup_background_view .sharescreenpostview .post_outer .sharedatainput1 {
  width: auto;
  display: inline-block;
  clear: both;
}

.option_in_wrap {
  padding-bottom: 0px !important;
  padding-top: 0px !important;
  margin-top: 0px !important;
  min-height: 20px !important;
}

.post_outer {
  border: 0px solid rgba(44, 46, 47, 0.2);
}

.post_outer .post_profile {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 18px;
}

.post_outer .post_profile .profiledetail .rating-span {
  float: left;
  height: 15px;
  line-height: 1;
}

.rating-span {
  float: left;
  line-height: 1;
}

.rating-span .user_name_rating {
  margin-top: 1px;
  float: left;
}

.rating-span .page_star {
  display: inline-block;
  padding-left: 2px;
  margin-top: 0px;
  cursor: auto;
}

.rating-span .page_star .stars {
  padding-left: 5px;
  float: left;
}

.rating-span .page_star label.star {
  float: left;
  padding: 0px;
  font-size: 14px;
  color: #444;
  -webkit-transition: all .2s;
  transition: all .2s;
  margin: 0px 3px 0px 0px;
}

.rating-span .page_star label.star img {
  width: 13px;
}

.rating-span .page_star label.starcount {
  margin-left: 3px;
  margin-top: 0px;
}

.rating-span .page_star:before {
  content: ".";
  width: 1px;
  margin: 0px 0px -14px 0px;
  line-height: 1;
  float: left;
  font-weight: 500;
}

.post-footer-btn-wrap {
  float: left !important;
}

.star_rating label.star.fill .star-fill-svg,
.page_star label.star.fill .star-fill-svg {
  display: block;
}

.star_rating label.star.fill .star-half-svg,
.page_star label.star.fill .star-half-svg {
  display: none;
}

.star_rating label.star.fill .star-blank-svg,
.page_star label.star.fill .star-blank-svg {
  display: none;
}

.star_rating label.star.half .star-fill-svg,
.page_star label.star.half .star-fill-svg {
  display: none;
}

.star_rating label.star.half .star-half-svg,
.page_star label.star.half .star-half-svg {
  display: block;
}

.star_rating label.star.half .star-blank-svg,
.page_star label.star.half .star-blank-svg {
  display: none;
}

.star_rating label.star.blank .star-fill-svg,
.page_star label.star.blank .star-fill-svg {
  display: none;
}

.star_rating label.star.blank .star-half-svg,
.page_star label.star.blank .star-half-svg {
  display: none;
}

.star_rating label.star.blank .star-blank-svg,
.page_star label.star.blank .star-blank-svg {
  display: block;
}

.star_rating label.star .star-fill-svg,
.page_star label.star .star-fill-svg {
  display: none;
}

.star_rating label.star .star-half-svg,
.page_star label.star .star-half-svg {
  display: none;
}

.star_rating label.star .star-blank-svg,
.page_star label.star .star-blank-svg {
  display: block;
}

.drpdwn_post.postdrop.for-post {
  margin-top: 15px;
  width: 176px !important;
}

.drpdwn_post.postdrop.for-post .width100 {
  width: 160px;
}

.drpdwn_post.postdrop.for-post .width100 .postdropdown_inner {
  width: 114px;
}

.post-header-inner-wrap.clearfix .leftmenudrop {
  float: right;
  width: 5%;
  margin-top: -10px;
}

.post-header-inner-wrap.clearfix .leftmenudrop .drpdwn_post.postdrop.for-post {
  right: 0px;
  top: 16px !important;
}

.drpdwn_post li {
  padding-right: 0px !important;
}

.writecomment.clearfix.main-comment.comment-present {
  margin-bottom: 0px;
}

.post_outer .comment_outer .comment_list {
  margin-top: 10px;
}

.writecomment .optionoutr .option_inputt {
  white-space: pre-wrap;
}

.popup_background_view .sharescreenpostview {
  position: absolute;
  background: 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  bottom: 20px;
  margin-top: auto;
  margin-bottom: auto;
  height: auto;
}

.postsave {
  width: 100%;
  float: left;
}

.post_outer .sharedatainput {
  height: auto !important;
}

.sharedatainput .post_profilepic {
  margin-top: 3px !important;
}

.post_profilepic.cursor-pointer img {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .post_outer .post_profile .post-header-inner-wrap .profiledetail {
    width: 400px;
  }
}

@media only screen and (max-width: 767px) {
  .post-footer-btn-outer-wrap .post_footer.post-footer-btn-wrap .post_footeroption {
    padding-left: 0 !important;
  }
  .post_outer .post_profile .post_profilepic {
    position: absolute;
    left: 10px;
    top: 10px;
  }
  .post_outer .post_profile .profiledetail {
    width: 100%;
    padding-left: 40px;
  }
  .post-footer-btn-outer-wrap .post_footer.post-footer-btn-wrap .post_footeroption {
    width: 50% !important;
    text-align: center !important;
  }
}

@media only screen and (max-width: 600px) {
  .popup_background_view .sharescreenpostview {
    width: 100% !important;
    left: 0 !important;
    right: 0;
    top: 0 !important;
    bottom: 0;
    margin: 0 !important;
    height: 100%;
    -webkit-transform: none;
            transform: none;
  }
  .popup_background_view .sharescreenpostview .popup_heading {
    border-radius: 0 !important;
  }
  .post_outer {
    border-radius: 0 !important;
  }
  .post_outer .post_profile .profiledetail .rating-span {
    height: auto;
  }
}

.drpdwn_post ul li .default, .drpdwn_post ul li .hoverimg {
  width: 14px;
  margin-top: 2px;
}

.drpdwn_post ul li .default img, .drpdwn_post ul li .hoverimg img {
  width: 100%;
  float: left;
  height: 100%;
}
/*# sourceMappingURL=userreview.component.css.map */