<!-- <div class='post_outer text-post-comp'>

    <app-post [inSharedPost]="true" [arr]="arr['SHARED_POST_DATA']"></app-post>

</div> -->
<div class="popup" style="position:relative;">
    <div class=" popup_background_view" >
        <div class=" sharescreenpostview share-text-post-screen">
            <div class="popup_heading">
                <ul>
                    <li (click)="showPost('1')" [ngClass]="{'active': shareLinkPost==1}">
                        <span *ngIf="!postdata.EDIT_POST" >Share Post</span>
                        <span *ngIf="postdata.EDIT_POST">Edit Share Post</span>
                    </li>
                    <li (click)="showPost('2')"  [ngClass]="{'active': shareLinkPost==2}">Get a link</li>
                </ul>
                <span class="close_div" (click)="sharetextpostviewhide()">
                    <img class="defaultt" src="assets/images/svg/tagcross.svg">
                    <img class="hoverr" src="assets/images/svg/tagcross-gray.svg">
                </span>


            </div>


            <div class="col-md-12 fleft">
                <div class="row">


                    <div class='post_outer'>

                        <div class="shareLinkContainer" *ngIf="shareLinkPost==2">
                            <div class="shareLink">
                              <input readonly class="urlget" id="copySharelinkID" [(ngModel)]="postPublicShareLink" />
                              <div style='pointer-events: none;word-break: break-word;'  [innerText]="postPublicShareLink"></div>
                              <span class="copyLinkButton" (click)="postData.copyToClipboard('copySharelinkID')"><img src="assets/images/svg-three/copyicon.svg" alt=""></span>
                            </div>
                            <div class="shareButtonWrapper">
                              <!-- <span class="quora"><img src="assets/images/svg-three/quora.svg" alt=""></span> -->
                              <a class="fb" [href]="socialFbShareUrl" target="_blank"><img src="assets/images/svg-three/facebook-logo.svg" alt=""></a>
                              <a  class="linkedin" [href]="socialLinkedInShareUrl" target="_blank"><img src="assets/images/svg-three/linkedin-logo.svg" alt=""></a>
                              <a  class="twitter" [href]="socialTeitterShareUrl" target="_blank"><img src="assets/images/svg-three/twitter.svg" alt=""></a>
                              <a  class="twitter" [href]="socialTelegramUrl" target="_blank"><img src="assets/images/telegram.svg" alt=""></a>
                            </div>
                        </div>

                        <div *ngIf="shareLinkPost==1" class='sharedatainputMain' >
                            <textarea  class='sharedatainput' placeholder="Discuss within your interest" [(ngModel)]="sharedPostText" contenteditable="true" ondrop="return false;" id="shareText" (focus)="onFocusInput()" (focusout)="checkData()" (paste)="pastedData($event)" (keyup)="addComment($event);" (keyup.delete)="addComment($event)"></textarea>
                                <!-- <span class="placeholder" id="post_placeholder" *ngIf="!hidePlaceHolder">Discuss within your interest.</span> -->
                        </div>
                        <div  class="profile-and-content">
                       <app-post [inSharedScreen]="true"  [arr]="postdata.arr"></app-post>
                       </div>
                    <div class='postsave'>


                        <button  [disabled]="loader === true" type="submit" class="confirm_btn popup_btn btn btn-primary red_rds" (click)="sharePost()" *ngIf="postdata['EDIT_POST']==false && shareLinkPost==1" >
                            <span class="text" *ngIf="showText">Share</span><span class="loader" ><img src="./assets/images/svg/preloader-25.svg" alt="study24x7" *ngIf="loader"></span></button>
                        <button  [disabled]="loader === true"  type="submit" class="confirm_btn popup_btn btn btn-primary gray_rds"  *ngIf="postdata['EDIT_POST'] && shareLinkPost==1" (click)="sharePost()">
                            <span class="text" *ngIf="showText">Update</span><span class="loader"><img src="./assets/images/svg/preloader-25.svg" alt="study24x7" *ngIf="loader"></span></button>
                        <button  type="submit" class="cancel_btn popup_btn gray_rds"   (click)="sharetextpostviewhide()">Cancel</button>



                    </div>
                </div>
            </div>
        </div>

</div>
</div>
