$textcolor: #2c2e2f;
.popup_background_view {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  z-index: 999;
  transition: all 0.2s ease;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  .sharescreenpostview {
    position: absolute;
    top: 50px;
    left: 50%;
    width: 500px;
    margin-left: -250px;
    background: transparent;
    box-sizing: border-box;
    border-radius: 6px;
    bottom: 20px;
    margin-top: auto;
    margin-bottom: auto;
    height: auto;
    .popup_heading {
      background-color: #fff;
      border-radius: 3px 3px 0px 0px;
      float: left;

      ul {
        float: left;
        width: 60%;
        li {
          float: left;
          margin-right: 15px;
          cursor: pointer;
          height: 49px;
        }
        li.active {
          border-bottom: 2px solid #f05050;
        }
      }
    }
    .post_outer {
      box-shadow: none;
      border-radius: 0px 0px 3px 3px;
      border-radius: 0px 0px 5px 5px !important;
      margin-top: 0px !important;
      border: 0px solid rgba(44, 46, 47, 0.2) !important;

      .sharedatainputMain {
        border:0px;
        padding: 10px 10px 10px 10px;
        float: left;
        width: 100%;
        border-color:transparent !important;
        .sharedatainput{
        border:0px;
        border-radius: 0px;
        resize: none;
        line-height: 22px;
        color: $textcolor;
        height: 22px;
        min-height: 22px;
        font-size: 14px;
        float: left;
        width: 100%;
        border-color:transparent !important;
        overflow: hidden;


        .placeholder {
          color: $textcolor;
          font-size: 12px;
          opacity: 0.3;
        }
      }
    }
      .postsave {
        border-top: 1px solid #ccc;
        padding: 8px 15px;
        box-sizing: border-box;
        display: inline-block;
        width: 100%;
        border-radius: 0px 0px 5px 5px;
        float: left;
      }

      .shareLinkContainer {
        float: left;
        width: 100%;
        padding: 10px;
        .shareLink {
          position: relative;
          float: left;
          border-radius: 4px;
          width: 100%;
          padding: 10px;
          background: #f5f7fa;
          border: 1px solid rgba(44, 46, 47, 0.15);
          padding-right: 40px;
          input {
            float: left;
            width: 95%;
            font-size: 14px;
            color: #2c2e2f;
            line-height: 21px;
            border: none;
            height: 20px;
            background: none;

          }
          .urlget{
            pointer-events: none;
            visibility: visible;
            height: 0px;
          }
          .copyLinkButton {
            position: absolute;
            top: 5px;
            right: 5px;
            float: right;
            width: 30px;
            height: 30px;
            border-radius: 100%;
            padding: 0px;
            cursor: pointer;
            border: 1px solid rgba(44, 46, 47, 0.15);
            background-color: #fff;
            text-align: center;
            img {
              width: 13px;
              position: relative;
              top: 5px;
            }
          }
        }

        .shareButtonWrapper {
          float: left;
          width: 100%;
          padding: 10px 0px;
          a {
            float: right;
            border-radius: 30px;
            text-align: center;
            height: 25px;
            cursor: pointer;
            margin-left: 10px;
            font-weight: 500;
            opacity: 0.8;
            width: 45px;
            line-height: 25px;

            img {
              width: 12px;
            }
          }
          .fb {
            background-color: rgb(66, 103, 178);
          }
          .quora {
            background-color: rgb(185, 43, 39);
          }
          .twitter {
            background-color: rgb(56, 161, 243);
          }
          .linkedin {
            background-color: rgb(0, 119, 181);
          }
        }
      }
    }
    .postfile_details {
      width: 73%;
    }
    .profile-and-content {
      margin-top: 0px;
      width: calc(100% - 20px);
    }
  }
}

.radiobtn_outer.share_mul_c_p.crs_auto {
  .checkbox_btn {
    border: none;
    border-bottom: 1px solid #f7f7f7;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 0;
    margin-top: 0;
  }
}

.radiobtn_outer.share_mul_c_p.crs_auto:hover {
  .checkbox_btn {
    background-color: #e1e8ee;
    opacity: 0.6;
  }
}

.share_mul_c_p {
  .Radio {
    &:checked + .checkbox_btn {
      background-color: #e1e8ee;
      border-left: 3px solid #2d2424;
    }
    &:checked b {
      background-color: #2d2424;
      color: white;
    }
  }
}

.share_mul_c_p {
  .Radio {
    &:checked ~ b {
      background-color: #2d2424;
      color: white;
    }
  }
}

.sharescreenpostview.shared-multiple-choice-post {
  .radiobtn_outer.share_mul_c_p.crs_auto:hover {
    .checkbox_btn {
      background-color: #fff !important;
      opacity: 0.6;
    }
  }
}
