<div class="search-result-outer-wrap" *ngIf = "!showPublic">
    <app-header *ngIf="header"></app-header>
    <app-loginheader *ngIf="!header"></app-loginheader>

    <div id="windiv">
    <div class="container main_body">
        <div class="row">
            <div class="col-md-3 leftFilter" id="sideThreeCol" style="padding-right:0;" >
                <div class="rightmenu_fixed" id="someDivleft" [ngClass]="{'fixedleft': isScrolled1}">
              <app-searchfilter [childValues]="tabValue" *ngIf="leftFilterMenuonresize"></app-searchfilter>
              </div>
            </div>
            <div class="col-md-6 center_feed" id="centersection">
                <div class="clearfix search-result-inner-wrap" id="stickytab">
                    <!-- <h5 class=''>Search Results</h5> -->
                    <div class="search-tab-wrap fixedSearchTab" id="header">
                      <div class="tabinnerwrap">
                        <ul class="clearfix">
                            <li [ngClass]="{'active':allResultStatus == 0}" (click)="searchResultTabClick(0)">All</li>
                            <li [ngClass]="{'active':allResultStatus == 1}" (click)="searchResultTabClick(1)">Courses</li>
                            <li [ngClass]="{'active':allResultStatus == 2}" (click)="searchResultTabClick(2)">Pages</li>
                            <li [ngClass]="{'active':allResultStatus == 3}" (click)="searchResultTabClick(3)">People</li>
                            <li [ngClass]="{'active':allResultStatus == 4}" (click)="searchResultTabClick(4)">Posts</li>
                        </ul>
                        </div>
                    </div>
                    <!-- ========================================================================================== -->
                  <div class="centerContainWrap">
                   <app-searchdata [childTypes]="tabValue" (messageEvent)="searchResultTabClick($event)"></app-searchdata>








                    <div class="all common-search-result" >

                        <div class="post-wrap" *ngIf="postPresent">
                            <div class="head-wrap clearfix">
                                <h6 class="mainheading" >Posts</h6>
                                <a class="head_n" href="javascript:void(0)" (click)="searchResultTabClick(2)" *ngIf="showPostViewAll">View all</a>
                            </div>
                            <div #container></div>
                        </div>

                        <div class="post-wrap" *ngIf="coursePresent">
                            <div class="head-wrap clearfix">
                                <h6 class="mainheading">Course</h6>
                                <a class="head_n" href="javascript:void(0)" (click)="searchResultTabClick(5)" *ngIf="showCourseViewAll">View all</a>
                            </div>
                            <div #courseContainer></div>
                        </div>



                        <div class="people-wrap" *ngIf="userPresent">

                            <div class="head-wrap clearfix" >
                                <h6 class="mainheading">People</h6>
                                <a class="head_n" href="javascript:void(0)" (click)="searchResultTabClick(3)" *ngIf="showUserViewAll">View all</a>
                            </div>
                            <div class='search-people-list'>
                                <ul>
                                    <li class="clearfix" *ngFor="let searchpeople of searched_user" >
                                        <div class="person-name-wrap clearfix" >
                                            <div class="profileimg_know">
                                                <img src='{{searchpeople.PROFILE_PHOTO_PATH}}' routerLink="/profile/{{searchpeople.USER_NAME}}">
                                            </div>
                                            <div class='prfl_detail'>
                                                <div class="profilename cursor-pointer" title="{{searchpeople.FULL_NAME}}" routerLink="/profile/{{searchpeople.USER_NAME}}">{{searchpeople.FULL_NAME |trimData:17}}</div>
                                                <div class="grayinfo">{{searchpeople.USER_NAME}}</div>
                                            </div>
                                        </div>
                                        <button *ngIf="searchpeople.USER_NAME!=_constantService.getSessionDataBYKey('username')" class="button24x7 whiteColorButton fright " [disabled]="showPreloader === true"  routerLink="/inbox/{{searchpeople.USER_NAME}}"><span class="text" *ngIf="showText">Message</span>
                                            <span class="preloder"  ><img src="./assets/images/svg/preloader-25.svg" alt="aio" *ngIf="showPreloader"></span></button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- <div><br></div> -->
                        <div class="people-wrap" *ngIf="pagePresent">
                            <div class="head-wrap clearfix">
                                <h6 class="mainheading">Page</h6>
                                <a class="head_n" href="javascript:void(0)" (click)="searchResultTabClick(4)" *ngIf="showPageViewAll">View all</a>
                            </div>
                           <ul>
                                <li class="clearfix" *ngFor="let searchpage of searched_page">
                                    <div class="person-name-wrap clearfix ">
                                        <div class="profileimg_know cursor-pointer">
                                            <img src='{{searchpage.PROFILE_PHOTO_PATH}}' routerLink="/page/{{searchpage.ID}}" >
                                        </div>
                                        <div class='prfl_detail '>
                                            <div class="profilename cursor-pointer" routerLink="/page/{{searchpage.ID}}">{{searchpage.TITLE |trimData:17}}</div>
                                            <div class="grayinfo">{{searchpage.PAGE_NAME |trimData:17}}</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>




                    </div>
                    <!-- =================================================================================================== -->






                    <div class="people common-search-result" *ngIf="peopleResultStatus">

                        <div class="people-wrap" *ngIf="userPresent">

                            <div class='search-people-list'  data-infinite-scroll
                                 [infiniteScrollDistance]="10"

                                 [scrollWindow]="true">
                                 <ul>
                                    <li class="clearfix" *ngFor="let searchpeople of searched_user">
                                        <div class="person-name-wrap clearfix">
                                            <div class="profileimg_know">
                                                <img src='{{searchpeople.PROFILE_PHOTO_PATH}}' routerLink="/profile/{{searchpeople.USER_NAME}}" >
                                            </div>
                                            <div class='prfl_detail'>
                                                <div class="profilename" title="{{ searchpeople.FULL_NAME }}" routerLink="/profile/{{searchpeople.USER_NAME}}">{{searchpeople.FULL_NAME|trimData:17}}</div>
                                                <div class="grayinfo">{{searchpeople.USER_NAME}}</div>
                                            </div>
                                        </div>
                                        <button *ngIf="searchpeople.SELF==false" class="button24x7 whiteColorButton  fright"  [disabled]="showPreloader === true"  routerLink="/inbox/{{searchpeople.USER_NAME}}"><span class="text" *ngIf="showText">Message</span>
                                            <span class="preloder"  ><img src="./assets/images/svg/preloader-25.svg" alt="aio" *ngIf="showPreloader"></span></button>
                                    </li>
                                </ul>
                            </div>
                        </div>
            <!-- =============================================================================   -->
            <!-- preloder start  --> <!--add by vijay-->
            <!-- ==============================================================================  -->

            <div class="loader2" *ngIf="showPreloader">
                <img src="assets/images/24x7preloader.gif" alt="aio" >
            </div>

            <!-- =============================================================================   -->
            <!-- preloder end  -->  <!--end by vijay-->
            <!-- ==============================================================================  -->
                        <div class="emptystate no_search" *ngIf="emptyPeople && showPreloader == false" >
                            <div class="emptystate_inner">
                                <img  src="./assets/images/emptystates/svg/no-search-found.svg">
                                <span>No people found</span>
                            </div>
                        </div>
                    </div>
                    <!-- =================================================================================================== -->
                    <div class="post common-search-result" *ngIf="postResultStatus">
                        <div class="post-wrap" data-infinite-scroll
                             [infiniteScrollDistance]="5"
                             [scrollWindow]="true">
                             <!-- <div class="head-wrap clearfix">
                                     <h6 class="mainheading">Posts</h6>
                                     <a href="javascript:void(0)">View all</a>
                             </div> -->
                             <div #container></div>
                        </div>
                        <div class="emptystate no_search" *ngIf="showPostEmptyState">
                            <div class="emptystate_inner">
                                <img  src="./assets/images/emptystates/svg/no-search-found.svg">
                                <span>No post found</span>
                            </div>
                        </div>
                    </div>

<!-- ================================================================================ -->
<!-- page search -->
<!-- ================================================================================ -->
                    <div class="post common-search-result" *ngIf="pageResultStatus">

                        <div class="people-wrap" data-infinite-scroll
                             [infiniteScrollDistance]="5"
                             [scrollWindow]="true">
                             <ul>
                                <li class="clearfix" *ngFor="let searchpage of searched_page">
                                    <div class="person-name-wrap clearfix">
                                        <div class="profileimg_know cursor-pointer">
                                            <img src='{{searchpage.PROFILE_PHOTO_PATH}}' routerLink="/page/{{searchpage.PAGE_UUID}}" >
                                        </div>
                                        <div class='prfl_detail'>
                                            <div class="profilename cursor-pointer" routerLink="/page/{{searchpage.PAGE_UUID}}">{{searchpage.TITLE |trimData:17}}</div>
                                            <div class="grayinfo">{{searchpage.PAGE_NAME |trimData:17}}</div>
                                        </div>
                                    </div>
                                    <!--                                        <button class="graybutton "  [disabled]="showPreloader === true"  routerLink="/inbox/{{searchpage.USER_NAME}}"><span class="text" *ngIf="showText">Message</span>
                                                                            <span class="preloder"  ><img src="./assets/images/svg/preloader-25.svg" alt="aio" *ngIf="showPreloader"></span></button>-->
                                </li>
                            </ul>
                        </div>
            <!-- =============================================================================   -->
            <!-- preloder for my course start  --> <!--add by vijay-->
            <!-- ==============================================================================  -->

            <div class="loader2" *ngIf="showPreloader">
                <img src="assets/images/24x7preloader.gif" alt="aio" >
            </div>

            <!-- =============================================================================   -->
            <!-- preloder for my course end  -->  <!--end by vijay-->
            <!-- ==============================================================================  -->
                        <div class="emptystate no_search" *ngIf="emptyPage && showPreloader == false">
                            <div class="emptystate_inner">
                                <img  src="./assets/images/emptystates/svg/no-search-found.svg">
                                <span>No page found</span>
                            </div>
                        </div>
                    </div>
<!-- ================================================================================ -->
<!-- page search end-->
<!-- ================================================================================ -->

<!-- =========================================================================================== -->

<!-- ================================================================================ -->
<!-- course search start-->
<!-- ================================================================================ -->
                    <div class="post common-search-result" *ngIf="courseResultStatus == true">
                        <div class="post-wrap" *ngIf="coursePresent">
                            <div #courseContainer></div>
                        </div>
                        <div class="emptystate no_search" *ngIf="showCourseEmptyState">
                            <div class="emptystate_inner">
                                <img  src="./assets/images/emptystates/svg/no-search-found.svg">
                                <span>No course found</span>
                            </div>
                        </div>
                    </div>
<!-- ================================================================================ -->
<!-- course search end -->
<!-- ================================================================================ -->
                  </div>
                </div>
            </div>
            <div class="col-md-3 rightFilter" id="sideThreeCol" style="padding-left:0;" >
              <div class="rightmenu_fixed" id="someDiv" style="float:left;" [ngClass]="{'fixedleft': isScrolled}">
              <app-peopleyouknow *ngIf="header"></app-peopleyouknow>
              <app-recommendedpage *ngIf="header"></app-recommendedpage>
              </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- left side nav -->
    <div class="darkbackground bgadd" *ngIf="leftFilterMenu" (click)="leftSideFilter()"></div>
    <div class="sidefilter" [ngClass]="{'openfilter': leftFilterMenu }" *ngIf="!leftFilterMenuonresize">
      <div class="innerSideFilter">
        <app-searchfilter [childValues]="tabValue" class="hideleftfilter" [ngClass]="{'showleftfilter': leftFilterMenu }"></app-searchfilter>
        <div class="open_left" (click)="leftSideFilter()"><img src="assets/images/svg-three/post_icon/filter.svg" alt=""></div>
      </div>
    </div>
<!-- end side nav -->

<div class="search-result-outer-wrap withoutToken" *ngIf = "showPublic">
    <!--<app-loginpopup *ngIf="openLoginPopup" [usrData]="usrData" (closePopup)= "closeLoginPopUp($event)" [isError]="isError" [errorText]="errorText" [type]="openLoginPopupType"></app-loginpopup>-->
    <app-loginheader (searchedObj)="this.paginationCount=0"></app-loginheader>

    <div class="container main_body">
        <div class="row">
            <div class="col-md-9 center_feed" style="padding-right:0;" >
                <div class="clearfix search-result-inner-wrap">
                    <!-- <h5 class=''>Search Results</h5> -->
                    <div class="search-tab-wrap">
                        <ul class="clearfix">
<!--                            <li [ngClass]="{'active':allResultStatus}" (click)="searchResultTabClick(1)">All</li>-->
                            <li [ngClass]="{'active':postResultStatus}">Posts</li>
<!--                            <li [ngClass]="{'active':peopleResultStatus}" (click)="searchResultTabClick(3)">People</li>
                            <li [ngClass]="{'active':pageResultStatus}" (click)="searchResultTabClick(4)">Pages</li>
                            <li [ngClass]="{'active':courseResultStatus}" (click)="searchResultTabClick(5)">Course</li>-->
                        </ul>
                    </div>
                    <!-- ========================================================================================== -->
                    <div class="all common-search-result" >

                        <div class="post-wrap" *ngIf="postPresent">
                            <div class="head-wrap clearfix">
                                <h6 class="mainheading">Posts</h6>
                                <a class="head_n" href="javascript:void(0)" (click)="searchResultTabClick(2)" *ngIf="showPostViewAll">View all</a>
                            </div>
                            <div #container></div>
                        </div>

                        <div class="post-wrap" *ngIf="coursePresent">
                            <div class="head-wrap clearfix">
                                <h6 class="mainheading">Course</h6>
                                <a class="head_n" href="javascript:void(0)" (click)="searchResultTabClick(5)" *ngIf="showCourseViewAll">View all</a>
                            </div>
                            <div #courseContainer></div>
                        </div>



                        <div class="people-wrap" *ngIf="userPresent">

                            <div class="head-wrap clearfix" >
                                <h6 class="mainheading">People</h6>
                                <a class="head_n" href="javascript:void(0)" (click)="searchResultTabClick(3)" *ngIf="showUserViewAll">View all</a>
                            </div>
                            <div class='search-people-list'>
                                <ul>
                                    <li class="clearfix" *ngFor="let searchpeople of searched_user" >
                                        <div class="person-name-wrap clearfix" >
                                            <div class="profileimg_know">
                                                <img src='{{searchpeople.PROFILE_PHOTO_PATH}}' routerLink="/profile/{{searchpeople.USER_NAME}}" >
                                            </div>
                                            <div class='prfl_detail'>
                                                <div class="profilename cursor-pointer" title="{{searchpeople.FULL_NAME}}" routerLink="/profile/{{searchpeople.USER_NAME}}">{{searchpeople.FULL_NAME |trimData:17}}</div>
                                                <div class="grayinfo">{{searchpeople.USER_NAME}}</div>
                                            </div>
                                        </div>
                                        <button *ngIf="searchpeople.USER_NAME!=_constantService.getSessionDataBYKey('username')" class="button24x7 whiteColorButton  fright" [disabled]="showPreloader === true"  routerLink="/inbox/{{searchpeople.USER_NAME}}"><span class="text" *ngIf="showText">Message</span>
                                            <span class="preloder"  ><img src="./assets/images/svg/preloader-25.svg" alt="aio" *ngIf="showPreloader"></span></button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div><br></div>
                        <div class="people-wrap" *ngIf="pagePresent">
                            <div class="head-wrap clearfix">
                                <h6 class="mainheading">Page</h6>
                                <a class="head_n" href="javascript:void(0)" (click)="searchResultTabClick(4)" *ngIf="showPageViewAll">View all</a>
                            </div>
                           <ul>
                                <li class="clearfix" *ngFor="let searchpage of searched_page">
                                    <div class="person-name-wrap clearfix ">
                                        <div class="profileimg_know cursor-pointer">
                                            <img src='{{searchpage.PROFILE_PHOTO_PATH}}' routerLink="/page/{{searchpage.ID}}" >
                                        </div>
                                        <div class='prfl_detail '>
                                            <div class="profilename cursor-pointer" routerLink="/page/{{searchpage.ID}}">{{searchpage.TITLE |trimData:17}}</div>
                                            <div class="grayinfo">{{searchpage.PAGE_NAME |trimData:17}}</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!-- =================================================================================================== -->

                    <div class="people common-search-result" *ngIf="peopleResultStatus">

                        <div class="people-wrap" *ngIf="userPresent">

                            <div class='search-people-list'  data-infinite-scroll
                                 [infiniteScrollDistance]="10"
                                 [scrollWindow]="true">
                                 <ul>
                                    <li class="clearfix" *ngFor="let searchpeople of searched_user">
                                        <div class="person-name-wrap clearfix">
                                            <div class="profileimg_know">
                                                <img src='{{searchpeople.PROFILE_PHOTO_PATH}}' routerLink="/profile/{{searchpeople.USER_NAME}}" >
                                            </div>
                                            <div class='prfl_detail'>
                                                <div class="profilename" title="{{ searchpeople.FULL_NAME }}" routerLink="/profile/{{searchpeople.USER_NAME}}">{{searchpeople.FULL_NAME|trimData:17}}</div>
                                                <div class="grayinfo">{{searchpeople.USER_NAME}}</div>
                                            </div>
                                        </div>
                                        <button *ngIf="searchpeople.SELF==false" class="button24x7 whiteColorButton fright"  [disabled]="showPreloader === true"  routerLink="/inbox/{{searchpeople.USER_NAME}}"><span class="text" *ngIf="showText">Message</span>
                                            <span class="preloder"  ><img src="./assets/images/svg/preloader-25.svg" alt="aio" *ngIf="showPreloader"></span></button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="emptystate no_search" >
                            <div class="emptystate_inner">
                                <img  src="./assets/images/emptystates/svg/no-search-found.svg">
                                <span>No people found</span>
                            </div>
                        </div>
                    </div>
                    <!-- =================================================================================================== -->
                    <div class="post common-search-result" *ngIf="postResultStatus" >
                        <div class="post-wrap" data-infinite-scroll
                             [infiniteScrollDistance]="5"
                             [scrollWindow]="true" >
                             <!-- <div class="head-wrap clearfix">
                                     <h6 class="mainheading">Posts</h6>
                                     <a href="javascript:void(0)">View all</a>
                             </div> -->

                             <div #container></div>
                        </div>
                        <div class="emptystate no_search" *ngIf="!postPresent">
                            <div class="emptystate_inner">
                                <img  src="./assets/images/emptystates/svg/no-search-found.svg">
                                <span>No post found</span>
                            </div>
                        </div>
                    </div>

<!-- ================================================================================ -->
<!-- people search -->
<!-- ================================================================================ -->
                    <div class="post common-search-result" *ngIf="pageResultStatus">

                        <div class="people-wrap" data-infinite-scroll
                             [infiniteScrollDistance]="5"
                             [scrollWindow]="true">
                             <ul>
                                <li class="clearfix" *ngFor="let searchpage of searched_page">
                                    <div class="person-name-wrap clearfix">
                                        <div class="profileimg_know cursor-pointer">
                                            <img src='{{searchpage.PROFILE_PHOTO_PATH}}' routerLink="/page/{{searchpage.PAGE_UUID}}" >
                                        </div>
                                        <div class='prfl_detail'>
                                            <div class="profilename cursor-pointer" routerLink="/page/{{searchpage.PAGE_UUID}}">{{searchpage.TITLE |trimData:17}}</div>
                                            <div class="grayinfo">{{searchpage.PAGE_NAME |trimData:17}}</div>
                                        </div>
                                    </div>
                                    <!--                                        <button class="graybutton "  [disabled]="showPreloader === true"  routerLink="/inbox/{{searchpage.USER_NAME}}"><span class="text" *ngIf="showText">Message</span>
                                                                            <span class="preloder"  ><img src="./assets/images/svg/preloader-25.svg" alt="aio" *ngIf="showPreloader"></span></button>-->
                                </li>
                            </ul>
                        </div>

                        <div class="emptystate no_search" *ngIf="searched_page.length == 0">
                            <div class="emptystate_inner">
                                <img  src="./assets/images/emptystates/svg/no-search-found.svg">
                                <span>No page found</span>
                            </div>
                        </div>
                    </div>
<!-- ================================================================================ -->
<!-- people search end-->
<!-- ================================================================================ -->

<!-- =========================================================================================== -->

<!-- ================================================================================ -->
<!-- course search start-->
<!-- ================================================================================ -->
                    <div class="post common-search-result" *ngIf="courseResultStatus">
                        <div class="post-wrap" *ngIf="coursePresent">

                            <div #courseContainer></div>
                        </div>

                        <div class="emptystate no_search" *ngIf="!coursePresent">
                            <div class="emptystate_inner">
                                <img  src="./assets/images/emptystates/svg/no-search-found.svg">
                                <span>No course found</span>
                            </div>
                        </div>
                    </div>
<!-- ================================================================================ -->
<!-- course search end -->
<!-- ================================================================================ -->
                </div>
            </div>
        </div>
    </div>


</div>

<app-confirmationpopup *ngIf="openConfirmation"  [dataObj]="dataConf"></app-confirmationpopup>
<app-confirmationpopup *ngIf="openConfirmation"[dataObj]="dataConf"></app-confirmationpopup>
<app-loginpopup *ngIf="openLoginPopup"  [usrData]="{}" [isError]="isError" [errorText]="errorText" [type]="openLoginPopupType"></app-loginpopup>
