<app-header *ngIf="!isFullScreen"></app-header>

<div class="outerWrapper " [ngClass]="{'outerFullscreenWrapper':isFullScreen}" style="height:calc(100% - 64px);">
    <div style="position: fixed;left: 0;right: 0;width: 100%;height: 100%;">
        <div class="leftMenu " [ngClass]="{'leftMenuActive':popupToggle, 'leftMenuActiveMob':popupToggleMob}">
            <app-courseleftmenu [contentId]="contentUUID" (closeMenu)="popupToggleOpen($event)"></app-courseleftmenu>
        </div>
        <div class="innerwrapper"
            [ngClass]="{'innerFullscreenWrapper':isFullScreen,'innerwrapperActive':popupToggle, 'innerwrapperActiveMob':popupToggleMob}"
            (contextmenu)="onrightClick()">

            <div class="fdfheader" *ngIf="!isFullScreen">
                <span (click)="showMenu()"><img src="assets/images/svg/menu-caret.svg" alt="aio"></span>
                <h4>{{heading}}</h4>
            </div>



            <div id="pdfPageContainer" class="pdfWrapper" *ngIf="pdfReader" [ngClass]="{'fullScreen':isFullScreen}">
                <span class="closepdf" (click)="fullScreenWidth()" *ngIf="isFullScreen">
                    <img src="assets/images/svg/tagcross-gray.svg" alt="aio">
                </span>
                <div class="imgWrapper" [ngClass]="{'fullScreen':isFullScreen}">
                    <!--        <div id="outerPDF" class="innerWrapper" [perfectScrollbar]="config" >
          <img src="{{pdfImage}}" alt="aio"  (contextmenu)="onrightClick($event)" id="pdfImg">
        </div>-->
                    <!-- <div  id="outerPDF" class="dragscroll innerWrapper" [perfectScrollbar]="config" style="overflow: scroll; cursor: grab; cursor : -o-grab; cursor : -moz-grab; cursor : -webkit-grab;">
          <img src="{{pdfImage}}" id="pdfImg" (contextmenu)="onrightClick($event)"/> -->
                    <div class="dragscroll innerWrapper scrollcntr">
                        <div id="outerPDF" class="dragscroll innerWrapper" [perfectScrollbar]="config"
                            data-infinite-scroll [infiniteScrollDistance]="6" (scrolled)="addToQue()" (scroll)=setPageNo()
                            [scrollWindow]="false" style="overflow: scroll; ">
                            <div id="pdfImages" *ngFor="let pdfImage of pdfImages;let i=index">
                                <div id="pdfTop{{i}}" style="background-color: black; height: 2px;"></div>

                                <img src="{{pdfImage}}" id="pdfImg{{i}}" (contextmenu)="onrightClick($event)" />
                                <div id="pdfBottom{{i}}" style="background-color: black; height: 2px;"></div>
                            
                            </div>
                            <div class="loader2"
                                [ngClass]="{'innerwrapperActive':popupToggle, 'innerwrapperActiveMob':popupToggleMob}"
                                *ngIf="preLoaderLeftPannel"
                                style="transition: all .6s;position: fixed;top: 60px;right: 0;bottom: 60px;left: auto;overflow: hidden;background-color: transparent;">
                                <img src="assets/images/24x7preloader.gif"
                                    style="width: 200px;top: 50%;margin-top: -100px;" alt="aio">
                            </div>
                        </div>
                    </div>
                    <!-- <img src="assets/images/svg-three/course/pdfdemo.png" alt="aio" [ngClass]="{'zoom':zoomIn}"> -->
                    <!-- <iframe src="https://s3.ap-south-1.amazonaws.com/247-video-uploads/Dr.+Gulati's+AWWW+Moment+With+Farah+Khan+-+The+Kapil+Sharma+Show.mp4"></


        iframe> -->
                </div>
                <div class="footerWrapper" *ngIf="isFullScreen">
                    <div class="leftButton">
                        <span (click)="zoomPdf()"><img src="assets/images/pdfView/plus.svg" alt="aio"></span>
                        <span (click)="zoomoutPdf()"><img src="assets/images/pdfView/minus.svg" alt="aio"></span>
                    </div>

                    <div class="middleButton">
                        <span title="previous" (click)="previousPage()"><img src="assets/images/pdfView/arrow.svg"
                                alt="aio"></span>
                        <span><label style="margin-left: 8px !important;" disabled id="pagenumber"   
                                  maxlength="3"></label> /
                            {{totalPage}}</span>
                        <span (click)="nextPage()"><img src="assets/images/pdfView/arrow.svg" alt="aio"
                                style="transform: rotate(-180deg);"></span>
                    </div>

                    <div class="rightButton">
                        <span (click)="fullScreenWidth()">
                            <img src="assets/images/pdfView/fulscreen.svg" alt="aio">
                        </span>
                    </div>
                </div>
            </div>



            <div class="videoWrapper" *ngIf="!pdfReader && contentType!=6 && contentType!=7">
                <div class="imgWrapper">
                    <iframe [src]="videoSource | safe" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>

                    <!-- <div id="bit-player">

          </div> -->
                </div>
            </div>

            <div class="liveStremWrapper" *ngIf="isLiveStream && contentType==7 && !pdfReader">
                <div class="topWrapper">
                    <span class="liveStreamIcon">
                        <img src="assets/images/svg-three/page_icon/iconwall.svg" alt="">
                    </span>
                    <h2>{{LiveStreamData['LIVE_STREAM_TITLE']}}</h2>
                    <p class="SubHeading">{{LiveStreamData['STREAM_DESCRIPTION']}}
                    </p>
                </div>
                <div class="bottomWrapper">
                    <p *ngIf="livestreamStarted == 0" class="streamingTitle">LIVE CLASS WILL BE AVAILABLE AFTER</p>
                    <p *ngIf="livestreamStarted == 1" class="streamingTitle">STREAMING LIVE</p>
                    <p *ngIf="livestreamStarted == 2" class="streamingTitle">LIVE CLASS ENDED</p>
                    <P *ngIf="livestreamStarted != 2" class="time" style="font-size: 16px;font-weight: 500;"><span
                            style="padding: 0px 2px;">{{timer['day']}}</span>:<span
                            style="padding: 0px 2px;">{{timer['hr']}}</span>:<span
                            style="padding: 0px 2px;">{{timer['min']}}</span>:<span
                            style="padding: 0px 2px;">{{timer['sec']}}</span></P>
                    <P *ngIf="livestreamStarted != 2" class="time" style="font-size: 14px; text-transform: capitalize;">
                        <span style="padding: 0px 2px;">{{'days'}}</span>:<span
                            style="padding: 0px 2px;">{{'hour'}}</span>:<span
                            style="padding: 0px 2px;">{{'min'}}</span>:<span style="padding: 0px 2px;">{{'sec'}}</span>
                    </P>
                    <!-- <P *ngIf="livestreamStarted != 2" class="timerSubHeading">Elapsed time</P> -->
                    <div class="mentorDetailWrapper">
                        <span class="mentorImageWrapper">

                            <img src="{{LiveStreamData['MENTOR_DATA'].PROFILE_PHOTO_PATH}}" alt="">

                        </span>
                        <p class="mentorName">{{LiveStreamData['MENTOR_DATA'].FIRST_NAME}}
                            {{LiveStreamData['MENTOR_DATA'].LAST_NAME}}</p>
                    </div>
                </div>
                <div class="liveStreamFooter" *ngIf="livestreamStarted == 1">
                    <button class="button24x7 " type="button" name="button" (click)="startStream(LiveStreamData)">
                        Start Session
                    </button>
                </div>
            </div>


            <div class="contentTypeSixWrapper" *ngIf="!pdfReader && contentType==6">
                <img src="assets/images/svg-three/course/testlink.svg" alt="">
                <h2>You will now be redirected to the test panel</h2>
                <p>Test instruction and other test information will be<br> displayed further
                </p>
                <button type="button" name="button" class="redColorButton button24x7"
                    (click)="getLinkedBasedTest(contentUUID)">Go to test</button>
            </div>

            <!-- this.pdfReader = true; -->
            <div class="footer" *ngIf="!isFullScreen && pdfReader ">
                <div class="footerWrapper">
                    <div class="leftButton">
                        <span (click)="zoomPdf()"><img src="assets/images/pdfView/plus.svg" alt="aio"></span>
                        <span (click)="zoomoutPdf()"><img src="assets/images/pdfView/minus.svg" alt="aio"></span>
                    </div>

                    <div class="middleButton">
                        <span (click)="previousPage()"><img src="assets/images/pdfView/arrow.svg"
                                alt="aio"></span>
                        <span><label style="margin-left: 8px !important;" id="pagenumber" 
                                 maxlength="3"></label> /
                            {{totalPage}}</span>
                        <span (click)="nextPage()"><img src="assets/images/pdfView/arrow.svg" alt="aio"
                                style="transform: rotate(-180deg);"></span>
                    </div>

                    <div class="rightButton">
                        <!-- <span (click)="fullScreenWidth()">-->
                        <span (click)="fullScreenWidth()">
                            <img src="assets/images/pdfView/fulscreen.svg" alt="aio">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-confirmationpopup *ngIf="openConfirmation" [dataObj]="dataConf"
    (closeComfirmPopupThread)="openConfirmation = $event['error']"></app-confirmationpopup>