/* ==========================================================================
  Common variables
  ========================================================================== */
/**
*
* DO NOT use these variables directly in components.
* Assign them to component specific variables
*
*/
/* font-family */
/* font-family*/
/* Colors */
/* Border radius */
/* ==========================================================================
  Browser support
  ========================================================================== */
/* ==========================================================================
  Component specific variables
  ========================================================================== */
/* Typography
   ========================================================================== */
/* $baseFontFamily: Arial, sans-serif; */
/* $baseSpacing: $baseLineHeight+em; */
/* $baseTextColor: $black; */
/* Type Color */
/* $typeHighlight: $blue;
$typeLowlight: $lightGrey; */
/* Link
   ========================================================================== */
/* $linkColor: $blue;
$linkHoverColor: $lightBlue; */
/* Background
   ========================================================================== */
/* $bgBasic: #fff; */
/* Box
   ========================================================================== */
/* Contour */
/* $boxBasicBorderRadius: $borderRadiusDefault; */
/* Box foot */
/* $boxFootDivider: $blue; */
/* Divider
   ========================================================================== */
/* $dividerColor: $blue; */
/* List
   ========================================================================== */
/* $listInlineDividerBorder: $lightGrey;
$listBorder: $lightGrey; */
/* Table
   ========================================================================== */
/* $tableBorderColor: $blue; */
/* Form
   ========================================================================== */
/* $labelLeftWidth: 30%;
$formFieldBorder: 1px solid $grey;
$placeholderText: $lightGrey; */
/* Button
   ========================================================================== */
/* $btnDefaultBg: #ddd;
$btnDefaultBorder: $lightGrey; */
/* Template
   ========================================================================== */
/* $skipLinkBg: $black;
$bodyBg: #fff;
$pageWidth: 997px; */
/* header */
/* $headerBgStop1: #09456a;
$headerBgStop2: #02587e;
$contentBg: #fff;
$contentWidth: 960px; */
/* footer */
/* $footerBorder: $lightGrey; */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+SC:400,500,600,700&display=swap&subset=chinese-simplified");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
.font_sans_pro {
  font-family: "Source Sans Pro";
}

.font_montserrat {
  font-family: "Montserrat";
}

.font_noto_serif {
  font-family: "Noto Serif SC", serif;
}

.font_roboto {
  font-family: "Noto Serif SC", serif;
}

.selectionCard {
  width: 100%;
  float: left;
}

.selectionCard h3 {
  font-family: "Montserrat";
  font-size: 22px;
  font-weight: bold;
  color: #000;
  text-align: center;
  margin: 40px auto;
}

.selectionCard .cardSec {
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.selectionCard .cardSelection {
  cursor: pointer;
  width: 288px;
  height: 358px;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  overflow: hidden;
  border: 1px solid transparent;
}

.selectionCard .cardSelection .careerBannerSec {
  position: relative;
  height: 180px;
  width: 100%;
  padding: 15px 15px 0px 15px;
}

.selectionCard .cardSelection .careerBannerSec .careerBanner {
  width: 100%;
  border-radius: 5px;
  height: 100%;
}

.selectionCard .cardSelection .careerBannerSec .infoIcon {
  width: 58px;
  height: 58px;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  margin-left: -29px;
  overflow: hidden;
  bottom: -13px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.selectionCard .cardSelection .careerBannerSec .infoIcon img {
  width: 28px;
  height: 28px;
}

.selectionCard .cardSelection .contInfoDesp {
  padding: 40px 45px 34px 45px;
  text-align: center;
}

.selectionCard .cardSelection .contInfoDesp h4 {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: bold;
}

.selectionCard .cardSelection .contInfoDesp p {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
  margin: 0;
  line-height: 20px;
}

.selectionCard .cardSelection .contInfoDesp p.contDesp {
  margin: 10px 0px 20px;
}

.selectionCard .cardSelection .contInfoDesp p.contDespCont {
  position: relative;
}

.selectionCard .cardSelection .contInfoDesp p.contDespCont img {
  width: 15px;
  margin-right: 5px;
}

.selectionCard .cardSelection:hover {
  border: 1px solid #f05050;
}

.selectionCard .cardSelection.ActiveCard {
  border: 1px solid #f05050;
}

.containerForm {
  width: 890px;
  margin: auto;
  background-color: transparent;
}

.formTopInfo {
  display: block;
  width: 360px;
  margin: 20px auto 0px;
}

.formTopInfo .showInfoMain {
  width: 100%;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 0;
}

.infoContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 360px;
}

.showInfoLine {
  width: 100%;
  height: 0;
  border-top: solid 1px rgba(0, 0, 0, 0.2);
  float: left;
  position: absolute;
  top: 31px;
  z-index: -1;
}

.showInfo {
  width: 56px;
  height: 56px;
  float: left;
  border-radius: 40px;
  border: solid 1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.showInfo img {
  width: 20px;
}

.showInfo.ActiveInfo {
  border: 4px solid #ffdbdb;
  width: 64px;
  height: 64px;
  position: relative;
  background-color: #f05050;
}

.showInfo.redInfo {
  background-color: #f05050;
  border: solid 1px #f05050;
}

.infoContent {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% + 100px);
  float: left;
  margin: 0px -50px 40px -50px;
}

.infoContent div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 120px;
  text-align: center;
  line-height: 18px;
}

.profileSec {
  float: left;
  width: 100%;
  text-align: center;
}

.profileSec .profileImage {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
  margin: 0px auto;
  overflow: hidden;
}

.profileSec .profileImage img {
  width: 100%;
  height: 100%;
}

.profileSec .profileName {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  font-family: "Montserrat";
  margin: 20px auto 10px;
}

.profileSec .uploadImage {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.profileSec .uploadImage:hover {
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.9);
}

.bgcolor {
  background-color: #fff;
}

.bgcolorTrans {
  background-color: transparent;
}

.abt_exp_sec {
  margin: 0 auto;
  width: 100%;
  margin: auto;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  float: left;
}

.abt_exp_sec_col {
  padding-top: 00px;
  position: relative;
}

.secHead {
  width: 100%;
  float: left;
  margin: 40px 0px -5px 0px;
  position: relative;
}

.secHead h3 {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}

.secHead h3 span {
  color: #f05050;
  font-size: 14px;
}

.secHead h3.paddbot {
  padding-bottom: 20px;
}

.secHead1 {
  width: 100%;
  float: left;
  margin: 20px 0px 0px 0px;
  position: relative;
}

.secHeadAb {
  position: relative;
  top: 0px;
}

.textareaSec {
  width: 100%;
  float: left;
  background-color: #fff;
  border-radius: 10px;
}

.textareaSec textarea.aboutSelf {
  min-height: 160px;
  border-radius: 10px;
  padding: 20px;
  resize: none;
  border: none;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
  float: left;
}

input, select, textarea {
  color: #000;
  font-size: 16px;
  padding: 0px 15px;
}

input:focus, select:focus, textarea:focus {
  border: 1px solid #66a9d5 !important;
  border-color: #66a9d5 !important;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.3rem rgba(153, 197, 227, 0.3) !important;
          box-shadow: 0 0 0 0.3rem rgba(153, 197, 227, 0.3) !important;
}

.cntrlBtn {
  position: absolute;
  right: 0;
  top: calc(100% + 15px);
}

.cntrlBtn button {
  width: 175px;
  height: 40px;
  border-radius: 36px;
  -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  font-family: "Montserrat";
  font-weight: 600;
}

.cntrlBtn .addSec {
  color: #f05050;
}

.cntrlBtn .removeSec {
  margin-left: 15px;
}

.inner-wrap {
  float: left;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
}

.inner-wrap .post-wrap {
  float: left;
  width: 100%;
  padding: 10px 30px 30px;
}

.inner-wrap .post-wrap .input_wrapper {
  margin-top: 20px;
  float: left;
  width: 100%;
  position: relative;
}

.inner-wrap .post-wrap .input_wrapper .instbranchlist {
  left: 0px;
  top: 73px;
}

.inner-wrap .post-wrap .input_wrapper .input_label {
  color: #000;
  font-weight: 500;
  font-size: 16px;
}

.inner-wrap .post-wrap .input_wrapper .input_inner_wrapper {
  margin-top: 12px;
  float: left;
  width: 100%;
  position: relative;
}

.inner-wrap .post-wrap .input_wrapper .input_inner_wrapper input {
  font-size: 16px;
  height: 42px;
}

.inner-wrap .post-wrap .input_wrapper .input_inner_wrapper textarea {
  height: 100px;
  resize: none;
  font-size: 14px;
  padding-top: 10px;
}

.inner-wrap .post-wrap .input_wrapper .input_inner_wrapper .inputfiled_icon {
  width: 18px;
  position: absolute;
  top: 11px;
  left: 15px;
}

.inner-wrap .post-wrap .input_wrapper .abt_info_list {
  float: left;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 0px;
  position: relative;
  padding: 0px 0px 5px 0px;
  position: absolute !important;
  background: #fff;
  top: 73px;
  z-index: 11;
  max-height: 155px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  left: 0px;
  width: 659px;
  border: 1px solid #66a9d5 !important;
  width: 100% !important;
  border-top: 1px solid #f7f7f7 !important;
  top: 73px !important;
}

.inner-wrap .post-wrap .input_wrapper .abt_info_list ul {
  width: 100%;
  padding: 0px;
  float: left;
}

.inner-wrap .post-wrap .input_wrapper .abt_info_list ul li {
  width: 100%;
  float: left;
  padding: 10px 10px;
  border: 1px solid #f7f7f7;
  cursor: pointer;
}

.inner-wrap .post-wrap .input_wrapper .abt_info_list ul li:hover {
  background-color: #f5f7fa;
}

.inner-wrap .post-wrap .input_wrapper .abt_info_list ul li .search_list_img_cont {
  margin-top: 0px !important;
  padding-top: 0px !important;
}

.inner-wrap .post-wrap .input_wrapper .abt_info_list ul li .abt_search_list .abt_search_head1 {
  font-size: 14px;
  color: #656565;
  font-weight: 500;
  padding: 3px 0px;
}

.inner-wrap .post-wrap .input_wrapper .abt_info_list ul li .abt_search_list .abt_search_head2 {
  font-size: 14px;
  color: #2c2e2f50;
  font-weight: 500;
  padding: 0px 0px;
}

.inner-wrap .post-wrap .input_wrapper .instbranchlist {
  left: 0px;
  top: 73px !important;
  border: 1px solid #000 !important;
  width: 100% !important;
}

.inner-wrap .post-wrap .selectbox_wrap {
  padding-left: 0px;
  margin-top: 20px;
  float: left;
}

.inner-wrap .post-wrap .selectbox_wrap .selectbox_innerwrap {
  position: relative;
  width: 50%;
}

.inner-wrap .post-wrap .selectbox_wrap .selectbox_innerwrap span {
  color: #000;
  font-weight: 500;
  font-size: 16px;
}

.inner-wrap .post-wrap .selectbox_wrap .selectbox_innerwrap select, .inner-wrap .post-wrap .selectbox_wrap .selectbox_innerwrap input {
  margin-top: 12px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  height: 42px;
}

.inner-wrap .post-wrap .selectbox_wrap .selectbox_innerwrap .down_arrow {
  position: absolute;
  width: 12px;
  top: 30px;
  right: 10px;
}

.inner-wrap .post-wrap .selectbox_wrap .selectbox_innerwrap .deopdownarrow {
  display: inline-block;
  position: absolute;
  top: 41px !important;
  right: 15px;
  width: 13px;
}

.inner-wrap .post-wrap .selectbox_wrap .selectbox_innerwrap_full {
  width: 100%;
}

.inner-wrap .post-wrap .selectbox_wrap .right {
  float: right;
}

.inner-wrap .post-wrap .selectbox_wrap .right select {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-left: 0px;
}

.inner-wrap .post-wrap .selectbox_wrap .right select:focus {
  border: 1px solid #66a9d5 !important;
  border-color: #66a9d5 !important;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.3rem rgba(153, 197, 227, 0.3) !important;
  box-shadow: 0 0 0 0.3rem rgba(153, 197, 227, 0.3) !important;
}

.inner-wrap .post-wrap .selectbox_wrap .left {
  float: left;
}

.inner-wrap .post-wrap .selectbox_wrap .left select {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

.inner-wrap .post-wrap .selectbox_wrap .left select:focus {
  border: 1px solid #66a9d5 !important;
  border-color: #66a9d5 !important;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.3rem rgba(153, 197, 227, 0.3) !important;
  box-shadow: 0 0 0 0.3rem rgba(153, 197, 227, 0.3) !important;
}

.inner-wrap .post-wrap .right_wrapp {
  padding-right: 0px;
}

.footer {
  margin: 50px auto;
  padding: 0px 0px;
  text-align: center;
}

.footer p {
  margin-top: 40px;
  font-size: 16px;
  color: #000000;
}

.footer button {
  width: 203px;
  height: 54px;
  border-radius: 27px;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #f05050;
  font-size: 16px;
  font-family: "Montserrat";
  font-weight: bold;
  color: #fff;
  border: 1px solid #f05050;
}

input.error {
  border: 1px solid #f05050 !important;
}

.alert_msg {
  position: relative;
  float: left;
  font-size: 14px;
  margin-top: 5px;
  color: #f05050;
}

.footer button {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: relative;
}

.footer button:hover {
  padding-right: 20px;
}

.footer button:hover .start_test {
  display: inline-block;
}

.start_test {
  display: inline-block;
  width: 16px;
  height: 16px;
  display: none;
  position: absolute;
  right: 25px;
}

.start_test img {
  width: 100%;
  margin-top: -3px;
}

.btneffect {
  z-index: 3;
  position: relative;
  transition: all ease-in .3s !important;
  -moz-transition: all ease-in .3s !important;
  -ms-transition: all ease-in .3s !important;
  -o-transition: all ease-in .3s !important;
  -webkit-transition: all ease-in .3s !important;
  -webkit-animation-name: btneffect;
  overflow: hidden;
}

.btneffect:hover:before {
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-name: btneffect;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: btneffect;
}

.btneffect:before {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 800px;
  height: 800px;
  content: "";
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  -webkit-transform: translate(-50%, -50%) scale(0);
  transform-origin: center center;
  -webkit-transform-origin: center center;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}

.btneffect:before,
.btneffect:hover {
  background: #ff6363;
}

@keyframes btneffect {
  from {
    transform: translate(-50%, -50%) scale(0);
    -webkit-transform: translate(-50%, -50%) scale(0);
    visibility: visible;
    opacity: 1;
  }
  to {
    transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
    visibility: hidden;
    opacity: 0;
  }
}

@-webkit-keyframes btneffect {
  from {
    transform: translate(-50%, -50%) scale(0);
    -webkit-transform: translate(-50%, -50%) scale(0);
    visibility: visible;
    opacity: 1;
  }
  to {
    transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
    visibility: hidden;
    opacity: 0;
  }
}

.removeSign {
  display: none;
}

.input_col_wrap {
  width: 50% !important;
  float: left;
}

.col_left {
  padding-right: 15px;
}

.fullwidth {
  width: 100% !important;
  padding-right: 0;
}

@media only screen and (max-width: 920px) {
  .containerForm {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .inner-wrap .post-wrap .selectbox_wrap {
    padding-right: 0px;
  }
  .input_col_wrap {
    width: 100% !important;
    float: left;
  }
  .col_left {
    padding-right: 0px;
  }
  .footer button {
    padding-right: 20px;
  }
  .footer button .start_test {
    display: inline-block;
  }
}

@media only screen and (max-width: 640px) {
  .selectionCard h3 {
    margin: 25px auto;
  }
  .selectionCard .cardSec {
    width: 100%;
  }
  .selectionCard .cardSelection {
    width: 48%;
  }
  .selectionCard .cardSelection .careerBannerSec {
    height: 160px;
  }
  .selectionCard .cardSelection .contInfoDesp {
    padding: 30px 15px 30px 15px;
  }
}

@media only screen and (max-width: 540px) {
  .cardSec {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .cardSec .cardSelection {
    width: 100%;
    position: relative;
    height: auto;
    margin-bottom: 20px;
  }
  .cardSec .cardSelection .careerBannerSec {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 20px;
    top: 20px;
    padding: 0px;
  }
  .cardSec .cardSelection .careerBannerSec .careerBanner {
    display: none;
  }
  .cardSec .cardSelection .careerBannerSec .infoIcon {
    left: 0%;
    margin-left: 0px;
    bottom: 0px;
  }
  .cardSec .cardSelection .contInfoDesp {
    padding: 20px 20px 20px 95px;
    text-align: left;
  }
  .cardSec .cardSelection .contInfoDesp p.contDesp {
    margin: 10px 0px 15px;
  }
}

@media only screen and (max-width: 480px) {
  .secHead h3 {
    font-size: 16px;
  }
  .inner-wrap .post-wrap {
    padding: 10px 15px 20px;
  }
  .formTopInfo {
    width: 280px;
  }
  .infoContent {
    width: calc(100% + 60px);
    margin: 0px -30px 40px -30px;
  }
  .cntrlBtn button {
    width: 40px;
    height: 40px;
    padding: 0px;
  }
  .cntrlBtn button .removeSign, .cntrlBtn button .AddSign {
    display: block;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 26px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cntrlBtn button .removeSign {
    margin-top: -3px;
  }
  .cntrlBtn button .AddCont {
    display: none;
  }
  .cntrlBtn .removeSec {
    margin-left: 10px;
  }
  .selectionCard h3 {
    font-size: 18px;
  }
}

@media only screen and (max-width: 360px) {
  .accountCreate .downloadApp {
    width: 100%;
  }
  .formTopInfo {
    width: 280px;
  }
  .formTopInfo .showInfoMain {
    width: 94%;
    margin: 0 3%;
  }
  .infoContent {
    width: calc(100% + 36px);
    margin: 0px -18px 40px -18px;
  }
  .infoContent div {
    width: 90px;
    font-size: 12px;
  }
  .footer button {
    font-size: 14px;
  }
  .footer button p {
    font-size: 14px;
  }
  .inner-wrap .post-wrap .selectbox_wrap .selectbox_innerwrap span {
    font-size: 14px;
  }
  .inner-wrap .post-wrap .input_wrapper .input_label {
    font-size: 14px;
  }
  .inner-wrap .post-wrap .input_wrapper .input_inner_wrapper input {
    font-size: 14px;
  }
  .secHead h3 {
    font-size: 14px;
  }
  input, select, textarea {
    color: #000;
    font-size: 14px;
    padding: 0px 15px;
  }
  textarea {
    border: 0px solid #dfe0e8;
  }
}

.close_div {
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  margin: 0;
}

.close_div img {
  margin: auto !important;
  float: right;
  cursor: pointer;
}
/*# sourceMappingURL=careerregistration.component.css.map */