<div class="selectionCard" *ngIf="!showForm">
    <h3>What is your preferred job field ?</h3>
    <div class="cardSec ">
        <div (click)="setTestType('1')" class="cardSelection ">
            <div class="careerBannerSec">
                <img class="careerBanner" src="assets/images/career/banner_tech.png" />
                <span class="infoIcon">
                    <img src="assets/images/career/slider-navigation.svg" />
                </span>
            </div>
            <div class="contInfoDesp">
                <h4>Technical Roles</h4>
                <p class="contDesp">Requires interest in latest technology and programming</p>
                <p class="contDespCont">
                    <img src="assets/images/career/red-tik.svg" />
                    Developers and Coders</p>

            </div>
        </div>
        <div class="cardSelection " (click)="setTestType('2')">
            <div class="careerBannerSec">
                <img class="careerBanner" src="assets/images/career/banner_nonteck.png" />
                <span class="infoIcon">
                    <img src="assets/images/career/graphic-designer.svg" />
                </span>
            </div>
            <div class="contInfoDesp">
                <h4>Non Technical Roles</h4>
                <p class="contDesp">Choose if you are interested
                    in creative and marketing field</p>
                <p class="contDespCont">
                    <img src="assets/images/career/red-tik.svg" />
                    Designers and Sales</p>

            </div>
        </div>
    </div>
</div>




<div class="containerForm  " *ngIf="showForm">

    <div class=" abt_exp_sec bgcolorTrans">
        <div class="formTopInfo">
            <div class="showInfoMain">
                <div class="showInfo redInfo">
                    <img src="assets/images/career/add-user.svg" />
                </div>

                <div class="showInfo ActiveInfo">
                    <img src="assets/images/career/presonalDetails.svg" />
                    <div class="circle-rippl"></div>
                </div>

                <div class="showInfo ">
                    <img src="assets/images/career/testIcon.svg" />
                </div>
                <div class="showInfoLine "></div>
            </div>


            <div class="infoContent">
                <div>Sign up to Study24x7</div>
                <div>Fill up your profile details</div>
                <div>Take the Qualifier Test</div>
            </div>
        </div>
        <div class="profileSec">
            <div class="profileImage">
                <img src="{{profileImage}}" />

                <!-- <img src="assets/images/career/defaultProfile.svg" /> -->
            </div>
            <div class="profileName">{{userName}}</div>
            <div *ngIf="!profileImagePathExist" (click)="dataopen=true" class="uploadImage">Upload Profile image</div>
            <div *ngIf="profileImagePathExist" (click)="dataopen=true" class="uploadImage">Update Profile image</div>
        </div>
    </div>


    <div class=" abt_exp_sec">
        <div class="secHead">
            <h3 class="paddbot">Tell us about yourself <span>*</span></h3>
        </div>
        <div class="textareaSec">
            <textarea class="aboutSelf" name="aboutSelf" placeholder="Summarize your experience and profession in brief"
                style="position:relative" [(ngModel)]="userSummary"></textarea>
        </div>
        <p class="alert_msg" *ngIf="error.summary">{{error.val}}</p>
    </div>
    <div class=" abt_exp_sec">
        <div class="secHead">
            <h3 class="paddbot">Personal Details <span>*</span></h3>
        </div>
        <div class="inner-wrap">
            <div class="col-md-12 col-sm-12 fleft post-wrap">
                <div class="col-md-3 col-sm-3 col-xs-12 selectbox_wrap ">
                    <div class="selectbox_innerwrap selectbox_innerwrap_full left">
                        <span>Date of birth</span>
                        <input [(ngModel)]="dob" type="date" min="{{minDate}}" max="{{maxDate}}" />
                    </div>
                    <p class="alert_msg" *ngIf="error.dob">{{error.val}}</p>

                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 selectbox_wrap">
                    <div class="selectbox_innerwrap selectbox_innerwrap_full left">
                        <span> Gender</span>
                        <select name="gender" id="gender" [(ngModel)]="gender">
                            <option style="color: #c1c0c0;" value="">Select gender</option>
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                        </select>
                        <span class="deopdownarrow"><img _ngcontent-nhl-c81=""
                                src="assets/images/svg-three/add_post/downarrow.svg" alt="study24x7"></span>
                    </div>
                    <p class="alert_msg" *ngIf="error.gender">{{error.val}}</p>

                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 selectbox_wrap right_wrapp">
                    <div class="selectbox_innerwrap selectbox_innerwrap_full left">
                        <span>State</span>
                        <!-- <input [(ngModel)]="city" type="text" name="" value="" placeholder="City"> -->
                        <select id='state' [(ngModel)]="stateId" (change)="changeCity($event)">
                            <option disabled="true" value=''>Select State</option>
                            <option *ngFor="let state of states" [id]='state.STATE_ID' [value]='state.STATE_ID'>
                                {{state.STATE_NAME}}</option>
                        </select>
                        <span class="deopdownarrow">
                            <img src="assets/images/svg-three/add_post/downarrow.svg" alt="study24x7">
                        </span>

                    </div>

                    <p class="alert_msg" *ngIf="error.state">{{error.val}}</p>

                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 selectbox_wrap right_wrapp">
                    <div class="selectbox_innerwrap selectbox_innerwrap_full left">
                        <span>City </span>
                        <!-- <input [(ngModel)]="city" type="text" name="" value="" placeholder="City"> -->
                        <select  [(ngModel)]="city.id" (change)=setCity($event); id='city'>
                            <option disabled="true" value=''>Select City</option>
                            <option *ngFor="let cty of cities" [id]='cty.CITY_ID' [value]='cty.CITY_ID'>
                                {{cty.CITY_NAME}}</option>
                        </select>
                        <span class="deopdownarrow">
                            <img src="assets/images/svg-three/add_post/downarrow.svg" alt="study24x7">
                        </span>

                    </div>

                    <p class="alert_msg" *ngIf="error.city">{{error.val}}</p>

                </div>



            </div>
        </div>
    </div>

    <div class=" abt_exp_sec abt_exp_sec_col">
        <!-- College Experience -->
        <!-- <div class="secHead secHeadAb"> -->
        <div class="secHead secHeadAb">
            <!-- <h3>College Experience <span>*</span></h3> -->
            <h3>Educational Qualification <span>*</span></h3>
            <!-- <div class="cntrlBtn" style="z-index: 1;">
                <button (click)="addCollegeExperience(0)" class="addSec" type="button" name="button">
                    <span class="AddSign">+</span>
                    <span class="AddCont">Add</span>
                </button>
                <button *ngIf="detailsForm.experiences.length>1" (click)="deleteUserQualification(1,'college')"
                    class="removeSec" type="button" name="button">
                    <span class="removeSign">-</span>
                    <span class="AddCont">Remove</span>
                </button>
            </div> -->
        </div>
        <div style="position: relative;float: left;width: 100%;top: 0px;"
            *ngFor="let experience of detailsForm.experiences; let i = index">
            <div class="secHead1">

            </div>
            <div class="inner-wrap">
                <div class="col-md-12 col-sm-12 fleft post-wrap">
                    <span *ngIf="detailsForm.experiences.length>1" class="close_div"
                        (click)="deleteUserQualification(i,'college')">
                        <img src="assets/images/svg/tagcross.svg" class="defaultt">
                        <img src="assets/images/svg/tagcross-gray.svg" class="hoverr">
                    </span>
                    <div class="col-md-12 col-sm-12 col-xs-12 selectbox_wrap " style="padding-right:0;">
                        <div class="selectbox_innerwrap selectbox_innerwrap_full left">
                            <span>Select Qualification</span>
                            <select (change)="setQualificationList()" class="" name="" id="expMon_from_" [(ngModel)]="experience.expType">
                                <option disabled style="color:#c1c0c0;" value="">Select Qualification</option>
                                <option [hidden]="qualificationsList[0].hide" value="1">Class 10th </option>
                                <option [hidden]="qualificationsList[1].hide" value="2">Class 12th </option>
                                <option [hidden]="qualificationsList[2].hide" value="3">Graduation </option>
                                <option [hidden]="qualificationsList[3].hide" value="4">Post Graduation </option>


                            </select>
                            <span class="deopdownarrow">
                                <img src="assets/images/svg-three/add_post/downarrow.svg" alt="study24x7">
                            </span>
                        </div>
                        <p class="alert_msg" *ngIf="experience.error.expType">{{experience.error.val}}</p>

                    </div>
                    <div *ngIf="experience.expType">
                        <div class="input_wrapper" #organization>
                            <span *ngIf="experience.expType==3 || experience.expType==4" class="input_label">College
                                Name</span>
                            <span *ngIf="experience.expType==1 || experience.expType==2" class="input_label">School
                                Name</span>
                            <div class="input_inner_wrapper">
                                <input type="text" name="" value="" placeholder="Ex. ABC Managment School"
                                    style="padding-left: 45px;"
                                    (keyup)="showOrganisation(i,'college',experience.expType)"
                                    (focus)="showOrganisation(i,'college',experience.expType)"
                                    [(ngModel)]="experience.college.name" (focusout)="closelist(i)">
                                <span class="inputfiled_icon">
                                    <img src="assets/images/svg-three/profile_about/uni_icon.svg" alt="study24x7">
                                </span>
                            </div>
                            <div class="abt_info_list" *ngIf="searchInstList==i+'college'" 
                                style="position:relative; overflow-y: auto;" data-infinite-scroll [infiniteScrollDistance]="2"
                                [immediateCheck]="true" (scrolled)="onScrollDown(i,'college')" [scrollWindow]="false">
                                <ul>
                                    <li *ngFor="let institute of searchedInsArr"
                                        (click)="setOrganization(i,institute.INSTITUTE_NAME,institute.INSTITUTE_ID,'college')">
                                        <!--                                <div class="col-md-1 search_list_img_cont">
                                      <img src="assets/images/svg-three/profile_about/uni_icon.svg" alt="study24x7">
                                  </div>-->
                                        <div class="col-md-11 abt_search_list">
                                            <div class="abt_search_head1">{{institute.INSTITUTE_NAME}}</div>
                                            <div class="abt_search_head2"
                                                *ngIf="institute.CITY!='' && institute.STATE!=''">
                                                {{institute.CITY}}<span
                                                    *ngIf="institute.CITY!='' && institute.STATE!=''">,</span>
                                                {{institute.STATE}}</div>
                                        </div>
                                    </li>
                                    <li *ngIf="searchedInsArr.length==0">
                                        <div class="emptystate_inner " style="text-align: center;padding: 10px;">
                                            <img class="emptyreview"
                                                src="assets/images/svg-three/empty_state/search.svg"
                                                style="width:30px;">
                                            <p>No result found</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <p class="alert_msg" *ngIf="experience.error.collegeName">{{experience.error.val}}</p>
                        </div>
                        <div class="">
                            <div class="input_wrapper input_col_wrap col_left" #position
                                [ngClass]="{'fullwidth': experience.expType==1 || experience.expType==2}">
                                <span *ngIf="experience.expType==3 || experience.expType==4"
                                    class="input_label">Degree</span>
                                <span *ngIf="experience.expType==1 || experience.expType==2"
                                    class="input_label">Board</span>
                                <div class="input_inner_wrapper">
                                    <input *ngIf="experience.expType==3 || experience.expType==4" type="text" name="" value="" placeholder="Ex. Computer Science & Technology"
                                        (keyup)="showCourse(i,'college',experience.expType)"
                                        (focusout)=closeCourselist(i)
                                        (focus)="showCourse(i,'college',experience.expType)"
                                        [(ngModel)]="experience.degree.name">
                                        <input *ngIf="experience.expType==1 || experience.expType==2" type="text" name="" value="" placeholder="Ex. CBSE"
                                        (keyup)="showCourse(i,'college',experience.expType)"
                                        (focusout)=closeCourselist(i)
                                        (focus)="showCourse(i,'college',experience.expType)"
                                        [(ngModel)]="experience.degree.name">
                                </div>
                                <div class="abt_info_list " *ngIf="searchListCou==i+'college'"
                                    [perfectScrollbar]="config" style="position:relative" data-infinite-scroll
                                    [infiniteScrollDistance]="2" [immediateCheck]="true" (scrolled)="onScrollDownCourse(i,'college')"
                                    [scrollWindow]="false">
                                    <ul>
                                        <li *ngFor="let course of searchedCouArr"
                                            (click)="setCourse(i,course.COURSE_NAME,course.COURSE_ID,'college')">
                                            <!--                                <div class="col-md-1 search_list_img_cont">
                                                <img src="assets/images/svg-three/profile_about/uni_icon.svg" alt="study24x7">
                                            </div>-->
                                            <div class="col-md-11 abt_search_list">
                                                <div class="abt_search_head1">{{course.COURSE_NAME}}</div>
                                                <!--<div class="abt_search_head2">{{couArr.ADDRESS.city}}, {{couArr.ADDRESS.state}}</div>-->
                                            </div>
                                        </li>
                                        <li *ngIf="searchedCouArr.length==0">
                                            <div class="emptystate_inner " style="text-align: center;padding: 10px;">
                                                <img class="emptyreview"
                                                    src="assets/images/svg-three/empty_state/search.svg"
                                                    style="width:30px;">
                                                <p>No result found</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <p class="alert_msg" *ngIf="experience.error.degreeName">{{experience.error.val}}</p>
                            </div>


                            <div *ngIf="experience.expType==3 || experience.expType==4"
                                class="input_wrapper input_col_wrap" #organization>
                                <span class="input_label">Branch</span>
                                <div class="input_inner_wrapper">
                                    <input type="text" name="" value="" placeholder="Ex. Computer science "
                                        [(ngModel)]="experience.branchName">

                                </div>

                                <p class="alert_msg" *ngIf="experience.error.branchName">{{experience.error.val}}</p>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12 selectbox_wrap">
                        <div class="selectbox_innerwrap left">
                            <span>From (Month)</span>
                            <select class="" name="" id="expMon_from" [(ngModel)]="experience.fromMonth">
                                <option value="">Select Month</option>
                                <option id="1" value="01">January</option>
                                <option id="2" value="02">February</option>
                                <option id="3" value="03">March</option>
                                <option id="4" value="04">April</option>
                                <option id="5" value="05">May</option>
                                <option id="6" value="06">June</option>
                                <option id="7" value="07">July</option>
                                <option id="8" value="08">August</option>
                                <option id="9" value="09">September</option>
                                <option id="10" value="10">October</option>
                                <option id="11" value="11">November</option>
                                <option id="12" value="12">December</option>

                            </select>
                            <span class="deopdownarrow">
                                <img src="assets/images/svg-three/add_post/downarrow.svg" alt="study24x7">
                            </span>
                        </div>
                        <div class="selectbox_innerwrap right">
                            <span>From (Year)</span>
                            <select class="" name="" id="expYr_from" [(ngModel)]="experience.fromYear">
                                <option value="">Select Year</option>
                                <option *ngFor="let year of years; let i = index" [attr.data-index]="i">{{year}}
                                </option>
                            </select>
                            <span class="deopdownarrow">
                                <img src="assets/images/svg-three/add_post/downarrow.svg" alt="study24x7">
                            </span>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12 selectbox_wrap right_wrapp">
                        <div class="selectbox_innerwrap left">
                            <span>To (Month)</span>
                            <select class="" name="" id="expMon_to" [(ngModel)]="experience.toMonth">
                                <option value="">Select Month</option>
                                <option id="1" value="01">January</option>
                                <option id="2" value="02">February</option>
                                <option id="3" value="03">March</option>
                                <option id="4" value="04">April</option>
                                <option id="5" value="05">May</option>
                                <option id="6" value="06">June</option>
                                <option id="7" value="07">July</option>
                                <option id="8" value="08">August</option>
                                <option id="9" value="09">September</option>
                                <option id="10" value="10">October</option>
                                <option id="11" value="11">November</option>
                                <option id="12" value="12">December</option>


                            </select>
                            <span class="deopdownarrow">
                                <img src="assets/images/svg-three/add_post/downarrow.svg" alt="study24x7">
                            </span>
                        </div>
                        <div class="selectbox_innerwrap right" *ngIf="!ExpPresentselected">
                            <span>To (Year)</span>
                            <select class="" name="" id="expYr_to" [(ngModel)]="experience.toYear">
                                <option value="">Select Year</option>
                                <option *ngFor="let year of years; let i = index" [attr.data-index]="i">
                                    {{year}}
                                </option>
                            </select>
                            <span class="deopdownarrow">
                                <img src="assets/images/svg-three/add_post/downarrow.svg" alt="study24x7">
                            </span>
                        </div>
                    </div>
                    <p style="width: 100%;" class="alert_msg" *ngIf="experience.error.date">{{experience.error.val}}</p>

                    <div class="col-md-6 col-sm-6 col-xs-12 selectbox_wrap ">
                        <div class="selectbox_innerwrap selectbox_innerwrap_full left">
                            <span>Grading System</span>
                            <select class="" name="" id="expMon_from" [(ngModel)]="experience.gradingSystem">
                                <option style="color:#c1c0c0;" value="">Select Grade</option>
                                <option value="0">CGPA</option>
                                <option value="1">Percentage</option>


                            </select>
                            <span class="deopdownarrow">
                                <img src="assets/images/svg-three/add_post/downarrow.svg" alt="study24x7">
                            </span>
                        </div>
                        <p class="alert_msg" *ngIf="experience.error.gradingSystem">{{experience.error.val}}</p>

                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 selectbox_wrap right_wrapp">
                        <div class="selectbox_innerwrap selectbox_innerwrap_full left">
                            <span>Grade/Marks</span>

                            <input type="text" name="" value="" placeholder="Grades"
                                [(ngModel)]="experience.gradeMarks">

                        </div>
                        <p class="alert_msg" *ngIf="experience.error.gradeMarks">{{experience.error.val}}</p>

                    </div>
                </div>

            </div>
        </div>
        <div *ngIf="detailsForm.experiences.length<4" class="cntrlBtn" style="z-index: 1;">
            <button (click)="addCollegeExperience(0)" class="addSec" type="button" name="button">
                <span class="AddSign">+</span>
                <span class="AddCont">Add Qualification</span>
            </button>
        </div>
    </div>
    <!--colleg experience end-->
    <!-- <div class="abt_exp_sec abt_exp_sec_col">
        <div class="secHead secHeadAb">
            <h3>Matriculation Experience <span>*</span></h3>
            <div class="cntrlBtn" style="z-index: 1;">
                <button (click)="addMatriculationExperience(0)" class="addSec" type="button" name="button">
                    <span class="AddSign">+</span>
                    <span class="AddCont">Add</span>
                </button>
                <button *ngIf="detailsForm.metriculationExperiences.length>=2"
                    (click)="deleteUserQualification(1,'metriculation')" class="removeSec" type="button" name="button">
                    <span class="removeSign">-</span>
                    <span class="AddCont">Remove</span>
                </button>
            </div>
        </div>
        <div style="position: relative;float: left;width: 100%;top: 0px;"
            *ngFor="let experience of detailsForm.metriculationExperiences; let i = index">
            <div class="secHead1">

            </div>

            <div class="inner-wrap">
                <div class="col-md-12 col-sm-12 fleft post-wrap">
                  <span class="close_div">
                    <img src="assets/images/svg/tagcross.svg" class="defaultt" >
                    <img src="assets/images/svg/tagcross-gray.svg" class="hoverr" >
                  </span>
                    <div class="input_wrapper" #organization>
                        <span class="input_label">School Name</span>
                        <div class="input_inner_wrapper">
                            <input type="text" name="" value="" placeholder="Ex. ABC Managment School"
                                style="padding-left: 45px;" [(ngModel)]="experience.school.name">
                            <span class="inputfiled_icon">
                                <img src="assets/images/svg-three/profile_about/uni_icon.svg" alt="study24x7">
                            </span>
                        </div>

                        <p class="alert_msg" *ngIf="experience.error.collegeName">{{experience.error.val}}</p>
                    </div>
                    <div class="input_wrapper" #position>
                        <span class="input_label">Board</span>
                        <div class="input_inner_wrapper">
                            <input type="text" name="" value="" placeholder="Ex. CBSE"
                                [(ngModel)]="experience.degree.name">
                        </div>

                        <p class="alert_msg" *ngIf="experience.error.degreeName">{{experience.error.val}}</p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 selectbox_wrap">
                        <div class="selectbox_innerwrap left">
                            <span>From (Month)</span>
                            <select class="" name="" id="expMon_from" [(ngModel)]="experience.fromMonth">
                                <option value="">Select Month</option>
                                <option id="1" value="01">January</option>
                                <option id="2" value="02">February</option>
                                <option id="3" value="03">March</option>
                                <option id="4" value="04">April</option>
                                <option id="5" value="05">May</option>
                                <option id="6" value="06">June</option>
                                <option id="7" value="07">July</option>
                                <option id="8" value="08">August</option>
                                <option id="9" value="09">September</option>
                                <option id="10" value="10">October</option>
                                <option id="11" value="11">November</option>
                                <option id="12" value="12">December</option>

                            </select>
                            <span class="deopdownarrow">
                                <img src="assets/images/svg-three/add_post/downarrow.svg" alt="study24x7">
                            </span>
                        </div>
                        <div class="selectbox_innerwrap right">
                            <span>From (Year)</span>
                            <select class="" name="" id="expYr_from" [(ngModel)]="experience.fromYear">
                                <option style="color: #c1c0c0;" value="">Select Year</option>
                                <option *ngFor="let year of years; let i = index" [attr.data-index]="i">{{year}}
                                </option>
                            </select>
                            <span class="deopdownarrow">
                                <img src="assets/images/svg-three/add_post/downarrow.svg" alt="study24x7">
                            </span>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12 selectbox_wrap right_wrapp">
                        <div class="selectbox_innerwrap left">
                            <span>To (Month)</span>
                            <select class="" name="" id="expMon_to" [(ngModel)]="experience.toMonth">
                                <option style="color: #c1c0c0;" value="">Select Month</option>
                                <option id="1" value="01">January</option>
                                <option id="2" value="02">February</option>
                                <option id="3" value="03">March</option>
                                <option id="4" value="04">April</option>
                                <option id="5" value="05">May</option>
                                <option id="6" value="06">June</option>
                                <option id="7" value="07">July</option>
                                <option id="8" value="08">August</option>
                                <option id="9" value="09">September</option>
                                <option id="10" value="10">October</option>
                                <option id="11" value="11">November</option>
                                <option id="12" value="12">December</option>


                            </select>
                            <span class="deopdownarrow">
                                <img src="assets/images/svg-three/add_post/downarrow.svg" alt="study24x7">
                            </span>
                        </div>
                        <div class="selectbox_innerwrap right" *ngIf="!ExpPresentselected">
                            <span>To (Year)</span>
                            <select class="" name="" id="expYr_to" [(ngModel)]="experience.toYear">
                                <option value="">Select Year</option>
                                <option *ngFor="let year of years; let i = index" [attr.data-index]="i">
                                    {{year}}
                                </option>
                            </select>
                            <span class="deopdownarrow">
                                <img src="assets/images/svg-three/add_post/downarrow.svg" alt="study24x7">
                            </span>
                        </div>
                        <p class="alert_msg" *ngIf="experience.error.date">{{experience.error.val}}</p>

                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12 selectbox_wrap ">
                        <div class="selectbox_innerwrap selectbox_innerwrap_full left">
                            <span>Grading System</span>
                            <select class="" name="" id="expMon_from" [(ngModel)]="experience.gradingSystem">
                                <option style="color: #c1c0c0;" value="">Select Grade</option>
                                <option value="0">CGPA</option>
                                <option value="1">percentage</option>


                            </select>
                            <span class="deopdownarrow">
                                <img src="assets/images/svg-three/add_post/downarrow.svg" alt="study24x7">
                            </span>
                        </div>
                        <p class="alert_msg" *ngIf="experience.error.gradingSystem">{{experience.error.val}}</p>

                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12 selectbox_wrap right_wrapp">
                        <div class="selectbox_innerwrap selectbox_innerwrap_full left">
                            <span>Grade/Marks</span>

                            <input type="text" name="" value="" placeholder="Grades"
                                [(ngModel)]="experience.gradeMarks">

                        </div>
                        <p class="alert_msg" *ngIf="experience.error.gradeMarks">{{experience.error.val}}</p>

                    </div>
                </div>

            </div>
        </div>
    </div> -->
    <!-- <div class="cntrlBtn" style="z-index: 1;">
        <button (click)="addMatriculationExperience(0)" class="addSec" type="button" name="button">
            <span class="AddSign">+</span>
            <span class="AddCont">Add qualification</span>
        </button>
    </div> -->




    <div class="abt_exp_sec">
        <div class="footer col-md-12 col-sm-12 ">



            <button [disabled]="submittingForm" (click)=startFormSubmission() type="button" name="button"
                id="doneButton" class="btneffect"><span *ngIf="!submittingForm">SUBMIT FORM</span><span
                    class="start_test"><img src="assets/images/career/arrowWhite.gif" alt=""></span><img
                    *ngIf="submittingForm" src="./assets/images/svg/preloader-251.svg" /></button>



            <p>Some information from this form will also be used in your Study24x7 account</p>
        </div>

    </div>




</div>

<app-imgcropperprofile *ngIf="dataopen" (popupobj)="profilepopup($event)"></app-imgcropperprofile>
<app-confirmationpopup *ngIf="openConfirmation" (closeComfirmPopupThread)="closePopup($event);" [dataObj]="dataConf">
</app-confirmationpopup>