$fbbg:#214f8d;
$font14: 14px;
$textcolor: #2c2e2f;
$font500: 500;
$transition3: all 0.3s;
$textwhite: #fff;
$textblack: #000;
$radius5: 5px;
$pd10: 10px;

.btneffect:before,
.btneffect:hover {
    background: #456398 !important;
}







.login-fb{
  background: $fbbg;
  color: $textwhite;
  .fb-icon {
    background-image: url(../../../../assets/images/login/fabebook-blue.svg);
  }
  .button-text {
    width: max-content;
    padding: 0px 2px;
  }
}


.login-button-login-form {
  border-radius: 3px;
  background: white;
  color: black;
  transition: all 0.3s;
  max-width: 200px;

  .fb-icon {
    margin-right: 5px;
    background-image: url(../../../../assets/images/fb.png);
    background-size: 100% 100%;
  }
  .button-text {
    padding: 2px;
  }
}

.login-button-home:hover {
  background-color: #456398;
}
.singlepostbtnfb{
  height: 100%;
  border-radius: 5px;
  background-image: linear-gradient(to bottom, #3b5998, #0f3584);
  .fb-icon{
    background-size: 100% 100%;
    float: left;
    margin-right: 5px;
    border-radius: 50%;
    overflow: hidden;
    width: 16px !important;
    height: 16px !important;
  }
  .button-text{
    padding: 0;
  }
}
.singlepostbtnfb{
    background-color: transparent !important ;
}
.prehubsFBlogin{
  float: left;
    width: 190px;
    box-sizing: border-box;
    text-align: left;
    padding: 11px 10px;
    height: 40px;
    line-height: 18px;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1)!important;
    cursor: pointer;
    background: #214f8d;
    color: #fff;
    border-radius: 6px;
    transition: all .2s;
    font-size: 13px;
    font-weight: 500;
    .fb-icon{
      background-image: url(https://img1.study24x7.com/assets/images/login/fabebook-blue.svg);
      width: 16px !important;
      height: 16px !important;
      margin-top: 1px;
      background-size: 100% 100%;
      float: left;
      margin-right: 5px;
    }
    .button-text{
      span:nth-child(2){
        display: none;
      }
    }
}
.login-main{
  padding: 12px 5px;
}
@media only screen and (max-width:450px){
  .prehubsFBlogin{
    width: 100%;
    // .button-text{
    //   span:nth-child(2){
    //     display: block;
    //   }
    //   span:first-child{
    //     display: none;
    //   }
    // }
  }
}
