<div class="login-main login-fb btneffect " [ngClass]="{
  'login-button-home':!showsignupform,
  'login-button-login-form':showsignupform, 'singlepostbtnfb': from == 'single-post-view', 'prehubsFBlogin ': from =='prehub' }" (click)="facebookLogin()" >
  <div class="social-icon fb-icon"></div>
  <div *ngIf="!showsignupform" class="button-text">
    <span *ngIf="!loaderFB">{{buttonText}}</span>
    <span *ngIf="loaderFB" class="preloder" >
      <img src="./assets/images/svg/preloader-25.svg" alt="" >
  </span>
  </div>
  <div *ngIf="showsignupform" class="button-text"> Facebook </div>
</div>
<app-social-login-popups [type]="'f'"  (socialLoginPopupMessage)="messageAction($event)">
</app-social-login-popups>
<app-confirmationpopup *ngIf="openConfirmation" (closeComfirmPopupThread)="closePopup($event);" [dataObj]="dataConf">
</app-confirmationpopup>
