
<div class="thankuMain">
  <p class="thankuHeading">Thank you for applying to Study24x7 Fresher Jobs</p>
   <div class="testSchedule">
     <p class="testMsg">YOUR QUALIFIER TEST IS SCHEDULED ON</p>
     <div class="testData testData1">
       <div class="testDate testDate3">
        {{testDetails.TEST_START_TIME?(testDetails.TEST_START_TIME | date :'dd MMM, yyyy'):" " }}
       </div>
       <div class="dotSep"></div>
       <div class="testDate testDate2 ">{{testDetails.TEST_START_TIME?(testDetails.TEST_START_TIME | date: 'hh:mm a'):" " }}</div>
     </div>
     <p class="testTime">Test will start from our fresher's page</p>
     <span (click)="reloadPage()" class="goBack">www.aio.com/career/fresher</span>
     <p class="notified">You will also be regularly notified through registered mail and SMS</p>
   </div>
   <div class="testSchedule accountCreate">
     <p class="testMsg">ACCOUNT CREATED SUCCESSFULLY</p>
     <div class="testData">
      <img class="logo1" src="assets/images/career/studylogo.svg" />
      <img class="logo2" src="assets/images/career/IndiaFirstSocialLearningnetwork.png" />
     </div>
     <ul>
       <li><img class="logo1" src="assets/images/career/red-tik.svg" />Ask & solve doubts</li>
       <li> <img class="logo1" src="assets/images/career/red-tik.svg" /> Live & Interactive Video Classes</li>
       <li><img class="logo1" src="assets/images/career/red-tik.svg" />Get Free & Paid Courses</li>
       <li><img class="logo1" src="assets/images/career/red-tik.svg" />Unlimited practice questions & quizzes</li>
     </ul>
     <button (click)="routTo('/home')" type="button" name="button" class="btneffect"><span *ngIf="!routing">Explore aio.com</span> <img *ngIf="routing" src="./assets/images/svg/preloader-25.svg"/> </button>
     <p class="testTime">Also available on</p>
     <div class="downloadApp">
       <a href="https://play.google.com/store/apps/details?id=com.stdy24x7" target="_blank"><img class="logo1" src="assets/images/career/app_Android.png" /></a>
       <a href="https://apps.apple.com/in/app/aio/id1444868244?ls=1" target="_blank"><img class="logo1" src="assets/images/career/app_IOS.png" /></a>
     </div>

   </div>
</div>
