@import './../../../sass/abstracts/variables';
@import './../../../sass/abstracts/fontfamily';
/////*******why-join-study css start******//////
.bgwhite{
  background: #fff;
  width: 100%;
  float: left;
  .pd80{
    padding-top: 20px;
    padding-bottom: 90px;
  }
}
.bggray{
  background-color: #f5f7f9;
.pd80{
  padding-top: 70px;
  padding-bottom: 55px;
}
}

.main_wrapper{
  width:100%;
  float:left;
}
.course_left{
  float:left;
  width: 100%;
}
.heading_bold{
  font-family: $fontmontserrat;
font-size: 36px;
color: #000000;
font-weight: bold;
}
.course_feat_info{
p{
font-size: 16px;
margin: 25px 0px 40px;
color: #000000;
line-height: $LineHeight22;
}




}
.workCultureType{
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

.tabSel{
  width: 220px;
height: 64px;
border-radius: 36px;
// box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
 border: solid 1px rgba(112, 112, 112, 0.3);
background-color: #ffffff;
  color: #000000;font-size:16px;
  align-items: center;
display: flex;font-weight: 500;
justify-content: center;
cursor: auto;
}
.tabSel.tabSelActive{

border: solid 1px #f05050;
  color: #f05050;

}
}
.workCultureDesp{
  float: left;
width: 100%;
margin-top: 10px;
.imageWrapper{
  margin-left: -20px;
width: calc(100% + 20px);

}
  .showimages{
    float: left;
width: 33.33%;margin-top: 30px;padding-left:20px;

.imagesInner{width:100%;position: relative;
  border-radius: 5px;
box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);
// border: solid 1px #707070;
transition: all 0.3s;
img{width:100%;border-radius: 5px;
  transition: all 0.3s;

}
.imgDesp{
  position: absolute;
  left: 0;
  right:0px;
padding: 10px 15px ;
color:#fff;bottom:0px;
background-color: rgba(44, 46, 47, 0.7);
border-radius: 0px 0px 5px 5px;
font-family: $fontmontserrat;
font-size: 14px;
font-weight: 600;
}

&:hover{

    transform: scale(1.1);

}
}
  }
}
.workCultureMain{
  float: left;width:100%;
}
.course_feat_info {
  .parahead{
    padding-right:300px;
  }
}
/////*******why-join-study css end******//////
@media only screen and (max-width:1200px){

}
@media only screen and (max-width:1160px){
  .workCultureType{
   .tabSel {
      width: auto;
      height: 50px;
      cursor: auto;
      padding: 0px 25px;
      font-size:14px;
  }
}
}
@media only screen and (max-width:1024px){

  .heading_bold {
    font-size: 32px;
}
}
@media only screen and (max-width:768px){
  .course_feat_info {
    .parahead{
      padding-right:0px;
    }
  }
  .heading_bold {
    font-size: 26px;
}
.bgwhite, .bggray{
  .pd80{
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.workCultureMain{
overflow-x: auto;

  .workCulturescroll{
    width: 930px;
  }
}
}
@media only screen and (max-width:480px){
  .course_feat_info{
     p{
      font-size: 14px;
      margin: 15px 0px 25px;
      line-height:$LineHeight20;
  }
  .heading_bold {
    font-size: 20px;
}
}
.workCultureMain{
   .workCulturescroll{
    width: 841px;
}
}
.workCultureType{ .tabSel {
    width: auto;
    height: 40px;
    cursor: auto;
    padding: 0px 15px;
    font-size: 14px;
}
}
.workCultureDesp{
margin-top: 0px;

}
}
