<div  class="bgwhite " [ngClass]="{ 'bggray' : endpoint!='fresher'}">
    <div class="container  pd80">

      <div class="main_wrapper">

      <div class="course_left ">
      <div class="course_feat_info fl100">
        <h3 class="heading_bold">Our Values and Work Culture </h3>
        <p class="parahead">At Study24x7, we seek to create a collaborative, action driven and learning environment. We try to be self starters, detail oriented with a very strong focus on the user.</p>
      </div>
      <div class="workCultureMain">
      <div class="workCulturescroll">
      <div class="workCultureType">
        <div class="tabSel " >Work-Life Balance</div>
        <div class="tabSel " >Experienced Guidance</div>
        <div class="tabSel " >Multidisciplinary Exposure</div>
        <div class="tabSel " >Collaborative Environment</div>
        <div class="tabSel " >Ownership</div>

      </div>
      <div class="workCultureDesp">
        <div class="imageWrapper" >
          <div class="showimages">
            <div class="imagesInner">
            <img src="assets/images/career/work-culture-1.png" />
            <div class="imgDesp">9th Annual Meet 2020, Pushkar </div>
            </div>
          </div>
          <div class="showimages">
                <div class="imagesInner">
            <img src="assets/images/career/work-culture-2.png" />
            <div class="imgDesp">Covered in Colors, Holi Celebration</div>
              </div>
          </div>
          <div class="showimages">
                <div class="imagesInner">
            <img src="assets/images/career/work-culture-3.png" />
            <div class="imgDesp">Christmas Celebration</div>
              </div>
          </div>
        </div>
      </div>
  </div>
  </div>

</div>
</div>
</div>
</div>
