/* ========================================================================== Common variables ========================================================================== */
/**
*
* DO NOT use these variables directly in components.
* Assign them to component specific variables
*
*/
/* Colors */
/* Border radius */
/* ========================================================================== Browser support ========================================================================== */
/* ========================================================================== Component specific variables ========================================================================== */
/* Typography ========================================================================== */
/* $baseFontFamily: Arial, sans-serif; */
/* $baseSpacing: $baseLineHeight+em; */
/* $baseTextColor: $black; */
/* Type Color */
/* $typeHighlight: $blue;
$typeLowlight: $lightGrey; */
/* Link ========================================================================== */
/* $linkColor: $blue;
$linkHoverColor: $lightBlue; */
/* Background ========================================================================== */
/* $bgBasic: #fff; */
/* Box ========================================================================== */
/* Contour */
/* $boxBasicBorderRadius: $borderRadiusDefault; */
/* Box foot */
/* $boxFootDivider: $blue; */
/* Divider ========================================================================== */
/* $dividerColor: $blue; */
/* List ========================================================================== */
/* $listInlineDividerBorder: $lightGrey;
$listBorder: $lightGrey; */
/* Table ========================================================================== */
/* $tableBorderColor: $blue; */
/* Form ========================================================================== */
/* $labelLeftWidth: 30%;
$formFieldBorder: 1px solid $grey;
$placeholderText: $lightGrey; */
/* Button ========================================================================== */
/* $btnDefaultBg: #ddd;
$btnDefaultBorder: $lightGrey; */
/* Template ========================================================================== */
/* $skipLinkBg: $black;
$bodyBg: #fff;
$pageWidth: 997px; */
/* header */
/* $headerBgStop1: #09456a;
$headerBgStop2: #02587e;
$contentBg: #fff;
$contentWidth: 960px; */
/* footer */
/* $footerBorder: $lightGrey; */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap");
.bgwhite { background: #fff; width: 100%; float: left; }

.bgwhite .pd80 { padding-top: 20px; padding-bottom: 90px; }

.bggray { background-color: #f5f7f9; }

.bggray .pd80 { padding-top: 70px; padding-bottom: 55px; }

.main_wrapper { width: 100%; float: left; }

.course_left { float: left; width: 100%; }

.heading_bold { font-family: "Montserrat"; font-size: 36px; color: #000000; font-weight: bold; }

.course_feat_info p { font-size: 16px; margin: 25px 0px 40px; color: #000000; line-height: 22px; }

.workCultureType { width: 100%; display: flex; justify-content: space-between; align-items: center; }

.workCultureType .tabSel { width: 220px; height: 64px; border-radius: 36px; border: solid 1px rgba(112, 112, 112, 0.3); background-color: #ffffff; color: #000000; font-size: 16px; align-items: center; display: flex; font-weight: 500; justify-content: center; cursor: auto; }

.workCultureType .tabSel.tabSelActive { border: solid 1px #f05050; color: #f05050; }

.workCultureDesp { float: left; width: 100%; margin-top: 10px; }

.workCultureDesp .imageWrapper { margin-left: -20px; width: calc(100% + 20px); }

.workCultureDesp .showimages { float: left; width: 33.33%; margin-top: 30px; padding-left: 20px; }

.workCultureDesp .showimages img { width: 100%; }

.workCultureMain { float: left; width: 100%; }

.course_feat_info .parahead { padding-right: 300px; }

@media only screen and (max-width: 1160px) { .workCultureType .tabSel { width: auto; height: 50px; cursor: auto; padding: 0px 25px; font-size: 14px; } }

@media only screen and (max-width: 1024px) { .heading_bold { font-size: 32px; } }

@media only screen and (max-width: 768px) { .course_feat_info .parahead { padding-right: 0px; }
  .heading_bold { font-size: 26px; }
  .bgwhite .pd80, .bggray .pd80 { padding-top: 40px; padding-bottom: 40px; }
  .workCultureMain { overflow-x: auto; }
  .workCultureMain .workCulturescroll { width: 930px; } }

@media only screen and (max-width: 480px) { .course_feat_info p { font-size: 14px; margin: 15px 0px 25px; line-height: 20px; }
  .course_feat_info .heading_bold { font-size: 18px; }
  .workCultureMain .workCulturescroll { width: 841px; }
  .workCultureType .tabSel { width: auto; height: 40px; cursor: auto; padding: 0px 15px; font-size: 14px; }
  .workCultureDesp { margin-top: 0px; } }
