<div  class="popup" style="position:relative;">
    <div  class=" popup_background_view">
        <div  class="select_library_outer">
            <div  class="popup_heading">
              <div class="head-tab-wrap">
                  <ul  class="clearfix" *ngIf='!chapter_details'>
                    <li (click)="libraryTabClick(1)" [ngClass]="{'active':libraryTabContent === 1}"><span>Chapter</span></li>
                    <li (click)="libraryTabClick(2)" [ngClass]="{'active':libraryTabContent === 2}"><span>Pdf</span></li>
                    <li (click)="libraryTabClick(3)" [ngClass]="{'active':libraryTabContent === 3}"><span>Video</span></li>
                    <li (click)="libraryTabClick(4)" [ngClass]="{'active':libraryTabContent === 4}"><span>Quiz</span></li>
                  </ul>
                  <ul class="chapter_name" *ngIf='chapter_details'> <li>
                    <i class="back_arrow" (click)="show_chapter_back()"><img src="assets/images/svg/left-arrow-w-t.svg"></i>
                    <span>
                    Mobile App Design: From Sketches to Interactive Prototy </span></li></ul>
                  <span  class="close_div" (click)="library_popup_hide()">
                      <img  class="defaultt" src="assets/images/svg/tagcross.svg">
                      <img  class="hoverr" src="assets/images/svg/tagcross-gray.svg">
                  </span>
                </div>

            </div>

            <div  class="col-md-12">
                <div  class="row">


                    <div  class="library_outer" *ngIf='!chapter_details'>
  <!-- chapter section start-->
                        <div class="" *ngIf="libraryTabContent === 1">
                         <div class="tab_cont_main" >
                           <ul class="tab_cont_ul">
                             <li (click)="chaptershow()">
                               <div class="tab_cont_div">
                               <div class="chapter_image">
                                 <img src="assets/images/chapter1.png">
                               </div>
                               <div class="chapter_desp">
                                 <p>Search Advertising & AdWords Tools</p>
                                 <span>Publish on 24 Oct. 2015</span>
                               </div>
                             </div>
                             </li>
                             <li>
                                  <div class="tab_cont_div">
                               <div class="chapter_image">
                                 <img src="assets/images/chapter2.png">
                               </div>
                               <div class="chapter_desp">
                                 <p>Introduction to Big Data Analytics</p>
                                 <span>Publish on 02 Feb. 2017</span>
                               </div>
                                 </div>
                             </li>
                             <li>
                                  <div class="tab_cont_div">
                               <div class="chapter_image">
                                 <img src="assets/images/chapter3.png">
                               </div>
                               <div class="chapter_desp">
                                 <p>Advance Optimisation/Marketing Techniques & Strategies</p>
                                 <span>Publish on 29 Oct. 2013</span>
                               </div>
                                 </div>
                             </li>
                             <li>
                                  <div class="tab_cont_div">
                               <div class="chapter_image">
                                 <img src="assets/images/chapter1.png">
                               </div>
                               <div class="chapter_desp">
                                 <p>Search Advertising & AdWords Tools</p>
                                 <span>Publish on 24 Oct. 2015</span>
                               </div>
                                 </div>
                             </li>
                             <li>
                                  <div class="tab_cont_div">
                               <div class="chapter_image">
                                 <img src="assets/images/chapter2.png">
                               </div>
                               <div class="chapter_desp">
                                 <p>Introduction to Big Data Analytics</p>
                                 <span>Publish on 02 Feb. 2017</span>
                               </div>
                                 </div>
                             </li>
                             <li>
                                  <div class="tab_cont_div">
                               <div class="chapter_image">
                                 <img src="assets/images/chapter3.png">
                               </div>
                               <div class="chapter_desp">
                                 <p>Advance Optimisation/Marketing Techniques & Strategies</p>
                                 <span>Publish on 29 Oct. 2013</span>
                               </div>
                                 </div>
                             </li>
                             <li>
                                  <div class="tab_cont_div">
                               <div class="chapter_image">
                                 <img src="assets/images/chapter1.png">
                               </div>
                               <div class="chapter_desp">
                                 <p>Search Advertising & AdWords Tools</p>
                                 <span>Publish on 24 Oct. 2015</span>
                               </div>
                                 </div>
                             </li>
                             <li>
                                  <div class="tab_cont_div">
                               <div class="chapter_image">
                                 <img src="assets/images/chapter2.png">
                               </div>
                               <div class="chapter_desp">
                                 <p>Introduction to Big Data Analytics</p>
                                 <span>Publish on 02 Feb. 2017</span>
                               </div>
                              </div>
                             </li>
                             <li>
                                  <div class="tab_cont_div">
                               <div class="chapter_image">
                                 <img src="assets/images/chapter3.png">
                               </div>
                               <div class="chapter_desp">
                                 <p>Advance Optimisation/Marketing Techniques & Strategies</p>
                                 <span>Publish on 29 Oct. 2013</span>
                               </div>
                              </div>
                             </li>
                             <li>
                              <div class="tab_cont_div">
                               <div class="chapter_image">
                                 <img src="assets/images/chapter1.png">
                               </div>
                               <div class="chapter_desp">
                                 <p>Search Advertising & AdWords Tools</p>
                                 <span>Publish on 24 Oct. 2015</span>
                               </div>
                              </div>
                             </li>
                             <li>
                              <div class="tab_cont_div">
                               <div class="chapter_image">
                                 <img src="assets/images/chapter2.png">
                               </div>
                               <div class="chapter_desp">
                                 <p>Introduction to Big Data Analytics</p>
                                 <span>Publish on 02 Feb. 2017</span>
                               </div>
                                </div>
                             </li>
                             <li>
                              <div class="tab_cont_div">
                               <div class="chapter_image">
                                 <img src="assets/images/chapter3.png">
                               </div>
                               <div class="chapter_desp">
                                 <p>Advance Optimisation/Marketing Techniques & Strategies</p>
                                 <span>Publish on 29 Oct. 2013</span>
                               </div>
                                </div>
                             </li>

                           </ul>
                         </div>
                        </div>
  <!-- chapter section end-->
  <!-- pdf section start-->
                        <div *ngIf="libraryTabContent === 2">
                          <div class="post-inner">
                          <div class="col-md-7 no_pa_lr">
                            <div class="tab_cont_main tab_cont_pdf" >
                              <ul class="tab_cont_ul ">
                                <li >
                                  <input class="librarycheckbox" id="adoption1" type="checkbox">
                                  <label  class="list_opt" for="adoption1">
                                  <span class="checkbox_btn">
                                  <img  class="checkboximg" src="assets/images/svg-one/checkbox-white.svg">
                                </span>

                                  <div class="tab_cont_div">
                                  <div class="chapter_image">
                                  <img src="assets/images/svg/file.svg" alt="study24x7">
                                  </div>
                                  <div class="chapter_desp">
                                    <p>1 : Search Advertising & AdWords Tools</p>
                                  </div>
                                </div>
                                </label>
                                </li>
                                <li>
                                  <input class="librarycheckbox" id="adoption2" type="checkbox">
                                  <label  class="list_opt" for="adoption2">
                                  <span class="checkbox_btn">
                                  <img  class="checkboximg" src="assets/images/svg-one/checkbox-white.svg">
                                </span>

                                  <div class="tab_cont_div">
                                  <div class="chapter_image">
                                  <img src="assets/images/svg/file.svg" alt="study24x7">
                                  </div>
                                  <div class="chapter_desp">
                                    <p>1 : Search Advertising & AdWords Tools</p>
                                  </div>
                                </div>
                                </label>
                                </li>
                                <li>
                                  <input class="librarycheckbox" id="adoption3" type="checkbox">
                                  <label  class="list_opt" for="adoption3">
                                  <span class="checkbox_btn">
                                  <img  class="checkboximg" src="assets/images/svg-one/checkbox-white.svg">
                                </span>

                                  <div class="tab_cont_div">
                                  <div class="chapter_image">
                                  <img src="assets/images/svg/file.svg" alt="study24x7">
                                  </div>
                                  <div class="chapter_desp">
                                    <p>1 : Search Advertising & AdWords Tools</p>
                                  </div>
                                </div>
                                </label>
                                </li>
                                <li>
                                  <input class="librarycheckbox" id="adoption4" type="checkbox">
                                  <label  class="list_opt" for="adoption4">
                                  <span class="checkbox_btn">
                                  <img  class="checkboximg" src="assets/images/svg-one/checkbox-white.svg">
                                </span>

                                  <div class="tab_cont_div">
                                  <div class="chapter_image">
                                  <img src="assets/images/svg/file.svg" alt="study24x7">
                                  </div>
                                  <div class="chapter_desp">
                                    <p>1 : Search Advertising & AdWords Tools</p>
                                  </div>
                                </div>
                                </label>
                                </li>
                                <li>
                                  <input class="librarycheckbox" id="adoption5" type="checkbox">
                                  <label  class="list_opt" for="adoption5">
                                  <span class="checkbox_btn">
                                  <img  class="checkboximg" src="assets/images/svg-one/checkbox-white.svg">
                                </span>

                                  <div class="tab_cont_div">
                                  <div class="chapter_image">
                                  <img src="assets/images/svg/file.svg" alt="study24x7">
                                  </div>
                                  <div class="chapter_desp">
                                    <p>1 : Search Advertising & AdWords Tools</p>
                                  </div>
                                </div>
                                </label>
                                </li>
                                <li>
                                  <input class="librarycheckbox" id="adoption6" type="checkbox">
                                  <label  class="list_opt" for="adoption6">
                                  <span class="checkbox_btn">
                                  <img  class="checkboximg" src="assets/images/svg-one/checkbox-white.svg">
                                </span>

                                  <div class="tab_cont_div">
                                  <div class="chapter_image">
                                  <img src="assets/images/svg/file.svg" alt="study24x7">
                                  </div>
                                  <div class="chapter_desp">
                                    <p>1 : Search Advertising & AdWords Tools</p>
                                  </div>
                                </div>
                                </label>
                                </li>
                                <li>
                                  <input class="librarycheckbox" id="adoption7" type="checkbox">
                                  <label  class="list_opt" for="adoption7">
                                  <span class="checkbox_btn">
                                  <img  class="checkboximg" src="assets/images/svg-one/checkbox-white.svg">
                                </span>

                                  <div class="tab_cont_div">
                                  <div class="chapter_image">
                                  <img src="assets/images/svg/file.svg" alt="study24x7">
                                  </div>
                                  <div class="chapter_desp">
                                    <p>1 : Search Advertising & AdWords Tools</p>
                                  </div>
                                </div>
                                </label>
                                </li>
                                <li>
                                  <input class="librarycheckbox" id="adoption8" type="checkbox">
                                  <label  class="list_opt" for="adoption8">
                                  <span class="checkbox_btn">
                                  <img  class="checkboximg" src="assets/images/svg-one/checkbox-white.svg">
                                </span>

                                  <div class="tab_cont_div">
                                  <div class="chapter_image">
                                  <img src="assets/images/svg/file.svg" alt="study24x7">
                                  </div>
                                  <div class="chapter_desp">
                                    <p>1 : Search Advertising & AdWords Tools</p>
                                  </div>
                                </div>
                                </label>
                                </li>
                                <li>
                                  <input class="librarycheckbox" id="adoption9" type="checkbox">
                                  <label  class="list_opt" for="adoption9">
                                  <span class="checkbox_btn">
                                  <img  class="checkboximg" src="assets/images/svg-one/checkbox-white.svg">
                                </span>

                                  <div class="tab_cont_div">
                                  <div class="chapter_image">
                                  <img src="assets/images/svg/file.svg" alt="study24x7">
                                  </div>
                                  <div class="chapter_desp">
                                    <p>1 : Search Advertising & AdWords Tools</p>
                                  </div>
                                </div>
                                </label>
                                </li>
                                <li>
                                  <input class="librarycheckbox" id="adoption10" type="checkbox">
                                  <label  class="list_opt" for="adoption10">
                                  <span class="checkbox_btn">
                                  <img  class="checkboximg" src="assets/images/svg-one/checkbox-white.svg">
                                </span>

                                  <div class="tab_cont_div">
                                  <div class="chapter_image">
                                  <img src="assets/images/svg/file.svg" alt="study24x7">
                                  </div>
                                  <div class="chapter_desp">
                                    <p>1 : Search Advertising & AdWords Tools</p>
                                  </div>
                                </div>
                                </label>
                                </li>
                                <li>
                                  <input class="librarycheckbox" id="adoption11" type="checkbox">
                                  <label  class="list_opt" for="adoption11">
                                  <span class="checkbox_btn">
                                  <img  class="checkboximg" src="assets/images/svg-one/checkbox-white.svg">
                                </span>

                                  <div class="tab_cont_div">
                                  <div class="chapter_image">
                                  <img src="assets/images/svg/file.svg" alt="study24x7">
                                  </div>
                                  <div class="chapter_desp">
                                    <p>1 : Search Advertising & AdWords Tools</p>
                                  </div>
                                </div>
                                </label>
                                </li>
                                <li>
                                  <input class="librarycheckbox" id="adoption12" type="checkbox">
                                  <label  class="list_opt" for="adoption12">
                                  <span class="checkbox_btn">
                                  <img  class="checkboximg" src="assets/images/svg-one/checkbox-white.svg">
                                </span>

                                  <div class="tab_cont_div">
                                  <div class="chapter_image">
                                  <img src="assets/images/svg/file.svg" alt="study24x7">
                                  </div>
                                  <div class="chapter_desp">
                                    <p>1 : Search Advertising & AdWords Tools</p>
                                  </div>
                                </div>
                                </label>
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="col-md-5 no_pa_lr">
                            <div class="col-md-12 popup-heading-down-right no_pa_lr">
                            <div class="item_sel_count">Selected Items
                              <span class="total_count_add"> <span class="count_selected">2 / </span>  10
                              </span>
                            </div>
                          </div>
                              <div class="post-inner-right tab_cont_pdf tab_cont_main" >
                                <ul class=" tab_cont_ul">
                                  <li >
                                    <div class="tab_cont_div">
                                    <div class="chapter_image">
                                    <img alt="study24x7" src="assets/images/svg/file.svg">
                                    </div>
                                    <div class="chapter_desp">
                                      <p>1 : Search Advertising &amp; AdWords Tools</p>
                                      <span class="dustbin"><img src="assets/images/svg/dustbindrop.svg" ></span>
                                    </div>

                                  </div>

                                  </li>
                                  <li>
                                    <div class="tab_cont_div">
                                    <div class="chapter_image">
                                    <img alt="study24x7" src="assets/images/svg/file.svg">
                                    </div>
                                    <div class="chapter_desp">
                                      <p>1 : Search Advertising &amp; AdWords Tools</p>
                                      <span class="dustbin"><img src="assets/images/svg/dustbindrop.svg" ></span>
                                    </div>

                                  </div>

                                  </li>
                                  <li>
                                    <div class="tab_cont_div">
                                    <div class="chapter_image">
                                    <img alt="study24x7" src="assets/images/svg/file.svg">
                                    </div>
                                    <div class="chapter_desp">
                                      <p>1 : Search Advertising &amp; AdWords Tools</p>
                                      <span class="dustbin"><img src="assets/images/svg/dustbindrop.svg" ></span>
                                    </div>

                                  </div>

                                  </li>
                                  <li>
                                    <div class="tab_cont_div">
                                    <div class="chapter_image">
                                    <img alt="study24x7" src="assets/images/svg/file.svg">
                                    </div>
                                    <div class="chapter_desp">
                                      <p>1 : Search Advertising &amp; AdWords Tools</p>
                                      <span class="dustbin"><img src="assets/images/svg/dustbindrop.svg" ></span>
                                    </div>

                                  </div>

                                  </li>
                                  <li>
                                    <div class="tab_cont_div">
                                    <div class="chapter_image">
                                    <img alt="study24x7" src="assets/images/svg/file.svg">
                                    </div>
                                    <div class="chapter_desp">
                                      <p>1 : Search Advertising &amp; AdWords Tools</p>
                                      <span class="dustbin"><img src="assets/images/svg/dustbindrop.svg" ></span>
                                    </div>

                                  </div>

                                  </li>
                                  <li>
                                    <div class="tab_cont_div">
                                    <div class="chapter_image">
                                    <img alt="study24x7" src="assets/images/svg/file.svg">
                                    </div>
                                    <div class="chapter_desp">
                                      <p>1 : Search Advertising &amp; AdWords Tools</p>
                                      <span class="dustbin"><img src="assets/images/svg/dustbindrop.svg" ></span>
                                    </div>

                                  </div>

                                  </li>
                                  <li>
                                    <div class="tab_cont_div">
                                    <div class="chapter_image">
                                    <img alt="study24x7" src="assets/images/svg/file.svg">
                                    </div>
                                    <div class="chapter_desp">
                                      <p>1 : Search Advertising &amp; AdWords Tools</p>
                                      <span class="dustbin"><img src="assets/images/svg/dustbindrop.svg" ></span>
                                    </div>

                                  </div>

                                  </li>
                                  <li>
                                    <div class="tab_cont_div">
                                    <div class="chapter_image">
                                    <img alt="study24x7" src="assets/images/svg/file.svg">
                                    </div>
                                    <div class="chapter_desp">
                                      <p>1 : Search Advertising &amp; AdWords Tools</p>
                                      <span class="dustbin"><img src="assets/images/svg/dustbindrop.svg" ></span>
                                    </div>

                                  </div>

                                  </li>
                                  <li>
                                    <div class="tab_cont_div">
                                    <div class="chapter_image">
                                    <img alt="study24x7" src="assets/images/svg/file.svg">
                                    </div>
                                    <div class="chapter_desp">
                                      <p>1 : Search Advertising &amp; AdWords Tools</p>
                                      <span class="dustbin"><img src="assets/images/svg/dustbindrop.svg" ></span>
                                    </div>

                                  </div>

                                  </li>
                                  <li>
                                    <div class="tab_cont_div">
                                    <div class="chapter_image">
                                    <img alt="study24x7" src="assets/images/svg/file.svg">
                                    </div>
                                    <div class="chapter_desp">
                                      <p>1 : Search Advertising &amp; AdWords Tools</p>
                                      <span class="dustbin"><img src="assets/images/svg/dustbindrop.svg" ></span>
                                    </div>

                                  </div>

                                  </li>
                                  <li>
                                    <div class="tab_cont_div">
                                    <div class="chapter_image">
                                    <img alt="study24x7" src="assets/images/svg/file.svg">
                                    </div>
                                    <div class="chapter_desp">
                                      <p>1 : Search Advertising &amp; AdWords Tools</p>
                                      <span class="dustbin"><img src="assets/images/svg/dustbindrop.svg" ></span>
                                    </div>

                                  </div>

                                  </li>

                                </ul>
                              </div>
                          </div>
                        </div>




                        </div>

  <!-- pdf section end-->

                        <div *ngIf="libraryTabContent === 3">video Here</div>
                        <div *ngIf="libraryTabContent === 4">quiz Here</div>


                    </div>


                      <div  class="library_outer" *ngIf="chapter_details">
                        <div class="post-inner post-inner-chapter-details">
                        <div class="col-md-7 no_pa_lr">
                          <div class="col-md-12 popup-heading-down-left no_pa_lr">

                            <div class="dropdown select_lecture">
                                  <label class="btn btn-drop  dropdown-toggle" type="button" data-toggle="dropdown">Lecture &nbsp;
                                  <span class="caret"></span></label>
                                  <ul class="dropdown-menu">
                                    <li><a href="#">Lecture</a></li>
                                    <li><a href="#">Lecture</a></li>
                                    <li><a href="#">Lecture</a></li>
                                  </ul>
                           </div>

                         </div>
                          <div class="tab_cont_main tab_cont_pdf" >
                            <div class="chapter_list_head" >
                              <input class="librarycheckbox" id="adoption101" type="checkbox">
                              <label  class="list_opt" for="adoption101">
                              <span class="checkbox_btn">
                              <img  class="checkboximg" src="assets/images/svg-one/checkbox-white.svg">
                            </span></label>
                               <h6 class="panel-title title-post" data-toggle="collapse" href="#collapse1">

                                 <a >LESSON 1: WELCOME AND INTRODUCTION</a>
                                   <span class="glyphicon glyphicon-menu-up gly-icon" aria-hidden="true"></span>
                                   <i class="glyphicon glyphicon-menu-down" aria-hidden="true"></i>
                                 <div class="clearfix"></div>
                               </h6>
                             </div>
                             <div id="collapse1" class="panel-collapse collapse in">
                            <ul class="tab_cont_ul ">
                              <li>
                                <input class="librarycheckbox" id="adoption1" type="checkbox">
                                <label  class="list_opt" for="adoption1">
                                <span class="checkbox_btn">
                                <img  class="checkboximg" src="assets/images/svg-one/checkbox-white.svg">
                              </span>

                                <div class="tab_cont_div">
                                <div class="chapter_image">
                                <img src="assets/images/svg/file.svg" alt="study24x7">
                                </div>
                                <div class="chapter_desp">
                                  <p>1 : Search Advertising & AdWords Tools</p>
                                </div>
                              </div>
                              </label>
                              </li>
                              <li>
                                <input class="librarycheckbox" id="adoption2" type="checkbox">
                                <label  class="list_opt" for="adoption2">
                                <span class="checkbox_btn">
                                <img  class="checkboximg" src="assets/images/svg-one/checkbox-white.svg">
                              </span>

                                <div class="tab_cont_div">
                                <div class="chapter_image">
                                <img src="assets/images/svg/file.svg" alt="study24x7">
                                </div>
                                <div class="chapter_desp">
                                  <p>1 : Search Advertising & AdWords Tools</p>
                                </div>
                              </div>
                              </label>
                              </li>
                              <li>
                                <input class="librarycheckbox" id="adoption3" type="checkbox">
                                <label  class="list_opt" for="adoption3">
                                <span class="checkbox_btn">
                                <img  class="checkboximg" src="assets/images/svg-one/checkbox-white.svg">
                              </span>

                                <div class="tab_cont_div">
                                <div class="chapter_image">
                                <img src="assets/images/svg/file.svg" alt="study24x7">
                                </div>
                                <div class="chapter_desp">
                                  <p>1 : Search Advertising & AdWords Tools</p>
                                </div>
                              </div>
                              </label>
                              </li>
                              <li>
                                <input class="librarycheckbox" id="adoption4" type="checkbox">
                                <label  class="list_opt" for="adoption4">
                                <span class="checkbox_btn">
                                <img  class="checkboximg" src="assets/images/svg-one/checkbox-white.svg">
                              </span>

                                <div class="tab_cont_div">
                                <div class="chapter_image">
                                <img src="assets/images/svg/file.svg" alt="study24x7">
                                </div>
                                <div class="chapter_desp">
                                  <p>1 : Search Advertising & AdWords Tools</p>
                                </div>
                              </div>
                              </label>
                              </li>
                              <li>
                                <input class="librarycheckbox" id="adoption5" type="checkbox">
                                <label  class="list_opt" for="adoption5">
                                <span class="checkbox_btn">
                                <img  class="checkboximg" src="assets/images/svg-one/checkbox-white.svg">
                              </span>

                                <div class="tab_cont_div">
                                <div class="chapter_image">
                                <img src="assets/images/svg/file.svg" alt="study24x7">
                                </div>
                                <div class="chapter_desp">
                                  <p>1 : Search Advertising & AdWords Tools</p>
                                </div>
                              </div>
                              </label>
                              </li>
                              <li>
                                <input class="librarycheckbox" id="adoption6" type="checkbox">
                                <label  class="list_opt" for="adoption6">
                                <span class="checkbox_btn">
                                <img  class="checkboximg" src="assets/images/svg-one/checkbox-white.svg">
                              </span>

                                <div class="tab_cont_div">
                                <div class="chapter_image">
                                <img src="assets/images/svg/file.svg" alt="study24x7">
                                </div>
                                <div class="chapter_desp">
                                  <p>1 : Search Advertising & AdWords Tools</p>
                                </div>
                              </div>
                              </label>
                              </li>
                              <li>
                                <input class="librarycheckbox" id="adoption7" type="checkbox">
                                <label  class="list_opt" for="adoption7">
                                <span class="checkbox_btn">
                                <img  class="checkboximg" src="assets/images/svg-one/checkbox-white.svg">
                              </span>

                                <div class="tab_cont_div">
                                <div class="chapter_image">
                                <img src="assets/images/svg/file.svg" alt="study24x7">
                                </div>
                                <div class="chapter_desp">
                                  <p>1 : Search Advertising & AdWords Tools</p>
                                </div>
                              </div>
                              </label>
                              </li>
                              <li>
                                <input class="librarycheckbox" id="adoption8" type="checkbox">
                                <label  class="list_opt" for="adoption8">
                                <span class="checkbox_btn">
                                <img  class="checkboximg" src="assets/images/svg-one/checkbox-white.svg">
                              </span>

                                <div class="tab_cont_div">
                                <div class="chapter_image">
                                <img src="assets/images/svg/file.svg" alt="study24x7">
                                </div>
                                <div class="chapter_desp">
                                  <p>1 : Search Advertising & AdWords Tools</p>
                                </div>
                              </div>
                              </label>
                              </li>
                              <li>
                                <input class="librarycheckbox" id="adoption9" type="checkbox">
                                <label  class="list_opt" for="adoption9">
                                <span class="checkbox_btn">
                                <img  class="checkboximg" src="assets/images/svg-one/checkbox-white.svg">
                              </span>

                                <div class="tab_cont_div">
                                <div class="chapter_image">
                                <img src="assets/images/svg/file.svg" alt="study24x7">
                                </div>
                                <div class="chapter_desp">
                                  <p>1 : Search Advertising & AdWords Tools</p>
                                </div>
                              </div>
                              </label>
                              </li>
                              <li>
                                <input class="librarycheckbox" id="adoption10" type="checkbox">
                                <label  class="list_opt" for="adoption10">
                                <span class="checkbox_btn">
                                <img  class="checkboximg" src="assets/images/svg-one/checkbox-white.svg">
                              </span>

                                <div class="tab_cont_div">
                                <div class="chapter_image">
                                <img src="assets/images/svg/file.svg" alt="study24x7">
                                </div>
                                <div class="chapter_desp">
                                  <p>1 : Search Advertising & AdWords Tools</p>
                                </div>
                              </div>
                              </label>
                              </li>
                              <li>
                                <input class="librarycheckbox" id="adoption11" type="checkbox">
                                <label  class="list_opt" for="adoption11">
                                <span class="checkbox_btn">
                                <img  class="checkboximg" src="assets/images/svg-one/checkbox-white.svg">
                              </span>

                                <div class="tab_cont_div">
                                <div class="chapter_image">
                                <img src="assets/images/svg/file.svg" alt="study24x7">
                                </div>
                                <div class="chapter_desp">
                                  <p>1 : Search Advertising & AdWords Tools</p>
                                </div>
                              </div>
                              </label>
                              </li>
                              <li>
                                <input class="librarycheckbox" id="adoption12" type="checkbox">
                                <label  class="list_opt" for="adoption12">
                                <span class="checkbox_btn">
                                <img  class="checkboximg" src="assets/images/svg-one/checkbox-white.svg">
                              </span>

                                <div class="tab_cont_div">
                                <div class="chapter_image">
                                <img src="assets/images/svg/file.svg" alt="study24x7">
                                </div>
                                <div class="chapter_desp">
                                  <p>1 : Search Advertising & AdWords Tools</p>
                                </div>
                              </div>
                              </label>
                              </li>
                            </ul>
                          </div>


                          <div class="chapter_list_head">
                                <span class="check-heading">
                                  <input class="librarycheckbox" id="adoption110" type="checkbox">
                                  <label  class="list_opt" for="adoption110">
                                  <span class="checkbox_btn">
                                  <img  class="checkboximg" src="assets/images/svg-one/checkbox-white.svg">
                                </span></label>
                                </span>

                                <h6 class="panel-title title-post"  data-toggle="collapse" href="#collapse2">

                                     <a>LESSON 1: WELCOME AND INTRODUCTION</a>
                                    <span class="glyphicon glyphicon-menu-up gly-icon" aria-hidden="true"></span>
                                    <i class="glyphicon glyphicon-menu-down" aria-hidden="true"></i>
                                  <div class="clearfix"></div>
                                </h6>
                              </div>





                           <div id="collapse2" class="panel-collapse collapse in">
                             <ul class="tab_cont_ul ">
                               <li>
                                 <input class="librarycheckbox" id="adoption101" type="checkbox">
                                 <label  class="list_opt" for="adoption101">
                                 <span class="checkbox_btn">
                                 <img  class="checkboximg" src="assets/images/svg-one/checkbox-white.svg">
                               </span>

                                 <div class="tab_cont_div">
                                 <div class="chapter_image">
                                 <img src="assets/images/svg/file.svg" alt="study24x7">
                                 </div>
                                 <div class="chapter_desp">
                                   <p>1 : Search Advertising & AdWords Tools</p>
                                 </div>
                               </div>
                               </label>
                               </li>
                               <li>
                                 <input class="librarycheckbox" id="adoption111" type="checkbox">
                                 <label  class="list_opt" for="adoption111">
                                 <span class="checkbox_btn">
                                 <img  class="checkboximg" src="assets/images/svg-one/checkbox-white.svg">
                               </span>

                                 <div class="tab_cont_div">
                                 <div class="chapter_image">
                                 <img src="assets/images/svg/file.svg" alt="study24x7">
                                 </div>
                                 <div class="chapter_desp">
                                   <p>1 : Search Advertising & AdWords Tools</p>
                                 </div>
                               </div>
                               </label>
                               </li>
                               <li>
                                 <input class="librarycheckbox" id="adoption112" type="checkbox">
                                 <label  class="list_opt" for="adoption112">
                                 <span class="checkbox_btn">
                                 <img  class="checkboximg" src="assets/images/svg-one/checkbox-white.svg">
                               </span>

                                 <div class="tab_cont_div">
                                 <div class="chapter_image">
                                 <img src="assets/images/svg/file.svg" alt="study24x7">
                                 </div>
                                 <div class="chapter_desp">
                                   <p>1 : Search Advertising & AdWords Tools</p>
                                 </div>
                               </div>
                               </label>
                               </li>
                             </ul>
                           </div>
                          </div>
                        </div>
                        <div class="col-md-5 no_pa_lr">
                          <div class="col-md-12 popup-heading-down-right no_pa_lr">
                          <div class="item_sel_count">Selected Items
                            <span class="total_count_add"> <span class="count_selected">2 / </span>  10
                            </span>
                          </div>
                        </div>
                            <div class="post-inner-right tab_cont_pdf tab_cont_main" >
                              <ul class=" tab_cont_ul">
                                <li>
                                  <div class="tab_cont_div">
                                  <div class="chapter_image">
                                  <img alt="study24x7" src="assets/images/svg/file.svg">
                                  </div>
                                  <div class="chapter_desp">
                                    <p>1 : Search Advertising &amp; AdWords Tools</p>
                                    <span class="dustbin"><img src="assets/images/svg/dustbindrop.svg" ></span>
                                  </div>

                                </div>

                                </li>
                                <li>
                                  <div class="tab_cont_div">
                                  <div class="chapter_image">
                                  <img alt="study24x7" src="assets/images/svg/file.svg">
                                  </div>
                                  <div class="chapter_desp">
                                    <p>1 : Search Advertising &amp; AdWords Tools</p>
                                    <span class="dustbin"><img src="assets/images/svg/dustbindrop.svg" ></span>
                                  </div>

                                </div>

                                </li>
                                <li>
                                  <div class="tab_cont_div">
                                  <div class="chapter_image">
                                  <img alt="study24x7" src="assets/images/svg/file.svg">
                                  </div>
                                  <div class="chapter_desp">
                                    <p>1 : Search Advertising &amp; AdWords Tools</p>
                                    <span class="dustbin"><img src="assets/images/svg/dustbindrop.svg" ></span>
                                  </div>

                                </div>

                                </li>
                                <li>
                                  <div class="tab_cont_div">
                                  <div class="chapter_image">
                                  <img alt="study24x7" src="assets/images/svg/file.svg">
                                  </div>
                                  <div class="chapter_desp">
                                    <p>1 : Search Advertising &amp; AdWords Tools</p>
                                    <span class="dustbin"><img src="assets/images/svg/dustbindrop.svg" ></span>
                                  </div>

                                </div>

                                </li>
                                <li>
                                  <div class="tab_cont_div">
                                  <div class="chapter_image">
                                  <img alt="study24x7" src="assets/images/svg/file.svg">
                                  </div>
                                  <div class="chapter_desp">
                                    <p>1 : Search Advertising &amp; AdWords Tools</p>
                                    <span class="dustbin"><img src="assets/images/svg/dustbindrop.svg" ></span>
                                  </div>

                                </div>

                                </li>
                                <li>
                                  <div class="tab_cont_div">
                                  <div class="chapter_image">
                                  <img alt="study24x7" src="assets/images/svg/file.svg">
                                  </div>
                                  <div class="chapter_desp">
                                    <p>1 : Search Advertising &amp; AdWords Tools</p>
                                    <span class="dustbin"><img src="assets/images/svg/dustbindrop.svg" ></span>
                                  </div>

                                </div>

                                </li>
                                <li>
                                  <div class="tab_cont_div">
                                  <div class="chapter_image">
                                  <img alt="study24x7" src="assets/images/svg/file.svg">
                                  </div>
                                  <div class="chapter_desp">
                                    <p>1 : Search Advertising &amp; AdWords Tools</p>
                                    <span class="dustbin"><img src="assets/images/svg/dustbindrop.svg" ></span>
                                  </div>

                                </div>

                                </li>
                                <li>
                                  <div class="tab_cont_div">
                                  <div class="chapter_image">
                                  <img alt="study24x7" src="assets/images/svg/file.svg">
                                  </div>
                                  <div class="chapter_desp">
                                    <p>1 : Search Advertising &amp; AdWords Tools</p>
                                    <span class="dustbin"><img src="assets/images/svg/dustbindrop.svg" ></span>
                                  </div>

                                </div>

                                </li>
                                <li>
                                  <div class="tab_cont_div">
                                  <div class="chapter_image">
                                  <img alt="study24x7" src="assets/images/svg/file.svg">
                                  </div>
                                  <div class="chapter_desp">
                                    <p>1 : Search Advertising &amp; AdWords Tools</p>
                                    <span class="dustbin"><img src="assets/images/svg/dustbindrop.svg" ></span>
                                  </div>

                                </div>

                                </li>
                                <li>
                                  <div class="tab_cont_div">
                                  <div class="chapter_image">
                                  <img alt="study24x7" src="assets/images/svg/file.svg">
                                  </div>
                                  <div class="chapter_desp">
                                    <p>1 : Search Advertising &amp; AdWords Tools</p>
                                    <span class="dustbin"><img src="assets/images/svg/dustbindrop.svg" ></span>
                                  </div>

                                </div>

                                </li>
                                <li>
                                  <div class="tab_cont_div">
                                  <div class="chapter_image">
                                  <img alt="study24x7" src="assets/images/svg/file.svg">
                                  </div>
                                  <div class="chapter_desp">
                                    <p>1 : Search Advertising &amp; AdWords Tools</p>
                                    <span class="dustbin"><img src="assets/images/svg/dustbindrop.svg" ></span>
                                  </div>

                                </div>

                                </li>

                              </ul>
                            </div>
                            <div class='postsave'>
    <button  type="submit" class="confirm_btn popup_btn btn btn-primary" >Import</button>
    <button (click)="library_popup_hide()" class="cancel_btn popup_btn"  >Cancel</button>
</div>
                        </div>
                      </div>
                      </div>


                </div>
            </div>
              </div>

        </div>
    </div>
