.select_library_outer {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 980px;
  height: 550px;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, -50%);
  background: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
}

.select_library_outer .popup_heading {
  border-radius: 5px 5px 0px 0px;
  border-bottom: 0px solid rgba(223, 224, 232, 0.15);
}

.head-tab-wrap ul {
  border-radius: 5px 5px 0 0;
  background-color: #f5f7fa;
  padding: 0px;
  width: 90%;
  display: inline-block;
}

.head-tab-wrap ul li {
  float: left;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  padding: 16px 30px;
  height: auto;
  font-weight: 500;
  margin-right: 10px;
}

.head-tab-wrap ul li span {
  display: block;
  line-height: 1;
  color: #2c2e2f;
  font-weight: 500;
  font-size: 16px;
}

.head-tab-wrap ul li.active {
  border-bottom: 2px solid #F05050;
}

.head-tab-wrap .chapter_name li {
  padding: 16px 0px;
  width: 100%;
}

.head-tab-wrap .chapter_name li .back_arrow {
  float: left;
  width: 36px;
  height: 15px;
}

.head-tab-wrap .chapter_name li .back_arrow img {
  width: 20px;
  float: left;
}

.library_outer {
  height: 495px;
  display: inline-block;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.tab_cont_main {
  height: 495px;
  display: inline-block;
  width: 100%;
}

.tab_cont_ul {
  width: 100%;
  float: left;
}

.tab_cont_ul li {
  width: 100%;
  padding: 15px 15px 0px 15px;
  float: left;
}

.tab_cont_ul li .tab_cont_div {
  cursor: pointart;
  padding-bottom: 15px;
  border-bottom: 1px solid #dfe0e8;
  float: left;
  width: 100%;
}

.tab_cont_ul li .tab_cont_div .chapter_image {
  float: left;
  width: 95px;
}

.tab_cont_ul li .tab_cont_div .chapter_image img {
  width: 75px;
  height: 45px;
  border-radius: 5px;
}

.tab_cont_ul li .tab_cont_div .chapter_desp {
  float: left;
  width: 88%;
}

.tab_cont_ul li .tab_cont_div .chapter_desp p {
  width: 100%;
  font-size: 16px;
  color: rgba(44, 46, 47, 0.9);
  font-weight: 500;
  margin-bottom: 5px;
}

.tab_cont_ul li .tab_cont_div .chapter_desp span {
  width: 100%;
  color: rgba(44, 46, 47, 0.4);
  font-size: 12px;
}

.tab_cont_ul li:last-child .tab_cont_div {
  border-bottom: 1px solid transparent;
}

.tab_cont_ul li:hover {
  background-color: #f5f7fa;
}

.no_pa_lr {
  padding: 0px;
}

.tab_cont_pdf {
  height: 440px;
}

.tab_cont_pdf .tab_cont_ul li .tab_cont_div {
  width: 95%;
  border-bottom: 0;
  padding-bottom: 0px;
}

.tab_cont_pdf .tab_cont_ul li .tab_cont_div .chapter_image {
  width: 50px;
  padding-left: 15px;
}

.tab_cont_pdf .tab_cont_ul li .tab_cont_div .chapter_image img {
  width: 18px;
  height: auto;
  border-radius: 0px;
}

.tab_cont_pdf .tab_cont_ul li .tab_cont_div .chapter_desp {
  width: 90%;
  border-bottom: 1px solid #dfe0e8;
  padding-bottom: 15px;
}

.tab_cont_pdf .tab_cont_ul li .tab_cont_div .chapter_desp p {
  line-height: 20px;
  font-size: 14px;
  color: rgba(44, 46, 47, 0.65);
  margin-bottom: 0px;
}

.tab_cont_pdf .tab_cont_ul li:hover {
  background-color: transparent;
}

.tab_cont_ul .list_opt {
  float: left;
  width: 100%;
  margin-bottom: 0px;
  cursor: pointer;
}

.popup-heading-down-right {
  padding: 17px 15px;
  font-size: 16px;
  font-weight: 500;
  color: #2c2e2f;
  border-left: 1px solid rgba(44, 46, 47, 0.1);
}

.popup-heading-down-right .item_sel_count {
  width: 100%;
  float: left;
}

.popup-heading-down-right .total_count_add {
  font-weight: 400;
  float: right;
  color: rgba(44, 46, 47, 0.6);
  font-size: 14px;
}

.popup-heading-down-right .total_count_add .count_selected {
  color: #2c2e2f;
}

.post-inner-right {
  width: 100%;
  height: 385px;
  float: left;
  background-color: #fdfdfd;
  margin-top: 2px;
}

.post-inner-right .tab_cont_ul li .tab_cont_div {
  padding-bottom: 0px;
  width: 100%;
}

.post-inner-right .tab_cont_ul li .tab_cont_div .chapter_image {
  width: 30px;
  padding-left: 0px;
}

.post-inner-right .tab_cont_ul li .tab_cont_div .chapter_image img {
  width: 20px;
}

.post-inner-right .tab_cont_ul li .tab_cont_div .chapter_desp {
  border-bottom: 1px solid transparent;
  position: relative;
}

.post-inner-right .tab_cont_ul li .tab_cont_div .chapter_desp .dustbin {
  position: absolute;
  right: 0px;
  top: 3px;
  width: 20px;
}

.post-inner-right .tab_cont_ul li .tab_cont_div .chapter_desp .dustbin img {
  width: 16px;
  display: none;
}

.post-inner-right .tab_cont_ul li .tab_cont_div:hover .chapter_desp .dustbin img {
  display: block;
}

.popup-heading-down-left {
  float: left;
}

.popup-heading-down-left .select_lecture {
  float: left;
  height: 45px;
  width: 100%;
  padding: 10px 0px;
  border-bottom: 1px solid rgba(44, 46, 47, 0.1);
}

.popup-heading-down-left .select_lecture label {
  background: transparent;
  border: none;
  font-size: 16px;
  font-weight: 500;
}

.popup-heading-down-left .select_lecture label .caret {
  border-top: 6px dashed;
  border-top: 6px solid;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}

.popup-heading-down-left .select_lecture .btn.btn-drop:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.post-inner-chapter-details .popup-heading-down-right {
  padding: 13px 15px;
  height: 45px;
  border-bottom: 1px solid rgba(44, 46, 47, 0.1);
}

.chapter_list_head {
  height: 40px;
  background-color: #f5f7fa;
  margin-top: 10px;
  padding: 10px 15px;
  float: left;
  width: 100%;
}

.chapter_list_head .title-post {
  float: right;
  width: 94%;
  color: #2c2e2f;
  font-size: 14px;
  cursor: pointer;
}

.chapter_list_head .title-post .glyphicon {
  float: right;
}

.chapter_list_head .title-post .glyphicon-menu-up {
  display: block;
}

.chapter_list_head .title-post .glyphicon-menu-down {
  display: none;
}

.chapter_list_head .title-post.collapsed .glyphicon-menu-up {
  display: none;
}

.chapter_list_head .title-post.collapsed .glyphicon-menu-down {
  display: block;
}

.postsave {
  float: left;
  width: 100%;
  padding: 15px;
}

.postsave .confirm_btn, .postsave .cancel_btn {
  width: 145px;
  height: 40px;
  font-size: 14px;
  font-weight: 500;
}

.dropdown-menu {
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
  background: #fff none repeat scroll 0 0;
  border: 1px solid #cccccc;
}

.dropdown-menu:before {
  position: absolute;
  right: 14px;
  top: -14px;
  color: #f5f7fa;
  z-index: 1;
  content: "\E253";
  vertical-align: middle;
  position: relative;
  font-size: 18px;
}

.librarycheckbox {
  display: none;
}

.librarycheckbox + .list_opt .checkbox_btn {
  display: inline-block;
  float: left;
  height: 18px;
  width: 18px;
  cursor: pointer;
  border: 1px solid rgba(44, 46, 47, 0.5);
  border-radius: 4px;
  margin-bottom: 0px;
  position: relative;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.librarycheckbox + .list_opt .checkbox_btn .checkboximg {
  height: 10px;
  width: 10px;
  float: left;
  margin: 3px 0 0 3px;
  display: none;
}

.librarycheckbox:checked + .list_opt .checkbox_btn {
  border: 1px solid #00bb24;
  background-color: #00bb24;
}

.librarycheckbox:checked + .list_opt .checkbox_btn .checkboximg {
  display: block;
}
/*# sourceMappingURL=selectlibrary.component.css.map */