.likedetailspopup{
    .peopleknow_outer {
    box-sizing: border-box;
    box-shadow: none;
    border-radius: 3px;

    .people_list{display: inline-block;
                 width: 100%;
                 padding: 0 15px 0px;
                 margin-top: 0px;
                 margin-bottom: 0px;
                 height: 330px;
         li:first-child {
         padding-top: 7px;  }
         li {
           padding: 10px 0; }
}

}
}


