<div class="popup" >
    <div class="popup_background" ></div>
    <div class="popup_main likedetailspopup">
        <div class="popup_heading"><span style="margin: 17px 0px;float: left;"><img style="display:block;" class="activeimp hoverr" src="assets/images/svg/thumbactive.svg"></span> <span style="margin: 17px 0px;float: left;margin-left:3px;line-height: 16px;">30</span><img  src="assets/images/svg/tagcross.svg" style="float: right;margin: 17px 0;cursor: pointer;"></div>

        <div class="peopleknow_outer">

            <div class="people_list " >
                <ul>
                  ><li>
                        <div class="profileimg_know">
                            <img src="assets/images/profile5.jpg">
                        </div>
                        <div class="prfl_detail">
                            <div class="profilename">Rohan Arneja</div>
                            <div class="grayinfo">@arnejasir</div>
                        </div>
                        <button class="graybutton">Connect</button>
                    </li><li>
                        <div class="profileimg_know">
                            <img src="assets/images/profile14.jpg">
                        </div>
                        <div class="prfl_detail">
                            <div class="profilename">Avnit Kumar</div>
                            <div class="grayinfo">@avi</div>
                        </div>
                        <button class="graybutton">Connected</button>
                    </li><li>
                        <div class="profileimg_know">
                            <img src="assets/images/profile15.jpg">
                        </div>
                        <div class="prfl_detail">
                            <div class="profilename">Kamakshi Kandpal</div>
                            <div class="grayinfo">@kamooo</div>
                        </div>
                        <button class="graybutton">Connect</button>
                    </li><li>
                        <div class="profileimg_know">
                            <img src="assets/images/profile13.jpg">
                        </div>
                        <div class="prfl_detail">
                            <div class="profilename">Dhruv Tatran</div>
                            <div class="grayinfo">@tatran</div>
                        </div>
                        <button class="graybutton">Connect</button>
                    </li><li>
                        <div class="profileimg_know">
                            <img src="assets/images/profile12.jpg">
                        </div>
                        <div class="prfl_detail">
                            <div class="profilename">Manoj Kumar</div>
                            <div class="grayinfo">@manojkumar</div>
                        </div>
                        <button class="graybutton">Connect</button>
                    </li>
                    <li>
                        <div class="profileimg_know">
                            <img src="assets/images/profile15.jpg">
                        </div>
                        <div class="prfl_detail">
                            <div class="profilename">Kamakshi Kandpal</div>
                            <div class="grayinfo">@kamooo</div>
                        </div>
                        <button class="graybutton">Connect</button>
                    </li><li>
                        <div class="profileimg_know">
                            <img src="assets/images/profile13.jpg">
                        </div>
                        <div class="prfl_detail">
                            <div class="profilename">Dhruv Tatran</div>
                            <div class="grayinfo">@tatran</div>
                        </div>
                        <button class="graybutton">Connect</button>
                    </li><li>
                        <div class="profileimg_know">
                            <img src="assets/images/profile12.jpg">
                        </div>
                        <div class="prfl_detail">
                            <div class="profilename">Manoj Kumar</div>
                            <div class="grayinfo">@manojkumar</div>
                        </div>
                        <button class="graybutton">Connect</button>
                    </li>
                </ul>
            </div>


        </div>
    </div>
