<app-header></app-header>
<div class="container container_top">
  <div class="contain_wrapper">
    <div class="detail_cmp clearfix">
      <span>
        <h3>Study24x7 Pvt. Ltd.</h3>
        <p>Plot No.43, Block-A, Sector-63, Noida, Uttar Pradesh-201301</p>
        <p>Tel: +91(120)4161515/516</p>
      </span>
      <span><img src="./assets/images/svg-three/Logo.png" alt="study24x7"></span>
    </div>
    <div class="ship_to clearfix">
      <p class="clearfix shipto_heading"><span>To</span><span>Ship To</span><span>Info</span></p>
      <p>
        <span>
          <p>Akash</p>
          <p>Santosh Singh</p>
          <p>+91-9899827394</p>
          <p>santosh@asl.com</p>
        </span>
        <span>
          <p>Same as recipient</p>
        </span>
        <span>
          <p>Issue Date:22/06/2018</p><br>
          <p>Order ID:#32574168752</p>
        </span>
      </p>
    </div>
    <div class="decription_wrapper clearfix">
      <div class="discription_heading clearfix">
        <p><span>Description</span><span>Total</span><span>Discount</span><span>Unit Price</span></p>
      </div>
      <div class="discription_content clearfix">
        <p>
          <span><img src="./assets/images/icons/Checkout_Done_invoice.jpg" alt="study24x7"><span class="certification_eco">Certification Economist</span></span>
          <span><img src="./assets/images/svg-one/rupee.svg" alt="study24x7">370</span>
          <span><img src="./assets/images/svg-one/rupee.svg" alt="study24x7">230</span>
          <span><img src="./assets/images/svg-one/rupee.svg" alt="study24x7">770</span>
        </p>
      </div>
    </div>
    <div class="decription_wrapper_total clearfix">

      <div class="discription_subtotal clearfix">
        <p><span><img src="./assets/images/svg-one/rupee.svg" alt="study24x7">770</span><span>Subtotal</span></p>
        <p><span><img src="./assets/images/svg-one/rupee.svg" alt="study24x7">120</span><span>Tax</span></p>
        <p><span><img src="./assets/images/svg-one/rupee.svg" alt="study24x7">230</span><span>Discount</span></p>
      </div>
      <div class="discription_heading_total clearfix">
        <p><span><img src="./assets/images/svg-one/rupee.svg" alt="study24x7">770</span><span>Total</span></p>
      </div>
    </div>
    <div class="icon_wrapper">
    <div class="bottom_icon">
      <span><img src="./assets/images/svg-one/printerIcon.svg" alt="study24x7"><img class="img_hover" src="./assets/images/svg-one/printerIcon-red.svg" alt="study24x7"></span>
      <span><img src="./assets/images/svg-one/downloaded.svg" alt="study24x7"><img class="img_hover" src="./assets/images/svg-one/downloaded-red.svg" alt="study24x7"></span>
      <span><img src="./assets/images/svg-one/share.svg" alt="study24x7"><img class="img_hover" src="./assets/images/svg-one/share-red.svg" alt="study24x7"></span>
    </div>
  </div>

  </div>

</div>

<!-- error popup -->
<div class='darkbackground' *ngIf="errorpopupshow"></div>
<div class='addpost_outer relative popup-open-wrapper' *ngIf="errorpopupshow">
    <!-- <div class='darkbackground-close' (click)="hidecreatepagePopup();"></div> -->
    <div class='darkbackground-close'></div>

    <div class='container popup-container' style="position:relative;">
        <div  class="popup-inner-wrap popup-open-inner-wrap" style="height:200px !important; width:550px;" *ngIf="errorpopupshow" >
            <div class="toolbar addpost_hdng tlbar error_main_heading">Create a Page
                <!-- <img (click)="hidecreatepagePopup()" src="assets/images/svg/tagcross.svg" style="float: right;margin: 17px 0;cursor: pointer;"> -->

              </div>
            <div class="center_wrapperr">
              <p>Are you sure about deleting this conversation?</p>
            </div>

            <div class="error_footerr">
             <button class="btn btn-primary btn_delete">Delete</button>
             <button class="btn graybutton">Cancel</button>
            </div>
        </div>

    </div>
</div>
<!-- end error popup -->
