
.loginheadersearch {
    width: 330px;
    background-color: #fff;
    float: left;
    position: relative;
    padding: 0px 0px 0px 15px;
    margin-top: -3px;

    ul.mainSearchUlWrapper{
    border-radius: 5px;
    position: absolute;
    left: 15px;
    background-color: rgba(223,229,235,.25);

}
}
.login_Header
{
  // display: none;
  position: fixed;
  top: 0px;
  z-index: 4;
  background: #fff;
  width: 100%;
  height: auto;
  // height: 56px;
  line-height: 72px;
  box-shadow: 0 0 7px rgba(0,0,0,.1);
  .head_container{
    line-height: 0px;
    padding: 10px 0px;
    position: relative;
    padding-right: 10px;
    // width: 1230px;
    // max-width: 90%;
    .head-login-cntnar
    {
      // width: 621px;
      padding-right: 5px;
      float: right;
      // margin-right: 50px;
      .login-field{
        width:200px;
        float: left;
        position: relative;
        input{
          border-radius: 3px;
          height: 34px;
          font-size: 12px;
        }
      }
      .lgn-e-input{

        input{
          height: 34px;
          font-size: 12px;
          padding-left: 10px;
          &:focus{
            border: 1px solid #dfe0e8 !important;
          }

        }
      }
      .lgn-p-input{
        width: 200px;
        float: left;
        margin-left: 10px;
        input{
          height: 34px;
          padding-left: 10px;
        }
        .head_login_frgtpassword{
          position: absolute;
          top: 46px;
          right: 4px;
          text-align: right;
          color: #000;
          font-size: 11px;
          opacity: .7;
        }
        a:hover{
          text-decoration: underline!important;
          opacity: 1;
          color: #f05050;
        }
      }
      .login-button
      {
        // width: 90px;
        // float: left;
        // margin: 0px;
        // border-radius: 3px;
        // margin-left: 10px;
        background-color: #333;
        // height:39px;
        // transition: all .4s;
        // border: none;
        width: 90px;
        float: left;
        margin: 0px;
        color: #ffffff;
        border-radius: 3px;
        // border: 1px solid #FACFCF70 !important;
        border: 1px solid #000 !important;
        margin-left: 10px;
        // background-color: #FDEFEF;
        // background-color: #fff;
        height: 34px;
        transition: all .4s;
        border: none;
        &:hover{
          // border: 1px solid #f05050 !important;
          // color: #f05050;
        }
        .text{
          font-size: 14px;
          font-weight: 500;
        }

      }
      .reg-button
      {
        width: 144px;
        float: right;
        border-radius: 3px;
        background-color: #fff;
        border: 1px solid #f05050;
        color: #f05050;
        font-size: 14px;
        font-weight: 500;
        height: 34px;
        transition: all .4s;
        float: left;
        margin-left: 20px;
        float: right;
        width: 90px;
        transition: all .3s;
        -webkit-transition: all .3s;
        float:  left;
        &:hover{
          background-color: #F26F6F!important;
          color: #fff;
          // box-shadow: 0px 0px 4px 1px #00000030
        }
      }
    }
.loginforres{
  display: none;
}



    .head_login_stock{
      width: 1px;
      background-color: #00000010;
      float: right;
      position: absolute;
      right: 183px;
      height: 32px;
      top: 32px;
      opacity: .5;
      margin-left: 10%;
    }

    .search{
      position: relative;
      border-radius: 37px;
      float: left;
      margin-left:3%;
      button{
        border-radius: 37px;
        position: absolute;
        background-color: transparent;
        border: none;
         img{
           height: 15px;
            position: relative;
            left: -5px;
         }
      }
      input{
        width: 300px;
        border-radius: 15px;
        background-color: #e8ecf190;
        padding-left: 32px;
        padding-right: 30px;
        // border: 1px solid #d3d4d6 !important;
        // box-shadow: inset 0px 0px 2px 0px #2c2e2f20;
        opacity: 0.7 !important;
        font-size: 14px;
        transition: all .3s;
      }
    }


  }
  .login_Header .head_container .mlogo{
    // display: none;
  width: 22px;
  }
  .logo{
    width: 120px;float:left;margin-top: -1px;
  }
}
.comp_logo{
  float: left;
}

// for scholarship page logo
.homelogo {
    width: 228px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: -11px;
    img{
      width: 228px;
      height: 118px;
    }
 }
 .withoutloginint{
   margin-top: -2px;
    float: left;
    margin-left:80px;
 }
 .right_menu{
   width: 20px;
    height: 20px;
    float: right;
    margin: 8px 5px 0 10px;
    padding: 2px;
    display: none;
   span{
     width: 100%;
      height: 100%;
      display: block;
     img{
       width: 100%;
       height: 100%;
     }
   }
 }
 .hamburgerIcon {
   position: relative;
   z-index: 1;
   top: 12px;
   right: 0;
   float: right;
   margin-left: 15px;
   display: none;
   cursor: pointer;
  span {
   height: 3px;
   width: 20px;
   background-color: black;
   display: block;

   transition: 0.7s ease-in-out;
   transform: none;
 }
 span:nth-of-type(2){
     margin: 3px 0px 3px 0px;
 }
 }

  .activeMenu.hamburgerIcon{
  span:nth-of-type(1) {
   transform: translate(0px, 6px) rotate(-45deg);
   background-color: black;
 }
 span:nth-of-type(3) {
  transform: translate(0px, -6px) rotate(45deg);
  background-color: black;
 }
 span:nth-of-type(2) {
   opacity: 0;
 }
 }

 // responsive interest
 .serachResponsiveView{
   top: 54px;
   background-color: transparent;
   position: fixed;
   width: 100%;
   height: calc(100% - 54px);
   z-index: 9;
   overflow: auto;
   display: none;

   .Interestaccordian{
     position: relative;
 margin-top: 15px;
 float: left;width: 100%;
   }
   .side-nav-overlay{
     // background: rgba(0, 0, 0, 0.5);
     background: #ffffff;
     position: absolute;
     left: 0;
     right: 0;
     bottom: 0;
     width: 100%;
     top: 85px;
   }
   .responsiveDataShow{
     float: left;
   width: 100%;
   max-width: 100%;
   background: #fff !important;
   position: relative;
   .login_right{
     padding-top: 0px;
    max-width: 500px;
    margin: auto;
    float: none;
    .login_outr{
      padding-top: 0px;
       display: inline-block;
       float: right;
       border-radius: 5px;
       background: #fff;
       width: 100%;
     }
    }
   }
   .search_Data{
     width:calc(100% - 15px);
     float:left;
   }
   .login_inr{
     padding: 0px 25px 10px;
     float: left;
    width: 100%;
   }
   // .search_Data{
   //   width:100%;
   //   float: left;
   // }
 }
 .responsiveDataShow{
   width: 100%;
 }
 .search_Data{
     height: 56px;
     width: 370px;
     margin-top: 20px;

 }
 .market_accordian{
   .accordion{
     width: 100%;
 text-align: left;
 font-size: 16px;
 font-weight: 600;
 font-stretch: normal;
 font-style: normal;
 line-height: normal;
 letter-spacing: normal;
 text-align: left;
 color: rgba(0, 0, 0, 0.9);
 background-color: transparent;
 border: none;
 padding: 15px 0px;
 position: relative;
 border-bottom: 1px solid #eaeaea;
 .downarrow{
   width:10px;
   position: absolute;
   right: 10px;
   top: 22px;
   transition: all 0.3s;
 }
   }
   .accordion.activeAccordian{
     border-bottom: 0px solid #eaeaea;
     .downarrow{
 transform: rotate(180deg);

     }
   }
   .panel_Data{
     float: left;
 width: 100%;
 text-align: left;
 padding: 5px 15px 10px 12px;
 border-bottom: 1px solid #ccc;
 box-shadow: none;
 position: relative;
 margin-bottom: 0px;
 display: none;
 transition: all 0.3s;
 &:before{
   content: "";
   position: absolute;
   top:8px;
   bottom: 20px;
 width: 2px;
 background-color: #eaeaea;
 left: 0px;
 }
 .col-data{width:100%;
   ul{
     li{
       padding-bottom: 15px;
       cursor: pointer;
 font-weight: 500;
 transition: all 0.3s;
 &:hover{
   .crs-list-txt{
     margin-left: 3px;
     color:#000;
     transition: all 0.3s;
   }
 }
     }
   }
 }
   }
   .activePanel_Data.panel_Data{

     display: block;
   }
 }
 .interest-dropdown{
    margin-top: -3px;
 }
 /*search responsive end*/


@media only screen and (max-width: 1300px) {
  .head-login-cntnar{
    // width: 530px;
    .lgn-e-input{
      width: 155px;
      input{
        height: 35px;
        &:focus{
          border: 1px solid #dfe0e8 !important;
        }
      }
    }
    .lgn-p-input{
      width: 155px;
      input{
        height: 35px;
      }
    }
    .login_btn{
      height: 35px;
    }
    .reg-button
    {
      height: 35px;
    }
  }
}
@media screen and (max-width: 1200px) {
  .container {
    width: 100% !important;
    max-width:100% !important;
  }
}
@media screen and (max-width: 1180px) {
  .loginheadersearch {
      padding: 0px 0px 0px 80px;
  }
}
@media only screen and (max-width:991px){
  .login_Header .head_container{
    padding: 10px 10px 10px 0px;

    .mlogo{
    display: block;
    width: 22px;
    float:left;
  }
  .logo{
    width: 100px !important;
    margin-top: 2px;
    cursor: pointer;
  }
}
.head-login-cntnar{
  width:auto !important;
  float:right !important;
  margin-top: 0px;
  .login-field.lgn-e-input{
    display: none;

  }
  .loginforWeb{
    display: none;
  }
  .loginforres{
    display: block !important;
  }
  .login-field.lgn-p-input{
    display: none;
  }
}
.homelogo{
  width: 168px;
  height: 82px;
  top: 2px;
  img{
    width: 100%;
    height: 100%;
  }
}
}
@media only screen and (max-width:900px){

.hamburgerIcon{
  display: block;
}
 .interest-dropdown{
   display: none;
 }
 .zero-padding{
   display: none;
 }
 .serachResponsiveView{
   display: block;
 }
 .right_menu{
   display: block;
 }
}
@media only screen and (max-width:1080px){
  .login_Header .head_container .search input{
    width:200px;
  }
}
@media only screen and (max-width:767px){
  .loginheadersearch{
    width: 40%;


}
}
@media only screen and (max-width:580px){
  .login_Header .head_container .search{
    display: none;
  }
}
@media only screen and (max-width:767px){
  .homelogo{
    display: none;
  }
}
@media only screen and (max-width:600px){
  .login_Header{
    .head_container .head-login-cntnar{
     .login-button{
    width: 75px;
    .text{
      font-size:12px;
    }
  }
  .reg-button{
      width: 80px;
      margin-left:10px;
      font-size: 12px;
  }
}
// .head_container{
//   padding-top: 4px;
// }
}
}
@media only screen and (max-width:600px){
  .zero-padding{
    display: none;
  }
  .login_Header{
    height: 57px;
  }
  .container.main_body.profile_body{
    margin-top: 67px !important;
  }
  .head-login-cntnar {
    margin-top: 2px !important;
}
}
@media only screen and (max-width:480px){
  .homelogo{
    width: 120px;
    height: 70px;
    top: 8px;
  }
}
@media only screen and (max-width:360px){
  .logo{
    width: 85px !important;
  }
  .login_Header{
    .head_container{
      .head-login-cntnar{
          .login-button{
             width: 60px;
             margin-left: 0;
            }
          .reg-button{
            width: 62px;
           }
          }
        }
      }
   }
