<header class="login_Header">
    <div class="container head_container">
        <div class="col-md-3 col-sm-3 clearfix comp_logo">
            <a href="">
                <img src="./assets/images/svg-three/Logo.png" class='logo'>
            </a>
        </div>
        <div class="interest-dropdown">
            <app-interests-dropdown *ngIf="!hideInterestDropdown && !serachResponsiveView" style="position: absolute;
      left: 136px;"></app-interests-dropdown>
      <app-browsetest *ngIf="showBrowseTest" style="position: absolute;left: 136px;"></app-browsetest>
        </div>

        <!-- ===================================================================== -->
        <!-- new search box start -->
        <!-- ===================================================================== -->
        <div class="zero-padding">
            <div [ngClass]="{loginheadersearch: true, 'interest_search':!hideInterestDropdown && !serachResponsiveView}">
                <app-search-list  *ngIf="!showStudyIndiaFoundationLogo && showSearchList" [isResponsive]="isResponsive" [searchUiType]=2>
                </app-search-list>
            </div>
        </div>
        <!-- ===================================================================== -->
        <!-- new search box end -->
        <!-- ===================================================================== -->

        <a *ngIf="showStudyIndiaFoundationLogo" class="homelogo" routerLink="/">
            <img class="_logo" src="assets/images/scholarship/logo_foundation.png" alt="">
        </a>
        <div class="right_menu">
            <span (click)="openressearch()" *ngIf="!serachResponsiveView"><img
                    src="./assets/images/svg-three/head/search-02.svg" alt=""></span>
            <span (click)="openressearch()" *ngIf="serachResponsiveView"><img
                    src="./assets/images/svg/tagcross-gray.svg" alt=""></span>
        </div>
        <!-- <div class="hamburgerIcon" [ngClass]="{'activeMenu' : activeMenuCond }" (click)="showResponsiveSearch();">
            <span class="spanfirst"></span>
            <span class="spansec"></span>
            <span class="spanthird"></span>
        </div> -->
        <div class="head-login-cntnar">
            <!-- header email field -->
            <!-- <div class="login-field lgn-e-input" style="display:none;">
                <input type="text" name="l_e" placeholder="Email or Mobile" (keyup)="login($event)"
                    [(ngModel)]="userCred">
            </div> -->
            <!-- header password field End -->
            <!-- header login button -->
            <button id="headerLogin" [disabled]="showPreloader===true" class='login-button login_btn registrationbtn loginforWeb'
                (click)="openLoginPopupType=1;loginpopupopen()">
                <span class="text">Log In </span>
            </button>

            <button id="headerLogin" [disabled]="showPreloader===true" class='login-button login_btn registrationbtn loginforres'
                (click)="openLoginPopupType=1;loginpopupopen();serachResponsiveView=false;">
                <span class="text">Log In </span>
            </button>
            <!-- header login button End -->
            <!-- header new registration button -->
            <button id='headerSignup' class="reg-button" style="background-color:#f05050;color:#fff;"
                (click)="openLoginPopupType=2;loginpopupopen();serachResponsiveView=false;">Sign Up</button>
            <!-- header new registration button end-->
        </div>
    </div>
</header>
<!-- <section class="serachResponsiveView">
<div id="fulloverlay" class="js-side-nav-overlay side-nav-overlay show"
(click)="openNav()" [ngClass]="{'show': opennavleft }">
</div>
<div id="mySidenav" class="sidenav sidenavwidth" [ngClass]="{'sidenavwidth': opennavleft }">
</div>
</section> -->
<!--- responsive search section start---->
<section class="serachResponsiveView" *ngIf="serachResponsiveView">
    <div id="fulloverlay" class="js-side-nav-overlay side-nav-overlay"></div>
    <div class="responsiveDataShow">
        <div class="login_right">
            <div class="col-md-12" style="padding:0px;">

                <div class="login_outr" style="padding-top:0px;">
                    <div class="login_inr">
                        <div id="searchListResponsive" class="search_Data">
                            <app-search-list [searchUiType]=1></app-search-list>
                        </div>
                        <app-interests-dropdown (emmiter)="serachResponsiveView=false;hideInterestDropdown=true;"
                            *ngIf="!hideInterestDropdown || serachResponsiveView"></app-interests-dropdown>
                            <app-browsetest *ngIf="showBrowseTest"></app-browsetest>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-loginpopup *ngIf="openLoginPopup" (closePopup)="closeLoginPopUp($event)" [openLoginPopupType]="openLoginPopupType">
</app-loginpopup>
