@import '../../../app/sass/abstracts/fontfamily';
@import '../../../app/sass/buttonhover.css';
$fontmontserrat: 'Montserrat';
$SourceSansPro:  'Source Sans Pro';


.btneffect:before,
.btneffect:hover {
  background: #e6e6e6 !important;
}
.modal-open{
.modal-backdrop{
  position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    overflow: hidden;
    outline: 0;
    overflow-y: auto;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    .modal-dialog {
      max-width: 780px;
      margin: 10px auto;
    }
    .modal-content {
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        background-color: transparent;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.2);
        border-radius: .3rem;
        outline: 0;
    }
    .modal-body {
        position: relative;
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
         flex: 1 1 auto;
        padding: 0px;
        img{width:100%;  border-radius: 6px 6px 0px 0px;}
        .banner-web{display: block;}
        .banner-mobile{display: none;}
    }
    .closehomepop {
        float: right;
        position: absolute;
        right: 22px;
        top: 22px;
    }
}

.fade {
    opacity: 0;
    -webkit-transition: opacity .45s linear;
    -o-transition: opacity .45s linear;
    transition: opacity .45s linear;
    .modal-dialog {
        -webkit-transition: -webkit-transform .6s ease-out;
        transition: -webkit-transform .6s ease-out;
        -o-transition: -o-transform .6s ease-out;
        transition: transform .6s ease-out;
        transition: transform .6s ease-out,-webkit-transform .6s ease-out,-o-transform .6s ease-out;
        -webkit-transform: translate(0,-50%);
        -o-transform: translate(0,-50%);
        transform: translate(0,-50%);
    }
  }

.show {
    top: 80px;
    opacity: 1;
    .modal-dialog {
        -webkit-transform: translate(0,0);
        -o-transform: translate(0,0);
         transform: translate(0,0);
    }
}


}
.popupBottom{
width: 100%;
float: left;
text-align: center;
height: 48px;
border-radius: 0px 0px 6px 6px;
background-color: #fff;
.redeemBtn, .activeCoupon{
  color: #f05050;
  font-family: inherit;
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
    cursor: pointer;
    span{
      display: inline-block;
width: 16px;
height: 16px;
img{
  width: 100%;

}
    }

}
.redeemBtn{
  &:hover{
    color: #e11414;
  }
}
.activeCoupon{
  color:#46be8a;
}
}


    @media only screen  and (max-width:768px){

      .modal-open .modal .modal-dialog {
    max-width: 80%;
}
    }
    @media only screen  and (max-width:480px){
      .modal-open{
      .modal {
        .modal-dialog{
          width: 96%;
        }
        .closehomepop {
            right: 15px;
            top: 15px;
        }
      .modal-body {
          .banner-web{display: none;}
          .banner-mobile{display: block;}
      }
    }
    .popupBottom{
    .redeemBtn, .activeCoupon{
        font-size: 18px;}
  }
    }

}
    @media only screen  and (max-width:360px){
      .modal-open{
      .modal {
        .modal-dialog{
          max-width: 98%;
        }
      }
    }
    }
