.main_container { margin-top: 72px; width: 100%; float: left; position: relative; background: #ffffff; height: calc(100vh - 72px); }

.top_header { display: flex !important; align-items: center; width: 100%; }

.post_outer .post_profile { max-width: 600px !important; margin: auto; position: unset !important; }

.post_outer { box-shadow: none !important; }

.center_container { width: 100%; float: left; max-height: 100%; height: auto; overflow: hidden; }

.center_container .view_image { height: 100%; margin: 0 auto; overflow: hidden; position: relative; transition: 334ms width ease; width: 100%; text-align: center; box-shadow: none; }

.center_container img { max-width: 100%; transition-duration: 334ms; transition-timing-function: ease; transition-property: filter, transform; z-index: 0; box-shadow: none; }

.center_content { width: 100%; float: left; margin-top: 20px; }

.center_content .down_data { max-width: 600px; margin: auto; margin-bottom: 60px; padding-left: 15px !important; padding-right: 15px !important; }

.center_content .down_data .articleHeading { font-family: "Noto Serif SC", serif; font-size: 18px; font-weight: bold; line-height: 1.28; text-align: left; color: #2c2e2f; }

.center_content .down_data .articleContent p, .center_content .down_data .articleContent .logoHeading { font-family: "Noto Serif SC", serif; font-size: 14px; text-align: left; color: #2c2e2f; margin-top: 5px; opacity: 0.8; line-height: 1.34; }

.center_content .down_data .articleContent .logoHeading { font-weight: 500; opacity: 1; margin-top: 15px; }

.center_content .down_data .articleContent .logoimg { width: 476px; height: 198px; float: left; margin-top: 10px; }

.center_content .down_data .articleContent .logoimg img { width: 100%; height: 100%; }

.ql-editor a * { color: #2b6dad; }

.posttagdiv .tags { padding: 3px 9px !important; }

.post_outer .post_profile { position: relative !important; }

.ql-editor iframe.ql-video { width: 100% !important; height: 411px !important; }

.ql-editor iframe.ql-video img { width: 100%; height: 100%; }

.post-footer-btn-outer-wrap { padding-left: 0 !important; padding-right: 0 !important; width: auto !important; float: unset !important; }

@media only screen and (max-width: 991px) { .main_container { margin-top: 67px; } }

.main_container .articleHeading { max-width: 600px !important; margin: auto; padding-left: 10px; padding-right: 10px; font-family: "Noto Serif SC", serif; font-size: 36px; font-weight: 600; line-height: 1.42; text-align: left; color: #2c2e2f; clear: both; margin-bottom: 40px; padding-top: 40px; }

.posttagdiv.article_tags { padding-bottom: 6px; padding-left: 5px; }

.post_outer .post_profile { padding-left: 13px; }

.addTopmargin { margin-top: 40px !important; }

.withoutToken .main_container { margin-top: 69px; }

@media only screen and (max-width: 600px) { .withoutToken .main_container { margin-top: 67px; }
  .center_content .down_data { padding-left: 10px !important; padding-right: 10px !important; }
  .down_data .post_outerseo.post_outerseo_sec { margin-left: -10px; margin-right: -10px; width: calc(100% + 20px); }
  .post-footer-btn-outer-wrap, .comment_outer { margin-left: -10px; margin-right: -10px; width: auto; } }

.articleWrapper .post_outer .post_profile, .articleWrapper .articleHeading, .articleWrapper .center_content .down_data { max-width: 800px !important; }
