<div class="wrapper">
  <h3 class="head">Overall Question Statistics</h3>

  <div class="middleWrapper">
    <div class="topInnerWrapper">
       <p class="heading">Total Questions Answered</p>

       <p class="count">
           <span class="black">{{totalCount}}</span>
           <!--<span class="blue">+2 this week</span>-->
       </p>

       <div class="calenderWrapper" (click)="showCalender();">
         <img src="./assets/images/calendar.svg" alt="">
       </div>

       <div class="calenderListWrapper" *ngIf="isShowCalender" (mouseleave)="showCalender()">
          <div class="innerList" (click)="setDatesFrmDays(1);">Past Week</div>
          <div class="innerList" (click)="setDatesFrmDays(2);">This Month</div>
          <div class="innerList" (click)="setDatesFrmDays(3);">Past Month</div>
          <div class="innerList" style="margin-bottom:0px;" (click)="setDatesFrmDays(4);">Past 3 Month</div>
       </div>
    </div>

     <div class="meetarWraper">

        <div class="meetarInnerWrapper">
          <span>Right</span>

          <div class="outerMeetar">

            <div class="innerMeetar ryt" [ngStyle]="{'width': rightPercentage + '%'}">
            </div>
          </div>
          <span class="meetarCount">{{rightCount}}</span>
        </div>

        <div class="meetarInnerWrapper" style="margin-bottom: 0px;">
          <span>Wrong</span>

          <div class="outerMeetar">
            <div class="innerMeetar wrong" [ngStyle]="{'width': wrongPercentage + '%'}">
            </div>
          </div>
          <span class="meetarCount">{{wrongCount}}</span>
        </div>

     </div>

    <div class="footerWrapper">

      <p class="heading">Total Asked Question Responses</p>

      <p class="count" style="margin-bottom: 0px;">
          <span class="black">{{quesResponse }}</span>
          <!--<span class="blue">+10 this week</span>-->
      </p>

    </div>

  </div>



</div>
