.wrapper{
  float: left;
  width: 100%;
  background-color: #fff;
  margin-bottom: 15px;
  overflow: hidden;
  border-radius: 5px;
  .head{
    background: #f5f7fa;
    color: #2c2e2f;
    font-size: 14px;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #e9e9e9;
  }
  .middleWrapper{
    float: left;
    width: 100%;
    padding: 15px;
     .topInnerWrapper{
      float: left;
      width: 100%;
      position: relative;

       .calenderWrapper{
         float: right;
          background: #f5f7fa;
          width: 30px;
          position: absolute;
          right: 0px;
          top: 5px;
          padding: 6px;
          cursor: pointer;
          height: 30px;
              border: 1px solid #e9e9e9;
              border-radius: 5px;
          img{

          }
       }
       .calenderListWrapper{
          background-color: #fff;
          z-index: 1;
          padding: 0px;
          border-radius: 3px;
          overflow: hidden;
          position: absolute;
          width: 107px;
          right: 0px;
          top: 40px;
          border: 1px solid #dfe0e8;
          border: 1px solid #66a9d5 !important;
          outline: 0;
          -webkit-box-shadow: 0 0 0 0.3rem (153,197,227, 0.3)!important;
          box-shadow: 0 0 0 0.1rem rgba(153,197,227, 0.3) !important;

         .innerList{
            padding: 5px 5px 5px 5px;
            float: left;
            width: 100%;
            border-bottom: 1px solid #f7f7f7;
            font-size: 14px;
            color: #2c2e2f;
            border-radius: 3px;
            cursor: pointer;
            opacity: .9;
            text-align: left;
             &:hover{
                   opacity: 1;
                  background: #f5f7fa;
             }
         }
       }

     }
     .meetarWraper{
       float: left;
       width: 100%;
       padding-bottom: 15px;
       .meetarInnerWrapper{
         float: left;
         width: 100%;
             margin-bottom: 10px;
         span{
          float: left;
          font-size: 12px;
          color: #2c2e2f;
          font-weight: 500;
          opacity: .8;


         }
         .meetarCount{
           float: right;
           font-size: 12px;
           font-weight: 500;
           color: #2c2e2f;
           margin-right: 10px;
               line-height: 18px;
         }
         .outerMeetar{
           float: right;
            width: 130px;
            height: 18px;
            background: #f5f7fa;
            position: relative;
            float: right;

           .innerMeetar{
             float: left;
             width: 30%;
             height: 100%;

           }
           .ryt{
            background-color:#65BEA2;
           }
           .wrong{
             background-color: #ED6E71;
           }
         }
       }
     }
     .footerWrapper{
       float: left;
       width: 100%;
       padding-top: 15px;
      border-top: 1px solid #e9e9e9;
     }
  }
}

.heading{
  color: #2c2e2f;
  opacity: .7;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 6px;
}

.count{
  float: left;
  width: 100%;
  margin-bottom: 15px;
      .black{
         font-size: 18px;
         font-weight: 500;
         color: #2c2e2f;
         float: left;
      }
      .blue{
        float: left;
         margin-left: 5px;
         color: #65BFA3;
         font-size: 12px;
         font-weight: 500;
      }
}
