$textgrey : #8c8c8c;
$backgroundgray : #e6e6e6;
$themeblue : #F05050;
$themegray : #f5f7fa;
$textcolor : #2c2e2f;
$borderRadius: 5px;

.container.main_body{
  .page_main_outer{float: none;width: 680px;
   margin: 0 auto;}
  .paymentSuccessWrapper{
        margin-left: 0px;
    float: left;
    width: 100%;
    background-color: #fff;
    border-radius: 3px;
    overflow: hidden;
    .topwrapper{
      float: left;
      width: 100%;
      text-align: center;
      padding: 15px 15px 20px 15px;
      background: #f5f7fa;
      position: relative;
      span.returnback{
        position: absolute;
        left: 15px;
        top: 15px;
        cursor: pointer;
        font-size: 12px;
        font-weight: 500;
        color: #2c2e2f;
      }
      img{
        margin-top: 15px;
      }
      p{

        float: left;
        width: 100%;
        color: #2c2e2f;
        font-size: 14px;
        font-weight: 500;
        margin-top: 15px;
      }
      p.publisher{
        float: left;
        width: 100%;
        color: rgba(44,46,47,.6);
        font-weight: 500;
            font-size: 12px;
        margin-top: 10px;

        span{
          color: #2c2e2c;
          font-weight: 600;
        }
      }
    }
    .bottomwrapper{
      float: left;
      width: 100%;
          padding: 20px 30px 10px 30px;
      box-sizing: border-box;

      h4{
        width: 100%;
        float: left;
        text-align: center;
        font-size: 20px;
        color: #00bb24;
      }
      .red{
        color: #f05050;
      }
      h6{
        float: left;
        width: 100%;
        text-align: center;
        margin-top: 11px;
        margin-bottom: 25px;
        color:#2c2e2f;
        span{
          color:rgba(44,46,47,.6);
        }

      }
      .print_wrapper{
        width: 100%;
        float: left;
        .left_p_wrapper{
          float: left;
          width: 80%;
          h3{
            float: left;
            width: 100%;
            font-size: 14px;
            color: #2c2e2f;
          }
          h5{
            float: left;
            width: 100%;
            font-size: 12px;
            color: #2c2e2f;
            padding-top: 5px;
          }
        }
        .right_p_wrapper{
          float: right;
          width: 16%;
          color: #66a9d5;
          margin-top: 15px;
          cursor: pointer;
          img{
            width: 19px;
            margin-right: 10px;

          }
          span{

          }
        }
      }

      .summary_wrapper{
        float: left;
        width: 100%;
        border: 1px solid #cfd4d8;
        border-radius: 3px;
        overflow: hidden;
        margin-top: 20px;
        .heade{
          float: left;
          width: 100%;
          padding: 10px;
          background: #f5f7fa;
          color: #2c2e2f;
          font-size: 14px;
          font-weight:500;
        }
        .course_detail{
          float: left;
          width: 100%;
          padding: 15px;
          .courseimg{
            float: left;
            width: 20%;
            height: 55px;
            img{
              width: 100%;
              height: 100%;
            }
          }
            .coursesubdetail{
            float: right;
            width: 80%;
            padding-left: 10px;
            padding-right: 80px;
            position: relative;
            h4{
              color: rgba(44,46,47,.6);
              font-size: 12px;
              width: 100%;
              text-align: left;
              box-sizing: border-box;
            }
            h2{
              float: left;
              width: 100%;
              font-size: 14px;
              box-sizing: border-box;
              padding: 6px 0px;
              color:#2c2e2f;
              span{
                float: right;

                img{
                  width: 10px;
                  margin-top: -2px;
                }
              }
              .priceShow{
                position: absolute;
                right: 0;
              }
            }
            h5{
              float: left;
              width: 100%;
              box-sizing: border-box;
              font-size: 12px;
              color: rgba(44,46,47,.6);
            }
          }

        }
        .paymentdetail{
          float: left;
          width: 100%;
          padding: 0px 15px 15px 15px;
          .innerwrapper{
            float: left;
            width: 100%;
            border-top: 1px solid #e9e9e9;
            padding-top: 15px;
            .leftPyment{
              float: left;
              width: 40%;
              h3{
                float: left;
                width: 100%;
                font-size: 12px;
                color: rgba(44,46,47,.6);
                opacity: .9;
                line-height: 18px;
                  font-size: 12px;
                  margin-top: 25px;
                  span{
                    color: #2c2e2f;
                  }
               .paymthd{
                 display: block;
                 .pay1{
                   display: block;
                 }
                 .pay2{
                   display: block;
                   color:rgba(44,46,47,.6);
                   opacity: .9;
                 }
               }
               .mthd{
                 margin-bottom: 15px;
               }
              }
            }

            .rightPyment{
              float: right;
              width: 60%;
              h3{
                float: left;
                width: 100%;
                font-size: 12px;
                padding: 5px 0px;
                .amount{
                  float: right;

                  img{
                    width: 9px;
                    position: relative;
                    top: -1px;
                    right: 2px;
                  }
                }
                .blue{
                  color: #37ca72;
                  &+span {
                    img{
                      width: 10px;
                    }
                    &+ span{
                      float: right;
                      img{
                        width: 9px;
                        margin-top: -2px;
                      }
                    }
                  }
                }
              }
              h4{
                float: left;
                font-size: 12px;
                text-align: left;
                color: rgba(44,46,47,.6);
                    margin-bottom: 15px;
              }
              h3.total{
                padding: 15px 0px 0px 0px;
                border-top: 1px solid #e9e9e9;
              }
            }
          }
        }
      }
    }
    .contact{
      float: left;
      width: 100%;
      padding: 0px 30px 30px 30px;
      p{
        font-size: 14px;
        color: #2c2e2f;
        text-align: left;
        cursor: pointer;
        display: inline-block;
        span{
          color: #f05050;
        }
      }
    }
  }
}

/**responsive css start**/
///===========================================//
@media screen and (max-width:991px){
  .container.main_body{
    .page_main_outer{
width: auto;
padding: 0px;
margin-left: -15px;
margin-right: -15px;
  }
}
}
@media screen and (max-width:600px){
  .container.main_body{
    .page_main_outer{
    width: auto;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;

  }
}
.container.main_body{
  padding-right: 0;
  padding-left:0;
}
.container.main_body{
  .paymentSuccessWrapper{
    .bottomwrapper{
      padding: 20px 15px 10px 15px;
     }
  }
}
  .container.main_body{
    .page_main_outer{
      .summary_wrapper{overflow-x: auto;
    .mob_overflow{width: auto;}
  }
  }
}
}
@media screen and (max-width:480px){
//   .container.main_body{
//     .page_main_outer{
//       .summary_wrapper{overflow-x: auto;
//     .mob_overflow{width: 480px;}
//   }
//   }
// }
 .paymentdetail{
   .innerwrapper{
     .leftPyment{
       width: 100% !important;
       h3{
         margin-top: 0 !important;
       }
     }
     .rightPyment{
       width: 100% !important;
       margin-top: 5px;
     }
  }
}
.paymthd{
  width:100%;
  float:left;
  .pay1{
    display: inline-block;
    float:left;
  }
  .pay2{
    display: inline-block;
    float: right;
  }
}
.mthd{
  margin-bottom: 5px !important;
}

}
@media screen and (max-width:360px){
  .container.main_body{
  .paymentSuccessWrapper{
     .bottomwrapper{
          float: left;
          width: 100%;
          padding: 15px 10px 10px;
          box-sizing: border-box;
          .summary_wrapper{
          .course_detail, .paymentdetail{padding: 10px;}
          }
          }
         }
     }
}

//===========================================//
/**responsive css end**/
