<app-header></app-header>
<div class="container main_body">
    <div class="center_feed">
        <div class="col-md-8 col-sm-6 page_main_outer ">
            <div class="paymentSuccessWrapper " *ngIf="statusPayment == 1">
                <div class="topwrapper">
                    <span (click)="gotoCourse()" class="returnback">Return to Course</span>
                    <img src="assets/images/svg-three/course/success.png" alt="aio">
                    <p>Payment successful</p>
                    <p class="publisher">Purchased to <span>{{pageTitle}}</span></p>
                </div>
                <div class="bottomwrapper">
                    <h4>Thank you for your purchase !</h4>
                    <h6>Transaction ID <span>{{transactionId}}</span></h6>
                    <div class="print_wrapper">
                        <div class="left_p_wrapper">
                            <h3>A reciept has been sent to your registered email id</h3>
                            <h5>Safe payment online no credit card needed. payment on the go </h5>
                        </div>
                        <!-- <div class="right_p_wrapper">
            <img src="assets/images/svg-three/course/printer.svg" alt="aio"> <span>Print reciept</span>
          </div> -->
                    </div>
                    <div class="summary_wrapper">
                        <div class="mob_overflow">
                            <div class="heade">ORDER SUMMARY</div>
                            <div class="course_detail">
                                <div class="courseimg">
                                    <img src="{{courseCoverPath}}" alt="aio">
                                </div>
                                <div class="coursesubdetail">
                                    <h4>COURSE</h4>
                                    <h2>{{courseName}} <span class="priceShow"><img src="assets/images/svg-three/course/course_creation/rupe.svg" alt="aio">{{discountedPrice|number}}</span></h2>
                                    <h5>By {{pageTitle}}</h5>
                                </div>
                            </div>
                            <div class="paymentdetail">
                                <div class="innerwrapper">
                                    <div class="leftPyment">
                                        <h3><span class="paymthd mthd"><span class="pay1">Payment Methods</span> <span class="pay2"> {{paymentMethod}} </span></span>
                                            <span class="paymthd"> <span class="pay1">Paid on</span> <span class="pay2">{{paidOnDate | date: 'dd MMM, yyyy'}}</span></span>
                                        </h3>
                                    </div>
                                    <div class="rightPyment">
                                        <h3>Subtotal <span class="amount"><img src="assets/images/svg-three/course/course_creation/rupe.svg" alt="aio">{{discountedPrice|number}}</span></h3>
                                        <!--                <h3>Tax<span class="amount"><img src="assets/images/svg-three/course/course_creation/rupe.svg" alt="aio">30</span></h3>-->
                                        <h3 *ngIf="walletAmount != 0 && walletAmount != ''">Wallet<span class="amount"> - <img src="assets/images/svg-three/course/course_creation/rupe.svg" alt="aio">{{walletAmount|number}}</span></h3>
                                        <!--<h3 *ngIf="walletAmount == 0">Wallet<span class="amount"><img src="assets/images/svg-three/course/course_creation/rupe.svg" alt="aio">{{walletAmount}}</span></h3>-->
                                        <h3 *ngIf="ifCouponExists"><span class="blue">Coupon Discount ({{couponCode}})</span><span style="margin-left: 4px;"> <img src="assets/images/svg-three/post_icon/report.svg" alt="aio"></span> <span style="color: #00bb24;"> - <img src="./assets/images/svg-one/rupee-grn.svg" alt="aio">{{couponAppliedCost}}</span></h3>
                                        <h4 *ngIf="ifCouponExists ">{{couponDesc}} {{paymentMethod}}</h4>
                                        <h3 class="total">To Pay<span class="amount"> <img src="assets/images/svg-three/course/course_creation/rupe.svg" alt="aio">{{totalPay|number}}</span></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>





            <div class="paymentSuccessWrapper " *ngIf="statusPayment == 2">
                <div class="topwrapper">
                    <span (click)="gotoCourse()" class="returnback">Return to Course</span>
                    <img src="assets/images/svg-three/course/unsuccess.png" alt="aio">
                    <p>Payment Unsuccessful</p>
                    <p class="publisher">Purchased to <span>{{pageTitle}}</span></p>
                </div>
                <div class="bottomwrapper">
                    <h4 class="red">Seems your payment didn't complete !</h4>
                    <h6>Transaction ID <span>{{transactionId}}</span></h6>
                    <div class="print_wrapper">
                        <div class="left_p_wrapper">
                            <h3>We are sorry to inform you that payment on Study24x7 is declined.</h3>
                            <h5>Please try again. In case money has been debited from your account it will be refunded within 5-7 days. </h5>
                        </div>
                        <!-- <div class="right_p_wrapper">
            <img src="assets/images/svg-three/course/printer.svg" alt="aio"> <span>Print reciept</span>
          </div> -->
                    </div>
                    <div class="summary_wrapper">
                        <div class="mob_overflow">
                            <div class="heade">ORDER SUMMARY</div>
                            <div class="course_detail">
                                <div class="courseimg">
                                    <img src="{{courseCoverPath}}" alt="aio">
                                </div>
                                <div class="coursesubdetail">
                                    <h4>COURSE</h4>
                                    <h2>{{courseName}} <span class="priceShow"><img src="assets/images/svg-three/course/course_creation/rupe.svg" alt="aio">{{discountedPrice|number}}</span></h2>
                                    <h5>By {{pageTitle}}</h5>

                                </div>
                            </div>
                            <div class="paymentdetail">
                                <div class="innerwrapper">
                                    <div class="leftPyment">
                                        <h3><span class="paymthd mthd"><span class="pay1">Payment Methods</span> <span class="pay2"> {{paymentMethod}} </span></span> <span class="paymthd mthd"><span class="pay1">Paid on</span> <span class="pay2">{{paidOnDate | date: 'dd MMM, yyyy'}}</span></span>
                                        </h3>
                                        <!-- <h3>
                  <span class="paymthd mthd">
                    <span class="pay1">Payment Methods</span>
                     <span class="pay2"> {{paymentMethod}} </span>
                    </span>
                    <span class="paymthd mthd">
                      <span class="pay1">Paid on</span>
                       <span class="pay2">{{paidOnDate | date: 'dd MMM, yyyy'}}</span>
                      </span>
                  </h3> -->

                                    </div>
                                    <div class="rightPyment">
                                        <h3>Subtotal
                                            <span class="amount">
                  <img src="assets/images/svg-three/course/course_creation/rupe.svg" alt="aio">{{discountedPrice|number}}
                  </span>
                                        </h3>
                                        <!--<h3>Tax<span class="amount"><img src="assets/images/svg-three/course/course_creation/rupe.svg" alt="aio">30</span></h3>-->
                                        <h3>Wallet
                                            <span class="amount"> - <img src="assets/images/svg-three/course/course_creation/rupe.svg" alt="aio">{{walletAmount|number}}</span></h3>
                                        <h3 *ngIf="ifCouponExists"><span class="blue">Coupon Discount ({{couponCode}})</span><span style="margin-left: 4px;"> <img src="assets/images/svg-three/post_icon/report.svg" alt="aio"></span> <span class="blue"> - <img src="./assets/images/svg-one/rupee-grn.svg" alt="aio">{{couponAppliedCost}}</span></h3>
                                        <h4 *ngIf="ifCouponExists">{{couponDesc}} {{paymentMethod}}</h4>
                                        <h3 class="total">To Pay<span class="amount"> <img src="assets/images/svg-three/course/course_creation/rupe.svg" alt="aio">{{totalPay|number}}</span></h3>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="contact">
                    <a href="http://support.aio.com"><p>contact <span>Study24x7</span></p></a>
                </div>

            </div>
            <div class="paymentSuccessWrapper " *ngIf="statusPayment == 0">
                <div class="topwrapper">
                    <span (click)="gotoCourse()" class="returnback">Return to Course</span>
                    <img src="assets/images/svg-three/course/unsuccess.png" alt="aio">
                    <p>Payment Inprogress</p>
                    <p class="publisher">Purchased to <span>{{pageTitle}}</span></p>
                </div>
                <div class="bottomwrapper">
                    <h4 class="red">Seems your payment didn't complete !</h4>
                    <h6>Transaction ID <span>{{transactionId}}</span></h6>
                    <div class="print_wrapper">
                        <div class="left_p_wrapper">
                            <h3>We are sorry to inform you that payment on Study24x7 is in progress.</h3>
                            <h5>Plese wait for 15 minutes. in case money has been debited from your account it will be refunded in 5-7 days. </h5>
                        </div>
                        <!-- <div class="right_p_wrapper">
            <img src="assets/images/svg-three/course/printer.svg" alt="aio"> <span>Print reciept</span>
          </div> -->
                    </div>
                    <div class="summary_wrapper">
                        <div class="mob_overflow">
                            <div class="heade">ORDER SUMMARY</div>
                            <div class="course_detail">
                                <div class="courseimg">
                                    <img src="{{courseCoverPath}}" alt="aio">
                                </div>
                                <div class="coursesubdetail">
                                    <h4>COURSE</h4>
                                    <h2>{{courseName}} <span class="priceShow">
                <img src="assets/images/svg-three/course/course_creation/rupe.svg" alt="aio">
                {{discountedPrice|number}}</span></h2>
                                    <h5>By {{pageTitle}}</h5>

                                </div>
                            </div>
                            <div class="paymentdetail">
                                <div class="innerwrapper">
                                    <div class="leftPyment">
                                        <h3>
                                            <span class="paymthd mthd">
                  <span class="pay1">Payment Methods</span> <span class="pay2"> {{paymentMethod}} </span></span> <span class="paymthd mthd"><span class="pay1">Paid on</span> <span class="pay2">{{paidOnDate | date: 'dd MMM, yyyy'}}</span></span>
                                        </h3>
                                    </div>
                                    <div class="rightPyment">
                                        <h3>Subtotal <span class="amount"><img src="assets/images/svg-three/course/course_creation/rupe.svg" alt="aio">{{discountedPrice|number}}</span></h3>
                                        <!--<h3>Tax<span class="amount"><img src="assets/images/svg-three/course/course_creation/rupe.svg" alt="aio">30</span></h3>-->
                                        <h3>Wallet<span class="amount"> - <img src="assets/images/svg-three/course/course_creation/rupe.svg" alt="aio">{{walletAmount|number}}</span></h3>
                                        <h3 *ngIf="ifCouponExists"><span class="blue">Coupon Discount ({{couponCode}})</span> <span class="blue"> - <img src="./assets/images/svg-one/rupee-grn.svg" alt="aio">{{couponAppliedCost}}</span></h3>
                                        <h4 *ngIf="ifCouponExists">{{couponDesc}} {{paymentMethod}}</h4>
                                        <h3 class="total">To Pay<span class="amount"> <img src="assets/images/svg-three/course/course_creation/rupe.svg" alt="aio">{{totalPay|number}}</span></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contact">
                    <a href="http://support.aio.com"><p>contact <span>Study24x7</span></p></a>
                </div>

            </div>

        </div>
    </div>
</div>

<!-- bookmarking step 1 popoup -->
<!-- <div class="containdiv">
  <div class="innleft">
    <div class="bookmarrk">
       <div class="in_wrap">
         <span class="crs_heading">Quantum Physics : Session 1</span>
         <span class="crs_rate"><span class="rate_p"><img src="src/assets/images/svg-one/rupee-redc.svg" alt="aio">1000</span><span class="rate_del"><img src="src/assets/images/svg-one/rupee-gray.svg" alt="aio">1400</span></span>
       </div>
       <div class="in_wrap_dwn">
         <span class="in_wrap_detail">
           <span class="dtl_one"><span>Validity 3 months</span><span>Intermediate Level</span><span>English</span></span>
           <span class="dtl_review">
             <div class="card-course-rating">
               <label class="star star-f" >
                 <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                 <img class="star-half-svg" src="assets/images/course_icon/star-half-filled.svg">
                 <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
               </label>
               <label class="star star-f" >
                 <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                 <img class="star-half-svg" src="assets/images/course_icon/star-half-filled.svg">
                 <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
               </label>
               <label class="star star-h" >
                 <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                 <img class="star-half-svg" src="assets/images/course_icon/star-half-filled.svg">
                 <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
               </label>
               <label class="star star-b" >
                 <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                 <img class="star-half-svg" src="assets/images/course_icon/star-half-filled.svg">
                 <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
               </label>
               <label class="star star-b" >
                 <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                 <img class="star-half-svg" src="assets/images/course_icon/star-half-filled.svg">
                 <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
               </label>
               <label class="c-rating-avg">2.5</label>
               <label class="c-rating-count">(236 Ratings)</label>

             </div>
           </span>
         </span>
         <span class="wrap_btn"><button>Enroll Now</button></span>
       </div>
    </div>
  </div>
  <div class="innright">

  </div>
</div> -->
<!-- end popup -->
