<div class="popup" style="position:relative;">
    <div class=" popup_background_view">
        <div class=" sharescreenpostview share-link-post-screen">
            <div class="popup_heading">
                <ul>
                    <li (click)="showPost('1')" [ngClass]="{'active': shareLinkPost==1}">
                        <span *ngIf="postdata['EDIT_POST']==false">Share Post</span>
                        <span *ngIf="postdata['EDIT_POST']">Edit Share Post</span>
                    </li>
                    <li (click)="showPost('2')" [ngClass]="{'active': shareLinkPost==2}">Get a link</li>
                </ul>
                <span class="close_div" (click)="sharelinkpostviewhide()">
                    <img class="defaultt" src="assets/images/svg/tagcross.svg">
                    <img class="hoverr" src="assets/images/svg/tagcross-gray.svg">
                </span>
            </div>
            <div class="col-md-12 fleft">
                <div class="row">
                    <div class='post_outer'>

                        <div class="shareLinkContainer" *ngIf="shareLinkPost==2">
                            <div class="shareLink">
                                <input readonly style='pointer-events: none' id="copySharelinkID"
                                    [(ngModel)]="postPublicShareLink" />
                                <span class="copyLinkButton" (click)="postData.copyToClipboard('copySharelinkID')"><img
                                        src="assets/images/svg-three/copyicon.svg" alt=""></span>
                            </div>
                            <div class="shareButtonWrapper">
                                <a class="fb" [href]="socialFbShareUrl" target="_blank"><img
                                        src="assets/images/svg-three/facebook-logo.svg" alt=""></a>
                                <a class="linkedin" [href]="socialLinkedInShareUrl" target="_blank"><img
                                        src="assets/images/svg-three/linkedin-logo.svg" alt=""></a>
                                <a class="twitter" [href]="socialTeitterShareUrl" target="_blank"><img
                                        src="assets/images/svg-three/twitter.svg" alt=""></a>
                                <a class="twitter" [href]="socialTelegramUrl" target="_blank"><img
                                        src="assets/images/telegram.svg" alt=""></a>

                            </div>
                        </div>

                        <div *ngIf="shareLinkPost==1" class='sharedatainput' (focusout)="checkData()">
                            <input style="font-size:16px;" [(ngModel)]="sharedPostText"
                                placeholder="Discuss within your interest." class='sharedatainput'
                                contenteditable="true" ondrop="return false;" id="shareText"
                                (focus)="onFocusInput()" (paste)="pastedData($event)">
                            <!-- <span class="placeholder" id="post_placeholder" *ngIf="hidePlaceHolder">Discuss within your interest.</span> -->
                        </div>
                        <div class="profile-and-content">
                            <div class='post_profile' *ngIf="innerPostTyp == 0">
                                <span *ngIf="isPagePost">
                                    <span class="post_profilepic cursor-pointer"><img src="{{profile_pic_path}}"
                                            (error)="updateSourcePic($event)" routerLink="/page/{{pg_uuid}}"></span>
                                    <div class="profiledetail">
                                        <div>
                                            <span title="{{user_name}}" class='name cursor-pointer'
                                                routerLink='/page/{{pg_uuid}}'>{{user_name |trimData:30}}</span>
                                        </div>
                                        <div>
                                            <span class="follwer_count">{{followerCount}} followers</span>
                                            <span class="follow_dote"><img
                                                    src="assets/images/svg-three/post_icon/dote1.svg"
                                                    alt="aio"></span>
                                            <span class="follwer_count cursor-pointer" *ngIf="postdata.VISIBILITY ==3"
                                                routerLink="/post/{{postdata.USER_POST_ID}}">{{time}}</span>
                                            <span class="follwer_count cursor-pointer" *ngIf="postdata.VISIBILITY !=3"
                                                routerLink="/post/{{postdata.USER_POST_ID}}">{{time}}</span>
                                        </div>
                                    </div>
                                </span>
                                <span *ngIf="!isPagePost"><span class="post_profilepic cursor-pointer"><img
                                            src="{{profile_pic_path}}" (error)="updateSourcePic($event)"
                                            routerLink="/profile/{{user_name}}"></span>
                                    <div class="profiledetail">
                                        <span title="{{full_name}}" class='name cursor-pointer'
                                            routerLink='/profile/{{user_name}}'>{{full_name |trimData:30}}</span>
                                        <div>
                                            <span class="follwer_count cursor-pointer" *ngIf="postdata.VISIBILITY ==3"
                                                routerLink="/post/{{postdata.USER_POST_ID}}">{{time}}</span>
                                            <span class="follwer_count cursor-pointer" *ngIf="postdata.VISIBILITY !=3"
                                                routerLink="/post/{{postdata.USER_POST_ID}}">{{time}}</span>
                                        </div>
                                    </div>
                                </span>
                            </div>
                            <div class='post_profileContent'>
                                <div class='postmain_container'>

                                    <!-- <p class="posttext posttextauto" *ngIf="DataView" [innerHTML]="post_data"></p>

                                    <br> -->

                                    <a class="sharedlink_post shareLinkPostParentcontiner" *ngIf="innerPostTyp == 0">

                                        <div class="linkImageaBackgroundImage"
                                            [ngStyle]="{'background-image': getUrl(image_path)}"
                                            *ngIf="image_path != '' ">
                                            <!-- <img (error)="linkpostPic($event)" src="{{image_path}}" *ngIf="image_path!=''" alt="{{altName}}"> -->
                                        </div>

                                        <!-- <img (error)="linkpostPic($event)" src="{{image_path}}" *ngIf="image_path!='null'"> -->
                                        <div style="cursor: default;" class="sharedlink_content"
                                            [ngClass]="{'shareTextFullWidthpost': image_path ==''}"
                                            >
                                            <h4 style="cursor: default;">{{postPublicShareLink}}</h4>
                                            <p style="cursor: default;">{{sharedPostText}}</p>
                                        </div >
                                    </a>
                                    <a class="sharedlink_post shareLinkPostParentcontiner PostViewArticle"
                                        (click)="gotourl(link)" *ngIf="innerPostTyp == 1">
                                        <div class="articleImage" *ngIf="image_path !='' ">
                                            <img src="{{image_path}}" alt="aio" #aritcleImage
                                                style="visibility:hidden;">
                                            <span
                                                [ngClass]="{'img-auto': setArticleClass == 1, 'img-contain': setArticleClass == 2, 'img-100':setArticleClass == 3, 'img-cover': setArticleClass == 4}"
                                                [ngStyle]="{'background-image': getImgUrl(image_path)}"></span>
                                            <!-- <img src="{{image_path}}" alt="aio"  #aritcleImage> -->
                                        </div>

                                        <div class="article_content"
                                            [ngClass]="{'artical_content_border_top':image_path == ''}"
                                            >
                                            <h4 [innerHTML]="link_title" ></h4>
                                            <p [innerHTML]="link_description"></p>
                                        </div>
                                    </a>


                                </div>
                                <div class="posttagdiv"><span class="tags" *ngFor="let tags of tagsArr"
                                        [id]='tags'>{{interestObj[tags]}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class='postsave'>
                            <button type="submit" class="button24x7 redColorButton fright"
                                [disabled]="showPreloader === true" (click)="sharePost()"
                                *ngIf="postdata['EDIT_POST']==false  && shareLinkPost==1">
                                <span class="text" *ngIf="showText">Share</span><span class="preloder"><img
                                        src="./assets/images/svg/preloader-25.svg" alt="aio"
                                        *ngIf="showPreloader"></span></button>
                            <button type="submit" class="button24x7 redColorButton fright"
                                [disabled]="showPreloader === true" (click)="sharePost()" *ngIf="postdata['EDIT_POST']">
                                <span class="text" *ngIf="showText">Update</span><span class="preloder"><img
                                        src="./assets/images/svg/preloader-25.svg" alt="aio"
                                        *ngIf="showPreloader"></span></button>
                            <button type="submit" class="button24x7 whiteColorButton fleft"
                                (click)="sharelinkpostviewhide()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-confirmationpopup *ngIf="openConfirmation" (closeComfirmPopupThread)="closePopup($event);" [dataObj]="dataConf">
</app-confirmationpopup>
<app-likeshareviewall (closeViewAllThread)="impLikeShareStatus = $event" *ngIf="impLikeShareStatus"
    [data]="userLikeShareList"></app-likeshareviewall>
<app-likeshareviewall (closeViewAllThread)="CloseViewAll($event)" *ngIf="shareLikeShareStatus"
    [data]="userLikeShareList"></app-likeshareviewall>
<app-confirmationpopup *ngIf="openConfirmation" (closeComfirmPopupThread)="sessionLogout($event);" [dataObj]="dataConf">
</app-confirmationpopup>
