
.sharedlink_post   {
    cursor: text !important;
}
.PostViewArticle .article_content h4 {
    cursor: text !important;
}
.PostViewArticle:hover .article_content h4, .PostViewArticle:hover .article_content p {
    text-decoration: none !important;
}
