<!-- asked question  section -->
<div class="asked_question">
	 <h2 class="heading_bold">Frequently Asked Questions</h2>
	 <div class="inner_accordian">
		 <button class="accordion">What is registration fee for the test?</button>
			<div class="panel">
				<p>The test is free and open to all eligible students. All you need to do is to take out one hour of your time and write the test.</p>
			 <!-- <ul>
			 	<li>Category 1 - Grade 7th(Completed Grade 6th), Grade 8th(Completed Grade 7th) & Grade 9th(Completed Grade 8th)
					<ul>
						<li>MAT - 50 questions on Mental Ability, Logical Reasoning & Data Interpretation</li>
					</ul>
				</li>
			 	<li>Category 2 - Grade 10th(Completed Grade 9th), Grade 11th(Completed Grade 10th)
					<ul>
						<li>MAT - 50 questions on Mental Ability, Logical Reasoning & Data Interpretation</li>
					</ul>
				</li>
			 	<li>Category 3 - Grade 12th(Completed Grade 11th) JEE Aspirants
					<ul>
						<li>MAT - 25 questions on Mental Ability, Logical Reasoning & Data Interpretation</li>
						<li>SAT - 25 questions from Science (Physics & Chemistry) syllabus of class 10</li>
					</ul>
				</li>
			 	<li>Category 4 - Grade 12th(Completed Grade 11th) NEET Aspirants
					<ul>
						<li>MAT - 25 questions on Mental Ability, Logical Reasoning & Data Interpretation</li>
						<li>SAT - 25 questions from Science (Physics, Chemistry & Biology) syllabus of class 10</li>
					</ul>
				</li>
				<li>Category 5 - JEE Aspirants completed Grade 12th
				<ul>
					<li>10 questions each on Physics, Chemistry & Maths from class 11th syllabus</li>
				</ul>
			</li>

			 </ul> -->
			</div>

			<button class="accordion">What is the process to apply for the test?</button>
			<div class="panel">
			 <p>The registration process is online. You need to go to https://www.study24x7.com/scholarship and register for the test.</p>
			</div>

			<button class="accordion">How to take this test?</button>
			<div class="panel">
			 <p>The StudyIndia Scholarship Test can be taken online from anywhere at anytime. This test will be conducted online on Study24x7 site. Students must log in to take the test. Once the students have completed all the questions they must submit the test. The report will be generated based on the inputs/answers provided during the assessment and will be live as per mentioned date and time.</p>
			</div>
			<button class="accordion">What are the system requirements for taking this test?</button>
			<div class="panel">
			 <p>This test can be taken on any computer having good internet connection. </p>
			</div>
			<button class="accordion">Will this test be conducted at a center?</button>
			<div class="panel">
			 <p>No. This test will only be conducted online and can be taken anytime from anywhere.</p>
			</div>
			<button class="accordion">What to do if I forget my login id and/or password?</button>
			<div class="panel">
			 <p>You can click on the " Forgot Password" link to recover your password.</p>
			</div>
			<button class="accordion">Is there a way to reschedule the test?</button>
			<div class="panel">
			 <p>Yes. Once the student is registered he/she can give the test as per their own convenience at any time but before the test deadline. </p>
			</div>
			<button class="accordion">Can I take the scholarship test multiple times?</button>
			<div class="panel">
			 <p>No. You can not take the test multiple times.</p>
			</div>
			<button class="accordion">Can I use a calculator?</button>
			<div class="panel">
			 <p>Yes, you can. But keep in mind that this is a psychometric test and calculator may not be that useful here.
</p>
			</div>
			<button class="accordion">When will the results be announnced?</button>
			<div class="panel">
			 <p>The scholarship will be announced on 1st December at 4 PM on the StudyIndia site. Students will be rewarded as per their performance in the assessment.</p>
			</div>
			<button class="accordion">What are the details of the scholarships?</button>
			<div class="panel">
			 <p>The details of the scholarships will be added soon.</p>
			</div>
			<button class="accordion">How to prepare for StudyIndia Scholarship Test?</button>
			<div class="panel">
			 <p>The psychometric section consists of statements, related to typical behaviors. Read each statement carefully and decide which one is more like you, or is a better reflection of your attitude and behavior in your daily life. When you decide it, please indicate your choice by selecting the relevant option that follows. Read each statement carefully and try to answer it quickly, do not spend too much time on any one question. There are no right or wrong answers in psychometric questions. Describe yourself as honestly and accurately as possible. Please remember that your first response is probably the best.</p>
			</div>
	 </div>

</div>
