$themeblue : #F05050;
$btnbackground : #ff5555;
.profile_bar{
  .profile_menu{
    li.active{
      // color: $themeblue;
      color: #2c2e2f;
      border-bottom: 2px solid $themeblue;
    }
  }
}
.streams_wrapper{
  margin-bottom: 0px;
  padding-bottom: 12px;
  min-height: 210px;
}
.accepted_stream{
  background-color: #fff;
  color: #2c2e2f;
  // box-shadow: 0 1px 2px 1px rgba(44, 46, 47, 0.1);
  border: none;
  // outline: none;
  font-size: 14px;
  // border-radius: 30px;
  outline: none;
  height: 33px;
  line-height: 33px;
  // padding: 0px 15px;
  .roundtick{
    // position: absolute;
    // left: 0px
    background-color: #f05050;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    text-align: center;
    top: 2px;
    display: inline-block;
    float: left;
    margin: 7px 9px 0 0;
    border: 1px solid #f05050;
    img{
      width: 9px;
      position: relative;
      top: -10px;
    }
  }
}
.teststream{
  background: #e9e9e9;
}
.redteststream{
  color: #f05050 !important;
  box-shadow: 0 1px 2px 1px #f05050 !important;
  &:hover{
    color: #f05050 !important;
    box-shadow: 0 1px 2px 1px #f05050 !important;
    background-color: #fff;
  }
}

.box_dropdown{
  width: 131px;
  .box{
    // height:100px;
    //       width:200px;
    position:relative;
    padding:0px;
    text-align: left;
    span{
      padding:6px 10px;
      // float: left;
      display: block;
      cursor: pointer;
      font-size:12px;
    }
    span.request{
      background-color: #f1f1f1;
      cursor: pointer;
    }
  }
}
.box_dropdown{
  top: 25px;
  .box::before{
    display: none;
  }
  .box::after{
    display: none;
  }
}

.livesteam_card{
  padding: 15px;
  background: #f7f8fa !important;
  margin-top: 0 !important;
  padding-top: 0;
}
.livecard_wrapper{
  width:100%;
  float: left;
  margin-top: 15px;
  .course_heading_card{
    width:100%;
    float:left;
    margin-top: 5px;
    color: #b3b3b3;
  }
  .invite_stream_heading_card{
    width:50%;
    float:left;
    padding:10px 0;
    color: #2c2e2f;
    font-size: 16px;

  }
  .invite_mentor{
    width:50%;
    float:right;
    .live_profiledet_card{
      float: right;
      // width: 100%;
      // float: left;
      position: relative;
      // margin-top: 15px;
      padding-left: 30px;
      height: 25px;
      display: flex;
      align-items: center;
      .live_imgprofile{
        position: absolute;
        display: inline-block;
        height: 25px;
        width: 25px;
        float: left;
        overflow: hidden;
        border-radius: 50%;
        border: 1px solid #eaeaea !important;
        left: 0;
        top: 0;
        img{
          float: left;
          width: 100%;
          height: 100%;
        }
      }
      .live_profilehead{
        display: block;
        font-size: 14px;
        // margin-top: 5px;
      }
    }
  }
}
.invite_livestream_block_card{
  width:100%;
  float:left;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  ul li{
    width:100%;
    float:left;
    border-bottom: 2px solid #f7f8fa;
  }
}
.inviteLeft_card{
  width:65%;
  float:left;
  padding: 15px;
  // padding-left: 10px;
  position: relative;
  padding-left: 150px;
  min-height: 65px;

  display: flex;

  align-items: center;
  .duration_card{
    // width: 100px;
    position: absolute;
    top: 15px;
    left: 15px;
    .invite_stream_details{
      font-size: 14px;
      display: block;

    }
    .date_wrap{
      margin-top: 5px;
      color: #b3b3b3;
    }
  }
  .live_headingwrapp{
    display: block;
    float:left;
  }
}
.live_livementordetail{
  width:35%;
  float:left;
  padding:15px 15px 15px 0px;
  .video_upload{
    float:right;
    img{
      height: 14px;
    }
  }
}
.live_time_wrapper{
  // width:100%;
  // float: left;
  // margin-top: 20px;
  .live_button{
    display: inline-block;
    float: right;
  }
  .live_timewrap{
    display: inline-block;
    float: left;
    text-align: center;
    padding: 0 10px 0 0;
    .live_digitwrapp{
      display: block;
      font-weight: bold;
      // color: #f05050;
      text-align: left;
    }
    .live_wordwrapp{
      display: block;
      // color: #f05050;
      font-size: 12px;
    }
  }
}
.three_dot{
  width:30px;
  height: 35px;
  float:right;
  margin-left: 10px;
}
.invite_liveblock_up{
  // border-bottom: 1px solid #ebebeb;
  // padding: 10px 40px 5px 10px;
  position: relative;
  width: 100%;
  height: 100%;
  .invite_stream_heading{
    display: block;
    font-size: 12px;
    text-transform: capitalize;
    color: #b5b5b5;
    margin-bottom: 5px;
    margin-top: 10px;

  }
  .invite_stream_details{
    font-size: 14px;
    // text-transform: uppercase;
    display: block;
    img{
      margin-top: -3px;
      margin-right: 3px;
    }
  }
  .invite_doticon{
    // width: 30px;
    // position: absolute;
    right: 10px;
    top: 4px;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    img{
      transform: rotate(90deg);
    }
  }
}
.box_dropdown{
  position: absolute;
  right: 5px;
  height: auto;
  top: 32px;
  width: 130px;
  background: #fff;
  border: 1px solid #52b2ff;
  z-index: 1;
  border-radius: 5px;
  overflow: hidden;
}
.streambutton{
  background: #0cc6a6;
  color: white;
}
.hideHeight{
  height: 0px;
  overflow: hidden;
}
@media only screen and (max-width:1100px){
  .course_wrapper .coursepage_outer .course_div{
    padding-right: 10px;
  }
  .course_item{
    padding-left: 10px;
    margin: 0 0px 10px;
  }

}
@media only screen and (max-width:1100px) and (min-width:991px){
  .whiteColorButton{
    font-size: 12px;
  }
  .live_livementordetail .live_headingwrapp{
    font-size: 12px;
  }
}
@media only screen and (max-width:599px){
  .course_filter.livefilter{
    .fieldsection{
      min-width: 90px !important;
    }
    .walldropdencnt{
      min-width: 90px !important;
    }
  }
}



// popup scss start
.inviteStream_popupHead{
  padding:15px;
  width: 100%;
  float: left;
  .close_div{
    position: absolute;
    right: 15px;
  }
}
.topInner_wrapper{
  padding:10px;
  float:left;
  // border-top:1px solid #2c2e2f;
  background: #f6f7fb;
  width:100%;

  .inviteLeft_invite{
    width: 100%;
    float: left;
    padding: 15px;
    padding-left: 15px;
    position: relative;
    padding-left: 150px;
    min-height: 65px;
    // display: flex;
    // align-items: center;
    .duration_invite{
      position: absolute;
      top: 15px;
      left: 15px;
      .invite_stream_duration{
        font-size: 14px;
        display: block;
      }
      .date{
        margin-top: 5px;
        color: #b3b3b3;
      }
    }
    .live_headingwrapp_invite{
      display: block;
    }
    .cHeading{
      color: #b3b3b3;
      margin-bottom: 3px;
    }
    .dHeading{
      line-height: 20px;
    }
  }
}
.inviteInner_wrapper{
  width:100%;
  // height: 100%;
  float:left;
  padding:15px;
  margin-bottom: 55px;
  p{
    width: 100%;
    float: left;
    margin-bottom: 15px;
  }
}
.invite_footer{
  width: 100%;
  float: left;
  padding: 10px 15px;
  border: 1px solid #ebeef3;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 0 0 5px 5px;
  background: #fff;
}
.popup-inner-wrap.popup-open-inner-wrap{
  width:500px;
}
.payRadio{
  display: none;
}
.checkbox_btn{
  float: left;
  // margin: 0 7px;
}
.payRadio:checked + .checkbox_btn{
  border: 2px solid #f05050;
  background-color: #f05050;
}
.payRadio + .checkbox_btn{
  display: block;
  height: 15px;
  width: 15px;
  // border: 1px solid rgba(44, 46, 47, 0.8);
  background-color: #ebeef3;
  border-radius: 3px;
  margin-bottom: 0px;
  position: relative;
  transition: all 0.1s ease;
  cursor: pointer;
}
.payRadio:checked + .checkbox_btn .checkboximg {
  display: inline-block;
}
.payRadio + .checkbox_btn .checkboximg {
  height: 8px;
  width: 8px;
  float: left;
  margin: 1px 0 0 1px;
  display: none;
}
.option_line{
  display: block;
  width:100%;
  position: relative;
  float: left;
  margin-bottom: 15px;
  padding:0 0 0 25px;
  .check_box_cont{
    display: inline-block;
    position: absolute;
    left: 0;
  }
}
.close_btnn{
  border:1px solid #ebeef3;
}
.text_areaopt{
  padding-left: 0;
  list-style: none;
  // padding-bottom: 10px;
  float: left;
  width: 100%;
  textarea{
    padding:7px !important;
  }
  textarea:focus{
    border: 1px solid #66a9d5 !important;
    outline: 0;
    box-shadow: 0 0 0 .3rem rgba(153,197,227,.3) !important;
    padding:7px !important;
  }
}
// popup scss end


.multipleClassButton{
  width: 140px !important;
  // height: 28px;
  opacity: 0.7;
  border-radius: 30px;
  box-shadow: 0px 1px 2.9px 0.2px rgba(44, 46, 47, 0.15);
  background-color: #2c2e2f;
  font-size: 12px;
  color: #ffffff;
}
@media screen  and (max-width:640px){
  .inviteLeft_card{
    width: 100%;
  }
  .invite_stream_heading_card{
    width: 100% !important;
  }
  .live_livementordetail{
    width: 100%;
    display: flex;
    justify-content: flex-start;

  }
  .invite_mentor{
    float: left !important;
    width: auto !important;
    margin-bottom: 10px;
  }
}
@media screen  and (max-width:400px){
  .inviteLeft_invite{
    padding-top: 71px !important;
    padding-left: 15px !important;
  }
}


// multiple class popup
.multiple_class{
  width:483px;
  max-height: 627px;
  height: auto;
  .popup_heading{
    line-height: 42px !important;
    height: 40px !important;
    font-size: 14px !important;
  }
  .out_wrapper{
    padding: 0px;
    height: calc(100% - 40px);
    width: 100%;
    float: left;
    background: #f5f7fa;
    .inner_wrapper_mlClass{
      width:100%;
      height: calc(100% - 72px);
      float: left;
      background: #fff;
      box-shadow: 0 0 5px 0 rgba(44, 46, 47, 0.1);
    }
  }
}

.schedule_class{
padding: 10px 15px;
border-bottom: 1px solid #e9e9e9;

  .class_date{
    display: block;
    opacity: 0.8;
    // font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    color: rgba(240, 80, 80, 0.8);
    margin-bottom: 3px;
  }
  .class_time{
    // font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  color: #2c2e2f;
  }
}
.name_class_outer{
  width:100%;
  float: left;
  .class_heading{
    width:100%;
    float:left;
    padding:10px 15px;
    background-color: #f5f7f9;
    // border-top: 1px solid #e9e9e9;
    .prof_img{display: inline-block;float: left;width:24px;height:24px;border-radius: 50%;margin-right: 10px;border-top: 1px solid #e9e9e9;
      img{width:100%;height: 100%;}
    }
    .prof_heading{
      font-size: 14px;
      font-weight: 500;
      text-align: left;
      color: #2c2e2f;
      line-height: 23px;
    }
  }
  .course_topic{
    width:100%;
    float:left;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid #e9e9e9;
  }
}
.course_check{
  width:100%;
  float: left;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e9e9e9;
  .content_checkbtn{
    width:75%;
    float: left;
    .checkbtn{
      width:10%;
      float: left;
      height: 30px;
    }
    .course_cntn{
      width:90%;
      float: left;
      .cont_top{
        display: inline-block;
        opacity: 0.8;
        font-size: 12px;
        text-align: left;
        color: rgba(44, 46, 47, 0.8);
        margin-bottom: 2px;
      }
      .new_crs{
        display: inline-block;
        font-size: 10px;
        padding: 0 7px;
        background: #0ec631;
        border-radius: 3px;
        color: #fff;
        letter-spacing: 0.2px;
        font-weight: 500;
        margin-left: 5px;
      }
      .cont_down{
        display: block;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.29;
        text-align: left;
        color: #2c2e2f;
      }
    }
  }
  .right_decline{
    width:25%;
    float:left;
    width: auto;
    float: right;
    display: flex;
    right: 0;
    bottom: 0;
    position: absolute;
    top: 0;
    align-items: center;
  }
}
div.course_check:last-child{
  border-bottom: none;
}
.multipleClass_footer{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px;
  background: #ffffff;

}
.checkbox{
  background-color: #dfe5eb;
  border-radius: 2px;
  cursor: pointer;
  margin-top: 3px;
  box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.14);
}
.checkboxhide:checked + .checkbox{
  border: 1px solid transparent;
  background-color: #f05050 !important;
}
.redColorButton_multi{
  background-color: rgba($btnbackground, 0.2);
  color: #f05050;
  border: 1px solid #ffd0d0;
  height: 26px !important;
  line-height: 21px !important;
  font-size: 12px;
  border-radius: 30px;
  padding: 0px 15px;
}
.inn_courseClass{
  width:100%;
  float:left;
  position: relative;
}
.reason_search{
  float: left;
  margin-left: 8%;
  margin-top: 10px;
  width: 215px !important;
}
.select_res{
  width:215px !important;
}

.showList{
  display: block!important;
}
.walldropdencnt.wallprydeopcnt.select_res{
  display: none;
}
.accept_option{
  width:100% !important;
}
.accept_acpt{
  display: block;
  float: right;
  .accpt_greentick{
    display: inline-block;float: left;
    width: 16px;
    height: 16px;
    opacity: 0.7;
    background:
    #1fdc1f;
    border-radius: 50%;
    display: flex;
    margin-right: 5px;
    img{
      width: 8px;
      height: 8px;
      margin: auto;
    }
  }
  .accpted{display:inline-block;float:left;font-size: 12px;color:#2c2e2f;}
}
.white_btn{
  border: solid 1px #dfdfdf;
  background-color: #ffffff;
  color: #2c2e2f;
}
.next_gray{
  background-color:#cacaca;
  color:#fff;
}
.next_black{
  background:#2c2e2f;
  color:#fff;
}
.button24x7{
  line-height:30px;
  width: 72px;
}
.center_wrapper{
  width: 100%;
  float: left;
  height: calc(100% - 54px);
  position: relative;
}
// end multiple class popup
@media only screen and (max-width:991px){
  .inviteLeft_card{
    width: 100%;
    flex-flow: row-reverse;
  }
  .live_livementordetail{
    padding: 15px 15px 5px 15px;
    width: 100%;
    .live_time_wrapper{
      width: 100%;
      float: left;
    }
    .video_upload{
      float: left;
    }
  }
}
