<div class="col-md-12 col-sm-12 course_wrapper" style="border-radius: 5px;">
  <div class="row">
    <!-- ================================================================================ -->
    <!-- header Wrapper start -->
    <!-- ================================================================================ -->
    <div class="course_filter_top">
      <!-- ================================================================================ -->
      <!-- header  UI start -->
      <!-- ================================================================================ -->
      <div class="mainheading">Invites</div>
      <!-- ================================================================================ -->
      <!-- header  UI end -->
      <!-- ================================================================================ -->


      <!-- ================================================================================ -->
      <!-- header tab UI start -->
      <!-- ================================================================================ -->
      <div class="profile_bar course_bar" >
        <ul class="profile_menu course_menu admin_menu" style="width:100%">
          <li [ngClass]= "{'active' : livestreamTab === 1 }" (click)="livestreamTabUrlFxn(1)">All</li>
          <li [ngClass]= "{'active' : livestreamTab === 2 }" (click)="livestreamTabUrlFxn(2)">Approved</li>
          <li [ngClass]= "{'active' : livestreamTab === 0 }" (click)="livestreamTabUrlFxn(0)">Pending</li>
        </ul>
      </div>
      <!-- ================================================================================ -->
      <!--  header tab UI start -->
      <!-- ================================================================================ -->

      <!-- ================================================================================ -->
      <!-- filter UI start -->
      <!-- ================================================================================ -->

      <!-- <ul class="course_fl">
      <li class="course_filter livefilter">
      <div class="course_search_sec fieldsection" [ngClass]="{'wallpostdrpdwn':walldropdown}"   (click)="showwalldropdown();" (mouseleave)="closewalldropdown()">
      <div class="wll_img_pey_cont"   >
      <span style="">{{visibilityText}}</span>
    </div>

    <span class="tab-article " >
    <img src="assets/images/svg-three/add_post/downarrow.svg" class="defaultt" style="width:10px !important;">
    <img src="assets/images/svg-three/add_post/f05050/downarrow.svg"  class="hoverr" style="top: 0px;width:10px !important;">
  </span>

  <div class="walldropdencnt wallprydeopcnt" [ngClass]="{'wallprydeopcnt':walldropdown}" *ngIf="walldropdown" (click)="showwalldropdown();" (mouseleave)="closewalldropdown()">
  <ul>
  <li   (click)="changeVisibility(2)"> A-Z</li>
  <li   (click)="changeVisibility(3)"> Z-A</li>
</ul>
</div>
</div>
</li>

<li class="course_filter livefilter">
<div class="course_search_sec fieldsection" [ngClass]="{'wallpostdrpdwn':walldrop}" (click)="showwalldrop();"  (mouseleave)="closewalldrop()">
<div class="wll_img_pey_cont"   >
<span style="">{{visibilityfilter}}</span>
</div>
<span class="tab-article " >
<img src="assets/images/svg-three/add_post/downarrow.svg" class="defaultt" style="width:10px !important;">
<img src="assets/images/svg-three/add_post/f05050/downarrow.svg"  class="hoverr" style="top: 0px;width:10px !important;">
</span>
<div class="walldropdencnt wallprydeopcnt" [ngClass]="{'wallprydeopcnt':walldrop}" *ngIf="walldrop" (click)="showwalldrop();" (mouseleave)="closewalldrop()">
<ul>
<li   (click)="changeVisibilitySort(3)"> All</li>
<li   (click)="changeVisibilitySort(2)"> Free</li>
<li   (click)="changeVisibilitySort(1)"> Paid</li>
</ul>
</div>
</div>
</li>
</ul> -->

<!-- ================================================================================ -->
<!-- filter UI end       -->
<!-- ================================================================================ -->
</div>
<!-- ================================================================================ -->
<!-- header Wrapper end -->
<!-- ================================================================================ -->



<!-- ================================================================================ -->
<!-- All invites    -->
<!-- ================================================================================ -->
<div class="coursepage_outer livesteam_card" *ngIf="liveClassInvites.length != 0">
  <!-- <div class="course_div course_student_veiw">
  <div  class="course_item col-md-4 col-sm-6 col-xs-6">
  <div  class="course_cont" data-infinite-scroll
  [infiniteScrollDistance]="5"
  (scrolled)="onScrollDown()"
  [scrollWindow]="true"> -->
  <div >
    <div *ngFor="let classInvitation of liveClassInvites | filterinvite:livestreamTab:'0' ;let i = index">
      <div *ngIf="classInvitation.liveClassInviteInnerList.length != 0">
      <div class="livecard_wrapper">
        <div class="course_heading_card">
          course
        </div>

        <!-- course live stream dertail dropdown header start -->
        <!-- <div style="float:left;width:100%;cursor:pointer;" (click)="inviteDropDown(i,j,classInvitation.COURSE_UUID)"> -->
        <span class="invite_stream_heading_card">
          {{classInvitation.COURSE_TITLE | trimData:50 }}
        </span>

        <div class="invite_mentor">
          <div class="live_profiledet_card">
            <span class="live_imgprofile">
              <img src="{{classInvitation.PAGE_PROFILE_PHOTO_PATH}}" width="100" alt="">
            </span>
            <span class="live_profilehead">{{classInvitation.PAGE_TITLE | trimData:100 }}</span>
          </div>
        </div>
        <!-- </div> -->
        <!-- course live stream dertail dropdown header end -->

        <!-- course live stream dertail innder list start -->

        <!-- <div class="invite_livestream_block_card  hideHeight" id="inviteOuterWrapper_{{i}}"> -->
        <div class="invite_livestream_block_card ">
          <ul>

            <li *ngFor="let liveStreamInnerList of classInvitation.liveClassInviteInnerList | filterinvite:livestreamTab:'1'; let j=index;">
              <div class="inviteLeft_card">
                <div class="duration_card">
                  <span class="invite_stream_details">{{liveStreamInnerList.START_TIME | date:'shortTime'}}-{{liveStreamInnerList.END_TIME |date:'shortTime'}}</span>
                  <span class="invite_stream_details date_wrap">{{liveStreamInnerList.START_TIME | date:'d MMM, y'}}</span>
                </div>
                <span class="live_headingwrapp">{{liveStreamInnerList.LIVE_STREAM_TITLE}}</span>
              </div>

              <div class="live_livementordetail">

                <div class="three_dot" *ngIf="liveStreamInnerList.STATUS == 1 && liveStreamInnerList.STREAM_STATUS == 0">
                  <div class="invite_liveblock_up">
                    <span class="invite_doticon">
                      <img (click)="showdrop(i,j);"  class="postdropmenu defaultt" src="assets/images/svg-three/post_icon/dot_menu.svg" name="menuIcon" #dropDownButton  >
                    </span>
                    <span class="box_dropdown" *ngIf="remaindershow == i+'_'+j" #dropDownList name="liveStreamDropdown">
                      <div class="box">
                        <!-- <span class="request" (click)="multiplecoursepopup(i,j,0)" *ngIf="liveStreamInnerList.MULTIPLE_STREAM_STATUS != 5">Decline</span> -->
                        <span class="request" (click)="showReportPopup(i,j)">Decline</span>
                        <span (click)="streamDemo(liveStreamInnerList.CONTENT_UUID)">Stream demo</span>
                      </div>
                    </span>
                  </div>
                </div>

                <div class="live_time_wrapper">
                  <!-- ================================================================================ -->
                  <!-- live stream timer  UI start     -->
                  <!-- ================================================================================ -->
                  <span class="live_button" *ngIf="liveStreamInnerList.STATUS == 1 && liveStreamInnerList.STREAM_STATUS == 0">
                    <span class="live_button">
                      <span class="live_timewrap">
                        <span class="live_digitwrapp">
                          {{liveStreamInnerList.timer.day}}
                        </span>
                        <span class="live_wordwrapp">Days</span>
                      </span>
                      <span class="live_timewrap">
                        <span class="live_digitwrapp">
                          {{liveStreamInnerList.timer.hr}}
                        </span>
                        <span class="live_wordwrapp">Hrs</span>
                      </span>
                      <span class="live_timewrap">
                        <span class="live_digitwrapp">
                          {{liveStreamInnerList.timer.min}}
                        </span>
                        <span class="live_wordwrapp">Mins</span>
                      </span>
                    </span>
                  </span>
                  <!-- ================================================================================ -->
                  <!-- live stream timer  UI end    -->
                  <!-- ================================================================================ -->
                  <span class="accepted_stream fright"  *ngIf="liveStreamInnerList.STATUS == 2">
                    <span class="roundtick">
                      <img src="./assets/images/svg/white_checkbox.svg" alt="">
                    </span>Mentorship Declined
                  </span>

                  <!-- <span class="accepted_stream fleft"  *ngIf="this.liveStreamFooter == 3">
                  <span class="roundtick">
                  <img src="./assets/images/svg/white_checkbox.svg" alt="">
                </span>Mentorship Accepted
              </span> -->


              <!-- <span class="accepted_stream fleft" *ngIf="liveStreamFooter == 5">
              <span class="roundtick">
              <img src="./assets/images/svg-three/course/course_creation/blackcheckbox.svg" alt="">
            </span>
            Accepted
          </span> -->
          <!-- live stream all type of button  UI start     -->
          <!-- ================================================================================ -->
          <button [disabled]="disableStartStream" class="button24x7 whiteColorButton fright streambutton" style="width:auto!important" (click)="streamDemo(liveStreamInnerList)" *ngIf="liveStreamInnerList.STATUS == 1 && liveStreamInnerList.STREAM_STATUS == 1">Start Stream</button>

          <!-- <button  class="button24x7 whiteColorButton fright" *ngIf="liveStreamInnerList.STATUS == 0"  (click)="multiplecoursepopup(liveStreamInnerList.START_TIME_IN_MILISEC)">Decline</button> -->
          <!-- <button  class="button24x7 redColorButton fright"  style="margin-right: 15px;" *ngIf="liveStreamInnerList.STATUS == 0" (click)="updLiveStreamStatus(i,j,1)">Accept</button> -->
          <button  class="button24x7 whiteColorButton fright" *ngIf="liveStreamInnerList.STATUS == 0 && liveStreamInnerList.MULTIPLE_STREAM_STATUS != 5"  (click)="showReportPopup(i,j)">Decline</button>
          <button  class="button24x7 whiteColorButton fright multipleClassButton" *ngIf="liveStreamInnerList.MULTIPLE_STREAM_STATUS  == 5"  (click)="multiplecoursepopup(i,j,0,liveStreamInnerList.CONTENT_UUID)">Multiple Classes</button>
          <button  class="button24x7 redColorButton fright"  style="margin-right: 15px;" *ngIf="liveStreamInnerList.STATUS == 0 && liveStreamInnerList.MULTIPLE_STREAM_STATUS != 5" (click)="updLiveStreamStatus(i,j,1)">Accept</button>
          <input style="display: none; cursor: pointer;"  type="file" name="" value=""
          id="{{liveStreamInnerList.CONTENT_UUID }}"
          (change)='uploadContent($event,liveStreamInnerList)'
          accept="video/*">
      <label class="video_upload" style="padding: 10px; cursor: pointer;"
          for="{{liveStreamInnerList.CONTENT_UUID }}"
          >
          <img  src="assets/images/svg-three/course/course_creation/uploads.svg"
              alt="">
              <span *ngIf="uploadPercent[liveStreamInnerList.CONTENT_UUID] && uploadPercent[liveStreamInnerList.CONTENT_UUID]['uploading']"> {{uploadPercent[liveStreamInnerList.CONTENT_UUID]['percent']}} Uploaded</span>
              <span *ngIf="!uploadPercent[liveStreamInnerList.CONTENT_UUID] || !uploadPercent[liveStreamInnerList.CONTENT_UUID]['uploading']"> Upload</span>
      </label>
          <!-- <button class="button24x7 whiteColorButton  fright" *ngIf="liveStreamFooter == 1 || liveStreamFooter == 5" [ngClass]="{'teststream':  liveStreamFooter == 5, 'redteststream':  liveStreamFooter == 1}" type="button" name="button">Test Stream</button> -->
          <!-- ================================================================================ -->
          <!-- live stream all type of button  UI start     -->

        </div>
      </div>
    </li>
  </ul>
</div>
</div>
</div>
</div>
</div>
</div>

<!-- =============================================================================   -->
<!-- empty state all course start  -->
<!-- ==============================================================================  -->
<div class="emptystate" style="height:425px;" *ngIf="liveClassInvites.length == 0 && !startLoader2">
  <div class="emptystate_inner">
    <img src="assets/images/course_icon/create_course.svg" class="emptyimg emptyreview width150" alt="study24x7">
    <p class="mainheading" style="padding-top:0px;">
      <span *ngIf="livestreamTab == 1" >No invites</span>
      <span *ngIf="livestreamTab == 0" >No Pending Invites
      </span>
      <span *ngIf="livestreamTab == 2">No approved invites</span>
    </p>
    <p class="subHeading">
      <span *ngIf="livestreamTab == 1">You haven’t got any invites in your list</span>
      <span *ngIf="livestreamTab == 0">You have replied to all the invites.</span>

      <span *ngIf="livestreamTab == 2">You haven’t got any approved invites in your list</span>


    </p>
  </div>
</div>
<!-- =============================================================================   -->
<!-- empty state all course end  -->
<!-- ==============================================================================  -->

</div>
<!-- =============================================================================   -->
<!-- preloder for all course start  -->
<!-- ==============================================================================  -->
<div class="loader2" *ngIf="startLoader2">
  <img src="assets/images/24x7preloader.gif" alt="study24x7" >
</div>
<!-- =============================================================================   -->
<!-- preloder for all course end  -->
<!-- ==============================================================================  -->




<!-- ================================================================================ -->
<!-- All invites end    -->
<!-- ================================================================================ -->


</div>




<!-- mentor role decline popup start -->

<div class='darkbackground' *ngIf="isReportPopUp"></div>
<div class='addpost_outer relative popup-open-wrapper'  *ngIf="isReportPopUp">
  <div class='container popup-container' style="position:relative;">
    <div  class="popup-inner-wrap popup-open-inner-wrap">
      <div class="inviteStream_popupHead">
        <span class="poll_result">Mentorship Cancellation</span>
        <span class="close_div" (click)="hideReportPopup()">
          <img class="defaultt"  src="assets/images/svg/tagcross.svg" style="cursor: pointer;">
          <img class="hoverr"  src="assets/images/svg/tagcross-gray.svg" style="cursor: pointer;">
        </span>
      </div>
      <div class="topInner_wrapper">
        <div class="inviteLeft_invite">
          <div class="duration_invite">
            <span class="invite_stream_duration">{{setPopUpData.START_TIME}}</span>
            <span class="invite_stream_duration date">{{setPopUpData.DURATION}}</span>
          </div>
          <span class="live_headingwrapp_invite cHeading">{{setPopUpData.LIVE_STREAM_TITLE}}</span>
          <span class="live_headingwrapp_invite dHeading">{{setPopUpData.DESCRIPTION}}</span>
        </div>
      </div>
      <div class="inviteInner_wrapper">
        <p>Kindly choose reason for declining this mentor role</p>
        <span class="option_line">
          <span class="check_box_cont" style="display:inline-block;">
            <input class="payRadio" id="payable1" name="payradio" type="radio" value="1" (click)="hide_option(i,j,1)">
            <label class="checkbox_btn checkbt" for="payable1"><img class="checkboximg" src="assets/images/svg-one/checkbox-white.svg"></label>
          </span>
          I am unavailable on that day
        </span>
        <span class="option_line">
          <span class="check_box_cont">
            <input class="payRadio" id="payable2" name="payradio" type="radio" value="2" (click)="hide_option(i,j,2)">
            <label class="checkbox_btn checkbt" for="payable2"><img class="checkboximg" src="assets/images/svg-one/checkbox-white.svg"></label>
          </span>
          Having another invitation on same time
        </span>
        <span class="option_line">
          <span class="check_box_cont">
            <input class="payRadio" id="payable3" name="payradio" type="radio" value="3" (click)="hide_option(i,j,3)">
            <label class="checkbox_btn checkbt" for="payable3"><img class="checkboximg" src="assets/images/svg-one/checkbox-white.svg"></label>
            </span
            >Have no relation with this page
          </span>
          <span class="option_line">
            <span class="check_box_cont">
              <input class="payRadio" id="payable4" name="payradio" type="radio" value="4" (click)="hide_option(i,j,4)">
              <label class="checkbox_btn checkbt" for="payable4"><img class="checkboximg" src="assets/images/svg-one/checkbox-white.svg"></label>
            </span>
            I have health issues
          </span>
          <span class="option_line">
            <span class="check_box_cont">
              <input class="payRadio" id="payable5" name="payradio" type="radio" value="5" (click)="hide_option(i,j,5)">
              <label class="checkbox_btn checkbt" for="payable5"><img class="checkboximg" src="assets/images/svg-one/checkbox-white.svg"></label>
            </span>
            On vacation mode
          </span>
          <span class="option_line">
            <span class="check_box_cont">
              <input class="payRadio" id="payable6" name="payradio" type="radio" value="6" (click)="hide_option(i,j,6)">
              <label class="checkbox_btn checkbt" for="payable6"><img class="checkboximg" src="assets/images/svg-one/checkbox-white.svg"></label>
            </span>
            Other
          </span>

          <span class="option_line text_areaopt" *ngIf="report_input_option">
            <span  class="other_option">
              <textarea style="resize:none; height:100px;" placeholder="Enter details here" [(ngModel)]="reportText"></textarea></span>
            </span>
          </div>
          <div class="invite_footer">
            <button class="button24x7 whiteColorButton fleft" (click)="hideReportPopup()">Close</button>
            <button class="button24x7 redColorButton fright" (click)="updLiveStreamStatus(setPopUpData.sectionIndex,setPopUpData.contentIndex,2)">Done</button>
          </div>
        </div>
      </div>
    </div>

    <!-- mentor role decline popup end -->




    <!-- multiple course popup -->
    <div class="popup" *ngIf="isMergePopup">
      <div class="popup_background" ></div>
      <div class="popup_main multiple_class" *ngIf="isMergePopup">
        <div class="popup_heading">Multiple classes
          <span (click)="hidemultiplecoursepopup()" class="close_div">
            <img class="defaultt" src="assets/images/svg/tagcross.svg">
            <img class="hoverr" src="assets/images/svg/tagcross-gray.svg">
          </span>
          <!-- <img (click)="reportpopuphide()" src="assets/images/svg/tagcross.svg" style="float: right;margin: 17px 0;cursor: pointer;"> -->
        </div>
        <div class="col-md-12 out_wrapper">
          <div class="inner_wrapper_mlClass">
            <div class="schedule_class">
              <span class="class_date">{{sameStream[0].sameStreamInnerList[0].START_TIME}}</span>
              <span class="class_time">{{sameStream[0].sameStreamInnerList[0].DURATION}}</span>
            </div>
            <div class="center_wrapper" [perfectScrollbar]="config" style="position:relative;">

              <div class="name_class_outer" *ngFor="let StreamList of sameStream; let i = index; ">
                <div class="class_heading">
                  <span class="prof_img"><img [src]="StreamList.PAGE_PROFILE_PHOTO_PATH" alt=""></span>
                  <span class="prof_heading">{{StreamList.PAGE_TITLE}}</span>
                </div>
                <div class="course_topic">

                  <div class="course_check" *ngFor="let stream of StreamList.sameStreamInnerList;let j = index;">

                    <div class="inn_courseClass">
                      <div class="content_checkbtn">
                        <span class="checkbtn" *ngIf="stream.BUTTON_STATUS == 0  && PROCESS_TYPE != 1 && stream.PROCESS == 1">
                          <input type='checkbox' class='checkboxhide' id='stream_{{i}}_{{j}}' (change)="streamCheckBox($event,i,j)" [checked]="stream.STATUS == 1">
                          <label class="checkbox" for="stream_{{i}}_{{j}}"><img src='assets/images/svg/white_checkbox.svg'></label>
                        </span>

                        <span class="course_cntn">
                          <span class="cont_top">Course : {{stream.LIVE_STREAM_TITLE}}</span>
                          <span *ngIf="stream.new" class="new_crs" style="">New</span>
                          <span class="cont_down">{{stream.DESCRIPTION}}</span>
                        </span>
                      </div>

                      <div *ngIf="!secondTym">
                        <div *ngIf="stream.STATUS == 1 &&  PROCESS_TYPE == 1 " class="right_decline"><span class="accept_acpt"><span class="accpt_greentick"><img src='assets/images/svg/white_checkbox.svg'></span><span class="accpted">Accepted</span></span></div>
                        <div *ngIf="(stream.STATUS == 0 || stream.STATUS == 2 || stream.STATUS == 3) &&  PROCESS_TYPE == 1 " class="right_decline"><span class="accept_acpt"><span class="accpt_greentick" style="background-color:#f05050;opacity: 1;"><img src='assets/images/svg/addpost_tagcross.svg'></span><span class="accpted">Declined</span></span></div>
                        <div *ngIf="stream.STATUS == 0 && (stream.BUTTON_STATUS == 0 && stream.BUTTON_STATUS != 2)   && !stream.isReasonDropdoen && PROCESS_TYPE == 0" (click)="showDeclineListBox(i,j)" class="right_decline"><button class="redColorButton_multi fright" >Decline</button></div>
                        <div *ngIf="stream.isReasonDropdoen && (stream.BUTTON_STATUS == 0 || stream.BUTTON_STATUS == 2) && PROCESS_TYPE == 0" (click)="hideDeclineListBox(i,j)" class="right_decline"><button class="redColorButton_multi fright" >Cancel</button></div>
                      </div>

                      <div *ngIf="secondTym">

                        <div *ngIf="( stream.STATUS != 1 && stream.STATUS != 0 && stream.BUTTON_STATUS != 2 && stream.BUTTON_STATUS != 0) "  class="right_decline"><span class="accept_acpt"><span class="accpt_greentick" style="background-color:#f05050;opacity: 1;"><img src='assets/images/svg/addpost_tagcross.svg'></span><span class="accpted">Declined</span></span></div>
                        <div *ngIf="( stream.STATUS != 1 &&   PROCESS_TYPE == 1) "  class="right_decline"><span class="accept_acpt"><span class="accpt_greentick" style="background-color:#f05050;opacity: 1;"><img src='assets/images/svg/addpost_tagcross.svg'></span><span class="accpted">Declined</span></span></div>
                        <div *ngIf="stream.STATUS == 1 &&  (PROCESS_TYPE == 0 || PROCESS_TYPE == 1)" class="right_decline"><span class="accept_acpt"><span class="accpt_greentick"><img src='assets/images/svg/white_checkbox.svg'></span><span class="accpted">Accepted</span></span></div>

                        <div *ngIf="stream.STATUS == 0 && (stream.BUTTON_STATUS == 0 && stream.BUTTON_STATUS != 2)   && !stream.isReasonDropdoen && PROCESS_TYPE == 0" (click)="showDeclineListBox(i,j)" class="right_decline"><button class="redColorButton_multi fright" >Decline</button></div>
                        <div *ngIf="stream.isReasonDropdoen && (stream.BUTTON_STATUS == 0 || stream.BUTTON_STATUS == 2) && PROCESS_TYPE == 0" (click)="hideDeclineListBox(i,j)" class="right_decline"><button class="redColorButton_multi fright" >Cancel</button></div>

                      </div>










                    </div>

                    <div *ngIf="stream.isReasonDropdoen && (stream.BUTTON_STATUS == 0 || stream.BUTTON_STATUS == 2) && PROCESS_TYPE == 0">
                      <div class="course_search_sec reason_search" [ngClass]="{'wallpostdrpdwn':walldropdownMlt}"   (click)="showwalldropdownMlt(i,j);" (mouseleave)="closewalldropdownMlt()">
                        <div class="wll_img_pey_cont"   >
                          <span style="">{{stream.visibilityTextMlt}}</span>
                        </div>

                        <span class="tab-article " >
                          <img src="assets/images/svg-three/add_post/downarrow.svg" class="defaultt" style="width:10px !important;">
                          <img src="assets/images/svg-three/add_post/f05050/downarrow.svg"  class="hoverr" style="top: 0px;width:10px !important;">
                        </span>

                        <div class="walldropdencnt wallprydeopcnt select_res"   (mouseleave)="closewalldropdownMlt(i,j)" id='streamDeclineList_{{i}}_{{j}}'>
                          <ul>
                            <li   (click)="changeVisibilityMlt(2,i,j)"> I am unavailable on that day</li>
                            <li   (click)="changeVisibilityMlt(3,i,j)"> I have health issues</li>
                            <li   (click)="changeVisibilityMlt(4,i,j)"> Have no relation with this page</li>
                          </ul>
                        </div>
                      </div>
                    </div>

                  </div>

                  <!-- for late invite accept screen -->
                  <!-- <div class="course_check">
                  <div class="inn_courseClass">
                  <div class="content_checkbtn">
                  <span class="course_cntn accept_option">
                  <span class="cont_top">Course : Chemisty Bonding</span>
                  <span class="cont_down">Learning the physics connection of chemical Bonding and terminal identification</span>
                </span>
              </div>
              <div class="right_decline"><span class="accept_acpt"><span class="accpt_greentick"><img src='assets/images/svg/white_checkbox.svg'></span><span class="accpted">Accepted</span></span></div>
            </div>
          </div> -->
          <!-- for late invite accept screen end -->

          <!-- for reject reason screen -->
          <!-- <div class="course_check">
          <div class="inn_courseClass">
          <div class="content_checkbtn">
          <span class="checkbtn">
          <input type='checkbox' class='checkboxhide' id='search3'>
          <label class="checkbox" for="search3"><img src='assets/images/svg/white_checkbox.svg'></label>
        </span>
        <span class="course_cntn">
        <span class="cont_top">Course : Chemisty Bonding</span>
        <span class="cont_down">Learning the physics connection of chemical Bonding and terminal identification</span>
      </span>
    </div>
    <div class="right_decline"><button class="redColorButton_multi fright">Decline</button></div>
  </div>
  <div class="course_search_sec reason_search" [ngClass]="{'wallpostdrpdwn':walldropdownMlt}"   (click)="showwalldropdownMlt();" (mouseleave)="closewalldropdownMlt()">
  <div class="wll_img_pey_cont"   >
  <span style="">{{visibilityTextMlt}}</span>
</div>
<span class="tab-article " >
<img src="assets/images/svg-three/add_post/downarrow.svg" class="defaultt" style="width:10px !important;">
<img src="assets/images/svg-three/add_post/f05050/downarrow.svg"  class="hoverr" style="top: 0px;width:10px !important;">
</span>
<div class="walldropdencnt wallprydeopcnt select_res" [ngClass]="{'wallprydeopcnt':walldropdownMlt}" *ngIf="walldropdownMlt" (click)="showwalldropdownMlt();" (mouseleave)="closewalldropdownMlt()">
<ul>
<li   (click)="changeVisibilityMlt(2)"> I am unavailable on that day</li>
<li   (click)="changeVisibilityMlt(3)"> I have health issues</li>
<li   (click)="changeVisibilityMlt(4)"> Have no relation with this page</li>
</ul>
</div>
</div>
</div> -->
<!-- for reject reason screen end-->

<!-- for accepted list screen -->
<!-- <div class="course_check">
<div class="inn_courseClass">
<div class="content_checkbtn">
<span class="checkbtn">
<input type='checkbox' class='checkboxhide' id='search4'>
<label class="checkbox" for="search4"><img src='assets/images/svg/white_checkbox.svg'></label>
</span>
<span class="course_cntn">
<span class="cont_top">Course : Chemisty Bonding</span>
<span class="cont_down">Learning the physics connection of chemical Bonding and terminal identification</span>
</span>
</div>
<div class="right_decline">
<span class="accept_acpt"><span class="accpt_greentick"><img src='assets/images/svg/white_checkbox.svg'></span><span class="accpted">Accepted</span></span>
</div>
</div>
</div> -->
<!-- for accepted stream list end-->

</div>
</div>


<!--                    <div class="name_class_outer">
<div class="class_heading">
<span class="prof_img"><img src="https://s3.ap-south-1.amazonaws.com/247-user/profile/1713_60x60.png?v=undefined" alt=""></span><span class="prof_heading">Chemistry Kings</span>
</div>
<div class="course_topic">
<div class="course_check">
<div class="inn_courseClass">
<div class="content_checkbtn">
<span class="checkbtn">
<input type='checkbox' class='checkboxhide' id='search3'>
<label class="checkbox" for="search3"><img src='assets/images/svg/white_checkbox.svg'></label>
</span>
<span class="course_cntn">
<span class="cont_top">Course : Chemisty Bonding</span>
<span class="cont_down">Learning the physics connection of chemical Bonding and terminal identification</span>
</span>
</div>
<div class="right_decline"><button class="redColorButton_multi fright">Decline</button></div>
</div>
</div>
<div class="course_check">
<div class="inn_courseClass">
<div class="content_checkbtn">
<span class="checkbtn">
<input type='checkbox' class='checkboxhide' id='search4'>
<label class="checkbox" for="search4"><img src='assets/images/svg/white_checkbox.svg'></label>
</span>
<span class="course_cntn">
<span class="cont_top">Course : Chemisty Bonding</span>
<span class="cont_down">Learning the physics connection of chemical Bonding and terminal identification</span>
</span>
</div>
<div class="right_decline"><button class="redColorButton_multi fright">Decline</button></div>
</div>
</div>
</div>

</div>-->
</div>
</div>
<div class='post_profile multipleClass_footer'>
  <!-- <button  type="submit" class="button24x7 next_gray fright">Next</button> -->
  <button  type="submit" class="button24x7 next_black fright" *ngIf="PROCESS_TYPE == 0" (click)="nextProcessStream()">Next</button>
  <button  type="submit" class="button24x7 redColorButton fright" *ngIf="PROCESS_TYPE == 1" (click)="liveStreamDone();"> Done</button>
  <button  type="submit" class="button24x7 fleft" *ngIf="PROCESS_TYPE == 0" (click)="hidemultiplecoursepopup()">Close</button>
  <button  type="submit" class="button24x7 fleft" *ngIf="PROCESS_TYPE == 1" (click)="backProcessStream()"> Back</button>
</div>
</div>
</div>
</div>
<!-- end multiple course popup -->
<app-confirmationpopup *ngIf="openConfirmation" [dataObj]="dataConf" (closeComfirmPopupThread)="openConfirmation = $event['error']"></app-confirmationpopup>
