  $backgroundgray : #e6e6e6;
  $themeblue : #F05050;
  $themegray : #f5f7fa;
  $textcolor : #2c2e2f;
  $textgrey : #8c8c8c;
  $maingreen: rgb(7,162,8);
  $stroke : #dfe0e8;
  // $stroke : #E9E9E9;
  $borderRadius: 5px;
  $inputTypeHeight: 35px;
  $inputTypeFont: 12px;
  $headerHeight: 60px;
  $headerLineHeight: $headerHeight - 5px;
  $mainboxShadow: 0 0 7px rgba(0,0,0,0.1);
  $dropdownwidth: 400px;
  $dropdwncontentwidth: $dropdownwidth - 100px;
  $ntfctnprofile: 40px;
  $inrprflimg : $ntfctnprofile + 8px;
  $PostPicture: 40px;
  $commentPicture: $PostPicture - 10px;
  $subcommentPicture: $commentPicture - 10px;
  $mainpostName: 14px;
  $maincommentName: $mainpostName - 2px;
  $darkthemestroke: $themeblue;
  $progressbarRed: #ed6568;
  $rightanswer : #5bbc5b;

.popup_fixed_scroll{overflow-y: scroll;}
.createfolder{
	width: 400px !important;
    height: 200px;
.interesrsearch{
	width: 100%;
}
.profiledetail{
	width: 357px !important;
}
	.post_outer{
		box-shadow: none;
    .savedcont{
    font-size: 14px;border-bottom: 1px solid #eaeaea;
    line-height: 18px;
    padding:  12px 0px 15px;

    margin-bottom: 15px;
        .collectionname{margin-bottom: 10px;float: left;}
        }
		.post_profile{
			padding: 0px;
            p{margin-top: 10px;}
		}

	}

}
