<div class="popup" >
    <div class="popup_background popup_fixed_scroll" ></div>
    <div class="popup_main createfolder">
        <div class="popup_heading">CREATE FOLDER
            <img (click)="createfolderhide()" src="assets/images/svg/tagcross.svg" style="float: right;margin: 17px 0;cursor: pointer;"></div>
        <div class="col-md-12">

            <div class='post_outer'>
                <div class='post_profile'>                      
                    <div class="savedcont">
                        <span class="collectionname" >Enter Folder Name</span>
                        <input class="editfolder"  placeholder="Enter folder name" id="title" maxlength="" value="" type="text">
                    </div>
                </div>

               	<div class='post_profile'>
                    <button  type="submit" class="confirm_btn popup_btn btn btn-primary" >Confirm</button>
                    <button  type="submit" class="cancel_btn popup_btn"   (click)= "createfolderhide()">Cancel</button>
                </div>

            </div>


        </div>
    </div>

</div>
