<div class="Wrapper">
    <h3 class="header">Your Interests</h3>
    <div class="middleWrapper" [perfectScrollbar]="config">
        <div class="inetestWrapper">

            <ng-container *ngFor="let interest of objectKeys(interests);">
                <div class="inetestWrapper" *ngIf="userIntesrestFxn(interest)">
                    <input name="interest_checkbox" [(ngModel)]="interestsCheckedStatus[interest]" type="checkbox"
                        class="checkbox" id='id_{{interest}}' (click)="checkboxupdate(interest, $event)">
                    <label for='id_{{interest}}'>{{interests[interest]}}</label>
                </div>
            </ng-container>

        </div>

        <!--        <div class="inetestWrapper">
                    <input type="checkbox" class="checkbox" name="" value="" id="interest1">
                    <label for="interest1">Arts</label>
                </div>

                <div class="inetestWrapper">
                    <input type="checkbox" class="checkbox" name="" value="" id="interest2">
                    <label for="interest2">Arts & Design</label>
                </div>

                <div class="inetestWrapper">
                    <input type="checkbox" class="checkbox" name="" value="" id="interest3">
                    <label for="interest3">Mobile Technologies</label>
                </div>

                <div class="inetestWrapper">
                    <input type="checkbox" class="checkbox" name="" value="" id="interest4">
                    <label for="interest4">UAt</label>
                </div>

                <div class="inetestWrapper">
                    <input type="checkbox" class="checkbox" name="" value="" id="interest5">
                    <label for="interest5">Public Sectoer Jobs</label>
                </div>

        -->

    </div>
    <div class="bottomWrapper">
        <p *ngIf="activeTab == 1" class="type">Questions for you </p>
        <p *ngIf="activeTab == 0" class="type">Answered by you </p>
        <p *ngIf="activeTab == 2" class="type">Asked by you </p>
        <p class="count"><span class="black">{{questionCount | shortNumber}}</span>
            <!--<span class="blue">+57 this week</span>-->
        </p>
        <p class="countTitle">Total number of interest related questions</p>
    </div>

</div>