.Wrapper{
  float: left;
  width: 100%;
  background-color: #fff;
  margin-bottom: 15px;
  overflow: hidden;
  border-radius: 5px;
  .header{
    background: #f5f7fa;
    color: #2c2e2f;
    font-size: 14px;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #e9e9e9;
  }
  .middleWrapper{
    float: left;
    width: 100%;
    padding: 15px 15px 0px 15px;
    height: 220px;
    position: relative;
    .inetestWrapper{
      float: left;
      display: inline-block;
      position: relative;
      margin-right: 10px;
      margin-bottom: 10px;
      .checkbox{
        display: none;
      }
      label{
        border-radius: 30px;
        margin-bottom: 0px;
        background-color: #f5f7fa;
        color: rgba(44, 46, 47, .8);
        opacity: .8;
        border-radius: 40px;
        border:1px solid #f5f7fa;
        padding: 5px 15px;
        font-weight: 400;
        cursor: pointer;
      }

      .checkbox:checked + label{
        background-color: rgba(240, 80, 80, 0.1);
        color: #f05050;
        border:1px solid #f05050;
        font-weight: normal;
      }
    }
  }
  .bottomWrapper{
  background-color:#f5f7fa;
  width: 100%;
  float: left;
  border-top: 1px solid #e9e9e9;
  padding: 15px;
   p{
     float: left;
      width: 100%;
      margin-bottom: 5px;
   }
   .type{
    color: #2c2e2f;
    opacity: .7;
    font-size: 14px;
    font-weight: 500;
   }
   .count{
         .black{
            font-size: 18px;
            font-weight: 500;
            color: #2c2e2f;
            float: left;
         }
         .blue{
           float: left;
            margin-left: 5px;
            color: #65BFA3;
            font-size: 12px;
            font-weight: 500;
         }
   }
   .countTitle{
     font-size: 12px;
     font-weight: 500;
     color: #2c2e2f;
      opacity: .6;
      margin-bottom: 0px;

   }
  }
}
