@import "../invitefriends/invitefriends.component.scss";
$backgroundgray : #e6e6e6;
$themeblue : #F05050;
$themegray : #f5f7fa;
$textcolor : #2c2e2f;
$textgrey : #8c8c8c;
$maingreen: rgb(7,162,8);
$stroke : #dfe0e8;
// $stroke : #E9E9E9;
$borderRadius: 5px;
$inputTypeHeight: 35px;
$inputTypeFont: 12px;
$headerHeight: 60px;
$headerLineHeight: $headerHeight - 5px;
$mainboxShadow: 0 0 7px rgba(0,0,0,0.1);
$dropdownwidth: 400px;
$dropdwncontentwidth: $dropdownwidth - 100px;
$ntfctnprofile: 40px;
$inrprflimg : $ntfctnprofile + 8px;
$PostPicture: 40px;
$commentPicture: $PostPicture - 10px;
$subcommentPicture: $commentPicture - 10px;
$mainpostName: 16px;
$maincommentName: $mainpostName - 2px;
$darkthemestroke: $themeblue;
$progressbarRed: #ed6568;
$rightanswer : #5bbc5b;
@mixin btn_shadow($offset-x, $offset-y, $blur-radius, $spread-radius, $color, $inset: false) {
@if $inset {
-ms-box-shadow: inset $offset-x $offset-y $blur-radius $spread-radius $color;
-o-box-shadow: inset $offset-x $offset-y $blur-radius $spread-radius $color;
-webkit-box-shadow: inset $offset-x $offset-y $blur-radius $spread-radius $color;
-moz-box-shadow: inset $offset-x $offset-y $blur-radius $spread-radius $color;
box-shadow: inset $offset-x $offset-y $blur-radius $spread-radius $color;
}
@else {
-ms-box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color;
-o-box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color;
-webkit-box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color;
-moz-box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color;
box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color;
}
}

// .peopleknow_outer, .popup_main{
//  background: #ffffff;
//  display:inline-block;
//  width: 100%;
//  box-sizing: border-box;
//  box-shadow: $mainboxShadow;
//  border-radius: $borderRadius;
//
// }
//
//  .profileimg_know{
//    display:inline-block;
//    height: $PostPicture;
//    width: $PostPicture;
//    float: left;
//    border-radius: $borderRadius;
//    overflow: hidden;
//        cursor: default !important;
//
//    img{
//      width: 100%;
//    }
//  }
//  .people_list {
//        display: inline-block;
//    width: 100%;
//    padding: 0 15px 0px;
//    // margin-bottom: 10px;
//    height: 254px;
//    overflow: auto;
//
//
//  li{
//    display:inline-block;
//    width:100%;
//    padding: 15px 0;
//    border-bottom: 1px solid $stroke;
//    color: $textgrey;float: left;
//
//    .graybutton{
//      width: auto;
// float: right;
// padding: 0 6px;
// height: 28px;
// line-height: 26px;
// margin-top: 2px;
//
//
//    }
//    .profilename{
//      color: $textcolor;
//            height: 16px;
//            overflow: hidden;line-height: 16px;
//            color: #2c2e2f;
//
//    }
//    .prfl_detail{
//      display:inline-block;
//      margin-left:10px;
//      width: 180px;
//            overflow: hidden;
//            float: left;
//            .Notificationlist_name{
//                &:hover{color: $themeblue ;}
//            }
//    }
//
//  }
//
//    li:first-child{
//      padding-top: 0px;
//    }
//    li:last-child{
//      padding-bottom: 0px;
//      border: 0px
//    }
// }
// .connectionrequest_outer{
//    .people_list{
//        .profileimg_know{cursor: default!important;}
//    }
// }
// .view_n{
//  line-height: 20px;
// }
// .top_heading{
//  padding: 10px !important;
//  background-color: #F5F7FA;
//  border-radius: 5px 5px 0 0;
// }
// .list_npeople{
//  // padding-top:10px !important;
// }
.btn-pagetips{
//   -webkit-box-shadow: 0 1px 2px 1px #2c2e2f20;
// box-shadow: 0 1px 2px 1px #2c2e2f20;
@include btn_shadow(0, 1px, 2px, 1px, rgba(44, 46, 47, 0.1));
border-radius: 18px;
height: 30px;
font-size: 12px;
background-color: white;
width:auto;
float:right;
margin-top: 6px;
line-height: 0;
color: #2c2e2f;
border:none;
&:hover{
  background-color:#2e2c2f10;
  box-shadow: none;
}
}
.profile-detl{
  width: 125px !important;
  .connictionlink{
    font-size: 12px;
  }
  .info-id{
    margin-top:3px;
  }
}
.profile-dt{
  width:125px !important;
}
.friend-invites{
  padding:15px;
  width: 100%;
  float: left;
  height: auto !important;
  border-bottom: 1px solid #e8ecf1;
  height: auto;
  p{
font-size: 12px;
opacity: 0.6;
width: calc(100% - 80px);
  }
  .select-all{
    width: auto;
    float: right;
    margin-top: 5px;
    span{
      float: right;
      line-height: 30px;
      cursor:pointer;
      font-weight: 500;
      user-select: none;
      font-size: 12px;
      &:hover{
        color: #f05050;
        text-decoration: underline;
      }
    }
  }
}
.friend-search{
  width: 60%;
float: left;
margin-top: 15px;
position: relative;
.search-btn-wrap{
  position: absolute;
  right: 2px;
  height: 27px;
  top: 1px;
  .btn-wrap{
    height: 27px;
border-radius: 0 18px 18px 0;
background: white;
border: none;
line-height: 1;
    img{
      width: 15px;
    }
  }
}
  .friend-srch{
    border-radius: 18px;
    height: 30px;
    padding: 5px 20px 5px 10px;
    // box-shadow: 0px 0px 2px 0 #2c2e2f20;
    @include btn_shadow(0, 0px, 2px, 0px, rgba($textcolor, 0.1));

  }
}
// empty state
.page-about{
  width: 100%;
  float: left;
  padding:12px 20px 20px 20px;
  text-align: center;
  .page_widget_inner{
    width:100%;
    float: left;
    margin-bottom: 20px;
    span{
      width:100%;
      float: left;
      text-align: center;
      &:nth-child(1){
        img{
          width:80px;
        }
      }
      &:nth-child(2){
        font-size: 14px;
        margin-top:15px;
        font-weight: 500;
      }
      &:nth-child(3){
        font-size: 12px;
        margin-top: 5px;
        opacity: 0.5;
      }
    }



  }
  .btn-pagetips{
    // float:left;
    // box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px 1px #2c2e2f20;
    margin-top: 15px;
    border-radius: 18px;
    height: 30px;
    font-size: 14px;
    background-color: white;
    width: auto;
    float: none;
    border:none;
    &:hover{
      background-color:#2e2c2f10;
      box-shadow: none;
    }
  }
}
.peopleknow_outer{
  float:left;
  background-color: #fff;
}

// end empty state

//  popup scss
.error_main_heading{
  height: 45px;
  line-height: 45px;
  font-size: 16px !important;
}
.center_wrapperr{
  padding:20px;
  p{
    font-size: 14px;
  }
}
.frnd-srch, .select-all{
  width:50%;
}
.list-nopeople{
  height: 303px;
}
.btn-sendinvite{
  color:white;
  background: #f05050;
  &:hover{
    background: #f05050;
  }
}
.select-people{
  span{
    &:hover{
      color:#f05050;
      text-decoration: underline;
    }
  }
}
.list-nopeople{
  ul{
    li{
      padding: 10px 15px;
    }
  }
}
.name_wrap{
  margin-top:7px !important;
}
.people_list {
    padding: 0 !important;
}
.popup-open-wrapper.addpost_outer{
  overflow: hidden !important;
}
// end popup
.container.popup-container{
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
}
.popup-inner-wrap.popup-open-inner-wrap{
  height: 400px;
  top: 50%;
  transform: translate(-50%, -50%);
}
