<div class="rankListingMian">
  <div class="rankListing otherRank">
    <div class="rankListingRow" (click)="_commonMethodsService.openLeaderProfile(userDetails)">
      <div class="profileImgSec">
        <span class="rankNo">{{(filterInterestId==0?userDetails.OVERALL_RANK:userDetails.SELECTED_INTRST_RANK) | shortNumber }}</span>
        <span class="profileImg"><img 
            src="{{userDetails.PROFILE_PHOTO_PATH }}">

          </span>
      </div>
      <div class="myRank" style="cursor: pointer;">
        {{userDetails.USER_FULL_NAME}}
      </div>
      <span class=" pointNo">{{filterInterestId==0?userDetails.CURRENT_POINT:userDetails.SELECTED_INTRST_POINT}}
        pts.</span>
      </div>
    </div>
    <div id="rankListing" class="rankoverflow"  style="position: relative; overflow: auto;"
      data-infinite-scroll [infiniteScrollDistance]="3" (scrolled)="onScrollDownQues()" [scrollWindow]="true">
      <div class="rankListing" *ngFor="let leader of allLeaders;let i=index">
        <div *ngIf="i>2" class="rankListingRow" (click)=_commonMethodsService.openLeaderProfile(leader)>
          <div class="profileImgSec">
            <span class="rankNo">{{i+1}}</span>
            <span class="profileImg"><img *ngIf=leader.PROFILE_PHOTO_PATH
                src="{{leader.PROFILE_PHOTO_PATH }}">
            </span>

          </div>
          <div class="myRank"  style="cursor: pointer;">
            <span>{{leader.USER_FULL_NAME}}</span>
          </div>
          <span [ngClass]="{'pointNo': true,'red_font':!(leader.CURRENT_POINT>=0)}">{{leader.CURRENT_POINT}} pts.</span>
        </div>
      </div>
    </div>
  </div>
