/* ==========================================================================
  Common variables
  ========================================================================== */
/**
*
* DO NOT use these variables directly in components.
* Assign them to component specific variables
*
*/
/* font-family */
/* font-family*/
/* Colors */
/* Border radius */
/* ==========================================================================
  Browser support
  ========================================================================== */
/* ==========================================================================
  Component specific variables
  ========================================================================== */
/* Typography
   ========================================================================== */
/* $baseFontFamily: Arial, sans-serif; */
/* $baseSpacing: $baseLineHeight+em; */
/* $baseTextColor: $black; */
/* Type Color */
/* $typeHighlight: $blue;
$typeLowlight: $lightGrey; */
/* Link
   ========================================================================== */
/* $linkColor: $blue;
$linkHoverColor: $lightBlue; */
/* Background
   ========================================================================== */
/* $bgBasic: #fff; */
/* Box
   ========================================================================== */
/* Contour */
/* $boxBasicBorderRadius: $borderRadiusDefault; */
/* Box foot */
/* $boxFootDivider: $blue; */
/* Divider
   ========================================================================== */
/* $dividerColor: $blue; */
/* List
   ========================================================================== */
/* $listInlineDividerBorder: $lightGrey;
$listBorder: $lightGrey; */
/* Table
   ========================================================================== */
/* $tableBorderColor: $blue; */
/* Form
   ========================================================================== */
/* $labelLeftWidth: 30%;
$formFieldBorder: 1px solid $grey;
$placeholderText: $lightGrey; */
/* Button
   ========================================================================== */
/* $btnDefaultBg: #ddd;
$btnDefaultBorder: $lightGrey; */
/* Template
   ========================================================================== */
/* $skipLinkBg: $black;
$bodyBg: #fff;
$pageWidth: 997px; */
/* header */
/* $headerBgStop1: #09456a;
$headerBgStop2: #02587e;
$contentBg: #fff;
$contentWidth: 960px; */
/* footer */
/* $footerBorder: $lightGrey; */
.droplist {
  width: 210px;
  max-height: 400px;
  top: 32px;
  border-radius: 5px;
  border-color: rgba(44, 46, 47, 0.3);
  -webkit-box-shadow: 0 3px 8pxrgba 0, 0, 0, 0.3;
          box-shadow: 0 3px 8pxrgba 0, 0, 0, 0.3;
  cursor: default;
  background: #fff none repeat scroll 0 0;
  border: 1px solid #dfe0e8;
  position: absolute;
  -webkit-box-shadow: 0 6px 21px -6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 21px -6px rgba(0, 0, 0, 0.2);
  border: 1px solid #dfe0e8;
  top: 45px;
  font-size: 14px;
  right: -6px;
}

.listdropdown {
  position: relative;
  float: left;
  width: 100%;
  text-align: left;
  padding: 5px;
  border-bottom: 1px solid #dfe5eb;
}

.listdropdown li {
  padding: 9px 10px 9px 47px;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
  font-size: 13px;
  font-weight: 500;
}

.listdropdown li:hover {
  background-color: rgba(223, 229, 235, 0.5);
  border-radius: 3px;
}

.listdropdown li p {
  line-height: normal;
}

.profileName {
  padding: 15px 40px 15px 15px;
  text-align: left;
  position: relative;
}

.profileName .profilediv {
  max-width: 100%;
  /* display: inline-table; */
}

.profileName .profilediv p {
  color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
}

.profileName .profilediv .name {
  line-height: 1.29;
  font-weight: 500;
}

.profileName .profilediv .nameprof {
  margin-top: 4px;
  font-weight: 300;
  line-height: normal;
}

.profile_copy {
  width: 18px;
  height: 18px;
  margin-right: 15px;
  position: absolute;
  top: 25px;
  cursor: pointer;
  right: 0px;
  background-size: 100% 100%;
  line-height: 17px !important;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-image: url(../../../../assets/images/sprite/leftmenu.svg#copyiconprofile);
}

.listdropdown li .default {
  width: 18px;
  height: 18px;
  margin-right: 7px;
  position: absolute;
  left: 12px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.listdropdown li .mypoint_cnt {
  background-image: url(../../../../assets/images/sprite/leftmenu.svg#mypoint);
}

.listdropdown li .shield_cnt {
  background-image: url(../../../../assets/images/sprite/leftmenu.svg#shield);
}

.listdropdown li .wallet_cnt {
  background-image: url(../../../../assets/images/sprite/leftmenu.svg#wallet);
}

.listdropdown li .activity_cnt {
  background-image: url(../../../../assets/images/sprite/leftmenu.svg#activitylog);
}

.listdropdown li .setting_cnt {
  background-image: url(../../../../assets/images/sprite/leftmenu.svg#setting);
}

.listdropdown li .logout1_cnt {
  background-image: url(../../../../assets/images/sprite/leftmenu.svg#logout);
}

.listdropdown li .contactus_cnt {
  background-image: url(../../../../assets/images/sprite/leftmenu.svg#contactus);
}

.listdropdown li .getapp_cnt {
  background-image: url(../../../../assets/images/sprite/leftmenu.svg#gettheapp);
}

.listdropdown li .contus_cnt {
  background-image: url(../../../../assets/images/sprite/leftmenu.svg#contactus);
}

.listdropdown li .arrowright {
  background-image: url(../../../../assets/images/sprite/leftmenu.svg#arrowright);
}

.listdropdown li:hover .default {
  display: block;
}

.listdropdown li:hover .mypoint_cnt {
  background-image: url(../../../../assets/images/sprite/leftmenu.svg#mypoint1);
}

.listdropdown li:hover .shield_cnt {
  background-image: url(../../../../assets/images/sprite/leftmenu.svg#shield);
}

.listdropdown li:hover .wallet_cnt {
  background-image: url(../../../../assets/images/sprite/leftmenu.svg#wallet1);
}

.listdropdown li:hover .activity_cnt {
  background-image: url(../../../../assets/images/sprite/leftmenu.svg#activitylog1);
}

.listdropdown li:hover .setting_cnt {
  background-image: url(../../../../assets/images/sprite/leftmenu.svg#setting1);
}

.listdropdown li:hover .logout1_cnt {
  background-image: url(../../../../assets/images/sprite/leftmenu.svg#logout1);
}

.listdropdown li:hover .getapp_cnt {
  background-image: url(../../../../assets/images/sprite/leftmenu.svg#gettheapp1);
}

.listdropdown li:hover .contus_cnt {
  background-image: url(../../../../assets/images/sprite/leftmenu.svg#contactus1);
}

.listdropdown li:hover .arrowright {
  background-image: url(../../../../assets/images/sprite/leftmenu.svg#arrowright);
}

.dropownfooter {
  width: 100%;
  float: left;
  padding: 8px 15px;
  text-align: left;
  font-size: 11px;
  color: #000000;
}

.dropownfooter span {
  float: left;
  line-height: 1.27;
}

.dropownfooter .policysec, .dropownfooter .terms {
  cursor: pointer;
}

.dropownfooter .policysec:hover, .dropownfooter .terms:hover {
  text-decoration: underline;
}

.dropownfooter .dotseperator {
  margin: 6px;
  width: 3px;
  height: 3px;
  cursor: default;
  background-color: #000;
  display: inline-block;
  border-radius: 100%;
}
/*# sourceMappingURL=profile-dropdown.component.css.map */