<div  class='droplist'>

    <div class="profileName">
        <div class="profilediv">
            <p routerLink="{{'/profile/'+userName}}" class="name">{{fullName}}</p>
            <p class="nameprof">{{userName}}</p>
        </div>
        <span title="Copy profile link" (click)="copy()" class="default profile_copy">
       </span>
    </div>

    <ul class='listdropdown'>
        <li routerLink='/pointsystem'>
            <span class="default mypoint_cnt">  </span>
            <p> My Point</p>
        </li>
        <!-- <li routerLink='/leaderboard'>
            <span class="default shield_cnt">  </span>
            <p>Leaderboard</p>
        </li> -->
        <li routerLink='/wallet'>
            <span class="default wallet_cnt"></span>
            <p>Wallet</p>
        </li>
        <li routerLink='/activitylog'>
            <span class="default activity_cnt">  </span>
            <p>Activity Log</p>
        </li>

    </ul>
    <ul class='listdropdown '>
        <li routerLink='/settings/#personalinfo'>
            <span class="default setting_cnt"></span>
            <p>Settings</p>
        </li>
        <li>
          <a href="http://support.study24x7.com" target="_blank" >
            <span class="default contactus_cnt"></span>
            <p>Support</p></a>
        </li>
        <li (click)=logout() >
            <span class="default logout1_cnt"> </span>
            <p>Log Out</p>
        </li>
    </ul>
    <ul *ngIf="false" class='listdropdown '>
        <li routerLink='/settings/#personalinfo'>
            <span class="default setting_cnt"></span>
            <p> Get The App</p>
        </li>
        <li >
            <span class="default logout1_cnt"></span>
            <p>Contact Us</p>
        </li>
    </ul>
    <div class="dropownfooter">
        <span routerLink='/privacy' class="policysec">Privacy Policy</span>
        <span class="dotseperator"></span>
        <span routerLink='/termandcondition' class="terms">Terms of Use
           </span>
    </div>

</div>
