<!-- <app-mnavbar *ngIf="t" (showMobileMenu)="displayMobileMenu()" (hideMenu)="hideMobileMenu()"></app-mnavbar> -->
<div *ngIf="todayLiveClasses.length>0 && fromLiveCompnent" class="wrapper wrapper_responsive">
  <!-- <app-header *ngIf="t && showLeftmenu"></app-header> -->
  <app-loginheader *ngIf="!t && showLeftmenu"></app-loginheader>
  <div class="sidemenu" [ngClass]="{ openfilter: isMobileMenue }">
    <div *ngIf="isMobileMenue">
      <div class="menuslidedarkbg" (click)="leftSidemenu()"></div>
      <app-mmenu *ngIf="t" class="cntrMmenu"></app-mmenu>
    </div>
  </div>
  <div id="windiv">
    <div class=" ">
      <div class="">
        <div *ngIf="t && showLeftmenu" class="col-md-3 leftFilter left_stickytab" id="sideThreeCol"
          style="padding-right: 0;">
          <div class="rightmenu_fixed" id="leftsectionfixed" [ngClass]="{'fixedleft': isScrolled}">
            <app-leftmenu (hidePopup)="false" (showPopup)="false" [leftSecWidth]="0"></app-leftmenu>
          </div>
        </div>
        <div [ngClass]="{'col-md-9':true, 'center_feed':true,'liveclassWrapper':true}" id="centersection">
          <div class="coursepage_outer" *ngIf="todayLiveClasses && todayLiveClasses.length!=0">
            <div>
              <div class="secHead">
                Today's Live Classes
                <!-- <span (click)=setUserInteresInInterestFilter() class="allShow">view
                  all</span> -->
              </div>
              <div class="courseCard">
                <div class="course_div course_student_veiw">
                  <ngx-slick-carousel class="carousel carousel_card_scroll" #slickModal2="slick-carousel"
                    [config]="slideConfig" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
                    (beforeChange)="beforeChange($event)">
                    <div ngxSlickItem class="slide" *ngFor="let toadayClass of todayLiveClasses">
                      <div class="course_item col-md-4 col-sm-6 col-xs-6" style="max-width: 100%; width: 100%;">
                        <div class="course_cont">
                          <div style="cursor: pointer;" (click)="redirectTo('course',toadayClass)"
                            class="course_img_div" *ngIf="toadayClass.COVER_TYPE==1">
                            <img class="course_img" src="{{toadayClass.COURSE_COVER_PHOTO_PATH}}" />
                            <div *ngIf="toadayClass.started" class="course_live_status blink_me">
                              LIVE NOW
                            </div>
                            <div class="img_layer"></div>
                          </div>

                          <div style="cursor: pointer;" (click)="redirectTo('course',toadayClass)"
                            class="course_img_div" *ngIf="toadayClass.COVER_TYPE==0">
                            <img class="course_img"
                              src="{{toadayClass.COURSE_COVER_PHOTO_PATH + 'cover/' + toadayClass.COURSE_UUID + '_1235x330.png?v=' + toadayClass.IMG_UPD_DT}}" />
                            <div *ngIf="toadayClass.started" class="course_live_status blink_me">
                              LIVE NOW
                            </div>
                            <div class="img_layer"></div>
                          </div>
                          <div class="course_details">
                            <div class="course_name withoutHover">
                              <p>{{postData.decodeURIPostData(toadayClass.STREAM_TITLE)}}</p>
                              <span style="cursor: pointer;"
                                (click)="redirectTo('course',toadayClass)">{{postData.decodeURIPostData(toadayClass.COURSE_TITLE)}}</span>
                            </div>
                            <div class="clearfix"></div>
                            <div class="profilethumb_wrapper">
                              <span style="cursor: pointer;" routerLink='/profile/{{toadayClass.MENTOR_DATA.USER_NAME}}'
                                class="image"
                                *ngIf="toadayClass.MENTOR_DATA && toadayClass.MENTOR_DATA.PROFILE_PHOTO_PATH">
                                <img alt="aio"
                                  src="{{toadayClass.MENTOR_DATA.PROFILE_PHOTO_PATH +'profile/'+toadayClass.MENTOR_DATA.USER_ID+'_120x120.png'}}">
                              </span>
                              <span style="cursor: pointer;" routerLink='/profile/{{toadayClass.MENTOR_DATA.USER_NAME}}'
                                class="image"
                                *ngIf="toadayClass.MENTOR_DATA && toadayClass.MENTOR_DATA.PROFILE_PHOTO_PATH==null">
                                <img alt="aio" src="{{_constantService.defaultImgPath}}">
                              </span>
                              <span *ngIf=toadayClass.MENTOR_DATA style="cursor: pointer;"
                                routerLink='/profile/{{toadayClass.MENTOR_DATA.USER_NAME}}' class="pagename"
                                title="{{toadayClass.MENTOR_DATA.USER_FULL_NAME}}" href="">
                                {{toadayClass.MENTOR_DATA.USER_FULL_NAME}} </span>
                              <span class="content_detail"> Starts at <span class="time">{{toadayClass.START_TIME | date:
                                  'shortTime'}}</span> today </span>
                            </div>
                            <button *ngIf="toadayClass.IS_ENROLLED==1 && toadayClass.started"
                              (click)="routToStream(toadayClass.CONTENT_UUID)" class="join_class">Join Class</button>
                            <button *ngIf="toadayClass.IS_ENROLLED==0 || !toadayClass.started"
                              (click)="routToCourse(toadayClass.COURSE_URL)" class="join_class">Join Class</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ngx-slick-carousel>
                </div>
              </div>
            </div>
          </div>
          <div class="coursepage_outer" *ngIf="upCommingLiveClasses.length!=0">
            <div>
              <div class="secHead upcoming_classes">
                <span class="up_heading"> Upcoming Live Classes </span>
                <!-- <span class="down_heading">Live class to be held this week</span> -->
                <span (click)=upcomingClasses() class="allShow">View
                  All</span>
              </div>
              <div class="courseCard">
                <div class="course_div course_student_veiw upcoming_class_view">
                  <ngx-slick-carousel class="carousel carousel_card_scroll" #slickModal="slick-carousel"
                    [config]="slideConfigFeaturedCourses" (breakpoint)="breakpoint($event)"
                    (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">

                    <div ngxSlickItem class="slide" *ngFor="let upComingClass of upCommingLiveClasses">
                      <div class="course_item col-md-4 col-sm-6 col-xs-6" style="max-width: 100%; width: 100%;">
                        <div class="upcoming_class_wrapper">
                          <div class="upcoming_wrapp">
                            <div style="cursor: pointer;" (click)="redirectTo('course',upComingClass)"
                              class="course_img_div" *ngIf="upComingClass.COVER_TYPE==1">
                              <img class="course_img" src="{{upComingClass.COURSE_COVER_PHOTO_PATH}}" />
                            </div>
                            <div style="cursor: pointer;" (click)="redirectTo('course',upComingClass)"
                              class="course_img_div" *ngIf="upComingClass.COVER_TYPE==0">
                              <img class="course_img"
                                src="{{upComingClass.COURSE_COVER_PHOTO_PATH + 'cover/' + upComingClass.COURSE_UUID + '_1235x330.png?v=' + upComingClass.IMG_UPD_DT}}" />
                            </div>
                            <span
                              class="upcoming_head twolimemsg">{{postData.decodeURIPostData(upComingClass.STREAM_TITLE)}}</span>
                            <span style="cursor: pointer;" (click)="redirectTo('course',upComingClass)"
                              class="upcoming_cont twolimemsg">{{postData.decodeURIPostData(upComingClass.COURSE_TITLE)|trimData:60}}</span>
                          </div>
                          <div class="join_btn_wrapp">
                            <span class="cont_ent">Starting on <span>
                                {{_constantService.getDateFromMilliseconds('DDD, dd mmmm',upComingClass.START_TIME)}}
                              </span></span>
                            <button type="button" name="button" (click)="redirectTo('course',upComingClass)">Join
                              Class</button>
                          </div>
                        </div>
                      </div>
                    </div>



                  </ngx-slick-carousel>
                </div>
              </div>
            </div>
          </div>
          <div class="coursepage_outer coursepage_outer_bottom">
            <app-previous-classes (messageEvent)="receiveMessage($event)" [fromLiveCompnent]="fromLiveCompnent" [previousClasses]="previousClasses">
            </app-previous-classes>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <button id="unslick"  [hidden]="true" (click)="slickModal2.unslick()"></button> -->
</div>
<app-previous-classes [fromLiveCompnent]="false"  *ngIf="!fromLiveCompnent"></app-previous-classes>


<app-loginpopup *ngIf="openLoginPopup" [usrData]="usrData" [senderName]="senderName" (closePopup)="loginpopupFxn()"
  [type]="openLoginPopupType"></app-loginpopup>
<!-- <app-upcoming-classes></app-upcoming-classes> -->
<div *ngIf="coverAll" class="cover-all">

</div>
