@import './../../../sass/abstracts/variables';
@import './../../../sass/abstracts/fontfamily';
$fontmontserrat: 'Montserrat';
$SourceSansPro:  'Source Sans Pro';
// *{
//   font-family: $fontmontserrat;
// }
footer{
 /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f05050+0,f05050+0,ef4343+82,ef4343+100,ef4343+100 */
background: #f05050; /* Old browsers */
background: -moz-linear-gradient(top,  #f05050 0%, #f05050 0%, #ef4343 82%, #ef4343 100%, #ef4343 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #f05050 0%,#f05050 0%,#ef4343 82%,#ef4343 100%,#ef4343 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #f05050 0%,#f05050 0%,#ef4343 82%,#ef4343 100%,#ef4343 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f05050', endColorstr='#ef4343',GradientType=0 ); /* IE6-9 */
float: left;
width: 100%;
margin-top: 0px;
overflow:hidden;
}
.pagePolicy{width: 100%;
margin: auto;padding: 0px 0px;
  .bottom_privacy{float: left;
      padding: 30px 0px;

        ul{float: left;
          width: 100%;
          list-style-type: none;
          margin-top: 0px;
          padding: 0;
          li{
            float: left;
            margin: 10px 0px;
              color: #fff;
              font-family: $fontmontserrat;
              font-weight: 600;
              font-size:16px;
          a{
            color: #fff;
            opacity: .9;
            transition: all .2s;
            cursor: pointer;
            padding: 0px 15px 0 0px;
            margin-right: 10px;
          &:hover{

            opacity: 1;
            text-decoration: underline ;
          }
}
&:nth-child(7){
  color: red;
  a{
  padding: 10px 0px 0 0px;
  margin-right: 0px;
}
}
&:last-child{
opacity: .6;
width:100%;
}
      }
    }
  }
}
@media only screen and (max-width:768px){
  .pagePolicy{
     .bottom_privacy {
      float: left;
      padding: 30px 0px;
  }
}
}
@media only screen and (max-width:480px){
  .pagePolicy{
     .bottom_privacy {
       padding: 20px 0px;
        ul{
        li{
       margin: 8px 0px;
       font-size: 14px;
   }
  }
}
}
}
