/* ==========================================================================
  Common variables
  ========================================================================== */
/**
*
* DO NOT use these variables directly in components.
* Assign them to component specific variables
*
*/
/* font-family */
/* font-family*/
/* Colors */
/* Border radius */
/* ==========================================================================
  Browser support
  ========================================================================== */
/* ==========================================================================
  Component specific variables
  ========================================================================== */
/* Typography
   ========================================================================== */
/* $baseFontFamily: Arial, sans-serif; */
/* $baseSpacing: $baseLineHeight+em; */
/* $baseTextColor: $black; */
/* Type Color */
/* $typeHighlight: $blue;
$typeLowlight: $lightGrey; */
/* Link
   ========================================================================== */
/* $linkColor: $blue;
$linkHoverColor: $lightBlue; */
/* Background
   ========================================================================== */
/* $bgBasic: #fff; */
/* Box
   ========================================================================== */
/* Contour */
/* $boxBasicBorderRadius: $borderRadiusDefault; */
/* Box foot */
/* $boxFootDivider: $blue; */
/* Divider
   ========================================================================== */
/* $dividerColor: $blue; */
/* List
   ========================================================================== */
/* $listInlineDividerBorder: $lightGrey;
$listBorder: $lightGrey; */
/* Table
   ========================================================================== */
/* $tableBorderColor: $blue; */
/* Form
   ========================================================================== */
/* $labelLeftWidth: 30%;
$formFieldBorder: 1px solid $grey;
$placeholderText: $lightGrey; */
/* Button
   ========================================================================== */
/* $btnDefaultBg: #ddd;
$btnDefaultBorder: $lightGrey; */
/* Template
   ========================================================================== */
/* $skipLinkBg: $black;
$bodyBg: #fff;
$pageWidth: 997px; */
/* header */
/* $headerBgStop1: #09456a;
$headerBgStop2: #02587e;
$contentBg: #fff;
$contentWidth: 960px; */
/* footer */
/* $footerBorder: $lightGrey; */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+SC:400,500,600,700&display=swap&subset=chinese-simplified");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
.font_sans_pro {
  font-family: "Source Sans Pro";
}

.font_montserrat {
  font-family: "Montserrat";
}

.font_noto_serif {
  font-family: "Noto Serif SC", serif;
}

.font_roboto {
  font-family: "Noto Serif SC", serif;
}

footer {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f05050+0,f05050+0,ef4343+82,ef4343+100,ef4343+100 */
  background: #f05050;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#f05050), color-stop(0%, #f05050), color-stop(82%, #ef4343), color-stop(100%, #ef4343), to(#ef4343));
  background: linear-gradient(to bottom, #f05050 0%, #f05050 0%, #ef4343 82%, #ef4343 100%, #ef4343 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f05050', endColorstr='#ef4343',GradientType=0 );
  /* IE6-9 */
  float: left;
  width: 100%;
  margin-top: 0px;
  overflow: hidden;
}

.pagePolicy {
  width: 100%;
  margin: auto;
  padding: 0px 0px;
}

.pagePolicy .bottom_privacy {
  float: left;
  padding: 30px 0px;
}

.pagePolicy .bottom_privacy ul {
  float: left;
  width: 100%;
  list-style-type: none;
  margin-top: 0px;
  padding: 0;
}

.pagePolicy .bottom_privacy ul li {
  float: left;
  margin: 10px 0px;
  color: #fff;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 16px;
}

.pagePolicy .bottom_privacy ul li a {
  color: #fff;
  opacity: .9;
  -webkit-transition: all .2s;
  transition: all .2s;
  cursor: pointer;
  padding: 0px 15px 0 0px;
  margin-right: 10px;
}

.pagePolicy .bottom_privacy ul li a:hover {
  opacity: 1;
  text-decoration: underline;
}

.pagePolicy .bottom_privacy ul li:nth-child(7) {
  color: red;
}

.pagePolicy .bottom_privacy ul li:nth-child(7) a {
  padding: 10px 0px 0 0px;
  margin-right: 0px;
}

.pagePolicy .bottom_privacy ul li:last-child {
  opacity: .6;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .pagePolicy .bottom_privacy {
    float: left;
    padding: 30px 0px;
  }
}

@media only screen and (max-width: 480px) {
  .pagePolicy .bottom_privacy {
    padding: 20px 0px;
  }
  .pagePolicy .bottom_privacy ul li {
    margin: 8px 0px;
    font-size: 14px;
  }
}
/*# sourceMappingURL=footer.component.css.map */