<footer>
  <div  class="container ">
    <div class="mainfooter">
      <div class="pagePolicy">
          <div class="bottom_privacy">
              <ul>
                  <li class="footer_bottom">
                      <a routerLink="/directory/page" routerLinkActive="active" target="_blank">Page</a>
                  </li>
                  <li class="footer_bottom">
                      <a routerLink="/directory/profile" routerLinkActive="active" target="_blank">Profile</a>
                  </li>
                  <li class="footer_bottom">
                      <a routerLink="/directory/post" routerLinkActive="active" target="_blank">Post</a>
                  </li>
                  <li class="footer_bottom">
                      <a href="https://www.aio.com/teacher " routerLinkActive="active" target="_blank">Educators</a>

                  </li>
                  <li class="footer_bottom">
                      <a href="http://support.aio.com/" routerLinkActive="active" target="_blank">
                          Support</a>
                  </li>
                  <li class="footer_bottom">
                      <a routerLink="/privacy" routerLinkActive="active" target="_blank">Privacy Policy</a>
                  </li>
                  <li class="footer_bottom">
                      <a routerLink="/termandcondition" routerLinkActive="active" target="_blank">Terms of
                          Use
                      </a>
                  </li>
                  <li class="footer_bottom">
                      © {{ current_year }} @Edubabble Learning Pvt. Ltd.
                  </li>
              </ul>
          </div>

      </div>
    </div>
  </div>
</footer>
