.searchPostQuestionbttnWrapper{
  float: left;
  margin-top: 15px;
  width: 100%;
  .searchPostButton{
    width: 102px;
height: 13px;
font-family: Roboto;
font-size: 13px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 0.81;
letter-spacing: normal;
text-align: left;
color: #f05050;
  }
}

  
.post_outer.text-post-comp{
  margin-top:15px;
}
