<app-header #headerComponent *ngIf="isLoggedIn"></app-header>
<app-loginheader *ngIf="!isLoggedIn"></app-loginheader>

<div id="wvidiv">
    <div *ngIf="showConfirmation || showRegistrationForm " class="container main_body profile_body">
        <app-confirmation *ngIf="showConfirmation " [testDetails]=testDetails #confirmationComponent></app-confirmation>
        <app-careerregistration (profileImageUpdateEmitter)="updateProfileImageInHeader($event)"
            (emitRegstrationSuccessful)="testDetails=$event.testDetails;showConfirmation=$event.success; showRegistrationForm=!$event"
            *ngIf="showRegistrationForm" #careerregistrationComponent></app-careerregistration>


    </div>

    <div *ngIf="showFresherJobs">

        <app-banner (openRegistrationForm)="showRegistrationForm=$event;showFresherJobs=!$event" [endpoint]=endpoint
            #bannerComponent>
        </app-banner>
        <app-how-to-apply *ngIf="endpoint=='fresher'"></app-how-to-apply>
        <div  *ngIf="endpoint=='fresher'">
            <app-qualifier-test-syllabus  #qualifierTestSyllabusComponent></app-qualifier-test-syllabus>

        </div>
        <app-why-join-study #whyJoinStudyComponent></app-why-join-study>
        <!-- <app-careervideo *ngIf="endpoint!='fresher'"></app-careervideo> -->
        <app-values-and-work-culture #valudesAndWorkCultureComponent></app-values-and-work-culture>
        <app-sales-and-marketing *ngIf="endpoint!='fresher'"></app-sales-and-marketing>
        <div >
            <app-we-are-hiring *ngIf="endpoint!='fresher'"></app-we-are-hiring>

        </div>
        <app-freequently-asked-questions *ngIf="endpoint=='fresher'"></app-freequently-asked-questions>
        <app-preperation *ngIf="endpoint!='fresher'"></app-preperation>

        <app-footer #footerComponent></app-footer>
    </div>
</div>
