@-webkit-keyframes ripple { 70% { box-shadow: 0 0 0 20px rgba(255, 0, 0, 0); }
  100% { box-shadow: 0 0 0 0 rgba(255, 0, 0, 0); } }

@keyframes ripple { 70% { box-shadow: 0 0 0 20px rgba(255, 0, 231, 0); }
  100% { box-shadow: 0 0 0 0 rgba(255, 0, 0, 0); } }

@-moz-keyframes ripple { 70% { box-shadow: 0 0 0 20px rgba(255, 0, 0, 0); }
  100% { box-shadow: 0 0 0 0 rgba(255, 0, 0, 0); } }

.circle-rippl, .circle-rippl::after, .circle-rippl::before { position: absolute; right: -4px; bottom: -4px; height: 64px; width: 64px; z-index: -1; border-radius: 50%; box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.2); -webkit-animation: ripple 2s infinite; -moz-animation: ripple 2s infinite; -ms-animation: ripple 2s infinite; -o-animation: ripple 2s infinite; animation: ripple 2s infinite; }

.circle-rippl::after, .circle-rippl::before { content: ""; position: absolute; top: 0; right: 0; }

.circle-rippl::after { -webkit-animation-delay: .4s; -moz-animation-delay: .4s; -ms-animation-delay: .4s; -o-animation-delay: .4s; animation-delay: .4s; }
