.main_wrapper .registrationWrapper {
  margin-left: 0 !important;
  top: 73px !important;
  width: 100% !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  bottom: 10px;
  overflow-y: auto;
  position: absolute !important;
}

.sidefilter.openfilter {
  width: 530px;
}

.popup-inner-wrap {
  width: 0px;
  z-index: 7;
  background-color: #f2f2f2;
  height: auto;
  left: 50.8%;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  margin-top: 5%;
  border-radius: 3px;
}

.popup-inner-wrap .signupwrapper,
.popup-inner-wrap .loginpwrapper {
  float: left;
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
}

.popup-inner-wrap .signupwrapper .head,
.popup-inner-wrap .loginpwrapper .head {
  width: 100%;
  float: left;
}

.popup-inner-wrap .signupwrapper .head .login_close,
.popup-inner-wrap .loginpwrapper .head .login_close {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 0px;
  top: 0px;
  cursor: pointer;
}

.popup-inner-wrap .signupwrapper .head .login_close .default,
.popup-inner-wrap .signupwrapper .head .login_close .hover,
.popup-inner-wrap .loginpwrapper .head .login_close .default,
.popup-inner-wrap .loginpwrapper .head .login_close .hover {
  display: block;
  width: 10px;
  margin: 10px;
}

.popup-inner-wrap .signupwrapper .head .login_close .default,
.popup-inner-wrap .loginpwrapper .head .login_close .default {
  display: block;
}

.popup-inner-wrap .signupwrapper .head .login_close .hover,
.popup-inner-wrap .loginpwrapper .head .login_close .hover {
  display: none;
  /* img{
            width: 100%;
          } */
}

.popup-inner-wrap .signupwrapper .head .login_close:hover .default,
.popup-inner-wrap .loginpwrapper .head .login_close:hover .default {
  display: none;
}

.popup-inner-wrap .signupwrapper .head .login_close:hover .hover,
.popup-inner-wrap .loginpwrapper .head .login_close:hover .hover {
  display: block;
}

.popup-inner-wrap .signupwrapper .head .logocontainer,
.popup-inner-wrap .loginpwrapper .head .logocontainer {
  width: 100%;
  text-align: center;
}

.popup-inner-wrap .signupwrapper .head .logocontainer img,
.popup-inner-wrap .loginpwrapper .head .logocontainer img {
  margin-top: 25px;
  width: 135px !important;
}

.popup-inner-wrap .signupwrapper .feldContainer,
.popup-inner-wrap .loginpwrapper .feldContainer {
  float: left;
  width: 100%;
  padding: 0px 40px;
}

.popup-inner-wrap .signupwrapper .feldContainer h3,
.popup-inner-wrap .loginpwrapper .feldContainer h3 {
  float: left;
  text-align: center;
  width: 100%;
  font-size: 18px;
  color: #2c2e2f;
  margin-bottom: 20px;
}

.popup-inner-wrap .signupwrapper .feldContainer h4,
.popup-inner-wrap .loginpwrapper .feldContainer h4 {
  float: left;
  text-align: left;
  width: 100%;
  font-size: 16px;
  padding-top: 50px;
  color: #2c2e2f;
}

.popup-inner-wrap .signupwrapper .feldContainer h2,
.popup-inner-wrap .loginpwrapper .feldContainer h2 {
  float: left;
  text-align: left;
  width: 100%;
  font-size: 26px;
  color: #2c2e2f;
  padding-top: 6px;
  margin-bottom: 10px;
}

.popup-inner-wrap .signupwrapper .feldContainer .inputfiled,
.popup-inner-wrap .loginpwrapper .feldContainer .inputfiled {
  float: left;
  width: 100%;
  height: 45px;
  margin: 5px 0px;
}

.popup-inner-wrap .signupwrapper .feldContainer .inputfiled input,
.popup-inner-wrap .loginpwrapper .feldContainer .inputfiled input {
  width: 100%;
  height: 100%;
  font-size: 14px;
  padding-left: 10px;
}

.popup-inner-wrap .signupwrapper .feldContainer .inputfiled .subfiledcontainer,
.popup-inner-wrap .loginpwrapper .feldContainer .inputfiled .subfiledcontainer {
  float: left;
  width: 49%;
  height: 45px;
  position: relative;
  background-color: #fff;
  border: 1px solid #dfe0e8;
  line-height: 45px;
}

.popup-inner-wrap .signupwrapper .feldContainer .inputfiled .subfiledcontainer input,
.popup-inner-wrap .loginpwrapper .feldContainer .inputfiled .subfiledcontainer input {
  width: 100%;
  height: 100%;
  font-size: 14px;
  padding-left: 10px;
}

.popup-inner-wrap .signupwrapper .feldContainer .inputfiled .subfiledcontainer input:focus,
.popup-inner-wrap .loginpwrapper .feldContainer .inputfiled .subfiledcontainer input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.popup-inner-wrap .signupwrapper .feldContainer .inputfiled .subfiledcontainer select,
.popup-inner-wrap .loginpwrapper .feldContainer .inputfiled .subfiledcontainer select {
  width: 100%;
  height: 100%;
  background-color: #fff;
  font-size: 14px;
  padding-left: 10px;
  background: transparent;
}

.popup-inner-wrap .signupwrapper .feldContainer .inputfiled .subfiledcontainer select:focus,
.popup-inner-wrap .loginpwrapper .feldContainer .inputfiled .subfiledcontainer select:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.popup-inner-wrap .signupwrapper .feldContainer .inputfiled .subfiledcontainer label,
.popup-inner-wrap .loginpwrapper .feldContainer .inputfiled .subfiledcontainer label {
  position: absolute;
  top: 50%;
  margin-top: -7px;
  left: 10px;
  background-color: #fff !important;
  cursor: pointer;
}

.popup-inner-wrap .signupwrapper .feldContainer .inputfiled .Radio:checked + .checkbox_btn,
.popup-inner-wrap .loginpwrapper .feldContainer .inputfiled .Radio:checked + .checkbox_btn {
  background-color: #fff !important;
  border: 1px solid #dfe0e8 !important;
}

.popup-inner-wrap .signupwrapper .feldContainer .inputfiled .paddinlft,
.popup-inner-wrap .loginpwrapper .feldContainer .inputfiled .paddinlft {
  padding-left: 35px;
}

.popup-inner-wrap .signupwrapper .feldContainer .inputfiled .downarrow,
.popup-inner-wrap .loginpwrapper .feldContainer .inputfiled .downarrow {
  position: absolute;
  right: 9px;
  top: 0px;
  width: 14px;
  z-index: 1;
}

.popup-inner-wrap .signupwrapper .feldContainer span,
.popup-inner-wrap .loginpwrapper .feldContainer span {
  float: right;
  font-size: 12px;
  padding: 0px 0px 20px 0px;
  cursor: pointer;
}

.popup-inner-wrap .signupwrapper .feldContainer span a,
.popup-inner-wrap .loginpwrapper .feldContainer span a {
  text-decoration: none;
}

.popup-inner-wrap .signupwrapper .feldContainer span a:hover,
.popup-inner-wrap .loginpwrapper .feldContainer span a:hover {
  color: #f05050 !important;
  text-decoration: underline !important;
}

.popup-inner-wrap .signupwrapper .feldContainer .loginbtn,
.popup-inner-wrap .loginpwrapper .feldContainer .loginbtn {
  width: 100%;
  background-color: #fff;
  color: #000;
  font-size: 14px;
  border: 1px solid #000;
  height: 45px;
  font-weight: 500;
  margin-bottom: 25px;
}

.popup-inner-wrap .signupwrapper .footer,
.popup-inner-wrap .loginpwrapper .footer {
  float: left;
  width: 100%;
  padding: 40px 40px;
  background-color: #fff;
}

.popup-inner-wrap .signupwrapper .footer span,
.popup-inner-wrap .loginpwrapper .footer span {
  width: 100%;
  text-align: center;
  float: left;
  padding: 0px 0px 20px 0px;
}

.popup-inner-wrap .signupwrapper .footer button,
.popup-inner-wrap .loginpwrapper .footer button {
  width: 100%;
  background-color: #f05050;
  color: #fff;
  font-size: 14px;
  height: 45px;
  font-weight: 500;
}

.feldContainer .user_detail {
  float: left;
  width: 100%;
  text-align: center;
  margin: 20px 0px;
}

.feldContainer .user_detail span {
  padding: 0px;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 50%;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
  border: 1px solid #eaeaea !important;
}

.footer {
  float: left;
  width: 100%;
  padding: 40px 40px;
  background-color: #fff;
}

.footer span {
  width: 100%;
  text-align: center;
  float: left;
  padding: 0px 0px 20px 0px;
}

.footer button {
  width: 100%;
  background-color: #f05050;
  color: #fff;
  font-size: 14px;
  height: 45px;
  font-weight: 500;
}

.footer .social_invite_wrapper {
  float: left;
  width: 100%;
}

.footer .social_invite_wrapper .wrapper {
  width: 100%;
  float: left;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 0px !important;
}

.footer .social_invite_wrapper .wrapper .fb_login {
  width: 47%;
  float: left;
  -webkit-box-shadow: 0px 1px 3px 1px #00000020 !important;
          box-shadow: 0px 1px 3px 1px #00000020 !important;
  line-height: 46px;
  font-size: 14px;
  font-weight: 500;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  overflow: hidden;
  height: 45px;
  border-radius: 3px;
  background: #fff;
  color: #8c8c8c;
  display: inline-block;
  padding-left: 57px;
}

.footer .social_invite_wrapper .wrapper .fb_login img {
  width: 21px;
  display: inline;
  float: left;
  margin-top: 12px;
  margin-right: 5px;
}

.footer .social_invite_wrapper .wrapper .fb_login span {
  float: left;
  width: auto;
}

.footer .social_invite_wrapper .wrapper .fb_login:hover {
  -webkit-box-shadow: 0px 1px 3px 3px #00000020 !important;
          box-shadow: 0px 1px 3px 3px #00000020 !important;
}

.footer .social_invite_wrapper .wrapper .gmail_login {
  width: 47%;
  float: right;
  -webkit-box-shadow: 0px 1px 3px 1px #00000020 !important;
          box-shadow: 0px 1px 3px 1px #00000020 !important;
  line-height: 46px;
  font-size: 14px;
  font-weight: 500;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  overflow: hidden;
  height: 45px;
  border-radius: 3px;
  background: #fff;
  color: #8c8c8c;
  display: inline-block;
  padding-left: 72px;
}

.footer .social_invite_wrapper .wrapper .gmail_login img {
  width: 21px;
  display: inline;
  float: left;
  margin-top: 12px;
  margin-right: 5px;
}

.footer .social_invite_wrapper .wrapper .gmail_login span {
  float: left;
  width: auto;
}

.footer .social_invite_wrapper .wrapper .gmail_login:hover {
  -webkit-box-shadow: 0px 1px 3px 3px #00000020 !important;
          box-shadow: 0px 1px 3px 3px #00000020 !important;
}

.inputfiled .subfiledcontainer .touch_content {
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding-left: 35px;
  line-height: 43px;
  cursor: pointer;
}

.subfiledcontainer .check_click {
  line-height: 17px;
  left: 33px !important;
  position: absolute;
  padding-left: 0px;
  bottom: 0;
  right: 0;
}

.feldContainer .user_detail span {
  padding-bottom: 0 !important;
}

.feldContainer .user_detail span img {
  width: 100%;
  height: 100%;
}

.preloaderAlignment {
  margin-left: 30px;
}

@media only screen and (max-width: 540px) {
  .sidefilter.openfilter {
    width: 100%;
  }
  .popup-inner-wrap {
    width: calc(100% - 20px);
  }
  .popup-inner-wrap .signupwrapper .feldContainer,
  .popup-inner-wrap .loginpwrapper .feldContainer {
    padding: 0px 40px;
  }
  .popup-inner-wrap .signupwrapper .footer,
  .popup-inner-wrap .loginpwrapper .footer {
    padding: 20px 40px 40px;
  }
  .popup-inner-wrap .signupwrapper .feldContainer h4,
  .popup-inner-wrap .loginpwrapper .feldContainer h4 {
    padding-top: 20px;
  }
  .marginBottom {
    margin-bottom: 20px !important;
  }
  .fb_login,
  .gmail_login {
    padding-left: 0 !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .popup-inner-wrap .signupwrapper .feldContainer h2,
  .popup-inner-wrap .loginpwrapper .feldContainer h2 {
    font-size: 20px;
  }
  .head .login_close img {
    width: 12px;
  }
}

@media only screen and (max-width: 380px) {
  .popup-inner-wrap .signupwrapper .feldContainer,
  .popup-inner-wrap .loginpwrapper .feldContainer {
    padding: 0px 15px;
  }
  .popup-inner-wrap .signupwrapper .feldContainer h3, .popup-inner-wrap .loginpwrapper .feldContainer h3 {
    width: calc(100% - 25px);
  }
}

@media only screen and (max-width: 640px) {
  .feldContainer .user_detail {
    display: none;
  }
  .head .logocontainer img {
    display: none;
  }
  .signupwrapper .feldContainer h3 {
    margin-top: 20px;
    font-size: 16px !important;
    text-align: left !important;
  }
  .popup-inner-wrap .loginpwrapper .feldContainer h4 {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
  }
  .popup-inner-wrap .loginpwrapper .feldContainer .loginbtn {
    margin-top: 10px !important;
    margin-bottom: 15px;
  }
  .footer .social_invite_wrapper .wrapper {
    margin-bottom: 20px;
    margin-top: 0 !important;
  }
  .popup-inner-wrap .signupwrapper .footer,
  .popup-inner-wrap .loginpwrapper .footer {
    padding: 15px;
  }
  .popup-inner-wrap .signupwrapper .feldContainer .inputfiled input {
    padding-left: 15px;
  }
  .popup-inner-wrap {
    top: 0px !important;
  }
  *::-webkit-input-placeholder,
  .placeholder {
    color: #2c2e2f;
    opacity: 0.4;
  }
  *:-ms-input-placeholder,
  .placeholder {
    color: #2c2e2f;
    opacity: 0.4;
  }
  *::-ms-input-placeholder,
  .placeholder {
    color: #2c2e2f;
    opacity: 0.4;
  }
  *::placeholder,
  .placeholder {
    color: #2c2e2f;
    opacity: 0.4;
  }
  *::-moz-placeholder,
  .placeholder {
    color: #2c2e2f;
    opacity: 0.4;
  }
  *::-webkit-placeholder,
  .placeholder {
    color: #2c2e2f;
    opacity: 0.4;
  }
  .popup-inner-wrap .signupwrapper .feldContainer h2 {
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .subfiledcontainer .check_click {
    font-weight: 400;
  }
}

@media only screen and (max-width: 600px) {
  .popup-inner-wrap .signupwrapper .head .login_close,
  .popup-inner-wrap .loginpwrapper .head .login_close {
    width: 45px !important;
    height: 45px;
  }
  .popup-inner-wrap .signupwrapper .head .login_close img,
  .popup-inner-wrap .loginpwrapper .head .login_close img {
    width: 15px !important;
    height: 15px;
    margin: 15px !important;
  }
  .alert_claim {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 500px) {
  .main_wrapper .registrationWrapper .topErr {
    top: 0px;
    padding: 8px 25px 8px 8px;
    line-height: 1.2;
    z-index: 5;
  }
  .main_wrapper .registrationWrapper .topErr .rightErrorWrapper .leftImgWrapper {
    width: 12px;
    height: 12px;
    float: left;
    position: absolute;
    left: 9px;
  }
  .main_wrapper .registrationWrapper .topErr .rightErrorWrapper .leftImgWrapper .errormsglogin {
    width: 17px;
    height: 17px;
  }
}

select {
  color: #ccc !important;
}

select:active {
  color: black;
}

.on-click {
  color: black !important;
}

select:hover {
  color: black;
}

option {
  color: #000;
}

option:first-child {
  color: #ccc;
}

.onHover:hover a {
  color: #f05050;
  text-decoration: underline !important;
}
/*# sourceMappingURL=loginpopup.component.css.map */