<div class="about_outer" *ngIf="usrTyp == '1'">
    <h6 class="widgetheading pageabthd" >About</h6>
    <div *ngIf="(summaryDivShow === 1 || publicView) && !loadPageAbout ">
        <div class='about_inr'>
            <p class="widgetheading aboutwidgetsummary" style="padding:0px; font-size:14px !important;" *ngIf="shortDesc!=''" [innerHTML]="shortDesc"></p><a *ngIf="shortDesc.length >30"  (click)="goToAbout(2)"  style="float:none;" class="cursor-pointer">see more</a>
            <p class="widgetheading" style="padding-top:0px; font-size:14px !important;" *ngIf="shortDesc==''">No Page Description Available</p>
        </div>
        <div class='about_inr'>
            <ul class='about_list'>
                <li class="aboutli">
                    <span class="glyphicon glyphicon-book"></span>
                    <a *ngIf="pageName!=''"><span [ngStyle]="{'cursor:default': publicView }" class="aboutli_icon">
                            <img src="./assets/images/svg-three/about/pagename.svg" alt="aio">
                        </span>
                        <span [ngStyle]="{'cursor:default': publicView }"  class="cover_width">{{pageName}}</span>
                    </a>
                    <a *ngIf="pageName==''" class="nodata">No Pagename is available</a></li>
                <li class="aboutli">
                    <span class="glyphicon glyphicon-book"></span>
                    <a *ngIf="website!=''">
                        <span [ngStyle]="{'cursor:default': publicView }" class="aboutli_icon">
                            <img src="./assets/images/svg-three/about/url.svg" alt="aio">
                        </span>
                        <span [ngStyle]="{'cursor:default': publicView }" class="cover_width"> {{website}}</span>
                    </a>
                    <a *ngIf="website==''" class="nodata">No Website/URL is available</a></li>
                <li [ngStyle]="{'cursor:default': publicView }" class="aboutli">
                    <span class="glyphicon glyphicon-book"></span>
                    <a  [ngStyle]="{'cursor:default': publicView }"  *ngIf="phone!=''"><span  [ngStyle]="{'cursor:default': publicView }"  class="aboutli_icon">
                            <img src="./assets/images/svg-three/about/contact.svg" alt="aio">
                        </span>
                        {{phone}}
                    </a>
                    <a *ngIf="phone==''" class="nodata">
                        No Phone Number is available
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="loader2" *ngIf="loadPageAbout">
        <img src="assets/images/24x7preloader.gif" alt="aio" >
    </div>
    <div class="page-about" *ngIf="summaryDivShow === 2 && !publicView && !loadPageAbout">
        <div class="page_widget_inner">
            <span><img src="assets/images/svg-three/emptyimage.svg" alt="aio"></span>
            <span>Summarize your page</span>
            <span>Tell your followers about your page</span>
        </div>
        <button class="btn btn-pagetips" (click)="goToAbout(2)">Add about</button>
    </div>
</div>




<!-- other view start  -->

<div class="about_outer" *ngIf="usrTyp != '1' && summaryDivShow != 2 && (pageName!='' || website!='' || phone!='' || shortDesc!='')" (click)="savePublicPostUrlFxn()">
     <h6 class="widgetheading pageabthd" >About</h6>
    <div *ngIf="summaryDivShow === 1 && !loadPageAbout">
        <div class='about_inr' *ngIf="shortDesc!=''">
            <p class="widgetheading aboutwidgetsummary" style="padding:0px; font-size:14px !important;"  [innerHTML]="shortDesc"></p>
            <a *ngIf="shortDesc.length >30"  (click)="goToAbout(1)"  style="float:none;" class="cursor-pointer">see more</a>
        </div>
        <div class='about_inr'>
            <ul class='about_list'>
                <li class="aboutli" *ngIf="pageName!=''">
                    <span class="glyphicon glyphicon-book"></span>
                    <a >
                        <span [ngStyle]="{'cursor:default': publicView }" class="aboutli_icon">
                            <img src="./assets/images/svg-three/about/pagename.svg" alt="aio">
                        </span>
                        <span [ngStyle]="{'cursor:default': publicView }" class="cover_width">{{pageName}}</span>
                    </a>
                </li>
                <li class="aboutli" *ngIf="website!=''">
                    <span class="glyphicon glyphicon-book"></span>
                    <a >
                        <span [ngStyle]="{'cursor:default': publicView }" class="aboutli_icon">
                            <img src="./assets/images/svg-three/about/url.svg" alt="aio">
                        </span>
                        <span [ngStyle]="{'cursor:default': publicView }" class="cover_width">{{website}}</span>
                    </a>
                </li>
                <li class="aboutli" *ngIf="phone!=''">
                    <span class="glyphicon glyphicon-book"></span>
                    <a [ngStyle]="{'cursor:default': publicView }" >
                        <span [ngStyle]="{'cursor:default': publicView }" class="aboutli_icon">
                            <img src="./assets/images/svg-three/about/contact.svg" alt="aio">
                        </span>
                        {{phone}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="loader2" *ngIf="loadPageAbout">
        <img src="assets/images/24x7preloader.gif" alt="aio" >
    </div>
    <!--        <div class="page-about" *ngIf="summaryDivShow === 2">
              <div class="page_widget_inner">
                <span><img src="assets/images/svg-three/emptyimage.svg" alt="aio"></span>
                <span>Summarize your page</span>
                <span>Tell your followers about your page</span>
              </div>
              <button class="btn btn-pagetips">Add about</button>
            </div>-->
</div>

<!-- other view end -->
