<header class="login_Header" >
    <div class="container head_container" style="top:0px;">
        <img src="./assets/images/svg-three/Logo.png" class='logo' style="width: 150px;">
        <div class="head-login-cntnar">

            <!-- header emali field -->
            <div class="login-field lgn-e-input">
                <input type="text"  name="l_e" placeholder="Emali or Moblie">
            </div>
            <!-- header emali field End-->

            <!-- header password field -->
            <div class="login-field lgn-p-input">
                <input type="Password"  class="" required  placeholder="Password">
                <a href='javascript:void(0);'  class='head_login_frgtpassword login_frgtpassword'>Forgot Password?</a>
            </div>
            <!-- header password field End -->

            <!-- header login button -->
            <button  [disabled]="showPreloader===true"  class='login-button login_btn registrationbtn'>
                <span class="text">Log In </span>
            </button>
            <!-- header login button End -->

            <!-- header new registration button -->
            <button class="reg-button"  style="background-color:#f05050;color:#fff;">Sign Up</button>
            <!-- header new registration button end-->

        </div>
    </div>
</header>

<div class="windiv">
  <div class="container main_body">
    <div class="head">
      <h6>Browse by name</h6>
      <p>
         Browse for your friends alphabetically by name. Numbers 0 to 25 contain non-Latin character names.
        <br> Note: This only includes people who have Public Search Listings available on Facebook. Anyone can opt out of appearing here by changing their Search privacy settings. You can also find people using our people search Page.
      </p>

      <div class="searchWarap">
        <input type="text" placeholder="search for page"><button>search</button>
      </div>

      <div class="searchmenu">
        <ul>
          <li class="borderBottom">A</li>
          <li>B</li>
          <li>C</li>
          <li>D</li>
          <li>E</li>
          <li>F</li>
          <li>G</li>
          <li>H</li>
          <li>I</li>
          <li>J</li>
          <li>K</li>
          <li>L</li>
          <li>M</li>
          <li>N</li>
          <li>O</li>
          <li>P</li>
          <li>Q</li>
          <li>R</li>
          <li>S</li>
          <li>T</li>
          <li>U</li>
          <li>V</li>
          <li>W</li>
          <li>X</li>
          <li>Y</li>
          <li>Z</li>
        </ul>
      </div>
    </div>

    <div class="directoryWrapper">
      <div class="directoryHead">
        <h3>People directory results for A – azzyk'Newbie</h3>
      </div>
      <div class="directoryList">
        <ul>
          <li><a href="">A - A & C Tyres and Exhaust</a></li>
          <li><a href="">A & C Universe Business 购物宇宙 - A & K Tile</a></li>
          <li><a href="">A & K Tile And Interiors - A & S laser - topitos</a></li>
          <li><a href="">A & S lights & sounds kunnam - A 1 Pass School of Motoring</a></li>
          <li><a href="">A 1 Passo Dal Sogno - A A McIntyre Poultry</a></li>
          <li><a href="">A A Media Forum Bakura/Maradun - A Arte da Metamorfose</a></li>
          <li><a href="">A Arte da Mina - A B N O R M a L</a></li>
          <li><a href="">A B N O R M a L - A Bake to Beautiful</a></li>
          <li><a href="">A Baked Affair - A Beautiful Mind Designs</a></li>
          <li><a href="">A Beautiful Mind Di R Howard - A Better Me</a></li>
          <li><a href="">A Better Me - A Bit Cheesy</a></li>
          <li><a href="">A Bit Childish - A Bleak Future</a></li>
          <li><a href="">A Bleak House - A Bowersock Design</a></li>
          <li><a href="">A Bowey - A Broken Poet</a></li>
          <li><a href="">A - A & C Tyres and Exhaust</a></li>
          <li><a href="">A & C Universe Business 购物宇宙 - A & K Tile</a></li>
          <li><a href="">A & K Tile And Interiors - A & S laser - topitos</a></li>
          <li><a href="">A & S lights & sounds kunnam - A 1 Pass School of Motoring</a></li>
          <li><a href="">A 1 Passo Dal Sogno - A A McIntyre Poultry</a></li>
          <li><a href="">A A Media Forum Bakura/Maradun - A Arte da Metamorfose</a></li>
          <li><a href="">A Arte da Mina - A B N O R M a L</a></li>
          <li><a href="">A B N O R M a L - A Bake to Beautiful</a></li>
          <li><a href="">A Baked Affair - A Beautiful Mind Designs</a></li>
          <li><a href="">A Beautiful Mind Di R Howard - A Better Me</a></li>
          <li><a href="">A Better Me - A Bit Cheesy</a></li>
          <li><a href="">A Bit Childish - A Bleak Future</a></li>
          <li><a href="">A Bleak House - A Bowersock Design</a></li>
          <li><a href="">A Bowey - A Broken Poet</a></li>
        </ul>

        <ul>
          <li><a href="">A - A & C Tyres and Exhaust</a></li>
          <li><a href="">A & C Universe Business 购物宇宙 - A & K Tile</a></li>
          <li><a href="">A & K Tile And Interiors - A & S laser - topitos</a></li>
          <li><a href="">A & S lights & sounds kunnam - A 1 Pass School of Motoring</a></li>
          <li><a href="">A 1 Passo Dal Sogno - A A McIntyre Poultry</a></li>
          <li><a href="">A A Media Forum Bakura/Maradun - A Arte da Metamorfose</a></li>
          <li><a href="">A Arte da Mina - A B N O R M a L</a></li>
          <li><a href="">A B N O R M a L - A Bake to Beautiful</a></li>
          <li><a href="">A Baked Affair - A Beautiful Mind Designs</a></li>
          <li><a href="">A Beautiful Mind Di R Howard - A Better Me</a></li>
          <li><a href="">A Better Me - A Bit Cheesy</a></li>
          <li><a href="">A Bit Childish - A Bleak Future</a></li>
          <li><a href="">A Bleak House - A Bowersock Design</a></li>
          <li><a href="">A Bowey - A Broken Poet</a></li>
          <li><a href="">A - A & C Tyres and Exhaust</a></li>
          <li><a href="">A & C Universe Business 购物宇宙 - A & K Tile</a></li>
          <li><a href="">A & K Tile And Interiors - A & S laser - topitos</a></li>
          <li><a href="">A & S lights & sounds kunnam - A 1 Pass School of Motoring</a></li>
          <li><a href="">A 1 Passo Dal Sogno - A A McIntyre Poultry</a></li>
          <li><a href="">A A Media Forum Bakura/Maradun - A Arte da Metamorfose</a></li>
          <li><a href="">A Arte da Mina - A B N O R M a L</a></li>
          <li><a href="">A B N O R M a L - A Bake to Beautiful</a></li>
          <li><a href="">A Baked Affair - A Beautiful Mind Designs</a></li>
          <li><a href="">A Beautiful Mind Di R Howard - A Better Me</a></li>
          <li><a href="">A Better Me - A Bit Cheesy</a></li>
          <li><a href="">A Bit Childish - A Bleak Future</a></li>
          <li><a href="">A Bleak House - A Bowersock Design</a></li>
          <li><a href="">A Bowey - A Broken Poet</a></li>
        </ul>

        <ul>
          <li><a href="">A - A & C Tyres and Exhaust</a></li>
          <li><a href="">A & C Universe Business 购物宇宙 - A & K Tile</a></li>
          <li><a href="">A & K Tile And Interiors - A & S laser - topitos</a></li>
          <li><a href="">A & S lights & sounds kunnam - A 1 Pass School of Motoring</a></li>
          <li><a href="">A 1 Passo Dal Sogno - A A McIntyre Poultry</a></li>
          <li><a href="">A A Media Forum Bakura/Maradun - A Arte da Metamorfose</a></li>
          <li><a href="">A Arte da Mina - A B N O R M a L</a></li>
          <li><a href="">A B N O R M a L - A Bake to Beautiful</a></li>
          <li><a href="">A Baked Affair - A Beautiful Mind Designs</a></li>
          <li><a href="">A Beautiful Mind Di R Howard - A Better Me</a></li>
          <li><a href="">A Better Me - A Bit Cheesy</a></li>
          <li><a href="">A Bit Childish - A Bleak Future</a></li>
          <li><a href="">A Bleak House - A Bowersock Design</a></li>
          <li><a href="">A Bowey - A Broken Poet</a></li>
          <li><a href="">A - A & C Tyres and Exhaust</a></li>
          <li><a href="">A & C Universe Business 购物宇宙 - A & K Tile</a></li>
          <li><a href="">A & K Tile And Interiors - A & S laser - topitos</a></li>
          <li><a href="">A & S lights & sounds kunnam - A 1 Pass School of Motoring</a></li>
          <li><a href="">A 1 Passo Dal Sogno - A A McIntyre Poultry</a></li>
          <li><a href="">A A Media Forum Bakura/Maradun - A Arte da Metamorfose</a></li>
          <li><a href="">A Arte da Mina - A B N O R M a L</a></li>
          <li><a href="">A B N O R M a L - A Bake to Beautiful</a></li>
          <li><a href="">A Baked Affair - A Beautiful Mind Designs</a></li>
          <li><a href="">A Beautiful Mind Di R Howard - A Better Me</a></li>
          <li><a href="">A Better Me - A Bit Cheesy</a></li>
          <li><a href="">A Bit Childish - A Bleak Future</a></li>
          <li><a href="">A Bleak House - A Bowersock Design</a></li>
          <li><a href="">A Bowey - A Broken Poet</a></li>
        </ul>

        <nav data-pagination>
          <a href=# class="previoue">Previous</a>
          <ul>
            <li class=current><a href=#1>1</a>
            <li><a href=#2>2</a>
            <li><a href=#3>3</a>
            <li><a href=#4>4</a>
            <li><a href=#5>5</a>
            <li><a href=#6>6</a>
            <li><a href=#7>7</a>
            <li><a href=#8>8</a>
            <li><a href=#9>9</a>
            <li><a href=#10>…</a>
            <li><a href=#41>41</a>
          </ul>
          <a href=#2 class="next">Next</a>
          </nav>




      </div>



      <!-- <div class="directoryList">
        <div class="cardWrapper">
          <div class="imageWrapper">
            <img src="https://scontent.fdel19-1.fna.fbcdn.net/v/t1.0-1/c12.0.50.50a/p50x50/19113900_441790566178014_2323104399924641727_n.jpg?_nc_cat=108&_nc_ht=scontent.fdel19-1.fna&oh=634e744215e1fcfc997e1353039782d0&oe=5CC9440C" alt="aio">
          </div>
          <h3> <a href="">{{ person.name }}</a></h3>
          <h6>Individual</h6>
        </div>
      </div> -->

    </div>



  </div>
</div>
