.login_Header {
  -webkit-box-shadow: 0px 6px 24px 1px #2c2e2f20;
          box-shadow: 0px 6px 24px 1px #2c2e2f20;
  position: fixed;
  top: 0px;
  z-index: 4;
  background: #fff;
  width: 100%;
  height: 66px;
  line-height: 72px;
}

.login_Header .head_container {
  line-height: 0px;
  padding-top: 10px;
  position: relative;
  width: 1230px;
  max-width: 90%;
}

.login_Header .head_container .head-login-cntnar {
  width: 621px;
  float: right;
}

.login_Header .head_container .head-login-cntnar .login-field {
  width: 200px;
  float: left;
  position: relative;
}

.login_Header .head_container .head-login-cntnar .login-field input {
  border-radius: 3px;
  height: 34px;
  font-size: 12px;
}

.login_Header .head_container .head-login-cntnar .lgn-e-input input {
  height: 34px;
  font-size: 12px;
  padding-left: 10px;
}

.login_Header .head_container .head-login-cntnar .lgn-e-input input:focus {
  border: 1px solid #dfe0e8 !important;
}

.login_Header .head_container .head-login-cntnar .lgn-p-input {
  width: 200px;
  float: left;
  margin-left: 10px;
}

.login_Header .head_container .head-login-cntnar .lgn-p-input input {
  height: 34px;
  padding-left: 10px;
}

.login_Header .head_container .head-login-cntnar .lgn-p-input .head_login_frgtpassword {
  position: absolute;
  top: 46px;
  right: 4px;
  text-align: right;
  color: #000;
  font-size: 11px;
  opacity: .7;
}

.login_Header .head_container .head-login-cntnar .lgn-p-input a:hover {
  text-decoration: underline !important;
  opacity: 1;
  color: #f05050;
}

.login_Header .head_container .head-login-cntnar .login-button {
  width: 90px;
  float: left;
  margin: 0px;
  color: #000;
  border-radius: 3px;
  border: 1px solid #000 !important;
  margin-left: 10px;
  background-color: #fff;
  height: 34px;
  -webkit-transition: all .4s;
  transition: all .4s;
  border: none;
}

.login_Header .head_container .head-login-cntnar .login-button:hover {
  border: 1px solid #f05050 !important;
  color: #f05050;
}

.login_Header .head_container .head-login-cntnar .login-button .text {
  font-size: 14px;
  font-weight: 500;
}

.login_Header .head_container .head-login-cntnar .reg-button {
  width: 144px;
  float: right;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #f05050;
  color: #f05050;
  font-size: 14px;
  font-weight: 500;
  height: 34px;
  -webkit-transition: all .4s;
  transition: all .4s;
  float: left;
  margin-left: 20px;
  float: right;
  width: 90px;
  transition: all .3s;
  -webkit-transition: all .3s;
  float: left;
}

.login_Header .head_container .head-login-cntnar .reg-button:hover {
  background-color: #F26F6F !important;
  color: #fff;
}

@media only screen and (max-width: 1200px) {
  .login_Header .head_container .head-login-cntnar {
    width: 530px;
  }
  .login_Header .head_container .head-login-cntnar .lgn-e-input {
    width: 155px;
  }
  .login_Header .head_container .head-login-cntnar .lgn-e-input input {
    height: 35px;
  }
  .login_Header .head_container .head-login-cntnar .lgn-e-input input:focus {
    border: 1px solid #dfe0e8 !important;
  }
  .login_Header .head_container .head-login-cntnar .lgn-p-input {
    width: 155px;
  }
  .login_Header .head_container .head-login-cntnar .lgn-p-input input {
    height: 35px;
  }
  .login_Header .head_container .head-login-cntnar .login_btn {
    height: 35px;
  }
  .login_Header .head_container .head-login-cntnar .reg-button {
    height: 35px;
  }
}

.login_Header .head_container .head_login_stock {
  width: 1px;
  background-color: #00000010;
  float: right;
  position: absolute;
  right: 183px;
  height: 32px;
  top: 32px;
  opacity: .5;
}

.windiv .container.main_body {
  background: #fff;
  margin-top: 85px;
  min-height: 87vh;
}

.windiv .container.main_body .head {
  float: left;
  width: 100%;
  padding: 30px 0px 10px 0px;
}

.windiv .container.main_body .head h6 {
  float: left;
  width: 60%;
  font-size: 16px;
  font-weight: 500;
}

.windiv .container.main_body .head p {
  float: left;
  width: 60%;
  font-size: 14px;
  margin-top: 10px;
}

.windiv .container.main_body .head .searchWarap {
  width: 200px;
  float: left;
  border: 1px solid #f05050;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 30px;
  overflow: hidden;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  float: right;
}

.windiv .container.main_body .head .searchWarap input {
  float: left;
  width: 75%;
  border-radius: 0px;
  border: none;
  border: none !important;
  height: 100%;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.windiv .container.main_body .head .searchWarap button {
  float: left;
  width: 25%;
  padding: initial;
  border-radius: 0px;
  background-color: #f05050;
  color: #fff;
  height: 100%;
  line-height: inherit;
  border: 1px solid #f05050;
}

.windiv .container.main_body .head .searchmenu {
  float: left;
  width: 100%;
  margin-top: 15px;
}

.windiv .container.main_body .head .searchmenu ul {
  float: left;
  width: 100%;
  list-style-type: none;
  background: #f5f7fa;
  border-bottom: 1px solid #e9e9e9;
  border-top: 1px solid #e9e9e9;
}

.windiv .container.main_body .head .searchmenu ul li {
  float: left;
  text-decoration: none;
  padding: 10px 10px;
  cursor: pointer;
}

.windiv .container.main_body .head .searchmenu ul li:hover {
  background-color: #f05050;
  color: #fff;
}

.windiv .container.main_body .head .searchmenu ul .borderBottom {
  border-bottom: 1px solid #f05050;
}

.windiv .container.main_body .directoryWrapper {
  float: left;
  width: 100%;
  background: #f5f7fa;
}

.windiv .container.main_body .directoryWrapper .directoryHead {
  float: left;
  width: 100%;
  padding: 10px;
}

.windiv .container.main_body .directoryWrapper .directoryHead h3 {
  font-size: 14px;
  color: #2c2e2f;
}

.windiv .container.main_body .directoryWrapper .directoryList {
  float: left;
  width: 100%;
  background: #fff;
  padding: 0px 10px;
}

.windiv .container.main_body .directoryWrapper .directoryList ul {
  margin-top: 15px;
  float: left;
  width: 32%;
  list-style-type: none;
}

.windiv .container.main_body .directoryWrapper .directoryList ul li {
  text-decoration: none;
  font-size: 12px;
  margin-bottom: 10px;
}

.windiv .container.main_body .directoryWrapper .directoryList ul li a {
  color: #66a9d5;
}

.windiv .container.main_body .directoryWrapper .directoryList ul li:hover {
  text-decoration: underline;
}

.windiv .container.main_body .directoryWrapper .directoryList .cardWrapper {
  width: 24%;
  float: left;
  margin-left: 14px;
  margin-top: 10px;
}

.windiv .container.main_body .directoryWrapper .directoryList .cardWrapper:nth-child(4n+1) {
  margin-left: 0px;
}

.windiv .container.main_body .directoryWrapper .directoryList .cardWrapper .imageWrapper {
  width: 40px;
  height: 40px;
  overflow: hidden;
  float: left;
  border-radius: 50%;
  margin-right: 10px;
}

.windiv .container.main_body .directoryWrapper .directoryList .cardWrapper .imageWrapper img {
  width: 100%;
  height: 100%;
}

.windiv .container.main_body .directoryWrapper .directoryList .cardWrapper h3 {
  width: 80%;
  float: left;
  color: #2c2e2f;
  font-size: 14px;
  font-weight: 500;
  margin: 6px 0px 1px 0px;
}

.windiv .container.main_body .directoryWrapper .directoryList .cardWrapper h6 {
  width: 80%;
  float: left;
  color: #8c8c8c;
  font-size: 14px;
  font-weight: normal;
}
/*# sourceMappingURL=page-list.component.css.map */