<div id="windiv" style="float:left;">
    <div class="withoutoverflow" id="bgoverflowtop">
        <div class="withoutoverflowInner">
            <div class="logincontainer logincontainernew" id="loginRt">
                <!-- app link  -->
                <div></div>
                <div class="playstoreLinkwrapper" [ngClass]="{ appstore: appLink }" (mouseleave)="hideapplink()">
                    <p>Get the App</p>
                    <a href="https://play.google.com/store/apps/details?id=com.stdy24x7&hl=en" target="_blank"><img
                            src="https://img1.aio.com/assets/images/svg-three/gp.svg" alt="" /></a>
                    <a href="https://itunes.apple.com/in/app/aio/id1444868244?ls=1&mt=8" target="_blank"><img
                            src="https://img1.aio.com/assets/images/svg-three/app.svg" alt="" /></a>

                    <div class="playstoresubwrapper" (mouseenter)="showapplink()" *ngIf="mobileIconShow">
                        <span class="iconplaystore"></span>
                    </div>
                </div>
                <div *ngIf="deviceType == 1 || deviceType == 2" class="fast_info_wrapper">
                    <div *ngIf="deviceType == 1">
                        <a href="https://play.google.com/store/apps/details?id=com.stdy24x7&hl=en" target="_blank">
                            <a href="https://play.google.com/store/apps/details?id=com.stdy24x7&hl=en" target="_blank"
                                class="image">
                                <img class="left_icon" src="assets/images/svg-three/gp.png" alt="" />
                            </a>
                            <p>
                                Get Study24x7 for
                                <a href="https://play.google.com/store/apps/details?id=com.stdy24x7&hl=en"
                                    target="_blank">
                                    Android</a> and browse faster.
                            </p>
                        </a>
                    </div>
                    <div *ngIf="deviceType == 2">
                        <a href="https://itunes.apple.com/in/app/aio/id1444868244?ls=1&mt=8" target="_blank">
                            <a href="https://itunes.apple.com/in/app/aio/id1444868244?ls=1&mt=8" target="_blank"
                                class="image">
                                <img class="left_icon" src="assets/images/svg-three/app.png" alt="" /></a>
                            <p *ngIf="deviceType == 2">
                                Get Study24x7 for
                                <a href="https://itunes.apple.com/in/app/aio/id1444868244?ls=1&mt=8"
                                    target="_blank">
                                    IOS</a> and browse faster.
                            </p>
                        </a>
                    </div>
                </div>
                <div *ngIf="deviceType == 1 || deviceType == 2" class="fast_info_wrapper">
                    <div *ngIf="deviceType == 1">
                        <a href="https://play.google.com/store/apps/details?id=com.stdy24x7&hl=en" target="_blank">
                            <a href="https://play.google.com/store/apps/details?id=com.stdy24x7&hl=en" target="_blank"
                                class="image">
                                <img class="left_icon" src="assets/images/svg-three/gp.png" alt="" />
                            </a>
                            <p>
                                Get Study24x7 for
                                <a href="https://play.google.com/store/apps/details?id=com.stdy24x7&hl=en"
                                    target="_blank">
                                    Android</a> and browse faster.
                            </p>
                        </a>
                    </div>
                    <div *ngIf="deviceType == 2">
                        <a href="https://itunes.apple.com/in/app/aio/id1444868244?ls=1&mt=8" target="_blank">
                            <a href="https://itunes.apple.com/in/app/aio/id1444868244?ls=1&mt=8" target="_blank"
                                class="image">
                                <img class="left_icon" src="assets/images/svg-three/app.png" alt="" /></a>
                            <p *ngIf="deviceType == 2">
                                Get Study24x7 for
                                <a href="https://itunes.apple.com/in/app/aio/id1444868244?ls=1&mt=8"
                                    target="_blank">
                                    IOS</a> and browse faster.
                            </p>
                        </a>
                    </div>
                </div>
                <!-- ================================================================================ -->
                <!-- header start -->
                <!-- ================================================================================ -->
                <header class="login_Header" style="box-shadow: none; z-index: 2;">
                    <div class="container head_container">
                        <a (click)="homerouter()" style="float: left;">
                            <img src="https://img1.aio.com/assets/images/svg-three/Logo.png" class="logo" style="width: 150px;" />
                        </a>
                        <app-interests-dropdown></app-interests-dropdown>

                        <div class="head-login-cntnar">
                            <!-- header email field -->
                            <div class="login-field lgn-e-input">
                                <input type="text" id="username" required [(ngModel)]="model.lc" name="username"
                                    placeholder="Email or Mobile" (keyup)="login($event)"
                                    [ngClass]="{ error: lg_em_class === 1 }" />
                                <span class="validation validationTopLogin cursor-pointer " title="{{ error }}">
                                    <span class="erroricon"></span>
                                </span>
                            </div>
                            <!-- header email field End-->
                            <!-- header password field -->
                            <div class="login-field lgn-p-input" tabindex="2">
                                <input type="Password" id="l_p" class="" required [(ngModel)]="model.pd" name="l_p"
                                    placeholder="Password" (keyup)="login($event)"
                                    [ngClass]="{ error: lg_pd_class === 1 }" autocomplete="off" />
                                <span class="validation validationTopLogin cursor-pointer" title="{{ error }}">
                                    <span class="erroricon"></span>
                                </span>
                                <a href="javascript:void(0);" class="head_login_frgtpassword login_frgtpassword"
                                    id="forgotPassword" (click)="openForgotPassword()" tabindex="1">Forgot Password?</a>
                            </div>
                            <!-- header password field End -->
                            <!-- header login button -->
                            <button [disabled]="showPreloader === true"
                                class="login-button login_btn registrationbtn btneffect Controllogin"
                                (click)="loginSubmit()" tabindex="0">
                                <!----------add tab index by vijay----->
                                <span class="text" *ngIf="!showPreloader">Log In </span>
                                <span class="preloder">
                                    <img src="./assets/images/svg/preloader-251.svg" alt="" *ngIf="showPreloader" />
                                </span>
                            </button>
                            <!-- header login button End -->
                            <!-- header new registration button -->
                            <!-- header new registration button end-->
                        </div>
                        <button [disabled]="showPreloader === true"
                            class="login-button login_btn registrationbtn m_login_wrapper_btn"
                            (click)="closeNav(); ryt_loginclick(1); loginclick(2)">
                            <span class="text" *ngIf="!showPreloader">Sign Up</span>
                            <span class="preloder">
                                <img src="./assets/images/svg/preloader-251.svg" alt="" *ngIf="showPreloader" />
                            </span>
                        </button>
                        <button [disabled]="showPreloader === true"
                            class="login-button login_btn registrationbtn m_login_wrapper_btn"
                            (click)="closeNav(); ryt_loginclick(1)">
                            <span class="text" *ngIf="!showPreloader">Log In </span>
                            <span class="preloder">
                                <img src="./assets/images/svg/preloader-251.svg" alt="" *ngIf="showPreloader" />
                            </span>
                        </button>
                    </div>
                </header>
                <!-- ================================================================================ -->
                <!-- header end -->
                <!-- ================================================================================ -->
                <!-- ================================================================================ -->
                <!-- Interest Selection Start -->
                <!-- ================================================================================ -->
                <div class="main_wrapper">
                    <!-- ================================================================================ -->
                    <!-- Registration Start -->
                    <!-- ================================================================================ -->
                    <!-- <div class="registrationWrapper "  *ngIf="show_reg_form_tab"> -->
                    <div class="registrationWrapper " style="z-index: 1;" *ngIf="show_reg_form_tab">
                        <div class="registrationWrapperscroll ">
                            <!-- error mess ui start-->
                            <div class="registrationIneerscroll" [perfectScrollbar]="config"
                                style="position: relative;">
                                <div class="topErr" [ngClass]="{ showEror: showLoginError }">

                                    <div class="rightErrorWrapper">
                                        <div class="leftImgWrapper">
                                            <span class="errormsglogin"></span>
                                        </div>
                                        <p>{{ loginError }}</p>
                                    </div>
                                    <span class="closeBtn" (click)="closeLoginError()">
                                        <span class="closeBtnsec"></span>
                                    </span>
                                </div>
                                <!-- error mess ui end-->
                                <div class="signupWrapper signupWrapperLogin">
                                    <div class="topErr" [ngClass]="{ showEror: showErrorBox }">
                                        <div class="rightErrorWrapper">
                                            <div class="leftImgWrapper">
                                                <span class="errormsglogin"></span>
                                            </div>
                                            <p>{{ error }}</p>
                                        </div>
                                        <span class="closeBtn" (click)="closeLoginError()">
                                            <span class="closeBtnsec"></span>
                                        </span>
                                    </div>
                                    <h1>Get a free Account today !</h1>
                                    <div class="scrollable_sec_main">
                                        <div class="scrollable_sec_inner">
                                            <div style="width: 100%; margin:30px 0 0 0" *ngIf="!isMobileView">
                                                <div class="leftInputField" >
                                                    <app-login-with-facebook [from]=""
                                                        [buttonText]="'Continue with Facebook'">
                                                    </app-login-with-facebook>
                                                </div>
                                                <div class="rightinputField" >
                                                    <app-login-with-google [from]=""
                                                        [buttonText]="'Continue with Google'">
                                                    </app-login-with-google>
                                                </div>
                                            </div>
                                            <div class="devider">
                                                <span class="stock left"></span><span class="text">or</span><span
                                                    class="stock right"></span>
                                            </div>
                                            <div class="scrollable_sec">
                                                <div class="leftInputField">
                                                    <label class="inpulLabel">First Name</label>
                                                    <input type="text" placeholder="" [(ngModel)]="modelRegister.fn"
                                                        id="r_fn" required
                                                        [ngClass]="{ bgColor: activeInput != 1, inputFilled: activeInput!=1 && modelRegister.fn && modelRegister.fn.length>0 }"
                                                        (focus)="activeInputField('1')"
                                                        (focusout)="activeInputField('0')" />
                                                    <div class="tooltip_in top_in " *ngIf="activeInput == true"
                                                        [ngClass]="{ error: errFieldCount == 1 }">
                                                        <span class="left_logo infoIcon">
                                                        </span>
                                                        <p *ngIf="activeInput == 1 && errFieldCount != 1">
                                                            Enter first name
                                                        </p>
                                                        <p *ngIf="errFieldCount == 1">{{ error }}</p>
                                                    </div>
                                                    <span class="errorImg" *ngIf="errFieldCount == 1">
                                                    </span>
                                                </div>
                                                <div class="rightinputField">
                                                    <label class="inpulLabel">Last Name</label>
                                                    <input type="text" placeholder="" [(ngModel)]="modelRegister.ln"
                                                        id="r_ln" required
                                                        #r_ln
                                                        [ngClass]="{ bgColor: activeInput != 2, inputFilled: activeInput!=2 && modelRegister.ln && modelRegister.ln.length>0 }"
                                                        (focus)="activeInputField('2')"
                                                        (focusout)="activeInputField('0')" />
                                                    <div class="tooltip_in top_in error" *ngIf="activeInput == 2"
                                                        [ngClass]="{ error: errFieldCount == 2 }">
                                                        <span class="left_logo infoIcon">
                                                        </span>
                                                        <p *ngIf="activeInput == 2 && errFieldCount != 2">
                                                            Enter last name
                                                        </p>
                                                        <p *ngIf="errFieldCount == 2">{{ error }}</p>
                                                    </div>
                                                    <span class="errorImg" *ngIf="errFieldCount == 2">
                                                    </span>
                                                </div>
                                                <div class="inputWrapper">
                                                    <label class="inpulLabel">Email Address</label>
                                                    <input type="text" placeholder="" [(ngModel)]="modelRegister.em"
                                                        id="r_e" required
                                                        [ngClass]="{ bgColor: activeInput != 3, inputFilled: activeInput!=3 && modelRegister.em && modelRegister.em.length>0 }"
                                                        (focus)="activeInputField('3'); mobFocus('1')"
                                                        (focusout)="activeInputField('0'); mobFocusOut('0')" />
                                                    <span class="errorImg" *ngIf="errFieldCount == 3">
                                                    </span>
                                                </div>
                                                <div class="leftInputField">
                                                    <label class="inpulLabel">Mobile Number</label>
                                                   <app-mobileno (emitter)="setMobileNumberAndCountryCode($event)" [className]="'loginPg'"></app-mobileno>
                                                </div>
                                                <div class="rightinputField">
                                                    <label class="inpulLabel">Date of Birth</label>
                                                    <input type="text" placeholder="Eg: 12/05/1994"
                                                        [(ngModel)]="inputValue" id="r_dob" required
                                                        [ngClass]="{ bgColor: activeInput != 5, inputFilled: activeInput!=5 && modelRegister.dob && modelRegister.dob.length>0 }"
                                                        (focus)="activeInputField('5'); mobFocus('3')"
                                                        (focusout)="activeInputField('0'); mobFocusOut('0')"
                                                        (input)="KeyUpCalled($event.target.value)" maxlength="10"
                                                        class="dob1" type="text" name="r_dob" />
                                                    <div class="tooltip_in top_in" *ngIf=" (activeInput == 5) "
                                                        [ngClass]="{onmobtooltip:  (onmobFocus == 3) , error1: errFieldCount == 5 }"
                                                        style="top: unset !important;">
                                                        <span class="left_logo infoIcon">
                                                        </span>
                                                        <p class="password-strength-text"
                                                            style="width: max-content;float: left;"
                                                            *ngIf="(activeInput == 5 && errFieldCount != 5) ">
                                                            Eg: 12/05/1994
                                                        </p>
                                                        <p class="password-strength-text" style="top: unset !important;"
                                                            *ngIf="errFieldCount == 5">
                                                            {{ error }}
                                                        </p>
                                                    </div>
                                                    <span class="errorImg" *ngIf="errFieldCount == 5">
                                                    </span>
                                                </div>

                                                <div class="inputWrapper">
                                                    <label class="inpulLabel">Password</label>

                                                    <div class="password-strength">
                                                        <span id="passClass" class="defoult"></span>
                                                    </div>
                                                    <input type="password" id="r_p" placeholder=""
                                                        [(ngModel)]="modelRegister.pd"
                                                        [ngClass]="{  inputFilled: activeInput!=6 && modelRegister.pd && modelRegister.pd.length>0 }"
                                                        (focus)="activeInputField('6')"
                                                        (focusout)="activeInputField('0')"
                                                        (keyup)="passStatus($event)" />
                                                    <span class="errorImg" style="margin-right: 2px;"
                                                        *ngIf="errFieldCount == 6">
                                                    </span>
                                                </div>
                                                <p class="condition">
                                                    By Registering, you agree to our
                                                    <span><a routerLink="privacy" routerLinkActive="active"
                                                            target="_blank">Privacy
                                                            Policy</a></span> and
                                                    <span><a routerLink="termandcondition" routerLinkActive="active"
                                                            target="_blank">Terms</a></span> of use.
                                                </p>
                                                <button type="button" name="button"
                                                    class="regButton inputButton btneffect btneffectControl"
                                                    [disabled]="showPreloaderS === true" (click)="registerSubmit()">
                                                    <span *ngIf="showText">Create Account </span>

                                                    <span class="preloder">
                                                        <img src="./assets/images/svg/preloader-25.svg" alt=""
                                                            *ngIf="showPreloaderS" />
                                                    </span>
                                                </button>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ================================================================================ -->
                    <!-- Registration End -->
                    <!-- ================================================================================ -->
                    <div class="postmaintWrapper maintWrapperLeft col-sm-6 col-xl-6" *ngIf="show_reg_form_tab">
                        <div id="leftvisiblearea" class="leftSecArea" style="float: left;width: 100%;">
                            <h1 class="headInfo headcss"><span style="color:#f05050">India's</span> 1st Social<br>
                                Learning Network</h1>
                            <p class="headInfoPara headcss">Providing our youngsters and educators a stage to present
                                their knowledge and interests.</p>
                            <div class="loginSearch">
                                <app-search-list [searchUiType]=1 ></app-search-list>
                            </div>
                            <div class="infoSecMain">
                                <div class="infoSecInner infoSecone">
                                    <div class="iconImage">
                                    </div>
                                    <label>55,000+</label>
                                    <p>Educators & learners collaborating</p>
                                </div>
                                <div class="infoSecInner infoSectwo">
                                    <div class="iconImage">
                                    </div>
                                    <label>50+</label>
                                    <p>Educational <br> Interests</p>
                                </div>

                                <div class="infoSecInner infoSecthree">
                                    <div class="iconImage">
                                    </div>
                                    <label>30,000+</label>
                                    <p>Questions <br> Asked</p>
                                </div>
                            </div>
                        </div>
                        <!-- post Section start-->
                        <!-- ================================================================================ -->

                        <!-- ================================================================================ -->
                        <!-- post Section End -->
                        <!-- ================================================================================ -->
                    </div>

                </div>
                <div id="bgSec" class="bannerbg" *ngIf="show_reg_form_tab">
                    <div class="pagePolicy">
                        <div class="bottom_privacy">
                            <ul>
                                <li class="footer_bottom">
                                    <a routerLink="directory/page" routerLinkActive="active" target="_blank">Page</a>
                                </li>
                                <li class="footer_bottom">
                                    <a routerLink="directory/profile" routerLinkActive="active" target="_blank">Profile</a>
                                </li>
                                <li class="footer_bottom">
                                    <a routerLink="directory/post" routerLinkActive="active" target="_blank">Post</a>
                                </li>
                                <li class="footer_bottom">
                                    <a href="https://www.aio.com/teacher " routerLinkActive="active" target="_blank">Educators</a>

                                </li>
                                <li class="footer_bottom">
                                    <a routerLink="careers" routerLinkActive="active" target="_blank">Careers
                                    </a>
                                </li>
                                <li class="footer_bottom">
                                    <a href="http://support.aio.com/" routerLinkActive="active" target="_blank">
                                        Support</a>
                                </li>
                                <li class="footer_bottom">
                                    <a routerLink="privacy" routerLinkActive="active" target="_blank">Privacy Policy</a>
                                </li>
                                <li class="footer_bottom">
                                    <a routerLink="termandcondition" routerLinkActive="active" target="_blank">Terms of
                                        Use
                                    </a>
                                </li>

                                <li class="footer_bottom">
                                    © {{ current_year }} @Edubabble Learning Pvt. Ltd.
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ============================ start mobile form--->
<!-- ============================ start mobile form ============================ -->
<div id="leftnav" [ngClass]="{ activeleft: closeleftpopup == true }" class="sidenav  logincontainer rightslidewrapper">
    <!-- ================================================================================ -->
    <!-- header start -->
    <!-- ================================================================================ -->
    <header class="login_Header" style="z-index: 10;">
        <div class="container head_container">
            <a (click)="homerouter()">
                <img src="https://img1.aio.com/assets/images/svg-three/Logo.png" class="logo" />
            </a>


            <!-- <div class="hamburgerIcon" [ngClass]="{'activeMenu' : activeMenuCond }" (click)="showResponsiveSearch();">
                <span class="spanfirst"></span>
                <span class="spansec"></span>
                <span class="spanthird"></span>
            </div> -->

            <div class="right_menu">
              <span (click)="showResponsiveSearch();" *ngIf="!showSerachResponsiveView"><img src="./assets/images/svg-three/head/search-02.svg" alt=""></span>
              <span (click)="showResponsiveSearch();" *ngIf="showSerachResponsiveView"><img src="./assets/images/svg/tagcross-gray.svg" alt=""></span>
            </div>

            <button *ngIf="!showlogin" [disabled]="showPreloader === true"
                class="login-button login_btn registrationbtn m_login_wrapper_btn m_login_wrapper_reg"
                (click)=" closeNav(); ryt_loginclick(1); loginclick(2);showSerachResponsiveView=false;">
                <span class="text">Sign Up</span>

            </button>
            <button *ngIf="showlogin" [disabled]="showPreloader === true"
                class="login-button login_btn registrationbtn m_login_wrapper_btn"
                (click)="closeNav(); ryt_loginclick(1);showSerachResponsiveView=false;">
                <span class="text">Login </span>

            </button>



        </div>
    </header>
    <!--- responsive search section start---->
    <section class="serachResponsiveView" *ngIf="showSerachResponsiveView">
        <div id="fulloverlay" class="js-side-nav-overlay side-nav-overlay"></div>
        <div class="responsiveDataShow">
            <div class="login_right">
                <div class="col-md-12" style="padding:0px;">

                    <div class="login_outr" style="padding-top:0px;">
                        <div class="login_inr">
                            <div class="search_Data">
                                <app-search-list [searchUiType]=1></app-search-list>
                            </div>
                            <div class="Interestaccordian" style="position: relative;">
                                <div class="market_accordian">
                                    <div *ngFor="let category of interests;let i=index">
                                        <button class="accordion" [ngClass]="{'activeAccordian' : accordianTab == i }"
                                            (click)="interestAccordian(i);">
                                            {{category.CATEGORY_NAME}}
                                            <img class="downarrow"
                                                src="https://img1.aio.com/assets/images/svg-three/login_icon/interestdropdown.svg">
                                        </button>
                                        <div class="panel_Data" [ngClass]="{'activePanel_Data' : accordianTab == i }">
                                            <div class="col-data">
                                                <ul>
                                                    <li (click)="routTo(interest.INTEREST_NAME_ALIAS)" *ngFor="let interest of category.INTERESTS">
                                                        <span class="crs-list-txt">
                                                            {{interest.INTEREST_NAME}}
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="logright" class="login_right" [ngClass]="{ riserighttoleft: showsignupform }">
        <div class="col-md-12" style="padding:0px;">
            <div class="login_outr">
                <div style="width:100%;">
                    <div class="leftSecArea">
                        <h1 class="headInfo headcss"><span style="color:#f05050">India's</span> 1st Social<br>
                            Learning Network</h1>
                    </div>
                    <div *ngIf="ryt_logintab === 2 || ryt_logintab === 1" class="wrapper_social">
                        <div *ngIf=isMobileView style="width: 100%; padding: 0 25px; margin:5px 0 0 0;">
                            <div class="registerhalfwidth" style="float:left;">
                                <app-login-with-facebook [from]="" [buttonText]="'with Facebook'">

                                </app-login-with-facebook>

                            </div>
                            <div class="registerhalfwidth last" >
                                <app-login-with-google [from]="" [buttonText]="'with Google'">

                                </app-login-with-google>

                            </div>

                        </div>
                        <div class="devider"><span class="stock left"></span><span class="text">or</span><span
                                class="stock right"></span></div>
                    </div>
                    <div class="logintabcontent login_cnt_wrap" *ngIf="ryt_logintab === 1">
                        <div class="alert_claim alert_claim_mob" *ngIf="showErrorBoxL">
                            <span class="alertimg errorImg">
                            </span>
                            <div class="rightalert">
                                <span style="color:#f05050;font-size:14px;">{{loginError}}</span>
                            </div>
                        </div>

                        <div class="selectbox">
                            <label class="inpulLabel">Email or Mobile</label>
                            <input type="text" id="l_e" required [(ngModel)]="model.lc" name="l_e" placeholder=""
                                (keyup)="login($event)" [ngClass]="{ error: lg_em_class === 1 }" />
                            <span class="validation cursor-pointer" title="{{ error }}" *ngIf="showErrorBox">
                                <span class="erroricon"></span>
                            </span>
                        </div>
                        <div class="selectbox marginT20">
                            <label class="inpulLabel">Password</label>
                            <input type="Password" id="l_p" class="" required [(ngModel)]="model.pd" name="l_p"
                                placeholder="" (keyup)="login($event)" [ngClass]="{ error: lg_pd_class === 1 }"
                                autocomplete="off" />
                            <span class="validation cursor-pointer" title="{{ error }}" *ngIf="showErrorBox1">
                                <span class="errorImg"></span>
                            </span>
                        </div>
                        <div class="term_forgetpass" style="">
                            <input type="checkbox" class="Radio" id="adoption4" />
                            <label class="checkbox_btn" for="adoption4">
                                <span class="showcheckbox"></span>
                            </label> Remember me
                            <a class="frgtpsw" href="javascript:void(0);" (click)="openForgotPassword()" style="">Forgot
                                Password?</a>
                        </div>
                        <div class="marginT20">
                            <button [disabled]="showPreloader === true" (click)="loginSubmit()"
                                class="login_btn registrationbtn sideloginbtn">
                                <span class="text" *ngIf="showText">Log In </span>
                                <span class="preloder">
                                    <img src="./assets/images/svg/preloader-25.svg" alt="" *ngIf="showPreloader" />
                                </span>
                            </button>
                        </div>

                        <div class="pagePolicy">
                            <div class="bottom_privacy">
                                <ul>
                                    <li class="footer_bottom">
                                        <a routerLink="directory/page" routerLinkActive="active" target="_blank">Page</a>
                                    </li>
                                    <li class="footer_bottom">
                                        <a routerLink="directory/profile" routerLinkActive="active" target="_blank">Profile</a>
                                    </li>
                                    <li class="footer_bottom">
                                        <a routerLink="directory/post" routerLinkActive="active" target="_blank">Post</a>
                                    </li>
                                    <li class="footer_bottom">
                                        <a href="https://www.aio.com/teacher " routerLinkActive="active" target="_blank">Educators</a>
                                    </li>
                                    <li class="footer_bottom">
                                        <a href="http://support.aio.com/" routerLinkActive="active"
                                            target="_blank"> Support</a>
                                    </li>
                                    <li class="footer_bottom">
                                        <a routerLink="privacy" routerLinkActive="active" target="_blank">Privacy
                                            Policy</a>
                                    </li>
                                    <li class="footer_bottom">
                                        <a routerLink="termandcondition" routerLinkActive="active" target="_blank">Terms
                                            of
                                            Use
                                        </a>
                                    </li>
                                    <li class="footer_bottom">
                                        © {{ current_year }} @Edubabble Learning Pvt. Ltd.
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="logintabcontent login_cnt_wrap" *ngIf="ryt_logintab === 2">
                        <div class="alert_claim alert_claim_mob" *ngIf="showErrorBox">
                            <span class="alertimg errorImg">
                            </span>
                            <div class="rightalert">
                                <span></span>
                                <span style="color:#f05050;font-size:14px;">{{ error }}</span>
                            </div>
                        </div>
                        <div class="">
                            <div class="registerhalfwidth">
                                <div class="selectbox">
                                    <label class="inpulLabel">First Name</label>
                                    <input type="text" name="r_fn" id="r_fn" placeholder=""
                                        [ngClass]="{ error: rg_fn_class === 1 }" [(ngModel)]="modelRegister.fn"
                                        required />
                                    <span class="validation cursor-pointer" title="{{ error }}">
                                        <span class="erroricon"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="registerhalfwidth last ">
                                <div class="selectbox">
                                    <label class="inpulLabel">Last Name</label>
                                    <input class="" type="text" name="r_ln" id="r_ln" placeholder=""
                                        [ngClass]="{ error: rg_ln_class === 1 }" [(ngModel)]="modelRegister.ln"
                                        required />
                                    <span class="validation cursor-pointer" title="{{ error }}">
                                        <span class="erroricon"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="selectbox marginT20">
                            <label class="inpulLabel">Email Address</label>
                            <input type="email" name="r_e" id="r_e" placeholder=""
                                [ngClass]="{ error: rg_em_class === 1 }" [(ngModel)]="modelRegister.em" required />
                            <span class="validation cursor-pointer" title="{{ error }}">
                                <span class="erroricon"></span>
                            </span>
                        </div>
                        <div class="registerhalfwidth ">
                            <div class="selectbox marginT20 tooltip_wrap">
                                <label class="inpulLabel">Mobile No.</label>

                                <app-mobileno (emitter)="setMobileNumberAndCountryCode($event)" [className]="'loginPgRes'"></app-mobileno>


                                <span class="validation cursor-pointer" title="{{ error }}">
                                    <span class="erroricon"></span>
                                </span>
                                <div *ngIf="false" class="tooltip_in top_in " [ngClass]="{ onmobtooltip: onmobFocus  }">
                                    <span class="left_logo"><img src="./assets/images/info2.svg" alt="" /></span>
                                    <p class="password-strength-text" style="font-size:14px;">
                                        This mobile number will be used to send OTP during verification.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="registerhalfwidth last">
                            <div class="selectbox marginT20 tooltip_wrap">
                                <label class="inpulLabel">Date of Birth</label>
                                <input placeholder="Eg: 12/05/1994"
                                    (input)="KeyUpCalled($event.target.value)" maxlength="10" [(ngModel)]="inputValue"
                                    class="dob1" id="r_dob" [ngClass]="{ error: rg_dob_class === 1 }"
                                    [(ngModel)]="modelRegister.dob" required />
                            </div>
                            <span class="validation cursor-pointer" title="{{ error }}">
                                <span class="erroricon"></span>
                            </span>
                        </div>


                        <div class="selectbox marginT20 tooltip_wrap">
                            <label class="inpulLabel">Password</label>
                            <input type="password" name="r_p" id="r_p" placeholder="" (keyup)="passStatus($event)"

                                [ngClass]="{ error: rg_pd_class === 1 }" [(ngModel)]="modelRegister.pd" required
                                autocomplete="off" class="pass_w" />
                            <span class="validation cursor-pointer" title="{{ error }}" style="margin-right: 10px">
                                <span class="erroricon"></span>
                            </span>
                            <div class="password-strength">
                                <span id="passClass" class="weak"></span>
                            </div>
                        </div>
                        <div class="term_forgetpass" style="padding: 0px 10px;text-align: left;">
                            <input type="checkbox" class="Radio" id="acceptPolicy" />
                            <label class="checkbox_btn" for="acceptPolicy">
                                <span class="showcheckbox"></span>
                            </label>
                            By registering, you agree to our
                            <span style="color: rgba(0, 0, 0, 0.9);"><a class="sgn_accept_term" href="#"
                                    routerLink="/termandcondition" target="_blank">Terms of Use </a><span
                                    style="color:#2c2e2f;">and</span>
                                <a class="sgn_accept_term" href="#" routerLink="/privacy" target="_blank">
                                    Privacy Policy</a>
                            </span>
                        </div>
                        <div class="marginT20">
                            <button class="login_btn registrationbtn" [disabled]="showPreloader === true"
                                (click)="registerSubmit()">
                                <span class="text" *ngIf="showText">Create Account</span>
                                <span class="preloder">
                                    <img src="./assets/images/svg/preloader-25.svg" alt="" *ngIf="showPreloader" />
                                </span>
                            </button>
                        </div>
                    </div>
                    <div class="frg_container" class="frgpsw">
                        <div class="frg_slider" style="width:100%;">

                            <div class="frgpsw" style="overflow:hidden;float:left;width:100%"
                                *ngIf="ryt_logintab === 6">
                                <p>
                                    Enter a strong password<br />
                                    <span>Update Password </span>
                                </p>
                                <div class="frglogintabcontent cnfrmpsw">
                                    <div class="alert_claim" *ngIf="showErrorBoxL">
                                        <span class="alertimg erroricon">
                                        </span>
                                        <div class="rightalert">
                                            <span style="color:#f05050;font-size:14px;">{{error}}</span>
                                        </div>
                                    </div>
                                    <input type="password" name="fp_pd" id="fp_pd" placeholder="New Password" required
                                        [(ngModel)]="modelForgotPassword.pd" />
                                    <input type="password" name="fp_cpd" id="fp_cpd" placeholder="Confirm Password"
                                        required [(ngModel)]="modelForgotPassword.cpd" class="marginT15" />
                                    <div class="marginT15">
                                        <button [disabled]="showPreloader === true"
                                            (click)="forgotPasswordChangePassword()"
                                            class="login_btn btn btn-primary otpsendbutton">
                                            <span class="text" *ngIf="showText">Submit</span>
                                            <span class="preloder"><img src="./assets/images/svg/preloader-25.svg"
                                                    alt="" *ngIf="showPreloader" /></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bottom_privacy mobile_privacy " *ngIf="ryt_logintab == 1 || ryt_logintab == 2">

            <div class="mobile_privacy_inner">
                <div>
                    <a routerLink="directory/page" routerLinkActive="active" target="_blank">Page</a>
                    <a routerLink="directory/profile" routerLinkActive="active" target="_blank">Profile</a>
                    <a routerLink="directory/post" routerLinkActive="active" target="_blank">Post</a>
                    <a href="https://www.aio.com/teacher " routerLinkActive="active" target="_blank">Educators</a>
                    <a routerLink="careers" routerLinkActive="active" target="_blank">Careers </a>
                    <a href="http://support.aio.com/" routerLinkActive="active" target="_blank"> Support</a>
                    <a routerLink="privacy" routerLinkActive="active" target="_blank">Privacy Policy</a>
                    <a routerLink="termandcondition" routerLinkActive="active" target="_blank">Terms of Use </a>

                </div>
                <p class="footer_bottom">
                    © {{ current_year }} @Edubabble Learning Pvt. Ltd.
                </p>
            </div>

        </div>
    </section>
</div>
<app-forgot-password (messageEvent)="closeForgotPassword()" *ngIf="forgotPasswordType!=''"
    [forgotPasswordType]=forgotPasswordType></app-forgot-password>
