/* ==========================================================================
  Common variables
  ========================================================================== */
/**
*
* DO NOT use these variables directly in components.
* Assign them to component specific variables
*
*/
/* Colors */
/* Border radius */
/* ==========================================================================
  Browser support
  ========================================================================== */
/* ==========================================================================
  Component specific variables
  ========================================================================== */
/* Typography
   ========================================================================== */
/* $baseFontFamily: Arial, sans-serif; */
/* $baseSpacing: $baseLineHeight+em; */
/* $baseTextColor: $black; */
/* Type Color */
/* $typeHighlight: $blue;
$typeLowlight: $lightGrey; */
/* Link
   ========================================================================== */
/* $linkColor: $blue;
$linkHoverColor: $lightBlue; */
/* Background
   ========================================================================== */
/* $bgBasic: #fff; */
/* Box
   ========================================================================== */
/* Contour */
/* $boxBasicBorderRadius: $borderRadiusDefault; */
/* Box foot */
/* $boxFootDivider: $blue; */
/* Divider
   ========================================================================== */
/* $dividerColor: $blue; */
/* List
   ========================================================================== */
/* $listInlineDividerBorder: $lightGrey;
$listBorder: $lightGrey; */
/* Table
   ========================================================================== */
/* $tableBorderColor: $blue; */
/* Form
   ========================================================================== */
/* $labelLeftWidth: 30%;
$formFieldBorder: 1px solid $grey;
$placeholderText: $lightGrey; */
/* Button
   ========================================================================== */
/* $btnDefaultBg: #ddd;
$btnDefaultBorder: $lightGrey; */
/* Template
   ========================================================================== */
/* $skipLinkBg: $black;
$bodyBg: #fff;
$pageWidth: 997px; */
/* header */
/* $headerBgStop1: #09456a;
$headerBgStop2: #02587e;
$contentBg: #fff;
$contentWidth: 960px; */
/* footer */
/* $footerBorder: $lightGrey; */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap");
.validation {
  top: 41px;
}

.validation.validationTopLogin {
  top: 8px;
}

.inputContrrol, .main_wrapper .registrationWrapper .signupWrapper .inputWrapper input, .main_wrapper .registrationWrapper .signupWrapper .leftInputField input, .main_wrapper .registrationWrapper .signupWrapper .leftInputField select, .main_wrapper .registrationWrapper .signupWrapper .rightinputField input, .main_wrapper .registrationWrapper .signupWrapper .rightinputField select, .main_wrapper .registrationWrapper .signupWrapper .inputWrapper select {
  border: solid 1px #e6e6e6;
  background-color: rgba(223, 229, 235, 0.3);
  border-radius: 6px;
}

.inputfilled {
  background-color: #dfe5eb;
}

.link {
  font-size: 12px !important;
  color: #f05050 !important;
}

.link:hover {
  text-decoration: underline !important;
}

.playstoreLinkwrapper {
  float: left;
  width: 140px;
  position: fixed;
  top: 45%;
  padding: 10px;
  background-color: #fff;
  -webkit-transition: all .2s;
  transition: all .2s;
  left: -144px;
  z-index: 1;
  -webkit-box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0px 10px 10px 0px;
}

.playstoreLinkwrapper p {
  font-size: 14px;
  font-weight: 600;
}

.playstoreLinkwrapper a {
  width: 100%;
  float: left;
  margin-top: 10px;
}

.playstoreLinkwrapper a img {
  cursor: pointer;
  width: 100%;
}

.playstoreLinkwrapper .playstoresubwrapper {
  position: absolute;
  left: 100%;
  top: 50%;
  background-color: #fff;
  padding: 10px 10px 10px 5px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.playstoreLinkwrapper .playstoresubwrapper img {
  width: 23px;
  margin-bottom: 0px;
}

.appstore {
  left: 0px;
}

.login_Header {
  position: fixed;
  top: 0px;
  z-index: 4;
  background: #fff;
  width: 100%;
  height: 70px;
  line-height: 72px;
}

.login_Header .head_container {
  line-height: 0px;
  padding-top: 11px;
  position: relative;
  width: 1170px;
  max-width: 100%;
}

.login_Header .head_container .head-login-cntnar {
  width: 495px;
  float: right;
}

.login_Header .head_container .head-login-cntnar .login-field {
  width: 190px;
  float: left;
  position: relative;
}

.login_Header .head_container .head-login-cntnar .login-field input {
  border-radius: 6px;
  height: 34px;
  font-size: 12px;
  font-weight: 500;
}

.login_Header .head_container .head-login-cntnar .login-field .bgColor {
  background-color: #e7e7e930;
}

.login_Header .head_container .head-login-cntnar .lgn-e-input input {
  height: 38px;
  font-size: 12px;
  font-weight: normal;
  padding-left: 10px;
  line-height: 38px;
  border: solid 1px #cfcfcf;
  background-color: rgba(223, 229, 235, 0.3);
  -webkit-transition: .3s all;
  transition: .3s all;
}

.login_Header .head_container .head-login-cntnar .lgn-e-input input:focus {
  border: 1px solid #cfcfcf !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background-color: white;
}

.login_Header .head_container .head-login-cntnar .lgn-p-input {
  width: 190px;
  float: left;
  margin-left: 10px;
}

.login_Header .head_container .head-login-cntnar .lgn-p-input input {
  height: 38px;
  line-height: 38px;
  padding-left: 10px;
  border: solid 1px #cfcfcf;
  background-color: rgba(223, 229, 235, 0.3);
  -webkit-transition: .3s all;
  transition: .3s all;
}

.login_Header .head_container .head-login-cntnar .lgn-p-input input:focus {
  border: 1px solid #cfcfcf !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background-color: white;
}

.login_Header .head_container .head-login-cntnar .lgn-p-input .head_login_frgtpassword {
  position: absolute;
  top: 50px;
  right: 4px;
  text-align: right;
  color: #000;
  font-size: 12px;
  font-weight: 500;
  opacity: .7;
}

.login_Header .head_container .head-login-cntnar .lgn-p-input a:hover {
  text-decoration: underline !important;
  opacity: 1;
  color: #f05050;
}

.login_Header .head_container .head-login-cntnar .login-button {
  width: 85px;
  float: left;
  margin: 0px;
  color: #fff;
  border-radius: 6px;
  border: 1px solid #4a4a4a !important;
  margin-left: 15px;
  background-color: #4a4a4a;
  height: 38px;
  -webkit-transition: all .4s;
  transition: all .4s;
  border: none;
  line-height: 36px;
  font-size: 12px;
}

.login_Header .head_container .head-login-cntnar .login-button .text {
  font-size: 14px;
  font-weight: 500;
}

.login_Header .head_container .head-login-cntnar .reg-button {
  width: 144px;
  float: right;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #f05050;
  color: #f05050;
  font-size: 14px;
  font-weight: 500;
  height: 34px;
  -webkit-transition: all .4s;
  transition: all .4s;
  float: left;
  margin-left: 20px;
  float: right;
  width: 90px;
  transition: all .3s;
  -webkit-transition: all .3s;
  float: left;
}

.login_Header .head_container .head-login-cntnar .reg-button:hover {
  background-color: #F26F6F !important;
  color: #fff;
}

.login_Header .head_container .head_login_stock {
  width: 1px;
  background-color: #00000010;
  float: right;
  position: absolute;
  right: 183px;
  height: 32px;
  top: 32px;
  opacity: .5;
}

.main_wrapper {
  width: 1170px;
  margin: auto;
  margin-top: 70px;
  padding: 15px;
}

.main_wrapper .register_tab {
  display: none;
}

.main_wrapper .postmaintWrapper {
  width: 54.8%;
  float: left;
  padding-left: 0px;
  border-radius: 5px;
  padding-bottom: 0px;
}

.main_wrapper .postmaintWrapper .interestOuterWrapper {
  position: fixed;
  height: 100px;
  width: 610px;
  background-color: #dfe5eb;
  top: 69px;
  padding-top: 0px;
  z-index: 11;
  z-index: 3;
}

.main_wrapper .postmaintWrapper .interestOuterWrapper .interestWrapper {
  float: left;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #f05050;
  border-radius: 5px;
  background-color: #fff;
  -webkit-transition: height .5s;
  transition: height .5s;
  height: 70px;
  overflow: hidden;
  margin-top: 18px;
  width: 610px;
  z-index: 24;
}

.main_wrapper .postmaintWrapper .interestOuterWrapper .interestWrapper .interestOuterHead {
  padding: 16px 20px 0px 16px;
  float: left;
  width: 100%;
}

.main_wrapper .postmaintWrapper .interestOuterWrapper .interestWrapper .interestOuterHead .interestHead {
  float: left;
  width: 100%;
  position: relative;
  padding-bottom: 10px;
  border-bottom: none;
  cursor: pointer;
}

.main_wrapper .postmaintWrapper .interestOuterWrapper .interestWrapper .interestOuterHead .interestHead .Interest_Name.Interest_name_wrap {
  border-radius: 30px;
  border: 1px solid #f05050;
  padding: 7px 25px 7px 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
  cursor: pointer;
  float: left;
  position: static;
  color: #f05050;
  opacity: 1;
  position: relative;
  top: 3px;
}

.main_wrapper .postmaintWrapper .interestOuterWrapper .interestWrapper .interestOuterHead .interestHead .Interest_Name.Interest_name_wrap span.close {
  width: 8px;
  float: right;
  right: 10px;
  top: 3px;
}

.main_wrapper .postmaintWrapper .interestOuterWrapper .interestWrapper .interestOuterHead .interestHead .Interest_Name.Interest_name_wrap span.close img {
  width: 100%;
}

.main_wrapper .postmaintWrapper .interestOuterWrapper .interestWrapper .interestOuterHead .interestHead .Interest_Name.Interest_name_wrap span.intclose {
  width: 15px;
  float: right;
  right: 5px;
  top: 3px;
  bottom: 1px;
}

.main_wrapper .postmaintWrapper .interestOuterWrapper .interestWrapper .interestOuterHead .interestHead p {
  font-size: 16px;
  font-weight: 500;
  color: #f05050;
}

.main_wrapper .postmaintWrapper .interestOuterWrapper .interestWrapper .interestOuterHead .interestHead p:nth-child(2) {
  font-size: 14px;
  font-weight: 400;
  color: #8c8c8c;
  margin-top: 7px;
}

.main_wrapper .postmaintWrapper .interestOuterWrapper .interestWrapper .interestOuterHead .interestHead span {
  position: absolute;
  float: right;
  top: 7px;
  opacity: .5;
  right: 0px;
}

.main_wrapper .postmaintWrapper .interestOuterWrapper .interestWrapper .interestOuterHead .interestHead span img {
  width: 16px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all .5s;
  transition: all .5s;
}

.main_wrapper .postmaintWrapper .interestOuterWrapper .interestWrapper .interestOuterHead .interestHead span.rightarrow {
  top: -17px;
  width: 58px;
  height: 69px;
  right: -21px;
}

.main_wrapper .postmaintWrapper .interestOuterWrapper .interestWrapper .interestOuterHead .interestHead span.rightarrow img {
  top: 27px;
  position: absolute;
  right: 20px;
}

.main_wrapper .postmaintWrapper .interestOuterWrapper .interestWrapper .interestContent {
  float: left;
  width: 100%;
  height: 450px;
  padding: 16px 20px 0px 26px;
}

.main_wrapper .postmaintWrapper .interestOuterWrapper .interestWrapper .interestContent .subWrapper {
  float: left;
  width: 100%;
  margin-bottom: 20px;
}

.main_wrapper .postmaintWrapper .interestOuterWrapper .interestWrapper .interestContent .subWrapper:first-child p {
  margin-top: 10px;
}

.main_wrapper .postmaintWrapper .interestOuterWrapper .interestWrapper .interestContent .subWrapper p {
  float: left;
  width: 100%;
  margin: 0px 0px 10px 0px;
  color: #2c2e2f;
  opacity: .8;
}

.main_wrapper .postmaintWrapper .interestOuterWrapper .interestWrapper .interestContent .subWrapper ul {
  display: inline-block;
  width: 100%;
}

.main_wrapper .postmaintWrapper .interestOuterWrapper .interestWrapper .interestContent .subWrapper ul li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px 10px 10px 0px;
  height: auto;
  float: left;
  border: none;
  display: block;
  float: left;
  position: relative;
  z-index: 12;
  text-transform: capitalize;
}

.main_wrapper .postmaintWrapper .interestOuterWrapper .interestWrapper .interestContent .subWrapper ul li:first-child {
  margin-left: 0px;
}

.main_wrapper .postmaintWrapper .interestOuterWrapper .interestWrapper .interestContent .subWrapper ul li .interest-inner-wrap {
  position: relative;
  overflow: hidden;
  background-color: white;
  text-align: center;
}

.main_wrapper .postmaintWrapper .interestOuterWrapper .interestWrapper .interestContent .subWrapper ul li .interest-inner-wrap input {
  display: none;
}

.main_wrapper .postmaintWrapper .interestOuterWrapper .interestWrapper .interestContent .subWrapper ul li .interest-inner-wrap .interestboxinr {
  border-radius: 30px;
  border: 1px solid #8c8c8c;
  padding: 7px 10px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
  width: 100%;
  cursor: pointer;
}

.main_wrapper .postmaintWrapper .interestOuterWrapper .interestWrapper .interestContent .subWrapper ul li .interest-inner-wrap .interestboxinr .Interest_Name {
  display: block;
  float: left;
  position: relative;
  z-index: 12;
  text-transform: capitalize;
  font-size: 12px;
  color: #8c8c8c;
  font-weight: normal;
}

.main_wrapper .postmaintWrapper .interestOuterWrapper .interestWrapper .interestContent .subWrapper ul li .interest-inner-wrap .interestboxinr:hover {
  border: 1px solid #f05050;
}

.main_wrapper .postmaintWrapper .interestOuterWrapper .interestWrapper .interestContent .subWrapper ul li .interest-inner-wrap .interestboxinr:hover .Interest_Name {
  color: #f05050;
}

.main_wrapper .postmaintWrapper .interestOuterWrapper .interestWrapper .interestContent .subWrapper ul li .interest-inner-wrap input:checked + .interestboxinr {
  border: 1px solid #f05050;
  background-color: rgba(240, 80, 80, 0.1);
}

.main_wrapper .postmaintWrapper .interestOuterWrapper .interestWrapper .interestContent .subWrapper ul li .interest-inner-wrap input:checked + .interestboxinr .Interest_Name {
  color: #f05050;
}

.main_wrapper .postmaintWrapper .postInnerWrapper {
  width: 100%;
  float: left;
  margin-top: 85px;
}

.main_wrapper .interestWrapperHeight {
  height: 510px !important;
  overflow: hidden;
}

.main_wrapper .interestWrapperHeight .interestHead {
  border-bottom: 1px solid #e9e9e9 !important;
}

.main_wrapper .interestWrapperHeight .interestHead span img {
  -webkit-transform: rotate(270deg) !important;
          transform: rotate(270deg) !important;
}

.main_wrapper .interestWrapperHeight .interestHead .interestarrow {
  -webkit-transform: rotate(270deg) !important;
          transform: rotate(270deg) !important;
}

.main_wrapper .registrationWrapper {
  width: 490px;
  float: right;
  background: #fff;
  overflow: hidden;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.08);
  position: fixed;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 650px;
  /* bottom: auto; */
  /* index.html footer change*/
  bottom: 52px;
  top: 100px;
  z-index: 1;
}

.main_wrapper .registrationWrapper .registrationWrapperscroll {
  width: 100%;
  height: 100%;
}

.main_wrapper .registrationWrapper .registrationIneerscroll {
  width: 100%;
  height: 100%;
  padding: 30px 40px 12px 40px;
}

.main_wrapper .registrationWrapper .scrollable_sec_main {
  padding: 0px;
  margin-top: 5px;
  /* position: absolute; */
  /* position: absolute; */
  float: left;
  width: 100%;
  /* top: 90px; */
  /* bottom: 50px; */
}

.main_wrapper .registrationWrapper .scrollable_sec_main .scrollable_sec_inner {
  padding: 0px;
  height: 100%;
  margin-top: 0px;
}

.main_wrapper .registrationWrapper .scrollable_sec_main .scrollable_sec {
  padding: 0px;
  width: 100%;
  height: 100%;
}

.main_wrapper .registrationWrapper .topErr {
  left: 0px;
  top: 0px;
  font-size: 13px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  margin-bottom: 0px;
  list-style: none;
  padding: 15px 15px 15px 15px;
  border-radius: 8px;
  color: rgba(0, 0, 0, 0.65);
  line-height: 1.5;
  border: 1px solid #f05050;
  background-color: #fff2f0;
  left: -515px;
  width: 100%;
  position: absolute;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.main_wrapper .registrationWrapper .topErr .leftImgWrapper {
  width: 20px;
  height: 20px;
  float: left;
  position: absolute;
  left: 15px;
}

.main_wrapper .registrationWrapper .topErr .leftImgWrapper img {
  width: 100%;
  height: 100%;
}

.main_wrapper .registrationWrapper .topErr .rightErrorWrapper {
  float: left;
  display: inline-block;
  width: 100%;
  float: left;
  padding-left: 30px;
}

.main_wrapper .registrationWrapper .topErr .rightErrorWrapper p {
  width: 100%;
  float: left;
  border-radius: 5px;
  font-weight: 500;
  color: #f05050;
}

.main_wrapper .registrationWrapper .topErr .closeBtn {
  position: absolute;
  top: 0px;
  width: 20px;
  z-index: 111111;
  right: 0px;
  cursor: pointer;
  padding: 5px;
  height: 20px;
}

.main_wrapper .registrationWrapper .topErr .closeBtn img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.main_wrapper .registrationWrapper .showEror {
  left: 0px;
}

.main_wrapper .registrationWrapper .signupWrapper {
  float: left;
  margin-bottom: 20px;
  width: 100%;
}

.main_wrapper .registrationWrapper .signupWrapper h1 {
  color: rgba(0, 0, 0, 0.9);
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  font-family: "Montserrat";
  font-weight: 700;
}

.main_wrapper .registrationWrapper .signupWrapper h4 {
  color: #8c8c8c;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: normal;
}

.main_wrapper .registrationWrapper .signupWrapper label.inpulLabel {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.9);
  font-family: "Source Sans Pro";
}

.main_wrapper .registrationWrapper .signupWrapper .inputWrapper {
  float: left;
  width: 100%;
  margin-top: 15px;
  position: relative;
}

.main_wrapper .registrationWrapper .signupWrapper .inputWrapper input {
  color: #2e2c2f;
  padding: 10px 15px;
  border-radius: 5px !important;
  cursor: text;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  height: 42px;
  font-size: 14px;
}

.main_wrapper .registrationWrapper .signupWrapper .inputWrapper input:focus {
  color: #2e2c2f;
  border-left: 3px solid #f05050 !important;
}

.main_wrapper .registrationWrapper .signupWrapper .inputWrapper ::-webkit-input-placeholder {
  color: #2c2e2f;
  /* Firefox */
}

.main_wrapper .registrationWrapper .signupWrapper .inputWrapper :-ms-input-placeholder {
  color: #2c2e2f;
  /* Firefox */
}

.main_wrapper .registrationWrapper .signupWrapper .inputWrapper ::-ms-input-placeholder {
  color: #2c2e2f;
  /* Firefox */
}

.main_wrapper .registrationWrapper .signupWrapper .inputWrapper ::placeholder {
  color: #2c2e2f;
  /* Firefox */
}

.main_wrapper .registrationWrapper .signupWrapper .inputWrapper :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #2c2e2f;
}

.main_wrapper .registrationWrapper .signupWrapper .inputWrapper ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #2c2e2f;
}

.main_wrapper .registrationWrapper .signupWrapper .inputWrapper .password-strength {
  position: absolute;
  right: 6px;
  top: 30px;
  bottom: 5px;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.main_wrapper .registrationWrapper .signupWrapper .inputWrapper .password-strength span {
  display: block;
  background-color: #7CD43D;
  border-radius: 4px;
  height: 100%;
  width: 5px;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.main_wrapper .registrationWrapper .signupWrapper .inputWrapper .password-strength .weak {
  background-color: #d80d39;
}

.main_wrapper .registrationWrapper .signupWrapper .inputWrapper .password-strength .normal {
  background-color: #F26B2C;
}

.main_wrapper .registrationWrapper .signupWrapper .inputWrapper .password-strength .strong {
  background-color: #F2BE22;
}

.main_wrapper .registrationWrapper .signupWrapper .inputWrapper .password-strength .verystrong {
  background-color: #7CD43D;
}

.main_wrapper .registrationWrapper .signupWrapper .inputWrapper .password-strength .defoult {
  background-color: #E1EAF0;
}

.main_wrapper .registrationWrapper .signupWrapper .inputWrapper .tooltip_in {
  bottom: 45px;
  display: block;
  position: absolute;
  background-color: #37393a;
  color: #fff;
  border-radius: 5px;
  padding: 12px 10px 12px 25px;
  font-size: 14px;
  text-align: left;
  opacity: 0;
  margin-top: 10px;
  right: 0;
  width: 100%;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  z-index: 3;
  margin-bottom: 5px;
  box-shadow: 0px 2px 10px 0px #2c2e2f50 !important;
  -webkit-box-shadow: 0px 2px 10px 0px #2c2e2f50 !important;
  -moz-box-shadow: 0px 2px 10px 0px #2c2e2f50 !important;
  top: -26px;
  overflow: hidden;
}

.main_wrapper .registrationWrapper .signupWrapper .inputWrapper .tooltip_in p {
  color: white;
  line-height: 18px;
  float: left;
  width: 100%;
  font-size: 14px;
  margin-top: 0px;
}

.main_wrapper .registrationWrapper .signupWrapper .inputWrapper .tooltip_in .left_logo {
  width: 11%;
  float: left;
  position: absolute;
  left: 0;
  width: 15px !important;
  height: 15px;
  margin: 2px 7px;
}

.main_wrapper .registrationWrapper .signupWrapper .inputWrapper .tooltip_in .left_logo img {
  width: 20px;
  margin: 0 7px;
}

.main_wrapper .registrationWrapper .signupWrapper .inputWrapper .onfocutooltip {
  opacity: 1 !important;
  top: -112px !important;
}

.main_wrapper .registrationWrapper .signupWrapper .inputWrapper .onmobtooltip {
  opacity: 1 !important;
  top: -75px !important;
}

.main_wrapper .registrationWrapper .signupWrapper .inputWrapper .error {
  background: #f05050;
  height: 44px;
  top: -58px !important;
}

.main_wrapper .registrationWrapper .signupWrapper .inputWrapper .error1 {
  height: 70px;
  top: -85px !important;
  background: #f05050 !important;
}

.main_wrapper .registrationWrapper .signupWrapper .inputWrapper .errorImg {
  position: absolute;
  right: 10px;
  top: 45px;
}

.main_wrapper .registrationWrapper .signupWrapper .inputWrapper .errorImg img {
  width: 19px;
}

.main_wrapper .registrationWrapper .signupWrapper .leftInputField {
  width: 190px;
  float: left;
  position: relative;
}

.main_wrapper .registrationWrapper .signupWrapper .leftInputField input:focus {
  color: #2e2c2f;
  border-left: 3px solid #f05050 !important;
}

.main_wrapper .registrationWrapper .signupWrapper .leftInputField ::-webkit-input-placeholder {
  color: #2c2e2f;
  /* Firefox */
}

.main_wrapper .registrationWrapper .signupWrapper .leftInputField :-ms-input-placeholder {
  color: #2c2e2f;
  /* Firefox */
}

.main_wrapper .registrationWrapper .signupWrapper .leftInputField ::-ms-input-placeholder {
  color: #2c2e2f;
  /* Firefox */
}

.main_wrapper .registrationWrapper .signupWrapper .leftInputField ::placeholder {
  color: #2c2e2f;
  /* Firefox */
}

.main_wrapper .registrationWrapper .signupWrapper .leftInputField :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #2c2e2f;
}

.main_wrapper .registrationWrapper .signupWrapper .leftInputField ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #2c2e2f;
}

.main_wrapper .registrationWrapper .signupWrapper .leftInputField .tooltip_in {
  bottom: 45px;
  display: block;
  position: absolute;
  background-color: #37393a;
  color: #fff;
  border-radius: 5px;
  padding: 12px 10px 12px 25px;
  font-size: 14px;
  text-align: left;
  opacity: 0;
  margin-top: 10px;
  right: 0;
  width: 100%;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  z-index: 3;
  margin-bottom: 5px;
  box-shadow: 0px 2px 10px 0px #2c2e2f50 !important;
  -webkit-box-shadow: 0px 2px 10px 0px #2c2e2f50 !important;
  -moz-box-shadow: 0px 2px 10px 0px #2c2e2f50 !important;
  top: -26px;
  overflow: hidden;
}

.main_wrapper .registrationWrapper .signupWrapper .leftInputField .tooltip_in p {
  color: white;
  line-height: 18px;
  float: left;
  width: 100%;
  font-size: 14px;
  margin-top: 0px;
}

.main_wrapper .registrationWrapper .signupWrapper .leftInputField .tooltip_in .left_logo {
  width: 11%;
  float: left;
  position: absolute;
  left: 0;
  width: 15px !important;
  height: 15px;
  margin: 2px 7px;
}

.main_wrapper .registrationWrapper .signupWrapper .leftInputField .tooltip_in .left_logo img {
  width: 15px;
  margin: 0 0px;
}

.main_wrapper .registrationWrapper .signupWrapper .leftInputField .onfocutooltip {
  opacity: 1 !important;
  top: -112px !important;
}

.main_wrapper .registrationWrapper .signupWrapper .leftInputField .onmobtooltip {
  opacity: 1 !important;
  top: -60px !important;
}

.main_wrapper .registrationWrapper .signupWrapper .leftInputField .error {
  background: #f05050;
  height: 44px;
  top: -58px !important;
}

.main_wrapper .registrationWrapper .signupWrapper .leftInputField .error1 {
  height: 55px;
  top: -58px !important;
  background: #f05050;
}

.main_wrapper .registrationWrapper .signupWrapper .leftInputField .errorImg {
  position: absolute;
  right: 10px;
  top: 36px !important;
}

.main_wrapper .registrationWrapper .signupWrapper .leftInputField .errorImg img {
  width: 19px;
}

.main_wrapper .registrationWrapper .signupWrapper .rightinputField {
  width: 190px;
  float: right;
  position: relative;
}

.main_wrapper .registrationWrapper .signupWrapper .rightinputField input {
  color: #2c2e2f;
  font-size: 14px;
}

.main_wrapper .registrationWrapper .signupWrapper .rightinputField input:focus {
  color: #2e2c2f;
  border-left: 3px solid #f05050 !important;
}

.main_wrapper .registrationWrapper .signupWrapper .rightinputField ::-webkit-input-placeholder {
  color: #2c2e2f;
  /* Firefox */
}

.main_wrapper .registrationWrapper .signupWrapper .rightinputField :-ms-input-placeholder {
  color: #2c2e2f;
  /* Firefox */
}

.main_wrapper .registrationWrapper .signupWrapper .rightinputField ::-ms-input-placeholder {
  color: #2c2e2f;
  /* Firefox */
}

.main_wrapper .registrationWrapper .signupWrapper .rightinputField ::placeholder {
  color: #2c2e2f;
  /* Firefox */
}

.main_wrapper .registrationWrapper .signupWrapper .rightinputField :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #2c2e2f;
}

.main_wrapper .registrationWrapper .signupWrapper .rightinputField ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #2c2e2f;
}

.main_wrapper .registrationWrapper .signupWrapper .rightinputField select {
  line-height: 38px;
}

.main_wrapper .registrationWrapper .signupWrapper .rightinputField select:focus {
  color: #2e2c2f;
  border-left: 3px solid #f05050 !important;
}

.main_wrapper .registrationWrapper .signupWrapper .rightinputField select ::-webkit-input-placeholder {
  color: #2c2e2f;
  opacity: 1;
  /* Firefox */
}

.main_wrapper .registrationWrapper .signupWrapper .rightinputField select :-ms-input-placeholder {
  color: #2c2e2f;
  opacity: 1;
  /* Firefox */
}

.main_wrapper .registrationWrapper .signupWrapper .rightinputField select ::-ms-input-placeholder {
  color: #2c2e2f;
  opacity: 1;
  /* Firefox */
}

.main_wrapper .registrationWrapper .signupWrapper .rightinputField select ::placeholder {
  color: #2c2e2f;
  opacity: 1;
  /* Firefox */
}

.main_wrapper .registrationWrapper .signupWrapper .rightinputField select :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #2c2e2f;
  opacity: 1;
}

.main_wrapper .registrationWrapper .signupWrapper .rightinputField select ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #2c2e2f;
  opacity: 1;
}

.main_wrapper .registrationWrapper .signupWrapper .rightinputField .slectPlaceholder {
  color: #bdbdbe;
}

.main_wrapper .registrationWrapper .signupWrapper .rightinputField .afterSelectColor {
  color: #2c2e2f;
  font-weight: 500;
}

.main_wrapper .registrationWrapper .signupWrapper .rightinputField .downarrow {
  position: absolute;
  right: 10px;
  top: 12px;
  width: 12px;
  z-index: 10;
}

.main_wrapper .registrationWrapper .signupWrapper .rightinputField .tooltip_in {
  bottom: 45px;
  display: block;
  position: absolute;
  background-color: #37393a;
  color: #fff;
  border-radius: 5px;
  padding: 12px 10px 12px 25px;
  font-size: 14px;
  text-align: left;
  opacity: 0;
  margin-top: 10px;
  right: 0;
  width: 100%;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  z-index: 3;
  margin-bottom: 5px;
  box-shadow: 0px 2px 10px 0px #2c2e2f50 !important;
  -webkit-box-shadow: 0px 2px 10px 0px #2c2e2f50 !important;
  -moz-box-shadow: 0px 2px 10px 0px #2c2e2f50 !important;
  top: -26px;
  overflow: hidden;
}

.main_wrapper .registrationWrapper .signupWrapper .rightinputField .tooltip_in p {
  color: white;
  line-height: 18px;
  float: right;
  width: 100%;
  font-size: 14px;
  margin-top: 0px;
}

.main_wrapper .registrationWrapper .signupWrapper .rightinputField .tooltip_in .left_logo {
  width: 11%;
  float: left;
  position: absolute;
  left: 0;
  width: 15px !important;
  height: 15px;
  margin: 2px 7px;
}

.main_wrapper .registrationWrapper .signupWrapper .rightinputField .tooltip_in .left_logo img {
  width: 20px;
  margin: 0 7px;
}

.main_wrapper .registrationWrapper .signupWrapper .rightinputField .onfocutooltip {
  opacity: 1 !important;
  top: -112px !important;
}

.main_wrapper .registrationWrapper .signupWrapper .rightinputField .onmobtooltip {
  opacity: 1 !important;
  top: -75px !important;
}

.main_wrapper .registrationWrapper .signupWrapper .rightinputField .error {
  background: #f05050;
  height: 44px;
  top: -58px !important;
}

.main_wrapper .registrationWrapper .signupWrapper .rightinputField .errorImg {
  position: absolute;
  right: 10px;
  top: 45px;
}

.main_wrapper .registrationWrapper .signupWrapper .rightinputField .errorImg img {
  width: 19px;
}

.main_wrapper .registrationWrapper .signupWrapper .leftInputField, .main_wrapper .registrationWrapper .signupWrapper .rightinputField, .main_wrapper .registrationWrapper .signupWrapper .inputWrapper {
  margin-top: 16px;
}

.main_wrapper .registrationWrapper .signupWrapper .leftInputField input, .main_wrapper .registrationWrapper .signupWrapper .leftInputField select, .main_wrapper .registrationWrapper .signupWrapper .rightinputField input, .main_wrapper .registrationWrapper .signupWrapper .rightinputField select, .main_wrapper .registrationWrapper .signupWrapper .inputWrapper input, .main_wrapper .registrationWrapper .signupWrapper .inputWrapper select {
  height: 42px;
  color: #2e2c2f;
  padding: 10px 15px;
  line-height: 42px;
  border-radius: 5px !important;
  cursor: text;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  font-size: 14px;
}

.main_wrapper .registrationWrapper .signupWrapper .leftInputField select, .main_wrapper .registrationWrapper .signupWrapper .rightinputField select, .main_wrapper .registrationWrapper .signupWrapper .inputWrapper select {
  line-height: 22px;
}

.main_wrapper .registrationWrapper .signupWrapper .condition {
  float: left;
  width: 100%;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.9);
  margin-top: 16px;
  text-align: center;
  font-weight: 500;
  font-family: "Source Sans Pro";
}

.main_wrapper .registrationWrapper .signupWrapper .condition span {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.9);
  text-decoration: underline;
}

.main_wrapper .registrationWrapper .signupWrapper .condition span:hover a {
  color: black;
}

.main_wrapper .registrationWrapper .signupWrapper .regButton {
  float: none;
  width: 190px;
  height: 44px;
  color: #fff;
  background-color: #f05050;
  font-size: 16px;
  font-weight: 500;
  margin-left: 50%;
  position: relative;
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  margin-top: 20px;
  border-radius: 6px;
  opacity: 1;
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1) !important;
          box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1) !important;
  border: none;
}

.main_wrapper .registrationWrapper .signupWrapper .regButton .icon-arrow-right {
  width: 10px;
  position: relative;
  opacity: .9;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  right: 0px;
}

.main_wrapper .registrationWrapper .signupWrapper .regButton .icon-arrow-right img {
  width: 10px;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  position: relative;
}

.main_wrapper .registrationWrapper .signupWrapper .regButton span {
  position: relative;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  left: 0px;
}

.main_wrapper .registrationWrapper .signupWrapper .regButton:hover {
  opacity: 1;
}

.main_wrapper .registrationWrapper .signupWrapper .devider {
  float: left;
  width: 100%;
  margin-top: 25px;
}

.main_wrapper .registrationWrapper .signupWrapper .devider .stock {
  float: left;
  width: 45%;
  background-color: #333;
  opacity: .1;
  height: 1px;
  margin-top: 8px;
}

.main_wrapper .registrationWrapper .signupWrapper .devider .left {
  float: left;
}

.main_wrapper .registrationWrapper .signupWrapper .devider .right {
  float: right;
}

.main_wrapper .registrationWrapper .signupWrapper .devider .text {
  float: left;
  color: #2c2e2f;
  text-align: center;
  width: 10%;
}

.main_wrapper .registrationWrapper .signupWrapper .social_login {
  float: left;
  width: 100%;
  margin-top: 30px;
}

.main_wrapper .registrationWrapper .signupWrapper .social_login .gmail {
  float: right;
  width: 190px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
  padding: 11px 15px;
  line-height: 18px;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1) !important;
          box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1) !important;
  background-color: #f8f8f8;
  height: 40px;
  cursor: pointer !important;
  border-radius: 6px;
  -webkit-transition: all .2s;
  transition: all .2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 13px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.9);
}

.main_wrapper .registrationWrapper .signupWrapper .social_login .gmail:hover {
  background-color: #dfdfdf;
}

.main_wrapper .registrationWrapper .signupWrapper .social_login .gmail img {
  width: 19px;
  float: left;
}

.main_wrapper .registrationWrapper .signupWrapper .social_login .gmail .socialloginMob {
  display: none;
}

.main_wrapper .registrationWrapper .signupWrapper .social_login .fb {
  float: left;
  width: 190px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
  padding: 11px 10px;
  height: 40px;
  line-height: 18px;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1) !important;
          box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1) !important;
  cursor: pointer;
  background: #214f8d;
  color: #fff;
  border-radius: 6px;
  -webkit-transition: all .2s;
  transition: all .2s;
  font-size: 13px;
  font-weight: 500;
}

.main_wrapper .registrationWrapper .signupWrapper .social_login .fb:hover {
  background-color: #456398;
}

.main_wrapper .registrationWrapper .signupWrapper .social_login .fb img {
  width: 19px;
  float: left;
}

.main_wrapper .registrationWrapper .signupWrapper .social_login .fb .socialloginMob {
  display: none;
}

.main_wrapper .registrationWrapper .signupWrapper ul {
  border-top: 1px solid #e9e9e9;
  float: left;
  width: 100%;
  list-style-type: none;
  margin-top: 25px;
  padding: 0px 0px 0px 0px;
}

.main_wrapper .registrationWrapper .signupWrapper ul li {
  float: left;
  color: #8c8c8c;
  padding: 10px 5px 0px 10px;
  cursor: pointer;
  font-size: 12px;
  opacity: .9;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.main_wrapper .registrationWrapper .signupWrapper ul li:hover {
  text-decoration: none;
  color: #8c8c8c;
  opacity: 1;
}

.main_wrapper .registrationWrapper .signupWrapper ul li a {
  color: #8c8c8c !important;
  opacity: .9;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.main_wrapper .registrationWrapper .signupWrapper ul li a:hover {
  text-decoration: none;
  color: #8c8c8c !important;
  opacity: 1;
}

.main_wrapper .registrationWrapper .signupWrapper ul li:last-child {
  opacity: .9;
  cursor: context-menu;
}

.main_wrapper .registrationWrapper .signupWrapper .bottom_privacy {
  float: left;
  display: none;
  padding: 0px;
  width: 100%;
}

@media only screen and (max-width: 1370px) {
  .main_wrapper .registrationWrapper .registrationIneerscroll {
    padding: 30px 40px 30px 40px;
  }
  .main_wrapper .registrationWrapper .signupWrapper h4 {
    color: #8c8c8c;
    font-size: 14px;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 5px;
    font-weight: normal;
  }
  .main_wrapper .registrationWrapper .signupWrapper .leftInputField, .main_wrapper .registrationWrapper .signupWrapper .rightinputField {
    width: 48%;
  }
  .main_wrapper .registrationWrapper .signupWrapper .leftInputField, .main_wrapper .registrationWrapper .signupWrapper .rightinputField, .main_wrapper .registrationWrapper .signupWrapper .inputWrapper {
    margin-top: 12px;
  }
  .main_wrapper .registrationWrapper .signupWrapper .leftInputField input, .main_wrapper .registrationWrapper .signupWrapper .leftInputField select, .main_wrapper .registrationWrapper .signupWrapper .rightinputField input, .main_wrapper .registrationWrapper .signupWrapper .rightinputField select, .main_wrapper .registrationWrapper .signupWrapper .inputWrapper input, .main_wrapper .registrationWrapper .signupWrapper .inputWrapper select {
    height: 38px;
    line-height: 38px;
  }
  .main_wrapper .registrationWrapper .signupWrapper .leftInputField select, .main_wrapper .registrationWrapper .signupWrapper .rightinputField select, .main_wrapper .registrationWrapper .signupWrapper .inputWrapper select {
    line-height: 20px;
  }
  .main_wrapper .registrationWrapper .signupWrapper .bottom_privacy ul {
    margin-top: 15px;
  }
}

@media screen and (max-height: 740px) {
  .main_wrapper .registrationWrapper {
    bottom: 20px;
  }
  .leftSecArea .infoSecMain {
    margin-top: 30px !important;
  }
  .leftSecArea .headInfoPara {
    display: none;
}
}

@media screen and (max-height: 700px) {
  .main_wrapper .registrationWrapper {
    bottom: 10px;
  }
  .leftSecArea .infoSecMain {
    margin-top: 15px !important;
  }
}

@media screen and (max-height: 680px) {
  .main_wrapper .registrationWrapper {
    bottom: 10px;
  }
}

@media only screen and (max-width: 1300px) {
  .head-login-cntnar {
    width: 530px;
  }
  .head-login-cntnar .lgn-e-input {
    width: 155px;
  }
  .head-login-cntnar .lgn-e-input input {
    height: 35px;
  }
  .head-login-cntnar .lgn-e-input input:focus {
    border: 1px solid #dfe0e8 !important;
  }
  .head-login-cntnar .lgn-p-input {
    width: 155px;
  }
  .head-login-cntnar .lgn-p-input input {
    height: 35px;
  }
  .head-login-cntnar .login_btn {
    height: 35px;
  }
  .head-login-cntnar .reg-button {
    height: 35px;
  }
}

@media only screen and (max-width: 1170px) {
  .main_wrapper {
    width: 100%;
  }
  .main_wrapper .postmaintWrapper {
    width: 54.8%;
  }
  .main_wrapper .postmaintWrapper .interestOuterWrapper {
    width: 52.05%;
  }
  .main_wrapper .postmaintWrapper .interestOuterWrapper .interestWrapper {
    width: 100%;
  }
  .main_wrapper .registrationWrapper {
    width: 43.7%;
    margin-left: 53.8%;
    bottom: 6px;
  }
}

@media only screen and (max-width: 1080px) {
  .bgshadow {
    overflow-y: scroll;
  }
  .stopClicking {
    pointer-events: none !important;
  }
  .main_wrapper {
    width: 100%;
  }
  .main_wrapper .postmaintWrapper {
    width: 54.8%;
  }
  .main_wrapper .postmaintWrapper .interestOuterWrapper {
    width: 52.05%;
  }
  .main_wrapper .postmaintWrapper .interestOuterWrapper .interestWrapper {
    width: 100%;
  }
  .main_wrapper .registrationWrapper {
    width: 43.7%;
    margin-left: 53.8%;
  }
  .main_wrapper .registrationWrapper .signupWrapper .social_login .gmail, .main_wrapper .registrationWrapper .signupWrapper .social_login .fb {
    width: 48%;
  }
  .main_wrapper .registrationWrapper .signupWrapper .social_login .gmail .sociallogin, .main_wrapper .registrationWrapper .signupWrapper .social_login .fb .sociallogin {
    display: none;
  }
  .main_wrapper .registrationWrapper .signupWrapper .social_login .gmail .socialloginMob, .main_wrapper .registrationWrapper .signupWrapper .social_login .fb .socialloginMob {
    display: block;
  }
  .main_wrapper .registrationWrapper .signupWrapper .bottom_privacy ul {
    padding: 0px 0px 0px 0px;
  }
}

@media only screen and (max-width: 1024px) {
  .main_wrapper {
    margin-top: 40px;
  }
  .registrationWrapper .registrationIneerscroll {
    padding: 30px 30px 30px 30px;
  }
}

@media only screen and (max-width: 900px) {
  .sidenav .login_Header .container.head_container {
    max-width: 480px;
    width: 100%;
    margin-top: 10px;
  }
  .sidenav .login_Header .container.head_container a {
    text-align: left;
    float: left;
  }
  .sidenav .login_Header .container.head_container a .logo {
    width: 120px;
  }
  .sidenav .leftSecArea {
    text-align: left;
    max-width: 480px;
    margin: 10px auto 15px auto;
    padding: 0px 20px;
  }
  .sidenav .leftSecArea .headInfo {
    font-size: 26px;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 900px) and (min-width: 768px) {
  .login_Header .container.head_container {
    max-width: 750px;
  }
  .logincontainer .main_wrapper {
    max-width: 600px;
    width: 600px;
  }
  .logincontainer .main_wrapper .postmaintWrapper {
    width: 100%;
  }
  .logincontainer .main_wrapper .postmaintWrapper .postInnerWrapper {
    margin-top: 65px;
  }
  .logincontainer .main_wrapper .postmaintWrapper .interestOuterWrapper {
    width: 570px;
  }
  .logincontainer .main_wrapper .postmaintWrapper .interestOuterWrapper .interestWrapper {
    width: 70%;
  }
  .logincontainer .main_wrapper .registrationWrapper_web {
    padding: 0;
  }
  .logincontainer .main_wrapper .registrationWrapper_web .registrationWrapperscroll {
    display: none;
  }
  .logincontainer .main_wrapper .postmaintWrapper {
    padding-right: 0px;
    margin-top: 15px;
  }
  .logincontainer .main_wrapper .registrationWrapper {
    left: 0;
    margin-left: 0;
    position: relative;
    width: 100%;
    top: 0;
  }
  .logincontainer .main_wrapper .registrationWrapper .topErr {
    left: -720px;
  }
  .logincontainer .main_wrapper .register_tab {
    float: right;
    display: block;
    height: 70px;
    margin-top: 18px;
    text-align: left;
    width: 150px;
  }
  .logincontainer .main_wrapper .register_tab p {
    font-weight: 500;
    padding: 2px 0px 8px;
  }
  .logincontainer .main_wrapper .register_tab .regButton {
    background-color: #f05050;
    color: #fff;
    width: 100%;
    height: 44px;
    font-size: 16px;
    font-weight: 600;
  }
  .main_wrapper .registrationWrapper .signupWrapper .leftInputField, .main_wrapper .registrationWrapper .signupWrapper .rightinputField, .main_wrapper .registrationWrapper .signupWrapper .inputWrapper, .main_wrapper .registrationWrapper .signupWrapper .condition, .main_wrapper .registrationWrapper .signupWrapper .regButton {
    margin-top: 16px;
  }
  .main_wrapper .registrationWrapper .signupWrapper .leftInputField select, .main_wrapper .registrationWrapper .signupWrapper .leftInputField input, .main_wrapper .registrationWrapper .signupWrapper .rightinputField select, .main_wrapper .registrationWrapper .signupWrapper .rightinputField input, .main_wrapper .registrationWrapper .signupWrapper .inputWrapper select, .main_wrapper .registrationWrapper .signupWrapper .inputWrapper input {
    height: 42px;
    line-height: 42px;
  }
  .main_wrapper .registrationWrapper .signupWrapper .leftInputField select, .main_wrapper .registrationWrapper .signupWrapper .rightinputField select, .main_wrapper .registrationWrapper .signupWrapper .inputWrapper select {
    line-height: 22px;
  }
}

@media only screen and (max-width: 1170px) and (min-width: 901px) {
  .main_wrapper .postmaintWrapper .postInnerWrapper {
    margin-top: 60px;
  }
}

@media only screen and (max-width: 640px) {
  .main_wrapper .postmaintWrapper .interestOuterWrapper .interestWrapper .interestContent {
    padding: 5px 15px 0px 15px;
  }
  .main_wrapper .postmaintWrapper .interestOuterWrapper .interestWrapper .interestOuterHead .interestHead span.rightarrow img {
    top: 30px;
    width: 12px;
  }
  .main_wrapper .postmaintWrapper .interestOuterWrapper .interestWrapper {
    height: 85px;
  }
}

@media only screen and (max-width: 480px) {
  .sidenav .leftSecArea {
    padding: 0px 25px;
  }
  .sidenav .leftSecArea .headInfo {
    font-size: 24px;
  }
  .sidenav .container.head_container {
    padding: 10px 25px 0px;
  }
}

.iconplaystore {
  background-image: url(./../../../assets/images/sprite/loginpage.svg#mobile-icon);
  background-size: 100% 100%;
  width: 23px;
  height: 23px;
  display: inline-block;
  /* margin-bottom: 0px; */
}

.erroricon {
  background-image: url(./../../../assets/images/sprite/loginpage.svg#error);
  background-size: 100% 100%;
  width: 14px !important;
  float: left;
  height: 14px;
  margin: 4px 6px 3px 3px;
}

.alertimg.erroricon {
  margin: 0px 6px 3px 3px;
}

.error + .validation .erroricon {
  display: block !important;
  top: 41px;
}

.infoIcon {
  background-image: url(./../../../assets/images/sprite/loginpage.svg#public-info);
  background-size: 100% 100%;
  width: 20px !important;
  float: left;
  height: 20px;
  margin: 0px 7px;
}

.showcheckbox {
  height: 11px;
  width: 11px;
  float: left;
  margin: 1px 0 0 1px;
  background-image: url(./../../../assets/images/sprite/loginpage.svg#chechbox);
  background-size: 100% 100%;
}

.errorImg {
  background-image: url(./../../../assets/images/sprite/loginpage.svg#errorbfill);
  background-size: 100% 100%;
  width: 19px;
  height: 19px;
  top: 35px !important;
}

.interestarrow {
  background-image: url(./../../../assets/images/sprite/loginpage.svg#arrow);
  background-size: 100% 100%;
  top: 27px !important;
  position: absolute !important;
  right: 20px !important;
  width: 16px;
  height: 16px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all .5s;
  transition: all .5s;
}

.mobleftback {
  background-image: url(./../../../assets/images/sprite/loginpage.svg#left-arrow);
  background-size: 100% 100%;
  width: 18px;
  height: 18px;
  float: left;
}

.errormsglogin {
  background-image: url(./../../../assets/images/sprite/loginpage.svg#login-error);
  background-size: 100% 100%;
  width: 21px;
  height: 21px;
  float: left;
}

.closeBtnsec {
  background-image: url(./../../../assets/images/sprite/loginpage.svg#tagcross);
  background-size: 100% 100%;
  width: 10px;
  height: 10px;
  float: left;
}

.intclose .closeBtnsec {
  margin-right: 4px;
}

.arrowrightwhite {
  background-image: url(./../../../assets/images/sprite/loginpage.svg#white-arrow);
  background-size: 100% 100%;
  width: 11px;
  height: 11px;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  display: inline-block;
  transform: rotate(-180deg);
}

.fbicon {
  background-image: url(https://img1.study24x7.com/assets/images/login/fabebook-blue.svg);
  background-size: 100% 100%;
  width: 16px;
  float: left;
  height: 16px;
  margin-right: 5px;
  margin-top: 1px;
}

.googleicon {
  background-image: url(./../../../assets/images/sprite/loginpage.svg#googleicon);
  background-size: 100% 100%;
  float: left;
  width: 19px;
  height: 19px;
  margin-right: 5px;
}

.login_socicon .googleicon {
  width: 22px;
  height: 22px;
  float: none;
  display: inline-block;
  margin: 0px 5px -5px 0px;
}

@media only screen and (min-width: 1440px) {
  .main_wrapper .registrationWrapper {
    bottom: unset;
  }
}
/*# sourceMappingURL=newlogin.component.css.map */
