
<div class="secHead">Filtered Courses</div>


<div class="courseCard coursepage_outer" data-infinite-scroll
  [infiniteScrollDistance]="9"
  (scrolled)="onScrollDown()"
  [scrollWindow]="true">
  <div class="course_div course_student_veiw course_card_filter">


    <div class="course_item col-md-4 col-sm-6 col-xs-6" *ngFor="let course of
      filteredCourses">
      <div class="course_cont" [routerLink]="['/course/'+course.COURSE_URL]"
        routerLinkActive="router-link-active">
        <div class="course_img_div">
          <img
            class="course_img"
            src="{{course.COURSE_COVER_PHOTO_PATH}}" (error)="updateSourcePic($event)"
            />
          <div class="course_banner">
            <div class="course_status_inner">
              <img
                src="{{course.PAGE_PROFILE_PHOTO_PATH}}"
                />
            </div>
          </div>
          <div class="img_layer"></div>
        </div>
        <div class="course_details">
          <div class="course_name">
            <p>
              {{course.COURSE_TITLE}}

            </p>
            <span> by {{course.PAGE_TITLE}}</span>
          </div>
          <div class="clearfix"></div>
          <!-- for reponsive--->
          <div style="font-size: 12px;" class="card-course-rating acard-course-rating rating-mobile">
            <label class="star">
              <img *ngIf="course.COURSE_RATING> 0"
              class="star-fill-svg"
              src="{{'assets/images/course_icon/star-filled.svg'}}"
              />
              <img *ngIf="course.COURSE_RATING == 0"
                class="star-fill-svg"
                src="{{'assets/images/course_icon/star-gray.svg'}}"
                />
                {{' ' + course.COURSE_RATING}}
            </label> </div>
          <!-- for reponsive--->
          <div class="card-course-rating acard-course-rating">
            <label class="star">
              <img *ngFor="let star of starRatingObject[course.COURSE_RATING]"
                class="star-fill-svg"
                src="{{'assets/images/course_icon/'+star}}"
                />
            </label>

            <label class="c-rating-avg">
              {{course.COURSE_RATING}}
            </label>
            <label class="c-rating-count">
              {{course.TOTAL_COURSE_RATING_COUNT}}
            </label>
          </div>
          <div class="course_detail">
            <ul>
              <li style="padding-left: 20px !important;">
                <span class="c_enroll_count c_enroll_count_fix">
                  <img
                    src="assets/images/course_icon/enrollments.svg"
                    />
                </span>
                {{course.TOTAL_ENROLLED_USER}} Enrollment
              </li>
              <li style="padding-left: 20px !important;">
                <span class="c_enroll_count">
                  <img
                    src="assets/images/course_icon/validity.svg"
                    />
                </span>
                Validity {{course.RVALIDITY}}
              </li>
            </ul>
          </div>
          <div class="clearfix"></div>
          <div class="c_card_bottom">
            <span *ngIf="course.COURSE_PRICE[0]" class="original-price">
              ₹{{(course.COURSE_PRICE[0]?course.COURSE_PRICE[0].COST:'')|number}} </span>
            <span *ngIf="course.COURSE_PRICE[0]" class="sell-price">₹{{(course.COURSE_PRICE[0]?course.COURSE_PRICE[0].DISCOUNT_COST:'')|number}}
            </span>

            <span *ngIf="!course.COURSE_PRICE[0]" class="sell-price">
              FREE
            </span>
          </div>
        </div>
      </div>
    </div>
    <div style="padding: 20px;" *ngIf="filteredCourses.length<=0 && !fetchingData">
     <div style="display: flex; flex-direction: row;justify-content: center;align-items: center;align-content: center;">
      <img style="height: 150px;"  src="assets/images/course_icon/create_course.svg" />

     </div>
     <div style="text-align: center;">
      We could not find courses matching your search criteria.
     </div>

    </div>






  </div>


</div>
