 $backgroundgray : #e6e6e6;
 $themeblue : #F05050;
 $themegray : #f5f7fa;
 $textcolor : #2c2e2f;
 $textgrey : #8c8c8c;
 $maingreen: rgb(7,162,8);
 $stroke : #dfe0e8;
 // $stroke : #E9E9E9;
 $borderRadius: 5px;
 $inputTypeHeight: 35px;
 $inputTypeFont: 12px;
 $headerHeight: 60px;
 $headerLineHeight: $headerHeight - 5px;
 $mainboxShadow: 0 0 7px rgba(0,0,0,0.1);
 $dropdownwidth: 400px;
 $dropdwncontentwidth: $dropdownwidth - 100px;
 $ntfctnprofile: 40px;
 $inrprflimg : $ntfctnprofile + 8px;
 $PostPicture: 40px;
 $commentPicture: $PostPicture - 10px;
 $subcommentPicture: $commentPicture - 10px;
 $mainpostName: 14px;
 $maincommentName: $mainpostName - 2px;
 $darkthemestroke: $themeblue;
 $progressbarRed: #ed6568;
 $rightanswer : #5bbc5b;
 @mixin btn_shadow($offset-x, $offset-y, $blur-radius, $spread-radius, $color, $inset: false) {
 @if $inset {
 -ms-box-shadow: inset $offset-x $offset-y $blur-radius $spread-radius $color;
 -o-box-shadow: inset $offset-x $offset-y $blur-radius $spread-radius $color;
 -webkit-box-shadow: inset $offset-x $offset-y $blur-radius $spread-radius $color;
 -moz-box-shadow: inset $offset-x $offset-y $blur-radius $spread-radius $color;
 box-shadow: inset $offset-x $offset-y $blur-radius $spread-radius $color;
 }
 @else {
 -ms-box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color;
 -o-box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color;
 -webkit-box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color;
 -moz-box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color;
 box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color;
 }
 }

.saved_bar{display: inline-block;
height: 50px;
line-height: 50px;
background: #fff;box-sizing: border-box;
float: left;padding:0px;
width: 100%;
border-radius: 3px;
.saved_menu{
    margin: 0px;
    width: 100%;
    li{float: left;
       padding: 0px 15px;
       background: #f5f7fa;
        span{
    display: inline-block;
    float: left;
    font-size: 14px;
    padding: 0 5px;
    line-height: 48px;
    font-family: 'Roboto';
    font-weight: 500;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}
    }
    li.active{
        span{
    color: #F05050;
    border-bottom: 2px solid #F05050;
}
    }
}
}
.savedbody{

	display: inline-block;
	width: 100%;
	background: #fff;
	border-radius: $borderRadius;
	box-shadow: $mainboxShadow;

	.widgetheading{
		background-color: #fff;
        border-radius: 3px;
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
    }

        }

    .savedbody{margin-top: 15px;
    .widgetheading{background: #f5f7fa;
        border-radius: 3px 3px 0px 0px; box-shadow:none;font-size: 14px;
        .savename{padding: 0px 15px;
             color: $textgrey;}
    	.savedsearch{
		margin-top: -6px;
		margin-right: 0px;
            .input-group-addon{
                border: 1px solid $stroke;
                  border-right: 0px solid $stroke;
                border-right: 0px solid $stroke;
                border-radius: 3px 0px 0px 3px;
                button{border: 0px solid transparent;height: 26px;
                line-height: 28px;border: 0px solid transparent;
                background-color: #fff;
                box-shadow: none;}
                }
              .form-control{border-left: 0px;
                background-color: #fff;
                font-weight: 400;
                font-size: 12px;
                height: 28px;
                line-height: 28px;padding: 6px;background-color: #fff;
            }
            .form-control:focus{border-color: #ccc;
                border-left-color: none;
                outline: 0;
                box-shadow: none;}
	       }
        }
	.savedoutr{
		display: inline-block;
		width: 100%;

        padding: 15px;
        .createfolder{float: left;
            margin-bottom: 15px;
            width: 100%;
        .create_btn{height: 28px;
        line-height: 26px;
        margin-top: 0px !important;
        margin-left: 0px;font-weight: 500;
        float: left;}
        }


		.savedblock{
			display: inline-block;
			width: 100%;
			border: 1px solid $stroke;

			float:  left;border-radius: 3px;margin-bottom: 15px;


			.saveinrimg{
                display: inline-block;
                width: 100%;
                box-sizing: border-box;
                height: auto;
                overflow: hidden;
                float: left;
                padding: 15px 15px;

               img{
					width: 100%;
				}
                .fodername{
                color: #000;
                font-size: 14px;
                margin-bottom: 0px;
                float: left;
                }
                .savepostcount{
                float: left;
                display: inline-block;
                padding: 0px 15px;
                color: #8c8c8c;;
                    .postcount{}
                }
                .postcreatdate{
                    float: left;
                    width: 100%;
                    margin-top: 5px;
                    color: #8c8c8c;;
                    font-size: 12px;font-weight: 500;
                    .create_date{}
                }
            }

			.folderfooter{
				display: inline-block;
				padding: 11px 10px;
				width: 100%;
				box-sizing: border-box;
				background: $themegray;
				border-top: 1px solid $stroke;
                float: left;
				span:first-child{
					font-family: open_sansbold;
					font-size: 14px;

				}
				span:last-child{
					color: $textgrey;
					float: right;
				}
			}
			.addfldr_footer{
				background: transparent;
				border-top: 0px solid;
				padding: 0 11px 10px;
				float: left;

				 button{
				 	height:29px;
				 	line-height: 29px;
				 }

			}
		}
        .save_edit{position: absolute;
           right: 0px;
           padding: 16px;
        .postmenubtn {
            border-left: 1px solid $stroke;border-radius: 3px 3px 3px 3px;}
            .postright_btn {
                line-height: 24px;}
        }



	}



}
	.save_addimage{
				text-align: center;
				line-height: 165px;
				border: 3px dashed $stroke;
				img{
					width: 60% !important;
				}
			}




.about_outer{
    .widgetheading{ padding: 10px 15px;font-size: 14px;color: $textgrey;}
.savedlist{
  padding: 0px 0px 10px;
  float: left;
  width:100%;
  // max-height: 265px;
  min-height: 265px!important;
  max-height: 100% !important;

    li{float: left;
width: 100%;
position: relative;
line-height: 22px;
padding: 10px 10px;
border-left: 2px solid transparent;
cursor: pointer;
        .interest_count {
    background-color: #fff;
    color: #2c2e2f;
    padding: 1px 5px;
    border-radius: 3px;
    font-size: 10px;
    float: right;
    overflow: hidden;
    line-height: normal;
    margin-top: 2px;
            border: 1px solid  $stroke;
}
    .spanfolder{cursor:pointer;float: left;font-weight: 500;
      max-width: 230px;
      overflow: hidden;
      word-break: break-all;


    .postcount{float: left;width:100%;color: $textgrey;}
               }
    .savedpost{float: left;width: 100%;}

    }
    li.active{border-left: 2px solid #F05050;
background: #f5f7fa;
color: #F05050;
            .interest_count {
    background-color: #e94f59;
    color: #fff; border: 1px solid #e94f59;

}
    }
    .savededit{
     float: right;margin-right: 2px;
     display: none;
     // ayush
    }
     li:hover .savededit{display: block;}


}

}
.folderdetails{
    float: left;width: 100%;display: inline-block;margin-bottom: 10px;
    .typeoffolder{
        line-height: 22px;color: #000;padding: 10px 0px 0px 0px;font-size: 14px;
    }
    .foldersaved{float: left;width: 100%;line-height: 22px;font-weight: 500;color: #2c2e2f;margin-top: 10px;position: relative;

        span{padding: 0px 5px 0px 0px;
            position:relative;
            display: inline-block;
            background-color: #e6e6e6;


        }
                    &:before{
                content:"";
                position:absolute;
                display:block;
                width:100%;
                height:1px;
                background-color:#ccc;
                left:0%;
                top:50%;
                }

    }
}
.folderdetailsother{
    margin: 7px 0px;
font-size: 14px;
    .foldersaved{margin-top: 0px;}
}
.mainheading{
  padding-right: 0px;
  font-size: 14px;
  padding: 10px 15px!important;
  line-height: 15px!important;
  .edit_delete_option{
    margin-top: -3px;
    float: right;
    .option_dlt_edit{
      width: 28px;
      height: 28px;
      border-radius: 50%;
      background-color: #e9e9e9;
      text-align: center;
      padding-top: 0;
      border: 1px solid #e9e9e9;
      float: right;
      margin-top: -2px;
      margin-left: 10px;
      cursor: pointer;
        img{
          margin-top:5px;
        }
    }
    .savedrpdenbtn{
      background-color: transparent;
      border:none;
      cursor: pointer;
    }
  }
}
.saved-post-page-wrapper{
  .post_outer{
    border-radius: 5px !important;
    margin-top: 15px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    border: 1px solid rgba(44, 46, 47, 0.2) !important;
  }
}
.drop_edit{
  .edit_opt{
    &:hover .default{
      display: none !important;
    }
    &:hover .hoverimg{
      display: inline-block !important;

    }
    .default{
      display: inline-block;

    }
    .hoverimg{
      display: none;
    }
  }

}
.24x7button{
  background-color: #fff !important;
  right: 50%;
  color: #000 !important;
  height: 38px;
  border-radius: 33px !important;
  // -webkit-box-shadow: 0px 1px 2px 2px #2c2e2f20;
  // box-shadow: 0px 1px 2px 2px #2c2e2f20;
  @include btn_shadow(0, 1px, 2px, 2px, rgba($textcolor, 0.1));
  margin-top: 0px;
  margin-right: 0px;
   &:hover{
     background-color: #2e2c2f10 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
   }
}
.emptystate_inner{
  img{
    width:100px!important;
  }
}
.rightmenu_fixed{
  float: left;
  width: 278px;
}
.rightmenu_fixed.fixedleft{
      position: fixed;
      width: 278px;
      float: left;
}
.pdng_right{
  padding-right:0;
}
.pdng_left{
  padding-left:0;
}

// scss from style.scss
.maindiv.saved-post-main{
	padding-right:0;
	padding-left:0;
	padding-bottom:0;

	.mainheading{
		padding-left:15px;
		padding-bottom:15px;
		padding-top:15px;
		background-color:$themegray;
		line-height:1;
		-webkit-border-top-right-radius: 5px;
		-moz-border-top-right-radius: 5px;
		-ms-border-top-right-radius: 5px;
		-o-border-top-right-radius: 5px;
		border-top-right-radius: 5px;
		-webkit-border-top-left-radius: 5px;
-moz-border-top-left-radius: 5px;
-ms-border-top-left-radius: 5px;
-o-border-top-left-radius: 5px;
border-top-left-radius: 5px;
border-bottom:1px solid #eaeaea;
      .savededit{
        float: right;
        margin-right: 15px;
        .folderremove{
          cursor: pointer;
        }
      }
	}
	.inner-main-div{
		padding-right:15px;
		padding-left:15px;
	}
}
.maindiv.saved-post-main{
	padding-left:0 !important;
	padding-right:0 !important;
}
.maindiv.saved-post-main{
	.tab-wrap{
		background-color:$themegray;
		.mainheading.tabbing-title {
 		float:left;
		padding-right:7px;
		padding-left:7px;
		border-bottom:2px solid transparent;
		&:first-child{
			margin-left:10px;
		}
 	}
	.mainheading.tabbing-title.active{
		border-bottom-color:$themeblue;
	}
	}
}
.maindiv.saved-post-main{
 .tab-wrap{
	 .mainheading.tabbing-title{
		 margin-right:10px;
	 }
 }
}
// from scss
.saved-post-page-wrapper{
	.post-footer-btn-outer-wrap{
		display:none;
	}
	.comment_outer{
		display:none;
	}
	.post_options, .result-wrapper{
		display:none;
	}

  .post_profile.postshared_profile{display:block;}

	.post_outer{
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-ms-border-radius: 0;
		-o-border-radius: 0;
		border-radius: 0;
		box-shadow: none !important;
		border-bottom:1px solid #ccc;
		margin-bottom:0;
		.post_profile, .post_profileContent{
			padding-right:0;
			padding-left:0;
		}
		.shared-post-text{
			display:none;
		}
		&:last-child{
				border-bottom:0px solid #ccc;
		}
	}

}
.saved-post-page-wrapper{
	.shared-post-blocks-wrap{
		border:none;
		margin-right:auto;
		margin-left:auto;
	}
	.post_outer.link-post-comp{
	 .post_profileContent{
		 a{
			 border:none;
			 margin-top:0;
		 }
	 }
	}
	.post_outer{
		border:none;
		border-bottom:1px solid rgba($textcolor,0.2);
	}
  .post_outer:last-child{
    border-bottom: none;
  }
}
.saved-post-page-wrapper{
 .attachment-post-comp{
	 .attached-file-wrap{
		 margin-bottom:10px;
	 }
 }
 .img-post-comp{
	 .postmain_container{

		 img{
			 margin-bottom:10px;
			 max-width:220px;
			 max-height:220px;
		 }
	 }
 }
}
// from new scss file
.savededit{
  margin-right: 0px!important;
}
.emptystate {
  .emptystate_inner {
    p {
      font-size: 14px !important;
    }
  }
}
.shared-post-blocks-wrap{
  width: 100% !important;
   .pageuserinfo{
         width: 453px !important;
   }
 }
 .wrapper.saved-post-page-wrapper.user_saved_post{
    .post_outer.shared-link-post-comp.shared-post{
      .shared-post-blocks-wrap{
        .post_profile{
          .profiledetail.pageuserinfo{
                width: 400px !important;
          }
        }
      }
    }
 }
 .savedpost_btn{
   display: none;
 }
.popup_background_view .sharescreenpostview .post_outer {
    margin-top: 0px !important;
    border: 0px solid rgba(44,46,47,.2) !important;

}

// end from new scss file
@media  screen  and (max-width:991.5px) and (min-width: 300px){
  // @media screen and (max-width: 900px) and (min-width: 600px) {
  .mainheading{
    padding-left: 40px !important;
  }
  .right_stickytab{
    display: none !important;
    .rightmenu_fixed.fixedleft{display: none !important;position: relative;}
    .rightmenu_fixed {
      display: none !important;
    }
  }
  .savedpost_btn{
    display: block;
  }
}

// @media screen  and (max-width:767px) and (min-width: 320px){
// .left_stickytab{
//   display: none;
//   }
//   .right_stickytab{
//     display: none;
//   }
//   .center_feed{
//     max-width:600px;
//     margin:auto;
//     float:none;
//     padding-left: 0;
//     padding-right: 0;
//   }
//   /* .container.main_body{
//     margin-top: 15px;
//   } */
//   .help-icon{
//     display: none;
//   }
// }
.drpdwn_edit{
  right: 15px;
}
.savedpost_btn{
  position:relative;
  margin-top: -7px !important;
  .postright_btn.postmenubtn img{
    transform: none;
    width: 15px !important;
  }
  .saved_foldersave{
      position: absolute;
      width: 255px;
      height: auto;
      right: 0;
      z-index: 2;
      top: 30px;
      box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2) !important;
      }
      .about_outer  {
        margin-bottom: 0px !important;
      }
    }

@media screen  and (max-width:600px) and (min-width: 320px){
  /* .container.main_body{
    margin-top:0;
  } */
  .maindiv{
    border-radius:0;
  }
}
// @media screen  and (max-width:767px) and (min-width: 601px){
//   .container.main_body{
//     margin-top:15px;
//   }
// }
@media only screen and (max-width:600px){
  .container.main_body{
    margin-top:67px;
  }
  .maindiv.saved-post-main{
  	padding-left:10px !important;
  	padding-right:10px !important;
  }
}
