.saved_bar {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  background: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  padding: 0px;
  width: 100%;
  border-radius: 3px;
}

.saved_bar .saved_menu {
  margin: 0px;
  width: 100%;
}

.saved_bar .saved_menu li {
  float: left;
  padding: 0px 15px;
  background: #f5f7fa;
}

.saved_bar .saved_menu li span {
  display: inline-block;
  float: left;
  font-size: 14px;
  padding: 0 5px;
  line-height: 48px;
  font-family: 'Roboto';
  font-weight: 500;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

.saved_bar .saved_menu li.active span {
  color: #F05050;
  border-bottom: 2px solid #F05050;
}

.savedbody {
  display: inline-block;
  width: 100%;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}

.savedbody .widgetheading {
  background-color: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}

.savedbody {
  margin-top: 15px;
}

.savedbody .widgetheading {
  background: #f5f7fa;
  border-radius: 3px 3px 0px 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 14px;
}

.savedbody .widgetheading .savename {
  padding: 0px 15px;
  color: #8c8c8c;
}

.savedbody .widgetheading .savedsearch {
  margin-top: -6px;
  margin-right: 0px;
}

.savedbody .widgetheading .savedsearch .input-group-addon {
  border: 1px solid #dfe0e8;
  border-right: 0px solid #dfe0e8;
  border-right: 0px solid #dfe0e8;
  border-radius: 3px 0px 0px 3px;
}

.savedbody .widgetheading .savedsearch .input-group-addon button {
  border: 0px solid transparent;
  height: 26px;
  line-height: 28px;
  border: 0px solid transparent;
  background-color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.savedbody .widgetheading .savedsearch .form-control {
  border-left: 0px;
  background-color: #fff;
  font-weight: 400;
  font-size: 12px;
  height: 28px;
  line-height: 28px;
  padding: 6px;
  background-color: #fff;
}

.savedbody .widgetheading .savedsearch .form-control:focus {
  border-color: #ccc;
  border-left-color: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.savedbody .savedoutr {
  display: inline-block;
  width: 100%;
  padding: 15px;
}

.savedbody .savedoutr .createfolder {
  float: left;
  margin-bottom: 15px;
  width: 100%;
}

.savedbody .savedoutr .createfolder .create_btn {
  height: 28px;
  line-height: 26px;
  margin-top: 0px !important;
  margin-left: 0px;
  font-weight: 500;
  float: left;
}

.savedbody .savedoutr .savedblock {
  display: inline-block;
  width: 100%;
  border: 1px solid #dfe0e8;
  float: left;
  border-radius: 3px;
  margin-bottom: 15px;
}

.savedbody .savedoutr .savedblock .saveinrimg {
  display: inline-block;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: auto;
  overflow: hidden;
  float: left;
  padding: 15px 15px;
}

.savedbody .savedoutr .savedblock .saveinrimg img {
  width: 100%;
}

.savedbody .savedoutr .savedblock .saveinrimg .fodername {
  color: #000;
  font-size: 14px;
  margin-bottom: 0px;
  float: left;
}

.savedbody .savedoutr .savedblock .saveinrimg .savepostcount {
  float: left;
  display: inline-block;
  padding: 0px 15px;
  color: #8c8c8c;
}

.savedbody .savedoutr .savedblock .saveinrimg .postcreatdate {
  float: left;
  width: 100%;
  margin-top: 5px;
  color: #8c8c8c;
  font-size: 12px;
  font-weight: 500;
}

.savedbody .savedoutr .savedblock .folderfooter {
  display: inline-block;
  padding: 11px 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #f5f7fa;
  border-top: 1px solid #dfe0e8;
  float: left;
}

.savedbody .savedoutr .savedblock .folderfooter span:first-child {
  font-family: open_sansbold;
  font-size: 14px;
}

.savedbody .savedoutr .savedblock .folderfooter span:last-child {
  color: #8c8c8c;
  float: right;
}

.savedbody .savedoutr .savedblock .addfldr_footer {
  background: transparent;
  border-top: 0px solid;
  padding: 0 11px 10px;
  float: left;
}

.savedbody .savedoutr .savedblock .addfldr_footer button {
  height: 29px;
  line-height: 29px;
}

.savedbody .savedoutr .save_edit {
  position: absolute;
  right: 0px;
  padding: 16px;
}

.savedbody .savedoutr .save_edit .postmenubtn {
  border-left: 1px solid #dfe0e8;
  border-radius: 3px 3px 3px 3px;
}

.savedbody .savedoutr .save_edit .postright_btn {
  line-height: 24px;
}

.save_addimage {
  text-align: center;
  line-height: 165px;
  border: 3px dashed #dfe0e8;
}

.save_addimage img {
  width: 60% !important;
}

.about_outer .widgetheading {
  padding: 10px 15px;
  font-size: 14px;
  color: #8c8c8c;
}

.about_outer .savedlist {
  padding: 0px 0px 10px;
  float: left;
  width: 100%;
  min-height: 265px !important;
  max-height: 100% !important;
}

.about_outer .savedlist li {
  float: left;
  width: 100%;
  position: relative;
  line-height: 22px;
  padding: 10px 10px;
  border-left: 2px solid transparent;
  cursor: pointer;
}

.about_outer .savedlist li .interest_count {
  background-color: #fff;
  color: #2c2e2f;
  padding: 1px 5px;
  border-radius: 3px;
  font-size: 10px;
  float: right;
  overflow: hidden;
  line-height: normal;
  margin-top: 2px;
  border: 1px solid #dfe0e8;
}

.about_outer .savedlist li .spanfolder {
  cursor: pointer;
  float: left;
  font-weight: 500;
  max-width: 230px;
  overflow: hidden;
  word-break: break-all;
}

.about_outer .savedlist li .spanfolder .postcount {
  float: left;
  width: 100%;
  color: #8c8c8c;
}

.about_outer .savedlist li .savedpost {
  float: left;
  width: 100%;
}

.about_outer .savedlist li.active {
  border-left: 2px solid #F05050;
  background: #f5f7fa;
  color: #F05050;
}

.about_outer .savedlist li.active .interest_count {
  background-color: #e94f59;
  color: #fff;
  border: 1px solid #e94f59;
}

.about_outer .savedlist .savededit {
  float: right;
  margin-right: 2px;
  display: none;
}

.about_outer .savedlist li:hover .savededit {
  display: block;
}

.folderdetails {
  float: left;
  width: 100%;
  display: inline-block;
  margin-bottom: 10px;
}

.folderdetails .typeoffolder {
  line-height: 22px;
  color: #000;
  padding: 10px 0px 0px 0px;
  font-size: 14px;
}

.folderdetails .foldersaved {
  float: left;
  width: 100%;
  line-height: 22px;
  font-weight: 500;
  color: #2c2e2f;
  margin-top: 10px;
  position: relative;
}

.folderdetails .foldersaved span {
  padding: 0px 5px 0px 0px;
  position: relative;
  display: inline-block;
  background-color: #e6e6e6;
}

.folderdetails .foldersaved:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ccc;
  left: 0%;
  top: 50%;
}

.folderdetailsother {
  margin: 7px 0px;
  font-size: 14px;
}

.folderdetailsother .foldersaved {
  margin-top: 0px;
}

.mainheading {
  padding-right: 0px;
  font-size: 14px;
  padding: 10px 15px !important;
  line-height: 15px !important;
}

.mainheading .edit_delete_option {
  margin-top: -3px;
  float: right;
}

.mainheading .edit_delete_option .option_dlt_edit {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #e9e9e9;
  text-align: center;
  padding-top: 0;
  border: 1px solid #e9e9e9;
  float: right;
  margin-top: -2px;
  margin-left: 10px;
  cursor: pointer;
}

.mainheading .edit_delete_option .option_dlt_edit img {
  margin-top: 5px;
}

.mainheading .edit_delete_option .savedrpdenbtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.saved-post-page-wrapper .post_outer {
  border-radius: 5px !important;
  margin-top: 15px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  border: 1px solid rgba(44, 46, 47, 0.2) !important;
}

.drop_edit .edit_opt:hover .default {
  display: none !important;
}

.drop_edit .edit_opt:hover .hoverimg {
  display: inline-block !important;
}

.drop_edit .edit_opt .default {
  display: inline-block;
}

.drop_edit .edit_opt .hoverimg {
  display: none;
}

.24x7button {
  background-color: #fff !important;
  right: 50%;
  color: #000 !important;
  height: 38px;
  border-radius: 33px !important;
  -ms-box-shadow: 0 1px 2px 2px rgba(44, 46, 47, 0.1);
  -o-box-shadow: 0 1px 2px 2px rgba(44, 46, 47, 0.1);
  -webkit-box-shadow: 0 1px 2px 2px rgba(44, 46, 47, 0.1);
  box-shadow: 0 1px 2px 2px rgba(44, 46, 47, 0.1);
  margin-top: 0px;
  margin-right: 0px;
}

.24x7button:hover {
  background-color: #2e2c2f10 !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.emptystate_inner img {
  width: 100px !important;
}

.rightmenu_fixed {
  float: left;
  width: 278px;
}

.rightmenu_fixed.fixedleft {
  position: fixed;
  width: 278px;
  float: left;
}

.pdng_right {
  padding-right: 0;
}

.pdng_left {
  padding-left: 0;
}

.maindiv.saved-post-main {
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}

.maindiv.saved-post-main .mainheading {
  padding-left: 15px;
  padding-bottom: 15px;
  padding-top: 15px;
  background-color: #f5f7fa;
  line-height: 1;
  -moz-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom: 1px solid #eaeaea;
}

.maindiv.saved-post-main .mainheading .savededit {
  float: right;
  margin-right: 15px;
}

.maindiv.saved-post-main .mainheading .savededit .folderremove {
  cursor: pointer;
}

.maindiv.saved-post-main .inner-main-div {
  padding-right: 15px;
  padding-left: 15px;
}

.maindiv.saved-post-main {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.maindiv.saved-post-main .tab-wrap {
  background-color: #f5f7fa;
}

.maindiv.saved-post-main .tab-wrap .mainheading.tabbing-title {
  float: left;
  padding-right: 7px;
  padding-left: 7px;
  border-bottom: 2px solid transparent;
}

.maindiv.saved-post-main .tab-wrap .mainheading.tabbing-title:first-child {
  margin-left: 10px;
}

.maindiv.saved-post-main .tab-wrap .mainheading.tabbing-title.active {
  border-bottom-color: #F05050;
}

.maindiv.saved-post-main .tab-wrap .mainheading.tabbing-title {
  margin-right: 10px;
}

.saved-post-page-wrapper .post-footer-btn-outer-wrap {
  display: none;
}

.saved-post-page-wrapper .comment_outer {
  display: none;
}

.saved-post-page-wrapper .post_options, .saved-post-page-wrapper .result-wrapper {
  display: none;
}

.saved-post-page-wrapper .post_profile.postshared_profile {
  display: block;
}

.saved-post-page-wrapper .post_outer {
  border-radius: 0;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border-bottom: 1px solid #ccc;
  margin-bottom: 0;
}

.saved-post-page-wrapper .post_outer .post_profile, .saved-post-page-wrapper .post_outer .post_profileContent {
  padding-right: 0;
  padding-left: 0;
}

.saved-post-page-wrapper .post_outer .shared-post-text {
  display: none;
}

.saved-post-page-wrapper .post_outer:last-child {
  border-bottom: 0px solid #ccc;
}

.saved-post-page-wrapper .shared-post-blocks-wrap {
  border: none;
  margin-right: auto;
  margin-left: auto;
}

.saved-post-page-wrapper .post_outer.link-post-comp .post_profileContent a {
  border: none;
  margin-top: 0;
}

.saved-post-page-wrapper .post_outer {
  border: none;
  border-bottom: 1px solid rgba(44, 46, 47, 0.2);
}

.saved-post-page-wrapper .post_outer:last-child {
  border-bottom: none;
}

.saved-post-page-wrapper .attachment-post-comp .attached-file-wrap {
  margin-bottom: 10px;
}

.saved-post-page-wrapper .img-post-comp .postmain_container img {
  margin-bottom: 10px;
  max-width: 220px;
  max-height: 220px;
}

.savededit {
  margin-right: 0px !important;
}

.emptystate .emptystate_inner p {
  font-size: 14px !important;
}

.shared-post-blocks-wrap {
  width: 100% !important;
}

.shared-post-blocks-wrap .pageuserinfo {
  width: 453px !important;
}

.wrapper.saved-post-page-wrapper.user_saved_post .post_outer.shared-link-post-comp.shared-post .shared-post-blocks-wrap .post_profile .profiledetail.pageuserinfo {
  width: 400px !important;
}

.savedpost_btn {
  display: none;
}

.popup_background_view .sharescreenpostview .post_outer {
  margin-top: 0px !important;
  border: 0px solid rgba(44, 46, 47, 0.2) !important;
}

@media screen and (max-width: 991.5px) and (min-width: 300px) {
  .mainheading {
    padding-left: 40px !important;
  }
  .right_stickytab {
    display: none !important;
  }
  .right_stickytab .rightmenu_fixed.fixedleft {
    display: none !important;
    position: relative;
  }
  .right_stickytab .rightmenu_fixed {
    display: none !important;
  }
  .savedpost_btn {
    display: block;
  }
}

.drpdwn_edit {
  right: 15px;
}

.savedpost_btn {
  position: relative;
  margin-top: -7px !important;
}

.savedpost_btn .postright_btn.postmenubtn img {
  -webkit-transform: none;
          transform: none;
  width: 15px !important;
}

.savedpost_btn .saved_foldersave {
  position: absolute;
  width: 255px;
  height: auto;
  right: 0;
  z-index: 2;
  top: 30px;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2) !important;
          box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2) !important;
}

.savedpost_btn .about_outer {
  margin-bottom: 0px !important;
}

@media screen and (max-width: 600px) and (min-width: 320px) {
  /* .container.main_body{
    margin-top:0;
  } */
  .maindiv {
    border-radius: 0;
  }
}

@media only screen and (max-width: 600px) {
  .container.main_body {
    margin-top: 67px;
  }
  .maindiv.saved-post-main {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}
/*# sourceMappingURL=saved.component.css.map */