<div
    class="header-interest-dropdown">
    Explore Tests
    <label class="down_arrow">
        <img class="downIcon"
            src="https://img1.study24x7.com/assets/images/svg-three/login_icon/interestdropdown.svg"
            alt="">
        <img class="ActiveDropIcon"
            src="https://img1.study24x7.com/assets/images/svg-three/login_icon/interestdropdown-red.svg"
            alt="">
    </label>
    <div class="hide-crs-dd">
        <div class="crs-dropdown">
          <div class="_wrapper">
            <ul class="no-list-style crs-ul-list">
                <li  class="link_call_a">
                    <span class="crc_imgg"><img src="assets/images/scholarship/scholarshipAward.svg" alt=""></span>
                    <span class="award_heading">Scholarships<br> for every grade</span>
                    <p class="content___">Explore our collection<br> of scholarships</p>
                </li>
                <li (click)="redirectTo('scholarship')" class="list_coll" [ngClass]="{'focused':endPoint=='scholarship' }">
                  <span class="crc_imgg_w" style="width:170px"><img src="assets/images/scholarship/schoDropImg.png" alt=""></span>
                  <span class="award_heading_w">for Class IX and X</span>
                  <p class="content___w">We empower educators<br> to engage students and<br> unleash their potential</p>
                  <span class="explore_test">Explore Test</span>
                </li>
                <li (click)="redirectTo('nat')" class="list_coll" [ngClass]="{'focused':endPoint=='nat' }">
                  <span class="crc_imgg_w"><img src="assets/images/scholarship/natDrop.png" alt=""></span>
                  <span class="award_heading_w">for Class XI and XII</span>
                  <p class="content___w">We empower educators<br> to engage students and<br> unleash their potential</p>
                  <span class="explore_test">Explore Test</span>
                </li>
                <li (click)="redirectTo('ntt')" class="list_coll" [ngClass]="{'focused':endPoint=='ntt' }">
                  <span class="crc_imgg_w" style="width:180px"><img src="assets/images/scholarship/nttDrop.png" alt=""></span>
                  <span class="award_heading_w">for Undergraduates/Graduates</span>
                  <p class="content___w">We empower educators<br> to engage students and<br> unleash their potential</p>
                  <span class="explore_test">Explore Test</span>
                </li>
            </ul>
          </div>
        </div>
    </div>

</div>

<!-- responsive -->
<div class="hide-crs-dd explore_responsive" style="visibility:visible;opacity:1;">
    <div class="crs-dropdown">
      <div class="_wrapper">
        <ul class="no-list-style crs-ul-list">
            <li (click)="redirectTo('scholarship')" class="list_coll activeBg" [ngClass]="{'focused':endPoint=='scholarship' }">
              <span class="crc_imgg_w"><img src="assets/images/scholarship/schoDropImg.png" alt=""></span>
              <span class="award_heading_w">for Class IX and X</span>
              <p class="content___w">We empower educators to engage students<br> and unleash their potential</p>
              <span class="explore_test_arrow"><img src="assets/images/scholarship/rightarrow.svg" alt=""></span>
            </li>
            <li (click)="redirectTo('nat')" class="list_coll activeBg" [ngClass]="{'focused':endPoint=='nat' }">
              <span class="crc_imgg_w"><img src="assets/images/scholarship/natDrop.png" alt=""></span>
              <span class="award_heading_w">for Class XI and XII</span>
              <p class="content___w">We empower educators to engage students<br> and unleash their potential</p>
            <span class="explore_test_arrow"><img src="assets/images/scholarship/rightarrow.svg" alt=""></span>
            </li>
            <li (click)="redirectTo('ntt')" class="list_coll activeBg" [ngClass]="{'focused':endPoint=='ntt' }">
              <span class="crc_imgg_w"><img src="assets/images/scholarship/nttDrop.png" alt=""></span>
              <span class="award_heading_w">for Undergraduates/Graduates</span>
              <p class="content___w">We empower educators to engage students<br> and unleash their potential</p>
            <span class="explore_test_arrow"><img src="assets/images/scholarship/rightarrow.svg" alt=""></span>
            </li>
        </ul>
      </div>
    </div>
</div>
