$btnpda:8px 15px;
$btnpdlr:0px 15px;
$btnpdl:15px;
$btnpdr:15px;
$btnh:34px;
$btnbcolor-white:#fff;
$btnbcolor-red:#fff;
$btnbcolor:#fff;
$btnbcolor:#fff;
$btnboxshadowcolor: rgba(0, 0, 0, 0.05);
$btnboxshadow: 0 2px 2px 0 $btnboxshadowcolor;
$btnbradius:24px;
$color-black:#000;
$color-black90:rgba($color-black, .9);
$color-black60:rgba($color-black, .6);
$bg-white:#fff;
$c-white:#fff;
$c-coral:#f05050;
$c-scarlet:#e11414;
$c-black:#000;
$b-whisper:#e5e5e5;
$bg-primery:#f05050;
$bg-snow:#fff6f6;
$b-sundown:#f7a7a7;
$b-light-grey:#cccccc;
$bg-alice-blue:#f5f7f9;
$bg-tutu:#fde5e5;
$c-white:#ffffff;


.btn-center{
  margin: 0 auto;
}

.btnflex{
  display: flex;
  justify-content: center;
  align-items: center;
  height: $btnh;
  border-radius: $btnbradius;
  padding: 5px 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  transform: none;
  // transition: all 0.3s;
  img{
    width: 14px;
    margin-right: 5px;
  }
}
.btnflex-center{
  margin:auto;
}
.f12{
  font-size: 12px;
}
.btn-main{}
.btn-noimg{
  img{
    display: none;
  }
}
.btn-main-line{
  &:hover{
    text-decoration: underline;
  }
}
.btn-default{
  height: $btnh;
  width:auto;
  padding: 8px 15px 8px 15px;
  border-radius: 16px;
  margin: 0px auto;
  align-items: center;

}
.btn-a{
  &:active{
  transform: scale(0.96);
  }
}
.btntextRow{
color:rgba($c-coral, 0.9);
text-decoration: none;
width: auto;
display: flex;
justify-content: left;
align-items: center;
border: none;
background-color: transparent;
padding: 0px;
font-size: 14px;
img{
margin-right: 5px;
width: 14px;
}
span{
  &:hover{
    text-decoration: underline;
  }
}
}
.btntextdisable{
  @extend .btntextRow;
  color:rgba($c-coral, 0.6);
  cursor: none;
  span{
    &:hover{
      text-decoration: none;
    }
  }
}

.btn-enable{
box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
border: solid 1.5px $b-sundown;
background-color: $bg-snow;
color: $c-coral;
}
.btn-disable{
box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
border: solid 1.5px $b-sundown;
background-color: $bg-snow;
color: $c-coral
}

.btn-decline{
  border: solid 1.5px $b-light-grey;
  color: rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
}

.btn-decline-h{
  &:hover{
background-color: $bg-alice-blue;
}
}

.btn-round{
  width: 34px;
  height: 34px;
  padding: 0px;
  border-radius: 20px;
    img{
      width: 16px;
      margin-right: 0px;
    }
 }

.btn-round-red{
border: solid 1.5px $b-sundown;
background-color: $bg-snow;
}
.btn-roundBg-red{
border: solid 1.5px $c-coral;
background-color: $c-coral;
color:$c-white;
}
.btn-round-gray{
// border: solid 1.5px $b-light-grey;
// background-color: $bg-snow;
border: solid 1.5px rgba(0, 0, 0, 0.1) !important;
background-color: rgba(255, 255, 255, 0.3) !important;
}
.btn-transparent{
  background-color: transparent !important;
}


/*** btn coral css start ****/
.btn-coral{
border: solid 1.5px $c-coral;
background-color: $c-coral;
display: flex;
color: $bg-white;
}
.btn-coral-h{
  &:hover{
    border: solid 1.5px $c-scarlet;
    background-color: $c-scarlet;
    // display: flex;
    // color: $bg-white;
  }
}


/*** btn coral css end ****/

/*** btn coral with outline css start ****/
.btn-blush{
box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
border: solid 1.5px $b-sundown;
background-color: $bg-snow;
color: $c-coral;
}
.btn-blush-h{
  &:hover{
background-color:$bg-tutu;
}
}

.btn-blush-no-b{
box-shadow: none;
background-color: $bg-snow;
color: $c-coral;
border:none;
border: solid 1.5px $b-sundown;
}
.btn-snow-no-b{
box-shadow: none;
background-color: $bg-snow;
color: $c-coral;
border:none;
border: solid 1.5px $bg-snow;
}
.btn-snow-no-b{
  &:hover{
box-shadow: none;
background-color: $bg-snow;
color: $c-coral;
border:none;
border: solid 1.5px $bg-snow;
}
}
.btn-tutu-no-b{
box-shadow: none;
background-color: $bg-tutu;
color: $c-coral;
border:none;
border: solid 1.5px $bg-tutu;
}
.btn-tutu-no-b-h{
  &:hover{
box-shadow: none;
background-color: $bg-tutu;
color: $c-coral;
border:none;
border: solid 1.5px $bg-tutu;
}
}

.btn-blush-no-b-h{
  &:hover{
background-color:$bg-tutu;
}
}
.btn-blush-e{
box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
border: solid 1.5px $b-sundown;
background-color: $bg-snow;
color: $c-coral
}
.btn-blush-d{
box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
border: solid 1.5px $b-sundown;
background-color: $bg-snow;
color: $c-coral
}
/*** btn coral with outline css start ****/

.buttonreqSend{
border: none;
background-color: $bg-white;
display: flex;
color: $c-coral;
}
.btn48{
  display: none;
}
.btn60{
  display: none;
}
.btn76{
  display: none;
}
.btnweb60{
  display: flex;
}
.btnweb76{
  display: flex;
}
.btnweb{
  display: flex;
}
.btnres60{
  img{
  &:nth-child(1){
    display:block;
  }
  &:nth-child(2){
    display:none;
  }
}
}

.oneLine{
  line-clamp:1;
  -webkit-line-clamp: 1;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
}

.twoline{
  @exatend .oneLine;
  line-clamp:2;
  -webkit-line-clamp: 2;
}



@media only screen and (max-width:768px){
  .btnweb76{
    display: none;
  }
  .btn76{
    display: flex;
  }

  }



@media screen and (max-width:600px){
  .btnweb60{
    display: none;
  }
  .btnrescntr{
    font-size: 12px;
    padding: 10px 12px;
  }
  .btnres60{
    img{
    &:nth-child(1){
      display:none;
    }
    &:nth-child(2){
      display:block;
    }
  }
  }
  .btn-noimg{
    img{
      display: block;
      margin-right: 0px;
    }
    span{
      display: none;
    }
  }
  .btn-round60{
    width: 34px;
    height: 34px;
    padding: 0px;
    border-radius: 20px;
    box-shadow:none;
      img{
        width: 16px;
        margin-right: 0px;
      }
    span{
      display:none;
    }
  }
  .btn-round60-red{
  border: solid 1.5px rgba(240, 80, 80, 0.5) !important;
  background-color: $bg-snow !important;
  }
  .btn-round60-red-h{
  border: solid 1.5px rgba(240, 80, 80, 0.5) !important;
  background-color: $bg-snow !important;
  }
  .btn-round60-gray{
  border: solid 1.5px rgba(0, 0, 0, 0.1) !important;
background-color: rgba(255, 255, 255, 0.3) !important;
  }
  .btn-round60-gray-h{
    border: solid 1.5px rgba(0, 0, 0, 0.1) !important;
  background-color: rgba(255, 255, 255, 0.3) !important;
  }
  .btn76{
    display: none;
  }
  .btn60{
    display: flex;
  }
}

@media only screen and (max-width:480px){
  /* .btn60{
    display: none;
  } */
  .btn48{
    display: flex;
  }
}
