/* ==========================================================================
  Common variables
  ========================================================================== */
/**
*
* DO NOT use these variables directly in components.
* Assign them to component specific variables
*
*/
/* font-family */
/* font-family*/
/* Colors */
/* Border radius */
/* ==========================================================================
  Browser support
  ========================================================================== */
/* ==========================================================================
  Component specific variables
  ========================================================================== */
/* Typography
   ========================================================================== */
/* $baseFontFamily: Arial, sans-serif; */
/* $baseSpacing: $baseLineHeight+em; */
/* $baseTextColor: $black; */
/* Type Color */
/* $typeHighlight: $blue;
$typeLowlight: $lightGrey; */
/* Link
   ========================================================================== */
/* $linkColor: $blue;
$linkHoverColor: $lightBlue; */
/* Background
   ========================================================================== */
/* $bgBasic: #fff; */
/* Box
   ========================================================================== */
/* Contour */
/* $boxBasicBorderRadius: $borderRadiusDefault; */
/* Box foot */
/* $boxFootDivider: $blue; */
/* Divider
   ========================================================================== */
/* $dividerColor: $blue; */
/* List
   ========================================================================== */
/* $listInlineDividerBorder: $lightGrey;
$listBorder: $lightGrey; */
/* Table
   ========================================================================== */
/* $tableBorderColor: $blue; */
/* Form
   ========================================================================== */
/* $labelLeftWidth: 30%;
$formFieldBorder: 1px solid $grey;
$placeholderText: $lightGrey; */
/* Button
   ========================================================================== */
/* $btnDefaultBg: #ddd;
$btnDefaultBorder: $lightGrey; */
/* Template
   ========================================================================== */
/* $skipLinkBg: $black;
$bodyBg: #fff;
$pageWidth: 997px; */
/* header */
/* $headerBgStop1: #09456a;
$headerBgStop2: #02587e;
$contentBg: #fff;
$contentWidth: 960px; */
/* footer */
/* $footerBorder: $lightGrey; */
.Radio, .checkbox {
  display: none;
}

.Radio + .radio_btn {
  display: inline-block;
  height: 13px;
  width: 13px;
  border: 1px solid #dfe0e8;
  border-radius: 50%;
  position: relative;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.Radio + .checkbox_btn {
  display: inline-block;
  height: 15px;
  width: 15px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  position: relative;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  margin-right: 10px;
}

.Radio + .checkbox_btn .checkboximg {
  height: 10px;
  width: 10px;
  float: left;
  margin: 2px 0 0 2px;
  display: none;
}

.Radio + .checkbox_btn .showcheckbox {
  height: 11px;
  width: 11px;
  margin: 1px 0 0 1px;
  background-image: url("../../../assets/images/sprite/loginpage.svg#chechbox");
  display: none;
  background-size: 100% 100%;
}

.Radio:checked + .checkbox_btn {
  background-color: #65BFA3;
  border: 1px solid #65BFA3;
}

.Radio:checked + .checkbox_btn .checkboximg {
  display: block;
}

.Radio:checked + .checkbox_btn .showcheckbox {
  display: block;
}

.Radio:checked + .checkbox_btn .radio_btn_text {
  display: none;
}

.Radio:checked + .radio_btn {
  border: 1px solid #F05050;
}

.Radio:checked + .addpost_label {
  border: 1px solid #F05050;
  background-color: #fff;
  color: #F05050;
}

.Radio:checked + .radio_btn:before {
  background: #F05050;
}

.coverLabel {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  cursor: pointer;
}
/*# sourceMappingURL=radiobtn.css.map */