@import 'app/sass/abstracts/variables';
@import 'app/sass/abstracts/fontfamily';
.fooetrprivacy{
  background-color: #fff;
float: left;
width: 100%;
}
.bannerbg{
  background-image: url("assets/images/login-bg2.svg");
  width: 100%;
position: fixed;
left: 0;
right: 0;
height: 115px;
bottom: -25px;
z-index: 0;
background-repeat: no-repeat;
background-size:  cover;

background: #f05050;
background: -moz-linear-gradient(top,  #f05050 0%, #ef4343 100%, #60abf8 100%);
background: -webkit-linear-gradient(top,  #f05050 0%,#ef4343 100%,#60abf8 100%);
background: linear-gradient(to bottom,  #f05050 0%,#ef4343 100%,#60abf8 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f05050', endColorstr='#60abf8',GradientType=0 ); /* IE6-9 */

}
.pagePolicy{width: 1170px;
margin: auto;padding: 0px 15px;
  .bottom_privacy{float: left;
      padding: 0;
      width: 510px;
      top: 10px;
      position: absolute;
        ul{float: left;
          width: 100%;
          list-style-type: none;
          margin-top: 25px;
          padding: 0;
          li{
            float: left;
            margin-bottom: 15px;
              color: #fff;
              font-family: $SourceSansPro;
              font-weight: 500;
          a{
            color: #fff;
            opacity: .9;
            transition: all .2s;
            cursor: pointer;
            padding: 10px 0px 0 10px;
            margin-right: 5px;
            padding: 10px 15px 0 0px;
            margin-right: 5px;
            font-size: 14px;
            transition: all .2s;


          &:hover{

            opacity: 1;
            text-decoration: underline ;
          }
}
&:nth-child(7){
  color: red;
  a{
  padding: 10px 0px 0 0px;
  margin-right: 0px;
}
}
&:last-child{
opacity: .6;
}
      }
    }
  }
}
  .bottom_privacy.mobile_privacy {
  	float: left;
  	padding: 15px 40px;
  	width: 100%;margin: 30px auto 0px auto;
    padding-top: 0px;
    max-width: 500px;
    float: none;
  	.mobile_privacy_inner{
  		float: left;
  		text-align: center;
  		border-top: 2px solid rgba(#333, 0.1);
  		padding: 15px 0px 25px 0px;
  		div{

  		}
  	}

  		a, p {

  			color: rgba($colorBlack, 0.9);
  			padding: 10px 8px 0 8px;
  			cursor: pointer;
  			font-size: 14px;display: inline-block;
  			transition: all 0.2s;
        font-family: $SourceSansPro;font-weight: 500;
  			}
  			p{cursor: default;
  margin-top: 10px;
  display: inline-block;
  color: rgba($colorBlack, 0.6)}


  }
  .fooetrprivacy{display: none;}
  // ================================================================================
  // responsive css start here
  // ===============================================================================
  @media screen and (max-width: 900px) {
    .bannerbg{display: none;}
      .fooetrprivacy{display: block;}
  }
