


<div class="mainSec">
    <div class="container  ">

      <div class="main_wrapper">
        <div class="contWrapper">
        <!-- <div class="imgRight course_left" (click)="showVideo()" style="cursor:pointer;">
          <img src="assets/images/career/videoSecImg.png">

      </div> -->
        <div class="imgRight course_left"  style="cursor:pointer;">
          <iframe class="videoPlayerYTube"    src="https://www.youtube.com/embed/hAaDL_K6ypQ?modestbranding=0&autohide=1&showinfo=0&rel=0" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" width="100%" height="100%" frameborder="0"
          allowfullscreen></iframe>

      </div>
      <div class="course_left " >
      <div class="course_left_inner " >
      <div class="course_feat_info fl100">
        <h3 class="heading_bold">Hone your talents & advance in your career!</h3>

    <ul class="fl100">
      <li>At Study24x7, you will get a lot of opportunities to work with top professionals and industry experts who will help you refine your current skills as well as impart new ones.</li>
      <li> You'll also learn to use the latest technologies like AI/ML, Data Analytics etc. making you future proof!</li>
    </ul>
    <div class="watchVideo" style="cursor:pointer;">Watch our Video</div>
  </div>
  </div>
  </div>
  </div>
</div>


</div>

</div>

<!-- popupvideo section start -->
<div *ngIf="closeVideoSec">
<div  class="vodMainSec"  >
    <div class="videoPlayerSec"  >

        <div class="playerclose" (click)="close()">
          <img alt="aio" src="assets/images/svg-three/live-wall/crossIcon.svg">
        </div>

      <iframe class="videoPlayerYTube"    src="https://www.youtube.com/embed/hAaDL_K6ypQ?autoplay=1"  frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" width="100%" height="100%" frameborder="0"
      allowfullscreen></iframe>
      </div>
</div>
<div (click)="close()" style="z-index:4;position: fixed;top:0;left:0;bottom: 0;right:0;opacity: .5;background-color: black;height: 100vh;width:100vw;">
</div>
</div>
<!-- popupvideo section end -->
