

<div class="bgwhite">
    <div class="container  pd80">

      <div class="main_wrapper">

      <div class="course_left ">
      <div class="course_feat_info fl100">
        <h3 class="heading_bold">Why Join Study24x7 ?</h3>
        <p>When we started Study24x7, we wanted to create the kind of environment we’d enjoy coming to everyday. So our offices are filled with talented people who don’t take themselves too seriously. We don't work 80-hour weeks, but we do work in an efficient and disciplined manner. </p>
    <ul class="fl100">
      <li>Full medical, health and lifestyle benefits</li>
      <li> Approachable and forward looking leadership team</li>
      <li>Social events, retreats and birthday celebrations</li>
      <li>Opportunity to contribute to the fast growing Edtech sector in India</li>
      <li>Opportunities for career advancement</li>

    </ul>
  </div>
  </div>
  <div class="imgRight">
    <img src="assets/images/career/whystudyimg.png" />
</div>
</div>
<app-careervideo ></app-careervideo>
</div>
</div>
