/* ========================================================================== Common variables ========================================================================== */
/**
*
* DO NOT use these variables directly in components.
* Assign them to component specific variables
*
*/
/* Colors */
/* Border radius */
/* ========================================================================== Browser support ========================================================================== */
/* ========================================================================== Component specific variables ========================================================================== */
/* Typography ========================================================================== */
/* $baseFontFamily: Arial, sans-serif; */
/* $baseSpacing: $baseLineHeight+em; */
/* $baseTextColor: $black; */
/* Type Color */
/* $typeHighlight: $blue;
$typeLowlight: $lightGrey; */
/* Link ========================================================================== */
/* $linkColor: $blue;
$linkHoverColor: $lightBlue; */
/* Background ========================================================================== */
/* $bgBasic: #fff; */
/* Box ========================================================================== */
/* Contour */
/* $boxBasicBorderRadius: $borderRadiusDefault; */
/* Box foot */
/* $boxFootDivider: $blue; */
/* Divider ========================================================================== */
/* $dividerColor: $blue; */
/* List ========================================================================== */
/* $listInlineDividerBorder: $lightGrey;
$listBorder: $lightGrey; */
/* Table ========================================================================== */
/* $tableBorderColor: $blue; */
/* Form ========================================================================== */
/* $labelLeftWidth: 30%;
$formFieldBorder: 1px solid $grey;
$placeholderText: $lightGrey; */
/* Button ========================================================================== */
/* $btnDefaultBg: #ddd;
$btnDefaultBorder: $lightGrey; */
/* Template ========================================================================== */
/* $skipLinkBg: $black;
$bodyBg: #fff;
$pageWidth: 997px; */
/* header */
/* $headerBgStop1: #09456a;
$headerBgStop2: #02587e;
$contentBg: #fff;
$contentWidth: 960px; */
/* footer */
/* $footerBorder: $lightGrey; */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap");
.bgwhite { background: #fff; width: 100%; float: left; }

.pd80 { padding-top: 90px; padding-bottom: 90px; }

.main_wrapper { width: 100%; float: left; }

.course_left { float: left; width: 47%; }

.heading_bold { font-family: "Montserrat"; font-size: 36px; color: #000000; font-weight: bold; }

.course_feat_info p { font-size: 16px; margin: 25px 0px 40px; color: #000000; line-height: 24px; padding-right: 95px; }

.course_feat_info ul li { padding: 0px 0px 15px 25px; width: 100%; float: left; position: relative; font-size: 16px; color: rgba(0, 0, 0, 0.9); line-height: 24px; }

.course_feat_info ul li::before { content: ""; background-image: url("./../../../../assets/images/career/red-tik.svg"); width: 15px; height: 12px; position: absolute; left: 0; top: 6px; }

.imgRight { float: right; width: 45%; text-align: right; }

.btneffect { z-index: 3; position: relative; transition: all ease-in .3s !important; -moz-transition: all ease-in .3s !important; -ms-transition: all ease-in .3s !important; -o-transition: all ease-in .3s !important; -webkit-transition: all ease-in .3s !important; -webkit-animation-name: btneffect; overflow: hidden; }

.btneffect:hover:before { animation-duration: 2s; animation-fill-mode: both; animation-name: btneffect; -webkit-animation-duration: 2s; -webkit-animation-fill-mode: both; -webkit-animation-name: btneffect; }

.btneffect:before { position: absolute; left: 50%; top: 50%; width: 800px; height: 800px; content: ""; border-radius: 50%; transform: translate(-50%, -50%) scale(0); -webkit-transform: translate(-50%, -50%) scale(0); transform-origin: center center; -webkit-transform-origin: center center; visibility: hidden; opacity: 0; z-index: -1; }

.btneffect:before, .btneffect:hover { background: #ff6363; }

@keyframes btneffect { from { transform: translate(-50%, -50%) scale(0);
    -webkit-transform: translate(-50%, -50%) scale(0);
    visibility: visible;
    opacity: 1; }
  to { transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
    visibility: hidden;
    opacity: 0; } }

@-webkit-keyframes btneffect { from { transform: translate(-50%, -50%) scale(0);
    -webkit-transform: translate(-50%, -50%) scale(0);
    visibility: visible;
    opacity: 1; }
  to { transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
    visibility: hidden;
    opacity: 0; } }

@media only screen and (max-width: 1024px) { .heading_bold { font-size: 32px; }
  .imgRight img { max-width: 100%; } }

@media only screen and (max-width: 768px) { .pd80 { padding-top: 40px; padding-bottom: 40px; }
  .heading_bold { font-size: 26px; }
  .course_left { float: left; width: 100%; }
  .imgRight { width: 100%; text-align: center; }
  .course_feat_info p { padding-right: 0px; } }

@media only screen and (max-width: 480px) { .heading_bold { font-size: 20px; }
  .course_feat_info p { font-size: 14px; margin: 15px 0px 25px; line-height: 20px; }
  .course_feat_info ul li { font-size: 14px; padding: 0px 0px 10px 25px; }
  .imgRight { padding: 0px 20px; } }
