
$stroke : #dfe0e8;
.error_main_heading{
  height: 55px;
  line-height: 55px;
  font-size: 16px !important;
}
.center_wrapperr{
  padding:20px;
  p{
    font-size: 14px;
  }
}

.popup-container{
  .claim_mail_wrap{
    width: 395px;
    max-height: 600px;
    height: auto;
  }
  .middle_wrapperr{
    padding:10px 10px 5px;
    width: 100%;
    float: left;
    .alert_claim{
      width: 100%;
      float: left;
      padding:10px;
      border:1px solid #f05050;
      background-color: #fedcdc;
      margin-bottom: 10px;
      border-radius: 5px;

      .alertimg{
        width:12%;float:left;
        img{width:30px;}
      }
      .rightalert{
        width: 80%;
        float: left;
        span{
          &:first-child{
            display: block;
            float: left;
            font-size: 12px;
            font-weight: bold;
          }
          &:last-child{
            display: block;
            float:left;
            font-size: 12px;
          }
        }
      }
    }
      .claim_wrapper_inner{
        padding:10px 25px 0;
        width: 100%;
        float: left;
        .fieldset{
          border-bottom: 1px solid #f5f7fa;
          width: 100%;
          float: left;
          padding-bottom: 15px;

        }
        .input_field{
          width: 100%;
          float: left;

          .field-inner{
            width:100%;
            float:left;
            margin-top:20px;
            label{
              margin-bottom: 10px;

              font-weight: normal;
              font-size: 14px;

            }
            .input_inner{
              height: 40px;
              border-radius: 3px;
              font-size: 16px;
              // -webkit-box-shadow: 0 0 3px 0 #00000040;
              // box-shadow: 0 0 3px 0 #00000040;
              border: none !important;
              padding-left: 10px;
              color: #333;
              border:1px solid $stroke !important;
            }
            .input_inner.activecolor{
              color:#909090 !important;
            }
          }
          p{font-size: 12px;
          text-align: center;
          margin-top: 10px;
          width: 100%;
          float: left;}
        }

          .left, .right{
              width: 40%;
              float:left;
          }
          .center{
            float: left;
            width:20%;
            text-align: center;
            padding: 0 25px 0 15px;
          }

      }
  }
  .claim_footerr{
    background-color:white;
    width: 100%;
    padding:15px;
    border-radius: 0 0 5px 5px;
    float: left;
      .claim_btn{
        height: 30px;
        border-radius: 24px !important;
        padding-left: 20px;
        padding-right: 20px;
        width: 120px;
        margin: auto;
        float: none;
        display: block;
      }
      .cancel_btn, .cancel_btn_red{
        font-size: 12px;
        text-align: center;
        display: block;
        margin-top: 15px;
        cursor: pointer;
      }
      .cancel_btn_red{
        color:#f05050;
        &:hover{
          text-decoration: underline !important;
        }
      }
  }
}
// end error popup
// radio
.left, .right {
          .k-radio, input.k-checkbox {
              display: inline;
              opacity: 0;
              width: 0;
              margin: 0;
              -webkit-appearance: none;
             overflow: hidden;
             position: absolute;
            }
           .k-checkbox-label, .k-radio-label {
                  display: inline-block;
                  position: relative;
                  padding-left: 28.8px;
                  vertical-align: text-top;
                  line-height: 16px;
                  cursor: pointer;
                  border-style: solid;
                  border-width: 0;
              }
              .k-radio-label{float: left;}

           .k-checkbox-label, .k-radio-label {
                 line-height: 18px;
color: #2c2e2f;
font-size: 14px;margin-bottom: 0px;
font-weight: normal;
}
.k-radio-label:before {
  border-color: #838383;
  border-radius: 50%;
  background-color: #fff;
  border-width: 2px;
}
.k-radio-label:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  border-style: solid;
}
.k-radio:checked + .k-radio-label:before, .k-radio:checked + .k-radio-label:hover:before {
  border-color: #F05050;
}
.k-radio:checked + label{
  color: #f05050;
}
.k-radio:checked + .k-radio-label:after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: 3px;
  left: 3px;
}
.k-radio:checked + .k-radio-label:after {
  top: 4px;
  left: 4px;
}
// .k-radio:checked + .k-radio-label-other:after {
//     top: 5px;
//
// }
.k-radio:checked + .k-radio-label:after {
  background-color: #F05050;
  border-radius: 50%;
}

}
