@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500&display=swap');
.hm-pg-header-left{
  width:auto;
  float: left;
  display: flex;
  flex-direction: row;
    .header-logo-image{
        display: inline-block;
        float: left;
        width: 120px;
        height: auto;
        margin-right: 80px;
        margin-top: 10px;
          .fill_logo{
          width: 100%;
          float: left;
          }
    }
    .header-interest-dropdown{
      text-decoration: none;
      // color: rgba(33,42,57,.76);
      font-size: 14px;
      // top: 24px;
      font-weight: 600;
      // height: 100px;
      line-height: 22px;
      padding: 20px 0;
      height: 60px;
      position: relative;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
      .down_arrow{
        margin-left: 8px;
    width: 12px;
    float: right;
      img{
         width: 100%;

        }
      }
      &:hover .down_arrow img{
        transform: rotate(180deg);
      }
    }
}
.header-interest-dropdown:hover .hide-crs-dd{
  display: block;
}
.hm-pg-header-left{
  .hide-crs-dd{
    float: right;
    display: none;
    // padding-top: 10px;
    .crs-dropdown{
      color: #212a39;
      margin-left: -132px;
      margin-top: 45px;
      border-radius: 4px;
      box-shadow: 0 4px 8px 0 rgba(33,42,57,.15);
      overflow: visible;
      position: fixed;
      width: 470px;
      min-height: 518px;
      height: auto;
      z-index: 999999;
      background: #dfe5eb;
      .crs-ul-list{
        margin: 0;
       width: 235px;
       padding: 15px 0;
       list-style: none;
       li{
         &:hover{
          // color: #0f77df;
          background: #fff;
          border-radius: 2px;
          border-left: 4px solid #f05050;
          cursor: pointer;
          }
        }
        li.active{
          background: #fff;
          border-radius: 2px;
          border-left: 4px solid #f05050;
          cursor: pointer;
        }

      .li_heading{
        padding-top: 16px;
        pointer-events: none;
        cursor: none;
        color: #212a39;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 16px;
        // font-weight: 600;
        line-height: 22px;
      }
        .crs-main-list{
          color: #212a39;
          font-size: 14px;
          font-weight: 500;
          // line-height: 17px;
          padding: 10px 25px;

        }
        li.active .crs-sublist, li:hover .crs-sublist{
          width: 235px;
          max-height: 518px;
          height: 518px;
          color: #212a39;
          overflow: visible;
          cursor: initial;
          overflow-y: auto;
        }
      }
    }
  }
}


.no-list-style {
    list-style: none;
}
.crs-dropdown ul li {
    padding: 6px 25px;
    transition: all .2s ease-in-out;
}
.crs-sublist{
  padding: 16px 0;
    border: 0;
    left: 235px;
    background: #fff;
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    li{
      border:none !important;
      &:hover span{
        color: #f05050;
      }
    }
}
.li-nohover{
  pointer-events: none;
    cursor: none;
    color: #212a39;
}
.crs-dd-ul-head {
    text-transform: uppercase;
    font-weight: 700;
}
.h4-bold-font-size {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
}
.crs-list-txt{
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  color: #212a39;
}
._header ._button_wraqpper{
  padding-bottom: 12px;
}
@media only screen and (max-width:767px) {
  .hm-pg-header-left{
    .header-logo-image {
    margin-top: 5px;
}
}
}
