// $sourceSansPro:'Source Sans Pro', sans-serif;
$lightgreenBg: #4aa564;
._earn_points_container{
  width: 100%;
  float: left;
  ._point_heading{
    width: 100%;
    padding:20px 15px;
      h2{
        // font-family: $sourceSansPro;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.25;
        color: #262626;
        margin-bottom: 5px;
      }
      p{
        opacity: 0.8;
        // font-family: $sourceSansPro;
        font-size: 16px;
        font-weight: normal;
        line-height: 1.25;
        text-align: left;
        color: #262626;
      }
  }
  ._center_one{
    width: 100%;
    float: left;
    border-top: 1px solid #dfe5eb;
    padding:5px 15px 0;

  }
  ._center_contribute{
    width: 100%;
    float: left;
    // opacity: 0.1;
   // border: solid 1px #009c05;
   background-color: rgba($lightgreenBg, 0.1);
   ._pointContainer{
     width: 100%;
     float: left;
     padding:0 15px 10px;
   }
   .gainPoint_heading{
     // font-family: $sourceSansPro;
     font-size: 18px;
     font-weight: 500;
     line-height: 1.28;
     color: #333333;
     padding:20px 20px 0px 48px;
   }
  }
}
._point_detail{
  width: 100%;
  float: left;
  position: relative;
  padding-left: 30px;
  margin: 15px 0;
  ._discritionImg{
    width: 14px;
    height: 13px;
    float: left;
    position: absolute;
    left: 8px;
    top: 4px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    // img{
    //   width: 100%;
    //   height: 100%;
    //   float: left;
    // }
  }
  .flagicon{
    background-image: url("./../../../../assets/images/leaderboard/flagIcon.svg");

  }
  .tickicon{
    background-image: url("./../../../../assets/images/leaderboard/earntick.svg");


  }
  .happyicon{
    background-image: url("./../../../../assets/images/leaderboard/svg2.svg");


  }
  .sadicon{
    background-image: url("./../../../../assets/images/leaderboard/svg3.svg");


  }
  p{
    // font-family: $sourceSansPro;
    font-size: 16px;
    line-height: 1.25;
    text-align: left;
    color: rgba(0, 0, 0, 0.8);
    padding-bottom: 8px;
    position: relative;
  }
  .pointearn{padding-left: 32px;
    ._discritionImg {
       width: 16px;
       height: 16px;}
  }
  ._btn_fill{
    float: left;
    margin-top: 10px;
  }
  ._contr_hding{
    margin-bottom: 6px;
  }
}
span.bold_earnpoint{
  display: inline-block;
  font-weight: 600;
  margin-right: 3px;
  color:#000;
}
button._earnpoint{
  height: 32px;
  border-radius: 4px;
  // -webkit-filter: blur(8px);
  // filter: blur(8px);
  padding: 0 15px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
  background-color: #02bfe7;
  // font-family: $sourceSansPro;
  font-size: 14px;
  font-weight: 500;
  line-height: 0.71;
  color: #ffffff;
}
._mypoint_container._outer{}
// @media only screen and (max-width:992px){
//   ._mypoint_container._outer{margin-bottom: 15px;}
// }
