


<!-- <app-addreviews></app-addreviews>
<div class="post_outer text-post-comp">
	<div class="post_profile">
		<div class="post-header-inner-wrap clearfix">
		<span class="post_profilepic cursor-pointer"><img tabindex="0" src="https://s3.ap-south-1.amazonaws.com/247-user/profile/59_60x60.png"></span>
		<div class="profiledetail">
		<span class="name cursor-pointer rating-span" tabindex="0">Rahil Ayaz
		           <span class="page_star">
                    <div class="stars">
                    <label class="star fill">
                    <img src="assets/images/svg-one/rate-active.svg">
                    </label>
                    <label class="star fill">
                         <img src="assets/images/svg-one/rate-active.svg">
                    </label>
                    <label class="star fill">
                         <img src="assets/images/svg-one/rate-active.svg">
                    </label>
                    <label class="star fill">
                         <img src="assets/images/svg-one/rate-active.svg">
                    </label>
                    <label class="star ">
                         <img src="assets/images/svg-one/rate-gray.svg">
                    </label>
                        <label class="star starcount">4.1</label>

                   </div>
            </span>
		</span>
		<span class="time">28 Apr 5:17 PM</span>
		</div>
					<span  class='leftmenudrop'>


				<span class="postright_btn postmenubtn" (click)="postdropdown()"><img src="assets/images/svg-three/post_icon/dot_menu.svg" class="postdropmenu defaultt"><img src="assets/images/svg-three/post_icon/f05050/dot_menu.svg" class="postdropmenu hoverr"></span>
				<span   class="postbookmarkbtn postright_btn" [ngClass]="{ activesaved : saveCondition}"
					(click)="savedpost();"
				><img src="assets/images/svg-three/left_menu/bookmark.svg" class="defaultt"><img src=" assets/images/svg-three/left_menu/f05050/bookmark.svg" title="save" class="hoverr"><img src="assets/images/svg-three/post_icon/f05050/bookmark_fill.svg" title="Saved" class="bookmarked">
			</span>
			<span class="drpdwn_post postdrop for-post" *ngIf="postmenu" (mouseleave)="this.postmenu = !this.postmenu" >
		      <ul >

		        <li *ngIf="my_profile" (click)="show=true"><div class="width100"><span class='default' ><img src="assets/images/svg/dropedit.svg"></span><span class='hoverimg' ><img src="assets/images/svg/dropedithover.svg"></span> <div class="postdropdown_inner">Edit<span class="time">You can edit your post</span></div></div></li>
		        <li *ngIf="!my_profile"  (click)="reprts(1)"><div class="width100"><span class='default' ><img src="assets/images/svg/dropedit.svg"></span><span class='hoverimg' ><img src="assets/images/svg/dropedithover.svg"></span> <div class="postdropdown_inner">Report<span class="time">Mark ad as offensive </span></div></div></li>
            <li *ngIf="my_profile" (click)="imgDeletePostCnf();"><div class="width100"><span class='default' ><img src="assets/images/svg/dustbindrop.svg"></span><span class='hoverimg' ><img src="assets/images/svg/dustbindrophover.svg"></span> <div class="postdropdown_inner">Delete<span class="time">You can delete your post</span></div></div></li>
		      </ul>
		    </span>
		</span>

	</div>
	</div>

	<div class="post_profileContent">
	<div class="postmain_container">


    <p  class="posttext posttextauto">
                It is a long established fact that a reader will be distracted by the
readable content of a page when looking at its layout. The point of
using Lorem Ipsum is that it has a m...</p>
       <a class="continue-reading">See more</a>

				<div class="posttagdiv"><span class="tags" id="1">Interest1</span></div>


	</div>
</div>
<div class="post-footer-btn-outer-wrap">
	<div class="post_footer post-footer-btn-wrap">

<span class="post_footeroption active dropdown-ppl-list-wrap clicked">

			<span ><span><img  class="defaultimp defaultt " src="assets/images/svg/thumb.svg" style="width:15px;height:15px"><img  class="activeimp hoverr" src="assets/images/svg/thumbactive.svg" style="width:15px;height:15px"></span>

			<span>Important</span><span  class="count-sq">1</span></span>





		</span>
		<span _ngcontent-c25="" class="post_footeroption">
			<span _ngcontent-c25=""><img _ngcontent-c25="" class="defaultt" src="assets/images/svg/comment.svg"><img _ngcontent-c25="" class="hoverr" src="assets/images/svg/comment-g.svg"></span>
			Comments
		</span>



                <span _ngcontent-c25="" class="post_footeroption dropdown-ppl-list-wrap">
			<span _ngcontent-c25=""><span _ngcontent-c25="" class="default"><img _ngcontent-c25="" class="defaultt" src="assets/images/svg/share.svg"><img _ngcontent-c25="" class="hoverr" src="assets/images/svg/share-g.svg"></span>

			<span _ngcontent-c25="">Share</span></span>



		</span>




	</div>
</div>


	<div  class="comment_outer clearfix">

            <div class="writecomment clearfix main-comment">

								<figure  class="comment-profile cursor-pointer"><img alt="study24x7" src="https://s3.ap-south-1.amazonaws.com/247-user/profile/272_60x60.png?v=1523873513276"></figure>
                <div class="optionoutr">

                    <div class="option_input ps-container ps-theme-default" style="position: relative;"  contenteditable="true">
                      <span class="placeholder">Write a comment...</span>‌
                        <span ></span>
                    <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; right: 0px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div>

                    <label  class="option_image">
                     <input  class="post_image"  type="file">
                    <label  class="fileupload_image" ><img  class="default" src="assets/images/svg-three/post_icon/img.svg"><img  class="on-hover" src="assets/images/svg-three/post_icon/f05050/img.svg"></label>
                    </label>
                </div>
            </div>



</div>

	</div> -->

<app-addreviews *ngIf="user_type==0 && reviewed==0" [pageId]='pageId' (reviewStatus)="checkReviewStatus($event)"></app-addreviews>
<div data-infinite-scroll
       [infiniteScrollDistance]="5"
       [infiniteScrollThrottle]="300"
       [immediateCheck] = "true"
       (scrolled)="onScrollDown()"
       [scrollWindow]="true">
       <div #container></div>
        <div class="emptystate" *ngIf="!reviewPresent && loadReviews==false">
                <div class="emptystate_inner">
                    <img class="emptyimg emptyreview" src="assets/images/svg-three/review/empty.svg">
                    <p style="padding:15px">No reviews yet!</p>
                </div>
        </div>
        <div class="loader2" *ngIf="loadReviews">
            <img src="assets/images/24x7preloader.gif" alt="study24x7" >
        </div>  
</div>
<!-- empty state -->
<!-- <div class= "emptystate" *ngIf = "postPresent==false">
    <img class="emptyimg" src="assets/images/emptystates/trending-pages.png" >
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam recusandae, dolor veniam</p>

</div> -->

<!-- end empty state -->
