<!--user review start-->
<div *ngIf="!isPublicView" class="userReviewWrtWrapper">
    <!--=================================================================================================================-->
    <div *ngIf="arr" style="float: left;width: 100%;">
        <div class="userDetailWrapper">
            <div class="userDetail">
                <span class="post_profilepic cursor-pointer">
                        <img id="Mainhun " routerLink="/profile/{{username}}" src="{{profile_pic_path}}" alt="aio">
                    </span>
                <div class="userName cursor-pointer">
                    <p class="name" routerLink="/profile/{{username}}">{{full_name |trimData:17}}</p>
                    <p class="activeTime">{{addDateTime}}</p>
                </div>
            </div>
            <div class="reviewDetail">
                <div class="star">
                    <div class="star_wrapper">
                        <label class="Pagerating" *ngIf="ratings==0.0">
                                <img   class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="aio">
                                <img   class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="aio">
                                <img   class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="aio">
                                <img   class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="aio">
                                <img   class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="aio">
                            </label>
                        <label class="Pagerating" *ngIf="ratings==0.5">
                                <img   class="star-half-svg" src="assets/images/course_icon/star-half-filled.svg" alt="aio">
                                <img   class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="aio">
                                <img   class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="aio">
                                <img   class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="aio">
                                <img   class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="aio">
                            </label>
                        <label class="Pagerating" *ngIf="ratings==1.0">
                                <img   class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="aio">
                                <img   class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="aio">
                                <img   class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="aio">
                                <img   class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="aio">
                                <img   class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="aio">
                            </label>
                        <label class="Pagerating" *ngIf="ratings==1.5">
                                <img   class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="aio">
                                <img   class="star-half-svg" src="assets/images/course_icon/star-half-filled.svg" alt="aio">
                                <img   class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="aio">
                                <img   class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="aio">
                                <img   class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="aio">
                            </label>
                        <label class="Pagerating" *ngIf="ratings==2.0">
                                <img   class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="aio">
                                <img   class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="aio">
                                <img   class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="aio">
                                <img   class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="aio">
                                <img   class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="aio">
                            </label>
                        <label class="Pagerating" *ngIf="ratings==2.5">
                                <img   class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="aio">
                                <img   class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="aio">
                                <img   class="star-half-svg" src="assets/images/course_icon/star-half-filled.svg" alt="aio">
                                <img   class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="aio">
                                <img   class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="aio">
                            </label>
                        <label class="Pagerating" *ngIf="ratings==3.0">
                                <img   class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="aio">
                                <img   class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="aio">
                                <img   class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="aio">
                                <img   class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="aio">
                                <img   class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="aio">
                            </label>
                        <label class="Pagerating" *ngIf="ratings==3.5">
                                <img   class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="aio">
                                <img   class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="aio">
                                <img   class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="aio">
                                <img   class="star-half-svg" src="assets/images/course_icon/star-half-filled.svg" alt="aio">
                                <img   class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="aio">
                            </label>
                        <label class="Pagerating" *ngIf="ratings==4.0">
                                <img   class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="aio">
                                <img   class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="aio">
                                <img   class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="aio">
                                <img   class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="aio">
                                <img   class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="aio">
                            </label>
                        <label class="Pagerating" *ngIf="ratings==4.5">
                                <img   class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="aio">
                                <img   class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="aio">
                                <img   class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="aio">
                                <img   class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="aio">
                                <img   class="star-half-svg" src="assets/images/course_icon/star-half-filled.svg" alt="aio">
                            </label>
                        <label class="Pagerating" *ngIf="ratings==5.0">
                                <img   class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="aio">
                                <img   class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="aio">
                                <img   class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="aio">
                                <img   class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="aio">
                                <img   class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="aio">
                            </label>
                    </div>
                    <span class="ratingText" *ngIf="ratings==0.5 || ratings==1.0">poor</span>
                    <span class="ratingText" *ngIf="ratings==1.5 || ratings==2.0">fair</span>
                    <span class="ratingText" *ngIf="ratings==2.5 || ratings==3.0">Good</span>
                    <span class="ratingText" *ngIf="ratings==3.5 || ratings==4.0">Very good</span>
                    <span class="ratingText" *ngIf="ratings==4.5 || ratings==5.0">Excellent</span>
                </div>
                <p>
                    {{REVIEW_DESCRIPTION}}
                </p>
                <div *ngIf="arr.length>0"> class="reviewfooter">
                    <!--------------------------------------(click)="important()"-------------------------------------->
                    <div class="reviewImp" [ngClass]="{ activeImp :liked}">
                        <span class="tik">
                                <img class="defoult"  src="assets/images/svg-three/post_icon/imp1.svg" alt="aio">
                                <img class="hover" src="assets/images/svg-three/post_icon/f05050/imp1.svg" alt="aio">
                                <img class="activeTik" src="assets/images/svg-three/post_icon/f05050/imp2.svg" alt="aio">
                            </span>
                        <span class="text" (click)="important()">Important</span>
                        <span (click)="impLikeShareFn()" class="count" *ngIf="LIKED_COUNT!=0">{{LIKED_COUNT}}</span>
                        <app-likeshareviewall (closeViewAllThread)="impLikeShareStatus = $event" *ngIf="impLikeShareStatus" [data]="userLikeShareList"></app-likeshareviewall>
                    </div>

                    <div class="reviewCommnt">
                        <span class="commntIcon">
                                <img class="defoult" src="assets/images/svg-three/post_icon/comment.svg" alt="aio">
                                <img class="hover" src="assets/images/svg-three/post_icon/f05050/comment.svg" alt="aio">
                            </span>
                        <span class="text" (click)="openCommentView($event)" id="{{rw_rtng_uuid}}_comment">Comment</span>
                        <span class="count" id='comm_id_{{rw_rtng_uuid}}' *ngIf="comment_count!=0">{{comment_count}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class='comment_outer' *ngIf="viewCommentList && isEnrolled==1">
            <div *ngIf="isEnrolled==1">
                <div class="writecomment clearfix main-comment" [ngClass]="{'comment-present':showReviewComment}">
                    <figure class="comment-profile cursor-pointer"><img src="{{_constantService.getSessionDataBYKey('p_pic')}}" alt="aio" (error)="updateProfilePic($event)"></figure>
                    <div class='optionoutr'>
                        <div class="placeholdercolor" contenteditable="true" (paste)="postData.onPaste($event)" ondrop="return false;" (keydown.enter)="false" (focusout)="showPlaceHolder($event)" (click)="hidePlaceHolder($event)" (keyup)="addComment($event)" id='{{Corsid}}_{{rw_rtng_uuid}}_comm'
                            #commentPlaceHolder (contextmenu)="postData.onPaste($event)">
                            {{_constantService.commentPlaceHolder}}
                        </div>
                        <div class="upload-img-outer-wrp" *ngIf="showCommentImg==2">
                            <span class='uploaded_image'>
                                    <span class="file-preloder" style="margin-top: 0px;"><img style="width:40px" src="assets/images/svg/preloader-25.svg" *ngIf="showPreloader"></span>
                            <span class="changeimg" (click)="showCommentImg=1;comment_image=null;uuid='';file_path='';" id="chng_{{Corsid}}_{{rw_rtng_uuid}}">Cancel</span>
                            <img src="{{image_upload_url}}">
                            </span>
                        </div>
                        <!--<label class="option_image" >
                                <input type="file" class="post_image" id="{{Corsid}}_{{rw_rtng_uuid}}_nci" (change)="addImageFile($event);" accept="image/*">
                                <label class="fileupload_image" for="{{Corsid}}_{{rw_rtng_uuid}}_nci"><img class="default" src="assets/images/svg-three/post_icon/img.svg" ><img class="on-hover" src="assets/images/svg-three/post_icon/f05050/img.svg" ></label>
                            </label>-->
                    </div>
                </div>
            </div>
            <div class='comment_list'>
                <div #container></div>
            </div>
            <a class="seemore" (click)="getreviewPagecomment();" *ngIf="commentPresent">See more comments</a>
        </div>
    </div>
</div>


<!--====================================================without Token================================================-->


<!--user review start-->
<div *ngIf="isPublicView" class="userReviewWrtWrapper">
    <div *ngIf="arr" style="float: left;width: 100%;">
        <div class="userDetailWrapper">
            <div class="userDetail">
                <span class="post_profilepic cursor-pointer">
                        <img routerLink="/profile/{{username}}" src="{{profile_pic_path}}" alt="aio">
                    </span>
                <div class="userName cursor-pointer">
                    <p class="name" routerLink="/profile/{{username}}">{{full_name |trimData:17}}</p>
                    <p class="activeTime">{{addDateTime}}</p>
                </div>
            </div>
            <div class="reviewDetail">
                <div class="star">
                    <div class="star_wrapper">
                        <label class="Pagerating" *ngIf="ratings==0.0">
                                <img   class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="aio">
                                <img   class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="aio">
                                <img   class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="aio">
                                <img   class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="aio">
                                <img   class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="aio">
                            </label>
                        <label class="Pagerating" *ngIf="ratings==0.5">
                                <img   class="star-half-svg" src="assets/images/course_icon/star-half-filled.svg" alt="aio">
                                <img   class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="aio">
                                <img   class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="aio">
                                <img   class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="aio">
                                <img   class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="aio">
                            </label>
                        <label class="Pagerating" *ngIf="ratings==1.0">
                                <img   class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="aio">
                                <img   class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="aio">
                                <img   class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="aio">
                                <img   class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="aio">
                                <img   class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="aio">
                            </label>
                        <label class="Pagerating" *ngIf="ratings==1.5">
                                <img   class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="aio">
                                <img   class="star-half-svg" src="assets/images/course_icon/star-half-filled.svg" alt="aio">
                                <img   class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="aio">
                                <img   class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="aio">
                                <img   class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="aio">
                            </label>
                        <label class="Pagerating" *ngIf="ratings==2.0">
                                <img   class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="aio">
                                <img   class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="aio">
                                <img   class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="aio">
                                <img   class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="aio">
                                <img   class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="aio">
                            </label>
                        <label class="Pagerating" *ngIf="ratings==2.5">
                                <img   class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="aio">
                                <img   class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="aio">
                                <img   class="star-half-svg" src="assets/images/course_icon/star-half-filled.svg" alt="aio">
                                <img   class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="aio">
                                <img   class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="aio">
                            </label>
                        <label class="Pagerating" *ngIf="ratings==3.0">
                                <img   class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="aio">
                                <img   class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="aio">
                                <img   class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="aio">
                                <img   class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="aio">
                                <img   class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="aio">
                            </label>
                        <label class="Pagerating" *ngIf="ratings==3.5">
                                <img   class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="aio">
                                <img   class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="aio">
                                <img   class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="aio">
                                <img   class="star-half-svg" src="assets/images/course_icon/star-half-filled.svg" alt="aio">
                                <img   class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="aio">
                            </label>
                        <label class="Pagerating" *ngIf="ratings==4.0">
                                <img   class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="aio">
                                <img   class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="aio">
                                <img   class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="aio">
                                <img   class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="aio">
                                <img   class="star-blank-svg" src="assets/images/course_icon/star-gray.svg" alt="aio">
                            </label>
                        <label class="Pagerating" *ngIf="ratings==4.5">
                                <img   class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="aio">
                                <img   class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="aio">
                                <img   class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="aio">
                                <img   class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="aio">
                                <img   class="star-half-svg" src="assets/images/course_icon/star-half-filled.svg" alt="aio">
                            </label>
                        <label class="Pagerating" *ngIf="ratings==5.0">
                                <img   class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="aio">
                                <img   class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="aio">
                                <img   class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="aio">
                                <img   class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="aio">
                                <img   class="star-fill-svg" src="assets/images/course_icon/star-filled.svg" alt="aio">
                            </label>
                    </div>
                    <span class="ratingText" *ngIf="ratings==0.5 || ratings==1.0">poor</span>
                    <span class="ratingText" *ngIf="ratings==1.5 || ratings==2.0">fair</span>
                    <span class="ratingText" *ngIf="ratings==2.5 || ratings==3.0">Good</span>
                    <span class="ratingText" *ngIf="ratings==3.5 || ratings==4.0">Very good</span>
                    <span class="ratingText" *ngIf="ratings==4.5 || ratings==5.0">Excellent</span>
                </div>
                <p>
                    {{REVIEW_DESCRIPTION}}
                </p>
                <div class="reviewfooter">
                    <!--(click)="important()"-->
                    <div class="reviewImp" [ngClass]="{ activeImp :liked}">
                        <span class="tik">
                                <img class="defoult"  src="assets/images/svg-three/post_icon/imp1.svg" alt="aio">
                                <img class="hover" src="assets/images/svg-three/post_icon/f05050/imp1.svg" alt="aio">
                                <img class="activeTik" src="assets/images/svg-three/post_icon/f05050/imp2.svg" alt="aio">
                            </span>
                        <span class="text" (click)="loginpopupopen()">Important</span>
                        <span (click)="loginpopupopen()" class="count" *ngIf="LIKED_COUNT!=0">{{LIKED_COUNT}}</span>
                        <app-likeshareviewall (closeViewAllThread)="impLikeShareStatus = $event" *ngIf="impLikeShareStatus" [data]="userLikeShareList"></app-likeshareviewall>
                    </div>

                    <div class="reviewCommnt">
                        <span class="commntIcon">
                                <img class="defoult" src="assets/images/svg-three/post_icon/comment.svg" alt="aio">
                                <img class="hover" src="assets/images/svg-three/post_icon/f05050/comment.svg" alt="aio">
                            </span>
                        <span class="text" (click)="loginpopupopen()" id="{{rw_rtng_uuid}}_comment">Comment</span>
                        <span class="count" id='comm_id_{{rw_rtng_uuid}}' *ngIf="comment_count!=0">{{comment_count}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class='comment_outer' *ngIf="viewCommentList && isEnrolled==1">
            <div *ngIf="isEnrolled==1">
                <div class="writecomment clearfix main-comment" [ngClass]="{'comment-present':showReviewComment}">
                    <figure class="comment-profile cursor-pointer"><img src="{{_constantService.getSessionDataBYKey('p_pic')}}" alt="aio" (error)="updateProfilePic($event)"></figure>
                    <div class='optionoutr'>
                        <div class="placeholdercolor" contenteditable="true" (paste)="postData.onPaste($event)" ondrop="return false;" (keydown.enter)="false" (focusout)="showPlaceHolder($event)" (click)="hidePlaceHolder($event)" (keyup)="addComment($event)" id='{{Corsid}}_{{rw_rtng_uuid}}_comm'
                            #commentPlaceHolder (contextmenu)="postData.onPaste($event)">
                            {{_constantService.commentPlaceHolder}}
                        </div>
                        <div class="upload-img-outer-wrp" *ngIf="showCommentImg==2">
                            <span class='uploaded_image'>
                                    <span class="file-preloder" style="margin-top: 0px;"><img style="width:40px" src="assets/images/svg/preloader-25.svg" *ngIf="showPreloader"></span>
                            <span class="changeimg" (click)="showCommentImg=1;comment_image=null;uuid='';file_path='';" id="chng_{{Corsid}}_{{rw_rtng_uuid}}">Cancel</span>
                            <img src="{{image_upload_url}}">
                            </span>
                        </div>
                        <!--                        <label class="option_image" >
                                <input type="file" class="post_image" id="{{Corsid}}_{{rw_rtng_uuid}}_nci" (change)="addImageFile($event);" accept="image/*">
                                <label class="fileupload_image" for="{{Corsid}}_{{rw_rtng_uuid}}_nci"><img class="default" src="assets/images/svg-three/post_icon/img.svg" ><img class="on-hover" src="assets/images/svg-three/post_icon/f05050/img.svg" ></label>
                            </label>-->
                    </div>
                </div>
            </div>
            <div class='comment_list'>
                <div #container></div>
            </div>
            <a class="seemore" (click)="getreviewPagecomment();" *ngIf="commentPresent">See more comments</a>
        </div>
    </div>
</div>

<app-loginpopup *ngIf="openLoginPopup" (closePopup)="closeLoginPopUp($event)" [usrData]="courseData" [isError]="isError" [errorText]="errorText" [type]="openLoginPopupType"></app-loginpopup>