@import './../../../sass/abstracts/variables';
@import './../../../sass/abstracts/fontfamily';

/* $fontmontserrat: 'Montserrat';
$SourceSansPro:  'Source Sans Pro'; */




.heading_bold{
  font-family: $fontmontserrat;
font-size: 36px;
text-align: left;
color: #000000;
margin-bottom: 15px;
font-weight: bold;
}
.mainwrapper{
  width: 100%;
  position: relative;
}
.wrapperhead{
  width: 100%;
  float:left;
  p{
    font-size: 16px;
color: rgba(0, 0, 0, 0.9);
font-weight: normal;
line-height: $LineHeight22;
padding-right: 50px;
  }
}
.headCont{
  padding-right: 660px;
}
.everthing_about{
  padding: 75px 0px 75px 0px;
  background-color: #ffeeee;
  width:100%;
  float:left;
  .card__top{
    width:100%;
    float:left;
    margin-bottom: 10px;
    margin-top: 50px;
    .card__left{
      width:calc(40% - 10px);
      float:left;
      padding:40px;
      box-shadow: 3px 6px 12px 0 rgba(0, 0, 0, 0.12);
      border: solid 2px #f05050;
      background-color: #ffffff;
       margin-right: 10px;
       border-radius: 6px;

       p{
         font-family: $fontmontserrat;
        font-size: 18px;
        font-weight: bold;
        margin-bottom:20px;
        color: #000;
        margin-top: 35px;
       }
       ul{
         margin-top: 10px;
         li{
           font-family: Roboto;
            font-size: 16px;
            line-height: $LineHeight22;
            color: #000;
            margin-top: 8px;
            &:before {
            content: '';
            background-image: url("../../../../assets/images/career/red-tik.svg");
            margin-right:10px;
            width: 15px;
            height: 12px;
            display: inline-block;
            margin-top: 0px;
            background-repeat: no-repeat;
            }
         }
       }
      .card_head{
        width: 100%;
        padding: 0px 0px 15px 77px;
        position: relative;

        span.class_image{
          width: 58px;
          height: 58px;
          position: absolute;
          left: 0px;
          top:0px;
          img{
            width: 100%;
            height: 100%;
          }
        }
        span.headinggOne{
          font-family: $fontmontserrat;
          font-size: 20px;
          font-weight: bold;

          color: #000;
          display: block;
        }
        span.headinggTech{
          line-height: 24px;padding-top: 5px;
          span.dataBreack{
            width: 100%;float: left;
          }
        }
        span.headinggtwo{
          /* font-family: $fontmontserrat; */
          font-size: 16px;
          line-height: $LineHeight22;
          color: #000;
          display: block;
          margin-top: 10px;
        }
      }
    }
    .card__right{
      width:60%;
      float:left;
      padding:30px 40px;
      background: #ffffff;
      border-radius: 6px;
      p{
        font-family: $fontmontserrat;
  font-size: 22px;
  font-weight: bold;
  color: #000;
  line-height:$LineHeight22;
  margin-bottom:5px
      }
      ul{
        list-style-type: upper-greek;
        li{
          width: 100%;
          float: left;
          // &:before {
          // content: '✓';
          // margin-right:10px;
          // }
          // list-style-type: decimal;
          position: relative;
          padding-left: 30px;
          &:before{
            content:"";
            width: 20px;
            height: 20px;
            background-color: #e9514d;
            color: #ffffff;
            font-weight: 600;
            padding: 1px 0 4px 6px;
            border-radius: 50%;
            position: absolute;
            top: 13px;
            left: 0;
            }
          &:first-child{
              &:before{
                content:"1";
                }
          }
          &:nth-child(2){
              &:before{
                content:"2";
                }
          }
          &:last-child{
              &:before{
                content:"3";
                }
          }

          p{
            font-family: Roboto;
            font-size: 16px;
            font-weight: 500;
            color: #000000;
            margin-top: 12px;
            margin-bottom: 5px;
          }
          span{
            font-family: Roboto;
            font-size: 16px;
            color: #000000;
            display: inline-block;
            float: left;
            margin-right: 8px;
            line-height: $LineHeight26;
            &:after{
              content:"";
              width: 4px;
              height: 4px;
              background-color: rgba(0, 0, 0, 0.6);
              float: right;
              border-radius: 50%;
              margin-top: 12px;
              margin-left: 8px;
            }
            &:last-child{
              &:after{
                content:"";
                display: none;
              }

            }
          }
        }
      }
    }

  }
  .card__down{
  width:100%;
  float:left;
  .card__flow{
    width:calc(20% - 10px);
    float:left;
    margin-right: 10px;
    background: #fff;
    border-radius: 6px;
    padding: 25px 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
    &:last-child{
      margin:0;
      width:20%;
    }
    .flow_heading{
      font-family: $fontmontserrat;
     font-size: 18px;
     font-weight: bold;
     text-align: center;
     color: #000;
    }
    .flow__img{
      display:block;
      width: 45px;
      height: 45px;
      margin: 20px;
      img{
       width:100%;
       height:100%;
      }
    }
    .flow_time{
      font-family: $fontmontserrat;
     font-size: 18px;
     font-weight: 600;
     color: #000000;
     margin-bottom: 10px;
     line-height: $LineHeight22;
     text-align:center;
    }
    .flow_noofques{
      font-family: Roboto;
       font-size: 14px;
       color: #000000;
       text-align:center;
    }
  }
  }
  // .hanging_btn_apply{
  //   width: 358px;
  //  margin: auto;
  //   button{
  //      width: 358px;
  //      height: 76px;
  //      border-radius: 41px;
  //      box-shadow: 0 3px 6px 0 var(--black-16);
  //      background-image: linear-gradient(to right, #f05050 0%, #ec6161 99%);
  //      font-family: $fontmontserrat;
  //      font-size: 20px;
  //      font-weight: bold;
  //
  //      color: #ffffff;
  //      margin-top: 50px;
  //   }
  // }
}
/* toggle in label designing */
.togglesec{
  position: absolute;
right: 0;
top: 0px;
width: 430px;
.toggleDiv{
  font-size: 16px;
  font-family: $fontmontserrat;
  line-height: $LineHeight18;
  color:#000;
  font-weight: bold;
  margin-bottom: 15px;
}
}
.syllabustoggle{
float: right;
width: 100%;

}
       .toggle {
           position : relative ;
           width: 427px;

           height: 72px;

           border-radius: 45px;

           background-color: #ffffff;
            width: 100%;
       }

       /* After slide changes */
       .toggle:after {
           content: 'Technical Roles';
           position: absolute;
           top: 8px;
           left: 8px;
           transition: all 0.5s;
           width: 45%;
           height: 56px;
           border-radius: 33px;
           box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
           background-color: #2c2e2f;
           padding: 20px 0px;
           color: #fff;
           font-size: 16px;
           text-align:center;
           cursor:pointer;
       }

       /* Toggle text */
       p {

           font-weight: bold;
           height: 100%;
width: 100%;
       span{
         float: left;
         position: absolute;
         top: 8px;

         transition: all 0.5s;
         width: 45%;
         height: 56px;
         border-radius: 33px;

         padding: 20px 0px;
         color: #000;
         font-size: 16px;
         text-align: center;
            cursor:pointer;
            font-weight: bold;
line-height: 18px;
       }
       span.tech{
             left: 8px;

       }
       span.nontech{
             right: 8px;

       }
       }

       /* Checkbox cheked effect */
       .checkbox:checked + .toggle::after {
           left : 53%;
           content:"Non-Technical Roles"

       }

       /* Checkbox cheked toggle label bg color */
       .checkbox:checked + .toggle {
             background-color: #ffffff;
       }

       /* Checkbox vanished */
       .checkbox {
           display : none;
       }
       .responsiveInfo{display:none;}
       @media only screen and (max-width:1200px){

       }
       @media only screen and (max-width:1024px){
         .headCont {
             padding-right: 490px;
         }

         .heading_bold {
           font-size: 32px;
       }
       }
       @media only screen and (max-width:768px){
         .headCont {
             padding-right: 0px;
         }
         .heading_bold {
           font-size: 26px;
       }
       .togglesec {
        position: relative;
        top: 25px;
}
.everthing_about{

    padding: 40px 0px 40px 0px;


 .card__top{
   margin-bottom: 20px;
  .card__left {
    width: 100%;
    padding: 20px;
    margin-right: 0px;
    margin-bottom:20px;
  }
  .card__right {
    padding: 20px;
      width: 100%;
}
}
.card__down{
   .card__flow {
    width: 32% ;
    padding-left: 15px;
    padding: 20px;
    height: 220px;
    margin: 0px 0% 15px 0%;
    &:last-child {
    margin: 0;
    width: 32%;
      margin: 0px 2% 15px 2%;
}
    }

.card__flow2, .card__flow5{
  margin: 0px 2% 15px 2%;
}
  }
}



     }
 @media only screen and (max-width:600px){

.everthing_about{

.card__down{
   .card__flow {
    width: 49% ;
    margin: 0px 0% 15px 0%;
    &:last-child {
    margin: 0;
    width: 49%;
      margin: 0px 0% 15px 1%;
}
    }

.card__flow1, .card__flow3, {
  margin: 0px 1% 15px 0%;
}
.card__flow2, .card__flow4{
  margin: 0px 0% 15px 1%;
}
.card__flow2,.card__flow4{
  margin: 0px 0% 15px 1%;
}

  }
}



     }
       @media only screen and (max-width:480px){
         .wrapperhead{
            p{

             padding-right: 0px;
         }
       }
.everthing_about{
  .heading_bold {
      font-size: 20px;
  }
  p{
    font-size:14px;
    line-height: 20px;
  }
}
.togglesec{
    width: 92%;
    top: 15px;
   .toggleDiv {
    font-size: 14px;

    margin-bottom: 10px;
}
}
.toggle {

    height: 58px;
    &:after {
      top: 8px;
      left: 8px;
      height: 42px;
      font-size: 14px;
      padding: 13px 0px;
      width: 48%;
  }
p{
  span{
    width:48%;
    height: 42px;
border-radius: 33px;font-size:14px;
padding: 13px 0px;
  }
}
p span.tech {
left: 8px;
font-size:14px;
}
  }
  .checkbox:checked + .toggle:after {
      left: 50%;
  }

.everthing_about{
  .card__top{margin-top: 25px;
  .card__left{padding:20px 15px;
    span.headinggtwo {
    font-size: 16px;}
    p{
    font-size: 14px;
    margin-bottom: 15px;
    margin-top: 10px;
}
  .card_head {
    padding: 0px 0px 15px 65px;
    span.headinggOne{
        font-size: 16px;
    }
    span.headinggTech{
    padding-top: 0px;
    }
    span.headinggtwo{
        font-size: 14px;
        margin-top: 5px;
        line-height:$LineHeight20;
    }
    span.class_image {
   width: 48px;
   height: 48px;

}
}
    ul li {
   font-family: Roboto;
   font-size: 14px;}
  }
  .card__right{
    padding:20px 15px;
     p {
    font-size: 18px;
}
ul li{
   p {
   font-size: 16px;
   margin-top: 10px;
}
span{
    font-size: 14px;
    line-height: 24px;
    &:after {

    margin-top: 9px;}
}
}
}
}
.card__down{
  span.headinggOne{
    font-size:16px;
  }
  .card__flow {
      padding: 15px;
      height: 180px;
      .flow_heading, .flow_time{
      font-size: 14px;
  }
  .flow_noofques {
      font-size: 12px;
  }
  }

}

.card__down{

   .card__flow {
    width: 48% ;
    margin: 0px 0% 15px 0%;
    .flow__img {
    width: 35px;
    height: 35px;
    margin: 15px;
}

&:last-child {
    margin: 0;
    width: 48%;
    margin: 0px 0% 15px 0%;
}
    }

.card__flow1, .card__flow3, {
  margin: 0px 2% 15px 0%;
}
.card__flow2, .card__flow4{
  margin: 0px 0% 15px 2%;
}
 .card__flow5{
  margin: 0px 0% 15px 0%;
}
 .card__flow5{
  margin: 0px 0% 15px 0%;
  display:none;
}
.responsiveInfo{
  width: 290px;
font-family: $fontmontserrat;
font-size: 14px;
font-weight: bold;
color: #f05050;
display: block;
padding: 7px 10px;
background-color: #fff;
float: left;
text-align: center;
border-radius: 5px;
box-shadow: 2px 4px 0px 0px #f05050;
margin: 5px auto 0px auto;
    margin-left: auto;
position: relative;
left: 50%;
margin-left: -145px;
}
  }
}
}

@media only screen and (max-width:360px){
  .togglesec{
      width: 100%;
  }
  .toggle {
  p{
    span{
  font-size:12px;
    }
  }
  p span.tech {
  left: 8px;
  font-size:12px;
  }
  &:after{
    font-size:12px;
  }
    }
    .everthing_about{
    .card__down{
    .card__flow {
        height: 160px;
        .flow_time, .flow_heading {
    font-size: 14px;
    line-height: 18px;
}
        .flow_time {
margin-bottom:5px;
}
.flow_noofques {
    font-size: 12px;
    line-height: 16px;
}

    }
  }
}


}
