<div class="everthing_about" id='qualifierTestSyllabus'>
  <div class="container " >
    <div class="mainwrapper ">
      <div class="wrapperhead headCont" style="padding-right:0px;">
        <h2 class="heading_bold" >Qualifier Test Pattern</h2>
        <p>Know everything about the qualifier test for both Technical & Non-Technical Roles</p>
        <div class="togglesec " style="display:none;">
          <div class="toggleDiv">Switch between Job fields</div>
          <div class="syllabustoggle ">
            <input type="checkbox" id='switch' class="checkbox" [(ngModel)]="syllabusToggle" />
            <label for="switch" class="toggle">
              <p>
                <span class="tech">Technical Roles </span>
                <span class="nontech">Non-Technical Roles </span>
              </p>
            </label>
          </div>
        </div>
      </div>
      <div class="_wrapper">
        <div id='technical' >
        <!-- <div id='technical' *ngIf="!syllabusToggle"> -->
          <div class="card__top">
            <div class="card__left">
              <div class="card_head" >
                <span class="class_image"><img src="assets/images/career/slider-navigation.svg" alt=""></span>
                <span class="headinggOne headinggTech" style=""><span class="dataBreack">Technical & </span>Non-Technical Roles</span>
                <!-- <span class="headinggtwo">Requires interest in latest
                  technology and programming</span> -->
              </div>
              <p>Some related job profiles</p>
              <ul>
                <li>Software Developers</li>
                <li>Quality and Testing</li>
                <li>Digital Marketting</li>
                <li>Designing</li>
              </ul>
            </div>
            <div class="card__right">
              <p>Test Pattern</p>
              <ul>
                <li>
                  <p>Behavioral </p>
                  <span>Accountability</span>
                  <span>Learning Approach</span>
                  <span> Ambition </span>
                  <span> Interpersona Skills</span>
                  <span>Emotional Stability </span>
                  <span>Team-Work</span>
                  <span>Influencing Skills</span>
                  <span>Prudence </span>
                </li>
                <li>
                  <p>Cognitive</p>
                  <span>Communication </span>
                  <span>Problem Solving. </span>
                  <span>Attention to Detail </span>
                </li>
                <li>
                  <p>Aptitude</p>
                  <span>Logical Reasoning</span>
                  <span>Financial Reasoning</span>
                  <span>Verbal Reasoning</span>
                  <span>Spatial Reasoning </span>

                </li>
              </ul>
            </div>
          </div>

          <div class="card__down">
            <div class="card__flow card__flow1">
              <p class="flow_heading">Test Duration</p>
              <span class="flow__img"><img src="assets/images/career/stopwatch.svg" alt=""></span>
              <span class="flow_time">45 Minutes</span>
              <span class="flow_noofques">to attempt 135 Questions</span>
            </div>
            <div class="card__flow card__flow2">
              <p class="flow_heading">Attempt Deadline</p>
              <span class="flow__img"><img src="assets/images/career/time-management.svg" alt=""></span>
              <span class="flow_time">Within 4 days of applying</span>

            </div>
            <div class="card__flow card__flow3">
              <p class="flow_heading">Test Language</p>
              <span class="flow__img"><img src="assets/images/career/test-lang.svg" alt=""></span>
              <span class="flow_time">English</span>
              <span class="flow_noofques">Test Language</span>
            </div>
            <div class="card__flow card__flow4">
              <p class="flow_heading">Test Pattern</p>
              <span class="flow__img"><img src="assets/images/career/test-pattern.svg" alt=""></span>
              <span class="flow_time">Psychometric
                and aptitude</span>
              <!-- <span class="flow_noofques">Fill in the Blanks</span> -->
            </div>
            <div class="card__flow card__flow5">
              <p class="flow_heading">Test Mode</p>
              <span class="flow__img"><img src="assets/images/career/test-mode.svg" alt=""></span>
              <span class="flow_time">Online</span>
              <span class="flow_noofques">From the comfort of home</span>
            </div>
            <div class="responsiveInfo">TEST WILL BE CONDUCTED ONLINE</div>
          </div>
        </div>

        <!-- for non technical sectoin -->
        <div id='notTechnical' *ngIf="syllabusToggle">
          <div class="card__top" >
            <div class="card__left">
              <div class="card_head">
                <span class="class_image"><img src="assets/images/career/graphic-designer.svg" alt=""></span>
                <span class="headinggOne">Non Technical Roles</span>
                <span class="headinggtwo">Requires interest in latest
                  technology and programming</span>
              </div>
              <p>Some related job profiles</p>
              <ul>
                <li>Designers</li>
                <li>Sales and Marketing</li>
                <li>Various Analyst positions</li>
              </ul>
            </div>
            <div class="card__right">
              <p>Test Syllabus</p>
              <ul>
                <li>
                  <p>Personality Evaluation</p>
                  <span>Learning Approach</span>
                  <span>Interpersonal Skills</span>
                  <span>Emotional Stability</span>
                  <span>Creativity</span>
                  <span>Planning & Organising</span>
                  <span>Altruistic & Politeness</span>
                  <span>Ambition</span>
                </li>
                <li>
                  <p>Career Interests:</p>
                  <span>RIASEC</span>
                </li>
                <li>
                  <p>Aptitude (Beginner Level)</p>
                  <span>Logical</span>
                  <span>Numerical</span>
                  <span>Verbal</span>
                  <span>Spatial </span>

                </li>
              </ul>
            </div>
          </div>
          <div class="card__down" >
            <div class="card__flow card__flow1">
              <p class="flow_heading">Test Duration</p>
              <span class="flow__img"><img src="assets/images/career/stopwatch.svg" alt=""></span>
              <span class="flow_time">40 Minutes</span>
              <span class="flow_noofques">to attempt 75 Questions</span>
            </div>
            <div class="card__flow card__flow2">
              <p class="flow_heading">Attempt Deadline</p>
              <span class="flow__img"><img src="assets/images/career/time-management.svg" alt=""></span>
              <span class="flow_time">within 4 days of applying</span>

            </div>
            <div class="card__flow card__flow3">
              <p class="flow_heading">Test Language</p>
              <span class="flow__img"><img src="assets/images/career/test-lang.svg" alt=""></span>
              <span class="flow_time">English</span>
              <span class="flow_noofques">Test Language</span>
            </div>
            <div class="card__flow card__flow4">
              <p class="flow_heading">Test Pattern</p>
              <span class="flow__img"><img src="assets/images/career/test-pattern.svg" alt=""></span>
              <span class="flow_time">psychometric
                and aptitude</span>
              <!-- <span class="flow_noofques">Fill in the Blanks</span> -->
            </div>
            <div class="card__flow card__flow5">
              <p class="flow_heading">Test Mode</p>
              <span class="flow__img"><img src="assets/images/career/test-mode.svg" alt=""></span>
              <span class="flow_time">Online</span>
              <span class="flow_noofques">From the comfort of home</span>
            </div>
          </div>
        </div>

        <!-- end nontechnical section -->
        <!-- <div class="hanging_btn_apply">
     <button type="button" name="button">Apply for Scholarship Test</button>
   </div> -->
      </div>
    </div>
  </div>
</div>
