<div class="popup saved-popup-alert" >
    <div class="popup_background popup_fixed_scroll"></div>
    <div class="popup_main savedpopup">
        <div class="popup_heading">Delete Saved Collection
            <img (click)="deletefolderhide()" src="assets/images/svg/tagcross.svg" style="float: right;margin: 17px 0;cursor: pointer;"></div>
        <div class="col-md-12">

            <div class='post_outer post_outer_border_none'>
                <div class='post_profile'>
                    <div class="savedcont">{{data}}</div>
                </div>
            </div>
        </div>
        <div class='post_profile saved_post_profile'>
            <button  type="submit" class="button24x7 redColorButton fright" (click)="deleteSavedFolder()" >Ok</button>
            <button  type="submit" class="button24x7 whiteColorButton fleft"   (click)= "deletefolderhide()">Cancel</button>
        </div>
    </div>
</div>
