<div (click)="interestPopUp()" (mouseover)="interestPopUp()"
    class="header-interest-dropdown">
    INTERESTS
    <label class="down_arrow">
        <img class="downIcon"
            src="https://img1.aio.com/assets/images/svg-three/login_icon/interestdropdown.svg"
            alt="">
        <img class="ActiveDropIcon"
            src="https://img1.aio.com/assets/images/svg-three/login_icon/interestdropdown-red.svg"
            alt="">
    </label>
    <div class="hide-crs-dd" (mouseleave)="selectedCategory=0"
        *ngIf="openHideIntersePopUp"
        (mouseleave)="openHideIntersePopUp=false;">
        <div class="crs-dropdown">
            <ul class="no-list-style crs-ul-list">
                <li class="crs-main-list" (mouseover)="selectedCategory=
                    i"
                    [ngClass]="{active:selectedCategory==i}"
                    *ngFor="let category of interests;let i= index">
                    <div class="interestName">{{category.CATEGORY_NAME}}
                        <label class="down_arrow_right">
                            <img class="downIconRight"
                                src="https://img1.aio.com/assets/images/svg-three/login_icon/interestdropdown.svg"
                                alt="">
                        </label>
                    </div>
                    <ul *ngIf="selectedCategory==i" class="no-list-style crs-sublist"
                        [perfectScrollbar]="config">
                        <span class="headInfo">Choose from your
                            favourite preparation exam</span>

                        <li
                            (click)="routTo(interest.INTEREST_NAME_ALIAS)"
                            *ngFor="let interest of category.INTERESTS">
                            <span class="crs-list-txt">{{interest.INTEREST_NAME}}
                                <label class="arrow_right_red">
                                    <img class="downIconRight"
                                        src="https://img1.aio.com/assets/images/svg-three/login_icon/interestdropdown-red.svg"
                                        alt="">
                                </label>
                            </span>

                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

</div>

<!-- responsive interest -->
<div class="Interestaccordian" style="position: relative;">
    <div class="market_accordian">
        <div *ngFor="let category of interests;let i= index">
            <button (click)="accordianTab=i" class="accordion activeAccordian" [ngClass]="{'activeAccordian' : accordianTab == i }">
                {{category.CATEGORY_NAME}}
                <img class="downarrow"
                    src="https://img1.aio.com/assets/images/svg-three/login_icon/interestdropdown.svg">
            </button>
            <div class="panel_Data activePanel_Data" [ngClass]="{'activePanel_Data' : accordianTab == i }">
                <div class="col-data">
                    <ul>
                        <li (click)="routTo(interest.INTEREST_NAME_ALIAS)"  *ngFor="let interest of category.INTERESTS"><span class="crs-list-txt">{{interest.INTEREST_NAME}}</span></li>
                       
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
