<div class="col-md-12 col-sm-12 course_wrapper" style="border-radius: 5px;overflow: hidden;">
    <div class="row">
        <div class="course_filter_top" id="stickheadcourse" [ngClass]="{'section_fixed': isScrolledstick}">
            <div class="mainheading">Courses</div>
            <div class="profile_bar course_bar">
                <ul class="profile_menu course_menu admin_menu" style="width:100%">
                    <li [ngClass]="{'active' : courseTabAdmin === 1 }" (click)="courseTabUrlFxn(1)">All Courses</li>
                    <li [ngClass]="{'active' : courseTabAdmin === 2 }" (click)="courseTabUrlFxn(2)">My Courses</li>

                </ul>
            </div>
            <ul class="course_fl" *ngIf="courseTabAdmin == 1 && 2">
                <li class="course_filter">
                    <div class="course_search_sec" [ngClass]="{'wallpostdrpdwn':walldropdown}"
                        (click)="showwalldropdown();" (mouseleave)="closewalldropdown()">
                        <div class="wll_img_pey_cont">
                            <span style="">{{visibilityText}}</span>
                        </div>
                        <span class="tab-article ">
                            <img src="assets/images/svg-three/add_post/downarrow.svg" class="defaultt"
                                style="width:10px !important;">
                            <img src="assets/images/svg-three/add_post/f05050/downarrow.svg" class="hoverr"
                                style="top: 0px;width:10px !important;">
                        </span>
                        <div class="walldropdencnt wallprydeopcnt" [ngClass]="{'wallprydeopcnt':walldropdown}"
                            *ngIf="walldropdown" (click)="showwalldropdown();" (mouseleave)="closewalldropdown()">
                            <ul>
                                <!--<li   > All</li>-->
                                <li (click)="changeVisibility(2)"> A-Z</li>
                                <li (click)="changeVisibility(3)"> Z-A</li>
                            </ul>
                        </div>
                    </div>
                </li>

                <li class="course_filter">
                    <div class="course_search_sec" [ngClass]="{'wallpostdrpdwn':walldrop}" (click)="showwalldrop();"
                        (mouseleave)="closewalldrop()">
                        <div class="wll_img_pey_cont">
                            <span style="">{{visibilityfilter}}</span>
                        </div>
                        <span class="tab-article ">
                            <img src="assets/images/svg-three/add_post/downarrow.svg" class="defaultt"
                                style="width:10px !important;">
                            <img src="assets/images/svg-three/add_post/f05050/downarrow.svg" class="hoverr"
                                style="top: 0px;width:10px !important;">
                        </span>
                        <div class="walldropdencnt wallprydeopcnt" [ngClass]="{'wallprydeopcnt':walldrop}"
                            *ngIf="walldrop" (click)="showwalldrop();" (mouseleave)="closewalldrop()">
                            <ul>
                                <li (click)="changeVisibilitySort(3)"> All </li>
                                <li (click)="changeVisibilitySort(2)"> Free </li>
                                <li (click)="changeVisibilitySort(1)"> Paid </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="course_search_li">
                    <span class=" course_search">
                        <button>
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                    <input id="courseSearch" type="text" class="form-control active" (keyup)="searchKey($event)"
                        placeholder="&nbsp;&nbsp;Enter your Search" [autofocus]="courseSearchButtonStatus"
                        [(ngModel)]="courseSearch">
                </li>
            </ul>
            <ul class="course_fl" *ngIf="courseTabAdmin == 2">
                <li class="course_filter">
                    <div class="course_search_sec" [ngClass]="{'wallpostdrpdwn':walldropdown}"
                        (click)="showwalldropdown();" (mouseleave)="closewalldropdown()">
                        <div class="wll_img_pey_cont">
                            <span style="">{{visibilityText}}</span>
                        </div>
                        <span class="tab-article ">
                            <img src="assets/images/svg-three/add_post/downarrow.svg" class="defaultt"
                                style="width:10px !important;">
                            <img src="assets/images/svg-three/add_post/f05050/downarrow.svg" class="hoverr"
                                style="top: 0px;width:10px !important;">
                        </span>
                        <div class="walldropdencnt wallprydeopcnt" [ngClass]="{'wallprydeopcnt':walldropdown}"
                            *ngIf="walldropdown" (click)="showwalldropdown();" (mouseleave)="closewalldropdown()">
                            <ul>
                                <!--<li  >All</li>-->
                                <li (click)="changeVisibilityMyCourse(2)"> A-Z</li>
                                <li (click)="changeVisibilityMyCourse(3)"> Z-A</li>
                            </ul>
                        </div>
                    </div>
                </li>

                <li class="course_filter">
                    <div class="course_search_sec" [ngClass]="{'wallpostdrpdwn':walldrop}" (click)="showwalldrop();"
                        (mouseleave)="closewalldrop()">
                        <div class="wll_img_pey_cont">
                            <span style="">{{visibilityfilter}}</span>
                        </div>
                        <span class="tab-article ">
                            <img src="assets/images/svg-three/add_post/downarrow.svg" class="defaultt"
                                style="width:10px !important;">
                            <img src="assets/images/svg-three/add_post/f05050/downarrow.svg" class="hoverr"
                                style="top: 0px;width:10px !important;">
                        </span>
                        <div class="walldropdencnt wallprydeopcnt" [ngClass]="{'wallprydeopcnt':walldrop}"
                            *ngIf="walldrop" (click)="showwalldropdown();" (mouseleave)="closewalldropdown()">
                            <ul>
                                <li (click)="myCourseSort(3)"> All</li>
                                <li (click)="myCourseSort(2)"> Free</li>
                                <li (click)="myCourseSort(1)"> Paid</li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="course_search_li">
                    <span class=" course_search">
                        <button>
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                    <input id="courseSearch" type="text" class="form-control active" (keyup)="searchKey($event)"
                        placeholder="&nbsp;&nbsp;Enter your Search" [autofocus]="courseSearchButtonStatus"
                        [(ngModel)]="courseSearch">
                </li>
            </ul>
        </div>

        <div class="coursepage_outer" *ngIf="courseTabAdmin ==1">
            <div class="course_div course_student_veiw" *ngIf="coursePresent == true && startLoader2 == false ">
                <div class="course_item col-md-4 col-sm-6 col-xs-6" *ngFor="let corses of AllCourse; let i = index;">
                    <div class="course_cont" data-infinite-scroll [infiniteScrollDistance]="5"
                        (scrolled)="onScrollDown()" [scrollWindow]="true">
                        <div class="course_img_div" (click)="goToCourseDetail(corses)">
                            <img class="course_img" src='{{corses.COURSE_COVER_PHOTO_PATH}}'>

                            <div class="freetrialWrapper" *ngIf="corses.SUBSCRIPTION == 1">
                                <img src="assets/images/course_icon/popupicon/staricon.svg" alt="">FREE TRIAL
                            </div>

                            <div class="course_banner">
                                <div class="course_status_inner">
                                    <img src='{{corses.PAGE_PROFILE_PHOTO_PATH}}'>
                                </div>
                            </div>
                            <div class="img_layer">

                            </div>
                        </div>
                        <div class="course_details" (click)="goToCourseDetail(corses)">
                            <div class="course_name withoutHover">
                                <p>{{corses.COURSE_TITLE |trimData:67}}</p>
                                <span>by {{corses.PAGE_TITLE}}</span>
                            </div>
                            <div class="clearfix">

                            </div>
                            <div class="card-course-rating">
                                <label class="star" *ngIf="corses.COURSE_RATING==0.0">
                                    <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                                    <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                                    <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                                    <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                                    <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                                </label>
                                <label class="star" *ngIf="corses.COURSE_RATING==0.5">
                                    <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                                    <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                                    <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                                    <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                                    <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                                </label>
                                <label class="star" *ngIf="corses.COURSE_RATING==1.0">
                                    <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                                    <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                                    <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                                    <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                                    <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                                </label>
                                <label class="star" *ngIf="corses.COURSE_RATING==1.5">
                                    <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                                    <img class="star-half-svg" src="assets/images/course_icon/star-half-filled.svg">
                                    <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                                    <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                                    <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                                </label>
                                <label class="star" *ngIf="corses.COURSE_RATING==2.0">
                                    <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                                    <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                                    <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                                    <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                                    <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                                </label>
                                <label class="star" *ngIf="corses.COURSE_RATING==2.5">
                                    <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                                    <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                                    <img class="star-half-svg" src="assets/images/course_icon/star-half-filled.svg">
                                    <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                                    <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                                </label>
                                <label class="star" *ngIf="corses.COURSE_RATING==3.0">
                                    <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                                    <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                                    <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                                    <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                                    <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                                </label>
                                <label class="star" *ngIf="corses.COURSE_RATING==3.5">
                                    <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                                    <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                                    <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                                    <img class="star-half-svg" src="assets/images/course_icon/star-half-filled.svg">
                                    <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                                </label>
                                <label class="star" *ngIf="corses.COURSE_RATING==4.0">
                                    <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                                    <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                                    <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                                    <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                                    <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                                </label>
                                <label class="star" *ngIf="corses.COURSE_RATING==4.5">
                                    <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                                    <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                                    <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                                    <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                                    <img class="star-half-svg" src="assets/images/course_icon/star-half-filled.svg">
                                </label>
                                <label class="star" *ngIf="corses.COURSE_RATING==5.0">
                                    <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                                    <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                                    <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                                    <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                                    <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                                </label>
                                <label class="c-rating-avg">
                                    {{corses.COURSE_RATING}}
                                </label>
                                <label class="c-rating-count">
                                    ({{corses.TOTAL_COURSE_RATING_COUNT}} Ratings)
                                </label>
                            </div>
                            <div class="course_detail">
                                <ul>
                                    <li *ngIf="corses.TOTAL_ENROLLED_USER!=null" style="padding-left:20px !important;">
                                        <span class="c_enroll_count c_enroll_count_fix ">
                                            <img src="assets/images/course_icon/enrollments.svg">
                                        </span> {{corses.TOTAL_ENROLLED_USER}} Enrollment
                                    </li>
                                    <li *ngIf="corses.TOTAL_ENROLLED_USER==null" style="padding-left:20px !important;">
                                        <span class="c_enroll_count c_enroll_count_fix ">
                                            <img src="assets/images/course_icon/enrollments.svg">
                                        </span> 0 Enrollment
                                    </li>
                                    <li *ngIf="corses.RVALIDITY!=''" style="padding-left:20px !important;">
                                        <span class="c_enroll_count">
                                            <img src="assets/images/course_icon/validity.svg">
                                        </span> Validity {{corses.RVALIDITY}}
                                    </li>
                                </ul>
                            </div>
                            <div class="clearfix">

                            </div>
                            <div class="c_card_bottom">
                                <span class="original-price" *ngIf="corses.COURSE_TYPE ==1">
                                    {{corses.COST | currency:'INR':symbol:'1.0'}} </span>
                                <span class="sell-price"
                                    *ngIf="corses.COURSE_TYPE ==1">{{corses.DISCOUNT_COST | currency:'INR':symbol:'1.0'}}
                                </span>

                                <span class="sell-price" *ngIf="corses.COURSE_TYPE ==0"> FREE </span>
                            </div>
                        </div>

                        <span class="saveButton" (click)="saveCourse(corses,i)" *ngIf="corses.SAVED==0">
                            <img class="" src="assets/images/svg-three/left_menu/whitebookmark.svg">
                        </span>

                        <div class="course_cont course_cont_hover" (click)="goToCourseDetail(corses)">
                            <div class="course_img_div">
                                <div class="img_layer">
                                    <label>{{corses.PAGE_TITLE}}</label>

                                    <span (click)="saveCourse(corses,i);" *ngIf="corses.SAVED==1">
                                        <img class="" src="assets/images/svg-three/post_icon/f05050/bookmark_fill.svg" title="Saved">
                                    </span>
                                </div>
                            </div>
                            <div class="course_details">
                                <div class="course_name">
                                    <p>{{corses.COURSE_TITLE |trimData:67 }}</p>
                                    <p class="course_desp">{{corses.DESCRIPTION | slice:0:70}}
                                    </p>
                                </div>
                                <div class="clearfix">

                                </div>
                                <div class="course_detail">
                                    <p>Published on {{corses.PUBLISH_DATE_TIME | date :'dd MMM, yyyy' }}
                                    </p>
                                    <ul>
                                        <li style="width: 126px!important;">
                                            <span class="c_enroll_count c_enroll_count_fix ">
                                                <img src="assets/images/svg-three/course/level.svg"
                                                    style="width:11px;margin:0px;">
                                            </span>
                                            <span class="c_enroll_count_text" *ngIf="corses.COURSE_LEVEL===1">Beginner
                                                Level</span>
                                            <span class="c_enroll_count_text"
                                                *ngIf="corses.COURSE_LEVEL===2">Intermediate Level</span>
                                            <span class="c_enroll_count_text" *ngIf="corses.COURSE_LEVEL===3">Advance
                                                Level</span>
                                            <span class="c_enroll_count_text" *ngIf="corses.COURSE_LEVEL===4">All
                                                Levels</span>
                                        </li>
                                        <li style="    width: 70px!important;float: right;">
                                            <span class="c_enroll_count" *ngIf="corses.LANGUAGE!=null">
                                                <img src="assets/images/svg-three/course/language.svg">
                                            </span>
                                            <span class="c_enroll_count_text" *ngIf="corses.LANGUAGE!=null">
                                                {{corses.LANGUAGE}}
                                            </span>

                                        </li>
                                    </ul>
                                </div>
                                <div class="clearfix">

                                </div>
                                <div class="course_keyword">
                                    <p>Related Keywords</p>
                                    <span>
                                        {{corses.COURSE_TAGS}}
                                    </span>
                                </div>
                                <div class="c_card_bottom">
                                    <button (click)="goToCourseDetail(corses)" class="course_view" name="button"
                                        type="button">
                                        <span class="follow">
                                            View Course
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- =============================================================================   -->
            <!-- preloder for all course start  -->
            <!-- ==============================================================================  -->

            <div class="loader2" *ngIf="startLoader2">
                <img src="assets/images/24x7preloader.gif" alt="aio">
            </div>

            <!-- =============================================================================   -->
            <!-- preloder for all course end  -->
            <!-- ==============================================================================  -->


            <!-- =============================================================================   -->
            <!-- empty state all course start  -->
            <!-- ==============================================================================  -->

            <div class="emptystate" style="height:425px;" *ngIf="coursePresent == false && startLoader2 == false ">
                <div class="emptystate_inner">
                    <img src="assets/images/course_icon/create_course.svg" class="emptyimg emptyreview width150"
                        alt="aio">
                    <p class="mainheading" style="padding-top:0px;">No Course found</p>
                    <p class="subHeading">Seems there is no course here<br> try another course here
                    </p>
                </div>
            </div>

            <!-- =============================================================================   -->
            <!-- empty state all course end  -->
            <!-- ==============================================================================  -->
        </div>


        <div class="coursepage_outer" *ngIf="courseTabAdmin ==2">
            <div class="course_div course_student_veiw" *ngIf="myCoursesPresent == true  && startLoader == false">
                <div class="course_item col-md-4 col-sm-6 col-xs-6" *ngFor="let corses of AllMyCourse; let i = index;">
                    <div class="course_cont" data-infinite-scroll [infiniteScrollDistance]="300"
                        (scrolled)="onScrollDown()" [scrollWindow]="true">
                        <div class="course_img_div" (click)="goToCourseDetail(corses)">
                            <img class="course_img" src='{{corses.COURSE_COVER_PHOTO_PATH}}'>
                            <div class="course_banner">
                                <div class="course_status_inner">
                                    <img src='{{corses.PAGE_PROFILE_PHOTO_PATH}}'>
                                </div>
                            </div>
                            <div class="img_layer">

                            </div>
                        </div>
                        <div class="course_details" (click)="goToCourseDetail(corses)">
                            <div class="course_name withoutHover">
                                <p>{{corses.COURSE_TITLE |trimData:67 }}</p>
                                <span>by {{corses.PAGE_TITLE}}</span>
                            </div>
                            <div class="clearfix">

                            </div>
                            <div class="card-course-rating" *ngIf="corses.PUBLISH!=4">
                                <label class="star" *ngIf="corses.COURSE_RATING==0.0">
                                    <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                                    <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                                    <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                                    <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                                    <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                                </label>
                                <label class="star" *ngIf="corses.COURSE_RATING==0.5">
                                    <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                                    <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                                    <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                                    <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                                    <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                                </label>
                                <label class="star" *ngIf="corses.COURSE_RATING==1.0">
                                    <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                                    <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                                    <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                                    <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                                    <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                                </label>
                                <label class="star" *ngIf="corses.COURSE_RATING==1.5">
                                    <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                                    <img class="star-half-svg" src="assets/images/course_icon/star-half-filled.svg">
                                    <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                                    <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                                    <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                                </label>
                                <label class="star" *ngIf="corses.COURSE_RATING==2.0">
                                    <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                                    <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                                    <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                                    <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                                    <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                                </label>
                                <label class="star" *ngIf="corses.COURSE_RATING==2.5">
                                    <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                                    <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                                    <img class="star-half-svg" src="assets/images/course_icon/star-half-filled.svg">
                                    <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                                    <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                                </label>
                                <label class="star" *ngIf="corses.COURSE_RATING==3.0">
                                    <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                                    <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                                    <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                                    <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                                    <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                                </label>
                                <label class="star" *ngIf="corses.COURSE_RATING==3.5">
                                    <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                                    <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                                    <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                                    <img class="star-half-svg" src="assets/images/course_icon/star-half-filled.svg">
                                    <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                                </label>
                                <label class="star" *ngIf="corses.COURSE_RATING==4.0">
                                    <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                                    <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                                    <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                                    <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                                    <img class="star-blank-svg" src="assets/images/course_icon/star-gray.svg">
                                </label>
                                <label class="star" *ngIf="corses.COURSE_RATING==4.5">
                                    <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                                    <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                                    <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                                    <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                                    <img class="star-half-svg" src="assets/images/course_icon/star-half-filled.svg">
                                </label>
                                <label class="star" *ngIf="corses.COURSE_RATING==5.0">
                                    <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                                    <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                                    <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                                    <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                                    <img class="star-fill-svg" src="assets/images/course_icon/star-filled.svg">
                                </label>
                                <label class="c-rating-avg">
                                    {{corses.COURSE_RATING}}
                                </label>
                                <label class="c-rating-count">
                                    ({{corses.TOTAL_COURSE_RATING_COUNT}} Ratings)
                                </label>
                            </div>
                            <div class="course_detail" *ngIf="corses.IS_EXPRIED==0 && corses.PUBLISH!=4">
                                <ul>
                                    <li>
                                        {{corses.courseStatus }}

                                    </li>
                                    <li *ngIf="corses.RVALIDITY!=''">
                                        Validity {{corses.RVALIDITY}}
                                    </li>
                                </ul>
                            </div>

                            <div class="course_detail" *ngIf="corses.IS_EXPRIED==1 && corses.PUBLISH!=4">
                                <p class="expiredDate"> Expired on
                                    {{corses.EXP_DATE_FOR_RENEWCARD | date :'dd MMM, yyyy'}}</p>
                            </div>
                            <div class="course_detail" *ngIf="corses.IS_EXPRIED==2 && corses.PUBLISH!=4">
                                <p class="expiredDate"> Expired on
                                    {{corses.EXP_DATE_FOR_RENEWCARD | date :'dd MMM, yyyy'}}</p>
                            </div>

                            <div class="unpublishedContent" *ngIf="corses.PUBLISH==4">
                                <p>
                                    The course has been temporarily removed. It will be re-published soon.
                                </p>
                            </div>

                            <div class="clearfix">

                            </div>
                            <div class="c_card_bottom">

                                <span class="admin_course_status admin_bg_pub othercardbutton"
                                    style="background:#fca712"
                                    *ngIf="corses.IS_SUBSCRIBE == 2 && corses.IS_ENROLLED != 1 && corses.PUBLISH  != 4 && corses.IS_EXPRIED  != 1 && corses.IS_EXPRIED != 2">Trial
                                    Expired</span>
                                <span class="admin_course_status admin_bg_pub othercardbutton"
                                    style="background:#0ec631"
                                    *ngIf="corses.IS_SUBSCRIBE == 1 && corses.IS_ENROLLED != 1 && corses.PUBLISH  != 4 && corses.IS_EXPRIED  != 1 && corses.IS_EXPRIED != 2">Trial
                                    Active</span>

                                <span class="admin_course_status admin_bg_pub enrolled othercardbutton"
                                    *ngIf="corses.IS_EXPRIED==0 && corses.PUBLISH != 4 && corses.IS_ENROLLED == 1">Enrolled</span>
                                <span class="admin_course_status admin_bg_rej expired othercardbutton"
                                    *ngIf="corses.IS_EXPRIED==1 && corses.PUBLISH != 4">Expired</span>
                                <span class="admin_course_status admin_bg_rej expired othercardbutton"
                                    *ngIf="corses.PUBLISH==4">Unpublished</span>
                                <span class="admin_course_status admin_bg_review renew"
                                    *ngIf="corses.IS_EXPRIED==2 && corses.PUBLISH!=4">Renew</span>
                            </div>
                        </div>

                        <span *ngIf="!(corses.IS_EXPRIED==1 || corses.PUBLISH == 4) && corses.SAVED == 0"
                            class="saveButton" (click)="saveCourse(corses,i);">
                            <img class="" src="assets/images/svg-three/left_menu/whitebookmark.svg">
                        </span>
                        <div class="course_cont course_cont_hover" (click)="goToCourseDetail(corses)">
                            <div class="course_img_div">
                                <div class="img_layer">
                                    <label>{{corses.PAGE_TITLE}}</label>

                                    <span (click)="saveCourse(corses,i);" *ngIf="corses.SAVED==1">
                                        <img class="" src="assets/images/svg-three/post_icon/f05050/bookmark_fill.svg" title="Saved">
                                    </span>
                                </div>
                            </div>
                            <div class="course_details">
                                <div class="course_name">
                                    <p>{{corses.COURSE_TITLE |trimData:67 }}</p>
                                    <p class="course_desp">{{corses.DESCRIPTION | slice:0:70}}
                                    </p>
                                </div>
                                <div class="clearfix">

                                </div>
                                <div class="course_detail">
                                    <!-- <p >Published on {{corses.PUBLISH_DATE_TIME | date :'dd MMM, yyyy' }}
                                    </p> -->
                                    <ul>
                                        <li>
                                            <span class="c_enroll_count c_enroll_count_fix ">
                                                <img src="assets/images/svg-three/course/level.svg"
                                                    style="width:11px;margin:0px;">
                                            </span>
                                            <span class="c_enroll_count_text" *ngIf="corses.COURSE_LEVEL===1">Beginner
                                                Level</span>
                                            <span class="c_enroll_count_text"
                                                *ngIf="corses.COURSE_LEVEL===2">Intermediate Level</span>
                                            <span class="c_enroll_count_text" *ngIf="corses.COURSE_LEVEL===3">Advance
                                                Level</span>
                                            <span class="c_enroll_count_text" *ngIf="corses.COURSE_LEVEL===4">All
                                                Levels</span>
                                        </li>
                                        <li>
                                            <span class="c_enroll_count">
                                                <img src="assets/images/svg-three/course/language.svg">
                                            </span>
                                            <span class="c_enroll_count_text">
                                                {{corses.LANGUAGE}}
                                            </span>

                                        </li>
                                    </ul>
                                </div>
                                <div class="clearfix">

                                </div>
                                <div class="course_keyword">
                                    <p>Related Keywords</p>
                                    <span>
                                        {{corses.COURSE_TAGS}}
                                    </span>
                                </div>
                                <div class="c_card_bottom">
                                    <button class="course_view" name="button" type="button">
                                        <span class="follow" *ngIf="corses.IS_EXPRIED==0 && corses.PUBLISH != 4"
                                            (click)="goToCourseDetail(corses)">
                                            view course
                                        </span>
                                        <span class="follow" *ngIf="corses.IS_EXPRIED==1 && corses.PUBLISH != 4">
                                            Expired
                                        </span>
                                        <span class="follow" *ngIf="corses.PUBLISH==4">
                                            Unpublished
                                        </span>
                                        <span class="follow" *ngIf="corses.IS_EXPRIED==2"
                                            (click)="goToCourseDetail(corses)">
                                            Renew Course
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- =============================================================================   -->
            <!-- preloder for my course start  -->
            <!-- ==============================================================================  -->

            <div class="loader2" *ngIf="startLoader">
                <img src="assets/images/24x7preloader.gif" alt="aio">
            </div>

            <!-- =============================================================================   -->
            <!-- preloder for my course end  -->
            <!-- ==============================================================================  -->

            <!-- =============================================================================   -->
            <!-- empty state my course start  -->
            <!-- ==============================================================================  -->
            <div class="emptystate" style="height:425px;" *ngIf="myCoursesPresent == false && startLoader== false">
                <div class="emptystate_inner">
                    <img src="assets/images/course_icon/create_course.svg" class="emptyimg emptyreview width150"
                        alt="aio">
                    <p class="mainheading" style="padding-top:0px;">No Course found</p>
                    <p class="subHeading">Seems there is no course here<br> try another course here
                    </p>
                </div>
            </div>
            <!-- =============================================================================   -->
            <!-- empty state my course end  -->
            <!-- ==============================================================================  -->

        </div>
    </div>
</div>

<div *ngIf="savepagepopup">
    <app-savedpopup (folder_id)="savedFolderId=$event" (closeSavedPopup)="savepagepopup=$event;"
        (savedStatus)="saveCondition=$event; updateSavedStatus($event);" [postData]='courseSavedData'></app-savedpopup>
</div>

<app-confirmationpopup *ngIf="openConfirmation" (closeComfirmPopupThread)="sessionLogout($event);" [dataObj]="dataConf">
</app-confirmationpopup>
<app-confirmationpopup *ngIf="openConfirmation" (closeComfirmPopupThread)="closePopup($event);" [dataObj]="dataConf">
</app-confirmationpopup>
