//
//  $backgroundgray : #e6e6e6;
//  $themeblue : #F05050;
//  $themegray : #f5f7fa;
//  $textcolor : #2c2e2f;
//  $textgrey : #8c8c8c;
//  $maingreen: rgb(7,162,8);
//  $stroke : #dfe0e8;
//  // $stroke : #E9E9E9;
//  $borderRadius: 5px;
//  $inputTypeHeight: 35px;
//  $inputTypeFont: 12px;
//  $headerHeight: 60px;
//  $headerLineHeight: $headerHeight - 5px;
//  $mainboxShadow: 0 0 7px rgba(0,0,0,0.1);
//  $dropdownwidth: 400px;
//  $dropdwncontentwidth: $dropdownwidth - 100px;
//  $ntfctnprofile: 40px;
//  $inrprflimg : $ntfctnprofile + 8px;
//  $PostPicture: 40px;
//  $commentPicture: $PostPicture - 10px;
//  $subcommentPicture: $commentPicture - 10px;
//  $mainpostName: 16px;
//  $maincommentName: $mainpostName - 2px;
//  $darkthemestroke: $themeblue;
//  $progressbarRed: #ed6568;
//  $rightanswer : #5bbc5b;
//  $themelighten : rgba(18, 188, 180, 0.2);
//  $lightgray : #fafafa;
//  $lightstroke: #f4f4f4;
//  $lighttext: #8c8c8c;
// $stroke : #dfe0e8;
// // post center wrapper
// .postmain_container{
//
//
//
//    .leftmenudrop {float: right}
//
// }
// // end post center wrapper
// // post footer
//  .post_footer_like{border-top: none;background: #f5f7fa;float: left;
//      .post_footeroption{margin-right: 0px;
//        cursor: pointer;
//          span{float: left;display: inline-block;
//          margin-right: 3px;
// line-height: 14px;}
//
//      }
// }
// // end post footer
// .comment_outer{clear: both;
// .writecomment{
//     .optionoutr{
//       .setwdth{
//         width: 92%;
//         padding-right: 11px;
//       }
//
//         position: relative;
//                 background-color: #fff;
//                 border: 1px solid $stroke;
//                 color: $textcolor;
//                &:focus, &:visited{border: 1px solid $themeblue;}
//               .placeholder {
//               font-size: 12px;
//               color: $textcolor;
//              opacity: 0.3;
// }
//
// }
// }
// }
//
//
//
// .post_outer{
// .post_footer_top{border: none;width: auto;float: right;padding: 0px 0px;
//
//     .postmenubtn {
//     border-left: 1px solid #ccc;
//     border-radius: 3px 3px 3px 3px;
//     background-color: #f7f8fa;
// }
//     .post_footeroption {font-size: 12px;
//     margin-right: 10px;line-height: 30px;
//         cursor: pointer;font-weight: 500;
//         .default{
//         img{width: 12px;
//            height: 12px;}
//         }
//     }
//     }
//
//
//     .post_footer_bottom{
//         border: none;
// padding: 0px 15px 15px 15px;
// float: left;
//         .post_footeroption{
//             padding: 5px 10px;
// line-height: 30px;
// font-size: 14px;
// font-weight: 500;
// border: 1px solid #ccc;
// border-radius: 3px;margin-right: 12px;
//             &:hover{
//                  box-shadow: 0 0 2px rgba(18, 188, 180, 0.4);
//                  border: 1px solid rgba(18, 188, 180, 0.6);
// //                color:rgba(18, 188, 180, 1);
//             }
//         }
//            .post_footeroption.clicked{
//
// //       box-shadow: 0 0 2px rgba(18, 188, 180, 0.4);
//        border: 1px solid rgba(18, 188, 180, 0.6);
//                 color:rgba(18, 188, 180, 1);
//     }
//
//
//     }
//   .comment_list_text{
//             .seemore{width: 515px;
// margin-left: 10px;
// float: right;
// border: 1px solid rgba(18, 188, 180, 0.3);
// padding: 5px 0px;
// color: rgba(18, 188, 180, 1);
// border-radius: 3px;
// margin-top: 15px;}
// }
//
// }
//
// // ===================================
//
//
// .fileupload_image{
//   .on-hover{
//     display:none;
//     width: 18px;
//   }
//   &:hover{
//     cursor:pointer;
//     .on-hover{
//       display:inline;
//     }
//     .default{
//       display:none;
//     }
//   }
// }

// interest popup
.reportspopup{
	width: 300px !important;
    height: 331px;
    .popup_heading{
      height: 40px;

line-height: 40px;

font-weight: 500;

text-align: left;

color: #2c2e2f;

font-size: 14px;

border-radius: 3px 3px 0px 0;

background-color: #f5f7fa;

font-weight: 500;
border-bottom:none !important;
    }


.interesrsearch{
	width: 100%;
}
.profiledetail{
	width: 357px !important;
}
	.post_outer{
		box-shadow: none;

		.post_profile{
			// padding: 0px;
        padding: 0px 20px 10px 20px;
            p{margin-top: 10px;
            }
            button{
              margin-bottom: 10px;
            }
		}
	}
  .report_popup{
    border: none!important;
    margin-bottom: 0px!important;
  box-shadow: none;

  }
	.post_profileContent{
		// padding: 20px 0 !important;
    height:100%;
    padding: 10px !important;
        .report_ul{

            .report_li{float: left;
                   width: 100%;
                   margin: 3px 0px;
                .dis_inline{float: left;
                      display: inline-block;
                      height: 20px;
                      line-height: 20px;}
//                input{width: 10%;margin-top: 0px;}
//                span{width: 90%;font-size: 12px;}
            }

        }
    }
}
.close_div{
  img{
      margin-left:15px;
  }
}
.footer_wrap_profile{
  position: absolute !important;
  left: 0;
  right: 0;
  bottom: 0;
  height: 30px;
  background: #f5f7fa;
}
.tag_wrapper{
  padding:0px;
  height:calc(100% - 46px);
  overflow: auto;
}
@media only screen and (max-width:360px){
  .reportspopup{
    width: calc(100% - 30px) !important;
  }
}

// end interest popup
