<div class="pagemap_outer">
  <div class="pagemap_div">
   <iframe class="pagemap_inner"  src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d112065.39224565531!2d77.31146304351367!3d28.628458107462667!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x390d013d2231f9e5%3A0x9876ec508504301a!2sGinger+Webs%2C+A+Block%2C+Sector+63%2C+Noida%2C+Uttar+Pradesh%2C+India!3m2!1d28.628476199999998!2d77.3816758!5e0!3m2!1sen!2sus!4v1519213278608" allowfullscreen=""  frameborder="0"></iframe>
      <div class="overlay_dark">
          <div class="map_direction"><button _ngcontent-c5="" class="btn btn-primary">Get Direction</button></div>
         <div class="address_outer">
            <div class="border_solid">
             <div class="border_dotted">
                 <span class="map_icon"><img src="assets/images/svg/mapicon.svg"></span>
                 <span class="address_data">...</span>
             </div>
             </div>
         </div>
      </div>
</div>
</div>

