<!-- <div class='darkbackground'></div>
<div class='addpost_outer relative popup-open-wrapper'>
    <div class='darkbackground-close' (click)="closeConfirmPopupFn()"></div>
    <div class='container' style="position:relative;">
        <div class="invite-success-popup-wrapper text-center">
            <h4>{{dataObj.msg}}</h4>
            <p>{{dataObj.error_msg}}</p>
            <div class="bttn-wrap text-center">
                <button *ngIf="dataObj.type==1 || dataObj.type==3" class="cancel_btn popup_btn cancel-popup"   (click)="closeConfirmPopupFn()">Cancel</button>
               <button [disabled]="showPreloader === true"  *ngIf="dataObj.type==1" class="confirm_btn popup_btn btn btn-primary success-popup" (click)="deletePostConfirm()" >
                    <span class="text" *ngIf="showText">Delete</span>
                    <span class="preloder"><img src="./assets/images/svg/preloader-25.svg" alt="study24x7" *ngIf="showPreloader"></span></button>
                <button [disabled]="showPreloader === true"  *ngIf="dataObj.type==3" class="confirm_btn popup_btn btn btn-primary success-popup" (click)="deleteTrailConfirm()" >
                    <span class="text" *ngIf="showText">Delete</span>
                    <span class="preloder"><img src="./assets/images/svg/preloader-25.svg" alt="study24x7" *ngIf="showPreloader"></span></button>
                <button [disabled]="showPreloader === true"  *ngIf="dataObj.type==2" class="confirm_btn popup_btn btn btn-primary success-popup" (click)="closeConfirmPopupFn()" >
                    <span class="text" *ngIf="showText">Ok</span><span class="preloder"  >
                        <img src="./assets/images/svg/preloader-25.svg" alt="study24x7" *ngIf="showPreloader"></span></button>
                <button [disabled]="showPreloader === true"  *ngIf="dataObj.type==4" class="confirm_btn popup_btn btn btn-primary success-popup" (click)="sessionLogout()" >
                    <span class="text" *ngIf="showText">Ok</span><span class="preloder"  >
                        <img src="./assets/images/svg/preloader-25.svg" alt="study24x7" *ngIf="showPreloader"></span></button>
            </div>
        </div>
    </div>
</div> -->



<!--- conformation popup new--->
<div class="popup saved-popup-alert" >
    <div class="popup_background popup_fixed_scroll" ></div>
    <div class="popup_main savedpopup">
        <div class="popup_heading">{{dataObj?dataObj.msg:''}}
            <img (click)="closeConfirmPopupFn()" src="assets/images/svg/tagcross.svg" style="float: right;margin: 17px 0;cursor: pointer;">
        </div>

        <div class="col-md-12">

            <div class='post_outer post_outer_border_none' style="box-shadow:none !important;border:none !important;">
                <div class='post_profile'>
                    <div class="savedcont">{{dataObj.error_msg}}</div>
                </div>
            </div>
        </div>
        <div class='post_profile saved_post_profile'>
            <!--            <button  type="submit" class="confirm_btn popup_btn btn btn-primary red_rds" (click)="deleteSavedFolder()" >Ok</button>-->
            <!--<button  type="submit" class="cancel_btn popup_btn btn_savedd gray_rds red_padd"   (click)= "deletefolderhide()">Cancel</button>-->
            <button *ngIf="dataObj.type==1 || dataObj.type==0 || dataObj.type==3 || dataObj.type==7 || dataObj.type==8" class="button24x7 fleft whiteColorButton "   (click)="closeConfirmPopupFn()">
                Cancel
            </button>

            <button *ngIf="dataObj.type==0" class="button24x7 redColorButton fright"  (click)="usrConfirmation()">
                Yes
            </button>

            <button [disabled]="showPreloader === true"  *ngIf="dataObj.type==1" class="button24x7 redColorButton fright" (click)="deletePostConfirm()" >
                <span class="text" *ngIf="showText">Delete</span>
                <span class="preloder">
                    <img src="./assets/images/svg/preloader-25.svg" alt="study24x7" *ngIf="showPreloader">
                </span>
            </button>

            <button [disabled]="showPreloader === true"  *ngIf="dataObj.type==3" class="confirm_btn popup_btn btn btn-primary red_rds" (click)="deleteTrailConfirm()" >
                <span class="text" *ngIf="showText">Delete</span>
                <span class="preloder">
                    <img src="./assets/images/svg/preloader-25.svg" alt="study24x7" *ngIf="showPreloader">
                </span>
            </button>

            <button [disabled]="showPreloader === true"  *ngIf="dataObj.type==7" class="button24x7 redColorButton fright" (click)="delReviewConf()" >
                <span class="text" *ngIf="showText">
                    Delete
                </span>
                <span class="preloder">
                    <img src="./assets/images/svg/preloader-25.svg" alt="study24x7" *ngIf="showPreloader">
                </span>
            </button>

            <button [disabled]="showPreloader === true"  *ngIf="dataObj.type==8" class="button24x7 redColorButton fright" (click)="deEnrollCourse()" >
                <span class="text" *ngIf="showText">De-enroll</span>
                <span class="preloder"><img src="./assets/images/svg/preloader-25.svg" alt="study24x7" *ngIf="showPreloader"></span></button>
            <button [disabled]="showPreloader === true"  *ngIf="dataObj.type==2" class="button24x7 redColorButton fright" (click)="closeConfirmPopupFn()" >
                <span class="text" *ngIf="showText">Ok</span><span class="preloder"  >
                    <img src="./assets/images/svg/preloader-25.svg" alt="study24x7" *ngIf="showPreloader"></span></button>
            <button [disabled]="showPreloader === true"  *ngIf="dataObj.type==4" class="button24x7 redColorButton fright" (click)="sessionLogout()" >
                <span class="text" *ngIf="showText">Ok</span><span class="preloder"  >
                    <img src="./assets/images/svg/preloader-25.svg" alt="study24x7" *ngIf="showPreloader"></span></button>
            <button [disabled]="showPreloader === true"  *ngIf="dataObj.type==5" class="button24x7 redColorButton fright" (click)="unfollowConfirm()" >
                <span class="text" *ngIf="showText">Unfollow</span>
                <span class="preloder"><img src="./assets/images/svg/preloader-25.svg" alt="study24x7" *ngIf="showPreloader"></span></button>
            <button [disabled]="showPreloader === true"  *ngIf="dataObj.type==6" class="button24x7 redColorButton fright" (click)="unfriendConfirm()" >
                <span class="text" *ngIf="showText">Unfriend</span>
                <span class="preloder"><img src="./assets/images/svg/preloader-25.svg" alt="study24x7" *ngIf="showPreloader"></span></button>

        </div>

    </div>
</div>
