/* @import "../about/about.component.scss"; */
$textcolor : #2c2e2f;
$themeblue: #F05050;
@mixin btn_shadow($offset-x, $offset-y, $blur-radius, $spread-radius, $color, $inset: false) {
@if $inset {
-ms-box-shadow: inset $offset-x $offset-y $blur-radius $spread-radius $color;
-o-box-shadow: inset $offset-x $offset-y $blur-radius $spread-radius $color;
-webkit-box-shadow: inset $offset-x $offset-y $blur-radius $spread-radius $color;
-moz-box-shadow: inset $offset-x $offset-y $blur-radius $spread-radius $color;
box-shadow: inset $offset-x $offset-y $blur-radius $spread-radius $color;
}
@else {
-ms-box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color;
-o-box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color;
-webkit-box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color;
-moz-box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color;
box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color;
}
}
.about_outer{
.pageabthd{
  background-color: #f5f7fa;
    padding: 10px;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 14px !important;
}
.page-about{
  width: 100%;
  float: left;
  padding:12px 20px 20px 20px;
  text-align: center;
  .page_widget_inner{
    width:100%;
    float: left;
    span{
      width:100%;
      float: left;
      text-align: center;
      &:nth-child(1){
        img{
          width:100px;
        }
      }


    }
  }
  .btn-pagetips{
    // float:left;
    // box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.2);
    // box-shadow: 0 1px 2px 1px #2c2e2f20;  
    @include btn_shadow(0, 1px, 2px, 1px, rgba($textcolor, 0.1));
    margin-top: 15px;
    border-radius: 18px;
    height: 30px;
    font-size: 14px;
    background-color: white;
    width: auto;
    float: none;
    border:none;
    &:hover{
      background-color:#2e2c2f10;
      box-shadow: none;
    }
  }
}
.widgetheading.aboutwidgetsummary{
  font-weight: normal;
}
.glyphicon:before{
  color: $themeblue;
  margin-right: 10px;
  display:none !important;

}
}
