<!-- other view start  
<div class="about_outer" >
  <h6 class="widgetheading pageabthd" >Create Course</h6>

        <div class="page-about">
          <div class="page_widget_inner">
            <span><img src="assets/images/course_icon/create_course.svg" alt="study24x7"></span>
            <span>Create Course</span>
            <span>Create your own course containing intractive study content</span>
          </div>
          <button class="btn btn-pagetips">Create</button>
        </div>
      </div>
 other view end -->
