.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.7;
  background-color: black;
  z-index: 99;
}

.mar15 {
  margin-top: 15px;
}

.popupForget, .popup {
  background: white;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 22%;
  z-index: 100;
  border-radius: 5px;
  width: 400px;
  left: 50%;
  margin-left: -200px;
}
.popupForget .heading, .popup .heading {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: black;
  font-weight: 500;
  padding: 15px 20px;
  font-size: 18px;
  background: white;
  border-bottom: solid 1px #dfe0e8;
  border-radius: 5px 5px 0 0;
  text-align: center;
}
.popupForget .editSec .editInner, .popup .editSec .editInner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.popupForget .editSec .editInner .editCont, .popup .editSec .editInner .editCont {
  max-width: calc(100% - 30px);
  font-size: 18px;
  word-break: break-all;
  line-height: 22px;
}
.popupForget .editSec .editInner .editIcon, .popup .editSec .editInner .editIcon {
  width: 30px;
}
.popupForget .content, .popup .content {
  padding: 15px 20px;
  -webkit-box-flex: 12;
      -ms-flex: 12;
          flex: 12;
  width: 100%;
}
.popupForget .content .otp-verification-type-selector, .popup .content .otp-verification-type-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.popupForget .content .otp-verification-type-selector .verification-type-checkbox, .popup .content .otp-verification-type-selector .verification-type-checkbox {
  cursor: pointer;
  border-radius: 3px;
  padding: 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  cursor: pointer;
  position: relative;
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
}
.popupForget .content .otp-verification-type-selector .verification-type-checkbox input, .popup .content .otp-verification-type-selector .verification-type-checkbox input {
  height: 14px;
  width: 14px;
  margin: 0;
  margin-right: 2px;
}
.popupForget .content .otp-verification-type-selector .verification-type-checkbox .checkbox_btn, .popupForget .content .otp-verification-type-selector .verification-type-checkbox span, .popup .content .otp-verification-type-selector .verification-type-checkbox .checkbox_btn, .popup .content .otp-verification-type-selector .verification-type-checkbox span {
  float: left;
  margin-bottom: 0px;
}
.popupForget .content .otp-verification-type-selector .checkbox-left, .popup .content .otp-verification-type-selector .checkbox-left {
  margin-right: 8px;
}
.popupForget .content .otp-verification-type-selector .checkbox-right, .popup .content .otp-verification-type-selector .checkbox-right {
  margin-left: 8px;
}
.popupForget .content .error-box, .popup .content .error-box {
  padding: 15px 10px;
  margin: 0px 0 15px 0px;
  font-size: 14px;
  color: #f05050;
  border: solid 1px #f05050;
  background: #fedcdc;
  border-radius: 5px;
}
.popupForget .content .error-box .error-symbol, .popup .content .error-box .error-symbol {
  background-image: url("../../../../assets/images/sprite/loginpage.svg#error");
  background-size: 100% 100%;
  width: 14px;
  height: 14px;
}
.popupForget .content .otp-target-input, .popup .content .otp-target-input {
  padding: 0px 0;
}
.popupForget .content .otp-target-input input, .popup .content .otp-target-input input {
  font-size: 18px;
  height: 45px;
  border-radius: 6px;
  font-size: 16px;
  padding: 0px 15px;
  color: rgba(0, 0, 0, 0.9);
  background-color: rgba(223, 229, 235, 0.3);
  border: 1px solid #e6e6e6;
}
.popupForget .content .otp-target-input input:focus, .popupForget .content .otp-target-input input:active, .popup .content .otp-target-input input:focus, .popup .content .otp-target-input input:active {
  border: 1px solid #e6e6e6;
}
.popupForget .content .resend-otp, .popup .content .resend-otp {
  text-align: right;
  cursor: pointer;
}
.popupForget .content .resend-otp:hover, .popup .content .resend-otp:hover {
  color: #f05050;
}
.popupForget .content .send-otp-button, .popup .content .send-otp-button {
  cursor: pointer;
  padding: 0px 0;
  width: 100%;
}
.popupForget .content .send-otp-button .btn_forget, .popup .content .send-otp-button .btn_forget {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 45px;
  border-radius: 6px;
  background-color: #f05050;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  border: none;
}
.popupForget .content .cancel-button, .popup .content .cancel-button {
  padding: 0px 0 10px 0px;
  width: 100%;
  text-align: center;
}
.popupForget .content .cancel-button:hover, .popup .content .cancel-button:hover {
  color: #f05050;
  text-decoration: underline;
}

.Radio:checked + .checkbox_btn {
  background-color: transparent;
  border: 1px solid #000;
}

.otpControl .optCount, .otpControl .optResend, .otpControl .optverifyLater {
  text-align: right;
  margin-left: 15px;
  cursor: pointer;
}
.otpControl .otpSkip.optverifyLater {
  cursor: no-drop;
  color: rgba(0, 0, 0, 0.4);
}
.otpControl .otpSkip.optverifyLater:hover {
  color: rgba(0, 0, 0, 0.4);
  text-decoration: none;
}
.otpControl .optResend:hover, .otpControl .optverifyLater:hover {
  color: #f05050;
  text-decoration: underline;
}

.abtedit {
  height: 20px;
  border-radius: 50%;
  width: 20px;
  cursor: pointer;
  display: inline-grid;
  margin-left: 10px;
}
.abtedit img {
  width: 16px !important;
  margin-top: 2px;
}
.abtedit .defaultt {
  display: block;
}
.abtedit .hoverr {
  display: none;
}
.abtedit:hover .defaultt {
  display: none;
}
.abtedit:hover .hoverr {
  display: block;
}

@media only screen and (max-width: 420px) {
  .popupForget, .popup {
    width: 96%;
    left: 2%;
    margin-left: 0px;
  }

  .editSec .editInner .editCont {
    font-size: 16px;
  }
}
@media only screen and (max-width: 360px) {
  .checkbox-left {
    margin-right: 5px;
  }

  .checkbox-right {
    margin-left: 5px;
  }

  .popupForget .content, .popupForget .heading, .popup .content, .popup .heading {
    padding: 15px;
  }
  .popupForget .content .otp-verification-type-selector .verification-type-checkbox, .popup .content .otp-verification-type-selector .verification-type-checkbox {
    padding: 15px 7px;
  }
  .popupForget .content .otp-verification-type-selector .verification-type-checkbox .Radio + .checkbox_btn, .popup .content .otp-verification-type-selector .verification-type-checkbox .Radio + .checkbox_btn {
    margin-right: 5px;
  }

  .editSec .editInner .editCont {
    font-size: 14px;
  }
}
/*# sourceMappingURL=forgot-password.component.css.map */