

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.7;
  background-color: black;
  z-index: 99;
}
.mar15{
  margin-top: 15px;
}
.popupForget, .popup {
  background: white;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 22%;
  z-index: 100;
  border-radius: 5px;
  width: 400px;
  left: 50%;
  margin-left: -200px;
  .heading {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    width: 100%;
    flex: 1;
    color: black;
    font-weight: 500;
    padding: 15px 20px;
    font-size: 18px;
    background: white;
    border-bottom: solid 1px #dfe0e8;
    border-radius: 5px 5px 0 0;
    text-align: center;
  }
  .editSec{
    .editInner{display:flex;
      justify-content: center;
      align-items: center;
      .editCont{max-width: calc(100% - 30px);font-size:18px;word-break: break-all;line-height: 22px;}
        .editIcon{width: 30px;}
    }
  }
  .content {
    padding: 15px 20px;
    flex: 12;
    width: 100%;
    .otp-verification-type-selector {
      display: flex;
      flex-direction: row;
      .verification-type-checkbox {
        cursor: pointer;
        border-radius: 3px;
        padding: 15px;
        flex: 1;
        cursor: pointer;
        position: relative;
        box-shadow: 0 0 3px 0 rgba(0,0,0,.25) ;
        input {
          height: 14px;
          width: 14px;
          margin: 0;
          margin-right: 2px;
        }
        .checkbox_btn, span{
              float: left;
              margin-bottom: 0px;
           }
      }
      .checkbox-left{margin-right: 8px;}
      .checkbox-right{margin-left: 8px;}
    }
    .error-box {
      padding: 15px 10px;
      margin: 0px 0 15px 0px;
      font-size: 14px;
      color: #f05050;
      border: solid 1px #f05050;
      background: #fedcdc;
      border-radius: 5px;
      .error-symbol{
        background-image: url('../../../../assets/images/sprite/loginpage.svg#error');
        background-size: 100% 100%;
        width: 14px;
        height: 14px;
      }
    }
    .otp-target-input {
      padding: 0px 0;

      input {
        font-size: 18px;
        height: 45px;
border-radius: 6px;
font-size: 16px;
padding:0px 15px;
color: rgba(0,0,0,.9);
background-color: rgba(223,229,235,.3);
border: 1px solid #e6e6e6;
  &:focus, &:active{
    border: 1px solid #e6e6e6;
  }
      }
    }

    .resend-otp {
      text-align: right;
      cursor: pointer;

      &:hover {
        color: #f05050;
      }
    }
    .send-otp-button {
      cursor: pointer;

      padding: 0px 0;
      width: 100%;
      .btn_forget {
        width: 100%;
        box-sizing: border-box;
        height: 45px;
        border-radius: 6px;
        background-color: #f05050;
        font-size: 16px;
        font-weight: 500;
        color:#fff;
        border: none;
      }
    }
    .cancel-button {
      padding: 0px 0 10px 0px;
      width: 100%;
      text-align: center;

      &:hover{
        color: #f05050;
        text-decoration: underline;
      }
    }
  }
}
.Radio:checked + .checkbox_btn {
    background-color: transparent;
    border: 1px solid #000;
    }

// .popup-mobile-view {
//   top: 10%;
//   .content {
//     padding: 15px 30px;
//     flex: 12;
//
//     width: 100%;
//     .otp-verification-type-selector {
//       display: flex;
//       flex-direction: row;
//       font-size: 12px;
//       .verification-type-checkbox {
//         cursor: pointer;
//         border-radius: 5px;
//         position: relative;
//         padding: 10px;
//         flex: 1;
//         border: solid 1px lightgray;
//         input {
//           height: 12px;
//           width: 12px;
//           margin: 0;
//           margin-right: 2px;
//         }
//         .checkbox_btn, span{
//           float: left;
//         }
//
//       }
//     }
//     .Radio:checked + .checkbox_btn {
//     background-color: transparent;
//     border: 1px solid #000;
//     }
//     .error-box {
//       padding: 10px 0;
//       margin: 10px 0;
//
//       font-size: 12px;
//       color: #f05050;
//       border: solid 1px #f05050;
//       background: #fedcdc;
//       border-radius: 5px;
//       .erro-symbol {
//         background-image: url(../../../../assets/images/sprite/loginpage.svg#error);
//         background-size: 100% 100%;
//         width: 12px !important;
//         height: 12px;
//       }
//     }
//     .otp-target-input {
//       padding: 15px 0;
//       input {
//         font-size: 14px;
//         border-radius: 3px;
//
//         height: 35px;
//       }
//     }
//     .resend-otp {
//       text-align: right;
//       cursor: pointer;
//       &:hover {
//         color: #f05050;
//       }
//     }
//     .send-otp-button {
//       cursor: pointer;
//
//       padding: 9px 0;
//       width: 100%;
//       button {
//         border-radius: 5px;
//
//         width: 100%;
//         height: 35px;
//         background: #f05050;
//         color: white;
//         font-weight: bold;
//       }
//     }
//     .cancel-button {
//       padding: 9px 0;
//       width: 100%;
//       height: 35px;
//       text-align: center;
//     }
//   }
// }

// .popup-small-heigt-screen {
//   bottom: 10%;
//   top: 10%;
//   overflow: scroll;
//   display: block;
// }
.otpControl{
  .optCount, .optResend, .optverifyLater{
    text-align: right;
    margin-left: 15px;
    cursor: pointer;
  }
  .otpSkip.optverifyLater{
    cursor:no-drop;
    color:rgba(0, 0, 0, 0.4);
    &:hover{
      color:rgba(0, 0, 0, 0.4);
      text-decoration: none;
    }
  }
  .optResend, .optverifyLater{
    &:hover{
      color: #f05050;
      text-decoration: underline;
    }
  }
}
.abtedit{
  height: 20px;
  border-radius: 50%;
  width: 20px;
  cursor: pointer;
  display: inline-grid;
  margin-left: 10px;
  img {
   width: 16px !important;
   margin-top: 2px;}
.defaultt{display: block;}
.hoverr{display: none;}
  &:hover{
  .defaultt{display: none;}
  .hoverr{display: block;}
  }
}
@media only screen and (max-width:420px){
  .popupForget, .popup {
      width: 96%;
      left: 2%;
      margin-left: 0px;
  }
  .editSec{
    .editInner{
      .editCont{font-size:16px;}
    }
  }
}
@media only screen and (max-width:360px){
  .checkbox-left{margin-right: 5px;}
  .checkbox-right{margin-left: 5px;}
  .popupForget, .popup{
     .content, .heading{
    padding: 15px;
}
.content{
.otp-verification-type-selector{
   .verification-type-checkbox {
    padding: 15px 7px;
    .Radio + .checkbox_btn {
    margin-right: 5px;
}
  }
}
}
}
.editSec{
  .editInner{
    .editCont{font-size:14px;}
  }
}
}


