<div class="backdrop">
</div>


<div id="forgotPasswordPopup" class="popupForget"
    [ngClass]="{'popupForget':true}">

    <div class="heading">
        <div *ngIf="popup=='getOtpTarget' || popup=='changePassword'">
            <p *ngIf="forgotPasswordType=='forgotPassword'">Change Password</p>
            <p *ngIf="forgotPasswordType=='tooManyLoginAttempts'">Too many unsuccessful

            </p>
            <p style="    font-size: 22px;
            font-weight: 500;" *ngIf="forgotPasswordType=='tooManyLoginAttempts'">
            Login attempts !
            </p>
        </div>
        <div class="editSec" *ngIf="popup=='otp'">
            <div style="font-size: 14px;padding: 5px 0;">OTP has been sent to </div>
            <div class="editInner">
               <div class="editCont">{{otpSentTo}}</div>
               <div class="editIcon">
               <span  class="abtedit " (click)="editNumber()">
                 <img alt="Edit {{otpSentTo}}" src="assets/images/svg-three/profile_about/edit.svg" class="defaultt">
                 <img alt="Edit {{otpSentTo}}" src="assets/images/svg-three/profile_about/f05050/edit.svg" class="hoverr">
               </span>
            </div>
             </div>
        </div>
    </div>
    <div class="content">
        <div class="error-box" *ngIf="error!=''">

            <div> <span class="error-symbol"></span><span style="color: #f05050; font-size: 14px;">{{error}}</span>
            </div>

        </div>

        <div *ngIf="popup=='getOtpTarget'" class="otp-verification-type-selector">

            <div id="mobile" (click)="sendOtpPlaceholder('m');setOtpType($event)"   class="verification-type-checkbox checkbox-left ">
              <input  class="Radio" (click)="sendOtpPlaceholder('m');setOtpType($event)" id="otp-on-mobile" type="checkbox"   name="targetType"
                   [(ngModel)]="OtpTargetCheckBox.m">
              <label  for="otp-on-mobile" class="checkbox_btn">
                <span  class="showcheckbox"></span>
              </label>
              <label for="otp-on-mobile" class="coverLabel"></label>
              <span>OTP on Mobile</span>
            </div>

            <div id="email" (click)="sendOtpPlaceholder('e');setOtpType($event)"  class="verification-type-checkbox  checkbox-right">
              <input  class="Radio" (click)="sendOtpPlaceholder('e');setOtpType($event)" id="otp-on-email" type="checkbox"  name="targetType"
                  [(ngModel)]="OtpTargetCheckBox.e">
              <label  for="otp-on-email" class="checkbox_btn">
                <span  class="showcheckbox"></span>
              </label>
              <label for="otp-on-email" class="coverLabel"></label>
              <span>OTP on Email</span>
            </div>
        </div>


        <div *ngIf="popup !='changePassword'" class="otp-target-input mar15">
            <input *ngIf="otpTypp !='m' || popup=='otp'" (keyup.enter)="popup=='getOtpTarget'?loginOTPSend():loginOTPVerify()" type="text" id="f_e"
                placeholder={{placeHolder}} [(ngModel)]="model.lc" />
            <app-mobileno [mobileNumber]="otpSentTo" *ngIf="otpTypp=='m' && popup !='otp'" (emitter)="setMobileNumberAndCountryCode($event)" [className]="'forgotPassword'"></app-mobileno>

        </div>
        <div *ngIf="popup=='otp'" class="otpControl mar15">
            <div style="cursor: pointer;" *ngIf="stopTimer" class="optResend" (click)="forgotPasswordOTPReSend()" >
                Resend OTP
            </div>
            <div class="optCount" *ngIf="!stopTimer" style="text-align: right;">
                {{count>9?'00:'+count:'00:0'+count}}
            </div>
        </div>
        <div *ngIf="popup =='changePassword'">
            <div class="otp-target-input mar15">
                <input type="text" id="p_d" type="password" placeholder="New Password" [(ngModel)]="model.pd" (keyup.enter)="setFocus()" autofocus/>
            </div>
            <div class="otp-target-input mar15">
                <input type="text" id="c_p_d" type="password" placeholder="Confirm Password" [(ngModel)]="model.cpd" (keyup.enter)="updatingpassword()"/>
            </div>
        </div>



        <div class="send-otp-button mar15">
            <button class="btn_forget" [disabled]="showPreloader" *ngIf="popup=='getOtpTarget'" id="sentOtp" (click)="loginOTPSend()">
                <span *ngIf="showText">Send OTP</span>
                <span><img src="./assets/images/svg/preloader-25.svg" alt="" *ngIf="showPreloader" /></span>
            </button>
            <button  class="btn_forget"  [disabled]="showPreloader" *ngIf="popup=='otp'" (click)="loginOTPVerify()">

                <span *ngIf="showText">Verify</span>
                <span><img src="./assets/images/svg/preloader-25.svg" alt="" *ngIf="showPreloader" /></span>
            </button>

            <button  class="btn_forget"  class="btn_forget" *ngIf="popup=='changePassword'"  (click)="updatingpassword()">
                <span *ngIf="showText">Update Password</span>
                <span><img src="./assets/images/svg/preloader-25.svg" alt="" *ngIf="showPreloader" /></span>
            </button>
        </div>
        <div class="cancel-button mar15">
            <span style="cursor: pointer;" (click)="closefrgtpopup()">Cancel</span>
        </div>
    </div>
</div>
